Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @annelo-msft, @xingwu1, @matthchr, @bgklein, @assafi, @toothache, @TFR258, @kalyanaj, @serkantkaraca, @jsquire, @kinelski, @schaabs, @heaths, @brjohnstmsft, @nemakam, @seanmcc-msft, @amnguye, @tg-msft, @erich-wang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @AlexGhiondea

# Core
/sdk/core/ @pakrym

# Service teams
/sdk/appconfiguration/ @annelo-msft

/sdk/batch/ @xingwu1 @matthchr @bgklein

/sdk/cognitiveservices/language.textanalytics/ @assafi 
/sdk/cognitiveservices/vision.computervision/ @toothache
/sdk/cognitiveservices/vision.face/ @TFR258 

/sdk/eventgrid/ @kalyanaj 

/sdk/eventhub/ @serkantkaraca @jsquire @kinelski
/sdk/eventhub/azure.messaging.eventhubs/ @jsquire @kinelski

/sdk/identity/azure.identity/ @schaabs

/sdk/keyvault/ @schaabs @heaths

/sdk/search/ @brjohnstmsft
/sdk/servicebus/ @nemakam @jsquire
/sdk/storage/ @seanmcc-msft @amnguye @tg-msft
# Management Plane
/**/*Management*/ @erich-wang

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

[Event Hubs Client] Track Two: Fourth Preview (Reference Fixes)
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/Azure.Client.Library.References.props
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/Directory.Build.props
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/samples/Azure.Messaging.EventHubs.CheckpointStore.Blob.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/src/Azure.Messaging.EventHubs.CheckpointStore.Blob.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/tests/Azure.Messaging.EventHubs.CheckpointStore.Blob.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Azure.Messaging.EventHubs.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.Reference.props
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/ServiceFabricProcessor/CheckpointingTests.cs
Owners: @serkantkaraca, @jsquire, @kinelski

Fix ExtractResponseContent and buffering
  sdk/core/Azure.Core/src/Http/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineMessage.cs
  sdk/core/Azure.Core/tests/HttpClientTransportTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
  sdk/core/Azure.Core/tests/TestFramework/MockRequest.cs
  sdk/core/Azure.Core/tests/TestFramework/MockResponse.cs
Owners: @pakrym

Public static fields should require no suffix
  .editorconfig
Owners: none

Public static fields should require no suffix (#7679)
  .editorconfig
Owners: none

fix
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

Comment
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineMessage.cs
Owners: @pakrym

Generate code that has less suggestions (#7710)
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

Fix ExtractResponseContent, disposal and buffering (#7711)
  sdk/core/Azure.Core/src/Http/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineMessage.cs
  sdk/core/Azure.Core/tests/HttpClientTransportTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
  sdk/core/Azure.Core/tests/TestFramework/MockRequest.cs
  sdk/core/Azure.Core/tests/TestFramework/MockResponse.cs
Owners: @pakrym

Rebase and fix code style issues
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

fix more style check issues
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Common/tests/StorageResponseClassifierTests.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

Remove token param from new message ctor calls
  sdk/storage/Azure.Storage.Common/tests/GeoRedundantReadPolicyTests.cs
  sdk/storage/Azure.Storage.Common/tests/StorageResponseClassifierTests.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

more style fixes
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Common/src/GeoRedundantReadPolicy.cs
  sdk/storage/Azure.Storage.Common/src/StorageResponseClassifier.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestExceptionPolicy.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ServiceClientTests.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

Fixed test value for default eventhub last sequence number
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/ServiceFabricProcessor/OptionsTests.cs
Owners: @serkantkaraca, @jsquire, @kinelski

Updates to API for preview-4 review.
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample1_HelloWorld.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample2_HelloWorldExtended.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample4_Logging.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample7_ConfiguringPipeline.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/AzureClientBuilderExtensions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationManagementClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationSetting.cs
Owners: @annelo-msft

Added HasChanged method.
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient_private.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationMockTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedNoValueNewValue.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedNoValueNewValueAsync.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedNoValueNotFound.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedNoValueNotFoundAsync.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedValueNotFound.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedValueNotFoundAsync.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedValuesDontMatch.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedValuesDontMatchAsync.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedValuesMatch.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/HasChangedValuesMatchAsync.json
Owners: @annelo-msft

Add azsadmin_resource-manager_backup.txt
  eng/mgmt/mgmtmetadata/azsadmin_resource-manager_backup.txt
Owners: @erich-wang

Add IsCloudRecoveryReady in existing BackupInfo (#7687)
  eng/mgmt/mgmtmetadata/azsadmin_resource-manager_backup.txt
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Generated/Models/Backup.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Microsoft.AzureStack.Management.Backup.Admin.csproj
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Properties/AssemblyInfo.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/tests/SessionRecords/BackupAdminClient/TestGetBackup.json
Owners: @erich-wang

Refreshing SQL ManagedDatabase SDK.
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedDatabaseRestoreDetailsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedDatabasesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ISqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabaseRestoreDetailsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabaseRestoreDetailsOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabasesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabasesOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabase.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabaseRestoreDetailsResult.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabaseStatus.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabaseUpdate.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SdkInfo_SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SqlManagementClient.cs
Owners: @erich-wang

ANF-368 Update for R5 RP API version 2019-07-01
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/Helpers/ResourceUtils.cs
Owners: @erich-wang

PR feedback.
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationSetting.cs
Owners: @annelo-msft

Update SnapshotTests.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/ResourceTests/SnapshotTests.cs
Owners: @erich-wang

Update to .NET Core 3.0 GA toolset
  CONTRIBUTING.md
  eng/Directory.Build.Data.props
  eng/pipelines/templates/variables/globals.yml
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek, @xingwu1, @matthchr, @bgklein

Only publish artifacts if the build succeeded
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-mgmt.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Include response header override params in SasQueryParameters
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasQueryParameters.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasBuilderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SasQueryParametersTests.cs
  sdk/storage/Azure.Storage.Common/src/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
  sdk/storage/Azure.Storage.Files/src/Sas/FileSasBuilder.cs
  sdk/storage/Azure.Storage.Files/tests/FileSasBuilderTests.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

Support fancy Option type constructors
  sdk/core/Microsoft.Extensions.Azure/src/Internal/ClientOptionsFactory.cs
  sdk/core/Microsoft.Extensions.Azure/tests/AzureClientFactoryTests.cs
  sdk/core/Microsoft.Extensions.Azure/tests/TestClientMultipleOptionsParameters.cs
  sdk/core/Microsoft.Extensions.Azure/tests/TestClientOptionsMultipleParameters.cs
  sdk/core/Microsoft.Extensions.Azure/tests/TestClientsBuilderExtensions.cs
Owners: @pakrym

Remove extra white space
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasBuilderTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

Checkpoint. 90% groudwork laid.
  sdk/core/Azure.Core/src/Shared/NullableAttributes.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/ClientSideDecryptionPolicy.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/ClientSideEncryptionPolicy.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/EncryptedBlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/LengthLimitingStream.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/Models/ClientSideEncryptionKey.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/Models/EncryptedBlobRange.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/Models/EncryptionAgent.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/Models/EncryptionAlgorithm.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/Models/EncryptionData.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/Models/WrappedKey.cs
  sdk/storage/Azure.Storage.sln
Owners: @pakrym, @seanmcc-msft, @amnguye, @tg-msft

Update AssemblyVersion
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Microsoft.Azure.Management.Cdn.csproj
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Properties/AssemblyInfo.cs
Owners: @erich-wang

update sdk
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/CdnManagementClient.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/ICdnManagementClient.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CacheKeyQueryStringActionParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/DeliveryRuleCacheKeyQueryStringAction.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/QueryStringBehavior.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/Sku.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/SkuName.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/UrlRedirectActionParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/UrlRewriteAction.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/UrlRewriteActionParameters.cs
  src/SDKs/_metadata/cdn_resource-manager.txt
Owners: @erich-wang

Update property descriptions
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
Owners: @seanmcc-msft, @amnguye, @tg-msft

Feedback
  sdk/core/Microsoft.Extensions.Azure/src/Internal/ClientOptionsFactory.cs
Owners: @pakrym
