Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @KrzysztofCwalina, @annelo-msft, @AlexanderSher, @bgklein, @xingwu1, @assafi, @toothache, @TFR258, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum, @Kishp01, @ahamad-MS, @serkantkaraca, @jsquire, @kinelski, @schaabs, @alexanderSher, @heaths, @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @JoshLove-msft, @ShivangiReja, @MiYanni, @nemakam, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @christothes, @maririos, @isra-fel, @erich-wang, @allenjzhang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                           @AlexGhiondea

# Core
# PRLabel: %Azure.Core
/sdk/core/                                      @pakrym @KrzysztofCwalina

# Extensions
/sdk/extensions/                                @pakrym

# Service teams
# PRLabel: %AzConfig
/sdk/appconfiguration/                          @annelo-msft @AlexanderSher

# PRLabel: %Batch
/sdk/batch/                                     @bgklein @xingwu1 

/sdk/cognitiveservices/language.textanalytics/  @assafi 
/sdk/cognitiveservices/vision.computervision/   @toothache
/sdk/cognitiveservices/vision.face/             @TFR258 

# PRLabel: %DigitalTwins
/sdk/digitaltwins/                              @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @prmathur-microsoft @bikamani @barustum

# PRLabel: %Event Grid
/sdk/eventgrid/                                 @Kishp01 @ahamad-MS

# PRLabel: %Event Hubs
/sdk/eventhub/                                  @serkantkaraca @jsquire @kinelski

# PRLabel: %Azure.Identity
/sdk/identity/                                  @schaabs @alexanderSher

# PRLabel: %Iot
/sdk/iot/                                       @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @prmathur-microsoft @bikamani @barustum

# PRLabel: %KeyVault
/sdk/keyvault/                                  @schaabs @heaths

# PRLabel: %Search
/sdk/search/                                    @brjohnstmsft @arv100kri @bleroy @tg-msft @heaths
/sdk/search/Microsoft.*/                        @brjohnstmsft @arv100kri @bleroy

# PRLabel: %Service Bus
/sdk/servicebus/                                @JoshLove-msft @ShivangiReja @jsquire @MiYanni
/sdk/servicebus/Microsoft.*/                    @nemakam

# PRLabel: %Storage
/sdk/storage/                                   @amishra-dev @seanmcc-msft @amnguye @kasobol-msft @tg-msft

# PRLabel: %Tables
/sdk/tables/                                    @christothes

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                             @annelo-msft @maririos

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                            @annelo-msft @kinelski @maririos

# Smoke tests
/common/SmokeTests/                             @AlexGhiondea @schaabs @heaths @tg-msft @jsquire

# Management Plane
/**/*Management*/                               @isra-fel @erich-wang @allenjzhang

# Reviewers to double check any API changes
/sdk/**/api/                                    @KrzysztofCwalina @pakrym @tg-msft

# Update AutoRest C#
/eng/CodeGeneration.targets                     @pakrym @ShivangiReja

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @isra-fel @erich-wang @allenjzhang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

update errorcode for copymodel
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegion.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegionAsync.json
Owners: @annelo-msft, @kinelski, @maririos

Ran Export-API.ps1
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/api/Azure.Storage.Blobs.ChangeFeed.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
Owners: @KrzysztofCwalina, @pakrym, @tg-msft

add breaking changes header to changelog
  sdk/identity/Azure.Identity/CHANGELOG.md
Owners: @schaabs, @alexanderSher

Add back partition tests; fix bug in envelope generation
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Owners: @JoshLove-msft, @ShivangiReja, @jsquire, @MiYanni

Avoid duplicate ToList
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
Owners: @JoshLove-msft, @ShivangiReja, @jsquire, @MiYanni

feat(sdk-iot): Add constrcutors for initializing IotHubServiceClient
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/BulkDeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/DeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/ModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/Program.cs
  sdk/iot/Azure.Iot.Hub.Service/src/API Design.md
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/FixedSasTokenProvider.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubConnectionString.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubSasCredential.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SasTokenProviderWithSharedAccessKey.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureBuilder.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureConstants.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClientOptions.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/DevicesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/E2eTestBase.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/ModulesClientTests.cs
Owners: @KrzysztofCwalina, @pakrym, @tg-msft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum

fix(sdk-iot-e2e): Update references to IotHubServiceClient for StatisticsClient tests
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClientOptions.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/StatisticsClientTests.cs
Owners: @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum

rename to remove dynamic, consolidate all methods
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TableEntityExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ReflectionUtil.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.Dictionary.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryableLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableEntityTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntitiesAsync.cs
Owners: @christothes

PR comments
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/TaggedBlobItem.cs
Owners: @KrzysztofCwalina, @pakrym, @tg-msft, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft

export and typos
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TablesModelFactory.cs
Owners: @KrzysztofCwalina, @pakrym, @tg-msft, @christothes

[Azure.Core] Extend Test Environment with Storage Endpoint
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Owners: @pakrym, @KrzysztofCwalina

feat(sdk-iot): Add constructors for initializing IotHubServiceClient (#13748)
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/BulkDeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/DeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/ModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/Program.cs
  sdk/iot/Azure.Iot.Hub.Service/src/API Design.md
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/FixedSasTokenProvider.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubConnectionString.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubSasCredential.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SasTokenProviderWithSharedAccessKey.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureBuilder.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureConstants.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClientOptions.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/DevicesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/E2eTestBase.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/ModulesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/StatisticsClientTests.cs
Owners: @KrzysztofCwalina, @pakrym, @tg-msft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum

remove recorded
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Owners: @christothes

update errorcode for copymodel (#13809)
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegion.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegionAsync.json
Owners: @annelo-msft, @kinelski, @maririos

Fixed bug
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
Owners: @annelo-msft, @kinelski, @maririos

Add back partition tests; fix bug in envelope generation (#13811)
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Owners: @JoshLove-msft, @ShivangiReja, @jsquire, @MiYanni

Adding support for Azure AAD Only Authentication for SQL DB. remove disable AzureADOnlyAuthentication API with this new API.
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IServerAzureADOnlyAuthenticationsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ServerAzureADAdministrator.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ServerAzureADOnlyAuthentication.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ServerAzureADOnlyAuthenticationsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ServerAzureADOnlyAuthenticationsOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Properties/AssemblyInfo.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ActiveDirectoryAdministratorTest/TestSetServerActiveDirectoryAdministrator.json
Owners: @isra-fel, @erich-wang, @allenjzhang

Generate PL from swagger
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/ServiceRestClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/swagger/iothubservice.json
Owners: @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum

Added consistency to line breaks and whitespace. Used explicit line breaks (backslash instead of double spaces) in certain cases.
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CONTRIBUTING.md
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_HelloWorld.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample03_SendReceiveSessions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample07_CrudOperations.md
Owners: @JoshLove-msft, @ShivangiReja, @jsquire, @MiYanni

Add message system properties to http request header
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/Enum18.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/ServiceRestClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/swagger/iothubservice.json
Owners: @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum

updates to ETag
  sdk/core/Azure.Core/src/ETag.cs
  sdk/core/Azure.Core/tests/ETagTests.cs
Owners: @pakrym, @KrzysztofCwalina

PR comments
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobWriteStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageExtensions.cs
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft
