Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @KrzysztofCwalina, @parkym, @annelo-msft, @AlexanderSher, @bgklein, @xingwu1, @assafi, @toothache, @TFR258, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum, @Kishp01, @ahamad-MS, @serkantkaraca, @jsquire, @kinelski, @schaabs, @heaths, @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @JoshLove-msft, @ShivangiReja, @MiYanni, @nemakam, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @christothes, @maririos, @isra-fel, @erich-wang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Base64UrlJsonConverter: Add tests
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/Base64UrlJsonConverterTests.cs
Owners: @AlexGhiondea

generated from Azure/azure-sdk-for-net
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SdkInfo_SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/eng/mgmt/mgmtmetadata/sql_resource-manager.txt
Owners: @isra-fel, @erich-wang

fixing
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/eng/mgmt/mgmtmetadata/sql_resource-manager.txt
Owners: @isra-fel, @erich-wang

bump scproj version
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
Owners: @isra-fel, @erich-wang

DateJsonConverter: Add tests
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/DateJsonConverterTests.cs
Owners: @AlexGhiondea

DateTimeRfc1123JsonConverter: Add tests
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/DateTimeRfc1123JsonConverterTests.cs
Owners: @AlexGhiondea

Iso8601TimeSpanConverter: Add tests
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/Iso8601TimeSpanConverterTests.cs
Owners: @AlexGhiondea

UnixTimeJsonConverter: Add tests
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/UnixTimeJsonConverterTests.cs
Owners: @AlexGhiondea

DateTimeRfc1123JsonConverter: Support DateTimeOffset
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/DateTimeRfc1123JsonConverter.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/DateTimeRfc1123JsonConverterTests.cs
Owners: @AlexGhiondea

UnixTimeJsonConverter: Remove To/From nullability
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/UnixTimeJsonConverter.cs
Owners: @AlexGhiondea

UnixTimeJsonConverter: Fix To/From xmldoc
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/UnixTimeJsonConverter.cs
Owners: @AlexGhiondea

UnixTimeJsonConverter: Support reading DateTime
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/UnixTimeJsonConverter.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/UnixTimeJsonConverterTests.cs
Owners: @AlexGhiondea

UnixTimeJsonConverter: Support DateTimeOffset
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/UnixTimeJsonConverter.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/UnixTimeJsonConverterTests.cs
Owners: @AlexGhiondea

UnixTimeJsonConverter: Round negative away from 0
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/UnixTimeJsonConverter.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/UnixTimeJsonConverterTests.cs
Owners: @AlexGhiondea

bump AssemblyInfo verstion as well
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Properties/AssemblyInfo.cs
Owners: @isra-fel, @erich-wang

Update Microsoft.Azure.Management.RecoveryServices.Backup.csproj
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
Owners: @isra-fel, @erich-wang

Update network readme
  sdk/network/Azure.Management.Network/README.md
Owners: @isra-fel, @erich-wang

Updated descriptions
  sdk/iot/Azure.Iot.Hub.Service/src/swagger/iothubservice_modified.json
Owners: @AlexGhiondea

Changing OR object to a list of the proper OR class
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobInfo.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobProperties.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/ObjectReplicationPolicy.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/ObjectReplicationRule.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadAsync_ObjectReplication.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadAsync_ObjectReplicationAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_ObjectReplication.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_ObjectReplicationAsync.json
Owners: @KrzysztofCwalina, @pakrym, @tg-msft, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft

Fixes
  common/ManagementTestShared/ManagementRecordedTestBase.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/api/Azure.ResourceManager.AppConfiguration.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/api/Azure.ResourceManager.EventHubs.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTestsBase.cs
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/resources/Azure.ResourceManager.Resources/api/Azure.ResourceManager.Resources.netstandard2.0.cs
  sdk/storage/Azure.ResourceManager.Storage/api/Azure.ResourceManager.Storage.netstandard2.0.cs
  sdk/testcommon/Azure.Graph.Rbac/api/Azure.Graph.Rbac.netstandard2.0.cs
  sdk/testcommon/Azure.Management.Compute.2019_12/api/Azure.Management.Compute.netstandard2.0.cs
  sdk/testcommon/Azure.Management.Network.2020_04/api/Azure.Management.Network.netstandard2.0.cs
  sdk/testcommon/Azure.Management.Resources.2017_05/api/Azure.Management.Resources.netstandard2.0.cs
  sdk/testcommon/Azure.Management.Storage.2019_06/api/Azure.Management.Storage.netstandard2.0.cs
Owners: @isra-fel, @erich-wang, @KrzysztofCwalina, @pakrym, @tg-msft, @schaabs, @heaths

fix(swagger): Fix IotHub swagger descriptions (#12695)
  sdk/iot/Azure.Iot.Hub.Service/src/swagger/iothubservice_modified.json
Owners: @AlexGhiondea

first test and recorded session
  sdk/avs/Microsoft.Azure.Management.Avs/src/Microsoft.Azure.Management.Avs.csproj
  sdk/avs/Microsoft.Azure.Management.Avs/tests/AvsTests.cs
  sdk/avs/Microsoft.Azure.Management.Avs/tests/Microsoft.Azure.Management.Avs.Tests.csproj
  sdk/avs/Microsoft.Azure.Management.Avs/tests/SessionRecords/AvsTests/AvsCrud.json
Owners: @isra-fel, @erich-wang

Ran Update-Snippets.ps1
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/README.md
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft

Adding ObjectReplicationPolicy and Rule to BlobsModelFactory
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
Owners: @KrzysztofCwalina, @pakrym, @tg-msft, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft

Fix links in extensions README.mds (#12689)
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/README.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/README.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/README.md
Owners: @parkym

doc(adt): update prereq readme instructions
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
Owners: @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum

Reordered stuff
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromUri.cs
Owners: @annelo-msft, @kinelski, @maririos

doc(adt): update prereq readme instructions (#12743)
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
Owners: @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum

Minor changes to the Search README
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
Owners: @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @heaths

sanitize body
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerRecordedTestSanitizer.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelError.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelErrorAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/GetCopyAuthorization.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/GetCopyAuthorizationAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/SerializeDeserializeCopyAuthorizationAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/SerializeDeserializeCopyAuthorizationAsyncAsync.json
Owners: @pakrym, @KrzysztofCwalina, @annelo-msft, @kinelski, @maririos

PR feedback
  doc/dev/Track2TestFramework.md
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
Owners: @pakrym, @KrzysztofCwalina

update to master
  doc/dev/Track2TestFramework.md
Owners: none

no var
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
Owners: @pakrym, @KrzysztofCwalina

Sanitize json body (#12707)
  doc/dev/Track2TestFramework.md
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerRecordedTestSanitizer.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelError.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelErrorAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/GetCopyAuthorization.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/GetCopyAuthorizationAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/SerializeDeserializeCopyAuthorizationAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/SerializeDeserializeCopyAuthorizationAsyncAsync.json
Owners: @pakrym, @KrzysztofCwalina, @annelo-msft, @kinelski, @maririos

change to datetime
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyAuthorization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModel.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelAsync.json
Owners: @annelo-msft, @kinelski, @maririos

Rerecorded
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_AutomaticPlacementOnDedicatedHostGroup.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScenarioTests/TestVMScenarioOperations_AutomaticPlacementOnDedicatedHostGroup.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
Owners: @isra-fel, @erich-wang

Small change
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
Owners: @isra-fel, @erich-wang

Rerecorded some tests (#12748)
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_AutomaticPlacementOnDedicatedHostGroup.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScenarioTests/TestVMScenarioOperations_AutomaticPlacementOnDedicatedHostGroup.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
Owners: @isra-fel, @erich-wang

Generated from cce7f5e4de0d4de0b25b8492fb575727354c63af
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IOperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/ITablesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/AvailableServiceTier.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/DataIngestionStatus.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/DataSource.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/ErrorContract.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/ErrorContractException.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/SavedSearch.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/Table.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/Workspace.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/WorkspaceCapping.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/WorkspacePatch.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/WorkspaceSku.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/OperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/SdkInfo_OperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/TablesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/TablesOperationsExtensions.cs
Owners: @isra-fel, @erich-wang

Updating list naming
  sdk/batch/Microsoft.Azure.Batch/src/Common/RetryPolicyCommon.cs
Owners: @bgklein, @xingwu1

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                           @AlexGhiondea

# Core
/sdk/core/                                      @pakrym @KrzysztofCwalina

# Extensions
/sdk/extensions/                                @parkym

# Service teams
/sdk/appconfiguration/                          @annelo-msft @AlexanderSher

/sdk/batch/                                     @bgklein @xingwu1 

/sdk/cognitiveservices/language.textanalytics/  @assafi 
/sdk/cognitiveservices/vision.computervision/   @toothache
/sdk/cognitiveservices/vision.face/             @TFR258 

/sdk/digitaltwins/                              @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @prmathur-microsoft @bikamani @barustum

/sdk/eventgrid/                                 @Kishp01 @ahamad-MS

/sdk/eventhub/                                  @serkantkaraca @jsquire @kinelski
/sdk/eventhub/azure.messaging.eventhubs/        @jsquire @kinelski

/sdk/identity/                                  @schaabs

/sdk/keyvault/                                  @schaabs @heaths

/sdk/search/                                    @brjohnstmsft @arv100kri @bleroy @tg-msft @heaths
/sdk/search/Microsoft.*/                        @brjohnstmsft @arv100kri @bleroy

/sdk/servicebus/                                @JoshLove-msft @ShivangiReja @jsquire @MiYanni
/sdk/servicebus/Microsoft.*/                    @nemakam

/sdk/storage/                                   @amishra-dev @seanmcc-msft @amnguye @kasobol-msft @tg-msft

/sdk/tables/                                    @christothes

/sdk/textanalytics/                             @annelo-msft @maririos

/sdk/formrecognizer/                            @annelo-msft @kinelski @maririos

# Smoke tests
/common/SmokeTests/                             @AlexGhiondea @schaabs @heaths @tg-msft @jsquire

# Management Plane
/**/*Management*/                               @isra-fel @erich-wang

# Reviewers to double check any API changes
/sdk/**/api/                                    @KrzysztofCwalina @pakrym @tg-msft

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @isra-fel @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
