Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @KrzysztofCwalina, @parkym, @annelo-msft, @AlexanderSher, @matthchr, @assafi, @toothache, @TFR258, @kalyanaj, @serkantkaraca, @jsquire, @kinelski, @schaabs, @heaths, @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @nemakam, @seanmcc-msft, @amnguye, @kasobol-msft, @JoshLove-msft, @maririos, @isra-fel, @erich-wang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Restore code change by accident of GetDeletedKey().
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
Owners: @schaabs, @heaths

Generated from 7e3a5fd44d7fbb1f7f5d3ad72861846234b7ccd6
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/AlertRulesOperations.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/AlertRulesOperationsExtensions.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/IAlertRulesOperations.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/DynamicMetricCriteria.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/DynamicThresholdOperator.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/DynamicThresholdSensitivity.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricAlertAction.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricAlertResource.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricAlertResourcePatch.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricCriteria.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/OperatorModel.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/WebtestLocationAvailabilityCriteria.cs
Owners: @isra-fel, @erich-wang

api fixes per feedbcak
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Program.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomModelInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedReceiptItem.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedReceiptType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormCheckbox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormCheckboxState.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormFieldType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerError.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValueType.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FormValueType.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedText.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/SubscriptionProperties.cs
Owners: @AlexGhiondea

[Event Hubs Client] Event Processor<T> Partition Management
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.LoadBalancing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Owners: @serkantkaraca, @jsquire, @kinelski

[Event Hubs Client] Event Processor<T> Partition Management (#10818)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.LoadBalancing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Owners: @serkantkaraca, @jsquire, @kinelski

Add SessionReceiver/SessionProcessor types (#10795)
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpError.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ExceptionReceivedEventArgsAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ReceiveMode.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/SB.todo
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusException.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConverterTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
Owners: @nemakam, @jsquire

Changes for api rev 36
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractPagesOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingDocumentInfo.cs
Owners: @AlexGhiondea

[Event Hubs Client] Event Processor<T> Reading Last Event Properties
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Constructor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Owners: @serkantkaraca, @jsquire, @kinelski

PR comments
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathProperties.cs
Owners: @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft, @JoshLove-msft

Added PathProperties.IsDirectory (#10820)
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeModelFactory.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathProperties.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Owners: @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft, @JoshLove-msft, @KrzysztofCwalina, @pakrym

[Event Hubs Client] Event Processor<T> Reading Last Event Properties (#10838)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Constructor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Owners: @serkantkaraca, @jsquire, @kinelski

Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Remove signing timeout
  eng/pipelines/templates/stages/archetype-net-release.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

StorageTransferOptions has long properties
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/src/StorageTransferOptions.cs
Owners: @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft, @JoshLove-msft

remove pii
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample5_RecognizePiiEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesResultCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient_private.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsServiceSerializer.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizePiiEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchConvenience.cs
Owners: @annelo-msft, @maririos

More tests and perf improvements
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ChallengeBasedAuthenticationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
Owners: @schaabs, @heaths

Remove Identity tests from solution
  sdk/keyvault/Azure.Security.KeyVault.sln
Owners: @schaabs, @heaths

Initial single and concurrent requests
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ChallengeBasedAuthenticationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/TestExtensions.cs
Owners: @schaabs, @heaths

Remove signing timeout (#10846)
  eng/pipelines/templates/stages/archetype-net-release.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Resolve PR feedback
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/Azure.Security.KeyVault.Keys.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ChallengeBasedAuthenticationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.shproj
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
Owners: @schaabs, @heaths

Tests make use of the Azure Core Test Framework
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ReceiptClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Azure.AI.FormRecognizer.Tests.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/ReceiptClient/ReceiptClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/ReceiptClient/ReceiptClientTests.cs
Owners: @AlexGhiondea

Sync eng/common directory with azure-sdk-tools repository (#10840)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Generated from f31b3094d636cd11b16647f38137faef5fff7524
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperationsExtensions.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/IBlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/ISkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobContainer.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobServiceProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/IPRule.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/KeyVaultProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/ListContainerItem.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/SignedResource.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SdkInfo_StorageManagementClient.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperationsExtensions.cs
Owners: @isra-fel, @erich-wang

Generated from 6667cf4306f6e10949f2a1f9718fba3b40d9cca8
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/DpsCertificateOperations.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/DpsCertificateOperationsExtensions.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/DpsCertificatesOperations.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/DpsCertificatesOperationsExtensions.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/IDpsCertificateOperations.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/IDpsCertificatesOperations.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/IIotDpsClient.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/IotDpsClient.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/Models/ErrorDetails.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/Models/IotDpsPropertiesDescription.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/Models/IotDpsSkuDefinition.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/Models/IotDpsSkuInfo.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/Models/NameAvailabilityInfo.cs
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/Generated/SdkInfo_iotDpsClient.cs
Owners: @isra-fel, @erich-wang

Generated from bc7dd47588a9e8329cdbb9fb639275b2e4f2552e
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupResourceVaultConfigsOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IBackupResourceVaultConfigsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IPrivateEndpointConnectionOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IRecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ErrorAdditionalInfo.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ErrorResponse.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ErrorResponseException.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpoint.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpointConnectionResource.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpointConnectionStatus.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateLinkServiceConnectionState.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ProvisioningState.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/PrivateEndpointConnectionOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/PrivateEndpointConnectionOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryServicesBackupClientExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/SdkInfo_RecoveryServicesBackupClient.cs
Owners: @isra-fel, @erich-wang

Update CHANGELOG as Heath suggestion.
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
Owners: @schaabs, @heaths

Generated from 040fb3afa0e1a43471c1219e1e74c014f89c9b2e
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/AdaptiveApplicationControlsOperationsExtensions.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/AdaptiveNetworkHardeningsOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/AdaptiveNetworkHardeningsOperationsExtensions.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/AllowedConnectionsOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/IAdaptiveApplicationControlsOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/IAdaptiveNetworkHardeningsOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/IInformationProtectionPoliciesOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/ISecurityCenterClient.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/InformationProtectionPoliciesOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/InformationProtectionPoliciesOperationsExtensions.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/AdaptiveNetworkHardening.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/AdaptiveNetworkHardeningEnforceRequest.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/Direction.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/EffectiveNetworkSecurityGroups.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/InformationType.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/Rank.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/Rule.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/SensitivityLabel.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/TransportProtocol.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/SdkInfo_SecurityCenter.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/SecurityCenterClient.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/TopologyOperations.cs
Owners: @isra-fel, @erich-wang

Generated from ae84ad204363d095214a4c4394cdc68efe152992
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/CdnManagementClient.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/ICdnManagementClient.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/IManagedRuleSetsOperations.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/IPoliciesOperations.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/ManagedRuleSetsOperations.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/ManagedRuleSetsOperationsExtensions.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ActionType.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CdnEndpoint.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CdnWebApplicationFirewallPolicy.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CdnWebApplicationFirewallPolicyPatchParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CustomRule.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CustomRuleEnabledState.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CustomRuleList.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/Endpoint.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/EndpointPropertiesUpdateParametersWebApplicationFirewallPolicyLink.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/EndpointUpdateParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleDefinition.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleEnabledState.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleGroupDefinition.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleGroupOverride.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleOverride.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleSet.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleSetDefinition.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ManagedRuleSetList.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/MatchCondition.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/MatchVariable.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/OperatorModel.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/PolicyEnabledState.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/PolicyMode.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/PolicyResourceState.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/PolicySettings.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/ProvisioningState.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/RateLimitRule.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/RateLimitRuleList.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/TransformType.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/PoliciesOperations.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/PoliciesOperationsExtensions.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/SdkInfo_CdnManagementClient.cs
Owners: @isra-fel, @erich-wang

Generated from 990ae3f3b4d4c388dd6d0736cd16a9d0bfe1e5cb
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/IntegrationRuntimeSsisProperties.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ODataSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/PackageStore.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SSISPackageLocation.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SapCloudForCustomerSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SapCloudForCustomerSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SapEccSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SharePointOnlineListLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SharePointOnlineListResourceDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SharePointOnlineListSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SsisPackageLocationType.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
Owners: @isra-fel, @erich-wang

read environment variable using get accessor
  sdk/identity/Azure.Identity/src/TokenCredentialOptions.cs
Owners: @schaabs

C# SDK related code changes for Private endpoint work (#10783)
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/AzSdk.RP.props
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupResourceVaultConfigsOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IBackupResourceVaultConfigsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IPrivateEndpointConnectionOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IRecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ErrorAdditionalInfo.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ErrorResponse.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ErrorResponseException.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpoint.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpointConnectionResource.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateEndpointConnectionStatus.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrivateLinkServiceConnectionState.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ProvisioningState.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/PrivateEndpointConnectionOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/PrivateEndpointConnectionOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryServicesBackupClientExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Properties/AssemblyInfo.cs
Owners: @isra-fel, @erich-wang

Generated from 69044177e5eac1cc6897d684f262d5bb7a99617d
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/AzureNetAppFilesManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/IAzureNetAppFilesManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/IMountTargetsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/IPoolsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/ISnapshotsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/IVolumesOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/ActiveDirectory.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/MountTarget.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/MountTargetList.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/Snapshot.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/Volume.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/VolumeRevert.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/MountTargetsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/MountTargetsOperationsExtensions.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/PoolsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/PoolsOperationsExtensions.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/SdkInfo_NetAppManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/SnapshotsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/SnapshotsOperationsExtensions.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/VolumesOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/VolumesOperationsExtensions.cs
Owners: @isra-fel, @erich-wang

Generated from a90be91cfbd31a66a6b6bc0f2af9b63bae34d106
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IOperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IPrivateEndpointConnectionsOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IPrivateLinkResourcesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/ErrorResponse.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/OperationStatus.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/PrivateEndpointProperty.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/PrivateLinkResource.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/PrivateLinkServiceConnectionStateProperty.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/Sku.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/SkuNameEnum.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/Workspace.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/OperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/OperationalInsightsManagementClientExtensions.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/PrivateEndpointConnectionsOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/PrivateEndpointConnectionsOperationsExtensions.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/PrivateLinkResourcesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/PrivateLinkResourcesOperationsExtensions.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/SdkInfo_OperationalInsightsManagementClient.cs
Owners: @isra-fel, @erich-wang

Generated from f31b3094d636cd11b16647f38137faef5fff7524
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperationsExtensions.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/IBlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/ISkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobContainer.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobServiceProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/IPRule.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/KeyVaultProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/ListContainerItem.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/SignedResource.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SdkInfo_StorageManagementClient.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperationsExtensions.cs
Owners: @isra-fel, @erich-wang

Generated from f31b3094d636cd11b16647f38137faef5fff7524
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperationsExtensions.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/IBlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/ISkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobContainer.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobServiceProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/IPRule.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/KeyVaultProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/ListContainerItem.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/SignedResource.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SdkInfo_StorageManagementClient.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperationsExtensions.cs
Owners: @isra-fel, @erich-wang

Generated from f31b3094d636cd11b16647f38137faef5fff7524
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/BlobContainersOperationsExtensions.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/IBlobContainersOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/ISkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobContainer.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobServiceProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/IPRule.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/KeyVaultProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/ListContainerItem.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/SignedResource.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SdkInfo_StorageManagementClient.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SkusOperationsExtensions.cs
Owners: @isra-fel, @erich-wang

tests
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoAttachedDatabaseConfigurationTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoClusterTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoDatabasePrincipalsTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoDatabaseTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoEnableDiskEncryptionTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoEventGridTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoEventHubTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoFollowerDatabaseActionsTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoIdentityTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoIotHubTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoKeyVaultPropertiesTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoOptimizedAutoscaleTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoPrincipalAssignmentsTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoStreamingIngestTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/OperationsTest.json
Owners: @isra-fel, @erich-wang

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/src/autorest.md
Owners: @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @heaths

Regen
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchServiceError.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchServiceError.cs
  sdk/search/Azure.Search.Documents/src/Models/SearchServiceError.cs
Owners: @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @heaths

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @AlexGhiondea

# Core
/sdk/core/ @pakrym @KrzysztofCwalina

# Extensions
/sdk/extensions/ @parkym

# Service teams
/sdk/appconfiguration/ @annelo-msft @AlexanderSher

/sdk/batch/ @matthchr 

/sdk/cognitiveservices/language.textanalytics/ @assafi 
/sdk/cognitiveservices/vision.computervision/ @toothache
/sdk/cognitiveservices/vision.face/ @TFR258 

/sdk/eventgrid/ @kalyanaj 

/sdk/eventhub/ @serkantkaraca @jsquire @kinelski
/sdk/eventhub/azure.messaging.eventhubs/ @jsquire @kinelski

/sdk/identity/ @schaabs

/sdk/keyvault/ @schaabs @heaths

/sdk/search/ @brjohnstmsft @arv100kri @bleroy @tg-msft @heaths
/sdk/search/Microsoft.*/ @brjohnstmsft @arv100kri @bleroy

/sdk/servicebus/ @nemakam @jsquire

/sdk/storage/ @seanmcc-msft @amnguye @kasobol-msft @tg-msft @JoshLove-msft

/sdk/textanalytics/ @annelo-msft @maririos

# Management Plane
/**/*Management*/ @isra-fel @erich-wang

# Reviewers to double check any API changes
/sdk/**/api/ @KrzysztofCwalina @pakrym @tg-msft

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @isra-fel @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
