Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @annelo-msft, @matthchr, @assafi, @toothache, @TFR258, @kalyanaj, @serkantkaraca, @jsquire, @kinelski, @schaabs, @shahabhijeet, @brjohnstmsft, @nemakam, @kfarmer-msft, @seanmcc-msft, @tg-msft, @erich-wang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @AlexGhiondea

# Core
/sdk/core/ @pakrym

# Service teams
/sdk/appconfiguration/ @annelo-msft

/sdk/batch/ @matthchr 

/sdk/cognitiveservices/language.textanalytics/ @assafi 
/sdk/cognitiveservices/vision.computervision/ @toothache
/sdk/cognitiveservices/vision.face/ @TFR258 

/sdk/eventgrid/ @kalyanaj 

/sdk/eventhub/ @serkantkaraca 
/sdk/eventhub/azure.messaging.eventhubs/ @jsquire @kinelski

/sdk/identity/azure.identity/ @schaabs

/sdk/keyvault/ @schaabs 
/sdk/keyvault/azure.*/ @schaabs @shahabhijeet 

/sdk/search/ @brjohnstmsft
/sdk/servicebus/ @nemakam 
/sdk/storage/ @kfarmer-msft @seanmcc-msft @tg-msft
# Management Plane
/**/*Management*/ @erich-wang

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

[EventHubs] Track Two: Second Preview (Event Processor) (#7060)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessorCloseReason.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

[Event Hubs Client] Track Two: Second Preview (Async Iterator) General - Continued seek and destroy for spelling and grammar errors.
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ChannelEnumerableSubscription.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Amqp/AmqpEventDataSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelEnumeratorSubscriptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/RetryPolicies/BasicRetryPolicyTests.cs
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek, @serkantkaraca

Fixed assembly issue versioning.
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Owners: @erich-wang

[Event Hubs Client] Track Two: Second Preview (EventHubPath Rename) General - Renamed `EventHubPath` members and local variables to reflect the change to `EventHubName` semantics.
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample1_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample2_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/AzureClientBuilderExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ConnectionStringParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/EventHubProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelEnumeratorSubscriptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerTests.cs
Owners: @serkantkaraca

[Event Hubs Client] Track Two: Second Preview (EventHubPath Rename) General - Renamed `EventHubPath` members and local variables to reflect the change to `EventHubName` semantics.
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample1_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample2_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/AzureClientBuilderExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ConnectionStringParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/EventHubProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelEnumeratorSubscriptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerTests.cs
Owners: @serkantkaraca

addressing PR feedback
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Base/Algorithm.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Base/AlgorithmEnums.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Base/BaseCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Client/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptoAlgorithms/AlgorithmResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptoProvider/RsaCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Defaults/CryptoProviderDefaults.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Interface/ICryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Interface/IKeyVaultDefault.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyId.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptoTests/KVCryptoTests.cs
Owners: @schaabs

Storage: Change to StorageSharedKeyCredential.SetAccountKey(...)
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyCredential.cs
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyCredentialsTests.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

WIP: Initial implementation of ReceiveMessageBatch.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/IReceiverClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ExceptionReceivedContext.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ExceptionReceivedEventArgs.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageBatchHandlerOptions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageHandlerOptions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/QueueClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Resources.resx
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusDiagnosticsSource.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SubscriptionClient.cs
Owners: @nemakam

Addressing PR comments, formatting, renaming variables and PascalCased constants
  sdk/storage/Azure.Storage.Common/src/Constants.cs
  sdk/storage/Azure.Storage.Common/src/StorageConnectionString.cs
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyPipelinePolicy.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Update PackageUrl for ClientLibraries
  eng/Directory.Build.Data.targets
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Adding UsernamePasswordCredential to Azure.Identity (#7101)
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/tests/TestAccessorExtensions.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
Owners: @AlexGhiondea

Adding in InfiniteLeaseDuration constant
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Constants.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Update PackageUrl for ClientLibraries (#7085)
  eng/Directory.Build.Data.targets
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

WIP: Initial implementation of ReceiveMessageBatch.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/IReceiverClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ExceptionReceivedContext.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ExceptionReceivedEventArgs.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageBatchHandlerOptions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageHandlerOptions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessagingEventSource.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/QueueClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Resources.resx
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusDiagnosticsSource.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SubscriptionClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/BrandonTempTests.cs
Owners: @nemakam

Storage: Change to StorageSharedKeyCredential.SetAccountKey(...) (#7106)
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyCredential.cs
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyCredentialsTests.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Adding units to the Metrics API, adding one attribute to the DiagnosticSettings API, updating documentation (#7074)
  eng/mgmt/mgmtmetadata/monitor_resource-manager.txt
  sdk/monitor/Microsoft.Azure.Management.Monitor/changelog.md
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/ActivityLogsOperations.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/ActivityLogsOperationsExtensions.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/IActivityLogsOperations.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/DiagnosticSettingsResource.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/Metric.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricDefinition.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricValue.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/Unit.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/SdkInfo_MonitorClient.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Microsoft.Azure.Management.Monitor.csproj
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Properties/AssemblyInfo.cs
Owners: @erich-wang

Adding missing files
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureMariaDBLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureMariaDBSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureMariaDBTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Owners: @erich-wang

[DataFactory]Add SapBwCube/Sybase dataset and Separated Schemas/Tables (#7044)
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureMariaDBLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureMariaDBSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureMariaDBTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureSqlDWTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureSqlTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DrillTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/GoogleBigQueryObjectDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/GreenplumTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/HiveObjectDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ImpalaObjectDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/Office365Source.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/OracleTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/PhoenixObjectDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/PrestoObjectDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/RestSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SapBwCubeDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SapBwSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SapOpenHubSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SparkObjectDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SqlServerTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SybaseTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/changelog.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/DatasetJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/LinkedServiceJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Owners: @erich-wang

Enable sdkautomation for v2
  swagger_to_sdk_config.json
Owners: none

[Datafactory] Enable Avro Dataset in SDK
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AvroCompressionCodec.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AvroDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AvroSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AvroSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AvroWriteSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/changelog.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/DatasetJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Owners: @erich-wang

Remove Async await, since it is not needed - Agree with review
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProvider.cs
Owners: @AlexGhiondea

Something works sometimes
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ClientEntity.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/IMessageReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/IMessageSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/IReceiverClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/ISenderClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/MessageReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/MessageSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/QueueClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/SessionClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/SubscriptionClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/TopicClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/TestConstants.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/TestUtility.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/MessageTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/TransactionTests.cs
Owners: @nemakam

Add Azure.Core release notes
  sdk/core/Azure.Core/src/Azure.Core.csproj
Owners: @pakrym

fb
  sdk/core/Azure.Core/src/Azure.Core.csproj
Owners: @pakrym

Add Azure.Core release notes (#7114)
  sdk/core/Azure.Core/src/Azure.Core.csproj
Owners: @pakrym

Moving magic values and adding into Constants (#7102)
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobUriBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/LeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/src/StorageConnectionString.cs
  sdk/storage/Azure.Storage.Common/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyPipelinePolicy.cs
  sdk/storage/Azure.Storage.Files/src/DirectoryClient.cs
  sdk/storage/Azure.Storage.Files/src/FileClient.cs
  sdk/storage/Azure.Storage.Files/src/FileServiceClient.cs
  sdk/storage/Azure.Storage.Files/src/FileUriBuilder.cs
  sdk/storage/Azure.Storage.Files/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files/src/StorageRequestFailedExceptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueUriBuilder.cs
  sdk/storage/Azure.Storage.Queues/src/StorageRequestFailedException.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Update pacakge reference to Azure.Core previw7
  eng/Directory.Build.Data.props
  eng/Packages.Data.props
  sdk/core/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek, @pakrym

Bump up SFPRocessor version
  sdk/eventhub/Microsoft.Azure.EventHubs.ServiceFabricProcessor/src/Microsoft.Azure.EventHubs.ServiceFabricProcessor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
Owners: @serkantkaraca

Updated link to design guidelines
  README.md
Owners: none

[Event Hubs Client] Track Two: Second Preview (Documentation Updates)
  packages.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
Owners: @serkantkaraca

[Event Hubs Client] Track Two: Second Preview (Documentation Updates)
  packages.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
Owners: @serkantkaraca

Bump up SF Processor version (#7116)
  sdk/eventhub/Microsoft.Azure.EventHubs.ServiceFabricProcessor/src/Microsoft.Azure.EventHubs.ServiceFabricProcessor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
Owners: @serkantkaraca

Update package reference to Azure.Core preview.7 (#7117)
  eng/Directory.Build.Data.props
  eng/Packages.Data.props
  sdk/core/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek, @pakrym

InMemoryPartitionManager implemented.
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/InMemoryPartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

Add Preview 2 release notes
  sdk/storage/Azure.Storage.Blobs/BreakingChanges.txt
  sdk/storage/Azure.Storage.Blobs/Changelog.txt
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Common/Changelog.txt
  sdk/storage/Azure.Storage.Common/README.md
  sdk/storage/Azure.Storage.Files/Changelog.txt
  sdk/storage/Azure.Storage.Files/README.md
  sdk/storage/Azure.Storage.Queues/Changelog.txt
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Remove Microsoft.Azure.Amqp specific version reference
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
Owners: @serkantkaraca
