Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @KrzysztofCwalina, @bilaakpan-ms, @sandido, @dkulkarni-ms, @haagha, @madewithsmiles, @MS-syh2qs, @grizzlytheodore, @annelo-msft, @AlexanderSher, @divya-jay, @geneh, @alongafni, @paterasMSFT, @dpwatrous, @RezaJooyandeh, @DominikMe, @assafi, @toothache, @TFR258, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum, @Kishp01, @ahamad-MS, @serkantkaraca, @jsquire, @schaabs, @alexanderSher, @prmathur-microsoft, @heaths, @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @JoshLove-msft, @ShivangiReja, @MiYanni, @nemakam, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @christothes, @Azure/azure-sdk-eng, @maririos, @kinelski, @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra, @allenjzhang, @m-nash, @markcowl, @YalinLi0312, @bquantump, @nisha-bhatia, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                           @AlexGhiondea

# Core
# PRLabel: %Azure.Core
/sdk/core/                                      @pakrym @KrzysztofCwalina

# Extensions
/sdk/extensions/                                @pakrym

# Compute
# PRLabel: %Compute
/sdk/compute/                                   @bilaakpan-ms @sandido @dkulkarni-ms @haagha @madewithsmiles @MS-syh2qs @grizzlytheodore

# Service teams
# PRLabel: %App Configuration
/sdk/appconfiguration/                          @annelo-msft @AlexanderSher

/sdk/applicationinsights/Microsoft.Azure.App*/  @divya-jay @geneh @alongafni
/sdk/operationalinsights/Microsoft.Azure.Ope*/  @divya-jay @geneh @alongafni

# PRLabel: %Batch
/sdk/batch/                                     @paterasMSFT @dpwatrous

# PRLabel: %Communication
/sdk/communication/                             @RezaJooyandeh @DominikMe

/sdk/cognitiveservices/language.textanalytics/  @assafi 
/sdk/cognitiveservices/vision.computervision/   @toothache
/sdk/cognitiveservices/vision.face/             @TFR258 

# PRLabel: %DigitalTwins
/sdk/digitaltwins/                              @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @bikamani @barustum

# PRLabel: %Event Grid
/sdk/eventgrid/                                 @Kishp01 @ahamad-MS

# PRLabel: %Event Hubs
/sdk/eventhub/                                  @serkantkaraca @jsquire

# PRLabel: %Azure.Identity
/sdk/identity/                                  @schaabs @alexanderSher

# PRLabel: %Iot
/sdk/iot/                                       @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @prmathur-microsoft @bikamani @barustum

# PRLabel: %KeyVault
/sdk/keyvault/                                  @schaabs @heaths

# PRLabel: %Search
/sdk/search/                                    @brjohnstmsft @arv100kri @bleroy @tg-msft @heaths
/sdk/search/Microsoft.*/                        @brjohnstmsft @arv100kri @bleroy

# PRLabel: %Service Bus
/sdk/servicebus/                                @JoshLove-msft @ShivangiReja @jsquire @MiYanni
/sdk/servicebus/Microsoft.*/                    @nemakam

# PRLabel: %Storage
/sdk/storage/                                   @tg-msft
/sdk/storage/Azure.Storage.*/                   @amishra-dev @seanmcc-msft @amnguye @kasobol-msft @tg-msft

# PRLabel: %Tables
/sdk/tables/                                    @christothes

# PRLabel: %EngSys
/sdk/template/                                  @Azure/azure-sdk-eng

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/                             @annelo-msft @maririos

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/                            @annelo-msft @kinelski @maririos

# PRLabel: %Monitor - Exporter
/sdk/monitor/OpenTelemetry.*/                   @cijothomas @reyang @rajkumar-rangaraj @TimothyMothra

# Smoke tests
/common/SmokeTests/                             @AlexGhiondea @schaabs @heaths @tg-msft @jsquire

# Management Plane
/**/*Management*/                               @allenjzhang @m-nash @markcowl @YalinLi0312 @bquantump @nisha-bhatia
/**/Azure.ResourceManager*/                     @allenjzhang @m-nash @markcowl @YalinLi0312 @bquantump @nisha-bhatia

# Reviewers to double check any API changes
/sdk/**/api/                                    @KrzysztofCwalina @tg-msft

# Update AutoRest C#
/eng/CodeGeneration.targets                     @pakrym @ShivangiReja

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @allenjzhang @m-nash @markcowl
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

code review cleanup
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/tests/OpenTelemetry.Exporter.AzureMonitor.IntegrationTests.WebApp/OpenTelemetry.Exporter.AzureMonitor.Integration.Tests.WebApp.csproj
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/tests/OpenTelemetry.Exporter.AzureMonitor.IntegrationTests/OpenTelemetry.Exporter.AzureMonitor.Integration.Tests.csproj
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/tests/OpenTelemetry.Exporter.AzureMonitor.IntegrationTests/xunit.runner.json
Owners: @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra

[Cognitive Services] SDK 7.4 for Cognitive Services (#15510)
  eng/mgmt/mgmtmetadata/cognitiveservices_resource-manager.txt
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/IPrivateEndpointConnectionsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountApiProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateEndpointConnectionListResult.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/PrivateEndpointConnectionsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/PrivateEndpointConnectionsOperationsExtensions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/SdkInfo_CognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Microsoft.Azure.Management.CognitiveServices.csproj
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Properties/AssemblyInfo.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/SessionRecords/CognitiveServicesAccountTests/CognitiveServicesAccountPrivateEndpointConnectionTest.json
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/Tests/CognitiveServicesAccountTests.cs
Owners: @allenjzhang, @m-nash, @markcowl, @YalinLi0312, @bquantump, @nisha-bhatia

Updates
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAnalyzeTests/AnalyzeImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAnalyzeTests/AnalyzeImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestLogoTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageInJapaneseTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDetectTests/DetectImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDetectTests/DetectImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeCelebritiesDomainImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeCelebritiesDomainTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeLandmarksDomainImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionOcrTests/OcrImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionOcrTests/OcrImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionTagTests/TagImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionTagTests/TagImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionThumbmailTests/ThumbnailImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionThumbmailTests/ThumbnailImageTest.json
Owners: @AlexGhiondea

Remove discrepency
  sdk/communication/test-resources.json
Owners: @RezaJooyandeh, @DominikMe

Update template project (#15554)
  sdk/template/Azure.Template/src/Azure.Template.csproj
  sdk/template/Azure.Template/src/properties/AssemblyInfo.cs
Owners: @Azure/azure-sdk-eng

remove non merged link
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample8_ModelCompose.md
Owners: @annelo-msft, @kinelski, @maririos

selectionMarks design
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample1_RecognizeFormContent.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormSelectionMark.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormSelectionMarkState.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FormSelectionMarkState.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/SelectionMark.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/SelectionMark.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/SelectionMarkState.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/SelectionMarkState.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/TestFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/FormRecognizerModelFactoryTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/test-resources.json
Owners: @annelo-msft, @kinelski, @maririos, @KrzysztofCwalina, @tg-msft

fix sample output
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample11_ComposedModel.cs
Owners: @annelo-msft, @kinelski, @maririos

update sample
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample8_ModelCompose.md
Owners: @annelo-msft, @kinelski, @maririos

fix
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
Owners: @annelo-msft, @kinelski, @maririos

Run against the public cloud
  sdk/communication/tests.yml
Owners: @danieljurek

Remove extra / in Uri
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAnalyzeTests/AnalyzeImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAnalyzeTests/AnalyzeImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestLogoTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageInJapaneseTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDetectTests/DetectImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDetectTests/DetectImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeCelebritiesDomainImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeCelebritiesDomainTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeLandmarksDomainImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionOcrTests/OcrImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionOcrTests/OcrImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionTagTests/TagImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionTagTests/TagImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionThumbmailTests/ThumbnailImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionThumbmailTests/ThumbnailImageTest.json
Owners: @AlexGhiondea

Update to almost all recursive acl tests and new tests with multiple batches
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_BatchFailures_BatchSize.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_BatchFailures_BatchSizeAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_RetrieveBatchFailures.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_RetrieveBatchFailuresAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_BatchFailures_BatchSize.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_BatchFailures_BatchSizeAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_RetrieveBatchFailures.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_RetrieveBatchFailuresAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_BatchFailures_BatchSize.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_BatchFailures_BatchSizeAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_RetrieveBatchFailures.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_RetrieveBatchFailuresAsync.json
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft

update to test base progress
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathTestBase.cs
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft

Misc fixes
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.resx
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Owners: @KrzysztofCwalina, @tg-msft, @JoshLove-msft, @ShivangiReja, @jsquire, @MiYanni

Update AssemblyFileVersion for ClientRuntime (#15582)
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Properties/AssemblyInfo.cs
Owners: @AlexGhiondea

Fixed integration test. (#15577)
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/BatchRequestIntegrationTests.cs
Owners: @paterasMSFT, @dpwatrous

Recursive acl Batch Failures in Results (#15544)
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/AccessControlChangeOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/AccessControlChangeResult.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_BatchFailures_BatchSize.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_BatchFailures_BatchSizeAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_ContinueOnFailure_RetrieveBatchFailures.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RemoveAccessControlRecursiveAsync_ContinueOnFailure_RetrieveBatchFailuresAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_BatchFailures_BatchSize.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_BatchFailures_BatchSizeAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_ContinueOnFailure_RetrieveBatchFailures.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetAccessControlRecursiveAsync_ContinueOnFailure_RetrieveBatchFailuresAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_BatchFailures_BatchSize.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_BatchFailures_BatchSizeAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_ContinueOnFailure_RetrieveBatchFailures.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/UpdateAccessControlRecursiveAsync_ContinueOnFailure_RetrieveBatchFailuresAsync.json
Owners: @KrzysztofCwalina, @tg-msft, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft

Implement UpdateDataFeed
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedDetailPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGen/DataFeedDetail.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedDetailPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeed.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateBlobDataFeed.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateBlobDataFeedAsync.json
Owners: @KrzysztofCwalina, @tg-msft, @AlexGhiondea

Update Readme
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/README.md
Owners: @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra

Renames
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSenderOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConverterTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample06_Transactions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Owners: @KrzysztofCwalina, @tg-msft, @JoshLove-msft, @ShivangiReja, @jsquire, @MiYanni

run tests in canary region
  sdk/servicebus/tests.yml
Owners: @danieljurek

WIP: More updates based on review comments
  common/ManagementTestShared/ManagementRecordTestBase.cs
  sdk/dns/Azure.ResourceManager.Dns/tests/DnsManagementClientBase.cs
Owners: @allenjzhang, @m-nash, @markcowl, @YalinLi0312, @bquantump, @nisha-bhatia

WIP: Put if else import back for now
  common/ManagementTestShared/ManagementRecordTestBase.cs
Owners: @allenjzhang, @m-nash, @markcowl, @YalinLi0312, @bquantump, @nisha-bhatia

WIP: Fix white space
  common/ManagementTestShared/ManagementRecordTestBase.cs
Owners: @allenjzhang, @m-nash, @markcowl, @YalinLi0312, @bquantump, @nisha-bhatia

Change spelling from Writeable -> Writable
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/ComponentMetadata.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/DigitalTwinMetadata.cs
Owners: @KrzysztofCwalina, @tg-msft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum

Change spelling from Writeable -> Writable (#15595)
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/ComponentMetadata.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/DigitalTwinMetadata.cs
Owners: @KrzysztofCwalina, @tg-msft, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @bikamani, @barustum

PR feedback
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/README.md
Owners: @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra

Skip SMS automation tests for now
  sdk/communication/service.projects
Owners: @RezaJooyandeh, @DominikMe

fix test
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/README.md
Owners: @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra

Skip SMS automation tests for now
  sdk/communication/service.projects
Owners: @RezaJooyandeh, @DominikMe

WIP: white space
  common/ManagementTestShared/ManagementRecordTestBase.cs
Owners: @allenjzhang, @m-nash, @markcowl, @YalinLi0312, @bquantump, @nisha-bhatia

Remove the test csproj
  sdk/communication/service.projects
Owners: @RezaJooyandeh, @DominikMe

Fix link
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/README.md
Owners: @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra

Change to troubleshooting.
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/README.md
Owners: @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra

Authenticate section
  sdk/monitor/OpenTelemetry.Exporter.AzureMonitor/README.md
Owners: @cijothomas, @reyang, @rajkumar-rangaraj, @TimothyMothra

skip api version in Azurite to allow future releases.
  sdk/storage/Azure.Storage.Webjobs.Extensions.Common/tests/AzuriteFixture.cs
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft

Hide internal classes from public interface. (#15567)
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadMemberInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadMemberInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThreadInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThreadMemberInternal.cs
Owners: @KrzysztofCwalina, @tg-msft, @RezaJooyandeh, @DominikMe

[Storage][Webjobs] Skip api version in Azurite Fixture to allow future releases. (#15598)
  sdk/storage/Azure.Storage.Webjobs.Extensions.Common/tests/AzuriteFixture.cs
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft
