Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @annelo-msft, @matthchr, @assafi, @toothache, @TFR258, @kalyanaj, @serkantkaraca, @jsquire, @kinelski, @schaabs, @shahabhijeet, @brjohnstmsft, @nemakam, @kfarmer-msft, @seanmcc-msft, @tg-msft, @erich-wang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @AlexGhiondea

# Core
/sdk/core/ @pakrym

# Service teams
/sdk/appconfiguration/ @annelo-msft

/sdk/batch/ @matthchr 

/sdk/cognitiveservices/language.textanalytics/ @assafi 
/sdk/cognitiveservices/vision.computervision/ @toothache
/sdk/cognitiveservices/vision.face/ @TFR258 

/sdk/eventgrid/ @kalyanaj 

/sdk/eventhub/ @serkantkaraca 
/sdk/eventhub/azure.messaging.eventhubs/ @jsquire @kinelski

/sdk/identity/azure.identity/ @schaabs

/sdk/keyvault/ @schaabs 
/sdk/keyvault/azure.*/ @schaabs @shahabhijeet 

/sdk/search/ @brjohnstmsft
/sdk/servicebus/ @nemakam 
/sdk/storage/ @kfarmer-msft @seanmcc-msft @tg-msft
# Management Plane
/**/*Management*/ @erich-wang

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

Adding Async suffix
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

InstanceId => OwnerIdentifier and Identifier
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
Owners: @serkantkaraca

Removed OwnerIdentifier from PartitionContext
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
Owners: @serkantkaraca

move file to correct folder
  eng/mgmt/mgmtmetadata/containerregistry_resource-manager.txt
Owners: @erich-wang

Remove the default Operation ctor
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/core/Azure.Core/tests/OperationTests.cs
  sdk/core/Azure.Core/tests/TestFramework/TestOperation.cs
Owners: @pakrym

Linq changes + internal constructor in POwnership
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
Owners: @serkantkaraca

Remove the default Operation ctor (#7083)
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/core/Azure.Core/tests/OperationTests.cs
  sdk/core/Azure.Core/tests/TestFramework/TestOperation.cs
Owners: @pakrym

adding initial UserNamePasswordCredential tests
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/tests/TestAccessorExtensions.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
Owners: @AlexGhiondea

updates addressing PR feedback
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
Owners: @AlexGhiondea

Adding InteractiveBrowserCredential to Azure.Identity (#7066)
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
Owners: @AlexGhiondea

Generate new compute import for SDK
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroupUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ScheduledEventsProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/TerminateNotificationProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateVMProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperationsExtensions.cs
Owners: @erich-wang

Increment minor version.
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Owners: @erich-wang

Add the updates to the package release notes.
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
Owners: @erich-wang

Remove a superfluous, no longer meaningful test case
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/Microsoft.Azure.Search.Tests.SkillsetsTests/CreateSkillsetThrowsExceptionWithInvalidLanguageSelection.json
  sdk/search/Microsoft.Azure.Search/tests/Tests/SkillsetsTests.cs
Owners: @brjohnstmsft

Add 2 permutations for headers in test
  sdk/search/Microsoft.Azure.Search/tests/Tests/SkillsetsTests.cs
Owners: @brjohnstmsft

Adding changelog and bumping up version to 4.0.0
  sdk/servicebus/Microsoft.Azure.ServiceBus/changelog.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Owners: @nemakam

Began rewriting all unit tests
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Helpers/ACRTestUtil.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Tests/AuthTests.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Tests/ManifestTests.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Tests/RepositoryTests.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Tests/TagTests.cs
Owners: @AlexGhiondea

Began adding example v1 Manifest
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Tests/ManifestTests.cs
Owners: @AlexGhiondea

Constructor guards
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
Owners: @serkantkaraca

[ACR] Update sdk and prepare 4.0.0 release (#7054)
  eng/mgmt/mgmtmetadata/containerregistry_resource-manager.txt
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/BaseImageTrigger.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/BaseImageTriggerUpdateParameters.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/OverrideTaskStepProperties.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/PlatformProperties.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/PlatformUpdateParameters.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/Run.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/TaskRunRequest.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/UpdateTriggerPayloadType.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/RegistriesOperations.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/RunsOperations.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/SdkInfo_ContainerRegistryManagementClient.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/TasksOperations.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Microsoft.Azure.Management.ContainerRegistry.csproj
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Properties/AssemblyInfo.cs
Owners: @erich-wang

update readme.md
  README.md
Owners: none

Retryable stuff
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

Removing unnecessary using statements
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

add attribute [LiveTest]
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ClientNegativeCases.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ConnectionStringBuilderTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTestBase.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Properties/AssemblyInfo.cs
Owners: @serkantkaraca

Cancel current token source before making a new one
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

Move Unknown up
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessorCloseReason.cs
Owners: @serkantkaraca

Wrap RunningTask stuff in try/finally
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

path => name
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
Owners: @serkantkaraca

Passing cancellation token to async calls
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

IPartitionProcessorFactory from interface to Func
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionProcessorFactory.cs
Owners: @serkantkaraca

Added cute comment
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
Owners: @serkantkaraca

Moving magic values and adding into Constants
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobUriBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/LeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Common/src/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/src/StorageConnectionString.cs
  sdk/storage/Azure.Storage.Common/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyPipelinePolicy.cs
  sdk/storage/Azure.Storage.Files/src/DirectoryClient.cs
  sdk/storage/Azure.Storage.Files/src/FileClient.cs
  sdk/storage/Azure.Storage.Files/src/FileServiceClient.cs
  sdk/storage/Azure.Storage.Files/src/FileUriBuilder.cs
  sdk/storage/Azure.Storage.Files/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files/src/StorageRequestFailedExceptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueUriBuilder.cs
  sdk/storage/Azure.Storage.Queues/src/StorageRequestFailedException.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Better error handling and pump recovery
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

Fixing typo in changelog.md
  sdk/monitor/Microsoft.Azure.Management.Monitor/changelog.md
Owners: @erich-wang

Moving magic values and adding into Constants
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobUriBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/LeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Common/src/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/src/StorageConnectionString.cs
  sdk/storage/Azure.Storage.Common/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyPipelinePolicy.cs
  sdk/storage/Azure.Storage.Files/src/DirectoryClient.cs
  sdk/storage/Azure.Storage.Files/src/FileClient.cs
  sdk/storage/Azure.Storage.Files/src/FileServiceClient.cs
  sdk/storage/Azure.Storage.Files/src/FileUriBuilder.cs
  sdk/storage/Azure.Storage.Files/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files/src/StorageRequestFailedExceptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueUriBuilder.cs
  sdk/storage/Azure.Storage.Queues/src/StorageRequestFailedException.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

updating tests and documentation
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
Owners: @AlexGhiondea

Fix up session records
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/Microsoft.Azure.Search.Tests.SkillsetsTests/CreateSkillsetReturnsCorrectDefinitionWebApiSkillWithHeaders.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/Microsoft.Azure.Search.Tests.SkillsetsTests/CreateSkillsetReturnsCorrectDefinitionWebApiSkillWithoutHeaders.json
Owners: @brjohnstmsft

PartitionManager is an abstract class
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
Owners: @serkantkaraca

[Event Hubs Client] Track Two: Second Preview (Async Iterator) General - Continued seek and destroy for spelling and grammar errors.
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ChannelEnumerableSubscription.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Amqp/AmqpEventDataSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelEnumeratorSubscriptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/RetryPolicies/BasicRetryPolicyTests.cs
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek, @serkantkaraca

CancellationToken in IPartitionProcessor methods
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca
