Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @KrzysztofCwalina, @parkym, @annelo-msft, @AlexanderSher, @bgklein, @xingwu1, @assafi, @toothache, @TFR258, @drwill-ms, @timtay-microsoft, @abhipsaMisra, @vinagesh, @azabbasi, @prmathur-microsoft, @bikamani, @barustum, @Kishp01, @ahamad-MS, @serkantkaraca, @jsquire, @kinelski, @schaabs, @heaths, @brjohnstmsft, @arv100kri, @bleroy, @tg-msft, @JoshLove-msft, @ShivangiReja, @MiYanni, @nemakam, @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @christothes, @maririos, @isra-fel, @erich-wang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Update BasicTests.cs
  sdk/authorization/Microsoft.Azure.Management.Authorization/tests/Tests/BasicTests.cs
Owners: @isra-fel, @erich-wang

Update VMImageTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMImageTests.cs
Owners: @isra-fel, @erich-wang

Generated from d12b3d86cdb43b5ad0ffe87b1e3a3cbceda12cd3
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/IPublicIPAddressesOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/IVirtualWansOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/ApplicationGatewayFrontendIPConfiguration.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/ApplicationGatewayIPConfiguration.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/FrontendIPConfiguration.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/IPAllocationMethod.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/NetworkInterfaceIPConfiguration.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/PublicIPAddress.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/PublicIPAddressDnsSettings.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VirtualNetworkGatewayIPConfiguration.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/PublicIPAddressesOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/PublicIPAddressesOperationsExtensions.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/SdkInfo_NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/VirtualWansOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/VirtualWansOperationsExtensions.cs
Owners: @isra-fel, @erich-wang

Binary data API changes
  sdk/core/Azure.Core.Experimental/src/Primitives/BinaryData.cs
  sdk/core/Azure.Core.Experimental/tests/BinaryDataTests.cs
Owners: @pakrym, @KrzysztofCwalina

Update Microsoft.Azure.Management.RecoveryServices.Backup.csproj
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
Owners: @isra-fel, @erich-wang

remove unused reference to Rbac
  sdk/storage/Azure.ResourceManager.Storage/tests/Azure.ResourceManager.Storage.Tests.csproj
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft

minor update
  common/ManagementTestShared/ManagementRecordedTestBase.cs
  sdk/resources/Azure.ResourceManager.Resources/tests/Azure.ResourceManager.Resources.Tests.csproj
  sdk/resources/Azure.ResourceManager.Resources/tests/ScenarioTests/TagTests.ScenarioTests.cs
Owners: @isra-fel, @erich-wang, @AlexGhiondea

Add fix
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualNetworkGatewaysRestClient.cs
  sdk/network/Azure.ResourceManager.Network/tests/Azure.ResourceManager.Network.Tests.csproj
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/DeploymentUpdate.cs
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/Deployments.cs
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VirtualNetworkGatewayVpnDeviceConfigurationApisTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VirtualNetworkGatewayVpnDeviceConfigurationApisTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/VmssNetworkInterfaceTests/VmssNetworkInterfaceApiTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/VmssNetworkInterfaceTests/VmssNetworkInterfaceApiTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/VmssPublicIpAddressTests/VmssPublicIpAddressApiTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/VmssPublicIpAddressTests/VmssPublicIpAddressApiTestAsync.json
  sdk/testcommon/Azure.Management.Resources.2017_05/src/DeploymentProperties.cs
Owners: @AlexGhiondea, @isra-fel, @erich-wang

Azure Backup Health (#12543)
  eng/mgmt/mgmtmetadata/recoveryservicesbackup_resource-manager.txt
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureFileshareProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSClassicComputeVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSComputeVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSVMHealthDetails.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSAPAseDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSAPHanaDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSQLDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/HealthDetails.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/HealthStatus.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
Owners: @isra-fel, @erich-wang

change client to operations
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/AppConfigurationClientBase.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Helper/Helper.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Tests/AppConfigurationTest.cs
Owners: @annelo-msft, @AlexanderSher

NetApp
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/Helpers/ResourceUtils.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/ResourceTests/VolumeTests.cs
Owners: @isra-fel, @erich-wang

Blueprint
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/tests/ScenarioTests/BlueprintTests.cs
Owners: @isra-fel, @erich-wang

code refactoring
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/EventHubsManagementClientBase.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Helper.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.ConsumerGroupsTests.CRUD.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.ConsumerGroupsTests.CRUD_Length.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.DisasterRecoveryAlertnateNameTests.CRUD.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.DisasterRecoveryTests.CRUD.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.EventHubTests.CRUD.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.EventHubsTests.CRUDAuthorizationRules.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.EventHubsTests.CRUDAuthorizationRules_Length.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.EventHubskiptopTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.NamespaceKafkaTests.CRUD.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.NamespaceTests.CRUD.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.NamespaceTests.CRUDAuthorizationRules.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ScenarioTests.NetworkRuleSetTests.CRUD.cs
Owners: @serkantkaraca, @jsquire, @kinelski

Update BasicTests.cs (#12760)
  sdk/authorization/Microsoft.Azure.Management.Authorization/tests/Tests/BasicTests.cs
Owners: @isra-fel, @erich-wang

Update VMImageTests.cs (#12761)
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMImageTests.cs
Owners: @isra-fel, @erich-wang

Use US sovereign region
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Use sovereign KV domain suffix
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/keyvault/test-resources.json
  sdk/keyvault/tests.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek, @schaabs, @heaths

Update KV tests.yml to use new approach
  sdk/keyvault/tests.yml
Owners: @danieljurek

Unique naming of jobs
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/keyvault/tests.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Unique display names
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Set SubscriptionConfiguraiton back to default
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Name Job directly
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

add AZURE_AUTHORITY_HOST
  sdk/keyvault/tests.yml
Owners: @danieljurek

use valid characters for job name
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Owners: @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

Parameterize KV SKU and adjust Azure China Cloud deployment
  sdk/keyvault/test-resources.json
  sdk/keyvault/tests.yml
Owners: @schaabs, @heaths, @danieljurek

Change Client to Operation
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/DeploymentUpdate.cs
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/Deployments.cs
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkManagementTestUtilities.cs
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkTestsManagementClientBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/ResourcesManagementTestUtilities.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ApplicationGatewayTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/AvailableProvidersListTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/AzureReachabilityReportTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/CheckConnectivityTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/CheckDnsAvailabilityTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ConnectionMonitorTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpandResourceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpressRouteTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/FlowLogTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/GatewayOperationsTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/LoadBalancerTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkInterfaceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkSecurityGroupTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkWatcherTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NextHopTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PacketCaptureTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PublicIpAddressTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteTableTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/SecurityRuleTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/SubnetTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/TestHelper.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/TopologyTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/TroubleshootTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/UsageTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VerifyIpFlowTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ViewNsgRuleTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VirtualNetworkPeeringTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VirtualNetworkTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VmssNetworkInterfaceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VmssPublicIpAddressTests.cs
Owners: @AlexGhiondea

fix some format problems
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/AppConfigurationClientBase.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Properties/AssemblyInfo.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Tests/AppConfigurationTest.cs
Owners: @annelo-msft, @AlexanderSher

Removed Recognized Receipt type; missing update in tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/OperationExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceiptCollection.cs
Owners: @annelo-msft, @kinelski, @maririos

Updated tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
Owners: @annelo-msft, @kinelski, @maririos

Generated from 1a427dcf2521c6b838a0bbb547f47bac3f1f6f94
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/ActionRulesOperations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/AlertsManagementClient.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/IAlertsManagementClient.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/ISmartDetectorAlertRulesOperations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/ActionGroupsInformation.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AlertRule.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AlertRulePatchObject.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AlertRuleState.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AzureResource.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/Detector.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/ErrorResponse1.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/ErrorResponse1Exception.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/ThrottlingInformation.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Operations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/SdkInfo_AlertsManagementClient.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/SmartDetectorAlertRulesOperations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/SmartDetectorAlertRulesOperationsExtensions.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/SmartGroupsOperations.cs
Owners: @isra-fel, @erich-wang

Add test for PrivateLinkServicesClient. CheckPrivateLinkServiceVisibilityAsync
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkTestsManagementClientBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PrivateLinkServicesTest.cs
Owners: @AlexGhiondea

Speed up mgmt tests in playback mode (#12766)
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/tests/ScenarioTests/BlueprintTests.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/Helpers/ResourceUtils.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/ResourceTests/VolumeTests.cs
Owners: @isra-fel, @erich-wang

Added new types to samples
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/FormField{T}.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Receipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/ReceiptItem.cs
Owners: @annelo-msft, @kinelski, @maririos

Generated from 018162a4fdd3f0db191dbb826c6a7a757ed31f02
  sdk/databoxedge/Microsoft.Azure.Management.DataBoxEdge/src/Generated/SdkInfo_DataBoxEdgeManagementClient.cs
Owners: @isra-fel, @erich-wang

changelog
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
Owners: @annelo-msft, @kinelski, @maririos

add guidelines ref
  sdk/cognitiveservices/Language.TextAnalytics/src/README.md
Owners: @AlexGhiondea

improve some comments
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/FullBackupDetails.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/FullRestoreDetails.cs
Owners: @schaabs, @heaths

checkpoint
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobTagItem.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/FilterBlobsAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/generate.ps1
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft

checkpoint
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
Owners: @amishra-dev, @seanmcc-msft, @amnguye, @kasobol-msft, @tg-msft

add remaining feedback
  sdk/cognitiveservices/Language.TextAnalytics/src/README.md
Owners: @AlexGhiondea

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                           @AlexGhiondea

# Core
/sdk/core/                                      @pakrym @KrzysztofCwalina

# Extensions
/sdk/extensions/                                @parkym

# Service teams
/sdk/appconfiguration/                          @annelo-msft @AlexanderSher

/sdk/batch/                                     @bgklein @xingwu1 

/sdk/cognitiveservices/language.textanalytics/  @assafi 
/sdk/cognitiveservices/vision.computervision/   @toothache
/sdk/cognitiveservices/vision.face/             @TFR258 

/sdk/digitaltwins/                              @drwill-ms @timtay-microsoft @abhipsaMisra @vinagesh @azabbasi @prmathur-microsoft @bikamani @barustum

/sdk/eventgrid/                                 @Kishp01 @ahamad-MS

/sdk/eventhub/                                  @serkantkaraca @jsquire @kinelski
/sdk/eventhub/azure.messaging.eventhubs/        @jsquire @kinelski

/sdk/identity/                                  @schaabs

/sdk/keyvault/                                  @schaabs @heaths

/sdk/search/                                    @brjohnstmsft @arv100kri @bleroy @tg-msft @heaths
/sdk/search/Microsoft.*/                        @brjohnstmsft @arv100kri @bleroy

/sdk/servicebus/                                @JoshLove-msft @ShivangiReja @jsquire @MiYanni
/sdk/servicebus/Microsoft.*/                    @nemakam

/sdk/storage/                                   @amishra-dev @seanmcc-msft @amnguye @kasobol-msft @tg-msft

/sdk/tables/                                    @christothes

/sdk/textanalytics/                             @annelo-msft @maririos

/sdk/formrecognizer/                            @annelo-msft @kinelski @maririos

# Smoke tests
/common/SmokeTests/                             @AlexGhiondea @schaabs @heaths @tg-msft @jsquire

# Management Plane
/**/*Management*/                               @isra-fel @erich-wang

# Reviewers to double check any API changes
/sdk/**/api/                                    @KrzysztofCwalina @pakrym @tg-msft

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @isra-fel @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
