Repository Azure/azure-sdk-for-net, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @pakrym, @annelo-msft, @matthchr, @assafi, @toothache, @TFR258, @kalyanaj, @serkantkaraca, @jsquire, @kinelski, @schaabs, @shahabhijeet, @brjohnstmsft, @nemakam, @kfarmer-msft, @seanmcc-msft, @tg-msft, @erich-wang, @weshaggard, @chidozieononiwu, @mitchdenny, @danieljurek

DO NOT MERGE: Add credential rolling
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyCredential.cs
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentials.json
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentialsAsync.json
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyCredentialsTests.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Add CommonTestBase and verify child Clients see rolled credentials
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyCredential.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentialsToChildren.json
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentialsToChildrenAsync.json
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyCredentialsTests.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

run generate.cmd
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/SdkInfo_ContainerRegistryManagementClient.cs
  src/SDKs/_metadata/containerregistry_resource-manager.txt
Owners: @erich-wang

This would never work
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/SharedAccessSignatureTokenProvider.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/TokenScope.cs
Owners: @nemakam

Enable SDK Client analyzers for Storage
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Directory.Build.props
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

adding InteractiveBrowserCredential
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
Owners: @AlexGhiondea

Rem Management
  sdk/servicebus/Azure.Messaging.ServiceBus/Microsoft.Azure.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/AccessRights.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/AuthorizationRule.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/AuthorizationRules.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/EntityStatus.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/ManagementClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/MessageCountDetails.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/MessagingEntityAlreadyExistsException.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/MessagingSku.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/NamespaceInfo.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/NamespaceInfoExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/NamespaceType.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueueDescription.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueueDescriptionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueueRuntimeInfo.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueueRuntimeInfoExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SharedAccessAuthorizationRule.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionDescription.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionDescriptionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionRuntimeInfo.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionRuntimeInfoExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicDescription.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicDescriptionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicRuntimeInfo.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicRuntimeInfoExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Management/ManagementClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/ServiceBusConnectionStringBuilderTests.cs
Owners: @nemakam, @erich-wang

Cleanup, less types
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSubscriptionClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/IInnerSubscriptionClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/ManagementClientConstants.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/SubscriptionClient.cs
Owners: @nemakam, @erich-wang

Rename
  sdk/servicebus/Azure.Messaging.ServiceBus/src/EntityNameHelper.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/CorrelationFilterExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/FilterExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleActionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleDescriptionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/SqlFilterExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/XmlObjectConvertor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/ManagementClientConstants.cs
Owners: @nemakam, @erich-wang

Move Id to Operation<T> and hide CopyFromUriOperation
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/core/Azure.Core/tests/OperationTests.cs
  sdk/core/Azure.Core/tests/TestFramework/TestOperation.cs
  sdk/storage/Azure.Storage.Blobs/BreakingChanges.txt
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/CopyFromUriOperation.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
Owners: @pakrym, @kfarmer-msft, @seanmcc-msft, @tg-msft

adding crypto inside key client project
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Base/Algorithm.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Base/AlgorithmEnums.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Base/BaseCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Client/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Client/CryptographyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptoAlgorithms/AlgorithmResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptoProvider/RsaCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Defaults/CryptoProviderDefaults.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Interface/ICryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Interface/IKeyVaultDefault.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Models/EncryptResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Utilities/Check.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/Azure.Security.KeyVault.Keys.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptoTests/KVCryptoTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptoTests/KVCryptoTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/Utilities/CheckUtility.cs
  sdk/keyvault/KeyVault.Cryptography/src/CryptoAlgorithms/AsymmetricEncryptionAlgorithm.cs
  sdk/keyvault/KeyVault.Cryptography/src/CryptoAlgorithms/EncryptionAlgorithm.cs
  sdk/keyvault/KeyVault.Cryptography/src/CryptoAlgorithms/SymmetricEncryptionAlgorithm.cs
  sdk/keyvault/KeyVault.Cryptography/src/CryptoProvider/Rsa15CryptographyProvider.cs
  sdk/keyvault/KeyVault.Cryptography/src/CryptoProvider/RsaCryptographyProvider.cs
  sdk/keyvault/KeyVault.Cryptography/tests/KVCryptoTestBase.cs
  sdk/keyvault/KeyVault.Cryptography/tests/KVCryptoTests.cs
  sdk/keyvault/KeyVault.Cryptography/tests/Utilities/CheckUtility.cs
Owners: @schaabs

Generated code
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/ActivityLogsOperations.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/ActivityLogsOperationsExtensions.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/IActivityLogsOperations.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/DiagnosticSettingsResource.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/Metric.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricDefinition.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricValue.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/Unit.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/SdkInfo_MonitorClient.cs
Owners: @erich-wang

Updating the release version and release notes
  sdk/monitor/Microsoft.Azure.Management.Monitor/changelog.md
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Microsoft.Azure.Management.Monitor.csproj
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Properties/AssemblyInfo.cs
  src/SDKs/_metadata/monitor_resource-manager.txt
Owners: @erich-wang

Track One Event Hubs Tests Infrastructure Updates
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestConstants.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestUtility.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorNegativeCases.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTestBase.cs
Owners: @serkantkaraca

Update ProcessorTestBase.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTestBase.cs
Owners: @serkantkaraca

moving crypto to key package
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/Client/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptoProvider/RsaCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyId.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptoTests/KVCryptoTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.sln
  sdk/keyvault/KeyVault.Cryptography/Azure.Security.KeyVault.Cryptography.sln
  sdk/keyvault/KeyVault.Cryptography/samples/Azure.Security.KeyVault.Cryptography.Samples.csproj
  sdk/keyvault/KeyVault.Cryptography/samples/Sample1_HelloWorld.cs
  sdk/keyvault/KeyVault.Cryptography/samples/Sample1_HelloWorldAsync.cs
  sdk/keyvault/KeyVault.Cryptography/samples/Sample2_BackupAndRestore.cs
  sdk/keyvault/KeyVault.Cryptography/samples/Sample2_BackupAndRestoreAsync.cs
  sdk/keyvault/KeyVault.Cryptography/samples/Sample3_GetKeys.cs
  sdk/keyvault/KeyVault.Cryptography/samples/Sample3_GetKeysAsync.cs
  sdk/keyvault/KeyVault.Cryptography/src/Azure.Security.KeyVault.Cryptography.csproj
  sdk/keyvault/KeyVault.Cryptography/src/Base/Algorithm.cs
  sdk/keyvault/KeyVault.Cryptography/src/Base/AlgorithmEnums.cs
  sdk/keyvault/KeyVault.Cryptography/src/Base/BaseCryptographyProvider.cs
  sdk/keyvault/KeyVault.Cryptography/src/Client/CryptographyClient.cs
  sdk/keyvault/KeyVault.Cryptography/src/Client/CryptographyClientOptions.cs
  sdk/keyvault/KeyVault.Cryptography/src/CryptoAlgorithms/AlgorithmResolver.cs
  sdk/keyvault/KeyVault.Cryptography/src/CryptoProvider/RsaCryptographyProvider.cs
  sdk/keyvault/KeyVault.Cryptography/src/Defaults/CryptoProviderDefaults.cs
  sdk/keyvault/KeyVault.Cryptography/src/Interface/ICryptographyProvider.cs
  sdk/keyvault/KeyVault.Cryptography/src/Interface/IKeyVaultDefault.cs
  sdk/keyvault/KeyVault.Cryptography/src/Models/EncryptResult.cs
  sdk/keyvault/KeyVault.Cryptography/src/Properties/AssemblyInfo.cs
  sdk/keyvault/KeyVault.Cryptography/src/Utilities/Check.cs
  sdk/keyvault/KeyVault.Cryptography/tests/Azure.Security.KeyVault.Cryptography.Tests.csproj
  sdk/keyvault/KeyVault.Cryptography/tests/KVCryptoTestBase.cs
  sdk/keyvault/KeyVault.Cryptography/tests/KVCryptoTests.cs
  sdk/keyvault/KeyVault.Cryptography/tests/Properties/AssemblyInfo.cs
  sdk/keyvault/KeyVault.Cryptography/tests/Utilities/CheckUtility.cs
Owners: @schaabs

Update for Clienttest
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/PluginTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverRuntimeMetricsTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/RetryTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/RuntimeInformationTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/SendTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/TimeoutTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/TokenProviderTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/WebSocketTests.cs
Owners: @serkantkaraca

Update the WebSocketTest
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/WebSocketTests.cs
Owners: @serkantkaraca

Update sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
Owners: @serkantkaraca

Apply suggestions from code review
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
Owners: @serkantkaraca

CreateCheckpoint => UpdateCheckpoint
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
Owners: @serkantkaraca

Update the method name
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/WebSocketTests.cs
Owners: @serkantkaraca

CreateCheckpoint => UpdateCheckpoint 2.0
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionManager.cs
Owners: @serkantkaraca

update
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/WebSocketTests.cs
Owners: @serkantkaraca

Modified Client Tests
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ClientNegativeCases.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ConnectionStringBuilderTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/DataBatchTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/DiagnosticsTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/MiscTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/PartitionPumpTests.cs
Owners: @serkantkaraca

Update style
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/WebSocketTests.cs
Owners: @serkantkaraca

Addressed comments.
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
Owners: @serkantkaraca

move autorest metadata to right place
  eng/mgmt/mgmtmetadata/apimanagement_resource-manager.txt
Owners: @erich-wang

Add credential rolling (#7061)
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyCredential.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentials.json
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentialsAsync.json
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentialsToChildren.json
  sdk/storage/Azure.Storage.Common/tests/SessionRecords/StorageSharedKeyCredentialsTests/RollCredentialsToChildrenAsync.json
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyCredentialsTests.cs
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Enable SDK Client analyzers for Storage (#7067)
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Directory.Build.props
Owners: @kfarmer-msft, @seanmcc-msft, @tg-msft

Switching to an auto-property per feedback
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
Owners: @pakrym, @kfarmer-msft, @seanmcc-msft, @tg-msft

Move Id to Operation<T> and hide CopyFromUriOperation (#7068)
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/core/Azure.Core/tests/OperationTests.cs
  sdk/core/Azure.Core/tests/TestFramework/TestOperation.cs
  sdk/storage/Azure.Storage.Blobs/BreakingChanges.txt
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/CopyFromUriOperation.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
Owners: @pakrym, @kfarmer-msft, @seanmcc-msft, @tg-msft

Moving the metadata file
  eng/mgmt/mgmtmetadata/monitor_resource-manager.txt
Owners: @erich-wang

initial UsernamePasswordCredential implementation
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
Owners: @AlexGhiondea

Regenerate the SDK from master branch of mainline repo
  eng/mgmt/mgmtmetadata/search_data-plane_Microsoft.Azure.Search.Service.txt
  sdk/search/Microsoft.Azure.Search.Service/src/Generated/SdkInfo_SearchServiceClient.cs
Owners: @erich-wang, @brjohnstmsft

Addressed some comments.~
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessorCloseReason.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

Generated SDK from most recent released swagger.
  eng/mgmt/mgmtmetadata/containerregistry_data-plane.txt
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Generated/AzureContainerRegistryClient.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Generated/SdkInfo_AzureContainerRegistry.cs
Owners: @erich-wang, @AlexGhiondea

Removed vscode paths from git tracking
  .vscode/launch.json
  .vscode/tasks.json
Owners: none

ConfigureAwait everywhere
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

Locking start/stop methods
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Owners: @serkantkaraca

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @AlexGhiondea

# Core
/sdk/core/ @pakrym

# Service teams
/sdk/appconfiguration/ @annelo-msft

/sdk/batch/ @matthchr 

/sdk/cognitiveservices/language.textanalytics/ @assafi 
/sdk/cognitiveservices/vision.computervision/ @toothache
/sdk/cognitiveservices/vision.face/ @TFR258 

/sdk/eventgrid/ @kalyanaj 

/sdk/eventhub/ @serkantkaraca 
/sdk/eventhub/azure.messaging.eventhubs/ @jsquire @kinelski

/sdk/identity/azure.identity/ @schaabs

/sdk/keyvault/ @schaabs 
/sdk/keyvault/azure.*/ @schaabs @shahabhijeet 

/sdk/search/ @brjohnstmsft
/sdk/servicebus/ @nemakam 
/sdk/storage/ @kfarmer-msft @seanmcc-msft @tg-msft
# Management Plane
/**/*Management*/ @erich-wang

###########
# Eng Sys
###########
/eng/           @weshaggard @chidozieononiwu @mitchdenny @danieljurek
/eng/mgmt/      @erich-wang
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
