Repository Azure/azure-sdk-for-net, pull requests merged in 2019-08, with the labels that each got.

#7068 Move Id to Operation<T> and hide CopyFromUriOperation
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/core/Azure.Core/tests/OperationTests.cs
  sdk/core/Azure.Core/tests/TestFramework/TestOperation.cs
  sdk/storage/Azure.Storage.Blobs/BreakingChanges.txt
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/CopyFromUriOperation.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
Labels: breaking-change

#7060 [EventHubs] Track Two: Second Preview (Event Processor)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/IPartitionProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessorCloseReason.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Labels: Client, Event Hubs

#7079 [Event Hubs Client] Track Two: Second Preview (Streaming Reciever)
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ChannelEnumerableSubscription.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Amqp/AmqpEventDataSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelEnumeratorSubscriptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/RetryPolicies/BasicRetryPolicyTests.cs
Labels: Client, Event Hubs

#7104 [Event Hubs Client] Track Two: Second Preview (EventHubPath Rename)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample1_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample2_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/AzureClientBuilderExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ConnectionStringParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/EventHubProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelEnumeratorSubscriptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerTests.cs
Labels: Client, Event Hubs

#7113 [Event Hubs Client] Track Two: Second Preview (Documentation Updates)
  packages.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
Labels: Client, Event Hubs

#7123 [Event Hubs Client] Track Two: Second Preview (Samples) …
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample01_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_PublishAnEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishEventsWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_PublishAnEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_PublishEventsToSpecificPartitions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ConsumeEventsWithMaximumWaitTime.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsByBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_ConsumeEventsWithEventProcessor.cs
Labels: Client, Event Hubs

#7119 [EventHubs] Track Two: Second Preview (InMemoryPartitionManager)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/InMemoryPartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
Labels: Client, Event Hubs

#7135 [EventHubs] Track Two: Second Preview (Bug fix)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
Labels: Bug, Client, Event Hubs

#7147 [Event Hubs Client] Track Two: Second Preview (Changelog)
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Client, Event Hubs

#7186 Shorten diagnostics event names
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubsDiagnosticSource.cs
Labels: Event Hubs

#7210 [Event Hubs Client] Track Two: Second Preview (ReadMe Instructions)
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Client, Event Hubs

#7214 [Event Hubs Client] Track Two: Second Preview (.NET Core 3 Fix) …
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ChannelEnumerableSubscription.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/InMemoryPartitionManager.cs
Labels: Client, Event Hubs

#7203 Limit SemaphoreSlim concurrency to 1
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/AsyncLock.cs
Labels: Event Hubs

#7216 Safe-Close AMQP session when link creation fails
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpEventDataSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpPartitionReceiver.cs
Labels: Event Hubs

#7088 Updating version to 4.0.0 and adding changelog
  sdk/servicebus/Microsoft.Azure.ServiceBus/changelog.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Client, Service Bus

#7200 [Event Hubs Client] Track Two: Samples (Event Processor)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_ConsumeEventsWithEventProcessor.cs
Labels: Client, Event Hubs

#7218 [Event Hubs Client] Track Two: Second Preview (Test Metadata) …
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/TypeExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubSharedKeyCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubTokenCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneExceptionExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneGenericTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneGenericTokenTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneRetryPolicyTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneSharedAccessSignatureTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneSharedAccessTokenTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelEnumeratorSubscriptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionTypeExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/GuardTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Errors/EventHubsExceptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/BatchOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventDataExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/RetryOptionsExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/RetryPolicies/BasicRetryPolicyTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/RetryPolicies/RetryOptionsTests.cs
Labels: Client, Event Hubs

#7201 Adding new EPH constructor
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorHost.cs
Labels: Event Hubs

#7169 Concurrency supported in Smoke Tests
  samples/SmokeTest/SmokeTest/BlobStorageTest.cs
  samples/SmokeTest/SmokeTest/CosmosDBTest.cs
  samples/SmokeTest/SmokeTest/EventHubsTest.cs
  samples/SmokeTest/SmokeTest/KeyVaultTest.cs
  samples/SmokeTest/SmokeTest/Program.cs
Labels: EngSys

#7194 Add exception error level
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorConfigurationException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorRuntimeException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/EventHubsCommunicationException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/EventHubsException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/EventHubsTimeoutException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/MessageSizeExceededException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/MessagingEntityNotFoundException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/QuotaExceededException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/ReceiverDisconnectedException.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/ServerBusyException.cs
Labels: Event Hubs

#7246 [Event Hubs Client] Track Two: Second Preview (Test Stability)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
Labels: Client, Event Hubs

#7260 Azure.Identity updates to README.md for preview 2
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity, Client

#7264 [Event Hubs Client] Track Two: Second Preview (Ephemeral Test Namespaces)
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/assets/live-tests-azure-setup.ps1
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestRunFixture.cs
Labels: Client, Event Hubs

#7254 [HDInsight] Add three new features GetCapabilites, AutoScale, GetBillingSpec
  eng/mgmt/mgmtmetadata/hdinsight_resource-manager.txt
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/ILocationsOperations.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/LocationsOperations.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/LocationsOperationsExtensions.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/ApplicationGetHttpsEndpoint.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/Autoscale.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/AutoscaleCapacity.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/AutoscaleRecurrence.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/AutoscaleSchedule.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/AutoscaleTimeAndCapacity.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/BillingMeters.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/BillingResources.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/BillingResponseListResult.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/CapabilitiesResult.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/DaysOfWeek.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/DiskBillingMeters.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/FilterMode.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/QuotaCapability.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/RegionalQuotaCapability.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/RegionsCapability.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/Role.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/VersionSpec.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/VersionsCapability.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/VmSizeCompatibilityFilter.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/VmSizeCompatibilityFilterV2.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/VmSizesCapability.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/SdkInfo_HDInsightManagementClient.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Microsoft.Azure.Management.HDInsight.csproj
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Properties/AssemblyInfo.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/ScenarioTests/ClusterOperationTests.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/ScenarioTests/LocationOperationTests.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/SessionRecords/Management.HDInsight.Tests.ClusterOperationTests/TestCreateClusterWithAutoScaleLoadBasedType.json
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/SessionRecords/Management.HDInsight.Tests.ClusterOperationTests/TestCreateClusterWithAutoScaleScheduleBasedType.json
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/SessionRecords/Management.HDInsight.Tests.LocationOperationTests/TestGetCapabilities.json
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/TestHelpers/HDInsightManagementTestUtilities.cs
Labels: needs-revision

#7263 Annotate Azure.Core with non-null reference types
  CONTRIBUTING.md
  eng/Directory.Build.Data.props
  eng/pipelines/templates/variables/globals.yml
  sdk/core/Azure.Core/src/AsyncCollection.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/AzureExtentions.cs
  sdk/core/Azure.Core/src/Buffers/StreamMemoryExtensions.cs
  sdk/core/Azure.Core/src/Diagnostics/HttpPipelineEventSource.cs
  sdk/core/Azure.Core/src/FailedResponseException.cs
  sdk/core/Azure.Core/src/Http/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Http/HttpPipelineUriBuilder.cs
  sdk/core/Azure.Core/src/Http/RequestHeaders.cs
  sdk/core/Azure.Core/src/Http/ResponseHeaders.cs
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/core/Azure.Core/src/Page.cs
  sdk/core/Azure.Core/src/Pipeline/AzureOperationScope.cs
  sdk/core/Azure.Core/src/Pipeline/BearerTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/DiagnosticsOptions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpEnvironmentProxy.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelinePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineRequestContent.cs
  sdk/core/Azure.Core/src/Pipeline/LoggingPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetriableStream.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/TelemetryPolicy.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/ResponseOfT.cs
  sdk/core/Azure.Core/src/Shared/ContentTypeUtilities.cs
  sdk/core/Azure.Core/src/Shared/NullableAttributes.cs
  sdk/core/Azure.Core/src/Shared/PageResponseEnumerator.cs
  sdk/core/Azure.Core/tests/PipelineTestBase.cs
  sdk/core/Azure.Core/tests/PipelineTests.cs
  sdk/core/Azure.Core/tests/TestFramework.props
  sdk/keyvault/Shared/ChallengeBasedAuthenticationPolicy.cs
Labels: breaking-change

#7266 .NET Smoke Test Pipeline
  eng/pipelines/smoke-tests.yml
  samples/SmokeTest/SmokeTest/SmokeTest.csproj
Labels: EngSys

#7273 Move buffering to per-request setting and make response non disposable
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/tests/ConfigurationLiveTests.cs
  sdk/core/Azure.Core/src/Pipeline/BufferResponsePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineMessage.cs
  sdk/core/Azure.Core/src/ResponseOfT.cs
  sdk/core/Azure.Core/tests/BufferResponsePolicyTests.cs
  sdk/core/Azure.Core/tests/EventSourceTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/TestFramework/SyncAsyncPolicyTestBase.cs
  sdk/core/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
  sdk/identity/Azure.Identity/src/AadIdentityClient.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/DirectCryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/storage/Azure.Storage.Common/src/StorageClientOptions.cs
Labels: breaking-change

#7287 Smoketest runtimes
  eng/pipelines/smoke-tests.yml
  samples/SmokeTest/SmokeTest/BlobStorageTest.cs
  samples/SmokeTest/SmokeTest/EventHubsTest.cs
  samples/SmokeTest/SmokeTest/SmokeTest.csproj
Labels: EngSys

#7282 [Event Hubs Client] Track Two: Third Preview (Minor Test Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#7283 Fixing scenario id, adding support for case manipulation on target
  eng/mgmt/mgmtmetadata/datamigration_resource-manager.txt
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/MigrateOracleAzureDbForPostgreSqlSyncTaskProperties.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/MigrateOracleAzureDbPostgreSqlSyncDatabaseInput.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/SdkInfo_DataMigrationManagementClient.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Microsoft.Azure.Management.DataMigration.csproj
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Properties/AssemblyInfo.cs
Labels: needs-revision

#7307 [Event Hubs Client] Engineering: Update Environment Variables
  sdk/eventhub/tests.yml
Labels: Client, EngSys, Event Hubs

#7327 [Event Hubs Client] Track Two: Third Preview (Iterator Read Tweak)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ChannelReaderExtensions.cs
Labels: Client, Event Hubs

#7320 [Event Hubs Client] Both Tracks: Live Tests
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestEnvironment.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestUtility.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/xunit.runner.json
Labels: Client, Event Hubs

#7332 [Event Hubs Client] Track Two: Third Preview (Test Timing Tweak)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelReaderExtensionsTests.cs
Labels: Client, Event Hubs

#7350 update ServiceBus to 4.1.0 from 4.0.0 after bug fix
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#7325 Add support for parameters of type TimeSpan to SqlFilter
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Filters/XmlObjectConvertor.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/ManagementClientConstants.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Management/ManagementClientTests.cs
Labels: Client, Service Bus

#7343 [Event Hubs Client] Track Two: Third Preview (AMQP Message Conversion)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/TypeExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/MessagePropertyName.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelReaderExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventDataExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventDataExtensions.cs
Labels: Client, Event Hubs

#7360 [Event Hubs Client] Tracks One and Two (Minor Cleanup and Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_PublishEventsToSpecificPartitions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/EventHubSharedKeyCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/EventHubTokenCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneGenericTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneSharedAccessSignatureTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/Guard.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessorCloseReason.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/BatchOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Primitives/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Primitives/RetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Primitives/TaskExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TransportType.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/GuardTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestRunFixture.cs
Labels: Client, Event Hubs

#7365 Expose client closed flag publicly
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpEventDataSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpPartitionReceiver.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionReceiver.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/ClientEntity.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/MiscTests.cs
Labels: Client, Event Hubs

#7373 [Event Hubs Client] Track Two: Third Preview (Diagnostics Integration)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/DiagnosticProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventDataInstrumentation.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventDataDiagnosticExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventDataSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventHubsDiagnosticSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerTests.cs
Labels: Client, Event Hubs

#7366 [Event Hubs Client] Track Two: Third Preview (Event Processor Tests)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventPositionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventPositionExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/InMemoryPartitionManagerTests.cs
Labels: Client, Event Hubs

#7338 SDK update for Soft Delete feature
  eng/mgmt/mgmtmetadata/recoveryservicesbackup_resource-manager.txt
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureFileshareProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSClassicComputeVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSComputeVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureSqlProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSAPAseDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSAPHanaDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSQLDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/DPMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/GenericProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/MabFileFolderProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/ProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/SdkInfo_RecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#7364 Regenerate .NET SDK for Front Door to Include Recent Swagger Changes
  eng/mgmt/mgmtmetadata/frontdoor_resource-manager.txt
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/AzSdk.RP.props
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/BackendPoolsOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/EndpointsOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/FrontDoorManagementClient.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/FrontDoorsOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/FrontendEndpointsOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/HealthProbeSettingsOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/IPoliciesOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/LoadBalancingSettingsOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/BackendPoolsSettings.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/CustomHttpsConfiguration.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/CustomRule.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/FrontDoorHealthProbeMethod.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/FrontDoorModel.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/FrontDoorUpdateParameters.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/FrontendEndpoint.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/HealthProbeEnabled.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/HealthProbeSettingsModel.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/HealthProbeSettingsUpdateParameters.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/MatchCondition.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/MinimumTLSVersion.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/RedirectConfiguration.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/PoliciesOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/PoliciesOperationsExtensions.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/RoutingRulesOperations.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/SdkInfo_FrontDoorManagementClient.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Microsoft.Azure.Management.FrontDoor.csproj
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Properties/AssemblyInfo.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/tests/ScenarioTests/FrontDoorTests.cs
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/tests/SessionRecords/FrontDoor.Tests.ScenarioTests.FrontDoorTests/FrontDoorCRUDTest.json
  sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/tests/SessionRecords/FrontDoor.Tests.ScenarioTests.FrontDoorTests/WAFCRUDTest.json
Labels: Mgmt, needs-revision

#7381 [Event Hubs Client] Track Two: Third Preview (Event Data Mocking)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
Labels: Client, Event Hubs

#7368 move metadata to the correct place
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
Labels: Mgmt, needs-review

#7387 [Event Hubs Client] Track Two: Third Preview (AMQP Authorization)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/CbsTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/EventHubTokenCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/CbsTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubTokenCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ChannelReaderExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventDataExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/InMemoryPartitionManagerTests.cs
Labels: Client, Event Hubs

#7392 Create ManagedNetwork SDK
  eng/mgmt/mgmtmetadata/managednetwork.txt
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/AzSdk.RP.props
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/Microsoft.Azure.Management.ManagedNetwork.sln
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/Microsoft.Azure.Management.ManagedNetwork.csproj
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/Properties/AssemblyInfo.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generate.ps1
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/IManagedNetworkGroupsOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/IManagedNetworkManagementClient.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/IManagedNetworkPeeringPoliciesOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/IManagedNetworksOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/IOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/IScopeAssignmentsOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ManagedNetworkGroupsOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ManagedNetworkGroupsOperationsExtensions.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ManagedNetworkManagementClient.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ManagedNetworkPeeringPoliciesOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ManagedNetworkPeeringPoliciesOperationsExtensions.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ManagedNetworksOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ManagedNetworksOperationsExtensions.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ConnectivityCollection.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ErrorResponse.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ErrorResponseException.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/HubAndSpokePeeringPolicyProperties.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/Kind.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ManagedNetworkGroup.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ManagedNetworkModel.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ManagedNetworkPeeringPolicy.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ManagedNetworkPeeringPolicyProperties.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ManagedNetworkUpdate.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/MeshPeeringPolicyProperties.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/Operation.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/OperationDisplay.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/Page.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ProvisioningState.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ProxyResource.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/Resource.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ResourceId.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ResourceProperties.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/Scope.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/ScopeAssignment.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/TrackedResource.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Models/Type.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/Operations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/OperationsExtensions.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ScopeAssignmentsOperations.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/src/generated/ScopeAssignmentsOperationsExtensions.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Helpers/Comparator.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Microsoft.Azure.Management.ManagedNetwork.Tests.csproj
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Properties/AssemblyInfo.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.ManagedNetworkGroupTests/ManagedNetworkGroupTest.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.ManagedNetworkTests/ManagedNetworkTest.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.PeeringPolicyTests/ManagedNetworkGroupTest.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.Tests/Clear.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.Tests/HubSpoke.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.Tests/Mesh.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/ManagedNetworkGroupTests.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/ManagedNetworkTests.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/PeeringPolicyTests.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/Test.cs
Labels: Mgmt, needs-revision

#7243 Adding .Net SDK support for setting Azure AD administrator on Managed Instance
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedInstanceAdministratorsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ISqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstanceAdministratorsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstanceAdministratorsOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedInstanceAdministrator.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SdkInfo_SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Properties/AssemblyInfo.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedDatabaseVulnerabilityAssessmentScenarioTests.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedInstanceActiveDirectoryAdministratorTest.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedInstanceTestFixture.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedInstanceVulnerabilityAssessmentScenarioTests.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedDatabaseRestoreScenarioTests/RestorableDroppedManagedDatabasesTests.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedDatabaseRestoreScenarioTests/ShortTermRetentionOnDroppedDatabase.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedDatabaseRestoreScenarioTests/ShortTermRetentionOnLiveDatabase.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedDatabaseVulnerabilityAssessmentTestFixture/.ctor.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedInstanceActiveDirectoryAdministratorTest/TestSetManagedInstanceActiveDirectoryAdministrator.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedInstanceThreatDetectionTestFixture/.ctor.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedInstanceVulnerabilityAssessmentTestFixture/.ctor.json
Labels: Do Not Merge, needs-revision

#7339 [Data Factory]Add property blockSizeInMB for AzureBlobStorageWriteSettings and AzureBlobFSWriteSettings
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AvroSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureBlobFSWriteSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureBlobStorageWriteSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureDataLakeStoreWriteSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/BinarySink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DelimitedTextSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/FileServerWriteSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/JsonSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ParquetSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/StoreWriteSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Labels: needs-revision

#7428 Adding processor host receiver identifier
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventHubPartitionPump.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/TokenProviderTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTestBase.cs
Labels: Client, Event Hubs

#7372 Bump up Blob SDK dependency
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/AzureBlobLease.cs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/AzureStorageCheckpointLeaseManager.cs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/Microsoft.Azure.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTestBase.cs
Labels: Client, Event Hubs

#7443 Close child entities when client is closed.
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionReceiver.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/AsyncLock.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/ClientEntity.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/MiscTests.cs
Labels: Client, Event Hubs

#7436 [Event Hubs Client] Tracks One and Two (Test Stability Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/MiscTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs
