Repository Azure/azure-sdk-for-net, pull requests merged in 2019-06, with the labels that each got.

#6287 Event Hubs SDK: Adding connection string support for AAD Managed Identity
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpEventHubClient.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/AzureActiveDirectoryTokenProvider.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/ClientConstants.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/EventHubsConnectionStringBuilder.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/ManagedIdentityTokenProvider.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/TokenProvider.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Resources.resx
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/TokenProviderTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTestBase.cs
Labels: Client, Event Hubs

#6461 [Event Hubs Client - Track Two Preview 1] Baseline Event Hub Client Infrastructure
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ConnectionStringParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/Guard.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/ExponentialRetry.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/ReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Retry.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/SenderOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ExponentialRetryTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/GuardTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventReceivers/ReceiverOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventSenders/SenderOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestCategory.cs
Labels: Client, Event Hubs

#6418 AutoPr-StorageSync-afedyashov-REST Spec PrNumber 6112
  src/SDKs/StorageSync/Management.StorageSync/Generated/Models/TriggerChangeDetectionParameters.cs
Labels: spec-not-merged

#6457 Async Keys implementation
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.Keyvault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Base64Url.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/DeletedKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/EcKeyCreateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Key.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyAttributes.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyBackup.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient_private.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyCreateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyCurveName.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyImportOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyOperations.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRequestParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyType.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Model.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/RsaKeyCreateOptions.cs
Labels: Client, KeyVault

#6490 Keys Sync implementation
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient_private.cs
Labels: Client, KeyVault

#6524 [Event Hubs Client - Track Two Preview 1] End-to-End Event Hub Client and Board Review
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/MessagePropertyName.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportTypeExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventBatchingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/ReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TransportType.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneSharedAccessTokenTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionTypeExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/GuardTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestEnvironment.cs
Labels: Client, Event Hubs

#6534 [Event Hubs Client - Track Two Preview 1] Event Sender
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneSharedAccessSignatureTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventSenderOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/ExponentialRetry.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventDataSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/PartitionSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventSenderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneSharedAccessSignatureTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventReceivers/ReceiverOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventSenders/EventSenderLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventSenders/EventSenderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventSenders/SenderOptionsTests.cs
Labels: Client, Event Hubs

#6538 Fix ResponseExceptionExtensions type name
  sdk/core/Azure.Core/src/ResponseExceptionExtensions.cs
  sdk/storage/Azure.Storage.Common/src/StorageRequestFailedException.cs
Labels: breaking-change

#6539 Move RetryPolicy to the base ClientOptions
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/ConfigurationClientOptions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineOptions.cs
  sdk/identity/Azure.Identity/src/IdentityClient.cs
  sdk/identity/Azure.Identity/src/IdentityClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClientOptions.cs
  sdk/storage/Azure.Storage.Common/src/StorageConnectionOptions.cs
Labels: breaking-change

#6037 Allow clients to report if they own or share the underlying connection string (Part 2)
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/IClientEntity.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
Labels: Client, Service Bus, breaking-change

#6393 ServiceBus SDK: Rbac support
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/ManagementClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/AzureActiveDirectoryTokenProvider.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/ManagedIdentityTokenProvider.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/TokenProvider.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Resources.resx
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusConnection.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusConnectionStringBuilder.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/ServiceBusConnectionStringBuilderTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/TokenProviderTests.cs
Labels: Client, Service Bus, breaking-change

#6578 ServiceBus API renaming from PR suggestions
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/TokenProvider.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusConnectionStringBuilder.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/ServiceBusConnectionStringBuilderTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/TokenProviderTests.cs
Labels: Client, Service Bus

#6575 [Event Hubs Client] Track Two: First Preview (Event Receiver)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventSenderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventReceivers/EventReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventReceivers/EventReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventSenders/EventSenderLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventSenders/EventSenderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventDataExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventDataExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#6590 Add missing secrets tests
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/BackupSecret.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/BackupSecretAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/BackupSecretNonExisting.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/BackupSecretNonExistingAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/DeleteSecretNonExisting.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/DeleteSecretNonExistingAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetDeletedSecretNonExisting.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetDeletedSecretNonExistingAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetSecret.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetSecretAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetSecretVersionsNonExisting.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetSecretVersionsNonExistingAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetSecretWithVersion.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/GetSecretWithVersionAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/RecoverSecretNonExisting.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/RecoverSecretNonExistingAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/RestoreMalformedBackup.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/RestoreMalformedBackupAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/UpdateSecret.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/UpdateSecretAsync.json
Labels: Client, KeyVault

#6449 Certificates API proposal
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ActionType.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Certificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateAttributes.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateImport.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Contact.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/DeletedCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/EcKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ErrorModel.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Issuer.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/IssuerBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyCurveName.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyType.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/LifeTimeAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/RsaKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.sln
Labels: Client, KeyVault

#6599 [Event Hubs Client] Track Two: First Preview (Azure.Identity Support)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/EventHubSharedKeyCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/EventHubTokenCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneGenericToken.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneGenericTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubSharedKeyCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubTokenCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneGenericTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneGenericTokenTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
Labels: Client, Event Hubs

#6607 Use ServiceDirectory for tests builds
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/appconfiguration/tests.yml
  sdk/core/tests.yml
  sdk/eventhub/tests.yml
  sdk/keyvault/tests.yml
  sdk/servicebus/tests.yml
  sdk/storage/tests.yml
Labels: EngSys

#6631 [Event Hubs Client] Track Two: First Preview (Owner Level Rename)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
Labels: Client, Event Hubs

#6632 Enable nightly live test run
  sdk/keyvault/tests.yml
Labels: Client, KeyVault

#6614 Key vault secret client readme
  sdk/keyvault/Azure.Security.KeyVault.Secrets/Readme.md
Labels: Client, KeyVault

#6624 [Datafactory] Fixing ADF generation issues and the build
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/AzureSearchIndexWriteBehaviorType.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/CassandraSourceReadConsistencyLevels.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/CopyBehaviorType.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/DynamicsSinkWriteBehavior.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/SalesforceSinkWriteBehavior.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/SalesforceSourceReadBehavior.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/SapCloudForCustomerSinkWriteBehavior.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Extensions/TabularPartitionOption.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/changelog.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/Microsoft.Azure.Management.DataFactory.Tests.csproj
Labels: Do Not Merge

#6638 [Event Hubs Client] Track Two: First Preview (Mandatory Consumer Group)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/Guard.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/GuardTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerOptionsTests.cs
Labels: Client, Event Hubs

#6641 [Event Hubs Client] Track Two: First Preview (Client Live Tests)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
Labels: Client, Event Hubs

#6617 submit .NET SDK for attestation
  sdk/attestation/Microsoft.Azure.Management.Attestation/Microsoft.Azure.Management.Attestation.sln
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/AzSdk.RP.props
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/AttestationManagementClient.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/AttestationProvidersOperations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/AttestationProvidersOperationsExtensions.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/IAttestationManagementClient.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/IAttestationProvidersOperations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/IOperations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/AttestationProvider.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/AttestationServiceCreationParams.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/AttestationServiceStatus.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/AzureEntityResource.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/ErrorResponse.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/ErrorResponseBody.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/ErrorResponseError.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/ErrorResult.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/ErrorResultException.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/OperationsDefinition.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/OperationsDisplayDefinition.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/Page.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/Page1.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/ProxyResource.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/Resource.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/TrackedResource.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Operations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/OperationsExtensions.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/SdkInfo_AttestationManagementClient.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Microsoft.Azure.Management.Attestation.csproj
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Properties/AssemblyInfo.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/SDKs/_metadata/attestation_resource-manager.txt
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/generate.ps1
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/BasicTests/AttestationOperationsTests.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/BasicTests/AttestationTestBase.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/Microsoft.Azure.Management.Attestation.Tests.csproj
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/Properties/AssemblyInfo.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/SessionRecords/Attestation.Tests.ScenarioTests.AttestationOperationsTests/AttestationManagementAttestationCreateDelete.json
Labels: Changes Requested, Mgmt

#6666 Updating package name for telemetry purposes
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Properties/AssemblyInfo.cs
Labels: Client, KeyVault

#6654 [Event Hubs Client] Track Two: First Preview (README)
  eng/.docsettings.yml
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/assets/live-tests-azure-setup.ps1
  sdk/eventhub/Azure.Messaging.EventHubs/assets/samples-azure-deploy.json
Labels: Client, Event Hubs

#6667 Fix validation in update methods for keys and secrets
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretClientTests.cs
Labels: Client, KeyVault

#6668 Keys readme file
  sdk/keyvault/Azure.Security.KeyVault.Keys/Readme.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/Readme.md
Labels: Client, KeyVault

#6642 [Event Hubs Client] Track Two: First Preview (Producer Live Tests)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
Labels: Client, Event Hubs

#6643 [Event Hubs Client] Track Two: First Preview (Consumer Live Tests)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
Labels: Client, Event Hubs

#6665 update build YAML to publish full msbuild logs
  eng/pipelines/mgmt.yml
  eng/pipelines/templates/jobs/archetype-sdk-mgmt.yml
Labels: Changes Requested

#6689 [Event Hubs Client] Track Two: First Preview (Contributing Guide and Cleanup)
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample3_PublishAnEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample4_PublishEventsWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample5_PublishEventsToSpecificPartitions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample6_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample7_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample8_ConsumeEventsByBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample9_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
Labels: Client, Event Hubs

#6700 [Event Hubs Client] Track Two: First Preview (Content Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-event-hubs-first-preview.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsSample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample1_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample2_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample3_PublishAnEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample4_PublishEventsWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample5_PublishEventsToSpecificPartitions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample6_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample7_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample8_ConsumeEventsByBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample9_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
Labels: Client, Event Hubs

#6702 Keys samples
  sdk/keyvault/Azure.Security.KeyVault.Keys/Readme.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Azure.Security.KeyVault.Keys.Samples.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample1_HelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample1_HelloWorldAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample2_BackupAndRestore.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample2_BackupAndRestoreAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample3_GetKeys.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample3_GetKeysAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.sln
Labels: Client, KeyVault

#6481 Support Microsoft.StorageSync API 2019-03-01
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/changelog.md
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Microsoft.Azure.Management.StorageSync.csproj
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.CloudEndpointTests/CloudEndpointCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.CloudEndpointTests/CloudEndpointDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.CloudEndpointTests/CloudEndpointGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.CloudEndpointTests/CloudEndpointInvokeChangeDetectionTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.CloudEndpointTests/CloudEndpointListTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.RegisteredServerTests/RegisteredServerCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.RegisteredServerTests/RegisteredServerDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.RegisteredServerTests/RegisteredServerGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.RegisteredServerTests/RegisteredServerListTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.RegisteredServerTests/RegisteredServerTriggerRolloverTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.ServerEndpointTests/ServerEndpointAllOperationsTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.StorageSyncServiceTests/StorageSyncServiceBadRequestTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.StorageSyncServiceTests/StorageSyncServiceCheckNameAvailabilityTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.StorageSyncServiceTests/StorageSyncServiceCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.StorageSyncServiceTests/StorageSyncServiceDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.StorageSyncServiceTests/StorageSyncServiceGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.StorageSyncServiceTests/StorageSyncServiceListTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.StorageSyncServiceTests/StorageSyncServiceUpdateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.SyncGroupTests/SyncGroupCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.SyncGroupTests/SyncGroupDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.SyncGroupTests/SyncGroupGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/Microsoft.Azure.Management.StorageSync.Tests.SyncGroupTests/SyncGroupListTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/Tests/CloudEndpointTests.cs
Labels: Changes Requested

#6729 [Event Hubs Client] Track Two: Doc Comment Typos
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
Labels: Client, Event Hubs

#6746 Release notes for Client libraries for Preview 1
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: Client, KeyVault

#6747 [Event Hubs Client] Track Two: First Preview (ReadMe Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Client, Event Hubs

#6751 [Event Hubs Client] Track Two: First Preview (Changelog)
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Client, Event Hubs

#6755 Add NuGet package links
  sdk/keyvault/Azure.Security.KeyVault.Keys/Readme.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/Readme.md
Labels: Client, KeyVault
