Repository Azure/azure-sdk-for-net, pull requests merged in 2019-10, with the labels that each got.

#7858 Make Response<T> abstract
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample8_MockClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient_private.cs
  sdk/core/Azure.Core/src/AsyncCollection.cs
  sdk/core/Azure.Core/src/Operation{T}.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/Response{T}.cs
  sdk/core/Azure.Core/src/Shared/PageResponseEnumerator.cs
  sdk/core/Azure.Core/src/ValueResponse.cs
  sdk/identity/Azure.Identity/src/AadIdentityClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/KeyVaultPipeline.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/LeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlockList.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/Lease.cs
  sdk/storage/Azure.Storage.Common/src/StorageAsyncCollection.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files/src/DirectoryClient.cs
  sdk/storage/Azure.Storage.Files/src/FileClient.cs
  sdk/storage/Azure.Storage.Files/src/FileServiceClient.cs
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files/src/ShareClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
Labels: breaking-change

#7766 [Storage] Make the CORS rules nullable
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Common/swagger/Generator/readme.md
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/models.ts
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/serviceModel.ts
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files/swagger/readme.md
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/swagger/readme.md
Labels: Storage

#7874 [Data Factory][Bug fix before SDK publishing] Add new sub resource wrapper with name property
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/CreateDataFlowDebugSessionRequest.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DataFlowDebugPackage.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DataFlowDebugResource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DatasetDebugResource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/IntegrationRuntimeDebugResource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/LinkedServiceDebugResource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SubResourceDebugResource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/changelog.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/TestData/DataFlowDebugSession_AddDataFlow.json
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/TestData/DataFlowDebugSession_Create.json
Labels: Mgmt

#7807 [Storage] Use structs for model types where appropriate
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/PageInfoTest.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/swagger/Generator/readme.md
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/models.ts
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/serviceModel.ts
Labels: Storage

#7903 [Event Hubs Client] Track Two: Fourth Preview (AMQP Receiver Scope)
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/tests/Infrastructure/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpFilter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/CbsTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpFilterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/TypeExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ArgumentTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorLiveTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#7870 [Storage] Making RehydratePriority and ArchiveStatus proper enums
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
Labels: Client, Storage

#7954 [EventHubs] Fourth Preview: release prep (Changelog)
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Client, Event Hubs

#7912 [Storage] Change BlobItem.Deleted and BlobItemProperties.AccessTierInferred from `bool?` to `bool`
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
Labels: Client, Storage

#7958 Update Key Vault package information for release
  sdk/keyvault/Azure.Security.KeyVault.Certificates/ChangeLog.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/ChangeLog.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Key.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/ChangeLog.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: Client, KeyVault

#7962 Regenerate CDN sdk base on latest swagger update.
  eng/mgmt/mgmtmetadata/cdn_resource-manager.txt
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CookiesMatchConditionParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CookiesOperator.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/DeliveryRuleCookiesCondition.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/DeliveryRuleHttpVersionCondition.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/HttpVersionMatchConditionParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/SdkInfo_CdnManagementClient.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/generate.ps1
Labels: Mgmt, Waiting for CI :shipit:

#7968 [EventHubs] Fourth Preview: release prep (update README.md)
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Client, Event Hubs

#7951 [EventHubs] Fourth Preview: update Event Processor sample
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
Labels: Client, Event Hubs

#7963 [Event Hubs Client] Track Two: Fifth Preview (AMQP Consumer)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/Argument.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsObjectClosedException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpErrorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpFilterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneExceptionExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ArgumentTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ConnectionTypeExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Errors/EventHubsExceptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorLiveTests.cs
Labels: Client, Event Hubs

#7995 [EventHubs] Second Preview: CheckpointStore.Blob release prep (changelog and readme)
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Event Hubs

#7969 [Storage] Rename Tid/Oid to TenantId and ObjectId
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasBuilderTests.cs
  sdk/storage/Azure.Storage.Common/src/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/Constants.cs
Labels: Client, Storage

#7998 [Storage] Change acronyms to PascalCase for enum fields
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/CustomerProvidedKey.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/naming.ts
Labels: Client, Storage

#8000 update version to unblock the release
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Microsoft.Azure.Management.Reservations.csproj
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#7981 Hide Azure.Core diagnostic types
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/core/Azure.Core/src/Diagnostics/ClientDiagnostics.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ActivityExtensions.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/core/Azure.Core/tests/ClientTestBaseDiagnosticScopeTests.cs
  sdk/core/Azure.Core/tests/RequestActivityPolicyTests.cs
  sdk/core/Azure.Core/tests/TestFramework/ClientDiagnosticListener.cs
  sdk/core/Azure.Core/tests/TestFramework/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core/tests/TestFramework/TestDiagnosticListener.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventDataInstrumentation.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/identity/Azure.Identity/src/AadIdentityClient.cs
  sdk/identity/Azure.Identity/src/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/RemoteCryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/KeyVaultPipeline.cs
  sdk/storage/Azure.Storage.Blobs.Batching/src/BlobBatchClient.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/LeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Common/src/AssemblyInfo.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/serviceModel.ts
  sdk/storage/Azure.Storage.Files/src/DirectoryClient.cs
  sdk/storage/Azure.Storage.Files/src/FileClient.cs
  sdk/storage/Azure.Storage.Files/src/FileServiceClient.cs
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files/src/ShareClient.cs
  sdk/storage/Azure.Storage.Queues.Cryptography/src/EncryptedQueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
Labels: breaking-change

#7991 Rename WaitCompletion method and add interval parameter
  sdk/core/Azure.Core/src/AzureExtensions.cs
  sdk/core/Azure.Core/src/Operation{T}.cs
  sdk/core/Azure.Core/tests/OperationTests.cs
  sdk/core/Azure.Core/tests/TestFramework/TestOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample1_HelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample1_HelloWorldAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample2_GetCertificates.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample3_GetKeysAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/SampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
Labels: breaking-change

#7979 [Storage] Fix: QueueClient.GetAccessPolicy fails with null Start/Expiry
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/swagger/readme.md
Labels: Client, Storage

#7942 [ServiceBus] Ensure link to non-existing subscription throws MessagingEntityNotFoundException
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpLinkCreator.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/ExpectedMessagingExceptionTests.cs
Labels: Client, Service Bus

#7935 [ServiceBus] Avoid reporting OperationCanceledException in message pump
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs
Labels: Client, Service Bus

#8088 Notify exception in partition manager
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/PartitionManager.cs
Labels: Client, Event Hubs

#7944 [ServiceBus] Adding default idle timeout for amqpConnection object
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpConnectionHelper.cs
Labels: Client, Service Bus

#8028 New Kusto version (2019-09-07)
  eng/mgmt/mgmtmetadata/azure-kusto_resource-manager.txt
  sdk/kusto/Microsoft.Azure.Management.Kusto/AzSdk.RP.props
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/AttachedDatabaseConfigurationsOperations.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/AttachedDatabaseConfigurationsOperationsExtensions.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/ClustersOperations.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/ClustersOperationsExtensions.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/DataConnectionsOperations.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/DatabasesOperations.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/DatabasesOperationsExtensions.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/IAttachedDatabaseConfigurationsOperations.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/IClustersOperations.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/IDatabasesOperations.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/IKustoManagementClient.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/KustoManagementClient.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/AttachedDatabaseConfiguration.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/CheckNameRequest.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/Cluster.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/ClusterUpdate.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/DataFormat.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/Database.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/DefaultPrincipalsModificationKind.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/EventGridDataConnection.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/EventHubDataConnection.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/FollowerDatabaseDefinition.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/Identity.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/IdentityType.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/IdentityUserAssignedIdentitiesValue.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/IotHubDataConnection.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/KeyVaultProperties.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/PrincipalsModificationKind.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/ReadOnlyFollowingDatabase.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/ReadWriteDatabase.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/Models/Type.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/SdkInfo_KustoManagementClient.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Microsoft.Azure.Management.Kusto.csproj
  sdk/kusto/Microsoft.Azure.Management.Kusto/src/Properties/AssemblyInfo.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/Microsoft.Azure.Management.Kusto.Tests.csproj
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/Properties/AssemblyInfo.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/ScenarioTests/KustoOperationsTests.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/ScenarioTests/KustoTestBase.cs
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoAttachedDatabaseConfigurationTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoClusterTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoDatabasePrincipalsTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoDatabaseTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoEnableDiskEncryptionTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoEventGridTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoEventHubTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoFollowerDatabaseActionsTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoIdentityTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoIotHubTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoKeyVaultPropertiesTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoOptimizedAutoscaleTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/KustoStreamingIngestTests.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/SessionRecords/KustoOperationsTests/OperationsTest.json
  sdk/kusto/Microsoft.Azure.Management.Kusto/tests/Utils/ResourcesNamesUtils.cs
Labels: Mgmt, needs-revision

#8071 [Storage] Rename Lease to BlobLease
  sdk/storage/Azure.Storage.Blobs.Batching/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/LeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/Lease.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
Labels: Client, Storage

#8029 [Storage] Update generated extensible enums
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
Labels: Client, Storage

#8096 [Storage] Rename Block to BlobBlock
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
Labels: Client, Storage

#8105 [Storage] Remove `Blob` suffix in BlobType enum values
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
Labels: Client, Storage

#8136 [Storage] regenerate SRP SDK from latest swagger
  eng/mgmt/mgmtmetadata/storage_resource-manager.txt
  sdk/storage/Microsoft.Azure.Management.Storage/changelog.md
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/IStorageAccountsOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/ActiveDirectoryProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/AzureFilesIdentityBasedAuthentication.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/DirectoryServiceOptions.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/ListKeyExpand.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/StorageAccountRegenerateKeyParameters.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SdkInfo_StorageManagementClient.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/StorageAccountsOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/StorageAccountsOperationsExtensions.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Microsoft.Azure.Management.Storage.csproj
  sdk/storage/Microsoft.Azure.Management.Storage/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#8117 Azure Site Recovery (ASR) - Azure Disk Encryption OnePass support changes
  eng/mgmt/mgmtmetadata/recoveryservicessiterecovery_resource-manager.txt
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AReplicationDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AVmManagedDiskInputDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AVmManagedDiskUpdateDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/VmEncryptionType.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/SdkInfo_SiteRecoveryManagementClient.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Microsoft.Azure.Management.RecoveryServices.SiteRecovery.csproj
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#8128 [Storage] Change first ServiceVersion value to 1 and throw for everything else
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Common/src/Errors.cs
  sdk/storage/Azure.Storage.Files/src/FileClientOptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
Labels: Client, Storage

#8125 [Storage] Rename `StorageHandle` to `StorageFileHandle`
  sdk/storage/Azure.Storage.Files/src/DirectoryClient.cs
  sdk/storage/Azure.Storage.Files/src/FileClient.cs
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files/src/Models/GetDirectoryHandlesAsyncCollection.cs
  sdk/storage/Azure.Storage.Files/src/Models/GetFileHandlesAsyncCollection.cs
  sdk/storage/Azure.Storage.Files/swagger/readme.md
  sdk/storage/Azure.Storage.Files/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files/tests/FileClientTests.cs
Labels: Client, Storage

#8133 Updated SDK to reflect recent changes in swagger
  eng/mgmt/mgmtmetadata/datamigration_resource-manager.txt
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/CheckOCIDriverTaskOutput.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/CommandProperties.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/ConnectionInfo.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/MigrateSqlServerSqlMITaskInput.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/MigrationEligibilityInfo.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/Models/ProjectTaskProperties.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Generated/SdkInfo_DataMigrationManagementClient.cs
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Microsoft.Azure.Management.DataMigration.csproj
  sdk/datamigration/Microsoft.Azure.Management.DataMigration/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#8137 [Event Hubs Client] Track Two: Fifth Preview (AMQP Producer)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/BatchOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventDataInstrumentation.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/BatchOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/RetryPolicies/BasicRetryPolicyTests.cs
Labels: Client, Event Hubs

#8164 [Storage] Change ShareClient.SetQuotaInternal and ListSharesIncludeType from public to internal
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files/swagger/readme.md
Labels: Client, Storage

#8183 [Event Hubs Client] Track Two: Fifth Preview (AMQP Refactoring)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpAnnotation.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/CbsTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/TypeExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/Argument.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsClientClosedException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneExceptionExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ArgumentTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Errors/EventHubsExceptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorLiveTests.cs
Labels: Client, Event Hubs

#8170 [Storage] Rename IPRange to SasIPRange
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasQueryParameters.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobUriBuilderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SasQueryParametersTests.cs
  sdk/storage/Azure.Storage.Common/src/Sas/AccountSasBuilder.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasIPRange.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files/src/Sas/FileSasBuilder.cs
  sdk/storage/Azure.Storage.Files/tests/FileTestBase.cs
  sdk/storage/Azure.Storage.Files/tests/FileUriBuilderTests.cs
  sdk/storage/Azure.Storage.Queues/src/Sas/QueueSasBuilder.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueUriBuilderTests.cs
Labels: Client, Storage

#8204 [Storage] Rename Metrics.IncludeAPIs to IncludeApis
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files/swagger/readme.md
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/swagger/readme.md
Labels: Client, Storage

#8201 [Storage] Rename ParallelTransferOptions to StorageTransferOptions
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(1).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(1)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(16).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(16)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(4).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(4)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(8).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(8)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(null).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_File_StorageTransferOptions(null)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(1).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(1)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(16).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(16)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(4).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(4)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(8).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(8)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(null).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadAsync_Stream_StorageTransferOptions(null)Async.json
  sdk/storage/Azure.Storage.Common/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Common/src/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/src/StorageTransferOptions.cs
Labels: Client, Storage

#8217 Update documentation link in CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys

#8228 [Storage] Rename QueueClient.MaxMessagesPeek to MaxPeekableMessages
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
Labels: Client, Storage

#8214 Azure.Identity updates addressing API review feedback with breaking changes.
  sdk/core/Microsoft.Extensions.Azure/samples/Properties/launchSettings.json
  sdk/core/Microsoft.Extensions.Azure/src/Internal/ClientFactory.cs
  sdk/identity/Azure.Identity/src/AadIdentityClient.cs
  sdk/identity/Azure.Identity/src/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/DeviceCodeInfo.cs
  sdk/identity/Azure.Identity/src/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Properties/AssemblyInfo.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/src/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/tests/AuthorizationCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityClientTests.cs
  sdk/identity/Azure.Identity/tests/Mock/AadIdentityClientTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample02_Auth.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample02_Auth.cs
Labels: breaking-change

#8245 [Microsoft.Azure.ServiceBus] - Updating changelog for 4.1.0 version
  sdk/servicebus/Microsoft.Azure.ServiceBus/changelog.md
Labels: Service Bus

#8206 Remove StorageRequestFailedException
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blob/src/BlobPartitionManager.cs
  sdk/storage/Azure.Storage.Blobs.Batching/README.md
  sdk/storage/Azure.Storage.Blobs.Batching/src/BatchErrors.cs
  sdk/storage/Azure.Storage.Blobs.Batching/src/BlobBatchClient.cs
  sdk/storage/Azure.Storage.Blobs.Batching/tests/BlobBatchClientTests.cs
  sdk/storage/Azure.Storage.Blobs.Cryptography/README.md
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample02_Auth.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample03a_Batching.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample03b_BatchingAsync.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/LeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Common/README.md
  sdk/storage/Azure.Storage.Common/src/Errors.cs
  sdk/storage/Azure.Storage.Common/src/StorageRequestFailedExceptionHelpers.cs
  sdk/storage/Azure.Storage.Common/tests/StorageRequestFailedExceptionTests.cs
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyCredentialsTests.cs
  sdk/storage/Azure.Storage.Common/tests/UtilityTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/README.md
  sdk/storage/Azure.Storage.Files/README.md
  sdk/storage/Azure.Storage.Files/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Files/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Files/samples/Sample02_Auth.cs
  sdk/storage/Azure.Storage.Files/src/DirectoryClient.cs
  sdk/storage/Azure.Storage.Files/src/FileClient.cs
  sdk/storage/Azure.Storage.Files/src/FileServiceClient.cs
  sdk/storage/Azure.Storage.Files/src/Models/FailureNoContent.cs
  sdk/storage/Azure.Storage.Files/src/Models/StorageError.cs
  sdk/storage/Azure.Storage.Files/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Queues.Cryptography/README.md
  sdk/storage/Azure.Storage.Queues/README.md
  sdk/storage/Azure.Storage.Queues/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample02_Auth.cs
  sdk/storage/Azure.Storage.Queues/src/StorageRequestFailedException.cs
  sdk/storage/Azure.Storage.Queues/tests/MessageClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/MessageIdClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ServiceClientTests.cs
Labels: breaking-change

#8240 [Storage] Remove `Header` from Files
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files/src/Models/StorageFileProperties.cs
  sdk/storage/Azure.Storage.Files/swagger/readme.md
Labels: Client, Storage

#8224 [Event Hubs Client] Track Two: Fifth Preview (Event Data as Stream)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventDataTests.cs
Labels: Client, Event Hubs

#8293 [Event Hubs Client] Track Two: Fifth Preview (Telemetry Properties)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ClientLibraryInformation.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/ClientLibraryInformationTests.cs
Labels: Client, Event Hubs

#8257 [Event Hubs Client] Track Two: Fifth Preview (Immutable LastEnqueuedEventProperties)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/LastEnqueuedEventProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerTests.cs
Labels: Client, Event Hubs

#8276 Storage: Rename to DownloadTo and use string instead of FileInfo
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
Labels: breaking-change

#8277 Remove WithCPK and thread options down the hierarchy
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/EncryptedBlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/TestExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestExtensions.cs
Labels: breaking-change

#8141 SDK changes for swagger update to support AutomaticRepairsPolicy for Virtual Machine Scale Sets
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AutomaticRepairsPolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ScaleInPolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetScaleInRules.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateNetworkProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_AutomaticRepairsPolicyTest.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetTestsBase.cs
Labels: Mgmt, needs-revision

#7808 Refreshing SQL ManagedDatabase SDK.
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedDatabaseRestoreDetailsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedDatabasesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ISqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabaseRestoreDetailsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabaseRestoreDetailsOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabasesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedDatabasesOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabase.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabaseRestoreDetailsResult.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabaseStatus.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedDatabaseUpdate.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SdkInfo_SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedDatabaseRestoreScenarioTests.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedDatabaseRestoreScenarioTests/ManagedDatabaseExternalBackupRestoreTest.json
Labels: Mgmt, needs-revision

#8321 AmqpEventHubClient, included the scope potentially needed to authenticate
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventHubClient.cs
Labels: Client, Event Hubs

#8328 [Storage] Rename LeaseClient to BlobLeaseClient
  sdk/storage/Azure.Storage.Blobs/src/BlobLeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Constants.cs
  sdk/storage/Azure.Storage.Common/tests/UtilityTests.cs
Labels: Client, Storage

#8341 [Event Hubs Blobs Checkpoint Store] Preview 5 (Fix Storage Use)
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/src/BlobPartitionManager.cs
Labels: Client, Event Hubs

#8258 Unified Pipelines
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/ci.yml
  sdk/template/Azure.Template/src/Azure.Template.csproj
  sdk/template/ci.yml
Labels: EngSys

#8268 Enable application insights for unified pipelines.
  sdk/applicationinsights/Microsoft.Azure.ApplicationInsights/src/Microsoft.Azure.ApplicationInsights.Query.csproj
  sdk/applicationinsights/ci.yml
Labels: EngSys

#8274 Configuration for keyvault in unified pipelines.
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/ci.yml
Labels: EngSys

#8272 Enable identity for unified pipelines.
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/ci.yml
Labels: EngSys

#8271 Enable app configuration for unified pipelines.
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/ci.yml
Labels: EngSys

#8273 Enable event hubs for unified pipelines.
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/src/Azure.Messaging.EventHubs.CheckpointStore.Blobs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/ci.yml
Labels: EngSys

#8369 Fix up versions for universal pipelines
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/src/Azure.Messaging.EventHubs.CheckpointStore.Blobs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: EngSys

#7482 SDK and tests for hybrid RP
  eng/mgmt/mgmtmetadata/hybridcompute_resource-manager.txt
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/AzSdk.RP.props
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/Microsoft.Azure.Management.HybridCompute.sln
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/Properties/AssemblyInfo.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/HybridComputeManagementClient.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/IHybridComputeManagementClient.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/IMachineExtensionsOperations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/IMachinesOperations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/IOperations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/MachineExtensionsOperations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/MachineExtensionsOperationsExtensions.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/MachinesOperations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/MachinesOperationsExtensions.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/ErrorDetail.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/ErrorResponse.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/ErrorResponseException.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/InstanceViewTypes.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/Machine.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/MachineExtension.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/MachineExtensionInstanceView.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/MachineExtensionInstanceViewStatus.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/MachineExtensionUpdate.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/MachineReconnect.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/MachineUpdate.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/OSProfile.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/OperationValue.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/Page.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/Page1.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/Resource.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/StatusLevelTypes.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/StatusTypes.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Models/UpdateResource.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/Operations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/OperationsExtensions.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Microsoft.Azure.Management.HybridCompute.csproj
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/generate.ps1
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/Helpers/HybridComputeHelper.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/HybridOperationsTest.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/Microsoft.Azure.Management.HybridCompute.Tests.csproj
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/SessionRecords/Microsoft.Azure.Management.HybridCompute.Tests.HybridOperationsTest/DeleteMachine.json
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/SessionRecords/Microsoft.Azure.Management.HybridCompute.Tests.HybridOperationsTest/GetMachine.json
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/SessionRecords/Microsoft.Azure.Management.HybridCompute.Tests.HybridOperationsTest/GetMachineAsync.json
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/SessionRecords/Microsoft.Azure.Management.HybridCompute.Tests.HybridOperationsTest/ListByResourceGroup.json
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests/SessionRecords/Microsoft.Azure.Management.HybridCompute.Tests.HybridOperationsTest/ListBySubscription.json
Labels: Mgmt, needs-revision

#8370 [Compute] Changing ResourceIdentity to EncryptionSetIdentity
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskEncryptionSet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/EncryptionSetIdentity.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPTestsBase.cs
Labels: needs-review

#8367 Update swagger_to_sdk_config.json
  swagger_to_sdk_config.json
Labels: Mgmt-EngSys, Waiting for CI :shipit:

#8265 Setup container registry API for unified pipelines.
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Microsoft.Azure.ContainerRegistry.csproj
  sdk/containerregistry/ci.yml
Labels: EngSys

#8365 [Storage] Add headers and query parameters lists on default client options
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Common/src/StorageClientOptions.cs
  sdk/storage/Azure.Storage.Files/src/FileClientOptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
Labels: Client, Storage

#8442 Fix extensible enum tests after field->property change
  sdk/core/Azure.Core/Azure.Core.All.sln
  sdk/core/Azure.Core/tests/EnumValuesAttributeTests.cs
  sdk/core/Azure.Core/tests/FieldsAttributeTests.cs
  sdk/core/Azure.Core/tests/TestFramework/EnumValuesAttribute.cs
  sdk/core/Azure.Core/tests/TestFramework/FieldsAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
Labels: Azure.Core, Client, KeyVault

#8449 [ServiceBus] Ignore OperationCanceledException while closing Message Pump
  sdk/servicebus/Microsoft.Azure.ServiceBus/changelog.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#8457 [Storage]: Use null instead of empty dictionary when metadata wasn't requested
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
Labels: Client, Storage

#8368 Setup unified pipelines for storage.
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.Cryptography/src/Azure.Storage.Blobs.Cryptography.csproj
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files/src/Azure.Storage.Files.csproj
  sdk/storage/Azure.Storage.Queues.Cryptography/src/Azure.Storage.Queues.Cryptography.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Directory.Build.props
  sdk/storage/ci.yml
Labels: EngSys

#8260 Enable unified pipelines for operational insights.
  sdk/operationalinsights/Microsoft.Azure.OperationalInsights/src/Microsoft.Azure.OperationalInsights.csproj
  sdk/operationalinsights/ci.yml
Labels: EngSys

#8261 Enable HDInsight for unified pipelines.
  sdk/hdinsight/Microsoft.Azure.HDInsight.Job/src/Microsoft.Azure.HDInsight.Job.csproj
  sdk/hdinsight/ci.yml
Labels: EngSys

#8262 Enable graph RBAC for unified pipelines.
  sdk/graphrbac/Microsoft.Azure.Graph.RBAC/src/Microsoft.Azure.Graph.RBAC.csproj
  sdk/graphrbac/ci.yml
Labels: EngSys

#8270 Enable search for unified pipelines.
  sdk/search/Directory.Build.props
  sdk/search/Microsoft.Azure.Search.Common/src/Microsoft.Azure.Search.Common.csproj
  sdk/search/Microsoft.Azure.Search.Data/src/Microsoft.Azure.Search.Data.csproj
  sdk/search/Microsoft.Azure.Search.Service/src/Microsoft.Azure.Search.Service.csproj
  sdk/search/Microsoft.Azure.Search/src/Microsoft.Azure.Search.csproj
  sdk/search/ci.yml
Labels: EngSys

#8263 Enable unified pipelines for event grid.
  sdk/eventgrid/Microsoft.Azure.EventGrid/src/Microsoft.Azure.EventGrid.csproj
  sdk/eventgrid/ci.yml
Labels: EngSys

#8269 Enable unified pipelines for service bus.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
  sdk/servicebus/ci.yml
Labels: EngSys

#8267 Enable batch for unified pipelines.
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/Microsoft.Azure.Batch.Conventions.Files.csproj
  sdk/batch/Microsoft.Azure.Batch.FileStaging/src/Microsoft.Azure.Batch.FileStaging.csproj
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/ci.yml
Labels: EngSys

#8266 Enable unified pipelines for cog services.
  sdk/cognitiveservices/AnomalyDetector/src/Microsoft.Azure.CognitiveServices.AnomalyDetector.csproj
  sdk/cognitiveservices/FormRecognizer/src/Microsoft.Azure.CognitiveServices.Vision.FormRecognizer.csproj
  sdk/cognitiveservices/InkRecognizer.UWP.Stroke/src/Azure.AI.InkRecognizer.UWP.Stroke.csproj
  sdk/cognitiveservices/InkRecognizer.WPF.Stroke/src/Azure.AI.InkRecognizer.WPF.Stroke.csproj
  sdk/cognitiveservices/InkRecognizer/src/Azure.AI.InkRecognizer.csproj
  sdk/cognitiveservices/Knowledge.QnAMaker/src/Microsoft.Azure.CognitiveServices.Knowledge.QnAMaker.csproj
  sdk/cognitiveservices/Language.LUIS.Authoring/src/Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.csproj
  sdk/cognitiveservices/Language.LUIS.Runtime/src/Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime.csproj
  sdk/cognitiveservices/Language.SpellCheck/src/Microsoft.Azure.CognitiveServices.Language.SpellCheck.csproj
  sdk/cognitiveservices/Language.TextAnalytics/src/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.csproj
  sdk/cognitiveservices/Personalizer/src/Microsoft.Azure.CognitiveServices.Personalizer.csproj
  sdk/cognitiveservices/Search.BingAutoSuggest/src/Microsoft.Azure.CognitiveServices.Search.BingAutoSuggest.csproj
  sdk/cognitiveservices/Search.BingCustomImageSearch/src/Microsoft.Azure.CognitiveServices.Search.BingCustomImageSearch.csproj
  sdk/cognitiveservices/Search.BingCustomSearch/src/Microsoft.Azure.CognitiveServices.Search.BingCustomSearch.csproj
  sdk/cognitiveservices/Search.BingEntitySearch/src/Microsoft.Azure.CognitiveServices.Search.BingEntitySearch.csproj
  sdk/cognitiveservices/Search.BingImageSearch/src/Microsoft.Azure.CognitiveServices.Search.BingImageSearch.csproj
  sdk/cognitiveservices/Search.BingLocalSearch/src/Microsoft.Azure.CognitiveServices.Search.BingLocalSearch.csproj
  sdk/cognitiveservices/Search.BingNewsSearch/src/Microsoft.Azure.CognitiveServices.Search.BingNewsSearch.csproj
  sdk/cognitiveservices/Search.BingVideoSearch/src/Microsoft.Azure.CognitiveServices.Search.BingVideoSearch.csproj
  sdk/cognitiveservices/Search.BingVisualSearch/src/Microsoft.Azure.CognitiveServices.Search.BingVisualSearch.csproj
  sdk/cognitiveservices/Search.BingWebSearch/src/Microsoft.Azure.CognitiveServices.Search.BingWebSearch.csproj
  sdk/cognitiveservices/Vision.ComputerVision/src/Microsoft.Azure.CognitiveServices.Vision.ComputerVision.csproj
  sdk/cognitiveservices/Vision.ContentModerator/src/Microsoft.Azure.CognitiveServices.Vision.ContentModerator.csproj
  sdk/cognitiveservices/Vision.CustomVision.Prediction/src/Microsoft.Azure.CognitiveServices.Vision.CustomVision.Prediction.csproj
  sdk/cognitiveservices/Vision.CustomVision.Training/src/Microsoft.Azure.CognitiveServices.Vision.CustomVision.Training.csproj
  sdk/cognitiveservices/Vision.Face/src/Microsoft.Azure.CognitiveServices.Vision.Face.csproj
  sdk/cognitiveservices/ci.yml
Labels: EngSys

#8362 [EventHubs] Fifth Preview: public API changes (remove Partition Processor)
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/src/BlobPartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/tests/BlobPartitionManager/BlobPartitionManagerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/tests/Infrastructure/PartitionOwnershipExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/DiagnosticProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/BasePartitionProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorTests.cs
Labels: Client, Event Hubs

#8474 Change versions of Azure.Core and Azure.Identity to 1.0.0!
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: EngSys

#8495 Remove Apis
  eng/mgmt/mgmtmetadata/hybridcompute_resource-manager.txt
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/HybridComputeManagementClient.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/IHybridComputeManagementClient.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/IMachineExtensionsOperations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/MachineExtensionsOperations.cs
  sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/src/Generated/MachineExtensionsOperationsExtensions.cs
Labels: Mgmt, needs-revision

#8529 Rename Batching -> Batch in README
  sdk/storage/Azure.Storage.Blobs.Batch/README.md
Labels: Client, Storage

#8427 Fix for fabriclocation model update plus other miner renaming
  eng/mgmt/mgmtmetadata/azsadmin_resource-manager_fabric.txt
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/src/Generated/IScaleUnitsOperations.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/src/Generated/Models/FabricLocation.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/src/Generated/ScaleUnitsOperations.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/src/Generated/ScaleUnitsOperationsExtensions.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/src/Microsoft.AzureStack.Management.Fabric.Admin.csproj
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/src/Properties/AssemblyInfo.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/tests/Microsoft.AzureStack.Management.Fabric.Tests.csproj
Labels: Mgmt, needs-revision

#8532 [Event Hubs Client] Track Two: Fifth Preview (Client Builder Extensions)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/EventHubClientBuilderExtensions.cs
Labels: Client, Event Hubs

#8541 Keep token refresh interval under max allowed
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/ActiveClientLinkManager.cs
Labels: Client, Event Hubs

#8528 [Event Hubs Client] Track Two: Fifth Preview (Documentation Updates)
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_PublishAnEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_PublishEventsToSpecificPartitions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ConsumeEventsWithMaximumWaitTime.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_ConsumeEventsWithEventProcessor.cs
Labels: Client, Event Hubs
