Repository Azure/azure-sdk-for-net, pull requests merged in 2019-07, with the labels that each got.

#6765 [Event Hubs Client] Track Two: First Preview (Addopt Track One)
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Resources.Designer.cs
Labels: Client, Event Hubs

#6706 Support single role restore for Azure Stack infrastructure backup
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Generated/Models/Backup.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Generated/Models/RestoreOptions.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Generated/SdkInfo_BackupAdminClient.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Microsoft.AzureStack.Management.Backup.Admin.csproj
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/src/Properties/AssemblyInfo.cs
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/tests/SessionRecords/BackupAdminClient/TestRestoreBackup.json
  sdk/azurestack/Microsoft.AzureStack.Management.Backup.Admin/tests/src/BackupTests.cs
Labels: Changes Requested

#6776 [Event Hubs Client] Track Two: Second Preview (Small Fixes)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#6483 Fixes session pump stop when auto-renew lock task expires
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionReceivePump.cs
Labels: Bug, Client, Service Bus, customer-reported

#6728 [Event Hubs Client] Track Two: First Preview (Extra Live Tests)
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
Labels: Client, Event Hubs

#6809 Apply build tag to nightlies
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#6368 Update Contributing.md doc
  CONTRIBUTING.md
  README.md
Labels: EngSys

#6544 Separate options from policies
  eng/Directory.Build.Data.props
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/samples/Sample6_ConfiguringRetries.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/samples/Sample7_ConfiguringPipeline.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/tests/ConfigurationMockTests.cs
  sdk/core/Azure.Core/src/Pipeline/DiagnosticsOptions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineOptions.cs
  sdk/core/Azure.Core/src/Pipeline/Policies/RetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Policies/TelemetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryOptions.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/PipelineTests.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/TelemetryPolicyTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Common/src/StorageClientOptions.cs
  sdk/storage/Azure.Storage.Files/tests/FileTestBase.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
Labels: breaking-change

#6829 Use InformationVersion and assembly name for telemetry
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/Properties/AssemblyInfo.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/tests/ConfigurationMockTests.cs
  sdk/core/Azure.Core/src/AzureSdkComponentAttribute.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Properties/AssemblyInfo.cs
  sdk/identity/Azure.Identity/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Properties/AssemblyInfo.cs
  sdk/storage/Azure.Storage.Blobs/src/AssemblyInfo.cs
  sdk/storage/Azure.Storage.Files/src/AssemblyInfo.cs
  sdk/storage/Azure.Storage.Queues/src/AssemblyInfo.cs
Labels: breaking-change

#6830 Make default policy types private
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/samples/Sample6_ConfiguringRetries.cs
  sdk/core/Azure.Core/src/Pipeline/Policies/BufferResponsePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Policies/ClientRequestIdPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Policies/LoggingPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Policies/RetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryMode.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
Labels: breaking-change

#6750 Remove common authority and bump up the packaging/assembly versions.
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/Microsoft.Azure.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/AzureActiveDirectoryTokenProvider.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/TokenProvider.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/TokenProviderTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTestBase.cs
Labels: Client, Event Hubs

#6485 Fix session pump stops on some exceptions
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionReceivePump.cs
Labels: Bug, Client, Service Bus, breaking-change, customer-reported

#6832 Convert HttpClientMethod to a string-holding struct
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/AuthenticationPolicy.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/tests/ConfigurationMockTests.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpMethodConverter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineMethod.cs
  sdk/core/Azure.Core/src/Pipeline/RequestMethod.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/tests/EventSourceTests.cs
  sdk/core/Azure.Core/tests/HttpClientTransportTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/PipelineTests.cs
  sdk/core/Azure.Core/tests/PolicyTestBase.cs
  sdk/core/Azure.Core/tests/RecordedTestTests.cs
  sdk/core/Azure.Core/tests/RequestMethodTests.cs
  sdk/core/Azure.Core/tests/RetriableStreamTests.cs
  sdk/core/Azure.Core/tests/TestFramework/RecordEntry.cs
  sdk/core/Azure.Core/tests/TestFramework/SyncAsyncPolicyTestBase.cs
  sdk/core/Azure.Core/tests/samples/Sample1_HelloWorld.cs
  sdk/identity/Azure.Identity/src/AadIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient_private.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
Labels: breaking-change

#6545 Remove explicit offloading in TaskExtensionHelper
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/TaskExtensionHelper.cs
Labels: Client, Service Bus

#6804 Unblock message pump while receiving message
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs
Labels: Client, Service Bus

#6568 Bump to PublicApiApprover 9.1
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/APIApprovals.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
Labels: Service Bus

#6838 Rename HttpPipelineUriBuilder and make ContentTypeUtilities shared source
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/ConfigurationClient_private.cs
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/tests/ConfigurationSettingTests.cs
  sdk/core/Azure.Core/src/HttpPipelineUriBuilder.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/Shared/ContentTypeUtilities.cs
  sdk/core/Azure.Core/tests/RequestUriBuilderTest.cs
  sdk/core/Azure.Core/tests/TestFramework.props
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient_private.cs
Labels: breaking-change

#6852 Add null check
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Page.cs
Labels: Client, KeyVault

#6824 [EventHubs] LastEnqueuedOffset partition property changed from 'string' to 'int'
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
Labels: Client, Event Hubs

#6825 [EventHubs] Replace DateTime by DateTimeOffset
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample1_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample2_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneGenericTokenProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneSharedAccessSignatureToken.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/MessagePropertyName.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/EventHubProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubSharedKeyCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneGenericTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneGenericTokenTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneSharedAccessSignatureTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneSharedAccessTokenTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
Labels: Client, Event Hubs

#6843 Rename Request to HttpRequest
  sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/ConfigurationClient.cs
  sdk/core/Azure.Core/src/Diagnostics/HttpPipelineEventSource.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestHeaders.cs
  sdk/core/Azure.Core/tests/EventSourceTests.cs
  sdk/core/Azure.Core/tests/HttpClientTransportFunctionalTests.cs
  sdk/core/Azure.Core/tests/HttpClientTransportTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/PipelineTestBase.cs
  sdk/core/Azure.Core/tests/PolicyTestBase.cs
  sdk/core/Azure.Core/tests/RetriableStreamTests.cs
  sdk/core/Azure.Core/tests/TestFramework/MockRequest.cs
  sdk/core/Azure.Core/tests/TestFramework/Mocks.cs
  sdk/core/Azure.Core/tests/TestFramework/PlaybackTransport.cs
  sdk/core/Azure.Core/tests/TestFramework/RecordMatcher.cs
  sdk/core/Azure.Core/tests/TestFramework/RecordSession.cs
  sdk/core/Azure.Core/tests/TestFramework/RecordTransport.cs
  sdk/core/Azure.Core/tests/TestFramework/SyncAsyncPolicyTestBase.cs
  sdk/identity/Azure.Identity/src/AadIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient_private.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
Labels: breaking-change

#6861 [Event Hubs Client] Track Two: Second Preview (Minor Doc Updates)
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-event-hubs-second-preview.md
Labels: Client, Event Hubs

#6864 [Engineering System] Identity Model Version Updates
  eng/Packages.Data.props
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTestCommon/Microsoft.Azure.Batch.IntegrationTestCommon.csproj
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/Microsoft.Azure.Batch.Integration.Tests.csproj
  sdk/batch/Microsoft.Azure.Batch/tests/TestCommon/Microsoft.Azure.Batch.Common.csproj
  sdk/batch/Microsoft.Azure.Batch/tests/UnitTests/Microsoft.Azure.Batch.Unit.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Azure.Messaging.EventHubs.TrackOne.csproj
  sdk/keyvault/Microsoft.Azure.KeyVault.Extensions/tests/Microsoft.Azure.KeyVault.Extensions.Tests.csproj
  sdk/keyvault/Microsoft.Azure.KeyVault/tests/Microsoft.Azure.KeyVault.Tests.csproj
Labels: Batch, Client, Event Hubs, KeyVault

#6877 add CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys

#6876 [Event Hubs Client] Track Two: Second Preview (Exceptions)
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-event-hubs-second-preview.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/ConsumerDisconnectedException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsCommunicationException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsResourceNotFoundException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsTimeoutException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/MessageSizeExceededException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/QuotaExceededException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/ServiceBusyException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/Primitives/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneExceptionExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Errors/EventHubsExceptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
Labels: Client, Event Hubs

#6882 update CODEOWNERS links to point to sync documentation
  .github/CODEOWNERS
Labels: EngSys

#6940 Throw ServiceBusCommunicationException when session is being created at the same time when connection is being closed.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpExceptionHelper.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpLinkCreator.cs
Labels: Service Bus

#6942 Throwing communicationException when it is connectionError
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpExceptionHelper.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs
Labels: Service Bus

#6919 Ensure that when AcceptMessageSession times out, it doesnt report it as Exception in AppInsights (DiagnosticSource)
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionClient.cs
Labels: Service Bus

#6920 Bugfix - Ensure client side timeouts are honored
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpLinkCreator.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/TimeoutHelper.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/RetryPolicy.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusConnection.cs
Labels: Service Bus

#6951 Updating xmldoc - remarks on MessageHandlerOptions.MaxAutoRenewDuration
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageHandlerOptions.cs
Labels: Service Bus

#6941 Ensuring "Path" returns the right destination in the case of via-sender
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageSender.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/MessageSenderTests.cs
Labels: Service Bus

#6913 [EventHubs] Track Two: Second Preview (Diagnostics Tests)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample7_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventDataSender.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/TrackOneClient/EventHubsDiagnosticSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneComparerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumer/EventHubConsumerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventDataExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/FakeDiagnosticListener.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
Labels: Client, Event Hubs

#6647 Text Analytics SDK v4.0.0 - New project structure
  sdk/cognitiveservices/Language.TextAnalytics/src/Customizations/TextAnalytics/Models/LanguageInput.cs
  sdk/cognitiveservices/Language.TextAnalytics/src/Customizations/TextAnalytics/Models/MultiLanguageInput.cs
  sdk/cognitiveservices/Language.TextAnalytics/src/Customizations/TextAnalytics/TextAnalyticsClientExtensions.cs
  sdk/cognitiveservices/Language.TextAnalytics/src/Generated/TextAnalytics/TextAnalyticsClientExtensions.cs
  sdk/cognitiveservices/Language.TextAnalytics/src/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.csproj
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.DetectLanguageTests/DetectLanguageAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.DetectLanguageTests/DetectLanguageBatch.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.DetectLanguageTests/LanguageBatchAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.EntitiesTests/EntitiesAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.EntitiesTests/EntitiesBatch.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.EntitiesTests/EntitiesBatchAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.KeyPhrasesTests/KeyPhrasesAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.KeyPhrasesTests/KeyPhrasesBatch.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.KeyPhrasesTests/KeyPhrasesBatchAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.SentimentTests/SentimentAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.SentimentTests/SentimentBatch.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.SentimentTests/SentimentBatchAsync.json
  sdk/cognitiveservices/Language.TextAnalytics/tests/TextAnalytics/DetectLanguageTests.cs
  sdk/cognitiveservices/Language.TextAnalytics/tests/TextAnalytics/EntitiesTests.cs
  sdk/cognitiveservices/Language.TextAnalytics/tests/TextAnalytics/KeyPhrasesTests.cs
  sdk/cognitiveservices/Language.TextAnalytics/tests/TextAnalytics/SentimentTests.cs
Labels: Changes Requested

#7025 [Event Hubs Client] Track Two: Second Preview (Spelling, Formatting, Minor Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/TrackOneEventHubProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/TypeExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubTokenCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneEventHubConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneGenericTokenTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Compatibility/TrackOneRetryPolicyTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubClient/EventHubClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducer/EventHubProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
Labels: Client, Event Hubs

#6577 Expiring set lock free
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/ConcurrentExpiringSet.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Primitives/ConcurrentExpiringSetTests.cs
Labels: Service Bus

#7053 Ensure if link has been authorized for a time less than TokenRefreshBuffer, it doesn't lead to unexpected errors.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/ActiveClientLinkManager.cs
Labels: Service Bus
