Repository Azure/azure-sdk-for-net, pull requests merged in 2019-03, with the labels that each got.

#5242 [AzConfig] Improve key/value comparison
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.Configuration.Tests/ConfigurationMockTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.Configuration/ConfigurationSetting.cs
Labels: Azure.ApplicationModel.Configuration, Client

#5289 Use package references or project references
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.Configuration.Tests/Azure.Configuration.Tests.csproj
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.Configuration/Azure.Configuration.csproj
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.Configuration/ConfigurationClient.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/README.md
Labels: Azure.ApplicationModel.Configuration, Client

#5284 Users/laramume/tav2.1
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/BaseTests.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.DetectLanguageTests/DetectLanguage.json
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.EntitiesTests/Entities.json
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.KeyPhrasesTests/KeyPhrases.json
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/SessionRecords/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Tests.SentimentTests/Sentiment.json
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/TextAnalytics/DetectLanguageTests.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/TextAnalytics/EntitiesTests.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/TextAnalytics/KeyPhrasesTests.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics.Tests/TextAnalytics/SentimentTests.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/ITextAnalyticsClient.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/DocumentStatistics.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/EntitiesBatchResult.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/EntitiesBatchResultItem.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/EntityRecord.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/Input.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/KeyPhraseBatchResultItem.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/LanguageBatchInput.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/LanguageBatchResult.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/LanguageBatchResultItem.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/LanguageInput.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/MatchRecord.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/RequestStatistics.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/SentimentBatchResult.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/Models/SentimentBatchResultItem.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/SdkInfo_TextAnalyticsClient.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/TextAnalyticsClient.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Generated/TextAnalytics/TextAnalyticsClientExtensions.cs
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Microsoft.Azure.CognitiveServices.Language.TextAnalytics.csproj
  src/SDKs/CognitiveServices/dataPlane/Language/TextAnalytics/TextAnalytics/Properties/AssemblyInfo.cs
  src/SDKs/_metadata/cognitiveservices_data-plane_TextAnalytics.txt
Labels: Changes Requested

#5313 Change package name to `Azure.ApplicationModel.Configuration`
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/Azure.Configuration.Tests.csproj
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationMockTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationWatcherTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/MockHttpClientTransport.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/Readme.md
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/samples/Sample1_HelloWorld.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/samples/Sample4_Logging.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/samples/Sample5_Watcher.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/samples/Sample6_ConfiguringRetries.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/samples/Sample7_ConfiguringPipeline.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.sln
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/Azure.Configuration.csproj
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient_private.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSetting.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSettingParser.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationWatcher.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/Options.cs
Labels: Azure.ApplicationModel.Configuration, Client

#5304 [AppConfig] Add documentation to SDK
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/Readme.md
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/README.md
Labels: Azure.ApplicationModel.Configuration, Client

#5370 Fix Readme broken links
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/README.md
Labels: Azure.ApplicationModel.Configuration, Client

#5432 [Service Bus Client] Review and Clean Local Assets (#5354)
  src/SDKs/ServiceBus/data-plane/.gitignore
  src/SDKs/ServiceBus/data-plane/README.md
  src/SDKs/ServiceBus/data-plane/assets/azure-deploy-test-dependencies.json
  src/SDKs/ServiceBus/data-plane/assets/service-bus.png
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/API/APIApprovals.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageInterop/MessageInteropEnd2EndTests.cs
  src/SDKs/ServiceBus/data-plane/thirdpartynotice.txt
Labels: Client, Service Bus

#5445 [Service Bus Client] Enhance Readme (#5349)
  src/SDKs/ServiceBus/data-plane/README.md
  src/SDKs/ServiceBus/data-plane/assets/service-bus.png
Labels: Client, Service Bus

#5424 Azure Managed Services RP .net SDK
  src/SDKs/ManagedServices/AzSdk.RP.props
  src/SDKs/ManagedServices/ManagedServices.Test/AssemblyInfo.cs
  src/SDKs/ManagedServices/ManagedServices.Test/Helpers/ManagedServicesTestBase.cs
  src/SDKs/ManagedServices/ManagedServices.Test/Helpers/ManagedServicesTestUtilities.cs
  src/SDKs/ManagedServices/ManagedServices.Test/ManagedServices.Test.csproj
  src/SDKs/ManagedServices/ManagedServices.Test/ScenarioTests/RegistrationAssignmentTests.cs
  src/SDKs/ManagedServices/ManagedServices.Test/ScenarioTests/RegistrationDefintionTests.cs
  src/SDKs/ManagedServices/ManagedServices.Test/SessionRecords/ManagedServices.Tests.ScenarioTests.RegistrationAssignmentTests/RegistrationAssignmentTests_CRUD.json
  src/SDKs/ManagedServices/ManagedServices.Test/SessionRecords/ManagedServices.Tests.ScenarioTests.RegistrationDefintionTests/RegistrationDefintionTests_CRUD.json
  src/SDKs/ManagedServices/ManagedServices.sln
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/IManagedServicesClient.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/IOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/IRegistrationAssignmentsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/IRegistrationDefinitionsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/ManagedServicesClient.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/Authorization.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/ErrorResponse.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/ErrorResponseError.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/ErrorResponseException.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/Operation.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/OperationDisplay.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/OperationList.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/Page.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/Plan.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/ProvisioningState.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationAssignment.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationAssignmentProperties.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationAssignmentPropertiesRegistrationDefinition.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationAssignmentPropertiesRegistrationDefinitionProperties.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationDefinition.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationDefinitionProperties.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Operations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/OperationsExtensions.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationAssignmentsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationAssignmentsOperationsExtensions.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationDefinitionsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationDefinitionsOperationsExtensions.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/SdkInfo_ManagedServicesClient.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Microsoft.Azure.Management.ManagedServices.csproj
  src/SDKs/ManagedServices/Management.ManagedServices/Properties/AssemblyInfo.cs
  src/SDKs/_metadata/managedservices_resource-manager.txt
Labels: Changes Requested, spec-not-merged

#5469 Change ETag type
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/MockHttpClientTransport.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSetting.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSettingParser.cs
Labels: Azure.ApplicationModel.Configuration, Client

#5494 Nullable types for Locked and LastModified
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationMockTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/MockHttpClientTransport.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSetting.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSettingParser.cs
Labels: Azure.ApplicationModel.Configuration, Client

#5421 Updating Blueprint SDK to use latest swagger (doc updates + RG tagging + lock mode change)
  src/SDKs/Blueprint/Management.Blueprint/Customizations/Constants.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/ArtifactsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/ArtifactsOperationsExtensions.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/AssignmentOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/AssignmentOperationsExtensions.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/AssignmentsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/AssignmentsOperationsExtensions.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/BlueprintManagementClient.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/BlueprintsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/BlueprintsOperationsExtensions.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/IArtifactsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/IAssignmentOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/IAssignmentsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/IBlueprintManagementClient.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/IBlueprintsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/IPublishedArtifactsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/IPublishedBlueprintsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/Artifact.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/Assignment.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/AssignmentDeploymentJob.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/AssignmentLockMode.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/AssignmentLockSettings.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/AssignmentOperation.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/AssignmentStatus.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/BlueprintModel.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/BlueprintResourceStatusBase.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/BlueprintStatus.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/KeyVaultReference.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ManagedServiceIdentity.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ParameterDefinition.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ParameterValue.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ParameterValueBase.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/PolicyAssignmentArtifact.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/PublishedBlueprint.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ResourceGroupDefinition.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ResourceGroupValue.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ResourceProviderOperation.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/ResourceProviderOperationList.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/RoleAssignmentArtifact.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/SecretReferenceParameterValue.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/SecretValueReference.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/TemplateArtifact.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/TrackedResource.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/Models/UserAssignedIdentity.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/PublishedArtifactsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/PublishedArtifactsOperationsExtensions.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/PublishedBlueprintsOperations.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/PublishedBlueprintsOperationsExtensions.cs
  src/SDKs/Blueprint/Management.Blueprint/Generated/SdkInfo_BlueprintManagementClient.cs
  src/SDKs/Blueprint/Management.Blueprint/Microsoft.Azure.Management.Blueprint.csproj
  src/SDKs/Blueprint/Management.Blueprint/Properties/AssemblyInfo.cs
  src/SDKs/_metadata/blueprint_resource-manager.txt
Labels: Changes Requested

#5406 Add support and tests for SSL on custom domains in CDN
  src/SDKs/Cdn/Cdn.Tests/ScenarioTests/CustomDomainTests.cs
  src/SDKs/Cdn/Cdn.Tests/ScenarioTests/ProfileTests.cs
  src/SDKs/Cdn/Cdn.Tests/SessionRecords/Cdn.Tests.ScenarioTests.CustomDomainTests/CustomDomainCRUDTest.json
  src/SDKs/Cdn/Cdn.Tests/SessionRecords/Cdn.Tests.ScenarioTests.ProfileTests/ProfileCheckUsageTest.json
  src/SDKs/Cdn/Cdn.Tests/SessionRecords/Cdn.Tests.ScenarioTests.ProfileTests/ProfileListBySubcriptionTest.json
  src/SDKs/Cdn/Management.Cdn/Generated/CdnManagementClient.cs
  src/SDKs/Cdn/Management.Cdn/Generated/CustomDomainsOperations.cs
  src/SDKs/Cdn/Management.Cdn/Generated/CustomDomainsOperationsExtensions.cs
  src/SDKs/Cdn/Management.Cdn/Generated/ICustomDomainsOperations.cs
  src/SDKs/Cdn/Management.Cdn/Generated/IProfilesOperations.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/CacheExpirationActionParameters.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/CdnCertificateSourceParameters.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/CdnManagedHttpsParameters.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/CertificateType.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/CidrIpAddress.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/CustomDomain.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/CustomDomainHttpsParameters.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/Endpoint.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/EndpointUpdateParameters.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/ErrorResponse.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/KeyVaultCertificateSourceParameters.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/ProtocolType.cs
  src/SDKs/Cdn/Management.Cdn/Generated/Models/UserManagedHttpsParameters.cs
  src/SDKs/Cdn/Management.Cdn/Generated/ProfilesOperations.cs
  src/SDKs/Cdn/Management.Cdn/Generated/ProfilesOperationsExtensions.cs
  src/SDKs/Cdn/Management.Cdn/Microsoft.Azure.Management.Cdn.csproj
  src/SDKs/Cdn/Management.Cdn/Properties/AssemblyInfo.cs
  src/SDKs/_metadata/cdn_resource-manager.txt
Labels: Changes Requested

#5430 Microsoft.DataBoxEdge RP: Correct API comments, correct extended info APIs
  src/SDKs/EdgeGateway/EdgeGateway.Tests/Tests/DeviceTests.cs
  src/SDKs/EdgeGateway/EdgeGateway.Tests/Tests/RoleTests.cs
  src/SDKs/EdgeGateway/EdgeGateway.Tests/Tests/StorageAccountCredentialsTests.cs
  src/SDKs/EdgeGateway/EdgeGateway.Tests/Tests/UserTests.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Customizations/ExtendedClientMethods.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/DevicesOperations.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/DevicesOperationsExtensions.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/IDevicesOperations.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/IOrdersOperations.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/ITriggersOperations.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/Models/DataBoxEdgeDeviceExtendedInfo.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/Models/PeriodicTimerSourceInfo.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/OrdersOperations.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/OrdersOperationsExtensions.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/SdkInfo_DataBoxEdgeManagementClient.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/TriggersOperations.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Generated/TriggersOperationsExtensions.cs
  src/SDKs/EdgeGateway/Management.EdgeGateway/Microsoft.Azure.Management.EdgeGateway.csproj
  src/SDKs/EdgeGateway/Management.EdgeGateway/Properties/AssemblyInfo.cs
  src/SDKs/_metadata/edgegateway_resource-manager.txt
Labels: Changes Requested

#5533 Standardize signatures and clean tests
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationMockTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient_private.cs
Labels: Azure.ApplicationModel.Configuration, Client

#5552 Resolved tests failures due to change in swagger spec
  src/SDKs/ManagedServices/ManagedServices.Test/ManagedServices.Test.csproj
  src/SDKs/ManagedServices/ManagedServices.Tests/AssemblyInfo.cs
  src/SDKs/ManagedServices/ManagedServices.Tests/CRUDTests.cs
  src/SDKs/ManagedServices/ManagedServices.Tests/Helpers/ManagedServicesTestBase.cs
  src/SDKs/ManagedServices/ManagedServices.Tests/Helpers/ManagedServicesTestUtilities.cs
  src/SDKs/ManagedServices/ManagedServices.Tests/ManagedServices.Tests.csproj
  src/SDKs/ManagedServices/ManagedServices.Tests/ScenarioTests/RegistrationAssignmentTests.cs
  src/SDKs/ManagedServices/ManagedServices.Tests/ScenarioTests/RegistrationDefintionTests.cs
  src/SDKs/ManagedServices/ManagedServices.Tests/SessionRecords/ManagedServices.Tests.ScenarioTests.RegistrationAssignmentTests/RegistrationAssignmentTests_CRUD.json
  src/SDKs/ManagedServices/ManagedServices.Tests/SessionRecords/ManagedServices.Tests.ScenarioTests.RegistrationDefintionTests/RegistrationDefintionTests_CRUD.json
  src/SDKs/ManagedServices/ManagedServices.sln
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/IRegistrationAssignmentsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/IRegistrationDefinitionsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/Operation.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationAssignmentPropertiesRegistrationDefinitionProperties.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/Models/RegistrationDefinitionProperties.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationAssignmentsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationAssignmentsOperationsExtensions.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationDefinitionsOperations.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/RegistrationDefinitionsOperationsExtensions.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Generated/SdkInfo_ManagedServicesClient.cs
  src/SDKs/ManagedServices/Management.ManagedServices/Microsoft.Azure.Management.ManagedServices.csproj
  src/SDKs/ManagedServices/Management.ManagedServices/Properties/AssemblyInfo.cs
Labels: Changes Requested

#5597 Live Tests: Stabilization and Resilience (Phase 1)
  .azure-pipelines/client.yml
  src/SDKs/ServiceBus/data-plane/README.md
  src/SDKs/ServiceBus/data-plane/assets/azure-deploy-test-dependencies.json
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/API/ApprovalTestConfig.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/AmqpConverterTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/AssemblyConfiguration/ApprovalTestConfig.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/AssemblyConfiguration/XunitConfig.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/DiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/ExtractActivityTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/QueueClientDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/SessionDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/SubscriptionClientDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/ExpectedMessagingExceptionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure/DisplayTestMethodNameAttribute.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure/ServiceBusScope.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure/TestConstants.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure/TestUtility.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Management/ManagementClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageInterop/MessageInterOpTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageInterop/MessageInteropEnd2EndTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Microsoft.Azure.ServiceBus.Tests.csproj
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnMessageQueueTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnMessageTopicSubscriptionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnSessionQueueTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnSessionTopicSubscriptionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/PluginTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/QueueClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/QueueSessionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/RetryPolicyTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/RetryTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/SenderReceiverTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/ServiceBusConnectionStringBuilderTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/SubscriptionClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TestConstants.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TestSessionHandler.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TokenProviderTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TopicClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TransactionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/WebSocketsEnd2EndTests.cs
Labels: Client, Service Bus

#5619 [Event Hubs Management] Orphaned File Relocation
  src/SDKs/EventHub/Management.EventHub/Generated/Models/DefaultAction.cs
  src/SDKs/EventHub/Management.EventHub/Generated/Models/NWRuleSetIpRules.cs
  src/SDKs/EventHub/Management.EventHub/Generated/Models/NWRuleSetVirtualNetworkRules.cs
  src/SDKs/EventHub/Management.EventHub/Generated/Models/NetworkRuleIPAction.cs
  src/SDKs/EventHub/Management.EventHub/Generated/Models/NetworkRuleSet.cs
  src/SDKs/EventHub/Management.EventHub/Generated/Models/Subnet.cs
Labels: Client, Event Hub

#5529 Fixing tests to use new API versions.
  src/SDKs/ResourceGraph/Management/Management.ResourceGraph/Microsoft.Azure.Management.ResourceGraph.csproj
  src/SDKs/ResourceGraph/Management/Management.ResourceGraph/Properties/AssemblyInfo.cs
  src/SDKs/ResourceGraph/Management/ResourceGraph.Tests/ResourceGraphTests.cs
  src/SDKs/ResourceGraph/Management/ResourceGraph.Tests/SessionRecords/Microsoft.Azure.Management.ResourceGraph.Tests.ResourceGraphTests/ResourcesBasicQueryTest.json
  src/SDKs/ResourceGraph/Management/ResourceGraph.Tests/SessionRecords/Microsoft.Azure.Management.ResourceGraph.Tests.ResourceGraphTests/ResourcesFacetQueryTest.json
  src/SDKs/ResourceGraph/Management/ResourceGraph.Tests/SessionRecords/Microsoft.Azure.Management.ResourceGraph.Tests.ResourceGraphTests/ResourcesMalformedQueryTest.json
  src/SDKs/ResourceGraph/Management/ResourceGraph.Tests/SessionRecords/Microsoft.Azure.Management.ResourceGraph.Tests.ResourceGraphTests/ResourcesQueryOptionsTest.json
Labels: Changes Requested

#5602 AutoPr-Billing-wilcobmsft-REST Spec PrNumber 5486
  src/SDKs/Billing/Management.Billing/Generated/IInvoiceSectionsByBillingAccountNameOperations.cs
  src/SDKs/Billing/Management.Billing/Generated/IInvoiceSectionsOperations.cs
  src/SDKs/Billing/Management.Billing/Generated/IInvoiceSectionsWithCreateSubscriptionPermissionOperations.cs
  src/SDKs/Billing/Management.Billing/Generated/InvoiceSectionsByBillingAccountNameOperations.cs
  src/SDKs/Billing/Management.Billing/Generated/InvoiceSectionsOperations.cs
  src/SDKs/Billing/Management.Billing/Generated/InvoiceSectionsOperationsExtensions.cs
  src/SDKs/Billing/Management.Billing/Generated/InvoiceSectionsWithCreateSubscriptionPermissionOperations.cs
  src/SDKs/Billing/Management.Billing/Generated/Models/InvoiceSectionsByBillingAccountNameListHeaders.cs
  src/SDKs/Billing/Management.Billing/Generated/Models/InvoiceSectionsWithCreateSubscriptionPermissionListHeaders.cs
Labels: spec-not-merged

#5606 Batch and Revision
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/Azure.Configuration.Tests.csproj
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationMockTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/MockHttpClientTransport.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient_private.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSetting.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationSettingParser.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationWatcher.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/Options.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/Properties/AssemblyInfo.cs
Labels: Azure.ApplicationModel.Configuration, Client
