Repository Azure/azure-sdk-for-net, pull requests merged in 2019-04, with the labels that each got.

#5639 Cleaning tests for consistency with other languages + filter tests
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/ConfigurationClient_private.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/Options.cs
Labels: Azure.ApplicationModel.Configuration, Client

#5638 AutoPr-Compute-sds6-REST Spec PrNumber 5515
  src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineScaleSet.cs
Labels: spec-not-merged

#5656 Remove string replace etag hack
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/Azure.Configuration.Tests.csproj
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationMockTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/MockHttpClientTransport.cs
Labels: Azure.ApplicationModel.Configuration, Client

#5696 Moving tests around
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationLiveTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationSettingTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/ConfigurationWatcherTests.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration.Tests/TestEnvironment.cs
  src/SDKs/Azure.ApplicationModel.Configuration/data-plane/Azure.ApplicationModel.Configuration/Azure.Configuration.csproj
Labels: Azure.ApplicationModel.Configuration, Client

#5676 [Service Bus] Live Tests: Stabilization and Resilience (Part 3)
  q
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/API/ApprovalTestConfig.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/AssemblyConfiguration/XunitConfig.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/DiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/FakeDiagnosticListener.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/QueueClientDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/SessionDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/SubscriptionClientDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/ExpectedMessagingExceptionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure.Tests/FakeDiagnosticsListenerTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure.Tests/TaskExtensionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure/ServiceBusScope.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Infrastructure/TaskExtensions.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Management/ManagementClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Microsoft.Azure.ServiceBus.Tests.csproj
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/QueueSessionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/RetryTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/SenderReceiverTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/SubscriptionClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TransactionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/WebSocketsEnd2EndTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/xunit.runner.json
Labels: Client, Service Bus

#5728 [Service Bus Client] Retry Test Stability
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/RetryTests.cs
Labels: Client, Service Bus

#5732 [Service Bus Client] Minor Test Refactorings
  q
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/AmqpConverterTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/DiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/QueueClientDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Diagnostics/SubscriptionClientDiagnosticsTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/ExpectedMessagingExceptionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageInterop/MessageInterOpTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageInterop/MessageInteropEnd2EndTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnMessageQueueTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnMessageTopicSubscriptionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnSessionQueueTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/OnSessionTopicSubscriptionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/PluginTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Primitives/ConcurrentExpiringSetTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/QueueClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/QueueSessionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/RetryTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/SenderReceiverClientTestBase.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/SenderReceiverTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/ServiceBusConnectionStringBuilderTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TokenProviderTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TopicClientTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/TransactionTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/WebSocketsEnd2EndTests.cs
Labels: Client, Service Bus, Test Debt

#5685 [HDInsight] - Update configurations
  src/ResourceManagement/HDInsight/HDInsight.Tests/HDInsight.Tests.csproj
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/CreateClusterTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/DataLakeTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/GetCapabilitiesTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/HttpTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/ListClusterTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/RdpTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/ResizeTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/ScriptActionsOnRunningCluster.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/SessionRecords/HDInsight.Tests.HttpTests/TestHttpGetGatewaySettings.json
  src/ResourceManagement/HDInsight/HDInsight.Tests/SessionRecords/HDInsight.Tests.HttpTests/TestHttpListConfigurationsSettings.json
  src/ResourceManagement/HDInsight/HDInsight.Tests/SessionRecords/HDInsight.Tests.HttpTests/TestHttpUpdateGatewaySettings.json
  src/ResourceManagement/HDInsight/HDInsight.Tests/UnitTests/ClusterCreateDefaultVMTypeTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/UnitTests/ClusterCreateTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/UnitTests/MetastoreTests.cs
  src/ResourceManagement/HDInsight/HDInsight.Tests/UnitTests/StorageAccountTests.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Customizations/ClusterOperations.Http.Customizations.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Generated/ClusterOperations.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Generated/ClusterOperationsExtensions.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Generated/IClusterOperations.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Generated/Models/ClusterConfiguration.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Generated/Models/ClusterListConfigurationsResponse.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/MSSharedLibKey.snk
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Management.HDInsight.csproj
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Properties/AssemblyInfo.cs
Labels: needs-review

#5764 Hyak net core add release notes and deprecated some method
  src/ResourceManagement/HDInsight/HDInsight.Tests/ScenarioTests/CreateClusterTests.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Customizations/ClusterOperationsExtensions.Http.Customizations.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Customizations/IClusterOperations.Customizations.cs
  src/ResourceManagement/HDInsight/Microsoft.Azure.Management.HDInsight/Management.HDInsight.csproj
Labels: needs-review

#5675 AutoPr-IotHub-reshantchandra-REST Spec PrNumber 5544
  src/SDKs/IotHub/AzSdk.RP.props
  src/SDKs/IotHub/Management.IotHub/Generated/IIotHubClient.cs
  src/SDKs/IotHub/Management.IotHub/Generated/IIotHubOperations.cs
  src/SDKs/IotHub/Management.IotHub/Generated/IotHubClient.cs
  src/SDKs/IotHub/Management.IotHub/Generated/IotHubOperations.cs
  src/SDKs/IotHub/Management.IotHub/Generated/IotHubOperationsExtensions.cs
  src/SDKs/IotHub/Management.IotHub/Generated/Models/EnrichmentProperties.cs
  src/SDKs/IotHub/Management.IotHub/Generated/Models/FailoverInput.cs
  src/SDKs/IotHub/Management.IotHub/Generated/Models/RoutingProperties.cs
  src/SDKs/IotHub/Management.IotHub/Generated/SdkInfo_iotHubClient.cs
Labels: spec-not-merged

#5779 [Service Bus Client] Restore Azure Messaging Key for Assembly Signing
  src/SDKs/ServiceBus/data-plane/Directory.Build.props
  src/SDKs/ServiceBus/data-plane/assets/azure-messaging.snk
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/MessageInterop/MessageInteropEnd2EndTests.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Microsoft.Azure.ServiceBus.Tests.csproj
Labels: Client, Service Bus

#5796 [Engineering System] Build Pipeline
  .azure-pipelines/client.yml
Labels: Client, EngSys, Event Hub

#5791 AutoPr-IotHub-kapil-ms-REST Spec PrNumber 5636
  src/SDKs/IotHub/Management.IotHub/Generated/Models/RoutingProperties.cs
Labels: spec-not-merged

#5859 AutoPr-Compute-hyonholee-REST Spec PrNumber 5692
  src/SDKs/Compute/AzSdk.RP.props
  src/SDKs/Compute/Management.Compute/Generated/AvailabilitySetsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/GalleriesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/GalleryImageVersionsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/GalleryImagesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/IVirtualMachineScaleSetVMsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/IVirtualMachineScaleSetsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/IVirtualMachinesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/ImagesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/LogAnalyticsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/GalleryImageVersionPublishingProfile.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/StorageAccountType.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/TargetRegion.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/VMScaleSetConvertToSinglePlacementGroupInput.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineScaleSet.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineScaleSetVM.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineScaleSetVMNetworkProfileConfiguration.cs
  src/SDKs/Compute/Management.Compute/Generated/Models/VirtualMachineScaleSetVMProtectionPolicy.cs
  src/SDKs/Compute/Management.Compute/Generated/Operations.cs
  src/SDKs/Compute/Management.Compute/Generated/ProximityPlacementGroupsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/SdkInfo_ComputeManagementClient.cs
  src/SDKs/Compute/Management.Compute/Generated/UsageOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineExtensionImagesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineExtensionsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineImagesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineRunCommandsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineScaleSetExtensionsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineScaleSetRollingUpgradesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineScaleSetVMsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineScaleSetVMsOperationsExtensions.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineScaleSetsOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineScaleSetsOperationsExtensions.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachineSizesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachinesOperations.cs
  src/SDKs/Compute/Management.Compute/Generated/VirtualMachinesOperationsExtensions.cs
Labels: spec-not-merged

#5884 [Engineering System] Event Hubs Environment Variables
  .azure-pipelines/tests.yml
Labels: Client, EngSys, Event Hub

#5915 [Service Bus Client] Migrate Recent Updates
  src/SDKs/ServiceBus/data-plane/src/Microsoft.Azure.ServiceBus/Amqp/AmqpConnectionHelper.cs
  src/SDKs/ServiceBus/data-plane/src/Microsoft.Azure.ServiceBus/Management/ManagementClient.cs
  src/SDKs/ServiceBus/data-plane/src/Microsoft.Azure.ServiceBus/Message.cs
  src/SDKs/ServiceBus/data-plane/src/Microsoft.Azure.ServiceBus/Microsoft.Azure.ServiceBus.csproj
  src/SDKs/ServiceBus/data-plane/src/Microsoft.Azure.ServiceBus/ServiceBusConnection.cs
  src/SDKs/ServiceBus/data-plane/src/Microsoft.Azure.ServiceBus/ServiceBusConnectionStringBuilder.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/API/APIApprovals.cs
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/Microsoft.Azure.ServiceBus.Tests.csproj
  src/SDKs/ServiceBus/data-plane/tests/Microsoft.Azure.ServiceBus.Tests/ServiceBusConnectionStringBuilderTests.cs
Labels: Client, Service Bus

#5894 AutoPr-ManagementPartner-jetts-REST Spec PrNumber 5726
  src/SDKs/ManagementPartner/Management.ManagementPartner/Generated/ACEProvisioningManagementPartnerAPIClient.cs
  src/SDKs/ManagementPartner/Management.ManagementPartner/Generated/IACEProvisioningManagementPartnerAPIClient.cs
  src/SDKs/ManagementPartner/Management.ManagementPartner/Generated/IPartnersOperations.cs
  src/SDKs/ManagementPartner/Management.ManagementPartner/Generated/PartnersOperations.cs
  src/SDKs/ManagementPartner/Management.ManagementPartner/Generated/PartnersOperationsExtensions.cs
  src/SDKs/ManagementPartner/Management.ManagementPartner/Generated/SdkInfo_ACEProvisioningManagementPartnerAPI.cs
Labels: spec-not-merged

#5948 Prevent failing tests from building in non-Windows builds
  eng/data-plane.proj
  sdk/keyvault/Microsoft.Azure.KeyVault/tests/Microsoft.Azure.KeyVault.Tests.csproj
Labels: EngSys

#5954 [Service Bus Client] Rename Environment Variables and ReadMe Updates
  .azure-pipelines/tests.yml
  sdk/servicebus/Microsoft.Azure.ServiceBus/README.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/TestConstants.cs
Labels: Client, Service Bus

#5955 [Event Hubs Client] ReadMe Update for Development History
  sdk/eventhub/Microsoft.Azure.EventHubs/README.md
Labels: Client, Event Hubs
