Repository Azure/azure-sdk-for-net, pull requests merged in 2019-11, with the labels that each got.

#8475 update sdk due to billing plan swagger file change
  eng/mgmt/mgmtmetadata/reservations_resource-manager.txt
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Generated/Models/Catalog.cs
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Generated/SdkInfo_AzureReservationAPI.cs
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Microsoft.Azure.Management.Reservations.csproj
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Properties/AssemblyInfo.cs
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/NonReservationObjectTests/TestGetAppliedReservations.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/NonReservationObjectTests/TestGetCatalog.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/NonReservationObjectTests/TestListOperations.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationOrderTests/PurchaseReservationOrder.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationOrderTests/TestGetReservationOrder.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationOrderTests/TestListReservationOrders.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationTests/PurchaseReservationOrder.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationTests/TestGetReservation.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationTests/TestListReservationRevisions.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationTests/TestListReservations.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationTests/TestSplitAndMerge.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationTests/TestUpdateReservationToShared.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/ReservationTests/TestUpdateReservationToSingle.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/Reservations.Tests.ScenarioTests.ReservationTests/TestUpdateRenewalOff.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/Reservations.Tests.ScenarioTests.ReservationTests/TestUpdateRenewalOn.json
  sdk/reservations/Microsoft.Azure.Management.Reservations/tests/SessionRecords/Reservations.Tests.ScenarioTests.ReservationTests/TestUpdateRenewalProperties.json
Labels: Mgmt, needs-revision

#8564 [Event Hubs CheckpointStore Blobs] Fifth Preview (Release Preparation)
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.CheckpointStore.Blobs/Directory.Build.props
Labels: Client, Event Hubs

#8536 Refactor Key Vault Certificates based on review feedback
  sdk/keyvault/Azure.Security.KeyVault.Certificates/ChangeLog.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample1_HelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample1_HelloWorldAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample2_GetCertificates.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample3_GetKeysAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/SampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Action.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/AdministratorContact.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateAttributes.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateContact.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateCreateParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateIssuer.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateKeyType.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateOperationError.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateOperationProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicyAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ContactList.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/DeletedCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ImportCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/IssuerProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyVaultCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyVaultCertificateWithPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/LifeTimeAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/MergeCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/WellKnownIssuerNames.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatePolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/IssuerTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyCancelCertificateOperation.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyCancelCertificateOperationAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyCertificateCreateDefaultPolicy.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyCertificateCreateDefaultPolicyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyCertificateGetWithPolicyInProgress.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyCertificateGetWithPolicyInProgressAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyDeleteCertificateOperation.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyDeleteCertificateOperationAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyDeleteRecoverPurge.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyDeleteRecoverPurgeAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetCertificateCompleted.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetCertificateCompletedAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetCertificateOperation.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetCertificateOperationAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyUpdateCertificate.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyUpdateCertificateAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRequestParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Extensions.cs
Labels: Client, KeyVault

#8499 Changed GraphRBAC to version tag.
  sdk/graphrbac/Microsoft.Azure.Graph.RBAC/src/Microsoft.Azure.Graph.RBAC.csproj
Labels: EngSys

#8563 Datafactory support embedded ssis package
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ComponentSetup.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/Db2LinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SSISAccessCredential.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SSISChildPackage.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SsisPackageLocation.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SsisPackageLocationType.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/WebActivity.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/WebActivityAuthentication.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/changelog.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Labels: Mgmt, needs-review

#8602 Refine mgmt dev docs
  doc/dev/ExistingManagementSDKVersioning.md
  doc/dev/Using-Azure-TestFramework.md
  doc/dev/code-generation-instructions.md
Labels: Documentation, Mgmt

#5561 Adding an extension method to return the emotion ranked list with name and respective score
  sdk/cognitiveservices/Vision.Face/src/Customizations/EmotionExtensions.cs
  sdk/cognitiveservices/Vision.Face/tests/FaceDetectionTests.cs
Labels: needs-review

#8562 [Event Hubs] Event Processor Client Public API (Handler's Arguments)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_PublishAnEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishEventsWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_PublishAnEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CloseReason.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/InitializePartitionProcessingContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessingStoppedContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessorCloseReason.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessorErrorContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConnection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs

#8547 Re-generated SDK based on Swagger with bugfix for PrivateLinkServiceConnectionState
  eng/mgmt/mgmtmetadata/network_resource-manager.txt
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/IIpGroupsOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/IpGroupsOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/IpGroupsOperationsExtensions.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/AzureFirewall.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/IpGroup.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/P2SVpnConnectionHealth.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/PrivateLinkServiceConnectionState.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/TrafficSelectorPolicy.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VirtualHubRouteV2.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VirtualNetworkBgpCommunities.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VirtualRouter.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VirtualRouterPeering.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VpnServerConfiguration.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/WebApplicationFirewallPolicy.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/SdkInfo_NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Microsoft.Azure.Management.Network.csproj
  sdk/network/Microsoft.Azure.Management.Network/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-review

#8551 Updating Azure Cache for Redis Sdk with 2018-03-01 API spec
  eng/mgmt/mgmtmetadata/redis_resource-manager.txt
  sdk/redis/Microsoft.Azure.Management.RedisCache/AzSdk.RP.props
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/IRedisManagementClient.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/IRedisOperations.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/CheckNameAvailabilityParameters.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/ProvisioningState.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisCreateParameters.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisResource.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisUpdateParameters.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/TlsVersion.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/PatchSchedulesOperations.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/RedisManagementClient.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/RedisOperations.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/RedisOperationsExtensions.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/SdkInfo_RedisManagementClient.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Microsoft.Azure.Management.Redis.csproj
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Properties/AssemblyInfo.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/generate.cmd
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/generate.ps1
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/InMemoryTests/CreateOrUpdateTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/InMemoryTests/GetTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/InMemoryTests/ListTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/BeginCreateFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/CreateUpdateDeleteFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/FirewallFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/GeoReplicationFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/GetListKeysFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/PatchSchedulesFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/RebootFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/BeginCreateFunctionalTests/BeginCreateFunctionalTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/CreateUpdateDeleteFunctionalTests/CreateUpdateDeleteTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/FirewallFunctionalTests/FirewallFunctionalTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GeoReplicationFunctionalTests/GeoReplicationFunctionalTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/GetTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/ListKeysTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/ListTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/ListWithoutResourceGroupTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/RegenerateKeyTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/PatchSchedulesFunctionalTests/PatchSchedules_PutGetDelete.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/RebootFunctionalTests/RebootBothNodesTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/TestsFixture/.ctor.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/TestsFixtureWithCacheCreate/.ctor.json
Labels: Mgmt, needs-revision

#8613 [Event Hubs Client] Track Two (Minor Refactoring)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/EventHubProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/LastEnqueuedEventProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/PartitionProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/RetryOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConnection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConnection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/RetryOptionsExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/RetryPolicies/RetryOptionsTests.cs
Labels: Client, Event Hubs

#8377 Move smoke tests
  common/SmokeTests/.gitignore
  common/SmokeTests/Directory.Build.props
  common/SmokeTests/Directory.Build.targets
  common/SmokeTests/SmokeTest.sln
  common/SmokeTests/SmokeTest/BlobStorageTest.cs
  common/SmokeTests/SmokeTest/CosmosDBTest.cs
  common/SmokeTests/SmokeTest/EventHubsTest.cs
  common/SmokeTests/SmokeTest/KeyVaultTest.cs
  common/SmokeTests/SmokeTest/Program.cs
  common/SmokeTests/SmokeTest/Properties/Resources.Designer.cs
  common/SmokeTests/SmokeTest/Properties/Resources.resx
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  eng/.docsettings.yml
  eng/pipelines/smoke-tests.yml
Labels: EngSys

#8135 update smoke tests for October 2019 preview release
  common/SmokeTests/SmokeTest/KeyVaultTest.cs
  common/SmokeTests/SmokeTest/SmokeTest.csproj
Labels: EngSys

#8636 [EventHubs] Event Processor Client Public API (Remove Event Processor Client Reference from Partition Pump)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionProcessingStoppedContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessingStoppedReason.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/EventProcessorClientLiveTests.cs
Labels: Client, Event Hubs

#8632 [Microsoft.StorageSync] Update SDK to use 2019-06-01 API version
  eng/mgmt/mgmtmetadata/storagesync_resource-manager.txt
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/AzSdk.RP.props
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/changelog.md
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/RestoreFileSpec.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpoint.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointCloudTieringStatus.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointFilesNotSyncingError.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointRecallError.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointRecallStatus.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointSyncActivityStatus.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointSyncSessionStatus.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointSyncStatus.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/SyncGroup.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/SdkInfo_MicrosoftStorageSync.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/StorageSyncManagementClient.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Microsoft.Azure.Management.StorageSync.csproj
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Properties/AssemblyInfo.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/Helpers/StorageSyncManagementTestUtilities.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/CloudEndpointTests/CloudEndpointCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/CloudEndpointTests/CloudEndpointDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/CloudEndpointTests/CloudEndpointGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/CloudEndpointTests/CloudEndpointInvokeChangeDetectionTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/CloudEndpointTests/CloudEndpointListTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/RegisteredServerTests/RegisteredServerCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/RegisteredServerTests/RegisteredServerDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/RegisteredServerTests/RegisteredServerGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/RegisteredServerTests/RegisteredServerListTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/RegisteredServerTests/RegisteredServerTriggerRolloverTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/ServerEndpointTests/ServerEndpointAllOperationsTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/StorageSyncServiceTests/StorageSyncServiceBadRequestTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/StorageSyncServiceTests/StorageSyncServiceCheckNameAvailabilityTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/StorageSyncServiceTests/StorageSyncServiceCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/StorageSyncServiceTests/StorageSyncServiceDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/StorageSyncServiceTests/StorageSyncServiceGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/StorageSyncServiceTests/StorageSyncServiceListTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/StorageSyncServiceTests/StorageSyncServiceUpdateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/SyncGroupTests/SyncGroupCreateTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/SyncGroupTests/SyncGroupDeleteTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/SyncGroupTests/SyncGroupGetTest.json
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/tests/SessionRecords/SyncGroupTests/SyncGroupListTest.json
Labels: Mgmt, needs-revision

#8359 Include Package Logo in Nuget Package
  eng/Directory.Build.Data.props
  eng/Directory.Build.Data.targets
  eng/images/pkgicon.png
Labels: Do Not Merge, EngSys

#8664 [Event Hubs Client] Track Two (ReadEventsFromPartition)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ConsumeEventsWithMaximumWaitTime.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
Labels: Client, Event Hubs

#8436 [Resources] Add deployment scripts resource type to the Resources SDK
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentScriptsClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentScriptsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentScriptsOperationsExtensions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/IDeploymentScriptsClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/IDeploymentScriptsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/AzureCliScript.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/AzurePowerShellScript.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/AzureResourceBase.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/CleanupOptions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DefaultErrorResponse.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DefaultErrorResponseException.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DeploymentScript.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DeploymentScriptUpdateParameter.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/EnvironmentVariable.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ManagedServiceIdentity.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ManagedServiceIdentityType.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ScriptLog.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ScriptLogsList.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ScriptProvisioningState.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ScriptStatus.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/UserAssignedIdentity.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/SdkInfo_DeploymentScriptsClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/DeploymentScriptsTests.ScenarioTests.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentScriptsTests/CanCrudSimpleDeploymentScript.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentScriptsTests/CanGetDeploymentScriptExecutionLogs.json
Labels: Mgmt, needs-revision

#8676 [ManagedNetwork]Add leading slash in Id in test cases
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.ManagedNetworkGroupTests/ManagedNetworkGroupTest.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.ManagedNetworkTests/ManagedNetworkTest.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.PeeringPolicyTests/ManagedNetworkGroupTest.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.Tests/Clear.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.Tests/HubSpoke.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/SessionRecords/ManagedNetwork.Tests.Tests/Mesh.json
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/ManagedNetworkGroupTests.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/ManagedNetworkTests.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/PeeringPolicyTests.cs
  sdk/managednetwork/Microsoft.Azure.Management.ManagedNetwork/tests/Tests/Test.cs
Labels: Mgmt

#8648 EventGrid: Regenerate .NET SDK for API version 2020-01-01-preview
  eng/mgmt/mgmtmetadata/eventgrid_resource-manager.txt
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/AzSdk.RP.props
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/EventGridManagementClient.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/AzureFunctionEventSubscriptionDestination.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/Domain.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/EventDeliverySchema.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/EventSubscription.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/EventSubscriptionUpdateParameters.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/InputSchema.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/InputSchemaMapping.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/JsonField.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/JsonFieldWithDefault.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/JsonInputSchemaMapping.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/ServiceBusTopicEventSubscriptionDestination.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/Topic.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/WebHookEventSubscriptionDestination.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/SdkInfo_EventGridManagementClient.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Microsoft.Azure.Management.EventGrid.csproj
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Properties/AssemblyInfo.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/DomainCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionCreateGetUpdateDeleteWithDeadLettering.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionCreateGetUpdateDeleteWithDlqAdvancedFilterAzureFunctionAsDestination.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionCreateGetUpdateDeleteWithDlqAdvancedFilterServiceBusAsDestination.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToAzureSubscriptionCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToCustomTopicCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToCustomTopicCreateGetUpdateDeleteWithEventDeliverySchema.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToDomainCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToResourceGroupCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/TopicCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/Tests/ScenarioTests.DomainTests.CRUD.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/Tests/ScenarioTests.EventSubscriptionTests.CRUD.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/Tests/ScenarioTests.TopicTests.CRUD.cs
Labels: Mgmt, Waiting for CI :shipit:

#8652 [Datafactory] Added SQL DW Copy Command support in Copy Activity
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DWCopyCommandDefaultValue.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DWCopyCommandSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SqlDWSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/WebHookActivity.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/changelog.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Labels: Mgmt, needs-revision

#8678 [Event Hubs Client] Track Two (Partition Context)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/Argument.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/PartitionContextTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
Labels: Client, Event Hubs

#8696 [ServiceBus] Changing version to 4.1.1
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#8729 [Event Hubs Client] Track Two (Shared Access Credential Fix)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureCredentialTests.cs
Labels: Client, Event Hubs

#8727 [Event Hubs Client] Track Two (Partition Receiver and Live Test Overhaul)
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsByBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/PartitionReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/InMemoryPartitionManagerTests.cs
Labels: Client, Event Hubs

#8757 [Event Hubs Client] Track Two (Remove Consumer Partition Binding)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ConsumeEventsWithMaximumWaitTime.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/EventHubClientBuilderExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Shared/LiveResourceManager.cs
Labels: Client, Event Hubs

#8765 Update README.md
  README.md
Labels: Client, Docs

#8685 Update operations for Azure AD administrator on MI.
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedInstanceAdministratorsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstanceAdministratorsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstanceAdministratorsOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Properties/AssemblyInfo.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedInstanceActiveDirectoryAdministratorTest.cs
Labels: Mgmt, needs-revision

#8763 [Event Hubs Client] Track Two (Remove Producer Partition Affinity)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_PublishAnEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishEventsWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_PublishAnEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ConsumeEventsWithMaximumWaitTime.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/CreateBatchOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/SendOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConnection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/PartitionReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/CreateBatchOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
Labels: Client, Event Hubs

#8786 [Event Hubs Client] Track Two (Credential Fix)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/CbsTokenProviderTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubSharedKeyCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/EventHubTokenCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Authorization/SharedAccessSignatureTests.cs
Labels: Client, Event Hubs

#8470 EventHubs, Sample13, Client Secret Authentication
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsIdentitySample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsSample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/ISample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_AuthenticateWithClientSecretCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Shared/TestEnvironment.cs
Labels: Client, Event Hubs

#8805 [Event Hubs Client] fixed broken link in Contributing
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
Labels: Client, Event Hubs

#8617 Regenerate CDN SDK
  eng/mgmt/mgmtmetadata/cdn_resource-manager.txt
  sdk/cdn/Microsoft.Azure.Management.Cdn/AzSdk.RP.props
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CdnManagedHttpsParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CustomDomain.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/CustomDomainHttpsParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/MinimumTlsVersion.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/UrlRewriteActionParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/UserManagedHttpsParameters.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/SdkInfo_CdnManagementClient.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Microsoft.Azure.Management.Cdn.csproj
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Properties/AssemblyInfo.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/generate.ps1
Labels: Mgmt, needs-review

#8815 [Event Hubs Client] Removed extra line
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/EventHubSharedKeyCredential.cs
Labels: Client, Event Hubs

#8800 [Event Hubs Client] Track Two (Remove Partition Receiver)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/PartitionReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
Labels: Client, Event Hubs

#8600 Clean-up unified pipelines.
  README.md
  eng/pipelines/client.yml
Labels: EngSys

#7712 Added default value for EventHub LastSequenceNumber
  sdk/eventhub/Microsoft.Azure.EventHubs/src/ReceiverRuntimeInfo.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/ServiceFabricProcessor/OptionsTests.cs
Labels: Client, Event Hubs

#8435 Add hostname uniqueness warning to all constructor signature docs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorHost.cs
Labels: Client, Event Hubs, Service Attention

#8796 [EventHubs] Event Processor Client inherits from Event Processor Base
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorBase.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionPump.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessorErrorContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventProcessorManager.cs
Labels: Client, Event Hubs

#8829 [Event Hubs Client] Track Two (Rename CheckpointStore Library)
  sdk/core/Azure.Core/Azure.Core.All.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Client.Library.References.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Directory.Build.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/assets/samples-azure-deploy.json
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Azure.Messaging.EventHubs.Processor.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Infrastructure/IEventHubsBlobCheckpointSample.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample01_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/BlobMetadataKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/BlobPartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/BlobPartitionManager/BlobPartitionManagerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/BlobPartitionManager/BlobPartitionManagerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/PartitionOwnershipExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/PartitionOwnershipExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Samples/SamplesLiveTests.cs
  sdk/eventhub/ci.yml
Labels: Client, Event Hubs

#8773 [Event Hubs] Remove InMemoryPartitionManager for Event Processor
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/MockCheckPointStorage.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/MockCheckPointStorageTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/EventProcessorManager.cs
Labels: Client, Event Hubs

#8842 Prepare ClientRuntime for servicing release
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Microsoft.Rest.ClientRuntime.csproj
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Properties/AssemblyInfo.cs
Labels: KeyVault

#8820 [Event Hubs Client] Track Two (Consumer Options Refactor)
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ConsumeEventsWithMaximumWaitTime.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_AuthenticateWithClientSecretCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/ConsumerDisconnectedException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorBase.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/ReadOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConnection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/ReadOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
Labels: Client, Event Hubs

#8828 [HDInsight] Hotfix for deprecating Dv1 series: change Dv1-series to related Dv2
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Customizations/Converters/DefaultVmSizes.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Microsoft.Azure.Management.HDInsight.csproj
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#8848 [Event Hubs Client] Track Two (Read from all Partitions)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
Labels: Client, Event Hubs

#8862 [Event Hubs Client] Track Two (Board Review Client Types)
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventProcessorClient/EventProcessorClientTests.cs
Labels: Client, Event Hubs

#8878 [Event Hubs Client] Track Two (Misc Small Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Metadata/LastEnqueuedEventProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/EventProcessorEvent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/InitializePartitionProcessingContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessorErrorContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/PartitionContextTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConnection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/CreateBatchOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Shared/TestEnvironment.cs
Labels: Client, Event Hubs

#8852 Update attestation control plane SDK to new version
  eng/mgmt/mgmtmetadata/attestation_resource-manager.txt
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/AttestationProvidersOperations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/AttestationProvidersOperationsExtensions.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/IAttestationProvidersOperations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/IOperations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/AttestationProviderListResult.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/AttestationServiceCreationParams.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/JSONWebKey.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/JSONWebKeySet.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/OperationList.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/Page.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Models/Page1.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/Operations.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/OperationsExtensions.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Generated/SdkInfo_AttestationManagementClient.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/src/Microsoft.Azure.Management.Attestation.csproj
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/BasicTests/AttestationOperationsTests.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/Microsoft.Azure.Management.Attestation.Tests.csproj
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/Properties/AssemblyInfo.cs
  sdk/attestation/Microsoft.Azure.Management.Attestation/tests/SessionRecords/AttestationOperationsTests/AttestationManagementAttestationCreateDelete.json
Labels: Mgmt, Waiting for CI :shipit:

#8893 [Event Hubs Client] Track One (Disable Failing Tests)
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverRuntimeMetricsTests.cs
Labels: Client, Event Hubs

#8887 Readme adjustments for Azure.Identity
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity, Client

#8904 [Event Hubs Client] Track Two (Code Sharing Infrastructure)
  eng/.docsettings.yml
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Resources.Local.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/EventHubSharedKeyCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/EventHubTokenCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Authorization.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Core.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Diagnostics.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Testing.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.shproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/Argument.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/CancellationTokenExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/TimeSpanExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/DiagnosticProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/EventDataInstrumentation.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/TestCategory.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/TestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Authorization/EventHubSharedKeyCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Authorization/EventHubTokenCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Authorization/SharedAccessSignatureCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Authorization/SharedAccessSignatureTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ArgumentTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/CancellationTokenExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/TimeSpanExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Resources.Local.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/ConsumerDisconnectedException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsClientClosedException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsCommunicationException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsResourceNotFoundException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/EventHubsTimeoutException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/MessageSizeExceededException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/QuotaExceededException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Errors/ServiceBusyException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Resources.Local.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/TypeExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestRunFixture.cs
Labels: Client, Event Hubs

#8903 Fix runtime metric tests
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverRuntimeMetricsTests.cs
Labels: Client, Event Hubs

#8906 Updating Azure Cache for Redis SDK to use 2019-07-01 spec
  eng/mgmt/mgmtmetadata/redis_resource-manager.txt
  sdk/redis/Microsoft.Azure.Management.RedisCache/AzSdk.RP.props
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisCreateParameters.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisInstanceDetails.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisResource.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisUpdateParameters.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/RedisManagementClient.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/SdkInfo_RedisManagementClient.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Microsoft.Azure.Management.Redis.csproj
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Properties/AssemblyInfo.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/InMemoryTests/CreateOrUpdateTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/BeginCreateFunctionalTests.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/BeginCreateFunctionalTests/BeginCreateFunctionalTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/CreateUpdateDeleteFunctionalTests/CreateUpdateDeleteTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/FirewallFunctionalTests/FirewallFunctionalTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GeoReplicationFunctionalTests/GeoReplicationFunctionalTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/GetTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/ListKeysTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/ListTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/ListWithoutResourceGroupTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/GetListKeysFunctionalTests/RegenerateKeyTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/PatchSchedulesFunctionalTests/PatchSchedules_PutGetDelete.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/RebootFunctionalTests/RebootBothNodesTest.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/TestsFixture/.ctor.json
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/SessionRecords/TestsFixtureWithCacheCreate/.ctor.json
Labels: Mgmt, needs-revision

#8918 Update Mysql and PostgreSql ConnectionString type
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/MySqlLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/PostgreSqlLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/LinkedServiceJsonSamples.cs
Labels: Mgmt, needs-revision

#8935 [Event Hubs Client] Track Two (Migrate Processor Package)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobMetadataKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/EventProcessorClient/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/EventProcessorClient/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/EventProcessorClient/MockCheckPointStorageTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/MockCheckPointStorage.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Processor.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.shproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/ConnectionStringParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/EventHubConnectionOptionsExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/EventHubsRetryOptionsExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventDataExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/EventHubConnectionOptionsExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/RetryPolicies/BasicRetryPolicyTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/RetryPolicies/EventHubsRetryOptionsExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/EventDataExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnectionOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConsumerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsRetryOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionClosingEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Properties/AssemblyInfo.cs
Labels: Client, Event Hubs

#8928 [Event Hubs Client] Track Two (Samples and Read Me)
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample01_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_PublishAnEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_ReadEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_PublishAnEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_PublishAnEventBatchWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_PublishAnEventBatchToASpecificPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_PublishEventsToSpecificPartitions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ConsumeEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_ReadOnlyNewEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ConsumeEventsWithMaximumWaitTime.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ReadEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ConsumeEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_PublishAnEventBatchWithCustomSizeLimit.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_AuthenticateWithClientSecretCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_AuthenticateWithClientSecretCredential.cs
Labels: Client, Event Hubs

#8933 [EventHubs] Move Event Processor Client to the EventHubs.Processor package
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample01_ConsumeEventsWithEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample01_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/BlobsCheckpointStore/BlobsCheckpointStoreLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/BlobsCheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/EventProcessorClient/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/EventProcessorClient/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/EventProcessorClient/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/MockCheckPointStorageTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/PartitionOwnershipExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/PartitionOwnershipExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Samples/SamplesLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Testing.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/TestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConnection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubConsumerClient/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/EventHubProducerClient/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
Labels: Client, Event Hubs
