Repository Azure/azure-sdk-for-net, pull requests merged in 2020-12, with the labels that each got.

#17246 Properly create secondary endpoint Uri for Azurite endpoints
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableConnectionString.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableConnectionStringTests.cs
Labels: Client, Tables, auto-merge

#17241 Use BlobsCheckpointStore in scale monitor
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.Diagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/BlobsCheckpointStore.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubConsumerClientImpl.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/IEventHubConsumerClient.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubsScaleMonitor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Resources.resx
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerAttributeBindingProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsScaleMonitorTests.cs
Labels: Event Hubs

#17261 [Event Hubs Client] Live Test Fixes
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample03_EventProcessorHandlersLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample04_ProcessingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample05_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample06_RequestingStorageServiceVersionsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample03_EventHubMetadataLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample04_PublishingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample05_ReadingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample06_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample07_EarlierLanguageVersionsLiveTests.cs
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs, test-reliability

#17264 Feature/storage/75livetests
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/tests.yml
Labels: Storage

#15875 Send metadata header on IMDS probe request.
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/MsiAccessTokenProvider.cs
Labels: AppAuthentication

#17234 CloudNative.CloudEvents bridge library
  eng/.docsettings.yml
  eng/Packages.Data.props
  sdk/eventgrid/Azure.Messaging.EventGrid/Azure.Messaging.EventGrid.sln
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/Directory.Build.props
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/README.md
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/api/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.netstandard2.0.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/src/EventGridPublisherClientExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/src/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.csproj
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/CloudEventTests.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/CloudNativeLiveTests.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.Tests.csproj
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishCloudEvent.json
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishCloudEventAsync.json
Labels: Event Grid

#17275 Add Mohit to Search owners list
  .github/CODEOWNERS
Labels: Search, auto-merge

#17271 Remove abstraction layers from EventHubs WebJobs extensions
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHostPartition.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/IEventProcessor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/ProcessorPartitionContext.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerInput.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
Labels: Event Hubs, auto-merge

#17285 Added support for AccountInfo.IsHierarchicalNamespaceEnabled
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/GetAccountInfoAsync_HnsFalse.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/GetAccountInfoAsync_HnsFalseAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/GetAccountInfoAsync_HnsTrue.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/GetAccountInfoAsync_HnsTrueAsync.json
Labels: Storage

#17272 Adding overwrite parameter to SyncUploadFromUri
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobUploadFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsyncAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_CPK.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_CPKAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_EncryptionScope.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_EncryptionScopeAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_Overwrite.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_OverwriteAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_OverwriteFailed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_OverwriteFailedAsync.json
Labels: Storage

#17266 ClientCertificateAzureServiceTokenProvider dispose of certificate obj…
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/ClientCertificateAccessTokenProvider.cs
Labels: AppAuthentication, auto-merge

#17308 Add token credential auth support
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/Microsoft.Azure.WebJobs.Extensions.EventHubs.sln
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubExtensionConfigProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubAttribute.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubTriggerAttribute.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventHubsConnectionStringBuilder.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerAttributeBindingProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerInput.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsScaleMonitorTests.cs
Labels: Event Hubs

#17314 Sync eng/common directory with azure-sdk-tools for PR 1233
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#17313 [EventGrid] Small README.md updates
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
Labels: Event Grid

#17323 [Storage] Increase network timeout in tests.
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
  sdk/storage/tests.yml
Labels: Storage, auto-merge

#17336 [EventGrid] Add a cross reference to the docs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridSharedAccessSignatureCredential.cs
Labels: Event Grid

#17328 stg75 PR comments
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobSyncUploadFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
Labels: Storage

#17343 Fix sync batch method coverage
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableTransactionalBatch.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Client, Tables

#17259 re-enable InheritDoc
  eng/Directory.Build.Data.props
  sdk/core/Azure.Core.Amqp/src/AmqpAddress.cs
  sdk/core/Azure.Core.Amqp/src/AmqpMessageId.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/OutputBinding/EventGridAttribute.cs
  sdk/search/Azure.Search.Documents/src/SearchDocument/SearchDocument.Dictionary.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/CorrelationRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/CreateRuleOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/FalseRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/RuleProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/SqlRuleAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/SqlRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/TrueRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusErrorSource.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ExceptionReceivedEventArgsAction.cs
Labels: Client, EngSys

#17342 Clean up docs for EventGridEvent/CloudEvent
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
Labels: Event Grid

#17296 [TA] Add AAD tests and improve polling for playback
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeSentimentTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/DetectLanguageTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractKeyPhrasesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeLinkedEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeSentimentTests/AnalyzeSentimentWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeSentimentTests/AnalyzeSentimentWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/DetectLanguageTests/DetectLanguageWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/DetectLanguageTests/DetectLanguageWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTestAsync.json
Labels: Cognitive - Text Analytics

#17312 [TA] No locale in links and add functionalities to package descriptions
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
  sdk/textanalytics/Azure.AI.TextAnalytics/src/CategorizedEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DocumentSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SentenceSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRequestOptions.cs
Labels: Cognitive - Text Analytics

#17347 [TA] Update service version and some cleanup
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClientOptions.cs
Labels: Cognitive - Text Analytics

#17350 [Storage] Bump network timeout, add progress logging.
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
Labels: Storage, auto-merge

#17345 [FR] Update docstrings
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AccountProperties.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CreateComposedModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CreateCustomFormModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelProperties.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldBoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValueType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormElement.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormFieldOfT.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormSelectionMark.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeBusinessCardsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeBusinessCardsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeInvoicesOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeInvoicesOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingFileFilter.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample10_DifferentiateOutputModelsTrainedWithAndWithoutLabels.cs
Labels: Cognitive - Form Recognizer

#17330 [Event Hubs Client] Credential Refresh Buffer Tweak
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
Labels: Client, Event Hubs

#17316 [Event Hubs Client] Enable Idempotent Producer Tests
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/IdempotentPublishingLiveTests.cs
Labels: Client, Event Hubs, Test Debt

#17307 [Data Lake Performance] Test Scenarios for T2
  eng/.docsettings.yml
  eng/Packages.Data.props
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Azure.Storage.Files.DataLake.Perf.csproj
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Azure.Storage.Files.DataLake.Perf.sln
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Program.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/Append.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/Read.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/Upload.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/UploadFile.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/README.md
Labels: Client, Data Lake Storage Gen2, Performance, Storage

#17359 Replaced hardcoded true/false with TrueString/FalseString
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
Labels: Azure.Core, Client

#17315 [Event Hubs Client] Sample ReadMe Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
Labels: Client, Docs, Event Hubs

#17351 [TA] Enable AAD in test resources to fix broken pipeline
  sdk/textanalytics/test-resources.json
Labels: Cognitive - Text Analytics

#17349 Make storage mock clients able to generate sas
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/storage/Azure.Storage.Queues/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ServiceClientTests.cs
Labels: Storage

#17382 Prepare storage for release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/README.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/README.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/README.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/README.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/README.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/README.md
Labels: Storage

#17385 [Storage] Live tests - Wait for RBAC replication.
  sdk/storage/test-resources-post.ps1
Labels: Storage, auto-merge

#17335 Add legacy checkpoint reading support to EventHubs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs
Labels: Event Hubs

#17357 Update SB migration guide
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample03_SendReceiveSessions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample04_Processor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample02_MessageSettlement.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample03_SendReceiveSessions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample04_Processor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample07_CrudOperations.cs
Labels: Service Bus

#17389 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#17387 [FR] Update service version, TODO cleanup, and add missing xxOperation tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CreateCustomFormModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeBusinessCardsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeInvoicesOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/CreateComposedModelOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/CreateComposedModelOperationCanPollFromNewObjectAsync.json
Labels: Cognitive - Form Recognizer

#17392 Enable legacy checkpoint reading in WebJobs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/BlobsCheckpointStore.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/BlobsCheckpointStoreTests.cs
Labels: Event Hubs, auto-merge

#17398 Session receiver fix
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Service Bus

#17391 Skip canary region for search weekly live tests
  sdk/search/tests.yml
Labels: Central-EngSys, Search

#17407 [Text Analytics] update samples for healthcare
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_RecognizeHealthcareEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_Healthcare.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#15836 GeoJSON API adjustments
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoArray.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoBoundingBox.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoCollection.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoJsonConverter.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoLineString.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoLineStringCollection.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoLinearRing.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoObject.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoObjectType.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoPoint.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoPointCollection.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoPolygon.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoPolygonCollection.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoPosition.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoLine.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoLineCollection.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoPolygon.cs
  sdk/core/Azure.Core.Experimental/tests/GeoJsonSerializationTests.cs
  sdk/core/Azure.Core.Experimental/tests/GeoJsonTests.cs
  sdk/core/Azure.Core.Experimental/tests/SpatialGeoArrayTest.cs
Labels: Azure.Core

#17408 Sync eng/common directory with azure-sdk-tools for PR 1257
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#17419 [Storage][Webjobs] log if azurite hangs or dies.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/AzuriteFixture.cs
Labels: Storage, auto-merge

#17360 Enable 1ES hosted pools.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys, EngSys

#17405 [Event Hubs Client] Model Factory
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsModelFactory.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventHubsModelFactoryTests.cs
Labels: APIChange, ArchApproved, Client, Event Hubs

#17416 Map old configuration settings to new options type
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubExtensionConfigProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Utility.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
Labels: Event Hubs, Storage

#17415 Handle multi-part paths for storage folder Uris for backup/restore
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/FullBackupClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/KeyVaultBackupClientTests.cs
Labels: KeyVault

#17429 Bump InheritDoc to 1.2.0 and set InheritDocTrimLevel=private
  eng/Directory.Build.Data.props
  eng/Packages.Data.props
Labels: EngSys

#17430 [Storage][Webjobs] Retry Azurite start
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/Shared/AzuriteNUnitFixture.cs
Labels: Storage

#17396 [MetricsAdvisor] Implemented tests for the Feedback API
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetAnomalyFeedback(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetAnomalyFeedback(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetAnomalyFeedback(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetAnomalyFeedback(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetChangePointFeedback.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetChangePointFeedbackAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetCommentFeedback(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetCommentFeedback(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetCommentFeedback(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetCommentFeedback(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetPeriodFeedback.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/AddAndGetPeriodFeedbackAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/GetAllFeedback(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/GetAllFeedback(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/GetAllFeedback(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricFeedbackLiveTests/GetAllFeedback(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/CreateMetricFeedback.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/CreateMetricFeedbackAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricFeedbacks.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricFeedbacksAsync.json
Labels: Client, Cognitive - Metrics Advisor

#17301 Sync eng/common directory with azure-sdk-tools for PR 1243
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/common-manifest.psd1
Labels: Central-EngSys, EngSys

#17431 Fix(Pipeline): Wait 30 seconds after deployment is done.
  sdk/digitaltwins/test-resources-post.ps1
Labels: DigitalTwins

#17428 [Event Hubs Client] Remove Code Analysis Supressions
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
Labels: Client, Event Hubs

#17450 Update changelog for release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Client, Tables, auto-merge

#17452 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#17443 Fixed Storage Open Read Seek bug.
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/LazyLoadingReadOnlyStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#17441 [TA] Cleanup on keyphrases tests
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractKeyPhrasesTests.cs
Labels: Cognitive - Text Analytics

#17456 Sync eng/common directory with azure-sdk-tools for PR 1266
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#17463 Re-enable ApplicationInsights tests
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubApplicationInsightsTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Event Hubs, auto-merge

#17454 [Storage] Parallelize live tests.
  sdk/core/Azure.Core.TestFramework/src/ClientDiagnosticListener.cs
  sdk/core/Azure.Core.TestFramework/src/LiveParallelizableAttribute.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_Lease.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/SyncUploadFromUriAsync_LeaseAsync.json
  sdk/storage/Azure.Storage.Common/tests/Shared/AssemblyInfo.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ServiceClientTests.cs
Labels: Azure.Core, Storage, auto-merge

#17467 [Identity] Fix issue of discarding content headers
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/HttpExtensions.cs
  sdk/identity/Azure.Identity/tests/HttpExtensionsTests.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(False).json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(False)Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(True).json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(True)Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromX509Certificate2.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromX509Certificate2Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncludeX5CClaimHeader.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncludeX5CClaimHeaderAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncorrectCertificate.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncorrectCertificateAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenIncorrectPassword.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenIncorrectPasswordAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettings.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettingsAsync.json
Labels: Azure.Identity, auto-merge

#17170 [Microsoft.Azure.Management.ResourceManager] [DeploymentScripts] New Api-version
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/AzSdk.RP.props
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentScriptsClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/AzureCliScript.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/AzurePowerShellScript.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ContainerConfiguration.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DeploymentScript.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/StorageAccountConfiguration.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/TemplateSpecArtifact.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/SdkInfo_DeploymentScriptsClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/DeploymentScriptsTests.ScenarioTests.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentScriptsTests/CanCrudSimpleDeploymentScript.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentScriptsTests/CanGetDeploymentScriptExecutionLogs.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentScriptsTests/CanReturnErrorOnScriptExecutionFailure.json
Labels: ArchApproved, breaking-change

#17444 [Text Analytics] Add samples for manual polling
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeOperation.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_LROPolling.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_RecognizeHealthcareEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync_AutomaticPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync_ManualPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_AutomaticPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_ManualPolling.cs
Labels: Cognitive - Text Analytics, auto-merge

#17426 [TA] Clean up samples
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample1_DetectLanguage.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample2.1_AnalyzeSentimentWithOpinionMining.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample2_AnalyzeSentiment.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample3_ExtractKeyPhrases.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample4_RecognizeEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample5_RecognizePiiEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample6_RecognizeLinkedEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeOperation.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_RecognizeHealthcareEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample1_DetectLanguage.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample1_DetectLanguageAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample1_DetectLanguageBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample1_DetectLanguageBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample1_DetectLanguageBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample1_DetectLanguageBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2.1_AnalyzeSentimentWithOpinionMining.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2.1_AnalyzeSentimentWithOpinionMiningAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2_AnalyzeSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2_AnalyzeSentimentAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2_AnalyzeSentimentBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2_AnalyzeSentimentBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2_AnalyzeSentimentBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2_AnalyzeSentimentBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrases.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesWithWarnings.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/SampleSnippets.cs
Labels: Cognitive - Text Analytics

#17479 Sync eng/common directory with azure-sdk-tools for PR 1270
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#17478 [TA] Remove old snippet reference
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_LROPolling.md
Labels: Cognitive - Text Analytics, auto-merge

#17477 Sync eng/common directory with azure-sdk-tools for PR 1274
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#17490 Fix(pipeline) Wait 1 minute for permissions to propagate
  sdk/digitaltwins/test-resources-post.ps1
Labels: DigitalTwins

#17487 Sync eng/common directory with azure-sdk-tools for PR 1273
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#17433 [Event Hubs Client] Test Prefetch Adjustments
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventGenerator.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
Labels: Client, Event Hubs, test-reliability

#17476 Remove the need to specify service directory for the test environment
  eng/templates/Azure.ResourceManager.Template/tests/ProviderShortNameManagementTestEnvironment.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/Infrastructure/AnomalyDetectorTestEnvironment.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/AppConfigurationTestEnvironment.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/AppConfigurationManagementTestEnvironment.cs
  sdk/attestation/Azure.Security.Attestation/tests/AttestationClientTestEnvironment.cs
  sdk/communication/Azure.Communication.Administration/tests/Infrastructure/CommunicationIdentityClientTestEnvironment.cs
  sdk/communication/Azure.Communication.Administration/tests/Infrastructure/PhoneNumberAdministrationClientTestEnvironment.cs
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatTestEnvironment.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientTestEnvironment.cs
  sdk/communication/Azure.ResourceManager.Communication/tests/Infrastructure/CommunicationManagementTestEnvironment.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/ComputeManagementTestEnvironment.cs
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/core/Azure.Core/tests/TestEnvironmentTests.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/CosmosDBManagementTestEnvironment.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinsTestEnvironment.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/tests/DigitalTwinsManagementTestEnvironment.cs
  sdk/dns/Azure.ResourceManager.Dns/tests/DnsManagementTestEnvironment.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Infrastructure/EventGridTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubsTestEnvironment.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/EventHubsManagementTestEnvironment.cs
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/tests/ConfigurationTestEnvironment.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/tests/DataProtectionTestEnvironment.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/tests/DataProtectionTestEnvironment.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/WebJobsTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/identity/Azure.Identity/tests/IdentityTestEnvironment.cs
  sdk/insights/Azure.ResourceManager.Insights/tests/InsightsManagementTestEnvironment.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/IotHubServiceTestEnvironment.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/KeyVaultManagementTestEnvironment.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/KeyVaultTestEnvironment.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorTestEnvironment.cs
  sdk/network/Azure.ResourceManager.Network/tests/NetworkManagementTestEnvironment.cs
  sdk/resources/Azure.ResourceManager.Resources/tests/ResourceManagementTestEnvironment.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientTestEnvironment.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryClientTestEnvironment.cs
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchTestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/SqlManagementTestEnvironment.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/StorageManagementTestEnvironment.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/WebJobsTestEnvironment.cs
  sdk/synapse/Azure.Analytics.Synapse.Shared/tests/SynapseTestEnvironment.cs
  sdk/tables/Azure.Data.Tables/tests/TablesTestEnvironment.cs
  sdk/template/Azure.Template/tests/MiniSecretClientTestEnvironment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsTestEnvironment.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/TimeSeriesInsightsTestEnvironment.cs
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Text Analytics, Compute, Event Grid, Event Hubs, KeyVault, Search, Storage, Tables, auto-merge

#17506 [FR] Don't use inheritdoc for now
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Appearance.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Style.cs
Labels: Cognitive - Form Recognizer

#17503 Prepare for Azure.Core 1.7.0 release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#17436 [Storage] Improve docs around encoding and previous version behavior.
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
Labels: Storage

#17515 Switch to azsdk-pool-mms-win-2019-general pool.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys, EngSys

#17512 [Storage] Attempt to fix recursive ACL flaky tests.
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
Labels: Storage

#17466 [TA] cleanup on detect language tests
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/DetectLanguageTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractKeyPhrasesTests.cs
Labels: Cognitive - Text Analytics

#17288 AzureSecurityCenter assessments and subAssessments discriminator fix
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Customizations/PolymorphicJsonCustomConverter.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Customizations/SecurityCenterClientCustomizations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/Assessments/AssessmentsTests.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AssessmentsTests/Assessments_CreateOrUpdate_ResourceGroup_Scope.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AssessmentsTests/Assessments_List_ResourceGroup_Scope_ResourceDetails.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/SubAssessmentTests/SubAssessments_List_ResourceDetails.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SubAssessment/SubAssessmentTests.cs
Labels: needs-review

#17511 Add connection string constructors to Data Lake
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/Ctor_ConnectionString_GenerateSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/Ctor_ConnectionString_GenerateSasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/Ctor_ConnectionString_RoundTrip.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/Ctor_ConnectionString_RoundTripAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/Ctor_ConnectionString_GenerateSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/Ctor_ConnectionString_GenerateSasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/Ctor_ConnectionString_RoundTrip.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/Ctor_ConnectionString_RoundTripAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/Ctor_ConnectionString_GenerateSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/Ctor_ConnectionString_GenerateSasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/Ctor_ConnectionString_RoundTrip.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/Ctor_ConnectionString_RoundTripAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/Ctor_ConnectionString_GenerateSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/Ctor_ConnectionString_GenerateSasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/Ctor_ConnectionString_RoundTrip.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/Ctor_ConnectionString_RoundTripAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/Ctor_ConnectionString_GenerateSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/Ctor_ConnectionString_GenerateSasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/Ctor_ConnectionString_RoundTrip.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/Ctor_ConnectionString_RoundTripAsync.json
Labels: APIChange, Storage

#17453 Add perf tests for uploading and downloading files for Azure Storage Files Shares
  eng/.docsettings.yml
  sdk/storage/Azure.Storage.Common/tests/Shared/TestConfigurationsTemplate.xml
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Azure.Storage.Files.Shares.Perf.csproj
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Azure.Storage.Files.Shares.Perf.sln
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Program.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Scenarios/DownloadFile.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Scenarios/UploadFile.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/README.md
Labels: Azure.Core, Storage

#17518 Add Suhas to TA codeowners
  .github/CODEOWNERS
Labels: EngSys, auto-merge

#17519 Update Azure.Core package version
  eng/Packages.Data.props
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#17520 Prepare to produce a nightly build of EventHubs extension
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: auto-merge

#17539 Wait 5 minutes before the test run.
  sdk/digitaltwins/test-resources-post.ps1
Labels: DigitalTwins

#17547 [Storage] Bump threadpool in tests.
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
Labels: Storage, auto-merge

#17224 Make DedicatedHostGroup.properties.supportAutomaticPlacement default to false
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroupUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Labels: Compute

#17551 Fix Microsoft.Azure.WebJobs.Extensions.EventHubs inheritdoc failures
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubsScaleMonitor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs

#17509 Include Lease Info in logging
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/CheckpointInfo.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHostPartition.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
Labels: Event Hubs, auto-merge

#17468 Ensure that type is populated when deserializing into a CloudEvent
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/BinaryDataExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid, auto-merge

#17544 Remove explicit package references on net5.0
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#17577 [Service Bus] Use docs.microsoft.com link for API references
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus

#17586 Sync eng/common directory with azure-sdk-tools for PR 1285
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#17592 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
Labels: auto-merge

#17591 Feature/storage/data lake set permission bug
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetPermissionsAsync_JustOwner_JustGroup.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/SetPermissionsAsync_JustOwner_JustGroupAsync.json
Labels: APIChange, Storage

#17593 Fixed broken docs link
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage

#17599 Fixed bug where BlobBaseClient.Exists() did not function correctly fo…
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_Exists_CPK.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_Exists_CPKAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_Exists_EncryptionScope.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_Exists_EncryptionScopeAsync.json
Labels: Storage

#17601 Misc blobs migration guide fixes
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
Labels: Storage

#17607 Auto create storage container
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/BlobsCheckpointStore.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Event Hubs

#17603 Organize Packages.Data.props
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Microsoft.Azure.EventHubs.Tests.csproj
  sdk/extensions/Microsoft.Extensions.Azure/tests/Microsoft.Extensions.Azure.Tests.csproj
Labels: Event Hubs, auto-merge

#17514 Add EventHub extension README.md
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/README.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Samples/BindingToCollector.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Samples/BindingToReturnValueFunction.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Samples/TriggerBatch.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Samples/TriggerSingle.cs
Labels: Event Hubs, auto-merge

#17605 Update CODEOWNERS
  .github/CODEOWNERS
Labels: auto-merge

#17627 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
Labels: auto-merge

#17609 Authorization refresh fix
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/test-resources-post.ps1
Labels: Service Bus

#17608 [Communication] - Common - Adding Identifier Suffix to all Identifier types
  sdk/communication/Azure.Communication.Administration/README.md
  sdk/communication/Azure.Communication.Administration/api/Azure.Communication.Administration.netstandard2.0.cs
  sdk/communication/Azure.Communication.Administration/samples/Sample1_CommunicationIdentityClient.md
  sdk/communication/Azure.Communication.Administration/samples/Sample1_CommunicationIdentityClientAsync.md
  sdk/communication/Azure.Communication.Administration/samples/Sample2_PhoneNumberAdministrationClient.md
  sdk/communication/Azure.Communication.Administration/samples/Sample2_PhoneNumberAdministrationClientAsync.md
  sdk/communication/Azure.Communication.Administration/src/CommunicationIdentityClient.cs
  sdk/communication/Azure.Communication.Administration/src/Models/CommunicationUserToken.cs
  sdk/communication/Azure.Communication.Administration/src/PhoneNumberAdministrationClient.cs
  sdk/communication/Azure.Communication.Administration/tests/CommunicationIdentityClient/CommunicationIdentityClientLiveTests.cs
  sdk/communication/Azure.Communication.Administration/tests/samples/Sample1_CommunicationIdentityClient.cs
  sdk/communication/Azure.Communication.Administration/tests/samples/Sample2_PhoneNumberAdministrationClient.cs
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatMessage.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThread.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThreadMember.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ReadReceipt.cs
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsLiveTest.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample1_ThreadOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample2_MessagingOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample3_MemberOperations.cs
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/CallingApplicationIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/PhoneNumberIdentifier.cs
  sdk/communication/Azure.Communication.Sms/api/Azure.Communication.Sms.netstandard2.0.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTests.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientTest.cs
Labels: Communication

#17631 [COMMUNICATION] - [LIVE TESTS] - adding missing env var
  sdk/communication/test-resources.json
Labels: Communication

#17571 Added the Azure.MixedReality.Authentication library
  sdk/mixedreality/Azure.MixedReality.Authentication/Azure.MixedReality.Authentication.sln
  sdk/mixedreality/Azure.MixedReality.Authentication/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.Authentication/Directory.Build.props
  sdk/mixedreality/Azure.MixedReality.Authentication/README.md
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.MixedReality.Authentication.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Customizations/MixedRealityTokenRequestOptions.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Customizations/ModelExtensions.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Customizations/StsTokenResponseMessage.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/MixedRealityStsGetTokenHeaders.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/MixedRealityStsRestClient.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/Models/MixedRealityTokenRequestOptions.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/Models/StsTokenResponseMessage.Serialization.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/Models/StsTokenResponseMessage.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/GlobalSuppressions.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/JwtHelper.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityAccountKeyCredential.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityStsClient.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityStsClientOptions.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/autorest.md
  sdk/mixedreality/Azure.MixedReality.Authentication/src/properties/AssemblyInfo.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Azure.MixedReality.Authentication.Tests.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/MixedRealityRecordMatcher.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/MixedRealityStsClientLiveTest.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/MixedRealityTestEnvironment.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Samples/MixedRealityStsClientSamples.HelloWorld.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/SessionRecords/MixedRealityStsClientLiveTest/GetToken.json
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/SessionRecords/MixedRealityStsClientLiveTest/GetTokenAsync.json
  sdk/mixedreality/test-resources.json
Labels: Azure.Core, auto-merge

#17630 Sync eng/common directory with azure-sdk-tools for PR 1287
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#17637 Add System.IdentityModel.Tokens.Jwt to versions
  eng/Packages.Data.props
Labels: auto-merge

#17604 Add tests for enableAutomaticUpgrade property for VM Extensions
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/ExtensionTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ExtensionTests/TestVMExtensionOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetExtensionTests/TestVMScaleSetExtensions.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetExtensionTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetTestsBase.cs
Labels: Compute

#17635 Add AsyncPageable scope validation
  eng/Packages.Data.props
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/communication/Azure.Communication.Administration/src/PhoneNumberAdministrationClient.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/core/Azure.Core.TestFramework/src/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core/tests/ClientTestBaseDiagnosticScopeTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusAdministrationClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Azure.Core, auto-merge

#17555 Add perf tests for MS Azure File Storage (T1) API
  eng/Packages.Data.props
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.File.Perf.slnf
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Azure.Storage.Files.Shares.Perf.sln
  sdk/storage/Azure.Storage.Files.Shares/perf/Microsoft.Azure.Storage.File.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Microsoft.Azure.Storage.File.Perf/Microsoft.Azure.Storage.File.Perf.csproj
  sdk/storage/Azure.Storage.Files.Shares/perf/Microsoft.Azure.Storage.File.Perf/Program.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Microsoft.Azure.Storage.File.Perf/Scenarios/DownloadFile.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Microsoft.Azure.Storage.File.Perf/Scenarios/UploadFile.cs
  sdk/storage/Azure.Storage.sln
Labels: Storage

#17590 [MetricsAdvisor] Added tests for the AnomalyDetectionConfiguration CRUD operations
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/DisposableDetectionConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyDetectionConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyDetectionConfigurationTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithChangeAndSmartConditions.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithChangeAndSmartConditionsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithHardCondition.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithHardConditionAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithSeriesConditions.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithSeriesConditionsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithSeriesGroupConditions.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/CreateAndGetDetectionConfigurationWithSeriesGroupConditionsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/DeleteDetectionConfiguration.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/DeleteDetectionConfigurationAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/GetDetectonConfigurations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/GetDetectonConfigurationsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithEveryMemberAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithEveryMemberAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetMetricAnomalyDetectionConfigurations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetMetricAnomalyDetectionConfigurationsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/MetricAnomalyDetectionConfigurationOperations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/MetricAnomalyDetectionConfigurationOperationsAsync.json
Labels: Client, Cognitive - Metrics Advisor

#17663 [TestFramework] Add README note about sharing fields and tests
  sdk/core/Azure.Core.TestFramework/README.md
Labels: Azure.Core

#17689 [Docs] Add PowerShell to Contributing Guide
  CONTRIBUTING.md
Labels: Docs

#17661 Addressing changes coming from azure board API approved review.
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/ChatClient.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatThreadRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsErrors.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsErrors.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsResult.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsResult.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatError.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatError.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatMessage.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatMessageReadReceipt.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatMessageReadReceiptsCollection.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatParticipantInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadInfo.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadErrors.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadErrors.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadResultInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadResultInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/SendChatMessageResult.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/SendChatMessageResult.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UpdateChatMessageRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UpdateChatThreadRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Models/AddChatParticipantsRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Models/AzureCommunicationChatServiceRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatError.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatModelFactory.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThread.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CreateChatThreadResult.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CreateChatThreadResultInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Models/SendChatMessageResult.cs
  sdk/communication/Azure.Communication.Chat/src/Models/UpdateChatMessageRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Models/UpdateChatThreadRequest.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsLiveTest.cs
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsTests.cs
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatLiveTestBase.cs
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTest/ReadReceiptGS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTest/ReadReceiptGSAsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTest/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTest/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT_AsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample1_ThreadOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample2_MessagingOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample3_ParticipantOperations.cs
Labels: Communication

#17675 Add communication identifier for Microsoft Teams user
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
Labels: Communication

#17694 #17662 [bug] add setters to LengthTokenilter
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/LengthTokenFilter.cs
Labels: Client, Community Contribution, Search

#17517 [TA] Assigning canary to centraluseuap
  sdk/textanalytics/tests.yml
Labels: Cognitive - Text Analytics

#17709 Increase TimeoutInMinutes for FR
  sdk/formrecognizer/tests.yml
Labels: Cognitive - Form Recognizer

#17671 [MetricsAdvisor] Added tests for the AnomalyAlertConfiguration CRUD operations
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/DisposableAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithMultipleMetricConfigurations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithMultipleMetricConfigurationsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithOptionalSingleMetricConfigurationMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithOptionalSingleMetricConfigurationMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithSeriesGroupScope.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithSeriesGroupScopeAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithTopNScope.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithTopNScopeAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScopeAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/DeleteAlertConfiguration.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/DeleteAlertConfigurationAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/GetAlertConfigurations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/GetAlertConfigurationsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMemberAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMemberAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/AnomalyAlertConfigurationOperations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/AnomalyAlertConfigurationOperationsAsync.json
Labels: Client, Cognitive - Metrics Advisor

#17722 [FR] Enable receipts tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
Labels: Cognitive - Form Recognizer

#17720 [TA] Improve entities tests
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeLinkedEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTestAsync.json
Labels: Cognitive - Text Analytics
