Repository Azure/azure-sdk-for-net, pull requests merged in 2020-05, with the labels that each got.

#11719 Make ServiceBusRuleManager and filters internal
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/CorrelationFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/FalseFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/Filter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleDescription.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/SqlFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/SqlFilterExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/SqlRuleAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/TrueFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
Labels: Client, Service Bus

#11727 [Event Hub] Use ExceptionDispatchInfo consistently accross AqmpClient and Producer like in AmqpConsumer
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/ExceptionExtensions.cs
Labels: Client, Community Contribution, Event Hubs

#11732 [Event Hubs Client] Ignore Hanging Test
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
Labels: Client, Event Hubs

#11715 Implement remaining table entity operations
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/AssemblyInfo.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableInternalRestClient.cs
  sdk/tables/Azure.Data.Tables/src/QueryOptions.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalMergeEntityHeaders.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/tests/Azure.Data.Tables.Tests.csproj
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdates.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdatesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilter.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilterAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Tables

#11285 [Identity] User authentication API for applications
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AbstractAcquireTokenParameterBuilderExtensions.cs
  sdk/identity/Azure.Identity/src/AuthenticationAccount.cs
  sdk/identity/Azure.Identity/src/AuthenticationRecord.cs
  sdk/identity/Azure.Identity/src/AuthenticationRequiredException.cs
  sdk/identity/Azure.Identity/src/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/KnownAuthorityHosts.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/AuthenticationRecordTests.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/IntertactiveBrowserCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateUsernamePasswordLive.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateUsernamePasswordLiveAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_AuthenticationCodeInsteadOfRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_AuthenticationCodeInsteadOfRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettings.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettingsAsync.json
  sdk/identity/Azure.Identity/tests/StaticCachesUtilities.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialLiveTests.cs
Labels: APIChange

#11736 [Event Hubs Client] May Change Log Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Docs, Event Hubs

#11726 [Service Bus] Adding multiple named sessions support for session processor
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Client, Service Bus

#11737 [Engineering System] Enable Console Logging for CI Test Runs
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#11766 implement Shared Access Signatures and refactor test class
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableItem.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableItem.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableQueryResponse.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableQueryResponse.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableResponse.cs
  sdk/tables/Azure.Data.Tables/src/QueryOptions.cs
  sdk/tables/Azure.Data.Tables/src/Sas/Errors.cs
  sdk/tables/Azure.Data.Tables/src/Sas/SasExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Sas/SasIPRange.cs
  sdk/tables/Azure.Data.Tables/src/Sas/SasProtocol.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasPermissions.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasQueryParameters.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableResponseProperties.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/TableSharedKeyCredential.cs
  sdk/tables/Azure.Data.Tables/src/TableSharedKeyPipelinePolicy.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdates.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdatesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentials.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentialsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilter.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilterAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/TablesRecordedTestSanitizer.cs
  sdk/tables/Azure.Data.Tables/tests/UriQueryParamsCollection.cs
Labels: Tables

#11728 [FormRecognizer] Test fix and sample reordering
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer, Test Debt

#11760 [FormRecognizer] Add DisposableTrainedModel test helper class
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableTrainedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
Labels: Client, Cognitive Services, FormRecognizer, Test Debt

#11702 Use Configuration=Release for management release pipeline
  eng/pipelines/templates/jobs/archetype-sdk-mgmt.yml
Labels: Mgmt-EngSys

#11801 [Event Hubs Client] Processor Release Readiness (v5.1.0)
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.sln
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
Labels: Client, Event Hubs

#11548 Feature/storage/jumbo blob
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(10240).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(10240)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(2048).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(2048)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(20480).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(20480)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(30720).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(30720)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(4096).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(4096)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(512).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(512)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(51200).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadFileAsync_SmallBlobs(51200)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(10240).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(10240)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(2048).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(2048)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(20480).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(20480)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(30720).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(30720)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(4096).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(4096)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(512).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(512)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(51200).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/UploadStreamAsync_SmallBlobs(51200)Async.json
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/ChunkedStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploadExtensions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PooledMemoryStream.cs
  sdk/storage/Azure.Storage.Common/src/StorageTransferOptions.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/PooledMemoryStreamTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/PredictableStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePartitionedUploader.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakePartitionedUploaderTests.cs
Labels: APIChange, ArchApproved

#11831 [FormRecognizer] Preview 2: changelog update
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
Labels: Client, Cognitive Services, Docs, FormRecognizer

#11836 [Container Registry] bump the version to prepare publish sdk with release build
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Microsoft.Azure.Management.ContainerRegistry.csproj
Labels: Mgmt, Waiting for CI :shipit:

#11704 Updating Security Center client
  eng/mgmt/mgmtmetadata/security_resource-manager.txt
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/AdditionalData.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/AllowlistCustomAlertRule.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/AmqpC2DRejectedMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/AmqpD2CMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/AutomationAction.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/ConnectionToIpNotAllowed.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/CustomAlertRule.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/DenylistCustomAlertRule.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/DirectMethodInvokesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/ExternalSecuritySolution.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/FailedLocalLoginsNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/FileUploadsNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/HttpC2DMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/HttpC2DRejectedMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/HttpD2CMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/ListCustomAlertRule.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/LocalUserNotAllowed.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/MqttC2DMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/MqttC2DRejectedMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/MqttD2CMessagesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/ProcessNotAllowed.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/QueuePurgesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/ResourceDetails.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/ThresholdCustomAlertRule.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/TimeWindowCustomAlertRule.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/TwinUpdatesNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/UnauthorizedOperationsNotInAllowedRange.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Microsoft.Azure.Management.SecurityCenter.csproj
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Properties/AssemblyInfo.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/AdaptiveApplicationControls/AdaptiveApplicationControlsTests.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/AdaptiveNetworkHardenings/AdaptiveNetworkHardeningsTests.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/AllowedConnections/AllowedConnectionsTests.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AdaptiveApplicationControlsTests/AdaptiveApplicationControls_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AdaptiveApplicationControlsTests/AdaptiveApplicationControls_List.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AdaptiveApplicationControlsTests/AdaptiveApplicationControls_Put.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AdaptiveNetworkHardeningsTests/AdaptiveNetworkHardenings_Enforce.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AdaptiveNetworkHardeningsTests/AdaptiveNetworkHardenings_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AllowedConnectionsTests/AllowedConnections_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/AllowedConnectionsTests/AllowedConnections_List.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_CreateOrUpdate.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_Delete.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_Initiate.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_List.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_ListByRegion.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_ListByResourceGroup.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/JitNetworkAccessPoliciesTests/JitNetworkAccessPolicies_ListByResourceGroupAndRegion.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/SecurityAlertsTests/SecurityAlerts_UpdateResourceGroupLevelAlertState.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/TopologyTests/Topology_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/TopologyTests/Topology_List.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/Topology/TopologyTests.cs
Labels: Mgmt, Waiting for CI :shipit:

#11824 [Event Hubs Client] Minor Improvements Collection
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/ExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpExceptionExtensionsTests.cs
Labels: Client, Event Hubs

#11851 Fixup some model names and return types
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableResponse.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableResponse.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableInternalRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableResponse.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Client, Tables

#11841 Move smoke-tests.yml to enable notifications
  common/SmokeTests/smoke-tests.yml
Labels: EngSys

#11733 Adding Marketpalce service
  eng/mgmt/mgmtmetadata/marketplace_resource-manager.txt
  eng/pipelines/mgmt.yml
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/AzSdk.RP.props
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/Microsoft.Azure.Management.Marketplace.sln
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/IMarketplaceManagementClient.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/IOperations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/IPrivateStoreOfferOperations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/IPrivateStoreOffersOperations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/IPrivateStoreOperations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/MarketplaceManagementClient.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/Availability.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/ErrorResponse.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/ErrorResponseError.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/ErrorResponseException.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/Offer.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/Operation.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/OperationDisplay.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/OperationListResult.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/Page.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/Plan.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/PrivateStore.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Models/Resource.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/Operations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/OperationsExtensions.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/PrivateStoreOfferOperations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/PrivateStoreOfferOperationsExtensions.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/PrivateStoreOffersOperations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/PrivateStoreOffersOperationsExtensions.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/PrivateStoreOperations.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/PrivateStoreOperationsExtensions.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Generated/SdkInfo_MarketplaceManagementClient.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/Microsoft.Azure.Management.Marketplace.csproj
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/src/generate.ps1
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/tests/Microsoft.Azure.Management.Marketplace.Tests.csproj
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/tests/ScenarioTests/PrivateStoreTests.cs
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/tests/SessionRecords/PrivateStoreTests/PrivateStoreOffersTest.json
  sdk/marketplace/Microsoft.Azure.Management.Marketplace/tests/SessionRecords/PrivateStoreTests/PrivateStoresTest.json
Labels: Mgmt, Waiting for CI :shipit:

#11898 Re-generate Network SDK
  eng/mgmt/mgmtmetadata/network_resource-manager.txt
  sdk/network/Microsoft.Azure.Management.Network/AzSdk.RP.props
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/P2SVpnGateway.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/SdkInfo_NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Microsoft.Azure.Management.Network.csproj
  sdk/network/Microsoft.Azure.Management.Network/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#11850 [Event Hubs Client] Test Adjustments
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
Labels: Client, Event Hubs

#11790 TableSasBuilder pattern changes
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentials.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentialsAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Client, Tables

#11918 [FormRecognizer] Removed setters from FormPage properties
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
Labels: Client, Cognitive Services, FormRecognizer

#11915 [Core] Test Framework: request body validation skipped when not recording
  sdk/core/Azure.Core.TestFramework/src/PlaybackTransport.cs
  sdk/core/Azure.Core.TestFramework/src/RecordSession.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
Labels: Azure.Core

#11931 [FormRecognizer] API changes: created GetFormRecognizerClient
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#10917 Support HTTP Proxy for Services.AppAuthentication and ADAL
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/AzureServiceTokenProviderTests.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/Mocks/MockHttpClientFactory.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProvider.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProviderFactory.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/Clients/AdalAuthenticationContext.cs
Labels: AppAuthentication

#11876 Update to add support for managed identity and export
  eng/mgmt/mgmtmetadata/healthcareapis_resource-manager.txt
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/AzSdk.RP.props
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Generated/Models/ManagedServiceIdentityType.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Generated/Models/Resource.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Generated/Models/ResourceIdentity.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Generated/Models/ServiceExportConfigurationInfo.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Generated/Models/ServicesDescription.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Generated/Models/ServicesProperties.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Generated/SdkInfo_HealthcareApisManagementClient.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Microsoft.Azure.Management.HealthcareApis.csproj
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/src/Properties/AssemblyInfo.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/tests/Helpers/HealthcareApisManagementTestUtilities.cs
  sdk/healthcareapis/Microsoft.Azure.Management.HealthcareApis/tests/Microsoft.Azure.Management.HealthcareApis.Tests.csproj
Labels: Mgmt, needs-revision

#11964 Simplify the TablesRecordedTestSanitizer to employ regex
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdates.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdatesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentials.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentialsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilter.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilterAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TablesRecordedTestSanitizer.cs
  sdk/tables/Azure.Data.Tables/tests/UriQueryParamsCollection.cs
Labels: Client, Tables

#11950 [FormRecognizer] API changes: return collections instead of interface in Response<T>
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample1_RecognizeFormContent.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPageCollection.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/OperationExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedFormCollection.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceiptCollection.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
Labels: Client, Cognitive Services, FormRecognizer

#11991 [FormRecognizer] API Changes: renames
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample4_TrainModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample5_ManageCustomModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPageRange.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerError.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FormRecognizerError.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableTrainedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample5_TrainModelWithFormsAndLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample6_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample6_ManageCustomModelsAsync.cs
Labels: Client, Cognitive Services, FormRecognizer

#11994 Remove tons of generated code overrides
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/AccessPolicy.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/CorsRule.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/LoggingSettings.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/OdataMetadataFormat.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/RequestMetrics.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/ResponseFormat.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/RetentionPolicy.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/SignedIdentifier.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/StorageError.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/StorageServiceProperties.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableMetrics.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableMetrics.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceError.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceError.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceProperties.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceProperties.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceStats.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceStats.cs
  sdk/tables/Azure.Data.Tables/src/Generated/ServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/Generated/ServiceRestClient.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableInternalCreateHeaders.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableInternalInsertEntityHeaders.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableInternalMergeEntityHeaders.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableInternalRestClient.cs
  sdk/tables/Azure.Data.Tables/src/OdataMetadataFormat.cs
  sdk/tables/Azure.Data.Tables/src/RequestMetrics.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableMetrics.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/autorest.md
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdates.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdatesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
Labels: Client, Tables

#11890 skip-url-encoding for ScopeParameter to avoid unnecessary url-encoding
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/TagsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/DeploymentTests.ScenarioTests.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/TagTests.ScenarioTests.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/management_group_level_template.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentTests/DeploymentWithScope_AtManagementGroup.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentTests/DeploymentWithScope_AtResourceGroup.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveDeploymentTests/DeploymentWithScope_AtSubscription.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/CreateTagsWithSubscriptionTest.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/CreateTagsWithTrackedResourcesTest.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/DeleteTagsWithSubscriptionTest.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/DeleteTagsWithTrackedResourcesTest.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/GetTagsWithSubscriptionTest.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/GetTagsWithTrackedResourcesTest.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/UpdateTagsWithSubscriptionTest.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTagsTests/UpdateTagsWithTrackedResourcesTest.json
Labels: Mgmt, needs-revision

#12013 ASR: A2A Zone to zone
  eng/mgmt/mgmtmetadata/recoveryservicessiterecovery_resource-manager.txt
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AReplicationDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/RecoveryPlanA2ADetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Microsoft.Azure.Management.RecoveryServices.SiteRecovery.csproj
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#11997 Generate SDK from new version
  eng/mgmt/mgmtmetadata/subscription_resource-manager.txt
  sdk/subscription/Microsoft.Azure.Management.Subscription/AzSdk.RP.props
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/ISubscriptionClient.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/ISubscriptionFactoryOperations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/ISubscriptionOperations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/ISubscriptionsOperations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/ModernCspSubscriptionCreationParameters.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/ModernSubscriptionCreationParameters.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/SubscriptionCreateCspSubscriptionHeaders.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/SubscriptionCreateSubscriptionHeaders.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/SubscriptionCreateSubscriptionInEnrollmentAccountHeaders.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/SubscriptionCreationParameters.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/SubscriptionOperation.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Models/SubscriptionOperationListResult.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/Operations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SdkInfo_SubscriptionClient.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionClient.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionFactoryOperations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionFactoryOperationsExtensions.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionOperationOperations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionOperations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionOperationsExtensions.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionsOperations.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Generated/SubscriptionsOperationsExtensions.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Microsoft.Azure.Management.Subscription.csproj
  sdk/subscription/Microsoft.Azure.Management.Subscription/src/Properties/AssemblyInfo.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/tests/FullDesktop/SessionRecords/FullDesktop.Tests.LiveSubscriptionCreationTests/CreateSubscription.json
  sdk/subscription/Microsoft.Azure.Management.Subscription/tests/FullDesktop/SubscriptionCreationTests.ScenarioTests.cs
  sdk/subscription/Microsoft.Azure.Management.Subscription/tests/NetCore/InMemoryTests/SubscriptionCreationTests.InMemory.cs
Labels: Mgmt, needs-review

#11977 [DataFactory]Add storeSettings for GetMetadata and Delete activity
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DeleteActivity.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/GetMetadataActivity.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
Labels: Mgmt, needs-review

#12004 Generate from latest api spec, bump version to 7.2.0-preview
  eng/mgmt/mgmtmetadata/cognitiveservices_resource-manager.txt
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/AccountsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/AccountsOperationsExtensions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/CognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/IAccountsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/ICognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/IPrivateEndpointConnectionsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/IPrivateLinkResourcesOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/AzureEntityResource.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccount.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountApiProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateEndpoint.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateEndpointConnectionProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateEndpointServiceConnectionStatus.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateLinkResource.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateLinkResourceListResult.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateLinkResourceProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PrivateLinkServiceConnectionState.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/ProxyResource.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/PublicNetworkAccess.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/Resource.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/TrackedResource.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Operations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/PrivateEndpointConnectionsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/PrivateEndpointConnectionsOperationsExtensions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/PrivateLinkResourcesOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/PrivateLinkResourcesOperationsExtensions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/ResourceSkusOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/SdkInfo_CognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/code-model-v1
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Microsoft.Azure.Management.CognitiveServices.csproj
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Properties/AssemblyInfo.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/SessionRecords/CognitiveServices.Tests.CognitiveServicesAccountTests/CognitiveServicesAccountPrivateEndpointConnectionTest.json
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/SessionRecords/CognitiveServicesAccountTests/CognitiveServicesAccountPrivateEndpointConnectionTest.json
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/Tests/CognitiveServicesAccountTests.cs
Labels: Mgmt, Waiting for CI :shipit:

#12044 Update CODEOWNERS with smoke test owners
  .github/CODEOWNERS
Labels: EngSys

#12051 Implement support for custom entity types
  eng/Packages.Data.props
  sdk/core/Azure.Core.TestFramework/src/UseSyncMethodsInterceptor.cs
  sdk/core/Azure.Core/tests/ClientTestBaseTests.cs
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/StringTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TableEntityExtensions.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesAreRoundtrippedProprly.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesAreRoundtrippedProprlyAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables

#12086 [FormRecognizer] Bugfix: RecognizeCustomForm can parse multi-paged form
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipage_invoice_noblank.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipagedForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipagedForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipagedForms(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipagedForms(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipagedForms(True,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipagedForms(True,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipagedForm(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipagedForm(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipagedForm(True,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipagedForm(True,True)Async.json
Labels: Client, Cognitive Services, FormRecognizer, Test Debt

#12105 fixup random ID generation
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/CustomEntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntitiyCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdates.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeDoesPartialPropertyUpdatesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/EntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertReturnsEntitiesWithoutOdataAnnoations.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertReturnsEntitiesWithoutOdataAnnoationsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesAreRoundtrippedProprly.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesAreRoundtrippedProprlyAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedCustomEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesAreRoundtrippedWithProperOdataAnnoations.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesAreRoundtrippedWithProperOdataAnnoationsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/QueryReturnsEntitiesWithoutOdataAnnoations.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/QueryReturnsEntitiesWithoutOdataAnnoationsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/UpsertedEntitiesAreRoundtrippedWithProperOdataAnnoations.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/UpsertedEntitiesAreRoundtrippedWithProperOdataAnnoationsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentials.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/ValidateSasCredentialsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilter.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilterAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables

#12111 Pay some test debt
  sdk/tables/Azure.Data.Tables/src/AssemblyInfo.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientTests.cs
Labels: Client, Tables

#12125 [Messaging] Fix typo: Aquire -> Acquire
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
Labels: Client, Community Contribution, Event Hubs, Service Bus

#12107 [FormRecognizer] Addressing outstanding issues: multipage fix
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForms(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForms(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForms(True,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForms(True,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True,True)Async.json
Labels: Client, Cognitive Services, Docs, FormRecognizer, Test Debt

#12137 [FormRecognizer] Added client constructors for AAD auth
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Constants.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerRecordedTestSanitizer.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/FormRecognizerClientCanAuthenticateWithTokenCredential.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/FormRecognizerClientCanAuthenticateWithTokenCredentialAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/FormTrainingClientCanAuthenticateWithTokenCredential.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/FormTrainingClientCanAuthenticateWithTokenCredentialAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12179 generate sdk with data sync changes
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/SyncGroup.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/SyncMember.cs
Labels: Mgmt

#12229 update sdk for saved searches, deleted workspace
  eng/mgmt/mgmtmetadata/operationalinsights_resource-manager.txt
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/AvailableServiceTiersOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/AvailableServiceTiersOperationsExtensions.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/DeletedWorkspacesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/DeletedWorkspacesOperationsExtensions.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IAvailableServiceTiersOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IDeletedWorkspacesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IOperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/IWorkspacesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/Models/SavedSearch.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/OperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/SdkInfo_OperationalInsightsManagementClient.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/WorkspacesOperations.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Generated/WorkspacesOperationsExtensions.cs
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Microsoft.Azure.Management.OperationalInsights.csproj
  sdk/operationalinsights/Microsoft.Azure.Management.OperationalInsights/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#12214 [Event Hubs Client] Event Source and README Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorClientEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Client, Event Hubs

#12233 [FormRecognizer] Fix: client can now parse results with null fields
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseDifferentTypeOfForm.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseDifferentTypeOfFormAsync.json
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12192 [FormRecognizer] Fix: StartRecognizeCustomFormsFromUri works when URI has blank space
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientMockTests.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12263 [AMS] Add ListEdgePolicies Action on media service account on stable version of the API
  eng/mgmt/mgmtmetadata/mediaservices_resource-manager.txt
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/IMediaservicesOperations.cs
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/MediaservicesOperations.cs
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/MediaservicesOperationsExtensions.cs
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/Models/EdgePolicies.cs
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/Models/EdgeUsageDataCollectionPolicy.cs
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/Models/EdgeUsageDataEventHub.cs
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/Models/ListEdgePoliciesInput.cs
  sdk/mediaservices/Microsoft.Azure.Management.Media/src/Generated/SdkInfo_AzureMediaServices.cs
Labels: Mgmt, needs-revision

#12284 [FormRecognizer] Tests: supporting forms with blank pages
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/blank.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipage_invoice1.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageFormWithBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageFormWithBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageFormWithBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageFormWithBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForms(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForms(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageFormWithBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageFormWithBlankPageAsync.json
Labels: Client, Cognitive Services, Docs, FormRecognizer, Test Debt

#12285 [FormRecognizer] Whitelist redacted headers for logging
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#11360 Fix sample code error and content error of Azure Identity readme
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity, Client, Docs

#12295 [FormRecognizer] Tests: test infrastructure cleanup (TestFilename class)
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Extensions/StreamExtensionsTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/TestFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
Labels: Client, Cognitive Services, FormRecognizer

#12235 Generate .NET SDK for AlertsManagement using AutoRest
  eng/mgmt/mgmtmetadata/alertsmanagement_resource-manager.txt
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/ActionRulesOperations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/AlertsManagementClient.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/AlertsOperations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/AlertsOperationsExtensions.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/IAlertsManagementClient.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/IAlertsOperations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AlertModificationEvent.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AlertModificationItem.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AlertsMetaData.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/AlertsMetaDataProperties.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/MonitorServiceDetails.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/MonitorServiceList.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/Scope.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/Models/ScopeType.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/SdkInfo_AlertsManagementClient.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Generated/SmartGroupsOperations.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Microsoft.Azure.Management.AlertsManagement.csproj
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/Properties/AssemblyInfo.cs
  sdk/alertsmanagement/Microsoft.Azure.Management.AlertsManagement/src/generate.ps1
Labels: Mgmt, needs-review

#12277 [Compute] SDK version 36.1.0 update
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IResourceSkusOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryArtifactVersionSource.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryDataDiskImage.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryDiskImage.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryImageVersion.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryImageVersionStorageProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryImageVersionUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryOSDiskImage.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/ResourceSkusOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/ResourceSkusOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMIdentityTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetOperationalTests/TestVMScaleSetOperations_ConvertToSinglePlacementGroup.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetOperationalTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetTestsBase.cs
Labels: Mgmt, needs-review

#12298 resolve bugs of 3.4.0-preview
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/AzSdk.RP.props
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/TenantIdDescription.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/SdkInfo_SubscriptionClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/SubscriptionClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/generate.ps1
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveSubscriptionTests/GetSubscriptionDetails.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveSubscriptionTests/ListSubscriptions.json
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTenantTests/ListTenants.json
Labels: Mgmt, needs-review

#12320 [FormRecognizer] Make FieldValue's integer value an Int64
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceipt.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12236 Port of Table LINQ query provider from track 1
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/EntityUtilities.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ClientConvert.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/Evaluator.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionNormalizer.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionParser.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionWriter.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/LinqExpressionVisitor.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ReferenceEqualityComparer.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ReferenceEqualityComparer{T}.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ResourceExpressionType.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/SR.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/UriHelper.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/WebConvert.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/XmlConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableComplexFilter.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableComplexFilterAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableDynamicTableEntityQuery.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableDynamicTableEntityQueryAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableEnumerateTwice.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableEnumerateTwiceAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableExecuteQueryGeneric.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableExecuteQueryGenericAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableFilterPredicate.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableFilterPredicateAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableMultipleTake.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableMultipleTakeAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableMultipleWhere.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableMultipleWhereAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableNestedParanthesis.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableNestedParanthesisAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableOnSupportedTypes.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableOnSupportedTypesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableUnary.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableUnaryAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableWithInvalidQuery.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableWithInvalidQueryAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableTakeWithContinuationTask.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableTakeWithContinuationTaskAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryableLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables

#12344 [FormRecognizer] Whitelist redacted query parameters for logging
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12345 [FormRecognizer] Fix: failing live test (wrong form)
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromUri.cs
Labels: Client, Cognitive Services, FormRecognizer, LiveTestFailure

#12348 [FormRecognizer] Rename parameter filter to trainingFileFilter
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer
