Repository Azure/azure-sdk-for-net, pull requests merged in 2020-02, with the labels that each got.

#9736 [Storage] Support PITR and upgrade to 14.4.0
  eng/mgmt/mgmtmetadata/storage_resource-manager.txt
  sdk/storage/Microsoft.Azure.Management.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/IStorageAccountsOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobRestoreParameters.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobRestoreProgressStatus.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobRestoreRange.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobRestoreStatus.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/BlobServiceProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/RestorePolicyProperties.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/StorageAccount.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/StorageAccountExpand.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/SdkInfo_StorageManagementClient.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/StorageAccountsOperations.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/StorageAccountsOperationsExtensions.cs
  sdk/storage/Microsoft.Azure.Management.Storage/src/Microsoft.Azure.Management.Storage.csproj
  sdk/storage/Microsoft.Azure.Management.Storage/src/Properties/AssemblyInfo.cs
  sdk/storage/Microsoft.Azure.Management.Storage/tests/SessionRecords/BlobServiceTests/PITRTest.json
  sdk/storage/Microsoft.Azure.Management.Storage/tests/Tests/BlobServiceTests.cs
Labels: Mgmt, needs-review

#9766 [Event Hubs Client] Test Infrastructure Retry Tweaks (Tracks One and Two)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#9774 [Event Hubs Client] Mocked Async Event Source Workaround
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs

#9788 [Deployment Scripts] Update .NET SDK version
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
Labels: Mgmt

#9799 [Event Hubs Client] Marking Flaky Tests for Skip (Track One)
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/ServiceFabricProcessor/CheckpointingTests.cs
Labels: Client, Event Hubs

#9803 Regenerate 2019-10-01 SDK for Tag API
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/ITagsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/TagDetails.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/TagValue.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/Tags.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/TagsPatchResource.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/TagsResource.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/TagsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/TagsOperationsExtensions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/TagTests.ScenarioTests.cs
Labels: Mgmt, needs-revision

#9198 Extract Load Balancing from the Event Processor
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/MockEventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/PartitionLoadBalancerEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/MockCheckPointStorage.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/MockCheckPointStorageTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/ServiceFabricProcessor/CheckpointingTests.cs
Labels: Client, Community Contribution, Event Hubs

#9912 Rename PartitionManager class to StorageManager
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/MockEventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/StorageManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/MockCheckPointStorage.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/MockCheckPointStorageTests.cs
Labels: Client, Event Hubs

#9952 [Service Bus Client] Initial Live Test Infrastructure
  eng/Packages.Data.props
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/SessionReceiverClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/TestCategory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/TestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/TestRunFixture.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Properties/AssemblyInfo.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SenderLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/ServiceBusTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionReceiverLiveTests.cs
  sdk/servicebus/ci.yml
  sdk/servicebus/test-resources.json
  sdk/servicebus/tests.yml
Labels: Client, Service Bus

#10009 [Service Bus Client] Test Resources Tweaks
  sdk/servicebus/test-resources.json
Labels: Client, Service Bus

#10033 Implement receive batch methods
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConsumer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportConsumer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/QueueReceiverClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionReceiverLiveTests.cs
Labels: Client, Service Bus

#9761 [EventHubs] Improving Event Hubs unit tests coverage
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/MockCheckPointStorage.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
Labels: Client, Event Hubs, Test Debt

#10068 [EventHubs] Ignore tests failing during nightly runs (Track Two)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs, Test Debt

#10098 [EventHubs] Ignore unstable test (Track Two)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs, Test Debt

#10105 [Event Hubs Client] Add Event Source Traits
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/PartitionLoadBalancerEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
Labels: Client, Event Hubs

#10102 [Event Hubs Client] Test Resources Clean-Up
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/ConnectionStringTokenParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/TestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/test-resources.json
Labels: Client, Event Hubs

#10074 Added Exists(), CreateIfNotExists(), and DeleteIfExists() to ShareCli…
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateIfNotExists_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateIfNotExists_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateIfNotExists_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateIfNotExists_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateIfNotExists_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateIfNotExists_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateIfNotExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateIfNotExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateIfNotExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateIfNotExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateIfNotExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateIfNotExistsAsync_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsExists_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExists_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_NotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: APIChange

#10116 [Event Hubs Client] Clean Nightly Test Configuration
  sdk/eventhub/test-resources.json
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs

#10069 [Event Hubs Client] Documentation Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/event-processor{T}-proposal.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
Labels: Client, Documentation, Event Hubs

#10127 [Event Hubs Client] Enable API Compatibility Checks
  eng/ApiCompat/ApiCompat.csproj
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#10117 Delete obsolete tests and fix some flaky tests
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
Labels: Client, Community Contribution, Event Hubs, Test Debt

#9959 Move Server Azure AD Admin from 2014-04-01 to 2019-06-01-preview
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/AzSdk.RP.props
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IServerAzureADAdministratorsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ServerAzureADAdministrator.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ServerAzureADAdministratorsOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ServerAzureADAdministratorsOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ActiveDirectoryAdministratorTest.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ActiveDirectoryAdministratorTest/TestSetServerActiveDirectoryAdministrator.json
Labels: Mgmt, Waiting for CI :shipit:

#10138 Minor speed increase for CI
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
Labels: Client, Community Contribution, Event Hubs

#9297 Add Gitter community channel
  README.md
Labels: Client, Docs

#10147 [Event Hubs Client] Preparation for Event Processor<T> Implementation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/MockEventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/PartitionOwnershipExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/PartitionOwnershipExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Processor.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/Checkpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/StorageManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/MockCheckPointStorage.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/MockCheckPointStorageTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorCheckpoint.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorPartitionOwnership.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Errors/EventHubsExceptionTests.cs
Labels: APIChange, ArchApproved, Client, Event Hubs

#9824 ServiceBus ManagedIdentityTokenProvider with AzureServiceTokenProvider.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/ManagedIdentityTokenProvider.cs
Labels: Client, Community Contribution, Service Attention, Service Bus

#10174 [ServiceBus] Fixing APIApproval test
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
Labels: Service Bus

#10066 [Blueprints] Update .NET SDK: add excludedActions property; update documentation
  eng/mgmt/mgmtmetadata/blueprint_resource-manager.txt
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/AssignmentLockSettings.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/ParameterDefinition.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/ParameterValue.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/ResourceGroupDefinition.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/SdkInfo_BlueprintManagementClient.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Microsoft.Azure.Management.Blueprint.csproj
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#10171 [EventHubs] Distributed Tracing: Move message spans outside of Send spans (Track Two)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
Labels: Client, Event Hubs

#10183 [EventHubs] Distributed Tracing: Do not populate schema in peer.address attribute (Track Two)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
Labels: Client, Event Hubs

#10099 Fixed regression in BlobClient.Upload() and .DownloadTo()
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(10240).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(10240)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(2048).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(2048)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(20480).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(20480)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(30720).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(30720)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(4096).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(4096)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(512).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(512)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(51200).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(51200)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(513024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadFileAsync_Parallel_SmallBlobs(513024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadToAsync_PathOverloads.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadToAsync_PathOverloadsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadToAsync_StreamOverloads.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadToAsync_StreamOverloadsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadTo_Initial304.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadTo_Initial304Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadTo_ReplacedDuringDownload.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadTo_ReplacedDuringDownloadAsync.json
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePartitionedUploader.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/ReadToAsync_PathOverloads.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/ReadToAsync_PathOverloadsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/ReadToAsync_StreamOverloads.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/ReadToAsync_StreamOverloadsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFile.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFileAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFileNoOverride.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFileNoOverrideAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFileOverride.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFileOverrideAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinStream.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinStreamAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinStreamNoOverride.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinStreamNoOverrideAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinStreamOverride.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinStreamOverrideAsync.json
Labels: APIChange

#10218 [EventHubs] Fixed EventBatch tests and updated batch constructor (Track Two)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
Labels: Client, Event Hubs, Test Debt

#10223 [Service Bus] Implement message RenewLock and RenewSessionLock
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConsumer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportConsumer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiverClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSession.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionReceiverLiveTests.cs
Labels: Client, Service Bus
