Repository Azure/azure-sdk-for-net, pull requests merged in 2020-11, with the labels that each got.

#16451 [MetricsAdvisor] Update return type of Create methods to Response<string>
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyAlert/AnomalyAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/AnomalyDetectionConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Hook/NotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Metrics/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample01_DataFeedCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample03_AnomalyDetectionConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample04_HookCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample05_AnomalyAlertConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/AnomalyAlertConfigurationOperations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/AnomalyAlertConfigurationOperationsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/MetricAnomalyDetectionConfigurationOperations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/MetricAnomalyDetectionConfigurationOperationsAsync.json
Labels: Client, Cognitive - Metrics Advisor

#16503 [MetricsAdvisor] Made similar service methods overloads
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyAlert/GetAnomaliesForAlertOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyAlert/GetIncidentsForAlertOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/DataPointAnomaly.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/GetAnomaliesForDetectionConfigurationFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/GetAnomaliesForDetectionConfigurationOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/GetIncidentsForDetectionConfigurationOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyIncident.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample07_QueryDetectedAnomalies.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample08_QueryIncidentsAndRootCauses.cs
Labels: Client, Cognitive - Metrics Advisor

#16474 [MetricsAdvisor] Bug fix: CreateDataFeed sample fails to ingest data
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample01_DataFeedCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#16466 [MetricsAdvisor] Post-Arch Board review renames
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/samples/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Metrics/FeedbackQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Metrics/GetAllMetricFeedbackOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Metrics/GetDimensionValuesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample03_DetectionConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample05_AlertConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample09_QueryTimeSeriesInformation.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#16495 Rename CorrelationRuleFilter.Properties and other admin fixes
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/CorrelationRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/CorrelationRuleFilterExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/CreateRuleOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/FalseRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/RuleDescriptionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/RuleProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/SqlRuleAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/SqlRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/TrueRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/RuleManager/RuleManagerLiveTests.cs
Labels: Service Bus

#16491 Revert session reconnect; remove send via Option
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSenderOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample06_Transactions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Service Bus

#16482 [MetricsAdvisor] Make required output types non-nullable
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/samples/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlert.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlert.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedIngestionProgress.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedIngestionStatus.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedIngestionStatus.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/EnrichmentStatus.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/EnrichmentStatus.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/IncidentProperty.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/IncidentProperty.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesData.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesData.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesDefinition.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesDefinition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyIncident.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedIngestionStatus.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Metrics/EnrichmentStatus.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/autorest.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample02_DataFeedIngestionOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#16506 Prepare for release
  sdk/core/System.Memory.Data/CHANGELOG.md
  sdk/core/System.Memory.Data/README.md
Labels: Azure.Core

#16515 Update CI file
  sdk/core/ci.yml
Labels: Azure.Core

#16489 ADT: code clean up
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/ComponentSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Models/DigitalTwinMetadataJsonConverter.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/Record-Tests.ps1
Labels: DigitalTwins

#16523 ADT: Add to changelog
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
Labels: DigitalTwins

#16488 Fixing a bug in management client that is sending atom xml elements out of order
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/QueueDescription.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/QueueDescriptionExtensions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/SubscriptionDescriptionExtensions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/TopicDescription.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/TopicDescriptionExtensions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Management/QueueDescriptionTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Management/SubscriptionDescriptionTests.cs
Labels: Service Bus

#16528 Sync eng/common directory with azure-sdk-tools for PR 1160
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#16505 Centralize the docindex scripts and regenerate Github IO landing page.
  doc/ApiDocGeneration/Generate-DocIndex.ps1
  eng/pipelines/docindex.yml
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys, EngSys

#16526 Ignoring two more properties in entity update.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/QueueDescriptionExtensions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/SubscriptionDescriptionExtensions.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/TopicDescriptionExtensions.cs
Labels: Service Bus

#16541 Fix datalake Readme issue
  sdk/storage/Azure.Storage.Files.DataLake/README.md
Labels: Storage

#16509 Seal TableEntity
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
Labels: Client, Tables

#16437 [Storage] Blobs - ability to traverse blob hierarchy upwards.
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClientAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_FromBlobClientThatHasExtraQueryParameters.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_FromBlobClientThatHasExtraQueryParametersAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithAccountSAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithAccountSASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithContainerSAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithContainerSASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanMockParentContainerClientRetrieval.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanMockParentContainerClientRetrievalAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanGetParentBlobServiceClient.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanGetParentBlobServiceClientAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanGetParentBlobServiceClient_WithAccountSAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanGetParentBlobServiceClient_WithAccountSASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanMockBlobServiceClientRetrieval.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanMockBlobServiceClientRetrievalAsync.json
Labels: Storage, auto-merge

#16479 [Event Hubs Client] Core Samples Overhaul
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/assets/identity-samples-azure-setup.ps1
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Azure.Messaging.EventHubs.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsIdentitySample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsSample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsSchemaRegistrySample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/ISample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample01_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample01_HelloWorld.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_ClientWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_EventHubMetadata.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_PublishAnEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishMultipleEventBatches.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_PublishAnEventBatchWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_EarlierLanguageVersions.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_PublishAnEventBatchToASpecificPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ReadOnlyNewEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ReadEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_PublishAnEventBatchWithCustomSizeLimit.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_AuthenticateWithClientSecretCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample13_ReadEventsWithSerialization.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample03_EventHubMetadataLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample04_PublishingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample05_ReadingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample06_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample07_EarlierLanguageVersionsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/SamplesCommonTests.cs
Labels: Client, Docs, Event Hubs

#16553 [Service Bus Client] Skip Failing Tests from Track 1
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Management/ManagementClientTests.cs
Labels: Client, Service Bus

#16555 Remove the Azure.Core.All.sln
  sdk/core/Azure.Core/.gitignore
  sdk/core/Azure.Core/Azure.Core.All.sln
  sdk/core/Azure.Core/generate_solution.ps1
Labels: Azure.Core, auto-merge

#16559 [Identity] Fix parsing of CLI expiresOn property to assume local time
  sdk/identity/Azure.Identity/src/AzureCliCredential.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
Labels: Azure.Identity

#16547 Update package icon
  eng/Directory.Build.Data.props
  eng/Directory.Build.Data.targets
  sdk/core/System.Memory.Data/CHANGELOG.md
  sdk/core/System.Memory.Data/DotNetPackageIcon.png
  sdk/core/System.Memory.Data/src/System.Memory.Data.csproj
Labels: Azure.Core, auto-merge

#16522 [FR] Add invoices functionality
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/OperationExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeInvoicesOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeInvoicesOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesCanParseBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesCanParseBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesIncludeFieldElements.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesIncludeFieldElementsAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedPdf(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedPdf(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedPdf(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedPdf(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedTiff(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedTiff(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedTiff(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesPopulatesExtractedTiff(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesThrowsForDamagedFile.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesThrowsForDamagedFileAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesWithSupportedLocale(%%).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesWithSupportedLocale(%%)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesWithSupportedLocale(%en-US%).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesWithSupportedLocale(%en-US%)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesWithWrongLocale.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeInvoicesWithWrongLocaleAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeInoicesOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeInoicesOperationCanPollFromNewObjectAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample13_RecognizeInvoicesFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample13_RecognizeInvoicesFromUri.cs
Labels: Cognitive - Form Recognizer

#16550 Implement TryGetFailedEntityFromException to produce the entity that caused a batch to fail
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableBatchResponse.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableTransactionalBatch.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Client, Tables, auto-merge

#16535 [Storage][Webjobs] Preview changelog entries.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#16561 Hardcode the auth scope for all clouds
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinClientTests.cs
Labels: DigitalTwins

#16558 [Identity] Adding Tenant Id and Authority Host validation
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/AzureAuthorityHosts.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/MsalClientBase.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/src/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/Validations.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/AzureIdentityEventSourceTests.cs
  sdk/identity/Azure.Identity/tests/IdentityTestEnvironment.cs
  sdk/identity/Azure.Identity/tests/TenantIdValidationTests.cs
  sdk/identity/Azure.Identity/tests/TokenCredentialOptionsTests.cs
Labels: Azure.Identity

#16564 GA BinaryData
  sdk/core/System.Memory.Data/CHANGELOG.md
  sdk/core/System.Memory.Data/src/System.Memory.Data.csproj
Labels: Azure.Core

#16428 Tsunkaraneni/bumpresourcesversion
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
Labels: needs-revision

#16560 feat(e2e): Added bicep template to help generate the ARM template
  sdk/digitaltwins/test-resources.bicep
  sdk/digitaltwins/test-resources.json
Labels: DigitalTwins

#16571 Fix links in CONTRIBUTING
  sdk/appconfiguration/CONTRIBUTING.md
Labels: App Configuration, auto-merge

#16464 Add ETag JsonConverter
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/ETag.cs
  sdk/core/Azure.Core/src/ETagConverter.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/ETagConverterTests.cs
  sdk/core/Azure.Core/tests/JsonConverterTestBase.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/api/Microsoft.Azure.Core.NewtonsoftJson.netstandard2.0.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/NewtonsoftJsonETagConverter.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/NewtonsoftJsonObjectSerializer.cs
Labels: APIChange, Azure.Core

#16572 [Event Hubs Client] Fix Contributing Links
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
Labels: Client, Docs, Event Hubs, auto-merge

#16573 Fix typo
  sdk/core/System.Memory.Data/src/System.Memory.Data.csproj
Labels: Azure.Core

#16554 Only provision and test Managed HSM when opted in
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/KeyVaultTestEnvironment.cs
  sdk/keyvault/CONTRIBUTING.md
  sdk/keyvault/test-resources-post.ps1
  sdk/keyvault/test-resources.json
Labels: KeyVault, auto-merge

#16579 [Identity] Upgrade MSAL dependency to latest
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/tests/ChainedTokenCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/IdentityRecordedTestBase.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialImdsLiveTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs
Labels: Azure.Identity

#16125 Feature/storage/blob tags75
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/TaggedBlobItem.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetSetTagsAsync_Lease.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetSetTagsAsync_LeaseAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetTagsAsync_LeaseFailed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetTagsAsync_LeaseFailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SetTagsAsync_LeaseFailed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SetTagsAsync_LeaseFailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/FindBlobsByTagAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/FindBlobsByTagAsyncAsync.json
Labels: Storage

#16520 Added integration tests for AAD and Token authentication.
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/AuthenticationTest.cs
Labels: Batch

#16556 Move BD extensions to Core.Experimental for now
  eng/Packages.Data.props
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core.Experimental/src/Serialization/SerializationExtensions.cs
  sdk/core/Azure.Core.Experimental/tests/SerializationExtensionsTests.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
Labels: Azure.Core, Event Grid, Event Hubs, Service Bus

#16585 Attribute ScoringProfile.FunctionAggregation as nullable
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Generated/Models/ScoringProfile.Serialization.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/SetScoringProfile.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/SetScoringProfileAsync.json
Labels: Search

#16588 Amqp release
  sdk/core/Azure.Core.Amqp/CHANGELOG.md
  sdk/core/ci.yml
Labels: Azure.Core

#16583 feat(e2e): Updated readme with setup instructions
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/generateArmTemplate.ps1
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
  sdk/digitaltwins/remove-test-resources-pre.ps1
Labels: DigitalTwins

#16593 Fix build break from conditional property reference
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
Labels: Search, auto-merge

#16592 Remove proj ref
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#16590 Add note about supporting a single lifetime action
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicy.cs
Labels: KeyVault

#16591 ADT: Update version number for shipping
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: DigitalTwins

#16178 Add EncryptOptions, DecryptOptions to model factory
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/DecryptOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/EncryptResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyModelFactoryTests.cs
Labels: KeyVault

#16599 Mitigate breaking build using SaveDebugRecordingsOnFailure
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/tests/AccessControlClientTestBase.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/tests/ArtifactsClientTestBase.cs
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/tests/ManagedPrivateEndpointsClientTestBase.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/tests/MonitoringClientTestBase.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/tests/SparkClientTestBase.cs
Labels: Azure.Core, auto-merge

#16603 Sync eng/common directory with azure-sdk-tools for PR 1167
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#16597 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#16612 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#16626 change BugFix to Patch
  eng/scripts/Prepare-Release.ps1
Labels: EngSys

#16605 Flip JsonDateTokens sanitizer condition
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/Infrastructure/AnomalyDetectorRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Administration/tests/Infrastructure/CommunicationIdentityClientRecordedTestSanitizer.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Infrastructure/EventGridLiveTestBase.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/CustomRequestSanitizer.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorRecordedTestSanitizer.cs
Labels: Azure.Core, Event Grid, Iot

#16610 Improve docs and add sample for cert import
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample1_HelloWorld.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample2_GetCertificates.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample2_ImportCertificate.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ImportCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SampleFixture.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample1_HelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample1_HelloWorldAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample2_GetCertificates.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample2_GetCertificatesAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample3_ImportCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample3_ImportCertificateAsync.cs
Labels: KeyVault

#16295 Blobs migration update
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
Labels: Storage

#16642 Fix more Azure.Core.All references
  sdk/appconfiguration/CONTRIBUTING.md
  sdk/keyvault/CONTRIBUTING.md
  sdk/search/CONTRIBUTING.md
  sdk/storage/CONTRIBUTING.md
Labels: KeyVault, Search, Storage, auto-merge

#16641 Version for November core releases
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Extensions.Azure/src/Internal/IClientOptionsFactory.cs
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Azure.Core, auto-merge

#16634 [MetricsAdvisor] Added tests for non-admin alert operations and time series-related operations
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricsLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricsTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%anomalyTime%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%anomalyTime%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%createdTime%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%createdTime%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%modifiedTime%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%modifiedTime%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAnomalies.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAnomaliesAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetIncidents.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetIncidentsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetMetricAnomalyDetectionConfigurations.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetMetricAnomalyDetectionConfigurationsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/CreateMetricFeedback.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/CreateMetricFeedbackAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetAlerts.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetAlertsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetAnomaliesForAlert.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetAnomaliesForAlertAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetEnrichmentStatus.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetEnrichmentStatusAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetIncidentsForAlert.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetIncidentsForAlertAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricDimensionValues.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricDimensionValuesAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricFeedbacks.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricFeedbacksAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricSeriesData.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricSeriesDataAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricSeriesDefinitions.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorClientLiveTests/GetMetricSeriesDefinitionsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetDimensionValues(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetDimensionValues(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetDimensionValues(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetDimensionValues(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricEnrichmentStatuses.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricEnrichmentStatusesAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricSeriesData.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricSeriesDataAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricSeriesDefinitions(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricSeriesDefinitions(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricSeriesDefinitions(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsLiveTests/GetMetricSeriesDefinitions(True)Async.json
Labels: Client, Cognitive - Metrics Advisor

#16649 Fixed syntax error in code block
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
Labels: Storage

#16650 send format string to Rest Clients
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Client, Tables, auto-merge

#16624 Incorporate arch board feedback into KeyVault.Administration
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_BackupHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_BackupHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_RbacScopeAssignment.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_SelectiveRestore.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample3_BackRestoreResume.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/BackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/BackupResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleAssignment.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleAssignmentProperties.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleAssignmentProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleAssignmentPropertiesWithScope.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleAssignmentPropertiesWithScope.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleDefinition.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleDefinition.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentCreateParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentListResult.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentListResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinitionListResult.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinitionListResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPermission.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultRoleAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultRoleAssignmentProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultRoleAssignmentPropertiesWithScope.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultRoleDefinition.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/FullBackupClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/AccessControlSampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_BackupHelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_RbacHelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample2_RbacScopeAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample2_SelectiveRestore.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample3_BackRestoreResume.cs
Labels: Client, KeyVault, auto-merge

#16681 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#16659 [FR] Add documentation for invoices
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample10_RecognizeInvoices.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample12_RecognizeBusinessCardsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample13_RecognizeInvoicesFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample13_RecognizeInvoicesFromUri.cs
Labels: Cognitive - Form Recognizer

#16684 Update Microsoft.Extensions.Azure versions
  eng/Packages.Data.props
  sdk/storage/Directory.Build.props
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
Labels: Storage

#16669 Sync eng/common directory with azure-sdk-tools for PR 1175
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#16645 Move EventHubs extensions to the repo
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/Directory.Build.props
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/Microsoft.Azure.WebJobs.Extensions.EventHubs.sln
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/README.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubExtensionConfigProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventDataBatchImpl.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubAttribute.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubProducerClientImpl.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubTriggerAttribute.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubsWebJobsStartup.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/IEventDataBatch.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/IEventHubProducerClient.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubsScaleMonitor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubsTriggerMetrics.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventHubsConnectionStringBuilder.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/ExceptionReceivedEventArgs.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/IEventProcessor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/IEventProcessorFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/LeaseInfo.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/ProcessorPartitionContext.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Properties/AssemblyInfo.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubAsyncCollector.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerAttributeBindingProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerBindingStrategy.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerInput.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Utility.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/sign.snk
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/webjobs.png
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/stylecop.json
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubAsyncCollectorTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsScaleMonitorTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/TestEventData.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/TestPartitionProperties.cs
  sdk/eventhub/ci.yml
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/shared/TestConfigurationBuilderExtensions.cs
Labels: Event Hubs

#15978 Feature/storage/put blob from url
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobCopySourceBlobPropertiesOption.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobUploadFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsyncAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_DestinationAccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_DestinationAccessConditionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_DestinationAccessConditionsFailed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_DestinationAccessConditionsFailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_IfTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_IfTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_IfTagsFailed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_IfTagsFailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_Lease.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_LeaseAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_LeaseFailed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_LeaseFailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_OverwiteSourceBlobProperties.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_OverwiteSourceBlobPropertiesAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_SourceAccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_SourceAccessConditionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_SourceAccessConditions_Failed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_SourceAccessConditions_FailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUri_SourceAccessConditions_FailedAsync.json
Labels: Storage

#16690 Changing FileSmbProperties empty constructor from internal to public
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/FileSmbProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#16685 Add model factories for digital twin read-only models to enable mocking
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Models/DigitalTwinsModelFactory.cs
Labels: DigitalTwins

#16123 Feature/storage/share enable protocol share squash root
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/GetSharesAsyncCollection.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareEnabledProtocols.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareItem.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/SharePropertiesInternal.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareSetPropertiesOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/swagger/readme.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ServiceClientTests/ListSharesSegmentAsync_EnabledProtocolsAndRootSquash.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ServiceClientTests/ListSharesSegmentAsync_EnabledProtocolsAndRootSquashAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateAsync_EnabledProtocolsAndRootSquash.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/CreateAsync_EnabledProtocolsAndRootSquashAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/GetPropertiesAsync_EnabledProtocolsAndRootSquash.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/GetPropertiesAsync_EnabledProtocolsAndRootSquashAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/SetPropertiesAsync_RootSquash.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/SetPropertiesAsync_RootSquashAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#16680 [MetricsAdvisor] Misc design updates
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/FeedbackQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedGranularityType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAllFeedbackOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedGranularityType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetDimensionValues(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetDimensionValues(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetDimensionValues(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetDimensionValues(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricEnrichmentStatuses.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricEnrichmentStatusesAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesData.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesDataAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesDefinitions(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesDefinitions(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesDefinitions(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesDefinitions(True)Async.json
Labels: Client, Cognitive - Metrics Advisor

#16682 [Event Hubs Client] Enhance EventHubsException.ToString
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Errors/EventHubsExceptionTests.cs
Labels: Client, Event Hubs

#16699 Add a changelog entry to Azure.Extensions.AspNetCore.Configuration.Secrets
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
Labels: auto-merge

#16695 Add configuration options to tune `SearchIndexingBufferedSender<T>`.
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Batching/Publisher{T}.cs
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingBufferedSenderOptions{T}.cs
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingBufferedSender{T}.cs
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingPublisher{T}.cs
  sdk/search/Azure.Search.Documents/tests/Batching/AsyncEventExtensionsTests.cs
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
  sdk/search/Azure.Search.Documents/tests/Batching/ManualRetryDelayTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_BatchSize.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_BatchSizeAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_MaxRetries.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_MaxRetriesAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_MaxRetryDelay.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_MaxRetryDelayAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_RetryDelay.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_RetryDelayAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Notifications_ExceptionsGetSwallowed.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Notifications_ExceptionsGetSwallowedAsync.json
Labels: Search

#16687 Verify dependency versions for release packages
  eng/Directory.Build.Data.targets
  sdk/eventhub/Microsoft.Azure.EventHubs.ServiceFabricProcessor/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs.ServiceFabricProcessor/src/Microsoft.Azure.EventHubs.ServiceFabricProcessor.csproj
Labels: Event Hubs

#16693 Fix #16412 - overly permissive date parsing on facets
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Serialization/JsonSerialization.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/SearchTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/FacetDateTimesInvalid.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/FacetDateTimesInvalidAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/FacetDateTimesRoundtrip.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/FacetDateTimesRoundtripAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/FacetsArentAutomaticallyParsed.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/FacetsArentAutomaticallyParsedAsync.json
Labels: Search

#16656 Stress Framework
  common/Stress/Azure.Sample.Stress/Azure.Sample.Stress.csproj
  common/Stress/Azure.Sample.Stress/DelayTest.cs
  common/Stress/Azure.Sample.Stress/NoOpTest.cs
  common/Stress/Azure.Sample.Stress/Program.cs
  common/Stress/Azure.Sample.Stress/SendReceiveTest.cs
  common/Stress/Azure.Test.Stress.sln
  common/Stress/Azure.Test.Stress/Azure.Test.Stress.csproj
  common/Stress/Azure.Test.Stress/IStressTest.cs
  common/Stress/Azure.Test.Stress/StressMetrics.cs
  common/Stress/Azure.Test.Stress/StressOptions.cs
  common/Stress/Azure.Test.Stress/StressProgram.cs
  common/Stress/Azure.Test.Stress/StressTest.cs
  doc/ApiDocGeneration/Generate-Api-Docs.ps1
  eng/.docsettings.yml
  eng/Directory.Build.Data.props
  eng/Packages.Data.props
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests-jobs.yml
  eng/scripts/Export-API.ps1
  eng/service.proj
  sdk/template/Azure.Template/Azure.Template.sln
  sdk/template/Azure.Template/stress/Azure.Template.Stress.csproj
  sdk/template/Azure.Template/stress/MiniSecretClientTest.cs
  sdk/template/Azure.Template/stress/Program.cs
  sdk/template/ci.yml
Labels: Azure.Core

#16671 Perf Framework
  common/Perf/Azure.Sample.Perf/Azure.Sample.Perf.csproj
  common/Perf/Azure.Sample.Perf/DelayTest.cs
  common/Perf/Azure.Sample.Perf/DisposeTest.cs
  common/Perf/Azure.Sample.Perf/ExceptionTest.cs
  common/Perf/Azure.Sample.Perf/HttpClientGetTest.cs
  common/Perf/Azure.Sample.Perf/NoOpTest.cs
  common/Perf/Azure.Sample.Perf/Program.cs
  common/Perf/Azure.Sample.Perf/TimerRunTest.cs
  common/Perf/Azure.Test.Perf.sln
  common/Perf/Azure.Test.Perf/Azure.Test.Perf.csproj
  common/Perf/Azure.Test.Perf/BenchmarkMeasurement.cs
  common/Perf/Azure.Test.Perf/BenchmarkMetadata.cs
  common/Perf/Azure.Test.Perf/BenchmarkOutput.cs
  common/Perf/Azure.Test.Perf/CircularStream.cs
  common/Perf/Azure.Test.Perf/CountOptions.cs
  common/Perf/Azure.Test.Perf/IPerfTest.cs
  common/Perf/Azure.Test.Perf/PerfOptions.cs
  common/Perf/Azure.Test.Perf/PerfProgram.cs
  common/Perf/Azure.Test.Perf/PerfTest.cs
  common/Perf/Azure.Test.Perf/PerfTransport.cs
  common/Perf/Azure.Test.Perf/RandomStream.cs
  common/Perf/Azure.Test.Perf/SizeOptions.cs
  doc/ApiDocGeneration/Generate-Api-Docs.ps1
  eng/.docsettings.yml
  eng/Directory.Build.Data.props
  eng/Packages.Data.props
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests-jobs.yml
  eng/scripts/Export-API.ps1
  eng/service.proj
  sdk/template/Azure.Template/perf/Azure.Template.Perf.csproj
  sdk/template/Azure.Template/perf/MiniSecretClientTest.cs
  sdk/template/Azure.Template/perf/Program.cs
  sdk/template/ci.yml
Labels: Azure.Core

#16716 [Event Hubs Function Bindings] Ignore Failing Tests
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs, Extensions

#16696 [MetricsAdvisor] Fix Update methods issues
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/AnomalyAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedMissingDataPointFillSettings.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample01_DataFeedCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample05_AlertConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeed.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedNullOptions.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedNullOptionsAsync.json
Labels: Client, Cognitive - Metrics Advisor

#16772 [Event Hubs] November Changelogs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Client, Docs, Event Hubs

#16606 [ServiceBus] Fix typos
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoBoundingBox.cs
  sdk/core/Azure.Core.TestFramework/src/InstrumentClientInterceptor.cs
  sdk/core/Azure.Core.TestFramework/src/RecordEntry.cs
  sdk/core/Azure.Core.TestFramework/src/RecordMatcher.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase{TEnvironment}.cs
  sdk/core/Azure.Core.TestFramework/src/UseSyncMethodsInterceptor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateQueueOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateSubscriptionOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateTopicOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueueProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueueRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/CorrelationRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/SubscriptionProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/SubscriptionRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConstants.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/BasicRetryPolicy.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusRetryMode.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusRetryOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/SubQueue.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessErrorEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample02_MessageSettlement.cs
Labels: Azure.Core, Service Bus

#16499 Fix ProcessRunner issues
  sdk/identity/Azure.Identity/src/IProcess.cs
  sdk/identity/Azure.Identity/src/ProcessRunner.cs
  sdk/identity/Azure.Identity/src/ProcessService.cs
  sdk/identity/Azure.Identity/tests/ProcessRunnerTests.cs
  sdk/identity/Azure.Identity/tests/TestProcess.cs
Labels: Azure.Identity

#16775 [Identity] Fix VisualStudioCodeCredential to use refresh token for AzureCloud by default
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/tests/ChainedTokenCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs
Labels: Azure.Identity

#16784 [Text Analytics] Fix flaky tests
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithSkipParameter.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithSkipParameterAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithTopParameter.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithTopParameterAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_Cancellation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_Pagination.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_Healthcare_Cancellation.cs
Labels: Cognitive - Text Analytics

#16790 Update README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus, auto-merge

#16787 [FR] Update swagger
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ContentType1.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormContentType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/FormRecognizerRestClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/ContentType1.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DataTable.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DataTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FormContentType.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Language.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Locale.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Language.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Locale.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/swagger/fr2.1p2.json
Labels: Cognitive - Form Recognizer

#16689 [Storage] BinaryData and encoding in Queues.
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/README.md
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Models/EncryptedMessageSerializer.cs
  sdk/storage/Azure.Storage.Queues/src/Models/PeekedMessage.cs
  sdk/storage/Azure.Storage.Queues/src/Models/QueueMessage.cs
  sdk/storage/Azure.Storage.Queues/src/Models/QueuesModelFactory.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientSideEncryptor.cs
  sdk/storage/Azure.Storage.Queues/src/QueueMessageCodec.cs
  sdk/storage/Azure.Storage.Queues/src/QueueMessageEncoding.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/storage/Azure.Storage.Queues/swagger/readme.md
  sdk/storage/Azure.Storage.Queues/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Queues/tests/EncryptedMessageSerializerTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/CanSendAndReceiveNonUTFBytes.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/CanSendAndReceiveNonUTFBytesAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesPeekedMessage.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesPeekedMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesReceivedMessage.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesReceivedMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/EncodesOutgoingMessage.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/EncodesOutgoingMessageAndRespectsSegmentBoundaries.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/EncodesOutgoingMessageAndRespectsSegmentBoundariesAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/EncodesOutgoingMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/SendReceiveNullMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/SendReceiveNullMessageAsyncAsync.json
Labels: Storage, auto-merge

#16365 Restored previous single shot upload threshold
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
Labels: Storage

#16517 Disabled live tests that were failing due to service bug
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
Labels: Storage

#16707 Sync eng/common directory with azure-sdk-tools for PR 1163
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#16810 [Storage] Fix live test - SAS with parent resource.
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
Labels: Storage

#16797 Sync eng/common directory with azure-sdk-tools for PR 1178
  eng/common/README.md
Labels: Central-EngSys, EngSys

#16820 [Storage] Fix test.
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
Labels: Storage, auto-merge

#16821 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#16823 [Event Hubs Client] Processor Release Prep (November)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Client, Event Hubs

#16822 [MetricsAdvisor] 1.0.0-beta2: Update installation version and release date
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
Labels: Client, Cognitive - Metrics Advisor

#16834 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#16832 Prepare Storage for release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#16837 update release date and readme version
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/README.md
Labels: Client, Tables

#16838 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
Labels: Event Grid

#16830 Sync eng/common directory with azure-sdk-tools for PR 1185
  eng/common/README.md
Labels: Central-EngSys, EngSys

#16791 Make Search/AutoComplete tests order independent
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/AutocompleteTests.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/SearchTests.cs
Labels: Search

#16826 [Storage] Run only last SV in live tests.
  sdk/core/Azure.Core.TestFramework/src/ClientTestFixtureAttribute.cs
  sdk/storage/tests.yml
Labels: Azure.Core, Storage, auto-merge

#16796 Amqp api updates
  sdk/core/Azure.Core.Amqp/api/Azure.Core.Amqp.netstandard2.0.cs
  sdk/core/Azure.Core.Amqp/src/AmqpAnnotatedMessage.cs
  sdk/core/Azure.Core.Amqp/src/AmqpDataMessageBody.cs
  sdk/core/Azure.Core.Amqp/src/AmqpMessageBody.cs
  sdk/core/Azure.Core.Amqp/tests/AmqpAnnotatedMessageTests.cs
  sdk/core/Azure.Core.Amqp/tests/AmqpDataMessageBodyTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Plugins/ServiceBusPlugin.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
Labels: Azure.Core, Service Bus

#16849 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#16794 Implement secure key release
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/CreateKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/CreateRsaKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/DecryptResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/EncryptResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/SignResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/UnwrapResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/VerifyResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/WrapResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/ImportKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyAttributes.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyExportParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyReleasePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRequestParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/TestExtensions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/TestExtensionsTests.cs
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault

#16815 Add DownloadCertificate method to get X509Certificate2
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyVaultSecret.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadLatestCertificate.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadLatestCertificateAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadVersionedCertificate.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadVersionedCertificateAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/KeyVaultPipeline.cs
Labels: KeyVault

#16851 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#16846 Use UnauthorizedAccessException
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/HttpRequestAndResponse.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpExceptionHelper.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusFailureReason.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/RequestResponseTests.cs
Labels: Service Bus

#16855 Search November release
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search

#16539 Avoid unnecessary allocations
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
Labels: Service Bus

#16869 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#16876 [Storage] Unbound connection limit in NET FX test suite
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
Labels: Storage, auto-merge

#16856 [Azure Search][Management Plane SDK] Update the region used in tests to Central US EUAP
  sdk/search/Microsoft.Azure.Management.Search/tests/SessionRecords/SharedPrivateLinkResourceTests/CanPerformSharedPrivateLinkManagement.json
  sdk/search/Microsoft.Azure.Management.Search/tests/Utilities/SharedPrivateLinkResourceFixture.cs
Labels: Search

#16683 Apply auto-merge label to Update version PRs
  eng/pipelines/templates/stages/archetype-net-release.yml
Labels: auto-merge

#16886 Sync eng/common directory with azure-sdk-tools for PR 1188
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#16887 Sync eng/common directory with azure-sdk-tools for PR 1190
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#16889 [FR] Add Language to Recognize Content
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentWithLanguage(%%).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentWithLanguage(%%)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentWithLanguage(%en%).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentWithLanguage(%en%)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentWithNoSupporttedLanguage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentWithNoSupporttedLanguageAsync.json
Labels: Cognitive - Form Recognizer

#16883 [Storage] Test run time tweaks.
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
  sdk/storage/tests.yml
Labels: Storage, auto-merge

#16698 Sync eng/common directory with azure-sdk-tools for PR 1170
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Labels: Central-EngSys, EngSys

#16891 [FR] Add ASP.NET Integration
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientBuilderExtensions.cs
Labels: Cognitive - Form Recognizer

#16885 Update arg validation
  sdk/core/Azure.Core.Amqp/src/AmqpAddress.cs
  sdk/core/Azure.Core.Amqp/src/AmqpMessageBody.cs
  sdk/core/Azure.Core.Amqp/src/AmqpMessageId.cs
  sdk/core/Azure.Core.Amqp/tests/AmqpAddressTests.cs
  sdk/core/Azure.Core.Amqp/tests/AmqpDataMessageBodyTests.cs
  sdk/core/Azure.Core.Amqp/tests/AmqpMessageIdTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
Labels: Service Bus

#16909 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Azure.Analytics.Synapse.ManagedPrivateEndpoints.csproj
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Azure.Analytics.Synapse.Monitoring.csproj
Labels: auto-merge

#16911 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: auto-merge

#16915 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#16916 [Storage] Give service more breathing room in live tests.
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileTestBase.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
Labels: Storage

#16829 Enable tests for alterations Read and update - backward compatibility
  sdk/cognitiveservices/Knowledge.QnAMaker/tests/BaseTests.cs
  sdk/cognitiveservices/Knowledge.QnAMaker/tests/QnAMakerAlterationsTests.cs
  sdk/cognitiveservices/Knowledge.QnAMaker/tests/SessionRecords/QnAMakerAlterationsTests/QnAMakerAlterationsReadUpdate.json
Labels: auto-merge

#16892 [FR] Add tests for Copy feature
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableTrainedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyComposedModel.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyComposedModelAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelWithLabelsAndModelName.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelWithLabelsAndModelNameAsync.json
Labels: Cognitive - Form Recognizer

#16589 Sync eng/common directory with azure-sdk-tools for PR 1161
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#16924 Update changelogs for Key Vault
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#16895 [Identity] Update VisualStudioCodeCredential to wrap all libsecret failures
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
Labels: Azure.Identity

#16922 Ensure that sequence numbers are passed as arrays; make validation ordering consistent
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.resx
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
Labels: Service Bus

#16926 Sync eng/common directory with azure-sdk-tools for PR 1199
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#16878 [Event Hubs Client] Processor Samples Overhaul
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Azure.Messaging.EventHubs.Processor.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Infrastructure/IEventHubsBlobCheckpointSample.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample01_HelloWorld.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample01_HelloWorld.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_ProcessorWithCustomOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample03_BasicEventProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample03_EventProcessorHandlers.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample04_BasicCheckpointing.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample04_ProcessingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample05_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample05_InitializeAPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample06_RequestingStorageServiceVersions.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample06_TrackWhenAPartitionIsClosed.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample07_RestartProcessingOnError.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample08_EventProcessingHeartbeat.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample09_ProcessEventsByBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample10_RunningWithDifferentStorageVersion.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorClientEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Samples/SamplesLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample03_EventProcessorHandlersLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample04_ProcessingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample05_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample06_RequestingStorageServiceVersionsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/EventHubTokenCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/Argument.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/PartitionLoadBalancerEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/StorageManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample01_HelloWorld.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Authorization/EventHubsSharedAccessKeyCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample06_IdentityAndSharedAccessCredentialsLiveTests.cs
Labels: Client, Docs, Event Hubs

#16840 Update activity kind and do not set extra tags
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticProperty.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/EntityScopeFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
Labels: Service Bus

#16933 [Identity] Fix ProcessRunner dispose race condition
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/ProcessRunner.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/tests/ProcessRunnerTests.cs
Labels: Azure.Identity

#16936 Sync eng/common directory with azure-sdk-tools for PR 1202
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#16943 [Identity] Updating csproj version and changelog for 1.3.0 GA
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#16934 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault, auto-merge

#16918 Use the InitialTransferSize option for the downloader
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
Labels: Client, Community Contribution, Storage

#16852 Added unit tests for CPK and EncryptionScope for PutBlobFromUrl
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_CPK.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_CPKAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_EncryptionScope.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/UploadFromUriAsync_EncryptionScopeAsync.json
Labels: Storage

#16950 [Event Hubs Client] Fix Flaky Tests
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample04_ProcessingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample04_ProcessingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
Labels: Client, Event Hubs

#16945 [Azure.Core] Remove TestFramework Target Duplicate
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/Azure.Security.KeyVault.Keys.Tests.csproj
Labels: Azure.Core, Client

#16940 Rename ReceiveMode and add CancellationToken to error args
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample04_Processor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateQueueOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateSubscriptionOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueueProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/SubscriptionProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Plugins/ServiceBusPlugin.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessErrorEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusErrorSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiveMode.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConverterTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample04_Processor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
Labels: Service Bus

#16956 Sync eng/common directory with azure-sdk-tools for PR 1153
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#16957 Fix null type issue
  sdk/core/System.Memory.Data/CHANGELOG.md
  sdk/core/System.Memory.Data/src/BinaryData.cs
  sdk/core/System.Memory.Data/src/System.Memory.Data.csproj
  sdk/core/System.Memory.Data/tests/BinaryDataTests.cs
Labels: Azure.Core

#16566 Add Management Group Registration Capabilities
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/IProvidersOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DeploymentProperties.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DeploymentWhatIfProperties.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ErrorResponse.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ExpressionEvaluationOptions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ExpressionEvaluationOptionsScopeType.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/ProvidersOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/ProvidersOperationsExtensions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/SdkInfo_ResourceManagementClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/InMemoryTests/ProviderTests.InMemory.cs
Labels: needs-revision

#16949 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge
