Repository Azure/azure-sdk-for-net, pull requests merged in 2020-09, with the labels that each got.

#14677 Add LocalCryptographyClient for Key Vault
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/AesCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/EcCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/LocalCryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/LocalCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/LocalCryptographyProviderFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/RsaCryptographyProvider.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyType.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeysEventSource.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/AesCryptographyProviderTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/EcCryptographyProviderTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/JsonWebKeyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyUtilities.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/LocalCryptographyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/RsaCryptographyProviderTests.cs
Labels: KeyVault

#14727 Mark tests inconclusive if indexer status times out
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.cs
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchTestBase.cs
Labels: Search

#14678 Change Key Vault package versions to 4.2.0-beta.1
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: Do Not Merge, KeyVault

#14569 [KeyVault] Support new resource: managed HSM
  eng/mgmt/mgmtmetadata/keyvault_resource-manager.txt
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/AzSdk.RP.props
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/IKeyVaultManagementClient.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/IManagedHsmsOperations.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/KeyVaultManagementClient.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/ManagedHsmsOperations.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/ManagedHsmsOperationsExtensions.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/Error.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ManagedHsm.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ManagedHsmError.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ManagedHsmErrorException.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ManagedHsmProperties.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ManagedHsmResource.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ManagedHsmSku.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ManagedHsmSkuName.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/ProvisioningState.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Models/VaultProperties.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/Operations.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/PrivateEndpointConnectionsOperations.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/PrivateLinkResourcesOperations.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/SdkInfo_KeyVaultManagementClient.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Generated/VaultsOperations.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Microsoft.Azure.Management.KeyVault.csproj
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/tests/Microsoft.Azure.Management.KeyVault.Tests.csproj
Labels: Mgmt, needs-review

#14720 [Identity] add RedirectUri option to InteractiveBrowserCredentialOptions
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialCtorTests.cs
Labels: Azure.Identity

#14737 Clarify KeyClientBuilderExtension methods params
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientBuilderExtensions.cs
Labels: KeyVault

#14758 [Storage] Make OpenWrite work with using keyword
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_NewBlob_WithUsing.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_NewBlob_WithUsingAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithUsing.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithUsingAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/OpenWriteAsync_NewBlob_WithUsing.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/OpenWriteAsync_NewBlob_WithUsingAsync.json
  sdk/storage/Azure.Storage.Common/src/Shared/StorageWriteStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/OpenWriteAsync_NewFile_WithUsing.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/OpenWriteAsync_NewFile_WithUsingAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/OpenWriteAsync_NewFile_WithUsing.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/OpenWriteAsync_NewFile_WithUsingAsync.json
Labels: Storage

#14729 Fix ADT Patch APIs to return Response rather than Response<String>
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/ComponentTests.cs
Labels: DigitalTwins

#14772 [Storage] Update changelog.
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
Labels: Storage

#14769 [Identity] Add IdentityModelFactory to facilitate mocking
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/DeviceCodeInfo.cs
  sdk/identity/Azure.Identity/src/IdentityModelFactory.cs
Labels: Azure.Identity

#14773 Lifecycle updates
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/LinkCloseMode.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
Labels: Service Bus

#14624 [TA] Add flags enum for Opinion mining
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AdditionalSentimentAnalyses.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeSentimentOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SentenceSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeSentimentTests.cs
Labels: Cognitive - Text Analytics

#14693 Sync eng/common directory with azure-sdk-tools for PR 935
  eng/common/scripts/SemVer.ps1
Labels: EngSys

#14616 Sync eng/common directory with azure-sdk-tools for PR 916
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys

#14778 Support reading existing DataProtection KeyVault keys
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/AzureDataProtectionKeyVaultKeyBuilderExtensions.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/AzureKeyVaultXmlEncryptor.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/DecryptorTypeForwardingActivator.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/tests/Azure.Extensions.AspNetCore.DataProtection.Keys.Tests.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/tests/DataProtectionKeysFunctionalTests.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/tests/TypeForwardingActivatorTests.cs
Labels: Azure.Core

#14568 Updating README and Samples for Event Grid
  sdk/eventgrid/Azure.Messaging.EventGrid/Azure.Messaging.EventGrid.sln
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample1_PublishEventsToTopic.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample2_PublishEventsToDomain.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample3_ParseAndDeserializeEvents.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventTypes.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/SystemEventTypeMappings.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample1_SendEventsToTopicAndDomain.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample2_ParseAndDeserializeEvents.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCloudEventWithRawJsonData.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCloudEventWithRawJsonDataAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/TestPayload.cs
Labels: Event Grid

#14628 Sync eng/common directory with azure-sdk-tools for PR 930
  eng/common/README.md
Labels: EngSys

#14784 Dispose processor in tests
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#14754 Properly segment StorageEndpointSuffix and CosmosEndpointSuffix
  sdk/tables/Azure.Data.Tables/tests/TablesTestEnvironment.cs
Labels: Client, Tables, test-reliability

#14763 [Identity] Throw CredentialUnavailableException from credentials not supporting ADFS
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Identity

#14791 Generate Anomaly Detector for Preview-2
  sdk/anomalydetector/Azure.AI.AnomalyDetector/CHANGELOG.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/README.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/api/Azure.AI.AnomalyDetector.netstandard2.0.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Azure.AI.AnomalyDetector.csproj
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyDetectorClient.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyDetectorRestClient.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/AnomalyDetectorError.Serialization.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/AnomalyDetectorError.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/ChangePointDetectRequest.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/DetectRequest.Serialization.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/DetectRequest.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/Granularity.Serialization.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/TimeGranularity.Serialization.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/TimeGranularity.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/TimeSeriesPoint.Serialization.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Models/TimeSeriesPoint.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/autorest.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/AnomalyDetectorClient/AnomalyDetectorClientLiveTests.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/Infrastructure/TestData.cs
Labels: Client, Cognitive - Anomaly Detector

#14795 Incorporate tables readme feedback
  sdk/tables/Azure.Data.Tables/readme.md
  sdk/tables/Azure.Data.Tables/samples/README.md
Labels: Tables

#14728 Added inbound security rule. Fixed Netwatchers
  eng/mgmt/mgmtmetadata/network_resource-manager.txt
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/IInboundSecurityRuleOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/INetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/IVirtualHubBgpConnectionsOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/InboundSecurityRuleOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/InboundSecurityRuleOperationsExtensions.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/HopLink.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/InboundSecurityRule.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/InboundSecurityRules.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/InboundSecurityRulesProtocol.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/NetworkVirtualAppliance.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/PeerRoute.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/PeerRouteList.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/SdkInfo_NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/VirtualHubBgpConnectionsOperations.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/VirtualHubBgpConnectionsOperationsExtensions.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Microsoft.Azure.Management.Network.csproj
  sdk/network/Microsoft.Azure.Management.Network/src/Properties/AssemblyInfo.cs
Labels: Mgmt

#14801 Readme and sample tweaks
  sdk/keyvault/Azure.Security.KeyVault.Administration/readme.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_SelectiveRestore.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/Sample2_SelectiveRestore/BackupAndRestoreSampleAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/Sample2_SelectiveRestore/BackupAndRestoreSampleAsyncAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample2_SelectiveRestore.cs
Labels: Client, KeyVault

#14805 [TA] Add BingEntitySearchApiId property to LinkedEntity
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/LinkedEntity.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/LinkedEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeLinkedEntitiesTests.cs
Labels: Cognitive - Text Analytics

#14827 Change optional Guid name to Guid?
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_BackupHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_BackupHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_RbacScopeAssignment.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
Labels: KeyVault

#14794 [TA] Add PII back
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntityCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntityDomainType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesResultCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithDomainTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithDomainTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchConvenience.cs
Labels: Cognitive - Text Analytics

#14835 Fixed Samples for Event Grid
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample2_ParseAndDeserializeEvents.cs
Labels: Event Grid

#14831 Sync eng/common directory with azure-sdk-tools for PR 946
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#14838 Update changelog, csproj, and readme for Event Grid
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#14846 Minor Tables readme improvements
  sdk/tables/Azure.Data.Tables/readme.md
Labels: Client, Community Contribution, Tables

#14476 [Storage] Feature/storage/binary data in queues
  eng/Directory.Build.Data.targets
  sdk/storage/Azure.Storage.Queues/README.md
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Models/EncryptedMessageSerializer.cs
  sdk/storage/Azure.Storage.Queues/src/Models/PeekedMessage.cs
  sdk/storage/Azure.Storage.Queues/src/Models/QueueMessage.cs
  sdk/storage/Azure.Storage.Queues/src/Models/QueuesModelFactory.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientSideEncryptor.cs
  sdk/storage/Azure.Storage.Queues/src/QueueMessageCodec.cs
  sdk/storage/Azure.Storage.Queues/src/QueueMessageEncoding.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/storage/Azure.Storage.Queues/swagger/readme.md
  sdk/storage/Azure.Storage.Queues/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Queues/tests/EncryptedMessageSerializerTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/CanSendAndReceiveNonUTFBytes.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/CanSendAndReceiveNonUTFBytesAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesPeekedMessage.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesPeekedMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesReceivedMessage.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/DecodesReceivedMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/EncodesOutgoingMessage.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/EncodesOutgoingMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/SendReceiveNullMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/SendReceiveNullMessageAsyncAsync.json
Labels: Storage

#14748 Create pull_request_assignment.yml
  .github/pull_request_assignment.yml
Labels: Mgmt

#14806 [Service Bus Client] Connection String SAS Support
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/ConnectionStringParser.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/ConnectionStringProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.resx
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Core/ConnectionStringParserTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
Labels: Client, Service Bus

#14775 Adding in FileClient test for SetAccessControlRecursive
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RemoveAccessControlRecursiveAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RemoveAccessControlRecursiveAsyncAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetAccessControlRecursiveAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetAccessControlRecursiveAsyncAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UpdateAccessControlRecursiveAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UpdateAccessControlRecursiveAsyncAsync.json
Labels: Storage

#14861 Fixed bug where Listing Blobs with BlobTraits.Metadata would return B…
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/ListBlobsHierarchySegmentAsync_Metadata_NoMetadata.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/ListBlobsHierarchySegmentAsync_Metadata_NoMetadataAsync.json
Labels: Storage

#14864 Fixed bug where DataLakeFileClient.Upload() could not upload read-onl…
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFile(False).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFile(False)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFile(True).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFile(True)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFile.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_MinFileAsync.json
Labels: Storage

#14796 [Event Hubs Client] Connection String SAS Support (Preview.3 Base)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/ConnectionStringParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubsTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Authorization/SharedAccessSignatureCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringPropertiesTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
Labels: Client, Event Hubs

#14871 [TA] Update links to point to master
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample2.1_AnalyzeSentimentWithOpinionMining.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample5_RecognizePiiEntities.md
Labels: Cognitive - Text Analytics

#14868 Update versions for August release
  eng/scripts/Prepare-Release.ps1
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#14873 Sync eng/common directory with azure-sdk-tools for PR 955
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#14878 [Event Hubs Client] Documentation Updates (Preview.3 Base)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Client, Docs, Event Hubs

#14858 [Event Hubs Client] Connection String SAS Support
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignature.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Authorization/SharedAccessSignatureCredential.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/ConnectionStringParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubsTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Authorization/SharedAccessSignatureCredentialTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringPropertiesTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
Labels: Client, Event Hubs

#14904 [Event Hubs Client] Documentation Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Client, Docs, Event Hubs

#14610 Sync eng/common directory with azure-sdk-tools for PR 926
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#14908 Bump the template version.
  sdk/template/Azure.Template/CHANGELOG.md
  sdk/template/Azure.Template/src/Azure.Template.csproj
Labels: auto-merge

#14872 Feature/storage/blob access policy bug
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobAccessPolicy.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/BlobAccessPolicyNullStartsOnExpiresOnTest.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/BlobAccessPolicyNullStartsOnExpiresOnTestAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeAccessPolicy.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/DataLakeAccessPolicyNullStartsOnExpiresOnTest.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/DataLakeAccessPolicyNullStartsOnExpiresOnTestAsync.json
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareAccessPolicy.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ShareAccessPolicyNullStartsOnExpiresOnTest.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ShareAccessPolicyNullStartsOnExpiresOnTestAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#14907 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#14656 Sync eng/common directory with azure-sdk-tools for PR 823
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/common.ps1
Labels: EngSys

#14906 [Azure.Core TestFramework] Fix Required Optional Environment Variable
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/core/Azure.Core/tests/TestEnvironmentTests.cs
Labels: Azure.Core, Client

#14885 Fix bug when sanitizing empty body
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
Labels: Azure.Core

#14910 Missed line in DataLakeFileClient.Upload() readonly fix
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
Labels: Storage

#14865 [Identity] Fix environment variable mismatch for live CI tests
  sdk/identity/Azure.Identity/tests/IdentityTestEnvironment.cs
  sdk/identity/tests.yml
Labels: Azure.Identity

#14903 Add release note for new AddConfigurationClient extension.
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: AzConfig

#14898 [KeyVault] Use preview package version
  sdk/keyvault/Microsoft.Azure.Management.KeyVault/src/Microsoft.Azure.Management.KeyVault.csproj
Labels: KeyVault

#14825 Support WebJobs configuration fallback logic
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/README.md
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/samples/Function1.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/samples/host.json
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/samples/local.settings.json
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/src/AzureClientsExtensionConfigProvider.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/src/AzureClientsWebJobsBuilderExtensions.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/src/Properties/AssemblyInfo.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/src/WebJobsConfiguration.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/AzureClientAttributeFunctionalTests.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/AzureClientAttributeTests.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/SessionRecords/AzureClientAttributeFunctionalTests/CanInjectKeyVaultClient.json
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/SessionRecords/AzureClientAttributeFunctionalTests/CanInjectKeyVaultClientAsync.json
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/TestClient.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/TestClientOptions.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/WebJobsConfigurationTests.cs
Labels: Azure.Core

#14923 Update Azure.Core.* versions
  eng/Packages.Data.props
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Event Grid, Service Bus, auto-merge

#14889 Event Grid: Updating Readme and Samples
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample1_PublishEventsToTopic.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample2_PublishEventsToDomain.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample3_ParseAndDeserializeEvents.md
Labels: Event Grid

#14925 Override ContentType header when sending multipart/form-data type request
  sdk/core/Azure.Core/src/Shared/Multipart/MultipartContent.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/MultipartTests.cs
Labels: Azure.Core, auto-merge

#14859 Improve integration of configuration based clients with other features
  sdk/core/Microsoft.Extensions.Azure/src/Internal/IClientOptionsFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/AzureClientFactoryBuilder.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/AzureClientFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/AzureClientsGlobalOptions.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientOptionsFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/DefaultClientOptionsSetup.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/FallbackAzureClientFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/IClientOptionsFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/tests/AzureClientFactoryTests.cs
Labels: Azure.Core, auto-merge

#14932 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: auto-merge

#14928 Sync eng/common directory with azure-sdk-tools for PR 969
  eng/common/README.md
Labels: EngSys

#14939 [Event Hubs Client] September Release Preparation (Core)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#14962 [Event Hubs Client] September Release Preparation (Processor)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#14937 Fix starvation issue with session processor when MaxCallsPerSession > 1
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#14966 Unblock Core build by fixing snippet error
  eng/SnippetGenerator/DirectoryProcessor.cs
  eng/SnippetGenerator/Program.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Samples/Sample01_ReadmeSnippets.cs
Labels: auto-merge

#14946 Re-Generate EventHubs and re-record
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Azure.ResourceManager.EventHubs.csproj
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/ClustersRestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/ConfigurationRestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/ConsumerGroupsRestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/DisasterRecoveryConfigsRestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/EventHubsRestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/NamespacesRestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/RegionsRestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/RestOperations.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/ConsumerGroupsCreateGetUpdateDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/ConsumerGroupsCreateGetUpdateDeleteAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/ConsumerGroupsCreateGetUpdateDelete_Length.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/ConsumerGroupsCreateGetUpdateDelete_LengthAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/DisasterRecoveryAlertnateNameCreateGetUpdateDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/DisasterRecoveryAlertnateNameCreateGetUpdateDeleteAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/DisasterRecoveryCreateGetUpdateDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/DisasterRecoveryCreateGetUpdateDeleteAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventCreateGetUpdateDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventCreateGetUpdateDeleteAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventHubskiptop.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventHubskiptopAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventhubCreateGetUpdateDeleteAuthorizationRules.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventhubCreateGetUpdateDeleteAuthorizationRulesAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventhubCreateGetUpdateDeleteAuthorizationRules_Length.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/EventhubCreateGetUpdateDeleteAuthorizationRules_LengthAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NamespaceCreateGetUpdateDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NamespaceCreateGetUpdateDeleteAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NamespaceCreateGetUpdateDeleteAuthorizationRules.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NamespaceCreateGetUpdateDeleteAuthorizationRulesAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NamespaceKafkaCreateGetUpdateDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NamespaceKafkaCreateGetUpdateDeleteAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NetworkRuleSetCreateGetUpdateDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/NetworkRuleSetCreateGetUpdateDeleteAsync.json
Labels: Event Hubs

#14839 Fix keyvault Readme issues
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
Labels: KeyVault

#14971 Add getcert sample for Key Vault
  sdk/keyvault/samples/Directory.Build.props
  sdk/keyvault/samples/getcert/Program.cs
  sdk/keyvault/samples/getcert/README.md
  sdk/keyvault/samples/getcert/getcert.csproj
Labels: KeyVault

#14965 [Event Hubs Client] September Release Updates
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#14886 Added CassandraTest
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/Helpers/CosmosDBTestUtilities.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/CassandraResourcesOperationsTests.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/OperationsTest.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/CassandraResourcesOperationsTests/CassandraCRUDTestsAsync()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/OperationsTest/ListOperationsTest()Async.json
Labels: Cosmos, Mgmt, Track 2

#14977 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#14987 Reomve locale links and fix anchor links
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/README.md
  sdk/tables/Azure.Data.Tables/samples/README.md
Labels: Client, Tables

#13932 Fix issue that homeAccountId string not parsed correctly into AccoundId
  sdk/identity/Azure.Identity/src/AuthenticationRecord.cs
  sdk/identity/Azure.Identity/tests/AuthenticationRecordTests.cs
Labels: Azure.Identity

#14992 Update CHANGELOGs for Key Vault 4.2.0-beta.1
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyVaultCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#15021 Fix #14974: DefaultAzureCredential improperly catches AuthenticationFailedException
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_LastAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_LastAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Identity

#15024 Add Key Vault Administration package to release
  sdk/keyvault/ci.yml
Labels: KeyVault

#15025 Fix #15013: Intermittent Exceptions when calling DefaultAzureCredential
  sdk/identity/Azure.Identity/src/CredentialDiagnosticScope.cs
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/IScopeHandler.cs
  sdk/identity/Azure.Identity/src/ScopeGroupHandler.cs
Labels: Azure.Identity

#15026 Update AutoRest C# version
  eng/CodeGeneration.targets
  sdk/core/Azure.Core/src/Shared/AutoRest/PageableHelpers.cs
Labels: Azure.Core, auto-merge

#15029 Add missing error code blob immutable due to policy
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
Labels: Storage, auto-merge

#15019 [Messaging Clients] Microsoft.Azure.Amqp Package Update
  eng/Packages.Data.props
Labels: Client, Event Hubs, Service Bus

#15031 Ran Export-API
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
Labels: Storage

#15023 [Storage] OpenWrite - support for metadata, tags and headers
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlockBlobOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/CommitBlockListOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_CreateEmptyBlob_WithHeaders.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_CreateEmptyBlob_WithHeadersAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_CreateEmptyBlob_WithMetadata.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_CreateEmptyBlob_WithMetadataAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_CreateEmptyBlob_WithTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_CreateEmptyBlob_WithTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithHeaders.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithHeadersAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithMetadata.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithMetadataAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/OpenWriteAsync_NewBlob_WithTagsAsync.json
Labels: Storage

#14697 EventSourceEventFormatting - catch FormatException
  sdk/core/Azure.Core/src/Shared/EventSourceEventFormatting.cs
  sdk/core/Azure.Core/tests/AzureEventSourceListenerTests.cs
Labels: Azure.Core, auto-merge

#15007 Test Framework - Don't serialize string Json element directly to session
  sdk/core/Azure.Core.TestFramework/src/RecordEntry.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
Labels: Azure.Core

#14991 [CosmosDB] Add tableResourcesOperations scenario test
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/TableResourcesOperationsTests.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/TableResourcesOperationsTests/TableCRUDTest()Async.json
Labels: Cosmos, Mgmt, Track 2

#15030 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#15038 Fix typo
  sdk/core/Azure.Core.TestFramework/src/RecordEntry.cs
Labels: Azure.Core, auto-merge

#14803 User Delegation and Directory SAS
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasBuilderTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.Clients.cs
  sdk/storage/Azure.Storage.Common/src/Shared/SasExtensions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/SasQueryParametersInternals.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasPermissions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasQueryParameters.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeSasBuilderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilderRawPermissions_2020_02_10(%LDWCAMEROP%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilderRawPermissions_2020_02_10(%LDWCAMEROP%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilderRawPermissions_2020_02_10(%racwdlmeop%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilderRawPermissions_2020_02_10(%racwdlmeop%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilderRawPermissions_2020_02_10(%rlm%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilderRawPermissions_2020_02_10(%rlm%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_AgentObjectId.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_AgentObjectIdAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_AgentObjectId_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_AgentObjectId_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_BothObjectId_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_BothObjectId_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_CorrelationId.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_CorrelationIdAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_DirectoryDepth_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_DirectoryDepth_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_DirectoryRawPermissions_Exists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_DirectoryRawPermissions_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_DirectoryRawPermissions_List.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_DirectoryRawPermissions_ListAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_PreauthorizedAgentObjectId.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/DataLakeSasBuilder_PreauthorizedAgentObjectIdAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/FileSystemPermissionsRawPermissions(%LDWCAR%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/FileSystemPermissionsRawPermissions(%LDWCAR%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/FileSystemPermissionsRawPermissions(%racwdl%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/FileSystemPermissionsRawPermissions(%racwdl%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_FileSystemSAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_FileSystemSASAsync.json
Labels: Storage

#15050 Sync eng/common directory with azure-sdk-tools for PR 982
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys

#14021 Enable a way to Unregister Message Handler and Session Handler
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/IReceiverClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/IQueueClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ISubscriptionClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessagingEventSource.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/QueueClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionPumpHost.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SubscriptionClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnMessageQueueTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnMessageTopicSubscriptionTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnSessionQueueTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnSessionTopicSubscriptionTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/SenderReceiverClientTestBase.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/TestSessionHandler.cs
Labels: Service Bus

#15059 Fix changelog
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#14682 [AppConfig] Adding new parameter 'PublicNetworkAccess' for ConfigurationStoreUpdateParameters
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/README.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/api/Azure.ResourceManager.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/ConfigurationStoresOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/ConfigurationStoresRestOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/ConfigurationStoreUpdateParameters.Serialization.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/ConfigurationStoreUpdateParameters.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Operations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/PrivateEndpointConnectionsOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/PrivateEndpointConnectionsRestOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/PrivateLinkResourcesOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/PrivateLinkResourcesRestOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/RestOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/autorest.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/AppConfigurationTest/AppConfiguration.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/AppConfigurationTest/AppConfigurationAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/AppConfigurationTest/AppConfigurationListKeyValues.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/AppConfigurationTest/AppConfigurationListKeyValuesAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Tests/AppConfigurationTest.cs
Labels: App Configuration, Mgmt

#15069 Filter tests from running on Linux
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
Labels: Azure.Identity

#14166 Service Bus Migration Guide improvements
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus

#15060 Update changelog
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#15080 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#15084 Set release date
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
Labels: App Configuration

#15078 Use MockManagedIdentityClient that always returns false from ImdsAvailable
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
Labels: Azure.Identity

#15034 [Event Hubs Client] Idempotent Producer Client
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducerFeatures.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducerPool.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingState.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventDataTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: APIChange, Client, Event Hubs

#15100 Fixed test recording mode
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
Labels: Storage

#15087 Update version in csproj
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#14909 Sync eng/common directory with azure-sdk-tools for PR 965
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys

#15046 Added Close and RetainUncommitedData to DataLakeFileUploadOptions
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileUploadOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_CloseAndRetainData.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_CloseAndRetainDataAsync.json
Labels: Storage

#15073 Add changelog to SDK version 5.0.0
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#15107 Update AutoRest C# version
  eng/CodeGeneration.targets
  sdk/core/Azure.Core/src/Shared/AutoRest/RawRequestUriBuilder.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/ApplicationsRestOperations.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/DeletedApplicationsRestOperations.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/GroupsRestOperations.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/OAuth2PermissionGrantRestOperations.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/ObjectsRestOperations.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/ServicePrincipalsRestOperations.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/SignedInUserRestOperations.cs
  sdk/testcommon/Azure.Graph.Rbac/src/Generated/UsersRestOperations.cs
Labels: Azure.Core, auto-merge

#15106 Fixed bug where DataLakeFileClient.Rename(), DataLakePathClient.Renam…
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(% my cool directory %).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(% my cool directory %)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(%directory%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(%directory%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(% my cool directory %).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(% my cool directory %)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(%directory%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_SourceSpecialCharacters(%directory%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(% my cool file %).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(% my cool file %)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(%file%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(%file%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(% my cool file %).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(% my cool file %)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(%!'();[]@&%=+$,#äÄöÖüÜß;%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(%%21%27%28%29%3B%5B%5D%40%26%25%3D%2B%24%2C%23äÄöÖüÜß%3B%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(%file%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_SourceSpecialCharacters(%file%)Async.json
Labels: Storage

#15105 [Storage] Make Specialized Blob Clients retrieval mockable.
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobLeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanMockBlobLeaseClientRetrieval.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanMockBlobLeaseClientRetrievalAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanMockBlobClientsRetrieval.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CanMockBlobClientsRetrievalAsync.json
Labels: Storage

#15057 Fix #14974: [BUG] DefaultAzureCredential improperly catches AuthenticationFailedException
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/AuthenticationFailedException.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/ChainedTokenCredential.cs
  sdk/identity/Azure.Identity/src/CredentialUnavailableException.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ChainedTokenCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialImdsLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockManagedIdentityClient.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_LastAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_LastAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_LastAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_LastAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Identity

#15076 Addressed Error for Events Missing Required Fields
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/BinaryDataExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#14995 Sync eng/common directory with azure-sdk-tools for PR 973
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#14676 Add the option to have UserAssignedMsi when authentication uses KeyVault certificate
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.IntegrationTests/EndtoEndPositiveTests.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.TestCommon/Constants.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/AzureServiceTokenProviderFactoryTests.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/ClientCertificateAccessTokenProviderTests.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProviderFactory.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/Clients/KeyVault/KeyVaultClient.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/ClientCertificateAccessTokenProvider.cs
Labels: AppAuthentication

#14631 Probe IMDS /metadata/instance endpoint during discovery in MsiAccessTokenProvider
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/Mocks/MockMsi.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/MsiAccessTokenProviderTests.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/TokenHelper.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProviderException.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/MsiAccessTokenProvider.cs
Labels: AppAuthentication

#15118 Add migration guide for Key Vault secrets
  sdk/keyvault/Azure.Security.KeyVault.Secrets/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/samples/SampleSnippets.cs
  sdk/keyvault/Microsoft.Azure.KeyVault/tests/Microsoft.Azure.KeyVault.Tests.csproj
  sdk/keyvault/Microsoft.Azure.KeyVault/tests/SampleSnippets.cs
Labels: KeyVault

#15112 Re-enabled several identity SAS tests
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetAccessControlAsync_FileSystemIdentitySAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetAccessControlAsync_FileSystemIdentitySASAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetAccessControlAsync_PathIdentitySAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetAccessControlAsync_PathIdentitySASAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetPropertiesAsync_FileSystemIdentitySAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetPropertiesAsync_FileSystemIdentitySASAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetPropertiesAsync_PathIdentitySAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetPropertiesAsync_PathIdentitySASAsync.json
Labels: Storage

#15125 [Event Hubs Client] Idempotent Producer Client
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/CreateBatchOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventDataTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/SendEventOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: APIChange, Client, Event Hubs

#15133 Consume generator as a package
  eng/CodeGeneration.targets
  eng/Directory.Build.Data.props
  eng/Directory.Build.Data.targets
  eng/Packages.Data.props
  eng/scripts/CodeChecks.ps1
  sdk/core/Azure.Core/src/Shared/AutoRest/ArmOperationHelpers.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/ChangeTrackingDictionary.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/ChangeTrackingList.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/CodeGenClientAttribute.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/CodeGenMemberAttribute.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/CodeGenModelAttribute.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/CodeGenSuppressAttribute.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/CodeGenTypeAttribute.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/IOperationSource.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/IUtf8JsonSerializable.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/IXmlSerializable.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/JsonElementExtensions.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/ManagementPipelineBuilder.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/OperationFinalStateVia.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/Optional.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/Page.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/PageableHelpers.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/RawRequestUriBuilder.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/RequestHeaderExtensions.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/RequestUriBuilderExtensions.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/ResponseHeadersExtensions.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/ResponseWithHeaders.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/ResponseWithHeaders{T,THeaders}.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/ResponseWithHeaders{THeaders}.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/StringRequestContent.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/TypeFormatters.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/Utf8JsonRequestContent.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/Utf8JsonWriterExtensions.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/XElementExtensions.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/XmlWriterContent.cs
  sdk/core/Azure.Core/src/Shared/AutoRest/XmlWriterExtensions.cs
  sdk/keyvault/samples/sharelink/Generated/ManagedStorageRestClient.cs
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: auto-merge

#15151 SDK version 4.2.0 (Hotfix on 4.1.3): Enable a way to Unregister Message Handler and Session Handler (#14021)
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/IReceiverClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/IQueueClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/ISubscriptionClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessagingEventSource.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/QueueClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionPumpHost.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionReceivePump.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SubscriptionClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnMessageQueueTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnMessageTopicSubscriptionTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnSessionQueueTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/OnSessionTopicSubscriptionTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/SenderReceiverClientTestBase.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/TestSessionHandler.cs
Labels: Service Bus

#15037 Update CODEOWNERS
  .github/CODEOWNERS
Labels: auto-merge

#14980 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#15141 [Event Hubs Client] Prefetch Size In Bytes Option
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/ReadEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/ReadOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverTests.cs
Labels: APIChange, Client, Event Hubs

#15140 Added Close to DataLakeOpenWriteOptions, removed RetainedUncommittedD…
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileUploadOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/OpenWriteAsync_Close.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/OpenWriteAsync_CloseAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_Close.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_CloseAndRetainData.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_CloseAndRetainDataAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/UploadAsync_CloseAsync.json
Labels: Storage

#15160 [Event Hubs Client] Processor Release Preparation (v5.3.0-beta.1)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#15147 Add migration guides for KV certs and keys
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/SampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/SampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
  sdk/keyvault/Microsoft.Azure.KeyVault/tests/SampleSnippets.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: KeyVault

#15145 Update AutoRest C# version
  eng/Packages.Data.props
Labels: App Configuration, Compute, DigitalTwins, KeyVault

#15161 Expose select query option on GetEntity
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreateEntityAllowsSelect.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreateEntityAllowsSelectAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CreateEntityAllowsSelect.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CreateEntityAllowsSelectAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Client, Tables

#15159 Introduce an exponential retry for service timing issue causing flakey Live tests
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables, auto-merge, test-reliability

#15119 Add skip doc ms for each artifact.
  eng/pipelines/templates/stages/archetype-net-release.yml
Labels: EngSys

#15165 Sync eng/common directory with azure-sdk-tools for PR 999
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#15177 Update verbiage of changelog
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
Labels: Event Grid

#15166 Sync eng/common directory with azure-sdk-tools for PR 1000
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/replace-relative-links.yml
Labels: EngSys

#15055 Add sql test for cosmosdb
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/SqlResourcesOperationsTests.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/SqlResourcesOperationsTests/SqlCRUDTests.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/SqlResourcesOperationsTests/SqlCRUDTestsAsync.json
Labels: Cosmos, Mgmt, Track 2

#14997 Sync eng/common directory with azure-sdk-tools for PR 974
  eng/common/scripts/common.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys

#15192 Update FromObjectAsync return type
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Primitives/BinaryData.cs
Labels: Azure.Core

#15181 [Event Hubs Client] Integrate v5.3.0-beta.1 Release Branch (#15162)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/ReadEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/ReadOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverTests.cs
Labels: APIChange, Client, Event Hubs

#15208 [TA] Remove dev endpoint for testing
  sdk/textanalytics/test-resources.json
  sdk/textanalytics/tests.yml
Labels: Cognitive - Text Analytics

#15205 Reorder backup and restore operation ctor args and add sample
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample3_BackRestoreResume.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/BackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/Sample3_BackRestoreResume/ResumeBackupRestore.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/Sample3_BackRestoreResume/ResumeBackupRestoreAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample3_BackRestoreResume.cs
Labels: Client, KeyVault, auto-merge

#15180 [Storage] Queues one message receive
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsyncAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsync_EmptyQueue.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsync_EmptyQueueAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsync_EmptyQueue_WithResponseCast.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsync_EmptyQueue_WithResponseCastAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsync_Error.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/PeekMessageAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsyncAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_EmptyQueue.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_EmptyQueueAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_EmptyQueue_With_ResponseCast.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_EmptyQueue_With_ResponseCastAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_Error.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_Min.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/ReceiveMessageAsync_MinAsync.json
Labels: Storage

#15234 [TA ]Update CHANGELOG.md with release date
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#15239 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics

#15189 [CosmosDB] Add database account operations tests
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/CosmosDBManagementClientBase.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/DatabaseAccountOperationsTests.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountCRUDTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountCreateAndUpdateTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountDeleteTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountListByResourceGroupTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountListBySubscriptionTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountListConnectionStringsTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountListKeysAndRegenerateKeysTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountListMetricsDefinitionAndMetricsTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/DatabaseAccountOperationsTests/DatabaseAccountListUsageTest()Async.json
Labels: Cosmos, Mgmt, Track 2

#15213 Fix error in directions in Key Vault READMEs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
Labels: KeyVault

#15250 Switch ApiCompat to use PackageDownload
  CONTRIBUTING.md
  eng/ApiCompat/ApiCompat.csproj
  eng/ApiCompat/Directory.Build.targets
  eng/Directory.Build.Data.targets
  eng/Packages.Data.props
  eng/scripts/Export-API.ps1
  sdk/core/Azure.Core/Azure.Core.All.sln
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/iot/Azure.Iot.Hub.Service/src/Azure.Iot.Hub.Service.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Internal.Avro/src/Azure.Storage.Internal.Avro.csproj
Labels: Azure.Core, Event Grid, Iot, Storage

#15254 [CosmosDB] Add MongoDB operations tests
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/MongoResourcesOperationsTests.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBCollectionCreateAndUpdateTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBCollectionDeleteTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBCollectionListTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBCollectionMigrateToAutoscaleTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBCollectionMigrateToManualThroughputTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBCollectionUpdateThroughputTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBDatabaseCreateAndUpdateTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBDatabaseDeleteTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBDatabaseListTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBDatabaseMigrateToAutoscaleTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBDatabaseMigrateToManualThroughputTest()Async.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/MongoResourcesOperationsTests/MongoDBDatabaseUpdateThroughputTest()Async.json
Labels: Cosmos, Mgmt, Track 2

#15257 Enable the link check on aggregate-report
  eng/pipelines/aggregate-reports.yml
Labels: Central-EngSys

#15193 Increase diagnostics-id overhead in EventDataBatch
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventDataBatch.cs
Labels: Client, Event Hubs

#15111 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#13569 Update EventTypes.cs
  sdk/eventgrid/Microsoft.Azure.EventGrid/src/Customization/EventTypes.cs
Labels: Event Grid

#15240 Fix nullability on Search models
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Generated/Models/EntityRecognitionSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ImageAnalysisSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/KeyPhraseExtractionSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/OcrSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SentimentSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SplitSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/TextTranslationSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/WebApiSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/tests/SearchIndexerClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/RoundtripAllSkills.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/RoundtripAllSkillsAsync.json
Labels: Search

#15244 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Monitor - Exporter
