Repository Azure/azure-sdk-for-net, pull requests merged in 2020-08, with the labels that each got.

#13892 Enable recorded tests for management client
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/HttpRequestAndResponse.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/ServiceBusManagementClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Properties/AssemblyInfo.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusRecordedTestSanitizer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Management/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/AuthenticateWithAADAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicQueueCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicRuleCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicSubscriptionCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicTopicCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/CorrelationFilterPropertiesAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/GetNamespacePropertiesAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/GetTopicRuntimeInfoAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/SqlFilterParamsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/ThrowsIfEntityAlreadyExistsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/ThrowsIfEntityDoesNotExistAsync.json
Labels: Service Bus

#13859 [Event Hubs Client] Test Support for Multi-Cloud
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/assets/samples-azure-deploy.json
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubsTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/Microsoft.Azure.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestConstants.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestUtility.cs
  sdk/eventhub/test-resources.json
Labels: Client, Event Hubs

#13917 Recorded 2 Open Read tests
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/OpenReadAsync_StrangeOffsetsTest.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/OpenReadAsync_StrangeOffsetsTestAsync.json
Labels: Storage

#13866 ServiceBus: Moved FailureReason to ServiceBusFailureReason
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpExceptionHelper.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/HttpRequestAndResponse.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueuePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueueRuntimePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/ServiceBusManagementClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionPropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionRuntimePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicPropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicRuntimePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusException.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusFailureReason.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusRetryPolicy.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Management/RequestResponseTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Management/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample07_CrudOperations.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Client, Service Bus

#13881 add resourceId to guest configuration assignment resource
  eng/mgmt/mgmtmetadata/guestconfiguration_resource-manager.txt
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Generated/Models/AssignmentReportResource.cs
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Generated/SdkInfo_GuestConfigurationClient.cs
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Microsoft.Azure.Management.GuestConfiguration.csproj
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Properties/AssemblyInfo.cs
Labels: Missing Spec PR link, needs-revision

#13924 [Service Bus Client] Test Support for Multi-Cloud
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CONTRIBUTING.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusRecordedTestSanitizer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Management/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/AuthenticateWithAADAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicQueueCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicRuleCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicSubscriptionCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicTopicCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/CorrelationFilterPropertiesAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/GetNamespacePropertiesAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/GetTopicRuntimeInfoAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/SqlFilterParamsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/ThrowsIfEntityAlreadyExistsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/ThrowsIfEntityDoesNotExistAsync.json
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/TestConstants.cs
  sdk/servicebus/test-resources.json
  sdk/servicebus/tests.yml
Labels: Client, Service Bus

#13958 [FormRecognizer] Documentation: Update Form Recognizer README after Doc Review
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
Labels: Client, Cognitive - Form Recognizer, Docs

#13952 Normalize exceptions thrown by transports
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/PipelineTestBase.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#13962 Avoid disposing buffered responses
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
Labels: Azure.Core

#13956 Removing deprecated Storage library
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/AzureBlobLease.cs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/AzureStorageCheckpointLeaseManager.cs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/Microsoft.Azure.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Processor/ProcessorTests.cs
Labels: Event Hubs

#13948 Fix TA tests build after service update and cleanup code
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ClientDiagnostics.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsServiceSerializer.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithCountryHintTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithCountryHintTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithErrorCountryHintTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithErrorCountryHintTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithNoneCountryHintTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithNoneCountryHintTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithNoneDefaultCountryHintTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageWithNoneDefaultCountryHintTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizeEntitiesBatchWithInvalidDocumentBatch.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizeEntitiesBatchWithInvalidDocumentBatchAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizeLinkedEntitiesBatchWithInvalidDocumentBatch.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RecognizeLinkedEntitiesBatchWithInvalidDocumentBatchAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
Labels: Cognitive - Text Analytics

#13957 Changed clientside encryption metadata behavior
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideEncryptor.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
Labels: Storage

#13972 Temporary disable WebHttpRequest transport
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/ClientOptionsTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#13974 [FR] Change version to 3.0.0-preview.5
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer

#13977 Fixing intermittently failing receive test
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverTests.cs
Labels: Event Hubs

#13976 Provide batch size as batch property
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventDataBatch.cs
Labels: Event Hubs

#13978 [FR] Change resource to westus2
  sdk/formrecognizer/test-resources.json
Labels: Cognitive - Form Recognizer

#13824 Consolidate `TableClient` operation overloads to one generic method
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TableEntityExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ReflectionUtil.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.Dictionary.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityCanBeUpserted.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityCanBeUpsertedAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityUpdateRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityUpdateRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(CosmosTable)/TableQueryableDictionaryTableEntityQuery.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(CosmosTable)/TableQueryableDictionaryTableEntityQueryAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(CosmosTable)/TableQueryableWithDictionaryTypeOnSupportedTypes.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(CosmosTable)/TableQueryableWithDictionaryTypeOnSupportedTypesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(Storage)/TableQueryableDictionaryTableEntityQuery.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(Storage)/TableQueryableDictionaryTableEntityQueryAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(Storage)/TableQueryableWithDictionaryTypeOnSupportedTypes.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests(Storage)/TableQueryableWithDictionaryTypeOnSupportedTypesAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryableLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableEntityTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntitiesAsync.cs
Labels: Client, Tables

#13961 Setting sessionId to be same as partition key and adding validation
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Message.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/AmqpConverterTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/MessageTests.cs
Labels: Service Bus

#13873 Adding new Resource Public maintenance configurations and GET/LISTAPI
  eng/mgmt/mgmtmetadata/maintenance_resource-manager.txt
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/IMaintenanceManagementClient.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/IPublicMaintenanceConfigurationsOperations.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/MaintenanceManagementClient.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/Models/MaintenanceConfiguration.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/Models/MaintenanceScope.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/Models/Update.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/Models/Visibility.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/PublicMaintenanceConfigurationsOperations.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/PublicMaintenanceConfigurationsOperationsExtensions.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/SdkInfo_MaintenanceManagementClient.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Microsoft.Azure.Management.Maintenance.csproj
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Properties/AssemblyInfo.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/Helpers/MaintenanceTestUtilities.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/Properties/AssemblyInfo.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/PublicMaintenanceConfigurationGetTest.json
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/PublicMaintenanceConfigurationListTest.json
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/Tests/MaintenanceConfigurationTests.cs
Labels: Mgmt, needs-revision

#13987 Fix flaky tests
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Client, Service Bus

#13966 Fix batch calculation when diagnostics enabled
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventDataBatch.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubsDiagnosticSource.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/DiagnosticsTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestUtility.cs
Labels: Event Hubs

#14001 Configuration_ApplyOnEdgeDevice should only return empty response
  sdk/iot/Azure.Iot.Hub.Service/src/swagger/iothubservice_modified.json
Labels: IoT Managed SDK, Iot

#13864 add link verification steps
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  eng/ignore-links.txt
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/templates/Azure.ResourceManager.Template/README.md
  eng/templates/README.md
  sdk/appconfiguration/CONTRIBUTING.md
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/CHANGELOG.md
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/README.md
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
  sdk/keyvault/CONTRIBUTING.md
  sdk/mgmtcommon/AppAuthentication/README.md
  sdk/search/Azure.Search.Documents/samples/IndexingParametersExtensions.md
  sdk/search/CONTRIBUTING.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/README.md
  sdk/storage/Azure.Storage.Common/swagger/Generator/readme.md
  sdk/storage/CONTRIBUTING.md
  sdk/storage/README.md
  sdk/template/Azure.Template/README.md
  sdk/testcommon/Azure.Graph.Rbac/README.md
  sdk/testcommon/Azure.Management.Compute.2019_12/README.md
  sdk/testcommon/Azure.Management.Network.2020_04/README.md
  sdk/testcommon/Azure.Management.Resources.2017_05/README.md
  sdk/testcommon/Azure.Management.Storage.2019_06/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_MockClient.md
  tools/legacy/ScriptBackup/autogenForSwaggers/readme.md
Labels: EngSys

#13527 Initial serialized member name mapping
  sdk/core/Azure.Core/Azure.Core.sln
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Serialization/IMemberNameConverter.cs
  sdk/core/Azure.Core/src/Serialization/JsonObjectSerializer.cs
  sdk/core/Azure.Core/src/Serialization/ObjectSerializer.cs
  sdk/core/Azure.Core/tests/JsonObjectSerializerTest.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/Directory.Build.props
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/README.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/api/Microsoft.Azure.Core.NewtonsoftJson.netstandard2.0.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Serialization/NewtonsoftJsonObjectSerializer.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/Microsoft.Azure.Core.NewtonsoftJson.Tests.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/NewtonsoftJsonObjectSerializerTest.cs
  sdk/core/ci.yml
Labels: Azure.Core, Client, Do Not Merge

#13953 Configurations APIs Design
  sdk/iot/Azure.Iot.Hub.Service/src/API Design.md
Labels: IoT Managed SDK, Iot

#14016 Make SearchIndexerStatus.LastResult x-nullable
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerStatus.Serialization.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
Labels: Search

#13973 [FormRecognizer] Fix FormField.ValueData and BoundingBox
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/BoundingBoxTests.cs
Labels: Client, Cognitive - Form Recognizer, Docs, bug

#13764 generating SDK and adding SDK test for patch status instance view
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AvailablePatchSummary.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ConfigurationStatusSummary.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LastPatchInstallationSummary.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/PatchModeProvisioningState.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/PatchSettings.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RebootStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineExtension.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineExtensionUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachinePatchStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetExtension.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetExtensionUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMInstanceViewPatchStatusTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMInstanceViewPatchStatusTests/GetVMInstanceViewWithPatchStatus.json
Labels: Mgmt, Waiting for CI :shipit:

#14042 Add date to Newtonsoft changelog
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
Labels: Azure.Core

#13869 feat(sdk-iot-tests): Add unit tests for IotHubSasCredential
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubSasCredential.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureBuilder.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureConstants.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Properties/AssemblyInfo.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/Azure.Iot.Hub.Service.Tests.csproj
  sdk/iot/Azure.Iot.Hub.Service/tests/IotHubSasCredentialTests.cs
Labels: Iot

#13945 Updated ChangeLog.md for AccessPolicies for Blobs, DataLake and Shares
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
Labels: Storage

#14018 Added instrument options to share directory and file exists error tests
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_ErrorAsync.json
Labels: Storage

#14028 Fix #13044: [BUG] NullReferenceException in Azure.Identity 1.2.0-preview.4
  sdk/identity/Azure.Identity/src/AsyncLockWithValue.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/tests/AsyncLockWithValue.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseAzureCliCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseAzureCliCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCallsAsync.json
Labels: Azure.Identity

#14040 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#14050 Increment version for core releases
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
Labels: Azure.Core

#14044 [Service Bus Client] Guard Against Management Cleanup Failures
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure.Tests/TaskExtensionTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/TestConstants.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/TestUtility.cs
Labels: Client, Service Bus

#14051 [FR] Update version to 3.0.0-preview.1
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
Labels: Cognitive - Form Recognizer

#14030 Fails calls on closed clients properly
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpEventDataSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpPartitionReceiver.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventDataSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionReceiver.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/ClientEntity.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Resources.Designer.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Resources.resx
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ClientNegativeCases.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ClientTestBase.cs
Labels: Event Hubs

#14009 [TA] Move library to service v3.1-preview.1
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
Labels: Cognitive - Text Analytics

#14047 Adding content-type as first-class property to EventData
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventData.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Amqp/AmqpMEssageCoverterTests.cs
Labels: Event Hubs

#14025 Use ReadOnlyMemoryStream for BinaryData.ToStream
  sdk/core/Azure.Core.Experimental/src/Primitives/BinaryData.cs
  sdk/core/Azure.Core.Experimental/src/Primitives/ReadOnlyMemoryStream.cs
  sdk/core/Azure.Core.Experimental/tests/BinaryDataTests.cs
  sdk/core/Azure.Core.Experimental/tests/ReadOnlyMemoryStreamTests.cs
Labels: Azure.Core

#13963 Add README for BinaryData
  sdk/core/Azure.Core.Experimental/README.md
  sdk/core/Azure.Core.Experimental/tests/samples/BinaryDataSamples.cs
Labels: Azure.Core

#14029 Sample Readmes
  sdk/tables/Azure.Data.Tables/samples/README.md
  sdk/tables/Azure.Data.Tables/samples/Sample1CreateDeleteTables.md
  sdk/tables/Azure.Data.Tables/samples/Sample2CreateDeleteEntities.md
  sdk/tables/Azure.Data.Tables/samples/Sample3QueryTables.md
  sdk/tables/Azure.Data.Tables/samples/Sample4QueryEntities.md
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTable.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTableAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTables.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTablesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntitiesAsync.cs
Labels: Client, Tables

#14053 Convert enumerator of EventData to re-scannable collection
  sdk/eventhub/Microsoft.Azure.EventHubs/src/EventHubClient.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/src/PartitionSender.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/SendTests.cs
Labels: Event Hubs

#14036 Updating Azure.Identity README.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/images/AzureCliLogin.png
  sdk/identity/Azure.Identity/images/AzureCliLoginDeviceCode.png
  sdk/identity/Azure.Identity/images/DefaultAzureCredentialAuthenticationFlow.png
  sdk/identity/Azure.Identity/images/VsCodeLoginCommand.png
  sdk/identity/Azure.Identity/images/VsLoginDialog.png
Labels: Azure.Identity

#14074 Fix nightly live test run failures
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTableAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTablesAsync.cs
Labels: Tables

#14046 [Event Hubs Client] August Changelogs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Client, Docs, Event Hubs

#14076 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#14081 [Event Hubs Client] Processor Release Preparation (5.2.0-preview.2)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Client, Event Hubs

#14082 [Storage] Changefeed tail log examples
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/README.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedAsyncPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/TestTailEvents.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/TestTailEventsAsync.json
Labels: Storage

#14048 Design and Implement Consumer for EventGrid
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEventInternal.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CustomModelSerializer.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridConsumer.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridConsumerOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEventInternal.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridSerializer.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventTypes.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ServiceVersionExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/SystemEventTypeMappings.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CloudEventInternal.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CloudEventInternal.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridEventInternal.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridEventInternal.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ContosoItemReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ContosoItemSentEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/DroneShippingInfo.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/RocketShippingInfo.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ShippingInfo.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/TestEvent.cs
Labels: Event Grid

#14088 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#14072 [Event Hubs Client] Test Expectation Adjustments
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/SendTests.cs
Labels: Client, Event Hubs

#14061 Remove $select from logged query params
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/SearchClientOptions.cs
Labels: Search

#14093 Update changelog and fix flaky test
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#14089 [Identity] Updating links in README.md
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#14102 [FormRecognizer] Make default FieldValue return null when AsString is called
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/FieldValueTests.cs
Labels: Client, Cognitive - Form Recognizer, bug

#14100 Add support for per API configurable options
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldData.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormContentType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FormContentType.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
Labels: Cognitive - Form Recognizer

#14104 [Identity] Update CHANGELOG.md and version for 1.2.0 release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
Labels: Azure.Identity

#14087 Fix #14079: [Flaky test] AsyncLockWithValue_GetLockOrValueAsync_FirstFailedSecondSucceeded
  sdk/identity/Azure.Identity/tests/AsyncLockWithValueTests.cs
Labels: Azure.Identity

#14108 Fix more flaky tests
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure.Tests/FakeDiagnosticsListenerTests.cs
Labels: Service Bus

#13759 [CDN Management Library] Sample code to compute signature for signed urls
  sdk/cdn/Microsoft.Azure.Management.Cdn/samples/CdnSignedUrlSignatureComputationSample/CdnSignedUrlSignatureComputationSample.csproj
  sdk/cdn/Microsoft.Azure.Management.Cdn/samples/CdnSignedUrlSignatureComputationSample/Program.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/samples/CdnSignedUrlSignatureComputationSample/README.md
  sdk/cdn/Microsoft.Azure.Management.Cdn/samples/CdnSignedUrlSignatureComputationSample/SignedUrlSignature.cs
Labels: Community Contribution, Mgmt, Network - CDN

#14117 feat(iot): Add snippets to device identity sample
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/CommandLineOptions.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/DeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/Program.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/SampleLogger.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubSasCredential.cs
  sdk/iot/Azure.Iot.Hub.Service/src/DevicesClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
  sdk/iot/Update-IotSnippets.ps1
Labels: Iot

#14107 Made BlobQueryTextOptions an interface and removed RecordSeparator
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryCsvTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryJsonTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/IBlobQueryTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/QuickQueryExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryCsvTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryJsonTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/IDataLakeQueryTextOptions.cs
Labels: APIChange, Storage

#14023 Initial implementation of FieldBuilder
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/Directory.Build.props
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/samples/README.md
  sdk/search/Azure.Search.Documents/samples/Sample04_FieldBuilderIgnore.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/search/Azure.Search.Documents/src/Indexes/FieldBuilder.cs
  sdk/search/Azure.Search.Documents/src/Indexes/FieldBuilderIgnoreAttribute.cs
  sdk/search/Azure.Search.Documents/src/Indexes/ISearchFieldAttribute.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/ComplexField.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/LexicalAnalyzerName.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/SearchIndex.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchableFieldAttribute.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SimpleFieldAttribute.cs
  sdk/search/Azure.Search.Documents/src/Models/IndexDocumentsAction{T}.cs
  sdk/search/Azure.Search.Documents/src/Models/IndexDocumentsBatch{T}.cs
  sdk/search/Azure.Search.Documents/src/Models/SearchResults{T}.cs
  sdk/search/Azure.Search.Documents/src/Models/SearchResult{T}.cs
  sdk/search/Azure.Search.Documents/src/Models/SearchSuggestion{T}.cs
  sdk/search/Azure.Search.Documents/src/Models/SuggestResults{T}.cs
  sdk/search/Azure.Search.Documents/src/SearchClient.cs
  sdk/search/Azure.Search.Documents/src/SearchClientOptions.cs
  sdk/search/Azure.Search.Documents/src/Serialization/JsonSerialization.cs
  sdk/search/Azure.Search.Documents/tests/Azure.Search.Documents.Tests.csproj
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/IndexingTests.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/SearchTests.cs
  sdk/search/Azure.Search.Documents/tests/FieldBuilderTests.cs
  sdk/search/Azure.Search.Documents/tests/Models/LexicalAnalyzerNameTests.cs
  sdk/search/Azure.Search.Documents/tests/Models/RecursiveModel.cs
  sdk/search/Azure.Search.Documents/tests/Models/ReflectableCamelCaseModel.cs
  sdk/search/Azure.Search.Documents/tests/Models/ReflectableModel.cs
  sdk/search/Azure.Search.Documents/tests/Models/ReflectableStructCamelCaseModel.cs
  sdk/search/Azure.Search.Documents/tests/Models/ReflectableStructModel.cs
  sdk/search/Azure.Search.Documents/tests/Models/SearchIndexTests.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.Data.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample04_FieldBuilderIgnore.cs
  sdk/search/Azure.Search.Documents/tests/SearchableFieldAttributeTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/FieldBuilderIgnore/CreateIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/IndexingTests/StaticDocumentsWithCustomSerializer.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/IndexingTests/StaticDocumentsWithCustomSerializerAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/CreateIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/CreateManualIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/StaticDocumentsWithCustomSerializer.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchTests/StaticDocumentsWithCustomSerializerAsync.json
  sdk/search/Azure.Search.Documents/tests/SimpleFieldAttributeTests.cs
Labels: Search

#14092 [Event Hubs Client] Better Handling of Connection Closing Scenario
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
Labels: Client, Event Hubs

#14133 Search README issues
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
  sdk/search/README.md
Labels: Search

#14131 [Storage] Use url host in changefeed cursor
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedExtensions.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeed.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeedFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/ChangeFeedCursor.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedAsyncPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTests.cs
Labels: Storage

#14137 [Identity] Remove locale from docs links in README.md
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#14135 Use fully-qualified link to FieldBuilderIgnore docs
  sdk/search/Azure.Search.Documents/samples/README.md
Labels: Search

#14110 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#14141 [Identity] Restore Application Authentication API from 1.2.0-preview.6
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AuthenticationRecord.cs
  sdk/identity/Azure.Identity/src/AuthenticationRequiredException.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredentialOptions.cs
  sdk/identity/Azure.Identity/src/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/ClientSecretCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredentialOptions.cs
Labels: Azure.Identity

#14106 [FR] Preparing for release 3.0.0-preview.1
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldData.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOptions.cs
Labels: Cognitive - Form Recognizer

#14101 feat(configurations): Configurations client implementation
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/ConfigurationsClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
Labels: IoT Managed SDK, Iot

#14144 Preparing for next Search release
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#14145 Update versions for Key Vault 4.1 release
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#14138 Updating release notes for 4.3.0 release.
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs/CHANGELOG.md
Labels: Event Hubs

#14148 [Storage] Cf resume coverage
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/SegmentFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Shard.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ShardFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedAsyncPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/ImmediateResumeFromEndOfCurrentHourYieldsEmptyResult.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/ImmediateResumeFromEndOfCurrentHourYieldsEmptyResultAsync.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/ResumeFromEndInThePastYieldsEmptyResult.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/ResumeFromEndInThePastYieldsEmptyResultAsync.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ShardTests.cs
Labels: Storage

#14154 Setting release dates in ChangeLog.md
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs/CHANGELOG.md
Labels: Event Hubs

#14150 Changed the *QueryTextOptions interfaces back to abstract classes
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryCsvTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryJsonTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/QuickQueryExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryCsvTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryJsonTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryTextOptions.cs
Labels: Storage

#14119 Update IotHubSasCredential to inherit from TokenCredential
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/ISasTokenProvider.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubSasCredential.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SasTokenAuthenticationPolicy.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/IotHubSasCredentialTests.cs
Labels: Iot

#14152 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#14157 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer

#14161 Copy older 4.1.0-preview.1 changelogs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#13935 Clients for new MI CRUD APIs
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/AzSdk.RP.props
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedInstancesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstancesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstancesOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedInstance.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedInstanceUpdate.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SdkInfo_SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedInstanceCrudScenarioTests.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/Microsoft.Azure.Management.Sql.Tests.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedInstanceCrudScenarioTests/TestCreateUpdateGetDropManagedInstance.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/Utilities/SqlManagementTestUtilities.cs
Labels: Mgmt, needs-revision

#14168 Replaced space with tab so that generated .sln file can be loaded in VS.
  eng/templates/Azure.ResourceManager.Template/.template.config/template.json
  eng/templates/Azure.ResourceManager.Template/Azure.ResourceManager.Template.sln
Labels: Mgmt-EngSys

#14105 Implement CreateIfNotExists and CreateTableIfNotExists
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/samples/Sample2CreateDeleteEntities.md
  sdk/tables/Azure.Data.Tables/src/Generated/Models/ResponseFormat.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableGeoReplicationInfo.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableGeoReplicationInfo.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableItem.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceStatistics.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceStatistics.cs
  sdk/tables/Azure.Data.Tables/src/ResponseFormat.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableGeoReplicationInfo.cs
  sdk/tables/Azure.Data.Tables/src/TableItem.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreateIfNotExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreateIfNotExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CreateIfNotExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CreateIfNotExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(CosmosTable)/CreateTableIfNotExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(CosmosTable)/CreateTableIfNotExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(Storage)/CreateTableIfNotExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(Storage)/CreateTableIfNotExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryableLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntitiesAsync.cs
Labels: Client, Tables

#14160 Bumping up packaging version to 4.3.1 for testing purpose
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/Microsoft.Azure.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
Labels: Event Hubs

#14178 Fixed issue in queue samples
  sdk/storage/Azure.Storage.Queues/samples/Sample01b_HelloWorldAsync.cs
Labels: Storage

#14208 Add more CosmosThrottleWrappers
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(CosmosTable)/CreateTableIfNotExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(CosmosTable)/CreateTableIfNotExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(Storage)/CreateTableIfNotExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(Storage)/CreateTableIfNotExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
Labels: Client, Tables

#14210 Add query client to IoT Hub service client
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/DevicesClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/ModulesClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/QueryClient.cs
Labels: Iot

#14212 Removed IEquatable interface from TaggedBlobItem
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/TaggedBlobItem.cs
Labels: Storage

#14213 Use ConcurrentBag when testing progress reports
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#14215 feat(samples): Added bulk module and query samples
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/BulkDeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/BulkModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/DeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/IotHubClientSamples.csproj
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/ModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/QueryTwinSamples.cs
Labels: IoT Managed SDK, Iot

#14218 Preparing Storage for release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#14222 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#14239 Increase test run timeout
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/tests.yml
Labels: Client, Tables

#14246 [Storage][Bug] Preserve message body if only visibility timeout is updated.
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/UpdateMessageAsync_UpdateVisibilityTimeoutOnlyPreservesContent.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueClientTests/UpdateMessageAsync_UpdateVisibilityTimeoutOnlyPreservesContentAsync.json
Labels: Storage

#14245 Feature/storage/blobchangelog
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#14248 [Event Hubs Client] Idempotent Producer Support Scaffolding
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/Argument.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ArgumentTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/ReadEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventDataTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/PartitionPublishingOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: APIChange, Client, Event Hubs

#14132 Re-enable CDN WAF tests. Add missing UrlSigningAction field.
  eng/mgmt/mgmtmetadata/cdn_resource-manager.txt
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/Models/UrlSigningAction.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Generated/SdkInfo_CdnManagementClient.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Microsoft.Azure.Management.Cdn.csproj
  sdk/cdn/Microsoft.Azure.Management.Cdn/src/Properties/AssemblyInfo.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/ScenarioTests/WafTests.cs
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/EndpointCheckUsageTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/EndpointCreateTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/EndpointDeleteTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/EndpointGetListTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/EndpointPurgeLoadTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/EndpointStartStopTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/EndpointUpdateTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/EndpointTests/ValidateCustomDomainTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/GetEdgeNodeTests/GetEdgeNodeTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/NameAvailabilityTests/EndpointCheckNameAvailabilityTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/OperationsTests/ListOperationsTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/OriginTests/OriginGetListTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/OriginTests/OriginUpdateTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/GenerateSsoUriTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/GetSupportedOptimizationTypes.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/ProfileCheckUsageTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/ProfileCreateTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/ProfileDeleteTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/ProfileGetListTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/ProfileListBySubcriptionTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ProfileTests/ProfileUpdateTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/ValidateTests/ValidateProbePathTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/WafTests/WafPolicyCreateOrUpdateTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/WafTests/WafPolicyDeleteTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/WafTests/WafPolicyGetListTest.json
  sdk/cdn/Microsoft.Azure.Management.Cdn/tests/SessionRecords/WafTests/WafPolicyLinkTest.json
Labels: Mgmt, needs-review

#14233 Bug fix for Data Move API in .net sdk
  eng/mgmt/mgmtmetadata/recoveryservicesbackup_resource-manager.txt
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/PrepareDataMoveResponse.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/VaultStorageConfigOperationResultResponse.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/SdkInfo_RecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Properties/AssemblyInfo.cs
Labels: Cognitive - Mgmt

#14240 [FormRecognizer] Fix failing tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsThrowsForDamagedFile(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsThrowsForDamagedFile(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/test-resources.json
Labels: Client, Cognitive - Form Recognizer, LiveTestFailure, test-reliability

#13951 Adds a overload for the AddConfigurationClient that takes a URI.
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientBuilderExtensions.cs
Labels: APIChange, ArchApproved, AzConfig

#14085 Feature/storage/get file range diff
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileGetRangeListOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_NoRange.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_NoRangeAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_PreviousSnapshot.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_PreviousSnapshotAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_PreviousSnapshotFailed.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_PreviousSnapshotFailedAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_Snapshot.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_SnapshotAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_SnapshotFailed.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/GetRangeListAsync_SnapshotFailedAsync.json
Labels: APIChange, Storage

#14266 [FormRecognizer] Enabling tests after service-side fixes
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsFromUriThrowsForNonExistingContent(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsFromUriThrowsForNonExistingContent(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelError.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/CopyModelErrorAsync.json
Labels: Cognitive - Form Recognizer

#14251 [TA] LanguageInput and DetectedLanguage allow null values
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DetectedLanguage_internal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DetectedLanguage_internal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/LanguageInput.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/LanguageInput.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithNullIdTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithNullIdTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithNullTextTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/DetectLanguageBatchWithNullTextTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientMockTests.cs
Labels: Cognitive - Text Analytics

#14084 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: Azure.Core

#14139 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#14277 fix(iot): Fix iot hub service client to not implement BearerTokenAuthenticationPolicy
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SasTokenAuthenticationPolicy.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
Labels: Iot

#14271 [FormRecognizer] Enabling API Listing generation
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Client, Cognitive - Form Recognizer

#14278 Update test resources script to print the environment values set.
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/setup.ps1
Labels: DigitalTwins

#14221 [FormRecognizer] Implement Model Factory for mocking support
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AccountProperties.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormSubmodel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldData.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPageCollection.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPageRange.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedFormCollection.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingFileFilter.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/FormRecognizerModelFactoryTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsMockTests.cs
Labels: Client, Cognitive - Form Recognizer

#14280 Processor bug
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.resx
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
Labels: Service Bus

#14308 Patch TaskExtensions bug in Azure.Core 1.4.0
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Shared/TaskExtensions.cs
  sdk/core/Azure.Core/tests/TaskExtensionsTest.cs
Labels: Azure.Core

#13927 SMB Multichannel
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestConfigurations.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestConfigurationsTemplate.xml
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/DataLakeRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ServiceClientTests/GetSetServicePropertiesAsync_SmbMultiChannel.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ServiceClientTests/GetSetServicePropertiesAsync_SmbMultiChannelAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ServiceClientTests/SetPropertiesAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ServiceClientTests/SetPropertiesAsync_ErrorAsync.json
Labels: Storage

#14306 Revert "Fix #10904: Task extensions synchronously complete ValueTasks (#13719)"
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Shared/TaskExtensions.cs
  sdk/core/Azure.Core/tests/TaskExtensionsTest.cs
Labels: Azure.Core

#14282 Analyze sentiment with codegen
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DocumentSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DocumentSentimentInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentSentimentInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentSentimentInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentSentimentValue.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentenceSentimentInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentenceSentimentInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentimentConfidenceScorePerLabel.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentimentConfidenceScores.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentimentConfidenceScores.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentimentResponse.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentimentResponse.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TextSentiment.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SentenceSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SentenceSentimentInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SentimentConfidenceScores.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient_private.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsServiceSerializer.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/AnalyzeSentimentWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientMockTests.cs
Labels: Cognitive - Text Analytics

#14314 Make RoleDefinitions mutable
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinition.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinition.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPermission.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RoleDefinition.cs
Labels: Client, KeyVault

#14311 Update swagger directory-Generate from official swagger specs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/autorest.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/digitaltwins.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/CreateRelationshipAdvancedExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/CreateRelationshipBasicExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/DeleteModel.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/DeleteRelationship.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/DeleteTwin.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/EventRouteDelete.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/EventRouteGet.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/EventRoutePut.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/EventRoutePutWithFilter.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/EventRoutesList.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/GetComponent.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/GetIncomingRelationship.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/GetRelationship.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/GetRelationshipById.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/GetRelationshipByRelationshipName.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/GetTwin.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/ModelAdd.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/ModelGetById.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/ModelGetByIdWithIncludeModelDefinition.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/ModelUpdateDecommissioned.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/ModelsGet.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/ModelsGetWithDependenciesAndIncludeModelDefinition.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PatchComponentAdvancedExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PatchComponentBasicExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PatchRelationshipAdvancedExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PatchRelationshipBasicExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PatchTwinAdvancedExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PatchTwinBasicExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PutTwinAdvancedExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/PutTwinBasicExample.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/QueryFirstPage.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/QueryJoin.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/QueryNextPage.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/SendTelemetry.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/swagger/2020-05-31-preview/examples/SendTelemetryFromComponent.json
Labels: DigitalTwins

#14315 Rename xx_internal to xxInternal
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DetectedLanguage.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DetectedLanguageInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DetectedLanguageInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DetectedLanguageInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentEntities.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentError.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentError.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentKeyPhrases.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentKeyPhrases.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentLanguage.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentLanguage.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentLinkedEntities.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentLinkedEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentSentimentInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentSentimentInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TextAnalyticsErrorInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TextAnalyticsErrorInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TextAnalyticsWarningInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TextAnalyticsWarningInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsErrorInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsWarning.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsWarningInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
Labels: Cognitive - Text Analytics

#14198 Add ctors that serialize
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Primitives/BinaryData.cs
  sdk/core/Azure.Core.Experimental/tests/BinaryDataTests.cs
Labels: Azure.Core

#14323 Merge: Patch TaskExtensions bug in Azure.Core 1.4.0 (#14308)
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#14343 Fix warning during Search docs publishing
  sdk/search/Azure.Search.Documents/README.md
Labels: Search

#14325 Identity update README.md samples to compiled snippets
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#14196 Adjust CI YAML headers.
  eng/templates/Azure.ResourceManager.Template/content/ci.yml
  sdk/appconfiguration/ci.yml
  sdk/applicationinsights/ci.yml
  sdk/attestation/ci.yml
  sdk/batch/ci.yml
  sdk/cognitiveservices/ci.yml
  sdk/compute/ci.yml
  sdk/containerregistry/ci.yml
  sdk/core/ci.yml
  sdk/digitaltwins/ci.yml
  sdk/eventgrid/ci.yml
  sdk/eventhub/ci.yml
  sdk/extensions/ci.yml
  sdk/formrecognizer/ci.yml
  sdk/graphrbac/ci.yml
  sdk/hdinsight/ci.yml
  sdk/identity/ci.yml
  sdk/iot/ci.yml
  sdk/keyvault/ci.yml
  sdk/mediaservices/ci.yml
  sdk/network/ci.yml
  sdk/operationalinsights/ci.yml
  sdk/resources/ci.yml
  sdk/search/ci.yml
  sdk/servicebus/ci.yml
  sdk/storage/ci.yml
  sdk/synapse/ci.yml
  sdk/tables/ci.yml
  sdk/template/ci.yml
  sdk/textanalytics/ci.yml
Labels: EngSys

#14334 BoundingBox rename to FieldBoundingBox
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldBoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldData.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormElement.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/FieldBoundingBoxTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/FormRecognizerModelFactoryTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample9_FieldBoundingBox.cs
Labels: Cognitive - Form Recognizer

#14078 Re-enable HttpWebRequest transport
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/ClientOptionsTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#14356 feat(e2e): Configurations e2e tests
  sdk/iot/Azure.Iot.Hub.Service/tests/ConfigurationsClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/E2eTestBase.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurations.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurationsAsync.json
Labels: IoT Managed SDK, Iot

#14384 Statistics subclient samples.
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/Program.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/StatisticsSamples.cs
Labels: Iot

#13943 Re-enabled Set Expiry
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileExpirationOrigin.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileScheduleDeletionOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: APIChange, Storage

#14392 fix(e2e): Fix job tests to work with playback tests.
  sdk/iot/Azure.Iot.Hub.Service/tests/CustomRequestSanitizer.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/IotHubServiceTestEnvironment.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/JobsClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurations.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurationsAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwin.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwinAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdate.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdateAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwins.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwinsAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/JobsClientTests/Jobs_Export_Import_Lifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/JobsClientTests/Jobs_Export_Import_LifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_ModuleWithTwin.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_ModuleWithTwinAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_SingleDevice.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_SingleDeviceAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkUpdate.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkUpdateAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_GetModulesOnDevice.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_GetModulesOnDeviceAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_Query_GetTwins.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_Query_GetTwinsAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatch.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTag.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTagAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTag.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTagAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/TestSettings.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/setup.ps1
  sdk/iot/test-resources.json
Labels: IoT Managed SDK, Iot

#14393 Identity fix regression in InteractiveBrowserCredential from invalid redirectUrl
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
Labels: Azure.Identity

#14394 [FR] Update link to master
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#14405 Feature/storage/fix export api
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
Labels: Storage

#14410 Removed Concurrent Append generated code
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/DataLakeRestClient.cs
Labels: Storage

#14412 Identity cherry-pick InteractiveBrowserCredential fix for 1.2.2 hotfix
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
Labels: Azure.Identity

#14409 [FormRecognizer] Version bump (3.0.0)
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Client, Cognitive - Form Recognizer

#14434 Make more methods virtual for mocking
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
Labels: Service Bus

#14433 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer

#14430 Add request header changes for customized code
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinModelsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_IncorrectCredentials_ThrowsUnauthorizedException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_IncorrectCredentials_ThrowsUnauthorizedExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_TwinNotExist_ThrowsNotFoundException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_TwinNotExist_ThrowsNotFoundExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_EventRouteNotExist_ThrowsNotFoundException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_EventRouteNotExist_ThrowsNotFoundExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_MalformedEventRouteFilter_ThrowsBadRequestException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_MalformedEventRouteFilter_ThrowsBadRequestExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/ModelData_DisplayNameAndDescription_Deserializes.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/ModelData_DisplayNameAndDescription_DeserializesAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_MalformedModelId_ThrowsBadRequestException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_MalformedModelId_ThrowsBadRequestExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_ModelAlreadyExists_ThrowsConflictException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_ModelAlreadyExists_ThrowsConflictExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_ModelNotExists_ThrowsNotFoundException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_ModelNotExists_ThrowsNotFoundExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/PublishTelemetryTests/PublishTelemetry_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/PublishTelemetryTests/PublishTelemetry_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_ValidQuery_Success.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_ValidQuery_SuccessAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/TestUrlSanitizer.cs
Labels: DigitalTwins

#14435 Merge hotfix branch 'hotfix/identity-ibcpatch' back to master
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#14441 Remove .Swp file that got added in PR #14351
  sdk/core/Azure.Core.TestFramework/src/.DiagnosticScopeValidatingInterceptor.cs.swp
Labels: Azure.Core

#14431 fix(e2e): Sanitize secrets
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/CustomRequestSanitizer.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurations.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurationsAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwin.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwinAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdate.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdateAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwins.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwinsAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/JobsClientTests/Jobs_Export_Import_Lifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/JobsClientTests/Jobs_Export_Import_LifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_ModuleWithTwin.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_ModuleWithTwinAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_SingleDevice.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_SingleDeviceAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkUpdate.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkUpdateAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_GetModulesOnDevice.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_GetModulesOnDeviceAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_Query_GetTwins.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_Query_GetTwinsAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatch.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTag.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTagAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTag.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTagAsync.json
Labels: IoT Managed SDK, Iot

#14094 Update Diagnostics.md - Add a note about content logs level
  sdk/core/Azure.Core/samples/Diagnostics.md
Labels: Azure.Core

#14478 Increase Azure.Core coverage
  sdk/core/Azure.Core/src/Shared/HashCodeBuilder.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/HashCodeBuilderTests.cs
  sdk/core/Azure.Core/tests/PageResponseEnumeratorTests.cs
  sdk/core/Azure.Core/tests/ReadTimeoutStreamTests.cs
Labels: Azure.Core

#14472 Fix #14362: [BUG] Enabling VisualStudioCodeCredential on macOS crashes dotnet
  sdk/identity/Azure.Identity/src/MacosNativeMethods.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoVscInstalled.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoVscInstalledAsync.json
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs
Labels: Azure.Identity

#14491 Clean up processor documentation
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessErrorEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
Labels: Service Bus

#14474 [TA] Cleanup post move to codegen
  sdk/textanalytics/Azure.AI.TextAnalytics/src/CategorizedEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ClientDiagnostics.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/LinkedEntityMatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsServiceSerializer.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsWarning.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsErrorTests.cs
Labels: Cognitive - Text Analytics
