Repository Azure/azure-sdk-for-net, pull requests merged in 2020-06, with the labels that each got.

#12282 [Datafactory] Enable Excel SDK
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/CHANGELOG.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ExcelDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ExcelSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/DatasetJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Labels: Mgmt, Missing Spec PR link, needs-revision

#12370 update Azure.ClientSdk.Analyzers to 20200529.1
  eng/Packages.Data.props
Labels: EngSys

#12366 Tables: Query support for dictionary entities and CreateFilter
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TableClientExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionNormalizer.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionWriter.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ReflectionUtil.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableComplexFilterWithCreateFilter.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableComplexFilterWithCreateFilterAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableExecuteQueryDictionary.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableExecuteQueryDictionaryAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableWithDictionaryTypeOnSupportedTypes.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientQueryableLiveTests/TableQueryableWithDictionaryTypeOnSupportedTypesAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryableLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables

#12347 Update Batch SDK regeneration instructions
  sdk/batch/Microsoft.Azure.Management.Batch/README.md
Labels: Mgmt

#12227 K8sConfiguration .Net SDK - Create
  eng/mgmt/mgmtmetadata/kubernetesconfiguration_resource-manager.txt
  eng/pipelines/mgmt.yml
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/AzSdk.RP.props
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/Microsoft.Azure.Management.KubernetesConfiguration.sln
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/IOperations.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/ISourceControlConfigurationClient.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/ISourceControlConfigurationsOperations.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ComplianceState.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ComplianceStateConverter.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ComplianceStatus.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/EnableHelmOperator.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/EnableHelmOperatorConverter.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ErrorDefinition.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ErrorResponse.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ErrorResponseException.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/HelmOperatorProperties.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/MessageLevel.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/MessageLevelConverter.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/OperatorScope.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/OperatorScopeConverter.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/OperatorType.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/OperatorTypeConverter.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/Page.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ProvisioningState.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ProvisioningStateConverter.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ProxyResource.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/Resource.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ResourceProviderOperation.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/ResourceProviderOperationDisplay.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/Result.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Models/SourceControlConfiguration.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/Operations.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/OperationsExtensions.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/SdkInfo_SourceControlConfigurationClient.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/SourceControlConfigurationClient.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/SourceControlConfigurationsOperations.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Generated/SourceControlConfigurationsOperationsExtensions.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/Microsoft.Azure.Management.KubernetesConfiguration.csproj
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/src/generate.ps1
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/tests/Helpers/RecordedDelegatingHandler.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/tests/Microsoft.Azure.Management.KubernetesConfiguration.Tests.csproj
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/tests/ScenarioTests/SourceControlConfigurationTests.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/tests/SessionRecords/SourceControlConfigurationTest/CanCreateUpdateDeleteSourceControlConfiguration.json
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/tests/TestSupport/ClusterInfo.cs
  sdk/kubernetesconfiguration/Microsoft.Azure.Management.KubernetesConfiguration/tests/TestSupport/SourceControlConfigurationTestBase.cs
Labels: Mgmt, Missing Spec PR link, needs-revision

#12328 Support Sku capabilities. Bump to 7.3.0
  eng/mgmt/mgmtmetadata/cognitiveservices_resource-manager.txt
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/SkuCapability.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/SdkInfo_CognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Microsoft.Azure.Management.CognitiveServices.csproj
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Properties/AssemblyInfo.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/SessionRecords/CognitiveServices.Tests.CognitiveServicesAccountTests/CognitiveServicesAccountCapabilityTest.json
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/SessionRecords/CognitiveServicesAccountTests/CognitiveServicesAccountCapabilityTest.json
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/Tests/CognitiveServicesAccountTests.cs
Labels: Mgmt, needs-review

#12402 [Event Hubs Client] Migration Guide Updates
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
Labels: Client, Docs, Event Hubs

#12419 [FormRecognizer] Remove Operation type constructors
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12421 add some unit tests for expression parsing
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
Labels: Client, Tables

#12412 Update swagger_to_sdk_config.json
  swagger_to_sdk_config.json
Labels: Mgmt-EngSys, Waiting for CI :shipit:

#12458 [DataFactory] Added xml dataset & fixed version issue
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/CHANGELOG.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AmazonS3ReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureBlobFSReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureBlobStorageReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureDataLakeStoreReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AzureFileStorageReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DataFlowSink.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/DataFlowSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/Factory.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/FileServerReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/FtpReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/GlobalParameterSpecification.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/GlobalParameterType.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/GoogleCloudStorageReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SftpReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/WaitActivity.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/XmlDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/XmlReadSettings.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/XmlSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/DatasetJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Labels: Mgmt, needs-review

#12393 Batch Management SDK 11.0.0
  eng/mgmt/mgmtmetadata/batch_resource-manager.txt
  sdk/batch/Microsoft.Azure.Management.Batch/AzSdk.RP.props
  sdk/batch/Microsoft.Azure.Management.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/BatchManagementClient.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/IPrivateEndpointConnectionOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/BatchAccount.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/BatchAccountCreateParameters.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/BatchAccountIdentity.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/BatchAccountUpdateParameters.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/EncryptionProperties.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/KeySource.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/KeyVaultProperties.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/PrivateEndpointConnectionUpdateHeaders.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/ResourceIdentityType.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/PrivateEndpointConnectionOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/PrivateEndpointConnectionOperationsExtensions.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/PrivateLinkResourceOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/SdkInfo_BatchManagement.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Microsoft.Azure.Management.Batch.csproj
  sdk/batch/Microsoft.Azure.Management.Batch/src/Properties/AssemblyInfo.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/ScenarioTests/PoolTests.ScenarioTests.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountCanCreateWithBYOSEnabled.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/CertificateTests/BatchCertificateEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/GetLocationQuotasAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/PoolTests/BatchPoolEndToEndAsync.json
Labels: Mgmt, needs-revision

#12501 Making developer credential types public
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredentialOptions.cs
Labels: APIChange

#12523 [FormRecognizer] Preview 3: moving to new Receipt design
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AccountProperties.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormSubmodel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField{T}.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerError.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/GetModelOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ReceiptExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingDocumentInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/USReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/USReceiptItem.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/USReceiptType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeReceiptsFromUri.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12502 Identity Adding Authenticate APIs to UsernamePasswordCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetTokenAsync.json
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialLiveTests.cs
Labels: APIChange

#12528 [Datafactory] Add source/sink linked service/schema linked service support for Data Flow
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/CHANGELOG.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/DataFlowJsonSamples.cs
Labels: Merge Conflicts, Mgmt

#12554 renaming operation-ids for Cluster put and patch as per guidelines
  eng/mgmt/mgmtmetadata/eventhub_resource-manager.txt
  sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Generated/ClustersOperations.cs
  sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Generated/ClustersOperationsExtensions.cs
  sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Generated/IClustersOperations.cs
  sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Generated/Models/Cluster.cs
  sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Generated/SdkInfo_EventHubManagementClient.cs
  sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Microsoft.Azure.Management.EventHub.csproj
  sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#12596 [Event Hubs Client] Fix Test Environment Typo
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
Labels: Client, Event Hubs

#12571 docs(adt): update RequestOptions documentation
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/RequestOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinTests.cs
Labels: DigitalTwins

#12570 [FormRecognizer] Remove <inheritdoc> from documentation
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Operation{T}.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/tests/AccessControlClientLiveTests.cs
Labels: Azure.Core, Client, Cognitive Services, Docs, FormRecognizer

#12606 fix(samples):remove unnecessary lines from sample
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/ComponentSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/CustomDigitalTwin.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/Readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/BasicDigitalTwin.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/ModelProperties.cs
Labels: DigitalTwins

#12604 [FormRecognizer] Preview 3: updating changelog
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12603 Update DigitalTwin lifecycle to use ETag and re-record
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_IncorrectCredentials_ThrowsUnauthorizedException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_IncorrectCredentials_ThrowsUnauthorizedExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_TwinNotExist_ThrowsNotFoundException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_TwinNotExist_ThrowsNotFoundExceptionAsync.json
Labels: DigitalTwins

#12612 Update changelog
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
Labels: DigitalTwins

#12621 Tables: Fixup diagnostic scopes
  sdk/tables/Azure.Data.Tables/src/AssemblyInfo.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Client, Tables

#12635 fix(comments): Fix xml comments for API surface
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
Labels: DigitalTwins

#12641 [HDInsight] Support node reboot features
  eng/mgmt/mgmtmetadata/hdinsight_resource-manager.txt
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/HDInsightManagementClient.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/IHDInsightManagementClient.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/IVirtualMachinesOperations.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/HostInfo.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/SdkInfo_HDInsightManagementClient.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/VirtualMachinesOperations.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/VirtualMachinesOperationsExtensions.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Microsoft.Azure.Management.HDInsight.csproj
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Properties/AssemblyInfo.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/ScenarioTests/VirtualMachineOperationTests.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/SessionRecords/VirtualMachineOperationTests/TestListAndRestartHosts.json
Labels: Mgmt, needs-review

#12652 [FormRecognizer] Remove long-running operation transform
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ClientCommon.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Constants.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceAnalyzeLayoutAsyncHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceAnalyzeReceiptAsyncHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceAnalyzeWithCustomModelHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceCopyCustomModelHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceRestClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#12617 Increment version for digitaltwins releases
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: DigitalTwins, IoT Managed SDK

#12656 [Event Hubs Client] Migration Guide Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
Labels: Client, Docs, Event Hubs

#12661 fix setup script
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/setup.ps1
Labels: DigitalTwins, IoT Managed SDK

#12611 Add implementation for Devices APIs
  sdk/iot/Azure.Iot.Hub.Service/src/API Design.md
  sdk/iot/Azure.Iot.Hub.Service/src/BulkIfMatchPrecondition.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Customized/Models/BulkRegistryOperationResult.cs
  sdk/iot/Azure.Iot.Hub.Service/src/DevicesClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/BulkRegistryOperationResponse.Serialization.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/BulkRegistryOperationResponse.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/RegistryManagerRestClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IfMatchPrecondition.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IfMatchPreconditionExtensions.cs
  sdk/iot/Azure.Iot.Hub.Service/src/swagger/iothubservice_modified.json
Labels: IoT Managed SDK, Iot

#12674 [FormRecognizer] Changing test location to West Central US
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/test-resources.json
Labels: Client, Cognitive Services, FormRecognizer

#12538 Azure Digital Twins 0.1.0 SDK
  eng/mgmt/mgmtmetadata/digitaltwins_resource-manager.txt
  eng/pipelines/mgmt.yml
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/AzSdk.RP.props
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/Microsoft.Azure.Management.DigitalTwins.sln
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/AzureDigitalTwinsManagementClient.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/DigitalTwinsEndpointOperations.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/DigitalTwinsEndpointOperationsExtensions.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/DigitalTwinsOperations.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/DigitalTwinsOperationsExtensions.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/IAzureDigitalTwinsManagementClient.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/IDigitalTwinsEndpointOperations.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/IDigitalTwinsOperations.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/IOperations.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/CheckNameRequest.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/CheckNameResult.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/DigitalTwinsDescription.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/DigitalTwinsEndpointResource.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/DigitalTwinsEndpointResourceProperties.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/DigitalTwinsPatchDescription.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/DigitalTwinsResource.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/DigitalTwinsSkuInfo.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/EndpointProvisioningState.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/ErrorDefinition.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/ErrorResponse.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/ErrorResponseException.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/EventGrid.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/EventHub.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/ExternalResource.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/Operation.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/OperationDisplay.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/Page.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/ProvisioningState.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/Reason.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Models/ServiceBus.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/Operations.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/OperationsExtensions.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Generated/SdkInfo_AzureDigitalTwinsManagementClient.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/Microsoft.Azure.Management.DigitalTwins.csproj
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/generate.ps1
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/tests/Helpers/DigitalTwinsTestUtilities.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/tests/Helpers/RecordedDelegatingHandler.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/tests/Microsoft.Azure.Management.DigitalTwins.Tests.csproj
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/tests/ScenarioTests/DigitalTwinsLifecycleTests.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/tests/ScenarioTests/DigitalTwinsTestBase.cs
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/tests/SessionRecords/DigitalTwinsLifecycleTests/TestDigitalTwinsLifecycle.json
Labels: Mgmt, Waiting for CI :shipit:

#12650 CRR update
  eng/mgmt/mgmtmetadata/recoveryservicesbackup_resource-manager.txt
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/AzSdk.RP.props
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/AadPropertiesOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/AadPropertiesOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupCrrJobDetailsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupCrrJobDetailsOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupCrrJobsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupCrrJobsOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupProtectedItemsCrrOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/BackupProtectedItemsCrrOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/CrossRegionRestoreOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/CrossRegionRestoreOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/CrrOperationResultsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/CrrOperationResultsOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/CrrOperationStatusOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/CrrOperationStatusOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IAadPropertiesOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IBackupCrrJobDetailsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IBackupCrrJobsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IBackupProtectedItemsCrrOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/ICrossRegionRestoreOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/ICrrOperationResultsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/ICrrOperationStatusOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IRecoveryPointsCrrOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IRecoveryPointsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/IRecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AADProperties.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AADPropertiesResource.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/CrossRegionRestoreRequest.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/CrossRegionRestoreRequestResource.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/CrrAccessToken.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/CrrAccessTokenResource.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/OperationStatusRecoveryPointExtendedInfo.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryPointsCrrOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryPointsCrrOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryPointsOperations.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryPointsOperationsExtensions.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/SdkInfo_RecoveryServicesBackupClient.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#12683 ADT C# SDK Samples Improvements
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/ComponentSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/CustomRelationship.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsLifecycleSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/ModelLifecycleSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/Program.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/PublishTelemetrySamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/RelationshipSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/SamplesConstants.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/UniqueIdHelper.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/Readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/BasicDigitalTwin.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/BasicRelationship.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Serialization/UpdateOperationsUtility.cs
Labels: DigitalTwins, IoT Managed SDK

#12480 Initial AccessControlClient for Azure.Security.KeyVault.Administration
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/readme.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/Error.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/Error.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultError.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultError.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignment.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentFilter.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentListResult.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentListResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentProperties.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentPropertiesWithScope.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentPropertiesWithScope.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinition.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinition.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinitionFilter.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinitionListResult.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleDefinitionListResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleAssignmentsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleDefinitionsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPermision.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RoleAssignmentListResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RoleAssignmentScope.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RoleDefinitionListResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/swagger/common.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/swagger/rbac.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/Azure.Security.KeyVault.Administration.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/CreateRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/CreateRoleAssignmentAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/DeleteRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/DeleteRoleAssignmentAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleAssignmentAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleDefinitions.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleDefinitionsAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/KeyVaultTestEnvironment.cs
  sdk/keyvault/Azure.Security.KeyVault.sln
  sdk/keyvault/test-resources.json
Labels: Client, KeyVault

#12716 refactor(samples): Refactor the delete digital twin sample snippet
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsLifecycleSamples.cs
Labels: DigitalTwins, IoT Managed SDK

#12719 feat(tests): Add test infrastructure and setup.ps1 for local setup
  .github/CODEOWNERS
  sdk/iot/.gitignore
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/prerequisites.readme.md
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/setup.ps1
  sdk/iot/test-resources.json
  sdk/iot/test.yml
Labels: IoT Managed SDK, Iot

#12722 Add common files, remove specific sub
  sdk/iot/Azure.Iot.Hub.Service/tests/config/common.config.json
  sdk/iot/test.yml
Labels: IoT Managed SDK, Iot

#12664 Add initial samples for review
  sdk/tables/Azure.Data.Tables/samples/README.md
  sdk/tables/Azure.Data.Tables/samples/Sample1CreateDeleteTables.md
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTable.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTableErrors.cs
Labels: Client, Tables

#12717 Simplify delete relationship snippet
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/RelationshipSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/Readme.md
Labels: IoT Managed SDK, Iot

#12712 Add reboot parameters for multiple replicas per master.
  eng/mgmt/mgmtmetadata/redis_resource-manager.txt
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisInstanceDetails.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/Models/RedisRebootParameters.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Generated/RedisOperations.cs
  sdk/redis/Microsoft.Azure.Management.RedisCache/src/Microsoft.Azure.Management.Redis.csproj
  sdk/redis/Microsoft.Azure.Management.RedisCache/tests/ScenarioTests/BeginCreateFunctionalTests.cs
Labels: Mgmt, needs-revision

#12695 fix(swagger): Fix IotHub swagger descriptions
  sdk/iot/Azure.Iot.Hub.Service/src/swagger/iothubservice_modified.json
Labels: IoT Managed SDK, Iot

#12543 Azure Backup Health
  eng/mgmt/mgmtmetadata/recoveryservicesbackup_resource-manager.txt
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureFileshareProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSClassicComputeVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSComputeVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSVMHealthDetails.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureIaaSVMProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSAPAseDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSAPHanaDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/AzureVmWorkloadSQLDatabaseProtectedItem.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/HealthDetails.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/Models/HealthStatus.cs
  sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Microsoft.Azure.Management.RecoveryServices.Backup.csproj
Labels: Mgmt, needs-revision

#12760 Rename whitelisted to allowlisted in Microsoft.Azure.Management.Authorization
  sdk/authorization/Microsoft.Azure.Management.Authorization/tests/Tests/BasicTests.cs
Labels: Authorization, Service Attention

#12766 Speed up mgmt tests in playback mode
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/tests/ScenarioTests/BlueprintTests.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/Helpers/ResourceUtils.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/ResourceTests/VolumeTests.cs
Labels: Mgmt, needs-review

#12668 [FormRecognizer] Moving Receipt snippet to end of README
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromUri.cs
Labels: Client, Cognitive Services, Docs, FormRecognizer

#12774 doc(adt): update test prereq readme
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
Labels: Iot

#12775 Update setup script to deploy the test-resources ARM template instead…
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/prerequisites.readme.md
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/setup.ps1
  sdk/iot/test-resources.json
Labels: IoT Managed SDK, Iot

#12776 Update setup script to call ARM template directly
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/setup.ps1
  sdk/iot/Azure.Iot.Hub.Service/tests/config/azad_.config.json
Labels: DigitalTwins, IoT Managed SDK

#12744 Minor changes to the Search README
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
Labels: Client, Search

#12787 feat(samples): Samples project skeleton
  sdk/iot/Azure.Iot.Hub.Service/Azure.Iot.Hub.Service.sln
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/CommandLineOptions.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/IotHubClientSamples.csproj
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/Program.cs
Labels: IoT Managed SDK, Iot

#12731 IoT hub service client authentication via connection string
  sdk/iot/Azure.Iot.Hub.Service/CodeMaid.config
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/FixedSasTokenProvider.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/ISasTokenProvider.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubConnectionString.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SasTokenAuthenticationPolicy.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SasTokenProviderWithSharedAccessKey.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureBuilder.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureConstants.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Azure.Iot.Hub.Service.csproj
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/Azure.Iot.Hub.Service.Tests.csproj
  sdk/iot/Azure.Iot.Hub.Service/tests/E2eTestBase.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/IotHubServiceTestEnvironment.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/TestSettings.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/setup.ps1
Labels: IoT Managed SDK, Iot

#12709 [Synapse] - Add Support for private link and fix node count issue for Spark pool
  eng/mgmt/mgmtmetadata/synapse_resource-manager.txt
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/IPrivateLinkHubsOperations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/ISynapseManagementClient.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/BigDataPoolResourceInfo.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/PrivateLinkHub.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/PrivateLinkHubPatchInfo.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/PrivateLinkHubsOperations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/PrivateLinkHubsOperationsExtensions.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SdkInfo_SynapseManagementClient.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SynapseManagementClient.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Microsoft.Azure.Management.Synapse.csproj
Labels: Mgmt, Waiting for CI :shipit:

#12807 Bugfix for Network SDK
  eng/mgmt/mgmtmetadata/network_resource-manager.txt
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/HubRouteTable.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VirtualHubEffectiveRouteList.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/SdkInfo_NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Microsoft.Azure.Management.Network.csproj
  sdk/network/Microsoft.Azure.Management.Network/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#11721 Generate sdk for Microsoft.Features unregister api
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/FeatureClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/FeatureClientExtensions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/FeaturesOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/FeaturesOperationsExtensions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/IFeatureClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/IFeaturesOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/SdkInfo_FeatureClient.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/InMemoryTests/FeatureTests.InMemory.cs
Labels: Mgmt, needs-revision

#12803 fix(iot-service): Fix merge conflict in infrastructure setup file
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/setup.ps1
Labels: IoT Managed SDK, Iot

#12793 fix(e2e): Use constant defined in settings file and use encrypted file for user settings.
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinsTestEnvironment.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/E2eTestBase.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/TestSettings.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/config/common.config.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/setup.ps1
Labels: DigitalTwins, IoT Managed SDK

#12822 fix(e2e): Cleanup unnecessary settings.
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/ComponentTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinRelationshipTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/ModelsTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/PayloadHelperUnitTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/PublishTelemetryTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/QueryTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/TestAssetDefaults.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/config/common.test.assets.config.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/setup.ps1
Labels: IoT Managed SDK, Iot

#12819 feat(tests): Changes to fix tests and make sure we can run them successfully.
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/DevicesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/TestSettings.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/UpdateSessionRecords.ps1
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/setup.ps1
Labels: IoT Managed SDK, Iot

#12827 Start recording tests and add intial Session recording
  sdk/iot/Azure.Iot.Hub.Service/tests/Azure.Iot.Hub.Service.Tests.csproj
  sdk/iot/Azure.Iot.Hub.Service/tests/DevicesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/E2eTestBase.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/IotHubServiceTestEnvironment.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_Lifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_LifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/TestConnectionStringSanitizer.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/TestSettings.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/TestsConstants.cs
Labels: IoT Managed SDK, Iot

#12143 Managed instance failover
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/IManagedInstancesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstancesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/ManagedInstancesOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ReplicaType.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/SdkInfo_SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Properties/AssemblyInfo.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/ManagedInstanceFailoverTests.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedInstanceFailoverTests/FailoverPrimary.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/ManagedInstanceFailoverTests/FailoverReadableSecondaryInstance.json
Labels: Mgmt, needs-revision

#12842 fix(setup): Validate minimum number of characters for DigitalTwins name
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/setup.ps1
Labels: DigitalTwins, IoT Managed SDK

#12829 Implement Get/Set TableServiceProperties
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceProperties.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/ServiceRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/autorest.md
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetPropertiesReturnsProperties.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetPropertiesReturnsPropertiesAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
Labels: Client, Tables

#12772 Initial KeyVaultBackupRestoreClient
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/BackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/BackupRestoreRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/FullBackupDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/FullRestoreDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/BackupRestoreRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/FullBackupDetailsInternal.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/FullBackupDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/FullRestoreDetailsInternal.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/FullRestoreDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultError.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultError.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultServiceError.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultServiceError.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreOperationParameters.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SASTokenParameter.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SASTokenParameter.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreDetails.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreDetails.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreOperationParameters.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/ServiceFullBackupHeaders.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/ServiceFullRestoreOperationHeaders.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/ServiceSelectiveKeyRestoreOperationHeaders.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultServiceError.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/SASTokenParameter.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/SelectiveKeyRestoreDetails.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/SelectiveKeyRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/swagger/backuprestore.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/Azure.Security.KeyVault.Administration.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreRecordedTestSanitizer.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/KeyVaultTestEnvironment.cs
  sdk/keyvault/Azure.Security.KeyVault.sln
  sdk/keyvault/test-resources.json
Labels: Client, KeyVault

#12850 feat(samples): Initial CREATE/DELETE sample for ModuleI
  .gitignore
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/IotHubClientSamples.csproj
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/ModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/Program.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/SampleLogger.cs
Labels: IoT Managed SDK, Iot

#12853 Revert swagger workarounds after service fix
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentCreateParameters.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RoleAssignmentCreateParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleAssignmentsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/asdf.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/swagger/rbac.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/CreateRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/CreateRoleAssignmentAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/DeleteRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/DeleteRoleAssignmentAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleAssignmentAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleDefinitions.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/AccessControlClientLiveTests/GetRoleDefinitionsAsync.json
Labels: Client, KeyVault

#12870 Add CreateClientRequestIdScope method
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Diagnostics.md
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ReadClientRequestIdPolicy.cs
  sdk/core/Azure.Core/tests/ClientRequestIdPolicyTests.cs
  sdk/core/Azure.Core/tests/samples/LoggingSamples.cs
Labels: ArchApproved

#12879 Make public JsonWebKey properties settable
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
Labels: Client, KeyVault

#12602 AVS 1.0.0-preview.1 SDK
  eng/mgmt/mgmtmetadata/vmware_resource-manager.txt
  eng/pipelines/mgmt.yml
  sdk/avs/Microsoft.Azure.Management.Avs/AzSdk.RP.props
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/AvsClient.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/ClustersOperations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/ClustersOperationsExtensions.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/IAvsClient.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/IClustersOperations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/ILocationsOperations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/IOperations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/IPrivateCloudsOperations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/LocationsOperations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/LocationsOperationsExtensions.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/AdminCredentials.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/ApiError.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/ApiErrorBase.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/ApiErrorException.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Circuit.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Cluster.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/ClusterProperties.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/ClusterProvisioningState.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/DefaultClusterProperties.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Endpoints.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/ExpressRouteAuthorization.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/IdentitySource.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/InternetEnum.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Operation.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/OperationDisplay.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Page.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/PrivateCloud.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/PrivateCloudProperties.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/PrivateCloudProvisioningState.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Quota.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/QuotaEnabled.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Resource.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Sku.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/SslEnum.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/TrackedResource.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Models/Trial.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/Operations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/OperationsExtensions.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/PrivateCloudsOperations.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/PrivateCloudsOperationsExtensions.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Generated/SdkInfo_AzureVMwareSolutionAPI.cs
  sdk/avs/Microsoft.Azure.Management.Avs/src/Microsoft.Azure.Management.Avs.csproj
  sdk/avs/Microsoft.Azure.Management.Avs/src/generate.ps1
  sdk/avs/Microsoft.Azure.Management.Avs/tests/AvsTestBase.cs
  sdk/avs/Microsoft.Azure.Management.Avs/tests/AvsTests.cs
  sdk/avs/Microsoft.Azure.Management.Avs/tests/Microsoft.Azure.Management.Avs.Tests.csproj
  sdk/avs/Microsoft.Azure.Management.Avs/tests/SessionRecords/AvsTests/AvsCrud.json
Labels: Mgmt, needs-revision

#12934 Populate Issuer Name and fix Properties deserialization
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateIssuer.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/IssuerProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateIssuerTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetIssuer.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetIssuerAsync.json
Labels: Client, KeyVault

#12906 Update containerinstance client to the 2019-12-01 api
  eng/mgmt/mgmtmetadata/containerinstance_resource-manager.txt
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/AzSdk.RP.props
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainerGroupUsageOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainerGroupUsageOperationsExtensions.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainerGroupsOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainerGroupsOperationsExtensions.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainerInstanceManagementClient.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainerInstanceManagementClientExtensions.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainersOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ContainersOperationsExtensions.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/IContainerGroupUsageOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/IContainerGroupsOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/IContainerInstanceManagementClient.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/IContainersOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ILocationOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/IOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/IServiceAssociationLinkOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/LocationOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/LocationOperationsExtensions.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/CachedImages.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/CachedImagesListResult.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/CapabilitiesListResult.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/ContainerGroup.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/ContainerGroupSku.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/ContainerState.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/EncryptionProperties.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/EventModel.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/InitContainerDefinition.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/InitContainerPropertiesDefinitionInstanceView.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/OperationListResult.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/Page1.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/Scheme.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Models/UsageListResult.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/Operations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/OperationsExtensions.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/SdkInfo_ContainerInstanceManagementClient.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ServiceAssociationLinkOperations.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Generated/ServiceAssociationLinkOperationsExtensions.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Microsoft.Azure.Management.ContainerInstance.csproj
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/src/Properties/AssemblyInfo.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/Helpers/ContainerInstanceTestUtilities.cs
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/Microsoft.Azure.Management.ContainerInstance.Tests.csproj
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/SessionRecords/ContainerInstanceTests/ContainerInstanceCreateTest.json
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/SessionRecords/ContainerInstanceTests/ContainerInstanceDeleteTest.json
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/SessionRecords/ContainerInstanceTests/ContainerInstanceGetTest.json
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/SessionRecords/ContainerInstanceTests/ContainerInstanceListByResourceGroupTest.json
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/SessionRecords/ContainerInstanceTests/ContainerInstanceListTest.json
  sdk/containerinstance/Microsoft.Azure.Management.ContainerInstance/tests/Tests/ContainerInstanceTests.cs
Labels: Mgmt, Missing Spec PR link, needs-revision

#12926 [FormRecognizer] Filling gaps in our tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/FormRecognizerClientCannotAuthenticateWithFakeApiKey.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/FormRecognizerClientCannotAuthenticateWithFakeApiKeyAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPageJpg(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPageJpg(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPageJpg(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPageJpg(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPagePdf(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPagePdf(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPagePdf(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPagePdf(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(False,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(False,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(False,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(False,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(True,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(True,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageFormWithBlankPage(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageFormWithBlankPage(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageFormWithBlankPage(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageFormWithBlankPage(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(False,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(False,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(False,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(False,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(True,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabels(True,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageFormWithBlankPage(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageFormWithBlankPage(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptJpg(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptJpg(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptJpg(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptJpg(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptPng(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptPng(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptPng(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceiptPng(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/DeleteModelFailsWhenModelDoesNotExist.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/DeleteModelFailsWhenModelDoesNotExistAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/FormTrainingClientCannotAuthenticateWithFakeApiKey.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/FormTrainingClientCannotAuthenticateWithFakeApiKeyAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegion.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegionAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTrainingFailsWithInvalidPrefix.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTrainingFailsWithInvalidPrefixAsync.json
Labels: Client, Cognitive Services, FormRecognizer, Test Debt

#12928 [Event Hubs Client] Minor Refactorings and Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TaskExtensions.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Instrastructure.Tests/TaskExtensionTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/ServiceFabricProcessor/OptionsTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/ServiceFabricProcessor/TimeoutTests.cs
Labels: Client, Event Hubs

#12958 Consider ReuseKey and Exportable CertificatePolicy KeyProperties for serialization
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatePolicyTests.cs
Labels: Client, KeyVault

#12836 [FormRecognizer] Remove RecognizedReceipt + Add Strongly-Typed Sample
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample4_StronglyTypingARecognizedForm.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample5_TrainModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample6_ManageCustomModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample7_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField{T}.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/OperationExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceiptCollection.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Receipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/ReceiptItem.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample4_StronglyTypingARecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample6_TrainModelWithFormsAndLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample7_ManageCustomModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample8_CopyModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
Labels: Client, Cognitive - Form Recognizer, Cognitive Services, Docs

#12953 Increase test pipeline timeout
  sdk/keyvault/tests.yml
Labels: Client, KeyVault

#12940 Add InsertOrMerge and Merge client methods
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: Client, Tables

#12992 Remove swaggers and add generate.ps1
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/swagger/backuprestore.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/swagger/common.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/swagger/rbac.json
Labels: Client, KeyVault

#12663 Added PlaybackOnlyAttribute
  sdk/core/Azure.Core.TestFramework/src/PlaybackOnlyAttribute.cs
Labels: Azure.Core, Test Debt

#12989 feat(samples): Finish Modules samples
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/ModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClient.cs
Labels: IoT Managed SDK, Iot

#12981 Comment description proposal for get only mutable collection properties
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ImportCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/MergeCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/CreateKeyOptions.cs
Labels: Client, KeyVault

#13006 [FormRecognizer] Adding remaining tests for cross-language test parity
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multi1.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipage_invoice_noblank.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/TestFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentThrowsForDamagedFile.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentThrowsForDamagedFileAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsThrowsForDamagedFile(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsThrowsForDamagedFile(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsThrowsForDamagedFile(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsThrowsForDamagedFile(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsThrowsForDamagedFile.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsThrowsForDamagedFileAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(False,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(False,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(False,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(False,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(True,False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(True,False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(True,True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(True,True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTrainingSucceedsWithValidPrefix.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTrainingSucceedsWithValidPrefixAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/CopyModelOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/CopyModelOperationCanPollFromNewObjectAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeContentOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeContentOperationCanPollFromNewObjectAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeCustomFormsOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeCustomFormsOperationCanPollFromNewObjectAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeReceiptsOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeReceiptsOperationCanPollFromNewObjectAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/TrainingOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/TrainingOperationCanPollFromNewObjectAsync.json
  sdk/formrecognizer/test-resources.json
Labels: Client, Cognitive - Form Recognizer, Test Debt

#13048 Tables: Add GetStatistics implementation
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTableServiceStatsReturnsStats.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTableServiceStatsReturnsStatsAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
Labels: Client, Tables

#13047 [Event Hubs Client] Load Balancer Options
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/ReadEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/LoadBalancingStrategy.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/ReadOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorOptionsTests.cs
Labels: APIChange, ArchApproved, Client, Event Hubs

#12238 [Computer Vision v3.0] Create Cognitive Service CV 3.0 SDK
  eng/mgmt/mgmtmetadata/cognitiveservices_data-plane_ComputerVision.txt
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/ComputerVisionClient.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/ComputerVisionClientExtensions.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/IComputerVisionClient.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/AnalyzeResults.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/BatchReadFileInStreamHeaders.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/Line.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/OcrDetectionLanguage.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/OperationStatusCodes.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/ReadHeaders.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/ReadInStreamHeaders.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/ReadOperationResult.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/ReadResult.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/RecognizeTextInStreamHeaders.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/TextOperationResult.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/TextOperationStatusCodes.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/TextRecognitionMode.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/TextRecognitionResultConfidenceClass.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/Models/Word.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/SdkInfo_ComputerVisionClient.cs
  sdk/cognitiveservices/Vision.ComputerVision/src/Generated/code-model-v1
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAnalyzeTests/AnalyzeBrandsTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAnalyzeTests/AnalyzeImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAnalyzeTests/AnalyzeImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionAreaOfInterestTests/AreaOfInterestLogoTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageInJapaneseTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDescribeTests/DescribeImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDetectTests/DetectImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDetectTests/DetectImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeCelebritiesDomainImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeCelebritiesDomainImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeCelebritiesDomainTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionDomainModelTests/AnalyzeLandmarksDomainImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionOcrTests/OcrImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionOcrTests/OcrImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionReadTests/BatchReadFileInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionReadTests/BatchReadFileTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionReadTests/BatchReadPdfFileInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionRecognizeTextTests/RecognizeTextInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionRecognizeTextTests/RecognizeTextTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionTagTests/TagImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionTagTests/TagImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionThumbmailTests/ThumbnailImageInStreamTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/SessionRecords/VisionThumbmailTests/ThumbnailImageTest.json
  sdk/cognitiveservices/Vision.ComputerVision/tests/VisionAnalyzeTests.cs
  sdk/cognitiveservices/Vision.ComputerVision/tests/VisionReadTests.cs
  sdk/cognitiveservices/Vision.ComputerVision/tests/VisionRecognizeTextTests.cs
Labels: Client

#13061 [FormRecognizer] Documentation fixes; enabling ignored tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Receipt.cs
Labels: Client, Cognitive - Form Recognizer, Docs, Test Debt

#13046 Update the logic for ETags and preconditions
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/ModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/src/DevicesClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IfMatchPrecondition.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IfMatchPreconditionExtensions.cs
  sdk/iot/Azure.Iot.Hub.Service/src/ModulesClient.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/DevicesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwin.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwinAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdate.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdateAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycle.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwins.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwinsAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatchAsync.json
Labels: IoT Managed SDK, Iot

#13063 Fix processor event args method naming
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample04_Processor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample04_Processor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
Labels: Client, Service Bus

#13092 [FormRecognizer] Update text angle if it falls outside of the expected range
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True)Async.json
Labels: Client, Cognitive - Form Recognizer, Test Debt, bug

#13095 fix(pipeline): Update test-resources.json for it to match the env variables expected by the test framework
  sdk/iot/test-resources.json
Labels: IoT Managed SDK, Iot

#13107 Change output lists to be IReadOnlyList
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
Labels: Client, Service Bus

#13108 Log warning when requesting more messages than PrefetchCount
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
Labels: Client, Service Bus

#13098 Add async enumerable Receive
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Client, Service Bus

#13127 [FormRecognizer] Ignoring failing AAD tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
Labels: Client, Cognitive - Form Recognizer, LiveTestFailure
