Repository Azure/azure-sdk-for-net, pull requests merged in 2020-01, with the labels that each got.

#9268 Version change for CosmosDB sdk
  sdk/cosmos-db/Microsoft.Azure.Management.CosmosDB/src/Microsoft.Azure.Management.CosmosDB.csproj
  sdk/cosmos-db/Microsoft.Azure.Management.CosmosDB/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#9281 Additional testing for sql database continuous copy scenarios
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/DatabaseCopyScenarioTests.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/DatabaseCopyScenarioTests/TestContinuousCopyDatabase.json
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/tests/SessionRecords/DatabaseCopyScenarioTests/TestContinuousCopyHyperscaleDatabase.json
Labels: Mgmt, needs-review

#9269 [Event Hubs Client] Track Two (Test Stability)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs

#9288 [Event Hubs Client] Track Two (Samples Enhancements)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_PublishAnEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishMultipleEventBatches.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_PublishAnEventBatchWithPartitionKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_PublishAnEventBatchToASpecificPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_PublishEventsWithCustomMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ReadOnlyNewEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_ReadEventsFromAKnownPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_PublishAnEventBatchWithCustomSizeLimit.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample12_AuthenticateWithClientSecretCredential.cs
Labels: Client, Event Hubs

#9264 Azure Site Recovery - SDK changes for replicationEligibilityResults, test failover settings, and resource rename.
  eng/mgmt/mgmtmetadata/recoveryservicessiterecovery_resource-manager.txt
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/IReplicationEligibilityResultsOperations.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/ISiteRecoveryManagementClient.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AProtectedManagedDiskDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AReplicationDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AUpdateReplicationProtectedItemInput.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AVmManagedDiskUpdateDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/IPConfig.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/RecoveryPlanHyperVReplicaAzureFailoverInput.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/ReplicationEligibilityResults.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/ReplicationEligibilityResultsCollection.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/ReplicationEligibilityResultsErrorInfo.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/ReplicationEligibilityResultsProperties.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/UpdateReplicationProtectedItemInputProperties.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/VMNicDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/VMNicInputDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/ReplicationEligibilityResultsOperations.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/ReplicationEligibilityResultsOperationsExtensions.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/SiteRecoveryManagementClient.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Microsoft.Azure.Management.RecoveryServices.SiteRecovery.csproj
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Properties/AssemblyInfo.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/tests/ScenarioTests/ASRTests.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/tests/SessionRecords/ASRTests/EnumerateReplicationEligibilityResults.json
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/tests/SessionRecords/ASRTests/GetReplicationEligibilityResults.json
Labels: Mgmt, needs-review

#9296 [Event Hubs Client] Track Two (Release Documentation)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-event-hubs-second-preview.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#9301 [Event Hubs Client] Track Two (Release Fixes)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample08_EventProcessingHeartbeat.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample09_ProcessEventsByBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
Labels: Client, Event Hubs

#9310 Event Processor: Set OwnerLevel "0" when creating an instance of ReadEventOptions
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs

#9287 [Event Hubs Client] Track Two (Design Documents)
  sdk/eventhub/Azure.Messaging.EventHubs/design/api-skeleton-january-2020.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-strawman-october-2019.md
Labels: Client, Event Hubs

#9352 [Event Hubs] Track Two (Link Close Fix)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
Labels: Client, Event Hubs

#9326 Release the iotcentral sdk for the new sku name ST0, ST1, ST2
  eng/mgmt/mgmtmetadata/iotcentral_resource-manager.txt
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/AppsOperations.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/AppsOperationsExtensions.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/IAppsOperations.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/IIotCentralClient.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/IOperations.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/IotCentralClient.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/App.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/AppAvailabilityInfo.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/AppPatch.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/AppSku.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/AppSkuInfo.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/AppTemplate.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/ErrorDetails.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/ErrorDetailsException.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/ErrorResponseBody.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/Operation.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/OperationDisplay.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/OperationInputs.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/Page.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Models/Resource.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/Operations.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/OperationsExtensions.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Generated/SdkInfo_IotCentralClient.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/IotCentral/Management.IotCentral/Generated/SdkInfo_IotCentralClient.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Microsoft.Azure.Management.IotCentral.csproj
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/Properties/AssemblyInfo.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/src/generate.ps1
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/tests/Helpers/IotCentralTestUtilities.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/tests/ScenarioTests/IotCentralLifeCycleTests.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/tests/ScenarioTests/IotCentralTestBase.cs
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/tests/SessionRecords/IotCentralLifeCycleTests/TestIotCentralCreateLifeCycle.json
  sdk/iotcentral/Microsoft.Azure.Management.IotCentral/tests/SessionRecords/IotCentralLifeCycleTests/TestIotCentralUpdateLifeCycle.json
Labels: Mgmt, needs-review

#9316 Make completion of diagnostic scope more deterministic
  sdk/core/Azure.Core/tests/TestFramework/ClientDiagnosticListener.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
Labels: Azure.Core, Client, Community Contribution, Event Hubs

#9397 [Event Hubs] Address gaps in Event Processor test coverage
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs

#9177 Bump Cognitive Services SDK to 7.0
  eng/mgmt/mgmtmetadata/cognitiveservices_resource-manager.txt
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/AccountsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/AccountsOperationsExtensions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/CheckSkuAvailabilityOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/CheckSkuAvailabilityOperationsExtensions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/CognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/CognitiveServicesManagementClientExtensions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/IAccountsOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/ICheckSkuAvailabilityOperations.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/ICognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CheckDomainAvailabilityParameter.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CheckDomainAvailabilityResult.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccount.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountApiProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountCreateParameters.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountProperties.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/CognitiveServicesAccountUpdateParameters.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/NetworkRuleBypassOptions.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/Models/NetworkRuleSet.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Generated/SdkInfo_CognitiveServicesManagementClient.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Microsoft.Azure.Management.CognitiveServices.csproj
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/src/Properties/AssemblyInfo.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/Helpers/CognitiveServicesManagementTestUtilities.cs
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/SessionRecords/CognitiveServicesAccountTests/CognitiveServicesCheckDomainAvailabilityTest.json
  sdk/cognitiveservices/Microsoft.Azure.Management.CognitiveServices/tests/Tests/CognitiveServicesAccountTests.cs
Labels: Mgmt, needs-review

#9321 Update ANF SDK for 2019-10-01 API
  eng/mgmt/mgmtmetadata/netapp_resource-manager.txt
  sdk/netapp/Microsoft.Azure.Management.NetApp/AzSdk.RP.props
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/AzureNetAppFilesManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/IVolumesOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/AuthorizeRequest.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/EndpointType.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/MirrorState.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/RelationshipStatus.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/ReplicationObject.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/ReplicationSchedule.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/ReplicationStatus.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/Volume.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/VolumePropertiesDataProtection.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/SdkInfo_NetAppManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/VolumesOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/VolumesOperationsExtensions.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Microsoft.Azure.Management.NetApp.csproj
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Properties/AssemblyInfo.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/Helpers/ResourceUtils.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/ResourceTests/VolumeTests.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/AccountTests/CreateAccountWithProperties.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/AccountTests/CreateDeleteAccount.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/AccountTests/GetAccountByName.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/AccountTests/GetAccountByNameNotFound.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/AccountTests/ListAccounts.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/AccountTests/PatchAccount.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/AccountTests/UpdateAccount.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/MountTargetTests/ListMountTargets.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/CreateDeletePool.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/DeleteAccountWithPoolPresent.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/GetPoolByName.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/GetPoolByNameAccountNotFound.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/GetPoolByNameNotFound.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/ListPools.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/PatchPool.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/PoolTests/UpdatePool.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/SnapshotTests/CreateDeleteSnapshot.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/SnapshotTests/CreateVolumeFromSnapshot.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/SnapshotTests/GetSnapshotByName.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/SnapshotTests/ListSnapshots.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/SnapshotTests/PatchSnapshot.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/CheckAvailability.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/CreateDeleteVolume.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/CreateDpVolume.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/CreateVolumePoolNotFound.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/CreateVolumeWithProperties.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/DeletePoolWithVolumePresent.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/GetVolumeByName.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/GetVolumeByNameNotFound.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/GetVolumeByNamePoolNotFound.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/ListVolumes.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/PatchVolume.json
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/SessionRecords/VolumeTests/UpdateVolume.json
Labels: Mgmt, needs-review

#9446 Disabled feature CI.
  sdk/appconfiguration/ci.yml
  sdk/applicationinsights/ci.yml
  sdk/attestation/ci.yml
  sdk/batch/ci.yml
  sdk/cognitiveservices/ci.yml
  sdk/containerregistry/ci.yml
  sdk/core/ci.yml
  sdk/eventgrid/ci.yml
  sdk/eventhub/ci.yml
  sdk/graphrbac/ci.yml
  sdk/hdinsight/ci.yml
  sdk/identity/ci.yml
  sdk/keyvault/ci.yml
  sdk/operationalinsights/ci.yml
  sdk/search/ci.yml
  sdk/servicebus/ci.yml
  sdk/storage/ci.yml
  sdk/template/ci.yml
  sdk/textanalytics/ci.yml
Labels: EngSys

#9471 [Event Hubs Client] Track Two (ReadMe Links)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Client, Documentation, Event Hubs

#8742 [Event Hubs Client] Allow existing resources to optionally be used for test runs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/ConnectionStringTokenParser.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/TestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
Labels: Client, Community Contribution, Event Hubs

#9477 [Event Hubs Client] Track Two (Processor README Link)
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
Labels: Client, Documentation, Event Hubs

#9488 [HDInsight] Add new feature: supports creating cluster with
  eng/mgmt/mgmtmetadata/hdinsight_resource-manager.txt
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/ClusterCreateProperties.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/Models/ClusterGetProperties.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Generated/SdkInfo_HDInsightManagementClient.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Microsoft.Azure.Management.HDInsight.csproj
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/src/Properties/AssemblyInfo.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/ScenarioTests/ClusterOperationTests.cs
  sdk/hdinsight/Microsoft.Azure.Management.HDInsight/tests/SessionRecords/ClusterOperationTests/TestCreateClusterWithTLS12.json
Labels: Mgmt, needs-review

#9514 Add retries to more network calls
  eng/New-TestResources.ps1
  eng/Remove-TestResources.ps1
Labels: EngSys

#9496 [Event Hubs Client] Track Two (Migration Guide Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs/migration-guide-from-v4.md
Labels: Client, Documentation, Event Hubs

#9522 Support for IPFiltering feature in update Domains & Topics scenarios
  eng/mgmt/mgmtmetadata/eventgrid_resource-manager.txt
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/DomainsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/DomainsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/IDomainsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/ITopicTypesOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/ITopicsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/Domain.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/DomainUpdateParameters.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/Topic.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/TopicUpdateParameters.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/SdkInfo_EventGridManagementClient.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/TopicTypesOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/TopicTypesOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/TopicsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/TopicsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/DomainCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionCreateGetUpdateDeleteWithDeadLettering.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionCreateGetUpdateDeleteWithDlqAdvancedFilterAzureFunctionAsDestination.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionCreateGetUpdateDeleteWithDlqAdvancedFilterServiceBusAsDestination.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToAzureSubscriptionCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToCustomTopicCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToCustomTopicCreateGetUpdateDeleteWithEventDeliverySchema.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToDomainCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/EventSubscriptionToResourceGroupCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/SessionRecords/ScenarioTests/TopicCreateGetUpdateDelete.json
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/Tests/ScenarioTests.DomainTests.CRUD.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/tests/Tests/ScenarioTests.TopicTests.CRUD.cs
Labels: Mgmt

#9506 [ADF]Change SDK version to 4.7
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/SdkInfo_DataFactoryManagementClient.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-review

#9518 [Event Hubs Client] Track Two (Test Timing Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
Labels: Client, Event Hubs

#9534 [Compute] Adding ExactVersion field to ImageReference of a Virtual Machine.
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageReference.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachine.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetVMOperationalTests/TestVMScaleSetVMOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetVMOperationalTests/TestVMScaleSetVMOperations_ManagedDisks.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetVMOperationalTests.cs
Labels: Mgmt, needs-review

#9544 Azure Security Center - Regulatory Compliance API
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/RegulatoryCompliance/RegulatoryComplianceAssessmentsTests.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/RegulatoryCompliance/RegulatoryComplianceControlsTests.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/RegulatoryCompliance/RegulatoryComplianceStandardsTests.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/RegulatoryComplianceAssessmentsTests/RegulatoryComplianceAssessments_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/RegulatoryComplianceAssessmentsTests/RegulatoryComplianceAssessments_List.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/RegulatoryComplianceControlsTests/RegulatoryComplianceControls_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/RegulatoryComplianceControlsTests/RegulatoryComplianceControls_List.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/RegulatoryComplianceStandardsTests/RegulatoryComplianceStandards_Get.json
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/tests/SessionRecords/RegulatoryComplianceStandardsTests/RegulatoryComplianceStandards_List.json
Labels: needs-review

#9539 [Event Hubs Client] Track Two (Publishing Tweaks)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/RetryPolicies/BasicRetryPolicyTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/ExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/ExceptionExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
Labels: Client, Event Hubs

#9563 Change kind values for EventHubs spans
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/DiagnosticProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/EventDataInstrumentation.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
Labels: Client, Event Hubs

#9545 DocWarden version lock-down.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/variables/globals.yml
Labels: EngSys

#9576 Delete old mgmt metadata that got leaked in
  src/SDKs/_metadata/databoxedge_resource-manager.txt
Labels: Mgmt, needs-review

#9595 Upgrade doc-warden to 0.5.0.
  eng/pipelines/templates/variables/globals.yml
Labels: EngSys

#9603 [Event Hubs] Track Two (Release Readiness)
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#9601 [Event Hubs Client] Track Two (Publish Resiliency)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
Labels: Client, Event Hubs

#9636 [Event Hubs Client] Track Two (Live Test Reliability)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs

#9653 [Event Hubs Client] Processor README Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
Labels: Client, Documentation, Event Hubs

#9668 [Event Hubs Client] Live Test Infrastructure Tweaks (Tracks One and Two)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#9678 [Event Hubs] Event Processor Release Preparation (v5.0.1)
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Azure.Messaging.EventHubs.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
Labels: Client, Event Hubs

#9680 [Event Hubs Client] Post Release Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Client, Event Hubs

#9657 Update networking sdk to incorporate latest changes
  eng/mgmt/mgmtmetadata/network_resource-manager.txt
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/INetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/BastionActiveSession.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/BastionConnectProtocol.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/BastionHostIPConfiguration.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/BastionSessionState.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/BastionShareableLink.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/BastionShareableLinkListRequest.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/SessionIds.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/Models/VM.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/NetworkManagementClientExtensions.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Generated/SdkInfo_NetworkManagementClient.cs
  sdk/network/Microsoft.Azure.Management.Network/src/Microsoft.Azure.Management.Network.csproj
  sdk/network/Microsoft.Azure.Management.Network/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-review

#9683 [Event Hubs Client] Test Stability and Tuning
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Infrastructure/IEventHubsBlobCheckpointSample.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsIdentitySample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/IEventHubsSample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Infrastructure/ISample.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#9721 [Event Hubs Client] Project File Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Azure.Messaging.EventHubs.Processor.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Azure.Messaging.EventHubs.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
Labels: Client, Event Hubs

#9738 [Event Hubs Client] Test Infrastructure Retry Tweak (Tracks One and Two)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs
