Repository Azure/azure-sdk-for-net, pull requests merged in 2020-07, with the labels that each got.

#13158 Add subscription config to stg73 for preview sub
  sdk/storage/tests.yml
Labels: EngSys

#13162 Remove unnecessary dependencies
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Client, Service Bus

#13050 Propogate Cascading/Linked delete behavior to Blueprint extension classes
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Customizations/Extensions/ManagementGroupAssignmentsExtentions.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Customizations/Extensions/SubscriptionAssignmentsExtensions.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/AssignmentsOperations.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/AssignmentsOperationsExtensions.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/IAssignmentsOperations.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/AssignmentDeleteBehavior.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/SdkInfo_BlueprintManagementClient.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Microsoft.Azure.Management.Blueprint.csproj
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#13155 [Event Hubs Client] Restructure Reading from a Single Partition
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/ExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpExceptionExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
Labels: Client, Event Hubs

#13117 [Event Hubs Client] Load Balancing Strategy
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
Labels: Client, Event Hubs

#13207 Try using AsByteStream
  sdk/identity/tests.yml
Labels: EngSys

#13137 [FormRecognizer] Attributing Cognitive Services User role to test resources
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/test-resources.json
Labels: Client, Cognitive - Form Recognizer, LiveTestFailure

#13205 [Event Hubs Client] July Change Logs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Client, Docs, Event Hubs

#13240 Fix link in samples readme
  sdk/tables/Azure.Data.Tables/samples/README.md
Labels: Client, Tables

#13224 [FormRecognizer] Add info differentiating async and sync methods in README
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample1_RecognizeFormContent.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample4_StronglyTypingARecognizedForm.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample5_TrainModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample6_ManageCustomModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample7_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample10_DifferentiateOutputModelsTrainedWithAndWithoutLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample4_StronglyTypingARecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample6_TrainModelWithFormsAndLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample7_ManageCustomModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample8_CopyModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample9_BoundingBox.cs
Labels: Client, Cognitive - Form Recognizer, Docs

#13244 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#13246 [Event Hubs Client] Event Processor July Release Preparation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
Labels: Client, Event Hubs

#13257 [FormRecognizer] Misc documentation updates
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample6_ManageCustomModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample7_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyAuthorization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldData.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormElement.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
Labels: Client, Cognitive - Form Recognizer, Docs

#13275 Set version to 1.0.1
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: AzConfig

#13280 Getting ready for Search release
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#13281 fix readme
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus

#13285 remove ref to core.experimental from test project
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
Labels: Service Bus

#13259 Update swagger reference and fixup changes
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/BackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/BackupRestoreRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreDetailsInternal.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/OperationHeadersExtensions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RoleAssignmentCreateParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
Labels: Client, KeyVault

#13286 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer

#13292 Fix CHANGELOG and project files
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
Labels: Client, KeyVault

#13290 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#13291 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#13288 [Event Hubs Client] Enhanced Connection String Validation
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/ConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringParserTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringPropertiesTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Constructor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
Labels: Client, Event Hubs

#13311 Identity updating changelog for 1.2.0-preview.5 release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#13313 Identity adding previous release dates to CHANGELOG.md
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#13289 Implement selective restore
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperation.cs
Labels: Client, KeyVault

#13075 Add readme details for Azure.Security.KeyVault.Administration
  sdk/keyvault/Azure.Security.KeyVault.Administration/readme.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/SampleSnippets.cs
Labels: Client, KeyVault

#13294 Factory method to create ServiceBusReceivedMessage
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageTests.cs
Labels: Service Bus

#13332 Fixed bug where BlockBlobClient and PageBlobClient would throw NullRe…
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/Ctor_Uri.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/Ctor_UriAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Ctor_UriNonIpStyle.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Ctor_UriNonIpStyleAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/Ctor_UriNonIpStyle.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/Ctor_UriNonIpStyleAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/Ctor_Uri.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/Ctor_UriAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/Ctor_Uri.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/Ctor_UriAsync.json
Labels: Storage

#13335 Feature/storage/uri builder encoding bug
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeUriBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareUriBuilder.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#13310 Add some docs related to Update-Snippets.ps1
  CONTRIBUTING.md
Labels: Client

#13317 Return null key if access is denied
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyResolverMockTests.cs
Labels: Client, KeyVault

#13316 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#13347 Update versions for Key Vault servicing release
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
Labels: Client, KeyVault

#13343 Removing default overwrite comment on Datalake upload method other comments
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
Labels: Storage

#13333 Implement publish events for custom schema topic
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridSerializer.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCustomEvent.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCustomEventAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CustomizeSerializedJSONPropertiesToCamelCase.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CustomizeSerializedJSONPropertiesToCamelCaseAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/TestEvent.cs
Labels: Event Grid

#13282 Updating SDK package to include Quota APIs
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Microsoft.Azure.Management.Reservations.csproj
  sdk/reservations/Microsoft.Azure.Management.Reservations/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#13364 Fixing Azure.Storage.Files.Shares changelog link
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/README.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Files.Shares/samples/Azure.Storage.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#13334 Feature/storage/with version encoding bug
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobUriBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/WithVersion.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/WithVersionAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/WithSnapshot.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/WithSnapshotAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/WithVersion.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/WithVersionAsync.json
Labels: APIChange, ArchApproved, Storage

#13387 Added IfTags to BlobBaseClient.SetTier()
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SetTierAsync_IfTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SetTierAsync_IfTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SetTierAsync_IfTags_Failed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SetTierAsync_IfTags_FailedAsync.json
Labels: Storage

#13383 Search: Remove Cognitive Stats to enable other clouds
  sdk/search/test-resources.json
Labels: Search

#13384 Merge Key Vault servicing release into master
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateIssuer.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ImportCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/IssuerProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/MergeCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateIssuerTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatePolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetIssuer.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyGetIssuerAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/CreateKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyResolverMockTests.cs
Labels: Client, Do Not Merge, KeyVault

#13393 Add VolatileQueryParameters
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core.TestFramework/src/RecordMatcher.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
Labels: Azure.Core

#13351 RBAC samples
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/readme.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorld.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_RbacScopeAssignment.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RoleAssignmentScope.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/Azure.Security.KeyVault.Administration.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/RoleAssignmentScopeTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacHelloWorld/CreateClient.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacHelloWorld/CreateRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacHelloWorld/CreateRoleAssignmentAsyncAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacHelloWorld/GetDefinitionsAndAssignmentsAsyncAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacHelloWorld/GetDefinitionsAndAssignmentsSync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacScopeAssignment/CreateRoleAssignmentAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacScopeAssignment/CreateRoleAssignmentAsyncAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/SampleSnippets/CreateClient.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/SampleSnippets/CreateRoleAssignment.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/SampleSnippets/GetRoleDefinitions.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/SampleSnippets/RoleAssignmentNotFound.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_RbacHelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample2_RbacScopeAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/SampleSnippets.cs
Labels: Client, KeyVault

#13416 [FormRecognizer] Make TrainingFileFilter constructor public
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingFileFilter.cs
Labels: Client, Cognitive - Form Recognizer, bug

#13413 fix the broken link to Sample1_RbacHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldSync.md
Labels: Client, KeyVault

#13424 Enabled PageBlobClient.GetManagedDiskPageRangeDiff tests
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsyncAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_AccessConditionsFail.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_AccessConditionsFailAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_NonAsciiPrevSnapshotUri.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/GetManagedDiskPageRangesDiffAsync_NonAsciiPrevSnapshotUriAsync.json
Labels: Storage

#13426 Fix changelog to include date per release check
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
Labels: DigitalTwins

#13398 Implement multipart form data content type
  sdk/core/Azure.Core/src/MultipartFormDataContent.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/MultipartFormDataContentTests.cs
Labels: Azure.Core

#13429 Increment version for digitaltwins releases
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: DigitalTwins

#13129 Adding some additional optional properties to the sdk - with a new sdk version
  eng/mgmt/mgmtmetadata/guestconfiguration_resource-manager.txt
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/AzSdk.RP.props
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Generated/GuestConfigurationClient.cs
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Generated/Models/AssignmentReport.cs
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Generated/Models/GuestConfigurationAssignmentProperties.cs
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Generated/SdkInfo_GuestConfigurationClient.cs
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Microsoft.Azure.Management.GuestConfiguration.csproj
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/src/Properties/AssemblyInfo.cs
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/tests/SessionRecords/AutomationTest/CanCreateGetUpdateGuestConfigurationAssignment.json
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/tests/SessionRecords/AutomationTest/CanCreateGetUpdateGuestConfigurationHCRPAssignment.json
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/tests/SessionRecords/AutomationTest/CanGetGuestConfigurationAssignmentReports.json
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/tests/SessionRecords/AutomationTest/CanGetGuestConfigurationHCRPAssignmentReports.json
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/tests/SessionRecords/AutomationTest/CanListAllGuestConfigurationAssignments.json
  sdk/guestconfiguration/Microsoft.Azure.Management.GuestConfiguration/tests/SessionRecords/AutomationTest/CanListAllGuestConfigurationHCRPAssignments.json
Labels: Mgmt, needs-revision

#13428 [FormRecognizer] Move receipt documentation links to aka.ms
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample4_StronglyTypingARecognizedForm.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Receipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/ReceiptItem.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromUri.cs
Labels: Client, Cognitive - Form Recognizer, Docs

#13365 Fixing generate swagger api version link 2020-02-02 to 2020-02-10
  sdk/storage/Azure.Storage.Files.DataLake/swagger/readme.md
Labels: Storage

#13421 Supporting custom data payloads for EventGrid/CloudEvent events
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCloudEventWithCustomObjectPayload.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCloudEventWithCustomObjectPayloadAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomain.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomainAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithCustomObjectPayload.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithCustomObjectPayloadAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/TestPayload.cs
Labels: Event Grid

#13423 [Event Hubs Client] Tweak for LoadBalancer.IsBalanced
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/ConnectionStringPropertiesTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Client, Event Hubs

#13241 Add bulk modules APIs to Iot Hub Service client
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/DevicesClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/ModulesClient.cs
Labels: IoT Managed SDK, Iot

#13404 [DataFactory] Added connectionProperties property for 5 linkedServices
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/CHANGELOG.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/QuickBooksLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SalesforceMarketingCloudLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SquareLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/XeroLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ZohoLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/LinkedServiceJsonSamples.cs
Labels: Mgmt, needs-revision

#13475 DeleteIfExists and Exists to catch Container/Share/Filesystem NotFound
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteIfExistsAsync_ContainerNotExists.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteIfExistsAsync_ContainerNotExistsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteIfExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteIfExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteIfExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteIfExistsAsync_NotExistsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_ContainerNotExists.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_ContainerNotExistsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteBlobIfExistsAsync_ContainerNotExists.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteBlobIfExistsAsync_ContainerNotExistsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteBlobIfExistsAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteBlobIfExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteIfExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteIfExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteIfExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/DeleteIfExistsAsync_NotExistsAsync.json
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/DeleteIfExistsAsync_FileSystemNotExists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/DeleteIfExistsAsync_FileSystemNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/ExistsAsync_FileSystemNotExists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/ExistsAsync_FileSystemNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_FileSystemNotExists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_FileSystemNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/ExistsAsync_FileSystemNotExists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/ExistsAsync_FileSystemNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_ShareNotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/DeleteIfExists_ShareNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ExistsAsync_ShareNotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ExistsAsync_ShareNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/Exists_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_ShareNotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/DeleteIfExistsAsync_ShareNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_ShareNotExists.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/ExistsAsync_ShareNotExistsAsync.json
Labels: Storage

#13482 [Idenity] Add EnablePersistentCache option to UsernamePasswordCredential
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredentialOptions.cs
Labels: Azure.Identity

#13374 Storage sync.update
  eng/mgmt/mgmtmetadata/storagesync_resource-manager.txt
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/CHANGELOG.md
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/InitialDownloadPolicy.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/LocalCacheMode.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/PrivateLinkServiceConnectionState.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpoint.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointCreateParameters.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/Models/ServerEndpointUpdateParameters.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Generated/SdkInfo_MicrosoftStorageSync.cs
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Microsoft.Azure.Management.StorageSync.csproj
  sdk/storagesync/Microsoft.Azure.Management.StorageSync/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#13497 Identity update KnownAuthorityHosts to use properties
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/KnownAuthorityHosts.cs
Labels: Azure.Identity

#13479 Fixing live tests
  sdk/storage/Azure.Storage.Blobs.Batch/tests/BlobBatchClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_ContainerIdentitySAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_ContainerIdentitySASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_ContainerSAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_ContainerSASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_SnapshotIdentitySAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_SnapshotIdentitySASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CreateAsync_WithAccountSas.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CreateAsync_WithAccountSasAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CreateAsync_WithBlobServiceSas.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CreateAsync_WithBlobServiceSasAsync.json
  sdk/storage/test-resources.json
Labels: Storage

#13521 feat(e2e): Encrypt secret values using azure test framework
  sdk/iot/Azure.Iot.Hub.Service/tests/IotHubServiceTestEnvironment.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/Record-Tests.ps1
  sdk/iot/Azure.Iot.Hub.Service/tests/TestConnectionStringSanitizer.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/TestSettings.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/TestsConstants.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/config/common.config.json
  sdk/iot/Azure.Iot.Hub.Service/tests/prerequisites/setup.ps1
Labels: Iot

#13529 Fixed typo in BlobProperties docs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobProperties.cs
Labels: Storage

#13528 Update Autorest C# - eventgrid
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CloudEvent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridEvent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridEvent.cs
Labels: Event Grid

#13515 Feature/storage/quick query bug
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlobQuickQueryStream.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
Labels: Storage

#13375 Adding new parameters and steps in managed instance operations API
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedInstanceOperation.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedInstanceOperationParametersPair.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/ManagedInstanceOperationSteps.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/UpsertManagedServerOperationParameters.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Generated/Models/UpsertManagedServerOperationStep.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Microsoft.Azure.Management.Sql.csproj
  sdk/sqlmanagement/Microsoft.Azure.Management.SqlManagement/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#13535 Updated storage changelogs
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
Labels: Storage

#13349 Fixing see href links in storage libraries
  sdk/storage/Azure.Storage.Blobs.Batch/src/BlobBatch.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedClient.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobLeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobUriBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobHttpHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/src/Sas/AccountSasBuilder.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeLeaseClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileDownloadDetails.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathHttpHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasQueryParameters.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileHttpHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Sas/ShareSasBuilder.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareUriBuilder.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueUriBuilder.cs
  sdk/storage/Azure.Storage.Queues/src/Sas/QueueSasBuilder.cs
Labels: Storage

#13543 Fix parameter comment on HttpPipeline.Build(ClientOptions, params HttpPipelinePolicy[])
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
Labels: Azure.Core, Client

#13549 Added REST doc links for some of the 73 features
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage

#13547 Dispose response content on retry for unbuffered streams
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/Internal/RetryPolicy.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
Labels: Azure.Core

#13566 [Event Hubs Client] Trimming Unnecessary Dependencies
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Azure.Messaging.EventHubs.Processor.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Azure.Messaging.EventHubs.Samples.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#13557 [Event Hubs Client] Load Balancer Recovery of Owned Partitions
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/InMemoryStorageManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
Labels: Client, Event Hubs

#13537 Add MaxCallsPerSession/MaxSessions to Session Processor
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample04_Processor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Plugins/PluginLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
Labels: Service Bus

#13551 Update Autorest C# - formrecognizer
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AnalyzeOperationResult_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AnalyzeResult_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AnalyzeResult_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyOperationResult.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyResult.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CustomFormModelField.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DataTableCell_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DataTable_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DataTable_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentResult_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValue_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/KeyValueElement_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/KeyValueElement_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/KeyValuePair_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/KeysResult_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Model_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Models_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Models_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/PageResult_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/PageResult_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/ReadResult_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/ReadResult_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/SourcePath_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/SourcePath_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TextLine_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TextLine_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TextWord_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TextWord_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainRequest_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainRequest_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainResult_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainResult_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainingDocumentInfo.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainingDocumentInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainingFileFilter.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainingFileFilter.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceAnalyzeLayoutAsyncHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceAnalyzeReceiptAsyncHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceAnalyzeWithCustomModelHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceCopyCustomModelHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceGenerateModelCopyAuthorizationHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceRestClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceTrainCustomModelAsyncHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
Labels: Cognitive - Form Recognizer

#13586 Search README typo fixes
  sdk/search/Azure.Search.Documents/README.md
Labels: Search

#13565 [Central Package Versions] Bumping the AMQP Library Version
  eng/Packages.Data.props
Labels: Client, Event Hubs, Service Bus

#13581 [FormRecognizer] Add diagnostics functionality to clients and operations
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Properties/AssemblyInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsTests.cs
Labels: Client, Cognitive - Form Recognizer

#13589 Storage Internals Rename
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PooledMemoryStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/SlicedStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/WindowStream.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/PooledMemoryStreamTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
Labels: Storage

#13445 Add SDK changes for VMHealth field for VMs
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/HealthExtensionTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMHealthExtensionTests/TestVMHealthExtensionOperations.json
Labels: Mgmt, Waiting for CI :shipit:

#13591 Regenerated off swagger for seals and source if tags
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/SealAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/SealAsyncAsync.json
Labels: Storage

#13613 Increase Search tests timeout
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchTestBase.cs
  sdk/search/tests.yml
Labels: Search

#13587 Cache PropertyInfos in .ToTableEntityList and .ToTableEntity
  eng/Packages.Data.props
  sdk/tables/Azure.Data.Tables/Azure.Data.Tables.sln
  sdk/tables/Azure.Data.Tables/src/AssemblyInfo.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/tests/Azure.Data.Tables.Tests.csproj
  sdk/tables/Azure.Data.Tables/tests/perf/Azure.Data.Tables.Performance.csproj
  sdk/tables/Azure.Data.Tables/tests/perf/GenericTableEntityCreationBenchmark.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Program.cs
Labels: Client, Tables

#13597 generate SDK for new preview July version + updated unit tests
  eng/mgmt/mgmtmetadata/maintenance_resource-manager.txt
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/AzSdk.RP.props
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/MaintenanceManagementClient.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/Models/MaintenanceConfiguration.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/Models/MaintenanceScope.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/Models/Update.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Generated/SdkInfo_MaintenanceManagementClient.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/src/Microsoft.Azure.Management.Maintenance.csproj
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/Helpers/MaintenanceTestUtilities.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/Properties/AssemblyInfo.cs
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/MaintenanceConfigurationCreateTest.json
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/MaintenanceConfigurationGetTest.json
  sdk/maintenance/Microsoft.Azure.Management.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/MaintenanceConfigurationListTest.json
Labels: Mgmt, needs-revision

#13607 [Synapse] - Synapse sql pool gen3
  eng/mgmt/mgmtmetadata/synapse_resource-manager.txt
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/ISqlDatabasesOperations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/ISqlPoolsV3Operations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/ISqlV3Operations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/ISynapseSqlV3ManagementClient.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/CmdkeySetup.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/ComponentSetup.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/CustomSetupBase.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/EnvironmentVariableSetup.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/IntegrationRuntime.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/IntegrationRuntimeStatus.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/LinkedIntegrationRuntimeType.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/OperationResource.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SecretBase.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SecureString.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/Sku.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SqlDatabase.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SqlDatabaseUpdate.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SqlPoolStatus.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SqlPoolUpdate.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SqlPoolV3.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SsisObjectMetadata.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/Models/SystemData.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SdkInfo_SynapseManagementClient.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SdkInfo_SynapseSqlVManagementClient.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SqlDatabasesOperations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SqlDatabasesOperationsExtensions.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SqlPoolsV3Operations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SqlPoolsV3OperationsExtensions.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SqlV3Operations.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SqlV3OperationsExtensions.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Generated/SynapseSqlV3ManagementClient.cs
  sdk/synapse/Microsoft.Azure.Management.Synapse/src/Microsoft.Azure.Management.Synapse.csproj
Labels: Mgmt, needs-revision

#13622 [Event Hubs Client] Blob Checkpoint Store: Assume Checkpoint Update
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
Labels: Client, Event Hubs

#13612 Adding AuthenticationRecord option to SharedTokenCacheCredentialOptions
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
Labels: Azure.Identity

#13561 Write Dictionary Helper Class
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/DynamicTableEntity.Dictionary.cs
  sdk/tables/Azure.Data.Tables/src/DynamicTableEntity.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreatedDynamicEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreatedDynamicEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CreatedDynamicEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CreatedDynamicEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableEntityTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables

#13646 Mark IndexerExecutionStatus.endTime x-nullable
  sdk/search/Azure.Search.Documents/src/Generated/Models/IndexerExecutionResult.Serialization.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
Labels: Search

#13649 Identity updating APIs from consistency review feedback
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AuthenticationRecord.cs
  sdk/identity/Azure.Identity/src/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/AzureAuthorityHosts.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/tests/AuthenticationRecordTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
  sdk/identity/Azure.Identity/tests/TokenCredentialOptionsTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
Labels: Azure.Identity

#13652 Identity updating changelog for the 1.2.0-preview.6 release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#13533 [Notification Hubs] Generated latest client from OpenAPI
  eng/mgmt/mgmtmetadata/notificationhubs_resource-manager.txt
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/INamespacesOperations.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/INotificationHubsManagementClient.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/INotificationHubsOperations.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/ApnsCredential.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/CheckAvailabilityParameters.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/CheckAvailabilityResult.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/DebugSendResponse.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/ErrorResponse.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/GcmCredential.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/MpnsCredential.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/NamespaceCreateOrUpdateParameters.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/NamespaceResource.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/Models/NotificationHubPatchParameters.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/NamespacesOperations.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/NamespacesOperationsExtensions.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/NotificationHubsManagementClient.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/NotificationHubsOperations.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/NotificationHubsOperationsExtensions.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Generated/SdkInfo_NotificationHubsManagementClient.cs
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/Microsoft.Azure.Management.NotificationHubs.csproj
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/generate.ps1
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/src/generated.ps1
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/tests/Microsoft.Azure.Management.NotificationHubs.Tests.csproj
  sdk/notificationhubs/Microsoft.Azure.Management.NotificationHubs/tests/TestHelper/NotificationHubsManagementHelper.cs
Labels: Mgmt, needs-revision

#13670 Implement GetEntity and fixup some swagger issues
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableAcceptHeaderPipelinePolicy.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/autorest.md
  sdk/tables/Azure.Data.Tables/src/swagger/table.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CustomEntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/GetEntityReturnsSingleEntity.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/GetEntityReturnsSingleEntityAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/CustomEntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityMergeDoesPartialPropertyUpdates.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityMergeDoesPartialPropertyUpdatesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityMergeRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityMergeRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityReturnsSingleEntity.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityReturnsSingleEntityAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(Storage)/GetPropertiesReturnsProperties.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests(Storage)/GetPropertiesReturnsPropertiesAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Client, Tables

#13483 Fix 304 handling in Blob key repository
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/AzureBlobXmlRepository.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/tests/DataProtectionBlobFunctionalTests.cs
Labels: Azure.Core

#12493 Use JsonConverterAttribute in SerializeProperties
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/JsonConverterHelper.cs
  sdk/mgmtcommon/ClientRuntime/ClientRuntime/Serialization/PolymorphicDeserializeJsonConverter.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/JsonSerializationTests.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Resources/Animal.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/StaticReadOnlyJsonConverter.cs
  sdk/mgmtcommon/ClientRuntime/Tests/ClientRuntime.NetCore.Tests/Serialization/StaticWriteOnlyJsonConverter.cs
Labels: AutoRest Runtime, Client, Community Contribution

#13346 Feature/storage/stg73comments
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/README.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/README.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedAsyncPageable.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedClient.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedExtensions.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedPageable.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeed.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeedFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChunkFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/LazyLoadingBlobStream.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/SegmentFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedAsyncPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedExtensionsTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedFactoryTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ShardTests.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobLeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobQuickQueryStream.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/src/QuickQueryExtensions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Internal.Avro/src/AvroParser.cs
Labels: Storage

#13619 Move ObjectSerializer implementation to Azure.Core
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/JsonObjectSerializer.cs
  sdk/core/Azure.Core/src/ObjectSerializer.cs
  sdk/core/Azure.Core/tests/JsonObjectSerializerTest.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Azure.Core

#13685 Fix #13671: [Flaky test] BearerTokenAuthenticationPolicy_SucceededFailedSucceeded
  sdk/core/Azure.Core/tests/BearerTokenAuthenticationPolicyTests.cs
Labels: Azure.Core

#13562 Fixed bug where Quick Query would buffer the entire query result befo…
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Internal.Avro/src/AvroReader.cs
  sdk/storage/Azure.Storage.Internal.Avro/src/StreamWithPosition.cs
Labels: Storage

#13708 [FR] Type to Valuetype
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Receipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromUri.cs
Labels: Cognitive - Form Recognizer

#13626 React to API review feedback for GeoJSON types
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Properties/AssemblyInfo.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/CollectionGeometry.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoBoundingBox.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoCollection.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoJsonConverter.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoLine.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoLineCollection.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoObject.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoPoint.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoPointCollection.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoPolygon.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoPolygonCollection.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/GeoPosition.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/Geometry.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/LineGeometry.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/MultiLineGeometry.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/MultiPointGeometry.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/MultiPolygonGeometry.cs
  sdk/core/Azure.Core.Experimental/src/Spatial/PointGeometry.cs
  sdk/core/Azure.Core.Experimental/tests/DynamicJsonDynamicMutableTests.cs
  sdk/core/Azure.Core.Experimental/tests/SpatialTests.cs
Labels: Azure.Core

#13715 [Azure Messaging Clients] Open Link Failure Cleanup
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
Labels: Client, Event Hubs, Service Bus

#13718 Ignore failing test
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Service Bus

#13678 Add Azure Stack HCI SDK
  eng/mgmt/mgmtmetadata/azurestackhci_resource-manager.txt
  eng/pipelines/mgmt.yml
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/AzSdk.RP.props
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/Microsoft.Azure.Management.AzureStackHCI.sln
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/AzureStackHCIClient.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/ClustersOperations.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/ClustersOperationsExtensions.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/IAzureStackHCIClient.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/IClustersOperations.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/IOperations.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/AzureEntityResource.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/Cluster.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ClusterNode.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ClusterReportedProperties.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ClusterUpdate.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ErrorAdditionalInfo.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ErrorResponse.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ErrorResponseError.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ErrorResponseException.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/Operation.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/OperationDisplay.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/OperationList.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/Page.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ProvisioningState.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/ProxyResource.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/Resource.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/Status.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Models/TrackedResource.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/Operations.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/OperationsExtensions.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Generated/SdkInfo_AzureStackHCIClient.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/Microsoft.Azure.Management.AzureStackHCI.csproj
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/src/generate.ps1
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/tests/ClusterTests.cs
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/tests/Microsoft.Azure.Management.AzureStackHCI.Tests.csproj
  sdk/azurestackhci/Microsoft.Azure.Management.AzureStackHCI/tests/SessionRecords/ClusterTests/TestClusterLifeCycle.json
Labels: Mgmt, needs-author-feedback

#13697 Add in single check for OR dest policy parsing
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
Labels: Storage

#13592 Remove exception Lease catch in FileClient.Upload
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/UploadAsync_ReadOnlyError.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/UploadAsync_ReadOnlyErrorAsync.json
Labels: Storage

#13742 Record Backup/Restore test with swagger mods
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/FullBackupDetailsInternal.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultError.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultServiceError.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreDetailsInternal.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreDetails.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreDetails.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreRecordedTestSanitizer.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/FullBackupClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/FullBackupClientLiveTests/BackupAndRestore.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/FullBackupClientLiveTests/BackupAndRestoreAsync.json
Labels: Client, KeyVault

#13750 Flush the request stream in HttpWebRequest transport
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#13724 Cleanup leftovers of test framework being included by source
  sdk/core/Azure.Core.TestFramework/src/MockRequest.cs
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
Labels: Azure.Core

#13746 Fixing live tests for UploadAsync_ReadOnlyError
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/UploadAsync_ReadOnlyError.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/UploadAsync_ReadOnlyErrorAsync.json
Labels: Storage

#13763 Prepare for Storage release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#13719 Fix #10904: Task extensions synchronously complete ValueTasks
  sdk/core/Azure.Core/src/Shared/TaskExtensions.cs
  sdk/core/Azure.Core/tests/TaskExtensionsTest.cs
Labels: Azure.Core

#13778 Make Azure.AI.TextAnalytics package description have more info
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics

#13773 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#13768 Merge released TA package version 5.0.0
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics

#13754 Fixed race condition: small block parallel upload
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
Labels: Storage

#13785 Revise `Delete` to `DeleteEntity` and add `Delete` for deleting table
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateCreateDeleteTable.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateCreateDeleteTableAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateCreateDeleteTable.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateCreateDeleteTableAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
Labels: Client, Tables

#13738 feat:(statistics): Statistics subclient and E2E tests
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Customized/Models/DevicesStatistics.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/DevicesStatistics.Serialization.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/DevicesStatistics.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/StatisticsRestClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/StatisticsClient.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Device_SuccessfulResponse.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Device_SuccessfulResponseAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Service_SuccessfulResponse.json
  sdk/iot/Azure.Iot.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Service_SuccessfulResponseAsync.json
  sdk/iot/Azure.Iot.Hub.Service/tests/StatisticsClientTests.cs
Labels: IoT Managed SDK, Iot

#13788 change TableEntity to ITableEntity
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/DynamicTableEntity.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TableEntityExtensions.cs
  sdk/tables/Azure.Data.Tables/src/ITableEntity.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/perf/GenericTableEntityCreationBenchmark.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
Labels: Client, Tables

#13792 fix(iot-hub): Regenerate IotHub models with correct visibilitity
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Customized/Models/DeviceCapabilities.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Customized/Models/FaultInjectionConnectionProperties.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Customized/Models/FaultInjectionConnectionPropertiesAction.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Customized/Models/FaultInjectionProperties.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/DeviceCapabilities.Serialization.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/DeviceCapabilities.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/FaultInjectionConnectionProperties.Serialization.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/FaultInjectionConnectionProperties.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/FaultInjectionConnectionPropertiesAction.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/FaultInjectionProperties.Serialization.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Generated/Models/FaultInjectionProperties.cs
Labels: Iot

#13769 [FR] Extend ExtractFailureContent to improve error information
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ClientCommon.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ClientDiagnostics.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
Labels: Cognitive - Form Recognizer

#13752 [Azure.Core] Test Environment Variables
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core, Client

#13794 [FormRecognizer] Cleanup: remove unused types
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyAuthorization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyAuthorizationResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyOperationResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyRequest.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyAuthorizationResult.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyAuthorizationResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyOperationResult.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyOperationResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyRequest.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyRequest.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyResult.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CopyResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/ServiceRestClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
Labels: Client, Cognitive - Form Recognizer

#13735 Session behavior updates
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
Labels: Service Bus

#13659 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#13779 Feature/storage/more tag conditions
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobQuickQueryTests/QueryAsync_IfTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobQuickQueryTests/QueryAsync_IfTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobQuickQueryTests/QueryAsync_IfTags_Failed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobQuickQueryTests/QueryAsync_IfTags_FailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ClearPagesAsync_IfTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ClearPagesAsync_IfTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ClearPagesAsync_IfTags_Failed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ClearPagesAsync_IfTags_FailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ResizeAsync_IfTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ResizeAsync_IfTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ResizeAsync_IfTags_Failed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/ResizeAsync_IfTags_FailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/StartCopyIncrementalAsync_IfTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/StartCopyIncrementalAsync_IfTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/StartCopyIncrementalAsync_IfTags_Failed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/StartCopyIncrementalAsync_IfTags_FailedAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/UpdateSequenceNumberAsync_IfTags.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/UpdateSequenceNumberAsync_IfTagsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/UpdateSequenceNumberAsync_IfTags_Failed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/UpdateSequenceNumberAsync_IfTags_FailedAsync.json
Labels: Storage

#13790 Tweaked some tests for possible race conditions.
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#13748 feat(sdk-iot): Add constructors for initializing IotHubServiceClient
  sdk/iot/Azure.Iot.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/BulkDeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/DeviceIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/ModuleIdentityLifecycleSamples.cs
  sdk/iot/Azure.Iot.Hub.Service/samples/IotHubClientSamples/Program.cs
  sdk/iot/Azure.Iot.Hub.Service/src/API Design.md
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/FixedSasTokenProvider.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubConnectionString.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/IotHubSasCredential.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SasTokenProviderWithSharedAccessKey.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureBuilder.cs
  sdk/iot/Azure.Iot.Hub.Service/src/Authentication/SharedAccessSignatureConstants.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IoTHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClient.cs
  sdk/iot/Azure.Iot.Hub.Service/src/IotHubServiceClientOptions.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/DevicesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/E2eTestBase.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/ModulesClientTests.cs
  sdk/iot/Azure.Iot.Hub.Service/tests/StatisticsClientTests.cs
Labels: IoT Managed SDK, Iot

#13725 Various public API cleanups
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/GeoReplication.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/GeoReplicationStatusType.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/OdataMetadataFormat.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/SignedIdentifier.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/SignedIdentifier.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAccessPolicy.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAccessPolicy.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAnalyticsLoggingSettings.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAnalyticsLoggingSettings.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableCorsRule.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableCorsRule.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableEntityQueryResponse.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableEntityQueryResponse.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableGeoReplication.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableGeoReplication.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableGeoReplicationStatus.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableMetrics.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableMetrics.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableProperties.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableProperties.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableQueryResponse.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableQueryResponse.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceProperties.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceProperties.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceStatistics.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceStatistics.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableServiceStats.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/ServiceRestClient.cs
  sdk/tables/Azure.Data.Tables/src/LoggingSettings.cs
  sdk/tables/Azure.Data.Tables/src/OdataMetadataFormat.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableAccountSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableAccountSasQueryParameters.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasIPRange.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasProtocol.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasQueryParameters.cs
  sdk/tables/Azure.Data.Tables/src/TableAccessPolicy.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableCorsRule.cs
  sdk/tables/Azure.Data.Tables/src/TableEntityQueryResponse.cs
  sdk/tables/Azure.Data.Tables/src/TableGeoReplication.cs
  sdk/tables/Azure.Data.Tables/src/TableGeoReplicationStatus.cs
  sdk/tables/Azure.Data.Tables/src/TableLoggingSettings.cs
  sdk/tables/Azure.Data.Tables/src/TableMetrics.cs
  sdk/tables/Azure.Data.Tables/src/TableProperties.cs
  sdk/tables/Azure.Data.Tables/src/TableQueryResponse.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceStatistics.cs
  sdk/tables/Azure.Data.Tables/src/TablesModelFactory.cs
  sdk/tables/Azure.Data.Tables/src/UpdateMode.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryableLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntitiesAsync.cs
Labels: Client, Tables

#13809 Update error code for copymodel
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegion.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartCopyModelFailsWithWrongRegionAsync.json
Labels: Cognitive - Form Recognizer

#13811 Add back partition tests; fix bug in envelope generation
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Service Bus

#13810 Feature/storage/arch board comments
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/api/Azure.Storage.Blobs.ChangeFeed.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedAsyncPageable.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedClient.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedPageable.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeed.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeedFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Chunk.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEvent.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEventData.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEventPage.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEventType.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedModelFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobOperationName.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/ChangeFeedCursor.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/SegmentCursor.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/ShardCursor.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Segment.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/SegmentFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Shard.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ShardFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedAsyncPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChunkTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SegmentTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ShardTests.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobCopyFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryCsvTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryJsonTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobTagItem.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/FilterBlobsAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetBlobTagResult.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/TaggedBlobItem.cs
  sdk/storage/Azure.Storage.Blobs/src/QuickQueryExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryCsvTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryJsonTextConfiguration.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryJsonTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryTextConfiguration.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: APIChange, Storage

#13815 ServiceBus: Fix lines breaks in docs
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CONTRIBUTING.md
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_HelloWorld.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample03_SendReceiveSessions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample07_CrudOperations.md
Labels: Client, Service Bus

#13805 Add Location to ExportPipeline and ImportPipeline resources
  eng/mgmt/mgmtmetadata/containerregistry_resource-manager.txt
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/ExportPipeline.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/ImportPipeline.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/Models/RunGetLogResult.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Generated/SdkInfo_ContainerRegistryManagementClient.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/src/Microsoft.Azure.Management.ContainerRegistry.csproj
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/tests/Helpers/ContainerRegistryTestUtilities.cs
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/tests/Microsoft.Azure.Management.ContainerRegistry.Tests.csproj
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryTransferExportTest.json
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryTransferImportTest.json
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/tests/Tests/ContainerRegistryTests.cs
Labels: needs-review

#13812 [Azure.Core] Extend Test Environment with Storage Endpoint
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core, Client

#13758 Implement public TableClient ctor that takes Uri + creds
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
Labels: Client, Tables

#13819 [FormRecognizer] Bug fix: GetCustomModel throws when model is being created
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample7_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValueType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample8_CopyModel.cs
Labels: Client, Cognitive - Form Recognizer

#13691 Feature/storage/webjobs Replace FakeStorage with Azurite
  sdk/storage/Azure.Storage.Webjobs.Extensions/WebJobs.sln
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/BlobAttributes.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/FakeStorageAppendBlob.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/FakeStorageBlobClient.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/FakeStorageBlobContainer.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/FakeStorageBlobProperties.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/FakeStorageBlockBlob.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/FakeStoragePageBlob.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/MemoryBlobStore.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/MemoryCloudAppendBlobStream.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/MemoryCloudBlockBlobStream.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Blob/MemoryCloudPageBlobStream.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/FakeAccount.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/FakeAzureStorage.csproj
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Queue/FakeQueue.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Queue/FakeQueueClient.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/FakeStorage/Queue/MemoryQueueStore.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.WebJobs.Host.TestCommon/StorageExceptionFactory.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.WebJobs.Host.TestCommon/TestExtensions.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.WebJobs.Host.TestCommon/TestHelpers.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Azure.WebJobs.Extensions.Storage.Unit.Tests.csproj
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/AzuriteFixture.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/BlobTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/BlobTriggerTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/FunctionalTest.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/Listeners/BlobQueueTriggerExecutorTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/Listeners/BlobTriggerExecutorTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/Listeners/ScanBlobScanLogHybridPollingStrategyTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/Listeners/ScanContainersStrategyTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Blobs/Listeners/StorageBlobScanInfoManagerTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/DataBindingFunctionalTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/FakeStorageAccountProvider.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/HostCallTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/MoreStorageExtensions.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Properties/AssemblyInfo.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/BinderTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/HostStartTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/HostStopTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/InstanceTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/QueueTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/QueueTriggerBindingIntegrationTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/QueueTriggerTests.cs
  sdk/storage/Azure.Storage.Webjobs.Extensions/tests/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/ScenarioTests.cs
Labels: Storage

#13807 Remove public application authentication API for 1.2.0 GA release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AuthenticationRecord.cs
  sdk/identity/Azure.Identity/src/AuthenticationRequiredException.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredentialOptions.cs
  sdk/identity/Azure.Identity/src/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/ClientSecretCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredentialOptions.cs
Labels: Azure.Identity, Client, blocking-release

#13821 [FormRecognizer] Apply discussed design changes for consistency with other languages
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelStatus.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValueType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CustomFormModelStatus.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FieldValueType.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainingDocumentInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TrainingFileFilter.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingDocumentInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingFileFilter.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#13863 Move ScheduledMessageCount to TopicRuntimeProperties
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/NamespaceProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueueProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/QueueRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/SubscriptionRuntimePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/TopicRuntimePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Management/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#13827 Add VSCode dev container configuration.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Labels: EngSys

#13878 [Storage] Fix avro reader bug - tracking block offset
  sdk/storage/Azure.Storage.Internal.Avro/src/AvroReader.cs
  sdk/storage/Azure.Storage.Internal.Avro/src/StreamWithPosition.cs
  sdk/storage/Azure.Storage.Internal.Avro/tests/AvroReaderTests.cs
Labels: Storage

#13862 Fixtests unreliable connection uploads
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/FaultyStream.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#13885 Feature/storage/changefeed last consumable
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/api/Azure.Storage.Blobs.ChangeFeed.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedClient.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedExtensions.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeed.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeedFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/ChangeFeedCursor.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Segment.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/SegmentFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Shard.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ShardFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedAsyncPagableTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/CanReadTillEnd.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/CanReadTillEndAsync.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/ResumeFromTheMiddleOfTheChunk.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SessionRecords/BlobChangeFeedAsyncPagableTests/ResumeFromTheMiddleOfTheChunkAsync.json
  sdk/storage/Azure.Storage.Internal.Avro/src/AvroReader.cs
Labels: Storage
