Repository Azure/azure-sdk-for-net, pull requests merged in 2020-04, with the labels that each got.

#10835 [DataFactory]Package store support for Azure-SSIS integration runtime
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/CHANGELOG.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/IntegrationRuntimeSsisProperties.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/PackageStore.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SsisPackageLocation.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SsisPackageLocationType.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
Labels: Mgmt, Waiting for CI :shipit:

#10936 [Event Hubs Client] Event Processor Client New Base Class
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorClientEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/EventProcessorManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/MockEventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/DiagnosticProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/EventDataInstrumentation.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/TaskExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/TaskExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/design/event-processor{T}-proposal.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
Labels: APIChange, ArchApproved, Client, Event Hubs

#10964 Update Batch readmes
  sdk/batch/Microsoft.Azure.Batch/README.md
  sdk/batch/Microsoft.Azure.Management.Batch/README.md
Labels: Mgmt, needs-review

#10985 [Event Hubs Client] Event Processor Client Tests and Logging
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/InMemoryStorageManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/InMemoryStorageManagerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
Labels: Client, Event Hubs

#10885 Increase version number allowed for System.IdentityModel.Tokens.Jwt in ServiceBus
  eng/Packages.Data.props
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Client, Community Contribution, Service Bus

#11004 [Event Hubs Client] Event Processor and Blob Checkpoint Store Test Cleanup
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Storage/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs

#11003 [Event Hubs Client] Partition Reciever Implementation
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/design/event-processor{T}-proposal.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverTests.cs
Labels: APIChange, ArchApproved, Client, Event Hubs

#11034 [Event Huhbs Client] Event Processor<T> Owner Level
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
Labels: Client, Event Hubs

#11050 [EventHubs] Handle errors not tied to a partition
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs

#11029 [Event Hubs Client] April Documentation Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/event-processor{T}-proposal.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/partition-receiver-proposal.md
Labels: Client, Docs, Event Hubs

#11080 [Event Hubs Client] Event Processor Release Preparation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#11059 ForwardTo should not error on 260 character name fixes #11009
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Management/SubscriptionDescription.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Management/SubscriptionDescriptionTests.cs
Labels: Client, Community Contribution, Service Bus

#10974 Regenerate EventGrid .NET SDK to reflect new swagger bug fixes for 20-04-01-preview
  eng/mgmt/mgmtmetadata/eventgrid_resource-manager.txt
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/EventChannelsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/EventChannelsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/EventGridManagementClient.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/IEventChannelsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/IPartnerTopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/IPrivateEndpointConnectionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/ISystemTopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/ConnectionState.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/EventChannel.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/EventChannelFilter.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/PartnerRegistrationUpdateParameters.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/SkuDefinitionsForResourceType.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/SkuDefinitionsForResourceTypeListResult.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/Models/Topic.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/PartnerTopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/PartnerTopicEventSubscriptionsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/PrivateEndpointConnectionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/PrivateEndpointConnectionsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/SdkInfo_EventGridManagementClient.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/SystemTopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/SystemTopicEventSubscriptionsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Microsoft.Azure.Management.EventGrid.csproj
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-review

#10531 HybridDataManager - Adding SDK version 1.0.1 to correspond to API version 2019-06-01
  eng/mgmt/mgmtmetadata/hybriddatamanager_resource-manager.txt
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/AzSdk.RP.props
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/Microsoft.Azure.Management.HybridDataManager.sln
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Customizations/DataStoresOperationsExtensions.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/DataServicesOperations.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/DataServicesOperationsExtensions.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/HybridDataManagementClient.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/IDataServicesOperations.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/IOperations.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/Models/Job.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/Models/JobFilter.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/Models/JobStages.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/Models/JobStatus.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/Operations.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/OperationsExtensions.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Generated/SdkInfo_HybridDataManagementClient.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/Microsoft.Azure.Management.HybridData.csproj
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/src/generate.ps1
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataManagersTest/DataManagers_Create.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataManagersTest/DataManagers_Delete.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataManagersTest/DataManagers_Get.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataManagersTest/DataManagers_List.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataManagersTest/DataManagers_ListByResourceGroup.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataManagersTest/DataManagers_Update.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataServicesTest/DataServices_Get.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataServicesTest/DataServices_ListByDataManager.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoreTypesTest/DataStoreTypes_Get.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoreTypesTest/DataStoreTypes_ListByDataManager.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoresTest/DataStores_CreateOrUpdate_DataSink.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoresTest/DataStores_CreateOrUpdate_DataSource.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoresTest/DataStores_Delete_DataSink.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoresTest/DataStores_Delete_DataSource.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoresTest/DataStores_Get.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/DataStoresTest/DataStores_ListByDataManager.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobDefinitionsTest/JobDefinitions_CreateOrUpdate.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobDefinitionsTest/JobDefinitions_Delete.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobDefinitionsTest/JobDefinitions_Get.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobDefinitionsTest/JobDefinitions_ListByDataManager.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobDefinitionsTest/JobDefinitions_ListByDataService.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobDefinitionsTest/JobDefinitions_Run.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobsTest/Jobs_Cancel.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobsTest/Jobs_Get.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobsTest/Jobs_ListByDataManager.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobsTest/Jobs_ListByDataService.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobsTest/Jobs_ListByJobDefinition.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/JobsTest/Jobs_Resume.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/OperationsTest/Operations_List.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/PublicKeysTest/PublicKeys_Get.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/SessionRecords/PublicKeysTest/PublicKeys_ListByDataManager.json
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/Tests/DataStoresTest.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/Tests/JobsTest.cs
  sdk/hybriddatamanager/Microsoft.Azure.Management.HybridDataManager/tests/Tests/TestConstants.cs
Labels: Mgmt, needs-review

#10953 updated Azure SDK with new Property DiffDiskPlacement swagger updates for Ephemeral OS disk
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiffDiskPlacement.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiffDiskSettings.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMTestBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_DiffDisks.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScenarioTests/TestVMScenarioOperations_DiffDisks.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetTestsBase.cs
Labels: Mgmt, spec-not-merged

#11131 [FormRecognizer] Preview: Design Changes (merge ReceiptClient and FormLayoutClient into FormRecognizerClient)
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLayoutClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ReceiptClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormLayoutClient/FormLayoutClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/ReceiptClient/ReceiptClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/ReceiptClient/ReceiptClientTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#11135 Merge hotfix for issue #9737
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/Azure.Security.KeyVault.Keys.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ChallengeBasedAuthenticationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.shproj
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/TestExtensions.cs
  sdk/keyvault/Azure.Security.KeyVault.sln
Labels: Do Not Merge

#11168 [FormRecognizer] Preview: Design Changes (operations and FormContent)
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormContent.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedText.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#10884 Added DataLakeFileSystemClient.GetPathClient()
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetDirectoryClient.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetDirectoryClientAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetFileClient.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetFileClientAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/Ctor_FileSystemAndPath.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/Ctor_FileSystemAndPathAsync.json
Labels: APIChange

#11201 [Event Hubs Client] Consumer Live Test Refactor
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventGenerator.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
Labels: Client, Event Hubs, Test Debt

#11186 Migrate test resource provisioning to eng/common
  eng/New-TestResources.cmd
  eng/New-TestResources.ps1
  eng/Remove-TestResources.cmd
  eng/Remove-TestResources.ps1
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: EngSys

#10932 Update Information Protection SDK Clients
  eng/mgmt/mgmtmetadata/security_resource-manager.txt
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/IInformationProtectionPoliciesOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/InformationProtectionPoliciesOperations.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/InformationProtectionPoliciesOperationsExtensions.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/InformationType.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/Rank.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/SensitivityLabel.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Microsoft.Azure.Management.SecurityCenter.csproj
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#11209 [Event Hubs Client] Set Processor to Project Reference
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Client, Event Hubs

#11215 [FormRecognizer] Preview: Design Changes (renaming and finishing Content-related types)
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLayoutPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormContent.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#11207 [Service Bus Client] Message Batch Tweaks
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.resx
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpMessageBatchTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/ServiceBusMessageBatchTests.cs
Labels: Client, Service Bus

#11203 [Event Hubs Client] Event Batch Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
Labels: Client, Event Hubs

#11224 Make sure `src/SDKs/_metadata` never exists
  eng/pipelines/mgmt.yml
  eng/pipelines/templates/jobs/archetype-sdk-mgmt.yml
Labels: Mgmt-EngSys

#11236 Final updates to Batch management SDK for 10.0
  eng/mgmt/mgmtmetadata/batch_resource-manager.txt
  sdk/batch/Microsoft.Azure.Management.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/ApplicationOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/ApplicationPackageOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/BatchAccountOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/CertificateOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/BatchAccount.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/BatchAccountCreateParameters.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/FixedScaleSettings.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/PrivateLinkResource.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/PrivateLinkServiceConnectionState.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/PoolOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/PrivateEndpointConnectionOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/PrivateLinkResourceOperations.cs
Labels: Mgmt, needs-review

#11253 Azure Site Recovery[ASR]: Adding support for Proximity placement group
  eng/mgmt/mgmtmetadata/recoveryservicessiterecovery_resource-manager.txt
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AEnableProtectionInput.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AReplicationDetails.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2ASwitchProtectionInput.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/A2AUpdateReplicationProtectedItemInput.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Microsoft.Azure.Management.RecoveryServices.SiteRecovery.csproj
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-author-feedback

#11240 [Resources] Update .NET SDK based on swagger update of Validate API
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentsOperationsExtensions.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/IDeploymentsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DeploymentOperationProperties.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/ProvisioningOperation.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#11312 [FormRecognizer] Preview: Design Changes (Content-related types)
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField{T}.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#11325 [FormRecognizer] Preview: enabling FormTableCell.TextContent
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractLabeledFormOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLabeledTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedLayoutPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedReceiptField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedReceiptItem.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#11334 [Event Hubs Client] Fix README Links
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
Labels: Client, Docs, Event Hubs

#9431 [Event Hub Client] Expiring transport producers #8592
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/EventHubsRetryOptionsExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducerPool.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpErrorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Client, Community Contribution, Do Not Merge, Event Hubs

#11151 Simulate Eviction API for Spot Virtual Machines
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AutomaticRepairsPolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiffDiskSettings.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMOperationalTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMTestBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMOperationalTests/TestVMOperations_SimulateEviction.json
Labels: Mgmt, Waiting for CI :shipit:

#11242 [Event Hubs Client] Partition Receiver Live Tests
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs

#11272 [Azure Service Bus] Remove unnecessary LINQ on AmqpReceiver
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
Labels: Client, Service Bus

#11365 Adding Ashish to CODEOWNERS for storage folder
  .github/CODEOWNERS
Labels: EngSys

#11390 [ServiceBus] Prep for releasing version 4.1.3
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Client, Service Attention, Service Bus

#11307 [Event Hubs Client] Additional Resiliency For AMQP Link Creation
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/ExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpExceptionExtensionsTests.cs
Labels: Client, Event Hubs

#11357 [FormRecognizer] Preview 1: detect content type when not provided
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ReceiptExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/StreamExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/Invoice_1.tiff
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/contoso-allinone.png
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Extensions/StreamExtensionsTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/TestEnvironment.cs
Labels: Client, Cognitive Services, FormRecognizer

#11404 [Event Hubs Clients] README Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
Labels: Client, Docs, Event Hubs

#11416 [ServiceBus] Updating Changelog for 4.1.3
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
Labels: Client, Service Attention, Service Bus

#11454 [FormRecognizer] Preview 1: argument validation
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ClientCommon.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#11428 [Service Bus] Design and implement rule manager
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRequestMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpCorrelationFilterCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpEmptyRuleActionCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpFalseFilterCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpFilterCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpRuleActionCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpRuleDescriptionCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpSqlFilterCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpSqlRuleActionCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/Framing/AmqpTrueFilterCodec.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/CorrelationFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/FalseFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/Filter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/FilterExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleActionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleDescription.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/RuleDescriptionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/SqlFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/SqlFilterExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/SqlRuleAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/TrueFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Filters/XmlObjectConvertor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/RuleManager/RuleManagerLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Client, Service Bus

#11412 [Event Hubs Client] Assorted Small Improvements
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventDataTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
Labels: Client, Event Hubs

#11421 [Event Hubs Client] Live Test Improvements
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/TestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
  sdk/eventhub/test-resources.json
Labels: Client, Event Hubs

#11465 [FormRecognizer] Preview 1: Removed _cancellationToken field from Operation subclasses
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
Labels: Client, Cognitive Services, FormRecognizer

#11314 [Cross-Service Samples] IoT Hub => Event Hub Connection String Translation
  samples/iothub-connect-to-eventhubs/IotHubConnection.cs
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.sln
  samples/iothub-connect-to-eventhubs/Program.cs
  samples/iothub-connect-to-eventhubs/README.md
  samples/iothub-connect-to-eventhubs/sample-resources.json
Labels: Client, Event Hubs

#11460 [FormRecognizer] Preview 1: throw RequestFailedException when long-running operation has failed
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AnalyzeResult_internal.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AnalyzeResult_internal.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#11479 [Event Hubs Client] Test Environment Housekeeping
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubsTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/test-resources.json
Labels: Client, Event Hubs

#11464 Update Information Protection SDK Clients
  eng/mgmt/mgmtmetadata/security_resource-manager.txt
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/InformationProtectionPolicy.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/InformationType.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/Models/SensitivityLabel.cs
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Microsoft.Azure.Management.SecurityCenter.csproj
  sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-revision

#11477 [FormRecognizer] Preview 1: fix modelId not being set in operation (bug fix)
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
Labels: Client, Cognitive Services, FormRecognizer, bug

#11496 [FormRecognizer] Preview 1: Add docstrings to the Form Recognizer library
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AccountProperties.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ClientCommon.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ContentType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelStatus.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormSubModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomModelLearnedPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldText.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValueType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormContent.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormField{T}.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPageRange.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerError.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/OperationExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/OperationStatus.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RawExtractedPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ReceiptExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/StreamExtensions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingDocumentInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingFileFilter.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingStatus.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/USReceipt.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/USReceiptItem.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/USReceiptType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
Labels: Client, Cognitive Services, FormRecognizer

#11537 [Samples] Iot Hub => Event Hubs Connection String Translation
  samples/iothub-connect-to-eventhubs/sample-resources.json
Labels: Client, Event Hubs

#11530 [Event Hub] Value stop watch event hub
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor{TPartition}.cs
Labels: Client, Community Contribution, Event Hubs

#11388 [Smoke Tests] Sample: IoT Hub Connection String Translation
  common/SmokeTests/SmokeTest.sln
  common/SmokeTests/SmokeTest/CosmosDBTest.cs
  common/SmokeTests/SmokeTest/EventHubsTest.cs
  common/SmokeTests/SmokeTest/Program.cs
  common/SmokeTests/SmokeTest/Properties/Resources.Designer.cs
  common/SmokeTests/SmokeTest/Properties/Resources.resx
  common/SmokeTests/SmokeTest/Samples/IotHubConnection/IotHubConnectionTests.cs
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  common/SmokeTests/SmokeTest/Update-Dependencies.ps1
  common/SmokeTests/SmokeTest/test-resources.json
  samples/iothub-connect-to-eventhubs/IotHubConnection.cs
  samples/iothub-connect-to-eventhubs/Program.cs
Labels: Client, Event Hubs

#11558 Simulate Eviction API cameCase fix for Spot Virtual Machines and VMSc…
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryApplicationVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryArtifactPublishingProfileBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryImageVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageReference.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/Sku.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/StorageAccountType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/TargetRegion.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateIPConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMOperationalTests/TestVMOperations_SimulateEviction.json
Labels: Mgmt, Waiting for CI :shipit:

#11561 Undo excluding some mgmt plane tests projects
  sdk/azurestack/Microsoft.AzureStack.Management.Fabric.Admin/tests/Microsoft.AzureStack.Management.Fabric.Tests.csproj
  sdk/subscription/Microsoft.Azure.Management.Subscription/tests/FullDesktop/Microsoft.Azure.Management.Subscription.FullDesktop.Tests.csproj
  sdk/subscription/Microsoft.Azure.Management.Subscription/tests/NetCore/Microsoft.Azure.Management.Subscription.Netcore.Tests.csproj
Labels: Mgmt-EngSys

#11538 Create initial test-resources.json for tables
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/swagger/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/test-resources.json
  sdk/tables/Azure.Data.Tables/tests/Azure.Data.Tables.Tests.csproj
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTables.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TablesRecordMatcher.cs
  sdk/tables/Azure.Data.Tables/tests/TablesRecordedTestSanitizer.cs
  sdk/tables/Azure.Data.Tables/tests/TablesTestEnvironment.cs
Labels: Tables

#11572 Pull the 2019-02-02 swagger
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/ServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/ServiceRestClient.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableClientOptions.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/autorest.md
Labels: Tables

#11620 Support continuation tokens for tables
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/QueryOptions.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Operations/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/LoggingSettings.cs
  sdk/tables/Azure.Data.Tables/src/OdataMetadataFormat.cs
  sdk/tables/Azure.Data.Tables/src/QueryOptions.cs
  sdk/tables/Azure.Data.Tables/src/RequestMetrics.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableInternalClient.cs
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/swagger/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/tests/Azure.Data.Tables.Tests.csproj
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFilters.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests/InsertedEntitiesCanBeQueriedWithFiltersAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTables.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(5)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithAndWithoutPagination(null)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilter.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableServiceClientLiveTests/GetTablesReturnsTablesWithFilterAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TablesRecordedTestSanitizer.cs
  sdk/tables/Azure.Data.Tables/tests/TablesTestEnvironment.cs
Labels: Tables

#11592 [Service Bus] Improve errors and update API docs as per the feedback from UX study
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Compatibility/ServiceBusClientBuilderExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.Designer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.resx
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Client, Service Bus

#11613 Maintain mgmt project list
  eng/pipelines/mgmt.yml
Labels: Mgmt-EngSys, needs-review

#11615 Monitor- metricAlert_API- Fix Webtest criteria type
  eng/mgmt/mgmtmetadata/monitor_resource-manager.txt
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/Action.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MetricAlertCriteria.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/MultiMetricCriteria.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/RuleAction.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/RuleCondition.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/RuleDataSource.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/Models/WebtestLocationAvailabilityCriteria.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Generated/SdkInfo_MonitorClient.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Microsoft.Azure.Management.Monitor.csproj
  sdk/monitor/Microsoft.Azure.Management.Monitor/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-review

#11549 [FormRecognizer] Post-release: updating project version number
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Client, Cognitive Services, FormRecognizer

#11651 [Event Hubs Client] Publish Events Without Batch
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/CreateBatchOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/CreateBatchOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
Labels: APIChange, ArchApproved, Client, Event Hubs

#11648 [Event Hubs Client] Misc. Formatting and Test Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ReadOnlyNewEvents.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventDataTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Samples/SamplesLiveTests.cs
Labels: Client, Event Hubs

#11654 [FormRecognizer] Enable test recordings
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
  sdk/core/Azure.Core/tests/TestFramework/EntryRecordModel.cs
  sdk/core/Azure.Core/tests/TestFramework/RecordTransport.cs
  sdk/core/Azure.Core/tests/TestFramework/TestRecording.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerRecordMatcher.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerRecordedTestSanitizer.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPage(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPage(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPage(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeContentPopulatesFormPage(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomForms(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomForms(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomForms(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomForms(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsFromUriThrowsForNonExistingContent(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsFromUriThrowsForNonExistingContent(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsFromUriThrowsForNonExistingContent(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsFromUriThrowsForNonExistingContent(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabels(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceipt(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceipt(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceipt(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeReceiptsPopulatesExtractedReceipt(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTraining(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTrainingError.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/StartTrainingErrorAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/TrainingOps(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/TrainingOps(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/TrainingOps(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormTrainingClientLiveTests/TrainingOps(True)Async.json
Labels: Azure.Core, Client, Cognitive Services, FormRecognizer, LiveTestFailure, Test Debt

#11666 add ServiceDirectory to usages of remove-test-resources.yml
  eng/pipelines/smoke-tests.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: EngSys

#11555 [Blueprints] Remove resource group name and location length validation in a blueprint
  eng/mgmt/mgmtmetadata/blueprint_resource-manager.txt
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/Artifact.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/Models/ResourceGroupDefinition.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Generated/SdkInfo_BlueprintManagementClient.cs
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Microsoft.Azure.Management.Blueprint.csproj
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/src/Properties/AssemblyInfo.cs
Labels: Mgmt, Waiting for CI :shipit:

#11542 Regenerate CosmosDB SDK
  eng/mgmt/mgmtmetadata/cosmos-db_resource-manager.txt
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/CosmosDBManagementClient.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/ICosmosDBManagementClient.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/INotebookWorkspacesOperations.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/CassandraKeyspaceGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/CassandraKeyspaceGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/CassandraTableGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/CassandraTableGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/DatabaseAccountGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/GremlinDatabaseGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/GremlinDatabaseGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/GremlinGraphGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/GremlinGraphGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/MongoDBCollectionGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/MongoDBCollectionGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/MongoDBDatabaseGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/MongoDBDatabaseGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/NotebookWorkspace.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/NotebookWorkspaceConnectionInfoResult.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/NotebookWorkspaceCreateUpdateParameters.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/OptionsResource.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/PrivateLinkResource.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/PrivateLinkServiceConnectionStateProperty.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/SqlContainerGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/SqlContainerGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/SqlDatabaseGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/SqlDatabaseGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/TableGetPropertiesOptions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/Models/TableGetResults.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/NotebookWorkspacesOperations.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/NotebookWorkspacesOperationsExtensions.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Generated/SdkInfo_CosmosDBManagementClient.cs
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Microsoft.Azure.Management.CosmosDB.csproj
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/src/Properties/AssemblyInfo.cs
Labels: Mgmt, needs-review

#11710 [Event Hubs Client] Test Timing Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
Labels: Client, Event Hubs
