Repository Azure/azure-sdk-for-net, pull requests merged in 2021-05, with the labels that each got.

#20790 Pass default value (1) of query count to service if it is not set explicitly
  sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs
  sdk/search/Azure.Search.Documents/tests/Models/SearchOptionsTests.cs
Labels: Search

#20781 [Communication] - ALL - Add subscription configuration to tests.yml
  sdk/communication/test-resources.json
  sdk/communication/tests.yml
Labels: Communication

#20743 Respect webproxy from config
  eng/Packages.Data.props
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/Microsoft.Azure.WebJobs.Extensions.EventGrid.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/Microsoft.Azure.WebJobs.Extensions.Clients.Tests.csproj
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/shared/TestHelpers.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusHostBuilderExtensions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Config/ServiceBusHostBuilderExtensionsTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Microsoft.Azure.WebJobs.Extensions.ServiceBus.Tests.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Event Hubs, Functions, Service Bus

#20740 Sync eng/common directory with azure-sdk-tools for PR 1579
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#20768 Added ContentType Extensible Enum
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/ContentType.cs
  sdk/core/Azure.Core.Experimental/tests/ContentTypeTests.cs
Labels: Azure.Core

#20794 [FR] Enable multi-version tests for RecognizeContent
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeContentLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
Labels: Cognitive - Form Recognizer

#20769 Sync eng/common directory with azure-sdk-tools for PR 1524
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#20805 [FR] Rename RecognizeIdDocuments for RecognizeIdentityDocuments
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample11_RecognizeIdentityDocuments.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeIdentityDocumentsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeIdentityDocumentsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeIdentityDocumentsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeIdentityDocumentsOperationCanPollFromNewObject.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/OperationsLiveTests/RecognizeIdentityDocumentsOperationCanPollFromNewObjectAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsCanAuthenticateWithTokenCredential.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsCanAuthenticateWithTokenCredentialAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsCanParseBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsCanParseBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsIncludeFieldElements.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsIncludeFieldElementsAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsPopulatesExtractedIdDocumentJpg(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsPopulatesExtractedIdDocumentJpg(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsPopulatesExtractedIdDocumentJpg(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsPopulatesExtractedIdDocumentJpg(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsThrowsForDamagedFile.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsThrowsForDamagedFileAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample14_RecognizeIdentityDocumentsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample14_RecognizeIdentityDocumentsFromUri.cs
Labels: Cognitive - Form Recognizer

#20761 [Communication] - TNM - Modifying Update Capabilities Phone number tests
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/UpdateCapabilities.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/UpdateCapabilitiesAsyncAsync.json
Labels: Communication

#20810 Fix sample readme
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/DeadLetterQueue/README.md
Labels: Service Bus

#20759 Made quick query parquet internal
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobQueryParquetTextOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeQueryParquetTextOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: Storage

#20791 [TSI] Stabilize an Aggregate test
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/TimeSeriesInsightsQueryAggregateSeriesTests.cs
Labels: TimeseriesInsights

#20772 Decrease polling frequency for Key Vault tests
  sdk/core/Azure.Core.TestFramework/src/OperationInterceptor.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateOperationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/KeyVaultTestEnvironment.cs
Labels: KeyVault

#20795 [FR] Enable custom forms multi-version
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeCustomFormsLiveTests.cs
Labels: Cognitive - Form Recognizer

#20785 [FR] Make sure formType is the same as what we shipped in 3.0 for service v2.0
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CreateComposedModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CreateCustomFormModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs
Labels: Cognitive - Form Recognizer

#20813 [FR] Rename ReadingOrder to FormReadingOrder
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormReadingOrder.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/FormRecognizerRestClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FormReadingOrder.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/ReadingOrder.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeContentLiveTests.cs
Labels: Cognitive - Form Recognizer

#20797 Remove subscription id since it is not needed in test-resources.json
  sdk/communication/test-resources.json
Labels: Communication

#20786 Renames, Delete swallows 404s, Add StringFormatter overloads to Query methods
  sdk/tables/Azure.Data.Tables/README.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/samples/Sample3QueryTables.md
  sdk/tables/Azure.Data.Tables/src/Extensions/TableClientBuilderExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAccessPolicy.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAccessPolicy.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAnalyticsLoggingSettings.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableAnalyticsLoggingSettings.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableMetrics.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableMetrics.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableRetentionPolicy.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableRetentionPolicy.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableSignedIdentifier.Serialization.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Models/TableSignedIdentifier.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/ITableEntity.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/TableAccessPolicy.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableEntity.Dictionary.cs
  sdk/tables/Azure.Data.Tables/src/TableErrorCode.cs
  sdk/tables/Azure.Data.Tables/src/TableItem.cs
  sdk/tables/Azure.Data.Tables/src/TableOdataFilter.cs
  sdk/tables/Azure.Data.Tables/src/TableRetentionPolicy.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/TableSignedIdentifier.cs
  sdk/tables/Azure.Data.Tables/src/TablesClientOptions.cs
  sdk/tables/Azure.Data.Tables/src/TablesModelFactory.cs
  sdk/tables/Azure.Data.Tables/tests/ExtractFailureContentTests.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateCreateDeleteTable.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateCreateDeleteTableAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityDeleteRespectsEtag.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/EntityDeleteRespectsEtagAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateCreateDeleteTable.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateCreateDeleteTableAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Infrastructure/TablesPerfTest.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTables.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTablesAsync.cs
Labels: Client, Tables

#20826 Remove lock token remarks from settlement method docs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
Labels: Service Bus

#20817 [FR] Add API version to new methods in 2.1-preview.x
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
Labels: Cognitive - Form Recognizer

#20816 Topic filter sample
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/TopicFilters/Program.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/TopicFilters/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/TopicFilters/TopicFilters.csproj
Labels: Service Bus

#19203 Update identity to enable live testing in sovereign clouds for multiple services
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/IdentityTestEnvironment.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs
  sdk/identity/tests.yml
Labels: Azure.Identity, Client, EngSys

#20844 Reference correct version
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/DeadLetterQueue/README.md
Labels: Service Bus

#20670 Turn BearerTokenAuthenticationPolicy into BearerTokenChallengeAuthenticationPolicy
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Authentication/ContainerRegistryChallengeAuthenticationPolicy.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/BearerTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core/src/Shared/ARMChallengeAuthenticationPolicy.cs
  sdk/core/Azure.Core/src/Shared/BearerTokenChallengeAuthenticationPolicy.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/BearerTokenAuthenticationPolicyTests.cs
  sdk/core/Azure.Core/tests/BearerTokenChallengeAuthenticationPolicyTests.cs
  sdk/identity/Azure.Identity/perf/Azure.Identity.Perf.csproj
  sdk/identity/Azure.Identity/perf/BearerTokenChallengeAuthenticationPolicyPerfTest.cs
  sdk/iot/Azure.IoT.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: Azure.Core

#20849 [FR] Add comments to properties
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormModelInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CustomFormSubmodel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FieldValueType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormContentType.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingDocumentInfo.cs
Labels: Cognitive - Form Recognizer

#20860 Temporary remove the NetworkTimeout
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/monitor/Azure.Monitor.Query/src/LogsClient.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientClientTests.cs
Labels: Azure.Core

#20765 [TSI] Readme for samples
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/Readme.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/HierarchiesSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/Program.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/QuerySamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/TypesSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsClient.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsHierarchies.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsQuery.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsTypes.cs
Labels: TimeseriesInsights

#20738 Update arm response types to match current Azure.Core pattern
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/InstrumentResultInterceptor.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/TestClients/ArmOperationTest.cs
  sdk/core/Azure.Core/tests/TestClients/PhArmOperationTest.cs
  sdk/core/Azure.Core/tests/TestClients/TestResourceOperations.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ArmResponse.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ArmVoidOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/UpdateResourceGroupOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/GenericResourceOperations.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/IDeletableResource.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Operation/ArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Operation/PhArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Operation/PhValueArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Operation/PhVoidArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Placeholder/PhArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Placeholder/ResourceGroupData.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ResourceGroupContainer.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ResourceGroupOperations.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Response/ArmResponse.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Response/ArmValueResponse.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Response/ArmVoidResponse.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Response/PhArmResponse.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/Scenario/GenericResourceTests.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/Scenario/ResourceGroupOperationsTests.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/Unit/ArmResponseTests.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/Unit/ResourceTypeFilterTests.cs
  sdk/resourcemanager/Proto.Client/authorization/RoleAssignmentOperations.cs
  sdk/resourcemanager/Proto.Client/compute/AvailabilitySetOperations.cs
  sdk/resourcemanager/Proto.Client/compute/RollingUpgradeOperations.cs
  sdk/resourcemanager/Proto.Client/compute/VirtualMachineOperations.cs
  sdk/resourcemanager/Proto.Client/compute/VirtualMachineScaleSetOperations.cs
  sdk/resourcemanager/Proto.Client/network/LoadBalancerOperations.cs
  sdk/resourcemanager/Proto.Client/network/NetworkInterfaceOperations.cs
  sdk/resourcemanager/Proto.Client/network/NetworkSecurityGroupOperations.cs
  sdk/resourcemanager/Proto.Client/network/PublicIpAddressOperations.cs
  sdk/resourcemanager/Proto.Client/network/SubnetOperations.cs
  sdk/resourcemanager/Proto.Client/network/VirtualNetworkOperations.cs
Labels: Azure.Core

#20733 [Event Hubs Client] Move Partition Initialization to the Background
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
Labels: Client, Event Hubs

#20868 Update ConfidentialLedger CI path
  sdk/confidentialledger/ci.yml
Labels: Confidential Ledger

#20857 [FR] Flatten TextSyle in TextAppearance
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Style.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Style.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TextAppearance.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/TextAppearance.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TextAppearance.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/TextStyle.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/FormRecognizerModelFactoryTests.cs
Labels: Cognitive - Form Recognizer

#20871 updated readme and changelog for may release
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/README.md
Labels: Communication

#20847 Update samples to use #if SNIPPET
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample02_MessageSettlement.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample03_SendReceiveSessions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample04_Processor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample06_Transactions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample07_CrudOperations.cs
Labels: Service Bus

#20861 [Event Hubs Processor] Validate at Startup
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorClientEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
Labels: Client, Event Hubs

#20878 [TSI] Address internal feedback for samples and readme
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/README.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/Readme.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/HierarchiesSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/InstancesSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/ModelSettingsSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/Program.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/QuerySamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/TimeSeriesInsightsLifecycleSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/TypesSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsHierarchies.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsInstances.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsModelSettings.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsTypes.cs
Labels: TimeseriesInsights

#20888 [Event Hubs Client] Test Configuration Adjustments
  sdk/eventhub/test-resources.json
  sdk/eventhub/tests.data.yml
  sdk/eventhub/tests.yml
Labels: Client, Event Hubs

#20885 Prepare Azure.Core release
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#20879 [TSI] Address Managed Team API Review comments
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/api/Azure.IoT.TimeSeriesInsights.netstandard2.0.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/Readme.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/InstancesSamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/QuerySamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsClient.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsInstances.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsQueries.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/QueryEventsTests.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/QuerySeriesTests.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/TimeSeriesInsightsQueryAggregateSeriesTests.cs
Labels: TimeseriesInsights

#20890 Rename BearerTokenAuthenticationPolicy AuthorizeRequest method
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/BearerTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core/src/Shared/ARMChallengeAuthenticationPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
Labels: Azure.Core, KeyVault

#20891 update changelongs for release
  .github/CODEOWNERS
  sdk/confidentialledger/Azure.Storage.ConfidentialLedger/CHANGELOG.md
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Azure.Identity, Confidential Ledger, Tables

#20894 [TSI] Clarify where a variant type came from
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/Readme.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/QuerySamples.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/TimeSeriesInsightsQueries.cs
Labels: TimeseriesInsights

#20884 [Event Hubs Processor] Incorporate Validation Feedback
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
Labels: Client, Event Hubs

#20881 [FR] Improve docstrings
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeBusinessCardsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeIdentityDocumentsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeInvoicesOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableTrainedModel.cs
Labels: Cognitive - Form Recognizer

#20840 Samples for labeled tables
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/label_table_dynamic_rows1.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeCustomFormsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/TestFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeCustomFormsLiveTests/StartRecognizeCustomFormsWithTableDynamicRows.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeCustomFormsLiveTests/StartRecognizeCustomFormsWithTableDynamicRowsAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample15_DifferentiateOutputLabeledTables.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/fields.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows1.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows1.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows1.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows2.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows2.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows2.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows3.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows3.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows3.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows4.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows4.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows4.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows5.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows5.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/dynamic/label_table_dynamic_rows5.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/fields.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows1.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows1.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows1.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows2.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows2.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows2.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows3.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows3.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows3.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows4.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows4.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows4.pdf.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows5.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows5.pdf.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/labeledTables/fixed/label_table_fixed_rows5.pdf.ocr.json
Labels: Cognitive - Form Recognizer

#20900 Sync eng/common directory with azure-sdk-tools for PR 1596
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#20899 Back out SetDevVersion changes.
  eng/pipelines/templates/stages/archetype-net-release.yml
Labels: Central-EngSys, EngSys

#20876 Comment out assert in test
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
Labels: Service Bus

#20903 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#20886 Remove EnableAPICompat from released packages and update common dependency as package
  eng/Packages.Data.props
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
Labels: Communication, auto-merge

#20875 Extend Check Enforcer timeout
  eng/CHECKENFORCER
Labels: Central-EngSys, EngSys

#20893 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/Microsoft.Azure.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
Labels: Event Hubs, auto-merge

#20866 Support modifying feature flag filter parameters
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/FeatureFlagConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/FeatureFlagFilter.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/FeatureFlagConfigurationSettingTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/CanModifyTheFilterParameterValues.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/CanModifyTheFilterParameterValuesAsync.json
Labels: App Configuration

#20887 Prepare releases of extensions packages and AppConfig
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
Labels: App Configuration, Event Grid, Event Hubs

#20892 Add a JsonPath sanitization callback
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/Infrastructure/AnomalyDetectorRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Identity/tests/Infrastructure/CommunicationIdentityClientRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientRecordedTestSanitizer.cs
  sdk/communication/Azure.ResourceManager.Communication/tests/Infrastructure/CommunicationManagementRecordedTestSanitizer.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/ContainerRegistryRecordedTestSanitizer.cs
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Infrastructure/EventGridLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerRecordedTestSanitizer.cs
  sdk/iot/Azure.IoT.Hub.Service/tests/CustomRequestSanitizer.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreRecordedTestSanitizer.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorRecordedTestSanitizer.cs
  sdk/quantum/Azure.Quantum.Jobs/tests/QuantumJobClientRecordedTestSanitizer.cs
  sdk/translation/Azure.AI.Translation.Document/tests/Infrastructure/DocumentTranslationRecordedTestSanitizer.cs
Labels: Azure.Core, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Communication, Event Grid, Iot, KeyVault

#20896 [FR] Use a real multi page receipts document
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipageReceiptBlankPage.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multipleReceipt.pdf
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeReceiptsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/TestFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsCanParseMultipageForm(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsCanParseMultipageFormWithBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsCanParseMultipageFormWithBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithMultiplePageArgument(%1%,%3%,2).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithMultiplePageArgument(%1%,%3%,2)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithMultiplePageArgument(%1-2%,%3%,3).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithMultiplePageArgument(%1-2%,%3%,3)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithOnePageArgument(%1%,1).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithOnePageArgument(%1%,1)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithOnePageArgument(%1-2%,2).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsWithOnePageArgument(%1-2%,2)Async.json
Labels: Cognitive - Form Recognizer

#20898 update the version in the .csproj file to 1.0.1, fix formatting in changelog
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: Communication

#20917 Remove Azure.Core.props
  eng/Directory.Build.Common.props
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Azure.AI.AnomalyDetector.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/attestation/Azure.Security.Attestation/src/Azure.Security.Attestation.csproj
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
  sdk/confidentialledger/Azure.Storage.ConfidentialLedger/src/Azure.Storage.ConfidentialLedger.csproj
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
  sdk/core/Azure.Core/src/Azure.Core.props
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Azure.IoT.DeviceUpdate.csproj
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/identity/Azure.Identity/perf/Azure.Identity.Perf.csproj
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/iot/Azure.IoT.Hub.Service/src/Azure.IoT.Hub.Service.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.shproj
  sdk/mediaservices/Azure.Media.Analytics.Edge/src/Azure.Media.Analytics.Edge.csproj
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.MixedReality.Authentication.csproj
  sdk/modelsrepository/Azure.IoT.ModelsRepository/src/Azure.IoT.ModelsRepository.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Azure.Analytics.Purview.Catalog.csproj
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Azure.Analytics.Purview.Scanning.csproj
  sdk/quantum/Azure.Quantum.Jobs/src/Azure.Quantum.Jobs.csproj
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Azure.Analytics.Synapse.AccessControl.csproj
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Azure.Analytics.Synapse.ManagedPrivateEndpoints.csproj
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Azure.Analytics.Synapse.Monitoring.csproj
  sdk/synapse/Azure.Analytics.Synapse.Shared/src/Azure.Analytics.Synapse.Shared.shproj
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Azure.Analytics.Synapse.Spark.csproj
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/template/Azure.Template/src/Azure.Template.csproj
  sdk/testcommon/Azure.Graph.Rbac/Directory.Build.props
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/Azure.IoT.TimeSeriesInsights.csproj
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Event Hubs, Iot, KeyVault, Schema Registry, Search, Service Bus, Tables, TimeseriesInsights

#20920 [Service Bus] Populate TransportType
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
Labels: Client, Service Bus

#20924 [Messaging Function Extension] README Updates
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/README.md
Labels: Client, Docs, Event Hubs, Functions, Service Bus

#20922 Upgrade MSAL and MSAL extesion library dependencies to latest
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/src/MsalCacheHelperWrapper.cs
  sdk/identity/Azure.Identity/src/TokenCache.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/IdentityRecordedTestBase.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(False).json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(False)Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(True).json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(True)Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromX509Certificate2.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromX509Certificate2Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncludeX5CClaimHeader.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncludeX5CClaimHeaderAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncorrectCertificate.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncorrectCertificateAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenIncorrectPassword.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenIncorrectPasswordAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_CredentialUnavailableException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_CredentialUnavailableExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_LastAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_AllCredentialsHaveFailed_LastAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseAzureCliCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseAzureCliCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseAzureCliCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseAzureCliCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_AuthenticationCodeInsteadOfRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_AuthenticationCodeInsteadOfRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoVscInstalled.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoVscInstalledAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettings.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettingsAsync.json
  sdk/identity/Azure.Identity/tests/StaticCachesUtilities.cs
  sdk/identity/Azure.Identity/tests/TokenCacheTests.cs
  sdk/identity/Azure.Identity/tests/samples/CustomCredentialSnippets.cs
Labels: Azure.Identity

#20812 Preparing for Storage STG 77 beta
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
Labels: Storage

#20929 Cleaned up breaking change description
  sdk/attestation/Azure.Security.Attestation/CHANGELOG.md
Labels: auto-merge

#20933 Sync eng/common directory with azure-sdk-tools for PR 1597
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#20921 Fix build warnings
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/Microsoft.Azure.Batch.Integration.Tests.csproj
  sdk/batch/Microsoft.Azure.Batch/tests/UnitTests/Microsoft.Azure.Batch.Unit.Tests.csproj
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/Azure.Containers.ContainerRegistry.Tests.csproj
  sdk/search/Azure.Search.Documents/tests/Azure.Search.Documents.Tests.csproj
  sdk/search/Microsoft.Azure.Search/tests/Microsoft.Azure.Search.Tests.csproj
Labels: Batch, Search

#20948 Prepare for 11.3.0-beta.2 release for Search
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search

#20954 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#20944 [Event Hubs] May Release Preparation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#20956 Prepare for EG release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#20959 [Communication] Update the repeatabilityFirstSent timestamp to correct format
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
Labels: Communication

#20975 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#20976 [Event Hubs Processor] May Release Preparation
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Client, Event Hubs

#20980 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#20940 Don't log task canceled exceptions as errors when stopping processor.
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Primitives/ServiceBusConnectionTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
Labels: Service Bus

#20987 Increment version for confidentialledger releases
  sdk/confidentialledger/Azure.Storage.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Storage.ConfidentialLedger/src/Azure.Storage.ConfidentialLedger.csproj
Labels: auto-merge

#20986 Remove UseLegacyPowerShell
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/AzurePowerShellCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/TestProcess.cs
  sdk/identity/Azure.Identity/tests/TestProcessService.cs
Labels: Azure.Identity

#20901 Prepare Key Vault 4.2-beta release
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#20902 [Communication] - Divide live test pipeline for each SDK
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/service.proj
  sdk/communication/Azure.Communication.Chat/tests.yml
  sdk/communication/Azure.Communication.Identity/tests.yml
  sdk/communication/Azure.Communication.PhoneNumbers/tests.yml
  sdk/communication/Azure.Communication.Sms/tests.yml
Labels: Communication

#20971 VM image, extension image (edgezone not included as it is new not in Compute sdk yet)
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ContainerBase.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ResourceContainerBase.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/SingletonOperationsBase.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/SubscriptionContainer.cs
  sdk/resourcemanager/Proto.Client/compute/Extensions/SubscriptionExtensions.cs
  sdk/resourcemanager/Proto.Client/compute/VirtualMachineExtensionImageContainer.cs
  sdk/resourcemanager/Proto.Client/compute/VirtualMachineImageContainer.cs
  sdk/resourcemanager/Proto.Client/compute/VirtualMachineOperations.cs
  sdk/resourcemanager/Proto.Client/src/Program.cs
  sdk/resourcemanager/Proto.Client/src/ScenarioFactory.cs
  sdk/resourcemanager/Proto.Client/src/Scenarios/GetSubscription.cs
  sdk/resourcemanager/Proto.Client/src/Scenarios/VMImageTests.cs
Labels: App Configuration, Azure.Core, Communication, Compute, Event Hubs, KeyVault, Storage

#21015 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault, auto-merge

#21012 Increment version for communication releases
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: Communication, auto-merge

#21007 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#21002 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#20999 Increment version for objectanchors releases
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
Labels: auto-merge

#20998 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#20951 [LLC] Add draft of 'protocol method' help text
  sdk/core/Azure.Core/samples/ProtocolMethods.md
  sdk/core/Azure.Core/samples/README.md
Labels: Azure.Core

#21003 [CODEOWNERS] WebPubSub
  .github/CODEOWNERS
Labels: Client, EngSys

#21006 [Smoke Tests] May Release Version Bumps
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
Labels: Client, EngSys

#21022 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#20985 Dispose non buffered content streams
  sdk/core/Azure.Core.TestFramework/src/TestLogger.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
Labels: Azure.Core

#21013 Prepared Storage for release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/UndeleteBlobContainerAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/UndeleteBlobContainerAsyncAsync.json
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/UndeleteFileSystemAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/UndeleteFileSystemAsyncAsync.json
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#21029 [FR] Set version to 3.1.0
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer

#20958 Sync eng/common directory with azure-sdk-tools for PR 1594
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#21030 Update Changelog for 1.4.0 GA release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#21034 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#21027 Make Azure.Core cspell-clean
  .vscode/cspell.json
  sdk/core/Azure.Core.Experimental/src/DynamicContent.cs
  sdk/core/Azure.Core.Experimental/src/DynamicRequest.cs
  sdk/core/Azure.Core.Experimental/src/GeoJson/GeoJsonConverter.cs
  sdk/core/Azure.Core.Experimental/src/JsonData.cs
  sdk/core/Azure.Core.Experimental/src/ProtocolClientOptions.cs
  sdk/core/Azure.Core.Experimental/tests/GeoJsonSerializationTests.cs
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/EntryRecordModel.cs
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core.TestFramework/src/TestAppContextSwitch.cs
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/core/Azure.Core/README.md
  sdk/core/Azure.Core/generate_solution.ps1
  sdk/core/Azure.Core/samples/Diagnostics.md
  sdk/core/Azure.Core/samples/Pipeline.md
  sdk/core/Azure.Core/samples/Response.md
  sdk/core/Azure.Core/src/Messaging/CloudEventConverter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineSynchronousPolicy.cs
  sdk/core/Azure.Core/src/Shared/LightweightPkcs8Decoder.cs
  sdk/core/Azure.Core/src/Shared/Multipart/MultipartContent.cs
  sdk/core/Azure.Core/tests/Base64UrlTests.cs
  sdk/core/Azure.Core/tests/Buffers/AzureBaseBuffersExtensionsTests.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/core/Azure.Core/tests/ETagTests.cs
  sdk/core/Azure.Core/tests/HttpEnvironmentProxyTest.cs
  sdk/core/Azure.Core/tests/LightweightPkcs8DecoderTests.cs
  sdk/core/Azure.Core/tests/MultipartFormDataContentTests.cs
  sdk/core/Azure.Core/tests/MultipartReaderTests.cs
  sdk/core/Azure.Core/tests/MultipartTests.cs
  sdk/core/Azure.Core/tests/PemReaderTests.cs
  sdk/core/Azure.Core/tests/RecordSessionTests.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/README.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/Samples/Readme.cs
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/README.md
  sdk/core/Microsoft.Azure.Core.Spatial/README.md
  sdk/core/System.Memory.Data/tests/BinaryDataTests.cs
Labels: Azure.Core

#21033 [Communication] - Clean up communication pipeline parameters
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatLiveTestBase.cs
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatTestEnvironment.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/ChatSampleBase.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample1_ThreadOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample2_MessagingOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample3_ParticipantOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample4_KeyConcepts.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationTestEnvironment.cs
  sdk/communication/Azure.Communication.Identity/tests/Infrastructure/CommunicationIdentityClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Identity/tests/Infrastructure/CommunicationIdentityClientTestEnvironment.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Infrastructure/PhoneNumbersClientLiveTestBase.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Infrastructure/PhoneNumbersClientTestEnvironment.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientTestEnvironment.cs
  sdk/communication/tests.yml
Labels: Communication

#21037 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#21036 Update readme with used environment variable
  sdk/communication/CONTRIBUTING.md
Labels: Communication

#21041 Remove note on v4 for Microsoft.Azure.ServiceBus as v5 is already out
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus, auto-merge

#21039 [MetricsAdvisor] Updated test hook ID
  sdk/metricsadvisor/tests.yml
Labels: Client, Cognitive - Metrics Advisor

#21028 [TA] Add parameter DisableServiceLogs
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRequestOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAllActionsAndDisableServiceLogs.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAllActionsAndDisableServiceLogsAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientMockTests.cs
Labels: Cognitive - Text Analytics

#20995 [MetricsAdvisor] Added Value and ExpectedValue properties
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyProperty.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyProperty.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/IncidentProperty.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/IncidentProperty.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/AnomalyIncident.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/DataPointAnomaly.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/autorest.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Azure.AI.MetricsAdvisor.Tests.csproj
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringMockTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionMockTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MockClientTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample07_QueryDetectedAnomalies.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample08_QueryIncidentsAndRootCauses.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAnomalies(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAnomalies(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAnomalies(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAnomalies(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetIncidents(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetIncidents(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetIncidents(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetIncidents(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetAnomaliesWithMinimumSetup(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetAnomaliesWithMinimumSetup(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetAnomaliesWithMinimumSetup(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetAnomaliesWithMinimumSetup(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetAnomaliesWithOptionalFilter.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetAnomaliesWithOptionalFilterAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentRootCausesForIncidentFromAlert.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentRootCausesForIncidentFromAlertAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentRootCausesForIncidentFromDetectionConfiguration.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentRootCausesForIncidentFromDetectionConfigurationAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentsWithMinimumSetup(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentsWithMinimumSetup(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentsWithMinimumSetup(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentsWithMinimumSetup(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentsWithOptionalDimensionFilter.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetIncidentsWithOptionalDimensionFilterAsync.json
Labels: Client, Cognitive - Metrics Advisor

#21043 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#21052 Increment version for eventgrid releases
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid, auto-merge

#21057 test changes for #13552 and #13578
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreatedEntitiesAreRoundtrippedWithProperOdataAnnoations.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/CreatedEntitiesAreRoundtrippedWithProperOdataAnnoationsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/UpsertedEntitiesAreRoundtrippedWithProperOdataAnnoations.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/UpsertedEntitiesAreRoundtrippedWithProperOdataAnnoationsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateSasCredentials.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateSasCredentialsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateSasCredentialsDuplicateTokenInUriAndCred.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/ValidateSasCredentialsDuplicateTokenInUriAndCredAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables

#21049 Increment version for purview releases
  sdk/purview/Azure.Analytics.Purview.Catalog/CHANGELOG.md
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Azure.Analytics.Purview.Catalog.csproj
  sdk/purview/Azure.Analytics.Purview.Scanning/CHANGELOG.md
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Azure.Analytics.Purview.Scanning.csproj
Labels: auto-merge

#20692 Update owners
  .github/CODEOWNERS
Labels: Community Contribution, customer-reported

#21047 Add StorageClientProvider support to EventHubs extension
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/CheckpointClientProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
Labels: Event Hubs

#21061 Fix AppendPath logic for escaped strings
  sdk/core/Azure.Core/src/RequestUriBuilder.cs
  sdk/core/Azure.Core/tests/RequestUriBuilderTest.cs
Labels: Azure.Core

#21050 Remove analyzer suppressions
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
Labels: Service Bus

#21054 Remove receiver from MessageProcessor constructor
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessageProcessor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessagingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/SessionMessageProcessor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusScaleMonitorTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/MessageProcessorTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
Labels: Functions, Service Bus

#21064 [syanpse] Update CHANGELOG
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
Labels: auto-merge

#21060 [CODEOWNERS] Remove Wildcards in Messaging
  .github/CODEOWNERS
Labels: Client, EngSys

#21067 Take Core reference
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: Tables

#21051 Prepare for release
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus

#21068 Add INT testing in sdk pipelines
  sdk/communication/Azure.Communication.Chat/tests.yml
  sdk/communication/Azure.Communication.Identity/tests.yml
  sdk/communication/Azure.Communication.PhoneNumbers/tests.yml
  sdk/communication/Azure.Communication.Sms/tests.yml
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTestBase.cs
Labels: Communication

#20907 Update gallery example, use 'Reset' rather than 'ResetToPrivate'
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/GalleryTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_WithSharingProfile_CRUD_Tests.json
Labels: Compute

#21069 update policy copying for clone and convert
  sdk/core/Azure.Core/tests/ManagementPipelineBuilderTests.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ArmClient.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ArmClientOptions.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/Unit/ArmClientOptionsTests.cs
Labels: Azure.Core

#19105 [Core] Improve OperationHelpers used by our LROs
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/OperationInternalTests.cs
  sdk/core/Azure.Core/tests/OperationStateTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeContentOperation.cs
Labels: Azure.Core, Client, Cognitive - Form Recognizer

#21063 [Communication] - SMS - Repeatability accepted check for SMS tests
  sdk/communication/Azure.Communication.Sms/README.md
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTests.cs
Labels: Communication

#21081 Update SubscriptionProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/SubscriptionProperties.cs
Labels: Community Contribution, Service Bus, customer-reported

#21080 Sync eng/common directory with azure-sdk-tools for PR 1598
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#20345 Update keyvault to enable live testing in sovereign clouds for multiple services
  sdk/keyvault/tests.yml
Labels: Client, KeyVault, test-enhancement

#21086 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: auto-merge

#21091 [MetricsAdvisor] Re-enabled GetHooksAsync sample
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample04_HookCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#21093 [MetricsAdvisor] Whitelisted redacted headers for logging
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClientsOptions.cs
Labels: Client, Cognitive - Metrics Advisor

#21108 [TA] Enable healthcare again, update pii tests, and more
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeBatchActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithCancellation.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithCancellationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTestWithAssertions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTestWithAssertionsAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithResultCategoriesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithResultCategoriesTestAsync.json
Labels: Cognitive - Text Analytics

#21095 [MetricsAdvisor] Removed HttpRequest and Elasticsearch data sources
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSourceType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/ElasticsearchDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/HttpRequestDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithEveryMemberAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithEveryMemberAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithEveryMemberAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithEveryMemberAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndNewInstanceAsync.json
Labels: Client, Cognitive - Metrics Advisor

#21111 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: auto-merge

#20770 Use explicit service version
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.cs
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SearchIndexerClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/CreateIndexerAsyncAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/CreateAzureBlobIndexer.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/CreateAzureBlobIndexerAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/CrudDataSourceConnection.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/CrudDataSourceConnectionAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/CrudSkillset.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/CrudSkillsetAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/RoundtripAllSkills.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/RoundtripAllSkillsAsync.json
Labels: Search

#21116 [Storage] Weekly tests - allow only Preview subscription.
  sdk/storage/tests.yml
Labels: Storage

#20965 Blobs migration additions
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
Labels: Storage

#21110 add more to changelog
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/ITableEntity.cs
Labels: Client, Tables

#21146 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
Labels: auto-merge

#21147 [TA] Prepare for release
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#21151 Storage Extension release prep.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#21154 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#21159 [TA] Remove hardcoded latest
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAllActionsAndDisableServiceLogs.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAllActionsAndDisableServiceLogsAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorsInDocumentTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorsInDocumentTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleActions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleActionsAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPaginationAsync.json
Labels: Cognitive - Text Analytics

#21152 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#21134 [TA] Rename analyze to remove batch from the name
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeActions.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithErrorsInDocumentTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithErrorsInDocumentTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPHIDomain.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPHIDomainAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#21168 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
Labels: Storage, auto-merge

#21149 Move DateTimeRange to Azure.Core.Experimental
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/DateTimeRange.cs
  sdk/core/Azure.Core.Experimental/tests/DateTimeRangeTests.cs
  sdk/monitor/Azure.Monitor.Query/Azure.Monitor.Query.sln
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
  sdk/monitor/Azure.Monitor.Query/src/LogsClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/LogsBatchQuery.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsTestData.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsTestData.cs
Labels: Azure.Core

#21115 Merge AppConfig 1.0.3 path branch
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#21161 Sync eng/common directory with azure-sdk-tools for PR 1585
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#21165 SB extension API updates
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/AsyncCollectorArgumentBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/BindableServiceBusPath.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/MessageConverterFactory.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/MessageSenderAsyncCollector.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/MessageSenderCollector.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/MessageSenderExtensions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/ParameterizedServiceBusPath.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/ServiceBusAttributeBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/ServiceBusBinding.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/ServiceBusEntity.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/StringArgumentBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/StringToMessageConverter.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/StringToServiceBusEntityConverter.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/SyncCollectorArgumentBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/UserTypeArgumentBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/UserTypeToMessageConverter.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusExtensionConfigProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Constants.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusEntityPathHelper.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusScaleMonitor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessagingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/ServiceBusAttribute.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/ServiceBusEntityType.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/ServiceBusWebJobsStartup.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/MessageToPocoConverter.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerAttributeBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusScaleMonitorTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus

#21176 [AVA] Updating links in ReadMe
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/CHANGELOG.md
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/README.md
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/src/Azure.Media.VideoAnalyzer.Edge.csproj
Labels: AVA

#21170 Fix ShareLink sample to be able to build again
  eng/Packages.Data.props
  sdk/keyvault/samples/Directory.Build.props
  sdk/keyvault/samples/Directory.Build.targets
  sdk/keyvault/samples/getcert/getcert.csproj
  sdk/keyvault/samples/keyvaultproxy/Directory.Build.props
  sdk/keyvault/samples/keyvaultproxy/Directory.Build.targets
  sdk/keyvault/samples/keyvaultproxy/src/AzureSamples.Security.KeyVault.Proxy.csproj
  sdk/keyvault/samples/sharelink/README.md
  sdk/keyvault/samples/sharelink/ShareLink.csproj
  sdk/keyvault/samples/sharelink/autorest.md
Labels: KeyVault

#21094 [Communication] - Azure.Communication.NetworkTraversal - Adding the ACS NetworkTraversal SDK
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
  sdk/communication/Azure.Communication.NetworkTraversal/README.md
  sdk/communication/Azure.Communication.NetworkTraversal/api/Azure.Communication.NetworkTraversal.netstandard2.0.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
  sdk/communication/Azure.Communication.NetworkTraversal/src/CommunicationRelayClient.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/CommunicationRelayClientOptions.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/CommunicationNetworkTraversalRestClient.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationError.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationError.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationErrorResponse.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationErrorResponse.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfiguration.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfiguration.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationTurnServer.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationTurnServer.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/autorest.md
  sdk/communication/Azure.Communication.NetworkTraversal/tests.yml
  sdk/communication/Azure.Communication.NetworkTraversal/tests/Azure.Communication.NetworkTraversal.Tests.csproj
  sdk/communication/Azure.Communication.NetworkTraversal/tests/CommunicationRelayClient/CommunicationRelayClientLiveTests.cs
  sdk/communication/Azure.Communication.NetworkTraversal/tests/Infrastructure/CommunicationRelayClientLiveTestBase.cs
  sdk/communication/Azure.Communication.NetworkTraversal/tests/Infrastructure/CommunicationRelayClientRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.NetworkTraversal/tests/Infrastructure/CommunicationRelayClientTestEnvironment.cs
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionString.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredential.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredential.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKey.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKeyAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithToken.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithTokenAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfiguration.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationAsyncAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/samples/Sample1_CommunicationRelayClient.cs
  sdk/communication/Azure.Communication.sln
  sdk/communication/ci.yml
Labels: Communication

#21121 [TextAnalytics] Updated AnalyzeHealthcareEntitiesOperation to use new…
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Client, Cognitive - Text Analytics

#21184 [MetricsAdvisor] Moved Admin-related models to the Administration namespace
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetDataFeedIngestionStatusesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetDataFeedsFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetDataFeedsOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetHooksOptions.cs
Labels: Client, Cognitive - Metrics Advisor
