Repository Azure/azure-sdk-for-net, pull requests merged in 2021-01, with the labels that each got.

#17740 Fixed transposition of EndPartitionKey and StartRowKey in Sas token Uris
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: Client, Tables, auto-merge

#17729 [FR] Improve samples output
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample10_RecognizeInvoices.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample1_RecognizeFormContent.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample4_StronglyTypingARecognizedForm.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample5_TrainModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample6_ManageCustomModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample8_ModelCompose.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample9_RecognizeBusinessCards.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample11_ComposedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample12_RecognizeBusinessCardsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample12_RecognizeBusinessCardsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample13_RecognizeInvoicesFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample13_RecognizeInvoicesFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample4_StronglyTypingARecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample6_TrainModelWithFormsAndLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample7_ManageCustomModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample8_CopyModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
Labels: Cognitive - Form Recognizer, auto-merge

#17658 [EngSys] Allow Project Exclusions
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests-jobs.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/scripts/CodeChecks.ps1
  eng/scripts/Export-API.ps1
  eng/service.proj
  sdk/eventhub/ci.legacy.yml
  sdk/eventhub/tests.legacy.yml
Labels: Client, EngSys, Event Hubs

#17281 Don't install NET5
  eng/pipelines/templates/steps/install-dotnet.yml
Labels: auto-merge

#17659 [Event Hubs] Exclude Legacy Packages from Pipelines
  sdk/eventhub/ci.yml
  sdk/eventhub/tests.yml
Labels: Client, EngSys, Event Hubs

#17744 [Event Hubs] Exclude Functions Bindings from Legacy
  sdk/eventhub/ci.legacy.yml
  sdk/eventhub/tests.legacy.yml
Labels: Client, EngSys, Event Hubs

#17721 [MetricsAdvisor] Added tests for Data Feed CRUD operations (1/4)
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/DisposableDataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureApplicationInsightsDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureApplicationInsightsDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureApplicationInsightsDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureApplicationInsightsDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureBlobDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureBlobDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureBlobDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureBlobDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureCosmosDbDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureCosmosDbDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureCosmosDbDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureCosmosDbDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataExplorerDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataExplorerDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataExplorerDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataExplorerDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageGen2DataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageGen2DataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageGen2DataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageGen2DataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureTableDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureTableDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureTableDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureTableDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetElasticsearchDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetHttpRequestDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetInfluxDbDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetInfluxDbDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetInfluxDbDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetInfluxDbDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMongoDbDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMongoDbDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMongoDbDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMongoDbDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMySqlDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMySqlDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMySqlDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMySqlDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetPostgreSqlDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetPostgreSqlDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetPostgreSqlDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetPostgreSqlDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetSqlServerDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetSqlServerDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetSqlServerDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetSqlServerDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeed.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeedAsync.json
Labels: Client, Cognitive - Metrics Advisor

#17472 Add config for 1ES hosted Linux pool.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/storage/ci.yml
Labels: Central-EngSys, EngSys

#17754 Add exclude projects parameter.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys, EngSys

#17636 Add AzureSasCredential
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/AzureSasCredential.cs
  sdk/core/Azure.Core/src/Shared/AzureSasCredentialSynchronousPolicy.cs
  sdk/core/Azure.Core/tests/AzureSasCredentialSynchronousPolicyTests.cs
  sdk/core/Azure.Core/tests/PolicyTestBase.cs
Labels: APIChange, Azure.Core

#17728 Binary data binding
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubExtensionConfigProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
Labels: Event Hubs, auto-merge

#17195 Get Scope From Headers
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Customizations/ContainerRegistryCredentials.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Helpers/ACRTestUtil.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/SessionRecords/ScopeTests/CreateAndGetManifest.json
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/SessionRecords/ScopeTests/MoreScopeTests.json
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Tests/ScopeTests.cs
Labels: Client, Community Contribution, Container Registry, Service Attention

#17379 Fix bug on create OCI Manifest
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Customizations/ManifestConvertions.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Generated/ManifestsOperations.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Generated/Models/OCIIndex.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Generated/Models/OCIManifest.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Generated/Models/V1Manifest.cs
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/SessionRecords/ManifestTests/CreateManifestList.json
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/SessionRecords/ManifestTests/CreateOCIIndex.json
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/SessionRecords/ManifestTests/CreateOCIManifest.json
  sdk/containerregistry/Microsoft.Azure.ContainerRegistry/tests/Tests/ManifestTests.cs
Labels: Client, Community Contribution, Container Registry

#17770 Fixed bug where ChangeFeed couldn't handle BlobChangeFeedEvent.EventD…
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/api/Azure.Storage.Blobs.ChangeFeed.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEventData.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedModelFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChunkTests.cs
Labels: Storage

#17750 [MetricsAdvisor] Added tests for Data Feed CRUD operations (2/4)
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/DeleteDataFeed.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/DeleteDataFeedAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeed.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedNullOptions.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedNullOptionsAsync.json
Labels: Client, Cognitive - Metrics Advisor

#17727 Add option for initial offset
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/InitialOffsetOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubApplicationInsightsTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Event Hubs, auto-merge

#17698 Fixed bug where DataLakeDirectoryClient(Uri,..).GetPaths() would throw an exception
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/GetPathsAsync_UriCtor.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/GetPathsAsync_UriCtorAsync.json
Labels: Storage

#17760 Sync eng/common directory with azure-sdk-tools for PR 1299
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#17440 Update Administration backup LROs to conform to guidelines
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/BackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultPermission.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultRoleAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPermission.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultRoleAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultRoleAssignmentProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultServiceError.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Properties/AssemblyInfo.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperationInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RoleAssignmentCreateParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/SelectiveKeyRestoreDetailsInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/SelectiveKeyRestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/SelectiveKeyRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupOperationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/RestoreOperationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SelectiveKeyRestoreOperationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample3_BackRestoreResume.cs
Labels: Client, KeyVault

#17759 Blob hash migration guide and samples.
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
Labels: Storage

#17778 Use PostConfigure for InitialOffsetOptions
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/eventhub/test-resources-post.ps1
Labels: Event Hubs, auto-merge

#17776 [MetricsAdvisor] Bug fix: service returns null in unexpected scenarios
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureApplicationInsightsParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureApplicationInsightsParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureBlobParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureBlobParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureCosmosDBParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureCosmosDBParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureDataLakeStorageGen2Parameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureDataLakeStorageGen2Parameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureTableParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureTableParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ElasticsearchParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ElasticsearchParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/HttpRequestParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/HttpRequestParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/InfluxDBParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/InfluxDBParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MongoDBParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MongoDBParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/SqlSourceParameter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/SqlSourceParameter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/HttpRequestDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/autorest.md
Labels: Client, Cognitive - Metrics Advisor

#17783 Sync eng/common directory with azure-sdk-tools for PR 1278
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#17782 Sync eng/common directory with azure-sdk-tools for PR 1298
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#17785 Add download perf tests
  sdk/core/Azure.Core/Azure.Core.sln
  sdk/core/Azure.Core/perf/Azure.Core.Perf.csproj
  sdk/core/Azure.Core/perf/DownloadHttpClientTest.cs
  sdk/core/Azure.Core/perf/DownloadTest.cs
  sdk/core/Azure.Core/perf/DownloadTestOptions.cs
  sdk/core/Azure.Core/perf/InProcTestServer.cs
  sdk/core/Azure.Core/perf/Program.cs
Labels: Azure.Core

#17791 Avoid exception when setting the network stream timeout
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/perf/Azure.Core.Perf.csproj
  sdk/core/Azure.Core/perf/DownloadHttpClientTest.cs
  sdk/core/Azure.Core/perf/DownloadTest.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ReadTimeoutStream.cs
  sdk/core/Azure.Core/tests/ResponseBodyPolicyTests.cs
Labels: Azure.Core, auto-merge

#17803 Prepare for Azure.Core 1.8.0 release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#17137 EventGrid blob trigger support
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/Microsoft.Azure.WebJobs.Extensions.EventGrid.sln
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridExtensionConfigProvider.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridWebJobsBuilderExtensions.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/TriggerBinding/HttpRequestProcessor.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/JobhostEndToEnd.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/TestListener.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/api/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/BlobTriggerAttribute.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/BlobTriggerSource.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Config/BlobsExtensionConfigProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobQueueTriggerExecutor.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobTriggerExecutor.Logger.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobTriggerExecutor.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobTriggerExecutorContext.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobTriggerQueueWriter.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobTriggerQueueWriterFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobTriggerScanSource.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/PollLogsStrategy.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/ScanBlobScanLogHybridPollingStrategy.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/ScanContainersStrategy.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/SharedBlobQueueListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/StorageBlobsWebJobsBuilderExtensions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Triggers/BlobTriggerAttributeBindingProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Triggers/BlobTriggerBinding.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Listeners/BlobListenerTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Listeners/BlobQueueTriggerExecutorTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Listeners/BlobTriggerExecutorTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/EventGridBlobTriggerEndToEndTests.cs
Labels: Event Grid, Storage

#17788 Update update changelog
  eng/scripts/Language-Settings.ps1
  eng/scripts/Update-PkgVersion.ps1
Labels: Central-EngSys

#17820 Prepare release of Azure.Core JSON helpers
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/README.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/NewtonsoftJsonObjectSerializer.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/Microsoft.Azure.Core.NewtonsoftJson.Tests.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/Samples/Readme.cs
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/README.md
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/src/Microsoft.Azure.Core.Spatial.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.Spatial/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.Spatial/README.md
  sdk/core/Microsoft.Azure.Core.Spatial/src/Microsoft.Azure.Core.Spatial.csproj
Labels: Azure.Core

#17823 Sync eng/common directory with azure-sdk-tools for PR 1302
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#17827 Prepare JSON helper packages for release
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/NewtonsoftJsonObjectSerializer.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/Samples/Readme.cs
Labels: Azure.Core, auto-merge

#17818 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#17796 Update DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
Labels: Community Contribution, Storage, customer-reported

#17822 [Communication] - Sample - Updating the Samples and regenerate the readme
  sdk/communication/Azure.Communication.Administration/README.md
  sdk/communication/Azure.Communication.Administration/samples/Sample1_CommunicationIdentityClient.md
  sdk/communication/Azure.Communication.Administration/samples/Sample1_CommunicationIdentityClientAsync.md
  sdk/communication/Azure.Communication.Administration/tests/SessionRecords/Sample1_CommunicationIdentityClient/CreateIdentityWithToken.json
  sdk/communication/Azure.Communication.Administration/tests/SessionRecords/Sample1_CommunicationIdentityClient/CreateIdentityWithTokenAsync.json
  sdk/communication/Azure.Communication.Administration/tests/samples/Sample1_CommunicationIdentityClient.cs
Labels: Communication

#17821 Sync eng/common directory with azure-sdk-tools for PR 1301
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#17812 [MetricsAdvisor] Added tests for Data Feed CRUD operations (4/4)
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/GetDataFeeds.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/GetDataFeedsAsync.json
Labels: Client, Cognitive - Metrics Advisor

#17837 Fix test issue with .NET 5.0
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
Labels: Service Bus, auto-merge

#17842 Doc fixes
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/AccessRights.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
Labels: Service Bus

#17840 Disable InheritDocEnabled for KV samples
  sdk/keyvault/samples/Directory.Build.props
Labels: KeyVault

#17843 [MetricsAdvisor] Added tests for Data Feed ingestion operations
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedIngestionLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedIngestionTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClientLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedIngestionLiveTests/GetDataFeedIngestionProgress.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedIngestionLiveTests/GetDataFeedIngestionProgressAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedIngestionLiveTests/GetDataFeedIngestionStatuses.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedIngestionLiveTests/GetDataFeedIngestionStatusesAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedIngestionLiveTests/RefreshDataIngestion.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedIngestionLiveTests/RefreshDataIngestionAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedFromGet.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/CreateAndUpdateBlobDataFeedFromGetAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeedIngestionProgress.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeedIngestionProgressAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeedIngestionStatuses.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeedIngestionStatusesAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeeds.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/GetDataFeedsAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/ResetDataFeedIngestionStatus.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/MetricsAdvisorAdministrationClientLiveTests/ResetDataFeedIngestionStatusAsync.json
Labels: Client, Cognitive - Metrics Advisor

#17849 Increment version for core releases
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/src/Microsoft.Azure.Core.Spatial.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.Spatial/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.Spatial/src/Microsoft.Azure.Core.Spatial.csproj
Labels: Azure.Core, auto-merge

#17816 [Event Hubs Client] ReadMe and Test fixes
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/EventHubScope.cs
Labels: Client, Event Hubs

#17769 LogAnalytics Throttle export API new parameters GroupByClientApplicationId and GroupByUserAgent
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LogAnalyticsInputBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RequestRateByIntervalInput.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ThrottledRequestsInput.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/LogAnalyticsTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/LogAnalyticsTests/TestExportingThrottlingLogs.json
Labels: Compute

#17642 Made dictionaries for connection string elements case-insensitive
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/StorageConnectionString.cs
  sdk/storage/Azure.Storage.Common/tests/StorageConnectionStringTests.cs
Labels: Storage

#17860 Sync eng/common directory with azure-sdk-tools for PR 1306
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#17864 Sync eng/common directory with azure-sdk-tools for PR 1308
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#17878 Prepare for Azure.Core 1.8.1 release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#17881 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#17871 Add AsSystemEventData
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample3_ParseAndDeserializeEvents.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/SystemEventExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample2_ParseAndDeserializeEvents.cs
Labels: Event Grid, auto-merge

#17891 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#17893 Use AzureSasCredential
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Compatibility/EventGridPublisherClientBuilderExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridSharedAccessSignatureCredential.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridSharedAccessSignatureCredentialPolicy.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
Labels: Event Grid

#17896 Allow null offset in legacy checkpoints
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs
Labels: Event Hubs

#17894 [MetricsAdvisor] Added tests.yml file for automated test runs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorTestEnvironment.cs
  sdk/metricsadvisor/tests.yml
Labels: Client, Cognitive - Metrics Advisor

#17889 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#17904 add release date for 3.0.0-beta.5
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Tables

#17905 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#17906 [Event Hubs Client] Idempotent Publishing Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingState.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
Labels: Client, Event Hubs, auto-merge

#17640 Check client instrumentation
  sdk/communication/Azure.Communication.Administration/tests/Infrastructure/PhoneNumberAdministrationClientLiveTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/ClientTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/AzureClientAttributeFunctionalTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
Labels: Azure.Core, auto-merge

#17910 [MetricsAdvisor] Fixing tests.yml
  sdk/metricsadvisor/tests.yml
Labels: Client, Cognitive - Metrics Advisor

#17890 Implement TableUriBuilder and TableSasBuilder.Parse
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/QueryOptions.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableAccountSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableAccountSasQueryParameters.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableAccountSasResourceTypes.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasQueryParameters.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableUriBuilder.cs
  sdk/tables/Azure.Data.Tables/src/TableConnectionString.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/UriQueryParamsCollection.cs
  sdk/tables/Azure.Data.Tables/tests/TableAccountSasBuilderTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableConnectionStringTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableSasBuilderTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableUriBuilderTests.cs
Labels: Client, Tables

#17895 [Communication] - ALL - Adding PowerShell Docs to README
  sdk/communication/Azure.Communication.Administration/README.md
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Common/README.md
  sdk/communication/Azure.Communication.Sms/README.md
Labels: Communication

#17908 Prepared Storage for release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#17912 Update dependency of Microsoft.Azure.Amqp to version 2.4.9
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#17900 Make CorsOptions.maxAgeInSeconds x-nullable
  eng/Packages.Data.props
  sdk/core/Microsoft.Azure.Core.Spatial/src/Microsoft.Azure.Core.Spatial.props
  sdk/search/Azure.Search.Documents/src/Generated/Models/CorsOptions.Serialization.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/tests/Models/CorsOptionsTests.cs
Labels: Azure.Core, Search

#17897 Add perf tests for Blob storage scenarios.
  eng/.docsettings.yml
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf.slnf
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Azure.Storage.Blobs.Perf.csproj
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/BlobTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/ContainerTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/ServiceTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/StorageTransferOptionsOptions.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Program.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/DownloadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/UploadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Infrastructure/BlobTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Infrastructure/ContainerTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Infrastructure/ServiceTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Microsoft.Azure.Storage.Blob.Perf.csproj
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Program.cs
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Scenarios/DownloadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/Microsoft.Azure.Storage.Blob.Perf/Scenarios/UploadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/README.md
  sdk/storage/Azure.Storage.sln
Labels: Storage

#17914 Update default doc index time to 10 seconds
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchTestBase.cs
Labels: Search

#17916 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#17915 Remove App Gateway tests
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS_A1V2.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS_SPG_False.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS_Spot.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetAppGWTests.cs
Labels: Compute

#17917 Sync eng/common directory with azure-sdk-tools for PR 1314
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#17922 SB release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#17919 [Docs] Contributing Guide Link Fix
  CONTRIBUTING.md
Labels: Central-EngSys, Docs, auto-merge

#17923 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#17921 (ADT-DP) Add diagnostic scopes to all DigialTwins APIs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Properties/AssemblyInfo.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/E2eTestBase.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_UpdateComponentFailsWhenIfMatchHeaderOutOfDate.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_UpdateComponentFailsWhenIfMatchHeaderOutOfDateAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_UpdateComponentSucceedsWhenIfMatchHeaderIsCorrect.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ComponentTests/Component_UpdateComponentSucceedsWhenIfMatchHeaderIsCorrectAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_CreateOrReplaceRelationshipFailsWhenIfNoneMatchStar.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_CreateOrReplaceRelationshipFailsWhenIfNoneMatchStarAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_CreateOrReplaceRelationshipSucceedsWithNoIfNoneMatchHeader.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_CreateOrReplaceRelationshipSucceedsWithNoIfNoneMatchHeaderAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_DeleteRelationshipFailsWhenIfMatchHeaderOutOfDate.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_DeleteRelationshipFailsWhenIfMatchHeaderOutOfDateAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_DeleteRelationshipSucceedsWhenIfMatchHeaderIsCorrect.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_DeleteRelationshipSucceedsWhenIfMatchHeaderIsCorrectAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_PaginationWorks.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_PaginationWorksAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_PatchRelationshipFailsIfInvalidETagProvided.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_PatchRelationshipFailsIfInvalidETagProvidedAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_PatchRelationshipSucceedsIfCorrectETagProvided.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinRelationshipTests/Relationships_PatchRelationshipSucceedsIfCorrectETagProvidedAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwinOperationsWithCustomObjectSerializer_Succeeds.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwinOperationsWithCustomObjectSerializer_SucceedsAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_CreateOrReplaceTwinFailsWhenIfNoneMatchStar.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_CreateOrReplaceTwinFailsWhenIfNoneMatchStarAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_CreateOrReplaceTwinSucceedsWithNoIfNoneMatchHeader.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_CreateOrReplaceTwinSucceedsWithNoIfNoneMatchHeaderAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_DeleteTwinFailsIfMatchProvidesOutdatedEtag.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_DeleteTwinFailsIfMatchProvidesOutdatedEtagAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_DeleteTwinSucceedsIfMatchProvidesCorrectEtag.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_DeleteTwinSucceedsIfMatchProvidesCorrectEtagAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_PatchTwinFailsIfInvalidETagProvided.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_PatchTwinFailsIfInvalidETagProvidedAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_PatchTwinSucceedsIfCorrectETagProvided.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/DigitalTwinTests/DigitalTwins_PatchTwinSucceedsIfCorrectETagProvidedAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/EventRouteTests/EventRoutes_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/ModelData_DisplayNameAndDescription_Deserializes.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/ModelData_DisplayNameAndDescription_DeserializesAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_ModelAlreadyExists_ThrowsConflictException.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/ModelsTests/Models_ModelAlreadyExists_ThrowsConflictExceptionAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/PublishTelemetryTests/PublishTelemetry_Lifecycle.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/PublishTelemetryTests/PublishTelemetry_LifecycleAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_GetTwinCount.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_GetTwinCountAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_PaginationWorks.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_PaginationWorksAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_ValidQuery_Success.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_ValidQuery_SuccessAsync.json
Labels: DigitalTwins

#17148 Updates as per swagger changes to refer SourceResourceSettings Property to ResourceSettings instead of MoveResourcePropertiesSourceResourceSettings.
  eng/mgmt/mgmtmetadata/resourcemover_resource-manager.txt
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/MoveResourceProperties.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/MoveResourcePropertiesSourceResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/SdkInfo_ResourceMoverServiceAPI.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Microsoft.Azure.Management.Migrate.ResourceMover.csproj
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Properties/AssemblyInfo.cs
Labels: no-recent-activity

#17941 [Event Hubs Client] Test Reliability Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
Labels: Client, Event Hubs, test-reliability

#17892 Simplify CloudEvent ctors and add dataSerializationType parameter
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/BinaryDataExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/CloudEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithBinaryData.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithBinaryDataAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithNonJsonSerializedBinaryData.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithNonJsonSerializedBinaryDataAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/TestPayload.cs
Labels: Event Grid

#17938 [Messaging Clients] Test Resource Cleanup
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestConstants.cs
  sdk/eventhub/test-resources.json
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/TestConstants.cs
  sdk/servicebus/test-resources.json
Labels: Client, Event Hubs, Service Bus, test-reliability

#17960 Increment version for mediaservices releases
  sdk/mediaservices/Azure.Media.Analytics.Edge/CHANGELOG.md
  sdk/mediaservices/Azure.Media.Analytics.Edge/src/Azure.Media.Analytics.Edge.csproj
Labels: auto-merge

#17949 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus, auto-merge

#17861 Updated TestVMIdentitySystemAssignedUserAssigned SDK Test to create User Assigned Identity using SDK
  sdk/compute/Microsoft.Azure.Management.Compute/tests/Helpers/ComputeManagementTestUtilities.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/Microsoft.Azure.Management.Compute.Tests.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMIdentityTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMTestBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMIdentityTests/TestVMIdentitySystemAssignedUserAssigned.json
Labels: Compute

#17977 Delete AppGW tests
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS_A1V2.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS_SPG_False.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetAppGWTests/VMScaleSetAppGwWithAS_Spot.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetAppGWTests.cs
Labels: Compute

#17976 Delete deprecated ContainerService tests
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ContainerServiceTests/ContainerServiceOperationalTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ContainerServiceTests/ContainerServiceTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ContainerServiceTests/ContainerServiceUpdateTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ContainerServiceOperationalTests/TestDCOSOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ContainerServiceOperationalTests/TestSwarmOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ContainerServiceUpdateTests/TestContainerServiceUpdateOperations.json
Labels: Compute

#17926 Added shared authentication source for Mixed Reality clients
  sdk/mixedreality/Azure.MixedReality.Authentication/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/AuthenticationEndpoint.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/HELP.md
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/MixedRealityAccountKeyCredential.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/MixedRealityTokenCredential.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/StaticAccessTokenCredential.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.MixedReality.Authentication.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityStsClient.cs
  sdk/mixedreality/Directory.Build.props
Labels: auto-merge

#17911 Add comment to template ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/schemaregistry/ci.yml
  sdk/template/ci.yml
  sdk/timeseriesinsights/ci.yml
Labels: EngSys, Schema Registry, TimeseriesInsights

#17417 Add cross product matrix tooling
  eng/pipelines/templates/jobs/job-matrix.yml
  eng/scripts/job-matrix/Create-JobMatrix.ps1
  eng/scripts/job-matrix/README.md
  eng/scripts/job-matrix/job-matrix-functions.psm1
  eng/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/scripts/job-matrix/samples/matrix-test.yml
  eng/scripts/job-matrix/samples/matrix.json
Labels: Central-EngSys

#17981 SDK version 4.2.1 (Hotfix on 4.2.0): Update dependency of Microsoft.Azure.Amqp to version 2.4.9
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#17983 [Communication] - Common - Rename Id to UserId
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
Labels: Communication

#17845 ContainerService APIs have been deprecated, removing tests
  sdk/compute/Azure.ResourceManager.Compute/tests/ContainerServiceTests/ContainerServiceOperationalTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/ContainerServiceTests/ContainerServiceTestsBase.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/ContainerServiceTests/ContainerServiceUpdateTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ContainerServiceTests/ContainerServiceOperationalTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ContainerServiceTests/ContainerServiceTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ContainerServiceTests/ContainerServiceUpdateTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ContainerServiceOperationalTests/TestDCOSOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ContainerServiceOperationalTests/TestSwarmOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ContainerServiceUpdateTests/TestContainerServiceUpdateOperations.json
Labels: Compute

#17939 Release LogAnalytic Throttle API changes
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Labels: Compute

#17967 Add project reference NET5 test configuration
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Azure.Core

#18003 Delete test json files
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ExtensionTests/TestVMExtensionOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetExtensionTests/TestVMScaleSetExtensions.json
Labels: Compute

#18008 Add migration guide in search
  sdk/search/Azure.Search.Documents/MigrationGuide.md
Labels: Search

#12967 added error code and removed all error messages
  sdk/batch/Microsoft.Azure.Batch/src/Common/BatchErrorCodeStrings.cs
Labels: Batch, Client, Community Contribution

#18011 [FR] Don't check error code for wrong region
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
Labels: Cognitive - Form Recognizer

#18005 [MetricsAdvisor] Ignore flaky tests for now
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookLiveTests.cs
Labels: Client, Cognitive - Metrics Advisor

#18015 Resolve conflicts for -updated merge
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineRunCommandsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMRunCommandsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/ExtensionTests/TestVMExtensionOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetExtensionTests/TestVMScaleSetExtensions.json
Labels: Compute

#18016 [Event Hubs Client] Internalize Idempotent Publishing
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsModelFactory.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
Labels: APIChange, Client, Event Hubs

#17985 [Identity] update test.yml to use the updated ubuntu keyring container
  sdk/identity/tests.yml
Labels: Azure.Identity

#18019 Update Service Bus migration guide to follow template
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus, auto-merge

#18014 [Event Hubs Client] Custom Endpoint Support
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/EventHubConnectionOptionsExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/EventHubConnectionOptionsExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnectionOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/SamplesCommonTests.cs
Labels: APIChange, ArchApproved, Client, Event Hubs

#18027 Fixes ServiceBusProcessor.DisposeAsync exceptions
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
Labels: Client, Community Contribution, Service Bus, auto-merge, customer-reported

#18026 [Messaging Clients] Test Resource RBAC Tweaks
  sdk/eventhub/test-resources.json
  sdk/servicebus/test-resources.json
Labels: Client, Event Hubs, Service Bus, test-reliability

#18042 Support If-Modified-Since header
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#18045 Fix partition key and row key sas token Uri strings
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateSasCredentialsWithRowKeyAndPartitionKeyRanges.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateSasCredentialsWithRowKeyAndPartitionKeyRangesAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables, auto-merge

#17168 Feature/storage/container rename
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/swagger/readme.md
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsyncAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_AccountSas.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_AccountSasAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_SourceLease.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_SourceLeaseAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_SourceLeaseFailed.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_SourceLeaseFailedAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeModelFactory.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileSystemItem.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileSystemProperties.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileSystemStates.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileSystemTraits.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/GetFileSystemsAsyncCollection.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/GetFileSystemsAsync_Deleted.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/GetFileSystemsAsync_DeletedAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_AccountSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameBlobContainerAsync_AccountSasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsyncAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsync_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsync_SourceLease.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsync_SourceLeaseAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsync_SourceLeaseFailed.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/RenameFileSystemAsync_SourceLeaseFailedAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/UndeleteFileSystemAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/UndeleteFileSystemAsyncAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/UndeleteFileSystemAsync_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/UndeleteFileSystemAsync_ErrorAsync.json
Labels: Storage

#18054 [Event Hubs Client] Minor Fixes
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
Labels: APIChange, Client, Event Hubs

#18048 [Event Hubs Client] Preserve AMQP Exceptions
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/ExceptionExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpExceptionExtensionsTests.cs
Labels: Client, Event Hubs

#18053 [Perf] Add Storage GetBlobs test
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/GetBlobs.cs
Labels: Storage

#18050 Disable default HttpClient/HttpWebRequest timeouts
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
Labels: Azure.Core

#18059 Skip empty checkpoints
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/CheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs
Labels: Event Hubs

#18064 Avoid first chance exception on the hot path of RetriableStream
  sdk/core/Azure.Core/src/Shared/RetriableStream.cs
  sdk/core/Azure.Core/tests/RetriableStreamTests.cs
Labels: Azure.Core

#18021 Storage: Coalesce prefix response headers into a single loop
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Common/swagger/Generator/src/generator.ts
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
Labels: Storage

#18052 [Communication] - Add identifier serializer
  sdk/communication/Azure.Communication.Administration/src/PhoneNumberAdministrationClient.cs
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/CallingApplicationIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/PhoneNumberIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/UnknownIdentifier.cs
  sdk/communication/Azure.Communication.Common/tests/Azure.Communication.Common.Tests.csproj
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierSerializerTest.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
  sdk/communication/Shared/src/CommunicationIdentifierKind.cs
  sdk/communication/Shared/src/CommunicationIdentifierModel.cs
  sdk/communication/Shared/src/CommunicationIdentifierSerializer.cs
Labels: Communication

#18029 Aligned storage URL parsing with other platforms
  sdk/storage/Azure.Storage.Blobs/tests/BlobUriBuilderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_AccountNameError.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_AccountNameErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_AccountNamePeriod.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_AccountNamePeriodAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTestBlob.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTestBlobAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTestContainer.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTestContainerAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTest_NonAsciiUri(%http%%%localhost%10000%devstoreaccount1%container%%E6%96%91%E9%BB%9E%).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTest_NonAsciiUri(%http%%%localhost%10000%devstoreaccount1%container%%E6%96%91%E9%BB%9E%)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTest_NonAsciiUri(%http%%%localhost%10000%devstoreaccount1%container%斑點%).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_IPStyleUrl_PortTest_NonAsciiUri(%http%%%localhost%10000%devstoreaccount1%container%斑點%)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_Azurite.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_AzuriteAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_AzuriteBlob.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_AzuriteBlobAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_AzuriteContainer.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_AzuriteContainerAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_PortTestBlob.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_PortTestBlobAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_PortTestContainer.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_LocalDockerUrl_PortTestContainerAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_RoundTrip.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/BlobUriBuilder_RoundTripAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/DataLakeUriBuilder_AccountNamePeriod.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobUriBuilderTests/DataLakeUriBuilder_AccountNamePeriodAsync.json
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/UriExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeUriBuilderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeUriBuilderTests/DataLakeUriBuilder_AccountNameError.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeUriBuilderTests/DataLakeUriBuilder_AccountNameErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeUriBuilderTests/DataLakeUriBuilder_AccountNamePeriod.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeUriBuilderTests/DataLakeUriBuilder_AccountNamePeriodAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/FileUriBuilderTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileUriBuilderTests/FileUriBuilder_AccountNameError.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileUriBuilderTests/FileUriBuilder_AccountNameErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileUriBuilderTests/FileUriBuilder_AccountNamePeriod.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileUriBuilderTests/FileUriBuilder_AccountNamePeriodAsync.json
  sdk/storage/Azure.Storage.Queues/tests/QueueUriBuilderTests.cs
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/FileUriBuilder_AccountNameError.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/FileUriBuilder_AccountNameErrorAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/QueueUriBuilder_AccountNameError.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/QueueUriBuilder_AccountNameErrorAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/QueueUriBuilder_AccountNamePeriod.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/QueueUriBuilder_AccountNamePeriodAsync.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/QueueUriBuilder_IPStyleUrl_PortTestQueue.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueUriBuilderTests/QueueUriBuilder_IPStyleUrl_PortTestQueueAsync.json
Labels: Storage

#18067 Sync eng/common directory with azure-sdk-tools for PR 1318
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-ci.ps1
Labels: Central-EngSys, EngSys

#18062 Fix batching calculation
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpMessageBatchTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
Labels: Service Bus

#18063 [Service Bus Client] Documentation Updates
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
Labels: Client, Docs, Service Bus

#18069 Increment version for attestation releases
  sdk/attestation/Azure.Security.Attestation/CHANGELOG.md
  sdk/attestation/Azure.Security.Attestation/src/Azure.Security.Attestation.csproj
Labels: auto-merge

#18043 Rename *LiveTest.cs -> *LiveTests.cs to be consistent across repository
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsLiveTests.cs
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGSAsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_MemberAUR_MessageGSU_NotificationT.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_MemberAUR_MessageGSU_NotificationT_AsyncAsync.json
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/MixedRealityStsClientLiveTests.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/SessionRecords/MixedRealityStsClientLiveTests/GetToken.json
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/SessionRecords/MixedRealityStsClientLiveTests/GetTokenAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaId.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaIdAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchemaAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserialize.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeGenericRecord.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeGenericRecordAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeUnsupportedType.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeUnsupportedTypeAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotSerializeUnsupportedType.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotSerializeUnsupportedTypeAsync.json
  sdk/template/Azure.Template/tests/MiniSecretClientLiveTests.cs
  sdk/template/Azure.Template/tests/SessionRecords/MiniSecretClientLiveTests/CanGetSecret.json
  sdk/template/Azure.Template/tests/SessionRecords/MiniSecretClientLiveTests/CanGetSecretAsync.json
Labels: Communication, EngSys, Schema Registry

#18065 Add transactional batch sample and clean up others
  sdk/tables/Azure.Data.Tables/README.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/samples/README.md
  sdk/tables/Azure.Data.Tables/samples/Sample0Auth.md
  sdk/tables/Azure.Data.Tables/samples/Sample1CreateDeleteTables.md
  sdk/tables/Azure.Data.Tables/samples/Sample2CreateDeleteEntities.md
  sdk/tables/Azure.Data.Tables/samples/Sample3QueryTables.md
  sdk/tables/Azure.Data.Tables/samples/Sample4QueryEntities.md
  sdk/tables/Azure.Data.Tables/samples/Sample5UpdateUpsertEntities.md
  sdk/tables/Azure.Data.Tables/samples/Sample6TransactionalBatch.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableTransactionalBatch.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTable.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample6_TransactionalBatchAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample7_Troubleshooting.cs
Labels: Client, Tables

#18085 Include headers in the ExtractFailureContent partial methods
  sdk/core/Azure.Core/generate_solution.ps1
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ClientDiagnostics.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ClientDiagnostics.cs
  sdk/search/Azure.Search.Documents/src/Utilities/ClientDiagnostics.ExtractFailureContent.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ClientDiagnostics.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ClientDiagnostics.cs
Labels: Azure.Core, Cognitive - Form Recognizer, Cognitive - Text Analytics, KeyVault, Search, Service Bus

#17558 Deleted Obselete exception and added a scenario test to check for it
  eng/mgmt/mgmtmetadata/resources_resource-manager.txt
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/DeploymentsOperations.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DefaultErrorResponse.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Generated/Models/DefaultErrorResponseException.cs
  sdk/resources/Microsoft.Azure.Management.Resource/src/Microsoft.Azure.Management.ResourceManager.csproj
  sdk/resources/Microsoft.Azure.Management.Resource/src/Properties/AssemblyInfo.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/TemplateSpecsTests.ScenarioTests.cs
  sdk/resources/Microsoft.Azure.Management.Resource/tests/SessionRecords/LiveTemplateSpecsTests/ThrowsWhenTemplateSpecDoesNotExist.json
Labels: needs-revision

#18094 Sync eng/common directory with azure-sdk-tools for PR 1317
  eng/common/pipelines/templates/steps/get-pr-owners.yml
Labels: Central-EngSys, EngSys

#18097 Sync eng/common directory with azure-sdk-tools for PR 1327
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#17973 Enable 1ES pools for live tests.
  eng/pipelines/templates/jobs/archetype-sdk-tests-jobs.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/identity/tests.yml
Labels: Central-EngSys, EngSys

#18098 Update CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
Labels: Storage

#18034 Supporting Availability set as input for Vmware to Azure and Hyper V to Azure in Site Recovery service
  eng/mgmt/mgmtmetadata/recoveryservicessiterecovery_resource-manager.txt
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/HyperVReplicaAzureEnableProtectionInput.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Generated/Models/InMageAzureV2EnableProtectionInput.cs
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Microsoft.Azure.Management.RecoveryServices.SiteRecovery.csproj
  sdk/recoveryservices-siterecovery/Microsoft.Azure.Management.RecoveryServices.SiteRecovery/src/Properties/AssemblyInfo.cs
Labels: needs-revision

#18086 [MetricsAdvisor] Enabling some tests after service bug has been fixed
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithEveryMemberAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithEveryMemberAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithEveryMemberAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithEveryMemberAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithEveryMemberAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithEveryMemberAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithMinimumSetupAndGetInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithMinimumSetupAndGetInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithMinimumSetupAndNewInstanceAsync.json
Labels: Client, Cognitive - Metrics Advisor

#18095 Clean build warnings and nuget config
  NuGet.Config
  samples/linecounter/LineCounter.csproj
  sdk/search/Microsoft.Azure.Management.Search/tests/Microsoft.Azure.Management.Search.Tests.csproj
  tools/LocalNugetFeed/Microsoft.Azure.Management.Storage.4.2.0-preview.nupkg
  tools/LocalNugetFeed/Microsoft.Azure.Management.Storage.4.2.0-preview.symbols.nupkg
  tools/LocalNugetFeed/Microsoft.Azure.ResourceManager.1.1.0-preview.nupkg
  tools/LocalNugetFeed/Microsoft.Azure.ResourceManager.1.1.0-preview.symbols.nupkg
Labels: Search

#18072 Regenerated for Azure.Storage.Files.Shares
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/swagger/readme.md
Labels: Storage

#18032 Used string.IsNullOrEmpty() in EnvironmentCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredentialProviderTests.cs
Labels: Azure.Identity

#18100 Remove secure key release implementation
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/CreateKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/ImportKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyAttributes.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyExportParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyReleasePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRequestParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
Labels: KeyVault

#18113 Updating the Mixed Reality test location
  sdk/mixedreality/tests.yml
Labels: auto-merge

#18119 Log x-ms-request-id for tests only
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
Labels: KeyVault

#18117 [Storage] Capture azurite debug log before failing permanently.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/AzuriteFixture.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/Shared/AzuriteNUnitFixture.cs
Labels: Storage

#18123 Throttle API log analytics release
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Labels: Compute

#17944 Added credscan steps for .NET
  eng/CredScanSuppression.json
  eng/dotnet.gdnbaselines
  eng/pipelines/aggregate-reports.yml
Labels: Central-EngSys, EngSys

#18122 [codegen] Update to renamed code generator
  eng/Directory.Build.Data.targets
  eng/Packages.Data.props
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: auto-merge

#18124 Sync eng/common directory with azure-sdk-tools for PR 1251
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#18128 [FR] Update swagger reference
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/Language.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/swagger/fr2.1p2.json
Labels: Cognitive - Form Recognizer

#18129 direct return from DeserializeAsync
  sdk/core/Azure.Core/src/Serialization/JsonObjectSerializer.cs
Labels: Azure.Core, Client, Community Contribution, customer-reported

#18140 Switch to greedy strategy
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
Labels: Event Hubs

#18120 [Communication] - Identifier serialization new schema
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationCloudEnvironment.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/PhoneNumberIdentifier.cs
  sdk/communication/Azure.Communication.Common/tests/Azure.Communication.Common.Tests.csproj
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierSerializerTest.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierTest.cs
  sdk/communication/Shared/src/CommunicationCloudEnvironmentModel.cs
  sdk/communication/Shared/src/CommunicationIdentifierModel.cs
  sdk/communication/Shared/src/CommunicationIdentifierSerializer.cs
Labels: Communication

#18149 [Communication] - Make AsyncTokenRefresher in CommunicationTokenRefreshOptions optional
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/AutoRefreshTokenCredential.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationTokenCredential.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationTokenRefreshOptions.cs
  sdk/communication/Azure.Communication.Common/tests/Identity/CommunicationTokenCredentialTest.cs
Labels: Communication

#18138 [communication] fix endpoint env var name
  sdk/communication/test-resources.json
Labels: Communication

#17867 [Communication] - SMS - Managed Identity Support for SMS Client
  sdk/communication/Azure.Communication.Sms/CHANGELOG.md
  sdk/communication/Azure.Communication.Sms/README.md
  sdk/communication/Azure.Communication.Sms/api/Azure.Communication.Sms.netstandard2.0.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/SmsClientLiveTests/SendingAnSmsMessageUsingTokenCredential.json
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/SmsClientLiveTests/SendingAnSmsMessageUsingTokenCredentialAsync.json
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTests.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientTestEnvironment.cs
  sdk/communication/Azure.Communication.Sms/tests/samples/Sample1_SmsClient.cs
Labels: Communication

#18153 [TestFramework] Downgrade Azure.Identity for maximum compat
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
Labels: Azure.Core

#18146 Add message batch factory
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/ApiCompatBaseline.txt
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageBatchTests.cs
Labels: Service Bus

#18155 [Communication] - Administration - Managed Identity for PhoneNumberClient
  sdk/communication/Azure.Communication.Administration/CHANGELOG.md
  sdk/communication/Azure.Communication.Administration/README.md
  sdk/communication/Azure.Communication.Administration/api/Azure.Communication.Administration.netstandard2.0.cs
  sdk/communication/Azure.Communication.Administration/src/PhoneNumberAdministrationClient.cs
  sdk/communication/Azure.Communication.Administration/tests/Infrastructure/PhoneNumberAdministrationClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Administration/tests/PhoneNumberAdministrationClient/PhoneNumberAdministrationClientLiveTests.cs
  sdk/communication/Azure.Communication.Administration/tests/SessionRecords/PhoneNumberAdministrationClientLiveTests/GeneratesPhoneNumberClientUsingTokenCredential.json
  sdk/communication/Azure.Communication.Administration/tests/SessionRecords/PhoneNumberAdministrationClientLiveTests/GeneratesPhoneNumberClientUsingTokenCredentialAsync.json
  sdk/communication/Azure.Communication.Administration/tests/SessionRecords/Sample2_PhoneNumberAdministrationClient/CreatePhoneNumberWithTokenCredential.json
  sdk/communication/Azure.Communication.Administration/tests/SessionRecords/Sample2_PhoneNumberAdministrationClient/CreatePhoneNumberWithTokenCredentialAsync.json
  sdk/communication/Azure.Communication.Administration/tests/samples/Sample2_PhoneNumberAdministrationClient.cs
Labels: Communication
