Repository Azure/azure-sdk-for-net, pull requests merged in 2021-10, with the labels that each got.

#24283 [LLC] Create RequestFailedException from Response
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core.Experimental/src/ClassifiedResponse.cs
  sdk/core/Azure.Core.Experimental/src/ExceptionFormattingResponseClassifier.cs
  sdk/core/Azure.Core.Experimental/src/ResponseExtensions.cs
  sdk/core/Azure.Core.Experimental/src/ResponsePropertiesPolicy.cs
  sdk/core/Azure.Core.Experimental/tests/Azure.Core.Experimental.Tests.csproj
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/LowLevelClientModels/Pet.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/PetStoreClient.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClientTests.cs
  sdk/core/Azure.Core.Experimental/tests/PipelineTests.cs
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
Labels: Azure.Core

#24353 Doc fix: TableErrorCode.ResourceNotFound
  sdk/tables/Azure.Data.Tables/src/TableErrorCode.cs
Labels: customer-reported, Tables, Community Contribution

#24368 [FR] Update changelog
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#24371 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#24373 Sync eng/common directory with azure-sdk-tools for PR 2060
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#24365 [FormRecognizer] Updated README to include new V3 samples
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzePrebuiltDocument.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzeWithPrebuiltModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ExtractLayout.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ManageModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BuildModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithPrebuiltModelFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithPrebuiltModelFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModelsAsync.cs
Labels: Client, Cognitive - Form Recognizer

#24328 Constrain NetworkTimeout on IMDS calls from DefaultAzureCredential
  eng/Packages.Data.props
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core.TestFramework/src/TestServer.cs
  sdk/core/Azure.Core/tests/HttpWebRequestTransportFunctionalTest.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClientOptions.cs
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Microsoft.Azure.WebJobs.Extensions.ServiceBus.Tests.csproj
Labels: Azure.Identity

#24352 Enum type changed from extensible to simple
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingChannel.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingChannel.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingContent.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingContent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingFormat.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingFormat.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/StartCallRecordingRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/RecordingChannel.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/RecordingContent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/RecordingFormat.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
Labels: Communication

#24212 Update Docker container for Identity tests
  eng/containers/UbuntuNetCoreKeyring/Dockerfile
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/IdentityTestEnvironment.cs
  sdk/identity/tests.yml
Labels: Azure.Identity

#24374 [FR] Add Migration guide
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample5_TrainModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample6_ManageCustomModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample7_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample10_DifferentiateOutputModelsTrainedWithAndWithoutLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample11_ComposedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample12_RecognizeBusinessCardsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample12_RecognizeBusinessCardsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample13_RecognizeInvoicesFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample13_RecognizeInvoicesFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample14_RecognizeIdentityDocumentsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample14_RecognizeIdentityDocumentsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample15_DifferentiateOutputLabeledTables.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample1_RecognizeContentFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample3_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample4_StronglyTypingARecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample6_TrainModelWithFormsAndLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample8_CopyModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample9_FieldBoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/SampleSnippets.cs
Labels: Cognitive - Form Recognizer

#24339 Fix env var name in change log
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#24356 Regenerate from swagger
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsUserDisconnectedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsUserDisconnectedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiReleaseCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiReleaseCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiReleaseDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiReleaseDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiReleaseUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiReleaseUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementApiUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementProductCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementProductCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementProductDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementProductDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementProductUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementProductUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementSubscriptionCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementSubscriptionCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementSubscriptionDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementSubscriptionDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementSubscriptionUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementSubscriptionUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementUserCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementUserCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementUserDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementUserDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementUserUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementUserUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaLiveEventChannelArchiveHeartbeatEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaLiveEventChannelArchiveHeartbeatEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaLiveEventIncomingVideoStreamsOutOfSyncEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaLiveEventIngestHeartbeatEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaLiveEventIngestHeartbeatEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#24391 [Storage][Webjobs] Add BlobTrigger binding data coverage.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/BlobTriggerTests.cs
Labels: Storage

#24376 Prepare Azure.Core 1.20 release
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#24398 [FR] Add migration guide links and feedback from previous PR
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
Labels: Cognitive - Form Recognizer

#24259 Prepare Azure.Data.AppConfiguration 1.2.0 release
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#24397 Update test dependency versions
  eng/Packages.Data.props
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core/perf/Azure.Core.Perf.csproj
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/samples/Microsoft.Azure.WebJobs.Extensions.Clients.Samples.csproj
  sdk/extensions/Microsoft.Extensions.Azure/samples/Microsoft.Extensions.Azure.Samples.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests.AspNetCoreWebApp/Azure.Monitor.OpenTelemetry.Exporter.Integration.Tests.AspNetCoreWebApp.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/functionapp/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.Samples.Function.App.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/functionapp/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.Samples.Function.App.csproj
Labels: Storage, Azure.Core

#24405 [FR] Improving general document information
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzePrebuiltDocument.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromUriAsync.cs
Labels: Cognitive - Form Recognizer

#24407 [FR] Fix link in samples
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzeWithPrebuiltModel.md
Labels: Cognitive - Form Recognizer

#24421 [TA] Fix GetValuesAsync validation bug
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
Labels: Cognitive - Text Analytics

#24422 Fix Key Vault live tests for SKR
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.SecureKeyRelease.cs
  sdk/keyvault/test-resources.json
Labels: KeyVault

#24375 [FormRecognizer] Moving tests to canadacentral; enabling AAD tests; exposing headers
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanAuthenticateWithTokenCredential.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanAuthenticateWithTokenCredentialAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/AdminOps(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/AdminOps(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/CopyModel(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/CopyModel(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/GetAndListOperations(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/GetAndListOperations(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartCreateComposedModel(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartCreateComposedModel(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
  sdk/formrecognizer/tests.yml
Labels: Client, Cognitive - Form Recognizer

#24402 [Storage][Webjobs] Fix webjobs tests failures
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/UpdateQueueMessageVisibilityCommandTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/AzureStorageEndToEndTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/EventGridBlobTriggerEndToEndTests.cs
Labels: Storage

#24324 Add more ActivitySource docs
  sdk/core/Azure.Core/samples/Diagnostics.md
  sdk/core/Azure.Core/tests/samples/LoggingSamples.cs
Labels: Azure.Core

#24431 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: auto-merge

#24425 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#24413 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#24433 [Event Hubs] Release Prep for v5.6.2
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#24439 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#24440 [Event Hubs] Processor Release Prep for v5.6.2
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#24419 [TA] Stabilized flaky test "RecognizeHealthcareEntitiesBatchWithCancellation"
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
Labels: Cognitive - Text Analytics

#24325 [Event Hubs] Logging Sample Enhancements
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_AzureEventSourceListener.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample10_AzureEventSourceListenerTests.cs
Labels: Event Hubs, Client, Docs

#24408 [Event Hubs] Doc and Visibility Updates
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/ApiCompatBaseline.txt
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
Labels: Event Hubs, Client, APIChange

#24442 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#24403 Sync eng/common directory with azure-sdk-tools for PR 2065
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#24354 Add max message size
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateQueueOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateTopicOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueueProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueuePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusAdministrationClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceVersionExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicPropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/QueuePropertiesTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/TopicPropertiesTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/AuthenticateWithAADAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/AuthenticateWithSasCredentialAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/AuthenticateWithSharedKeyCredentialAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicQueueCrudOperations(False)Async.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicQueueCrudOperations(True)Async.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicRuleCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicSubscriptionCrudOperationsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicTopicCrudOperations(False)Async.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicTopicCrudOperations(True)Async.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/CorrelationFilterPropertiesAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/GetNamespacePropertiesAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/GetTopicRuntimeInfoAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/SqlFilterParamsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/ThrowsIfEntityAlreadyExistsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/ThrowsIfEntityDoesNotExistAsync.json
  sdk/servicebus/test-resources.json
Labels: Service Bus

#24351 Storage test infra refactor
  sdk/storage/Azure.Storage.Blobs.Batch/tests/Azure.Storage.Blobs.Batch.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/tests/BlobBatchClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasBuilderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/DisposingContainer.cs
  sdk/storage/Azure.Storage.Blobs/tests/ImmutableStorageWithVersioningTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/TenantDiscoveryBlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/ClientBuilder.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/ServiceEndpoint.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TenantConfigurationBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeSasBuilderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DisposingFileSystem.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/CopySourceAuthTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DisposingDirectory.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DisposingFile.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DisposingShare.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.Queues/tests/DisposingQueue.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueTestBase.cs
  sdk/storage/Azure.Storage.Queues/tests/ServiceClientTests.cs
Labels: Storage

#24461 Update CallingServer sdk version for beta release.
  sdk/communication/Azure.Communication.CallingServer/CHANGELOG.md
  sdk/communication/Azure.Communication.CallingServer/README.md
Labels: Communication

#24479 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#24511 Prepare for release
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
Labels: Schema Registry

#24503 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Azure.AI.Language.QuestionAnswering.csproj
Labels: auto-merge

#24494 Sync eng/common directory with azure-sdk-tools for PR 2064
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#24505 Add Key Rotation Policy support to Key Vault
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample8_KeyRotation.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRotationLifetimeAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRotationPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRotationPolicyAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.KeyRotation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyRotationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyVaultOnlyAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmCryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SampleFixture.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/GetKeyRotationPolicyReturnsDefault.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/GetKeyRotationPolicyReturnsDefaultAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/GetKeyRotationPolicyThrowsForMissingKey.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/GetKeyRotationPolicyThrowsForMissingKeyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/RotateKeyCreatesNewVersion.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/RotateKeyCreatesNewVersionAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/UpdateKeyRotationPolicy.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/UpdateKeyRotationPolicyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/UpdateKeyRotationPolicyThrowsForMissingKey.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/UpdateKeyRotationPolicyThrowsForMissingKeyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample8_KeyRotation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample8_KeyRotationAsync.cs
  sdk/keyvault/test-resources.json
Labels: KeyVault

#24483 Sync eng/common directory with azure-sdk-tools for PR 2068
  eng/common/pipelines/templates/steps/devops-variables-clear.yml
  eng/common/pipelines/templates/steps/devops-variables-set.yml
Labels: EngSys, Central-EngSys

#24522 OBO constructor feedback
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/tests/OnBehalfOfCredentialTests.cs
Labels: Azure.Identity

#25022 bump data props version of compute
  eng/Packages.Data.props
  sdk/resourcemanager/Azure.ResourceManager/docs/MigrationGuide.md
  sdk/resourcemanager/Azure.ResourceManager/tests/Azure.ResourceManager.Tests.csproj
  sdk/resourcemanager/Azure.ResourceManager/tests/Samples/MigrationGuide.cs
  sdk/storage/Azure.Storage.Blobs/tests/Azure.Storage.Blobs.Tests.csproj
Labels: Storage

#25007 Make error handler public
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusExtensionConfigProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#24839 Add Avro extensions
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/IMessageWithContentType.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.sln
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Properties/AssemblyInfo.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoder.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroObjectEncoderOptions.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroObjectSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.Tests.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Samples/Sample01_ReadmeSnippets.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventData.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventDataAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeWithNullSchemaId.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeWithNullSchemaIdAsync.json
Labels: Service Bus, Event Hubs, Schema Registry

#25020 Increment version for communication releases
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
Labels: auto-merge, Communication

#25024 [Event Hubs] Buffered Producer Flush and Clear
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client
