Repository Azure/azure-sdk-for-net, pull requests merged in 2021-12, with the labels that each got.

#25591 added test for DiskRestorePoint and AcceleratedNetwork
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/RestorePointTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/Compute.Tests.RestorePointTests/CreateRpcAndRestorePoints.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/DiskRPScenarioTests/Snapshot_CRUD_WithAcceleratedNetwork.json
Labels: Compute

#25599 Increment version for resourcemanager releases
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#25601 prepare release for compute
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
Labels: Compute

#25602 prepare release for keyvault
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
Labels: KeyVault

#25603 prepare release for network
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
Labels: Network

#25606 prepare release for storage
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
Labels: Storage

#25610 Increment version for deviceupdate releases
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/CHANGELOG.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/src/Azure.ResourceManager.DeviceUpdate.csproj
Labels: auto-merge

#23781 add tables changelog link to tables readme
  sdk/tables/Azure.Data.Tables/README.md
Labels: Tables

#25618 Fixed bug where SAS Builders were not properly parsing raw SAS permis…
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasBuilderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/ContainerPermissionsRawPermissions(%IEMFTLYXDWCAR%).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/ContainerPermissionsRawPermissions(%IEMFTLYXDWCAR%)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/ContainerPermissionsRawPermissions(%racwdxyltfmei%).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/ContainerPermissionsRawPermissions(%racwdxyltfmei%)Async.json
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Sas/AccountSasBuilder.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeSasBuilderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%)Async.json
  sdk/storage/Azure.Storage.Files.Shares/tests/FileSasBuilderTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%).json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%)Async.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%).json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%)Async.json
  sdk/storage/Azure.Storage.Queues/tests/QueueSasBuilderTests.cs
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%).json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueSasBuilderTests/AccountPermissionsRawPermissions(%IFTPUCALYXDWR%)Async.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%).json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/QueueSasBuilderTests/AccountPermissionsRawPermissions(%rwdxylacuptfi%)Async.json
Labels: Storage

#25578 Add tests for RequestFailedException constructor
  eng/Directory.Build.Common.props
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core.TestFramework/src/MockResponse.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/Shared/HttpMessageSanitizer.cs
  sdk/core/Azure.Core/tests/FailedResponseExceptionTests.cs
  sdk/core/Azure.Core/tests/ResponseTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
Labels: Azure.Core

#25586 [Event Hubs Client] Idempotent Error Handling
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.sln
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Azure.Messaging.EventHubs.Perf.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducerPool.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/IdempotentPublishingLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Event Hubs, Client

#25408 Sync eng/common directory with azure-sdk-tools for PR 2248
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#25563 Make HttpPipeline.CreateMessage overload throw when context is null
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
Labels: Azure.Core

#25633 fix readme of the 5 ring0 rps
  sdk/compute/Azure.ResourceManager.Compute/README.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/README.md
  sdk/network/Azure.ResourceManager.Network/README.md
  sdk/resources/Azure.ResourceManager.Resources/README.md
  sdk/storage/Azure.ResourceManager.Storage/README.md
Labels: Storage, KeyVault, Compute

#25644 update code of cdn and eventhub
  sdk/cdn/Azure.ResourceManager.Cdn/samples/README.md
  sdk/cdn/Azure.ResourceManager.Cdn/samples/Sample1_ManagingCdnOriginGroups.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdCustomDomainData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdEndpointData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdOriginData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdOriginGroupData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdRouteData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdRuleData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdRuleSetData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdSecretData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/AfdSecurityPolicyData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CdnCustomDomainData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CdnEndpointData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CdnOriginData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CdnOriginGroupData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CdnWebApplicationFirewallPolicyData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/EdgeNode.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/ManagedRuleSetDefinition.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/ProfileData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/ProxyResource.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/Resource.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/TrackedResource.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/README.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/AuthorizationRuleData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/ConsumerGroupData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/DisasterRecoveryData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/EventHubClusterData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/EventHubData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/EventHubNamespaceData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/NetworkRuleSetData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/PrivateEndpointConnectionData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/PrivateLinkResource.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/ProxyResource.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/SchemaGroupData.Serialization.cs
Labels: Event Hubs

#25647 Increment version for webpubsub releases
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Azure.ResourceManager.WebPubSub.csproj
Labels: auto-merge

#25640 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#25635 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Compute, auto-merge

#25646 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Azure.ResourceManager.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#25641 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: auto-merge

#25638 Increment version for keyvault releases
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Azure.ResourceManager.KeyVault.csproj
Labels: KeyVault, auto-merge

#25637 Increment version for resources releases
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge

#25650 Increment version for cdn releases
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Azure.ResourceManager.Cdn.csproj
Labels: auto-merge

#25615 Sync eng/common directory with azure-sdk-tools for PR 2352
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: EngSys, Central-EngSys

#25593 Resolve several Key Vault backlog issues
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalBase.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalOfT.cs
  sdk/core/Azure.Core/tests/OperationInternalTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/DeleteCertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/RecoverDeletedCertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/DeleteKeyOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/RecoverDeletedKeyOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/DeleteSecretOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/ObjectId.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/RecoverDeletedSecretOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/KeyVaultIdentifier.cs
Labels: KeyVault

#25653 Increment version for servicebus releases
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Azure.ResourceManager.ServiceBus.csproj
Labels: Service Bus, auto-merge

#25659 Sync eng/common directory with azure-sdk-tools for PR 2372
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#25651 Increment version for eventhub releases
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Azure.ResourceManager.EventHubs.csproj
Labels: Event Hubs, auto-merge

#25668 Sync eng/common directory with azure-sdk-tools for PR 2380
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#25675 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: auto-merge

#25684 [Event Hubs] Fix Snippet Syntax
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample05_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample05_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample06_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Snippets/MigrationGuideSnippets.cs
Labels: Event Hubs, Client

#25654 [Event Hubs Client] AMQP Cancellation Support
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Event Hubs, Client

#25686 consume swagger changes for addparticipantresult
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallingServerModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantResult.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MuteParticipantRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/UnmuteParticipantRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallingServerClient/CallingServerClientTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallingServerLiveTestBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallingServerClientLiveTests/RunCreateAddRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallingServerClientLiveTests/RunCreateAddRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreateAddRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreateAddRemoveHangupScenarioTestsAsync.json
Labels: Communication

#25678 Add RequestOptions to Core.Experimental
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/HttpPipelineExtensions.cs
  sdk/core/Azure.Core.Experimental/src/RequestOptions.cs
  sdk/core/Azure.Core.Experimental/tests/RequestOptionsTests.cs
Labels: Azure.Core

#25680 AOA Conversion cleanup
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/AssetConversionOperation.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/AssetFileType.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/AssetFileTypeNotSupportedException.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Customizations/Models/AssetConversionConfiguration.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Customizations/Models/AssetConversionProperties.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Customizations/Models/Quaternion.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Customizations/Models/TrajectoryPose.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Customizations/Models/Vector3.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Customizations/Models/Vector4.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/ObjectAnchorsConversionClient.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/ObjectAnchorsConversionClientOptions.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/ObjectAnchorsConversionModelFactory.cs
Labels: auto-merge

#25697 Don't start proxy in live mode
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/E2eTestBase.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/TestUrlSanitizer.cs
Labels: Azure.Core

#25504 Change WPS ConnectionContext.States to a Dict<string, BinaryData>
  eng/Packages.Data.props
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Bindings/ConnectionStatesNewtonsoftConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Bindings/JsonElementJsonConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Bindings/Output/WebPubSubAction.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Bindings/WebPubSubContextJsonConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Config/WebPubSubConfigProvider.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Services/WebPubSubRequestExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Trigger/WebPubSubTriggerDispatcher.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Utilities.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/JObjectTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubRequestExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/ServiceRequestHandlerAdapter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/ServiceRequestHandlerTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/WebPubSubEventRequestTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/api/Microsoft.Azure.WebPubSub.Common.netstandard2.0.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Internal/StringifiedDictionary.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Microsoft.Azure.WebPubSub.Common.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/ConnectEventRequest.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/DisconnectedEventRequest.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/PreflightRequest.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/UserEventRequest.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/WebPubSubEventRequest.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/ConnectEventResponse.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/EventErrorResponse.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/UserEventResponse.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/WebPubSubEventResponse.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Shared/ConnectionStatesConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Shared/WebPubSubStatusCode.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/WebPubSubConnectionContext.cs
Labels: auto-merge

#25702 update servicebus samples link
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/README.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Sample1_ManagingTopics.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Sample2_ManagingQueues.md
Labels: Service Bus

#25700 Respect service throttling
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusRetryPolicy.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Service Bus

#25709 [Event Hubs] Solution Infrastructure Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/Azure.Messaging.EventHubs.Experimental.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/Azure.Messaging.EventHubs.Experimental.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Azure.Messaging.EventHubs.Experimental.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.snlf.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.slnf
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Azure.Messaging.EventHubs.Perf.sln
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Azure.Messaging.EventHubs.Perf.slnf
Labels: Event Hubs, Client

#25338 [Search] Move track 2 solution file in the package folder
  sdk/search/Azure.Search.Documents/Azure.Search.Documents.sln
Labels: Search

#25721 [Event Hubs] Restore Experimental GA Package Reference
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Azure.Messaging.EventHubs.Experimental.csproj
Labels: Event Hubs, Client

#25717 Sync eng/common directory with azure-sdk-tools for PR 2327
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#25728 DiagnosticScope changes
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClient.cs
Labels: Communication

#25724 Add Live guard
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
Labels: Azure.Core

#25568 [WebJobs.EventHub] Add listener details
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
Labels: Event Hubs

#25566 [WebJobs.ServiceBus] Add listener details
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
Labels: Service Bus

#25691 [Signal] Hotfix: Resolve "package restore problem"
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Auth/DefaultSecurityTokenValidator.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#25741 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: auto-merge

#25735 Increment version for signalr releases
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#25746 Migrate Tables test project to NUnit
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/Microsoft.Azure.WebJobs.Extensions.Tables.sln
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/test/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/test/WebJobsShared/FakeStorageAccountProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableExtensions.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/EntityPropertyToTConverterFactoryTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/HostCallTableTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/PocoEntityArgumentBindingProviderTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/PocoEntityCollectorBinderTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/PocoEntityValueBinderTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/PocoToTableEntityConverterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TToEntityPropertyConverterFactoryTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityArgumentBindingProviderTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityCollectorBinderTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityToPocoConverterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityValueBinderTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityWriterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableFilterFormatterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/ExceptionAssert.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/Extensions.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeAccount.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeActivator.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeQueueClient.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeStorageAccount.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeStorageAccountExtensions.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeStorageAccountProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeTableClient.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeTypeLocator.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FunctionalTest.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/LogMessage.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestExceptionHandler.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestExceptionHandlerFactory.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestHelpers.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestJobHost.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestLogger.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestLoggerProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestProgram.cs
Labels: Tables

#25589 Remove canary from default weekly live testing clouds
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#25731 Sync eng/common directory with azure-sdk-tools for PR 2381
  eng/common/pipelines/templates/steps/write-filesystemmetrics.yml
  eng/common/scripts/Write-FileSystemMetrics.ps1
Labels: EngSys, Central-EngSys

#25736 Migrate communication to test proxy
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallingServerLiveTestBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallingServerRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatLiveTestBase.cs
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceipt_GS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceipt_GSAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_T.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_TAsync.json
  sdk/communication/Azure.Communication.Common/tests/CommunicationRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationTestEnvironment.cs
  sdk/communication/Azure.Communication.Identity/tests/Infrastructure/CommunicationIdentityClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/CommunicationIdentityClientLiveTests/GetTokenForTeamsUserWithEmptyTokenShouldThrow.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/CommunicationIdentityClientLiveTests/GetTokenForTeamsUserWithEmptyTokenShouldThrowAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/Infrastructure/CommunicationRelayClientLiveTestBase.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Infrastructure/PhoneNumbersClientLiveTestBase.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Infrastructure/PhoneNumbersClientRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientRecordedTestSanitizer.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/ContainerRegistryRecordedTestSanitizer.cs
  sdk/core/Azure.Core.TestFramework/src/Generated/Models/BodyRegexSanitizer.Serialization.cs
  sdk/core/Azure.Core.TestFramework/src/Generated/Models/BodyRegexSanitizer.cs
  sdk/core/Azure.Core.TestFramework/src/testproxy.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusRecordedTestSanitizer.cs
Labels: Service Bus, Azure.Core, Communication

#25718 Sync eng/common directory with azure-sdk-tools for PR 2363
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#25777 Add hotfix changes
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusRetryPolicy.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Service Bus

#25792 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#25766 update alternate_caller_id type to PhoneNumberIdentifier
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClient.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallingServerClient/CallingServerClientTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/Sample1_CallClient/CreateCall.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/Sample1_CallClient/CreateCallAsyncAsync.json
Labels: Communication

#25732 `ShareFileClient` uses `PartitionedUploader`
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#25793 Sync eng/common directory with azure-sdk-tools for PR 2393
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#25740 [WebPubSub] Error handling of non-sdk states set.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Bindings/ConnectionStatesNewtonsoftConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Services/WebPubSubRequestExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Trigger/WebPubSubTriggerDispatcher.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Utilities.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/JObjectTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/ConnectEventRequest.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/UserEventRequest.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Shared/ConnectionStatesConverter.cs
Labels: auto-merge

#25751 [Storage] Added Container Filter Blobs by Tag
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Batch_SasUri_NotOwner.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Batch_SasUri_NotOwnerAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_Convenience_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_Convenience_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_Convenience_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_Convenience_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerFilterBlobsHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/FilterBlobsAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobContainerSasPermissions.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithContainerSAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithContainerSASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerIdentitySAS(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerIdentitySAS(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerSAS(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerSAS(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/SetPermissions_BlobContainerSasPermissions(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/SetPermissions_BlobContainerSasPermissions(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerIdentitySas_AllPermissions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerIdentitySas_AllPermissionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerSas_AllPermissions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerSas_AllPermissionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FilterBlobsByTag.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FilterBlobsByTagAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(Filter).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(Filter)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
Labels: Storage

#25805 Clean-up Azurite install template
  sdk/storage/tests-install-azurite.yml
Labels: Storage

#25804 Fix deserialization of DateTime types and allow type coercion between DateTime and DateTimeOffset peroperties
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/TableEntityTests.cs
Labels: Tables

#25788 Re-enable tables functional tests
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/Microsoft.Azure.WebJobs.Extensions.Tables.sln
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/api/Microsoft.Azure.WebJobs.Extensions.Table.netstandard2.0.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/StorageAccount.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/HostCallTableTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityLiveTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableEntityTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TableTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TablesLiveTestBase.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TablesLiveTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Tables/TablesTestEnvironment.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/ExceptionAssert.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/Extensions.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeAccount.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeActivator.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeQueueClient.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeStorageAccount.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeStorageAccountExtensions.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FunctionalTest.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestHelpers.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestJobHost.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestProgram.cs
Labels: Tables

#25811 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus

#25809 Sync eng/common directory with azure-sdk-tools for PR 2402
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#25813 Add byte array output binding
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/OutputBinding/EventGridAsyncCollector.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/JobhostEndToEnd.cs
Labels: Event Grid

#25818 Sync eng/common directory with azure-sdk-tools for PR 2408
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#25831 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#25832 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Microsoft.Azure.WebPubSub.Common.csproj
Labels: auto-merge

#25838 [Event Hubs] Fix filename typo
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.slnf
Labels: Event Hubs, Client

#25789 Update Autorest version to 20211207.1
  eng/Packages.Data.props
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AnalyzeDocumentOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BuildModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/DocumentAnalysisAnalyzeDocumentHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/DocumentAnalysisBuildDocumentModelHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/DocumentAnalysisComposeDocumentModelHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/DocumentAnalysisCopyDocumentModelToHeaders.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/DocumentAnalysisRestClient.cs
Labels: Cognitive - Form Recognizer

#25841 Relax generic constraints for TableClient methods
  sdk/core/Azure.Core/src/Shared/Argument.cs
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TableEntityExtensions.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
Labels: Azure.Core, Tables

#25847 Sync eng/common directory with azure-sdk-tools for PR 2412
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, auto-merge, Central-EngSys

#25848 Migrate IoT to test proxy
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/TestUrlSanitizer.cs
  sdk/iot/Azure.IoT.Hub.Service/tests/CustomRequestSanitizer.cs
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatch.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTag.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTagAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTag.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTagAsync.json
Labels: IoT, Azure.Core, Digital Twins

#25854 Sync eng/common directory with azure-sdk-tools for PR 2415
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#25857 Sync eng/common directory with azure-sdk-tools for PR 2417
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#25858 Update readme for Compute Mgmt and Communication.PhoneNumbers
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/OSProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointProvisioningDetails.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointProvisioningDetails.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VaultCertificate.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetOSProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/WinRMListener.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachinesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestorePointData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachine.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute, Communication

#25812 [Search] Update REST commit to latest from main - b8d48bca
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/OcrSkillLanguage.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/QueryLanguage.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/CONTRIBUTING.md
Labels: Search

#25559 [Batch] Fixed OutputFileBlobContainerDestination null reference exception
  sdk/batch/Microsoft.Azure.Batch/src/OutputFileBlobContainerDestination.cs
Labels: Batch

#25866 [Storage][Files] OpenRead - mention exception thrown for other failures
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#25742 fix servicebus tests
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Helpers/ServiceBusTestBase.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/DisasterRecoveryTests/CreateGetUpdateDeleteDisasterRecovery.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/DisasterRecoveryTests/CreateGetUpdateDeleteDisasterRecoveryAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/CreateDeleteQueue.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/CreateDeleteQueueAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/GetAllQueues.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/GetAllQueuesAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/QueueAuthorizationRuleRegenerateKey.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/QueueAuthorizationRuleRegenerateKeyAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/QueueCreateGetUpdateDeleteAuthorizationRule.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/QueueCreateGetUpdateDeleteAuthorizationRuleAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/UpdateQueue.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/QueueTests/UpdateQueueAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/RuleTests/CreateGetUpdateDeleteRule.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/RuleTests/CreateGetUpdateDeleteRuleAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/CreateDeleteNamespace.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/CreateDeleteNamespaceAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/CreateNamespaceWithZoneRedundant.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/CreateNamespaceWithZoneRedundantAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/GetAllNamespaces.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/GetAllNamespacesAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/GetNamespacesInSubscription.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/GetNamespacesInSubscriptionAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/GetPrivateLinkResources.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/GetPrivateLinkResourcesAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/NamespaceAuthorizationRuleRegenerateKey.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/NamespaceAuthorizationRuleRegenerateKeyAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/NamespaceCreateGetUpdateDeleteAuthorizationRule.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/NamespaceCreateGetUpdateDeleteAuthorizationRuleAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/SetGetNetworkRuleSets.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/SetGetNetworkRuleSetsAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/StandardToPremiumMigration.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/StandardToPremiumMigrationAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/UpdateNamespace.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/ServiceBusNamespaceTests/UpdateNamespaceAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/SubscriptionTests/CreateGetUpdateDeleteSubscription.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/SubscriptionTests/CreateGetUpdateDeleteSubscriptionAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/CreateDeleteTopic.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/CreateDeleteTopicAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/GetAllTopics.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/GetAllTopicsAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/TopicAuthorizationRuleRegenerateKey.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/TopicAuthorizationRuleRegenerateKeyAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/TopicCreateGetUpdateDeleteAuthorizationRule.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/TopicCreateGetUpdateDeleteAuthorizationRuleAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/UpdateTopic.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/SessionRecords/TopicTests/UpdateTopicAsync.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/DisasterRecoveryTests.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/QueueTests.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/RuleTests.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/ServiceBusNamespaceTests.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/SubscriptionTests.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/TopicTests.cs
Labels: Service Bus

#25896 Fix GenerateSasUri on TableClient from TableServiceClient
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: Tables

#25877 Update autorest.csharp to 20211210.4
  eng/Packages.Data.props
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/api/Azure.Verticals.AgriFood.Farming.netstandard2.0.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ApplicationDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/AttachmentsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/BoundariesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropVarietiesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/HarvestDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ImageProcessingClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthProvidersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthTokensClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/PlantingDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ScenesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonalFieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/TillageDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/WeatherClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Azure.Communication.CallingServer.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerIdentityServiceClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerIdentityServiceClient.cs
  sdk/core/Azure.Core/tests/TestClients/LowLevelClient/PetStoreClient.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Customizations/PurviewMetadataPolicyClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Customizations/PurviewMetadataRolesClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataPolicyClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataRolesClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/api/Azure.Analytics.Purview.Catalog.netstandard2.0.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCatalogClient.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCollections.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewEntities.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewGlossaries.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewLineages.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewRelationships.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewTypes.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewClassificationRuleClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewDataSourceClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanningServiceClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleAssignmentsClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleDefinitionsClient.cs
  sdk/template-dpg/Azure.Template.Generated/src/Generated/TemplateServiceClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/HealthApiClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/WebPubSubServiceClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_extensions.cs
Labels: Azure.Core, Communication

#25855 [Search] Update error message comparison for invalid document update
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/IndexingTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/IndexingTests/ThrowsOnInvalidDocument.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/IndexingTests/ThrowsOnInvalidDocumentAsync.json
Labels: Search

#25879 Migrate form recognizer to test-proxy
  sdk/core/Azure.Core.TestFramework/src/ProxyTransport.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
Labels: Azure.Core, Cognitive - Form Recognizer

#25823 Update Track 2 Identity Dataplane Tests
  sdk/identity/Azure.Identity/tests/IdentityRecordedTestSanitizer.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/ManagedIdentityCredentialSFLiveTests/ValidateSystemAssignedIdentity.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ManagedIdentityCredentialSFLiveTests/ValidateSystemAssignedIdentityAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ManagedIdentityCredentialSFLiveTests/ValidateUserAssignedIdentity.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ManagedIdentityCredentialSFLiveTests/ValidateUserAssignedIdentityAsync.json
Labels: Azure.Identity

#25910 Add byte array output binding
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/OutputBinding/EventGridAsyncCollector.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/JobhostEndToEnd.cs
Labels: Event Grid

#25914 Increment version for eventgrid releases
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid, auto-merge

#25916 Fix Sku issue in Azure.ResourceManager
  eng/Packages.Data.props
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Sample1_ManagingConfigurationStores.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/ConfigurationStoreData.Serialization.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Samples/Sample1_ManagingConfigurationStores.cs
  sdk/cdn/Azure.ResourceManager.Cdn/samples/Sample1_ManagingCdnOriginGroups.md
  sdk/cdn/Azure.ResourceManager.Cdn/samples/Sample2_ManagingAfdRules.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/CdnWebApplicationFirewallPolicyData.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CdnWebApplicationFirewallPolicyData.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/tests/Helper/ResourceDataHelper.cs
  sdk/cdn/Azure.ResourceManager.Cdn/tests/Samples/Sample1_ManagingCdnOriginGroups.cs
  sdk/cdn/Azure.ResourceManager.Cdn/tests/Samples/Sample2_ManagingAfdRules.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/AvailabilitySetData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/DedicatedHostData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Samples/ChangeLog.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Sample1_ManagingKeyVaults.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Samples/Changelog.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Samples/Sample1_ManagingKeyVaults.cs
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager/src/PsuedoGenerated/Resources/GenericResourceData.cs
  sdk/resourcemanager/Azure.ResourceManager/src/PsuedoGenerated/Resources/Models/GenericResourceData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/PsuedoGenerated/Resources/Models/Sku.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/PsuedoGenerated/Resources/Models/Sku.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/ResourceManagerTestBase.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/GenericResourceDataTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/ResourceListOperationsTest.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/SkuTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/TestAssets/GenericResourceData/SerializationTestType1.json
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/TestAssets/GenericResourceData/SerializationTestType2.json
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/ElasticPoolData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/InstancePoolData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/JobAgentData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/ManagedInstanceData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/SqlDatabaseData.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/StorageAccountData.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Samples/ChangeLog.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/WebPubSub.cs
Labels: Storage, KeyVault, Event Hubs, Compute, App Configuration

#25899 [Search] Remove all instances of [IgnoreOnNet5]
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/GetDocumentTests.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/IndexingTests.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample04_FieldBuilderIgnore.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample05_IndexingDocuments.cs
Labels: Search

#25927 [Search] Ignore flaky tests
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
  sdk/search/Azure.Search.Documents/tests/Batching/ManualRetryDelayTests.cs
Labels: Search

#25925 Local Test Timeouts
  sdk/core/Azure.Core.TestFramework/src/ClientTestBase.cs
Labels: Azure.Core

#25932 Re-enable Tables converter tests
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoToTableEntityConverter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoTypeBinder.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableEntityToPocoConverter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/PocoToTableEntityConverterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableEntityToPocoConverterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableEntityValueBinderTests.cs
Labels: Tables

#25937 Add cosmos testing and more coverage for table creation scenario
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableEntityWriter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/GenericTestCaseAttribute.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableCreationTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableEntityLiveTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TablesLiveTestBase.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TablesLiveTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TablesTestEnvironment.cs
Labels: Tables

#25933 Sync eng/common directory with azure-sdk-tools for PR 2442
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#25921 [Messaging] AMQP Library Version Bump
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpTransactionEnlistment.cs
Labels: Client, EngSys

#25955 Add TokenCredential auth support
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoTypeBinder.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/StorageAccountProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableAttributeBindingProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TablesAccountProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TablesExtensionConfigProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TablesWebJobsBuilderExtensions.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableConnectionTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TablesLiveTestBase.cs
Labels: Tables

#25905 Updates to READMEs
  eng/.docsettings.yml
  sdk/anomalydetector/Azure.AI.AnomalyDetector/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/Readme.md
  sdk/storage/Azure.Storage.Blobs.Batch/README.md
  sdk/storage/Azure.Storage.Blobs.Batch/samples/Sample03a_Batching.cs
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Queues/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/Samples/WebPubSubSamples.HelloWorld.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
Labels: App Configuration, MQ

#25956 Add LRU cache
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/LruCache.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoder.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/LruCacheTests.cs
Labels: Schema Registry

#25928 Changes for new API Version (2021-08-01) for Azure Resource Mover
  eng/mgmt/mgmtmetadata/resourcemover_resource-manager.txt
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/AzSdk.RP.props
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/AvailabilitySetResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/CreatedByType.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/LoadBalancerResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/MoveCollection.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/MoveResource.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/NetworkInterfaceResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/NetworkSecurityGroupResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/PublicIPAddressResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/SqlDatabaseResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/SqlElasticPoolResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/SystemData.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/VirtualMachineResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/Models/VirtualNetworkResourceSettings.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/ResourceMoverServiceAPIClient.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Generated/SdkInfo_ResourceMoverServiceAPI.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Microsoft.Azure.Management.Migrate.ResourceMover.csproj
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/src/Properties/AssemblyInfo.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/ScenarioTests/ResourceMoverTests.cs
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/CreateMoveCollectionAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/CreateOrUpdateMoveResourceAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/DeleteMoveCollectionAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/DeleteMoveResourceAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/GetMoveCollectionAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/GetMoveResourceAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/GetUnresolvedDependenciesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/InitiateBulkRemoveForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/InitiateCommitForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/InitiateDiscardForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/InitiateMoveForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/InitiatePrepareForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/ListMoveResourcesInMoveCollectionAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/ResolveDependenciesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/UpdateMoveCollectionAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/ValidateBulkRemoveForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/ValidateCommitForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/ValidateDiscardForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/ValidateInitiateMoveForMoveResourcesAsync.json
  sdk/resourcemover/Microsoft.Azure.Management.Migrate/tests/SessionRecords/ResourceMoverTests/ValidatePrepareForMoveResourcesAsync.json
Labels: customer-reported, Community Contribution

#25926 [Storage] File/Directory Rename Metadata
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileRenameOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/RenameAsync_Metadata.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/RenameAsync_MetadataAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/RenameAsync_Metadata.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/RenameAsync_MetadataAsync.json
Labels: Storage

#25977 Fix anchor in OpenTelemetry doc
  sdk/core/Azure.Core/samples/Diagnostics.md
Labels: Azure.Core

#25964 Start proxy only once
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
Labels: Azure.Core

#25970 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEvent.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomain.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomainAAD.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomainAADAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomainAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventUsingSAS.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventUsingSASAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithCustomObjectPayload.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithCustomObjectPayloadAndCustomSerializer.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithCustomObjectPayloadAndCustomSerializerAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventWithCustomObjectPayloadAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEvent.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventAAD.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventAADAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/LongRunningOperation/VirtualHubRouteTableV2SCreateOrUpdateOperation.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/LongRunningOperation/VirtualHubRouteTableV2SDeleteOperation.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualHubRouteTableV2.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualHubRouteTableV2Collection.cs
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Extensions/ResourceGroupExtensions.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/websites/Azure.ResourceManager.AppService/api/Azure.ResourceManager.AppService.netstandard2.0.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Extensions/ResourceGroupExtensions.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Extensions/SubscriptionExtensions.cs
Labels: Storage, KeyVault, Compute

#25975 Regenerated Files based on latest swagger
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRenameHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRenameHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#25976 Add README to table extension
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/README.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/BindTableClient.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/InputMultipleEntitiesFilter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/InputSingleEntity.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/InputSingleEntityModel.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/MyEntity.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/OutputMultipleModel.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/OutputMultiplecs.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/OutputSingleEntity.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Samples/OutputSingleEntityModel.cs
Labels: Tables

#25992 Use proj ref in ARM test projects and add storage to ARM core ci
  sdk/storage/Azure.ResourceManager.Storage/tests/Azure.ResourceManager.Storage.Tests.csproj
  sdk/storage/ci.yml
Labels: Storage

#25960 Update swagger link and generate updated code
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
Labels: customer-reported, Community Contribution, Communication

#25958 Sync eng/common directory with azure-sdk-tools for PR 2447
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#25974 Upgrade MSAL to the latest version
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/IdentityRecordedTestBase.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialFederatedTokenLiveTests.cs
  sdk/identity/Azure.Identity/tests/StaticCachesUtilities.cs
  sdk/identity/Azure.Identity/tests/TokenCacheTests.cs
  sdk/identity/Azure.Identity/tests/TokenCredentialOptionsTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialLiveTests.cs
Labels: Azure.Identity

#25979 Update DataLakeFileClient.cs to fix a typo
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
Labels: Storage

#25995 update eventhubs tests to use proj ref
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Azure.ResourceManager.EventHubs.Tests.csproj
  sdk/eventhub/ci.mgmt.yml
Labels: Event Hubs

#25984 Don't import dev cert
  eng/Packages.Data.props
  eng/scripts/Language-Settings.ps1
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
Labels: Event Grid, Azure.Core

#25998 Remove copied test shared code from Tables extension
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/PocoToTableEntityConverterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TableEntityToPocoConverterTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/ExceptionAssert.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/FakeTypeLocator.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/LogMessage.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestExceptionHandler.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestExceptionHandlerFactory.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestHelpers.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestJobHost.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestLogger.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/WebJobsShared/TestLoggerProvider.cs
Labels: Tables

#26000 Use Microsoft.Azure.WebJobs.Sources
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Properties/AssemblyInfo.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/IDelegatingHandlerProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/OutputConverter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Properties/AssemblyInfo.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableClientHelpers.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/CloudStorageAccountParameterDescriptor.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/CompositeObjectToTypeConverter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/IObjectToTypeConverter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/IdentityConverter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/JsonSerialization.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/TypeUtility.cs
Labels: Tables

#25999 Ignore server busy test
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Service Bus

#26004 Disable failing test and increase test-proxy parsing time
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
  sdk/core/Azure.Core/tests/ClientTestBaseMultiVersionTestsWithSpecificVersions.cs
Labels: Azure.Core

#26007 Add resourcemanager to pr path
  sdk/appconfiguration/ci.yml
  sdk/cosmosdb/ci.yml
  sdk/deviceupdate/ci.yml
  sdk/dns/ci.yml
  sdk/machinelearningservices/ci.yml
  sdk/servicebus/ci.mgmt.yml
  sdk/sqlmanagement/ci.yml
  sdk/webpubsub/ci.yml
Labels: Service Bus, App Configuration

#26003 use common switch for mgmt plane to turn off new proxy
  common/ManagementTestShared/Redesign/ManagementRecordedTestBase.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/ComputeTestBase.cs
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/tests/DeviceUpdateManagementTestBase.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Helpers/EventHubTestBase.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTestsBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkServiceClientTestBase.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/ResourceManagerTestBase.cs
  sdk/resources/Azure.ResourceManager.Resources/tests/ResourcesTestBase.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Helpers/ServiceBusTestBase.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Helpers/StorageTestBase.cs
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute

#26017 Clearer pageSizeHint description
  sdk/core/Azure.Core/src/AsyncPageable.cs
  sdk/core/Azure.Core/src/Pageable.cs
Labels: Azure.Core

#26009 [Eventhubs]Remove autorest package reference in test project
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Azure.ResourceManager.EventHubs.Tests.csproj
Labels: Event Hubs

#26055 docs(storage): changes for beta5
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/README.md
Labels: Storage

#26061 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/OSFamilyCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/OSVersionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineExtensionImageCollection.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/api/Azure.ResourceManager.CosmosDB.netstandard2.0.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/RestorableDatabaseAccountCollection.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/RestorableDatabaseAccountTests.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/api/Azure.ResourceManager.Sql.netstandard2.0.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/DeletedServerCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Extensions/ResourceGroupExtensions.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/InstanceFailoverGroupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ResourceGroupLongTermRetentionBackupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ResourceGroupLongTermRetentionManagedInstanceBackupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ServerTrustGroupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SqlTimeZoneCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SubscriptionLongTermRetentionBackupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SubscriptionLongTermRetentionManagedInstanceBackupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SubscriptionUsageCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Scenario/InstanceFailoverGroupTests.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Scenario/ServerTrustGroupTests.cs
Labels: Compute

#26050 Increment version for resourcemanager releases
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#26066 docs(cosmos): prepare change log for beta2
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
Labels: Storage

#26058 [Resources][Compute][KeyVault] Update changelog and readme
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/README.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/README.md
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/README.md
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
Labels: KeyVault, Compute

#25522 Avoid always locking in BearerTokenAuthenticationPolicy
  sdk/core/Azure.Core/src/Pipeline/BearerTokenAuthenticationPolicy.cs
Labels: Azure.Core

#26078 Ignore private setters during strongly typed deserialization
  sdk/core/Azure.Core/src/Shared/TypeBinder.cs
  sdk/core/Azure.Core/tests/TypeBinderTests.cs
Labels: Azure.Core

#26075 Spelling fix
  sdk/identity/Azure.Identity/troubleshooting.md
Labels: Azure.Identity

#26070 clean up configurations
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/autorest.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/autorest.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/autorest.md
Labels: Compute

#26080 prepare release for storage beta.5
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
Labels: Storage

#26082 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: auto-merge

#26088 [Keyvault/compute/resources] update release date
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
Labels: KeyVault, Compute

#26093 Increment version for keyvault releases
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Azure.ResourceManager.KeyVault.csproj
Labels: KeyVault, auto-merge

#26092 Increment version for resources releases
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge

#26094 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Compute, auto-merge

#26096 [Cdn][DeviceUpdate][EventHubs][ServiceBus] Update changelog
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/cdn/Azure.ResourceManager.Cdn/README.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/CHANGELOG.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/README.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/README.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/README.md
Labels: Service Bus, Event Hubs

#26083 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: auto-merge

#26100 Increment version for deviceupdate releases
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/CHANGELOG.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/src/Azure.ResourceManager.DeviceUpdate.csproj
Labels: auto-merge

#26084 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#26101 Increment version for servicebus releases
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Azure.ResourceManager.ServiceBus.csproj
Labels: Service Bus, auto-merge

#26102 Increment version for cdn releases
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Azure.ResourceManager.Cdn.csproj
Labels: auto-merge

#26105 Increment version for webpubsub releases
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Azure.ResourceManager.WebPubSub.csproj
Labels: auto-merge

#26106 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: auto-merge

#26108 Update AzureSDKCodeGeneration_DataPlane_Quickstart.md
  doc/Data Plane Code Generation/AzureSDKCodeGeneration_DataPlane_Quickstart.md
Labels: customer-reported, Community Contribution

#26103 Increment version for eventhub releases
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Azure.ResourceManager.EventHubs.csproj
Labels: Event Hubs, auto-merge

#26095 docs(core): improve pipeline sample
  sdk/core/Azure.Core/samples/Pipeline.md
  sdk/core/Azure.Core/tests/samples/PipelineSamples.cs
Labels: Azure.Core

#26038 Add compatibility tests for Table extension
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoTypeBinder.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TablesExtensionConfigProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/CompatibilityTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
Labels: Tables
