Repository Azure/azure-sdk-for-net, pull requests merged in 2021-09, with the labels that each got.

#23696 updates to work with new resources version
  common/ManagementTestShared/Current/ManagementRecordedTestBase.cs
  eng/Packages.Data.props
  eng/mgmt/Directory.Build.Mgmt.props
  sdk/communication/Azure.ResourceManager.Communication/tests/ScenarioTests/CheckNameAvailabilityTests.cs
  sdk/communication/Azure.ResourceManager.Communication/tests/ScenarioTests/CrudTests.cs
  sdk/communication/Azure.ResourceManager.Communication/tests/ScenarioTests/ListResourcesTests.cs
  sdk/communication/Azure.ResourceManager.Communication/tests/ScenarioTests/NotificationHubTests.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/Azure.ResourceManager.CosmosDB.sln
  sdk/dns/Azure.ResourceManager.Dns/Azure.ResourceManager.Dns.sln
  sdk/dns/Azure.ResourceManager.Dns/tests/Tests/ScenarioTests.DnsTests.DnsZone.cs
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/tests/Helpers/StorageTestsManagementClientBase.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/BlobServiceTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/FileServiceTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Communication

#23601 Check for duplicate scopes
  sdk/core/Azure.Core.TestFramework/src/ClientDiagnosticListener.cs
  sdk/core/Azure.Core/tests/ClientTestBaseDiagnosticScopeTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinModelsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinsRestClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/CloudEventTests.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
Labels: Azure.Core

#23698 Refactor PII Logging behavior
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/identity/Azure.Identity/src/MsalClientBase.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/MsalClientBaseTests.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialTests.cs
Labels: Azure.Identity

#23690 [Search] Add support for lexical normalizers
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/search/Azure.Search.Documents/src/Generated/Models/AnalyzeTextOptions.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/AnalyzeTextOptions.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/AnalyzeText.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/AnalyzeTextAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/AnalyzeTextWithNormalizer.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/AnalyzeTextWithNormalizerAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/CreateIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/CreateIndexAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/CrudSynonymMaps.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/CrudSynonymMapsAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetIndexAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetIndexNames.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetIndexNamesAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetIndexes.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetIndexesAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetIndexesNextPageThrowsAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetServiceStatistics.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/GetServiceStatisticsAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/IndexSharesPipeline.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/IndexSharesPipelineAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/SetScoringProfile.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/SetScoringProfileAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/UpdateIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexClientTests/UpdateIndexAsync.json
Labels: Search

#23712 Fix connection string ctor issue
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableConnectionStringTests.cs
Labels: Tables

#23695 [Event Hubs Client] ReadStreamToArraySegment right size memory stream
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
Labels: Event Hubs, Client, Community Contribution

#23681 Fixed bug where Batch Delete was not property parsing DeleteSnapshotsOption.
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/BatchExtensions.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/BlobBatch.cs
  sdk/storage/Azure.Storage.Blobs.Batch/tests/BlobBatchClientTests.cs
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_DeleteSnapshotOptions.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_DeleteSnapshotOptionsAsync.json
Labels: Storage

#23715 [Smoke Tests] References Update
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
Labels: Client, EngSys

#23652 Bootstrap test resources when running tests
  eng/scripts/New-TestResources-Bootstrapper.ps1
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#23717 Tables Sept release prep
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#23722 Prepare September package releases
  eng/Packages.Data.props
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Azure.Core

#23721 Increment version for resources releases
  eng/Packages.Data.props
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge

#23732 update links
  sdk/storage/Azure.ResourceManager.Storage/README.md
  sdk/storage/Azure.ResourceManager.Storage/samples/README.md
  sdk/storage/Azure.ResourceManager.Storage/samples/Sample1_ManagingBlobContainers.md
  sdk/storage/Azure.ResourceManager.Storage/samples/Sample2_ManagingFileShares.md
Labels: Storage

#23718 [Service Bus] AMQP Transport Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
Labels: Service Bus, Event Hubs, Client

#23734 test coverage for GenerateSasUri with devStorage conn string
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: Tables

#23740 Sync eng/common directory with azure-sdk-tools for PR 1967
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: EngSys, Central-EngSys

#23733 Use SafeClose
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
Labels: Service Bus

#23737 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, Mgmt, auto-merge

#23738 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#23742 Sync eng/common directory with azure-sdk-tools for PR 1972
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#23748 CreateIfNotExists throws when TableBeingDeleted
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientTests.cs
Labels: Tables

#23749 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#23614 Improve docs for IsLoggingPIIEnabled
  sdk/identity/Azure.Identity/src/TokenCredentialOptions.cs
Labels: Azure.Identity

#23728 Refactor IMDS discovery to remove socket probing and caching of failures
  sdk/core/Azure.Core.TestFramework/src/TestEnvVar.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialImdsLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockManagedIdentityClient.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
Labels: Azure.Core, Azure.Identity

#23752 Support BinaryData binding for ServiceBus extension
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/BinaryDataArgumentBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/BinaryDataToMessageConverter.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/MessageConverterFactory.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/ServiceBusAttributeBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusExtensionConfigProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus, Event Hubs

#22102 Normalize Key Vault test timeouts
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
Labels: KeyVault, Do Not Merge

#23757 Fix success field logic for request and dependency
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartB.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryPartBTests.cs
Labels: Monitor - Exporter

#23745 customization fix
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/DiskEncryptionSetUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/DiskUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/GalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/GalleriesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/IGalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/IResourceSkusOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/IVirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/IVirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/ResourceSkusOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/SnapshotUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachine.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetVM.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Labels: Compute, Mgmt

#22955 StaticTokenCredential
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/TokenCredential.cs
  sdk/core/Azure.Core/tests/StaticTokenCredentialTests.cs
  sdk/identity/Azure.Identity/samples/DefiningCustomCredentialTypes.md
  sdk/identity/Azure.Identity/tests/samples/CustomCredentialSnippets.cs
  sdk/identity/Azure.Identity/tests/samples/TokenCacheSnippets.cs
Labels: Azure.Identity

#23653 Resolve CredScan issues with Core, KeyVault
  eng/CredScanSuppression.json
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/PemReaderTests.Keys.cs
  sdk/core/Azure.Core/tests/PemReaderTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/Azure.Security.KeyVault.Certificates.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/PemReaderTests.Keys.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/PemReaderTests.cs
Labels: KeyVault, Azure.Core

#23780 Resolve feedback on PR #23653
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/PemReaderTests.Keys.cs
Labels: KeyVault

#22146 Implemement OnBehalfOfCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/IX509Certificate2Provider.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/OnBehalfOfCredentialOptions.cs
  sdk/identity/Azure.Identity/src/TokenCache.cs
  sdk/identity/Azure.Identity/src/TokenCacheDetails.cs
  sdk/identity/Azure.Identity/src/TokenCacheNotificationDetails.cs
  sdk/identity/Azure.Identity/src/UnsafeTokenCacheOptions.cs
  sdk/identity/Azure.Identity/src/X509Certificate2FromFileProvider.cs
  sdk/identity/Azure.Identity/src/X509Certificate2FromObjectProvider.cs
  sdk/identity/Azure.Identity/tests/AuthorizationCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredentialProviderTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/OnBehalfOfCredentialTests.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
  sdk/identity/Azure.Identity/tests/TokenCacheTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Core, Azure.Identity

#23784 Move MangedIdentitySource selection back to Authenticate
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#23764 test(storage): sanitize secret and enable key generation test
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountRegenerateKey.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountRegenerateKeyAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Storage, Mgmt

#23814 [Event Hubs] Use SafeClose to Abort Sessions
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
Labels: Event Hubs, Client

#23815 [Event Hubs] September Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/proposal-event-hub-buffered-producer.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#23787 Improve EnvironmentCredential docs
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/samples/ClientSideUserAuthentication.md
  sdk/identity/Azure.Identity/src/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
  sdk/identity/Azure.Identity/tests/samples/UserAuthenticationSnippets.cs
Labels: Azure.Identity

#23836 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#23839 [Messaging] Update Deployment Button
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus, Event Hubs, Client, Docs, auto-merge

#23841 [Storage][Perf] Target separate blob from each instance.
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/BlobTest.cs
Labels: Storage

#23845 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#23840 Increment version for eventgrid releases
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/src/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.csproj
Labels: Event Grid, auto-merge

#23850 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#23849 Sync eng/common directory with azure-sdk-tools for PR 1986
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#23851 Prepare for Service Bus extension release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
Labels: Service Bus

#23857 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#22832 [App Service]: .NET SDK generated for API version "2021-01-15"
  eng/mgmt/mgmtmetadata/web_resource-manager.txt
  sdk/websites/Microsoft.Azure.Management.WebSites/AzSdk.RP.props
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/IKubeEnvironmentsOperations.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/IWebAppsOperations.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/IWebSiteManagementClient.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/KubeEnvironmentsOperations.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/KubeEnvironmentsOperationsExtensions.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/AppLogsConfiguration.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/AppServicePlan.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/AppServicePlanPatchResource.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/ArcConfiguration.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/CsmOperationDescription.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/CsmPublishingCredentialsPoliciesCollection.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/ExtendedLocation.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/FrontEndConfiguration.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/FrontEndServiceType.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/KubeEnvironment.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/KubeEnvironmentPatchResource.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/KubeEnvironmentProvisioningState.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/LogAnalyticsConfiguration.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/ManagedServiceIdentity.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/ManagedServiceIdentityUserAssignedIdentitiesValue.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/Site.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/StorageType.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/UserAssignedIdentity.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/SdkInfo_WebSiteManagementClient.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/WebAppsOperationsExtensions.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/WebSiteManagementClient.cs
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Microsoft.Azure.Management.Websites.csproj
  sdk/websites/Microsoft.Azure.Management.WebSites/src/Properties/AssemblyInfo.cs
Labels: App Services, Mgmt, needs-review

#23755 add bastion host create test
  common/ManagementTestShared/Redesign/ManagementRecordedTestBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkServiceClientTestBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/BastionHostContainerTests(False).json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/BastionHostContainerTests(True)Async.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/CheckIfExists.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/CheckIfExistsAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/CreateOrUpdate.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/CreateOrUpdateAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/Delete.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/DeleteAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/Get.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/GetAll.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/GetAllAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/BastionHostContainerTests/GetAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ApplicationGatewayTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ApplicationSecurityGroupTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/AvailableProvidersListTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/AzureReachabilityReportTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/BastionHostContainerTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/CheckConnectivityTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/CheckDnsAvailabilityTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ConnectionMonitorTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/DdosProtectionPlanTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpandResourceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpressRouteTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/FirewallPolicyRuleGroupTestResource.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/FirewallPolicyTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/FlowLogTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/GatewayOperationsTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/LoadBalancerTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkInterfaceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkSecurityGroupTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkWatcherTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NextHopTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PacketCaptureTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PrivateEndpointTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PrivateLinkServicesTest.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PublicIpAddressTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PublicIpPrefixTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteFilterTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteTableTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/SecurityRuleTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/SubnetTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/TopologyTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/TroubleshootTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/UsageTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VerifyIpFlowTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ViewNsgRuleTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VirtualNetworkPeeringTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VirtualNetworkTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VmssNetworkInterfaceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VmssPublicIpAddressTests.cs
Labels: Mgmt

#23865 [Event Hubs] Fix Changelog Typo
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client, Docs

#23680 Add ClientId to DAC Options
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
Labels: Azure.Identity

#23775 Add support for token exchange managed identity
  sdk/identity/Azure.Identity/src/ClientAssertionCredential.cs
  sdk/identity/Azure.Identity/src/ClientAssertionCredentialOptions.cs
  sdk/identity/Azure.Identity/src/EnvironmentVariables.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/MsalClientBase.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/TokenExchangeManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialFederatedTokenLiveTests.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/ManagedIdentityCredentialFederatedTokenLiveTests/VerifyViaMockK8TokenExchangeEnvironment.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ManagedIdentityCredentialFederatedTokenLiveTests/VerifyViaMockK8TokenExchangeEnvironmentAsync.json
Labels: Azure.Identity

#23869 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#23870 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#23771 Add troubleshooting guide
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/troubleshooting.md
Labels: Azure.Identity

#23872 [Event Hubs] Processor Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#23871 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#23875 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: auto-merge

#23759 Add Track2 CosmosDB Sanitizer
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/CosmosDBManagementClientBase.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/CosmosDBManagementRecordedTestSanitizer.cs
Labels: Mgmt

#23888 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#23881 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Azure.Analytics.Synapse.ManagedPrivateEndpoints.csproj
Labels: auto-merge

#23880 Updating Azure.Identity changelog for 1.5.0-beta.4 release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#23876 Fix typos in GeoJson
  sdk/core/Azure.Core/src/GeoJson/GeoBoundingBox.cs
  sdk/core/Azure.Core/src/GeoJson/GeoPosition.cs
Labels: Azure.Core

#23878 Sync eng/common directory with azure-sdk-tools for PR 1982
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: EngSys, Central-EngSys

#23854 Update migration guide
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus

#23139 Log certain exceptions so we don't lose their stacktraces
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpExceptionHelper.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpLinkCreator.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpSubscriptionClient.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpTransactionEnlistment.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageSender.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageSession.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessagingEventSource.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionClient.cs
Labels: Service Bus

#23907 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: auto-merge

#23915 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#23910 Increment version for resourcemanager releases
  eng/Packages.Data.props
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#23873 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: auto-merge

#23905 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#23921 eliminate table conflicts with live tests
  sdk/tables/Azure.Data.Tables/tests/samples/Sample0_Auth.cs
Labels: Tables

#23920 STG 79 changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#23922 Updated Storage platform-matrix-all-versions.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#23916 Sync eng/common directory with azure-sdk-tools for PR 1977
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#23914 Sync eng/common directory with azure-sdk-tools for PR 1995
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#23938 Fix assert for GetTables
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
Labels: Tables

#23856 Add KeyClient.GetCryptographyClient
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/SampleSnippets.cs
Labels: KeyVault

#23797 Update sdk for GA release, version 1.1.0
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Chat/src/ChatClientOptions.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatThreadRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatLiveTestBase.cs
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceipt_GS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceipt_GSAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_T.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_TAsync.json
Labels: Communication

#23943 Update version in readme
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/README.md
Labels: Event Grid

#23936 change deleted account to nonresource and add a deleted account test
  sdk/storage/Azure.ResourceManager.Storage/api/Azure.ResourceManager.Storage.netstandard2.0.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/DeletedAccount.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/DeletedAccountContainer.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/DeletedAccount.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/DeletedAccount.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/DeletedAccountListResult.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/DeletedAccountListResult.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/RestOperations/DeletedAccountsRestOperations.cs
  sdk/storage/Azure.ResourceManager.Storage/src/autorest.md
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/GetDeletedAccounts.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/GetDeletedAccountsAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Storage, Mgmt

#23955 Randomize sample table names to prevent conflicts
  sdk/tables/Azure.Data.Tables/tests/samples/Sample0_Auth.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTable.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTableAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTables.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTablesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample6_TransactionalBatchAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample8_CustomizingSerialization.cs
Labels: Tables

#23924 Sync eng/common directory with azure-sdk-tools for PR 1983
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#23844 [Event Hubs] Update Contributing Setup
  sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/assets/functions/azure-resource-functions.ps1
  sdk/eventhub/Azure.Messaging.EventHubs/assets/live-tests-azure-setup.ps1
  sdk/eventhub/Microsoft.Azure.EventHubs/README.md
Labels: Event Hubs, Client, Docs

#23506 [EngSys] Sanitizing Iot secrets
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_InvokeMethodOnDeviceAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_TwinLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_TwinLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_IdentityLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_IdentityLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_Lifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_LifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_TwinLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/Devices_TwinLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_InvokeMethodOnModuleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDeviceTwinsWithTag.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDeviceTwinsWithTagAsync.json
Labels: IoT, Client, EngSys

#23929 Add provisioner OID to initial MHSM admins
  sdk/keyvault/test-resources.json
Labels: KeyVault

#23958 [EngSys] CredScan: removing MetricsAdvisor false positive
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataFeedSourcesTests.cs
Labels: Client, EngSys, Cognitive - Metrics Advisor

#23942 [Event Hubs] Buffered Producer Client Infrastructure (initial)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#23962 Sync eng/common directory with azure-sdk-tools for PR 2006
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#23946 Sync eng/common directory with azure-sdk-tools for PR 1946
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: EngSys, Central-EngSys

#23963 Sync eng/common directory with azure-sdk-tools for PR 1979
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#23969 Schema Registry API updates
  sdk/schemaregistry/Azure.Data.SchemaRegistry/README.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaProperties.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistrySchema.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Samples/Sample01_ReadmeSnippets.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
Labels: Schema Registry

#23952 Dvbb sdk network
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallPolicyTests/FirewallPolicyTests(False).json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallPolicyTests/FirewallPolicyTests(True)Async.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/CheckIfExists.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/CheckIfExistsAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/CreateOrUpdate.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/CreateOrUpdateAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/Delete.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/DeleteAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/FirewallTests(False).json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/FirewallTests(True)Async.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/Get.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/GetAll.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/GetAllAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/FirewallTests/GetAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/CheckIfExist.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/CheckIfExistAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/CreateOrUpdate.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/CreateOrUpdateAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/Delete.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/DeleteAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/Get.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/GetAll.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/GetAllAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/GetAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/IpGroupTests(False).json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/IpGroupTests/IpGroupTests(True)Async.json
  sdk/network/Azure.ResourceManager.Network/tests/Tests/FirewallPolicyTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/FirewallTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/IpGroupTests.cs
Labels: Network, Mgmt

#23931 Add samples for Track2 KeyVault
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/README.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Sample1_ManagingKeyVaults.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Samples/Sample1_ManagingKeyVaults.cs
Labels: KeyVault, Mgmt

#23960 [EngSys] CredScan: suppressing storage secret file
  eng/CredScanSuppression.json
Labels: Storage, Client, EngSys

#23980 eliminate unnecessary assert
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientLiveTests.cs
Labels: Tables

#23487 Fix typo in the docs for the EventHubsConnectionStringBuilder class
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Primitives/EventHubsConnectionStringBuilder.cs
Labels: Event Hubs

#23982 [MetricsAdvisor] Ignoring flaky test
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample04_DetectionConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample06_AlertConfigurationCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#23967 Ensure list-blobs call timeout is 10 seconds minimum.
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/AzureStorageCheckpointLeaseManager.cs
Labels: Event Hubs

#23997 Sync eng/common directory with azure-sdk-tools for PR 2008
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#23932 Add Track2 mgmt Eventhubs Sanitizer
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/EventHubsManagementClientBase.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/EventHubsManagementRecordedTestSanitizer.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/ScenarioTests/DisasterRecoveryCreateGetUpdateDelete.json
Labels: Event Hubs, Mgmt

#23995 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: auto-merge

#23992 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#23996 Increment version for resources releases
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge

#23994 Increment version for keyvault releases
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Azure.ResourceManager.KeyVault.csproj
Labels: auto-merge

#24010 Remove TODO comment from sample
  sdk/tables/Azure.Data.Tables/samples/Sample4QueryEntities.md
Labels: Tables

#23646 Apply ResponseError feedback and move DateTimeRange to Azure.Monitor.Query
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ResponseError.cs
  sdk/core/Azure.Core/src/ResponseInnerError.cs
  sdk/core/Azure.Core/tests/ResponseErrorTests.cs
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/LogsBatchQuery.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/LogsBatchQueryResultCollection.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricsQueryResult.cs
  sdk/monitor/Azure.Monitor.Query/src/MonitorQueryTimeRange.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientClientTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientSamples.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsTestData.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsTestData.cs
  sdk/monitor/Azure.Monitor.Query/tests/MonitorQueryDateTimeRangeTests.cs
Labels: Azure.Core

#24018 Updated release date
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
Labels: Communication

#23971 Sync eng/common directory with azure-sdk-tools for PR 2009
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
Labels: EngSys, Central-EngSys

#24017 Sync eng/common directory with azure-sdk-tools for PR 2016
  eng/common/pipelines/templates/steps/verify-changelog.yml
Labels: EngSys, Central-EngSys

#23951 [DataFactory]Added new features into 4.25.0
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/CHANGELOG.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AmazonRdsForSqlServerLinkedService.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AmazonRdsForSqlServerSource.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/AmazonRdsForSqlServerTableDataset.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/IntegrationRuntimeCustomerVirtualNetwork.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/ManagedIntegrationRuntime.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SqlAlwaysEncryptedAkvAuthType.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/SqlAlwaysEncryptedProperties.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/DatasetJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/IntegrationRuntimeJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/LinkedServiceJsonSamples.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/tests/JsonSamples/PipelineJsonSamples.cs
Labels: Data Factory, Mgmt

#24047 Increment version for communication releases
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: auto-merge, Communication

#24032 [Storage][Functions] Fix blob trigger message serialization
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobTriggerMessage.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/BlobTriggerMessageTests.cs
Labels: Storage

#24016 Sync eng/common directory with azure-sdk-tools for PR 2011
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#23999 Add version, when available, to distributed logging
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
Labels: KeyVault

#23909 Intial set-up for llc tests
  sdk/core/Azure.Core.Experimental/tests/Azure.Core.Experimental.Tests.csproj
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/LowLevelClientModels/Pet.Serialization.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/LowLevelClientModels/Pet.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/LowLevelClientModels/SerializationHelpers.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/PetStoreClient.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/PetStoreClientOptions.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClientTests.cs
Labels: Azure.Core

#23984 Add dotnet new template for Azure.Template
  CONTRIBUTING.md
  eng/templates/Azure.ResourceManager.Template/.template.config/template.json
  sdk/template/.template.config/template.json
  sdk/template/ci.yml
  sdk/template/test-resources.json
Labels: EngSys

#24063 Sync eng/common directory with azure-sdk-tools for PR 2010
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#24072 add storage track2 mgmt test
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/CreateGetDeleteObjectReplicationPolicy.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/CreateGetDeleteObjectReplicationPolicyAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/FileShareTests/RestoreFileShare.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/FileShareTests/RestoreFileShareAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/FileShareTests/UpdateFileService.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/FileShareTests/UpdateFileServiceAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/QueueTests/UpdateQueueService.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/QueueTests/UpdateQueueServiceAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/AddRemoveTag.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/AddRemoveTagAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/CreateUpdateGetDeleteBlobInventoryPolicy.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/CreateUpdateGetDeleteBlobInventoryPolicyAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/CreateUpdateGetEncryptionScope.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/CreateUpdateGetEncryptionScopeAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/GetAllPrivateEndPointConnections.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/GetAllPrivateEndPointConnectionsAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/GetAllPrivateLinkResources.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/GetAllPrivateLinkResourcesAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/SetGetDeleteManagementPolicy.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/SetGetDeleteManagementPolicyAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/TableTests/UpdateTableService.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/TableTests/UpdateTableServiceAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/BlobContainerTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/FileShareTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/QueueTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/TableTests.cs
Labels: Storage, Mgmt

#24041 Update to add link to Keyvault sample
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/README.md
Labels: KeyVault, Mgmt

#24084 Sync eng/common directory with azure-sdk-tools for PR 2010
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#24079 Prepare RemoteRendering for a 1.1.0 release
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
Labels: auto-merge

#22283 Dynamic Concurrency support for WebJobs SDK Storage Extension
  eng/Packages.Data.props
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/SharedBlobQueueListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Triggers/BlobTriggerAttributeBindingProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Triggers/BlobTriggerBinding.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueListener.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueuesOptions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Listeners/QueueListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Triggers/QueueTriggerAttributeBindingProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Triggers/QueueTriggerBinding.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueListenerTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueTriggerBindingIntegrationTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/AzureStorageEndToEndTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests.csproj
Labels: Storage

#23450 Adding Dynamic Concurrency support to WebJobs SDK ServiceBus Extension
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusExtensionConfigProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerAttributeBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Bindings/ServiceBusTriggerAttributeBindingProviderTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Config/ServiceBusOptionsTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusScaleMonitorTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/MessagingProviderTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#24091 Update webjobs dependency and add AMQP value test
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus

#24078 Add missing package
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus, customer-reported, Community Contribution

#24092 Increment version for remoterendering releases
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
Labels: auto-merge

#24094 More LinkBase usages
  common/Perf/Azure.Test.Perf/Azure.Test.Perf.csproj
  common/Stress/Azure.Test.Stress/Azure.Test.Stress.csproj
  eng/Directory.Build.Common.targets
  sdk/communication/Azure.Communication.CallingServer/src/Azure.Communication.CallingServer.csproj
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Chat/tests/Azure.Communication.Chat.Tests.csproj
  sdk/communication/Azure.Communication.Common/tests/Azure.Communication.Common.Tests.csproj
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
  sdk/core/Azure.Core.Experimental/tests/Azure.Core.Experimental.Tests.csproj
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Azure.AI.MetricsAdvisor.Tests.csproj
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/samples/Azure.Storage.Blobs.Batch.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/tests/Azure.Storage.Blobs.Batch.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Azure.Storage.Blobs.ChangeFeed.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/samples/Azure.Storage.Blobs.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Common/samples/Azure.Storage.Common.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Files.DataLake/samples/Azure.Storage.Files.DataLake.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Files.DataLake/tests/Azure.Storage.Files.DataLake.Tests.csproj
  sdk/storage/Azure.Storage.Files.Shares/samples/Azure.Storage.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Internal.Avro/src/Azure.Storage.Internal.Avro.csproj
  sdk/storage/Azure.Storage.Queues/samples/Azure.Storage.Queues.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, Azure.Core, Communication, Cognitive - Metrics Advisor

#24097 Swallow NotImplementedException in EventSource name deduplication logic
  sdk/core/Azure.Core/src/Shared/AzureEventSource.cs
Labels: Azure.Core

#24105 📝 fix spelling in documentation
  sdk/core/Azure.Core/README.md
  sdk/core/Azure.Core/samples/Diagnostics.md
Labels: Azure.Core, customer-reported, Community Contribution

#24098 Improve Key Vault XML doc comments
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
Labels: KeyVault

#24083 Illustrate generated code needed to implement Response.IsError
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/RequestOptions.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/PetStoreClient.cs
  sdk/core/Azure.Core.Experimental/tests/LowLevelClientTests.cs
  sdk/core/Azure.Core.Experimental/tests/RequestOptionsTest.cs
Labels: Azure.Core

#24143 Fix failing test
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus

#23793 Update Roslyn Analyzers
  eng/Packages.Data.props
  eng/service.proj
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/GlobalSuppressions.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/GlobalSuppressions.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/api/Azure.AI.Language.Conversations.netstandard2.0.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/ConversationAnalysisClientOptions.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Infrastructure/ConversationAnalysisTestBase.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/QuestionAnsweringClientOptions.cs
  sdk/communication/Azure.Communication.Identity/src/CommunicationIdentityClientOptions.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/CommunicationRelayClientOptions.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/GlobalSuppressions.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityStsClientOptions.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/ObjectAnchorsConversionClientOptions.cs
  sdk/personalizer/Azure.AI.Personalizer/src/GlobalSuppressions.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/GlobalSuppressions.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/GlobalSuppressions.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/GlobalSuppressions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClientOptions.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/GlobalSuppressions.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/GlobalSuppressions.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClientOptions.ServiceVersion.cs
Labels: KeyVault

#24154 Sync eng/common directory with azure-sdk-tools for PR 2025
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#24073 fix(network): cspell errors due to swagger definitions
  .vscode/cspell.json
Labels: Mgmt

#24162 Add Accept header to batch requests
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchError.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchErrorAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchInsert.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchInsertAndMergeAndDelete(%partition'key''with'''singlequotes'%).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchInsertAndMergeAndDelete(%partition'key''with'''singlequotes'%)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchInsertAndMergeAndDelete(%somPartition%).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchInsertAndMergeAndDelete(%somPartition%)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/BatchInsertAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchError.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchErrorAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsert.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsertAndMergeAndDelete(%partition'key''with'''singlequotes'%).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsertAndMergeAndDelete(%partition'key''with'''singlequotes'%)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsertAndMergeAndDelete(%somPartition%).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsertAndMergeAndDelete(%somPartition%)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsertAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchError.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchErrorAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchInsert.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchInsertAndMergeAndDelete(%partition'key''with'''singlequotes'%).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchInsertAndMergeAndDelete(%partition'key''with'''singlequotes'%)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchInsertAndMergeAndDelete(%somPartition%).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchInsertAndMergeAndDelete(%somPartition%)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/BatchInsertAsync.json
Labels: Tables

#24122 Implement Response.IsError
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/ClassifiedResponse.cs
  sdk/core/Azure.Core.Experimental/src/ResponseExtensions.cs
  sdk/core/Azure.Core.Experimental/src/ResponsePropertiesPolicy.cs
  sdk/core/Azure.Core.Experimental/tests/PipelineTests.cs
Labels: Azure.Core

#24141 Remove owner role assignments from live test ARM templates
  sdk/digitaltwins/test-resources.bicep
  sdk/digitaltwins/test-resources.json
  sdk/iot/test-resources.json
  sdk/timeseriesinsights/test-resources.bicep
  sdk/timeseriesinsights/test-resources.json
Labels: TimeseriesInsights, Digital Twins, Central-EngSys

#24159 Fix sample heading
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
Labels: Service Bus

#24173 ADT/TSI: Remove persisted ARM template json file to entirely replace it with bicep support.
  sdk/digitaltwins/.gitignore
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/setup.ps1
  sdk/digitaltwins/test-resources.json
  sdk/timeseriesinsights/.gitignore
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/prerequisites/prerequisite readme.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/prerequisites/setup.ps1
  sdk/timeseriesinsights/test-resources.json
Labels: TimeseriesInsights, Digital Twins

#24160 add "ListStorageAccountInSubscription" test case
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/ListStorageAccountsInSubscription.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/ListStorageAccountsInSubscriptionAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Storage

#24112 [NetAppFils] Anf 14807 net app files add quota limits to sdk 2021 06
  eng/mgmt/mgmtmetadata/netapp_resource-manager.txt
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/AzureNetAppFilesManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/IAzureNetAppFilesManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/INetAppResourceQuotaLimitsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/AzureEntityResource.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/LogSpecification.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/MetricSpecification.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/NetworkFeatures.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/ProxyResource.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/ReplicationObject.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/Resource.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/ServiceSpecification.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/SubscriptionQuotaItem.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/TrackedResource.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/Volume.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/Models/VolumeStorageToNetworkProximity.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/NetAppResourceQuotaLimitsOperations.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/NetAppResourceQuotaLimitsOperationsExtensions.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Generated/SdkInfo_NetAppManagementClient.cs
  sdk/netapp/Microsoft.Azure.Management.NetApp/src/Microsoft.Azure.Management.NetApp.csproj
  sdk/netapp/Microsoft.Azure.Management.NetApp/tests/ResourceTests/ResourceAvailabilityTests.cs
Labels: Mgmt

#24193 ADT: PeftTest: Pass in the correct cancellation token in the perf test scenario.
  sdk/digitaltwins/Azure.DigitalTwins.Core/perf/Azure.DigitalTwins.Core.Perf/Scenarios/QueryDigitalTwins.cs
Labels: Digital Twins

#24171 [Search] Add link to samples at the top of README
  sdk/search/Azure.Search.Documents/README.md
Labels: Search

#23794 AppAuth 1.6.2 release
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.IntegrationTests/Helpers/GraphHelper.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.IntegrationTests/Microsoft.Azure.Services.AppAuthentication.IntegrationTests.csproj
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.TestCommon/Microsoft.Azure.Services.AppAuthentication.TestCommon.csproj
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication.Unit.Tests/Microsoft.Azure.Services.AppAuthentication.Unit.Tests.csproj
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/AccessToken.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/Microsoft.Azure.Services.AppAuthentication.csproj
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/Properties/AssemblyInfo.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/ClientCertificateAccessTokenProvider.cs
  sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/ClientSecretAccessTokenProvider.cs
  sdk/mgmtcommon/AppAuthentication/README.md
Labels: AppAuthentication

#24125 [Event Hubs] Buffered Producer Client Infrastructure (background)
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#24214 Sync eng/common directory with azure-sdk-tools for PR 2035
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#24221 Remove unused LLC types
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/ClassifiedResponse.cs
  sdk/core/Azure.Core.Experimental/src/DynamicContent.cs
  sdk/core/Azure.Core.Experimental/src/DynamicRequest.cs
  sdk/core/Azure.Core.Experimental/src/DynamicResponse.cs
  sdk/core/Azure.Core.Experimental/src/ProtocolClientOptions.cs
Labels: Azure.Core

#24226 Sync eng/common directory with azure-sdk-tools for PR 2031
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#24227 Add link to plugin issue
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus
