Repository Azure/azure-sdk-for-net, pull requests merged in 2021-08, with the labels that each got.

#22956 [Search] Skip track1 packages for the release jobs
  sdk/search/ci.yml
Labels: Search

#23046 fix some unit tests
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkServiceClientTestBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpandResourceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PrivateEndpointTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteFilterTests.cs
Labels: Community Contribution, customer-reported

#23050 AmqpMessageConverter: support AbsoluteExpiryTime larger than max DateTimeOffset
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConverterTests.cs
Labels: Community Contribution, Service Bus, customer-reported

#22931 Wait a bit after deleting the event route to verify the test issue is due to propagation delay.
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/EventRouteTests.cs
Labels: Digital Twins

#23052 Update references to System.Text.Encodings.Web
  samples/CloudClipboard/CloudClipboard/CloudClipboard.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests.AspNetCoreWebApp/Azure.Monitor.OpenTelemetry.Exporter.Integration.Tests.AspNetCoreWebApp.csproj
  sdk/search/Microsoft.Azure.Search/tests/Microsoft.Azure.Search.Tests.csproj
Labels: Search

#23055 Add BeforeTransport policy position
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/HttpPipelinePosition.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/tests/ClientOptionsTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
Labels: Azure.Core

#23058 Prepare Azure.Core 1.17 release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#23026 SDK changes for VMApps
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ApplicationProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VMGalleryApplication.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachine.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMApplicationTest.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMApplicationTest/VMApplicationProfile_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetVMProfileTests/TestVMScaleSetApplicationProfile.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetVMProfileTests.cs
Labels: Compute

#23048 [Batch] Fixed changelog version and release date
  sdk/batch/Microsoft.Azure.Management.Batch/CHANGELOG.md
Labels: Batch

#23060 Re-enable LocalSignVerifyRoundTrip for 7.3-preview
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES512)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS512)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS512)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS512)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(ES512)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(PS512)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTrip(RS512)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS256).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS384).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS512).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/LocalSignVerifyRoundTripOnFramework(PS512)Async.json
Labels: KeyVault

#23053 Fix spelling errors for Key Vault
  .vscode/cspell.json
Labels: KeyVault

#23074 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#23059 update opentelemetry package versions
  eng/Packages.Data.props
Labels: Monitor - Exporter

#23076 [Search] Add caching support in search indexer
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Generated/DataSourcesRestClient.cs
  sdk/search/Azure.Search.Documents/src/Generated/IndexersRestClient.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexer.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexer.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerCache.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerCache.cs
  sdk/search/Azure.Search.Documents/src/Generated/SkillsetsRestClient.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/SearchIndexerCache.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexerClient.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/tests/Models/SearchIndexerTests.cs
Labels: Search

#21133 Fix Quantum Jobs Readme issues
  sdk/quantum/Azure.Quantum.Jobs/README.md
Labels: Storage

#23025 Attach output as a file on CI
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
Labels: Azure.Core

#22934 Support Timeout.Zero in ReceiveMessagesAsync
  eng/Packages.Data.props
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
Labels: Service Bus

#23061 Preview DigitalTwins Query Builders
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsLifecycleSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/ModelLifecycleSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/QueryBuilders/ConferenceRoom.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/QueryBuilders/QueryBuilderSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/QueryBuilders/QueryBuilderSamplesLinq.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/Readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Fluent/DigitalTwinsQueryBuilder.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Fluent/WhereStatement.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/DigitalTwinsFunctions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/DigitalTwinsQueryBuilder.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/Evaluator.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/ExpressionNormalizer.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/LinqExpressionVisitor.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/Nominator.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/QueryAssemblers/FromClauseAssembler.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/QueryAssemblers/QueryAssembler.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/QueryAssemblers/QueryAssemblerLogicalOperator.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/QueryAssemblers/SelectClauseAssembler.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/QueryAssemblers/WhereClauseAssembler.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/QueryAssemblers/WhereClauseAssemblerLogic.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Linq/QueryFilterVisitor.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/QueryConstants.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinsQueryBuilderTests/ConferenceRoom.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinsQueryBuilderTests/DigitalTwinsQueryBuilderTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinsQueryBuilderTests/DigitalTwinsQueryBuildersTestsLinq.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/QueryTests.cs
Labels: Community Contribution, Digital Twins, customer-reported

#23104 Increment version for digitaltwins releases
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: Digital Twins, auto-merge

#23101 Cherry pick event source fix for Identity 1.4.1 patch release
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Shared/AzureEventSource.cs
  sdk/core/Azure.Core/tests/AzureEventSourceTests.cs
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
Labels: Azure.Core, Azure.Identity

#23103 ADT: e2e: Add integration test for deserializing responses of queries with aliased collections.
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/AliasedBasicDigitalTwin.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/QueryTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_GetTwinAliasing.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_GetTwinAliasingAsync.json
Labels: Digital Twins

#23015 [Event Hubs] Update snippet syntax
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample05_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/MigrationGuideSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample03_EventProcessorHandlersLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample04_ProcessingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample05_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample06_RequestingStorageServiceVersionsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ObservableEventBatch.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/MigrationGuideSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample03_EventHubMetadataLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample04_PublishingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample05_ReadingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample06_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample07_EarlierLanguageVersionsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample09_ObservableEventBatchLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/SamplesCommonTests.cs
Labels: Client, Event Hubs

#23114 [TextAnalytics] Updated Extractive Summarization links
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample8_ExtractSummary.md
Labels: Client, Cognitive - Text Analytics

#23043 Allow concurrency to be changed dynamically
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#23115 [TextAnalytics] Reduced size of Analyze Operation samples
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeActions.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationConvenienceAsync.cs
Labels: Client, Cognitive - Text Analytics

#23120 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#23124 Update unit tests
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkServiceClientTestBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpandResourceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/GatewayOperationsTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/LoadBalancerTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkInterfaceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkSecurityGroupTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkWatcherTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/PublicIpAddressTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteFilterTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteTableTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/RouteTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/SecurityRuleTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/SubnetTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VirtualNetworkPeeringTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/VirtualNetworkTests.cs
Labels: Azure.Core, Community Contribution, customer-reported

#23020 [Azure.Core] Update TokenCredential Remarks
  sdk/core/Azure.Core/src/TokenCredential.cs
Labels: Client, Azure.Core, Docs

#23014 Sync eng/common directory with azure-sdk-tools for PR 1852
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#23083 [Storage] Test managed disks.
  sdk/core/Azure.Core.TestFramework/src/SetUpFixtureBaseOfTEnvironment.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/storage/Azure.Storage.Blobs/tests/Azure.Storage.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/tests/ManagedDiskFixture.cs
  sdk/storage/Azure.Storage.Blobs/tests/ManagedDiskTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/AppendBlockFromUriAsync_NonAsciiSourceUri.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/AppendBlockFromUriAsync_NonAsciiSourceUriAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/StageBlockFromUriAsync_NonAsciiSourceUri.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/StageBlockFromUriAsync_NonAsciiSourceUriAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/ListBlobsFlatSegmentAsync_PreservesWhitespace.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/ListBlobsFlatSegmentAsync_PreservesWhitespaceAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/CanDiffPagesBetweenSnapshots.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/CanDiffPagesBetweenSnapshotsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/UploadPagesFromUriAsync_NonAsciiSourceUri.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/UploadPagesFromUriAsync_NonAsciiSourceUriAsync.json
  sdk/storage/Azure.Storage.Common/tests/Shared/ManagedDiskConfiguration.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageRecordedTestSanitizer.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestConfigurations.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestConfigurationsTemplate.xml
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(% my cool directory %).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/RenameAsync_DestinationSpecialCharacters(% my cool directory %)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(% my cool file %).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/RenameAsync_DestinationSpecialCharacters(% my cool file %)Async.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/UndeletePathAsync_SpecialCharacters(% my cool directory %).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/UndeletePathAsync_SpecialCharacters(% my cool directory %)Async.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_NonAsciiSourceUri.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_NonAsciiSourceUriAsync.json
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.json
Labels: Storage

#23140 [Storage] More managed disk coverage
  sdk/storage/Azure.Storage.Blobs/tests/ManagedDiskFixture.cs
  sdk/storage/Azure.Storage.Blobs/tests/ManagedDiskTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/CanDiffPagesBetweenSnapshots.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/CanDiffPagesBetweenSnapshotsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/GetManagedDiskPageRangesDiffAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/GetManagedDiskPageRangesDiffAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/GetManagedDiskPageRangesDiffAsync_AccessConditionsFail.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/GetManagedDiskPageRangesDiffAsync_AccessConditionsFailAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/GetManagedDiskPageRangesDiffAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ManagedDiskTests/GetManagedDiskPageRangesDiffAsync_ErrorAsync.json
Labels: Storage

#23148 [TA] Change functions -> features
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
Labels: Cognitive - Text Analytics

#23121 Ensure SessionReceiverManager is cleaned up when closing
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#23149 [TextAnalytics] Added live tests to Extractive Text Summarization
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithRankOrderTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithRankOrderTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryWithDisableServiceLogs.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryWithDisableServiceLogsAsync.json
Labels: Client, Cognitive - Text Analytics

#23159 Fix --tenant argument generated by AzureCliCredential
  sdk/identity/Azure.Identity/src/AzureCliCredential.cs
Labels: Azure.Identity, customer-reported, Community Contribution

#23113 [Event Hubs] Client Configuration Sample Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
Labels: Event Hubs, Client

#22890 Rename AZURE_POD_IDENTITY_TOKEN_URL
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/EnvironmentVariables.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#23165 Adding changelog entry for community contributed fix
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#23166 Add new system event
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerServiceNewKubernetesVersionAvailableEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerServiceNewKubernetesVersionAvailableEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#22923 Add support for response classification to RequestOptions
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/RequestOptions.cs
  sdk/core/Azure.Core.Experimental/tests/RequestOptionsTest.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
Labels: Azure.Core

#23099 Add ConfigurationSetting constructor that takes ETag
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationSettingTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/GetIfChangedSettingNotModified.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SessionRecords/ConfigurationLiveTests/GetIfChangedSettingNotModifiedAsync.json
Labels: App Configuration

#23110 Add Activity Links support
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartB.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryPartCTests.cs
Labels: Monitor - Exporter

#23171 Query Builder bug fix and documentation update
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsLifecycleSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/Readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryBuilders/Conditions/ComparisonCondition.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Queries/QueryChargeHelper.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinsQueryBuilderTests/DigitalTwinsQueryBuilderTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/QueryTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_GetTwinCount.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_GetTwinCountAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_PaginationWorks.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_PaginationWorksAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_QueryBuilder_Valid_Success.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_QueryBuilder_Valid_SuccessAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_ValidQuery_Success.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/QueryTests/Query_ValidQuery_SuccessAsync.json
Labels: customer-reported, Community Contribution, Digital Twins

#23191 Increment version for digitaltwins releases
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: Digital Twins, auto-merge

#22971 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Storage, KeyVault, Search, Event Grid, IoT, TimeseriesInsights, EngSys, Tables, Cognitive - Text Analytics, Cognitive - Form Recognizer, Digital Twins, Schema Registry, Communication, Cognitive - Metrics Advisor

#23208 Regenerate KV events
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultAccessPolicyChangedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultCertificateExpiredEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultCertificateNearExpiryEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultCertificateNewVersionCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultKeyExpiredEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultKeyNearExpiryEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultKeyNewVersionCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultSecretExpiredEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultSecretNearExpiryEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultSecretNewVersionCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#23211 [TextAnalytics] Preparing for release
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
Labels: Client, Cognitive - Text Analytics

#23209 Minor doc updates for Key Vault Keys
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
Labels: KeyVault

#23198 Feature/mgmt track2 network
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkServiceClientTestBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ApplicationGatewayTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpandResourceTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ExpressRouteTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/FlowLogTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/GatewayOperationsTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/LoadBalancerTests.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/UsageTests.cs
Labels: customer-reported, Community Contribution

#23167 [MetricsAdvisor] Added model factory and updated release version to 1.1.0
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorModelFactory.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/MetricsAdvisorModelFactoryTests.cs
Labels: Client, Cognitive - Metrics Advisor

#23213 [Event Hubs] August Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#23216 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#23227 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#23215 Prepare Azure.Data.AppConfiguration 1.2.0-beta.1 release
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
Labels: App Configuration

#23228 [Event Hubs Processor] August Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#22852 Add IsLoggingPIIEnabled to TokenCredentialOptions
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialTests.cs
Labels: Azure.Core

#23233 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: auto-merge

#23232 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#23118 Added support for Encryption Scopes for Blob Sync Copy
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobCopyFromURLHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobCopyInfo.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SyncCopyFromUriAsync_EncryptionScope.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/SyncCopyFromUriAsync_EncryptionScopeAsync.json
Labels: Storage

#23234 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#23237 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: auto-merge

#23130 HNS Encryption Scopes
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/FileSystemRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/Path.Serialization.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/Path.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileSystemCreateOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileSystemEncryptionScopeOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileSystemProperties.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathItem.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathProperties.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/GetPropertiesAsync_EncryptionScope.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/GetPropertiesAsync_EncryptionScopeAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/CreateAsync_EncryptionScopeOptions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/CreateAsync_EncryptionScopeOptionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/CreateIfNotExists_EncryptionScopeOptions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/CreateIfNotExists_EncryptionScopeOptionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetPathsAsync_EncryptionScopeOptions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetPathsAsync_EncryptionScopeOptionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/CreateFileSystemAsync_EncryptionScopeOptions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/CreateFileSystemAsync_EncryptionScopeOptionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/GetFileSystemsAsync_EncryptionScope.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ServiceClientTests/GetFileSystemsAsync_EncryptionScopeAsync.json
Labels: Storage

#23218 Implement AzureApplicationCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AzureApplicationCredential.cs
  sdk/identity/Azure.Identity/src/AzureApplicationCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/AzureApplicationCredentialTests.cs
Labels: Azure.Identity

#23236 [CredScan] Adding Event Hubs fake secret to suppression file
  eng/CredScanSuppression.json
Labels: Event Hubs, Client, EngSys

#23238 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#23244 Prep for release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#23245 prep for release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Tables

#23247 Increment version for metricsadvisor releases
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
Labels: auto-merge, Cognitive - Metrics Advisor

#23240 [CredScan] Adding Identity mock file to suppression file
  eng/CredScanSuppression.json
Labels: Client, EngSys, Azure.Identity

#23142 Key Vault SDK beta release
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#23254 remove blank changelog section
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#23224 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#23253 [Storage] Fix vlw cleanup
  sdk/storage/Azure.Storage.Blobs/tests/ImmutableStorageWithVersioningTests.cs
Labels: Storage

#23249 temp fix for response stream getting disposed
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
Labels: Azure.Core

#23257 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#23255 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#23259 Removed unused sections from Key Vault changelogs
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#23214 Mitigate issues found by Component Governance
  eng/Packages.Data.props
  samples/CloudClipboard/CloudClipboard/CloudClipboard.csproj
  samples/linecounter/LineCounter.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests.csproj
Labels: Storage, Event Hubs

#23269 [MetricsAdvisor] Ignoring AAD tests
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
Labels: Client, Cognitive - Metrics Advisor

#23164 [Batch] Fix managed identity support on the data plane
  eng/Packages.Data.props
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/AzureBlobFileSystemConfiguration.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/ContainerRegistry.json
  sdk/batch/Microsoft.Azure.Batch/src/AzureBlobFileSystemConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch/src/ComputeNode.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/AzureBlobFileSystemConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/ContainerRegistry.cs
  sdk/batch/Microsoft.Azure.Batch/src/IProtocolLayer.cs
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/Microsoft.Azure.Batch/src/OutputFileBlobContainerDestination.cs
  sdk/batch/Microsoft.Azure.Batch/src/PoolOperations.cs
  sdk/batch/Microsoft.Azure.Batch/src/ProtocolLayer.cs
  sdk/batch/Microsoft.Azure.Batch/src/ResourceFile.cs
Labels: Batch

#23276 Remove unicode char from change log
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#23274 Add caching to SchemaRegistryClient
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/README.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Samples/Sample01_ReadmeSnippets.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaId.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaIdAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchemaAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroObjectSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
Labels: Schema Registry

#23279 Include information about caching in README
  sdk/schemaregistry/Azure.Data.SchemaRegistry/README.md
Labels: Schema Registry

#23283 change XML docs on ServiceBusReceiver.ReceiveDeferred methods
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
Labels: Service Bus, customer-reported, Community Contribution

#23278 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#23287 [Smoke Tests] Mitigate Failures
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  eng/pipelines/templates/jobs/smoke.tests.yml
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
Labels: Client, EngSys

#23293 Update ServiceBusAdministrationClient timeout retry info
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusAdministrationClient.cs
Labels: Service Bus, customer-reported, Community Contribution

#20354 Trace the ProcessRunner
  sdk/identity/Azure.Identity/src/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/identity/Azure.Identity/src/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/ProcessRunner.cs
  sdk/identity/Azure.Identity/src/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/tests/ProcessRunnerTests.cs
Labels: Do Not Merge, Azure.Identity

#23301 Update Tests with local Record and generated apis.
  sdk/communication/Azure.Communication.CallingServer/README.md
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClient.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallingServerLiveTestBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/ServerCall/ServerCallLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunAllRecordingFunctionsScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunAllRecordingFunctionsScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreateAddRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreateAddRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreatePlayCancelHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreatePlayCancelHangupScenarioTestsAsync.json
Labels: Communication

#23300 [Event Hubs] Doc Comment Updates
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventOptions.cs
Labels: Event Hubs, Client, Docs

#23272 fix(communication): use new redirect policy from core
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Azure.Communication.CallingServer.csproj
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClientOptions.cs
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
  sdk/communication/Shared/src/ClientOptionsExtensions.cs
  sdk/communication/Shared/src/RedirectPolicy.cs
Labels: Communication

#23294 Add Core tests to resourcemanager build
  sdk/core/ci.yml
  sdk/resourcemanager/service.projects
Labels: Azure.Core

#23281 Update remote dependency url as per common schema mapping
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/HttpHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartB.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/HttpHelperTests.cs
Labels: Monitor - Exporter

#23312 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#23307 Sync eng/common directory with azure-sdk-tools for PR 1876
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23326 Rename PIIDetectionSkillMaskingMode.cs to PiiDetectionSkillMaskingMode.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/PIIDetectionSkillMaskingMode.cs
Labels: Search

#23329 Sync eng/common directory with azure-sdk-tools for PR 1884
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#23328 Sync eng/common directory with azure-sdk-tools for PR 1902
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#23323 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Azure.Analytics.Synapse.AccessControl.csproj
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Azure.Analytics.Synapse.ManagedPrivateEndpoints.csproj
  sdk/synapse/Azure.Analytics.Synapse.Spark/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Azure.Analytics.Synapse.Spark.csproj
Labels: auto-merge

#23327 Sync eng/common directory with azure-sdk-tools for PR 1887
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: EngSys, Central-EngSys

#23325 Sync eng/common directory with azure-sdk-tools for PR 1901
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#23252 Handle relative urls in Location redirect header
  sdk/core/Azure.Core/src/Pipeline/Internal/RedirectPolicy.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/RedirectPolicyTests.cs
Labels: Azure.Core

#23343 Revert unconditional log attachment
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
Labels: Azure.Core

#23345 Add test and sample for custom serialization
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/IgnoresPropertiesWithIgnoreDataMember.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/IgnoresPropertiesWithIgnoreDataMemberAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/IgnoresPropertiesWithIgnoreDataMember.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/IgnoresPropertiesWithIgnoreDataMemberAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/IgnoresPropertiesWithIgnoreDataMember.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/IgnoresPropertiesWithIgnoreDataMemberAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample8_CustomizingSerialization.cs
Labels: Tables

#23347 Sync eng/common directory with azure-sdk-tools for PR 1909
  eng/common/scripts/common.ps1
  eng/common/scripts/trust-proxy-certificate.ps1
  eng/common/testproxy/apply-dev-cert.sh
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/localhost.conf
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#23341 Documentation tweak and addition of ParseCertificate method
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/README.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerIdentityServiceClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Azure.Security.ConfidentialLedger.Tests.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/ConfidentialLedgerIdentityServiceTests.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/samples/HelloWorldSamples.cs
Labels: Confidential Ledger

#23362 Sync eng/common directory with azure-sdk-tools for PR 1913
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#23364 [CredScan] Renamed Core test secrets
  sdk/core/Azure.Core/tests/HttpEnvironmentProxyTest.cs
Labels: Client, EngSys, Azure.Core

#23366 Prepare for release
  .github/CODEOWNERS
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
Labels: Schema Registry

#23373 Increment version for schemaregistry releases
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry, auto-merge

#23356 Make the accept session concurrency dynamic
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Service Bus

#23378 Sync eng/common directory with azure-sdk-tools for PR 1919
  eng/common/scripts/FilterPoliCheckResults.ps1
Labels: EngSys, Central-EngSys

#23380 Update to Azure/azure-rest-api-specs@7a42f16
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/BackupRestoreRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultDataAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleAssignmentsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleDefinitionsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
Labels: KeyVault

#23388 Produce more descriptive error for GenerateSasUri when using TokenCredential
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Tables

#23340 Add test for the buffered error response bodies fix
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
Labels: Azure.Core

#23150 Public API spell check
  .vscode/cspell.json
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/scripts/Export-API.ps1
  sdk/formrecognizer/ci.yml
  sdk/storage/ci.yml
  sdk/textanalytics/ci.yml
  sdk/translation/ci.yml
Labels: Compute, Event Grid, Azure.Identity, Digital Twins, Communication

#23396 Prepare Azure.Core 1.18 release
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#23394 Sync eng/common directory with azure-sdk-tools for PR 1912
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#23402 [Messaging] Change Logs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus, Event Hubs, Client, Docs, auto-merge

#23401 Sync eng/common directory with azure-sdk-tools for PR 1924
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#23386 Feature/mgmt track2 network
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkServiceClientTestBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ApplicationGatewayTests.cs
Labels: customer-reported, Community Contribution

#23408 Add factory methods for RuntimeProperties models
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/QueuePropertiesTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/SubscriptionPropertiesTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/TopicPropertiesTests.cs
Labels: Service Bus

#23412 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#23411 [Service Bus] Processor Event docs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
Labels: Service Bus, Client, Docs

#23415 Sync eng/common directory with azure-sdk-tools for PR 1926
  eng/common/Update-Change-Log.ps1
Labels: EngSys, Central-EngSys

#23416 Fixing a doc bug for GetContainerClient
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
Labels: Storage

#21135 Fix IoT Models Repository Readme issues
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/README.md
Labels: IoT

#23419 Add TryCreate to Identifier structures
  eng/scripts/Export-API.ps1
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyVaultCertificateIdentifier.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/KeyVaultCertificateIdentifierTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyVaultKeyIdentifier.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyVaultKeyIdentifierTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/api/Azure.Security.KeyVault.Secrets.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/KeyVaultSecretIdentifier.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/KeyVaultSecretIdentifierTests.cs
Labels: KeyVault

#23446 Handle SAS generation properly when constructing a client with a connection string
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableConnectionStringTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientTests.cs
Labels: Tables

#23400 API Skeleton for EventHubBufferedProducerClient
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EnqueueEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventBatchFailedEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventBatchSucceededEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#23250 Update RecordedTestSanitizer.cs to Sanitize Leaked Secrets
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/Infrastructure/AnomalyDetectorRecordedTestSanitizer.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/SessionRecords/AnomalyDetectorClientLiveTests/GetResultForChangePointDetect.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/SessionRecords/AnomalyDetectorClientLiveTests/GetResultForChangePointDetectAsync.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/SessionRecords/AnomalyDetectorClientLiveTests/GetResultForEntireDetect.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/SessionRecords/AnomalyDetectorClientLiveTests/GetResultForEntireDetectAsync.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/SessionRecords/AnomalyDetectorClientLiveTests/GetResultForLastDetect.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/SessionRecords/AnomalyDetectorClientLiveTests/GetResultForLastDetectAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_T.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_TAsync.json
  sdk/communication/Azure.ResourceManager.Communication/tests/Infrastructure/CommunicationManagementRecordedTestSanitizer.cs
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/RecordedTestSanitizer.cs
  sdk/iot/Azure.IoT.Hub.Service/tests/CustomRequestSanitizer.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorRecordedTestSanitizer.cs
Labels: Azure.Core

#23398 [Event Hubs] Documentation Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/ReadEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnectionOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsRetryOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionClosingEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/PartitionInitializingEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessErrorEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/CreateBatchOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingOptions.cs
Labels: Event Hubs, Client, Docs

#23453 Adding Tests and Design
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-event-hub-buffered-producer.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/proposal-event-hub-buffered-producer.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientOptionsTests.cs
Labels: Event Hubs

#23414 [MetricsAdvisor] Merged CreateAndGet Data Feed tests
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureApplicationInsights%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureApplicationInsights%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureBlob%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureBlob%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureCosmosDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureCosmosDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureDataExplorer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureDataExplorer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureDataLakeStorage%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureDataLakeStorage%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureTable%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%AzureTable%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%InfluxDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%InfluxDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%LogAnalytics%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%LogAnalytics%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%MongoDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%MongoDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%MySql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%MySql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%PostgreSql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%PostgreSql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%SqlServer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithMinimumSetup(%SqlServer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureApplicationInsights%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureApplicationInsights%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureBlob%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureBlob%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureCosmosDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureCosmosDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureDataExplorer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureDataExplorer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureDataLakeStorage%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureDataLakeStorage%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureTable%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%AzureTable%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%InfluxDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%InfluxDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%LogAnalytics%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%LogAnalytics%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%MongoDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%MongoDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%MySql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%MySql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%PostgreSql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%PostgreSql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%SqlServer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithOptionalMembers(%SqlServer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithTokenCredential.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetWithTokenCredentialAsync.json
Labels: Client, Cognitive - Metrics Advisor

#23454 [MetricsAdvisor] Merged Update Data Feed tests
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureApplicationInsights%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureApplicationInsights%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureBlob%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureBlob%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureCosmosDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureCosmosDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureDataExplorer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureDataExplorer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureDataLakeStorage%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureDataLakeStorage%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureTable%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%AzureTable%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%InfluxDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%InfluxDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%LogAnalytics%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%LogAnalytics%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%MongoDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%MongoDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%MySql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%MySql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%PostgreSql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%PostgreSql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%SqlServer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithEveryMember(%SqlServer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureApplicationInsights%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureApplicationInsights%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureBlob%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureBlob%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureCosmosDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureCosmosDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureDataExplorer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureDataExplorer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureDataLakeStorage%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureDataLakeStorage%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureTable%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%AzureTable%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%InfluxDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%InfluxDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%LogAnalytics%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%LogAnalytics%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%MongoDb%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%MongoDb%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%MySql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%MySql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%PostgreSql%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%PostgreSql%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%SqlServer%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithMinimumSetup(%SqlServer%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithTokenCredential.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateWithTokenCredentialAsync.json
Labels: Client, Cognitive - Metrics Advisor

#23406 Add claim check sample
  sdk/core/Azure.Core.TestFramework/src/LiveOnlyAttribute.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/CONTRIBUTING.md
  sdk/servicebus/Azure.Messaging.ServiceBus/perf/Program.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample10_ClaimCheck.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/TestCategory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/TestRunFixture.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample10_ClaimCheck.cs
  sdk/servicebus/test-resources.json
Labels: Service Bus

#23193 [AKS] Update API version to 2021-07-01
  eng/mgmt/mgmtmetadata/containerservice_resource-manager.txt
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/AzSdk.RP.props
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/ContainerServiceClient.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/AgentPool.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ContainerServiceNetworkProfile.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedCluster.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedClusterAgentPoolProfile.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedClusterAgentPoolProfileProperties.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedClusterManagedOutboundIPProfile.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedClusterNATGatewayProfile.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedClusterPropertiesIdentityProfileValue.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedClusterSecurityProfile.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ManagedClusterSecurityProfileAzureDefender.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/OutboundType.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/Models/ScaleDownMode.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Generated/SdkInfo_ContainerServiceClient.cs
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/src/Microsoft.Azure.Management.ContainerService.csproj
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/tests/SessionRecords/ContainerServiceTests/ContainerListClusterAdminCredentialsTest.json
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/tests/SessionRecords/ContainerServiceTests/ContainerServiceCreateManagedServiceTest.json
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/tests/SessionRecords/ContainerServiceTests/ContainerServiceDeleteServiceTest.json
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/tests/SessionRecords/ContainerServiceTests/ContainerServiceGetCredentialsTest.json
  sdk/containerservice/Microsoft.Azure.Management.ContainerService/tests/SessionRecords/ContainerServiceTests/ContainerServiceUpdateServiceTest.json
Labels: Mgmt

#23368 Added HttpAuthorization
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpAuthorization.cs
  sdk/core/Azure.Core/tests/HttpAuthorizationTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
Labels: Azure.Core, APIChange

#23452 [Core.Experimental] Fix JsonData To<T> Bug
  sdk/core/Azure.Core.Experimental/src/JsonData.cs
  sdk/core/Azure.Core.Experimental/tests/JsonDataTests.cs
Labels: Azure.Core

#23478 bump core version and fix errordetail reference
  eng/Packages.Data.props
  sdk/core/Azure.Core/tests/ManagementPipelineBuilderTests.cs
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager/src/PsuedoGenerated/Resources/Models/ResourceGroupExportResult.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/PsuedoGenerated/Resources/Models/ResourceGroupExportResult.cs
Labels: Azure.Core

#23488 Rename classes and properties in Azure.Monitor
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/LogsBatchQueryResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/LogsQueryResult.Serialization.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/LogsQueryResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/LogsTable.Serialization.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/LogsTable.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/LogsTableColumn.Serialization.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/LogsTableColumn.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricResult.Serialization.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricsQueryResult.Serialization.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricsQueryResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/QueryModelFactory.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/LogsBatchQueryResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/LogsQueryResults.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/LogsTable.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/LogsTableRow.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricsQueryResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/QueryResultColumn.cs
  sdk/monitor/Azure.Monitor.Query/src/Properties/AssemblyInfo.cs
  sdk/monitor/Azure.Monitor.Query/src/RowBinder.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientSamples.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsTestData.cs
Labels: Search

#23397 Sync eng/common directory with azure-sdk-tools for PR 1918
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#23514 customizations
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/IResourceSkusOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/IVirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/ResourceSkusOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachine.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachinesOperations.cs
Labels: Compute

#23448 Operation name mapping for server spans
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartA.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryPartATests.cs
Labels: Monitor - Exporter

#23492 test(network): update cases
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VNetworkGatewayBaseTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VnetGatewayBaseTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VnetGatewayBaseTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VnetGatewayConnectionSiteToSiteTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VnetGatewayConnectionSiteToSiteTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/GatewayOperationsTests/VnetGatewayConnectionVnetToVnetTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/Tests/GatewayOperationsTests.cs
Labels: Mgmt, customer-reported, Community Contribution

#23621 Sync eng/common directory with azure-sdk-tools for PR 1943
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23622 Mark as client library
  eng/Packages.Data.props
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid

#23628 Remove link from active links when creation fails
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
Labels: Service Bus

#23528 [ServiceBus] Add abandonment remarks to AutoCompleteMessages docs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
Labels: Service Bus, customer-reported, Community Contribution

#23636 [Compute Track 2] fix links after the compute PR gets merged
  sdk/compute/Azure.ResourceManager.Compute/README.md
  sdk/compute/Azure.ResourceManager.Compute/samples/README.md
  sdk/compute/Azure.ResourceManager.Compute/samples/Sample1_ManagingDisks.md
  sdk/compute/Azure.ResourceManager.Compute/samples/Sample2_ManagingVirtualMachines.md
Labels: Compute
