Repository Azure/azure-sdk-for-net, pull requests merged in 2021-11, with the labels that each got.

#24863 Update SignalR.Management to 1.12.0
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#25038 [Event Hubs] Minor Organization and Formatting
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#24864 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Compute

#25046 Sync eng/common directory with azure-sdk-tools for PR 2177
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#25048 Allow copying value/sequence message
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
Labels: Service Bus

#25062 [TA] Update release date and rest api link
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
Labels: Cognitive - Text Analytics

#25060 Update self-signed test certs for KV tests
  eng/scripts/X509Certificate2.psm1
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.Constants.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/ValidateMergeCertificate.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/ValidateMergeCertificateAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyImportCertificatePem.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyImportCertificatePemAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyImportCertificatePemWithoutIssuer.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyImportCertificatePemWithoutIssuerAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyImportCertificatePfx.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/VerifyImportCertificatePfxAsync.json
Labels: KeyVault

#25067 Sync eng/common directory with azure-sdk-tools for PR 2203
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#24984 Updated DataLakeFileClient.Upload docs to define overwrite expectatio…
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
Labels: Storage

#25074 Sync eng/common directory with azure-sdk-tools for PR 2179
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#25076 [WebPubSub] Update README about sample ref.
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
  sdk/webpubsub/ci.yml
Labels: auto-merge

#25085 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#24506 [Search] Add indexer client timeout sample code
  sdk/search/Azure.Search.Documents/samples/Sample02_Service.md
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.cs
Labels: Search

#25081 [Event Hubs] Buffered Producer Partition Assignment
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/PartitionResolver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/PartitionResolverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#25089 Prepare Storage for STG 79 beta
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#25073 Make MaxMessageSizeInKilobytes nullable
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueueProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueuePropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicPropertiesExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicQueueCrudOperations(True)Async.json
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/SessionRecords/ServiceBusManagementClientLiveTests/BasicTopicCrudOperations(True)Async.json
Labels: Service Bus

#25101 Sync eng/common directory with azure-sdk-tools for PR 2053
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#25043 BatchAccountIdentity constructor breaking change
  eng/Packages.Data.props
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/Microsoft.Azure.Batch.Conventions.Files.csproj
  sdk/batch/Microsoft.Azure.Batch.FileStaging/src/Microsoft.Azure.Batch.FileStaging.csproj
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/Microsoft.Azure.Management.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Management.Batch/src/Microsoft.Azure.Management.Batch.csproj
  sdk/batch/Microsoft.Azure.Management.Batch/src/Models/BatchAccountIdentity.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Models/BatchAccountIdentityUserAssignedIdentitiesValue.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/InMemoryTests/AccountTests.InMemory.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/ScenarioTests/BatchScenarioTestBase.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/ScenarioTests/LocationTests.ScenarioTests.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountCanCreateWithBYOSEnabled.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/CertificateTests/BatchCertificateEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/GetLocationQuotasAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusFilterFamilyNameAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusMaxResultsAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/PoolTests/BatchPoolEndToEndAsync.json
Labels: Batch

#25111 Updated release dates
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#25071 Default To, ReplyTo, and CorrelationId as null
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Service Bus

#25110 Prepare Azure.Core 1.21 release
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#25099 API updates for Schema Registry
  sdk/schemaregistry/Azure.Data.SchemaRegistry/README.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Properties/AssemblyInfo.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaProperties.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryModelFactory.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistrySchema.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Samples/Sample01_ReadmeSnippets.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaPropertiesTest.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoder.cs
Labels: Schema Registry

#25114 Sync eng/common directory with azure-sdk-tools for PR 2199
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#25109 Update Core changelog
  sdk/core/Azure.Core/CHANGELOG.md
Labels: Azure.Core

#25112 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Azure.AI.Language.QuestionAnswering.csproj
Labels: auto-merge

#25116 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#25117 Sync eng/common directory with azure-sdk-tools for PR 2202
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#25118 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Azure.AI.Language.Conversations.csproj
Labels: auto-merge

#25105 Spelling Error Fix
  sdk/identity/Azure.Identity/troubleshooting.md
Labels: Azure.Identity, customer-reported, Community Contribution

#24113 Escape pk and rk on GetEntity calls
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TablesCompatSwitches.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/UpsertAndQueryWithSingleQuoteNames(False).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/UpsertAndQueryWithSingleQuoteNames(False)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/UpsertAndQueryWithSingleQuoteNames(True).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/UpsertAndQueryWithSingleQuoteNames(True)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/UpsertAndQueryWithSingleQuoteNames(False).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/UpsertAndQueryWithSingleQuoteNames(False)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/UpsertAndQueryWithSingleQuoteNames(True).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/UpsertAndQueryWithSingleQuoteNames(True)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/UpsertAndQueryWithSingleQuoteNames(False).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/UpsertAndQueryWithSingleQuoteNames(False)Async.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/UpsertAndQueryWithSingleQuoteNames(True).json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/UpsertAndQueryWithSingleQuoteNames(True)Async.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: Tables

#25141 Remove unused types from Azure.Core.Experimental
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/RequestOptions.cs
  sdk/core/Azure.Core.Experimental/src/ResponseStatusOption.cs
Labels: Azure.Core

#25143 Increment version for modelsrepository releases
  sdk/modelsrepository/Azure.IoT.ModelsRepository/CHANGELOG.md
  sdk/modelsrepository/Azure.IoT.ModelsRepository/src/Azure.IoT.ModelsRepository.csproj
Labels: auto-merge

#25133 Client-side encryption no longer alters user-provided metadata
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideEncryptor.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
Labels: Storage

#25134 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#25159 [Web PubSub] AddWebPubSubServiceClient with Azure.Identity.TokenCredential
  sdk/webpubsub/Azure.Messaging.WebPubSub/api/Azure.Messaging.WebPubSub.netstandard2.0.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClientBuilderExtensions.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/Samples/WebPubSubSamples.HelloWorld.cs
Labels: auto-merge

#25149 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, auto-merge

#25113 Use working region/subscription for search deployments
  sdk/search/tests.yml
Labels: Search, IoT, TimeseriesInsights, Digital Twins, Central-EngSys

#25158 Adding MessageState property to SystemProperties.
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Message.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageState.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/Infrastructure/TestUtility.cs
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/SenderReceiverClientTestBase.cs
Labels: Service Bus

#25168 Sync eng/common directory with azure-sdk-tools for PR 2219
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-docker.yml
Labels: EngSys, Central-EngSys

#25170 Regenerate using latest swagger.
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/Error.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/Error.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/ErrorDetail.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/ErrorDetail.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaGroups.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaGroups.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaId.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaVersions.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaVersions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaGetByIdHeaders.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaGroupsRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaQueryIdByContentHeaders.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegisterHeaders.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaGroups.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClientOptions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaVersions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/autorest.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/schemaregistry.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaId.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaIdAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchemaAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.Tests.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserialize.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeGenericRecord.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeGenericRecordAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventData.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventDataAsync.json
Labels: Schema Registry

#25160 Dispose linked cancellation token sources
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#25174 [BUG] Typo in DiagnosticsOptions
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
Labels: Azure.Core, customer-reported, Community Contribution

#25171 Add changelog for releasing SDK 5.2.0
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus

#25161 [WebPubSub] Make hub methods virtual.
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/api/Microsoft.Azure.WebPubSub.AspNetCore.netcoreapp3.1.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/api/Microsoft.Azure.WebPubSub.AspNetCore.netstandard2.0.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubDependencyInjectionExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubEndpointRouteBuilderExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubRequestExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/ServiceRequestHandlerAdapter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/WebPubSubMarkerService.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/WebPubSubMiddleware.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/WebPubSubHub.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/Microsoft.Azure.WebPubSub.AspNetCore.Tests.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/Samples/WebPubSubSample.HelloWorld.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/ServiceRequestHandlerTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/WebPubSubEventRequestTests.cs
Labels: auto-merge

#25155 Resolve archboard feedback, prepare beta release
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyReleasePolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/RandomBytes.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/ReleaseKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.SecureKeyRelease.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyReleasePolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
Labels: KeyVault

#25184 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Service Bus, auto-merge

#25188 Remove invalid wiki link to examples
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#25147 [Event Hubs] Buffered Producer Live Test and Fixes
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/PartitionResolver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EnqueueEventOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventBatchFailedEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/SendEventBatchSucceededEventArgs.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#25193 Sync eng/common directory with azure-sdk-tools for PR 2223
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#25200 [Event Hubs] Buffered Producer Live Tests
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientLiveTests.cs
Labels: Event Hubs, Client

#25205 Correct API-Version of Cognitive Service CV SDK to reflect patch natu…
  sdk/cognitiveservices/Vision.ComputerVision/CHANGELOG.md
  sdk/cognitiveservices/Vision.ComputerVision/src/Microsoft.Azure.CognitiveServices.Vision.ComputerVision.csproj
Labels: Cognitive - Computer Vision, auto-merge

#25199 [Event Hubs] November Release Prep (Core)
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#25209 Tables Nov Release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#25211 [Event Hubs] Remove Schema Registry Integration
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
Labels: Event Hubs, Client

#25213 [FormRecognizer] Updated changelog
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
Labels: Client, Cognitive - Form Recognizer

#25217 [FormRecognizer] Updated README to reflect new version
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
Labels: Client, Cognitive - Form Recognizer

#25218 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#25219 [Event Hubs] Processor Release Preparation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#25221 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
Labels: KeyVault, auto-merge

#25191 Updated changelogs to reflect STG 80 features
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#25225 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#25226 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer, auto-merge

#25227 Fix avro build
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Samples/Sample01_ReadmeSnippets.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
Labels: Schema Registry

#25222 Sync eng/common directory with azure-sdk-tools for PR 2240
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#25042 [TA] Increase max retries + disable some tests
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MultiCategoryClassifyTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeCustomEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SingleCategoryClassifyTests.cs
Labels: Cognitive - Text Analytics

#25230 Sync eng/common directory with azure-sdk-tools for PR 2242
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25232 Update Avro casing
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaFormatTests.cs
Labels: Schema Registry

#25231 [Event Hubs] ProcessEventArgs Doc Updates
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/ProcessEventArgs.cs
Labels: Event Hubs, Client, auto-merge

#25198 [Search] Update code with semantic search changes
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/PrioritizedFields.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/PrioritizedFields.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/QueryLanguage.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndex.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndex.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchOptions.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchOptions.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SemanticConfiguration.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SemanticConfiguration.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SemanticField.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SemanticField.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SemanticSettings.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SemanticSettings.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/PrioritizedFields.cs
  sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/tests/Models/SearchIndexTests.cs
Labels: Search

#25237 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#25154 [Search] Mark version 11.4.0-beta.5 in release
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search

#25239 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: auto-merge

#25197 [Event Hubs] Processor Load Balancing Defaults
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
Labels: Event Hubs, Client

#25233 [Event Hubs] Performance Test Doc Comments
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/BatchPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventHubsOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventHubsPartitionOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/ReadPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/PublishBatchesToGateway.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/PublishBatchesToPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/PublishEventsToPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/ReadFromPartitionWithConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/ReadFromPartitionWithReceiver.cs
Labels: Event Hubs, Client

#25212 Fix broken link
  sdk/core/Azure.Core/CHANGELOG.md
Labels: Azure.Core

#25220 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: auto-merge

#25167 communication calling answer reject
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/TransferCallRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/TransferCallRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ServerCallsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.CallingServer/tests/CallingServerClient/CallingServerClientTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallingServerTestBase.cs
Labels: Communication

#25241 Pass user-specified format through to service
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/autorest.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateGetSchemaPropertiesRequestForUnknownFormatType.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateGetSchemaPropertiesRequestForUnknownFormatTypeAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateRegisterRequestForUnknownFormatType.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateRegisterRequestForUnknownFormatTypeAsync.json
Labels: Schema Registry

#25253 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#25260 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: auto-merge

#25256 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#25263 Remove prerelease
  sdk/schemaregistry/Azure.Data.SchemaRegistry/README.md
Labels: Schema Registry

#25264 Sync eng/common directory with azure-sdk-tools for PR 2249
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25261 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToClient.cs
Labels: Service Bus

#25271 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#25273 [WebPubSub] Remove common `Action` suffix for js.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Config/WebPubSubConfigProvider.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/JObjectTests.cs
Labels: auto-merge

#25224 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#25259 Storage/test infra/test fixture abstraction
  sdk/storage/Azure.Storage.Blobs.Batch/tests/Azure.Storage.Blobs.Batch.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTransactionalHashingTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeFileClientTransactionalHashingTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientTransactionalHashingTests.cs
Labels: Storage

#25284 Fix ref docs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClientOptions.cs
Labels: Schema Registry

#22420 Confidential Ledger "Short LRO"
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/README.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClientOptions.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/PostLedgerEntryOperation.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/ConfidentialLedgerClientLiveTests.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/ConfidentialLedgerClientTests.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/CreateAndGetAndDeleteUser.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/CreateAndGetAndDeleteUserAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetCurrentLedgerEntry.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetCurrentLedgerEntryAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntries.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntriesAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntry.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntryAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerIdentity.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerIdentityAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetReceipt.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetReceiptAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetTransactionStatus.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetTransactionStatusAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/PostLedgerEntry.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/PostLedgerEntryAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/samples/HelloWorldSamples.cs
  sdk/core/Azure.Core.TestFramework/src/ClientDiagnosticListener.cs
  sdk/core/Azure.Core/.gitignore
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/generate_shared_ref_solution.ps1
  sdk/core/Azure.Core/src/Operation.cs
  sdk/core/Azure.Core/src/OperationOfT.cs
  sdk/core/Azure.Core/src/Shared/OperationHelpers.cs
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalOfT.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/OperationInternalTests.cs
  sdk/core/Azure.Core/tests/TestOperation.cs
  sdk/core/Azure.Core/tests/TestPageableOperation.cs
  sdk/core/Azure.Core/tests/samples/FakeClients/MyStoreClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/synapse/Azure.Analytics.Synapse.Spark/tests/SparkBatchClientLiveTests.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/tests/SparkSessionClientLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Azure.Core, Confidential Ledger

#25287 Sr avro serializer revert
  eng/Packages.Data.props
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/IMessageWithContentType.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.sln
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Properties/AssemblyInfo.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoder.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroObjectSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroObjectSerializerOptions.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.Tests.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Samples/Sample01_ReadmeSnippets.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventData.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventDataAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeWithNullSchemaId.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeWithNullSchemaIdAsync.json
Labels: Event Hubs, Azure.Core, Schema Registry

#25286 Increment version for schemaregistry releases
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry, auto-merge

#25251 Add template LLC project
  sdk/template-LLC/Azure.Template.LLC/Azure.Template.LLC.sln
  sdk/template-LLC/Azure.Template.LLC/CHANGELOG.md
  sdk/template-LLC/Azure.Template.LLC/Directory.Build.props
  sdk/template-LLC/Azure.Template.LLC/README.md
  sdk/template-LLC/Azure.Template.LLC/api/Azure.Template.LLC.netstandard2.0.cs
  sdk/template-LLC/Azure.Template.LLC/src/Azure.Template.LLC.csproj
  sdk/template-LLC/Azure.Template.LLC/src/Generated/TemplateServiceClient.cs
  sdk/template-LLC/Azure.Template.LLC/src/Generated/TemplateServiceClientOptions.cs
  sdk/template-LLC/Azure.Template.LLC/src/GlobalSuppressions.cs
  sdk/template-LLC/Azure.Template.LLC/src/autorest.md
  sdk/template-LLC/Azure.Template.LLC/src/properties/AssemblyInfo.cs
  sdk/template-LLC/Azure.Template.LLC/src/swagger/swagger.json
  sdk/template-LLC/Azure.Template.LLC/tests/Azure.Template.LLC.Tests.csproj
  sdk/template-LLC/Azure.Template.LLC/tests/Samples/TemplateServiceSamples.HelloWorld.cs
  sdk/template-LLC/Azure.Template.LLC/tests/SerializationHelpers.cs
  sdk/template-LLC/Azure.Template.LLC/tests/TemplateServiceLiveTests.cs
  sdk/template-LLC/Azure.Template.LLC/tests/TemplateServiceTestEnvironment.cs
  sdk/template-LLC/Azure.Template.LLC/tests/TemplateServiceTests.cs
  sdk/template-LLC/Directory.Build.props
  sdk/template-LLC/ci.yml
  sdk/template-LLC/test-resources.json
  sdk/template-LLC/tests.yml
Labels: EngSys

#25300 [WebPubSub][Functions] Fix setting states.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Trigger/WebPubSubTriggerDispatcher.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Utilities.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/JObjectTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/ConnectEventResponse.cs
Labels: auto-merge

#23420 Create HttpClientTransportOptions and utilize it in Confidential Ledger
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/PostLedgerEntryOperation.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/ConfidentialLedgerClientTests.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/CreateAndGetAndDeleteUser.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/CreateAndGetAndDeleteUserAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetConsortiumMembers.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetConsortiumMembersAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetConstitution.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetConstitutionAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetCurrentLedgerEntry.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetCurrentLedgerEntryAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetEnclaveQuotes.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetEnclaveQuotesAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntries.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntriesAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntry.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerEntryAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerIdentity.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetLedgerIdentityAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetReceipt.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetReceiptAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetTransactionStatus.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/GetTransactionStatusAsync.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/PostLedgerEntry.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/SessionRecords/ConfidentialLedgerClientLiveTests/PostLedgerEntryAsync.json
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/DefaultClientOptions.cs
  sdk/core/Azure.Core/src/Diagnostics/AzureCoreEventSource.cs
  sdk/core/Azure.Core/src/Pipeline/DisposableHttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransportOptions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/src/Pipeline/ServerCertificateCustomValidationArgs.cs
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/tests/AzureEventSourceTests.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientOptionsTests.cs
  sdk/core/Azure.Core/tests/HttpAuthorizationTests.cs
  sdk/core/Azure.Core/tests/HttpClientTransportFunctionalTest.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/HttpPipelineTransportTests.cs
  sdk/core/Azure.Core/tests/HttpWebRequestTransportFunctionalTest.cs
  sdk/core/Azure.Core/tests/ManagementPipelineBuilderTests.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
  sdk/network/Microsoft.Azure.Management.Network/tests/Tests/VmssNetworkInterfaceTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/ArmClientTests.cs
Labels: Azure.Core

#25283 Sync eng/common directory with azure-sdk-tools for PR 2247
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/clouds/AzureChinaCloud.json
  eng/common/TestResources/clouds/AzureCloud.json
  eng/common/TestResources/clouds/AzureUSGovernment.json
Labels: EngSys, Central-EngSys

#25307 Only return DisposableHttpPipeline when needed
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/DisposableHttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/ManagementPipelineBuilderTests.cs
Labels: Azure.Core

#25290 Sync eng/common directory with azure-sdk-tools for PR 2259
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25172 Log api-version query parameter by default
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ClientOptionsExtensions.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/ExtensionMethods.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/ExtensionMethods.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
  sdk/core/Azure.Core/tests/HttpMessageSanitizerTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ClientOptionsExtensions.cs
  sdk/search/Azure.Search.Documents/src/SearchClientOptions.cs
Labels: Azure.Core

#25291 Increment version for schemaregistry releases
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry, auto-merge

#25302 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Microsoft.Azure.WebPubSub.Common.csproj
Labels: auto-merge

#25250 Use arm template parameters as sole input for live test environment variables
  sdk/eventhub/Microsoft.Azure.EventHubs/tests/Infrastructure/TestConstants.cs
  sdk/eventhub/test-resources.json
  sdk/search/test-resources.json
  sdk/tables/test-resources.json
Labels: Search, Event Hubs, Azure.Identity, Tables, Central-EngSys

#25325 Sync eng/common directory with azure-sdk-tools for PR 2265
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#25311 Update Autorest to 3.0.0-beta.20211112.1
  eng/Packages.Data.props
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/api/Azure.Verticals.AgriFood.Farming.netstandard2.0.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ApplicationDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/AttachmentsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/BoundariesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropVarietiesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/HarvestDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ImageProcessingClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthProvidersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthTokensClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/PlantingDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ScenesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonalFieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/TillageDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/WeatherClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/tests/FarmBeatsClientLiveTests.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerIdentityServiceClient.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataPolicyClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataRolesClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/api/Azure.Analytics.Purview.Catalog.netstandard2.0.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCatalogClient.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCollections.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewEntities.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewGlossaries.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewLineages.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewRelationships.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewTypes.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewClassificationRuleClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewDataSourceClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanningServiceClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleAssignmentsClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleDefinitionsClient.cs
  sdk/template-LLC/Azure.Template.LLC/README.md
  sdk/template-LLC/Azure.Template.LLC/api/Azure.Template.LLC.netstandard2.0.cs
  sdk/template-LLC/Azure.Template.LLC/src/Azure.Template.LLC.csproj
  sdk/template-LLC/Azure.Template.LLC/src/Generated/TemplateServiceClient.cs
  sdk/template-LLC/Azure.Template.LLC/tests/Samples/TemplateServiceSamples.HelloWorld.cs
  sdk/template-LLC/Azure.Template.LLC/tests/TemplateServiceTests.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/HealthApiClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/WebPubSubServiceClient.cs
Labels: Event Hubs

#25243 [SignalR] Enable trigger to use identity-based connection
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/Resolver/SignalRRequestResolver.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/SignalRRequestResolverTests.cs
Labels: auto-merge

#25322 Default to 2s for standard size sessions.
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/StartRenderingSessionOperation.cs
Labels: auto-merge

#25326 Use data plane RBAC for Key Vault tests
  sdk/keyvault/test-resources.json
Labels: KeyVault

#25328 Disable Expect100Continue by default
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#25269 Cache key from KeyClient.GetCryptographyClient
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateOperationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/TestExtensionMethods.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/LocalCryptographyProviderFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeysEventSource.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyResolverMockTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/LocalCryptographyProviderFactoryTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/EncryptDecryptFromKeyClient.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/EncryptDecryptFromKeyClientAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/EncryptWithKeyNameReturnsFullKeyId.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/CryptographyClientLiveTests/EncryptWithKeyNameReturnsFullKeyIdAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/EncryptDecryptFromKeyClient.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/EncryptDecryptFromKeyClientAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/EncryptWithKeyNameReturnsFullKeyId.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/EncryptWithKeyNameReturnsFullKeyIdAsync.json
Labels: KeyVault

#25331 Sync eng/common directory with azure-sdk-tools for PR 2276
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: EngSys, Central-EngSys

#25349 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
Labels: KeyVault, auto-merge

#25352 [FormRecognizer] Updating test region
  sdk/formrecognizer/tests.yml
Labels: Client, Cognitive - Form Recognizer

#25353 Sync eng/common directory with azure-sdk-tools for PR 2267
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#25355 Sync eng/common directory with azure-sdk-tools for PR 2272
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#25363 Hide misspelled BlobErrorCode
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobErrorCode.cs
Labels: Storage

#25075 [SignalR] Add Strongly typed serverless hub
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/api/Microsoft.Azure.WebJobs.Extensions.SignalRService.netcoreapp3.1.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/api/Microsoft.Azure.WebJobs.Extensions.SignalRService.netstandard2.0.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/samples/Sample01_StronglyTypedHub.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/IInternalServiceHubContextStore.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/ServiceHubContextStore.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/ServiceManagerStore.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/ServerlessHubOfT.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/SignalRTriggerBindingProvider.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Samples/StronglyTypedHub.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/StronglyTypedHub/IChatClient.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/StronglyTypedHub/StronglyTypedHubContextStoreTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/StronglyTypedHub/StronglyTypedServerlessHubTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/StronglyTypedHub/TestStronglyTypedHub.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/StronglyTypedHub/TriggerProviderForStronglyTypedHubTests.cs
Labels: SignalR, auto-merge

#25345 Increment version for operationalinsights releases
  sdk/operationalinsights/Microsoft.Azure.OperationalInsights/CHANGELOG.md
  sdk/operationalinsights/Microsoft.Azure.OperationalInsights/src/Microsoft.Azure.OperationalInsights.csproj
Labels: auto-merge

#25047 Added Container Filter Blobs by Tag
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Batch_SasUri_NotOwner.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Batch_SasUri_NotOwnerAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_Convenience_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_ContainerScoped_Basic_Convenience_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_Convenience_ContainerSas.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_ContainerScoped_Basic_Convenience_ContainerSasAsync.json
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerFilterBlobsHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/FilterBlobsAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobContainerSasPermissions.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithContainerSAS.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/CanGetParentContainerClient_WithContainerSASAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerIdentitySAS(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerIdentitySAS(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerSAS(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DeleteAsync_VersionContainerSAS(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/SetPermissions_BlobContainerSasPermissions(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasBuilderTests/SetPermissions_BlobContainerSasPermissions(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerIdentitySas_AllPermissions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerIdentitySas_AllPermissionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerSas_AllPermissions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobSasTests/ContainerSas_AllPermissionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FilterBlobsByTag.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FilterBlobsByTagAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(Filter).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTag_ContainerSAS(Filter)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/Ctor_AzureSasCredential.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientTests/Ctor_AzureSasCredentialAsync.json
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
Labels: Storage

#25372 Sync eng/common directory with azure-sdk-tools for PR 2290
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25387 SDK generation from 2021-08-01 Swagger
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskAccessesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskEncryptionSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskRestorePointOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DisksOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AccessUri.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CreationData.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiagnosticsProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskCreateOption.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskEncryptionSet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskEncryptionSetType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskEncryptionSetUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskRestorePoint.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskSecurityProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskSecurityTypes.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/Encryption.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/EncryptionType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GrantAccessData.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/Snapshot.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SnapshotUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SnapshotsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperationsExtensions.cs
Labels: Compute

#25346 [Event Hubs] Flaky Test Fix
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#25389 [Azure.Core] Logging Sample Enhancement
  sdk/core/Azure.Core/samples/Diagnostics.md
Labels: Client, Azure.Core, Docs, auto-merge

#25214 [LLC] Implement RequestOptions.AddPolicy
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/DisposableHttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
Labels: Azure.Core

#25397 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#25394 Update Core changelog for AddPolicy
  sdk/core/Azure.Core/CHANGELOG.md
Labels: Azure.Core

#25388 [Event Hubs] Sample updates for the Buffered Producer
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_AzureEventSourceListener.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample04_PublishingEventsLiveTests.cs
Labels: Event Hubs, Client

#25032 TURN: Adding RouteType optional parameter to GetRelayConfiguration
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
  sdk/communication/Azure.Communication.NetworkTraversal/README.md
  sdk/communication/Azure.Communication.NetworkTraversal/api/Azure.Communication.NetworkTraversal.netstandard2.0.cs
  sdk/communication/Azure.Communication.NetworkTraversal/samples/Sample1_CommunicationRelayClient.md
  sdk/communication/Azure.Communication.NetworkTraversal/samples/Sample1_CommunicationRelayClientAsync.md
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
  sdk/communication/Azure.Communication.NetworkTraversal/src/CommunicationRelayClient.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/CommunicationRelayClientOptions.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/CommunicationNetworkTraversalRestClient.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationIceServer.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationIceServer.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfigurationRequest.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfigurationRequest.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/RouteType.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/NetworkTraversalModelFactory.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Models/GetRelayConfigurationOptions.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/autorest.md
  sdk/communication/Azure.Communication.NetworkTraversal/tests/CommunicationRelayClient/CommunicationRelayClientLiveTests.cs
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionString.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringRouteTypeAny.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringRouteTypeAnyAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringRouteTypeNearest.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringRouteTypeNearestAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringWithoutIdentity.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringWithoutIdentityAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredential.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialRouteTypeAny.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialRouteTypeAnyAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialRouteTypeNearest.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialRouteTypeNearestAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialWithoutIdentity.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialWithoutIdentityAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredential.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialRouteTypeAny.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialRouteTypeAnyAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialRouteTypeNearest.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialRouteTypeNearestAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialWithoutIdentity.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialWithoutIdentityAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKey.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKeyAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKeyWithoutIdentity.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKeyWithoutIdentityAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithToken.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithTokenAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithTokenWithoutIdentity.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithTokenWithoutIdentityAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfiguration.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationAsyncWithNearestRouteTypeAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationAsyncWithoutIdentity.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationAsyncWithoutIdentityAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationWithNearestRouteType.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationWithoutIdentity.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/samples/Sample1_CommunicationRelayClient.cs
Labels: Communication

#24540 [MetricsAdvisor] Add tests for Skip and MaximumPageSize input options in AnomalyAlertConfigurationLiveTests and AnomalyDetectionConfigurationLiveTests
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyDetectionConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/GetAlertConfigurationsWithOptionalMaxPageSize.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/GetAlertConfigurationsWithOptionalMaxPageSizeAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/GetAlertConfigurationsWithOptionalSkip.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/GetAlertConfigurationsWithOptionalSkipAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/GetDetectionConfigurationsWithOptionalMaxPageSize.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/GetDetectionConfigurationsWithOptionalMaxPageSizeAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/GetDetectionConfigurationsWithOptionalSkip.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/GetDetectionConfigurationsWithOptionalSkipAsync.json
Labels: customer-reported, Community Contribution, Cognitive - Metrics Advisor

#25404 Fix CanSetContentLengthOverMaxInt
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#25413 Update changelog removing unused sections
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
Labels: Communication

#25415 [Event Hubs] Buffered Producer Tweaks and Test Fixes
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#25417 Fix Broken link in EventGrid ReadMe
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
Labels: Event Grid

#25420 Add Bryce into CodeOwners
  .github/CODEOWNERS
Labels: customer-reported, Community Contribution

#25418 Increment version for communication releases
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
Labels: auto-merge, Communication

#25419 Only set content-length to 0 for put/post
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#25437 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#25424 Sync eng/common directory with azure-sdk-tools for PR 2321
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25151 [TA] Fix LRO rehydration
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
  sdk/textanalytics/Azure.AI.TextAnalytics/src/OperationContinuationToken.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/OperationLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/OperationsMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationConvenienceCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationConvenienceCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationConvenienceCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationConvenienceCanPollFromNewObjectAsync.json
Labels: Cognitive - Text Analytics, auto-merge

#25433 Sync eng/common directory with azure-sdk-tools for PR 2306
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#25132 Key Encryption Key Rotation
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/UpdateClientSideKeyEncryptionKeyOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/SpecializedBlobExtensions.ClientSideEncryption.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/DoesETagLockOnKeyUpdate.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/DoesETagLockOnKeyUpdateAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(False).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(False)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(True).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(True)Async.json
Labels: Storage

#25412 Enabled live tests for Storage STG 80
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
Labels: Storage

#25443 Make content-type behavior of HttpWebRequestTransport match HttpClient
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#25445 consume latest SDK changes
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallingServerModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantResultEvent.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantWithCallLocatorRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantWithCallLocatorRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioResult.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioResultEvent.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioToParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioToParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioToParticipantWithCallLocatorRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioToParticipantWithCallLocatorRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioWithCallLocatorRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioWithCallLocatorRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RedirectCallRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RedirectCallRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RejectCallRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RejectCallRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/TransferCallResult.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/TransferCallResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/TransferCallResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ServerCallsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/PlayAudioOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/StartHoldMusicOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/StartHoldMusicRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/StopHoldMusicRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallingServerClient/CallingServerClientTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Events/EventTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreatePlayCancelHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallingServerClientLiveTests/RunCreateAddRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallingServerClientLiveTests/RunCreateAddRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallingServerClientLiveTests/RunCreatePlayCancelHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallingServerClientLiveTests/RunCreatePlayCancelHangupScenarioTestsAsync.json
Labels: Communication

#25407 [Event Hubs] Remove Legacy Test Infrastructure
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobStorageTesting/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobStorageTesting/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubsTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Infrastructure/TestRunFixture.cs
Labels: Event Hubs, Client

#25442 [TextAnalytics] Merge hotfix/textanalytics511 after releasing 5.1.1
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityCategory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/OperationContinuationToken.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/OperationLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/OperationsMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationConvenienceCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/AnalyzeOperationConvenienceCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationConvenienceCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationConvenienceCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/EntitiesCategories.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/EntitiesCategoriesAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
Labels: Client, Cognitive - Text Analytics

#25446 Adding MessageState property to ServiceBusReceivedMessage
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConstants.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessageState.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
Labels: Service Bus, customer-reported, Community Contribution

#25441 Don't allocate extra array and a ResponseClassifier during pipeline building
  sdk/core/Azure.Core.Experimental/tests/LowLevelClient/PetStoreClient.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/DisposableHttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/HttpPipelineMessageTest.cs
  sdk/core/Azure.Core/tests/PipelineTestBase.cs
  sdk/core/Azure.Core/tests/PipelineTests.cs
  sdk/core/Azure.Core/tests/ResponseClassifierTests.cs
  sdk/core/Azure.Core/tests/RetriableStreamTests.cs
Labels: Azure.Core

#25471 Sync eng/common directory with azure-sdk-tools for PR 2322
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#25438 Fix nullable support in OperationInternal and OperationInternal<T>
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalBase.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalOfT.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/OperationInternalTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Azure.Core

#25475 add a flag to suppress any generation errors
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
  sdk/network/Azure.ResourceManager.Network/src/autorest.md
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
  sdk/storage/Azure.ResourceManager.Storage/src/autorest.md
Labels: Storage, KeyVault, Compute
