Repository Azure/azure-sdk-for-net, pull requests merged in 2021-02, with the labels that each got.

#18314 Sync eng/common directory with azure-sdk-tools for PR 1351
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#18316 [EngSys] Fixing CODEOWNERS Typo
  .github/CODEOWNERS
Labels: Client, EngSys

#18249 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/communication/Azure.ResourceManager.Communication/src/autorest.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/FormRecognizerRestClient.cs
  sdk/insights/Azure.ResourceManager.Insights/src/autorest.md
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearningServices/src/autorest.md
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/Models/SparkSession.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/Models/SparkSessionState.cs
  sdk/testcommon/Azure.Graph.Rbac/src/autorest.md
Labels: App Configuration, Communication, Compute, KeyVault, Storage

#18290 Update the readme with more information about thread safety and other…
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
Labels: KeyVault

#18325 Update webjobs queue extension CHANGELOG.md for base64
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
Labels: Storage, auto-merge

#18293 Update samples
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample1_PublishEventsToTopic.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample1_SendEventsToTopicAndDomain.cs
Labels: Event Grid

#18321 [MetricsAdvisor] Fixing failing test
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesDefinitionsWithOptionalDimensionFilter.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/TimeSeriesLiveTests/GetMetricSeriesDefinitionsWithOptionalDimensionFilterAsync.json
Labels: Client, Cognitive - Metrics Advisor

#18176 Verify API status check changes
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/create-apireview.yml
  eng/scripts/Create-APIReview.ps1
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys, auto-merge

#18332 Fix sample
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample3_ParseAndDeserializeEvents.md
Labels: Event Grid

#18327 [TA] Specify model version for subcategories
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithSubCategoryTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithSubCategoryTestAsync.json
Labels: Cognitive - Text Analytics

#18340 Sync eng/common directory with azure-sdk-tools for PR 1361
  eng/common/scripts/Prepare-Release.ps1
Labels: Central-EngSys, EngSys

#18334 [Communication] - Remove nullable ref-types from Common and Identity package
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/AutoRefreshTokenCredential.cs
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Common/src/CommunicationTokenRefreshOptions.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/PhoneNumberIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/ThreadSafeRefreshableAccessTokenCache.cs
  sdk/communication/Azure.Communication.Identity/api/Azure.Communication.Identity.netstandard2.0.cs
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.Identity/src/CommunicationIdentityClient.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Azure.ResourceManager.Communication.csproj
Labels: Communication

#18345 [Storage] Base64 encoding remarks in Webjobs docs.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/QueueAttribute.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/QueueTriggerAttribute.cs
Labels: Storage

#18300 Document that DeletedSecret.Value is always null
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/KeyVaultSecret.cs
Labels: KeyVault, auto-merge

#18348 Sync eng/common directory with azure-sdk-tools for PR 1353
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#18200 [TA] Healthcare Design update
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_RecognizeHealthcareEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesResultCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DocumentHealthcareEntitiesInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DocumentHealthcareResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityDataSource.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentHealthcareEntitiesInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentHealthcareEntitiesInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityDataSource.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityDataSource.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityLink.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityLink.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityRelationType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareRelation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_Healthcare.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_AutomaticPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_Cancellation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_ManualPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_Pagination.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_Healthcare_Cancellation.cs
Labels: Cognitive - Text Analytics

#18326 [Storage] Badly encoded handler in Webjobs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/QueueServiceClientProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/FakeQueueServiceClientProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueProcessor.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/StorageClientProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Listeners/QueueListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/QueueServiceClientProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/FakeQueueServiceClientProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/AzureStorageEndToEndTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/BlobTriggerEndToEndTests.cs
Labels: Storage

#18337 Increment version for quantum releases
  sdk/quantum/Azure.Quantum.Jobs/CHANGELOG.md
  sdk/quantum/Azure.Quantum.Jobs/src/Azure.Quantum.Jobs.csproj
Labels: auto-merge

#18335 fix typo
  sdk/storage/Azure.Storage.Blobs/samples/Sample02_Auth.cs
Labels: Storage, customer-reported

#18355 Update Disk test file to sync with master code
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPTestsBase.cs
Labels: Compute

#18236 Extending TokenRequestContext to accept additional Claims
  eng/ApiListing.exclude-attributes.txt
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/TokenRequestContext.cs
Labels: APIChange, ArchApproved, Azure.Core

#18346 Remove IDisposable from TokenCache
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/TokenCache.cs
Labels: Azure.Identity

#18294 Remove unused autores.md file
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/autorest.md
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/generate.ps1
Labels: Digital Twins

#18358 [Storage] Webjobs extension sample apps.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/README.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/Directory.Build.props
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/functionapp/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.Samples.Function.App.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/functionapp/README.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/functionapp/SampleFunctions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/functionapp/host.json
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/functionapp/local.settings.json
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/readmes/BlobExtensionSamples.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/readmes/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.Samples.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/README.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/Directory.Build.props
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/functionapp/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.Samples.Function.App.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/functionapp/README.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/functionapp/SampleFunctions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/functionapp/host.json
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/functionapp/local.settings.json
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/readmes/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.Samples.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/readmes/QueueExtensionSamples.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.sln
Labels: Storage

#18341 Mixed Reality Authentication: Updated the MR STS spec file
  sdk/mixedreality/Azure.MixedReality.Authentication/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.Authentication/api/Azure.MixedReality.Authentication.netstandard2.0.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/MixedRealityAccountKeyCredential.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/MixedRealityTokenCredential.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/MixedRealityStsRestClient.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityStsClient.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/autorest.md
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/MixedRealityStsClientLiveTests.cs
Labels: auto-merge

#18364 Refactor TestEnvVar
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredentialProviderTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialLiveTestBase.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/TestEnvVar.cs
Labels: Azure.Identity, auto-merge

#18369 EG API Updates
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample1_PublishEventsToTopic.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample3_ParseAndDeserializeEvents.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/CloudEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample1_SendEventsToTopicAndDomain.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample2_ParseAndDeserializeEvents.cs
Labels: Event Grid

#18372 CloudServices 43-preview release update
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Labels: Compute

#18376 Fixed Storage Live Tests
  sdk/storage/test-resources.json
Labels: Storage

#18370 Remove nullable refs sms
  sdk/communication/Azure.Communication.Sms/api/Azure.Communication.Sms.netstandard2.0.cs
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClientOptions.cs
Labels: Communication

#18394 Sync eng/common directory with azure-sdk-tools for PR 1364
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: Central-EngSys, EngSys

#18323 [Core.Experimental] Add DynamicContent/DynamicRequest/DynamicResponse for LLC prototype
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/DynamicContent.cs
  sdk/core/Azure.Core.Experimental/src/DynamicRequest.cs
  sdk/core/Azure.Core.Experimental/src/DynamicResponse.cs
Labels: Azure.Core

#18396 Sync eng/common directory with azure-sdk-tools for PR 1365
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Labels: Central-EngSys, EngSys

#18389 [Communication] - Simplify identifier json models
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/CallingApplicationIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/PhoneNumberIdentifier.cs
  sdk/communication/Azure.Communication.Common/tests/Azure.Communication.Common.Tests.csproj
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierSerializerTest.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierTest.cs
  sdk/communication/Shared/src/CommunicationIdentifierModel.cs
  sdk/communication/Shared/src/CommunicationIdentifierSerializer.cs
Labels: Communication

#18395 [Event Hubs Client] Move Blob Checkpoint Store to Shared
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobsCheckpointStore.Diagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/BlobsCheckpointStoreDiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.BlobStorageTesting.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.shproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobStorageTesting/StorageScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobStorageTesting/StorageTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/BlobsCheckpointStore.Diagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/IBlobEventLogger.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/PartitionOwnershipExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/PartitionOwnershipExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/TestRunFixture.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Client, Event Hubs, Test Debt

#18390 Delete CloudService tests from the stable release
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceExtensionTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceOperationTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceRoleInstanceTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceUpdateTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/Helpers/ServiceConfigurationHelpers.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole_MultiRoleExtension.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_Create_PowerOff_Start_CloudServiceOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_ListCloudServicesOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceRoleInstanceTests/Test_CloudServiceRoleInstanceOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_DeleteCloudService.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_ExtensionProfile.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_InstanceView.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceOperations_ScaleIn_ScaleOut.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceUpdateOperations.json
Labels: Compute

#18379 ADT: Fix the issue with non-default object serializers in Query APIs
  eng/Packages.Data.props
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/Program.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/QueryRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Models/QueryResult.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/StreamHelper.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/Azure.DigitalTwins.Core.Tests.csproj
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/NewtonsoftObjectSerializerTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/NewtonsoftObjectSerializerTests/TestNewtonsoftObjectSerializerWithDigitalTwins.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SessionRecords/NewtonsoftObjectSerializerTests/TestNewtonsoftObjectSerializerWithDigitalTwinsAsync.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/SimpleNewtonsoftDtModel.cs
Labels: Digital Twins

#18400 [Communication] - Follow standards for identity client options version
  sdk/communication/Azure.Communication.Identity/api/Azure.Communication.Identity.netstandard2.0.cs
  sdk/communication/Azure.Communication.Identity/src/CommunicationIdentityClientOptions.cs
Labels: Communication

#18351 [TA] PageableOperation implementation
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_RecognizeHealthcareEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PageableOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithTopParameter.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithTopParameterAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_AutomaticPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_ManualPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareAsync_Pagination.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_HealthcareBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#18398 Sync eng/common directory with azure-sdk-tools for PR 1366
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: Central-EngSys, EngSys

#18423 Remove CloudService tests
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceExtensionTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceOperationTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceRoleInstanceTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceUpdateTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/Helpers/ServiceConfigurationHelpers.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole_MultiRoleExtension.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_Create_PowerOff_Start_CloudServiceOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_ListCloudServicesOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceRoleInstanceTests/Test_CloudServiceRoleInstanceOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_DeleteCloudService.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_ExtensionProfile.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_InstanceView.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceOperations_ScaleIn_ScaleOut.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceUpdateOperations.json
Labels: Compute

#18424 [Event Hubs Client] Producer Dead Code Removal
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
Labels: Client, Event Hubs

#18403 Feature/adt/azabbasi/release prep
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: Digital Twins

#18367 Update xml documentation for TokenRequestContext.Claims
  sdk/core/Azure.Core/src/TokenRequestContext.cs
Labels: Azure.Core

#18430 Increment version for digitaltwins releases
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: Digital Twins, auto-merge

#18429 [Storage] Uncomment readme links.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/README.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/README.md
Labels: Storage

#18393 [MetricsAdvisor] Made constructor of AnomalyDetectionConfiguration parameterless
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/AnomalyDetectionConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/MetricSeriesGroupDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/MetricSingleSeriesDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/TimeSeries/DimensionKey.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyDetectionConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyDetectionConfigurationTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample03_DetectionConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionConfigurationLiveTests/UpdateDetectionConfigurationWithMinimumSetupAndNewInstanceAsync.json
Labels: Client, Cognitive - Metrics Advisor

#18421 [TA] Fix healthcare implementation
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Entity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Entity.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Entity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityRelationType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesWithDomainTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesWithDomainTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizePiiEntitiesWithLanguageTestAsync.json
Labels: Cognitive - Text Analytics

#18436 Use Utf8JsonWriter to write JsonElement to stream instead of using th…
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/QueryRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Models/QueryResult.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/StreamHelper.cs
Labels: Digital Twins

#18438 Remove extra dependency
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/Azure.DigitalTwins.Core.Tests.csproj
Labels: Digital Twins, auto-merge

#18368 Implement BearerTokenChallengeAuthenticationPolicy
  sdk/core/Azure.Core/src/Shared/BearerTokenChallengeAuthenticationPolicy.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/BearerTokenChallengeAuthenticationPolicyTests.cs
Labels: Azure.Core, auto-merge

#18371 [TA] Implement Pageable actions
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeOperation.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PageableOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithSkipParameter.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithSkipParameterAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithTopParameter.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithTopParameterAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync_AutomaticPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync_ManualPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#18437 Update SyncAsyncEventArgs APIs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Events.md
  sdk/core/Azure.Core/src/SyncAsyncEventArgs.cs
  sdk/core/Azure.Core/src/SyncAsyncEventHandler.cs
  sdk/core/Azure.Core/tests/SyncAsyncEventHandlerTests.cs
  sdk/core/Azure.Core/tests/samples/EventSamples.cs
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Batching/IndexActionCompletedEventArgs.cs
  sdk/search/Azure.Search.Documents/src/Batching/IndexActionEventArgs.cs
  sdk/search/Azure.Search.Documents/src/Batching/IndexActionFailedEventArgs.cs
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingBufferedSender.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample03_MessageEncoding.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/src/QueueMessageDecodingFailedEventArgs.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/QueueServiceClientProvider.cs
Labels: Azure.Core

#18439 [Event Hubs Client] Storage Implementation Feedback
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
Labels: Client, Event Hubs

#18445 Code style and syntax clean up
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinModelsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DecommissionModelOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/DigitalTwinModelsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/DecommissionModelOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Models/DigitalTwinsModelFactory.cs
Labels: Digital Twins

#18450 Revert "[TestFramework] Downgrade Azure.Identity for maximum compat (#18153)"
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
Labels: Azure.Core

#18446 Merge always updates for batch operations
  sdk/tables/Azure.Data.Tables/src/TableTransactionalBatch.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsertAndMergeAndDelete.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/BatchInsertAndMergeAndDeleteAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Client, Tables

#18397 Mixed Reality Authentication: This change builds and tests the shared code
  sdk/mixedreality/Azure.MixedReality.Authentication/Azure.MixedReality.Authentication.sln
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/AuthenticationEndpoint.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/shared/Shared.Azure.MixedReality.Authentication.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Azure.MixedReality.Authentication.Tests/Azure.MixedReality.Authentication.Tests.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Azure.MixedReality.Authentication.Tests/MixedRealityRecordMatcher.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Azure.MixedReality.Authentication.Tests/MixedRealityStsClientLiveTests.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Azure.MixedReality.Authentication.Tests/MixedRealityTestEnvironment.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Azure.MixedReality.Authentication.Tests/SessionRecords/MixedRealityStsClientLiveTests/GetToken.json
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Azure.MixedReality.Authentication.Tests/SessionRecords/MixedRealityStsClientLiveTests/GetTokenAsync.json
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Shared.Azure.MixedReality.Authentication.Tests/AuthenticationEndpointTests.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Shared.Azure.MixedReality.Authentication.Tests/MixedRealityAccountKeyCredentialTests.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Shared.Azure.MixedReality.Authentication.Tests/MixedRealityTokenCredentialTests.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Shared.Azure.MixedReality.Authentication.Tests/Shared.Azure.MixedReality.Authentication.Tests.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/tests/Shared.Azure.MixedReality.Authentication.Tests/StaticAccessTokenCredentialTests.cs
Labels: auto-merge

#18452 [FR] Add autorest transforms to unblock build
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/KeyValueElement.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/ReadResult.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
Labels: Cognitive - Form Recognizer

#18458 [MetricsAdvisor] Made AnomalyAlertConfiguration constructor parameterless
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/AnomalyAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/MetricAnomalyAlertSnoozeCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/MetricBoundaryCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/SeverityCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample05_AlertConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/DeleteAlertConfiguration(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/DeleteAlertConfiguration(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/DeleteAlertConfiguration(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/DeleteAlertConfiguration(True)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetupAndNewInstanceAsync.json
Labels: Client, Cognitive - Metrics Advisor

#18456 [Storage] Webjobs update metapackage Changelog.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#18485 [Service Bus Client] Doc Comment Reformatting Test
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
Labels: Client, Docs, Service Bus, auto-merge

#18464 [Communication] - Ensure RestClients are created based on ClientOptions.ApiVersion
  sdk/communication/Azure.Communication.Identity/src/CommunicationIdentityClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumberAdministrationClient.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
Labels: Communication

#18486 Prepare for SB release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#18484 ADT: Remove <inheritdoc> from customized models to fix project warnings
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/CreateModelsOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/CreateOrReplaceDigitalTwinOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/CreateOrReplaceEventRouteOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/CreateOrReplaceRelationshipOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DecommissionModelOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DeleteDigitalTwinOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DeleteEventRouteOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DeleteModelOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DeleteRelationshipOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DigitalTwinsEventRoute.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DigitalTwinsModelData.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetComponentOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetDigitalTwinOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetDigitalTwinsEventRouteOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetDigitalTwinsEventRoutesOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetIncomingRelationshipsOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetModelOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetRelationshipOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/GetRelationshipsOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/IncomingRelationship.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/PublishComponentTelemetryOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/PublishTelemetryOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/QueryOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/UpdateComponentOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/UpdateDigitalTwinOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/UpdateRelationshipOptions.cs
Labels: Digital Twins

#18475 [MetricsAdvisor] Made NotificationHook constructors parameterless
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/EmailNotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/NotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/WebNotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample04_HookCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateEmailNotificationHookWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateEmailNotificationHookWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateEmailNotificationHookWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateEmailNotificationHookWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateWebNotificationHookWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateWebNotificationHookWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateWebNotificationHookWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/NotificationHookLiveTests/UpdateWebNotificationHookWithMinimumSetupAndNewInstanceAsync.json
Labels: Client, Cognitive - Metrics Advisor

#18412 [Core.Experimental] Improvements for Protocol Clients
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/DynamicJson.cs
  sdk/core/Azure.Core.Experimental/src/ProtocolClientOptions.cs
  sdk/core/Azure.Core.Experimental/tests/DynamicJsonTest.cs
Labels: Azure.Core

#18460 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Event Grid, Storage

#18453 Get ready for Azure.Core 1.9.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
Labels: Azure.Core

#18440 Take reference on new TokenRequestContext
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalPublicClient.cs
Labels: Azure.Identity, Client, auto-merge

#18463 Added a client consumption example
  sdk/mixedreality/Azure.MixedReality.Authentication/README.md
Labels: auto-merge

#18502 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#18492 Downgrading Microsoft.Identity.Client dependency to 4.23
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(False).json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(False)Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(True).json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromCertificatePath(True)Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromX509Certificate2.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/FromX509Certificate2Async.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncludeX5CClaimHeader.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncludeX5CClaimHeaderAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncorrectCertificate.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientCertificateCredentialLiveTests/IncorrectCertificateAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenIncorrectPassword.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ClientSecretCredentialLiveTests/GetTokenIncorrectPasswordAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/DefaultAzureCredentialLiveTests/DefaultAzureCredential_UseVisualStudioCodeCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateNoContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContext.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/AuthenticateWithContextAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/UsernamePasswordCredentialLiveTests/GetTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_BrokenSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_EmptySettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshToken.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_InvalidRefreshTokenAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFile.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_NoSettingsFileAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettings.json
  sdk/identity/Azure.Identity/tests/SessionRecords/VisualStudioCodeCredentialLiveTests/AuthenticateWithVscCredential_TenantInSettingsAsync.json
Labels: Azure.Identity, auto-merge

#18469 Ensure only a single action for a document is added to a batch
  sdk/search/Azure.Search.Documents/src/Batching/Publisher.cs
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_SplitBatchByDocumentKey.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_SplitBatchByDocumentKeyAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_SplitBatchByDocumentKeyIgnoreCaseDifferences.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Behavior_SplitBatchByDocumentKeyIgnoreCaseDifferencesAsync.json
Labels: Search

#18285 Rename a few properties in SearchIndexingBufferedSenderOptions
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/samples/Sample05_IndexingDocuments.md
  sdk/search/Azure.Search.Documents/src/Batching/Publisher.cs
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingBufferedSender.cs
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingBufferedSenderOptions.cs
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingPublisher.cs
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample05_IndexingDocuments.cs
Labels: Search

#18523 Add the Remote Rendering package to the CI pipeline
  sdk/mixedreality/ci.yml
Labels: auto-merge

#18500 Remove flaky tests and increase CLI timeout
  sdk/identity/Azure.Identity/src/AzureCliCredential.cs
  sdk/identity/Azure.Identity/tests/ChainedTokenCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ChainedTokenCredentialTests.cs
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_CredentialUnavailableException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_CredentialUnavailableExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_FirstAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_LastAuthenticationFailedException.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_AllCredentialsHaveFailed_LastAuthenticationFailedExceptionAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseAzureCliCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseAzureCliCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseAzureCliCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseAzureCliCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredentialAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential_ParallelCalls.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCodeCredential_ParallelCallsAsync.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCredential.json
  sdk/identity/Azure.Identity/tests/SessionRecords/ChainedTokenCredentialLiveTests/ChainedTokenCredential_UseVisualStudioCredentialAsync.json
Labels: Azure.Identity

#18473 Update nuget version in README.md
  sdk/tables/Azure.Data.Tables/README.md
Labels: Tables

#18468 Addressing review comments + clean up for preview 3 release.
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Chat/src/ChatClient.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatMessage.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatMessageContentInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CreateChatThreadResult.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
  sdk/communication/Azure.Communication.Chat/tests/Azure.Communication.Chat.Tests.csproj
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsLiveTests.cs
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGSAsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT_AsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample1_ThreadOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample2_MessagingOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample4_KeyConcepts.cs
Labels: Communication

#18162 Update three pass services to enable live testing in sovereign clouds for multiple services
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/tests/DataProtectionBlobFunctionalTests.cs
  sdk/extensions/test-resources.json
  sdk/extensions/tests.yml
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchResources.cs
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchTestEnvironment.cs
  sdk/search/tests.yml
Labels: Azure.Core, Search

#18505 [TA] Expose Length property again as now we have StringIndexType
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample4_RecognizeEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample6_RecognizeLinkedEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AspectSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/CategorizedEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/LinkedEntityMatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/OpinionSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SentenceSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeSentimentTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeLinkedEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample6_RecognizeLinkedEntitiesBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#18508 Connection options fix
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
Labels: Event Hubs

#18537 Prepare for Azure.Core.Experimental beta.8 release
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core

#18514 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
Labels: Event Grid

#18540 Sync eng/common directory with azure-sdk-tools for PR 1376
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#18558 Log Key Vault Certificates content for live tests
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
Labels: KeyVault

#18561 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, auto-merge

#18572 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#18511 [MetricsAdvisor] Made MetricFeedback class abstract
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedback.cs
Labels: Client, Cognitive - Metrics Advisor

#18488 Add sovereign cloud opt-in to tests weekly
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/extensions/tests.yml
  sdk/search/tests.yml
Labels: Central-EngSys, Search

#18581 [Storage] Point to latest core.
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
Labels: Storage, auto-merge

#18493 [MetricsAdvisor] Removed setters from collections
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAnomaliesForDetectionConfigurationFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetMetricSeriesDataOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetMetricSeriesDefinitionsOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetValuesOfDimensionWithAnomaliesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/FeedbackDimensionFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample09_QueryTimeSeriesInformation.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetValuesOfDimensionWithAnomaliesWithMinimumSetup(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetValuesOfDimensionWithAnomaliesWithMinimumSetup(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetValuesOfDimensionWithAnomaliesWithMinimumSetup(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyDetectionLiveTests/GetValuesOfDimensionWithAnomaliesWithMinimumSetup(True)Async.json
Labels: Client, Cognitive - Metrics Advisor

#18578 Remove search client helper method
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/SearchClient.cs
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
Labels: Search

#18585 [Storage] MessageDecodingFailed changelog.
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage, auto-merge

#18560 [Event Hubs] Update Package Dependencies
  eng/Packages.Data.props
Labels: Client, EngSys, Event Hubs

#18263 [Event Hubs Client] February Release Documentation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
Labels: Client, Docs, Event Hubs

#18594 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#18595 [Event Hubs Client] Processor Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Client, Event Hubs

#18599 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#18602 [FR] Add release date
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#18605 internal ObjectNotDisposedException
  sdk/core/Azure.Core/src/Shared/ObjectNotDisposedException.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/ObjectNotDisposedExceptionTests.cs
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/search/Azure.Search.Documents/src/Batching/SearchIndexingBufferedSender.cs
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
Labels: Azure.Core, Search

#18547 Azure.Identity : remove Azure.Core project reference
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, Client

#18586 [communication] prep release for common, identity, chat
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/README.md
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/README.md
  sdk/communication/Azure.Communication.Identity/samples/Sample1_CommunicationIdentityClient.md
  sdk/communication/Azure.Communication.Identity/samples/Sample1_CommunicationIdentityClientAsync.md
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/Sample1_CommunicationIdentityClient/CreateIdentityWithAccessKey.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/Sample1_CommunicationIdentityClient/CreateIdentityWithAccessKeyAsync.json
  sdk/communication/Azure.Communication.Identity/tests/samples/Sample1_CommunicationIdentityClient.cs
Labels: Communication

#18607 [Messaging Clients] README Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Client, Docs, Event Hubs, Service Bus

#18619 Remove proj ref to Core
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#18620 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#18622 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer, auto-merge

#18354 Adding "Thread safety" and "Additional concepts" sections to our client's READMEs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/README.md
  sdk/attestation/Azure.Security.Attestation/README.md
  sdk/communication/Azure.Communication.Administration/README.md
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Common/README.md
  sdk/communication/Azure.Communication.Identity/README.md
  sdk/communication/Azure.Communication.PhoneNumbers/README.md
  sdk/communication/Azure.Communication.Sms/README.md
  sdk/core/Azure.Core/README.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/README.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/README.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/iot/Azure.Iot.Hub.Service/README.md
  sdk/mediaservices/Azure.Media.Analytics.Edge/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/mixedreality/Azure.MixedReality.Authentication/README.md
  sdk/quantum/Azure.Quantum.Jobs/README.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/README.md
  sdk/search/Azure.Search.Documents/README.md
  sdk/storage/Azure.Storage.Blobs.Batch/README.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/README.md
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Common/README.md
  sdk/storage/Azure.Storage.Files.DataLake/README.md
  sdk/storage/Azure.Storage.Files.Shares/README.md
  sdk/storage/Azure.Storage.Queues/README.md
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/README.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/README.md
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/README.md
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/README.md
  sdk/synapse/Azure.Analytics.Synapse.Spark/README.md
  sdk/tables/Azure.Data.Tables/README.md
  sdk/template/Azure.Template/README.md
  sdk/testcommon/Azure.Graph.Rbac/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/README.md
Labels: App Configuration, Azure.Core, Azure.Identity, Client, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, Docs, EngSys, Event Grid, Event Hubs, Iot, Schema Registry, Search, Service Bus, Storage, Tables, TimeseriesInsights

#18625 Update changelog for release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity, Client, auto-merge

#18628 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#18627 Increment version for communication releases
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
Labels: Communication, auto-merge

#18629 Increment version for metricsadvisor releases
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
Labels: Cognitive - Metrics Advisor, auto-merge

#18617 Updated storage changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#18621 Prepare Azure.Search.Documents 11.2.0 GA release
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#18624 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#18636 Add release date
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
Labels: Event Hubs

#18635 Prepare beta release of Key Vault SDKs
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#18637 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage, auto-merge

#18638 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#18618 [Azure.Core.Experimental] Package Ref to Core
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, Client, Do Not Merge

#18613 Prepare MR Authentication for pre-release
  sdk/mixedreality/Azure.MixedReality.Authentication/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.Authentication/api/Azure.MixedReality.Authentication.netstandard2.0.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.MixedReality.Authentication.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityStsClient.cs
Labels: auto-merge

#18658 [Text Analytics] Fix typo in change log
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#18659 Changes from running the release script
  sdk/mixedreality/Azure.MixedReality.Authentication/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.MixedReality.Authentication.csproj
Labels: auto-merge

#18639 Update AuthenticationRecord and TokenCache Samples
  sdk/identity/Azure.Identity/samples/ClientSideUserAuthentication.md
  sdk/identity/Azure.Identity/samples/TokenCache.md
  sdk/identity/Azure.Identity/tests/samples/TokenCacheSnippets.cs
  sdk/identity/Azure.Identity/tests/samples/UserAuthenticationSnippets.cs
Labels: Azure.Identity, auto-merge

#18661 Changes from running the release script.
  sdk/mixedreality/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
Labels: auto-merge

#18653 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Azure.Analytics.Synapse.AccessControl.csproj
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Azure.Analytics.Synapse.ManagedPrivateEndpoints.csproj
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Azure.Analytics.Synapse.Monitoring.csproj
  sdk/synapse/Azure.Analytics.Synapse.Spark/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Azure.Analytics.Synapse.Spark.csproj
Labels: auto-merge

#18665 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#18671 [Text Analytics] Fix description in csproj.
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics

#18525 Fix #16362 Add visual to the documentation to explain the mined opinions structure and naming better
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample2.1_AnalyzeSentimentWithOpinionMining.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/assets/opinion-mining.png
Labels: Cognitive - Text Analytics

#18516 Fix #16839 [BUG] - Fix AnalyzeOperationBatchWithStatisticsTest in TextAnalytics
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithStatisticsTestAsync.json
Labels: Cognitive - Text Analytics

#18666 Sync eng/common directory with azure-sdk-tools for PR 1393
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: Central-EngSys, EngSys

#18654 Update instructions to run the sample search query
  sdk/search/Azure.Search.Documents/README.md
Labels: Search

#18524 Fix #17811 Improve samples for Analyze
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeBatchActions.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_LROPolling.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync_AutomaticPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync_ManualPolling.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#18672 Update version of Azure.Search.Documents to 11.3.0-beta.1
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#18677 Update READMEs for Key Vault SDK betas
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
Labels: KeyVault

#18640 Add session idle timeout option for session processor
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/ServiceBusManagementClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample02_MessageSettlement.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample04_Processor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample06_Transactions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Service Bus

#18684 Sync eng/common directory with azure-sdk-tools for PR 1303
  eng/common/scripts/Collect-ChangeLogs.ps1
Labels: Central-EngSys, EngSys

#18662 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, auto-merge

#18689 Increment version for mixedreality releases
  sdk/mixedreality/Azure.MixedReality.Authentication/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.MixedReality.Authentication.csproj
  sdk/mixedreality/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
Labels: auto-merge

#18660 Add import and non-sparse parameter functionality to job matrix generation
  eng/scripts/job-matrix/Create-JobMatrix.ps1
  eng/scripts/job-matrix/README.md
  eng/scripts/job-matrix/job-matrix-functions.modification.tests.ps1
  eng/scripts/job-matrix/job-matrix-functions.ps1
  eng/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/scripts/job-matrix/test-import-matrix.json
Labels: Central-EngSys

#18686 Sync eng/common directory with azure-sdk-tools for PR 1358
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: Central-EngSys, EngSys

#18674 Update AutoRest C# version
  eng/Packages.Data.props
Labels: App Configuration, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Compute, Digital Twins, Event Grid, Iot, KeyVault, Schema Registry, Search, Storage, Tables

#18698 Sync eng/common directory with azure-sdk-tools for PR 1386
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#18709 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Spark/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Azure.Analytics.Synapse.Spark.csproj
Labels: auto-merge

#18708 Sync eng/common directory with azure-sdk-tools for PR 1307
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#18696 Add net5.0 to smoke tests. Fix dependency issues.
  common/SmokeTests/SmokeTest/SmokeTest.csproj
Labels: Central-EngSys

#18711 Add variable setting warning level to warn
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#18655 [Communication] Remove administration package
  sdk/communication/Azure.Communication.Administration/CHANGELOG.md
  sdk/communication/Azure.Communication.Administration/README.md
  sdk/communication/Azure.Communication.Administration/api/Azure.Communication.Administration.netstandard2.0.cs
  sdk/communication/Azure.Communication.Administration/samples/README.md
  sdk/communication/Azure.Communication.Administration/samples/Sample2_PhoneNumberAdministrationClient.md
  sdk/communication/Azure.Communication.Administration/samples/Sample2_PhoneNumberAdministrationClientAsync.md
  sdk/communication/Azure.Communication.Administration/src/Azure.Communication.Administration.csproj
  sdk/communication/Azure.Communication.Administration/tests/Azure.Communication.Administration.Tests.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/samples/README.md
  sdk/communication/Azure.Communication.PhoneNumbers/samples/Sample2_PhoneNumberAdministrationClient.md
  sdk/communication/Azure.Communication.PhoneNumbers/samples/Sample2_PhoneNumberAdministrationClientAsync.md
  sdk/communication/Azure.Communication.sln
  sdk/communication/Shared/CHANGELOG.md
  sdk/communication/Shared/README.md
  sdk/communication/ci.yml
Labels: Communication

#18590 Update Sample5_SignVerify.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample5_SignVerify.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample5_SignVerify.cs
Labels: KeyVault, customer-reported

#18712 Update project versions for Key Vault
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault
