Repository Azure/azure-sdk-for-net, pull requests merged in 2021-03, with the labels that each got.

#19096 Fix Storage Blobs Sample issues
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
Labels: Storage

#19088 [Communication] - Identity/TURN - Re-adding the TURN SDK (as I accidentally overwrote those commits)
  sdk/communication/Azure.Communication.Identity/api/Azure.Communication.Identity.netstandard2.0.cs
  sdk/communication/Azure.Communication.Identity/samples/README.md
  sdk/communication/Azure.Communication.Identity/samples/Sample1_CommunicationIdentityClient.md
  sdk/communication/Azure.Communication.Identity/samples/Sample1_CommunicationIdentityClientAsync.md
  sdk/communication/Azure.Communication.Identity/src/CommunicationIdentityClient.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/CommunicationIdentityRestClient.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationError.Serialization.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationError.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationTurnCredentialsResponse.Serialization.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationTurnCredentialsResponse.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationTurnServer.Serialization.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationTurnServer.cs
  sdk/communication/Azure.Communication.Identity/src/autorest.md
  sdk/communication/Azure.Communication.Identity/tests/CommunicationIdentityClient/CommunicationIdentityClientLiveTests.cs
  sdk/communication/Azure.Communication.Identity/tests/Infrastructure/CommunicationIdentityClientRecordedTestSanitizer.cs
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/CommunicationIdentityClientLiveTests/GettingTurnCredentialsWithConnectionString.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/CommunicationIdentityClientLiveTests/GettingTurnCredentialsWithConnectionStringAsync.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/CommunicationIdentityClientLiveTests/GettingTurnCredentialsWithKeyCredential.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/CommunicationIdentityClientLiveTests/GettingTurnCredentialsWithKeyCredentialAsync.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/Sample1_CommunicationIdentityClient/UserAndTokenLifeCycle.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/Sample1_CommunicationIdentityClient/UserAndTokenLifeCycleAsyncAsync.json
  sdk/communication/Azure.Communication.Identity/tests/samples/Sample1_CommunicationIdentityClient.cs
Labels: Communication

#19103 Lazy-initialize URI builder and reuse StringBuilders
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestUriBuilder.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageSharedKeyPipelinePolicy.cs
Labels: Azure.Core, Storage

#19082 Add checkpoint store MSI auth support
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#19078 Fix getblocks long
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/BlobBlock.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/BlobBlock.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobBlock.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
Labels: Storage

#19091 Tracing batch fix
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/EntityScopeFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/ServiceBusMessageBatchLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/ServiceBusMessageBatchTests.cs
Labels: Service Bus

#19107 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/autorest.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
Labels: Digital Twins, Storage

#19115 Add explicit buffering options
  sdk/storage/Azure.Storage.Blobs.Batch/src/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#19114 Add client and model readmes and fix partition context
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/README.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHostPartition.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerBindingStrategy.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerInput.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Samples/BindingToProducerClient.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Samples/TriggerSingleModel.cs
Labels: Event Hubs

#19074 Add MessageActions/SessionMessageActions
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusHostBuilderExtensions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessageProcessor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessagingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusMessageActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusSessionMessageActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/SessionMessageProcessor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/ServiceBusTriggerAttribute.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerBindingStrategy.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerInput.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/sign.snk
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/MessageProcessorTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusTriggerStrategyTests.cs
Labels: Service Bus

#19124 [Perf] Simplify Template.Perf Program.cs
  sdk/template/Azure.Template/perf/Program.cs
Labels: EngSys

#19069 add more test coverage for unit tests
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsTests.cs
Labels: Communication

#19128 [Storage] Use azurite fixture to test large blocks.
  sdk/storage/Azure.Storage.Blobs.Batch/samples/Azure.Storage.Blobs.Batch.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/tests/Azure.Storage.Blobs.Batch.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Azure.Storage.Blobs.ChangeFeed.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/Azure.Storage.Blobs.ChangeFeed.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/samples/Azure.Storage.Blobs.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/tests/Azure.Storage.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/LargeBlobTests.cs
  sdk/storage/Azure.Storage.Common/samples/Azure.Storage.Common.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/Shared/AzuriteFixture.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/AzuriteNUnitFixture.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/azurite_cert.pem
  sdk/storage/Azure.Storage.Files.DataLake/samples/Azure.Storage.Files.DataLake.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Files.DataLake/tests/Azure.Storage.Files.DataLake.Tests.csproj
  sdk/storage/Azure.Storage.Files.Shares/samples/Azure.Storage.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Files.Shares/tests/Azure.Storage.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.Queues/samples/Azure.Storage.Queues.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Queues/tests/Azure.Storage.Queues.Tests.csproj
  sdk/storage/Directory.Build.props
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/readmes/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.Samples.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/BlobConfigurationTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Listeners/ScanContainersStrategyTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Listeners/StorageBlobScanInfoManagerTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Common.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/Shared/AzuriteFixtureExtensions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/readmes/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.Samples.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests.csproj
Labels: Storage

#19130 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearningServices/src/Generated/Models/ExportFormatType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedGranularityType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedSourceType.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
Labels: Cognitive - Metrics Advisor, Storage

#19110 Clarify overwrite behavior on upload methods
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage

#19119 Throw on transfer options facade overflow
  sdk/storage/Azure.Storage.Common/src/StorageTransferOptions.cs
  sdk/storage/Azure.Storage.Common/tests/StorageTransferOptionsTests.cs
Labels: Storage

#19129 Release Azure Remote Rendering 1.0.0
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/README.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Generated/RemoteRenderingRestClient.cs
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/RemoteRenderingClientOptions.cs
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/autorest.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestFailedConversionsMissingAsset.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestFailedConversionsMissingAssetAsync.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestFailedConversionsNoAccess.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestFailedConversionsNoAccessAsync.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestFailedSessionRequest.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestFailedSessionRequestAsync.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestSimpleConversion.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestSimpleConversionAsync.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestSimpleSession.json
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/tests/SessionRecords/RemoteRenderingLiveTests/TestSimpleSessionAsync.json
Labels: auto-merge

#19131 [FormRecognizer] Updated LRO diagnostics tests to include sync scenario
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsMockTests.cs
Labels: Client, Cognitive - Form Recognizer

#19138 [Messaging Clients] Retry IO Exceptions
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/RetryPolicies/BasicRetryPolicyTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/BasicRetryPolicy.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Core/BasicRetryPolicyTests.cs
Labels: Client, Event Hubs, Service Bus

#19139 [Storage] Enable some of large payload tests.
  sdk/storage/Azure.Storage.Blobs/tests/LargeBlobTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Common/tests/PooledMemoryStreamTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/PredictableStream.cs
Labels: Storage

#19140 Remove more properties from EventHubOptions
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubsWebJobsStartup.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
Labels: Event Hubs

#19104 [TA] Fix not passing domain=phi in sync and analyze endpoint plus some analyze cleanup
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntitiesTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntitiesTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntitiesTask.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntitiesTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntitiesTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntitiesTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/KeyPhrasesTask.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/KeyPhrasesTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/KeyPhrasesTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/KeyPhrasesTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/PiiTask.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/PiiTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/PiiTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/PiiTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/PiiTaskParametersDomain.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/StringIndexTypeResponse.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/KeyPhraseTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/KeyPhrasesTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiTaskParametersDomain.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/StringIndexType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRequestOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleActions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleActionsAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleTasks.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleTasksAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWitCategoryTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWitCategoryTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithCategoriesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithCategoriesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithResultCategoriesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithResultCategoriesTestAsync.json
Labels: Cognitive - Text Analytics

#19111 [Text Analytics] Healthcare Relation change for 3.1-preview.4
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Association.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Certainty.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Conditionality.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Association.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Certainty.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Conditionality.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityAssertion.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityAssertion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityRelationType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareRelationInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareRelationInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/RelationType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityAssertion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityRelation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityRelationRole.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityRelationType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RelationType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTestAsync.json
Labels: Cognitive - Text Analytics, auto-merge

#19118 Fix Azure Security KeyVault Keys Readme issue
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
Labels: KeyVault

#19155 Remove service keys from code and doc
  eng/.docsettings.yml
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/CanCreateAndListDataSources.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/CanUpdateDataSource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/CreateDataSourceFailsWithUsefulMessageOnUserError.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/CreateDataSourceReturnsCorrectDefinition.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/CreateOrUpdateCreatesWhenDataSourceDoesNotExist.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/CreateOrUpdateDataSourceIfNotExistsFailsOnExistingResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/CreateOrUpdateDataSourceIfNotExistsSucceedsOnNoResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/DeleteDataSourceIfExistsWorksOnlyWhenResourceExists.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/DeleteDataSourceIfNotChangedWorksOnlyOnCurrentResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/DeleteDataSourceIsIdempotent.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/ExistsReturnsTrueForExistingDataSource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/GetDataSourceReturnsCorrectDefinition.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/UpdateDataSourceIfExistsFailsOnNoResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/UpdateDataSourceIfExistsSucceedsOnExistingResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/UpdateDataSourceIfNotChangedFailsWhenResourceChanged.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/DataSourceTests/UpdateDataSourceIfNotChangedSucceedsWhenResourceUnchanged.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CanCreateAndListIndexers.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CanCreateBlobIndexerWithConfigurationParameters.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CanResetIndexerAndGetIndexerStatus.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CanRoundtripIndexerWithFieldMappingFunctions.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CanRunIndexerAndGetIndexerStatus.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CanUpdateIndexer.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CreateIndexerFailsWithUsefulMessageOnUserError.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CreateIndexerReturnsCorrectDefinition.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CreateOrUpdateCreatesWhenIndexerDoesNotExist.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CreateOrUpdateCreatesWhenIndexerWithSkillsetDoesNotExist.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CreateOrUpdateIndexerIfNotExistsFailsOnExistingResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/CreateOrUpdateIndexerIfNotExistsSucceedsOnNoResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/DeleteIndexerIfExistsWorksOnlyWhenResourceExists.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/DeleteIndexerIfNotChangedWorksOnlyOnCurrentResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/DeleteIndexerIsIdempotent.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/ExistsReturnsFalseForNonExistingIndexer.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/ExistsReturnsTrueForExistingIndexer.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/GetIndexerThrowsOnNotFound.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/UpdateIndexerIfExistsFailsOnNoResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/UpdateIndexerIfExistsSucceedsOnExistingResource.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/UpdateIndexerIfNotChangedFailsWhenResourceChanged.json
  sdk/search/Microsoft.Azure.Search/tests/SessionRecords/IndexerTests/UpdateIndexerIfNotChangedSucceedsWhenResourceUnchanged.json
  sdk/search/Microsoft.Azure.Search/tests/Tests/DataSourceTests.cs
  sdk/search/Microsoft.Azure.Search/tests/Tests/IndexerTests.cs
  sdk/search/Microsoft.Azure.Search/tests/Utilities/IndexerFixture.cs
Labels: Search

#19137 remove enable for nullable from the project
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Chat/src/ChatClient.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatMessage.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatMessageContent.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatParticipant.cs
  sdk/communication/Shared/src/CommunicationIdentifierSerializer.cs
Labels: Communication

#19165 Initial Tables performance project
  sdk/tables/Azure.Data.Tables/Azure.Data.Tables.sln
  sdk/tables/Azure.Data.Tables/src/AssemblyInfo.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Azure.Data.Tables.Perf.csproj
  sdk/tables/Azure.Data.Tables/tests/perf/GenericTableEntityCreationBenchmark.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Infrastructure/ComplexPerfEntity.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Infrastructure/Enums.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Infrastructure/SimplePerfEntity.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Infrastructure/TablePerfOptions.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Infrastructure/TablesPerfTest.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Program.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Scenarios/AddComplexEntities.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Scenarios/AddSimpleEntities.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Scenarios/BatchAddComplexEntities.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Scenarios/BatchAddSimpleEntities.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Scenarios/ListComplexEntities.cs
  sdk/tables/Azure.Data.Tables/tests/perf/Scenarios/ListSimpleEntities.cs
Labels: Tables

#19133 Add perf tests for Azure.Search.Documents
  sdk/search/Azure.Search.Documents.sln
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Azure.Search.Documents.Perf.csproj
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Infrastructure/Address.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Infrastructure/DocumentGenerator.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Infrastructure/DocumentSize.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Infrastructure/Hotel.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Infrastructure/SearchPerfOptions.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Infrastructure/SearchServiceTest.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Program.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Scenarios/Autocomplete.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Scenarios/IndexDocuments.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Scenarios/SearchDocuments.cs
  sdk/search/Azure.Search.Documents/perf/Azure.Search.Documents.Perf/Scenarios/Suggest.cs
  sdk/search/Azure.Search.Documents/perf/README.md
  sdk/search/Azure.Search.Documents/src/SearchClient.cs
Labels: Search

#19172 [Event Hubs] Misc Documentation Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-custom-endpoint-address.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-event-processor{T}.md
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-partition-receiver.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
Labels: Client, Docs, Event Hubs

#19173 [TA] Update service version
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClientOptions.cs
Labels: Cognitive - Text Analytics

#19174 [Smoke Tests] Fix Build Errors
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
Labels: Client, EngSys, test-reliability

#19161 Add EnableCrossEntityTransactions
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpTransactionEnlistment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpTransactionManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/ManagementUtilities.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSenderOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample06_Transactions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Service Bus

#19179 Sync eng/common directory with azure-sdk-tools for PR 1456
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#18562 Trusted Launch Test
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMInstanceViewPatchStatusTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMTestBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScenarioTests/TestVMScenarioOperations_TrustedLaunch.json
Labels: Compute

#19185 [TSI] UpdateModelSettingsRequest should be internal
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/api/Azure.Iot.TimeSeriesInsights.netstandard2.0.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/UpdateModelSettingsRequest.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/UpdateModelSettingsRequest.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/autorest.md
Labels: TimeseriesInsights

#19189 [Storage] Run large payload tests only in nightly run.
  sdk/storage/Azure.Storage.Blobs/tests/LargeBlobTests.cs
  sdk/storage/Azure.Storage.Common/tests/PooledMemoryStreamTests.cs
Labels: Storage, auto-merge

#19186 Use real secret in samples
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample10_SecretReference.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/AppConfigurationTestEnvironment.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample10_SecretReference.cs
  sdk/appconfiguration/test-resources.json
Labels: App Configuration

#19192 Respect port from topic URI
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/CloudEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/CustomEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridEventTests.cs
Labels: Event Grid

#19177 [Communication] - Identity - Rename CommunicationIdentityClient.CreateUserWithToken* and Change the return type
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/api/Azure.Communication.Identity.netstandard2.0.cs
  sdk/communication/Azure.Communication.Identity/src/CommunicationIdentityClient.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/CommunicationIdentityRestClient.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationIdentityAccessTokenResult.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationUserIdentifierAndToken.Serialization.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationUserIdentifierAndToken.cs
  sdk/communication/Azure.Communication.Identity/src/Models/CommunicationIdentityModelFactory.cs
  sdk/communication/Azure.Communication.Identity/src/Models/CommunicationUserAccessTokenResult.cs
  sdk/communication/Azure.Communication.Identity/src/Models/CommunicationUserIdentifierAndToken.cs
Labels: Communication

#19168 [Text Analytics] Added entity linking tasks to analyze operation
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeBatchActions.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeBatchActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeBatchActionsResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityLinkingTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityLinkingTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityLinkingTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityLinkingTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/JobManifestTasks.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/JobManifestTasks.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeLinkedEntitiesActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeLinkedEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleActions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithMultipleActionsAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics, auto-merge

#19197 [TA] Change error in analyze
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeBatchActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithAllErrorsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationBatchWithAllErrorsTestAsync.json
Labels: Cognitive - Text Analytics, auto-merge

#19169 Increment version for remoterendering releases
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
Labels: auto-merge

#19204 Improve exception docs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/CreateMessageBatchOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
Labels: Service Bus

#19212 Cleanup xml comments from customizations
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineUpdate.cs
Labels: Compute

#19220 add coverage and fix bug
  sdk/communication/Azure.Communication.Chat/src/Models/ChatParticipant.cs
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsLiveTests.cs
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGSAsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT_AsyncAsync.json
Labels: Communication

#19183 [TA] Delete custom HealthStatusNextPageAsync for in health pagination
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
Labels: Cognitive - Text Analytics

#19223 [Communication] - Identity - Updating samples and readme
  sdk/communication/Azure.Communication.Identity/README.md
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/Sample1_CommunicationIdentityClient/CreateUserAndToken.json
  sdk/communication/Azure.Communication.Identity/tests/SessionRecords/Sample1_CommunicationIdentityClient/CreateUserAndTokenAsync.json
  sdk/communication/Azure.Communication.Identity/tests/samples/Sample1_CommunicationIdentityClient.cs
Labels: Communication

#19251 Sync eng/common directory with azure-sdk-tools for PR 1459
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#19254 Sync eng/common directory with azure-sdk-tools for PR 1467
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#19253 Sync eng/common directory with azure-sdk-tools for PR 1465
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: Central-EngSys, EngSys

#19238 [TA] Renames in assertions
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityAssociation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityCertainty.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityConditionality.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Association.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Certainty.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/Conditionality.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityAssociation.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityCertainty.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityConditionality.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityAssertion.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareEntityAssertion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityAssertion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
Labels: Cognitive - Text Analytics

#19211 Sync eng/common directory with azure-sdk-tools for PR 1448
  eng/common/scripts/Create-APIReview.ps1
Labels: Central-EngSys, EngSys

#19214 Increment version for deviceupdate releases
  sdk/deviceupdate/Azure.Iot.DeviceUpdate/CHANGELOG.md
  sdk/deviceupdate/Azure.Iot.DeviceUpdate/src/Azure.Iot.DeviceUpdate.csproj
Labels: auto-merge

#19243 [TA] Modify wording on samples
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeBatchActions.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#19245 AzureCliCredential throws CredentialUnavailableException when interactive login is required
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/AzureCliCredential.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
Labels: Azure.Identity

#19262 [Event Hubs] Fix Broken Link
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample04_ProcessingEvents.md
Labels: Client, Event Hubs

#19250 API updates
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Messaging/CloudEvent.cs
  sdk/core/Azure.Core/tests/CloudEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample3_ParseAndDeserializeEvents.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample2_ParseAndDeserializeEvents.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridExtensionConfigProvider.cs
Labels: Azure.Core, Event Grid

#19266 [TA] Add pagination with transforms to analyze
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeBatchActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPaginationAsync.json
Labels: Cognitive - Text Analytics

#19272 [TA] Add known issues
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeBatchActionsResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
Labels: Cognitive - Text Analytics, auto-merge

#19274 [Add ] Add healthcare sample to samples readme
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
Labels: Cognitive - Text Analytics, auto-merge

#19215 BearerTokenChallengeAuthenticationPolicy refactor
  sdk/core/Azure.Core/src/Shared/ARMChallengeAuthenticationPolicy.cs
  sdk/core/Azure.Core/src/Shared/BearerTokenChallengeAuthenticationPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
Labels: Azure.Core, KeyVault

#19261 Sync eng/common directory with azure-sdk-tools for PR 1461
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Labels: Central-EngSys, EngSys

#19277 Use subscription configuration for communication services custom subscription
  sdk/communication/tests.yml
Labels: Central-EngSys, Communication

#19281 [Smoke Tests] Increase Timeout
  common/SmokeTests/smoke-tests.yml
Labels: Client, EngSys, test-reliability

#19270 Add AppConfiguration perf test
  sdk/appconfiguration/Azure.Data.AppConfiguration/Azure.Data.AppConfiguration.sln
  sdk/appconfiguration/Azure.Data.AppConfiguration/perf/Azure.Data.AppConfiguration.Perf.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/perf/GetConfigurationSettings.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/perf/PerfTestEnvironment.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/perf/Program.cs
Labels: App Configuration

#19278 Sync eng/common directory with azure-sdk-tools for PR 1470
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#19280 Add more system event mappings
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/SystemEventExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/SystemEventNames.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SystemEventTests.cs
Labels: Event Grid

#19219 Prepare to Microsoft.Azure.WebJobs.Extensions.EventHubs release
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
Labels: Event Hubs

#19276 [synapse] Bump to 85fc0666743639c4a1c864eae466ef950e7bc61b and make Library public now
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/api/Azure.Analytics.Synapse.Artifacts.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Customization/LibraryClient.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryClient.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryCreateOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryDeleteOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryFlushOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryRestClient.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/BigDataPoolResourceInfo.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/BigDataPoolResourceInfo.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/CloudError.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/CloudError.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/CloudErrorAutoGenerated.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/CloudErrorAutoGenerated.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/LibraryInfo.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/LibraryInfo.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/OperationResult.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/OperationResult.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/autorest.md
Labels: auto-merge

#19269 [Communication] - PhoneNumbers - Update CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication

#19290 System publisher + SendEvent overloads
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEventRequestContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridKeyCredentialPolicy.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/CloudEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleCloudEvent.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleCloudEventAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleCustomEvent.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleCustomEventAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEvent.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventAsync.json
Labels: Event Grid

#19286 re-case WwwAuthenticate to match guidelines
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpHeader.cs
  sdk/core/Azure.Core/src/Shared/AuthorizationChallengeParser.cs
  sdk/core/Azure.Core/src/Shared/BearerTokenChallengeAuthenticationPolicy.cs
Labels: Azure.Core

#19289 Sync eng/common directory with azure-sdk-tools for PR 1472
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: Central-EngSys, EngSys

#19194 Implement support for downloading ECDsa certificates
  sdk/core/Azure.Core/src/Shared/LightweightPkcs8Decoder.cs
  sdk/core/Azure.Core/src/Shared/PemReader.cs
  sdk/core/Azure.Core/tests/LightweightPkcs8DecoderTests.cs
  sdk/core/Azure.Core/tests/PemReaderTests.cs
  sdk/identity/Azure.Identity/src/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Data/ec-cert.pem
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/LightweightPkcs8Decoder.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/PemReader.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/Azure.Security.KeyVault.Certificates.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/LightweightPkcs8DecoderTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/PemReaderTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-256).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-256K).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-256K)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-384).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-521).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pem-file,P-521)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-256).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-256K).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-256K)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-384).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-521).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignLocalVerifyRemote(application%x-pkcs12,P-521)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-256).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-256K).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-256K)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-384).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-521).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pem-file,P-521)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-256).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-256)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-256K).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-256K)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-384).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-384)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-521).json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/DownloadECDsaCertificateSignRemoteVerifyLocal(application%x-pkcs12,P-521)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/TestExtensionMethods.cs
Labels: Azure.Core, Azure.Identity, KeyVault

#19296 [FormRecognizer] Updated Test Environment to sanitize multipage Blob SAS URL
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerTestEnvironment.cs
Labels: Client, Cognitive - Form Recognizer

#19287 Extension value nullability
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Messaging/CloudEvent.cs
  sdk/core/Azure.Core/src/Messaging/CloudEventConverter.cs
  sdk/core/Azure.Core/tests/CloudEventTests.cs
Labels: Azure.Core

#19259 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: auto-merge

#19315 Increase timeout for Key Vault live tests
  sdk/keyvault/tests.yml
Labels: KeyVault

#19297 [FormRecognizer] Updated test after service behavior change
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithoutLabelsCanParseMultipageForm(True)Async.json
Labels: Client, Cognitive - Form Recognizer

#19256 Update appconfiguration to enable live testing in sovereign clouds for multiple
  sdk/appconfiguration/test-resources.json
  sdk/appconfiguration/tests.yml
Labels: App Configuration, Central-EngSys

#19317 Increment version for core releases
  eng/Packages.Data.props
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/deviceupdate/Azure.Iot.DeviceUpdate/samples/DeviceUpdateClientSample/DeviceUpdateClientSample.csproj
Labels: Azure.Core, auto-merge

#19325 [Communication] - SMS - Update SMS samples
  sdk/communication/Azure.Communication.Sms/README.md
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/Sample1_SmsClient/SendMessageTroubleShooting.json
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/Sample1_SmsClient/SendMessageTroubleShootingAsync.json
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/Sample1_SmsClient/SendingGroupSMSMessageWithOptions.json
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/Sample1_SmsClient/SendingGroupSMSMessageWithOptionsAsync.json
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/Sample1_SmsClient/SendingSMSMessage.json
  sdk/communication/Azure.Communication.Sms/tests/SessionRecords/Sample1_SmsClient/SendingSMSMessageAsync.json
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTests.cs
  sdk/communication/Azure.Communication.Sms/tests/samples/Sample1_SmsClient.cs
Labels: Communication

#19332 [Communication] Update Changelogs and Readme for March Release
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/README.md
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/README.md
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/README.md
  sdk/communication/Azure.Communication.Sms/CHANGELOG.md
Labels: Communication

#19327 [Perf] Use retryable APIs in Storage test setup
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/ContainerTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/DownloadSasUriTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/DownloadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/GetBlobs.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/Append.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/Read.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/Upload.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/UploadFile.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Scenarios/DownloadFile.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Scenarios/UploadFile.cs
Labels: Storage

#19319 Sb 7.2 beta
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus

#19326 Sync eng/common directory with azure-sdk-tools for PR 1452
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Labels: Central-EngSys, EngSys

#19353 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#19313 [Event Hubs] March Release Preparation
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#19361 Tables March release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Tables

#19366 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#19367 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#19368 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#19363 [TA] Update Sample_RecognizeHealthcareEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_RecognizeHealthcareEntities.md
Labels: Cognitive - Text Analytics

#19362 [TA] Move known issues to Readme and update changelog to release
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeBatchActionsResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
Labels: Cognitive - Text Analytics

#19357 [Communication] - PhoneNumbers - Fix readme
  sdk/communication/Azure.Communication.PhoneNumbers/README.md
Labels: Communication

#19373 Reference updated Azure.Core
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: KeyVault

#19369 [Event Hubs] Processor Release Preparation
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Client, Event Hubs

#18315 Handle scenario where EnableGuestTenantAuthentication is true with multiple matching tenantIds
  sdk/identity/Azure.Identity/src/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
Labels: Azure.Identity, Client

#19378 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#19383 [Communication] - Chat - update change log and readme
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/README.md
Labels: Communication

#19382 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample1_PublishEventsToTopic.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample1_SendEventsToTopicAndDomain.cs
Labels: Event Grid

#19388 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#19228 [FormRecognizer] Added perf test project and RecognizeCustomFormsWithoutLabels test
  sdk/formrecognizer/Azure.AI.FormRecognizer/Azure.AI.FormRecognizer.sln
  sdk/formrecognizer/Azure.AI.FormRecognizer/perf/Azure.AI.FormRecognizer.Perf.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/perf/FormRecognizerTest.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/perf/Program.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/perf/Tests/RecognizeCustomFormsWithoutLabelsTest.cs
Labels: Client, Cognitive - Form Recognizer, Performance

#19399 Update CHANGELOGs for Key Vault beta release
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
Labels: KeyVault

#19400 [FormRecognizer] Changing Test attribute to RecordedTest in live tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Models/OperationsLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#19339 Use separate subscription for canary build for digital twins live tests
  sdk/digitaltwins/tests.yml
Labels: Central-EngSys, Digital Twins

#19396 Reference relevant sample in BasicDigitalTwin
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/Program.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/Readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Models/BasicDigitalTwin.cs
Labels: Digital Twins

#19402 Increase smoke test timeout
  sdk/identity/tests.yml
Labels: Azure.Identity

#19405 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer, auto-merge

#17081 [Identity] Add Azure Powershell Authentication to Azure.Identity
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/AzurePowerShellCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Validations.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
Labels: APIChange, ArchApproved, Azure.Identity, Client, Community Contribution

#19410 Prepared storage for release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#19403 [FormRecognizer] Re-recorded tests that make use of multipage forms training
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/StartRecognizeCustomFormsWithLabelsCanParseMultipageForm(True)Async.json
Labels: Client, Cognitive - Form Recognizer

#19411 Add community contribution attribution
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#19381 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#19209 Time Series Insights Instances client library implementation
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/api/Azure.Iot.TimeSeriesInsights.netstandard2.0.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesOperationError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesOperationErrorDetails.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesOperationResult.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesRequestBatchGetOrDelete.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesRequestBatchGetOrDelete.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/SearchSuggestion.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/TimeSeriesInstance.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/TimeSeriesInstance.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/HierarchiesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/HierarchiesBatchResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesBatchResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationError.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationErrorDetails.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationErrorDetails.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationResult.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationResult.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesRequestBatchGetOrDelete.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesRequestBatchGetOrDelete.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesSuggestResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesSuggestResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/SearchSuggestion.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/SearchSuggestion.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesHierarchyOrError.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesHierarchyOrError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesInstance.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesInstance.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesTypeOrError.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesTypeOrError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TsiError.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TsiError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TypesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TypesBatchResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Models/TimeSeriesId.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/TimeSeriesInsightsClient.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/E2eTestBase.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/ModelSettingsTests/TimeSeriesInsightsClient_ModelSettingsTest.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/ModelSettingsTests/TimeSeriesInsightsClient_ModelSettingsTestAsync.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/ModelSettingsTests/UpdateModelSettingsWithInvalidType_ThrowsBadRequestException.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/ModelSettingsTests/UpdateModelSettingsWithInvalidType_ThrowsBadRequestExceptionAsync.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/TimeSeriesIdTests/TimeSeriesId_CreateInstanceWith3Keys.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/TimeSeriesIdTests/TimeSeriesId_CreateInstanceWith3KeysAsync.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/TimeSeriesInsightsClientTest/TimeSeriesInsightsClient_Construct.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/TimeSeriesInsightsClientTest/TimeSeriesInsightsClient_ConstructAsync.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/TimeSeriesInsightsInstancesTests/TimeSeriesInsightsInstances_Lifecycle.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/SessionRecords/TimeSeriesInsightsInstancesTests/TimeSeriesInsightsInstances_LifecycleAsync.json
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/TimeSeriesIdTests.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/TimeSeriesInsightsInstancesTests.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/prerequisites/setup.ps1
  sdk/timeseriesinsights/test-resources.bicep
  sdk/timeseriesinsights/test-resources.json
Labels: TimeseriesInsights

#19401 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#19414 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage, auto-merge

#19412 Increment version for communication releases
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.Sms/CHANGELOG.md
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
Labels: Communication, auto-merge

#19418 Update Key Vault for next release
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#19321 [Smoke Tests] Add Timeout and Update to March Releases
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  common/SmokeTests/smoke-tests.yml
  eng/pipelines/templates/jobs/smoke-tests.yml
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
Labels: Client, EngSys

#19398 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
Labels: App Configuration, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Storage, TimeseriesInsights

#19408 [Communication] - PhoneNumbers - Rename API methods
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/README.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/samples/Sample_PhoneNumbersClient.md
  sdk/communication/Azure.Communication.PhoneNumbers/samples/Sample_PhoneNumbersClientAsync.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/AcquiredPhoneNumbers.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/AcquiredPhoneNumbers.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PurchasedPhoneNumber.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PurchasedPhoneNumber.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/UpdatePhoneNumberCapabilitiesOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Models/PhoneNumbersModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Models/PurchasedPhoneNumber.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/UpdatePhoneNumberCapabilitiesOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/samples/Sample_PhoneNumbersClient.cs
Labels: Communication

#19430 Sync eng/common directory with azure-sdk-tools for PR 1479
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#19415 Add README for ServiceBus functions extensions
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Microsoft.Azure.WebJobs.Extensions.ServiceBus.Tests.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToCollector.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToMessageActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToOutputParameter.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToReturnValue.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToSender.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/TriggerBatch.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/TriggerSingle.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/TriggerSingleModel.cs
Labels: Service Bus

#19433 Validate URI is not null
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientTests.cs
Labels: Event Grid

#19426 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEditedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEditedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadCreatedWithUserEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadCreatedWithUserEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadPropertiesUpdatedPerUserEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadPropertiesUpdatedPerUserEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadWithUserDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadWithUserDeletedEventData.cs
Labels: Event Grid, Storage

#19435 Fix casing in system models
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageEditedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageEditedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatMessageReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadCreatedWithUserEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadCreatedWithUserEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadPropertiesUpdatedPerUserEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadPropertiesUpdatedPerUserEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadWithUserDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ACSChatThreadWithUserDeletedEventData.cs
Labels: Event Grid

#19440 [Communication] - PhoneNumbers - Fix client name in the changelog
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
Labels: Communication

#19441 [TSI] Design of Time Series Types APIs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/design/TimeSeriesTypes_API_Design.md
Labels: TimeseriesInsights

#19439 Hotfix/sb patch 7.1.1
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/EntityScopeFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/ServiceBusMessageBatchLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/ServiceBusMessageBatchTests.cs
Labels: Service Bus

#19413 [Communication] - Chat - update to preview5 swagger
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/ChatClient.cs
  sdk/communication/Azure.Communication.Chat/src/ChatClientOptions.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatThreadRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsErrors.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsErrors.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsResult.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/AddChatParticipantsResult.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadItem.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadItem.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadPropertiesInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadPropertiesInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadsItemCollection.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadsItemCollection.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadErrors.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadErrors.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadRequest.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadResultInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadResultInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatModelFactory.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThreadProperties.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThreadPropertiesInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThreadsItemCollection.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CreateChatThreadResult.cs
  sdk/communication/Azure.Communication.Chat/src/communicationserviceschat.json
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsLiveTests.cs
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsTests.cs
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceiptGSAsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ThreadCGUD_ParticipantAUR_MessageGSU_NotificationT_AsyncAsync.json
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample1_ThreadOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample2_MessagingOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample3_ParticipantOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample4_KeyConcepts.cs
Labels: Communication

#19458 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#19431 Allow specifying default versions on ClientTestFixture
  sdk/core/Azure.Core.TestFramework/src/ClientTestFixtureAttribute.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/ServiceVersionAttribute.cs
  sdk/core/Azure.Core/tests/ClientTestBaseMultiVersionTests.cs
  sdk/core/Azure.Core/tests/ClientTestBaseMultiVersionTestsWithSpecificVersions.cs
  sdk/core/Azure.Core/tests/SessionRecords/ClientTestBaseMultiVersionTestsWithSpecificVersions/HasValidVersion.json
  sdk/core/Azure.Core/tests/SessionRecords/ClientTestBaseMultiVersionTestsWithSpecificVersions/HasValidVersionAsync.json
Labels: Azure.Core

#19459 Remove converters from lower level models
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatEventInThreadBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEventInThreadBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadEventInThreadBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadParticipantProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsSmsDeliveryAttemptProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsSmsEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppEventTypeDetail.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppServicePlanEventTypeDetail.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CloudEventInternal.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CloudEventInternal.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationIdentifierModel.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationUserIdentifierModel.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryArtifactEventTarget.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventActor.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventSource.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventTarget.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceConnectionStateEventInfo.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceConnectionStateEventProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceLifeCycleEventProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceTelemetryEventProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceTwinInfo.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceTwinInfoProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceTwinInfoX509Thumbprint.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceTwinMetadata.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DeviceTwinProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MapsGeofenceEventProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MapsGeofenceGeometry.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaJobError.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaJobErrorDetail.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaJobOutput.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaJobOutputAsset.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MicrosoftTeamsUserIdentifierModel.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/PhoneNumberIdentifierModel.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageLifecyclePolicyActionSummaryDetail.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/WebAppServicePlanUpdatedEventDataSku.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#19460 Switch default LoadBalancingStrategy to Greedy
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
Labels: Event Hubs

#19456 Add migration guide
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/samples/Sample3_ParseAndDeserializeEvents.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/MigrationGuide.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample2_ParseAndDeserializeEvents.cs
Labels: Event Grid

#19464 Sync eng/common directory with azure-sdk-tools for PR 1485
  eng/common/scripts/Collect-ChangeLogs.ps1
Labels: Central-EngSys, EngSys

#19465 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#19487 Enable Azure SDK log forwarding in EventHubs extension
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
Labels: Event Hubs

#19485 JsonData DebugView
  sdk/core/Azure.Core.Experimental/src/JsonData.cs
Labels: Azure.Core

#19489 [Communication] - PhoneNumbers - Update PhoneNumbers swagger
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PurchasedPhoneNumber.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PurchasedPhoneNumbers.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PurchasedPhoneNumbers.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/ReleasePhoneNumberOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Models/PurchasedPhoneNumber.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
Labels: Communication

#19488 [TSI] Implement Get APIs for Types
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/api/Azure.Iot.TimeSeriesInsights.netstandard2.0.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/design/TimeSeriesTypes_API_Design.md
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/TimeSeriesTypeOperationResult.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesTypeOperationResult.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesTypeOperationResult.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TypesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TypesBatchResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/TimeSeriesInsightsClient.cs
Labels: TimeseriesInsights

#19453 [MetricsAdvisor] Manually changing DataFeedDetailPatch serialization method to fix bug
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedDetailPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/DataFeedDetailPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureApplicationInsightsDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureBlobDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureCosmosDbDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataExplorerDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageGen2DataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureTableDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateElasticsearchDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateHttpRequestDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateInfluxDbDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMongoDbDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateMySqlDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdatePostgreSqlDataFeedWithMinimumSetupAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithEveryMemberAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithEveryMemberAndNewInstanceAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithMinimumSetupAndNewInstance.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateSqlServerDataFeedWithMinimumSetupAndNewInstanceAsync.json
Labels: Client, Cognitive - Metrics Advisor

#19473 [Core.Experimental] Add JsonConverter for `JsonData`
  sdk/core/Azure.Core.Experimental/src/JsonData.cs
  sdk/core/Azure.Core.Experimental/tests/JsonDataTests.cs
Labels: Azure.Core

#19467 Fix casing
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/SystemEventExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/SystemEventNames.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/RedisExportRdbCompletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/RedisExportRdbCompletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/RedisImportRdbCompletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/RedisImportRdbCompletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SystemEventTests.cs
Labels: Event Grid

#19409 Sync eng/common directory with azure-sdk-tools for PR 1458
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#19516 Move migration guide
  sdk/eventgrid/Azure.Messaging.EventGrid/MigrationGuide.md
Labels: Event Grid

#19527 Etag.ToString() returns empty string if value is null
  sdk/core/Azure.Core/src/ETag.cs
  sdk/core/Azure.Core/tests/ETagTests.cs
Labels: Azure.Core

#19528 Sync eng/common directory with azure-sdk-tools for PR 1490
  eng/common/pipelines/templates/steps/publish-artifact.yml
Labels: Central-EngSys, EngSys

#19530 [TSI] Rename Instance error and error details
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/api/Azure.Iot.TimeSeriesInsights.netstandard2.0.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesOperationError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Customized/Models/InstancesOperationErrorDetails.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/HierarchiesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/HierarchiesBatchResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesBatchResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationResult.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/InstancesOperationResult.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesHierarchyOrError.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesHierarchyOrError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesOperationError.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesOperationError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesOperationErrorDetails.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesOperationErrorDetails.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesTypeOperationResult.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TimeSeriesTypeOperationResult.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TsiError.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TsiError.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TypesBatchResponse.Serialization.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/Generated/Models/TypesBatchResponse.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/src/TimeSeriesInsightsClient.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/TimeSeriesIdTests.cs
  sdk/timeseriesinsights/Azure.Iot.TimeSeriesInsights/tests/TimeSeriesInsightsInstancesTests.cs
Labels: TimeseriesInsights
