Repository Azure/azure-sdk-for-net, pull requests merged in 2021-07, with the labels that each got.

#22358 [AWPS_Function] Fix parameter AutorResolve under WebPubSubTrigger.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Config/WebPubSubConfigProvider.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Trigger/WebPubSubTriggerBinding.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Trigger/WebPubSubTriggerBindingProvider.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/WebPubSubTriggerBindingProviderTests.cs
Labels: auto-merge

#22140 [WebPubSubFunction] Add AWPS function samples.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/README.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/samples/WebPubSubConnectionBindingFunction.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/samples/WebPubSubOutputBindingFunction.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/samples/WebPubSubTriggerFunction.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/samples/WebPubSubTriggerReturnValueFunction.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/Microsoft.Azure.WebJobs.Extensions.WebPubSub.Tests.csproj
Labels: auto-merge

#22346 Make *ModelFactory take IEnumerable<X> as method arguments
  eng/Packages.Data.props
  sdk/anomalydetector/Azure.AI.AnomalyDetector/api/Azure.AI.AnomalyDetector.netstandard2.0.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyDetectorModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallingServerModelFactory.cs
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/AzureCommunicationServicesModelFactory.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatModelFactory.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatModelFactory.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
  sdk/communication/Azure.Communication.NetworkTraversal/api/Azure.Communication.NetworkTraversal.netstandard2.0.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/AzureCommunicationServicesModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/PhoneNumbersModelFactory.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/ContainerRegistryModelFactory.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/api/Azure.Iot.DeviceUpdate.netstandard2.0.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceUpdateModelFactory.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/AzureDigitalTwinsAPIModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/FormRecognizerModelFactory.cs
  sdk/iot/Azure.IoT.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.IoT.Hub.Service/src/Generated/IotHubGatewayServiceAPIsModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAdministrationModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationModelFactory.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/MicrosoftAzureMetricsAdvisorRestAPIOpenAPIV2ModelFactory.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/QueryModelFactory.cs
  sdk/quantum/Azure.Quantum.Jobs/api/Azure.Quantum.Jobs.netstandard2.0.cs
  sdk/quantum/Azure.Quantum.Jobs/src/Generated/QuantumModelFactory.cs
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Generated/SearchModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobsModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/api/Azure.Analytics.Synapse.AccessControl.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/AccessControlModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/api/Azure.Analytics.Synapse.Artifacts.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/ArtifactsModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Generated/ManagedPrivateEndpointsModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/api/Azure.Analytics.Synapse.Monitoring.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Generated/MonitoringModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/api/Azure.Analytics.Synapse.Spark.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/SparkModelFactory.cs
  sdk/tables/Azure.Data.Tables/src/Generated/TableModelFactory.cs
  sdk/template/Azure.Template/src/Generated/TemplateModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/TextAnalyticsModelFactory.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/api/Azure.IoT.TimeSeriesInsights.netstandard2.0.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/Generated/TimeSeriesInsightsModelFactory.cs
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/BatchDocumentTranslationModelFactory.cs
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Iot, KeyVault, Search, Storage, Tables, TimeseriesInsights

#22344 [Azure.Core.Ampq] July Release Preparation
  sdk/core/Azure.Core.Amqp/CHANGELOG.md
  sdk/core/Azure.Core.Amqp/src/Azure.Core.Amqp.csproj
Labels: Azure.Core, Client

#22339 [Event Hubs Client] Repeated Amqp Header Property
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
Labels: Client, Event Hubs

#22369 update tables for release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#22359 Sync eng/common directory with azure-sdk-tools for PR 1768
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: Central-EngSys, EngSys

#22362 Use ILogger<T> for webjob extensions
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridExtensionConfigProvider.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/JobhostEndToEnd.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubExtensionConfigProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/EventHubProducerClientImpl.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerAttributeBindingProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueProcessorOptions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueProcessorTests.cs
Labels: Event Grid, Event Hubs, Storage

#22370 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#22349 [MetricsAdvisor] Renamed DataSourceCredentialEntity subtypes
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataLakeSharedKeyCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataLakeSharedKeyCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalInKeyVaultCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalInKeyVaultCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/SqlConnectionStringCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/SqlConnectionStringCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/DataLakeSharedKeyCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/DataSourceCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/ServicePrincipalCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/ServicePrincipalInKeyVaultCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/SqlConnectionStringCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/AzureDataExplorerDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/AzureDataLakeStorageGen2DataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/SqlServerDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/DisposableDataSourceCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataSourceCredentialEntityLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataSourceCredentialEntityTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataSourceCredentialEntitiesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%DataLakeSharedKeyCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%DataLakeSharedKeyCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%ServicePrincipalCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%ServicePrincipalCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%ServicePrincipalInKeyVaultCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%ServicePrincipalInKeyVaultCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%SqlConnectionStringCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGet(%SqlConnectionStringCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%DataLakeSharedKeyCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%DataLakeSharedKeyCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%ServicePrincipalCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%ServicePrincipalCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%ServicePrincipalInKeyVaultCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%ServicePrincipalInKeyVaultCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%SqlConnectionStringCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/CreateAndGetWithDescription(%SqlConnectionStringCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/Delete.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/DeleteAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%DataLakeSharedKeyCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%DataLakeSharedKeyCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%ServicePrincipalCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%ServicePrincipalCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%ServicePrincipalInKeyVaultCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%ServicePrincipalInKeyVaultCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%SqlConnectionStringCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonProperties(%SqlConnectionStringCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateServicePrincipalCredentialEntity.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateServicePrincipalCredentialEntityAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateServicePrincipalInKeyVaultCredentialEntity.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateServicePrincipalInKeyVaultCredentialEntityAsync.json
Labels: Client, Cognitive - Metrics Advisor

#22364 [MetricsAdvisor] Removed Gen2 from data source name
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureDataLakeStorageGen2DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureDataLakeStorageGen2DataFeedPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedSourceKind.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSourceKind.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/AzureDataLakeStorageDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataFeedSourcesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithAuthentication.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithAuthenticationAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipal).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipal)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipalInKeyVault).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipalInKeyVault)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithCredentialAuthentication(SharedKey).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithCredentialAuthentication(SharedKey)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithMinimumSetupAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithAuthentication.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithAuthenticationAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipal).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipal)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipalInKeyVault).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithCredentialAuthentication(ServicePrincipalInKeyVault)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithCredentialAuthentication(SharedKey).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithCredentialAuthentication(SharedKey)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithEveryMember.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithEveryMemberAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithMinimumSetup.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/UpdateAzureDataLakeStorageDataFeedWithMinimumSetupAsync.json
Labels: Client, Cognitive - Metrics Advisor

#22345 [MetricsAdvisor] Made NotificationHook abstract
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/NotificationHook.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/NotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MockClientTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataFeedSourcesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataSourceCredentialEntitiesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/NotificationHookModelTests.cs
Labels: Client, Cognitive - Metrics Advisor

#22378 [MetricsAdvisor] Made DataSourceCredentialEntity abstract
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/DataSourceCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataSourceCredentialEntitiesTests.cs
Labels: Client, Cognitive - Metrics Advisor

#22368 [MetricsAdvisor] Renamed "Time" prefix to "On" in DateTimeOffsets
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/AlertQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/FeedbackQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/MicrosoftAzureMetricsAdvisorRestAPIOpenAPIV2ModelFactory.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AlertQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlert.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedRollupType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/FeedbackQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricPeriodFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/AnomalyAlert.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/MetricAnomalyAlertScope.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/TopNGroupScope.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/AnomalyIncident.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/DataPointAnomaly.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedRollupSettings.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedRollupType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample01_DataFeedCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample05_AlertConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample06_QueryTriggeredAlerts.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample07_QueryDetectedAnomalies.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample08_QueryIncidentsAndRootCauses.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%anomalyDetectedOn%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%anomalyDetectedOn%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%createdOn%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%createdOn%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%lastModified%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AlertTriggeringLiveTests/GetAlerts(%lastModified%)Async.json
Labels: Client, Cognitive - Metrics Advisor

#22376 Add missing ILogger<T> updates
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubExtensionConfigProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerAttributeBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusExtensionConfigProvider.cs
Labels: Event Hubs, Service Bus

#22301 [MetricsAdvisor] Flattened FeedbackDimensionFilter properties into MetricFeedback
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricPeriodFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#22381 Sync eng/common directory with azure-sdk-tools for PR 1772
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#22385 [MetricsAdvisor] Removed `Emails` suffix from properties
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/EmailNotificationHook.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/NotificationHook.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/WebNotificationHook.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetDataFeedsFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/HookInfoPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/EmailNotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/NotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/WebNotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/NotificationHookModelTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample01_DataFeedCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample04_HookCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#22387 [TA] Remove /en-us from links
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeSentimentAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractKeyPhrasesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeLinkedEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRequestOptions.cs
Labels: Cognitive - Text Analytics

#22414 Add banned apis analyzer
  eng/BannedSymbols.txt
  eng/Directory.Build.Common.props
  eng/Directory.Build.Common.targets
  eng/Packages.Data.props
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/iot/Azure.IoT.Hub.Service/src/Azure.IoT.Hub.Service.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/samples/sharelink/ShareLink.csproj
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/template/Azure.Template/src/MiniSecretClient.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
Labels: Azure.Core, Azure.Identity, EngSys, Iot, KeyVault, Search, Service Bus, Storage, Tables

#22418 Improve download docs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
Labels: Storage

#22419 [Storage] Address Uri.ToString() ban.
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/StorageConnectionString.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
Labels: Storage

#22417 [TA] Modify library version
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeSentimentAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeSentimentOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics

#22406 [MetricsAdvisor] Renamed DimensionKey properties
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAnomaliesForDetectionConfigurationFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAnomalyDimensionValuesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetIncidentsForDetectionConfigurationOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetMetricDimensionValuesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetMetricSeriesDataOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetMetricSeriesDefinitionsOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/AnomalyIncident.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/DataPointAnomaly.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/IncidentRootCause.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/MetricEnrichedSeriesData.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/MetricSeriesGroupDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/MetricSingleSeriesDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/FeedbackDimensionFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricPeriodFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/TimeSeries/DimensionKey.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/TimeSeries/MetricSeriesData.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/TimeSeries/MetricSeriesDefinition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyDetectionConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AlertTriggeringLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/TimeSeriesLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorLiveTestBase.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DimensionKeyTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample01_DataFeedCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample07_QueryDetectedAnomalies.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample08_QueryIncidentsAndRootCauses.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample09_QueryTimeSeriesInformation.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#21988 [Search] Avoid storm of error events being logged when running test
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample05_IndexingDocuments.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Notifications_ExceptionsGetSwallowed.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/BatchingTests/Notifications_ExceptionsGetSwallowedAsync.json
Labels: Search

#22407 [MetricsAdvisor] Make input-only extensible enums regular enums
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/AlertQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/AnomalyFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/DataFeedFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/FeedbackFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/FeedbackQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AlertQueryTimeMode.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AlertQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AlertingResultQuery.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/FeedbackFilter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/FeedbackFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/FeedbackQueryTimeMode.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/FeedbackQueryTimeMode.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAnomalyFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricChangePointFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricCommentFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricFeedbackFilter.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricFeedbackFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricPeriodFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricPeriodFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAllFeedbackOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAnomaliesForDetectionConfigurationOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetDataFeedsOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/FeedbackQueryTimeModeExtensions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/FeedbackDimensionFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricPeriodFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample01_DataFeedCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#22421 [Search] Substitute Uri.ToString() with Uri.AbsoluteUri
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/search/Azure.Search.Documents/src/Indexes/Models/SearchResourceEncryptionKey.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexerClient.cs
  sdk/search/Azure.Search.Documents/src/Models/SearchContinuationToken.cs
  sdk/search/Azure.Search.Documents/src/SearchClient.cs
Labels: Search

#22380 Update blobs migration guide to include GenerateSas; Fix migration test bugs
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
Labels: Storage

#22430 Service Bus: fixed xml comment
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/EntityStatus.cs
Labels: Client, Community Contribution, Service Bus, auto-merge, customer-reported

#21765 Commenting out the DataCollectionRulesTests because they are causing failures generating new SDKs
  sdk/monitor/Microsoft.Azure.Management.Monitor/tests/BasicTests/DataCollectionRulesTests.cs
  sdk/monitor/Microsoft.Azure.Management.Monitor/tests/Scenarios/DataCollectionRulesTests.cs
Labels: needs-revision

#22428 Add some logging and add Retry attribute
  sdk/core/Azure.Core/tests/BearerTokenAuthenticationPolicyTests.cs
Labels: Azure.Core

#22443 [WebPubSub] Fix banning Uri.ToString().
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Bindings/WebPubSubConnection.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/WebPubSubServiceTests.cs
Labels: auto-merge

#22263 Limit number of events stored in TestEventListener
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/TestEventListener.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/identity/Azure.Identity/tests/AzureIdentityEventSourceTests.cs
  sdk/search/Azure.Search.Documents/tests/Batching/BatchingTests.cs
Labels: Azure.Core

#22439 Fix EventHub extension tests
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
Labels: Event Hubs

#22431 [MetricsAdvisor] Added discriminators to CredentialEntity and NotificationHook
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/FeedbackFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureSQLConnectionStringCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataLakeGen2SharedKeyCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataLakeSharedKeyCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialKind.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/EmailHookInfoPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/EmailNotificationHook.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/HookInfoPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/HookType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAnomalyFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricChangePointFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricCommentFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricPeriodFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricPeriodFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/NotificationHook.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/NotificationHookKind.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalInKVCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalInKeyVaultCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/SqlConnectionStringCredentialEntity.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/WebNotificationHook.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/WebhookHookInfoPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/DataSourceCredentialType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/HookType.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/DataLakeSharedKeyCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/DataSourceCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/DataSourceCredentialKind.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/ServicePrincipalCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/ServicePrincipalInKeyVaultCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/SqlConnectionStringCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedbackKind.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricPeriodFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/EmailNotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/NotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/NotificationHookKind.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/NotificationHook/WebNotificationHook.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataSourceCredentialEntityLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataSourceCredentialEntitiesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample04_HookCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#22450 [MetricsAdvisor] Handling unknown MetricFeedback and DataFeed scenarios
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataFeedSourcesTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/MetricFeedbackModelTests.cs
Labels: Client, Cognitive - Metrics Advisor

#22434 [MetricsAdvisor] Added DimensionsToSplitAlert property
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/MicrosoftAzureMetricsAdvisorRestAPIOpenAPIV2ModelFactory.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlertConfiguration.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlertingConfigurationPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/AnomalyAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/AnomalyAlertingConfigurationPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMember.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithEveryMemberAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetup(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetup(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetup(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/UpdateAlertConfigurationWithMinimumSetup(True)Async.json
Labels: Client, Cognitive - Metrics Advisor

#22453 [MetricsAdvisor] Rechecked validation in service methods
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/AnomalyDetectionTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(True)Async.json
Labels: Client, Cognitive - Metrics Advisor

#22466 [MetricsAdvisor] Renamed operators for cross-language consistency
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/MicrosoftAzureMetricsAdvisorRestAPIOpenAPIV2ModelFactory.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlertConfiguration.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlertingConfigurationPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DetectionConditionOperator.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DetectionConditionsOperator.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAlertConfigurationsOperator.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesGroupDetectionCondition.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesGroupDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSingleSeriesDetectionCondition.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricWholeSeriesDetectionCondition.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricWholeSeriesDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/WholeMetricConfigurationPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/AnomalyAlertConfiguration.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AlertTriggering/MetricAlertConfigurationsOperator.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/DetectionConditionOperator.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/MetricSingleSeriesDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/AnomalyDetection/MetricWholeSeriesDetectionCondition.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyDetectionConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample03_DetectionConfigurationCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#22343 Update to use common rest api for OperationsList
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/ManagementInterceptor.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ApiVersions.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ArmClient.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/Models/RestApi.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/Models/RestApi.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/Models/RestApiListResult.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/Models/RestApiListResult.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/RestApiContainer.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/RestOperations.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/Azure.ResourceManager.Core.Tests.csproj
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/Scenario/RestApiContainerTests.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListComputeTest().json
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListComputeTest()Async.json
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListComputeTest.json
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListComputeTestAsync.json
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListNetworkTest().json
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListNetworkTest()Async.json
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListNetworkTest.json
  sdk/resourcemanager/Azure.ResourceManager.Core/tests/SessionRecords/RestApiContainerTests/ListNetworkTestAsync.json
Labels: Azure.Core

#22473 Add interop sample
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample08_Interop.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample08_Interop.cs
Labels: Service Bus

#22478 Increment version for core releases
  sdk/core/Azure.Core.Amqp/CHANGELOG.md
  sdk/core/Azure.Core.Amqp/src/Azure.Core.Amqp.csproj
Labels: Azure.Core, auto-merge

#21894 Refactored FS scanner to use factory model and work better with mocking
  sdk/storage/Azure.Storage.Blobs.DataMovement/api/Azure.Storage.Blobs.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDirectoryUploadOptions.cs
  sdk/storage/Azure.Storage.Common.DataMovement/api/Azure.Storage.Common.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common.DataMovement/src/FilesystemScanner.cs
  sdk/storage/Azure.Storage.Common.DataMovement/src/PathScanner.cs
  sdk/storage/Azure.Storage.Common.DataMovement/src/PathScannerFactory.cs
  sdk/storage/Azure.Storage.Common.DataMovement/tests/PathScannerTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/StorageTransferStatus.cs
Labels: Storage

#22480 Use Uri.AbsoluteUri for Key Vault
  .vscode/cspell.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatesEventSource.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/DeleteCertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/DeletedCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/KeyVaultCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/RecoverDeletedCertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/RemoteCryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/DeleteKeyOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/DeletedKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/RecoverDeletedKeyOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/DeleteSecretOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/DeletedSecret.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/RecoverDeletedSecretOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/KeyVaultPipeline.cs
  sdk/keyvault/samples/sharelink/ManagedStorageRestClient.cs
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: KeyVault

#22475 Service Bus extension API updates
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/ServiceBusBinding.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Bindings/StringToServiceBusEntityConverter.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessageProcessor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/SessionMessageProcessor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/ServiceBusAttribute.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
Labels: Service Bus

#22465 [MetricsAdvisor] Overwriting patch serialization methods to support sending null (4)
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AzureSQLConnectionStringCredentialPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataLakeGen2SharedKeyCredentialPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataSourceCredentialPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalCredentialPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalInKVCredentialPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalInKVParamPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/ServicePrincipalParamPatch.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/PatchModels/AzureSQLConnectionStringCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/PatchModels/DataLakeGen2SharedKeyCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/PatchModels/DataSourceCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/PatchModels/ServicePrincipalCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/PatchModels/ServicePrincipalInKVCredentialPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/PatchModels/ServicePrincipalInKVParamPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/PatchModels/ServicePrincipalParamPatch.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/Credential/DataSourceCredentialEntity.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Utf8JsonWriterExtensions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataSourceCredentialEntityLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%DataLakeSharedKeyCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%DataLakeSharedKeyCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%ServicePrincipalCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%ServicePrincipalCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%ServicePrincipalInKeyVaultCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%ServicePrincipalInKeyVaultCredentialEntity%)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%SqlConnectionStringCredentialEntity%).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataSourceCredentialEntityLiveTests/UpdateCommonPropertiesWithNullSetsToDefault(%SqlConnectionStringCredentialEntity%)Async.json
Labels: Client, Cognitive - Metrics Advisor

#22375 Standardize timeouts and remove sync over async in tests
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/AsyncAssert.cs
  sdk/core/Azure.Core/tests/AsyncAssertTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus

#22469 Fix *ModelFactory namespaces
  eng/Packages.Data.props
  sdk/anomalydetector/Azure.AI.AnomalyDetector/api/Azure.AI.AnomalyDetector.netstandard2.0.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyDetectorModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallingServerModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallingServerModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.Chat/src/Models/ChatModelFactory.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
  sdk/communication/Azure.Communication.NetworkTraversal/api/Azure.Communication.NetworkTraversal.netstandard2.0.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/NetworkTraversalModelFactory.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/autorest.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/communication/Azure.Communication.Sms/src/autorest.md
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/api/Azure.Iot.DeviceUpdate.netstandard2.0.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceUpdateModelFactory.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/AzureDigitalTwinsAPIModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/iot/Azure.IoT.Hub.Service/api/Azure.Iot.Hub.Service.netstandard2.0.cs
  sdk/iot/Azure.IoT.Hub.Service/src/Generated/IotHubGatewayServiceAPIsModelFactory.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/MicrosoftAzureMetricsAdvisorRestAPIOpenAPIV2ModelFactory.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/CodeGenInternal/MicrosoftAzureMetricsAdvisorRestAPIOpenAPIV2ModelFactory.cs
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/QueryModelFactory.cs
  sdk/quantum/Azure.Quantum.Jobs/api/Azure.Quantum.Jobs.netstandard2.0.cs
  sdk/quantum/Azure.Quantum.Jobs/src/Generated/QuantumModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/api/Azure.Analytics.Synapse.AccessControl.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/AccessControlModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/api/Azure.Analytics.Synapse.Artifacts.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/ArtifactsModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/api/Azure.Analytics.Synapse.ManagedPrivateEndpoints.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Generated/ManagedPrivateEndpointsModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/api/Azure.Analytics.Synapse.Monitoring.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Generated/MonitoringModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/api/Azure.Analytics.Synapse.Spark.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/SparkModelFactory.cs
  sdk/template/Azure.Template/api/Azure.Template.netstandard2.0.cs
  sdk/template/Azure.Template/src/Generated/TemplateModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/autorest.md
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/BatchDocumentTranslationModelFactory.cs
Labels: Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Iot, TimeseriesInsights

#22479 [Event Hubs] July Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Client, Event Hubs

#22488 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#22493 [TA] Release date
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#22383 Generated SDK modules and recorded tests for Capacity Reservation and Capacity reservation in VM - API version 2021-04-01
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/Helpers/ApiConstants.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/Helpers/Helpers.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/CapacityReservationTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMTestBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CapacityReservationTests/TestCapacityReservationOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CapacityReservationTests/TestNonZonalCapacityReservationGroupInstanceView.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScenarioTests/TestVMScenarioOperations_UsingCapacityReservationGroup.json
Labels: Compute

#22310 Prepare Azure.Data.AppConfiguration 1.1.0 release
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#22468 Migrated Storage to new swagger files
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobAcquireLeaseHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobChangeLeaseHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRenewLeaseHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/PathRenameMode.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/QueryFormat.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/QueryFormat.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/QuickQueryExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/FileSystemRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareGetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Queues/src/Generated/MessageIdRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/MessagesRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/Models/QueueMetrics.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/autorest.md
Labels: Storage

#22496 Sync eng/common directory with azure-sdk-tools for PR 1782
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#22422 Sync eng/common directory with azure-sdk-tools for PR 1767
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#22498 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#22499 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: auto-merge

#22502 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#22501 [Event Hubs] Processor Release Preparation (July)
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Client, Event Hubs

#22504 Remove extra CL section
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
Labels: App Configuration

#22509 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#22506 Remove usages of Uri.ToString() #22413
  .github/CODEOWNERS
  sdk/iot/Azure.IoT.Hub.Service/src/JobsClient.cs
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_ConfigurationsLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurations.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ConfigurationsClientTests/ConfigurationsClient_GetConfigurationsAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreationAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwin.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkCreation_DeviceWithTwinAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdate.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_BulkUpdateAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwins.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_Query_GetTwinsAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/DevicesClientTests/DevicesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/JobsClientTests/Jobs_Export_Import_Lifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/JobsClientTests/Jobs_Export_Import_LifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_ModuleWithTwin.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_ModuleWithTwinAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_MultipleDevices.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_MultipleDevicesAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_SingleDevice.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkCreation_SingleDeviceAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkUpdate.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_BulkUpdateAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_DeviceTwinLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_GetModulesOnDevice.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_GetModulesOnDeviceAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycle.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_IdentityLifecycleAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_Query_GetTwins.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_Query_GetTwinsAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatch.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateDevice_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatch.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/ModulesClientTests/ModulesClient_UpdateModuleTwin_EtagDoesNotMatchAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTag.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllDevicesTwinsWithTagAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTag.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/QueryTests/QueryClient_GetAllModulesTwinsWithTagAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Device_SuccessfulResponse.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Device_SuccessfulResponseAsync.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Service_SuccessfulResponse.json
  sdk/iot/Azure.IoT.Hub.Service/tests/SessionRecords/StatisticsClientTests/StatisticsClient_Service_SuccessfulResponseAsync.json
Labels: Event Grid, Iot, Service Bus

#22513 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#22517 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#22520 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#22514 [Storage] Fix blob encoding in batch.
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/src/BlobBatch.cs
  sdk/storage/Azure.Storage.Blobs.Batch/tests/BlobBatchClientTests.cs
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_SpecialCharacters.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/Delete_SpecialCharactersAsync.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_SpecialCharacters.json
  sdk/storage/Azure.Storage.Blobs.Batch/tests/SessionRecords/BlobBatchClientTests/SetBlobAccessTier_SpecialCharactersAsync.json
Labels: Storage

#22519 [Core] Removes TA dependency and adds fake client
  sdk/core/Azure.Core/Azure.Core.sln
  sdk/core/Azure.Core/samples/LongRunningOperations.md
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/samples/EventSamples.cs
  sdk/core/Azure.Core/tests/samples/FakeClients/AlarmClient.cs
  sdk/core/Azure.Core/tests/samples/FakeClients/MyStoreClient.cs
  sdk/core/Azure.Core/tests/samples/OperationSamples.cs
Labels: Azure.Core

#22538 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: auto-merge

#22484 Update Ubuntu VM version from 18 to 20
  eng/pipelines/templates/jobs/ci.mgmt.yml
  eng/pipelines/templates/stages/archetype-net-release.yml
  sdk/identity/platform-matrix.json
  sdk/keyvault/platform-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: KeyVault, Storage

#22523 [MetricsAdvisor] Renamed all occurrences of StartTime to StartsOn, and EndTime to EndsOn
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/FeedbackFilter.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAnomalyFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricChangePointFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricCommentFeedback.Serialization.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAlertsOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAnomaliesForDetectionConfigurationOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetAnomalyDimensionValuesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetDataFeedIngestionStatusesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetIncidentsForDetectionConfigurationOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetMetricEnrichmentStatusesOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/GetMetricSeriesDataOptions.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorAdministrationClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorClient.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeed.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedIngestionSettings.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricAnomalyFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricChangePointFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/MetricFeedback/MetricCommentFeedback.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorClient/MetricFeedbackLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample02_DataFeedIngestionOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample06_QueryTriggeredAlerts.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample07_QueryDetectedAnomalies.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample08_QueryIncidentsAndRootCauses.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample09_QueryTimeSeriesInformation.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_FeedbackCrudOperations.cs
Labels: Client, Cognitive - Metrics Advisor

#22541 [MetricsAdvisor] Getting ready for release
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/AssemblyInfo.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
Labels: Client, Cognitive - Metrics Advisor

#22539 Guard against NotSupportedException in SetLimits
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/ServicePointHelpers.cs
Labels: Azure.Core

#22546 Fixed bug where 'Segment doesn't have any more events exception' was …
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Segment.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SegmentTests.cs
Labels: Storage

#22427 [MetricsAdvisor] Updated DataFeedSource constructors
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/api/Azure.AI.MetricsAdvisor.netstandard2.0.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/AzureDataLakeStorageDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/LogAnalyticsDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Models/DataFeed/DataFeedSources/SqlServerDataFeedSource.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Models/DataFeedSourcesTests.cs
Labels: Client, Cognitive - Metrics Advisor

#22542 Add AI mention to the Azure.Core readme
  sdk/core/Azure.Core/README.md
Labels: Azure.Core

#22524 Some minor changes in ARMCore for mock test
  sdk/resourcemanager/Azure.ResourceManager.Core/src/ArmClient.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Generated/SubscriptionContainer.cs
Labels: Azure.Core

#22552 Sync eng/common directory with azure-sdk-tools for PR 1780
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#22555 [MetricsAdvisor] Fixing test failures
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/DataFeedLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/NotificationHookLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample02_DataFeedIngestionOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureApplicationInsightsDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureApplicationInsightsDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureBlobDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureBlobDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureCosmosDbDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureCosmosDbDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataExplorerDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataExplorerDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureDataLakeStorageDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureTableDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetAzureTableDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetInfluxDbDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetInfluxDbDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetLogAnalyticsDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetLogAnalyticsDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMongoDbDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMongoDbDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMySqlDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetMySqlDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetPostgreSqlDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetPostgreSqlDataFeedWithOptionalMembersAsync.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetSqlServerDataFeedWithOptionalMembers.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/DataFeedLiveTests/CreateAndGetSqlServerDataFeedWithOptionalMembersAsync.json
Labels: Client, Cognitive - Metrics Advisor

#22549 [MetricsAdvisor] README updates + credential code samples
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/samples/README.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorTestEnvironment.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample02_CredentialEntityCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample03_DataFeedIngestionOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample04_DetectionConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample05_HookCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample06_AlertConfigurationCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample07_QueryTriggeredAlerts.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample08_QueryDetectedAnomalies.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample09_QueryIncidentsAndRootCauses.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample10_QueryTimeSeriesInformation.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Sample11_FeedbackCrudOperations.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/Samples/Snippets.cs
  sdk/metricsadvisor/tests.yml
Labels: Client, Cognitive - Metrics Advisor

#22559 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#22560 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#22558 Increment version for metricsadvisor releases
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/CHANGELOG.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
Labels: Cognitive - Metrics Advisor, auto-merge

#22525 Add ability to close session from processor
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: APIChange, Service Bus

#22569 [Storage][Function] Fix visibility timeout extension in queues extension.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/UpdateQueueMessageVisibilityCommand.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/UpdateQueueMessageVisibilityCommandTests.cs
Labels: Storage

#22568 [Search] Update a broken link in README
  sdk/search/Azure.Search.Documents/README.md
Labels: Search

#22574 [Storage] Prep hotfix release.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#22577 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#22581 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage, auto-merge

#22584 [Storage] Merge hotifx branch.
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#22586 Fix seealso doc tags.
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/DigitalTwinsModelData.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
Labels: Digital Twins

#22585 [MetricsAdvisor] Enabling test assertion after service fix
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvisorAdministrationClient/AnomalyAlertConfigurationLiveTests.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(False).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(False)Async.json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(True).json
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/SessionRecords/AnomalyAlertConfigurationLiveTests/CreateAndGetAlertConfigurationWithWholeSeriesScope(True)Async.json
Labels: Client, Cognitive - Metrics Advisor

#22600 release Identity
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#22608 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#22601 Remove ZWSP
  sdk/servicebus/Azure.Messaging.ServiceBus/src/EntityNameFormatter.cs
Labels: Service Bus

#22613 [ServiceBus] fix reference name conflict in comments
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
Labels: Client, Community Contribution, Service Bus, customer-reported

#22251 [Smoke Tests] Update direct references
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
Labels: Client, EngSys

#22578 Updating Azure.Communication.NetworkTraversal to new API version 2021-06-21-preview
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
  sdk/communication/Azure.Communication.NetworkTraversal/README.md
  sdk/communication/Azure.Communication.NetworkTraversal/api/Azure.Communication.NetworkTraversal.netstandard2.0.cs
  sdk/communication/Azure.Communication.NetworkTraversal/samples/README.md
  sdk/communication/Azure.Communication.NetworkTraversal/samples/Sample1_CommunicationRelayClient.md
  sdk/communication/Azure.Communication.NetworkTraversal/samples/Sample1_CommunicationRelayClientAsync.md
  sdk/communication/Azure.Communication.NetworkTraversal/src/CommunicationRelayClient.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/CommunicationRelayClientOptions.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/CommunicationNetworkTraversalRestClient.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationIceServer.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationIceServer.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfiguration.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfiguration.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfigurationRequest.Serialization.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Models/CommunicationRelayConfigurationRequest.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/NetworkTraversalModelFactory.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/autorest.md
  sdk/communication/Azure.Communication.NetworkTraversal/tests/CommunicationRelayClient/CommunicationRelayClientLiveTests.cs
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionString.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithConnectionStringAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredential.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithKeyCredentialAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredential.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/CommunicationRelayClientLiveTests/GettingTurnCredentialsWithTokenCredentialAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKey.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithAccessKeyAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithToken.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/CreateCommunicationRelayWithTokenAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfiguration.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/SessionRecords/Sample1_CommunicationRelayClient/GetRelayConfigurationAsyncAsync.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/samples/Sample1_CommunicationRelayClient.cs
Labels: Communication

#22614 [Event Hubs] Client Identifier Option
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Client, Event Hubs

#22627 Sync eng/common directory with azure-sdk-tools for PR 1808
  eng/common/scripts/FilterPoliCheckResults.ps1
Labels: Central-EngSys, EngSys

#22619 ADT: eng : Bicep file needs to be fixed to adapt to guidelines of engineering system.
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
  sdk/digitaltwins/test-resources_needs_fixing.bicep
Labels: Digital Twins

#22630 Switch from AppendFormat to Append
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpExceptionHelper.cs
Labels: Service Bus

#22603 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/api/Azure.Verticals.AgriFood.Farming.netstandard2.0.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/BoundariesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ImageProcessingClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthTokensClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ScenesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonalFieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/WeatherClient.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/api/Azure.Analytics.Purview.Catalog.netstandard2.0.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewGlossaries.cs
Labels: Search

#22632 [Event Hubs] Avoid Possible Allocation
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpAnnotatedMessageExtensions.cs
Labels: Client, Event Hubs

#22647 [Storage] Fix download 304 handling.
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadContent_Initial304.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadContent_Initial304Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadStreaming_Initial304.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadStreaming_Initial304Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Download_Initial304.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/Download_Initial304Async.json
Labels: Storage

#22649 [TA] Disable assert for entity linking task
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
Labels: Cognitive - Text Analytics

#22629 [FormRecognizer] Updated LROs to use new OperationInternal class
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CreateCustomFormModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeBusinessCardsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeIdentityDocumentsOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeInvoicesOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeReceiptsOperation.cs
Labels: Client, Cognitive - Form Recognizer

#22292 SDK tests for Restore Points using updated C# SDK
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskRestorePointOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskRestorePointOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IDiskRestorePointOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ManagedDiskParameters.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/PublicIPAddressSku.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RestorePoint.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RestorePointSourceMetadata.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SecurityProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SecurityTypes.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachinePublicIPAddressConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetPublicIPAddressConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/RestorePointTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/Compute.Tests.RestorePointTests/CreateRpcAndRestorePoints.json
Labels: Compute

#22276 Sync eng/common directory with azure-sdk-tools for PR 1748
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#22661 Increment version for communication releases
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
Labels: Communication, auto-merge

#22653 Increment version for objectanchors releases
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
Labels: auto-merge

#22675 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
Labels: auto-merge

#22668 Add KeyClient.GetRandomBytes
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/GetRandomBytesRequest.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/RandomBytes.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/GetRandomBytes(16).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/GetRandomBytes(16)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/GetRandomBytes(32).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/GetRandomBytes(32)Async.json
Labels: KeyVault

#22678 Updating README in Azure.Communication.NetworkTraversal to point to latest version
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
  sdk/communication/Azure.Communication.NetworkTraversal/README.md
Labels: Communication

#22677 [Event Hubs] Connection Idle Timeout Option
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/EventHubConnectionOptionsExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Core/EventHubConnectionOptionsExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnectionOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConsumerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
Labels: APIChange, Client, Event Hubs

#22683 Use CurrentCulture for datetime parsing
  sdk/identity/Azure.Identity/src/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
Labels: Azure.Identity

#22694 fixed a terribly important typo in TableClientOptions
  sdk/tables/Azure.Data.Tables/src/TableClientOptions.cs
Labels: Community Contribution, Tables, customer-reported

#22695 [Event Hubs] Processor Event Dispatch Cancellation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
Labels: Client, Event Hubs

#22587 Enable AAD auth for EventGridPublisherClient
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEditedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEditedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEditedInThreadEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageEditedInThreadEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageReceivedInThreadEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageReceivedInThreadEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCloudEventAAD.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishCloudEventAADAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomainAAD.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventToDomainAADAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventAAD.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventAADAsync.json
  sdk/eventgrid/test-resources-post.ps1
  sdk/eventgrid/test-resources.json
Labels: Do Not Merge, Event Grid

#22702 Improve Etag ToString performance for DefaultFormat
  sdk/core/Azure.Core/src/ETag.cs
Labels: Azure.Core

#22669 Introduce the mock test base
  common/ManagementTestShared/Redesign/ManagementRecordedTestBase.cs
  common/ManagementTestShared/Redesign/MockTestBase.cs
  common/ManagementTestShared/Redesign/MockTestEnvironment.cs
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#22660 changes for prepare-release core
  sdk/compute/ci.yml
  sdk/core/Azure.Core/tests/ManagementRecordedTestBaseTests.cs
  sdk/keyvault/ci.yml
  sdk/network/ci.yml
  sdk/resourcemanager/Azure.ResourceManager.Core/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager.Core/api/Azure.ResourceManager.Core.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager.Core/src/Azure.ResourceManager.Core.csproj
  sdk/resources/ci.yml
Labels: Compute, KeyVault

#22722 Add AAD sample to README.
  sdk/eventgrid/Azure.Messaging.EventGrid/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Samples/Sample1_SendEventsToTopicAndDomain.cs
  sdk/eventgrid/test-resources-post.ps1
Labels: Event Grid

#22723 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#22706 Add multi page support for Pageable.FromPages method #22705
  sdk/core/Azure.Core/src/AsyncPageable.cs
  sdk/core/Azure.Core/src/Pageable.cs
  sdk/core/Azure.Core/tests/PageableTests.cs
Labels: Azure.Core, Community Contribution, customer-reported

#22545 netcoreapp3.1 migration
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  eng/Directory.Build.Common.props
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/install-dotnet.yml
  eng/scripts/dependencies/azure-sdk.deps.csproj
  samples/CloudClipboard/CloudClipboard/CloudClipboard.csproj
  sdk/appconfiguration/CONTRIBUTING.md
  sdk/core/Azure.Core.Experimental/tests/JsonDataDynamicMutableTests.cs
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core/tests/MultipartReaderTests.cs
  sdk/core/Azure.Core/tests/PemReaderTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/perf/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
  sdk/identity/platform-matrix.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/PemReaderTests.cs
  sdk/keyvault/CONTRIBUTING.md
  sdk/keyvault/platform-matrix.json
  sdk/keyvault/samples/keyvaultproxy/tests/AzureSamples.Security.KeyVault.Proxy.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests.AspNetCoreWebApp/Azure.Monitor.OpenTelemetry.Exporter.Integration.Tests.AspNetCoreWebApp.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests.AspNetCoreWebApp/Startup.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/Azure.Monitor.OpenTelemetry.Exporter.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/BasicTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/OpenTelemetryTests.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/MixedRealityRecordMatcher.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Azure.Data.SchemaRegistry.Tests.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.Tests.csproj
  sdk/search/CONTRIBUTING.md
  sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/APIApprovals.cs
  sdk/storage/CONTRIBUTING.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueTests.cs
  sdk/storage/platform-matrix-all-versions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/perf/Azure.AI.TextAnalytics.Perf/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/Azure.Messaging.WebPubSub.Tests.csproj
Labels: App Configuration, Azure.Core, Azure.Identity, Batch, Cognitive - Text Analytics, Digital Twins, KeyVault, Schema Registry, Search, Storage

#22644 ADT: e2e: Fix bicep file
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/manifest.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
  sdk/digitaltwins/test-resources.bicep
  sdk/digitaltwins/test-resources.json
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/prerequisites/prerequisite readme.md
  sdk/timeseriesinsights/test-resources.bicep
  sdk/timeseriesinsights/test-resources.json
Labels: Digital Twins

#22710 Fix TableServiceClient.AccountName throwing exception when connecting to Azure Storage Emulator with shortcut
  sdk/tables/Azure.Data.Tables/src/TableConnectionString.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientTests.cs
Labels: Tables

#22752 ADT e2e fix: Introduce delay in event route lifecycle test.
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/E2eTestBase.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/EventRouteTests.cs
Labels: Digital Twins

#22726 Use TokenCredential in search clients
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexerClient.cs
  sdk/search/Azure.Search.Documents/src/SearchClient.cs
  sdk/search/Azure.Search.Documents/src/SearchClientOptions.cs
  sdk/search/Azure.Search.Documents/src/Utilities/Constants.cs
  sdk/search/Azure.Search.Documents/tests/SearchClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SearchIndexerClientTests.cs
Labels: Search

#22757 Dont install net core
  eng/pipelines/templates/jobs/ci.mgmt.yml
Labels: Do Not Merge

#22768 Remove inapplicable version number
  sdk/cognitiveservices/Vision.Face/CHANGELOG.md
  sdk/cognitiveservices/Vision.Face/src/Microsoft.Azure.CognitiveServices.Vision.Face.csproj
Labels: auto-merge

#22776 Increment version for cognitiveservices releases
  sdk/cognitiveservices/Vision.Face/CHANGELOG.md
  sdk/cognitiveservices/Vision.Face/src/Microsoft.Azure.CognitiveServices.Vision.Face.csproj
Labels: auto-merge

#22774 [TextAnalytics] Generating code from 3.2-preview.1 swagger
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractedDocumentSummary.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractedSummarySentence.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTask.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTask.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParametersSortBy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/JobManifestTasks.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/JobManifestTasks.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/ExtractiveSummarizationTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/ExtractiveSummarizationTaskParametersSortBy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/JobManifestTasks.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
Labels: Client, Cognitive - Text Analytics

#22772 Fix broken doc links for Key Vault
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
  sdk/keyvault/Microsoft.Azure.KeyVault/README.md
Labels: KeyVault

#22767 Support event source deduplication
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Diagnostics/AzureCoreEventSource.cs
  sdk/core/Azure.Core/src/Diagnostics/AzureEventSourceListener.cs
  sdk/core/Azure.Core/src/Shared/AzureEventSource.cs
  sdk/core/Azure.Core/tests/AzureEventSourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorClientEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/PartitionLoadBalancerEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatesEventSource.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeysEventSource.cs
  sdk/modelsrepository/Azure.IoT.ModelsRepository/src/Azure.IoT.ModelsRepository.csproj
  sdk/modelsrepository/Azure.IoT.ModelsRepository/src/ModelsRepositoryEventSource.cs
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/search/Azure.Search.Documents/src/AzureSearchDocumentsEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
Labels: Azure.Core, Azure.Identity, Event Hubs, KeyVault, Search, Service Bus

#22770 Add extensibility sample
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample04_Processor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample09_Extensibility.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Plugins/ServiceBusPlugin.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSenderOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Plugins/PluginLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Plugins/PluginTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Plugins/PluginProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Plugins/PluginReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Plugins/PluginSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Plugins/PluginSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Plugins/PluginSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Plugins/ServiceBusClientExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample04_Processor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample09_Extensibility.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
Labels: Service Bus

#22795 Properly initialize options for EnvironmentCredential sub credentials
  sdk/identity/Azure.Identity/src/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredentialProviderTests.cs
Labels: Azure.Identity

#18906 Log new event when CredentialType is selected for DefaultAzureCredential
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockDefaultAzureCredentialFactory.cs
Labels: Azure.Identity, Client

#22791 [TextAnalytics] Implemented ExtractiveSummarization input
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParametersSortBy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SummarySentencesOrder.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/ExtractiveSummarizationTaskParametersSortBy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummarySentencesOrder.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClientOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationMockTests.cs
Labels: Client, Cognitive - Text Analytics

#22797 Update migration guide
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample09_Extensibility.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Plugins/PluginSessionProcessor.cs
Labels: Service Bus

#22536 Storage STG 78 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ImmutableStorageWithVersioningTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSas(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSas(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSas(SetImmutabilityPolicy).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSas(SetImmutabilityPolicy)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSnapshotSas(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSnapshotSas(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSnapshotSas(SetImmutabilityPolicy).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobSnapshotSas(SetImmutabilityPolicy)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobVersionSas(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobVersionSas(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobVersionSas(SetImmutabilityPolicy).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_BlobVersionSas(SetImmutabilityPolicy)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(All).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(All)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(SetImmutabilityPolicy).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ImmutableStorageWithVersioningTests/SetImmutibilityPolicyAsync_SetLegalHold_ContainerSas(SetImmutabilityPolicy)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/TenantDiscoveryBlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
Labels: Storage

#22801 Prepare Storage for Beta Release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#22423 Use type mapper in Tables
  common/Perf/Azure.Test.Perf/Azure.Test.Perf.csproj
  common/Perf/Azure.Test.Perf/PerfProgram.cs
  sdk/core/Azure.Core/src/Shared/TypeBinder.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/TypeBinderTests.cs
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
  sdk/tables/Azure.Data.Tables/src/AssemblyInfo.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TableEntityExtensions.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TablesTypeBinder.cs
  sdk/tables/Azure.Data.Tables/src/ITableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/perf/ModelBindingBenchmark.cs
Labels: Azure.Core, Tables

#22804 Sync eng/common directory with azure-sdk-tools for PR 1827
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#22807 Update CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
Labels: Communication

#22803 [TextAnalytics] Added DisableServiceLogs property to ExtractSummaryAction
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AnalyzeTasks.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AnalyzeTasks.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractedDocumentSummary.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractedDocumentSummary.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractedSummarySentence.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationResult.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskResult.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SummarySentencesOrder.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TasksStateTasksExtractiveSummarizationTasksItem.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TasksStateTasksExtractiveSummarizationTasksItem.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationMockTests.cs
Labels: Client, Cognitive - Text Analytics

#22806 fix(*): update communication SDK changelog
  sdk/communication/Azure.Communication.CallingServer/CHANGELOG.md
  sdk/communication/Azure.Communication.CallingServer/README.md
Labels: Communication

#22810 Eliminate Uri.ToString
  sdk/identity/Azure.Identity/src/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/AzureAuthorityHosts.cs
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/identity/Azure.Identity/src/DeviceCodeCredential.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConnectionString.cs
Labels: Azure.Identity, Tables

#22816 Increment version for communication releases
  sdk/communication/Azure.Communication.CallingServer/CHANGELOG.md
  sdk/communication/Azure.Communication.CallingServer/src/Azure.Communication.CallingServer.csproj
Labels: Communication, auto-merge
