Repository Azure/azure-sdk-for-net, pull requests merged in 2022-02, with the labels that each got.

#26699 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: auto-merge

#26701 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#26706 Increment version for edgeorder releases
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/CHANGELOG.md
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Azure.ResourceManager.EdgeOrder.csproj
Labels: auto-merge

#26667 OpenRead Avoid Unnecessary Rebuffer
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.Clients.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.Common/src/Shared/LazyLoadingReadOnlyStream.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/LazyLoadingReadOnlyStreamTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/OpenReadTestBase.cs
Labels: Storage

#26583 Add TextAnalyticsAudience to Azure.AI.TextAnalytics
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Constants.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsAudience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClientOptions.cs
Labels: Cognitive - Text Analytics

#26734 API updates for Avro encoder
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/MessageWithMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.sln
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoder.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.Tests.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, Event Hubs, Azure.Core, Schema Registry

#26443 Enabled STG 81 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#26597 [Search] Add Azure Machine Learning Skill
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/AnswerResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/AzureMachineLearningSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/AzureMachineLearningSkill.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerSkill.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/SearchModelFactory.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/AzureMachineLearningSkill.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/search/Azure.Search.Documents/tests/SearchIndexerClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/RoundtripAllSkills.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/SearchIndexerClientTests/RoundtripAllSkillsAsync.json
Labels: Search

#26098 10-min shippable package automation
  doc/Data Plane Code Generation/AzureSDKCodeGeneration_DataPlane_Quickstart.md
  eng/scripts/automation/GenerateAndBuildLib.ps1
  eng/scripts/automation/Invoke-DataPlaneGenerateSDKPackage.ps1
  eng/templates/Azure.ServiceTemplate.Template/.template.config/template.json
  eng/templates/Azure.ServiceTemplate.Template/Azure.ServiceTemplate.Template.sln
  eng/templates/Azure.ServiceTemplate.Template/CHANGELOG.md
  eng/templates/Azure.ServiceTemplate.Template/README.md
  eng/templates/Azure.ServiceTemplate.Template/api/Azure.ServiceTemplate.Template.netstandard2.0.cs
  eng/templates/Azure.ServiceTemplate.Template/content/ci.yml
  eng/templates/Azure.ServiceTemplate.Template/content/tests.yml
  eng/templates/Azure.ServiceTemplate.Template/samples/README.md
  eng/templates/Azure.ServiceTemplate.Template/samples/Sample1_CreateResource.md
  eng/templates/Azure.ServiceTemplate.Template/src/Azure.ServiceTemplate.Template.csproj
  eng/templates/Azure.ServiceTemplate.Template/src/GlobalSuppressions.cs
  eng/templates/Azure.ServiceTemplate.Template/src/autorest.md
  eng/templates/Azure.ServiceTemplate.Template/src/properties/AssemblyInfo.cs
  eng/templates/Azure.ServiceTemplate.Template/tests/Azure.ServiceTemplate.Template.Tests.csproj
  eng/templates/Azure.ServiceTemplate.Template/tests/Samples/Sample1_CreateResource.cs
  eng/templates/Azure.ServiceTemplate.Template/tests/TemplateClientTest.cs
  eng/templates/Azure.ServiceTemplate.Template/tests/TemplateClientTestEnvironment.cs
  sdk/template-dpg/Azure.Template.Generated/Azure.Template.Generated.sln
  sdk/template-dpg/Azure.Template.Generated/Directory.Build.props
  sdk/template-dpg/Azure.Template.Generated/api/Azure.Template.Generated.netstandard2.0.cs
  sdk/template-dpg/Azure.Template.Generated/src/Generated/TemplateServiceClientOptions.cs
  sdk/template-dpg/Azure.Template.Generated/src/swagger/swagger.json
  sdk/template-dpg/Azure.Template.Generated/tests/Samples/TemplateServiceSamples.HelloWorld.cs
  sdk/template-dpg/Azure.Template.Generated/tests/SerializationHelpers.cs
  sdk/template-dpg/Azure.Template.Generated/tests/TemplateServiceLiveTests.cs
  sdk/template-dpg/Azure.Template.Generated/tests/TemplateServiceTests.cs
  sdk/template-dpg/Directory.Build.props
  sdk/template-dpg/test-resources.json
  sdk/template-dpg/tests.yml
Labels: auto-merge, LLC

#26747 Sync eng/common directory with azure-sdk-tools for PR 2608
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#26749 [Fabric Bot] Reflect CODEOWNERS for Digital Twins
  .github/fabricbot.json
Labels: Client, EngSys

#26750 Add parameter to forwards client calls to support APIs that cache results
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core/src/Shared/ForwardsClientCallsAttribute.cs
  sdk/core/Azure.Core/tests/ManagementRecordedTestBaseTests.cs
  sdk/core/Azure.Core/tests/TestClients/TestResource.cs
Labels: Azure.Core

#26757 [Messaging Extensions] Update README add package
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/README.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
Labels: Service Bus, Event Hubs, Client, Functions

#26746 Sync eng/common directory with azure-sdk-tools for PR 2605
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#26768 Move test cases to azure.core.tests
  sdk/core/Azure.Core/tests/SanitizerTests.cs
Labels: Azure.Core

#26770 Fix argument name for ArugmentNullException
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
Labels: Service Bus, customer-reported, Community Contribution

#26767 [FormRecognizer] Added Language detection feature
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AnalyzeResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentLanguage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AnalyzeResult.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentLanguage.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentLanguage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanReadPageAndLanguage(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanReadPageAndLanguage(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanReadPageAndLanguage(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanReadPageAndLanguage(True)Async.json
Labels: Client, Cognitive - Form Recognizer

#26773 Fix contributor profile link
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#26778 Docs for RetryOptions.MaxDelay
  sdk/core/Azure.Core/src/RetryOptions.cs
Labels: Azure.Core

#26776 Sync eng/common directory with azure-sdk-tools for PR 2673
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#26774 Sync eng/common directory with azure-sdk-tools for PR 2668
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#26786 Remove the setting of TextAnalyticsAudience in Azure.AI.TextAnalytics ClientOptions
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClientOptions.cs
Labels: Cognitive - Text Analytics

#26801 Sync eng/common directory with azure-sdk-tools for PR 2682
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#26788 [FormRecognizer] Added BuildMode feature
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_BuildCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_GetAndListOperations.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ManageModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ModelCompose.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocTypeInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentBuildMode.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocTypeInfo.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentBuildMode.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableBuildModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartBuildModelWithNeuralBuildMode.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartBuildModelWithNeuralBuildModeAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithCustomModelFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithCustomModelFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_BuildCustomModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_CopyModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_CreateComposedModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_GetAndListOperationsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModelsAsync.cs
Labels: Client, Cognitive - Form Recognizer

#26737 [Event Hubs] Add missing metadata to PartitionContext
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/Azure.Messaging.EventHubs.Processor.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/PartitionContext.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsModelFactory.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/PartitionContextTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventHubsModelFactoryTests.cs
Labels: Event Hubs, Client, APIChange

#26805 Fix deserialization issues in system events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/StorageDirectoryDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventHubCaptureFileCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageDirectoryDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageDirectoryDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#26806 Sync eng/common directory with azure-sdk-tools for PR 2685
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#26802 Make canonicalizedResource lower-case
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateSasCredentialsWithGenerateSasUriAndUpperCaseTableName.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateSasCredentialsWithGenerateSasUriAndUpperCaseTableNameAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/ValidateSasCredentialsWithGenerateSasUriAndUpperCaseTableName.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/ValidateSasCredentialsWithGenerateSasUriAndUpperCaseTableNameAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableSasBuilderTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Tables

#26817 Trim recording size of KV ARM tests
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/ManagedHsmTests/ManagedHsmCreateUpdateDelete.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/ManagedHsmTests/ManagedHsmCreateUpdateDeleteAsync.json
Labels: KeyVault

#26816 [CODEOWNERS] Git Hub and Bot Rules
  .github/CODEOWNERS
Labels: Client, EngSys

#26821 Updated storage changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#26829 [Event Hubs] Function Bindings Tests
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Event Hubs, Functions

#26830 Sync eng/common directory with azure-sdk-tools for PR 2691
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#26781 SR API updates
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/MessageWithMetadata.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoder.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoderOptions.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventDataUsingGenerics.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanUseEncoderWithEventDataUsingGenericsAsync.json
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
Labels: Service Bus, Event Hubs, Azure.Core, Schema Registry

#26835 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#26595 Support ResourceId for user defined MSI
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/CloudShellManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClientOptions.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/ServiceFabricManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
Labels: Azure.Identity

#26717 Modified StorageBearerTokenChallengeAuthorizationPolicy to use scope r…
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageBearerTokenChallengeAuthorizationPolicy.cs
  sdk/storage/Azure.Storage.Common/tests/StorageBearerTokenChallengeAuthorizationPolicyTests.cs
Labels: Storage

#26670 Azure Monitor Exporter - Add Exception Telemetry
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/InnerExceptionCountExceededException.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/MessageData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryExceptionData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryExceptionDetails.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TraceHelper.cs
Labels: Monitor - Exporter

#26848 Increment version for cdn releases
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Azure.ResourceManager.Cdn.csproj
Labels: auto-merge

#26741 Add FormRecognizerAudience and DocumentAnalysisAudience to Azure.AI.FormRecognizer
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Constants.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisAudience.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/FormRecognizerAudience.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/FormRecognizerClientOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient/FormTrainingClient.cs
Labels: Cognitive - Form Recognizer

#26844 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
Labels: Service Bus

#26759 [Communication] - PhoneNumbers - Skip update capabilities live test
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
Labels: Communication

#26859 Fixes to CHANGELOG to release Azure.Core.Experimental
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
Labels: Azure.Core

#26847 Support skipping recording
  eng/Packages.Data.props
  sdk/core/Azure.Core.TestFramework/src/ProxyTransport.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
Labels: Azure.Core

#26862 Sync eng/common directory with azure-sdk-tools for PR 2686
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#26865 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#26838 Progress Reporting Blob Downloads
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadToOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/ProgressHandlingTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContent(1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContent(1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContent(262144).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContent(262144)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(0,1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(0,1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(0,4096).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(0,4096)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(4096,1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(4096,1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(4096,4096).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadContentRange(4096,4096)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreaming(1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreaming(1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreaming(262144).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreaming(262144)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(0,1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(0,1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(0,4096).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(0,4096)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(4096,1024).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(4096,1024)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(4096,4096).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadStreamingRange(4096,4096)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(1024,null,null).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(1024,null,null)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(10240,1024,1).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(10240,1024,1)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(10240,1024,10).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(10240,1024,10)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(10240,1024,2).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(10240,1024,2)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(1048576,102400,10).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ProgressHandlingTests/DownloadTo(1048576,102400,10)Async.json
Labels: Storage

#26867 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, auto-merge

#26868 Handle AzurePowerShellCredential not logged in scenarios on non-windows
  sdk/identity/Azure.Identity/src/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
Labels: Azure.Identity

#26866 Update packages.data.props and references to Azure.Core.Experimental for Feb release
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.sln
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Event Hubs, Schema Registry

#26722 Install git into identity keyring test container image
  eng/containers/UbuntuNetCoreKeyring/Dockerfile
  eng/containers/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/install-dotnet.yml
  sdk/identity/tests.yml
Labels: Central-EngSys

#26870 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Azure.AI.Language.Conversations.csproj
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Azure.AI.Language.QuestionAnswering.csproj
Labels: auto-merge

#26874 Update Key Vault CHANGELOGs
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
Labels: KeyVault

#26873 Sync eng/common directory with azure-sdk-tools for PR 2720
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26850 Release Azure.ResourceManager.StackHCI
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/CHANGELOG.md
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/api/Azure.ResourceManager.StackHCI.netstandard2.0.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/ArcSettingCollection.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Extensions/ArmClientExtensions.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Extensions/ResourceGroupExtensionClient.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Extensions/ResourceGroupExtensions.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Extensions/SubscriptionExtensionClient.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/HciCluster.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/HciClusterCollection.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/HciClusterData.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/LongRunningOperation/HciClusterCreateOrUpdateOperation.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/LongRunningOperation/HciClusterDeleteOperation.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Models/ClusterList.Serialization.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Models/ClusterList.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Models/HciClusterData.Serialization.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Models/HciClusterStatus.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/Models/Status.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/Generated/RestOperations/ClustersRestOperations.cs
  sdk/azurestackhci/Azure.ResourceManager.StackHCI/src/autorest.md
Labels: Mgmt

#26877 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
Labels: KeyVault, auto-merge

#26876 Update Changelog
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
Labels: Communication

#26890 Event Hubs Function Bindings: Disable broken tests
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
Labels: Event Hubs, Client, Functions

#26891 [Event Hubs] February Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client

#26893 [FormRecognizer] Implemented DocumentAnalysisModelFactory
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BoundingRegion.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BuildModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyAuthorization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentField.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentPage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentSelectionMark.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ModelOperation.cs
Labels: Client, Cognitive - Form Recognizer

#26897 ServiceBus Changelog changes
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus, customer-reported, Community Contribution

#26822 Don't propagate ObjectDisposedException when cancellation was requested
  sdk/communication/Azure.Communication.CallingServer/src/Azure.Communication.CallingServer.csproj
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Shared/CancellationHelper.cs
  sdk/core/Azure.Core/src/Shared/RetriableStream.cs
  sdk/core/Azure.Core/tests/RetriableStreamTests.cs
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage, Azure.Core, Communication

#26900 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#26899 [Event Hubs Processor] February Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#26903 Fixed Recording mode in progress handler tests
  sdk/storage/Azure.Storage.Blobs/tests/ProgressHandlingTests.cs
Labels: Storage

#26527 Adding cred scan step in PR validation and Ci build
  eng/pipelines/templates/jobs/ci.yml
Labels: Tables

#26906 Remove Other Changes section
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
Labels: Event Grid

#26840 Sync eng/common directory with azure-sdk-tools for PR 2679
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#26904 Processor improvements
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
Labels: Service Bus, customer-reported, Community Contribution

#26887 Log WWW-Authenticate header by default
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
Labels: Azure.Core

#26898 Sync eng/common directory with azure-sdk-tools for PR 2721
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#26915 Sync eng/common directory with azure-sdk-tools for PR 2733
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#26908 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#26912 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#26913 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#26917 remove duplication
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus, customer-reported, Community Contribution

#26262 Added ContentType to File Rename
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileRenameOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/RenameAsync_ContentType.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/RenameAsync_ContentTypeAsync.json
Labels: Storage

#26927 Fix typo in MigrationGuide.md
  sdk/tables/Azure.Data.Tables/MigrationGuide.md
Labels: customer-reported, Tables, Community Contribution

#26935 Prepare for release
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
Labels: Schema Registry

#26175 Added support for Files Change Time
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileUploadRangeFromURLHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileUploadRangeHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/CopyFileSmbInfo.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FileLastWrittenMode.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FileLastWrittenMode.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/FileSmbProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateAsync_ChangeTime.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/CreateAsync_ChangeTimeAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/SetPropertiesAsync_ChangeTime.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/SetPropertiesAsync_ChangeTimeAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/CreateAsync_ChangeTime.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/CreateAsync_ChangeTimeAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/SetPropertiesAsync_ChangeTime.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/SetPropertiesAsync_ChangeTimeAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_ChangeTime.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_ChangeTimeAsync.json
Labels: Storage

#26772 Adding Azure.Identity.BrokeredAuthentication package (internals visible)
  eng/Packages.Data.props
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity.BrokeredAuthentication/Directory.Build.props
  sdk/identity/Azure.Identity.BrokeredAuthentication/README.md
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/Azure.Identity.BrokeredAuthentication.csproj
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/tests/Azure.Identity.BrokeredAuthentication.Tests.csproj
  sdk/identity/Azure.Identity.BrokeredAuthentication/tests/ManualInteractiveBrowserCredentialBrokerTests.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/tests/samples/ReadmeSnippets.cs
  sdk/identity/Azure.Identity.sln
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/src/Properties/AssemblyInfo.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
Labels: Azure.Identity

#26943 Sync eng/common directory with azure-sdk-tools for PR 2739
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#26823 Update text analytics to enable live testing in sovereign clouds for multiple services
  sdk/textanalytics/test-resources.json.disabled
  sdk/textanalytics/tests.yml
Labels: customer-reported, Community Contribution, Cognitive - Text Analytics, test-sovereign-cloud

#26948 [FormRecognizer] Fixed CHANGELOG release date
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
Labels: Client, Cognitive - Form Recognizer

#26658 Gallery 2021-10-01 release
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/GalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/GalleriesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/GalleryApplicationVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/IGalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleriesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleryApplicationVersionsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleryApplicationsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleryImageVersionsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleryImagesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GallerySharingProfileOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IGalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CommunityGalleryInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ConfidentialVMEncryptionType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/Gallery.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryApplicationVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryArtifactPublishingProfileBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryExpandParams.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryExtendedLocation.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryExtendedLocationType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryImageVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryTargetExtendedLocation.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageReference.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSDiskImageEncryption.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSDiskImageSecurityProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RegionalSharingStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingProfileGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingProfileGroupTypes.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingState.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/GalleryTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryApplicationVersion_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryApplication_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryImageVersion_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryImage_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_SharingToCommunity_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_SharingToSubscriptionAndTenant_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_WithSharingProfile_CRUD_Tests.json
Labels: Compute

#26949 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer, auto-merge

#26952 Sync eng/common directory with azure-sdk-tools for PR 2740
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#26950 Expose ReleaseSession in SB extension
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusSessionMessageActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
Labels: Service Bus

#26969 Fix extension method name
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Compatibility/ServiceBusClientBuilderExtensions.cs
Labels: Service Bus

#26967 [Identity] Updating changelog for 1.6.0-beta.1 release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#26785 parent navigators added to clients
  sdk/storage/Azure.Storage.Common/src/Shared/PathExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ClientNavigationTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGenerateSas_GetParentDataLakeFileSystemClient.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGenerateSas_GetParentDataLakeFileSystemClientAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClientAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient_WithAccountSAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient_WithAccountSASAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient_WithContainerSAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient_WithContainerSASAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClientAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient_WithAccountSAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient_WithAccountSASAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient_WithContainerSAS.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient_WithContainerSASAsync.json
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ClientNavigationTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGenerateSas_GetParentShareClient.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGenerateSas_GetParentShareClientAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClientAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient_WithContainerSAS.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentContainerClient_WithContainerSASAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClientAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient_WithContainerSAS.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ClientNavigationTests/PathClient_CanGetParentDirectoryClient_WithContainerSASAsync.json
Labels: Storage

#26968 Use value comparison for byte arrays
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoEntityValueBinder.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/EntityBindingLiveTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(False)/SkipsUpdateWhenByteArrayValuesUnchangedAsync.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(False)/UpdatesWhenByteArrayMutatedAsync.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(True)/SkipsUpdateWhenByteArrayValuesUnchangedAsync.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(True)/UpdatesWhenByteArrayMutatedAsync.json
Labels: Tables

#26966 [FormRecognizer] Re-enable tests (24552)
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModelsAsync.cs
Labels: Client, Cognitive - Form Recognizer, auto-merge

#26929 Add proxy environment variable documentation
  sdk/core/Azure.Core/samples/Configuration.md
Labels: Azure.Core

#26920 [WebPubSub][Functions] Respect user's cancellation token in output binding.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Bindings/WebPubSubAsyncCollector.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/WebPubSubAsyncCollectorTests.cs
Labels: auto-merge

#26963 [SignalR] Update `Microsoft.Azure.SignalR.Management` version to 1.15.1
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
Labels: auto-merge

#26993 Increment version for signalr releases
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#26983 [Event Hubs] Minor Performance Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/ChannelReaderExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsModelFactory.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventHubsModelFactoryTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Event Hubs, Client

#25127 Service Bus trigger should ignore scheduled/deferred messages
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusClientFactory.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusScaleMonitor.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusScaleMonitorTests.cs
Labels: Service Bus, customer-reported, Community Contribution

#26997 [Communication] - PhoneNumbers - Fix test pipeline script format
  sdk/communication/Azure.Communication.PhoneNumbers/tests.yml
Labels: Communication

#27004 [Fabric Bot] Fix rule typo
  .github/fabricbot.json
Labels: Client, EngSys

#27000 [Identity] Update ci.yml to include BrokeredAuthentication package
  sdk/identity/ci.yml
Labels: Azure.Identity

#26911 Remove LINQ allocations for all batched sends
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/EntityScopeFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpMessageBatchTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageBatchTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/ServiceBusMessageBatchTests.cs
Labels: Service Bus, customer-reported, Community Contribution

#27002 Handle 429 responses for InsertOverPartitionLimit test
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/EntityBindingLiveTests.cs
Labels: Tables

#27006 [Fabric Bot] Updating IoT Owners
  .github/fabricbot.json
Labels: Client, EngSys

#27009 Suppress some KV issues in sovereign clouds
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.SecureKeyRelease.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/Azure.Security.KeyVault.Shared.Tests.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/PartiallyDeployedAttribute.cs
Labels: KeyVault

#27023 Ignore flaky test
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
Labels: Azure.Identity

#25031 Add a backoff mechanism for the CommunicationTokenCredential
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/README.md
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Common/src/CommunicationTokenCredential.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationTokenRefreshOptions.cs
  sdk/communication/Azure.Communication.Common/src/ThreadSafeRefreshableAccessTokenCache.cs
  sdk/communication/Azure.Communication.Common/tests/Identity/CommunicationTokenCredentialTest.cs
  sdk/communication/Azure.Communication.Common/tests/Identity/TestClock.cs
Labels: Communication

#26857 Azure Monitor Exporter - Update LogRecord StateValues
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/MessageData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryExceptionData.cs
Labels: Monitor - Exporter

#27029 Sync eng/common directory with azure-sdk-tools for PR 2754
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#27055 Additional overloads
  sdk/communication/Azure.Communication.JobRouter/src/Models/ManualReclassifyExceptionAction.cs
Labels: Communication

#26977 Sync eng/common directory with azure-sdk-tools for PR 2741
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#27028 Fixed ShareFileClient.StartCopy() IgnoreReadonly
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_IgnoreReadOnlyAndSetArchive.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_IgnoreReadOnlyAndSetArchiveAsync.json
Labels: Storage

#27027 Sync eng/common directory with azure-sdk-tools for PR 2758
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#27063 update to 20221602.2
  eng/Packages.Data.props
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/GalleryArtifactVersionSource.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/GalleryArtifactVersionSource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualHardDisk.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualHardDisk.cs
  sdk/resources/Azure.ResourceManager.Resources/api/Azure.ResourceManager.Resources.netstandard2.0.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Sample2_ManagingDeployments.md
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationArtifact.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationArtifact.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationDefinitionArtifact.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationDefinitionArtifact.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationNotificationEndpoint.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationNotificationEndpoint.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ParametersLink.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ParametersLink.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/TemplateLink.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/TemplateLink.cs
  sdk/resources/Azure.ResourceManager.Resources/tests/ResourcesTestBase.cs
  sdk/resources/Azure.ResourceManager.Resources/tests/Samples/Sample2_ManagingDeployments.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/api/Azure.ResourceManager.Sql.netstandard2.0.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/EncryptionProtectorData.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ManagedInstanceEncryptionProtectorData.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ManagedInstanceKeyData.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/EncryptionProtectorData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/ManagedInstanceEncryptionProtectorData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/ManagedInstanceKeyData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/ServerKeyData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ServerKeyData.cs
Labels: Compute

#27074 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/DiskData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/DiskRestorePointData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/GalleryImageData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CommunityGalleryImage.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/EncryptionImages.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/GalleryImageVersionStorageProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ImageOSDisk.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ImageStorageProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/OSDisk.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RecommendedMachineConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RecommendedMachineConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceMetadata.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVmOSDisk.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVmStorageProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RunCommandDocument.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RunCommandDocumentBase.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/StorageProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineImage.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineInstanceView.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetOSDisk.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetStorageProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineSize.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VmSizeProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VmSizeProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/OSFamily.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/OSFamilyCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/OSVersion.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/OSVersionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/SharedGalleryImageData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/SnapshotData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetVmData.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/OSProfile.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VirtualMachineData.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VirtualMachineTemplateData.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ConnectionError.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ConnectionError.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultAccessPolicyChangedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultCertificateExpiredEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultCertificateNearExpiryEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultCertificateNewVersionCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultKeyExpiredEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultKeyNearExpiryEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultKeyNewVersionCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultSecretExpiredEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultSecretNearExpiryEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/KeyVaultSecretNewVersionCreatedEventData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsm.cs
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/RestOperations/VirtualWansRestOperations.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualWANCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/NetworkRuleSetIPRules.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/NetworkRuleSetData.cs
  sdk/storage/Azure.ResourceManager.Storage/api/Azure.ResourceManager.Storage.netstandard2.0.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/IPRule.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareProtocolSettings.Serialization.cs
Labels: Storage, Service Bus, KeyVault, Compute, Event Grid

#26946 Nullable CopyStatus on BlobProperties
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobProperties.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_CheckDefaults.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_CheckDefaultsAsync.json
Labels: Storage

#27070 Relax entity name validation for the case of a pre-formatted subscription path
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
Labels: Service Bus

#26730 [phone-numbers sdk] Marks as 'deprecated' one of the PhoneNumbersMode…
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Models/PhoneNumbersModelFactory.cs
Labels: Communication

#27045 Sync eng/common directory with azure-sdk-tools for PR 2759
  eng/common/scripts/Update-DocsMsToc.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#27084 [FormRecognizer] Updating some tests after service changes
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanParseMultipageReceipt(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanParseMultipageReceipt(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanParseMultipageReceipt(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanParseMultipageReceipt(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(True)Async.json
Labels: Client, Cognitive - Form Recognizer

#27016 SR API updates based on architect feedback
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/BinaryContent.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializerOptions.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
Labels: Event Hubs, Azure.Core, Schema Registry

#27086 Sync eng/common directory with azure-sdk-tools for PR 2775
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#27091 Azure Monitor Exporter - Update Benchmark and AzMonList
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzMonList.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TagEnumerationState.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TagsExtension.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Benchmarks/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Benchmarks/TagObjectsBenchmarks.cs
Labels: Monitor - Exporter

#27093 [Communication] - PhoneNumbers - Require phone number pool in livetests
  sdk/communication/Azure.Communication.Common/tests/CommunicationTestEnvironment.cs
  sdk/communication/Azure.Communication.PhoneNumbers/phone-numbers-livetest-matrix.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Infrastructure/PhoneNumbersClientLiveTestBase.cs
Labels: Communication

#27060 Sync eng/common directory with azure-sdk-tools for PR 2765
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#27032 Sync eng/common directory with azure-sdk-tools for PR 2750
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#26547 Add classification to RequestContext
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/CoreResponseClassifier.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/Azure.Core/src/ResponseClassificationHandler.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/Azure.Core/tests/CoreResponseClassifierTests.cs
  sdk/core/Azure.Core/tests/EventSourceTests.cs
  sdk/core/Azure.Core/tests/HttpMessageTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
  sdk/core/Azure.Core/tests/RequestContextTests.cs
  sdk/core/Azure.Core/tests/ResponseClassifierTests.cs
Labels: Azure.Core

#25867 Add identity-based connection to SignalR multiple endpoint doc
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/docs/sharding.md
Labels: auto-merge

#27100 Fix Azure Schema Registry Apache Avro Readme issue
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
Labels: Schema Registry

#27125 [SignalR] Release 1.7.0 GA version
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#27141 Increment version for signalr releases
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#26988 RunProducerManagementAsync WaitAsync
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
Labels: Event Hubs, customer-reported, Community Contribution

#27144 CODEOWNERS: Service Bus Contacts
  .github/CODEOWNERS
Labels: Client, EngSys

#27147 BrokeredAuthentication updating changelog for 1.0.0-beta.1 release
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
Labels: Azure.Identity

#27033 [FormRecognizer][TextAnalytics] Removed seal-single-value-enum-by-default autorest flag
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ApiVersion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/TextAnalyticsRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/ApiVersion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
Labels: Client, Cognitive - Text Analytics, Cognitive - Form Recognizer

#27148 BrokeredAuthentication updating Azure.Identity ref to package ref
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/Azure.Identity.BrokeredAuthentication.csproj
Labels: Azure.Identity

#25965 Resolve issues in LanguageSettings File
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#26666 Removing gltf support, given that it actually doesn't really work on the service: it's rejects with a 400 error
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/ObjectAnchorsConversionClientOptions.cs
Labels: auto-merge

#27167 Identity.BrokeredAuthentication fix changelog date for release
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
Labels: Azure.Identity

#27157 Azure Monitor Exporter - Update storage tests
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LocalEndpoint.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
Labels: Monitor - Exporter

#27168 [FormRecognizer] Added ASP.NET integration for V3 client
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientBuilderExtensions.cs
Labels: Client, Extensions, Cognitive - Form Recognizer

#27158 (AzureCXP) Fix for querySqlExpression description fixes #27114
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
Labels: Storage

#27172 Increment version for communication releases
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
Labels: auto-merge, Communication

#27173 [Event Hubs] Buffered Producer Await Handlers
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#27174 [FormRecognizer] Made DocumentSpan a struct
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentSpan.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentSelectionMark.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentSpan.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentSpan.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentWord.cs
Labels: Client, Cognitive - Form Recognizer

#27149 Add RequestOptions to Azure.Core
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/HttpPipelineExtensions.cs
  sdk/core/Azure.Core.Experimental/src/RequestOptions.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/Azure.Core/src/RequestOptions.cs
  sdk/core/Azure.Core/tests/RequestOptionsTests.cs
Labels: Azure.Core

#27182 Sync eng/common directory with azure-sdk-tools for PR 2805
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#27079 API for setting dynamic package data for the UserAgent header per HttpMessage
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpMessageExtensions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/TelemetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/UserAgentValueKey.cs
  sdk/core/Azure.Core/src/Pipeline/UserAgentValue.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/TelemetryPolicyTests.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#27195 Azure Monitor Exporter - MetricsDataTests
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/MetricData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/MetricsDataTests.cs
Labels: Monitor - Exporter
