Repository Azure/azure-sdk-for-net, pull requests merged in 2022-01, with the labels that each got.

#26142 Disable missed backup/restore test
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_BackupHelloWorld.cs
Labels: KeyVault

#26145 Add Microsoft.Azure.WebJobs.Extensions.Tables to artifacts
  sdk/tables/ci.yml
Labels: Tables

#26143 Sync eng/common directory with azure-sdk-tools for PR 2464
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#26153 Fix table extension live tests
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/EntityBindingLiveTests.cs
Labels: Tables

#25944 Enable e2e tracing in EventGrid WebJobs extension
  sdk/core/Azure.Core.TestFramework/src/ClientDiagnosticListener.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridExtensionConfigProvider.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/TestListener.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
Labels: Event Grid, Azure.Core

#26154 API feedback
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClient.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/DisposableHttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.cs
  sdk/core/Azure.Core/tests/DisposableHttpPipelineTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/HttpPipelineTransportTests.cs
Labels: Azure.Core

#26160 Remove obsolete type usage from table extension
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/api/Microsoft.Azure.WebJobs.Extensions.Tables.netstandard2.0.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoEntityValueBinder.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableEntityParameterDescriptor.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableEntityWriter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableParameterDescriptor.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/JsonSerialization.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/WebJobsShared/TableParameterLog.cs
Labels: Tables

#26170 Handle NotImplementedException in ConnectionLeaseTimeout on Unity
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/ServicePointHelpers.cs
Labels: Azure.Core

#26132 Live Tests update for AudioGroup API update in SDK.
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallingServerModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantResultEvent.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddToDefaultAudioGroupRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddToDefaultAudioGroupRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AudioGroupRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AudioGroupRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AudioGroupResultInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AudioGroupResultInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallConnectionState.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CreateAudioGroupResult.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CreateAudioGroupResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CreateAudioRoutingGroupResult.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CreateAudioRoutingGroupResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/ParticipantsUpdatedEventInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/ParticipantsUpdatedEventInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioResultEvent.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayAudioResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RemoveFromDefaultAudioGroupRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RemoveFromDefaultAudioGroupRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/ToneReceivedEvent.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/ToneReceivedEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/TransferCallResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/UpdateAudioGroupRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/UpdateAudioGroupRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/AudioGroupRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/AudioGroupResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/AudioGroupResultInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallingServerLiveTestBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddCreateAudioGroupRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddCreateAudioGroupRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddPlayAudioToParticipantRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddPlayAudioToParticipantRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddRemoveFromDefaultAudioGroupAddToDefaultAudioGroupRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddRemoveFromDefaultAudioGroupAddToDefaultAudioGroupRemoveHangupScenarioTestsAsync.json
Labels: Communication

#26176 Update EventGrid extensions CHANGELOG
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
Labels: Event Grid

#26177 Sync eng/common directory with azure-sdk-tools for PR 2484
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#26165 [SignalR] Fix a `ServiceEndpoints` binding bug that creating new persistent connections for each request
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Bindings/SignalRInputBindings/SignalREndpointsInputBinding/SignalREndpointsAsyncConverter.cs
Labels: auto-merge

#25428 [WebPubSub][Middleware] Integrate with REST client to improve using experience.
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/Microsoft.Azure.WebPubSub.AspNetCore.sln
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/api/Microsoft.Azure.WebPubSub.AspNetCore.netcoreapp3.1.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubDependencyInjectionExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubRequestExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/IWebPubSubServerBuilder.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/CredentialKind.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/RequestValidator.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/ServiceRequestHandlerAdapter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/WebPubSubMiddleware.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/WebPubSubServerBuilder.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/WebPubSubServiceClientFactory.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/ServiceEndpoint.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/WebPubSubOptions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/WebPubSubServiceClient.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/WebPubSubValidationOptions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/AddWebPubSubTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/Samples/WebPubSubSample.HelloWorld.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/ServiceRequestHandlerTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/WebPubSubEventRequestTests.cs
Labels: auto-merge

#26184 [WebPubSub] Prepare beta.3 release.
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
Labels: auto-merge

#26181 Refresh MGMT AppConfiguration
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
Labels: App Configuration

#26186 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Azure.ResourceManager.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#26188 [WebPubSub] Change to PackageReference for release.
  eng/Packages.Data.props
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
Labels: auto-merge

#26185 Release MGMT Communication
  sdk/communication/Azure.ResourceManager.Communication/CHANGELOG.md
Labels: Communication

#26191 Produce the correct Uri for TableClient.GenerateSasUri
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConnectionString.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateSasCredentialsWithGenerateSasUri.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/ValidateSasCredentialsWithGenerateSasUriAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/ValidateSasCredentialsWithGenerateSasUri.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/ValidateSasCredentialsWithGenerateSasUriAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
  sdk/tables/Azure.Data.Tables/tests/TableUriBuilderTests.cs
Labels: Azure.Core, Tables

#25851 Sync eng/common directory with azure-sdk-tools for PR 2416
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26189 Increment version for communication releases
  sdk/communication/Azure.ResourceManager.Communication/CHANGELOG.md
  sdk/communication/Azure.ResourceManager.Communication/src/Azure.ResourceManager.Communication.csproj
Labels: auto-merge, Communication

#26201 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
Labels: auto-merge

#23991 Fixing InvokeProcessorAfterReceiveTimeout XMLDoc
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/EventProcessorOptions.cs
Labels: Event Hubs, auto-merge

#26223 Sync eng/common directory with azure-sdk-tools for PR 2500
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#25359 [FormRecognizer] Update testing cloud name from Public to Canary
  sdk/formrecognizer/tests.yml
Labels: Client, Cognitive - Form Recognizer

#26225 Make ServiceBusAdministrationClient available in IAzureClientBuilder
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Compatibility/ServiceBusClientBuilderExtensions.cs
Labels: Service Bus, customer-reported, Community Contribution

#26238 [Event Hubs] Fix Processor Performance Tests
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Azure.Messaging.EventHubs.Processor.Perf.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Azure.Messaging.EventHubs.Processor.Perf.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/Azure.Messaging.EventHubs.slnf
Labels: Event Hubs, Client

#26216 Fix inadvertent build break to Storage in main
  sdk/storage/Azure.Storage.Blobs.Batch/README.md
  sdk/storage/Azure.Storage.Blobs.Batch/samples/Sample03a_Batching.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Files.DataLake/samples/Sample01a_HelloWorld.cs
Labels: Storage

#26222 Update Resource events
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceActionCancelEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceActionFailureEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceActionSuccessEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceDeleteCancelEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceDeleteFailureEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceDeleteSuccessEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceHttpRequest.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceWriteCancelEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceWriteFailureEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceWriteSuccessEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRecordingChunkInfoProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRecordingChunkInfoProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRecordingFileStatusUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRecordingFileStatusUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryArtifactEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryArtifactEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryChartDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryChartDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryChartPushedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryChartPushedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventConnectedRegistry.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventConnectedRegistry.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryImageDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryImageDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryImagePushedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ContainerRegistryImagePushedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/RecordingChannelType.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/RecordingContentType.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/RecordingFormatType.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceAuthorization.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceAuthorization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceHttpRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceHttpRequest.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridModelFactoryTests.cs
Labels: Event Grid

#26237 Add nullable to Parent property and remove ctor warning suppression
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ResourceIdentifier.cs
Labels: Azure.Core

#26243 remove Root from ResourceType
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ResourceType.cs
Labels: Azure.Core

#26246 Prepare beta release for Key Vault SDK
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#26267 Resolved previous PR comments for CHANGELOGs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#26244 Add back compat decoding for Avro encoder
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEncoder.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanDecodePreamble.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanDecodePreambleAsync.json
Labels: Schema Registry

#26239 [FormRecognizer] Updated testing cloud to Public
  sdk/formrecognizer/tests.yml
Labels: Client, Cognitive - Form Recognizer

#26215 [Messaging] Bump AMQP library version
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
Labels: Service Bus, Event Hubs, Client

#26274 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#26275 Update Avro dependency
  eng/Packages.Data.props
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry

#26273 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault, auto-merge

#26227 Update RI and RT for perf
  sdk/core/Azure.Core/perf/ResourceIdentifierBenchmark.cs
  sdk/core/Azure.Core/src/ResourceIdentifier.cs
  sdk/core/Azure.Core/src/ResourceType.cs
  sdk/core/Azure.Core/tests/ResourceIdentifierTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/IdentityTests.cs
Labels: Azure.Core

#26277 Prepare for release
  eng/Packages.Data.props
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid

#26276 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#26272 rename X509Chain to CertificateAuthorityChain
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/ServerCertificateCustomValidationArgs.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#26200 ADT: Update Bicep Template
  sdk/digitaltwins/Azure.DigitalTwins.Core/Azure.DigitalTwins.Core.sln
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite readme.md
  sdk/digitaltwins/test-resources.bicep
Labels: Digital Twins

#25874 [Batch] DataPlane update v15.3.0 - 2022-01-01
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/CloudJob.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/HttpHeader.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/JobSpecification.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/OutputFileBlobContainerDestination.json
  sdk/batch/Microsoft.Azure.Batch/src/CloudJob.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/CloudJob.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/HttpHeader.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/JobSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/OutputFileBlobContainerDestination.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/BatchServiceClient.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/CloudJob.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/CloudJobSchedule.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/CloudPool.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/ComputeNode.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/ComputeNodeState.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/HttpHeader.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobAddParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobManagerTask.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobPatchParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobScheduleAddParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobSchedulePatchParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobScheduleUpdateParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobUpdateParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/OutputFileBlobContainerDestination.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolAddParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolNodeCounts.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolResizeParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PublicIPAddressConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/Schedule.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/SdkInfo_BatchServiceClient.cs
  sdk/batch/Microsoft.Azure.Batch/src/IProtocolLayer.cs
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/Microsoft.Azure.Batch/src/ProtocolLayer.cs
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/CloudTaskLinuxIntegrationTests.cs
Labels: Batch, Client

#26279 update to param names in implicit methods
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/AzureLocation.cs
  sdk/core/Azure.Core/src/ResourceType.cs
Labels: Azure.Core

#26270 Update IsError docstring to improve the experience for HLC customers
  sdk/core/Azure.Core/src/Response.cs
Labels: Azure.Core

#26167 Changelog for Azure.Core.Experimental 0.1.0-preview.19
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#26306 Patch release for new icon
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#26269 Add client libraries list to Newtonsoft.Json compat package README
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/README.md
Labels: Azure.Core

#26168 Changelog for Azure.Core 1.22.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#26221 Sync eng/common directory with azure-sdk-tools for PR 2513
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#26309 Tables Jan release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#26315 Update Key Vault package metadata
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#26317 Increment version for connectedvmwarevsphere releases
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/CHANGELOG.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Azure.ResourceManager.ConnectedVMwarevSphere.csproj
Labels: auto-merge

#26282 [EventHubs]Refresh mgmt sdk
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/autorest.md
Labels: Event Hubs

#26330 Properly parse Cosmos connection strings
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableConnectionString.cs
  sdk/tables/Azure.Data.Tables/tests/TableConnectionStringTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceClientTests.cs
Labels: Tables

#26278 Use IsError in Azure.Core
  sdk/core/Azure.Core/src/Pipeline/Internal/LoggingPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RetryPolicy.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestExceptionPolicy.cs
Labels: Azure.Core

#26336 Event Hubs: Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client

#26340 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#26341 Event Hubs: Processor Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#26342 Use package ref
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry

#26343 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#26320 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault, auto-merge

#26338 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#26335 Use Tables package in tables extension
  eng/Packages.Data.props
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables

#26159 Prepare Microsoft.Azure.WebJobs.Extensions.Tables release
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables

#26347 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: auto-merge

#26356 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#26360 Increment version for tables releases
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables, auto-merge

#26031 Added SDK changes for scaling VMSS with PublicIpPrefix (patch updates)
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdatePublicIPAddressConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetNetworkProfileTests/TestVMScaleSetScalingWithPublicIPPrefix.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetNetworkProfileTests.cs
Labels: Compute

#25095 Add RepairAction property to VMSS AutoRepairs feature
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AutomaticRepairsPolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_AutomaticRepairsPolicyTest.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_OrchestrationService.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetTestsBase.cs
Labels: Do Not Merge, Compute

#25785 Added sdk changes for vmss vm customization
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetHardwareProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_DisablingHyperthreadingAndConstrainedvCPUsScenario.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetTestsBase.cs
Labels: Compute

#25383 Restore Point SDK tests for cross-region copy scenarios
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IRestorePointsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskRestorePointInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskRestorePointReplicationStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RestorePoint.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RestorePointExpandOptions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RestorePointInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/RestorePointsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/RestorePointsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/RestorePointTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/Compute.Tests.RestorePointTests/CreateRpcAndRestorePoints.json
Labels: Do Not Merge, Compute

#25258 DedicatedHost Reboot Feature SDK
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DedicatedHostsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DedicatedHostsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IDedicatedHostsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/DedicatedHostTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/DedicatedHostTests/TestDedicatedHostRestart.json
Labels: Do Not Merge, Compute

#25897 Adding the new paramaters zone/placementGroupId to ForceRecoveryServi…
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetServiceFabricScenarioTests.cs
Labels: Compute, customer-reported, Community Contribution

#26365 [Service Bus] Update docs for SupportOrdering property
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/CreateTopicOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicProperties.cs
Labels: Service Bus, auto-merge

#26359 [Core] Enhance Logging Sample
  sdk/core/Azure.Core/samples/Diagnostics.md
  sdk/core/Azure.Core/tests/samples/LoggingSamples.cs
Labels: Client, Azure.Core, Docs

#26369 Sync eng/common directory with azure-sdk-tools for PR 2554
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#26351 Azure Monitor Exporter - Update resource for logs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorConverter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartA.cs
Labels: Monitor - Exporter

#26355 Azure Monitor Exporter - Update to Otel1.2.0-rc1
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterLoggingExtensions.cs
Labels: Monitor - Exporter

#26219 Add migration guide from WindowsAzure.ServiceBus for EventHubs
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide_WindowsAzureServiceBus.md
Labels: Event Hubs

#26362 Increment version for batch releases
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
Labels: Batch, auto-merge

#26348 Increment version for schemaregistry releases
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry, auto-merge

#26333 Increment version for eventgrid releases
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid, auto-merge

#26310 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#26421 Fix naming issues for Azure.ResourceManager.ConnectedVMwarevSphere
  .vscode/cspell.json
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/api/Azure.ResourceManager.ConnectedVMwarevSphere.netstandard2.0.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/HardwareProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/HardwareProfile.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/OsProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/OsProfile.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/OsType.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VirtualMachineData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VirtualMachineInventoryItem.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VirtualMachineTemplateData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VirtualMachineTemplateInventoryItem.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VirtualMachineData.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VirtualMachineTemplateData.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/autorest.md
Labels: Mgmt

#26382 Sync eng/common directory with azure-sdk-tools for PR 2545
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#26029 [Communication] - PhoneNumbers - Add support for the new public preview API version in the PhoneNumbers SDK
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearch.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearchAsyncAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearchErrorState.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearchErrorStateAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearchWithNullCountryCode.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearchWithNullCountryCodeAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberUsingConnectionString.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberUsingConnectionStringAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberUsingKeyCredential.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberUsingKeyCredentialAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberUsingTokenCredential.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberUsingTokenCredentialAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberWithNullNumber.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPhoneNumberWithNullNumberAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersNextPage.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersNextPageAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersUsingConnectionString.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersUsingConnectionStringAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersUsingKeyCredential.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersUsingKeyCredentialAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersUsingTokenCredential.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedPhoneNumbersUsingTokenCredentialAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedUnauthorizedNumber.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetPurchasedUnauthorizedNumberAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/ReleaseUnauthorizedNumber.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/ReleaseUnauthorizedNumberAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/StartPurchasedUnauthorizedNumber.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/StartPurchasedUnauthorizedNumberAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/StartUpdateCapabilitiesWithNullNumber.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/StartUpdateCapabilitiesWithNullNumberAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/UpdateCapabilities.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/UpdateCapabilitiesAsyncAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/UpdateCapabilitiesUnauthorizedNumber.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/UpdateCapabilitiesUnauthorizedNumberAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_PhoneNumbersClient/PurchaseAndRelease.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_PhoneNumbersClient/PurchaseAndReleaseAsyncAsync.json
Labels: Communication

#26440 Update package target
  eng/Packages.Data.props
Labels: Batch

#26451 STG 81 API view comments
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileRenameOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#26457 add overload ctor to client diag
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
Labels: Azure.Core

#26463 refactor(communication): rename check name availability method
  sdk/communication/Azure.ResourceManager.Communication/api/Azure.ResourceManager.Communication.netstandard2.0.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/communication/Azure.ResourceManager.Communication/src/autorest.md
Labels: Communication

#26462 Increment version for quantum releases
  sdk/quantum/Azure.Quantum.Jobs/src/Azure.Quantum.Jobs.csproj
Labels: auto-merge

#26464 refactor(appconfiguration): add check name availability method
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/api/Azure.ResourceManager.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/CheckNameAvailabilityParameters.Serialization.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/CheckNameAvailabilityParameters.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/ConfigurationResourceType.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/NameAvailabilityStatus.Serialization.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Models/NameAvailabilityStatus.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/RestOperations/AppConfigurationManagementRestOperations.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/autorest.md
Labels: App Configuration

#26412 refactor(storage): rename check name availability method
  sdk/storage/Azure.ResourceManager.Storage/api/Azure.ResourceManager.Storage.netstandard2.0.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/storage/Azure.ResourceManager.Storage/src/autorest.md
  sdk/storage/Azure.ResourceManager.Storage/tests/Helpers/StorageTestBase.cs
Labels: Storage

#26411 refactor(servicebus): rename check name availability method
  sdk/servicebus/Azure.ResourceManager.ServiceBus/api/Azure.ResourceManager.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusNamespace.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/autorest.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Helpers/ServiceBusTestBase.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/DisasterRecoveryTests.cs
Labels: Service Bus

#26467 Update Azure.ResourceManager.KeyVault
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedManagedHsmData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedVaultData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/KeyData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsm.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/KeyVaultResource.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/KeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/PrivateLinkResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ResourceListResult.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultAccessPolicyParameters.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/PrivateEndpointConnectionData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/SecretData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/VaultData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
Labels: KeyVault

#26472 [Event Hubs] EventPosition Doc Improvements
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventPosition.cs
Labels: Event Hubs, Client, Docs

#26456 Add OPTIONS handshake for cloudevent
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridExtensionConfigProvider.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/TriggerBinding/BindingType.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/TriggerBinding/EventGridListener.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/TriggerBinding/EventGridTriggerAttributeBindingProvider.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/TriggerBinding/HttpRequestProcessor.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/TestListener.cs
Labels: Event Grid

#26478 Bug 2617303 - Load ratio missing
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobQueue.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterWorker.cs
  sdk/communication/Azure.Communication.JobRouter/src/RouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Scenarios/AssignmentScenario.cs
Labels: Communication

#26450 [Communiction] - PhoneNumbers - Prepare for PhoneNumbers public preview release
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication

#26480 Fix storage extension build
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Config/BlobsExtensionConfigProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
Labels: Storage

#26487 Update links in IoT generate.ps1 comments
  sdk/deviceprovisioningservices/Microsoft.Azure.Management.DeviceProvisioningServices/src/generate.ps1
  sdk/digitaltwins/Microsoft.Azure.Management.DigitalTwins/src/generate.ps1
  sdk/iothub/Microsoft.Azure.Management.IotHub/src/generate.ps1
Labels: Digital Twins

#26500 Fix Uri/Url typo in client constructors for Purview docs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/README.md
  sdk/purview/Azure.Analytics.Purview.Account/README.md
  sdk/purview/Azure.Analytics.Purview.Administration/README.md
  sdk/purview/Azure.Analytics.Purview.Catalog/README.md
  sdk/purview/Azure.Analytics.Purview.Scanning/README.md
Labels: customer-reported, Docs, Community Contribution

#20209 Caching blobs in shared memory for faster I/O
  eng/Packages.Data.props
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Bindings/CacheableReadBlob.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Bindings/CacheableWriteBlob.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Bindings/WriteBlobArgumentBinding.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Config/BlobsExtensionConfigProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/ReadBlobArgumentBinding.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Bindings/CacheableReadBlobTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/Bindings/CacheableWriteBlobTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/CacheableBlobsEndToEndTests.cs
Labels: Storage, Azure.Core

#26183 DefaultAzureCredential should send x5c claim for app authentication
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/src/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/EnvironmentVariables.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredentialProviderTests.cs
  sdk/identity/Azure.Identity/troubleshooting.md
Labels: Azure.Identity, customer-reported, Community Contribution

#26506 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: auto-merge, Communication

#26507 changelog update for community contribution
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#26477 Disable cookies by default
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
  sdk/core/Azure.Core.TestFramework/src/TestServer.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/tests/HttpClientTransportFunctionalTest.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
Labels: Azure.Core

#26515 Specify file location in body
  eng/Packages.Data.props
  sdk/core/Azure.Core.TestFramework/src/Generated/Models/StartInformation.Serialization.cs
  sdk/core/Azure.Core.TestFramework/src/Generated/Models/StartInformation.cs
  sdk/core/Azure.Core.TestFramework/src/Generated/TestProxyRestClient.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/core/Azure.Core.TestFramework/src/testproxy.json
Labels: Azure.Core

#26438 Azure Monitor Exporter - Fix shared RoleName/RoleInstance between Trace and Log Exporter
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorConverter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/ResourceParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartA.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartB.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceParserTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
Labels: Monitor - Exporter

#26516 JobRouter readme file
  sdk/communication/Azure.Communication.JobRouter/README.md
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample1_KeyConcepts.cs
Labels: Communication

#26536 Increment version for anomalydetector releases
  sdk/anomalydetector/Azure.AI.AnomalyDetector/CHANGELOG.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Azure.AI.AnomalyDetector.csproj
Labels: auto-merge

#26518 Sync eng/common directory with azure-sdk-tools for PR 2592
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#26517 Sync eng/common directory with azure-sdk-tools for PR 2585
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#26541 Sync eng/common directory with azure-sdk-tools for PR 2596
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Labels: EngSys, Central-EngSys

#26544 Sync eng/common directory with azure-sdk-tools for PR 2578
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26549 Remove unnecessary dependency
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry

#26579 [Identity] recasing troubleshooting.md to TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#26563 [Service Bus] Enhance Client Options Member Documentation
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
Labels: Service Bus, Client, Docs

#26577 Azure.ResourceManager.Compute added to storage sln
  sdk/storage/Azure.Storage.sln
Labels: Storage

#26484 Update template with useful examples
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/template/Azure.Template/README.md
  sdk/template/Azure.Template/samples/README.md
  sdk/template/Azure.Template/samples/Sample1_HelloWorld.md
  sdk/template/Azure.Template/tests/MiniSecretClientLiveTests.cs
  sdk/template/Azure.Template/tests/MiniSecretClientTestEnvironment.cs
  sdk/template/Azure.Template/tests/Samples/MiniSecretClientSamples.HelloWorld.cs
  sdk/template/test-resources.json
Labels: EngSys

#26581 Sync eng/common directory with azure-sdk-tools for PR 2581
  eng/common/scripts/Get-AADIdentityFromGithubUser.ps1
Labels: EngSys, Central-EngSys

#26580 Sync eng/common directory with azure-sdk-tools for PR 2599
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26588 Fix duplicate filename with casing
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceOsProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceOsProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/DedicatedHostAllocatableVM.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/DedicatedHostAllocatableVM.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/LinuxVMGuestPatchMode.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVMDataDisk.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVMDataDisk.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVMStorageProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVMStorageProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVmosDisk.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RestorePointSourceVmosDisk.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMGalleryApplication.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMGalleryApplication.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMGuestPatchClassificationLinux.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMGuestPatchClassificationWindows.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMGuestPatchRebootBehavior.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMGuestPatchRebootSetting.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMGuestPatchRebootStatus.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMSizeProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VMSizeProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateVMProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateVMProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMExtensionsListResult.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMExtensionsListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMExtensionsSummary.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMExtensionsSummary.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMInstanceIDs.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMInstanceIDs.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMInstanceRequiredIDs.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMInstanceRequiredIDs.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMInstanceView.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMInstanceView.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMNetworkProfileConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMNetworkProfileConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMProtectionPolicy.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVMProtectionPolicy.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/WindowsVMGuestPatchMode.cs
Labels: Compute

#26304 Added ability to specify Disk Compute audience when initializing Blob…
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobAudience.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageClientOptions.cs
Labels: Storage

#26598 Revert "Added ability to specify Disk Compute audience when initializing Blob…"
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobAudience.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageClientOptions.cs
Labels: Storage

#26600 Prepare for release
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry

#26604 Fix Table extension readme
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/README.md
Labels: Tables

#26601 Sync eng/common directory with azure-sdk-tools for PR 2604
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#26540 Update MigrationGuide.md
  sdk/tables/Azure.Data.Tables/MigrationGuide.md
Labels: Tables

#26609 Increment version for deviceupdate releases
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/CHANGELOG.md
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Azure.IoT.DeviceUpdate.csproj
Labels: auto-merge

#26608 Increment version for schemaregistry releases
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry, auto-merge

#26603 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: auto-merge

#26568 (AzureCXP) fix the permissions description
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasBuilder.cs
Labels: Storage

#26570 (AzureCXP) fix the permissions description
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
Labels: Storage

#26571 (AzureCXP) fix for the permissions description
  sdk/storage/Azure.Storage.Queues/src/Sas/QueueSasBuilder.cs
Labels: Storage

#26623 Sync eng/common directory with azure-sdk-tools for PR 2617
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#25106 [Web PubSub] Adding live test for web pubsub
  sdk/webpubsub/Azure.Messaging.WebPubSub/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/Samples/WebPubSubSamples.HelloWorld.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/SessionRecords/WebPubSubGeneralTests/ServiceClientCanBroadcastMessages.json
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/SessionRecords/WebPubSubGeneralTests/ServiceClientCanBroadcastMessagesAsync.json
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/TaskExtensions.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubGeneralTests.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubLiveTests.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubTestEnvironment.cs
  sdk/webpubsub/test-resources.json
Labels: auto-merge

#26653 Update to latest TP version
  eng/Packages.Data.props
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/E2eTestBase.cs
  sdk/identity/Azure.Identity/tests/IdentityRecordedTestBase.cs
Labels: Azure.Identity, Digital Twins

#25941 Gallery 10-01 sdk
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/GalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/GalleriesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/GalleriesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IGalleriesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CommunityGalleryInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/Gallery.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryExpandParams.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSDiskImageEncryption.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSDiskImageSecurityProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RegionalSharingStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SecurityProfileType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingProfileGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingProfileGroupTypes.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SharingUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/GalleryTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryApplicationVersion_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryApplication_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryImageVersion_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryImage_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_SharingToCommunity_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_SharingToSubscriptionAndTenant_CRUD_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/Gallery_WithSharingProfile_CRUD_Tests.json
Labels: Compute

#25940 Gallery Edge Zone SDK pr
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryApplicationVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryArtifactPublishingProfileBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryExtendedLocation.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryExtendedLocationType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryImageVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryTargetExtendedLocation.cs
Labels: Compute

#26668 Sync eng/common directory with azure-sdk-tools for PR 2641
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#26636 Add troubleshooting guide for Key Vault
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/TROUBLESHOOTING.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/TROUBLESHOOTING.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/TROUBLESHOOTING.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/TROUBLESHOOTING.md
  sdk/keyvault/TROUBLESHOOTING.md
Labels: KeyVault

#26548 Azure Monitor Exporter - Separate Trace and Logs into different classes
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorConverter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/MessageData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/RemoteDependencyData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/RequestData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryPartB.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzureMonitorTraceLinkTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RequestDataTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StatusTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TagsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryPartBTests.cs
Labels: Monitor - Exporter

#25532 add storage tests
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/BlobContainerEncryptionScope.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/BlobContainerEncryptionScopeAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/GetBlobContainer.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/GetBlobContainerAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/UpdateImmutabilityPolicy.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/UpdateImmutabilityPolicyAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountGetOperations.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountGetOperationsAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountOperations.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountOperationsAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/BlobContainerTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Storage

#26673 fix(storage): broken test case due to interface change
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/BlobContainerEncryptionScope.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/BlobContainerEncryptionScopeAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/GetBlobContainer.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/GetBlobContainerAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/UpdateImmutabilityPolicy.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/UpdateImmutabilityPolicyAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountGetOperations.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountGetOperationsAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountOperations.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountOperationsAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/BlobContainerTests.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Storage

#26680 Refresh KeyVault, ConnectedVMwarevShpere, StoragePool mgmt. SDK
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/CHANGELOG.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/README.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/README.md
  sdk/storagepool/Azure.ResourceManager.StoragePool/CHANGELOG.md
Labels: KeyVault

#26681 Increment version for resources releases
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge
