Repository Azure/azure-sdk-for-net, pull requests merged in 2022-06, with the labels that each got.

#29048 Properly cast byte[] for BinaryData ctor in TableEntity.GetBinaryData
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/TableEntityTests.cs
Labels: Tables

#29065 STG 83 arch board comments
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeAccessOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakePathCreateOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakePathScheduleDeletionOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
Labels: Storage

#28885 Encryption Aaed Gcm base
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AesGcmWindows.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/AeadCommon.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/Interop.BCryptEncryptDecrypt.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/Interop.BCryptImportKey.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/Interop.Blobs.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/BCryptAeadHandleCache.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/Interop.CreateCryptographicException.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/Interop.NTSTATUS.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/KeySizeHelpers.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/SafeAlgorithmHandle.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/SafeBCryptHandle.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/SafeKeyHandle.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/AesGcmTestHelpers.cs
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/AesGcmTests.cs
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/App.config
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/Azure.Storage.Common.AesGcm.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.sln
Labels: Storage

#28930 Eventhub stress roles
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/stress/Chart.lock
  sdk/eventhub/Azure.Messaging.EventHubs/stress/Chart.yaml
  sdk/eventhub/Azure.Messaging.EventHubs/stress/Dockerfile
  sdk/eventhub/Azure.Messaging.EventHubs/stress/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/stress/charts/stress-test-addons-0.1.13.tgz
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Azure.Messaging.EventHubs.Stress.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/BufferedProducerTestConfig.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/BufferedPublisherConfiguration.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/EventProducerTestConfig.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/ProcessorConfiguration.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/PublisherConfiguration.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/RoleConfiguration.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/TestConfig.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Configurations/TestConfiguration.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Infrastructure/BufferedPublisher.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Infrastructure/EnvironmentVariables.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Infrastructure/Metrics.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Infrastructure/Publisher.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Program.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Roles/BufferedPublisher.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Roles/Processor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Roles/Publisher.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Scenarios/BufferedProducerTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Scenarios/EventProducerTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/stress/stress-test-resources.bicep
  sdk/eventhub/Azure.Messaging.EventHubs/stress/templates/deploy-job.yaml
  sdk/eventhub/Azure.Messaging.EventHubs/stress/values.yaml
Labels: Event Hubs

#29067 Update Storage Aes Gcm Namespaces
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AesGcmWindows.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/AeadCommon.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/Interop.BCryptEncryptDecrypt.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/Interop.BCryptImportKey.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/AllowUnsafeBlocks/Interop.Blobs.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/BCryptAeadHandleCache.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/Interop.CreateCryptographicException.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/Interop.NTSTATUS.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/KeySizeHelpers.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/SafeAlgorithmHandle.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/SafeBCryptHandle.cs
  sdk/storage/Azure.Storage.Common/src/Shared/AesGcm/SafeKeyHandle.cs
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/AesGcmTestHelpers.cs
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/AesGcmTests.cs
Labels: Storage

#29070 Added constructors for DataLakePathScheduleDeletionOptions
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakePathScheduleDeletionOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: Storage

#29081 Increment version for iotcentral releases
  sdk/iotcentral/Azure.ResourceManager.IotCentral/CHANGELOG.md
  sdk/iotcentral/Azure.ResourceManager.IotCentral/src/Azure.ResourceManager.IotCentral.csproj
Labels: auto-merge

#29083 Increment version for dynatrace releases
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/CHANGELOG.md
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Azure.ResourceManager.Dynatrace.csproj
Labels: auto-merge

#28719 [KeyVault] Remove rbac1.6
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Azure.ResourceManager.KeyVault.Tests.csproj
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementListDeletedVaults.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementListDeletedVaultsAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementListVaults.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementListVaultsAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementRecoverDeletedVault.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementRecoverDeletedVaultAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementVaultCreateUpdateDelete.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementVaultCreateUpdateDeleteAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementVaultTestCompoundIdentityAccessControlPolicy.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementVaultTestCompoundIdentityAccessControlPolicyAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTestsBase.cs
Labels: KeyVault, Mgmt

#29089 Update Azure.Identity changelog entry for ESTS-R
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#28998 Sync eng/common directory with azure-sdk-tools for PR 3381
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#29091 Sync eng/common directory with azure-sdk-tools for PR 3392
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Labels: EngSys, Central-EngSys

#29084 Increment version for azurestackhci releases
  sdk/azurestackhci/Azure.ResourceManager.Hci/CHANGELOG.md
  sdk/azurestackhci/Azure.ResourceManager.Hci/src/Azure.ResourceManager.Hci.csproj
Labels: auto-merge

#29050 [Event Hubs] Troubleshooting Guide
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs, Client, Docs

#29099 [Fabric Bot] Update Search Owners
  .github/fabricbot.json
Labels: Client, EngSys

#29076 Add table of contents for Event Hubs samples
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample01_HelloWorld.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample03_EventProcessorHandlers.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample04_ProcessingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample05_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample06_RequestingStorageServiceVersions.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample07_BatchProcessing.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample01_HelloWorld.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_EventHubMetadata.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_EarlierLanguageVersions.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_CustomEventProcessor.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ObservableEventBatch.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_AzureEventSourceListener.md
Labels: Event Hubs, customer-reported, Community Contribution

#29068 [Event Hubs] Recover From Ownership Blob Deletion
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/BlobCheckpointStoreInternalDiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalTests.cs
Labels: Event Hubs, Client

#29061 one single shared VoidValue struct
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/src/Shared/VoidValue.cs
Labels: Azure.Core

#29115 Rename `CheckNameAvailability`
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/KeyVaultExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultNameAvailabilityContent.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultNameAvailabilityContent.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultNameAvailabilityResult.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultNameAvailabilityResult.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/VaultsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
Labels: KeyVault

#29113 [Event Hubs] Change Log Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client, Docs

#29124 [Event Hubs] Performance Test Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/BatchPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/BufferedPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventPublishPerfTest.cs
Labels: Event Hubs, Client

#29117 Tweak IsClosed behavior for Session receiver
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverTests.cs
Labels: Service Bus

#29131 Record GalleryImageVersion test
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/GalleryTests/GalleryImageVersion_CRUD_Tests.json
Labels: Compute

#29129 [Event Hubs] Checkpoint Migration Sample Tweak
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/MigrationGuideSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
Labels: Event Hubs, Client, Docs

#29130 Use IAsyncEnumerable for GetRules
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample12_ManagingRules.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/RuleManager/RuleManagerLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample12_ManagingRules.cs
Labels: Service Bus

#29107 [FormRecognizer] 2022-06-30-preview: updated docs and samples to reflect new features
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzeWithPrebuiltModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ExtractLayout.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ExtractLayoutFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
Labels: Client, Cognitive - Form Recognizer

#29159 Improve docs for stopping processor methods.
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
Labels: Service Bus

#29088 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPurchasePhoneNumbersOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalReleasePhoneNumberOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/SearchAvailablePhoneNumbersOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/UpdatePhoneNumberCapabilitiesOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/InternalPurchasePhoneNumbersOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/InternalReleasePhoneNumberOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SearchAvailablePhoneNumbersOperation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/UpdatePhoneNumberCapabilitiesOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowCreateOrUpdateDataFlowOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowDebugSessionCreateDataFlowDebugSessionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowDebugSessionExecuteCommandOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowDeleteDataFlowOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowRenameDataFlowOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DatasetCreateOrUpdateDatasetOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DatasetDeleteDatasetOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DatasetRenameDatasetOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/KqlScriptCreateOrUpdateOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/KqlScriptDeleteByNameOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/KqlScriptRenameOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryCreateOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryDeleteOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryFlushOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LinkedServiceCreateOrUpdateLinkedServiceOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LinkedServiceDeleteLinkedServiceOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LinkedServiceRenameLinkedServiceOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/NotebookCreateOrUpdateNotebookOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/NotebookDeleteNotebookOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/NotebookRenameNotebookOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/PipelineCreateOrUpdatePipelineOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/PipelineDeletePipelineOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/PipelineRenamePipelineOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkConfigurationCreateOrUpdateSparkConfigurationOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkConfigurationDeleteSparkConfigurationOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkConfigurationRenameSparkConfigurationOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionCreateOrUpdateSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionDebugSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionDeleteSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionExecuteSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionRenameSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SqlScriptCreateOrUpdateSqlScriptOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SqlScriptDeleteSqlScriptOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SqlScriptRenameSqlScriptOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerCreateOrUpdateTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerDeleteTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerStartTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerStopTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerSubscribeTriggerToEventsOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerUnsubscribeTriggerFromEventsOperation.cs
Labels: Communication

#29127 Fix storage blob tests by enabling public signing for dependencies
  eng/mgmt/Directory.Build.Mgmt.props
  eng/nunit.runsettings
  sdk/batch/Microsoft.Azure.Management.Batch/tests/Microsoft.Azure.Management.Batch.Tests.csproj
Labels: Storage

#29158 Fix race condition when starting listener
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus

#29160 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#29163 [Event Hubs] Restore Options Initialization
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/BatchPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventPublishPerfTest.cs
Labels: Event Hubs, Client, auto-merge

#29165 [FormRecognizer] 2022-06-30: Preparing for release
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentCaption.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentFootnote.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentTable.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentTable.cs
Labels: Client, Cognitive - Form Recognizer

#29122 modify ci file name
  sdk/template/.content/testResource/ci-template.yml
  sdk/template/.template.config/template.json
Labels: EngSys

#29169 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: auto-merge

#29184 Increment version for resourcemanager releases
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#29188 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: auto-merge

#29138 [FormRecognizer] Added InternalValue property to DocumentField
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentField.cs
Labels: Client, Cognitive - Form Recognizer

#29195 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#29194 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer, auto-merge

#29206 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#29232 Increment version for communication releases
  sdk/communication/Azure.ResourceManager.Communication/CHANGELOG.md
  sdk/communication/Azure.ResourceManager.Communication/src/Azure.ResourceManager.Communication.csproj
Labels: auto-merge, Communication

#29242 Fixed bug where BlobType = PageBlob was not being parsed correctly.
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
Labels: Storage

#29220 [AzureMonitorExporter] implementing Truncation rules for ExceptionData
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryExceptionData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/SchemaConstants.cs
Labels: Monitor - Exporter

#29092 Override live test location default to westus
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#29243 Fixed bug where calling AppendBlockFromUri without Options bag throws a null exception error; Also cleaning up openwrite records
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/AppendBlockFromUriAsync_NullOptions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/AppendBlockFromUriAsync_NullOptionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditions(False).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditions(False)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditions(True).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditions(True)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditionsFail(False).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditionsFail(False)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditionsFail(True).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AccessConditionsFail(True)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AlternatingWriteAndFlush.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AlternatingWriteAndFlushAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AppendExistingBlob.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_AppendExistingBlobAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_Error.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_ModifiedDuringWrite.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_ModifiedDuringWriteAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_NewBlob.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_NewBlobAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_NewBlob_WithUsing.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_NewBlob_WithUsingAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_OverwiteNewBlob(False).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_OverwiteNewBlob(False)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_OverwiteNewBlob(True).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_OverwiteNewBlob(True)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_ProgressReporting.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientTests/OpenWriteAsync_ProgressReportingAsync.json
Labels: Storage

#29247 [AzureMonitorExporter] implementing Truncation rules for MessageData and MetricsData
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/MessageData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/MetricsData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SchemaConstants.cs
Labels: Monitor - Exporter

#29248 Fortified CreateAsync_RelativeExpiry
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: Storage

#29265 prepare release for compute
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
Labels: Compute

#29260 Increment version for purview releases
  sdk/purview/Azure.Analytics.Purview.Catalog/CHANGELOG.md
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Azure.Analytics.Purview.Catalog.csproj
Labels: auto-merge

#29238 Initial the Azure.ResourceManager.NetworkFunction
  .vscode/cspell.json
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/Azure.ResourceManager.NetworkFunction.sln
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/CHANGELOG.md
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/Directory.Build.props
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/README.md
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/api/Azure.ResourceManager.NetworkFunction.netstandard2.0.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Azure.ResourceManager.NetworkFunction.csproj
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/AzureTrafficCollectorCollection.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/AzureTrafficCollectorData.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/AzureTrafficCollectorResource.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/CollectorPolicyCollection.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/CollectorPolicyData.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/CollectorPolicyResource.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Extensions/NetworkFunctionExtensions.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Extensions/ResourceGroupResourceExtensionClient.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/LongRunningOperation/AzureTrafficCollectorOperationSource.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/LongRunningOperation/CollectorPolicyOperationSource.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/LongRunningOperation/NetworkFunctionArmOperation.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/LongRunningOperation/NetworkFunctionArmOperationOfT.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/AzureTrafficCollectorData.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/AzureTrafficCollectorListResult.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/AzureTrafficCollectorListResult.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/AzureTrafficCollectorPatch.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/AzureTrafficCollectorPatch.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/CollectorPolicyData.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/CollectorPolicyListResult.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/CollectorPolicyListResult.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/CollectorProvisioningState.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/EmissionDestinationType.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/EmissionPoliciesPropertiesFormat.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/EmissionPoliciesPropertiesFormat.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/EmissionPolicyDestination.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/EmissionPolicyDestination.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/EmissionType.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/IngestionPolicyPropertiesFormat.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/IngestionPolicyPropertiesFormat.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/IngestionSourceType.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/IngestionSourcesPropertiesFormat.Serialization.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/IngestionSourcesPropertiesFormat.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/Models/IngestionType.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/ProviderConstants.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/RestOperations/AzureTrafficCollectorsByResourceGroupRestOperations.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/RestOperations/AzureTrafficCollectorsBySubscriptionRestOperations.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/RestOperations/AzureTrafficCollectorsRestOperations.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Generated/RestOperations/CollectorPoliciesRestOperations.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/Properties/AssemblyInfo.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/src/autorest.md
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/tests/Azure.ResourceManager.NetworkFunction.Tests.csproj
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/tests/NetworkFunctionManagementTestBase.cs
  sdk/networkfunction/Azure.ResourceManager.NetworkFunction/tests/NetworkFunctionManagementTestEnvironment.cs
  sdk/networkfunction/ci.yml
Labels: Mgmt

#29258 Initial Azure.ResourceManager.ConfidentialLedger
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/Azure.ResourceManager.ConfidentialLedger.sln
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/Directory.Build.props
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/README.md
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/api/Azure.ResourceManager.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Azure.ResourceManager.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ConfidentialLedgerCollection.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ConfidentialLedgerData.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ConfidentialLedgerResource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Extensions/ConfidentialLedgerExtensions.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Extensions/ResourceGroupResourceExtensionClient.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/LongRunningOperation/ConfidentialLedgerArmOperation.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/LongRunningOperation/ConfidentialLedgerArmOperationOfT.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/LongRunningOperation/ConfidentialLedgerOperationSource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/AadBasedSecurityPrincipal.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/AadBasedSecurityPrincipal.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/CertBasedSecurityPrincipal.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/CertBasedSecurityPrincipal.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/CheckNameAvailabilityReason.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerData.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerList.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerList.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityContent.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityContent.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityResult.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityResult.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerProperties.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerProperties.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerProvisioningState.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerRoleName.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerType.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ProviderConstants.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/RestOperations/ConfidentialLedgerRestOperations.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/RestOperations/LedgerRestOperations.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Properties/AssemblyInfo.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/autorest.md
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/Azure.ResourceManager.ConfidentialLedger.Tests.csproj
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/ConfidentialLedgerManagementTestBase.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/ConfidentialLedgerManagementTestEnvironment.cs
  sdk/confidentialledger/ci.yml
Labels: Mgmt

#26644 Feature/communication siprouting
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/README.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/samples/README.md
  sdk/communication/Azure.Communication.PhoneNumbers/samples/Sample_SipRoutingClient.md
  sdk/communication/Azure.Communication.PhoneNumbers/samples/Sample_SipRoutingClientAsync.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/CommunicationError.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/CommunicationError.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/CommunicationErrorResponse.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/CommunicationErrorResponse.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/SipConfiguration.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/SipConfiguration.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/SipTrunk.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/SipTrunk.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/SipTrunkRoute.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/Models/SipTrunkRoute.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/SipRoutingModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/Generated/SipRoutingRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipConfiguration.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipTrunk.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipTrunkRoute.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/autorest_siprouting.md
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Azure.Communication.PhoneNumbers.Tests.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_SipRoutingClient/ManageSipConfiguration.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_SipRoutingClient/ManageSipConfigurationAsyncAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/AddSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/AddSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/DeleteSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/DeleteSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetFunctionUsingTokenAuthentication.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetFunctionUsingTokenAuthenticationAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipRoutesForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipRoutesForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunksForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunksForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipRoutesForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipRoutesForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipTrunksForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipTrunksForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetFunctionUsingTokenAuthentication.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetFunctionUsingTokenAuthenticationAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/Infrastructure/SipRoutingClientLiveTestBase.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/Infrastructure/SipRoutingClientTestEnvironment.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/Infrastructure/TestData.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/SipRoutingClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/samples/Sample_SipRoutingClient.cs
Labels: Communication

#29164 Remove OperationOrResponseInternals dependencies
  sdk/core/Azure.Core/tests/TestClients/TestResource.cs
  sdk/core/Azure.Core/tests/TestClients/TestResourceOperation.cs
  sdk/core/Azure.Core/tests/TestClients/TestResourceOperationOrResponse.cs
  sdk/search/Microsoft.Azure.Search/tests/Tests/CustomAnalyzerTests.cs
Labels: Azure.Core

#29280 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Compute, auto-merge

#29289 Improvement for `Azure.ResourceManager.Compute`: specify some types
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/ManagedDiskData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ManagedDiskData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmInstanceView.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmInstanceView.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute

#29263 [Storage] Fix timeToRestore issue for storage
  sdk/storage/Azure.ResourceManager.Storage/api/Azure.ResourceManager.Storage.netstandard2.0.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/BlobRestoreContent.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/BlobRestoreContent.cs
  sdk/storage/Azure.ResourceManager.Storage/src/autorest.md
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/PITR.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/BlobContainerTests/PITRAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/BlobContainerTests.cs
Labels: Storage

#29296 Sync eng/common directory with azure-sdk-tools for PR 3386
  eng/common/docgeneration/templates/matthews/partials/class.header.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.tmpl.partial
Labels: EngSys, Central-EngSys

#29252 [AzureMonitorExporter] implementing Truncation rules for RemoteDependencyData and RequestData
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RequestData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SchemaConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/StringExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
Labels: Monitor - Exporter

#29268 [FormRecognizer] Updated samples to use the RecordedTest attr
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/SampleSnippets.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltReadFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltReadFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithCustomModelFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithCustomModelFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithPrebuiltModelFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithPrebuiltModelFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_BuildCustomModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_CopyModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_CreateComposedModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ExtractLayoutFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_GetAndListOperationsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample10_DifferentiateOutputModelsTrainedWithAndWithoutLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample11_ComposedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample12_RecognizeBusinessCardsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample12_RecognizeBusinessCardsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample13_RecognizeInvoicesFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample13_RecognizeInvoicesFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample14_RecognizeIdentityDocumentsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample14_RecognizeIdentityDocumentsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample15_DifferentiateOutputLabeledTables.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample1_RecognizeContentFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample3_RecognizeReceiptsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample3_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample4_StronglyTypingARecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample6_TrainModelWithFormsAndLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample8_CopyModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample9_FieldBoundingBox.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/SampleSnippets.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample_MockClient.cs
Labels: Client, Cognitive - Form Recognizer

#29278 Sync eng/common directory with azure-sdk-tools for PR 3402
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#28870 Encryption v2
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideEncryptor.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/Azure.Storage.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientOpenWriteTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTestExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientOpenWriteTests/OpenWriteAsync_NullOptions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientOpenWriteTests/OpenWriteAsync_NullOptionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobClientOpenWriteTests/OpenWriteAsync_Overwrite.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/DoesETagLockOnKeyUpdate.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/DoesETagLockOnKeyUpdateAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(False).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(False)Async.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(True).json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ClientSideEncryptionTests/UpdateKey(True)Async.json
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/ClientSideEncryptionVersion.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/AuthenticatedRegionCryptoStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptionVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptorV1_0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptorV2_0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/GcmAuthenticatedCryptographicTransform.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/IAuthenticatedCryptographicTransform.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/IClientSideEncryptor.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/ClientSideEncryptionAlgorithm.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/EncryptedRegionInfo.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/EncryptionData.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/EncryptionDataSerializer.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/KeyEnvelope.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/TransformMode.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/LazyLoadingReadOnlyStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/UriExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/AuthenticatedRegionCryptoStreamTest.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientSideEncryptor.cs
  sdk/storage/Azure.Storage.Queues/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Queues/tests/EncryptedMessageSerializerTests.cs
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_False(V1_0).json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_False(V1_0)Async.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_False(V2_0).json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_False(V2_0)Async.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_True(V1_0).json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_True(V1_0)Async.json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_True(V2_0).json
  sdk/storage/Azure.Storage.Queues/tests/SessionRecords/ClientSideEncryptionTests/CanGenerateSas_WithClientSideEncryptionOptions_True(V2_0)Async.json
  sdk/storage/Directory.Build.props
  sdk/storage/tests.yml
Labels: Storage, Do Not Merge

#29311 `Azure.ResourceManager.Storage`: mark keysource optional
  sdk/storage/Azure.ResourceManager.Storage/api/Azure.ResourceManager.Storage.netstandard2.0.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/Encryption.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/Encryption.cs
  sdk/storage/Azure.ResourceManager.Storage/src/autorest.md
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Storage

#29316 STG 83 public preview release prep
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#29302 [FormRecognizer] Stopped ignoring tests after service fixes
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeContentLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeCustomFormsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanAuthenticateWithTokenCredential.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanAuthenticateWithTokenCredentialAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanParseMultipageReceiptWithBlankPage.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentCanParseMultipageReceiptWithBlankPageAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesDocumentPageJpg(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/CopyModel(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/CopyModel(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/GetAndListOperations(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/GetAndListOperations(True)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartBuildModelCanAuthenticateWithTokenCredential.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartBuildModelCanAuthenticateWithTokenCredentialAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartCreateComposedModel(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartCreateComposedModel(True)Async.json
Labels: Client, Cognitive - Form Recognizer

#29309 Update Serverless protocol version to 1.9.0
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#29320 Resolve archboard review comments for KeyVault
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Sample1_ManagingKeyVaults.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Customization/Models/VaultProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/CertificatePermission.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/CreateMode.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/HsmProvisioningState.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmCreateMode.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmCreateMode.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmProvisioningState.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultAccessPolicy.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultAccessPolicy.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultAccessPolicyParameters.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultAccessPolicyProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultAccessPolicyProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultIPRule.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultIPRule.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultNetworkRuleSet.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultNetworkRuleSet.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultPatchMode.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultPatchMode.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultPatchProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultPatchProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Extensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/ManagedHsmTests.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Samples/Sample1_ManagingKeyVaults.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTests.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTestsBase.cs
Labels: KeyVault, Mgmt

#29337 Exclude test recording files.
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#29344 Sync eng/common directory with azure-sdk-tools for PR 3457
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#29345 [Event Hubs] Update troubleshooting log asks
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs, Client, Docs

#29360 Fix bug in StorageResponseClassifier
  sdk/storage/Azure.Storage.Common/src/Shared/StorageResponseClassifier.cs
  sdk/storage/Azure.Storage.Common/tests/StorageResponseClassifierTests.cs
Labels: Storage

#29362 Add ReplyToSessionId binding
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerBindingStrategy.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusTriggerStrategyTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#29314 upgrade autorest.csharp version and refresh RPs
  eng/Packages.Data.props
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/BoundariesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ImageProcessingClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthTokensClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ScenesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonalFieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/WeatherClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/ConversationAnalysisProjectsClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/api/Azure.AI.Language.QuestionAnswering.netstandard2.0.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Generated/QuestionAnsweringProjectsClient.cs
  sdk/cognitivelanguage/ci.yml
  sdk/cognitivelanguage/service.projects
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/api/Azure.IoT.DeviceUpdate.netstandard2.0.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceManagementClient.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceUpdateClient.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewGlossaries.cs
Labels: LLC

#29321 cleanup and better error messages
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptionOptionsExtensions.cs
Labels: Storage

#29365 Always populate the sequence number if present when checkpointing
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs

#29372 Fix link
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
Labels: Event Hubs

#29367 Sync eng/common directory with azure-sdk-tools for PR 3453
  eng/common/scripts/Verify-Resource-Ref.ps1
Labels: EngSys, Central-EngSys

#29189 [ServiceBus]: SDK for 2021-11-01 api version
  eng/mgmt/mgmtmetadata/servicebus_resource-manager.txt
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/AzSdk.RP.props
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/DisasterRecoveryConfigsOperations.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/DisasterRecoveryConfigsOperationsExtensions.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/IDisasterRecoveryConfigsOperations.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/ArmDisasterRecovery.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/MigrationConfigProperties.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/NetworkRuleSet.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/Operation.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/OperationDisplay.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/PrivateEndpointConnection.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/ProxyResource.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/Rule.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/SBAuthorizationRule.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/SBNamespace.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/SBNamespaceUpdateParameters.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/SBQueue.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/SBSubscription.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/Models/SBTopic.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/PrivateEndpointConnectionsOperations.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/SdkInfo_ServiceBusManagementClient.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Generated/ServiceBusManagementClient.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Microsoft.Azure.Management.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/Properties/AssemblyInfo.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/src/generate.ps1
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Microsoft.Azure.Management.ServiceBus.Tests.csproj
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/DisasterRecoveryAlternateNameCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/DisasterRecoveryCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/NamespaceAZCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/NamespaceBYOKCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/NamespaceCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/NamespaceCreateGetUpdateDeleteAuthorizationRules.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/NetworkRuleSetCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/PrivateEndpointsCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/QueuesCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/QueuesCreateGetUpdateDeleteAuthorizationRules.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/QueuesPremiumCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/RulesCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/RulesCreateGetUpdateDelete_Length.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/ServiceBusskiptop.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/StandardToPremiumMigration_withentities.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/SubscriptionsCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/TopicsCreateGetUpdateDelete.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/SessionRecords/ScenarioTests/TopicsCreateGetUpdateDeleteAuthorizationRules.json
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/TestHelper/ServiceBusManagementHelper.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests .NamespaceAZTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests .QueuesPremiumTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.DisasterRecoveryTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.NamespaceBYOKTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.NamespaceTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.NamespaceTests.CRUDAuthorizationRules.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.PrivateEndpoints.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.QueuesTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.QueuesTests.CRUDAuthorizationRules.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.RulesTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.SubscriptionsTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.TopicsTests.CRUD.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.TopicsTests.CRUDAuthorizationRules.cs
  sdk/servicebus/Microsoft.Azure.Management.ServiceBus/tests/Tests/ScenarioTests.cs
Labels: Service Bus, Mgmt

#29381 Update TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity, customer-reported, Community Contribution

#29328 Enable CodeQL
  eng/pipelines/templates/jobs/ci.yml
Labels: KeyVault

#29397 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#29399 [FormRecognizer] Updated samples to hardcode 4 points length in bounding polygon
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzePrebuiltDocument.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzePrebuiltRead.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ExtractLayout.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltReadFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltReadFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ExtractLayoutFromFileAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
Labels: Client, Cognitive - Form Recognizer

#29033 Add scope of waitForCompletion in LRO
  sdk/core/Azure.Core/src/Shared/OperationInternalBase.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalOfT.cs
  sdk/core/Azure.Core/tests/OperationInternalOfTTests.cs
  sdk/core/Azure.Core/tests/OperationInternalTests.cs
Labels: Azure.Core, LLC, DPG/RLC v1.0

#29420 [Event Hubs] Flaky Test Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientLiveTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Event Hubs, Client, test-reliability

#29430 bump api-version of cloud service in compute
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceRoleInstanceData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceExtension.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceExtension.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceInstanceView.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceNetworkProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceNetworkProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceRoleListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceSlotType.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceVaultAndSecretReference.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/InstanceSku.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/InstanceViewStatusesSummary.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/LoadBalancerFrontendIPConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/OSFamilyListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/OSVersionListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RoleInstanceListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/StatusCodeCount.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/UpdateDomainListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServiceOperatingSystemsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServiceRoleInstancesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServiceRolesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServicesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServicesUpdateDomainRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute

#29179 Apply PR 2289: Update basic method signature in reference doc
  eng/Packages.Data.props
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ApplicationDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/AttachmentsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/BoundariesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropVarietiesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/HarvestDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ImageProcessingClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthProvidersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthTokensClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/PlantingDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ScenesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonalFieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/TillageDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/WeatherClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/ConversationAnalysisClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/ConversationAuthoringClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Generated/QuestionAnsweringProjectsClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerIdentityServiceClient.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceManagementClient.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceUpdateClient.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataPolicyClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataRolesClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCatalogClient.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCollections.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewEntities.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewGlossaries.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewLineages.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewRelationships.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewTypes.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewClassificationRuleClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewDataSourceClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanningServiceClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleAssignmentsClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleDefinitionsClient.cs
  sdk/template/Azure.Template/src/Generated/TemplateClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/HealthApiClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/WebPubSubServiceClient.cs
Labels: EngSys

#29431 Increment version for resourcemanager releases
  eng/Packages.Data.props
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#29427 Use westus3 for service bus live tests
  sdk/servicebus/tests.yml
Labels: Service Bus, Central-EngSys

#29444 [Event Hubs] Update Troubleshooting Broken Link
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs, Client, Docs

#29440 Update docs links for collection read-only property init
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AnalyzeDocumentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/RecognizeBusinessCardsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/RecognizeContentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/RecognizeCustomFormsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/RecognizeIdentityDocumentsOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/RecognizeInvoicesOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/RecognizeReceiptsOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryOptions.cs
Labels: Cognitive - Form Recognizer

#29446 [Event Hubs] Troubleshooting Guide Header Fix
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs

#29453 add some extra ci triggers for eventhub and storage
  sdk/eventhub/ci.mgmt.yml
  sdk/storage/ci.yml
Labels: Storage, Event Hubs

#29437 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Storage, Service Bus, Event Hubs, Compute

#29463 prepare release for storage
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
Labels: Storage

#29465 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#29464 resolve comments from arch board for `Azure.ResourceManager.Compute`
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/DiskEncryptionSetData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/AvailablePatchSummary.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/AvailablePatchSummary.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeApiError.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeApiError.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeApiErrorBase.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeApiErrorBase.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeDeleteOption.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeUsage.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeUsage.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeUsageName.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeUsageName.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeUsageUnit.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/DeleteOption.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/DiskEncryptionSetData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/GalleryApplicationVersionPublishingProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/GalleryApplicationVersionPublishingProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/LastPatchInstallationSummary.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/LastPatchInstallationSummary.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/NetworkInterfaceReference.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/NetworkInterfaceReference.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RollbackStatusInfo.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/RollbackStatusInfo.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/UpgradeOperationHistoricalStatusInfoProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/UpgradeOperationHistoricalStatusInfoProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/UsageUnit.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/UserArtifactManagement.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/UserArtifactManagement.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineAssessPatchesResult.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineAssessPatchesResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineInstallPatchesResult.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineInstallPatchesResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineNetworkInterfaceConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineNetworkInterfaceConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachinePublicIPAddressConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachinePublicIPAddressConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetNetworkConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetNetworkConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPublicIPAddressConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPublicIPAddressConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetRollingUpgradeData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateNetworkConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateNetworkConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdatePublicIPAddressConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdatePublicIPAddressConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServicesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetRollingUpgradeData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute

#29449 Sync eng/common directory with azure-sdk-tools for PR 3481
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#29478 update broken README link to api docs
  sdk/core/Azure.Core/README.md
Labels: Azure.Core

#29353 [perf] Add pipeline template and storage pipelines
  eng/pipelines/templates/jobs/perf.yml
  sdk/storage/Azure.Storage.Blobs/perf-resources.bicep
  sdk/storage/Azure.Storage.Blobs/perf.yml
  sdk/storage/Azure.Storage.Files.DataLake/perf-resources.bicep
  sdk/storage/Azure.Storage.Files.DataLake/perf.yml
  sdk/storage/Azure.Storage.Files.Shares/perf-resources.bicep
  sdk/storage/Azure.Storage.Files.Shares/perf.yml
Labels: Storage

#29481 Treat `AZURE_AUTHORITY_HOST` as optional
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#29466 Increment version for relay releases
  sdk/relay/Azure.ResourceManager.Relay/CHANGELOG.md
  sdk/relay/Azure.ResourceManager.Relay/src/Azure.ResourceManager.Relay.csproj
Labels: auto-merge

#29319 clarifies purpose of delegate
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Common/src/Shared/LazyLoadingReadOnlyStream.cs
Labels: Storage

#29318 simplified internal method name
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
Labels: Storage

#29323 adds error checking to decryption
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideDecryptor.cs
Labels: Storage

#29394 AuthenticatedRegionCryptoStream fixes
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/AuthenticatedRegionCryptoStream.cs
Labels: Storage

#29395 moved validation to constructor
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptorV2_0.cs
Labels: Storage

#29502 Clean up admin client docs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/HttpRequestAndResponse.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueueProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/FalseRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/SqlRuleAction.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/TrueRuleFilter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusAdministrationClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/SubscriptionProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicProperties.cs
Labels: Service Bus

#29498 Update cloud role
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceParserTests.cs
Labels: Monitor - Exporter

#29515 Increment version for webpubsub releases
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Azure.ResourceManager.WebPubSub.csproj
Labels: auto-merge

#29266 CloudServiceRP 2022-04-04
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/CloudServiceNetworkProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/CloudServiceOperatingSystemsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/CloudServiceRoleInstancesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/CloudServiceRoleInstancesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/CloudServiceRolesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/CloudServiceRolesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/CloudServicesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/CloudServicesUpdateDomainOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/ICloudServiceRoleInstancesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/ICloudServiceRolesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineImagesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CloudService.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CloudServiceExtensionProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CloudServiceNetworkProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CloudServiceRoleProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CloudServiceSlotType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CloudServiceVaultAndSecretReference.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/EncryptionSetIdentity.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/EncryptionSetIdentityUserAssignedIdentitiesValue.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryApplicationVersionPublishingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/InstanceSku.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/InstanceViewStatusesSummary.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LoadBalancerConfigurationProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LoadBalancerFrontendIPConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RoleInstance.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RoleInstanceProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/StatusCodeCount.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SystemData.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/UserAssignedIdentitiesValue.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineIdentity.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineIdentityUserAssignedIdentitiesValue.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetIdentity.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VmImagesInEdgeZoneListResult.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineImagesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineImagesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceOperationTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMIdentityTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole_MultiRoleExtension.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperatingSystemTests/Test_CloudServiceOperatingSystemOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_Create_PowerOff_Start_CloudServiceOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_ListCloudServicesOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceRoleInstanceTests/Test_CloudServiceRoleInstanceOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_DeleteCloudService.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_ExtensionProfile.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_InstanceView.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceOperations_ScaleIn_ScaleOut.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceUpdateOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMHealthExtensionTests/TestVMHealthExtensionOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMMarketplaceTest/TestVMBYOL.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMMarketplaceTest/TestVMMarketplace.json
Labels: Compute

#29519 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
Labels: KeyVault

#29510 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Azure.AI.Language.Conversations.csproj
Labels: auto-merge

#29508 Add EntityPath and FullyQualifiedNamespace properties to processor args
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/RuleManager/RuleManagerTests.cs
Labels: Service Bus

#29529 [Event Hubs] Processor Stop Tests
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Labels: Event Hubs, Client

#29531 Sync eng/common directory with azure-sdk-tools for PR 3509
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Labels: EngSys, Central-EngSys

#29538 Fix tables test
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TablesLiveTestBase.cs
Labels: Tables

#29539 Sync eng/common directory with azure-sdk-tools for PR 3510
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#29523 Refactor Azure.Storage.Blobs.Perf
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/BlobTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Infrastructure/DownloadSasUriTest.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/CreateClients.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/DownloadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/UploadBlob.cs
Labels: Storage

#28466 Extract custom error creation from ClientDiagnostics (shared code)
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineOptions.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/DefaultRequestFailedDetailsParser.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/HttpPipelineTransportPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/Multipart/BufferedReadStream.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/Multipart/KeyValueAccumulator.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/Multipart/MultipartBoundary.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/Multipart/MultipartReader.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/Multipart/MultipartReaderStream.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/Multipart/MultipartSection.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/Multipart/StreamHelperExtensions.cs
  sdk/core/Azure.Core/src/Pipeline/MultipartResponse.cs
  sdk/core/Azure.Core/src/Pipeline/RequestFailedDetailsParser.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/FailedResponseExceptionTests.cs
  sdk/core/Azure.Core/tests/MultipartTests.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableClientOptions.cs
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/src/TablesRequestFailedDetailsParser.cs
  sdk/tables/Azure.Data.Tables/tests/ExtractFailureContentTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTableAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample1_CreateDeleteTableErrors.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample3_QueryTablesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntitiesAsync.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample5_UpdateUpsertEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample8_CustomizingSerialization.cs
Labels: Azure.Core, Tables

#29558 Update baselines
  eng/dotnet.gdnbaselines
Labels: Central-EngSys

#29561 Adding Play interfaces
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/ContentCapabilities.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
Labels: Communication

#29565 Sync eng/common directory with azure-sdk-tools for PR 3491
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#29550 [EventHubs] Remove the dependency on storage and update tests
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Azure.ResourceManager.EventHubs.Tests.csproj
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventhubTests/CreateEventhubWithParameter.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventhubTests/CreateEventhubWithParameterAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/PrivateEndpointConnectionTests/GetAllPrivateEndpointConnection.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/PrivateEndpointConnectionTests/GetAllPrivateEndpointConnectionAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionDelete.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionDeleteAsync.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/ConsumerGroupTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/DisasterRecoveryTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/EventHubNamespaceTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/EventHubTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/PrivateEndpointConnectionTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/SchemaGroupTests.cs
  sdk/eventhub/ci.mgmt.yml
Labels: Event Hubs

#29521 Regen for easy renaming
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ArchitectureType.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeResourceSku.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeResourceSku.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeResourceSkuRestrictionInfo.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeResourceSkuRestrictionInfo.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeResourceSkuRestrictions.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeResourceSkuRestrictions.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ExtendedLocationType.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/HyperVGeneration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineImage.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute

#28574 [Azure.Communication.Common] Added support for rawId ⟷ CommunicationIdentifier conversion
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreateAddRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreatePlayCancelHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RunCreatePlayCancelHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/Sample1_CallClient/CreateCall.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/Sample1_CallClient/CreateCallAsyncAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunAllRecordingFunctionsWithConnectionString.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunAllRecordingFunctionsWithConnectionStringAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunAllRecordingFunctionsWithTokenCredential.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunAllRecordingFunctionsWithTokenCredentialAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreateAddRemoveHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreateAddRemoveHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreatePlayCancelHangupScenarioTests.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ServerCallLiveTests/RunCreatePlayCancelHangupScenarioTestsAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceipt_GS.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/ReadReceipt_GSAsync.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_T.json
  sdk/communication/Azure.Communication.Chat/tests/SessionRecords/ChatClientsLiveTests/Thread_CGUD__Participant_AUR__Message_GSU__Notification_TAsync.json
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Common/src/CommunicationCloudEnvironment.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/CommunicationUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/PhoneNumberIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/UnknownIdentifier.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierTest.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationTestEnvironment.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationUserIdentifierTests.cs
  sdk/communication/Azure.Communication.Common/tests/Identity/CommunicationTokenCredentialTest.cs
  sdk/communication/Azure.Communication.Common/tests/Identity/TestClock.cs
  sdk/communication/Azure.Communication.Common/tests/Pipeline/CommunicationBearerTokenCredentialTests.cs
  sdk/communication/Azure.Communication.Common/tests/UnknownIdentifierTests.cs
  sdk/communication/Shared/src/CommunicationIdentifierSerializer.cs
  sdk/communication/Shared/src/CommunicationIdentifierSerializerTest.cs
  sdk/communication/Shared/src/HMACAuthenticationPolicy.cs
  sdk/core/Azure.Core/src/Shared/ConnectionString.cs
Labels: Communication

#28110 Add partner topic support
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridEventConverter.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridKeyCredentialPolicy.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridPublisherClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridSasBuilder.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridSharedAccessSignatureCredentialPolicy.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Infrastructure/EventGridTestEnvironment.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventsToChannel.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishEventsToChannelAsync.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventToChannel.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SessionRecords/EventGridClientLiveTests/CanPublishSingleEventToChannelAsync.json
  sdk/eventgrid/test-resources.json
Labels: Event Grid

#29583 rename storage args to converge across languages
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Options/PartitionedTransferOptions.cs
Labels: Storage

#29585 Core July Release Changelog
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#29594 Adding missing files
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallLocator.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallLocator.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallLocatorKind.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/GetCallRecordingStateResponse.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/GetCallRecordingStateResponse.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingChannelType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingContentType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingFormatType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecordingState.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/StartCallRecordingRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/StartCallRecordingRequest.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/StartCallRecordingResponse.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/StartCallRecordingResponse.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ServerCallsRestClient.cs
Labels: Communication
