Repository Azure/azure-sdk-for-net, pull requests merged in 2022-04, with the labels that each got.

#27867 Add Fhir events
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceType.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#27916 Increment version for monitor releases
  sdk/monitor/Azure.ResourceManager.Monitor/CHANGELOG.md
  sdk/monitor/Azure.ResourceManager.Monitor/src/Azure.ResourceManager.Monitor.csproj
Labels: auto-merge

#27911 Increment version for websites releases
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Azure.ResourceManager.AppService.csproj
Labels: auto-merge

#27908 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#27907 Increment version for webpubsub releases
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Azure.ResourceManager.WebPubSub.csproj
Labels: auto-merge

#27906 Increment version for communication releases
  sdk/communication/Azure.ResourceManager.Communication/CHANGELOG.md
  sdk/communication/Azure.ResourceManager.Communication/src/Azure.ResourceManager.Communication.csproj
Labels: auto-merge, Communication

#27905 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Azure.ResourceManager.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#27924 Relax SessionId validation
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageTests.cs
Labels: Service Bus

#27915 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: auto-merge, Communication

#27858 Update azure.core to have reference type on ResponseError
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/ResponseError.cs
  sdk/core/Azure.Core/src/Shared/InitializationConstructorAttribute.cs
  sdk/core/Azure.Core/src/Shared/PropertyReferenceTypeAttribute.cs
  sdk/core/Azure.Core/src/Shared/ReferenceTypeAttribute.cs
  sdk/core/Azure.Core/src/Shared/SerializationConstructorAttribute.cs
  sdk/core/Azure.Core/src/Shared/TypeReferenceTypeAttribute.cs
Labels: Azure.Core

#27937 Tables extension API updates
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/api/Microsoft.Azure.WebJobs.Extensions.Tables.netstandard2.0.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/AzureTablesWebJobsStartup.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableAttribute.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TablesWebJobsBuilderExtensions.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/TablesLiveTestBase.cs
Labels: Tables

#27936 Update name of Avro exception
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroException.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
Labels: Schema Registry

#27940 Sync eng/common directory with azure-sdk-tools for PR 2967
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#27941 Sync eng/common directory with azure-sdk-tools for PR 2966
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#27080 ServiceBus EventSource remove allocations and boxing
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
Labels: Service Bus, customer-reported, Community Contribution

#27709 docs(mgmt): fix readme `contribute` section styles
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/README.md
  sdk/azurestackhci/Azure.ResourceManager.Hci/README.md
  sdk/cdn/Azure.ResourceManager.Cdn/README.md
  sdk/communication/Azure.ResourceManager.Communication/README.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/README.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/README.md
  sdk/dashboard/Azure.ResourceManager.Dashboard/README.md
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/README.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/README.md
  sdk/dns/Azure.ResourceManager.Dns/README.md
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/README.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/README.md
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocation/README.md
  sdk/hybridconnectivity/Azure.ResourceManager.HybridConnectivity/README.md
  sdk/insights/Azure.ResourceManager.Insights/README.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/README.md
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearningServices/README.md
  sdk/network/Azure.ResourceManager.Network/README.md
  sdk/resourcemanager/Azure.ResourceManager/README.md
  sdk/resources/Azure.ResourceManager.Resources/README.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/README.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/README.md
Labels: Service Bus, KeyVault, Event Hubs, Azure.Core, App Configuration, Communication

#27947 [Mgmt] Update contribution section of readme
  sdk/cdn/Azure.ResourceManager.Cdn/README.md
  sdk/compute/Azure.ResourceManager.Compute/README.md
  sdk/compute/Azure.ResourceManager.Compute/tests/Samples/Readme.cs
  sdk/dnsresolver/Azure.ResourceManager.DnsResolver/README.md
  sdk/monitor/Azure.ResourceManager.Monitor/README.md
  sdk/storage/Azure.ResourceManager.Storage/README.md
  sdk/storagepool/Azure.ResourceManager.StoragePool/README.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/README.md
  sdk/websites/Azure.ResourceManager.AppService/README.md
Labels: Storage, Compute

#27914 [Event Hubs] Protected Idempotent Surface
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/api/Azure.Messaging.EventHubs.Experimental.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Azure.Messaging.EventHubs.Experimental.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Producer/IdempotentProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Producer/IdempotentProducerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Producer/PartitionPublishingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Producer/PartitionPublishingProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Resources.Local.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Azure.Messaging.EventHubs.Experimental.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Producer/IdempotentProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Producer/IdempotentProducerOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Producer/PartitionPublishingOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsModelFactory.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/PartitionPublishingProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/IdempotentPublishingLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/PartitionPublishingOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Event Hubs, Client, APIChange, ArchApproved

#27921 Resolve a couple Key Vault test issues
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/AttestationMayFailAttributeTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.SecureKeyRelease.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/UpdateReleasePolicy(False).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/UpdateReleasePolicy(False)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/UpdateReleasePolicy(True).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/UpdateReleasePolicy(True)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/AttestationMayFailAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/Azure.Security.KeyVault.Shared.Tests.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/IgnoreServiceErrorAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/PartiallyDeployedAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.sln
Labels: KeyVault

#26332 Update Azure Object Anchors to API version 3.0-preview.0
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/api/Azure.MixedReality.ObjectAnchors.Conversion.netstandard2.0.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/BlobUploadEndpointRestClient.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/IngestionJobRestClient.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/AssetConversionConfiguration.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/AssetConversionProperties.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/AssetUploadUriResult.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/ConversionErrorCode.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/Error.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/ErrorDetail.Serialization.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/ErrorDetail.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/ErrorResponse.Serialization.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/ErrorResponse.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/InnerError.Serialization.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/InnerError.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/Quaternion.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/TrajectoryPose.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/Vector3.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/Vector4.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/ObjectAnchorsConversionClientOptions.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/autorest.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/ObserveExistingAssetConversion.json
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/ObserveExistingAssetConversionAsync.json
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/RunAssetConversion.json
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/RunAssetConversionAsync.json
Labels: auto-merge

#27965 Prepare for release
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#27966 Warn on unsupported managed identity configuration
  sdk/identity/Azure.Identity/src/AzureArcManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/identity/Azure.Identity/src/CloudShellManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/ServiceFabricManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#27980 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#27981 Update core dependency version
  eng/Packages.Data.props
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Event Hubs, Azure.Core, Schema Registry

#27993 [Event Hubs] Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client

#27982 Fix namespace of internal shared type
  sdk/core/Azure.Core/src/Shared/TypeBinder.cs
  sdk/core/Azure.Core/tests/TypeBinderTests.cs
  sdk/monitor/Azure.Monitor.Query/src/RowBinder.cs
  sdk/tables/Azure.Data.Tables/src/Extensions/TablesTypeBinder.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoToTableEntityConverter.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/PocoTypeBinder.cs
Labels: Azure.Core

#28000 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#27994 Azure.Identity Apr Release Prep
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#28001 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#28003 Prepare Azure.Identity.BrokeredAuthentication for release
  eng/Packages.Data.props
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/Azure.Identity.BrokeredAuthentication.csproj
Labels: Azure.Identity

#27816 [SignalR] Modify API
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/api/Microsoft.Azure.WebJobs.Extensions.SignalRService.netstandard2.0.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/samples/Sample02_CustomizingJsonSerialization.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/samples/Sample03_IntegrationWithAppGateway.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/IConfigurationExtensions.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Constants.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/SignalROptions.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/IConfigurationExtensionsFacts.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/ServiceManagerStoreTests.cs
Labels: auto-merge

#28023 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/ManagementGroupCreateOrUpdateContent.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/ManagementGroupNameAvailabilityOptions.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/ManagementGroupNameAvailabilityOptions.cs
  sdk/resourcemanager/Azure.ResourceManager/src/autorest.md
Labels: Mgmt

#28002 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#28020 {azure-sdk-for-net} Updating a typo
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeLeaseClient.cs
Labels: Storage

#28027 Increment version for identity releases
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/Azure.Identity.BrokeredAuthentication.csproj
Labels: Azure.Identity, auto-merge

#28019 {azure-sdk-for-net} Updating a typo
  sdk/storage/Azure.Storage.Blobs/src/BlobLeaseClient.cs
Labels: Storage

#28012 Storage STG 82 Arch Board Comments
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/api/Azure.Storage.Blobs.ChangeFeed.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEventData.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedModelFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedEventTests.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobCopyFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobCopySourceTagsMode.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetPageRangesAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetPageRangesDiffOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetPageRangesOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/PageRangeItem.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileUploadRangeOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/UploadRangeAsync_MD5.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/UploadRangeAsync_MD5Async.json
Labels: Storage

#28010 Add additional logging to SB extension and a safeguard for host disposed
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
Labels: Service Bus

#27705 Added Tag Indexing for Versions
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/AccessTier.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/FilterBlobItem.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/FilterBlobItem.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/FilterBlobsIncludeItem.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/FilterBlobsAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/Internal/FilterBlobsIncludeItem.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/TaggedBlobItem.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_BlobVersions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_BlobVersionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/FindBlobsByTagAsync_BlobVersions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/FindBlobsByTagAsync_BlobVersionsAsync.json
Labels: Storage

#28031 Update handling for host disposed case
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
Labels: Service Bus

#28035 Regenerate Healthcare events
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceEventBaseProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceEventBaseProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareFhirResourceUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#28039 Add empty model factory to avoid ambiguous calls
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/EventGridModelFactoryTests.cs
Labels: Event Grid

#28038 Increment version for schemaregistry releases
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry, auto-merge

#28034 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
Labels: auto-merge

#28041 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#28045 Remove unused link in mgmt readme
  eng/templates/Azure.ResourceManager.Template/README.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/README.md
  sdk/azurestackhci/Azure.ResourceManager.Hci/README.md
  sdk/cdn/Azure.ResourceManager.Cdn/README.md
  sdk/communication/Azure.ResourceManager.Communication/README.md
  sdk/compute/Azure.ResourceManager.Compute/README.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/README.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/README.md
  sdk/dashboard/Azure.ResourceManager.Dashboard/README.md
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/README.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/README.md
  sdk/dnsresolver/Azure.ResourceManager.DnsResolver/README.md
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/README.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/README.md
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocation/README.md
  sdk/hybridconnectivity/Azure.ResourceManager.HybridConnectivity/README.md
  sdk/insights/Azure.ResourceManager.Insights/README.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/README.md
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearningServices/README.md
  sdk/monitor/Azure.ResourceManager.Monitor/README.md
  sdk/network/Azure.ResourceManager.Network/README.md
  sdk/resources/Azure.ResourceManager.Resources/README.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/README.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/README.md
  sdk/storage/Azure.ResourceManager.Storage/README.md
  sdk/storagepool/Azure.ResourceManager.StoragePool/README.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/README.md
  sdk/websites/Azure.ResourceManager.AppService/README.md
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration, Communication

#28047 [SignalR] Update change log
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/samples/Sample03_IntegrationWithAppGateway.md
Labels: auto-merge

#27999 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, auto-merge

#28005 Smoke test dependency on publishpackage in release pipeline
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/archetype-net-release.yml
Labels: Central-EngSys

#28057 Sync eng/common directory with azure-sdk-tools for PR 3092
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#28040 Sync eng/common directory with azure-sdk-tools for PR 3067
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#28061 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#28065 Fix changelog
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#28064 Increment version for resourcemanager releases
  eng/Directory.Build.Common.props
  eng/Packages.Data.props
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#28071 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#28070 Increment version for resources releases
  eng/Packages.Data.props
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge

#27870 Update DPG QuickStart
  doc/DataPlaneCodeGeneration/Add_ProtocolMethods_In_HLCGenerated_SDK.md
  doc/DataPlaneCodeGeneration/AzureSDKCodeGeneration_DataPlane_Quickstart.md
  doc/DataPlaneCodeGeneration/Create_Samples_Guidance.md
  eng/scripts/automation/GenerateAndBuildLib.ps1
  eng/scripts/automation/Invoke-DataPlaneGenerateSDKPackage.ps1
  eng/templates/Azure.ServiceTemplate.Template/.template.config/template.json
  eng/templates/Azure.ServiceTemplate.Template/src/Azure.ServiceTemplate.Template.csproj
  eng/templates/Azure.ServiceTemplate.Template/src/autorest.md
Labels: LLC

#27559 Add developer driven evolution document
  doc/Data Plane Code Generation/DeveloperDrivenEvolution.md
Labels: LLC

#28081 Refresh all track 2 mgmt. beta sdks
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/azurestackhci/Azure.ResourceManager.Hci/CHANGELOG.md
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/communication/Azure.ResourceManager.Communication/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/CHANGELOG.md
  sdk/dnsresolver/Azure.ResourceManager.DnsResolver/CHANGELOG.md
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocation/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/monitor/Azure.ResourceManager.Monitor/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storagepool/Azure.ResourceManager.StoragePool/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration, Communication

#28056 Increment version for signalr releases
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#28073 Prevent exception when stopping processor due to cancellation token registrations
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
Labels: Service Bus

#27935 Add partner topic support
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridEvent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridEventConverter.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridKeyCredentialPolicy.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridPublisherClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridSasBuilder.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridSharedAccessSignatureCredentialPolicy.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/SendCloudEventsOptions.cs
Labels: Event Grid

#28109 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#28042 Add cloudevent sample
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample11_CloudEvents.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample11_CloudEvents.cs
Labels: Service Bus

#28114 Fix "Deploy to Azure" Button
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/README.md
Labels: SignalR, Client, Docs

#28113 [Event Hubs] Cancellation Token Exception Guards
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Labels: Event Hubs, Client

#28115 Add ability to skip entire release stage for an artifact
  eng/pipelines/templates/stages/archetype-net-release.yml
  sdk/communication/ci.yml
Labels: Communication

#28104 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#28103 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Compute, auto-merge

#28127 Sync eng/common directory with azure-sdk-tools for PR 2963
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#28102 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: auto-merge

#28083 Increment version for extendedlocation releases
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocation/CHANGELOG.md
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocation/src/Azure.ResourceManager.ExtendedLocation.csproj
Labels: auto-merge

#28101 Increment version for keyvault releases
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Azure.ResourceManager.KeyVault.csproj
Labels: KeyVault, auto-merge

#28100 Increment version for websites releases
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Azure.ResourceManager.AppService.csproj
Labels: auto-merge

#28099 Increment version for monitor releases
  sdk/monitor/Azure.ResourceManager.Monitor/CHANGELOG.md
  sdk/monitor/Azure.ResourceManager.Monitor/src/Azure.ResourceManager.Monitor.csproj
Labels: auto-merge

#28085 Increment version for azurestackhci releases
  sdk/azurestackhci/Azure.ResourceManager.Hci/CHANGELOG.md
  sdk/azurestackhci/Azure.ResourceManager.Hci/src/Azure.ResourceManager.Hci.csproj
Labels: auto-merge

#28098 Increment version for storagepool releases
  sdk/storagepool/Azure.ResourceManager.StoragePool/CHANGELOG.md
  sdk/storagepool/Azure.ResourceManager.StoragePool/src/Azure.ResourceManager.StoragePool.csproj
Labels: auto-merge

#28097 Increment version for eventhub releases
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Azure.ResourceManager.EventHubs.csproj
Labels: Event Hubs, auto-merge

#28096 Increment version for connectedvmwarevsphere releases
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/CHANGELOG.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Azure.ResourceManager.ConnectedVMwarevSphere.csproj
Labels: auto-merge

#28086 Increment version for webpubsub releases
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Azure.ResourceManager.WebPubSub.csproj
Labels: auto-merge

#28087 Increment version for servicebus releases
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Azure.ResourceManager.ServiceBus.csproj
Labels: Service Bus, auto-merge

#28095 Increment version for deviceupdate releases
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/CHANGELOG.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/src/Azure.ResourceManager.DeviceUpdate.csproj
Labels: auto-merge

#28094 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: auto-merge

#28093 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: auto-merge

#28090 Increment version for edgeorder releases
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/CHANGELOG.md
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Azure.ResourceManager.EdgeOrder.csproj
Labels: auto-merge

#28089 Increment version for cdn releases
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Azure.ResourceManager.Cdn.csproj
Labels: auto-merge

#28088 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Azure.ResourceManager.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#28129 Increment version for communication releases
  eng/Packages.Data.props
  sdk/communication/Azure.ResourceManager.Communication/CHANGELOG.md
  sdk/communication/Azure.ResourceManager.Communication/src/Azure.ResourceManager.Communication.csproj
Labels: auto-merge, Communication

#28119 Fix event source WriteEventOverload to make it being used
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
Labels: Event Hubs, customer-reported, Community Contribution

#28121 Improve retry docs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsRetryOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample11_CloudEvents.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusRetryOptions.cs
Labels: Service Bus, Event Hubs

#28149 Update Azure Deploy Button
  sdk/servicebus/Microsoft.Azure.ServiceBus/README.md
Labels: Service Bus, Client

#28150 Update Azure Deploy Button
  samples/iothub-connect-to-eventhubs/README.md
Labels: Event Hubs, Client

#28145 Update Azure Deploy Button
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
Labels: Service Bus, Client, Docs, Functions

#28152 Remove empty changelog sections
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
Labels: Tables

#28151 [FormRecognizer] Updated Form Recognizer sanitized properties
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
Labels: Client, Cognitive - Form Recognizer

#28159 Sync eng/common directory with azure-sdk-tools for PR 3123
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#28158 Sync eng/common directory with azure-sdk-tools for PR 3124
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#28128 Minor fix to update comment for TokenCacheRefreshArgs.SuggestedCacheKey
  sdk/identity/Azure.Identity/src/TokenCacheRefreshArgs.cs
Labels: needs-author-feedback, Azure.Identity, customer-reported, Community Contribution

#28163 Add missing condition to template YAML
  sdk/template/ci.yml
Labels: EngSys

#28155 Enabled STG 82 live tests
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Microsoft.Azure.WebJobs.Extensions.Storage.Common.csproj
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#28173 STG82 beta changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#28178 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#28182 Increment version for tables releases
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables, auto-merge

#28181 Update Tables extension readme
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/README.md
Labels: Tables

#28187 add generation1-convenience-client flag
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/autorest.md
  sdk/attestation/Azure.Security.Attestation/src/autorest.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/autorest.md
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/autorest.md
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.Chat/src/autorest.md
  sdk/communication/Azure.Communication.Identity/src/autorest.md
  sdk/communication/Azure.Communication.NetworkTraversal/src/autorest.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/communication/Azure.Communication.ShortCodes/src/autorest.md
  sdk/communication/Azure.Communication.Sms/src/autorest.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/autorest.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
  sdk/iot/Azure.IoT.Hub.Service/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/autorest.md
  sdk/mixedreality/Azure.MixedReality.Authentication/src/autorest.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/autorest.md
  sdk/monitor/Azure.Monitor.Query/src/autorest.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/autorest.md
  sdk/quantum/Azure.Quantum.Jobs/src/autorest.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/autorest.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/autorest.md
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Queues/src/autorest.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/autorest.md
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/autorest.md
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/autorest.md
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/autorest.md
  sdk/tables/Azure.Data.Tables/src/autorest.md
  sdk/testcommon/Azure.Graph.Rbac/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/autorest.md
  sdk/translation/Azure.AI.Translation.Document/src/autorest.md
  tools/generate.cmd
Labels: Storage, KeyVault, Search, Event Grid, IoT, TimeseriesInsights, Tables, Cognitive - Text Analytics, Cognitive - Form Recognizer, Digital Twins, Schema Registry, Communication, Cognitive - Metrics Advisor

#27582 [Search] Add missing property when cloning `SearchOptions`
  sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/SearchTests.cs
Labels: Search

#28191 Fixed bug where BlobChangeFeedEvent.BlobChangeFeedEventData.PreviousI…
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEventData.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/Resources/EventSchemaV3.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/Resources/EventSchemaV4.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/Resources/EventSchemaV5.json
Labels: Storage

#28055 [Event Hubs] Event Batch Enhancements
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/EventDataInstrumentation.cs
  sdk/eventhub/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportEventBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsModelFactory.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpEventBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventHubsModelFactoryTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventDataBatchTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Event Hubs, Client

#27822 Sync eng/common directory with azure-sdk-tools for PR 3000
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#28190 [Event Hubs] Performance Test Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Azure.Messaging.EventHubs.Processor.Perf.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Azure.Messaging.EventHubs.Processor.Perf.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Infrastructure/ProcessingDelayStrategy.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Infrastructure/ProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Infrastructure/ProcessorTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Scenarios/ProcessEventTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Azure.Messaging.EventHubs.Perf.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Azure.Messaging.EventHubs.Perf.slnf
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/BatchPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/BufferedPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventHubsBufferedOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventHubsOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventHubsPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/EventPublishPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/ReadPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/BufferedPublishToPartitionsTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/BufferedPublishWithPartitionKeyTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/BufferedPublishWithRoundRobinTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/PublishBatchesToPartition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Scenarios/ReadFromPartitionWithReceiver.cs
Labels: Event Hubs, Client, pillar-performance

#28196 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
Labels: Storage, auto-merge

#28198 Bumped Change Feed version
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
Labels: Storage

#28203 Add correct markdown for code snippet
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/README.md
Labels: App Configuration

#28049 [Search] Add troubleshooting guide
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/TROUBLESHOOTING.md
Labels: Search

#28202 upgrade autorest.csharp version and remove data-plane flag
  eng/Packages.Data.props
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/autorest.md
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/autorest.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/autorest.md
  sdk/core/Azure.Core.TestFramework/src/autorest.md
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/autorest.md
  sdk/keyvault/samples/sharelink/autorest.md
  sdk/purview/Azure.Analytics.Purview.Account/src/autorest.md
  sdk/purview/Azure.Analytics.Purview.Administration/src/autorest.md
  sdk/purview/Azure.Analytics.Purview.Catalog/src/autorest.md
  sdk/purview/Azure.Analytics.Purview.Scanning/src/autorest.md
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/autorest.md
  sdk/template/Azure.Template/src/autorest.md
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/src/autorest.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/autorest.md
Labels: KeyVault, EngSys, Azure.Core

#28214 Sync eng/common directory with azure-sdk-tools for PR 3145
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#28204 Increment version for grafana releases
  sdk/grafana/Azure.ResourceManager.Grafana/CHANGELOG.md
  sdk/grafana/Azure.ResourceManager.Grafana/src/Azure.ResourceManager.Grafana.csproj
Labels: auto-merge

#28224 Sync eng/common directory with azure-sdk-tools for PR 3153
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#28221 Update ServiceBus documentation to fix message batching
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_HelloWorld.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
Labels: Service Bus

#27984 Generated SDK modules and recorded tests for UltraSSDCapability property in Dedicated Hosts for API version 2022-03-01 Compute #27949
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroupPropertiesAdditionalCapabilities.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroupUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/DedicatedHostTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMTestBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/DedicatedHostTests/TestDedicatedHostOperations.json
Labels: Compute

#28236 Don't save recordings for failed tests
  eng/Packages.Data.props
  sdk/core/Azure.Core.TestFramework/src/Generated/TestProxyRestClient.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/core/Azure.Core.TestFramework/src/testproxy.json
Labels: Azure.Core

#28230 Support receiving messages from processor
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#28251 update vm sample
  sdk/compute/Azure.ResourceManager.Compute/samples/Sample2_ManagingVirtualMachines.md
  sdk/compute/Azure.ResourceManager.Compute/tests/Samples/Sample2_ManagingVirtualMachines.cs
Labels: Compute

#28247 [TA] Disable confidence scores check to enable green builds again
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeSentimentTests.cs
Labels: Cognitive - Text Analytics

#28248 Add Avro perf tests
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.sln
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/perf/Infrastructure/SchemaRegistryAvroSerializerPerfTestBase.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/perf/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.Perf.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/perf/Program.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/perf/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/perf/Scenarios/Deserialize.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/perf/Scenarios/Serialize.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Samples/Sample01_ReadmeSnippets.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTestBase.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroSerializerTestEnvironment.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/perf/README.md
Labels: Service Bus, Schema Registry

#28266 Add mermaid.js diagram for DefaultAzureCredential
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#28269 Replace DefaultAzureCredential auth flow diagram
  sdk/identity/Azure.Identity.BrokeredAuthentication/README.md
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#28270 Log retries as Informational rather than warning
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
Labels: Service Bus

#28066 Support suppressing nested client/internal scopes
  sdk/core/Azure.Core.TestFramework/src/TestActivitySourceListener.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/core/Azure.Core/tests/ClientOptionsTests.cs
  sdk/core/Azure.Core/tests/ClientTestBaseDiagnosticScopeTests.cs
  sdk/core/Azure.Core/tests/RequestActivityPolicyTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/EventDataInstrumentation.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/EntityScopeFactory.cs
Labels: Storage, Service Bus, Event Hubs, Event Grid, Azure.Core

#28275 Sync eng/common directory with azure-sdk-tools for PR 3160
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#28174 Fix issues related to ChangeLog and versions
  sdk/keyvault/Microsoft.Azure.KeyVault.Core/CHANGELOG.md
  sdk/keyvault/Microsoft.Azure.KeyVault.Core/src/Microsoft.Azure.KeyVault.Core.csproj
  sdk/keyvault/Microsoft.Azure.KeyVault.Cryptography/CHANGELOG.md
  sdk/keyvault/Microsoft.Azure.KeyVault.Cryptography/src/Microsoft.Azure.KeyVault.Cryptography.csproj
  sdk/keyvault/Microsoft.Azure.KeyVault.Extensions/CHANGELOG.md
  sdk/keyvault/Microsoft.Azure.KeyVault.Extensions/src/Microsoft.Azure.KeyVault.Extensions.csproj
  sdk/keyvault/Microsoft.Azure.KeyVault.WebKey/CHANGELOG.md
  sdk/keyvault/Microsoft.Azure.KeyVault.WebKey/src/Microsoft.Azure.KeyVault.WebKey.csproj
  sdk/keyvault/Microsoft.Azure.KeyVault/CHANGELOG.md
  sdk/keyvault/Microsoft.Azure.KeyVault/src/Microsoft.Azure.KeyVault.csproj
  sdk/synapse/Microsoft.Azure.Synapse/CHANGELOG.md
  sdk/synapse/Microsoft.Azure.Synapse/src/Microsoft.Azure.Synapse.csproj
Labels: Storage, KeyVault, Central-EngSys

#28278 Added ability to set Change Feed chunk download size
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/api/Azure.Storage.Blobs.ChangeFeed.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedAsyncPageable.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedClient.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedExtensions.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedPageable.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeedFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChunkFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedClientOptions.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChunkTests.cs
Labels: Storage

#28279 Add error code tests
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/GetSchemaForNonexistentSchemaIdReturnsItemNotFoundErrorCode.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/GetSchemaForNonexistentSchemaIdReturnsItemNotFoundErrorCodeAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/GetSchemaPropertiesForNonexistentSchemaReturnsItemNotFoundErrorCode.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/GetSchemaPropertiesForNonexistentSchemaReturnsItemNotFoundErrorCodeAsync.json
Labels: Schema Registry

#28281 Bumped Change Feed version
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
Labels: Storage

#28262 Log the common tables query parameters by default
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClientOptions.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: Tables

#28277 Support binding to SessionId
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerBindingStrategy.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusTriggerStrategyTests.cs
Labels: Service Bus

#28274 Remove SchemaRegistryAvroException
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroException.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
Labels: Schema Registry

#28306 Sync eng/common directory with azure-sdk-tools for PR 3169
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#28307 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Azure.AI.Language.Conversations.csproj
Labels: auto-merge

#28308 Prepare for release
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid

#28137 docs(dpg): update old terminology
  doc/DataPlaneCodeGeneration/Add_ProtocolMethods_In_Gen1_Convenience_Client_Generated_SDK.md
  sdk/core/Azure.Core/tests/DataPlaneGeneratedClientTests.cs
  sdk/core/Azure.Core/tests/TestClients/LowLevelClient/LowLevelClientModels/Pet.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/GlobalSuppressions.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/tests/AccessControlClientLiveTests.cs
Labels: Azure.Core, LLC

#27538 Subclient document
  doc/DataPlaneCodeGeneration/Subclients.md
Labels: LLC

#28311 Fixed Query Arrow tests
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobQuickQueryTests/QueryAsync_ArrowConfiguration.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobQuickQueryTests/QueryAsync_ArrowConfigurationAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/QueryAsync_ArrowConfiguration.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/QueryAsync_ArrowConfigurationAsync.json
Labels: Storage

#27713 [DPG] Add service driven evolution documentation
  doc/Data Plane Code Generation/ServiceDrivenEvolution.md
Labels: LLC

#27726 [Compute] CDRP SDK https://github.com/Azure/azure-rest-api-specs/pull/18351
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiagnosticOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiagnosticOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiagnosticsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiagnosticsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskInspectionOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskInspectionOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskInspectionStorageConfigurationOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/DiskInspectionStorageConfigurationOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IDiagnosticOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IDiagnosticsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IDiskInspectionOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IDiskInspectionStorageConfigurationOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ComputeDiagnosticBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiagnosticProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ErrorDetail.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ErrorResponse.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ErrorResponseException.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ResultStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RunDiskInspectionAsyncOperationResult.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RunDiskInspectionInput.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/StorageConfigurationInput.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/StorageConfigurationResponse.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/Properties/AssemblyInfo.cs
Labels: Compute

#28260 Implement backoff for InsertOverPartitionLimit test
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/EntityBindingLiveTests.cs
Labels: Tables

#28288 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration

#28316 [Fabric Bot] Update Form Recognizer Contacts
  .github/fabricbot.json
Labels: Client, EngSys

#28294 Add ScaledAssetDimensions to Azure Object Anchors
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/api/Azure.MixedReality.ObjectAnchors.Conversion.netstandard2.0.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Customizations/Models/AssetConversionProperties.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/BlobUploadEndpointRestClient.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/IngestionJobRestClient.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/AssetConversionProperties.Serialization.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/AssetConversionProperties.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/ObjectAnchorsConversionModelFactory.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/autorest.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/ObserveExistingAssetConversion.json
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/ObserveExistingAssetConversionAsync.json
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/RunAssetConversion.json
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/SessionRecords/ObjectAnchorsConversionClientLiveTests/RunAssetConversionAsync.json
Labels: auto-merge

#28267 Adding support for retry policy (SupportsRetryAttribute)
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerAttributeBindingProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerBindingWrapper.cs
Labels: Event Hubs
