Repository Azure/azure-sdk-for-net, pull requests merged in 2022-03, with the labels that each got.

#27256 Azure Monitor Exporter - Add public API AddAzureMonitorMetricExporter
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterMetricExtensions.cs
Labels: Monitor - Exporter

#27015 Update naming rules for compute
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ExpandTypesForGetVirtualMachineScaleSets.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ExpandTypesForGetVmScaleSets.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ResourceSkuCosts.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineIPTag.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineIPTag.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineNetworkInterfaceConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineNetworkInterfaceConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachinePublicIPAddressConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachinePublicIPAddressConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineReimageOptions.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineReimageOptions.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetIPTag.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetIPTag.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetNetworkConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetNetworkConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPublicIPAddressConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPublicIPAddressConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateNetworkConfiguration.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateNetworkConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateVmProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateVmProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmListResult.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmListResult.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmProfile.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmReimageOptions.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VmScaleSetConvertToSinglePlacementGroupInput.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VmScaleSetConvertToSinglePlacementGroupInput.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachineScaleSetVMsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachineScaleSetsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachinesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachine.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSet.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
  sdk/compute/Azure.ResourceManager.Compute/tests/Helpers/ResourceDataHelper.cs
Labels: Compute

#27258 [Event Hubs] Publshing Sample Update
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
Labels: Event Hubs, Client, Docs

#27262 Stop the processor when disposing listener
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
Labels: Event Hubs

#26716 Azure.Identity Revising Troubleshooting.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/images/AuthFailedErrorMessageExample.png
Labels: Azure.Identity

#27285 Identity fix header link in TROUBLSHOOTING.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#27276 Sync eng/common directory with azure-sdk-tools for PR 2833
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#27278 update to use common source for operation includes
  eng/Directory.Build.Common.targets
  eng/templates/Azure.ServiceTemplate.Template/src/Azure.ServiceTemplate.Template.csproj
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Azure.Verticals.AgriFood.Farming.csproj
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Azure.AI.AnomalyDetector.csproj
  sdk/attestation/Azure.Security.Attestation/src/Azure.Security.Attestation.csproj
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Azure.AI.Language.Conversations.csproj
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Azure.AI.Language.QuestionAnswering.csproj
  sdk/communication/Azure.Communication.CallingServer/src/Azure.Communication.CallingServer.csproj
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Azure.IoT.DeviceUpdate.csproj
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
  sdk/iot/Azure.IoT.Hub.Service/src/Azure.IoT.Hub.Service.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.MixedReality.Authentication.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
  sdk/personalizer/Azure.AI.Personalizer/src/Azure.AI.Personalizer.csproj
  sdk/purview/Azure.Analytics.Purview.Account/src/Azure.Analytics.Purview.Account.csproj
  sdk/purview/Azure.Analytics.Purview.Administration/src/Azure.Analytics.Purview.Administration.csproj
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Azure.Analytics.Purview.Catalog.csproj
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Azure.Analytics.Purview.Scanning.csproj
  sdk/quantum/Azure.Quantum.Jobs/src/Azure.Quantum.Jobs.csproj
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Azure.Analytics.Synapse.AccessControl.csproj
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Azure.Analytics.Synapse.ManagedPrivateEndpoints.csproj
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Azure.Analytics.Synapse.Monitoring.csproj
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Azure.Analytics.Synapse.Spark.csproj
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/template/Azure.Template/src/Azure.Template.csproj
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/Azure.IoT.TimeSeriesInsights.csproj
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/src/Azure.Media.VideoAnalyzer.Edge.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: Storage, KeyVault, Search, Event Grid, IoT, TimeseriesInsights, EngSys, Azure.Core, Tables, Cognitive - Text Analytics, Cognitive - Form Recognizer, Digital Twins, Schema Registry, Communication, Cognitive - Metrics Advisor

#27284 Add lro enum
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/WaitUntil.cs
Labels: Azure.Core

#27289 Added Change Time parameter to File/Directory Rename, added ability to keep source Change Time on File Start Copy
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/CopyFileSmbInfo.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/CopyableFileSmbProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/RenameAsync_SmbPropertie.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/RenameAsync_SmbPropertieAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/RenameAsync_SmbProperties.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/RenameAsync_SmbPropertiesAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_CopySourceFileChanagedOnError.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_CopySourceFileChanagedOnErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_CopySourceFileSmbPropertiesAll.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/FileClientTests/StartCopyAsync_CopySourceFileSmbPropertiesAllAsync.json
Labels: Storage

#27287 Sync eng/common directory with azure-sdk-tools for PR 2823
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#27288 Add logging of cache size
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/LruCache.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroEventSource.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/EventSourceLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/LruCacheTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTestBase.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/EventSourceLiveTests/UpdatingCacheLogsEvents.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/EventSourceLiveTests/UpdatingCacheLogsEventsAsync.json
Labels: Schema Registry

#27197 [Search] Expose `AliasesRestClient` operations from `SearchindexClient`
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Generated/AliasesRestClient.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListAliasesResult.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListAliasesResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchAlias.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchAlias.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchServiceCounters.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchServiceCounters.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/SearchAlias.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/SearchServiceCounters.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.Aliases.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.cs
  sdk/search/Azure.Search.Documents/src/Models/SearchModelFactory.cs
  sdk/search/Azure.Search.Documents/src/autorest.md
Labels: Search

#27311 Resolve a number of small test issues with Core, Key Vault
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyResolverLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyUtilities.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.projitems
Labels: KeyVault, Azure.Core

#27273 Sync eng/common directory with azure-sdk-tools for PR 2830
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  eng/common/scripts/Cosmos-Emulator.ps1
Labels: EngSys, Central-EngSys

#27308 Allow manual lock renewal from processor and function extension
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusMessageActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusSessionMessageActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerBindingStrategy.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusTriggerStrategyTests.cs
Labels: Service Bus

#27320 [Storage] Remove custom serialization code
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/StorageAccountCreateParameters.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/StorageAccountCreateParameters.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/StorageAccountData.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/StorageAccountUpdateOptions.Serialization.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Models/StorageAccountUpdateOptions.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageAccount.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageAccountData.cs
Labels: Storage, Mgmt

#27327 Update ContentRange docs for StorageDownloadDetails
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadDetails.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileDownloadDetails.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileDownloadDetails.cs
Labels: Storage

#27324 Fixed Storage UriBuilder to be case insensitive for parameters
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobUriBuilderTests.cs
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/UriQueryParamsCollection.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileUriBuilderTests.cs
Labels: Storage

#27323 Make property virtual
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusSessionMessageActions.cs
Labels: Service Bus

#27333 Sync eng/common directory with azure-sdk-tools for PR 2824
  eng/common/scripts/git-diff-changes.ps1
Labels: EngSys, Central-EngSys

#27317 [FormRecognizer] Added default values to DocumentTableCell properties
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentTableCell.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentTableCell.cs
Labels: Client, Cognitive - Form Recognizer

#27340 Cancelling function execution after partition ownership lost
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/IEventProcessor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
Labels: Event Hubs

#27328 [appconfiguration] Fix and re-record tests
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/api/Azure.ResourceManager.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/CreateOrUpdateTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/CreateOrUpdateTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/GetAllTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/GetAllTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/GetIfExistsTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/GetIfExistsTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/GetTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreCollectionTests/GetTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/AddTagTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/AddTagTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/DeleteTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/DeleteTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/GetAvailableLocationsTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/GetAvailableLocationsTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/GetKeysTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/GetKeysTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/GetTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/GetTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/RegenerateKeyTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/RegenerateKeyTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/RemoveTagTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/RemoveTagTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/SetTagTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/SetTagTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/UpdateTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/ConfigurationStoreOperationTests/UpdateTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/CreateOrUpdateTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/CreateOrUpdateTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/GetAllTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/GetAllTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/GetIfExistsTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/GetIfExistsTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/GetTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionCollectionTests/GetTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionOperationTests/DeleteTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionOperationTests/DeleteTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionOperationTests/GetTest.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/SessionRecords/PrivateEndpointConnectionOperationTests/GetTestAsync.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Tests/ConfigurationStoreOperationTests.cs
Labels: App Configuration

#27345 Increment version for dnsresolver releases
  sdk/dnsresolver/Azure.ResourceManager.DnsResolver/CHANGELOG.md
  sdk/dnsresolver/Azure.ResourceManager.DnsResolver/src/Azure.ResourceManager.DnsResolver.csproj
Labels: auto-merge

#27350 Improve WebPubSub README.
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
Labels: auto-merge

#27351 (Azure CXP) fix Typo and adding a link to sample
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobUploadOptions.cs
Labels: Storage

#27342 Add new Media enum values
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/MediaJobErrorCategory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/MediaJobErrorCategoryExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/MediaJobErrorCode.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/MediaJobErrorCodeExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridRestClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaJobErrorCategory.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaJobErrorCode.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#27334 Fix bug blocking DPG and update CoreResponseClassifier constructor to take ReadOnlySpan<ushort>
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/CoreResponseClassifier.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/tests/CoreResponseClassifierTests.cs
  sdk/core/Azure.Core/tests/HttpMessageTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
  sdk/core/Azure.Core/tests/RequestContextTests.cs
Labels: Azure.Core

#27359 Remove RequestOptions from Azure.Core
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ChainingClassifier.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/Azure.Core/src/RequestOptions.cs
  sdk/core/Azure.Core/tests/RequestOptionsTests.cs
Labels: Azure.Core

#27349 Fix SB extension tests
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
Labels: Service Bus

#27343 Increment version for azurestackhci releases
  sdk/azurestackhci/Azure.ResourceManager.Hci/CHANGELOG.md
  sdk/azurestackhci/Azure.ResourceManager.Hci/src/Azure.ResourceManager.Hci.csproj
Labels: auto-merge

#27370 [WebPubSub] Improve README
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/Samples/WebPubSubSample.HelloWorld.cs
Labels: auto-merge

#27378 [Fabric Bot] Remove Test Rules
  .github/fabricbot.json
Labels: Client, EngSys

#27388 STG 81 GA API View Comments
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/api/Azure.Storage.Blobs.ChangeFeed.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedEventData.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobChangeFeedModelFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobOperationResult.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobPropertyChange.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/BlobTagsChange.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Models/ChangeFeedEventPreviousInfo.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedEventTests.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ClientNavigationTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCopyOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#27390 Sync eng/common directory with azure-sdk-tools for PR 2875
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#27392 Add flag to enable running tests with Fiddler
  eng/nunit.runsettings
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/ProxyTransport.cs
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
Labels: Azure.Core

#27403 [WebPubSub] Release 1.2.0
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
Labels: auto-merge

#27270 [Batch] Management Plane v14.2.0 - 2022-01-01
  eng/mgmt/mgmtmetadata/batch_resource-manager.txt
  sdk/batch/Microsoft.Azure.Management.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/BatchAccountOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/BatchAccountOperationsExtensions.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/BatchManagementClient.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/IBatchAccountOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/BatchAccount.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/DetectorResponse.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/DynamicVNetAssignmentScope.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/FixedScaleSettings.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/ImageReference.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/NetworkConfiguration.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/Pool.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/PublicIPAddressConfiguration.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/ResizeOperationStatus.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/SdkInfo_BatchManagementClient.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Microsoft.Azure.Management.Batch.csproj
  sdk/batch/Microsoft.Azure.Management.Batch/src/Properties/AssemblyInfo.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/InMemoryTests/DetectorTests.InMemory.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountCanCreateWithBYOSEnabled.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/CertificateTests/BatchCertificateEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/GetLocationQuotasAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusFilterFamilyNameAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusMaxResultsAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/PoolTests/BatchPoolEndToEndAsync.json
Labels: Batch

#27134 Fix duration property format
  sdk/cdn/Azure.ResourceManager.Cdn/api/Azure.ResourceManager.Cdn.netstandard2.0.cs
  sdk/cdn/Azure.ResourceManager.Cdn/samples/Sample2_ManagingAfdRules.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CacheExpirationActionParameters.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/CacheExpirationActionParameters.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/autorest.md
  sdk/cdn/Azure.ResourceManager.Cdn/tests/Helper/ResourceDataHelper.cs
  sdk/cdn/Azure.ResourceManager.Cdn/tests/Samples/Sample2_ManagingAfdRules.cs
  sdk/cdn/Azure.ResourceManager.Cdn/tests/Scenario/AfdRuleCollectionTests.cs
  sdk/cdn/Azure.ResourceManager.Cdn/tests/Scenario/AfdRuleOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineInstallPatchesParameters.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineInstallPatchesParameters.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/BgpPeerStatus.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/BgpPeerStatus.cs
  sdk/network/Azure.ResourceManager.Network/src/autorest.md
  sdk/resources/Azure.ResourceManager.Resources/api/Azure.ResourceManager.Resources.netstandard2.0.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationJitAccessPolicy.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationJitAccessPolicy.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DeploymentOperationProperties.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DeploymentOperationProperties.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DeploymentPropertiesExtended.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DeploymentPropertiesExtended.cs
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/api/Azure.ResourceManager.Sql.netstandard2.0.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/MaintenanceWindowTimeRange.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/MaintenanceWindowTimeRange.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/RecommendedActionData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/RecommendedActionData.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/autorest.md
  sdk/websites/Azure.ResourceManager.AppService/api/Azure.ResourceManager.AppService.netstandard2.0.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/LogSpecification.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/LogSpecification.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/MetricAvailability.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/MetricAvailability.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/TriggeredJobRun.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/TriggeredJobRun.cs
  sdk/websites/Azure.ResourceManager.AppService/src/autorest.md
Labels: Compute

#27401 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachineScaleSetVMsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachineScaleSetsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSet.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetVm.cs
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/api/Azure.ResourceManager.DesktopVirtualization.netstandard2.0.cs
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/Generated/HostPool.cs
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/Generated/RestOperations/MsixImagesRestOperations.cs
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/RestOperations/VirtualNetworkGatewaysRestOperations.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualNetworkGateway.cs
Labels: Compute

#27398 Updated AOA Changelog for 0.3.0-beta.2 release
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
Labels: auto-merge

#27391 Storage CRC API
  eng/Packages.Data.props
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/src/StorageCrc64NonCryptographicHashAlgorithm.cs
Labels: Storage

#27384 [FormRecognizer] Added minor design changes suggested by the service team
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ManageModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AccountProperties.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AccountProperties.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_CopyModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModelsAsync.cs
Labels: Cognitive - Form Recognizer

#27408 Improve perf of fiddler flag
  sdk/core/Azure.Core.TestFramework/src/ProxyTransport.cs
Labels: Azure.Core

#27420 Fixed bug in Storage OAuth async path
  sdk/storage/Azure.Storage.Common/src/Shared/StorageBearerTokenChallengeAuthorizationPolicy.cs
Labels: Storage

#27191 Sync eng/common directory with azure-sdk-tools for PR 2810
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#27423 [CODEOWNERS] Messaging
  .github/CODEOWNERS
  .github/fabricbot.json
Labels: Client, EngSys

#27426 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#27430 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#27421 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Azure.Verticals.AgriFood.Farming.csproj
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ApplicationDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/AttachmentsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/BoundariesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropVarietiesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/CropsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FarmsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/FieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/HarvestDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ImageProcessingClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthProvidersClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/OAuthTokensClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/PlantingDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/ScenesClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonalFieldsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/SeasonsClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/TillageDataClient.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/WeatherClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Azure.AI.Language.QuestionAnswering.csproj
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Generated/QuestionAnsweringProjectsClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerIdentityServiceClient.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Azure.IoT.DeviceUpdate.csproj
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceManagementClient.cs
  sdk/deviceupdate/Azure.IoT.DeviceUpdate/src/Generated/DeviceUpdateClient.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/MhsmIPRule.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/MhsmIPRule.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Azure.Analytics.Purview.Account.csproj
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Account/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Azure.Analytics.Purview.Administration.csproj
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewAccountClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewCollection.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataPolicyClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataRolesClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewResourceSetRule.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Azure.Analytics.Purview.Catalog.csproj
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCatalogClient.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewCollections.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewEntities.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewGlossaries.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewLineages.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewRelationships.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewTypes.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Azure.Analytics.Purview.Scanning.csproj
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewClassificationRuleClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewDataSourceClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanningServiceClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Azure.Analytics.Synapse.AccessControl.csproj
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleAssignmentsClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleDefinitionsClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/HealthApiClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/WebPubSubServiceClient.cs
Labels: KeyVault

#27431 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#27435 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#27436 [WebPubSub] Remove useless package ref.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
Labels: auto-merge

#27418 Increment version for objectanchors releases
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
Labels: auto-merge

#27449 [Storage][Blobs] SetTagAsync - Fix typo in method description
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
Labels: Storage

#27453 Prepare for release
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus

#27429 Sync eng/common directory with azure-sdk-tools for PR 2889
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#27451 Sync eng/common directory with azure-sdk-tools for PR 2892
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#27422 Revert options bags
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SegmentFactoryTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/SegmentTests.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/AppendBlobAppendBlockOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlockBlobStageBlockOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/PageBlobUploadPagesOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/UpdateClientSideKeyEncryptionKeyOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/src/SpecializedBlobExtensions.ClientSideEncryption.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ModelsTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ProgressHandlingTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileAppendOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileReadOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileReadToOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakePartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileDownloadOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileUploadOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileUploadRangeOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#27457 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#27314 Sync eng/common directory with azure-sdk-tools for PR 2836
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#27459 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#27455 Prepare for release
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#27464 Sync eng/common directory with azure-sdk-tools for PR 2899
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#27458 dropped 'NonCryptographic' from crc class name
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/NonCryptographicHashAlgorithmHasher.cs
  sdk/storage/Azure.Storage.Common/src/StorageCrc64HashAlgorithm.cs
  sdk/storage/Azure.Storage.Common/tests/StorageCrc64NonCryptographicHashAlgorithmTests.cs
Labels: Storage

#27462 Azure Monitor Exporter - Bump OpenTelemetry .NET SDK to 1.2.0-rc3
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/MetricData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/MetricHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/MetricsDataTests.cs
Labels: Monitor - Exporter

#27467 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, auto-merge

#27469 Azure Monitor Exporter - Add MetricHelperTests
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/MetricHelperTests.cs
Labels: Monitor - Exporter

#26248 Add `SignalROptions`
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/api/Microsoft.Azure.WebJobs.Extensions.SignalRService.netstandard2.0.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/IConfigurationExtensions.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/OptionsSetup.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/ServiceManagerStore.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/SignalROptions.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/AzureSignalRClientTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/OptionsSetupFacts.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/ServiceManagerStoreTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/SignalROptionsFacts.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/JobhostEndToEnd.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/NegotiateContextAsyncConverterTest.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/ServerlessHubTest.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/SignalRTriggerBindingProviderTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/StronglyTypedHub/StronglyTypedServerlessHubTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/StronglyTypedHub/TriggerProviderForStronglyTypedHubTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Utils/FakeEndpointUtils.cs
Labels: auto-merge

#27468 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
Labels: auto-merge

#27474 update version for March release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#27473 Fixed etag locking for DownloadStreaming
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
Labels: Storage, auto-merge

#27346 Add subscription-level rule manager
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Primitives/ServiceBusConnectionTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/RuleManager/RuleManagerLiveTests.cs
Labels: Service Bus

#27456 Refactor MSAL wrappers to tale TokenCredentialOptions
  sdk/identity/Azure.Identity.sln
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureApplicationCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ChainedTokenCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientAssertionCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/src/MsalClientBase.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/MsalClientBaseTests.cs
Labels: Azure.Identity

#27479 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#27386 [Event Hubs] Checkpoint Store Abstraction
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Azure.Messaging.EventHubs.Experimental.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobCheckpointStoreInternal.Diagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/BlobCheckpointStoreInternalDiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/Azure.Messaging.EventHubs.Shared.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobMetadataKey.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/StorageManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/InMemoryCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/BlobsCheckpointStoreInternal.Diagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/InMemoryCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/CheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubsScaleMonitor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerAttributeBindingProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/BlobsCheckpointStoreTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsScaleMonitorTests.cs
Labels: Event Hubs, Client

#27482 Prepare for release
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
Labels: Tables

#27486 STG 82 changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#27492 Increment version for tables releases
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables, auto-merge

#27485 Update experimental dependencies
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Event Hubs, Schema Registry

#27494 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#27507 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#27506 Made FileSystemClient.GetPathClient() public
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetPathClient.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileSystemClientTests/GetPathClientAsync.json
Labels: Storage

#27508 [Event Hubs Processor] Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Azure.Messaging.EventHubs.Experimental.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Azure.Messaging.EventHubs.Experimental.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Client

#27497 Prepare for release
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry

#27512 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#27515 Azure Monitor Exporter - Refactor helpers
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/MetricHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
Labels: Monitor - Exporter

#27519 Check ExpiresOn date in live tests
  sdk/communication/Azure.Communication.NetworkTraversal/tests/CommunicationRelayClient/CommunicationRelayClientLiveTests.cs
Labels: Communication

#27523 Fix README
  sdk/communication/Azure.Communication.NetworkTraversal/README.md
Labels: Communication

#27399 Instrument mock operations
  common/ManagementTestShared/Redesign/ManagementRecordedTestBase.cs
  sdk/communication/Azure.Communication.NetworkTraversal/tests/CommunicationRelayClient/CommunicationRelayClientLiveTests.cs
  sdk/core/Azure.Core.TestFramework/src/ClientTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/OperationInterceptor.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateOperationTests.cs
Labels: KeyVault, Azure.Core

#27487 Added Value (variant) Type
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.DateTimeOffsetFlag.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.NullableTemplate.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.PackedDateTimeOffset.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.PackedDateTimeOffsetFlag.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.StraightCastFlag.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.TypeFlag.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.TypeFlags.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.Union.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Value.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/Creation.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/MemoryWatch.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringArrays.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringBoolean.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringByte.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringChar.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDateTime.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDateTimeOffset.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDecimal.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDouble.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringEnum.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringFloat.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringInt.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringLong.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringNull.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringObject.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringSByte.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringShort.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringUInt.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringUShort.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringUlong.cs
Labels: Azure.Core

#27521 Increment version for communication releases
  sdk/communication/Azure.Communication.NetworkTraversal/CHANGELOG.md
  sdk/communication/Azure.Communication.NetworkTraversal/src/Azure.Communication.NetworkTraversal.csproj
Labels: auto-merge, Communication

#27539 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: auto-merge

#27505 Fixed Storage solution build
  sdk/storage/Azure.Storage.sln
Labels: Storage

#27547 Add example of namespace imports
  sdk/template/.template.config/template.json
  sdk/template/Azure.Template/README.md
  sdk/template/Azure.Template/samples/Sample1_HelloWorld.md
  sdk/template/Azure.Template/tests/Samples/MiniSecretClientSamples.HelloWorld.cs
Labels: EngSys

#27545 Sync eng/common directory with azure-sdk-tools for PR 2910
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#27376 Use ResourceIdentifier as key type for UserAssignedIdentities
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/VirtualMachineManagedIdentityTests.cs
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/ManagedServiceIdentity.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/ManagedServiceIdentity.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/ManagedServiceIdentityTest.cs
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountManagedIdentityTests.cs
Labels: Storage, Compute, Mgmt

#27562 [Bot Rules] Update SignalR Service Contacts
  .github/fabricbot.json
Labels: Client, EngSys

#27567 Add Azure Account extension version requirement to Identity README
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#27568 Sync eng/common directory with azure-sdk-tools for PR 2913
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#27563 Update MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus, customer-reported, Community Contribution

#27573 Updated storage swagger to point at main
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#27570 Sync eng/common directory with azure-sdk-tools for PR 2870
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: EngSys, Central-EngSys

#27577 Azure Monitor Exporter - Enable persistent storage for logs and metrics
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorMetricExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorPersistentStorage.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
Labels: Monitor - Exporter

#27569 Sync eng/common directory with azure-sdk-tools for PR 2866
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#27541 Add SourceResourceId optional param to Database API
  eng/mgmt/mgmtmetadata/sql_resource-manager.txt
  sdk/batch/Microsoft.Azure.Management.Batch/AzSdk.RP.props
  sdk/compute/Microsoft.Azure.Management.Compute/AzSdk.RP.props
  sdk/containerregistry/Microsoft.Azure.Management.ContainerRegistry/AzSdk.RP.props
  sdk/cosmosdb/Microsoft.Azure.Management.CosmosDB/AzSdk.RP.props
  sdk/sqlmanagement/Microsoft.Azure.Management.Sql/src/Generated/DatabasesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.Sql/src/Generated/DatabasesOperationsExtensions.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.Sql/src/Generated/IDatabasesOperations.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.Sql/src/Generated/Models/Database.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.Sql/src/Generated/Models/DatabaseUpdate.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.Sql/src/Generated/SdkInfo_SqlManagementClient.cs
  sdk/sqlmanagement/Microsoft.Azure.Management.Sql/src/Microsoft.Azure.Management.Sql.csproj
Labels: Batch, Compute

#26560 [EventHubs]Refresh mgmt sdk
  sdk/eventhub/Azure.ResourceManager.EventHubs/api/Azure.ResourceManager.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/DisasterRecoveryData.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/EventHubNamespace.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Extensions/SubscriptionExtensionClient.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Extensions/SubscriptionExtensions.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/DisasterRecoveryData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/NetworkRuleSetData.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/NetworkRuleSetIPRules.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/NetworkRuleSetIPRules.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/ProvisioningStateDR.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/ProvisioningStateDisasterRecovery.Serialization.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Models/ProvisioningStateDisasterRecovery.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/NetworkRuleSetData.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/autorest.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Helpers/EventHubTestBase.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/DisasterRecoveryTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/EventHubNamespaceTests.cs
Labels: Event Hubs

#27579 Sync eng/common directory with azure-sdk-tools for PR 2901
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#27551 Build snippets
  eng/Directory.Build.Common.props
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/MhsmipRule.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/MhsmipRule.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Samples/Changelog.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample3_BackRestoreResume.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/AccessControlSampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_BackupHelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_RbacHelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample2_RbacScopeAssignment.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample2_SelectiveRestore.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample3_BackRestoreResume.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample3_ImportCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample3_ImportCertificateAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/SampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyReleasePolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/SampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/samples/SampleSnippets.cs
  sdk/keyvault/ci.yml
  sdk/keyvault/samples/Directory.Build.props
Labels: KeyVault

#27596 Sync eng/common directory with azure-sdk-tools for PR 2922
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#27575 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/azurestackhci/Azure.ResourceManager.Hci/src/Generated/Models/ArcExtensionData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/PatchableVirtualMachineScaleSetExtensionData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/PatchableVirtualMachineScaleSetVmExtensionData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineCaptureResult.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineExtensionData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetExtensionData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmExtensionData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/MachineExtensionData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ParameterDefinitionsValue.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/PolicyAssignmentData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/PolicyDefinitionData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/PolicyExemptionData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/PolicySetDefinitionData.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationData.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ApplicationDefinitionData.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/AzureCliScript.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/AzurePowerShellScript.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/PatchableApplicationData.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/TemplateSpecData.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/TemplateSpecVersionData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/RecommendedActionData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/ContinuousWebJobData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/FunctionEnvelopeData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/StackMajorVersion.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/TriggeredWebJobData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/WebJobData.Serialization.cs
Labels: Compute

#27599 Update to BinaryData deserializer to support Any and AnyObject
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/VirtualMachineTestBase.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/perf/DynamicObjectBenchmark.cs
  sdk/core/Azure.Core/src/Serialization/AzureCoreExtensions.cs
  sdk/core/Azure.Core/tests/BinaryDataSerializationTests.cs
  sdk/core/Azure.Core/tests/ModelWithBinaryDataInDictionary.cs
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringDictOfBinaryData.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringDictOfBinaryDataNet461.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringDouble.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringInt.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringString.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/PropertiesDictOfBinaryData.json
  sdk/websites/Azure.ResourceManager.AppService/tests/TestsCase/AppServicePlanOperationsTests.cs
Labels: Azure.Core

#27581 Wrap Avro exceptions and other fixes
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/AvroSerializationException.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeIntoNonCompatibleType.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CannotDeserializeIntoNonCompatibleTypeAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/SerializingToMessageTypeWithoutConstructorThrows.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/SerializingToMessageTypeWithoutConstructorThrowsAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/ThrowsAvroSerializationExceptionWhenDeserializingWithInvalidAvroSchema.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/ThrowsAvroSerializationExceptionWhenDeserializingWithInvalidAvroSchemaAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/ThrowsAvroSerializationExceptionWhenSerializingWithInvalidAvroSchema.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/ThrowsAvroSerializationExceptionWhenSerializingWithInvalidAvroSchemaAsync.json
Labels: Schema Registry

#27641 Include schema name and group name in SchemaProperties
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaProperties.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryModelFactory.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaPropertiesTest.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterNewVersionOfSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterNewVersionOfSchemaAsync.json
Labels: Schema Registry

#27621 [FormRecognizer] Update storage account information in docs
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_BuildCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample5_TrainModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_BuildCustomModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample6_TrainModelWithFormsAndLabels.cs
Labels: Client, Cognitive - Form Recognizer

#27652 Add additional transaction tests
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Service Bus

#27651 [FormRecognizer] Making sure snippets can be compiled
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzePrebuiltDocument.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzePrebuiltRead.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzeWithCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_AnalyzeWithPrebuiltModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_BuildCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ExtractLayout.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_GetAndListOperations.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ManageModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample_ModelCompose.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample10_RecognizeInvoices.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample11_RecognizeIdentityDocuments.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample1_RecognizeFormContent.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample2_RecognizeCustomForms.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample3_RecognizeReceipts.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample4_StronglyTypingARecognizedForm.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample5_TrainModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample6_ManageCustomModels.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample7_CopyCustomModel.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample8_ModelCompose.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample9_RecognizeBusinessCards.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltReadFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithCustomModelFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzeWithPrebuiltModelFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_BuildCustomModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_CopyModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_CreateComposedModelAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_GetAndListOperationsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample11_ComposedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample12_RecognizeBusinessCardsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample13_RecognizeInvoicesFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample14_RecognizeIdentityDocumentsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample1_RecognizeContentFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample3_RecognizeReceiptsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample4_StronglyTypingARecognizedForm.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample6_TrainModelWithFormsAndLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample8_CopyModel.cs
  sdk/formrecognizer/ci.yml
Labels: Client, Cognitive - Form Recognizer

#27665 [MetricsAdvisor] Make sure snippets can be compiled
  sdk/metricsadvisor/ci.yml
Labels: Client, Cognitive - Metrics Advisor

#27670 Sync eng/common directory with azure-sdk-tools for PR 2847
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Import-AzModules.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#27663 Add ServiceBusTransportMetrics
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpUsageMeter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusTransportMetrics.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusTransportMetricsTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusLiveTestBase.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Primitives/ServiceBusConnectionTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Service Bus

#27674 Resolve autorest conflicts for 20220321.2
  eng/Packages.Data.props
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Generated/Extensions/AppConfigurationExtensions.cs
  sdk/azurestackhci/Azure.ResourceManager.Hci/src/Generated/Extensions/HciExtensions.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Extensions/CdnExtensions.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Extensions/CommunicationExtensions.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Extensions/ComputeExtensions.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Extensions/ConnectedVMwarevSphereExtensions.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Extensions/CosmosDBExtensions.cs
  sdk/dashboard/Azure.ResourceManager.Dashboard/src/Generated/Extensions/DashboardExtensions.cs
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/Generated/Extensions/DesktopVirtualizationExtensions.cs
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/src/Generated/Extensions/DeviceUpdateExtensions.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Extensions/EdgeOrderExtensions.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Generated/Extensions/EventHubsExtensions.cs
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocation/src/Generated/Extensions/ExtendedLocationExtensions.cs
  sdk/hybridconnectivity/Azure.ResourceManager.HybridConnectivity/src/Generated/Extensions/HybridConnectivityExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/KeyVaultExtensions.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Extensions/NetworkExtensions.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Extensions/ArmClient.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Custom/ArmClient.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Extensions/ArmClient.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/ResourcesExtensions.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Extensions/ServiceBusExtensions.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Extensions/SqlExtensions.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/Extensions/StorageExtensions.cs
  sdk/storagepool/Azure.ResourceManager.StoragePool/src/Generated/Extensions/StoragePoolExtensions.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Extensions/WebPubSubExtensions.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Extensions/AppServiceExtensions.cs
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration, Communication

#27666 Changelog for Azure.Core release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#27675 [TextAnalytics] Make sure snippets can be compiled
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample11_MultiCategoryClassify.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample9_RecognizeCustomEntities.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_MultiCategoryClassifyConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_RecognizeCustomEntitiesAsync.cs
  sdk/textanalytics/ci.yml
Labels: Cognitive - Text Analytics

#27657 Add sessions example to Service Bus Extension README
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToSessionMessageActions.cs
Labels: Service Bus

#27676 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration, Communication

#27597 Trigger template instead of core for eng/common
  sdk/core/ci.yml
  sdk/template/ci.yml
Labels: EngSys, Azure.Core, Central-EngSys

#27592 Link to Azure Account extension GitHub issue
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#27683 Fix potential schema name collisions in live tests
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateGetSchemaPropertiesRequestForUnknownFormatType.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateGetSchemaPropertiesRequestForUnknownFormatTypeAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateRegisterRequestForUnknownFormatType.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanCreateRegisterRequestForUnknownFormatTypeAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaId.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanGetSchemaIdAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterNewVersionOfSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterNewVersionOfSchemaAsync.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchema.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SessionRecords/SchemaRegistryClientLiveTests/CanRegisterSchemaAsync.json
Labels: Schema Registry

#27686 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/network/Azure.ResourceManager.Network/src/Generated/CustomIPPrefix.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/CustomIPPrefixCollection.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Extensions/NetworkExtensions.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/P2SVpnGateway.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/PublicIPAddress.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/PublicIPAddressCollection.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/PublicIPPrefix.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/PublicIPPrefixCollection.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualWan.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualWanCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Tenant.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/DataMaskingPolicy.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ManagedInstanceDatabaseSchemaTableColumn.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ManagedInstanceDatabaseSchemaTableColumnSensitivityLabel.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ManagedInstanceDatabaseSchemaTableColumnSensitivityLabelCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ServerDatabaseSchemaTableColumn.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ServerDatabaseSchemaTableColumnSensitivityLabel.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ServerDatabaseSchemaTableColumnSensitivityLabelCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/BlobService.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/FileService.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/ImmutabilityPolicy.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/QueueService.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/TableService.cs
Labels: Storage

#27677 Sync eng/common directory with azure-sdk-tools for PR 2928
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#27687 Fix issue with null options and add constructor that omits groupName.
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializerOptions.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/Models/Employee_Unregistered.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeWithSeparateInstances.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/CanSerializeAndDeserializeWithSeparateInstancesAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/SerializingWithoutAutoRegisterThrowsForNonExistentSchema.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/SerializingWithoutAutoRegisterThrowsForNonExistentSchemaAsync.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/SerializingWithoutGroupNameThrows.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SessionRecords/SchemaRegistryAvroObjectSerializerLiveTests/SerializingWithoutGroupNameThrowsAsync.json
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/tests/DatasetClientLiveTests.cs
Labels: Schema Registry

#27690 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration, Communication

#27201 Prepare Key Vault release
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample8_KeyRotation.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRotationLifetimeAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.KeyRotation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyRotationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample8_KeyRotation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample8_KeyRotationAsync.cs
Labels: KeyVault, Do Not Merge

#27716 Increment version for personalizer releases
  sdk/personalizer/Azure.AI.Personalizer/CHANGELOG.md
  sdk/personalizer/Azure.AI.Personalizer/src/Azure.AI.Personalizer.csproj
Labels: auto-merge

#27717 Sync eng/common directory with azure-sdk-tools for PR 2938
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#27700 Move MessageContent into Azure.Core
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Messaging/MessageContent.cs
  sdk/core/Azure.Core/tests/MessageContentTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/SchemaRegistryAvroObjectSerializerLiveTests.cs
Labels: Event Hubs, Azure.Core, Schema Registry

#27708 [FormRecognizer] Enable StartBuildModelSucceedsWithValidPrefix
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartBuildModelSucceedsWithValidPrefix.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentModelAdministrationClientLiveTests/StartBuildModelSucceedsWithValidPrefixAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_1.jpg
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_1.jpg.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_1.jpg.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_2.jpg
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_2.jpg.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_2.jpg.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_3.jpg
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_3.jpg.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_3.jpg.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_4.jpg
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_4.jpg.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_4.jpg.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_6.jpg.labels.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/Form_6.jpg.ocr.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/trainingFiles/subfolder/fields.json
Labels: Client, Cognitive - Form Recognizer

#27721 Fix issue where x5c header is not sent for OnBehalfOfCredential when SendCertificateChain option is set
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/OnBehalfOfCredentialTests.cs
Labels: Azure.Identity

#27550 Sync eng/common directory with azure-sdk-tools for PR 2861
  eng/common/pipelines/templates/steps/credscan.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/get-changedfiles.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
  eng/common/scripts/git-diff-changes.ps1
Labels: EngSys, Central-EngSys

#27714 [Event Hubs] Pluggable Checkpoint Store
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample04_ProcessingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample07_BatchProcessing.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Primitives/BlobCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Primitives/BlobCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample04_ProcessingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample07_BatchProcessingLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_CustomEventProcessor.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PluggableCheckpointStoreEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PluggableCheckpointStoreEventProcessorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample08_CustomEventProcessorLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample08_CustomEventProcessorTests.cs
Labels: Event Hubs, Client, APIChange

#27698 Added Concurrent Append
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeAppendFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/FileSystemRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/AppendMode.Serialization.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/BlobType.Serialization.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathConcurrentAppendHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/ConcurrentAppendResult.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/Internal/AppendMode.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/Internal/BlobType.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/AppendFileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakePartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsyncAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_ContentHash.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_ContentHashAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_CreateIfNotExists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_CreateIfNotExistsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_ProgressReporting.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_ProgressReportingAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsyncAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_Conditions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_ConditionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_ConditionsFail.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_ConditionsFailAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_HttpHeaders.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_HttpHeadersAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_Metadata.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_MetadataAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_PermissionAndUmask.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateAsync_PermissionAndUmaskAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateIfNotExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateIfNotExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateIfNotExistsAsync_Exists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateIfNotExistsAsync_ExistsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateIfNotExistsAsync_NotExists.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/CreateIfNotExistsAsync_NotExistsAsync.json
Labels: Storage

#27742 Fast Path
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeAppendFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathConcurrentAppendHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/ConcurrentAppendResult.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/AppendFileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_FastPath.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/AppendFileClientTests/AppendAsync_FastPathAsync.json
Labels: Storage

#27741 [Service Bus] Enable snippet compilation
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample07_CrudOperations.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample06_Transactions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample07_CrudOperations.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/README.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Samples/Readme.cs
  sdk/servicebus/ci.yml
Labels: Service Bus, Client

#27738 [Event Hubs] Enable snippet compilation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample04_PublishingEventsLiveTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/README.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Samples/ChangeLog.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Samples/Readme.cs
  sdk/eventhub/ci.yml
Labels: Event Hubs, Client

#27740 Sync eng/common directory with azure-sdk-tools for PR 2972
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#27765 [ADT] Update release date in Changelog
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
Labels: Digital Twins

#27760 [GitHub Automation] Communication Rules
  .github/CODEOWNERS
  .github/fabricbot.json
Labels: Client, EngSys

#27766 Feature/adt/update release date
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
Labels: Digital Twins

#27771 Resolve APIView feedback for Key Vault SDK
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample4_DownloadCertificate.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/DownloadCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/DownloadCertificateOptionsTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample4_DownloadCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample4_DownloadCertificateAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/ReleaseKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ReleaseKeyOptionsTests.cs
Labels: KeyVault
