Repository Azure/azure-sdk-for-net, pull requests merged in 2022-10, with the labels that each got.

#31565 Update BlobNameValidationAttribute to allow $web
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/BlobNameValidationAttribute.cs
Labels: Storage

#31585 Reverted GeoRedundantReadMode
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientOptionsTests.cs
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/GeoRedundantReadMode.cs
  sdk/storage/Azure.Storage.Common/src/Shared/GeoRedundantReadPolicy.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageClientOptions.cs
  sdk/storage/Azure.Storage.Common/tests/GeoRedundantReadPolicyTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientOptionsTests.cs
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientOptionsTests.cs
Labels: Storage

#31586 [Event Hubs] Troubleshooting Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsException.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpErrorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Errors/EventHubsExceptionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
Labels: Event Hubs, Client

#31331 Creating an Enum for Events' reason codes.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventWithReasonCodeName.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/PlayCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/PlayFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ReasonCode.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#31584 Re-enabling ignored test AnalyzeHealthcareEntitiesTestWithAssertions
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesTestWithAssertions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesTestWithAssertionsAsync.json
Labels: Cognitive - Text Analytics

#31553 [ServiceBus] Cleanup references to EntityNameHelper
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/DeadLetterQueue/Program.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
Labels: Service Bus, customer-reported, Community Contribution

#31467 Change Labelled Utterance Id to long
  sdk/cognitiveservices/Language.LUIS.Authoring/CHANGELOG.md
  sdk/cognitiveservices/Language.LUIS.Authoring/src/Generated/Models/LabelExampleResponse.cs
  sdk/cognitiveservices/Language.LUIS.Authoring/src/Generated/Models/LabeledUtterance.cs
Labels: customer-reported, Community Contribution

#31589 [Search] Exclude management plane tests from data plane pipeline
  sdk/search/ci.mgmt.yml
  sdk/search/ci.yml
  sdk/search/service.projects
  sdk/search/tests.yml
Labels: Search

#31599 Update Sample05_ReadingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadingEvents.md
Labels: Event Hubs, customer-reported, Community Contribution

#31596 Address API Comments on blob name slash preservation
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientConfiguration.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobUriBuilder.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobUriBuilderTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageExtensions.cs
Labels: Storage

#31600 [Event Hubs] Doc Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample03_EventProcessorHandlers.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
Labels: Event Hubs, Client

#31534 Use correct default ActivityKind
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
Labels: Azure.Core

#31588 [AppConfig] Avoid throwing NullReferenceException
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/SecretReferenceConfigurationSetting.cs
Labels: App Configuration

#31587 add summary to the RepeatabilityHeaders class
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RepeatabilityHeaders.cs
Labels: Communication

#31595 Releasing LUIS.Authoring 3.2.0-preview.5
  sdk/cognitiveservices/Language.LUIS.Authoring/CHANGELOG.md
Labels: customer-reported, Community Contribution

#30841 Files Invalid XML
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/DirectoryItem.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/DirectoryItem.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FileItem.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FileItem.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/HandleItem.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/HandleItem.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ListFilesAndDirectoriesSegmentResponse.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ListFilesAndDirectoriesSegmentResponse.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ListHandlesResponse.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ListHandlesResponse.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/StringEncoded.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/StringEncoded.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/Internal/HandleItem.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/Internal/StringEncoded.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileHandle.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ListFilesAndDirectories_Encoded.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ListFilesAndDirectories_EncodedAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ListFilesAndDirectories_Encoded_ContinutationToken.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ListFilesAndDirectories_Encoded_ContinutationTokenAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ListFilesAndDirectories_Encoded_Prefix.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/DirectoryClientTests/ListFilesAndDirectories_Encoded_PrefixAsync.json
Labels: Storage

#31612 [App Config] Fix test failures
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/SecretReferenceConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SecretReferenceConfigurationSettingTests.cs
Labels: App Configuration

#31558 Creating Play/Recognize canceled events.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayCanceled.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayCanceled.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeCanceled.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeCanceled.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/PlayCanceled.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ReasonCode.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCanceled.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Swagger/2022-04-07.json
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#31511 [Azure.Monitor.Ingestion] Restore Protocol methods to public
  sdk/monitor/Azure.Monitor.Ingestion/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.net461.cs
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.net5.0.cs
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/Generated/LogsIngestionClient.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/LogsIngestionClient.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/autorest.md
  sdk/monitor/Azure.Monitor.Ingestion/tests/MonitorIngestionLiveTest.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputFromArrayAsJsonWithSingleBatchWithGzipAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputFromObjectAsJsonNoBatchingAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputFromObjectAsJsonNoBatchingAsyncAsync.json
  sdk/monitor/ci.yml
Labels: Monitor - Ingestion

#31619 Sync eng/common directory with azure-sdk-tools for PR 4315
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#31621 Increment version for cognitiveservices releases
  sdk/cognitiveservices/Language.LUIS.Authoring/CHANGELOG.md
  sdk/cognitiveservices/Language.LUIS.Authoring/src/Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.csproj
Labels: auto-merge

#31632 Sync eng/common directory with azure-sdk-tools for PR 4311
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#30966 ADLS Gen 2 Append and Flush Lease Operations
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/LeaseAction.Serialization.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/LeaseAction.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathAppendDataHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathFlushDataHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileAppendOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileFlushOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakePartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_InvalidLease.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_InvalidLeaseAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_Acquire.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_AcquireAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_AcquireRelease.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_AcquireReleaseAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_AutoRenew.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_AutoRenewAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_Release.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Lease_ReleaseAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_AcquireRelease.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_AcquireReleaseAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_Aquire.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_AquireAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_AutoRenew.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_AutoRenewAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_Release.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/FlushDataAsync_Lease_ReleaseAsync.json
Labels: Storage

#31639 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: auto-merge, Monitor - Exporter

#31654 [Service Bus] README Updates
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus, Client, Docs

#31662 Increment version for redis releases
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/src/Azure.ResourceManager.Redis.csproj
Labels: auto-merge

#31669 Increment version for kusto releases
  sdk/kusto/Azure.ResourceManager.Kusto/CHANGELOG.md
  sdk/kusto/Azure.ResourceManager.Kusto/src/Azure.ResourceManager.Kusto.csproj
Labels: auto-merge

#31655 [Event Hubs] Processor README Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
Labels: Event Hubs, Client, Docs

#31656 [Event Hubs] Warning message tuning
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
Labels: Event Hubs, Client, Docs

#31659 Add builder method that uses DefaultAzureCredential
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Compatibility/EventGridPublisherClientBuilderExtensions.cs
Labels: Event Grid

#31682 [Event Hubs] October Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#31684 Add default .assets directory to .gitignore
  .gitignore
Labels: Central-EngSys

#31635 [App Configuration] Rename protocol methods
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/autorest.md
  sdk/core/Azure.Core.TestFramework/src/ClientDiagnosticListener.cs
  sdk/core/Azure.Core.TestFramework/tests/ClientTestBaseDiagnosticScopeTests.cs
Labels: App Configuration

#31688 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration, auto-merge

#31686 [Event Hubs] Modernize IoT Hub Sample
  samples/iothub-connect-to-eventhubs/IotHubToEventHubsSample.csproj
  samples/iothub-connect-to-eventhubs/README.md
Labels: Event Hubs, Client

#31689 [Service Bus Extensions] Typo Fix
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
Labels: Service Bus, Client, Functions

#31692 Add partitionKey and transactionPartitionKey bindings
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerBindingStrategy.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusTriggerStrategyTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#31700 Increment version for securitydevops releases
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/CHANGELOG.md
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/src/Azure.ResourceManager.SecurityDevOps.csproj
Labels: auto-merge

#31707 [.Net] Custom token expiration feature GA release updates
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
Labels: Communication, Communication - Identity

#31709 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#31683 [Event Hubs] October Processor Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#31710 Increment version for communication releases
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
Labels: auto-merge, Communication

#31711 Post-release updates for Azure.Communication.Identity
  eng/Packages.Data.props
Labels: Communication - Identity

#31675 3008692 fix siprouting api version
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_SipRoutingClient/ManageSipConfiguration.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_SipRoutingClient/ManageSipConfigurationAsyncAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/AddSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/AddSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/DeleteSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/DeleteSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetFunctionUsingTokenAuthentication.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetFunctionUsingTokenAuthenticationAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipRoutesForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipRoutesForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunksForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunksForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipRoutesForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipRoutesForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipTrunksForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipTrunksForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetFunctionUsingTokenAuthentication.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetFunctionUsingTokenAuthenticationAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetSipTrunkForResourceAsync.json
Labels: Communication

#31652 Sync eng/common directory with azure-sdk-tools for PR 4341
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#31720 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#31721 [Schema Registry] Prepare Release
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry

#31722 [Search] Update changelog for "11.5.0-beta.2" release
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search

#31719 STG 84 GA release prep
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#31725 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#31729 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#31726 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus

#31714 Increment version for reservations releases
  sdk/reservations/Azure.ResourceManager.Reservations/CHANGELOG.md
  sdk/reservations/Azure.ResourceManager.Reservations/src/Azure.ResourceManager.Reservations.csproj
Labels: auto-merge

#31748 [EventHubs] Fix broken tests
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventHubNamespaceTests/AddSetRemoveTag(False).json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventHubNamespaceTests/AddSetRemoveTag(False)Async.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventHubNamespaceTests/AddSetRemoveTag(True).json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventHubNamespaceTests/AddSetRemoveTag(True)Async.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventHubNamespaceTests/AddSetRemoveTag(null).json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/SessionRecords/EventHubNamespaceTests/AddSetRemoveTag(null)Async.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/EventHubClusterTests.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/EventHubNamespaceTests.cs
Labels: Event Hubs

#31723 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Ingestion/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Ingestion/src/Azure.Monitor.Ingestion.csproj
Labels: auto-merge

#31731 Increment version for schemaregistry releases
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry, auto-merge

#31739 OperationContext Update (SDK)
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnected.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnected.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnectionPropertiesInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnectionPropertiesInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallDisconnected.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallDisconnected.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallConnectionProperties.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Swagger/2022-04-07.json
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationTestBase.cs
Labels: Communication

#31740 Add EventGridTrigger samples for batch of events
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/README.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/Samples/CloudEventBatchTriggerFunction.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/Samples/EventGridEventBatchTriggerFunction.cs
Labels: Event Grid

#31755 DefaultAzureCredential disable VisualStudioCodeCredential by default
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
Labels: Azure.Identity

#31759 Address API Comments on Transfer Validation
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/AppendBlobAppendBlockOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/AppendBlobOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadToOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobOpenReadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobUploadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlockBlobOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlockBlobStageBlockOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/PageBlobOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/PageBlobUploadPagesOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/LazyLoadingReadOnlyStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageWriteStream.cs
  sdk/storage/Azure.Storage.Common/tests/LazyLoadingReadOnlyStreamTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/StorageWriteStreamTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileAppendOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileReadOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileReadToOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileUploadOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeOpenReadOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeFileClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakePartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileDownloadOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileOpenReadOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileUploadOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileUploadRangeOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientTransferValidationTests.cs
Labels: Storage

#31762 Sync eng/common directory with azure-sdk-tools for PR 4372
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#31764 [AzureMonitorExporter] add `Activity` Exception demo and test
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Demo/Traces/TraceDemo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemValidationHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/TracesTests.cs
Labels: Monitor - Exporter

#31695 Updating Media Streaming Packet's Contracts.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreaming/MediaStreamingAudioData.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreaming/MediaStreamingAudioDataInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreaming/MediaStreamingFormat.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreaming/MediaStreamingFormatInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreaming/MediaStreamingMetadata.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreaming/MediaStreamingMetadataInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreaming/MediaStreamingPackageParser.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/MediaStreaming/CallAutomationStreamingParserTests.cs
Labels: Communication

#31770 Update autorest.csharp to 3.0.0-beta.20221012.1
  eng/Packages.Data.props
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/QuestionAnsweringAuthoringClientLiveTests.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/Samples/Sample3_CreateAndDeployProject.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/Samples/Sample5_UpdateKnowledgeSources.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/SessionRecords/QuestionAnsweringAuthoringClientLiveTests/DeployProjectAsync.json
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/SessionRecords/QuestionAnsweringAuthoringClientLiveTests/UpdateQnAsAsync.json
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/SessionRecords/QuestionAnsweringAuthoringClientLiveTests/UpdateSourcesAsync.json
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/SessionRecords/QuestionAnsweringAuthoringClientSamples/CreateAndDeploy.json
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/SessionRecords/QuestionAnsweringAuthoringClientSamples/CreateAndDeployAsyncAsync.json
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/SessionRecords/QuestionAnsweringAuthoringClientSamples/KnowledgeSources.json
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/SessionRecords/QuestionAnsweringAuthoringClientSamples/KnowledgeSourcesAsyncAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/src/UpdatePhoneNumberCapabilitiesOperation.cs
Labels: Communication

#31766 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#31773 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#31788 [Identity] Hide dev credential timeout API for 1.8.0 release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredentialOptions.cs
Labels: Azure.Identity

#31782 Fixed bug where DataLakeQueryCsvTextOptions was not properly sending the RecordSeparator
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/QueryAsync_QueryTextConfigurations.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/QueryAsync_QueryTextConfigurationsAsync.json
Labels: Storage

#31795 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#31789 [Identity] Update CHANGELOG.md for 1.9.0-beta.1 release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#31609 Call StopPlayback on TestRecording Dispose in Playback mode
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateExceptionOperationAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateExceptionOperationWaitForCompletion.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateExceptionOperationWaitForCompletionAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateExceptionResponse.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateExceptionResponseAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentArmOperation.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentArmOperationAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentArmResponse.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentArmResponseAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentDefaultSubscription.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentEnumerable.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentEnumerableAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentGetContainer.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentGetOperations.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentPageable.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentPageableAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateInstrumentTopLevelClient.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateStartLroWrapper.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateStartLroWrapperAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateStartSkipWait.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateStartSkipWaitAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateWaitForCompletion.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateWaitForCompletionAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateWaitOverride(Playback).json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/ManagementRecordedTestBaseTests/ValidateWaitOverride(Playback)Async.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedClientTestBaseLiveOnly/ValidateFilename.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedClientTestBaseLiveOnly/ValidateFilenameAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedClientTestBaseRecordAll/ValidateFilename[V0].json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedClientTestBaseRecordAll/ValidateFilename[V0]Async.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedClientTestBaseRecordAll/ValidateFilename[V4].json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedClientTestBaseRecordAll/ValidateFilename[V4]Async.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedTestBaseTests/ThrowsForLowPollingIntervalInPlayback.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedTestBaseTests/ThrowsForLowPollingIntervalInPlaybackAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedTestBaseTests/WaitForCompletionDoesntWaitDuringPlayback.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedTestBaseTests/WaitForCompletionDoesntWaitDuringPlaybackAsync.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedTestBaseTests/WaitForCompletionErrorsArePropagated.json
  sdk/core/Azure.Core.TestFramework/tests/SessionRecords/RecordedTestBaseTests/WaitForCompletionErrorsArePropagatedAsync.json
Labels: Azure.Core.TestFramework

#30866 Modify type casting in instrumentors to support client hierarchy
  sdk/core/Azure.Core.TestFramework/src/ClientTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/ManagementInterceptor.cs
  sdk/core/Azure.Core.TestFramework/src/TaskExtensions.cs
Labels: Azure.Core

#31800 Increment version for storage releases
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
Labels: Storage, auto-merge

#31801 Updated Data Lake changelog and csproj file
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
Labels: Storage

#31797 RejectReason to be optional for Reject
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RejectCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Misc/RepeatabilityHeadersTests.cs
Labels: Communication

#31809 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Azure.AI.Language.QuestionAnswering.csproj
Labels: auto-merge

#31793 Couple of small perf tweaks
  sdk/core/Azure.Core/src/RequestUriBuilder.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageSharedKeyPipelinePolicy.cs
Labels: Storage, Azure.Core

#31819 [Service Bus] Split Resource Manager Tests
  sdk/servicebus/service.projects
Labels: Service Bus, Client

#31802 [Event Hubs] Tune processor ownership docs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Labels: Event Hubs, Client

#31705 Increment version for dataprotection releases
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: auto-merge

#31778 Increment version for elasticsan releases
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/CHANGELOG.md
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Azure.ResourceManager.ElasticSan.csproj
Labels: auto-merge

#31784 [Search] Fix security issue
  sdk/search/Azure.ResourceManager.Search/tests/SessionRecords/SearchServiceResourceTest/CreateQueryKeyAsync.json
  sdk/search/Azure.ResourceManager.Search/tests/SessionRecords/SearchServiceResourceTest/CreateQueryKeyAsyncAsync.json
  sdk/search/Azure.ResourceManager.Search/tests/SessionRecords/SearchServiceResourceTest/DeleteQueryKeyAsync.json
  sdk/search/Azure.ResourceManager.Search/tests/SessionRecords/SearchServiceResourceTest/DeleteQueryKeyAsyncAsync.json
  sdk/search/Azure.ResourceManager.Search/tests/SessionRecords/SearchServiceResourceTest/GetQueryKeysBySearchServiceAsyncTest.json
  sdk/search/Azure.ResourceManager.Search/tests/SessionRecords/SearchServiceResourceTest/GetQueryKeysBySearchServiceAsyncTestAsync.json
  sdk/search/Azure.ResourceManager.Search/tests/Tests/SearchServiceResourceTest.cs
Labels: Search

#31843 Add credential samples
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/TROUBLESHOOTING.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample00_AuthenticateClient.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_SendReceive.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample03_SendReceiveSessions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample13_AdvancedConfiguration.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample00_AuthenticateClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_SendReceive.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample06_Transactions.cs
Labels: Service Bus

#31832 [Billing] Polish the API
  sdk/billing/Azure.ResourceManager.Billing/api/Azure.ResourceManager.Billing.netstandard2.0.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingAccountPaymentMethodResource.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingPaymentMethodCollection.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingPaymentMethodData.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingPaymentMethodLinkCollection.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingPaymentMethodLinkData.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingPaymentMethodLinkResource.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingPaymentMethodResource.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingSubscriptionAliasData.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingSubscriptionData.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/BillingSubscriptionResource.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Extensions/BillingExtensions.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Extensions/TenantResourceExtensionClient.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/AutoRenew.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingAmount.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingAmount.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingPaymentMethodData.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingPaymentMethodLinkData.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionAliasData.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionAutoRenewState.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionData.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionMoveContent.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionMoveContent.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionValidateMoveEligibilityError.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionValidateMoveEligibilityError.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionValidateMoveEligibilityResult.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingSubscriptionValidateMoveEligibilityResult.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/CreatedSubscriptionReseller.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/CreatedSubscriptionReseller.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/PaymentMethodLinksListResult.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/PaymentMethodLinksListResult.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/PaymentMethodProjectionProperties.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/PaymentMethodProjectionProperties.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/PaymentMethodsListResult.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/PaymentMethodsListResult.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/SubscriptionRenewalTermDetails.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/SubscriptionRenewalTermDetails.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/RestOperations/BillingSubscriptionsRestOperations.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/RestOperations/PaymentMethodsRestOperations.cs
  sdk/billing/Azure.ResourceManager.Billing/src/autorest.md
Labels: Mgmt

#31852 Update samples TOC
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md
Labels: Service Bus

#31804 [Azure.Monitor.Ingestion] Separate Monitor Live Test Pipelines
  sdk/monitor/Azure.Monitor.Ingestion/tests.yml
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests.yml
  sdk/monitor/Azure.Monitor.Query/tests.yml
  sdk/monitor/tests.yml
Labels: Monitor - Query, Monitor - Ingestion

#31869 Improve AcceptSession docs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
Labels: Service Bus

#31859 Add ReadOnlySpan<char> signatures to RequestUriBuilder methods
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/RequestUriBuilder.cs
  sdk/core/Azure.Core/tests/RequestUriBuilderTest.cs
Labels: Azure.Core

#31879 Increment version for avs releases
  sdk/avs/Azure.ResourceManager.Avs/CHANGELOG.md
  sdk/avs/Azure.ResourceManager.Avs/src/Azure.ResourceManager.Avs.csproj
Labels: auto-merge

#31864 [Smoke Tests] MSAL Native Interop Fix
  common/SmokeTests/SmokeTest/Program.cs
Labels: Client, EngSys

#31790 NullableResponse<T> and consumption by tables
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/NullableResponseOfT.cs
  sdk/core/Azure.Core/src/ResponseOfT.cs
  sdk/core/Azure.Core/src/Shared/NoBodyResponseOfT.cs
  sdk/core/Azure.Core/src/Shared/NoValueResponseOfT.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/NoValueResponseOfTTests.cs
  sdk/core/Azure.Core/tests/NullableResponseOfTTests.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/GetEntityIfExistsContainsValueWhenExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(CosmosTable)/GetEntityIfExistsContainsValueWhenExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityIfExistsContainsValueWhenExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityIfExistsContainsValueWhenExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/GetEntityIfExistsContainsValueWhenExists.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/GetEntityIfExistsContainsValueWhenExistsAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Azure.Core, Tables

#31803 [Azure.Monitor.Ingestion] update Bicep file for live testing
  sdk/monitor/Azure.Monitor.Ingestion/tests/MonitorIngestionLiveTest.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/MonitorIngestionTestEnvironment.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ConcurrencyMultiThreadAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ConcurrencySingleThread.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/EmptyData.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/EmptyDataAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/NullInput.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/NullInputAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/NullStream.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/NullStreamAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputFromArrayAsJsonWithSingleBatchWithGzip.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputFromArrayAsJsonWithSingleBatchWithGzipAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputFromObjectAsJsonNoBatchingAsync.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputFromObjectAsJsonNoBatchingAsyncAsync.json
  sdk/monitor/test-resources.bicep
Labels: Client, Monitor - Ingestion

#31886 Fix BlobBaseClient.SetNameFields - trim slashes according to ClientCo…
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobUriBuilderTests.cs
Labels: Storage

#31909 Fixing name for RecordingStateChanged event
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingStateChanged.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingStateChanged.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecordingStateChanged.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#31916 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
Labels: Storage, auto-merge

#31867 [Identity] Update documentation
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#31918 Updated Blob changelog and csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
Labels: Storage

#31899 Sync eng/common directory with azure-sdk-tools for PR 3790
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31608 Integration/Live tests using `Azure.Monitor.Query`
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/Azure.Monitor.OpenTelemetry.Exporter.E2E.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/AzureMonitorLogExporterLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/AzureMonitorTraceExporterLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/SessionRecords/AzureMonitorTraceExporterLiveTests/VerifyTraceExporter.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/SessionRecords/AzureMonitorTraceExporterLiveTests/VerifyTraceExporterAsync.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/TestFramework/AzureMonitorTestEnvironment.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/TestFramework/MonitorExporterTestEnvironment.cs
Labels: Monitor - Exporter

#31936 Increment version for containerregistry releases
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Azure.ResourceManager.ContainerRegistry.csproj
Labels: auto-merge

#31930 [EventHubs] Fix the broken tests that are related to the upgrade of ManagedServiceIdentities
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Helpers/EventHubTestBase.cs
Labels: Event Hubs

#31926 [ContainerRegistry] Fix RegistryUri of ContainerRegistryImportSource
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/api/Azure.ResourceManager.ContainerRegistry.netstandard2.0.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Azure.ResourceManager.ContainerRegistry.csproj
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Custom/Models/ContainerRegistryImportSource.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryImportSource.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryImportSource.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/autorest.md
Labels: Do Not Merge

#31928 Increment version for managedserviceidentity releases
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/CHANGELOG.md
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Azure.ResourceManager.ManagedServiceIdentities.csproj
Labels: auto-merge

#31898 [Azure.Monitor.Ingestion] Add Ingestion Perf Tests
  sdk/monitor/Azure.Monitor.Ingestion/perf/Azure.Monitor.Ingestion.Perf.csproj
  sdk/monitor/Azure.Monitor.Ingestion/perf/BatchUploadTest.cs
  sdk/monitor/Azure.Monitor.Ingestion/perf/IngestionClientTest.cs
  sdk/monitor/Azure.Monitor.Ingestion/perf/SingleUploadTest.cs
  sdk/monitor/perf-resources.bicep
  sdk/monitor/perf.yml
Labels: Client, Monitor - Ingestion

#31165 Event Hubs Trigger Checkpoint Context
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/TriggerPartitionContext.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHostPartition.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerBindingStrategy.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
Labels: Event Hubs, customer-reported, Community Contribution

#31893 [Text Analytics] Add support for healthcare features
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DocumentType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/FhirVersion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareDocumentType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/HealthcareTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/WellKnownFhirVersion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareDocumentType.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityRelation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.Legacy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/WellKnownFhirVersion.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithFhirVersionTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithFhirVersionTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithConfidenceScoreTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithConfidenceScoreTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAnalyzeHealthcareEntitiesWithFhirVersion.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAnalyzeHealthcareEntitiesWithFhirVersionAsync.json
Labels: Cognitive - Text Analytics

#31948 Sync eng/common directory with azure-sdk-tools for PR 4486
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: EngSys, Central-EngSys

#31942 Increment version for containerregistry releases
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Azure.ResourceManager.ContainerRegistry.csproj
Labels: auto-merge

#31953 Sync eng/common directory with azure-sdk-tools for PR 4480
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#31925 Some minor changes to keep consistent with the updated specs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/api/Azure.ResourceManager.AppComplianceAutomation.netstandard2.0.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Extensions/AppComplianceAutomationExtensions.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Extensions/TenantResourceExtensionClient.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/Assessment.Serialization.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/Assessment.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/DownloadType.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/IsPass.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/OverviewStatus.Serialization.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/OverviewStatus.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/SnapshotDownloadContent.Serialization.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/Models/SnapshotDownloadContent.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/ReportResourceCollection.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/RestOperations/OperationResultsRestOperations.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/RestOperations/ReportRestOperations.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/RestOperations/ReportsRestOperations.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/RestOperations/SnapshotRestOperations.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Generated/SnapshotResource.cs
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/autorest.md
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/tests/Azure.ResourceManager.AppComplianceAutomation.Tests.csproj
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/tests/SessionRecords/ReportTests/ReportCRUD().json
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/tests/SessionRecords/ReportTests/ReportCRUD()Async.json
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/tests/SessionRecords/SnapshotTests/GetSnapshot().json
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/tests/SessionRecords/SnapshotTests/GetSnapshot()Async.json
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/tests/Tests/SnapshotTests.cs
Labels: Mgmt

#31958 Increment version for storagesync releases
  sdk/storagesync/Azure.ResourceManager.StorageSync/CHANGELOG.md
  sdk/storagesync/Azure.ResourceManager.StorageSync/src/Azure.ResourceManager.StorageSync.csproj
Labels: auto-merge

#31956 Prepare release for Azure.ResourceManager.LoadTestService
  sdk/loadtestservice/Azure.ResourceManager.LoadTestService/CHANGELOG.md
Labels: Mgmt

#31913 Refactor logic of deserialization of CommunicationIdentifierModel
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallingServer/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.MediaComposition/CHANGELOG.md
  sdk/communication/Shared/src/CommunicationIdentifierSerializer.cs
Labels: Communication, Communication - Identity

#31973 STG 85/86 changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#31972 [AzureMonitorExporter] delete old demo project.
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tracing.Customization/ActivityEnrichingProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tracing.Customization/ActivityFilteringProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tracing.Customization/Azure.Monitor.OpenTelemetry.Exporter.Tracing.Customization.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tracing.Customization/Program.cs
Labels: Monitor - Exporter

#31980 [Text Analytics] Re-enable and re-record AAD tests, disable statistics tests
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeSentimentTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/DetectLanguageTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractKeyPhrasesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeCustomEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeLinkedEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeSentimentTests/AnalyzeSentimentWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeSentimentTests/AnalyzeSentimentWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/DetectLanguageTests/DetectLanguageWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/DetectLanguageTests/DetectLanguageWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeCustomEntitiesTests/RecognizeCustomEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeCustomEntitiesTests/RecognizeCustomEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/RecognizeLinkedEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithAADTestAsync.json
Labels: Cognitive - Text Analytics

#31991 Updating CODEOWNERS for communication identity and common
  .github/CODEOWNERS
Labels: Communication, Communication - Identity

#31981 Undid change in StorageSharedKeyPipelinePolicy that broke requests th…
  sdk/storage/Azure.Storage.Common/src/Shared/StorageSharedKeyPipelinePolicy.cs
Labels: Storage

#32002 Share hash fix
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#31985 Set CloudEvent content type in sample
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample11_CloudEvents.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample11_CloudEvents.cs
Labels: Service Bus

#31977 update changelog for next version
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#31957 Set parent activity instead of using links when processing single message/event
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
Labels: Service Bus, Event Hubs, Azure.Core

#31187 Make RetryPolicy public
  sdk/core/Azure.Core.TestFramework/src/SyncAsyncPolicyTestBase.cs
  sdk/core/Azure.Core/Azure.Core.sln
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/Diagnostics/AzureCoreEventSource.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/DefaultRetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/ProcessingContext.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/ClientOptionsTests.cs
  sdk/core/Azure.Core/tests/ExponentialPolicyTest.cs
  sdk/core/Azure.Core/tests/FixedRetryPolicyTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/samples/ConfigurationSamples.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
  sdk/core/Azure.Core/tests/samples/PollyPolicy.cs
Labels: Azure.Core

#32005 [Event Hubs] Live test fixes
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventGenerator.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
Labels: Event Hubs, Client, test-reliability

#32012 Increment version for storage releases
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage, auto-merge

#31993 Fixing Repatability headers + Tests + Bugs for HMAC in custom headers
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CustomHMACAuthenticationPolicy.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AddParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/HangUpOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RedirectCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RejectCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RemoveParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RepeatabilityHeaders.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Azure.Communication.CallAutomation.Tests.csproj
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/CallRecordingAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Misc/RepeatabilityHeadersTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
Labels: Communication

#32011 Update CHANGELOG.md to release StorageSync v1.1.0
  sdk/storagesync/Azure.ResourceManager.StorageSync/CHANGELOG.md
  sdk/storagesync/Azure.ResourceManager.StorageSync/src/Azure.ResourceManager.StorageSync.csproj
Labels: customer-reported, Community Contribution

#32016 Increment version for appcomplianceautomation releases
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/CHANGELOG.md
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Azure.ResourceManager.AppComplianceAutomation.csproj
Labels: auto-merge

#32021 Increment version for hybriddatamanager releases
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/CHANGELOG.md
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/src/Azure.ResourceManager.HybridData.csproj
Labels: auto-merge

#32007 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.Developer.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Azure.Developer.LoadTesting.csproj
Labels: auto-merge

#32014 Bumped Share version
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#31927 Split test pipelines for EventGrid
  sdk/eventgrid/ci.mgmt.yml
  sdk/eventgrid/ci.yml
  sdk/eventgrid/service.projects
  sdk/eventgrid/tests.yml
Labels: Event Grid

#32036 Sync eng/common directory with azure-sdk-tools for PR 4504
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31983 Adding repeatable headers to StartRecording
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecordingOptions.cs
Labels: Communication

#32047 [AzureMonitorExporter] Update OpenTelemetry dependency
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#32035 Polish the README and CHANGELOG files (first batch)
  .vscode/cspell.json
  eng/templates/Azure.ResourceManager.Template/CHANGELOG.md
  eng/templates/Azure.ResourceManager.Template/README.md
  eng/templates/README.md
  sdk/automation/Azure.ResourceManager.Automation/CHANGELOG.md
  sdk/automation/Azure.ResourceManager.Automation/README.md
  sdk/billing/Azure.ResourceManager.Billing/CHANGELOG.md
  sdk/billing/Azure.ResourceManager.Billing/README.md
  sdk/consumption/Azure.ResourceManager.Consumption/CHANGELOG.md
  sdk/consumption/Azure.ResourceManager.Consumption/README.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/README.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/README.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/README.md
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/CHANGELOG.md
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/README.md
  sdk/dns/Azure.ResourceManager.Dns/CHANGELOG.md
  sdk/dns/Azure.ResourceManager.Dns/README.md
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/CHANGELOG.md
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/README.md
  sdk/eventgrid/Azure.ResourceManager.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.ResourceManager.EventGrid/README.md
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/CHANGELOG.md
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/README.md
  sdk/privatedns/Azure.ResourceManager.PrivateDns/CHANGELOG.md
  sdk/privatedns/Azure.ResourceManager.PrivateDns/README.md
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/README.md
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/README.md
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/README.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/CHANGELOG.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/README.md
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/README.md
  sdk/storage/README.md
  sdk/storagesync/Azure.ResourceManager.StorageSync/CHANGELOG.md
  sdk/storagesync/Azure.ResourceManager.StorageSync/README.md
Labels: Storage, Event Grid

#32053 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: auto-merge

#32044 [Messaging] Clarify batch references to buffers
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusMessageBatch.cs
Labels: Service Bus, Event Hubs, Client

#32019 Fix storage shared key pipeline policy sort
  sdk/storage/Azure.Storage.Common/src/Shared/StorageSharedKeyPipelinePolicy.cs
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyPipelinePolicyTests.cs
Labels: Storage

#32052 Attempt to drain receiver before closing
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Service Bus

#32039 Add Parse/TryParse methods to ResourceIdentifier
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/perf/ResourceIdentifierBenchmark.cs
  sdk/core/Azure.Core/src/ResourceIdentifier.cs
  sdk/core/Azure.Core/tests/ResourceIdentifierTests.cs
Labels: Azure.Core

#32066 Fix sharelink Key Vault sample
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: KeyVault

#32023 [Text Analytics] Add support for extractive summarization
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryResultCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationSortingCriteria.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ExtractiveSummarizationTaskParameters.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SummarySentencesOrder.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LegacyServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/ServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummarySentence.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummarySentenceCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummarySentencesOrder.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationExtractSummary.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationExtractSummaryAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithRankOrderTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithRankOrderTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsModelFactoryTests.cs
Labels: Cognitive - Text Analytics

#31949 fix error messages with AADSTS and az login
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
Labels: Azure.Identity

#32050 Deleting non-working live tests + more
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/FileSource.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecordingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Azure.Communication.CallAutomation.Tests.csproj
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/CallRecordingAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/ContentDownloadLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/DeleteRecordingLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallIdempotencyTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallIdempotencyTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToPSTNGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToPSTNGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallWithMediaStreaming.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallWithMediaStreamingAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserAndAcsUserFromAnOngoingCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserAndAcsUserFromAnOngoingCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserFromAnOngoingCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserFromAnOngoingCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/StartAGroupCallAndHangUpForEveryoneTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/StartAGroupCallAndHangUpForEveryoneTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/TransferACallFromOneUserToAnotherUserTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionLiveTests/TransferACallFromOneUserToAnotherUserTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallMediaLiveTests/PlayAudio.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallMediaLiveTests/PlayAudioAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallMediaLiveTests/RecognizeDtmf.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallMediaLiveTests/RecognizeDtmfAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadata.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataRange.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataRangeAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataWithRedirection.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataWithRedirectionAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadata_404.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadata_404Async.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecording.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecording404.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecording404Async.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecordingAsync.json
Labels: Communication

#32049 Sync eng/common directory with azure-sdk-tools for PR 4527
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#32072 [AzureMonitorExporter] Support Histogram Min/Max
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/MetricDataPoint.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Demo/Metrics/MetricDemo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/MetricsTests.cs
Labels: Monitor - Exporter

#32080 Sync eng/common directory with azure-sdk-tools for PR 4543
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#32086 [WebPubSub]Release a stable version for the fixed bug
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: auto-merge

#32069 Fix tracing test
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubApplicationInsightsTests.cs
Labels: Event Hubs
