Repository Azure/azure-sdk-for-net, pull requests merged in 2022-08, with the labels that each got.

#29814 Consolidate SystemAssignedServiceIdentity into ManagedServiceIdentity
  eng/ApiListing.exclude-attributes.txt
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/api/Azure.ResourceManager.ConnectedVMwarevSphere.netstandard2.0.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Custom/HybridIdentityMetadataData.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Custom/Models/HybridIdentityMetadataData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Custom/Models/VirtualMachineData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Custom/Models/VirtualMachinePatch.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Custom/Models/VirtualMachinePatch.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Custom/VirtualMachineData.cs
  sdk/core/Azure.Core/src/Shared/PropertyReferenceTypeAttribute.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/DataFactoryManagementTestBase.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/CreateOrUpdate.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/CreateOrUpdateAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/Delete.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/DeleteAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/Exist.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/ExistAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/Get.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/GetAll.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/GetAllAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/DataFactoryDatasetResourceTests/GetAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/CreateOrUpdate.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/CreateOrUpdateAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/Delete.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/DeleteAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/Exist.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/ExistAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/Get.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/GetAll.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/GetAllAsync.json
  sdk/datafactory/Azure.ResourceManager.DataFactory/tests/SessionRecords/LinkedServiceResourceTests/GetAsync.json
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/api/Azure.ResourceManager.ExtendedLocations.netstandard2.0.cs
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/src/Customization/Models/CustomLocationPatch.Serialization.cs
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/src/Customization/Models/CustomLocationPatch.cs
  sdk/iotcentral/Azure.ResourceManager.IotCentral/api/Azure.ResourceManager.IotCentral.netstandard2.0.cs
  sdk/iotcentral/Azure.ResourceManager.IotCentral/src/Generated/IotCentralAppData.cs
  sdk/iotcentral/Azure.ResourceManager.IotCentral/src/Generated/Models/IotCentralAppData.Serialization.cs
  sdk/iotcentral/Azure.ResourceManager.IotCentral/src/Generated/Models/IotCentralAppPatch.Serialization.cs
  sdk/iotcentral/Azure.ResourceManager.IotCentral/src/Generated/Models/IotCentralAppPatch.cs
  sdk/iotcentral/Azure.ResourceManager.IotCentral/src/autorest.md
  sdk/iotcentral/Azure.ResourceManager.IotCentral/tests/Tests/IotCentralAppOperationsTests.cs
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/ManagedServiceIdentity.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/SystemAssignedServiceIdentity.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/SystemAssignedServiceIdentityType.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Generated/Models/SystemAssignedServiceIdentity.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Custom/Models/PolicyAssignmentData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Custom/PolicyAssignmentData.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Shared/ManagedServiceIdentityTypeV3Converter.cs
  sdk/resourcemanager/Azure.ResourceManager/src/autorest.md
  sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/PolicyAssignmentCollectionTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/SessionRecords/PolicyAssignmentCollectionTests/TestManagedIdentity().json
  sdk/resourcemanager/Azure.ResourceManager/tests/SessionRecords/PolicyAssignmentCollectionTests/TestManagedIdentity()Async.json
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/PolicyAssignmentIdentityTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/PropertyReferenceTypeTests.cs
  sdk/sqlvirtualmachine/Azure.ResourceManager.SqlVirtualMachine/api/Azure.ResourceManager.SqlVirtualMachine.netstandard2.0.cs
  sdk/sqlvirtualmachine/Azure.ResourceManager.SqlVirtualMachine/src/Custom/Models/SqlVirtualMachineData.Serialization.cs
  sdk/sqlvirtualmachine/Azure.ResourceManager.SqlVirtualMachine/src/Custom/SqlVirtualMachineData.cs
Labels: Azure.Core

#30160 Api feedback hashing
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Options/PartitionedTransferOptions.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientConfiguration.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadToOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobOpenReadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/DownloadTransferValidationOptions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ContentHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/LazyLoadingReadOnlyStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageWriteStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/TransferValidationOptionsExtensions.cs
  sdk/storage/Azure.Storage.Common/src/StorageChecksumAlgorithm.cs
  sdk/storage/Azure.Storage.Common/src/TransferValidationOptions.cs
  sdk/storage/Azure.Storage.Common/src/UploadTransferValidationOptions.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Options/PartitionedTransferOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/samples/Sample02_Auth.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientConfiguration.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeFileClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileUploadRangeOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientConfiguration.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareErrors.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientTransferValidationTests.cs
Labels: Storage

#30104 Fileshare perf refactor
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Infrastructure/FileTest.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Infrastructure/ServiceTest.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Infrastructure/ShareTest.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Options/FileTransferOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Options/IShareClientOptionsProvider.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Scenarios/DownloadFile.cs
  sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Scenarios/UploadFile.cs
Labels: Storage

#30242 [ContainerInstance] Address self-review comments
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/api/Azure.ResourceManager.ContainerInstance.netstandard2.0.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/ContainerGroupData.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/ContainerGroupResource.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Extensions/ContainerInstanceExtensions.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/AutoGeneratedDomainNameLabelScope.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/AzureFileVolume.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/AzureFileVolume.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerEvent.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupData.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupIPAddress.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupIPAddress.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupInstanceView.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupInstanceView.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupPort.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupPort.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerHttpGet.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerHttpGet.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerHttpGetScheme.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstance.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstance.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceCapabilities.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceCapabilities.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceCapabilitiesListResult.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceCapabilitiesListResult.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceLogs.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceLogs.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceSupportedCapabilities.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceSupportedCapabilities.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceView.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceView.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceVolumeMount.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceVolumeMount.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerProbe.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerProbe.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/GpuResourceInfo.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/GpuResourceInfo.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/InitContainerDefinitionContent.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/InitContainerDefinitionContent.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/LogAnalytics.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/LogAnalytics.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ResourceLimits.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ResourceLimits.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ResourceRequests.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ResourceRequests.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/Scheme.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/RestOperations/ContainersRestOperations.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/RestOperations/LocationRestOperations.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/autorest.md
Labels: Mgmt

#30225 Add additional topic and sessions samples
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_HelloWorld.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample03_SendReceiveSessions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample02_MessageSettlement.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample03_SendReceiveSessions.cs
Labels: Service Bus

#30250 [Event Hubs] Troubleshooting Guide Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs, Client, Docs

#30222 Add healthcare support for batch actions
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.Legacy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithCancellation.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithCancellationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesTestWithAssertions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesTestWithAssertionsAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAnalyzeHealthcareEntities.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAnalyzeHealthcareEntitiesAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsModelFactoryTests.cs
Labels: Cognitive - Text Analytics

#30257 Increment version for hdinsight releases
  sdk/hdinsight/Microsoft.Azure.HDInsight.Job/CHANGELOG.md
  sdk/hdinsight/Microsoft.Azure.HDInsight.Job/src/Microsoft.Azure.HDInsight.Job.csproj
Labels: auto-merge

#30275 [Search] Update changelog
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search

#30256 Support cancelling AnalyzeActionsOperation
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LegacyServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/ServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/ExtensionMethods.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/RequestComparer.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/Legacy/OperationsMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/OperationsMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithCancellation.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchWithCancellationAsync.json
Labels: Cognitive - Text Analytics

#30221 Sync eng/common directory with azure-sdk-tools for PR 3765
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#30278 [ACR] Enable snippet compilation
  sdk/containerregistry/Azure.Containers.ContainerRegistry/README.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/samples/Sample02a_DeleteImages.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/samples/Sample02b_DeleteImagesAsync.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/Samples/Sample02_DeleteImages.cs
  sdk/containerregistry/ci.yml
Labels: auto-merge

#30255 Respect timeout when no cancellation token passed to OpenAmqpObject
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample03_SendReceiveSessions.cs
Labels: Service Bus

#30279 Add tracing for batch functions
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticProperty.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Constants.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#30282 Do not record fix for playback
  sdk/core/Azure.Core.TestFramework/src/ProxyTransport.cs
Labels: Azure.Core

#29997 fix minutesToExpire bug
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_helpers.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubGenerateUriTests.cs
Labels: auto-merge

#30283 Add assertions for receiver identifiers created from processor
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
Labels: Service Bus

#30269 Fortifying live tests
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ImmutableStorageWithVersioningTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Common.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueListenerTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/AzureStorageEndToEndTests.cs
Labels: Storage

#30293 Small changes to accommodate feedbacks
  sdk/communication/Azure.Communication.CallingServer/README.md
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/samples/Sample1_CreateCall.md
  sdk/communication/Azure.Communication.CallingServer/samples/Sample1_CreateCallAsync.md
  sdk/communication/Azure.Communication.CallingServer/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallAutomationClientOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallConnectionProperties.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/ServerCallingModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallMedia/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/CallRecordingTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/ContentDownloadTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/DeleteRecordingTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallingServerClient/CallingServerTestBase.cs
Labels: Communication

#30298 ServiceBus: Fix typo in sample link
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
Labels: Service Bus, Client, Docs

#30299 Improve deadletter sample
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample02_MessageSettlement.cs
Labels: Service Bus

#30300 Add note about message scheduling and Time To Live
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_HelloWorld.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
Labels: Service Bus

#30302 Sync eng/common directory with azure-sdk-tools for PR 3826
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#30201 Support additional dotnet test filter statements in matrix
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Central-EngSys

#30202 [Purview Share] Add Samples to README.md
  sdk/purview/Azure.Analytics.Purview.Share/README.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Azure.Analytics.Purview.Share.Tests.csproj
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample01_CreateSentShare.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample01_CreateSentShare.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample02_AddAnAssetToASentShare.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample02_AddAnAssetToASentShare.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample03_SendInvitation.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample03_SendInvitation.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample04_ViewSentShareInvitations.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample04_ViewSentShareInvitations.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample05_ViewReceivedInvitations.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample05_ViewReceivedInvitations.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample06_CreateAReceivedShare.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample06_CreateAReceivedShare.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample07_ViewAcceptedShares.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample07_ViewAcceptedShares.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample08_GetReceivedAssets.cs
  sdk/purview/Azure.Analytics.Purview.Share/tests/Samples/Sample08_GetReceivedAssets.md
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/AddAnAssetToASentShareSample/AddAnAssetToASentShareAsync.json
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/CreateAReceivedShareSample/CreateAReceivedShareAsync.json
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/CreateSentShare/CreateSentShareSampleAsync.json
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/GetReceivedAssetsSample/GetReceivedSharesAsync.json
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/SendInvitationSample/SendInvitationAsync.json
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/ViewAcceptedSharesSample/ViewAcceptedSharesAsync.json
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/ViewReceivedInvitationsSample/ViewReceivedInvitationsAsync.json
  sdk/purview/Azure.Analytics.Purview.Share/tests/SessionRecords/ViewSentShareInvitationsSample/ViewSentShareInvitationsAsync.json
  sdk/purview/ci.yml
Labels: customer-reported, Community Contribution

#30313 Event Hubs: Fix Troubleshooting Guide ToC
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs, Client, Docs

#30315 Do not close session when closing rule manager link if using single session
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRuleManager.cs
Labels: Service Bus

#30301 [FormRecognizer] Flattened DocumentModelDetails
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BuildModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyModelOperation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelOperationDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelSummary.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/DocumentAnalysisRestClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentModel.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentModelSummary.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/GetOperationResponse.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/GetOperationResponse.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/GetOperationResponse.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#30316 [Search] Enable national cloud support for Azure Search SDK
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/SearchAudience.cs
  sdk/search/Azure.Search.Documents/src/SearchClientOptions.cs
  sdk/search/Azure.Search.Documents/src/Utilities/Constants.cs
  sdk/search/Azure.Search.Documents/tests/SearchClientTests.cs
Labels: Search

#30327 Update TA autorest.md to correct swaggers
  sdk/textanalytics/Azure.AI.TextAnalytics.Legacy.Shared/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/MicrosoftCognitiveLanguageServiceTextAnalysisAnalyzeBatchCancelJobHeaders.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/MicrosoftCognitiveLanguageServiceTextAnalysisAnalyzeBatchSubmitJobHeaders.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/MicrosoftCognitiveLanguageServiceTextAnalysisRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/MicrosoftCognitiveLanguageServiceTextAnalysisRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
Labels: Cognitive - Text Analytics

#30331 resolve arch board comments for batch
  sdk/batch/Azure.ResourceManager.Batch/api/Azure.ResourceManager.Batch.netstandard2.0.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Extensions/BatchExtensions.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchNetworkConfiguration.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchNetworkConfiguration.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchPublicIPAddressConfiguration.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchPublicIPAddressConfiguration.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/LocationRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/autorest.md
Labels: Batch

#30358 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Storage, Event Grid, Tables, Communication, Cognitive - Metrics Advisor

#30296 Releasing 1.1.0-beta.1
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
Labels: auto-merge

#30307 Excluded tests that should not be included in virtualized test pipeline
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/storage/platform-matrix-virtualized.json
  sdk/storage/tests.virtualized.yml
Labels: Storage

#30328 [Search] Update changelog
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search

#30370 [Event Hubs] Fix enumerable send
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/MigrationGuideSnippetsLiveTests.cs
Labels: Event Hubs, Client

#30372 Sync eng/common directory with azure-sdk-tools for PR 3860
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30214 Resolving Error Checks for AzurePowerShellCredential Fall Back
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialLiveTests.cs
Labels: Azure.Identity, customer-reported, Community Contribution

#30391 [Event Hubs] Release Prep + Partition Key Tests
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpProducerTests.cs
Labels: Event Hubs, Client

#30390 Preparing Azure.Identity for 1.6.1 patch release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#30396 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, auto-merge

#30400 Fix issue related to receiver/sender caching
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessagingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/MessagingProviderTests.cs
Labels: Service Bus

#30405 remove options bag not in previous API from perf
  sdk/storage/Azure.Storage.Files.DataLake/perf/Azure.Storage.Files.DataLake.Perf/Scenarios/Read.cs
Labels: Storage

#30403 [FormRecognizer] Updated CHANGELOG and version number
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/MigrationGuide.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
Labels: Client, Cognitive - Form Recognizer

#30378 Feedback Update 2
  sdk/communication/Azure.Communication.CallingServer/CHANGELOG.md
  sdk/communication/Azure.Communication.CallingServer/README.md
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/samples/README.md
  sdk/communication/Azure.Communication.CallingServer/samples/Sample1_CreateCall.md
  sdk/communication/Azure.Communication.CallingServer/samples/Sample1_CreateCallAsync.md
  sdk/communication/Azure.Communication.CallingServer/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallAutomationClientOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AcsEventType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallConnected.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallDisconnected.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallTransferAccepted.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallTransferFailed.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ServerCallingModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallLocator.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallSource.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/AcsEventType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/AddParticipantsFailed.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/AddParticipantsSucceeded.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallAutomationEventBase.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallConnected.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallDisconnected.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallTransferAccepted.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallTransferFailed.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallingServerEventBase.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/EventParser.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/ParticipantsUpdated.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/FileSource.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/ServerCallingModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/autorest.md
  sdk/communication/Azure.Communication.CallingServer/tests.yml
  sdk/communication/Azure.Communication.CallingServer/tests/CallAutomationClient/CallAutomationTestBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallMedia/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/CallRecordingTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/ContentDownloadTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/DeleteRecordingTests.cs
Labels: Communication

#30373 overloading EventParser.Parse method and adding EventParser.ParseMany…
  sdk/communication/Azure.Communication.CallingServer/README.md
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/EventParser.cs
Labels: Communication

#30387 [ContainerInstance] Add tests
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/api/Azure.ResourceManager.ContainerInstance.netstandard2.0.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/ContainerGroupData.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerGroupData.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceContainer.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/Models/ContainerInstanceContainer.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/autorest.md
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/ContainerInstanceManagementTestBase.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/Scenario/ContainerGroupCollectionTests.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/Scenario/ContainerGroupOperationTests.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/CreateOrUpdate().json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/CreateOrUpdate()Async.json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/Get().json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/Get()Async.json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/List().json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/List()Async.json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/ListBySubscription().json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupCollectionTests/ListBySubscription()Async.json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupOperationTests/Delete().json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupOperationTests/Delete()Async.json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupOperationTests/Get().json
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/tests/SessionRecords/ContainerGroupOperationTests/Get()Async.json
Labels: Mgmt

#30394 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#30416 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#30415 Increment version for resourcemanager releases
  eng/Packages.Data.props
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#30417 [Event Hubs] Processor Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#30421 Increment version for resources releases
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge

#30422 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#30424 [Azure.Communication.JobRouter] Uncomment links
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/README.md
Labels: Communication

#30429 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer, auto-merge

#30425 [Azure.Communication.CallAutomation] Add Channel Affinity to Recording API
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ContentRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AcsEventType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/ChannelAffinityInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/ChannelAffinityInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CollectTones.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CollectTones.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/DtmfOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/DtmfOptionsInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingAudioChannelTypeDto.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingConfigurationDto.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingConfigurationDto.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingContentTypeDto.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingTransportTypeDto.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/PlayResultEvent.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeInputType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeOptionsInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/StartCallRecordingRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/StartCallRecordingRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/AddParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/ChannelAffinity.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/ChannelAffinityInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/DtmfOptionsInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/RecognizeOptionsInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/RecognizeRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/StartRecordingOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/CallRecordingTests.cs
Labels: Communication

#30432 Adding MSAL token caching support to ManagedIdentityCredential
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockManagedIdentityClient.cs
Labels: Azure.Identity

#30437 Identity update changelogs for 1.7.0-beta.1 release
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#30438 Increment version for identity releases
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/Azure.Identity.BrokeredAuthentication.csproj
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#30452 Prepare for release
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs

#30450 [ACS-Rooms] Added release date to rooms change log
  sdk/communication/Azure.Communication.Rooms/CHANGELOG.md
  sdk/communication/Azure.Communication.Rooms/README.md
  sdk/communication/Azure.Communication.Rooms/src/Azure.Communication.Rooms.csproj
Labels: Communication

#30430 Additional samples
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_HelloWorld.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample03_SendReceiveSessions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample04_Processor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample06_Transactions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample07_CrudOperations.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample08_Interop.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample09_Extensibility.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample10_ClaimCheck.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample11_CloudEvents.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample12_ManagingRules.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample13_AdvancedConfiguration.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample14_AMQPMessage.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample01_HelloWorld.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample13_AdvancedConfiguration.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample14_AMQPMessage.cs
Labels: Service Bus

#30458 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: auto-merge

#30456 Increment version for confidentialledger releases
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
Labels: auto-merge

#30455 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, auto-merge

#30457 Increment version for communication releases
  sdk/communication/Azure.Communication.Rooms/CHANGELOG.md
  sdk/communication/Azure.Communication.Rooms/src/Azure.Communication.Rooms.csproj
Labels: auto-merge, Communication

#30453 Removed storage dependency on FxCopAnalyzers reference and NUnit in Storage AesGcm Tests when upgrading to VS2022 17.3
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/Azure.Storage.Common.AesGcm.Tests.csproj
  sdk/storage/Directory.Build.props
Labels: Storage

#30451 Filtered out tests that do not apply to virtualized storage accounts
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/platform-matrix-virtualized.json
Labels: Storage

#30460 Clean up IsClosed usage in AMQP layer
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
Labels: Service Bus

#30473 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#30478 [Communication-Common] fix CommunicationIdentifier equality operator override
  sdk/communication/Azure.Communication.Common/src/CommunicationIdentifier.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierTest.cs
Labels: Communication

#30479 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
Labels: Service Bus

#30484 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#30459 [ContainerRegistry] Add tests
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/api/Azure.ResourceManager.ContainerRegistry.netstandard2.0.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/ContainerRegistryTaskData.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/ContainerRegistryTaskRunData.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryCredentials.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryCredentials.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryDockerBuildContent.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryDockerBuildContent.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryEncodedTaskRunContent.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryEncodedTaskRunContent.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryFileTaskRunContent.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryFileTaskRunContent.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryRunContent.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryRunContent.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryTaskData.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryTaskPatch.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryTaskRunContent.Serialization.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryTaskRunContent.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/Models/ContainerRegistryTaskRunPatch.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/autorest.md
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/ContainerRegistryManagementTestBase.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/Scenario/ContainerRegistryTests.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/CheckNameAvailability().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/CheckNameAvailability()Async.json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryAgentPool().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryAgentPool()Async.json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryCoreScenario().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryCoreScenario()Async.json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryPrivateLinkResources().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryPrivateLinkResources()Async.json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryReplication().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryReplication()Async.json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistrySystemData().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistrySystemData()Async.json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryTask().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryTask()Async.json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryWebhook().json
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/tests/SessionRecords/ContainerRegistryTests/ContainerRegistryWebhook()Async.json
Labels: Mgmt

#30477 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#30483 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#30490 Increment version for containerregistry releases
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Azure.ResourceManager.ContainerRegistry.csproj
Labels: auto-merge

#30469 Fixed bug where PathItem.ETag was being deserialized incorrectly
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/Path.Serialization.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Models/Path.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
Labels: Storage

#30488 Prerelease beta release for TA
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics

#30470 [Search] Add Search GA 11.4.0 features
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/TROUBLESHOOTING.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexerClient.cs
  sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs
  sdk/search/Azure.Search.Documents/src/SearchAudience.cs
  sdk/search/Azure.Search.Documents/src/SearchClient.cs
  sdk/search/Azure.Search.Documents/src/SearchClientOptions.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/SearchTests.cs
  sdk/search/Azure.Search.Documents/tests/SearchClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
  sdk/search/Azure.Search.Documents/tests/SearchIndexerClientTests.cs
Labels: Search

#30482 Add missing TOC entries and fix casing
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample01_HelloWorld.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample02_MessageSettlement.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample03_SendReceiveSessions.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample04_Processor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample12_ManagingRules.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample13_AdvancedConfiguration.md
Labels: Service Bus

#30497 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#29641 Attach Statsbeat [Part1] - Set up
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterHelperExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/Statsbeat.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/StatsbeatHelper.cs
Labels: Monitor - Exporter

#30419 Fixed error code typo
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/BlobErrorCode.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobErrorCode.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
Labels: Storage

#29957 Split test dependencies across test jobs.
  eng/Directory.Build.Common.targets
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/dependency.tests.yml
  eng/scripts/splittestdependencies/Generate-Dependency-Test-References.ps1
  eng/scripts/splittestdependencies/README.md
  eng/scripts/splittestdependencies/assets/test-split-workflow.png
  eng/scripts/splittestdependencies/generate-dependency-functions.ps1
  eng/scripts/splittestdependencies/tests/Generate-Dependency-Test-References-Tests.ps1
  eng/scripts/splittestdependencies/tests/expectOutputs/1-1.xml
  eng/scripts/splittestdependencies/tests/expectOutputs/1-2.xml
  eng/scripts/splittestdependencies/tests/expectOutputs/2-1.xml
  eng/scripts/splittestdependencies/tests/expectOutputs/expect-matrix-integration.json
  eng/scripts/splittestdependencies/tests/expectOutputs/expect-matrix1.json
  eng/scripts/splittestdependencies/tests/expectOutputs/expect-matrix2.json
  eng/scripts/splittestdependencies/tests/inputs/empty_projects.txt
  eng/scripts/splittestdependencies/tests/inputs/platform-matrix1.json
  eng/scripts/splittestdependencies/tests/inputs/platform_2_include_agents.json
  eng/scripts/splittestdependencies/tests/inputs/projects.txt
  eng/scripts/splittestdependencies/tests/inputs/sync-platform-matrix.json
  eng/service.proj
  sdk/core/ci.yml
  sdk/core/tests.yml
Labels: Azure.Core

#30247 List Blobs with Prefix, Delimiter, and Versioning
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/ListBlobsHierarchySegmentAsync_VersionPrefixDelimiter.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/ListBlobsHierarchySegmentAsync_VersionPrefixDelimiterAsync.json
Labels: Storage

#30487 update eventParser, added tests
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/EventParser.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#30514 Disable the test splitting as there is restore issue
  sdk/core/ci.yml
Labels: Azure.Core

#30515 Changing names to callconnectionproperties for all names to avoid confusion
  sdk/communication/Azure.Communication.CallingServer/README.md
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/samples/Sample1_CreateCall.md
  sdk/communication/Azure.Communication.CallingServer/samples/Sample1_CreateCallAsync.md
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/AnswerCallResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CreateCallResult.cs
Labels: Communication

#30517 Enable the test splitting for core
  eng/pipelines/templates/steps/dependency.tests.yml
  sdk/core/ci.yml
  sdk/core/tests.yml
Labels: Azure.Core

#30519 Sync eng/common directory with azure-sdk-tools for PR 3945
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#29824 EventGrid Trigger execution failed in azure portal
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridExtensionConfigProvider.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/JobhostEndToEnd.cs
Labels: Event Grid

#30542 [Azure.Communication.CallingServer] Fix content routes
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ContentRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallConnectionPropertiesDtoInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallConnectionPropertiesDtoInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
Labels: Communication

#30540 add more coverage to BinaryData serialization tests
  sdk/core/Azure.Core/tests/BinaryDataSerializationTests.cs
  sdk/core/Azure.Core/tests/ModelWithBinaryData.cs
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringDouble.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringFalse.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringNull.json
  sdk/core/Azure.Core/tests/TestData/BinaryData/JsonFormattedStringTrue.json
Labels: Azure.Core

#29780 added live tests with session records for calling server
  sdk/communication/Azure.Communication.CallingServer/tests.yml
  sdk/communication/Azure.Communication.CallingServer/tests/CallAutomationClient/CallAutomationClientLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallAutomationClientLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallAutomationClientTestEnvironment.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallAutomationTestBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToPSTNGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToPSTNGetCallAndHangUpCallTestAsync.json
Labels: Communication

#30308 Azure.ResourceManager.Network Sample optimization.
  sdk/network/Azure.ResourceManager.Network/samples/Sample1_ManagingVirtualNetworks.md
  sdk/network/Azure.ResourceManager.Network/tests/Samples/Sample1_ManagingVirtualNetworks.cs
  sdk/network/Azure.ResourceManager.Network/tests/Samples/Sample2_ManagingNetworkInterfaces.cs
Labels: customer-reported, Community Contribution

#29638 Regen for supporting interim status in lro
  eng/Packages.Data.props
  sdk/storage/Azure.ResourceManager.Storage/api/Azure.ResourceManager.Storage.netstandard2.0.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/LongRunningOperation/StorageAccountRestoreBlobRangesOperation.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageAccountResource.cs
  sdk/storage/Azure.ResourceManager.Storage/src/autorest.md
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/BlobContainerTests.cs
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration, Communication

#30529 Updating ModelFactory and ConnectionProperties to handle null list properly
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallConnectionProperties.cs
Labels: Communication

#30518 [Search] Fix readme for 11.4.0 release
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/src/autorest.md
Labels: Search

#30571 make sure the `AsyncPageableInterceptor` could support polymorphism
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/AsyncPageableInterceptor.cs
Labels: Azure.Core

#30574 Bump test dependency versions and switch to package reference for GA packages
  eng/Packages.Data.props
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Azure.ResourceManager.AppConfiguration.Tests.csproj
  sdk/compute/Azure.ResourceManager.Compute/tests/Azure.ResourceManager.Compute.Tests.csproj
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/Azure.ResourceManager.CosmosDB.Tests.csproj
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Azure.ResourceManager.EventHubs.Tests.csproj
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Azure.ResourceManager.KeyVault.Tests.csproj
  sdk/resourcemanager/Azure.ResourceManager/tests/Azure.ResourceManager.Tests.csproj
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Azure.ResourceManager.ServiceBus.Tests.csproj
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Azure.ResourceManager.Sql.Tests.csproj
  sdk/storage/Azure.ResourceManager.Storage/tests/Azure.ResourceManager.Storage.Tests.csproj
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/tests/Azure.ResourceManager.WebPubSub.Tests.csproj
Labels: Storage, Service Bus, KeyVault, Event Hubs, Compute, App Configuration

#30584 Prepare release Batch 5 RPs (2)
  sdk/datashare/Azure.ResourceManager.DataShare/CHANGELOG.md
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/CHANGELOG.md
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/CHANGELOG.md
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/CHANGELOG.md
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/CHANGELOG.md
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/IotConnectorData.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/IotFhirDestinationData.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/IotMappingProperties.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/OperationResultsDescription.cs
  sdk/kusto/Azure.ResourceManager.Kusto/CHANGELOG.md
  sdk/kusto/Azure.ResourceManager.Kusto/api/Azure.ResourceManager.Kusto.netstandard2.0.cs
  sdk/kusto/Azure.ResourceManager.Kusto/src/Generated/Models/EventHubDataFormat.cs
  sdk/kusto/Azure.ResourceManager.Kusto/src/Generated/Models/IotHubDataFormat.cs
  sdk/kusto/Azure.ResourceManager.Kusto/src/autorest.md
Labels: Digital Twins

#30580 Increment version for resourcemanager releases
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#30591 Increment version for changeanalysis releases
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/CHANGELOG.md
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/src/Azure.ResourceManager.ChangeAnalysis.csproj
Labels: auto-merge

#30589 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#30590 Increment version for automation releases
  sdk/automation/Azure.ResourceManager.Automation/CHANGELOG.md
  sdk/automation/Azure.ResourceManager.Automation/src/Azure.ResourceManager.Automation.csproj
Labels: auto-merge

#30592 Increment version for avs releases
  sdk/avs/Azure.ResourceManager.Avs/CHANGELOG.md
  sdk/avs/Azure.ResourceManager.Avs/src/Azure.ResourceManager.Avs.csproj
Labels: auto-merge

#30594 Increment version for databoxedge releases
  sdk/databoxedge/Azure.ResourceManager.DataBoxEdge/CHANGELOG.md
  sdk/databoxedge/Azure.ResourceManager.DataBoxEdge/src/Azure.ResourceManager.DataBoxEdge.csproj
Labels: auto-merge

#30604 Increment version for peering releases
  sdk/peering/Azure.ResourceManager.Peering/CHANGELOG.md
  sdk/peering/Azure.ResourceManager.Peering/src/Azure.ResourceManager.Peering.csproj
Labels: auto-merge

#30602 Increment version for kusto releases
  sdk/kusto/Azure.ResourceManager.Kusto/CHANGELOG.md
  sdk/kusto/Azure.ResourceManager.Kusto/src/Azure.ResourceManager.Kusto.csproj
Labels: auto-merge

#30603 Increment version for datashare releases
  sdk/datashare/Azure.ResourceManager.DataShare/CHANGELOG.md
  sdk/datashare/Azure.ResourceManager.DataShare/src/Azure.ResourceManager.DataShare.csproj
Labels: auto-merge

#30600 Increment version for mixedreality releases
  sdk/mixedreality/Azure.ResourceManager.MixedReality/CHANGELOG.md
  sdk/mixedreality/Azure.ResourceManager.MixedReality/src/Azure.ResourceManager.MixedReality.csproj
Labels: auto-merge

#30599 Increment version for labservices releases
  sdk/labservices/Azure.ResourceManager.LabServices/CHANGELOG.md
  sdk/labservices/Azure.ResourceManager.LabServices/src/Azure.ResourceManager.LabServices.csproj
Labels: auto-merge

#30598 Increment version for marketplace releases
  sdk/marketplace/Azure.ResourceManager.Marketplace/CHANGELOG.md
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Azure.ResourceManager.Marketplace.csproj
Labels: auto-merge

#30597 Increment version for frontdoor releases
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/CHANGELOG.md
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/src/Azure.ResourceManager.FrontDoor.csproj
Labels: auto-merge

#30596 Increment version for netapp releases
  sdk/netapp/Azure.ResourceManager.NetApp/CHANGELOG.md
  sdk/netapp/Azure.ResourceManager.NetApp/src/Azure.ResourceManager.NetApp.csproj
Labels: auto-merge

#30605 Increment version for orbital releases
  sdk/orbital/Azure.ResourceManager.Orbital/CHANGELOG.md
  sdk/orbital/Azure.ResourceManager.Orbital/src/Azure.ResourceManager.Orbital.csproj
Labels: auto-merge

#30606 Increment version for healthcareapis releases
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/CHANGELOG.md
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Azure.ResourceManager.HealthcareApis.csproj
Labels: auto-merge

#30607 Increment version for resourcegraph releases
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/CHANGELOG.md
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/src/Azure.ResourceManager.ResourceGraph.csproj
Labels: auto-merge

#30611 Increment version for servicefabricmanagedclusters releases
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Azure.ResourceManager.ServiceFabricManagedClusters.csproj
Labels: auto-merge

#30609 Increment version for storagesync releases
  sdk/storagesync/Azure.ResourceManager.StorageSync/CHANGELOG.md
  sdk/storagesync/Azure.ResourceManager.StorageSync/src/Azure.ResourceManager.StorageSync.csproj
Labels: auto-merge

#30608 Increment version for trafficmanager releases
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/CHANGELOG.md
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Azure.ResourceManager.TrafficManager.csproj
Labels: auto-merge

#30613 Increment version for subscription releases
  sdk/subscription/Azure.ResourceManager.Subscription/CHANGELOG.md
  sdk/subscription/Azure.ResourceManager.Subscription/src/Azure.ResourceManager.Subscription.csproj
Labels: auto-merge

#30612 Increment version for digitaltwins releases
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/CHANGELOG.md
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/src/Azure.ResourceManager.DigitalTwins.csproj
Labels: Digital Twins, auto-merge

#30610 Increment version for purview releases
  sdk/purview/Azure.ResourceManager.Purview/CHANGELOG.md
  sdk/purview/Azure.ResourceManager.Purview/src/Azure.ResourceManager.Purview.csproj
Labels: auto-merge

#30305 [Service Bus] Caching AMQP messages within AmqpMessageBatch
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/EntityScopeFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConverterTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpMessageBatchTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpReceiverTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpSenderTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestUtilities.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageBatchTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
Labels: Service Bus

#30435 Adding CallRecording live tests.
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
  sdk/communication/Azure.Communication.CallingServer/tests/Azure.Communication.CallingServer.Tests.csproj
  sdk/communication/Azure.Communication.CallingServer/tests/CallMedia/CallMediaLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/CallRecordingLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/ContentDownloadLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/DeleteRecordingLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallAutomationClientLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallMediaLiveTests/PlayAudio.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallMediaLiveTests/PlayAudioAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallRecordingLiveTests/RecordingOperations.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallRecordingLiveTests/RecordingOperationsAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadata.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataRange.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataRangeAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataWithRedirection.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadataWithRedirectionAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadata_404.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/ContentDownloadLiveTests/DownloadMetadata_404Async.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecording.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecording404.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecording404Async.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/DeleteRecordingLiveTests/DeleteRecordingAsync.json
Labels: Communication

#30643 [AzureMonitorExporter] improve eventsource test
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzureMonitorExporterEventSourceTests.cs
Labels: Monitor - Exporter

#30629 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Batch, Compute

#30625 Added test for Performance Plus and Bursting enabled time.
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/DiskRPScenarioTests/Disk_CRUD_PerformancePlusDiskWithBursting.json
Labels: Compute

#30637 Update XML docs for ManagedIdentityCredential GetToken methods
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
Labels: Azure.Identity

#30621 Client-side encryption metadata deserialization case-insensitive
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/EncryptionDataSerializer.cs
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#30657 Feature/call automation unit tests
  sdk/communication/Azure.Communication.CallingServer/tests/CallAutomationClient/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/CallRecordingTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallAutomationTestBase.cs
Labels: Communication

#30626 Making the Json Converter generic
  sdk/communication/Azure.Communication.CallingServer/src/Converters/EquatableEnumJsonConverter.cs
  sdk/communication/Azure.Communication.CallingServer/src/Converters/RecordingStateJsonConverter.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallRecordingStateChanged.cs
Labels: Communication

#30663 Adding Recognize events.
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AcsCallParticipantInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AcsCallParticipantInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AcsEventType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantsResponseInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AddParticipantsResponseInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallConnectionPropertiesInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallConnectionPropertiesInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallSourceInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CallSourceInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CollectTonesResult.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CollectTonesResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/GetParticipantsResponseInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/GetParticipantsResponseInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingConfigurationDtoInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingConfigurationDtoInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingConfigurationInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MediaStreamingConfigurationInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognitionType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeCompleted.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/RecognizeFailed.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ServerCallingRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/AcsCallParticipantInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallConnectionProperties.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallConnectionPropertiesInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallParticipant.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/CallSourceInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/CollectTonesResult.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/RecognitionType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/Events/RecognizeFailed.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreamingAudioChannelType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreamingConfiguration.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreamingConfigurationInternal.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreamingContentType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreamingTransportType.cs
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
  sdk/communication/Azure.Communication.CallingServer/tests/CallAutomationClient/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#30665 removing options in service methods
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/AddParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/RemoveParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/TransferCallToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
Labels: Communication

#30669 Updated Blobs and Queues changelog
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#30683 Remove two more resource manager triggers
  sdk/eventhub/ci.mgmt.yml
  sdk/servicebus/ci.mgmt.yml
Labels: Service Bus, Event Hubs

#30682 ignore partition limit test on Cosmos
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/EntityBindingLiveTests.cs
Labels: Tables

#30681 STG 84 beta changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#30672 Add links to message spans in settlement spans
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
Labels: Service Bus

#30645 Sarah feature/cplat 2022 07 02
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/DiskRPTests/DiskRPTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/DiskRPScenarioTests/Disk_CRUD_OptimizeFrequentAttach.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/DiskRPScenarioTests/Disk_CRUD_WithDiskControllerType_Execute.json
Labels: Compute, customer-reported

#30668 Update XML docs for Identity credential types
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureApplicationCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ChainedTokenCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
Labels: Azure.Identity

#30689 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#30686 Adding Streaming models.
  sdk/communication/Azure.Communication.CallingServer/api/Azure.Communication.CallingServer.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreaming/MediaStreamingAudio.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreaming/MediaStreamingFormat.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MediaStreaming/MediaStreamingMetadata.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Streaming/CallAutomationStreamingParserTests.cs
Labels: Communication

#30702 [ConfidentialLedger, Confluent] Address self-review comments
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/api/Azure.ResourceManager.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/AadBasedSecurityPrincipal.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/AadBasedSecurityPrincipal.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/CheckNameAvailabilityReason.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityContent.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityContent.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityResult.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LedgerNameAvailabilityResult.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/LegerNameUnavailableReason.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/autorest.md
  sdk/confluent/Azure.ResourceManager.Confluent/api/Azure.ResourceManager.Confluent.netstandard2.0.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/ConfluentOrganizationData.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Extensions/ConfluentExtensions.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Extensions/ResourceGroupResourceExtensionClient.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentAgreement.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentAgreement.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentOrganizationData.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/autorest.md
Labels: Mgmt

#30172 Don't skip checkout exclusion in release config
  eng/pipelines/templates/stages/archetype-net-release.yml
Labels: Central-EngSys

#30712 Remove double-slash from default scope for non-public clouds
  sdk/identity/Azure.Identity/src/AzureAuthorityHosts.cs
Labels: Azure.Identity

#30700 Fix receive and peek scope instrumentation
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeLiveTests.cs
Labels: Service Bus

#29631 Migrated Batch File Staging SDK from WindowsAzure SDK to Azure.Storage SDK
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/Directory.Build.targets
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/CloudJobExtensions.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/CloudTaskExtensions.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/JobOutputStorage.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/Microsoft.Azure.Batch.Conventions.Files.csproj
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/OutputFileReference.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/StoragePath.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/TaskOutputStorage.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/TrackedFile.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/Utilities/BlobUtils.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/Utilities/CloudBlobContainerUtils.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/app.config
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/CloudJobExtensionsTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/CloudTaskExtensionsTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/IntegrationTest.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/JobIdFixture.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/JobOutputStorageTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/StorageConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/TaskOutputStorageTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/Utilities/BlobUtils.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/UnitTests/CloudJobExtensionsUnitTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/UnitTests/CloudTaskExtensionsUnitTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/UnitTests/JobOutputStorageUnitTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/UnitTests/OutputFileReferenceUnitTests.cs
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/UnitTests/TaskOutputStorageUnitTests.cs
  sdk/batch/Microsoft.Azure.Batch.FileStaging/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch.FileStaging/Directory.Build.targets
  sdk/batch/Microsoft.Azure.Batch.FileStaging/src/Microsoft.Azure.Batch.FileStaging.csproj
  sdk/batch/Microsoft.Azure.Batch.FileStaging/src/SequentialFileStaging.cs
  sdk/batch/Microsoft.Azure.Batch.FileStaging/src/app.config
  sdk/batch/Microsoft.Azure.Batch.FileStaging/tests/App.config
Labels: Batch
