Repository Azure/azure-sdk-for-net, pull requests merged in 2022-05, with the labels that each got.

#28473 [TA] Reuse ConvertToMultiLanguageInputs functions
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
Labels: Cognitive - Text Analytics

#28478 Increment version for videoanalyzer releases
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/CHANGELOG.md
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/src/Azure.Media.VideoAnalyzer.Edge.csproj
Labels: auto-merge

#28486 Prepare for STG 82 GA
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#28476 Smoke Tests: Fix dangling parenthesis
  common/SmokeTests/SmokeTest/Program.cs
Labels: Client, EngSys

#28490 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, auto-merge

#28495 Sync eng/common directory with azure-sdk-tools for PR 3261
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#28499 Revert "Added Tag Indexing for Versions"
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/AccessTier.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/FilterBlobItem.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/FilterBlobItem.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/FilterBlobsIncludeItem.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/FilterBlobsAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/Internal/FilterBlobsIncludeItem.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/TaggedBlobItem.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_BlobVersions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/FindBlobsByTagAsync_BlobVersionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/FindBlobsByTagAsync_BlobVersions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ServiceClientTests/FindBlobsByTagAsync_BlobVersionsAsync.json
Labels: Storage

#28498 Prepare Storage WebJobs for release
  eng/Packages.Data.props
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#28474 [TA] Add test for recognize entities
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/TextAnalyticsClientMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithInvalidDocumentBatch.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithInvalidDocumentBatchAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithNullIdTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithNullIdTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithNullTextTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithNullTextTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithSubCategoryTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesWithSubCategoryTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/EntitiesCategories.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/EntitiesCategoriesAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RotateApiKey.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/RotateApiKeyAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/TextInKoreanNFC.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/TextInKoreanNFCAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/TextWithDiacriticsNFC.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/TextWithDiacriticsNFCAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/TextWithEmoji.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/TextAnalyticsClientLiveTests/TextWithEmojiAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample4_RecognizeEntitiesBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#28502 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage, auto-merge

#28509 Prepare AOA Conversion SDK 0.3.0-beta.3
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
Labels: auto-merge

#28512 [Text Analytics] Fixing CodeGen Capitalization
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/CustomEntitiesResult.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/CustomEntitiesResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/CustomEntitiesResultDocumentsItem.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/CustomEntitiesResultDocumentsItem.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/GeneratorStubs/InternalTypes.cs
Labels: Client, Cognitive - Text Analytics

#28508 Event Hubs: Buffered Producer Improvements
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientOptionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
Labels: Event Hubs, Client

#28484 [TA] PII Entities fix, enable live tests and samples
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWitCategoryTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWitCategoryTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithDomainTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithDomainTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithCategoriesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithCategoriesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithDomainTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithDomainTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithResultCategoriesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/RecognizePiiEntitiesWithResultCategoriesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample5_RecognizePiiEntitiesWithCategoriesFilter.cs
Labels: Cognitive - Text Analytics

#28514 Azure Extensions: GUID Parameter Recognition
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/tests/ClientFactoryTests.cs
  sdk/extensions/Microsoft.Extensions.Azure/tests/TestClient.cs
Labels: Client, Extensions

#28494 Add LinkedEntities to Azure.AI.TextAnalytics
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
Labels: Cognitive - Text Analytics

#28511 Enable all versions tests
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.Legacy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeSentimentTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/DetectLanguageTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractKeyPhrasesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeLinkedEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_SingleCategoryClassify.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_SingleCategoryClassifyAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_SingleCategoryClassifyConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_SingleCategoryClassifyConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_MultiCategoryClassify.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_MultiCategoryClassifyAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_MultiCategoryClassifyConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_MultiCategoryClassifyConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesAsync_Cancellation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntities_Cancellation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_ExtractSummary.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_ExtractSummaryAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_ExtractSummaryConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_ExtractSummaryConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_RecognizeCustomEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_RecognizeCustomEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_RecognizeCustomEntitiesConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_RecognizeCustomEntitiesConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/SampleSnippets.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample_AnalyzeOperationConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#28522 Update LanguageServiceClient.cs for LinkedEntities
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
Labels: Cognitive - Text Analytics

#28521 STG 83 changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#27983 Append with Flush
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileAppendOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakePartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_Flush.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AppendDataAsync_FlushAsync.json
Labels: Storage

#28496 Keep the SuppressClientNestedActivities flag private for now
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/core/Azure.Core/tests/ClientOptionsTests.cs
  sdk/core/Azure.Core/tests/TestClients/TestResource.cs
  sdk/core/Azure.Core/tests/TestClients/TestResourceCollection.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/EventGridExtensionConfigProvider.cs
  sdk/storage/Azure.Storage.Common/tests/PartitionedUploaderTests.cs
Labels: Azure.Core

#28529 HNS Encryption Scope SAS
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/CreateAsync_EncryptionScopeAccountSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/CreateAsync_EncryptionScopeAccountSasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/CreateAsync_EncryptionScopeIdentitySas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/CreateAsync_EncryptionScopeIdentitySasAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/CreateAsync_EncryptionScopeSas.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/CreateAsync_EncryptionScopeSasAsync.json
Labels: Storage

#28524 [TA] Enable Keyphrases with tests and samples
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractKeyPhrasesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithNullIdTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithNullIdTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithNullTextTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithNullTextTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithSatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesBatchWithSatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithWarningTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/ExtractKeyPhrasesWithWarningTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrases.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesBatchConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample3_ExtractKeyPhrasesWithWarnings.cs
Labels: Cognitive - Text Analytics

#28527 Sync eng/common directory with azure-sdk-tools for PR 3269
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#28543 Fixed Data Lake Query Arrow unit tests
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/QueryAsync_ArrowConfiguration.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/QueryAsync_ArrowConfigurationAsync.json
Labels: Storage

#28544 Remove references to TextAnalyticsErrorInternal from Azure.AI.TextAnalytics
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeSentimentActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractKeyPhrasesActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/MultiCategoryClassifyActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeCustomEntitiesActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeEntitiesActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeLinkedEntitiesActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SingleCategoryClassifyActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
Labels: Cognitive - Text Analytics

#28560 Sync eng/common directory with azure-sdk-tools for PR 3280
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#28525 Update AutoRest C# version
  eng/Packages.Data.props
Labels: Storage, Service Bus, KeyVault, Event Hubs, Cognitive - Form Recognizer

#28567 Add ServiceBusReceiveActions
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessorReceiveActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusReceiveActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerBindingStrategy.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerInput.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Samples/BindingToReceiveActions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusTriggerStrategyTests.cs
Labels: Service Bus

#28582 Add channelName parameter
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/EventGridPublisherClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/SendCloudEventsOptions.cs
Labels: Event Grid

#28584 Add protected ctor for mocking
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
Labels: Schema Registry

#28585 Rename TEnvelope to TMessage
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/api/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.netstandard2.0.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/SchemaRegistryAvroSerializer.cs
Labels: Schema Registry

#28596 Bunch of renames for KeyVault mgmt sdk
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Sample1_ManagingKeyVaults.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/KeyVaultExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/LongRunningOperation/ManagedHsmPrivateEndpointConnectionOperationSource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/LongRunningOperation/MhsmPrivateEndpointConnectionOperationSource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmPrivateEndpointConnectionData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/AccessPolicyEntry.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/AccessPolicyEntry.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ActionsRequiredMessage.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/CertificatePermission.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/DeletedManagedHsmProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/DeletedManagedHsmProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/DeletedVaultProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/DeletedVaultProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/HsmProvisioningState.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/IdentityAccessPermissions.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/IdentityAccessPermissions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/KeyVaultPrivateLinkServiceConnectionState.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/KeyVaultPrivateLinkServiceConnectionState.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmIPRule.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmIPRule.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmNetworkRuleSet.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmNetworkRuleSet.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateEndpointConnectionData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateEndpointConnectionItem.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateEndpointConnectionItem.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateEndpointConnectionsListResult.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateEndpointConnectionsListResult.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResource.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceListResult.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceListResult.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkServiceConnectionState.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkServiceConnectionState.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmVirtualNetworkRule.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmVirtualNetworkRule.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/MhsmPrivateLinkResourceListResult.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/StoragePermission.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultCheckNameAvailabilityContent.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultCreateMode.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultCreateMode.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/MhsmPrivateEndpointConnectionsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/MhsmPrivateLinkResourcesRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/ManagedHsmTests.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Samples/Sample1_ManagingKeyVaults.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTests.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTestsBase.cs
Labels: KeyVault, Mgmt

#28609 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusTransportMetrics.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
Labels: Service Bus

#28006 [Crash consistent RestorePoints]SDK changes
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RestorePoint.cs
Labels: Compute

#28188 [RestorePoints] InstanceView Fix SDK changes
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskRestorePointInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskRestorePointReplicationStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/RestorePointTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/Compute.Tests.RestorePointTests/CreateRpcAndRestorePoints.json
Labels: Compute

#27923 SDK changes for Vmss Flex deleteOption
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetDataDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetOSDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateOSDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetFlexDiskDeleteOptionTests/TestVmssFlexDeleteOptionForDisks.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetFlexDiskDeleteOption.cs
Labels: Compute

#28063 Updated tests for changes in PR https://github.com/Azure/azure-rest-api-specs/pull/18609
  sdk/compute/Azure.ResourceManager.Compute/tests/SessionRecords/VMApplicationTest/VMApplicationProfile_Tests.json
  sdk/compute/Azure.ResourceManager.Compute/tests/SessionRecords/VMScaleSetVMProfileTests/TestVMScaleSetApplicationProfile.json
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VMGalleryApplication.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMApplicationTest.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMApplicationTest/VMApplicationProfile_Tests.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetVMProfileTests/TestVMScaleSetApplicationProfile.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetVMProfileTests.cs
Labels: Compute

#28611 Fix sdk/template live tests
  sdk/template/.content/stress/Program.cs
  sdk/template/Azure.Template/README.md
  sdk/template/Azure.Template/samples/Sample1.HelloWorldAsync.md
  sdk/template/Azure.Template/samples/Sample1_HelloWorld.md
  sdk/template/Azure.Template/src/Generated/TemplateClient.cs
  sdk/template/Azure.Template/src/TemplateClient.cs
  sdk/template/Azure.Template/src/autorest.md
  sdk/template/Azure.Template/stress/Program.cs
  sdk/template/Azure.Template/tests/Azure.Template.Tests.csproj
  sdk/template/Azure.Template/tests/Samples/Sample1_HelloWorld.cs
  sdk/template/Azure.Template/tests/Samples/Sample1_HelloWorldAsync.cs
  sdk/template/test-resources.json
Labels: EngSys

#28623 Some renames for KeyVault mgmt sdk
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/KeyVaultPrivateLinkResourceListResult.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/KeyVaultPrivateLinkResourceListResult.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateEndpointConnectionItemData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateEndpointConnectionItemData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceListResult.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceListResult.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmVirtualNetworkRule.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmVirtualNetworkRule.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/PrivateEndpointConnectionItemData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/PrivateEndpointConnectionItemData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/PrivateLinkResourceData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/PrivateLinkResourceData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultProperties.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/VaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
Labels: KeyVault

#28637 [ASP.NET Extensions] May Release Prep
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Client, Extensions

#28638 Tables May Release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Tables

#28635 [Event Hubs] May Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#28646 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#28648 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#28652 Improve change log
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#28647 [Event Hubs] Processor Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#28619 Add provenance for PemReader
  sdk/core/Azure.Core/src/Shared/PemReader.cs
Labels: Azure.Core

#28656 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#28663 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#28666 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus

#28587 Update Docstrings in Azure.AI.TextAnalytics
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeSentimentAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeSentimentOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractKeyPhrasesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/LinkedEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeLinkedEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsRequestOptions.cs
Labels: Cognitive - Text Analytics

#28595 support relative sdk path
  doc/DataPlaneCodeGeneration/AzureSDKCodeGeneration_DataPlane_Quickstart.md
  eng/scripts/automation/Invoke-DataPlaneGenerateSDKPackage.ps1
  sdk/template/Azure.Template/src/Azure.Template.csproj
Labels: EngSys

#28675 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#28654 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#28680 docs(dpg): fix no return statement in DeveloperDrivenEvolution.md
  doc/DataPlaneCodeGeneration/DeveloperDrivenEvolution.md
Labels: Docs, LLC

#28655 [Event Hubs] Remove Project References
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Azure.Messaging.EventHubs.Experimental.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Client

#28698 Prepare for release
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry

#28700 Increment version for schemaregistry releases
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry, auto-merge

#28701 Prepare for release
  eng/Packages.Data.props
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry

#28704 Sync eng/common directory with azure-sdk-tools for PR 3320
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#28707 Updated Storage swagger to point at swagger files in main
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/AccessTier.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#28711 Increment version for schemaregistry releases
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry, auto-merge

#28729 [Bot Rules] Update IoT Owners
  .github/fabricbot.json
Labels: Client, EngSys

#28689 Increment version for objectanchors releases
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
Labels: auto-merge

#28702 Update ClientOptionsExtensions.cs in Azure.AI.TextAnalytics
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ClientOptionsExtensions.cs
Labels: Cognitive - Text Analytics

#28697 Sync eng/common directory with azure-sdk-tools for PR 3323
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#28713 Improve cancellation error handling
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Service Bus

#28736 Update Azure Account ext. workaround guidance
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#28708 Use credential in samples
  sdk/template/Azure.Template/README.md
  sdk/template/Azure.Template/samples/Sample1.HelloWorldAsync.md
  sdk/template/Azure.Template/samples/Sample1_HelloWorld.md
  sdk/template/Azure.Template/tests/Samples/Sample1_HelloWorld.cs
  sdk/template/Azure.Template/tests/Samples/Sample1_HelloWorldAsync.cs
Labels: EngSys

#28739 Prepare release for storage
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
Labels: Storage

#28644 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#28768 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Client, EngSys

#28710 [FormRecognizer] Re-enable StartAnalyzeDocumentPopulatesExtractedReceiptJpg
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesExtractedReceiptJpg(False).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesExtractedReceiptJpg(False)Async.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesExtractedReceiptJpg(True).json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/DocumentAnalysisClientLiveTests/StartAnalyzeDocumentPopulatesExtractedReceiptJpg(True)Async.json
Labels: Client, Cognitive - Form Recognizer

#28773 Sync eng/common directory with azure-sdk-tools for PR 3341
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#28771 Bind to PartitionContext in batch test
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
Labels: Event Hubs

#28763 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Storage, auto-merge

#28788 [TA] Fixes in legacy code
  sdk/textanalytics/Azure.AI.TextAnalytics.Legacy.Shared/src/Custom/Match.cs
  sdk/textanalytics/Azure.AI.TextAnalytics.Legacy.Shared/src/Generated/Models/Match.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SentenceSentiment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/Legacy/TextAnalyticsClientMockTests.cs
Labels: Cognitive - Text Analytics

#28672 [TA] Healthcare implementation
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/HealthcareEntityRelationRole.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LegacyServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/ServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.Legacy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/Legacy/OperationsMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/OperationLiveTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationConvenienceCanPollFromNewObject.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/OperationLiveTests/HealthcareOperationConvenienceCanPollFromNewObjectAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#28714 add Azure.ResourceManager.ServiceLinker.Tests
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Azure.ResourceManager.ServiceLinker.Tests.csproj
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/ServiceLinkerTestBase.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/SessionRecords/WebAppKeyVaultConnectionTests/WebAppKeyVaultConnectionCRUD()Async.json
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/SessionRecords/WebAppWebPubSubConnectionTests/WebAppWebPubSubConnectionCRUD()Async.json
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Tests/WebAppKeyVaultConnectionTests.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Tests/WebAppSqlConnectionTests.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Tests/WebAppWebPubSubConnectionTests.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/UserTokenPolicy.cs
Labels: Mgmt

#28790 [TA] Add missing mock tests plus enable missing mocks
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/AnalyzeOperationMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/OperationsMockTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MockTests/TextAnalyticsClientMockTests.cs
Labels: Cognitive - Text Analytics

#28786 Abandon messages when an exception occurs in batch function regardless of autocomplete setting
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Bindings/ServiceBusTriggerAttributeBindingProviderTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#28805 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#28808 [TA] Add Pagination support for healthcare and AnalyzeActions
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/MicrosoftCognitiveLanguageServiceRestClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationWithPaginationAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPagination.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesPaginationAsync.json
Labels: Cognitive - Text Analytics

#28737 Add IgnoreServiceErrorAttribute to Azure.Core.TestFramework
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/IgnoreServiceErrorAttribute.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestAttribute.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core/tests/IgnoreServiceErrorAttributeTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AccessControlClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupRestoreTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SampleFixture.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/AttestationMayFailAttributeTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.SecureKeyRelease.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/PartiallyDeployedAttributeTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SampleFixture.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SampleFixture.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/AttestationMayFailAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/Azure.Security.KeyVault.Shared.Tests.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/IgnoreServiceErrorAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/PartiallyDeployedAttribute.cs
Labels: KeyVault, Azure.Core

#28812 Change [Test] to [RecordedTest] for Key Vault
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.KeyRotation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.SecureKeyRelease.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyResolverLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmCryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretClientLiveTests.cs
Labels: KeyVault

#28806 Prepare for extension release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus

#28819 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#28823 Fix ref docs
  sdk/core/Azure.Core/src/Serialization/JsonObjectSerializer.cs
Labels: Azure.Core

#28817 [TA] Implement cancel
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntitiesAsync_Cancellation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample7_AnalyzeHealthcareEntities_Cancellation.cs
Labels: Cognitive - Text Analytics

#28824 Include locktoken in additional logs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
Labels: Service Bus

#28809 [TA] Implementation to support FHIR
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithFhir.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeHealthcareEntitiesTests/RecognizeHealthcareEntitiesWithFhirAsync.json
Labels: Cognitive - Text Analytics

#28794 remove if statement in ci.yml
  sdk/template/ci.yml
Labels: EngSys

#28709 Event Grid: Add missing pagination support to listing nested event subscriptions
  eng/mgmt/mgmtmetadata/eventgrid_resource-manager.txt
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/DomainEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/DomainEventSubscriptionsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/DomainTopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/DomainTopicEventSubscriptionsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/IDomainEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/IDomainTopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/ITopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/SdkInfo_EventGridManagementClient.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/TopicEventSubscriptionsOperations.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Generated/TopicEventSubscriptionsOperationsExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Microsoft.Azure.Management.EventGrid.csproj
  sdk/eventgrid/Microsoft.Azure.Management.EventGrid/src/Properties/AssemblyInfo.cs
Labels: Event Grid

#28842 Add back rule manager
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample12_ManagingRules.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/RuleManager/RuleManagerLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample12_ManagingRules.cs
Labels: Service Bus

#28864 [TA] Update release date
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#28889 Use UtcDateTime when setting StartTime for the current Activity
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
Labels: Azure.Core

#28890 Add Directory.Build.Props to TextAnalytics.Legacy
  sdk/textanalytics/Azure.AI.TextAnalytics.Legacy.Shared/Directory.Build.props
  sdk/textanalytics/Azure.AI.TextAnalytics.Legacy.Shared/src/Azure.AI.TextAnalytics.Legacy.csproj
  sdk/textanalytics/ci.yml
Labels: Cognitive - Text Analytics, Central-EngSys

#28849 {AzureQueueStorage} Include return null for PeekMessage
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
Labels: Storage

#28874 Don't use internal method of Azure SignalR SDK
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/IConfigurationExtensions.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/OptionsSetup.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/IConfigurationExtensionsFacts.cs
Labels: auto-merge

#28862 Change the `location` parameter's type from `string` to `AzureLocation`
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/KeyVaultExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/ManagedHsmsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/VaultsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
Labels: KeyVault, Mgmt

#28893 update sdk based on guidelines
  sdk/communication/Azure.Communication.CallingServer/src/CallingServerClient.cs
Labels: Communication

#28909 Fix tests that depend on network/compute
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Tests/PrivateEndpointConnectionCollectionTests.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/tests/Tests/PrivateEndpointConnectionOperationTests.cs
  sdk/appconfiguration/ci.yml
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/Delegation.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/Delegation.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/EndpointServiceResult.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/EndpointServiceResult.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/NetworkInterfaceIPConfigurationData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/NetworkWritableResourceData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/NetworkWritableResourceData.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/PatchRouteFilter.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/PatchRouteFilter.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/RouteData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/SecurityRuleData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/SubnetData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/VirtualNetworkPeeringData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/NetworkInterfaceIPConfigurationData.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/RouteData.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/SecurityRuleData.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/SubnetData.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualNetworkPeeringData.cs
  sdk/network/Azure.ResourceManager.Network/src/autorest.md
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/ApplicationGatewayTests/AppGatewayBackendHealthCheckTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/ApplicationGatewayTests/AppGatewayBackendHealthCheckTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/ExpandResourceTests/ExpandResourceTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/ExpandResourceTests/ExpandResourceTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/LoadBalancerApiTestWithDistributionPolicy.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/LoadBalancerApiTestWithDistributionPolicyAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/LoadBalancerApiTestWithDynamicIp.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/LoadBalancerApiTestWithDynamicIpAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/LoadBalancerApiTestWithStaticIp.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/LoadBalancerApiTestWithStaticIpAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/UpdateLoadBalancerRule.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/LoadBalancerTests/UpdateLoadBalancerRuleAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/NetworkInterfaceTests/NetworkInterfaceEnableIPForwardingTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/NetworkInterfaceTests/NetworkInterfaceEnableIPForwardingTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/NetworkInterfaceTests/NetworkInterfaceNetworkSecurityGroupTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/NetworkInterfaceTests/NetworkInterfaceNetworkSecurityGroupTestAsync.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/RouteTableTests/RouteTableApiTest.json
  sdk/network/Azure.ResourceManager.Network/tests/SessionRecords/RouteTableTests/RouteTableApiTestAsync.json
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Sample1_ManagingManagedInstance.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Helpers/SqlManagementClientBase.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Samples/Sample1_ManagingManagedInstance.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Samples/Sample2_ManagingManagedDatabases.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Scenario/InstancePoolTests.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/tests/Scenario/ManagedInstanceTests.cs
  sdk/sqlmanagement/ci.yml
  sdk/storage/Azure.Storage.Blobs/tests/ManagedDiskFixture.cs
  sdk/storage/ci.yml
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/tests/Scenario/PrivateEndpointConnectionTests.cs
  sdk/webpubsub/ci.yml
Labels: Storage, App Configuration

#28900 Fix IgnoreServiceErrorAttributeTests
  sdk/core/Azure.Core.TestFramework/src/RecordedTestAttribute.cs
Labels: Azure.Core

#28907 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/api/Azure.ResourceManager.Applications.Containers.netstandard2.0.cs
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/src/Generated/Models/HttpHeaderData.Serialization.cs
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/src/Generated/Models/HttpHeaderData.cs
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/src/Generated/Models/HttpRequestData.Serialization.cs
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/src/Generated/Models/HttpRequestData.cs
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/DocumentAnalysisRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/QueryFormat.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/README.md
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/api/Azure.Analytics.Synapse.AccessControl.netstandard2.0.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/samples/Sample1_HelloWorld.md
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/src/Generated/RoleAssignmentsClient.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/tests/AccessControlClientLiveTests.cs
  sdk/synapse/Azure.Analytics.Synapse.AccessControl/tests/samples/Sample1_HelloWorld.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/WebPubSubServiceClient.cs
Labels: Storage, Cognitive - Form Recognizer

#28922 [Compute] Fix frontendIpConfigurations
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/LoadBalancerConfigurationProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute

#28921 swagger symbol is not required
  sdk/template/.template.config/template.json
Labels: EngSys

#28924 Increment version for servicelinker releases
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/CHANGELOG.md
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Azure.ResourceManager.ServiceLinker.csproj
Labels: auto-merge

#28928 Sync eng/common directory with azure-sdk-tools for PR 3368
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#28927 Sync eng/common directory with azure-sdk-tools for PR 3342
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#28954 Add unit tests for retaining specified port
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/KeyVaultCertificateIdentifierTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyVaultKeyIdentifierTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/KeyVaultSecretIdentifierTests.cs
Labels: KeyVault

#28958 Update links in README.md files
  sdk/communication/Azure.Communication.Email/README.md
  sdk/communication/Azure.Communication.Email/samples/README.md
Labels: Communication

#28678 [KeyVault] Support vault creation when not specify accessPolicies
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Customization/Models/VaultProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/VaultProperties.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementVaultCreateWithoutAccessPolicies.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/VaultOperationsTests/KeyVaultManagementVaultCreateWithoutAccessPoliciesAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTests.cs
Labels: KeyVault

#28970 Increment version for containerapps releases
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/CHANGELOG.md
  sdk/containerapps/Azure.ResourceManager.Applications.Containers/src/Azure.ResourceManager.Applications.Containers.csproj
Labels: auto-merge

#28956 Increment version for communication releases
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/src/Azure.Communication.Email.csproj
Labels: auto-merge, Communication

#28961 Bugfix/broken links
  doc/DataPlaneCodeGeneration/Create_Samples_Guidance.md
  eng/ignore-links.txt
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus

#28980 Sync eng/common directory with azure-sdk-tools for PR 3362
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#28978 [Event Hubs Stress] Trim Quotes in .env Values
  sdk/eventhub/Azure.Messaging.EventHubs.sln
  sdk/eventhub/Azure.Messaging.EventHubs/stress/Azure.Messaging.EventHubs.Stress.slnf
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Infrastructure/EnvironmentReader.cs
Labels: Event Hubs, Client, pillar-reliability

#28991 Fix the broken test records in CosmosDB and KeyVault
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionCreateAndUpdate.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionCreateAndUpdateAsync.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionDelete.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionDeleteAsync.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionList.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionListAsync.json
  sdk/cosmosdb/ci.yml
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/PrivateEndpointConnectionTests.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionCreateAndUpdate.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/SessionRecords/PrivateEndpointConnectionTests/PrivateEndpointConnectionCreateAndUpdateAsync.json
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTests.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/VaultOperationsTestsBase.cs
  sdk/keyvault/ci.yml
Labels: KeyVault

#28932 [Event Hubs Extension] Bump E2E Test Timeout
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Event Hubs, Client, Functions

#28925 [Event Hubs] Log Event Processor Handler
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
Labels: Event Hubs, Client

#28989 Fix some flakiness in SB extension tests
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusSessionsEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#28957 Enabled STG 83 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobQuickQueryTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ManagedDiskTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/CopySourceAuthTests.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#28580 [Search] Add section on service limits in the TSG
  sdk/search/Azure.Search.Documents/TROUBLESHOOTING.md
Labels: Search

#28931 [Event Hubs] Processor Sample Tweak
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample03_EventProcessorHandlers.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample03_EventProcessorHandlersLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample04_PublishingEventsLiveTests.cs
Labels: Event Hubs, Client, Docs

#29014 [FormRecognizer] Added IgnoreServiceError attribute to FormRecognizerSamples
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample_MockClient.cs
Labels: Client, Cognitive - Form Recognizer

#29032 regenerate for https://github.com/Azure/autorest.csharp/pull/2267
  eng/Packages.Data.props
  sdk/arc-scvmm/Azure.ResourceManager.ArcScVmm/src/Generated/InventoryItemCollection.cs
  sdk/dynatrace/Azure.ResourceManager.DynaTrace/src/Generated/MonitorResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmResource.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Extensions/NetworkExtensions.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/NetworkWatcherResource.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/P2SVpnGatewayResource.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualNetworkGatewayResource.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/VirtualWanResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/ResourcesExtensions.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/JitRequestCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/JitRequestResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageAccountResource.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/SiteSlotResource.cs
Labels: Storage, KeyVault

#29042 [FormRecognizer] Added IgnoreServiceError attribute to v3 samples
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_AnalyzePrebuiltDocumentFromFileAsync.cs
Labels: Client, Cognitive - Form Recognizer
