Repository Azure/azure-sdk-for-net, pull requests merged in 2022-11, with the labels that each got.

#32210 make CommunicationIdentifierModelKind internal
  sdk/communication/Azure.Communication.MediaComposition/api/Azure.Communication.MediaComposition.netstandard2.0.cs
  sdk/communication/Azure.Communication.MediaComposition/src/Generated/Models/CommunicationIdentifierModelKind.cs
  sdk/communication/Azure.Communication.MediaComposition/src/Models/CommunicationIdentifierModelKind.cs
Labels: Communication

#32214 Increment version for communication releases
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
Labels: auto-merge, Communication

#32216 Update Azure.Identity changelog
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#32045 Nikoudsi batch dataplane update 2022 10 01 API
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/CloudPool.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/PoolSpecification.json
  sdk/batch/Microsoft.Azure.Batch/src/CloudPool.cs
  sdk/batch/Microsoft.Azure.Batch/src/Common/Enumerations/NodeCommunicationMode.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/CloudPool.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/PoolSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/BatchServiceClient.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/ApplicationPackageReference.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/CloudPool.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobConstraints.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/NodeCommunicationMode.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/OutputFileBlobContainerDestination.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolAddParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolPatchParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolUpdatePropertiesParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/StartTask.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/TaskConstraints.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/UserAccount.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/SdkInfo_BatchServiceClient.cs
  sdk/batch/Microsoft.Azure.Batch/src/IProtocolLayer.cs
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/Microsoft.Azure.Batch/src/ProtocolLayer.cs
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/CloudJobIntegrationTests.cs
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/CloudPoolIntegrationTests.cs
Labels: Batch

#32215 [Docs] Fixing broken links
  sdk/tables/Azure.Data.Tables/README.md
  sdk/translation/Azure.AI.Translation.Document/README.md
Labels: Client, EngSys, Tables

#32213 [Event Hubs] Generate SAS example
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample06_IdentityAndSharedAccessCredentialsLiveTests.cs
Labels: Event Hubs, Client

#32205 Sync eng/common directory with azure-sdk-tools for PR 4544
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#32207 Remove LastException from ProcessingContext
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/ProcessingContext.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
  sdk/core/Azure.Core/tests/samples/PollyPolicy.cs
Labels: Azure.Core

#32201 Exclude T1 Event Grid live tests
  sdk/eventgrid/ci.data.yml
  sdk/eventgrid/ci.yml
  sdk/eventgrid/service.projects
  sdk/eventgrid/tests.data.yml
Labels: Event Grid

#32203 Sync eng/common directory with azure-sdk-tools for PR 4574
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#32233 Sync eng/common directory with azure-sdk-tools for PR 4591
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#31732 Upgrade Azure.ResourceManager.PolicyInsights to `package-2022-09` version
  eng/mgmt/mgmtmetadata/policyinsights_resource-manager.txt
  sdk/policyinsights/Azure.ResourceManager.PolicyInsights/CHANGELOG.md
  sdk/policyinsights/Azure.ResourceManager.PolicyInsights/api/Azure.ResourceManager.PolicyInsights.netstandard2.0.cs
  sdk/policyinsights/Azure.ResourceManager.PolicyInsights/src/Azure.ResourceManager.PolicyInsights.csproj
  sdk/policyinsights/Azure.ResourceManager.PolicyInsights/src/Generated/Models/PolicyAttestationData.Serialization.cs
  sdk/policyinsights/Azure.ResourceManager.PolicyInsights/src/Generated/PolicyAttestationData.cs
  sdk/policyinsights/Azure.ResourceManager.PolicyInsights/src/Generated/RestOperations/AttestationsRestOperations.cs
  sdk/policyinsights/Azure.ResourceManager.PolicyInsights/src/autorest.md
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/src/AzSdk.RP.props
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/src/Customizations/Attestation.cs
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/src/Generated/AttestationsOperations.cs
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/src/Generated/Models/Attestation.cs
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/src/Generated/SdkInfo_PolicyInsightsClient.cs
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/src/Microsoft.Azure.Management.PolicyInsights.csproj
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/src/Properties/AssemblyInfo.cs
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/tests/AttestationsTests.cs
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/tests/SessionRecords/AttestationsTests/Attestations_ResourceGroupScope.json
  sdk/policyinsights/Microsoft.Azure.Management.PolicyInsights/tests/SessionRecords/AttestationsTests/Attestations_SubscriptionScope.json
Labels: Mgmt

#32054 Increment version for storagesync releases
  sdk/storagesync/Azure.ResourceManager.StorageSync/CHANGELOG.md
  sdk/storagesync/Azure.ResourceManager.StorageSync/src/Azure.ResourceManager.StorageSync.csproj
Labels: auto-merge

#32241 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: auto-merge

#32242 Increment version for cognitiveservices releases
  sdk/cognitiveservices/Azure.ResourceManager.CognitiveServices/CHANGELOG.md
  sdk/cognitiveservices/Azure.ResourceManager.CognitiveServices/src/Azure.ResourceManager.CognitiveServices.csproj
Labels: auto-merge

#32245 updated released version for common
  eng/Packages.Data.props
Labels: Communication, Communication - Common, Communication - Identity

#32224 Increment version for batch releases
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
Labels: Batch, auto-merge

#32197 [Text Analytics] Add support for script detection
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/DetectedLanguage.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DetectedLanguageInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DetectedLanguageInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ScriptKind.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ScriptKind.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.Legacy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/DetectLanguageTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/DetectLanguageTests/DetectLanguageBatchWithScriptTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/DetectLanguageTests/DetectLanguageBatchWithScriptTestAsync.json
Labels: Cognitive - Text Analytics

#32231 Sync eng/common directory with azure-sdk-tools for PR 4586
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#32172 [AzureMonitorExporter] Refactor RestClient and DebugWritter
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/ApplicationInsightsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TelemetryDebugWriter.cs
Labels: Monitor - Exporter

#32255 Sync eng/common directory with azure-sdk-tools for PR 4603
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#32272 Handle Managed Identity json parse errors as CredentialUnAvailableException
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#32274 Sync eng/common directory with azure-sdk-tools for PR 4606
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#32277 Make retry policy internal
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/ProcessingContext.cs
  sdk/core/Azure.Core/tests/samples/ConfigurationSamples.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
  sdk/core/Azure.Core/tests/samples/PollyPolicy.cs
Labels: Azure.Core

#32283 [AzureMonitorExporter] Prep release 1.0.0-beta5
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#32249 Remove README mention of nonexistent Azure.Storage.Blobs.Cryptography and unused test class
  sdk/storage/Azure.Storage.Blobs/tests/MockStream.cs
  sdk/storage/README.md
Labels: Storage, customer-reported, Community Contribution

#32286 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: auto-merge, Monitor - Exporter

#32244 Prepare eventgrid for the polymorphic resource changes
  sdk/eventgrid/Azure.ResourceManager.EventGrid/api/Azure.ResourceManager.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Customized/EventGridExtensions.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Customized/ResourceGroupResourceExtensionClient.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Customized/SubscriptionResourceExtensionClient.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/DomainEventSubscriptionCollection.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/DomainEventSubscriptionResource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/DomainTopicEventSubscriptionCollection.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/DomainTopicEventSubscriptionResource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/EventGridSubscriptionData.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/EventSubscriptionCollection.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/EventSubscriptionResource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Extensions/EventGridExtensions.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Extensions/ResourceGroupResourceExtensionClient.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/LongRunningOperation/DomainEventSubscriptionOperationSource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/LongRunningOperation/DomainTopicEventSubscriptionOperationSource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/LongRunningOperation/EventSubscriptionOperationSource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/LongRunningOperation/PartnerTopicEventSubscriptionOperationSource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/LongRunningOperation/SystemTopicEventSubscriptionOperationSource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/LongRunningOperation/TopicEventSubscriptionOperationSource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Models/EventGridSubscriptionData.Serialization.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Models/EventGridSubscriptionPatch.Serialization.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Models/EventGridSubscriptionPatch.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Models/EventSubscriptionsListResult.Serialization.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Models/EventSubscriptionsListResult.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/PartnerTopicEventSubscriptionCollection.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/PartnerTopicEventSubscriptionResource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/RestOperations/DomainEventSubscriptionsRestOperations.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/RestOperations/DomainTopicEventSubscriptionsRestOperations.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/RestOperations/EventSubscriptionsRestOperations.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/RestOperations/PartnerTopicEventSubscriptionsRestOperations.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/RestOperations/SystemTopicEventSubscriptionsRestOperations.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/RestOperations/TopicEventSubscriptionsRestOperations.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/SystemTopicEventSubscriptionCollection.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/SystemTopicEventSubscriptionResource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/TopicEventSubscriptionCollection.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/TopicEventSubscriptionResource.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.ResourceManager.EventGrid/tests/Scenario/DomainEventSubscriptionTests.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/tests/Scenario/EventGridTopicEventSubscriptionTests.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/tests/Scenario/EventSubscriptionTests.cs
Labels: Event Grid

#32290 fix issues in customization code of eventgrid
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Customized/EventGridExtensions.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/tests/Unit/ResourceIdentifierExtensionTests.cs
Labels: Event Grid

#32293 fix expire after default value
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_helpers.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubGenerateUriTests.cs
Labels: auto-merge

#32287 Increment version for objectanchors releases
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/CHANGELOG.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
Labels: auto-merge

#32253 [AppConfig] Update FeatureFlagConfigurationSetting.cs - Add null check
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/FeatureFlagConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationMockTests.cs
Labels: App Configuration

#32305 Check recovery status without a KV version
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/RecoverDeletedCertificateOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/RecoverCertificate.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SessionRecords/CertificateClientLiveTests/RecoverCertificateAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/RecoverDeletedKeyOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/RecoverDeletedEcHsmKey.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/RecoverDeletedEcHsmKeyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/RecoverDeletedRsaHsmKey.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/KeyClientLiveTests/RecoverDeletedRsaHsmKeyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/RecoverDeletedEcHsmKey.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/RecoverDeletedEcHsmKeyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/RecoverDeletedRsaHsmKey.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/RecoverDeletedRsaHsmKeyAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/RecoverDeletedSecretOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/StartRecoverDeletedSecret.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SessionRecords/SecretClientLiveTests/StartRecoverDeletedSecretAsync.json
Labels: KeyVault

#32309 Fix markdownlint issues in Key Vault markdown
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/TROUBLESHOOTING.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/TROUBLESHOOTING.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample8_KeyRotation.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
  sdk/keyvault/CONTRIBUTING.md
Labels: KeyVault

#31846 [Azure.Monitor.Ingestion] Proposal for Error Handling for Ingestion Upload methods
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.net461.cs
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.net5.0.cs
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/LogsIngestionClient.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/Models/UploadLogsError.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/Models/UploadLogsResult.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/Models/UploadLogsStatus.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/ErrorTest.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/MonitorIngestionLiveTest.cs
Labels: Client, Monitor - Ingestion

#32308 Removing UUI
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Misc/CallAutomationErrorMessages.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
Labels: Communication

#32291 Code Gen for Batch Management Plane 2022-10 release
  eng/mgmt/mgmtmetadata/batch_resource-manager.txt
  sdk/batch/Microsoft.Azure.Management.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/BatchManagementClient.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/CertificateOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/CertificateOperationsExtensions.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/ICertificateOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/CIFSMountConfiguration.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/CertificateReference.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/NetworkConfiguration.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/NodeCommunicationMode.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/Pool.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/PrivateLinkServiceConnectionState.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/Models/UserAccount.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/PrivateEndpointConnectionOperations.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Generated/SdkInfo_BatchManagementClient.cs
  sdk/batch/Microsoft.Azure.Management.Batch/src/Microsoft.Azure.Management.Batch.csproj
  sdk/batch/Microsoft.Azure.Management.Batch/tests/InMemoryTests/InMemoryPrivateEndpointConnectionTests.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/ScenarioTests/PoolTests.ScenarioTests.cs
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountCanCreateWithBYOSEnabled.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/AccountTests/BatchAccountEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/CertificateTests/BatchCertificateEndToEndAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/GetLocationQuotasAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusFilterFamilyNameAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/LocationTests/ListSupportedCloudServiceSkusMaxResultsAsync.json
  sdk/batch/Microsoft.Azure.Management.Batch/tests/SessionRecords/PoolTests/BatchPoolEndToEndAsync.json
Labels: Batch

#32316 Increment version for communication releases
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: auto-merge, Communication

#32301 Prepare release for mgmt plane sdk
  sdk/automation/Azure.ResourceManager.Automation/CHANGELOG.md
  sdk/automation/Azure.ResourceManager.Automation/README.md
  sdk/automation/Azure.ResourceManager.Automation/src/Azure.ResourceManager.Automation.csproj
  sdk/billing/Azure.ResourceManager.Billing/CHANGELOG.md
  sdk/billing/Azure.ResourceManager.Billing/README.md
  sdk/billing/Azure.ResourceManager.Billing/src/Azure.ResourceManager.Billing.csproj
  sdk/consumption/Azure.ResourceManager.Consumption/CHANGELOG.md
  sdk/consumption/Azure.ResourceManager.Consumption/README.md
  sdk/consumption/Azure.ResourceManager.Consumption/src/Azure.ResourceManager.Consumption.csproj
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/README.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/CHANGELOG.md
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/README.md
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/api/Azure.ResourceManager.DevTestLabs.netstandard2.0.cs
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/src/Azure.ResourceManager.DevTestLabs.csproj
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/src/Generated/DevTestLabResource.cs
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/src/autorest.md
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/CHANGELOG.md
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/README.md
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Azure.ResourceManager.Dynatrace.csproj
  sdk/eventgrid/Azure.ResourceManager.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.ResourceManager.EventGrid/README.md
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Azure.ResourceManager.EventGrid.csproj
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/CHANGELOG.md
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/README.md
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/src/Azure.ResourceManager.HybridData.csproj
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/CHANGELOG.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/README.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Azure.ResourceManager.SecurityCenter.csproj
Labels: Event Grid

#32319 Increment version for consumption releases
  sdk/consumption/Azure.ResourceManager.Consumption/CHANGELOG.md
  sdk/consumption/Azure.ResourceManager.Consumption/src/Azure.ResourceManager.Consumption.csproj
Labels: auto-merge

#32318 Increment version for billing releases
  sdk/billing/Azure.ResourceManager.Billing/CHANGELOG.md
  sdk/billing/Azure.ResourceManager.Billing/src/Azure.ResourceManager.Billing.csproj
Labels: auto-merge

#32325 Increment version for securitycenter releases
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/CHANGELOG.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Azure.ResourceManager.SecurityCenter.csproj
Labels: auto-merge

#32317 Increment version for eventgrid releases
  sdk/eventgrid/Azure.ResourceManager.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Azure.ResourceManager.EventGrid.csproj
Labels: Event Grid, auto-merge

#32320 Increment version for automation releases
  sdk/automation/Azure.ResourceManager.Automation/CHANGELOG.md
  sdk/automation/Azure.ResourceManager.Automation/src/Azure.ResourceManager.Automation.csproj
Labels: auto-merge

#32321 Increment version for dataprotection releases
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: auto-merge

#32322 Increment version for devtestlabs releases
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/CHANGELOG.md
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/src/Azure.ResourceManager.DevTestLabs.csproj
Labels: auto-merge

#32324 Increment version for dynatrace releases
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/CHANGELOG.md
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Azure.ResourceManager.Dynatrace.csproj
Labels: auto-merge

#32323 Increment version for hybriddatamanager releases
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/CHANGELOG.md
  sdk/hybriddatamanager/Azure.ResourceManager.HybridData/src/Azure.ResourceManager.HybridData.csproj
Labels: auto-merge

#32230 [EngSys] Moq version bump
  eng/Packages.Data.props
Labels: Client, EngSys

#32330 Skip failing T1 live tests
  sdk/eventgrid/Microsoft.Azure.EventGrid/tests/Tests/ScenarioTests.PublishEvents.cs
Labels: Event Grid

#32333 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: auto-merge

#32337 [Event Hubs] November Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#32342 Add Dicom events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridRestClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareDicomImageCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareDicomImageCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareDicomImageDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/HealthcareDicomImageDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#32314 Use reflection for Activity.TraceStateString
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
Labels: Azure.Core

#32306 Sync eng/common directory with azure-sdk-tools for PR 4622
  eng/common/TestResources/clouds/AzureCloud.json
Labels: EngSys, Central-EngSys

#32354 Prepare for release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#32366 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#32338 [Event Hubs] Processor Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#32368 Update Azure.Core.Experimental changelog
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#32310 Sync eng/common directory with azure-sdk-tools for PR 4629
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#32367 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#32370 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#32313 Update Key Vault documentation
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_BackupHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_BackupHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_RbacScopeAssignment.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_SelectiveRestore.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/TROUBLESHOOTING.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/EncryptParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRotationPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
  sdk/keyvault/TROUBLESHOOTING.md
  sdk/keyvault/samples/getcert/README.md
  sdk/keyvault/samples/sharelink/README.md
Labels: KeyVault

#32372 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core, auto-merge

#32373 Prepare for SB release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#32371 Update Azure.Core version in Packages.Data.props
  eng/Packages.Data.props
Labels: Azure.Core

#32377 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#32376 Revert "Make retry policy internal"
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/ProcessingContext.cs
  sdk/core/Azure.Core/tests/samples/ConfigurationSamples.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
  sdk/core/Azure.Core/tests/samples/PollyPolicy.cs
Labels: Azure.Core

#32378 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#32353 Updating Identity for 1.8.0 release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#32382 Take latest Core reference and prep for Release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#32380 Rename EdDA to EdDsa
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/SignatureAlgorithm.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyUtilities.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmCryptographyClientLiveTests.cs
Labels: KeyVault

#32375 Increment version for entra releases
  sdk/entra/Microsoft.Azure.WebJobs.Extensions.AuthenticationEvents/CHANGELOG.md
  sdk/entra/Microsoft.Azure.WebJobs.Extensions.AuthenticationEvents/src/Microsoft.Azure.WebJobs.Extensions.AuthenticationEvents.csproj
Labels: auto-merge

#32393 Increment version for confidentialledger releases
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
Labels: auto-merge

#32398 Increment version for identity releases
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity, auto-merge

#32381 Use TryAdd when registering MessagingProvider so that we don't override custom provider
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusHostBuilderExtensions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus

#32383 Prepare Key Vault beta release
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#32225 [FormRecognizer] Updated error codes in tests to reflect service change
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeBusinessCardsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeContentLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeIdentityDocumentsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeInvoicesLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeReceiptsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeBusinessCardsLiveTests/StartRecognizeBusinessCardsFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeBusinessCardsLiveTests/StartRecognizeBusinessCardsFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeContentLiveTests/StartRecognizeContentFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeContentLiveTests/StartRecognizeContentFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeContentLiveTests/StartRecognizeContentThrowsForDamagedFile.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeContentLiveTests/StartRecognizeContentThrowsForDamagedFileAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeIdentityDocumentsLiveTests/StartRecognizeIdentityDocumentsFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeInvoicesLiveTests/StartRecognizeInvoicesFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeInvoicesLiveTests/StartRecognizeInvoicesFromUriThrowsForNonExistingContentAsync.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsFromUriThrowsForNonExistingContent.json
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/RecognizeReceiptsLiveTests/StartRecognizeReceiptsFromUriThrowsForNonExistingContentAsync.json
Labels: Client, Cognitive - Form Recognizer

#32392 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables, auto-merge

#32399 Updating check enforcer permissions to enable writing comments
  .github/workflows/event.yml
Labels: Central-EngSys

#32221 Add new library Azure.Core.Expressions.DataFactory
  eng/.docsettings.yml
  eng/Packages.Data.props
  sdk/core/Azure.Core.Expressions.DataFactory/Azure.Core.Expressions.DataFactory.sln
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
  sdk/core/Azure.Core.Expressions.DataFactory/Directory.Build.props
  sdk/core/Azure.Core.Expressions.DataFactory/README.md
  sdk/core/Azure.Core.Expressions.DataFactory/api/Azure.Core.Expressions.DataFactory.net461.cs
  sdk/core/Azure.Core.Expressions.DataFactory/api/Azure.Core.Expressions.DataFactory.net5.0.cs
  sdk/core/Azure.Core.Expressions.DataFactory/api/Azure.Core.Expressions.DataFactory.netcoreapp2.1.cs
  sdk/core/Azure.Core.Expressions.DataFactory/api/Azure.Core.Expressions.DataFactory.netstandard2.0.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryExpression.Serialization.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryExpression.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryExpressionJsonConverter.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/Properties/AssemblyInfo.cs
  sdk/core/Azure.Core.Expressions.DataFactory/tests/Azure.Core.Expressions.DataFactory.Tests.csproj
  sdk/core/Azure.Core.Expressions.DataFactory/tests/DataFactoryExpressionsTests.cs
  sdk/core/Azure.Core/Azure.Core.sln
  sdk/core/ci.yml
Labels: Azure.Core

#32400 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault, auto-merge

#32315 Updated Batch Track 2 Management plane SDK for 2022-10-01 API version
  sdk/batch/Azure.ResourceManager.Batch/Azure.ResourceManager.Batch.sln
  sdk/batch/Azure.ResourceManager.Batch/CHANGELOG.md
  sdk/batch/Azure.ResourceManager.Batch/api/Azure.ResourceManager.Batch.netstandard2.0.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Azure.ResourceManager.Batch.csproj
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/BatchAccountCertificateCollection.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/BatchAccountCertificateResource.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/BatchAccountPoolData.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/BatchAccountResource.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchAccountData.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchAccountPoolData.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchCertificateReference.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchCifsMountConfiguration.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchNetworkConfiguration.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchPrivateLinkServiceConnectionState.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/BatchUserAccount.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/NodeCommunicationMode.Serialization.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/Models/NodeCommunicationMode.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/ApplicationPackageRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/ApplicationRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/BatchAccountRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/CertificateRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/LocationRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/PoolRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/PrivateEndpointConnectionRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/Generated/RestOperations/PrivateLinkResourceRestOperations.cs
  sdk/batch/Azure.ResourceManager.Batch/src/autorest.md
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountCertificateCollectionTests/CertificateCollectionApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountCertificateCollectionTests/CertificateCollectionApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountCertificateOperationTests/CertificateResourceApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountCertificateOperationTests/CertificateResourceApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountCollectionTests/AccountCollectionApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountCollectionTests/AccountCollectionApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountOperationTests/AccountResourceApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountOperationTests/AccountResourceApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountPoolCollectionTests/PoolCollectionApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountPoolCollectionTests/PoolCollectionApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountPoolOperationTests/PoolResourceApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchAccountPoolOperationTests/PoolResourceApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationCollectionTests/ApplicationCollectionApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationCollectionTests/ApplicationCollectionApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationOperationTests/ApplicationResourceApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationOperationTests/ApplicationResourceApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationPackageCollectionTests/ApplicationPackageCollectionApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationPackageCollectionTests/ApplicationPackageCollectionApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationPackageOperationTests/ApplicationPackageResourceApiTests().json
  sdk/batch/Azure.ResourceManager.Batch/tests/SessionRecords/BatchApplicationPackageOperationTests/ApplicationPackageResourceApiTests()Async.json
  sdk/batch/Azure.ResourceManager.Batch/tests/TestCase/BatchApplicationPackageCollectionTests.cs
  sdk/batch/Azure.ResourceManager.Batch/tests/TestCase/BatchApplicationPackageOperationTests.cs
Labels: Batch

#32405 Increment version for redis releases
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/src/Azure.ResourceManager.Redis.csproj
Labels: auto-merge

#32396 [Service Bus] Add maximum length exception documentation.
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
Labels: Service Bus, customer-reported, Community Contribution

#32403 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, auto-merge

#32185 [WebPubSub] Release a package for headers support.
  eng/Packages.Data.props
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/api/Microsoft.Azure.WebPubSub.Common.netstandard2.0.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Internal/ConnectEventRequestJsonConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Microsoft.Azure.WebPubSub.Common.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Request/ConnectEventRequest.cs
Labels: auto-merge

#32422 Sync eng/common directory with azure-sdk-tools for PR 4623
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#32304 Search project directory for test-resources files first
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#32425 Sync eng/common directory with azure-sdk-tools for PR 4631
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#32431 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Microsoft.Azure.WebPubSub.Common.csproj
Labels: auto-merge

#32433 [WebPubSub] Release server sdk packages
  eng/Packages.Data.props
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
Labels: auto-merge

#32442 Increment version for resourcemanager releases
  eng/Packages.Data.props
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: auto-merge

#32429 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Azure.AI.Language.Conversations.csproj
Labels: auto-merge

#32439 Increment version for maps releases
  sdk/maps/Azure.Maps.Common/CHANGELOG.md
  sdk/maps/Azure.Maps.Common/src/Azure.Maps.Common.csproj
  sdk/maps/Azure.Maps.Search/CHANGELOG.md
  sdk/maps/Azure.Maps.Search/src/Azure.Maps.Search.csproj
Labels: auto-merge

#32446 Increment version for resources releases
  eng/Packages.Data.props
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: auto-merge

#32452 Fix empty string validation for GetEntity
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Generated/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityAllowsEmptyRowKey.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityAllowsEmptyRowKeyAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/GetEntityAllowsEmptyRowKey.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/GetEntityAllowsEmptyRowKeyAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Tables

#32177 [Text Analytics] Add support for NER resolutions
  .vscode/cspell.json
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/CategorizedEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AgeResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AgeResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AgeUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AreaResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AreaResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AreaUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BaseResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BaseResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BooleanResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BooleanResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/CurrencyResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/CurrencyResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DateTimeResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DateTimeResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/DateTimeSubKind.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityWithResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityWithResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/InformationResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/InformationResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/InformationUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/LengthResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/LengthResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/LengthUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/NumberKind.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/NumberResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/NumberResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/NumericRangeResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/NumericRangeResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/OrdinalResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/OrdinalResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/RangeKind.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/RelativeTo.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SpeedResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SpeedResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SpeedUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TemperatureResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TemperatureResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TemperatureUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TemporalModifier.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TemporalSpanResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/TemporalSpanResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/UnknownBaseResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/VolumeResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/VolumeResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/VolumeUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/WeightResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/WeightResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/WeightUnit.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/GeneratorStubs/Resolutions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.Legacy.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeCustomEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithResolutionsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithResolutionsTestAsync.json
Labels: Cognitive - Text Analytics

#32453 Sync eng/common directory with azure-sdk-tools for PR 4687
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#32450 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: auto-merge

#32449 Increment version for batch releases
  sdk/batch/Azure.ResourceManager.Batch/CHANGELOG.md
  sdk/batch/Azure.ResourceManager.Batch/src/Azure.ResourceManager.Batch.csproj
Labels: Batch, auto-merge

#32444 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
Labels: auto-merge

#32406 [WebPubSub]Init pr for webpubsub client sdk: Add public interface
  .vscode/cspell.json
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/Azure.Messaging.WebPubSub.Client.sln
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/Directory.Build.props
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/api/Azure.Messaging.WebPubSub.Client.netstandard2.1.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/samples/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/samples/Sample1_HelloWorld.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Azure.Messaging.WebPubSub.Client.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventArgs/WebPubSubConnectedEventArgs.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventArgs/WebPubSubDisconnectedEventArgs.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventArgs/WebPubSubGroupMessageEventArgs.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventArgs/WebPubSubRejoinGroupFailedEventArgs.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventArgs/WebPubSubServerMessageEventArgs.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventArgs/WebPubSubStoppedEventArgs.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Exceptions/SendMessageFailedException.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/GlobalSuppressions.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Internals/MemoryBufferWriter.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Internals/ReusableUtf8JsonWriter.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Internals/SystemTextJsonExtension.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Internals/Utils.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/AckMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/AckMessageError.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/ConnectedMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/DisconnectedMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/GroupDataMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/JoinGroupMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/LeaveGroupMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/SendEventMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/SendToGroupMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/SequenceAckMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/ServerDataMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Messages/WebPubSubMessage.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Models/WebPubSubClientOptions.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Models/WebPubSubDataType.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Properties/AssemblyInfo.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Protocols/WebPubSubJsonProtocol.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Protocols/WebPubSubJsonProtocolBase.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Protocols/WebPubSubJsonReliableProtocol.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Protocols/WebPubSubProtocol.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Protocols/WebPubSubProtocolMessageType.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebPubSubClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebPubSubClientCredential.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebPubSubResult.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebSocketClient/IWebSocketClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebSocketClient/IWebSocketClientFactory.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebSocketClient/WebSocketReadResult.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/Azure.Messaging.WebPubSub.Client.Tests.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/Samples/WebPubSubClientSample.HelloWorld.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/test.runsettings
  sdk/webpubsub/ci.yml
Labels: auto-merge

#32471 Restore RunApiCompat in Azure.Core
  sdk/core/Azure.Core.Experimental/tests/Azure.Core.Experimental.Tests.csproj
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
Labels: Azure.Core

#32451 [DevCenter] Enable parallel test execution
  sdk/devcenter/ci.yml
  sdk/devcenter/test-resources.bicep
Labels: DevCenter

#32473 Sync eng/common directory with azure-sdk-tools for PR 4632
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Labels: EngSys, Central-EngSys

#32402 [Text Analytics] Add support for abstractive summarization
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryResultCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractiveSummary.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AbstractiveSummarizationResultBaseDocumentsItem.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AbstractiveSummarizationResultBaseDocumentsItem.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AbstractiveSummaryDocumentResult.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AbstractiveSummaryDocumentResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AbstractiveSummaryInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/AbstractiveSummaryInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SummaryContextInternal.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SummaryContextInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/AbstractiveSummaryInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Internal/SummaryContextInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LegacyServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/ServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummaryContext.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsActions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AbstractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchConvenienceTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchConvenienceTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchConvenienceWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchConvenienceWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchWithErrorTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchWithErrorTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchWithStatisticsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryBatchWithStatisticsTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryWithAADTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AbstractSummaryWithAADTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAbstractSummary.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAbstractSummaryAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsModelFactoryTests.cs
Labels: Cognitive - Text Analytics

#32486 [DevCenter] Add network connection unique string
  sdk/devcenter/test-resources.bicep
Labels: DevCenter

#32488 Prep for Tables patch release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityAllowsEmptyRowKey.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(Storage)/GetEntityAllowsEmptyRowKeyAsync.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/GetEntityAllowsEmptyRowKey.json
  sdk/tables/Azure.Data.Tables/tests/SessionRecords/TableClientLiveTests(StorageAAD)/GetEntityAllowsEmptyRowKeyAsync.json
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
Labels: Tables

#31157 Integrate Asset-Sync Features
  .gitignore
  sdk/core/Azure.Core.TestFramework/src/Generated/Models/StartInformation.Serialization.cs
  sdk/core/Azure.Core.TestFramework/src/Generated/Models/StartInformation.cs
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
  sdk/core/Azure.Core.TestFramework/src/testproxy.json
Labels: Azure.Core

#32489 Bumped storage SAS to 2021-12-02
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
Labels: Storage

#32497 Sync eng/common directory with azure-sdk-tools for PR 4701
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#32481 Some performance improvements in Azure.Core for .Net 6.0
  global.json
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/Microsoft.Azure.Batch.Conventions.Files.Integration.Tests.csproj
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/UnitTests/Microsoft.Azure.Batch.Conventions.Files.Tests.csproj
  sdk/batch/Microsoft.Azure.Batch.FileStaging/tests/Microsoft.Azure.Batch.FileStaging.Tests.csproj
  sdk/cognitiveservices/FormRecognizer/tests/Microsoft.Azure.CognitiveServices.Vision.FormRecognizer.Tests.csproj
  sdk/cognitiveservices/Language.LUIS.Authoring/tests/Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.Tests.csproj
  sdk/cognitiveservices/Language.LUIS.Runtime/tests/Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime.Tests.csproj
  sdk/cognitiveservices/Search.BingAutoSuggest/tests/Microsoft.Azure.CognitiveServices.Search.BingAutoSuggest.Tests.csproj
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineSynchronousPolicy.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests.csproj
  sdk/storagepool/Azure.ResourceManager.StoragePool/tests/Azure.ResourceManager.StoragePool.Tests.csproj
Labels: Storage, Azure.Core

#32472 Add MQ issue template
  .github/ISSUE_TEMPLATE/05_mqissue.yml
Labels: auto-merge

#32524 Sync eng/common directory with azure-sdk-tools for PR 4726
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#32516 Bumped storage platform matrix version
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#32529 Increment version for nginx releases
  sdk/nginx/Azure.ResourceManager.Nginx/CHANGELOG.md
  sdk/nginx/Azure.ResourceManager.Nginx/src/Azure.ResourceManager.Nginx.csproj
Labels: auto-merge

#32502 Support "New" in TableClient LINQ Expressions
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Queryable/Evaluator.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionNormalizer.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionParser.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionWriter.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/LinqExpressionVisitor.cs
  sdk/tables/Azure.Data.Tables/tests/QueryFilterTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: customer-reported, Tables, Community Contribution

#32534 Updating CODEOWNERS for Communication Identity & Common Packages
  .github/CODEOWNERS
Labels: Communication - Common, Communication - Identity

#32448 Sync eng/common directory with azure-sdk-tools for PR 4628
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#32537 Sync eng/common directory with azure-sdk-tools for PR 4728
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#32476 Callautomation v4 api
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClientOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/ContentRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallSourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/GenderType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlaySourceInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlaySourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlaySourceTypeInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeChoice.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeChoice.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeInputType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingStorageType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TextSourceInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TextSourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/ServerCallingRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/ServerCallsRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/GenderType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RecognizeChoice.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecordingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TextSource.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TextSourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
  sdk/communication/Azure.Communication.JobRouter/tests/Azure.Communication.JobRouter.Tests.csproj
Labels: Communication

#32493 [Text Analytics] Move `Warnings` to `ExtractSummaryResult` and remove `SummarySentenceCollection`
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryResultCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryActionResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryOperation.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryResult.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryResultCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/ServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummarySentence.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummarySentenceCollection.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SummarySentencesOrder.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractSummaryTests.cs
Labels: Cognitive - Text Analytics

#32546 Fix test issue to unblock further commits
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/Azure.Messaging.WebPubSub.Client.Tests.csproj
Labels: auto-merge

#32550 Increment version for trafficmanager releases
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/CHANGELOG.md
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Azure.ResourceManager.TrafficManager.csproj
Labels: auto-merge

#32555 Increment version for kusto releases
  sdk/kusto/Azure.ResourceManager.Kusto/CHANGELOG.md
  sdk/kusto/Azure.ResourceManager.Kusto/src/Azure.ResourceManager.Kusto.csproj
Labels: auto-merge

#32533 Update AutoRest C# version
  eng/Packages.Data.props
  sdk/botservice/Azure.ResourceManager.BotService/src/Generated/Models/EmailChannelAuthMethod.Serialization.cs
  sdk/botservice/Azure.ResourceManager.BotService/src/Generated/Models/EmailChannelAuthMethod.cs
  sdk/mixedreality/Azure.ResourceManager.MixedReality/api/Azure.ResourceManager.MixedReality.netstandard2.0.cs
  sdk/mixedreality/Azure.ResourceManager.MixedReality/src/Generated/Models/AccountKeyRegenerateRequest.Serialization.cs
  sdk/mixedreality/Azure.ResourceManager.MixedReality/src/Generated/Models/Serial.Serialization.cs
  sdk/mixedreality/Azure.ResourceManager.MixedReality/src/Generated/Models/Serial.cs
Labels: Search, Cognitive - Form Recognizer, Communication, DevCenter, Load Test Service

#32507 Add net6.0 target framework to Azure.Storage
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/src/Multipart.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/Shared/MultipartSectionStreamExtensions.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/Shared/PrimitiveExtensions.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptorV1_0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptorV2_0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/EncryptionData.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageClientDiagnostics.cs
  sdk/storage/Azure.Storage.Common/src/StorageSharedKeyCredential.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Internal.Avro/src/Azure.Storage.Internal.Avro.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#32551 Sync eng/common directory with azure-sdk-tools for PR 4746
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#32462 [WebPubSub] Adding feature support
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/api/Azure.Messaging.WebPubSub.netstandard2.0.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/ClientConnectionFilter.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_helpers.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/ClientConnectionFilterTests.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/Samples/WebPubSubSamples.HelloWorld.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubLiveTests.cs
Labels: auto-merge

#32478 [WebPubSub]Implement WebSocket Client
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/Azure.Messaging.WebPubSub.Client.sln
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/api/Azure.Messaging.WebPubSub.Client.netstandard2.0.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Azure.Messaging.WebPubSub.Client.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventSource/WebPubSubClientEventSource.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Internals/MemoryBufferWriter.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Protocols/WebPubSubJsonProtocolBase.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebSocketClient/WebSocketClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebSocketClient/WebSocketClientFactory.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/Azure.Messaging.WebPubSub.Client.Tests.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/Protocols/JsonProtocolTests.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/Samples/WebPubSubClientSample.HelloWorld.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/test.runsettings
  sdk/webpubsub/ci.yml
Labels: auto-merge

#32589 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: auto-merge

#32582 typo
  sdk/tables/Azure.Data.Tables/MigrationGuide.md
Labels: customer-reported, Tables, Community Contribution

#32564 Use Rooms connection string for tests
  sdk/communication/Azure.Communication.Rooms/tests/RoomsClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Rooms/tests/RoomsClientLiveTests.cs
  sdk/communication/Azure.Communication.Rooms/tests/RoomsClientTestEnvironment.cs
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomOpenRequestLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomOpenRequestLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveWithoutParticipantsTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveWithoutParticipantsTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomTimePartialUpdateLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomTimePartialUpdateLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RoomParticipantsMethodLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RoomParticipantsMethodLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateParticipantRoleMethodLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateParticipantRoleMethodLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/AcsRoomRequestSample.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/AcsRoomRequestSampleAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/AddParticipantsExample.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/AddParticipantsExampleAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/RemoveParticipantsExample.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/RemoveParticipantsExampleAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/RoomRequestsTroubleShooting.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/RoomRequestsTroubleShootingAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/UpdateParticipantsExample.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/Sample1_RoomsClient/UpdateParticipantsExampleAsync.json
Labels: auto-merge, Communication

#32581 Update SB samples to target NET6.0
  eng/Packages.Data.props
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/DeadLetterQueue/DeadLetterQueue.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Directory.Build.props
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Directory.Build.targets
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/TopicFilters/TopicFilters.csproj
Labels: Service Bus

#32575 Session manager cleanup
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
Labels: Service Bus, customer-reported, Community Contribution

#32611 fix BufferedProducerIdleCompleteCore 0xc0000409 - The system detected an overrun of a stack-based buffer in this application.
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
Labels: Event Hubs

#32496 SDK for 2022-09-04 api version with zones property
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CloudService.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LoadBalancerConfigurationProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LoadBalancerFrontendIPConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LoadBalancerFrontendIPConfigurationProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceScenarioTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/CloudServiceTests/CloudServiceTestsBase.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceExtensionTests/MultiRole_CreateUpdateGetAndDeleteWithExtension_WorkerAndWebRole_MultiRoleExtension.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperatingSystemTests/Test_CloudServiceOperatingSystemOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_Create_PowerOff_Start_CloudServiceOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceOperationTests/Test_ListCloudServicesOperation.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceRoleInstanceTests/Test_CloudServiceRoleInstanceOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_AvailabilityZones.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_DeleteCloudService.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_ExtensionProfile.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceScenarioTests/TestCloudServiceScenarioOperations_InstanceView.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceOperations_ScaleIn_ScaleOut.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/CloudServiceUpdateTests/TestCloudServiceUpdateOperations.json
Labels: Compute

#32616 [Event Hubs] Release Prep (OOB)
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#32607 [Docs] Fixing broken links
  sdk/eventgrid/README.md
  sdk/eventhub/README.md
  sdk/monitor/Azure.Monitor.Ingestion/src/Azure.Monitor.Ingestion.csproj
  sdk/monitor/Azure.Monitor.Query/README.md
Labels: Event Hubs, Event Grid, Client, Docs

#32544 [AzureMonitorExporter] cleanup csproj. add missing XML comments
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterOptions.cs
Labels: Monitor - Exporter

#32617 [Event Hubs] Processor Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#32622 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#32538 [AzureMonitorExporter] add package tag for "ApplicationInsights"
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#32627 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#32603 Refactor the build method of `ServiceManager` to remove internal dependency
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/EmptyConfiguration.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/IInternalServiceHubContextStore.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/OptionsSetup.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/ServiceHubContextStore.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/ServiceManagerStore.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/SignatureValidationOptions.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Config/SignatureValidationOptionsSetup.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/Executor/ExecutionContext.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/Executor/SignalRMethodExecutor.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/Resolver/IRequestResolver.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/Resolver/SignalRRequestResolver.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/SignalRTriggerBinding.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/SignalRTriggerBindingProvider.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/OptionsSetupFacts.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/ServiceManagerStoreTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/SignatureValidationOptionsSetupTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/SignalRMethodExecutorTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/SignalRRequestResolverTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/SignalRTriggerDispatcherTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/SignalRTriggerResolverTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Trigger/SignalRTriggerTests.cs
Labels: auto-merge

#32026 Introduce samples for keyvault
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_DeletedKeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_DeletedKeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_DeletedManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_DeletedManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_KeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_KeyVaultPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_KeyVaultPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_KeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_ManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_ManagedHsmPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_ManagedHsmPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_ManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/autorest.tests.md
Labels: KeyVault

#32645 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Azure.ResourceManager.LoadTesting.csproj
Labels: auto-merge, Load Test Service

#32652 [Text Analytics] Tweak NER resolutions test to make it less strict
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithResolutionsTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/RecognizeEntitiesBatchWithResolutionsTestAsync.json
Labels: Cognitive - Text Analytics

#32656 [Text Analytics] Fix outdated PII aka.ms link
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/PiiEntityDomain.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizePiiEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
Labels: Cognitive - Text Analytics
