Repository Azure/azure-sdk-for-net, pull requests merged in 2023-01, with the labels that each got.

#33233 Increment version for mixedreality releases
  sdk/mixedreality/Azure.ResourceManager.MixedReality/CHANGELOG.md
  sdk/mixedreality/Azure.ResourceManager.MixedReality/src/Azure.ResourceManager.MixedReality.csproj
Labels: auto-merge

#33254 Update SignalR function extensions change log
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
Labels: auto-merge

#33168 [Storage] [DataMovement] Fix for unreliable CommitHandlerTests and DownloadChunkHandler tests
  sdk/storage/Azure.Storage.DataMovement/tests/CommitChunkHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DownloadChunkHandlerTests.cs
Labels: Storage

#33277 Update changelog for release
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#33162 Allow updating prefetch count with UpdatePrefetchCount
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
Labels: Service Bus, customer-reported, Community Contribution

#33280 Add entry to changelist for JsonData API changes.
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#33118 [Storage] [DataLake] Removed use of TestExtensions.ToList in samples
  sdk/storage/Azure.Storage.Files.DataLake/samples/Sample01b_HelloWorldAsync.cs
Labels: Storage

#33286 Sync eng/common directory with azure-sdk-tools for PR 5005
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#33288 Update version for release
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: auto-merge

#33290 [WebPubSub] Make ackable operation cancellable in WebPubSubClient
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebPubSubClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/WebPubSubClientAckableOperationTests.cs
Labels: auto-merge

#32825 Reimage Support for Standalone VMs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSProfileProvisioningData.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineReimageParameters.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetReimageParameters.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMReimageParameters.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMOperationalTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMReimageTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMReimageTests/TestReimage.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetVMOperationalTests.cs
Labels: Compute

#32027 Addition of user Data property in RestorePointSourceMetadata class for restore points
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RestorePointSourceMetadata.cs
Labels: Compute

#32880 Generate new compute import for SDK. Includes OS Image profile and maxSurge in Microsoft.Compute
  eng/mgmt/mgmtmetadata/compute_resource-manager.txt
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSImageNotificationProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RollingUpgradePolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ScheduledEventsProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/SdkInfo_ComputeManagementClient.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Microsoft.Azure.Management.Compute.csproj
  sdk/compute/Microsoft.Azure.Management.Compute/src/generate.ps1
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetRollingUpgradeTests/TestVMScaleSetRollingUpgradeMaxSurge.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperations_ScheduledEvents.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetRollingUpgradeTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
Labels: Compute

#32921 Adding requireGuestProvisionSignal and constrainedMaximumCapacity mis…
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetOSProfile.cs
Labels: Compute, customer-reported, Community Contribution

#32933 Add serviceArtifactReference property
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ServiceArtifactReference.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetScenarioTests/TestVMScaleSetScenarioOperation_PirImageWithServiceArtifactReferenceId.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetScenarioTests.cs
Labels: Compute, customer-reported, Community Contribution

#32660 SDK generated from Swagger for Image Deprecation related changes
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AlternativeOption.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AlternativeType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageDeprecationStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageState.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineImage.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/ScenarioTests/VMImageTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMImagesTests/TestVMImage_ImageDeprecationStatusProperties_ActiveImage.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMImagesTests/TestVMImage_ImageDeprecationStatusProperties_ScheduledForDeprecationImage.json
Labels: Compute

#32894 SDK for rollbackFailedInstancesOnPolicyBreach
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RollingUpgradePolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetRollingUpgradeTests/TestVMScaleSetRollingUpgrade.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetRollingUpgradeTests.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetTestsBase.cs
Labels: Compute

#33298 Sync eng/common directory with azure-sdk-tools for PR 5027
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Labels: EngSys, Central-EngSys

#33304 Increment version for chaos releases
  sdk/chaos/Azure.ResourceManager.Chaos/CHANGELOG.md
  sdk/chaos/Azure.ResourceManager.Chaos/src/Azure.ResourceManager.Chaos.csproj
Labels: auto-merge

#33317 Update TROUBLESHOOTING.md
  sdk/servicebus/Azure.Messaging.ServiceBus/TROUBLESHOOTING.md
Labels: Service Bus, customer-reported, Community Contribution

#33320 [Service Bus] Peek doc updates
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessorReceiveActions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/ServiceBusReceiveActions.cs
Labels: Service Bus, Client, Docs

#33321 Sync eng/common directory with azure-sdk-tools for PR 5054
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#33322 Migrate from Testing from to testing to
  sdk/communication/Azure.Communication.PhoneNumbers/phone-numbers-livetest-matrix.json
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage, Communication

#33281 Make retrypolicy internal
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/MessageProcessingContext.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
Labels: Azure.Core

#33312 Prepare the release for Azure.ResourceManager.LoadTesting 1.0.0-beta.2
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/autorest.md
Labels: Load Test Service

#33334 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Azure.ResourceManager.LoadTesting.csproj
Labels: auto-merge, Load Test Service

#33347 [Search] Update readme and samples to use the same format of search resource data as official docs
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/samples/Sample02_Service.md
  sdk/search/Azure.Search.Documents/samples/Sample06_EncryptedIndex.md
  sdk/search/Azure.Search.Documents/src/Indexes/Models/SearchIndex.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample06_EncryptedIndex.cs
  sdk/search/Azure.Search.Documents/tests/SessionRecords/EncryptedIndex/CreateDoubleEncryptedIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/FieldBuilderIgnore/CreateIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/CreateClient.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/CreateClientAsyncAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/CreateIndexerAsyncAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/GetCountAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/GetCountAsyncAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/GetStatisticsAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/GetStatisticsAsyncAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/HandleErrors.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/HelloWorld/HandleErrorsAsyncAsync.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/Authenticate.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/CreateIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/CreateManualIndex.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/GetDocument.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/Index.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/Options.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/QueryStatic.json
  sdk/search/Azure.Search.Documents/tests/SessionRecords/Readme/Troubleshooting.json
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchResources.cs
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchResourcesSample.Data.cs
Labels: Search

#33349 Sync eng/common directory with azure-sdk-tools for PR 5059
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#33358 Sync eng/common directory with azure-sdk-tools for PR 5040
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#33267 [WebPubSub] Update the README of WebPubSubClient
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/samples/Sample1_HelloWorld.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/samples/media/overview.png
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/Samples/WebPubSubClientSample.HelloWorld.cs
Labels: auto-merge

#33365 revert AzureSasCredentialSynchronousPolicy changes
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/AzureSasCredential.cs
  sdk/core/Azure.Core/src/Shared/AzureSasCredentialSynchronousPolicy.cs
  sdk/core/Azure.Core/tests/AzureSasCredentialSynchronousPolicyTests.cs
Labels: Azure.Core

#33284 Fix for Share DeleteIfExists/Exists Error Live tests
  sdk/storage/Azure.Storage.Files.Shares/tests/FileTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/DeleteIfExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_Error.json
  sdk/storage/Azure.Storage.Files.Shares/tests/SessionRecords/ShareClientTests/ExistsAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#33363 Sync eng/common directory with azure-sdk-tools for PR 5085
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#33368 Delete unused metrics code
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpUsageMeter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusTransportMetrics.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpConnectionScopeTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusTransportMetricsTests.cs
Labels: Service Bus

#33346 Fix for Datamovement live tests
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToAppendBlob_ExpectedError.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToAppendBlob_ExpectedErrorAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToPageBlob_ExpectedError.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToPageBlob_ExpectedErrorAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferAsyncCopyTests.cs
Labels: Storage

#33325 Fix for flakey Download 304 tests to check LastModified time from Upload
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
Labels: Storage

#33367 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: auto-merge

#33327 Fix doc issues for Key Vault Administration SDK
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_BackupHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldAsync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample1_RbacHelloWorldSync.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample2_RbacScopeAssignment.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/Sample3_BackRestoreResume.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/CreateOrUpdateRoleDefinitionOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultRestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacHelloWorld/CrudRoleDefinition.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/SessionRecords/RbacHelloWorld/CrudRoleDefinitionAsyncAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_RbacHelloWorld.cs
Labels: KeyVault, Azure.Core

#33372 Sync eng/common directory with azure-sdk-tools for PR 5095
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#33380 Increment version for kusto releases
  sdk/kusto/Azure.ResourceManager.Kusto/CHANGELOG.md
  sdk/kusto/Azure.ResourceManager.Kusto/src/Azure.ResourceManager.Kusto.csproj
Labels: auto-merge

#33374 Resolve feedback against PR #33327
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/samples/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSettingsClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
Labels: KeyVault

#33392 Preparation for Azure.Core 1.27.0 Release.
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#33366 [Communication] - Phone Numbers - Prepare for browse API release
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
Labels: Communication

#33373 [Azure.Monitor.Ingestion] Check if DPG Upload methods have gzipped content
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.net461.cs
  sdk/monitor/Azure.Monitor.Ingestion/api/Azure.Monitor.Ingestion.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/Generated/Docs/LogsIngestionClient.xml
  sdk/monitor/Azure.Monitor.Ingestion/src/Generated/LogsIngestionClient.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/LogsIngestionClient.cs
  sdk/monitor/Azure.Monitor.Ingestion/src/autorest.md
  sdk/monitor/Azure.Monitor.Ingestion/tests/MonitorIngestionLiveTest.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputAlreadyGzipped.json
  sdk/monitor/Azure.Monitor.Ingestion/tests/SessionRecords/MonitorIngestionLiveTest/ValidInputAlreadyGzippedAsync.json
Labels: Client, Monitor - Ingestion

#33394 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#33398 Move SDK libraries to latest released Azure.Core
  eng/Packages.Data.props
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Storage, App Configuration, Tables

#33354 Update `global.json` `Microsoft.Build.Traversal` from `3.0.23` to `3.2.0`
  global.json
Labels: EngSys, Central-EngSys

#32959 Add fluent API helpers to MockResponse
  sdk/core/Azure.Core.TestFramework/Azure.Core.TestFramework.sln
  sdk/core/Azure.Core.TestFramework/src/MockResponse.cs
  sdk/core/Azure.Core.TestFramework/tests/MockClientTests.cs
  sdk/core/Azure.Core.TestFramework/tests/TestClients/MockClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/TestExtensions.cs
Labels: KeyVault, Azure.Core

#33382 [WebPubSubClient] Prepare for beta.1 release
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/README.md
Labels: auto-merge

#33406 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: auto-merge

#33408 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/Azure.Messaging.WebPubSub.Client.csproj
Labels: auto-merge

#33393 Use new Drain API
  eng/Packages.Data.props
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
Labels: Service Bus

#33423 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#33439 Update release time of 1.9.0
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
Labels: auto-merge

#33436 Increment version for containerinstance releases
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/CHANGELOG.md
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Azure.ResourceManager.ContainerInstance.csproj
Labels: auto-merge

#33441 [ServiceBus] Update CHANGELOG to prepare release
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
Labels: Service Bus

#33418 Enhance test case to have different values of refreshProactively
  sdk/communication/Azure.Communication.Common/tests/Identity/CommunicationTokenCredentialTest.cs
Labels: Communication, Communication - Identity

#33447 Increment version for servicebus releases
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Azure.ResourceManager.ServiceBus.csproj
Labels: Service Bus, auto-merge

#33456 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#33427 [Event Hubs] Documentation Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_AzureEventSourceListener.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PluggableCheckpointStoreEventProcessor.cs
Labels: Event Hubs, Client

#33459 Sync eng/common directory with azure-sdk-tools for PR 5121
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#33434 Update AutoRest C# version
  eng/Packages.Data.props
  eng/csharp-emitter-package.json
Labels: Storage, Service Bus, Batch, KeyVault, Search, Event Hubs, Compute, Event Grid, App Configuration, Digital Twins, Communication, DevCenter, Load Test Service

#33215 Migrate samples for DigitalTwins and ElasticSan
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/Azure.ResourceManager.DigitalTwins.sln
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Azure.ResourceManager.DigitalTwins.Samples.csproj
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsDescriptionCollection.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsDescriptionResource.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsEndpointResource.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsEndpointResourceCollection.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsPrivateEndpointConnectionCollection.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsPrivateEndpointConnectionResource.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsPrivateLinkResource.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_DigitalTwinsPrivateLinkResourceCollection.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_TimeSeriesDatabaseConnectionCollection.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/Generated/Samples/Sample_TimeSeriesDatabaseConnectionResource.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/samples/autorest.tests.md
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/Azure.ResourceManager.ElasticSan.sln
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Azure.ResourceManager.ElasticSan.Samples.csproj
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeGroupCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/autorest.tests.md
Labels: Digital Twins

#33458 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#32814 Drop netcoreapp3.1, add net7.0 support
  .vsconfig
  CONTRIBUTING.md
  common/SmokeTests/SmokeTest/SmokeTest.csproj
  doc/ApiDocGeneration/assets/docgen.csproj
  doc/dev/Using-Mock-Test-Generation.md
  eng/Directory.Build.Common.props
  eng/mgmt/AzSdk.test.reference.props
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/install-dotnet.yml
  eng/scripts/dependencies/azure-sdk.deps.csproj
  global.json
  samples/AppSecretsConfig/AppSecretsConfig.csproj
  samples/CloudClipboard/CloudClipboard/CloudClipboard.csproj
  samples/linecounter/LineCounter.csproj
  sdk/appconfiguration/CONTRIBUTING.md
  sdk/blueprint/Microsoft.Azure.Management.Blueprint/tests/ScenarioTests/BlueprintTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/phone-numbers-livetest-matrix.json
  sdk/devcenter/CONTRIBUTING.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/perf/README.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsClientSample.csproj
  sdk/extensions/Microsoft.Extensions.Azure/samples/Microsoft.Extensions.Azure.Samples.csproj
  sdk/identity/platform-matrix.json
  sdk/iot/Azure.IoT.Hub.Service/samples/IotHubClientSamples/IotHubClientSamples.csproj
  sdk/keyvault/CONTRIBUTING.md
  sdk/keyvault/samples/getcert/Program.cs
  sdk/keyvault/samples/getcert/getcert.csproj
  sdk/keyvault/samples/keyvaultproxy/tests/AzureSamples.Security.KeyVault.Proxy.Tests.csproj
  sdk/keyvault/samples/sharelink/ShareLink.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/Azure.Monitor.OpenTelemetry.Exporter.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/BasicTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/RequestTelemetryTests.cs
  sdk/resourcemanager/Azure.ResourceManager/docs/TestGuide.md
  sdk/search/CONTRIBUTING.md
  sdk/servermanagement/Microsoft.Azure.Management.ServerManagement/tests/ServerManagementTestBase.cs
  sdk/storage/CONTRIBUTING.md
  sdk/storage/platform-matrix-all-versions.json
  sdk/textanalytics/Azure.AI.TextAnalytics/perf/Azure.AI.TextAnalytics.Perf/README.md
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/TimeSeriesInsightsClientSample.csproj
  tools/ProjectTemplates/AzureDotNetSDK-TestProject/AzureDotNetSDK-TestProject.csproj
Labels: Storage, KeyVault, Search, IoT, TimeseriesInsights, App Configuration, Azure.Identity, Cognitive - Text Analytics, Digital Twins, Communication, DevCenter

#33481 Update `Azure.ClientSdk.Analyzers` to `0.1.1-dev.20230113.1` to fix VS breakage.
  eng/Packages.Data.props
Labels: EngSys

#33479 Sync eng/common directory with azure-sdk-tools for PR 5113
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#32984 Adding email live tests resources to test-resources.json
  sdk/communication/test-resources.json
Labels: Communication

#33478 Cherry-Pick Managed Identity Metadata fix for patch release 1.8.1
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialImdsLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#33465 [Text Analytics] Edit README section about Azure CLI
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
Labels: Cognitive - Text Analytics

#33491 Sync eng/common directory with azure-sdk-tools for PR 5134
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#33253 Migrate samples for SecurityDevOps and ServiceBus
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Azure.ResourceManager.SecurityDevOps.sln
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Azure.ResourceManager.SecurityDevOps.Samples.csproj
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsConnectorCollection.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsConnectorResource.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsOrgCollection.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsOrgResource.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsProjectCollection.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsProjectResource.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsRepoCollection.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_AzureDevOpsRepoResource.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_GitHubConnectorCollection.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_GitHubConnectorResource.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_GitHubOwnerCollection.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_GitHubOwnerResource.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_GitHubRepoCollection.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/Generated/Samples/Sample_GitHubRepoResource.cs
  sdk/securitydevops/Azure.ResourceManager.SecurityDevOps/Samples/autorest.tests.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/Azure.ResourceManager.ServiceBus.sln
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Azure.ResourceManager.ServiceBus.Samples.csproj
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_MigrationConfigurationCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_MigrationConfigurationResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusDisasterRecoveryAuthorizationRuleCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusDisasterRecoveryAuthorizationRuleResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusDisasterRecoveryCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusDisasterRecoveryResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusNamespaceAuthorizationRuleCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusNamespaceAuthorizationRuleResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusNamespaceCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusNamespaceResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusNetworkRuleSetResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusPrivateEndpointConnectionCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusPrivateEndpointConnectionResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusQueueAuthorizationRuleCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusQueueAuthorizationRuleResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusQueueCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusQueueResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusRuleCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusRuleResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusSubscriptionCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusSubscriptionResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusTopicAuthorizationRuleCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusTopicAuthorizationRuleResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusTopicCollection.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/Generated/Samples/Sample_ServiceBusTopicResource.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/samples/autorest.tests.md
Labels: Service Bus

#33252 Migrate samples for Resources and Search
  sdk/resources/Azure.ResourceManager.Resources/Azure.ResourceManager.Resources.sln
  sdk/resources/Azure.ResourceManager.Resources/samples/Azure.ResourceManager.Resources.Samples.csproj
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmApplicationCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmApplicationDefinitionCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmApplicationDefinitionResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmApplicationResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmDeploymentCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmDeploymentResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmDeploymentScriptCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmDeploymentScriptResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ScriptLogResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_TemplateSpecCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_TemplateSpecResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_TemplateSpecVersionCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_TemplateSpecVersionResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/autorest.tests.md
  sdk/search/Azure.ResourceManager.Search/Azure.ResourceManager.Search.sln
  sdk/search/Azure.ResourceManager.Search/samples/Azure.ResourceManager.Search.Samples.csproj
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchPrivateEndpointConnectionCollection.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchPrivateEndpointConnectionResource.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchServiceCollection.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchServiceResource.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SharedSearchServicePrivateLinkResource.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SharedSearchServicePrivateLinkResourceCollection.cs
  sdk/search/Azure.ResourceManager.Search/samples/autorest.tests.md
Labels: Search

#33217 Migrate samples for EventHubs and ExtendedLocations
  sdk/eventhub/Azure.ResourceManager.EventHubs/Azure.ResourceManager.EventHubs.sln
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Azure.ResourceManager.EventHubs.Samples.csproj
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubAuthorizationRuleCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubAuthorizationRuleResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsApplicationGroupCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsApplicationGroupResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsClusterCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsClusterResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsConsumerGroupCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsConsumerGroupResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsDisasterRecoveryAuthorizationRuleCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsDisasterRecoveryAuthorizationRuleResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsDisasterRecoveryCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsDisasterRecoveryResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsNamespaceAuthorizationRuleCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsNamespaceAuthorizationRuleResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsNamespaceCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsNamespaceResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsNetworkRuleSetResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsPrivateEndpointConnectionCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsPrivateEndpointConnectionResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsSchemaGroupCollection.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/Generated/Samples/Sample_EventHubsSchemaGroupResource.cs
  sdk/eventhub/Azure.ResourceManager.EventHubs/samples/autorest.tests.md
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/Azure.ResourceManager.ExtendedLocations.sln
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/samples/Azure.ResourceManager.ExtendedLocations.Samples.csproj
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/samples/Generated/Samples/Sample_CustomLocationCollection.cs
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/samples/Generated/Samples/Sample_CustomLocationResource.cs
  sdk/extendedlocation/Azure.ResourceManager.ExtendedLocations/samples/autorest.tests.md
Labels: Event Hubs

#33207 Migrate samples for DataShare and DevCenter
  sdk/datashare/Azure.ResourceManager.DataShare/Azure.ResourceManager.DataShare.sln
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Azure.ResourceManager.DataShare.Samples.csproj
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareAccountCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareAccountResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareConsumerInvitationCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareConsumerInvitationResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareInvitationCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareInvitationResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareSynchronizationSettingCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareSynchronizationSettingResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareTriggerCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_DataShareTriggerResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ProviderShareSubscriptionCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ProviderShareSubscriptionResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ShareDataSetCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ShareDataSetMappingCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ShareDataSetMappingResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ShareDataSetResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ShareSubscriptionCollection.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_ShareSubscriptionResource.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/datashare/Azure.ResourceManager.DataShare/samples/autorest.tests.md
  sdk/devcenter/Azure.ResourceManager.DevCenter/Azure.ResourceManager.DevCenter.sln
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Azure.ResourceManager.DevCenter.Samples.csproj
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_AttachedNetworkConnectionCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_AttachedNetworkConnectionResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_CatalogCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_CatalogResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_DevBoxDefinitionCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_DevBoxDefinitionResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_DevCenterCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_DevCenterResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_EnvironmentTypeCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_EnvironmentTypeResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_GalleryCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_GalleryResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_HealthCheckStatusDetailResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ImageCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ImageResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ImageVersionCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ImageVersionResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_NetworkConnectionCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_NetworkConnectionResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_PoolCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_PoolResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectAttachedNetworkConnectionCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectAttachedNetworkConnectionResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectDevBoxDefinitionCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectDevBoxDefinitionResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectEnvironmentTypeCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectEnvironmentTypeResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ProjectResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ScheduleCollection.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_ScheduleResource.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/devcenter/Azure.ResourceManager.DevCenter/samples/autorest.tests.md
Labels: DevCenter

#33194 Migrate samples AppConfiguration and ApplicationInsights
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/Azure.ResourceManager.AppConfiguration.sln
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Azure.ResourceManager.AppConfiguration.Samples.csproj
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationKeyValueCollection.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationKeyValueResource.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationPrivateEndpointConnectionCollection.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationPrivateEndpointConnectionResource.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationPrivateLinkResource.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationPrivateLinkResourceCollection.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationStoreCollection.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_AppConfigurationStoreResource.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_DeletedAppConfigurationStoreCollection.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_DeletedAppConfigurationStoreResource.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/samples/autorest.tests.md
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/Azure.ResourceManager.ApplicationInsights.sln
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/samples/Azure.ResourceManager.ApplicationInsights.Samples.csproj
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/samples/Generated/Samples/Sample_ComponentLinkedStorageAccountCollection.cs
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/samples/Generated/Samples/Sample_ComponentLinkedStorageAccountResource.cs
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/samples/autorest.tests.md
Labels: App Configuration

#33500 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: auto-merge

#33534 Add auto-generate samples for ResourceGraph and LoadTesting
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/Azure.ResourceManager.LoadTesting.sln
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/Azure.ResourceManager.LoadTesting.Samples.csproj
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/Generated/Samples/Sample_LoadTestingQuotaCollection.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/Generated/Samples/Sample_LoadTestingQuotaResource.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/Generated/Samples/Sample_LoadTestingResource.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/Generated/Samples/Sample_LoadTestingResourceCollection.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/autorest.tests.md
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/Azure.ResourceManager.ResourceGraph.sln
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/samples/Azure.ResourceManager.ResourceGraph.Samples.csproj
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/samples/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/samples/autorest.tests.md
Labels: Load Test Service

#33519 Fix wrong comment on table name parameter
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: customer-reported, Tables, Community Contribution

#33518 Add SourceDisplayName and SourceIdentifier
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/AzureCommunicationServicesRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallMediaRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallRecordingRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantsRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AddParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#33543 Increment version for machinelearningservices releases
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/CHANGELOG.md
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Azure.ResourceManager.MachineLearning.csproj
Labels: auto-merge

#33371 Added support for sticky bit and execution bit to both be set on perm…
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathAccessControlExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathPermissions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathAccessControlExtensionsTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathPermissionsTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBit.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitExecute.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitExecuteAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitNoExecute.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitNoExecuteAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitOctal.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitOctalAsync.json
Labels: Storage

#32980 Export span event as trace telemetry
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/SampleRateTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TraceHelperTests.cs
Labels: Monitor - Exporter

#33425 Fixing download 304 tests again.
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/DownloadContent_Initial304.json
Labels: Storage

#33547 [GitHub] Update Azure.Core feature issue template
  .github/ISSUE_TEMPLATE/04_core_feature_request.yml
Labels: Client, EngSys

#33554 [AzureMonitorExporter] fix test dependency
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/Azure.Monitor.OpenTelemetry.Exporter.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/BasicTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/RequestTelemetryTests.cs
Labels: Monitor - Exporter

#33352 [Text Analytics] Fix error parsing in TextAnalyticsFailedDetailsParser
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsFailedDetailsParser.cs
Labels: Cognitive - Text Analytics

#33549 Increment version for schemaregistry releases
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry, auto-merge

#33520 Fix double dots in template file name extensions
  sdk/template/.template.config/template.json
Labels: EngSys

#33471 feat: upgrade opentelemtry
  eng/Packages.Data.props
Labels: customer-reported, Community Contribution

#33556 Allow for VisualStudioCredential on non-windows platforms
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredential.cs
Labels: Azure.Identity

#33583 [AzureMonitorExporter] refactor connectionstring parsing
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionStringParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionVars.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/Statsbeat.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ConnectionString/ConnectionStringParserTests.cs
Labels: Monitor - Exporter

#33584 Fix invalid paths in CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys, Central-EngSys

#33596 Identity merge CHANGELOG.md from hotfix branch
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#33581 [AzureMonitorExporter] update changelog
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#33593 [AzureMonitorExporter] Add support for AADAudience
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/AadHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionStringParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionVars.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/Constants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ConnectionString/ConnectionStringParserTests.cs
Labels: Monitor - Exporter

#33600 callautomation private review internal revision
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ChoiceResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CollectTonesResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TextSource.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
Labels: Communication

#33307 [ACS][CallAutomatoin] Easily Handling EventHandler
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClientOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventAwaiter.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventAwaiterOngoing.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventBacklog.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventProcessor.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventProcessorArgs.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventProcessorOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/AddParticipantsEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/AnswerCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/CancelAllMediaOperationsEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/CreateCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/EventResultBase.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/PlayEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/StartRecognizingEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/TransferCallToParticipantEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/ResultWithWaitForEventBase.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AddParticipantsResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAllMediaOperationsResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/PlayResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecognizingResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferCallToParticipantResult.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/AttachEventProcessorTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/EventProcessorTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationEventProcessorTestBase.cs
Labels: Communication

#33595 Remove CODEOWNERS rules `/**/ci.yml` and `/**/tests.yml`
  .github/CODEOWNERS
Labels: Central-EngSys

#33603 APIM + DataBox events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayApiAddedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayApiAddedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayApiRemovedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayApiRemovedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCertificateAuthorityCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCertificateAuthorityCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCertificateAuthorityDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCertificateAuthorityDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCertificateAuthorityUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCertificateAuthorityUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayHostnameConfigurationCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayHostnameConfigurationCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayHostnameConfigurationDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayHostnameConfigurationDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayHostnameConfigurationUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayHostnameConfigurationUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ApiManagementGatewayUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DataBoxCopyCompletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DataBoxCopyCompletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DataBoxCopyStartedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DataBoxCopyStartedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DataBoxOrderCompletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DataBoxOrderCompletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/DataBoxStageName.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#33551 Fix EnvironmentCredetnail sub-credential ordering
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredentialTests.cs
Labels: Azure.Identity

#33616 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#33627 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.Developer.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Azure.Developer.LoadTesting.csproj
Labels: auto-merge, Load Test Service

#33623 Fix hanging sample test
  sdk/tables/Azure.Data.Tables/samples/Sample4QueryEntities.md
  sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntities.cs
Labels: Client, Tables

#33582 Fix an edge case around calculating resourcetype from resourceid
  sdk/core/Azure.Core/src/ResourceIdentifier.cs
  sdk/core/Azure.Core/tests/ResourceIdentifierTests.cs
Labels: Azure.Core

#33597 Add missing `/sdk/<dir>` rules
  .github/CODEOWNERS
Labels: Central-EngSys

#33638 Re-enable EH App Insights test
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubApplicationInsightsTests.cs
Labels: Event Hubs

#33643 missing "Microsoft" in the nuget package path [Microsoft].Azure.WebJobs.Extensions.Storage.Blobs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/README.md
Labels: Storage, customer-reported, Community Contribution

#33609 [LoadTesting]Polish the API before stable release
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/README.md
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/api/Azure.ResourceManager.LoadTesting.netstandard2.0.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/Generated/Samples/Sample_LoadTestingResource.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/samples/Generated/Samples/Sample_LoadTestingResourceCollection.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Customized/Models/LoadTestingCmkIdentity.Serialization.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Customized/Models/LoadTestingCmkIdentity.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/LoadTestingResource.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/LoadTestingResourceData.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/CustomerManagedKeyIdentityType.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/LoadTestingCmkEncryptionProperties.Serialization.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/LoadTestingCmkEncryptionProperties.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/LoadTestingCmkIdentityType.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/LoadTestingOutboundEnvironmentEndpoint.Serialization.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/LoadTestingOutboundEnvironmentEndpoint.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/LoadTestingResourceData.Serialization.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/LoadTestingResourcePatch.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/OutboundEnvironmentEndpointListResult.Serialization.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/Generated/Models/OutboundEnvironmentEndpointListResult.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/src/autorest.md
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/tests/Samples/Sample1_LoadTestingResourceOperations.cs
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/tests/Scenario/LoadTestingResourceOperations.cs
Labels: Load Test Service

#33455 Allow use of ServiceProvider func to create BlobClient for PersistKeysToAzureBlobStorage
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/api/Azure.Extensions.AspNetCore.DataProtection.Blobs.netstandard2.0.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/AzureStorageBlobDataProtectionBuilderExtensions.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/ConfigureKeyManagementBlobClientOptions.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/tests/AzureDataProtectionBuilderExtensionsTests.cs
Labels: customer-reported, Community Contribution

#33454 Allow use of ServiceProvider func to create KeyResolver for ProtectKeysWithAzureKeyVault
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/api/Azure.Extensions.AspNetCore.DataProtection.Keys.netstandard2.0.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/AzureDataProtectionKeyVaultKeyBuilderExtensions.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/ConfigureKeyManagementKeyVaultEncryptorClientOptions.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/tests/AzureDataProtectionBuilderExtensionsTests.cs
Labels: customer-reported, Community Contribution

#33484 Replace HttpMessage Type keyed property bag with array implementation
  sdk/core/Azure.Core/perf/FastPropertyBagBenchmark.cs
  sdk/core/Azure.Core/perf/Program.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Internal/ArrayBackedPropertyBag.cs
  sdk/core/Azure.Core/tests/ArrayBackedPropertyBagTests.cs
  sdk/core/Azure.Core/tests/HttpMessageTests.cs
Labels: Azure.Core

#33594 Sync eng/common directory with azure-sdk-tools for PR 5169
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#33656 [DataProtection] Changelog Updates
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
Labels: Client, Extensions

#33619 Update Key Vault to better support multi-targeting
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/PemReader.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/Azure.Security.KeyVault.Certificates.Tests.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/PemReaderTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample4_DownloadCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample4_DownloadCertificateAsync.cs
Labels: KeyVault

#33544 Fix regional endpoint validation error
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#30820 Set Statsbeat connection string based on customer's endpoint
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/Statsbeat.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StatsbeatTests.cs
Labels: Monitor - Exporter

#33340 [Service Bus] Mocking Client Type Samples
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample15_MockingClientTypes.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample15_MockingClientTypes.cs
Labels: Service Bus

#33639 Classifier for Expected Errors in `BlobBaseClient.Exists()`
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobBaseClientExistsClassifier.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/SpecializedBlobExtensions.ClientSideEncryption.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientOpenReadTests/OpenReadAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/AppendBlobClientOpenReadTests/OpenReadAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_Exists_CPK_NoKey_NoLogWarning.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_Exists_CPK_NoKey_NoLogWarningAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_NotExists_NoLogWarning.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/ExistsAsync_NotExists_NoLogWarningAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GetPropertiesAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientOpenReadTests/OpenReadAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlockBlobClientOpenReadTests/OpenReadAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientOpenReadTests/OpenReadAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/PageBlobClientOpenReadTests/OpenReadAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeFileClientOpenReadTests/OpenReadAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DataLakeFileClientOpenReadTests/OpenReadAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/GetPropertiesAsync_Conditions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/GetPropertiesAsync_ConditionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetPropertiesAsync_Conditions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/GetPropertiesAsync_ConditionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/OpenWriteAsync_AccessConditions(False).json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/OpenWriteAsync_AccessConditions(False)Async.json
Labels: Storage

#33665 Update snippet-generator
  .config/dotnet-tools.json
  eng/pipelines/templates/jobs/ci.yml
  eng/scripts/Update-Snippets.ps1
  sdk/template/.content/packageResource/README.md
  sdk/template/.content/samples/Sample1_HelloWorld.md
  sdk/template/.content/samples/Sample1_HelloWorldAsync.md
  sdk/template/.content/tests/Samples/Sample1_HelloWorld.cs
  sdk/template/.content/tests/Samples/Sample1_HelloWorldAsync.cs
Labels: KeyVault, EngSys

#33661 Azure Monitor Exporter - Refactor OpenTelemetry Resource
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorMetricExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorResource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/MetricHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LogsHelperTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/MetricHelperTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceExtensionsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/SampleRateTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TraceHelperTests.cs
Labels: Monitor - Exporter

#33678 Remove OKP support from Key Vault SDK
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/CreateOkpKeyOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/SignatureAlgorithm.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRequestParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyType.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyUtilities.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/LocalCryptographyClientTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmCryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/EdDSASignVerifyRoundTrip.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/EdDSASignVerifyRoundTripAsync.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/SignLocalVerifyRoundTrip(EdDSA).json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmCryptographyClientLiveTests/SignLocalVerifyRoundTrip(EdDSA)Async.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/CreateOkpKey.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/SessionRecords/ManagedHsmLiveTests/CreateOkpKeyAsync.json
Labels: KeyVault

#33428 Add Azure Developer Credential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureDeveloperCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureDeveloperCliCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/AzureDeveloperCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialFactoryTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
Labels: Azure.Identity

#33685 removing model namespace
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeChoiceOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
Labels: Communication

#33680 Sync eng/common directory with azure-sdk-tools for PR 5224
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#33710 Sync eng/common directory with azure-sdk-tools for PR 5242
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#33628 [LOADTESTSERVICE] DP GA SDK
  sdk/loadtestservice/Azure.Developer.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/README.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/api/Azure.Developer.LoadTesting.netstandard2.0.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/samples/Sample5_GetMetrics.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/samples/Sample5_GetMetricsAsync.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/AutorestCustomizations/LoadTestAdministrationClient.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/AutorestCustomizations/LoadTestRunClient.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Azure.Developer.LoadTesting.csproj
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Generated/LoadTestAdministrationClient.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Generated/LoadTestRunClient.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/LoadTestAdministrationClient.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/LoadTestRunClient.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/autorest.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/LoadTestAdministrationClientTest.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/LoadTestRunClientTest.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/Samples/Sample5_GetMetrics.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/Samples/Sample5_GetMetricsAsync.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/SessionRecords/LoadTestAdministrationClientTest/GetServerMetricsConfig.json
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/SessionRecords/LoadTestAdministrationClientTest/ListLoadTest.json
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/SessionRecords/LoadTestAdministrationClientTest/ListLoadTestAsync.json
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/SessionRecords/LoadTestRunClientTest/GetMetrics.json
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/SessionRecords/LoadTestRunClientTest/GetMetricsAsync.json
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/SessionRecords/LoadTestRunClientTest/ListTestRuns.json
  sdk/loadtestservice/Azure.Developer.LoadTesting/tests/SessionRecords/LoadTestRunClientTest/ListTestRunsAsync.json
Labels: Load Test Service

#33703 Increment version for mediaservices releases
  sdk/mediaservices/Azure.ResourceManager.Media/CHANGELOG.md
  sdk/mediaservices/Azure.ResourceManager.Media/src/Azure.ResourceManager.Media.csproj
Labels: auto-merge

#33720 Increment version for containerinstance releases
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/CHANGELOG.md
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Azure.ResourceManager.ContainerInstance.csproj
Labels: auto-merge

#33563 Increment version for synapse releases
  sdk/synapse/Azure.ResourceManager.Synapse/CHANGELOG.md
  sdk/synapse/Azure.ResourceManager.Synapse/src/Azure.ResourceManager.Synapse.csproj
Labels: auto-merge

#33726 Fix autorejoingroup issue
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/EventArgs/WebPubSubRejoinGroupFailedEventArgs.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/src/WebPubSubClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub.Client/tests/WebPubSubClientTests.cs
Labels: auto-merge

#33759 Increment version for cognitiveservices releases
  sdk/cognitiveservices/Azure.ResourceManager.CognitiveServices/CHANGELOG.md
  sdk/cognitiveservices/Azure.ResourceManager.CognitiveServices/src/Azure.ResourceManager.CognitiveServices.csproj
Labels: auto-merge

#33698 Sync eng/common directory with azure-sdk-tools for PR 5231
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#33716 Set parent Id when starting ActivitySource
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
Labels: Azure.Core

#33760 [Data Protection Extensions] Release Prep
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: Client, Extensions

#33660 Applying comments from Azure Board
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantsResponseInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantsResponseInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallParticipantInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallParticipantInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/GetParticipantsResponseInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/GetParticipantsResponseInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MuteAllParticipantsRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MuteAllParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MuteParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MuteParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MuteParticipantsRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MuteParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ParticipantsUpdatedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ParticipantsUpdatedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UnmuteAllParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UnmuteParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UnmuteParticipantsRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UnmuteParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AcsCallParticipantInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallParticipant.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallParticipantInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MuteParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MuteParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MuteParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/UnmuteAllParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/UnmuteParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/UnmuteParticipantsOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/UnmuteParticipantsRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
Labels: Communication

#33765 Fix recognize complete event result
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
Labels: Communication

#33744 docs(test): improve test recording docs
  sdk/core/Azure.Core.TestFramework/README.md
Labels: Azure.Core

#33310 build(template): remove global suppression of azc0002
  sdk/template/.content/src/GlobalSuppressions.cs
Labels: EngSys

#33664 Track2 SDK for RecoveryServices 2023-01-01
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/Azure.ResourceManager.RecoveryServices.sln
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/api/Azure.ResourceManager.RecoveryServices.netstandard2.0.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_RecoveryServicesPrivateLinkResource.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_RecoveryServicesPrivateLinkResourceCollection.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_ResourceGroupResourceExtensions.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_VaultCollection.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_VaultExtendedInfoResource.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_VaultResource.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Extensions/RecoveryServicesExtensions.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesProperties.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesResponse.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesResponse.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesResponseProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesResponseProperties.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/DnsZone.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/DnsZone.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/DnsZoneResponse.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/DnsZoneResponse.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/PublicNetworkAccess.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesPrivateEndpointConnection.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesPrivateEndpointConnection.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCapabilities.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCapabilities.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCapabilitiesBase.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCapabilitiesBase.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultProperties.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultSubResourceType.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/RecoveryServicesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/RegisteredIdentitiesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/ReplicationUsagesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/UsagesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/VaultCertificatesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/VaultExtendedInfoRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/VaultsRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/autorest.md
Labels: Mgmt

#33707 Update Azure Identity docs for new azd credential
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#33717 Fix for regression where PublicAccessType returning null instead of PublicAccessType.None
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CreateAsync_PublicAccess_None.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/ContainerClientTests/CreateAsync_PublicAccess_NoneAsync.json
Labels: Storage

#33558 [Storage] [DataMovement] [Samples] Randomize Container Names
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
Labels: Storage

#33784 Prompt to create new resources for deleted RG
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#33785 Changes for ACS CallRecording BYOS with ManagedIdentity
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingStorageType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecordingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#33787 Add administrative division to request
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetGeographicAreaCodes.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/GetGeographicAreaCodesAsync.json
Labels: Communication

#33224 Migrate samples for KeyVault
  sdk/keyvault/Azure.ResourceManager.KeyVault/Azure.ResourceManager.KeyVault.sln
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Azure.ResourceManager.KeyVault.Samples.csproj
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedKeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedKeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/autorest.tests.md
  sdk/keyvault/Directory.Build.props
Labels: KeyVault

#33788 Sync eng/common directory with azure-sdk-tools for PR 5272
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Labels: EngSys, Central-EngSys
