Repository Azure/azure-sdk-for-net, pull requests merged in 2023-09, with the labels that each got.

#38411 Add mapping for sql between spec and sdk
  eng/scripts/automation/GenerateAndBuildLib.ps1
Labels: Mgmt

#38456 [Functions] Event Hubs: Adjust default batch size
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTriggerAttributeBindingProviderTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsTargetScalerTests.cs
Labels: Client, Functions

#38458 DynamicData: Allow arrays of objects where elements are allowed types
  sdk/core/Azure.Core/src/DynamicData/DynamicData.AllowList.cs
  sdk/core/Azure.Core/tests/DynamicData/DynamicJsonAllowListTests.cs
Labels: Azure.Core

#38461 Fix broken chat functions example in README
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample07_ChatFunctions.cs
Labels: customer-reported, Community Contribution, OpenAI

#38447 Tidy up some Core shared source files
  eng/Directory.Build.Common.targets
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/core/Azure.Core/src/Shared/ConditionalRequestOptionsExtensions.cs
  sdk/core/Azure.Core/src/Shared/LowLevelPageableHelpers.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
Labels: Azure.Core

#38473 Use identity subscription config and pre script for live tests
  sdk/identity/test-resources-pre.ps1
  sdk/identity/tests.yml
Labels: Azure.Identity, Central-EngSys

#38475 [Azure OpenAI] Add README (in)compatibility notes for Chat Functions/Extensions
  sdk/openai/Azure.AI.OpenAI/README.md
Labels: OpenAI

#38470 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication - Phone Numbers

#38247 Users/ethanann/swagger package preview 2023 06
  sdk/iothub/Azure.ResourceManager.IotHub/CHANGELOG.md
  sdk/iothub/Azure.ResourceManager.IotHub/api/Azure.ResourceManager.IotHub.netstandard2.0.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_EventHubConsumerGroupInfoCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_EventHubConsumerGroupInfoResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubCertificateDescriptionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubCertificateDescriptionResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubDescriptionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubDescriptionResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointConnectionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointConnectionResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointGroupInformationCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointGroupInformationResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/ArmIotHubModelFactory.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/IotHubDescriptionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/EncryptionPropertiesDescription.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/EncryptionPropertiesDescription.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubIPVersion.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubPropertiesDeviceStreams.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubPropertiesDeviceStreams.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubRoutingSource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/KeyVaultKeyProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/KeyVaultKeyProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RootCertificateProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RootCertificateProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RoutingCosmosDBSqlApiProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RoutingCosmosDBSqlApiProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RoutingEndpoints.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RoutingEndpoints.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/CertificatesRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/IotHubResourceRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/IotHubRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/ResourceProviderCommonRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/autorest.md
Labels: customer-reported, Community Contribution

#38054 Managed Network Fabric - Updates ]
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/CHANGELOG.md
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/api/Azure.ResourceManager.ManagedNetworkFabric.netstandard2.0.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/assets.json
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/samples/Generated/Samples/Sample_NetworkFabricAccessControlListCollection.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/samples/Generated/Samples/Sample_NetworkFabricAccessControlListResource.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/samples/Generated/Samples/Sample_NetworkFabricRoutePolicyCollection.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/samples/Generated/Samples/Sample_NetworkFabricRoutePolicyResource.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Azure.ResourceManager.ManagedNetworkFabric.csproj
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Customize/ArmManagedNetworkFabricModelFactory.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Customize/NetworkFabricInternetGatewayData.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/ArmManagedNetworkFabricModelFactory.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/AccessControlListMatchCondition.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/AccessControlListPortCondition.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/CommonDynamicMatchConfiguration.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/IPMatchCondition.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/IPMatchConditionPrefixType.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricAccessControlListData.Serialization.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricAccessControlListPatch.Serialization.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricAccessControlListPatch.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricInternetGatewayData.Serialization.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricPortCondition.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricRoutePolicyData.Serialization.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricRoutePolicyPatch.Serialization.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkFabricRoutePolicyPatch.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkTapEncapsulationType.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/NetworkTapRuleMatchCondition.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/PortGroupProperties.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/SourceDestinationType.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/Models/VlanMatchCondition.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/NetworkFabricAccessControlListData.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/NetworkFabricInternetGatewayData.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/NetworkFabricRoutePolicyData.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/autorest.md
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/ManagedNetworkFabricManagementTestEnvironment.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/AccessControlListTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/InternetGatewayRuleTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/InternetGatewayTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/IpCommunityTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/IpExtendedCommunityTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/IpPrefixTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/L2IsolationDomainTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/L3IsolationDomainTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NeighborGroupTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NetworkDeviceTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NetworkFabricControllerTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NetworkFabricTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NetworkPacketBrokerTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NetworkRackTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NetworkTapRuleTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/NetworkTapTests.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/tests/Scenario/RoutePolicyTests.cs
Labels: Mgmt

#38483 Added InGuestPatch Test case.
  sdk/maintenance/Azure.ResourceManager.Maintenance/CHANGELOG.md
  sdk/maintenance/Azure.ResourceManager.Maintenance/assets.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Custom/Models/MaintenanceConfigurationData.Serialization.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/Scenario/MaintenanceConfigurationTests.cs
Labels: Mgmt, customer-reported, Community Contribution

#38457 VM managed identity integration test
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/IdentityTestEnvironment.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityVMIntegrationTests.cs
  sdk/identity/platform-matrix.json
  sdk/identity/tests.yml
Labels: Azure.Identity

#38453 [Communication] Migrated CallAutomation recordings
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/tests/EventCatcher/RecordedEventListener.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/ConsecutiveDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/ConsecutiveDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/DialogOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/DialogOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/IdenticalDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/IdenticalDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/StopNonexistingDialogTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallDialogAutomatedLiveTests/StopNonexistingDialogTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallMediaAutomatedLiveTests/continuousDtmfDetectionAndSendDtmfTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallMediaAutomatedLiveTests/continuousDtmfDetectionAndSendDtmfTestAsync.json
Labels: Client, Communication

#38503 Reshuffle shared source files
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core.TestFramework/src/ApiVersionString.cs
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/core/Azure.Core.TestFramework/tests/ApiVersionStringTests.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/DynamicData/MutableJsonChange.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonChangeKind.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonDocument.ChangeTracker.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonDocument.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.ArrayEnumerator.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.ObjectEnumerator.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.WriteTo.MergePatch.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.WriteTo.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.cs
  sdk/core/Azure.Core/src/Shared/ARMChallengeAuthenticationPolicy.cs
  sdk/core/Azure.Core/tests/ARMChallengeAuthenticationPolicyTests.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/identity/Azure.Identity/perf/Azure.Identity.Perf.csproj
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/HttpPipelineMessageHandler.cs
  sdk/identity/Azure.Identity/tests/HttpPipelineHttpClientHandlerTests.cs
  sdk/identity/Azure.Identity/tests/HttpPipelineMessageTest.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/search/Azure.Search.Documents/src/Batching/ObjectNotDisposedException.cs
  sdk/search/Azure.Search.Documents/tests/Batching/ObjectNotDisposedExceptionTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.DataMovement/tests/Azure.Storage.DataMovement.Tests.csproj
Labels: Storage, Service Bus, Search, Azure.Core, Azure.Identity, Schema Registry, Monitor - Distro

#38439 [Storage][DataMovement] Add classes for Job level checkpoint files, JobPlanFile
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/Errors.DataMovement.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPartPlanCredentialType.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPartPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPlanStatus.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPlanFileTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPlanHeaderTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Resources/SampleJobPlanFile.b1.ndm
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/CheckpointerTesting.cs
Labels: Storage

#38508 Adding string cast operators and null APIs to Variant
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Variant.Null.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Variant.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringArrays.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringBoolean.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringByte.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringChar.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDateTime.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDateTimeOffset.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDecimal.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringDouble.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringEnum.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringFloat.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringInt.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringLong.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringNull.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringObject.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringSByte.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringShort.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringUInt.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringUShort.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/StoringUlong.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/VariantCreation.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/VariantUsage.cs
Labels: Azure.Core

#38512 Prepare release for AppService
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
Labels: Mgmt

#38250 Updated autorest.md with swagger sdk
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/CHANGELOG.md
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/api/Azure.ResourceManager.RecoveryServices.netstandard2.0.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_RecoveryServicesPrivateLinkResource.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_RecoveryServicesPrivateLinkResourceCollection.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_RecoveryServicesVaultCollection.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_RecoveryServicesVaultExtendedInfoResource.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_RecoveryServicesVaultResource.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_ResourceGroupResourceExtensions.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Azure.ResourceManager.RecoveryServices.csproj
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Custom/Models/RecoveryServicesVaultProperties.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/ArmRecoveryServicesModelFactory.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CrossSubscriptionRestoreSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CrossSubscriptionRestoreSettings.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CrossSubscriptionRestoreState.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/MultiUserAuthorization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSecuritySettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSecuritySettings.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSoftDeleteSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSoftDeleteSettings.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSoftDeleteState.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesVaultProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesVaultProperties.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RestoreSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RestoreSettings.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/SecureScoreLevel.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/SecuritySettings.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/RecoveryServicesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/RegisteredIdentitiesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/ReplicationUsagesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/UsagesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/VaultCertificatesRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/VaultExtendedInfoRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RestOperations/VaultsRestOperations.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/autorest.md
Labels: Mgmt, customer-reported, Community Contribution

#38520 [JobRouter] Fix internal properties
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/BestWorkerMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/FunctionRouterRule.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/FunctionRouterRuleCredential.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/PassThroughWorkerSelectorAttachment.cs
Labels: Communication

#38523 Update changelog for beta.2
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
Labels: Communication

#38529 Increment version for communication releases
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/src/Azure.Communication.JobRouter.csproj
Labels: Communication

#38450 [AppConfig] Preserve unknown setting JSON members
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/FeatureFlagConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SecretReferenceConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/FeatureFlagConfigurationSettingTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/JsonElementEqualityComparer.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SecretReferenceConfigurationSettingTests.cs
Labels: Client, App Configuration

#38535 Fix docs for CreateTableIfNotExists return value
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Tables

#38509 Reshuffle shared source files
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Internal/GeoRedundantFallbackPolicy.cs
  sdk/core/Azure.Core/src/Shared/ErrorResponse.cs
  sdk/core/Azure.Core/src/Shared/HttpPipelineExtensions.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/monitor/Azure.Monitor.Ingestion/src/Azure.Monitor.Ingestion.csproj
  sdk/monitor/Azure.Monitor.Ingestion/src/GZipUtf8JsonRequestContent.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/GZipUtf8JsonRequestContentTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/GuidUtilities.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Core/GuidUtilitiesTests.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/NoValueResponseOfT.cs
  sdk/tables/Azure.Data.Tables/tests/NoValueResponseOfTTests.cs
Labels: Azure.Core, Monitor - Ingestion

#38362 update changelog for crp 2023-07-01
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#38386 [Text Translation] Replace async examples with synchronous code.
  sdk/translation/Azure.AI.Translation.Text/README.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample1_GetLanguages.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample2_Translate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample3_Transliterate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample4_BreakSentence.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample5_DictionaryLookup.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample6_DictionaryExamples.md
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/SampleSnippets.cs
Labels: Cognitive - Translator

#38552 [AppService] Fix GetSiteInstances throws Invalid URI issue
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/api/Azure.ResourceManager.AppService.netstandard2.0.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Customization/WebSiteInstanceStatusData.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/ArmAppServiceModelFactory.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/WebSiteInstanceStatusData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/WebSiteInstanceStatusData.cs
  sdk/websites/Azure.ResourceManager.AppService/src/autorest.md
Labels: Mgmt

#38531 [AppConfig] Fix disposed stream access
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient_private.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationServiceSerializer.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationMockTests.cs
Labels: Client, App Configuration

#38544 Identity Sept release prep
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#36997 Update to new api version 2023-06-30
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/api/Azure.DigitalTwins.Core.netstandard2.0.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/assets.json
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsClientSample.csproj
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/ImportJobHelper.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/JobLifecycleSamples.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/Options.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/Program.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/SamplesConstants.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/UniqueIdHelper.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/sampleInputBlob.ndjson
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/Readme.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/DigitalTwinsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/Error.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJob.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJob.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJobCollection.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJobStatus.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJobsAddOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJobsCancelOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJobsDeleteOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJobsGetByIdOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJobsListOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClientOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/DigitalTwinModelsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/DigitalTwinsModelFactory.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/DigitalTwinsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/EventRoutesRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/ImportJobsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ErrorInformation.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ErrorInformation.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ErrorResponse.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ErrorResponse.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJob.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJob.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobCollection.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobCollection.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobStatus.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobsAddOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobsCancelOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobsDeleteOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobsGetByIdOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJobsListOptions.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/InnerError.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/InnerError.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/QueryRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/autorest.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/DigitalTwinsTestEnvironment.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/E2eTestBase.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/ImportTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/TestAssetDefaults.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/tests/resources/importJobInputBlobSdkTest.ndjson
  sdk/digitaltwins/test-resources.bicep
Labels: Digital Twins

#38563 Preparation for Azure.Core.Experimental release 0.1.0-preview.30
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#38562 Preparation for Core release 1.35.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#38540 [App Config] Rename snapshot properties
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSettingsSnapshot.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SettingSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotFields.cs
Labels: App Configuration

#38561 Implement ToString for Variant
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Variant/Variant.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/VariantUsage.cs
Labels: Azure.Core

#38564 [JobRouter] Add getter for ScoringParameters
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ScoringRuleOptions.cs
Labels: Communication

#38568 [AzureMonitorExporter] update OTel to 1.6.0
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter, Monitor - Distro

#38534 DataMovement StorageResource construction refactor | Part 4
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AssemblyInfo.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
Labels: Storage

#38570 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#38510 Sync eng/common directory with azure-sdk-tools for PR 6903
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#38572 Update Azure.Core to 1.35.0 and package refs
  eng/Packages.Data.props
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
  sdk/communication/Azure.Communication.CallingServer/src/Azure.Communication.CallingServer.csproj
Labels: Communication, Communication - Calling Server

#38578 Update Changelog to Latest Date
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
Labels: Digital Twins

#38588 3398502 - Fix ACS PSTN Sip Configuration SDK tests
  sdk/communication/test-resources/test-resources-post.ps1
Labels: Communication

#38577 [AppConfig] Reset development version
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: Client, App Configuration

#38594 Fix Method Name in Sample Code
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/UniqueIdHelper.cs
Labels: Digital Twins

#38575 [AppConfig] 1.2.1 Hotfix Release Prep
  sdk/appconfiguration/Azure.Data.AppConfiguration/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample11_SettingsSnapshot.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientOptions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/CreateSnapshotOperation.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/CompositionType.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSettingsSnapshot.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSettingsSnapshot.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotFields.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotSettingFilter.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotSettingFilter.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotStatus.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample11_SettingsSnapshot.cs
Labels: Client, App Configuration

#38581 Make scale methods per trigger internal
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusHostBuilderExtensions.cs
Labels: Storage, Service Bus, Event Hubs, Functions

#38449 Fix for first run cache miss for interactive credentials
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
Labels: Azure.Identity

#38604 [Event Hubs] September 2023 Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#38592 Don't allow setting Variant to Variant
  sdk/core/Azure.Core.Experimental/src/Variant/Variant.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/VariantUsage.cs
Labels: Azure.Core

#38611 Allow As<T> to return null for reference types
  sdk/core/Azure.Core.Experimental/src/Variant/Variant.cs
  sdk/core/Azure.Core.Experimental/tests/Variant/VariantUsage.cs
Labels: Azure.Core

#38627 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#38605 [Event Hubs] September 2023 Release Prep (non-core)
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client

#38632 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#38628 [AppConfig] Update API Compat version
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: Client, App Configuration

#38612 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/assets.json
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailEngagementTrackingReportReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailEngagementTrackingReportReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotModifiedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotModifiedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientCreatedOrUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientCreatedOrUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientDisconnectionReason.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientSessionConnectedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientSessionConnectedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientSessionDisconnectedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientSessionDisconnectedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientState.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SystemEventTests.cs
Labels: Event Grid

#38641 Increment version for communication releases
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/src/Azure.Communication.JobRouter.csproj
Labels: Communication

#38642 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#38646 update version to patch
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#38184 NonDisposingStream: delegate remaining Stream APIs to inner stream
  sdk/storage/Azure.Storage.Common/src/Shared/NonDisposingStream.cs
Labels: Storage, customer-reported, Community Contribution

#38650 [App Config] Snapshot API Updates Based on Arch Board Feedback
  sdk/appconfiguration/Azure.Data.AppConfiguration/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample11_SettingsSnapshot.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/CreateSnapshotOperation.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSnapshot.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSnapshot.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSnapshotStatus.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotComposition.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotFields.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotStatus.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotUpdateParameters.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationSettingsSnapshotTest.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample11_SettingsSnapshot.cs
Labels: App Configuration

#38674 Fix casing on some events
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/AppConfigurationSnapshotEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridMqttClientDisconnectionReason.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AppConfigurationSnapshotModifiedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/EventGridMqttClientDisconnectionReason.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/SystemEventTests.cs
Labels: Event Grid

#38546 [Webjobs.Extensions.EventHub] Legacy checkpoint support
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubMetricsProvider.cs
Labels: Event Hubs, Functions

#38672 Sync eng/common directory with azure-sdk-tools for PR 6895
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsPackageMonikers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#38648 Remove unused <IncludeGeneratorSharedCode> MSBuild properties
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Azure.AI.Language.Conversations.Tests.csproj
  sdk/core/Azure.Core.Experimental/tests/Azure.Core.Experimental.Tests.csproj
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/common/Azure.Core.Tests.Common.csproj
  sdk/core/Azure.Core/tests/public/Azure.Core.Tests.Public.csproj
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Azure.Health.Insights.CancerProfiling.csproj
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Azure.Health.Insights.ClinicalMatching.csproj
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
Labels: Storage, Azure.Core, Cognitive - Language

#38683 STG 91 Changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#38682 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#38593 [Document Translation] Fix Document Translation README.md links
  sdk/translation/Azure.AI.Translation.Document/README.md
Labels: Cognitive - Translator

#38696 Prepare release for AppService
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
Labels: Mgmt

#38673 Fixing scaler provider initialization pattern
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusHostBuilderExtensions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/StorageQueuesWebJobsBuilderExtensions.cs
Labels: Storage, Service Bus, Event Hubs, Functions

#38678 src, test, and samples projects for DataMovement.Files.Shares
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BreakingChanges.txt
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Azure.Storage.DataMovement.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.sln
Labels: Storage

#38697 Remove metric telemetry for resource
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2EAzureMonitorDistroTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/EnvironmentVariableConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceExtensionsTests.cs
Labels: Monitor - Exporter

#38724 Minor readme fix
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
Labels: Monitor - Distro

#38595 [Storage][DataMovement] Integrate JobPlanFile with checkpointer
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/RehydrateBlobResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/CheckpointerExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/Errors.DataMovement.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPartPlanFileName.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/GetTransfersTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPartPlanFileNameTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPlanFileTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerFactory.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/tests/RehydrateStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/CheckpointerTesting.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#38730 nit: Azure.AI.OpenAI should use Microsoft.CognitiveServices resource provider namespace
  sdk/openai/Azure.AI.OpenAI/src/Properties/AssemblyInfo.cs
Labels: OpenAI

#38699 Fix string format for serialization
  sdk/maintenance/Azure.ResourceManager.Maintenance/CHANGELOG.md
  sdk/maintenance/Azure.ResourceManager.Maintenance/assets.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Custom/Models/MaintenanceConfigurationData.Serialization.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Custom/Models/MaintenanceConfigurationData.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Generated/MaintenanceConfigurationData.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Generated/Models/MaintenanceConfigurationData.Serialization.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/Scenario/MaintenanceConfigurationTests.cs
Labels: Mgmt

#38249 Initial version of API Center .NET SDK.
  sdk/apicenter/Azure.ResourceManager.ApiCenter/Azure.ResourceManager.ApiCenter.sln
  sdk/apicenter/Azure.ResourceManager.ApiCenter/CHANGELOG.md
  sdk/apicenter/Azure.ResourceManager.ApiCenter/Directory.Build.props
  sdk/apicenter/Azure.ResourceManager.ApiCenter/README.md
  sdk/apicenter/Azure.ResourceManager.ApiCenter/api/Azure.ResourceManager.ApiCenter.netstandard2.0.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/assets.json
  sdk/apicenter/Azure.ResourceManager.ApiCenter/samples/Azure.ResourceManager.ApiCenter.Samples.csproj
  sdk/apicenter/Azure.ResourceManager.ApiCenter/samples/Generated/Samples/Sample_ApiCenterServiceCollection.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/samples/Generated/Samples/Sample_ApiCenterServiceResource.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/samples/autorest.tests.md
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Azure.ResourceManager.ApiCenter.csproj
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/ApiCenterServiceCollection.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/ApiCenterServiceData.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/ApiCenterServiceResource.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/ArmApiCenterModelFactory.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Extensions/ApiCenterExtensions.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Extensions/ResourceGroupResourceExtensionClient.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/LongRunningOperation/ApiCenterArmOperation.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/LongRunningOperation/ApiCenterArmOperationOfT.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterProvisioningState.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterServiceData.Serialization.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterServiceListResult.Serialization.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterServiceListResult.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterServicePatch.Serialization.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterServicePatch.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/ProviderConstants.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/RestOperations/ServicesRestOperations.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Properties/AssemblyInfo.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/autorest.md
  sdk/apicenter/Azure.ResourceManager.ApiCenter/tests/ApiCenterManagementTestBase.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/tests/ApiCenterManagementTestEnvironment.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/tests/Azure.ResourceManager.ApiCenter.Tests.csproj
  sdk/apicenter/ci.mgmt.yml
  sdk/applicationinsights/ci.yml
  sdk/operationalinsights/ci.yml
  sdk/resourcemanager/ci.mgmt.yml
Labels: Mgmt

#38643 [FormRecognizer] Tests: implemented model caching
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/MiscellaneousOperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableDocumentModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableTrainedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisSetUpFixture.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentModelCache.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerSetUpFixture.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/TrainedModelCache.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#38158 Azure Defender EASM Management Plane SDK Public Preview
  .vscode/cspell.json
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/Azure.ResourceManager.DefenderEasm.sln
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/CHANGELOG.md
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/Directory.Build.props
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/README.md
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/api/Azure.ResourceManager.DefenderEasm.netstandard2.0.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/assets.json
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/samples/Azure.ResourceManager.DefenderEasm.Samples.csproj
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/samples/Generated/Samples/Sample_EasmLabelCollection.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/samples/Generated/Samples/Sample_EasmLabelResource.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/samples/Generated/Samples/Sample_EasmWorkspaceCollection.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/samples/Generated/Samples/Sample_EasmWorkspaceResource.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/samples/autorest.tests.md
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Azure.ResourceManager.DefenderEasm.csproj
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/ArmDefenderEasmModelFactory.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/EasmLabelCollection.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/EasmLabelData.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/EasmLabelResource.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/EasmWorkspaceCollection.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/EasmWorkspaceData.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/EasmWorkspaceResource.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Extensions/DefenderEasmExtensions.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Extensions/ResourceGroupResourceExtensionClient.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/LongRunningOperation/DefenderEasmArmOperation.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/LongRunningOperation/DefenderEasmArmOperationOfT.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/LongRunningOperation/EasmLabelOperationSource.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/LongRunningOperation/EasmWorkspaceOperationSource.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmLabelData.Serialization.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmLabelListResult.Serialization.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmLabelListResult.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmLabelPatch.Serialization.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmLabelPatch.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmResourceProvisioningState.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmTask.Serialization.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmTask.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmWorkspaceData.Serialization.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmWorkspaceListResult.Serialization.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmWorkspaceListResult.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmWorkspacePatch.Serialization.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/Models/EasmWorkspacePatch.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/ProviderConstants.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/RestOperations/LabelsRestOperations.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/RestOperations/TasksRestOperations.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Generated/RestOperations/WorkspacesRestOperations.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/Properties/AssemblyInfo.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/src/autorest.md
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/tests/Azure.ResourceManager.DefenderEasm.Tests.csproj
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/tests/DefenderEasmManagementTestBase.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/tests/DefenderEasmManagementTestEnvironment.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/tests/Tests/LabelResourceTest.cs
  sdk/defendereasm/Azure.ResourceManager.DefenderEasm/tests/Tests/WorkspaceResourceTest.cs
  sdk/defendereasm/ci.mgmt.yml
  sdk/resourcemanager/ci.mgmt.yml
Labels: Mgmt

#38717 Enforce API Compat
  eng/Directory.Build.Common.targets
  eng/pipelines/templates/jobs/ci.yml
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
Labels: Storage

#38751 Sync eng/common directory with azure-sdk-tools for PR 6982
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#38755 [AzureMonitorExporter] fix null exception
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
Labels: Monitor - Exporter

#38754 Support infinite lock renewal
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusSessionProcessorOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Config/ServiceBusHostBuilderExtensionsTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Config/ServiceBusOptionsTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus, Functions

#38282 Updated control plane sdk with api 2023-06-30
  sdk/iothub/Azure.ResourceManager.IotHub/CHANGELOG.md
  sdk/iothub/Azure.ResourceManager.IotHub/api/Azure.ResourceManager.IotHub.netstandard2.0.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_EventHubConsumerGroupInfoCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_EventHubConsumerGroupInfoResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubCertificateDescriptionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubCertificateDescriptionResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubDescriptionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubDescriptionResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointConnectionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointConnectionResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointGroupInformationCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_IotHubPrivateEndpointGroupInformationResource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Azure.ResourceManager.IotHub.csproj
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/ArmIotHubModelFactory.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/IotHubDescriptionCollection.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/EncryptionPropertiesDescription.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/EncryptionPropertiesDescription.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubIPVersion.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubPropertiesDeviceStreams.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubPropertiesDeviceStreams.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubRoutingProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/IotHubRoutingSource.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/KeyVaultKeyProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/KeyVaultKeyProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RootCertificateProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RootCertificateProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RoutingCosmosDBSqlApiProperties.Serialization.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/Models/RoutingCosmosDBSqlApiProperties.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/CertificatesRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/IotHubResourceRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/IotHubRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/Generated/RestOperations/ResourceProviderCommonRestOperations.cs
  sdk/iothub/Azure.ResourceManager.IotHub/src/autorest.md
Labels: IoT, Mgmt, customer-reported, Community Contribution

#38410 Marketplace - Upgrade to version 2023-01-01
  sdk/marketplace/Azure.ResourceManager.Marketplace/CHANGELOG.md
  sdk/marketplace/Azure.ResourceManager.Marketplace/api/Azure.ResourceManager.Marketplace.netstandard2.0.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_MarketplaceAdminApprovalRequestCollection.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_MarketplaceAdminApprovalRequestResource.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_MarketplaceApprovalRequestCollection.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_MarketplaceApprovalRequestResource.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_PrivateStoreCollection.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_PrivateStoreCollectionInfoCollection.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_PrivateStoreCollectionInfoResource.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_PrivateStoreOfferCollection.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_PrivateStoreOfferResource.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/samples/Generated/Samples/Sample_PrivateStoreResource.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Azure.ResourceManager.Marketplace.csproj
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/ArmMarketplaceModelFactory.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/CollectionOffersByAllContextsPayload.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/CollectionOffersByAllContextsPayload.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/CollectionOffersByContext.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/CollectionOffersByContext.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/CollectionOffersByContextList.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/CollectionOffersByContextList.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/MarketplaceRule.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/MarketplaceRule.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/MarketplaceRuleListResult.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/MarketplaceRuleListResult.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/MarketplaceRuleType.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/PrivateStoreCollectionInfoData.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/QueryUserRulesContent.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/QueryUserRulesContent.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/SetRulesContent.Serialization.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/Models/SetRulesContent.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/PrivateStoreCollectionInfoData.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/PrivateStoreCollectionInfoResource.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/PrivateStoreResource.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/RestOperations/MarketplaceRPServiceRestOperations.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/RestOperations/PrivateStoreCollectionOfferRestOperations.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/RestOperations/PrivateStoreCollectionRestOperations.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/Generated/RestOperations/PrivateStoreRestOperations.cs
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/autorest.md
Labels: Mgmt, customer-reported, Community Contribution

#38480 Azure Security Center: update pricings to 2023/01/01
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/CHANGELOG.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/api/Azure.ResourceManager.SecurityCenter.netstandard2.0.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/samples/Generated/Samples/Sample_SecurityCenterPricingCollection.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/samples/Generated/Samples/Sample_SecurityCenterPricingResource.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/ArmSecurityCenterModelFactory.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/ExtensionOperationStatus.Serialization.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/ExtensionOperationStatus.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/ExtensionOperationStatusCode.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/IsExtensionEnabled.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/PlanExtension.Serialization.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/PlanExtension.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/SecurityCenterPricingData.Serialization.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/SecurityCenterPricingTier.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/RestOperations/PricingsRestOperations.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/SecurityCenterPricingData.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/autorest.md
Labels: Mgmt

#38788 nit: fix markdown link formatting in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: customer-reported, Community Contribution

#38374 [Storage] [DataMovement] Convert TransferStatus from enum to class
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/CheckpointerExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferState.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferStatus.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataTransfer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataTransferInternalState.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataTransferStatusInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlan/JobPartPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferStatusEventArgs.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DataTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/GetTransfersTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPartPlanHeaderTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerFactory.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Resources/SampleJobPartPlanFile.steVb3
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/CheckpointerTesting.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TestEventsRaised.cs
Labels: Storage

#38713 DataMovement File Share initial types
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
Labels: Storage

#38757 Sync eng/common directory with azure-sdk-tools for PR 6985
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#38792 [Event Hubs] Remove experimental package
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/Azure.Messaging.EventHubs.Experimental.slnf
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/api/Azure.Messaging.EventHubs.Experimental.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Azure.Messaging.EventHubs.Experimental.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Producer/IdempotentProducer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Producer/IdempotentProducerOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/src/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Azure.Messaging.EventHubs.Experimental.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Producer/IdempotentProducerLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Producer/IdempotentProducerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Properties/AssemblyInfo.cs
  sdk/eventhub/Azure.Messaging.EventHubs.sln
  sdk/eventhub/ci.yml
Labels: Event Hubs, Client

#38542 updated chaos SDK and tests
  sdk/chaos/Azure.ResourceManager.Chaos/Azure.ResourceManager.Chaos.sln
  sdk/chaos/Azure.ResourceManager.Chaos/CHANGELOG.md
  sdk/chaos/Azure.ResourceManager.Chaos/api/Azure.ResourceManager.Chaos.netstandard2.0.cs
  sdk/chaos/Azure.ResourceManager.Chaos/assets.json
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_CapabilityCollection.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_CapabilityResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_CapabilityTypeCollection.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_CapabilityTypeResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_ExperimentCollection.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_ExperimentExecutionDetailCollection.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_ExperimentExecutionDetailResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_ExperimentResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_ExperimentStatusCollection.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_ExperimentStatusResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_TargetCollection.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_TargetResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_TargetTypeCollection.cs
  sdk/chaos/Azure.ResourceManager.Chaos/samples/Generated/Samples/Sample_TargetTypeResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ArmChaosModelFactory.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/CapabilityTypeData.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ExperimentData.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ExperimentResource.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/CapabilityTypeData.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ExperimentPatch.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ExperimentPatch.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ListSelector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ListSelector.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/QuerySelector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/QuerySelector.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/Selector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/Selector.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/SelectorType.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/SelectorType.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/TargetReference.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/UnknownSelector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/UnknownSelector.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/RestOperations/CapabilitiesRestOperations.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/RestOperations/CapabilityTypesRestOperations.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/RestOperations/ExperimentsRestOperations.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/RestOperations/TargetTypesRestOperations.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/RestOperations/TargetsRestOperations.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/autorest.md
  sdk/chaos/Azure.ResourceManager.Chaos/tests/ChaosManagementTestBase.cs
  sdk/chaos/Azure.ResourceManager.Chaos/tests/Scenario/CapabilityTypeTests.cs
  sdk/chaos/Azure.ResourceManager.Chaos/tests/Scenario/ExperimentTests.cs
  sdk/chaos/Azure.ResourceManager.Chaos/tests/Scenario/TargetTests.cs
  sdk/chaos/Azure.ResourceManager.Chaos/tests/Scenario/TargetTypeTests.cs
  sdk/chaos/Azure.ResourceManager.Chaos/tests/TestDependencies/Experiments/MockExperimentEntities.cs
  sdk/chaos/test-resources.bicep
  sdk/chaos/vmss.bicep
Labels: Mgmt, customer-reported, Community Contribution

#38317 Update SDK version from beta to GA for cosmosdbforpostgresql
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/CHANGELOG.md
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/README.md
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/api/Azure.ResourceManager.CosmosDBForPostgreSql.netstandard2.0.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlClusterCollection.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlClusterServerResource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlCoordinatorConfigurationCollection.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlCoordinatorConfigurationResource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlFirewallRuleCollection.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlFirewallRuleResource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlNodeConfigurationCollection.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/samples/Generated/Samples/Sample_CosmosDBForPostgreSqlNodeConfigurationResource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Azure.ResourceManager.CosmosDBForPostgreSql.csproj
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/ArmCosmosDBForPostgreSqlModelFactory.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlClusterData.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlClusterServerResource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlConfigurationData.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlCoordinatorConfigurationCollection.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlCoordinatorConfigurationResource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlFirewallRuleData.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlNodeConfigurationCollection.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlNodeConfigurationResource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlRoleData.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlServerConfigurationData.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/LongRunningOperation/CosmosDBForPostgreSqlCoordinatorConfigurationOperationSource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/LongRunningOperation/CosmosDBForPostgreSqlNodeConfigurationOperationSource.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterPatch.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlConfigurationData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlFirewallRuleData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlProvisioningState.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlRoleData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerConfigurationData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerConfigurationListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerConfigurationListResult.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerNameItem.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerNameItem.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/ProvisioningState.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/RestOperations/ConfigurationsRestOperations.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/autorest.md
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/tests/Scenario/ConfigurationTests.cs
Labels: Mgmt

#38816 move back NoValueResponseOfT to shared code which is needed for GetIfExists() method
  sdk/core/Azure.Core/src/Shared/NoValueResponseOfT.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/NoValueResponseOfTTests.cs
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Azure.Core, Tables

#38817 Update AutoRest C# version to 3.0.0-beta.20230919.1
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/ArmAlertsManagementModelFactory.cs
  sdk/appplatform/Azure.ResourceManager.AppPlatform/src/Generated/ArmAppPlatformModelFactory.cs
  sdk/avs/Azure.ResourceManager.Avs/src/Generated/ArmAvsModelFactory.cs
  sdk/botservice/Azure.ResourceManager.BotService/src/Generated/ArmBotServiceModelFactory.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/ArmCdnModelFactory.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/CdnCustomDomainData.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/Selector.cs
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Generated/ArmContainerRegistryModelFactory.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/ArmCosmosDBModelFactory.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/ArmCostManagementModelFactory.cs
  sdk/databox/Azure.ResourceManager.DataBox/src/Generated/ArmDataBoxModelFactory.cs
  sdk/databox/Azure.ResourceManager.DataBox/src/Generated/Models/DataBoxBasicJobDetails.cs
  sdk/databox/Azure.ResourceManager.DataBox/src/Generated/Models/UnencryptedCredentials.cs
  sdk/datamigration/Azure.ResourceManager.DataMigration/src/Generated/ArmDataMigrationModelFactory.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/ArmDataProtectionBackupModelFactory.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/BackupRestoreContent.cs
  sdk/deploymentmanager/Azure.ResourceManager.DeploymentManager/src/Generated/ArtifactSourceData.cs
  sdk/devspaces/Azure.ResourceManager.DevSpaces/src/Generated/ArmDevSpacesModelFactory.cs
  sdk/devspaces/Azure.ResourceManager.DevSpaces/src/Generated/Models/ControllerConnectionDetails.cs
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/src/Generated/ArmDigitalTwinsModelFactory.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/ArmEdgeOrderModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/ArmEventGridModelFactory.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/EventGridSubscriptionData.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Models/DeadLetterWithResourceIdentity.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/Models/EventGridSubscriptionPatch.cs
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Generated/PartnerNamespaceChannelData.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/src/Generated/Models/RoutingRuleData.cs
  sdk/hdinsight/Azure.ResourceManager.HDInsight.Containers/src/Generated/ArmHDInsightContainersModelFactory.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/ArmMachineLearningModelFactory.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/AutoMLVerticalRegression.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/ClassificationTask.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/ForecastingSettings.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/MachineLearningForecasting.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/MachineLearningSweepJob.cs
  sdk/mediaservices/Azure.ResourceManager.Media/src/Generated/ArmMediaModelFactory.cs
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/Generated/ArmRecoveryServicesBackupModelFactory.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/ArmRecoveryServicesDataReplicationModelFactory.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/Models/PlannedFailoverModel.cs
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/src/Generated/ArmRecoveryServicesSiteRecoveryModelFactory.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/ArmRecoveryServicesModelFactory.cs
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/src/Generated/ArmResourceGraphModelFactory.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerDataSourceConnection.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerSkillset.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/ArmSecurityCenterModelFactory.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/Generated/ArmSecurityInsightsModelFactory.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ArmServiceFabricManagedClustersModelFactory.cs
  sdk/storagemover/Azure.ResourceManager.StorageMover/src/Generated/ArmStorageMoverModelFactory.cs
  sdk/streamanalytics/Azure.ResourceManager.StreamAnalytics/src/Generated/ArmStreamAnalyticsModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/AnalyticsSynapseArtifactsModelFactory.cs
  sdk/synapse/Azure.ResourceManager.Synapse/src/Generated/ArmSynapseModelFactory.cs
  sdk/workloads/Azure.ResourceManager.Workloads/src/Generated/ArmWorkloadsModelFactory.cs
  sdk/workloads/Azure.ResourceManager.Workloads/src/Generated/Models/DeploymentConfiguration.cs
  sdk/workloads/Azure.ResourceManager.Workloads/src/Generated/Models/DeploymentWithOSConfiguration.cs
Labels: Search, Event Grid, Synapse

#38825 Update readme and troubleshooting guide
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/images/MSA1.png
  sdk/identity/Azure.Identity/images/MSA2.png
  sdk/identity/Azure.Identity/images/MSA3.png
  sdk/identity/Azure.Identity/images/MSA4.png
Labels: Azure.Identity

#38828 test utilities
  sdk/storage/Azure.Storage.Common/tests/Shared/AsyncPageableExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/Tree.cs
  sdk/storage/Azure.Storage.Common/tests/TreeTests.cs
Labels: Storage

#38801 Timeout for httpclient for VM metadata service and suppress statsbeat instrumentation
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/AzureMonitorStatsbeat.cs
Labels: Monitor - Exporter

#38832 Fix offline storage during network errors
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/ApplicationInsightsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmissionStateManager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitFromStorageHandler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
Labels: Monitor - Exporter

#38756 Fix multiple triggers of the same type adding to DI
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubWebJobsBuilderExtensions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/ScaleHostEndToEndTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusHostBuilderExtensions.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/StorageQueuesWebJobsBuilderExtensions.cs
Labels: Storage, Service Bus, Event Hubs, Functions

#38843 Fix naming in AddAzureStorageQueuesScaleForTrigger
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/StorageQueuesWebJobsBuilderExtensions.cs
Labels: Storage

#38836 Support MaxConcurrentCallsPerSession
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Config/ServiceBusHostBuilderExtensionsTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Config/ServiceBusOptionsTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus, Functions

#38839 Storage STG 91
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/assets.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/assets.json
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
Labels: Storage

#38852 Update AutoRest C# version to 3.0.0-beta.20230920.1
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/CostManagementAlertData.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/CostManagementAlertPatch.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureOpenAIModelFactory.cs
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/Generated/Models/ResourceGuardProxyProperties.Serialization.cs
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/Generated/Models/UnlockDeleteResult.Serialization.cs
Labels: OpenAI

#38794 Richardcho/cancel add participant
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/CancelAddParticipantEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CommunicationCallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantCancelledInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantCancelledInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantResponseInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantResponseInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CancelAddParticipantFailedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CancelAddParticipantFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CancelAddParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CancelAddParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CancelAddParticipantResponseInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CancelAddParticipantResponseInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingStateResult.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingStateResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionConfiguration.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionConfiguration.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionTransportType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AddParticipantResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAddParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAddParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAddParticipantResponseInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAddParticipantResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CommunicationCallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/AddParticipantCancelled.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/AddParticipantCancelledInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CancelAddParticipantFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CancelAddParticipantFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationEventProcessorTestBase.cs
Labels: Communication

#38833 [AzureMonitorDistro] update OTel ResourceDetectors
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
Labels: Monitor - Distro

#38838 [AzureMonitorExporter] prepare new release. Exporter 1.0.0. Distro beta7
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#38842 [Storage][DataMovement] Add resource specific checkpoint data classes
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobDestinationCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobJobPlanExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobSourceCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/JobPlanAccessTier.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobDestinationCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Resources/BlobDestinationCheckpointData.1.bin
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDestinationCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalSourceCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
Labels: Storage

#38864 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#38667 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#38866 Update MSAL dependencies to latest
  eng/Packages.Data.props
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#38897 Azure OpenAI: prepare-release and changelog snap for beta.8 update
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
Labels: OpenAI

#35954 Added support for serialization of DataMemberAttribute in QueryAsync
  sdk/tables/Azure.Data.Tables/assets.json
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionWriter.cs
  sdk/tables/Azure.Data.Tables/tests/Azure.Data.Tables.Tests.csproj
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: customer-reported, Tables, Community Contribution

#38813 Autorest Regen Preview to 3.0.0-alpha.20230918.5 by Pan Shao from refs/pull/3671/head
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCognitiveSearchChatExtensionConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCognitiveSearchIndexFieldMappingOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCognitiveSearchQueryType.cs
Labels: Do Not Merge, OpenAI

#38808 add a function to convert primitive type to RequestContent
  sdk/core/Azure.Core/src/Shared/RequestContentHelper.cs
  sdk/core/Azure.Core/tests/RequestContentHelperTests.cs
Labels: Azure.Core

#38898 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#38892 DataMovement `ShareDirectoryStorageResourceContainer` implementation
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Azure.Storage.DataMovement.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/AssemblyInfo.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/PathScanner.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ClientMockingExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/PathScannerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
Labels: Storage

#38899 Update Tables changelog
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Tables

#38904 [App Config] Regenerate code using API version "2023-10-01"
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientOptions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/Docs/ConfigurationClient.xml
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSnapshot.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSnapshot.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotFields.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/autorest.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
Labels: App Configuration

#38919 What's in Azure.Core.1.36.0-alpha.20230921.5
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ChainingClassifier.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelinePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/RequestUriBuilder.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/Azure.Core/src/Shared/RawRequestUriBuilder.cs
  sdk/core/Azure.Core/src/Shared/RequestContentHelper.cs
  sdk/core/Azure.Core/src/Temporary/RawRequestUri.cs
  sdk/core/Azure.Core/tests/RequestContentHelperTests.cs
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netcoreapp2.1.cs
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netstandard2.0.cs
  sdk/core/System.ServiceModel.Rest/src/MessagePipeline.cs
  sdk/core/System.ServiceModel.Rest/src/NullableResultOfT.cs
  sdk/core/System.ServiceModel.Rest/src/PipelineOptions.cs
  sdk/core/System.ServiceModel.Rest/src/RequestBody.cs
  sdk/core/System.ServiceModel.Rest/src/ResponseErrorClassifier.cs
  sdk/core/System.ServiceModel.Rest/src/RestMessage.cs
  sdk/core/System.ServiceModel.Rest/src/Result.cs
  sdk/core/System.ServiceModel.Rest/src/ResultErrorOptions.cs
  sdk/core/System.ServiceModel.Rest/src/ResultOfT.cs
  sdk/core/System.ServiceModel.Rest/src/System.ServiceModel.Rest.csproj
  sdk/core/System.ServiceModel.Rest/src/Temporary/ClientUtilities.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/IUtf8JsonWriteable.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/KeyCredentialPolicy.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/ModelSerializationExtensions.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/OptionalDictionary.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/OptionalList.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/OptionalProperty.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/PipelinePolicy.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/PipelineProtocolExtensions.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/RequestUri.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/RestRequest.cs
  sdk/core/System.ServiceModel.Rest/src/Temporary/Utf8JsonRequestBody.cs
Labels: Azure.Core

#38846 Added STG 92 service version
  sdk/storage/Azure.Storage.Blobs.Batch/assets.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/assets.json
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
Labels: Storage

#38921 [App Config] Rename snapshot "name" parameter to "snapshotName"
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
Labels: App Configuration

#38926 Sync eng/common directory with azure-sdk-tools for PR 7002
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#37012 Managed Identity retries on 410 status
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#38708 Kubernetes workload identity test
  sdk/core/Azure.Core.TestFramework/src/RunOnlyOnPlatformsAttribute.cs
  sdk/identity/Azure.Identity/integration/Integration.Identity.Common/ManagedIdentityTests.cs
  sdk/identity/Azure.Identity/integration/Integration.Identity.Container/Integration.Identity.Container.csproj
  sdk/identity/Azure.Identity/integration/Integration.Identity.Container/Program.cs
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
  sdk/identity/Azure.Identity/tests/ManagedIdentityAKSIntegrationTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityVMIntegrationTests.cs
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Core, Azure.Identity

#38902 Update XML docs for public Monitor Query APIs
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MonitorQueryModelFactory.cs
Labels: Monitor - Query

#38940 Add version of StatusCodeClassifier to System.ServiceModel.Rest
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/MessagePipelineTransport.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netcoreapp2.1.cs
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netstandard2.0.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/ClientUtilities.cs
  sdk/core/System.ServiceModel.Rest/src/StatusResponseClassifier.cs
Labels: Azure.Core

#38942 Sync eng/common directory with azure-sdk-tools for PR 6919
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/Get-BuildSourceDescription.ps1
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/Update-GeneratedSdks.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#38943 Prepare for WebJobs Storage Extension Release
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#38917 [AppConfiguration] Fix: GetConfigurationSettings does not set the ContentType property
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient_private.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SettingFieldsExtensions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationSettingTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/SettingFieldsExtensionsTests.cs
Labels: Client, App Configuration

#38858 Adding Hold/Unhold capabilities to ACS.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallMediaRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnectionPropertiesInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnectionPropertiesInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DialogInputType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DialogOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DialogOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartHoldMusicRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartHoldMusicRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartTranscriptionRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartTranscriptionRequest.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopHoldMusicRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopHoldMusicRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopTranscriptionRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopTranscriptionRequest.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionResumed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionStarted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionStopped.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionUpdate.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UpdateTranscriptionDataRequest.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UpdateTranscriptionDataRequest.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartHoldMusicOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartHoldMusicRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StopHoldMusicOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StopHoldMusicRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
Labels: Communication

#38934 Update AutoRest C# version to 3.0.0-beta.20230924.2
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/translation/Azure.AI.Translation.Text/api/Azure.AI.Translation.Text.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/Docs/TextTranslationClient.xml
  sdk/translation/Azure.AI.Translation.Text/src/Generated/TextTranslationClient.cs
Labels: Cognitive - Translator

#38946 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#38941 DataMovement Test Infra: In-Memory StorageResources
  sdk/storage/Azure.Storage.DataMovement/tests/MemoryStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceItem.cs
Labels: Storage

#38930 [DataFactory]Upgrade SDK Version To 1.0.0-beta.4
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/api/Azure.ResourceManager.DataFactory.netstandard2.0.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PipelineExternalComputeScaleProperties.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PipelineExternalComputeScaleProperties.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SelfHostedIntegrationRuntime.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SelfHostedIntegrationRuntime.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SelfHostedIntegrationRuntimeStatus.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SelfHostedIntegrationRuntimeStatus.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/autorest.md
Labels: Mgmt, customer-reported, Community Contribution

#38876 [Network] Fix HopLink format error issue when resourceId return ""
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/assets.json
  sdk/network/Azure.ResourceManager.Network/src/Customization/ArmNetworkModelFactory.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/HopLink.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/autorest.md
  sdk/network/Azure.ResourceManager.Network/tests/Helpers/NetworkServiceClientTestBase.cs
  sdk/network/Azure.ResourceManager.Network/tests/Tests/NetworkWatcherTests.cs
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/CHANGELOG.md
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/src/Customization/ArmRecoveryServicesSiteRecoveryModelFactory.cs
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/src/Generated/ArmRecoveryServicesSiteRecoveryModelFactory.cs
Labels: Mgmt, breaking-change

#38807 [FormRecognizer] Cleaning up misc operations live tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentClassifierAdministrationLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/MiscellaneousOperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableDocumentClassifier.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableDocumentModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAssert.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#38949 Update messaging stress to use addons parallel job configuration
  sdk/eventhub/Azure.Messaging.EventHubs/stress/Chart.lock
  sdk/eventhub/Azure.Messaging.EventHubs/stress/Chart.yaml
  sdk/eventhub/Azure.Messaging.EventHubs/stress/scenarios-matrix.yaml
  sdk/eventhub/Azure.Messaging.EventHubs/stress/templates/deploy-job.yaml
  sdk/servicebus/Azure.Messaging.ServiceBus/stress/Chart.lock
  sdk/servicebus/Azure.Messaging.ServiceBus/stress/Chart.yaml
  sdk/servicebus/Azure.Messaging.ServiceBus/stress/scenarios-matrix.yaml
  sdk/servicebus/Azure.Messaging.ServiceBus/stress/templates/deploy-job.yaml
Labels: Service Bus, Event Hubs, Central-EngSys, Stress

#38970 Remove the default OpenTelemetry instrumentation options customization from the README.
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
Labels: Monitor - Distro

#38968 DataMovment `StorageResourceContainer` internal hooks to protected APIs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceContainerInternal.cs
Labels: Storage

#38938 Implemention ShareFileStorageResource
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Azure.Storage.DataMovement.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementShareConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceItemInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceWriteToOffsetOptions.cs
Labels: Storage

#38948 Sync eng/common directory with azure-sdk-tools for PR 7013
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#38995 [Monitor] Fix duplicate attribute
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Shims/UnconditionalSuppressMessageAttribute.cs
Labels: Monitor - Distro

#38971 [AppConfig] Allow unknown condition members
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/FeatureFlagConfigurationSetting.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/FeatureFlagConfigurationSettingTests.cs
Labels: Client, App Configuration

#38990 Enabled STG 91 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#37734 [Core] Adding attributes to support Native AOT compiling
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/src/Diagnostics/AzureCoreEventSource.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonChange.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonDocument.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineSynchronousPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/RequestContent.cs
  sdk/core/Azure.Core/src/Serialization/JsonObjectSerializer.cs
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/tests/DynamicData/MutableJsonElementTests.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/src/Microsoft.Azure.Core.Spatial.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.Spatial/src/Microsoft.Azure.Core.Spatial.csproj
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/src/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.csproj
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.Tests.csproj
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
  sdk/identity/Azure.Identity/perf/Azure.Identity.Perf.csproj
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
Labels: Azure.Core

#38944 move types
  sdk/core/Azure.Core.TestFramework/src/MockResponse.cs
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/DynamicContent.md
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineSynchronousPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/src/Pipeline/MessagePipelineTransport.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestBodyContent.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/Azure.Core/src/Shared/Multipart/MemoryRequest.cs
  sdk/core/Azure.Core/src/Temporary/RawRequestUri.cs
  sdk/core/Azure.Core/src/TokenRequestContext.cs
  sdk/core/Azure.Core/tests/samples/DynamicJsonSamples.cs
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netcoreapp2.1.cs
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netstandard2.0.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/KeyCredentialPolicy.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/OptionalProperty.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/PipelineProtocolExtensions.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/Utf8JsonRequestBody.cs
  sdk/core/System.ServiceModel.Rest/src/MessagePipeline.cs
  sdk/core/System.ServiceModel.Rest/src/Pipeline/MessagePipelineTransport.cs
  sdk/core/System.ServiceModel.Rest/src/Pipeline/Pipeline.cs
  sdk/core/System.ServiceModel.Rest/src/Pipeline/PipelinePolicy.cs
  sdk/core/System.ServiceModel.Rest/src/PipelineMessage.cs
  sdk/core/System.ServiceModel.Rest/src/PipelineRequest.cs
  sdk/core/System.ServiceModel.Rest/src/PipelineResponse.cs
  sdk/core/System.ServiceModel.Rest/src/PipelineTransport.cs
  sdk/core/System.ServiceModel.Rest/src/RequestErrorException.cs
  sdk/core/System.ServiceModel.Rest/src/RequestOptions.cs
  sdk/core/System.ServiceModel.Rest/src/ResponseErrorClassifier.cs
  sdk/core/System.ServiceModel.Rest/src/System.ServiceModel.Rest.csproj
  sdk/core/System.ServiceModel.Rest/src/TelemetrySource.cs
  sdk/core/System.ServiceModel.Rest/src/TelemetrySpan.cs
  sdk/identity/Azure.Identity.sln
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/tests/HttpPipelineMessageTest.cs
Labels: Azure.Core

#38760 Options Parameter for Translate and Transliterate
  sdk/translation/Azure.AI.Translation.Text/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Text/README.md
  sdk/translation/Azure.AI.Translation.Text/api/Azure.AI.Translation.Text.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Text/assets.json
  sdk/translation/Azure.AI.Translation.Text/samples/Sample2_Translate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample3_Transliterate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample4_BreakSentence.md
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationTranslateOptions.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationTransliterateOptions.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/SampleSnippets.cs
  sdk/translation/Azure.AI.Translation.Text/tests/TranslationLiveTests.cs
  sdk/translation/Azure.AI.Translation.Text/tests/TransliterationLiveTests.cs
Labels: Cognitive - Translator

#38993 ShareDirectoryClient extensions
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryClientExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryClientTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryClientExtensionsTests.cs
Labels: Storage

#39021 Extensions for generator
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netcoreapp2.1.cs
  sdk/core/System.ServiceModel.Rest/api/System.ServiceModel.Rest.netstandard2.0.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/ModelSerializationExtensions.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/PipelineProtocolExtensions.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/RequestUri.cs
  sdk/core/System.ServiceModel.Rest/src/Experimental/TypeFormatters.cs
Labels: Azure.Core

#39018 Modified storage ARM template to point at built-in Files RBAC role
  sdk/storage/test-resources.json
Labels: Storage
