Repository Azure/azure-sdk-for-net, pull requests merged in 2023-07, with the labels that each got.

#37354 [AzureMonitorExporter] adding comments how to collect logs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
Labels: Monitor - Exporter

#37319 [Storage][DataMovement] Implement GetResumableTransfers
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/DataTransferProperties.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/TransferCheckpointerOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/CheckpointerExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlanExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/GetTransfersTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerFactory.cs
Labels: Storage

#37355 [Storage] Added `ResumeTransferAsync` to `TransferManager`
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/Errors.DataMovement.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageTransferStatus.cs
  sdk/storage/Azure.Storage.DataMovement/tests/BlobContainerClientExtensionsTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
Labels: Storage

#37393 Update AutoRest C# version to 3.0.0-beta.20230704.2
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/CancerProfilingClient.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalMatchingClient.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/SecretAttributes.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/SecretBaseAttributes.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/FullBackupDetailsInternal.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/RestoreDetailsInternal.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SelectiveKeyRestoreDetailsInternal.Serialization.cs
  sdk/keyvault/samples/sharelink/Generated/Models/DeletedSasDefinitionBundle.Serialization.cs
  sdk/keyvault/samples/sharelink/Generated/Models/DeletedSasDefinitionItem.Serialization.cs
  sdk/keyvault/samples/sharelink/Generated/Models/DeletedStorageAccountItem.Serialization.cs
  sdk/keyvault/samples/sharelink/Generated/Models/DeletedStorageBundle.Serialization.cs
  sdk/keyvault/samples/sharelink/Generated/Models/SasDefinitionAttributes.Serialization.cs
  sdk/keyvault/samples/sharelink/Generated/Models/StorageAccountAttributes.Serialization.cs
  sdk/logic/Azure.ResourceManager.Logic/src/Generated/Models/IntegrationAccountKeyVaultKey.Serialization.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/MachineLearningEndpointAuthToken.Serialization.cs
Labels: KeyVault

#37394 [ACS JobRouter] Minor docstring update + Hide communication error model from RouterSDK
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterRestClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/CommunicationError.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/CommunicationError.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterModelFactory.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CommunicationError.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterModelFactory.cs
  sdk/communication/Azure.Communication.JobRouter/src/autorest.md
Labels: Communication

#37242 Generated SDK using the version specified
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/api/Azure.ResourceManager.DataProtectionBackup.netstandard2.0.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/ArmDataProtectionBackupModelFactory.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/DataProtectionBackupVaultResource.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Extensions/DataProtectionBackupExtensions.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionUnlockDeleteContent.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionUnlockDeleteContent.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionUnlockDeleteResult.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionUnlockDeleteResult.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/ResourceGuardOperationDetail.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/ResourceGuardOperationDetail.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/ResourceGuardProxyBase.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/ResourceGuardProxyBase.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/ResourceGuardProxyBaseResourceData.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/ResourceGuardProxyBaseResourceList.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/ResourceGuardProxyBaseResourceList.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/ResourceGuardProxyBaseResource.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/ResourceGuardProxyBaseResourceCollection.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/ResourceGuardProxyBaseResourceData.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/RestOperations/DppResourceGuardProxyRestOperations.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/autorest.md
Labels: customer-reported, Community Contribution

#37348 [App Config] Add snapshot feature sample, tests, and update readme
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample11_SettingsSnapshot.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientOptions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/autorest.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample11_SettingsSnapshot.cs
Labels: App Configuration

#37385 ACS Chat - Code coverage updates
  sdk/communication/Azure.Communication.Chat/src/Models/ChatErrorResponse.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatMessageReadReceipt.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CommunicationCloudEnvironmentModel.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CommunicationIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CommunicationIdentifierModelKind.cs
  sdk/communication/Azure.Communication.Chat/src/Models/MicrosoftTeamsUserIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/Models/PhoneNumberIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsTests.cs
Labels: Azure.Core, Communication, Communication - Chat

#37375 [Storage][DataMovement] Pass metadata in block blob sync copy
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ProgressHandlerAsserts.cs
Labels: Storage

#37412 DataMovement Resume Sample Update
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/README.md
Labels: Storage

#36851 Adding custom models for Play/Recognize
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SsmlSourceInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SsmlSourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TextSourceInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TextSourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SsmlSource.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TextSource.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
Labels: Communication

#37413 Save telemetry offline when TransmissionState is open
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/HttpPipelineHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmissionStateManager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
Labels: Monitor - Exporter

#37228 Fixed bug where DataLakePathClient.Rename was using filesystem name for the path name
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/RenameAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/RenameAsyncAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/RenameAsync_Error.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/RenameAsync_ErrorAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/RenameAsync_FileSystem.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/PathClientTests/RenameAsync_FileSystemAsync.json
Labels: Storage

#37310 [Maps] Support SAS authentication
  .github/CODEOWNERS
  sdk/maps/Azure.Maps.Common/CHANGELOG.md
  sdk/maps/Azure.Maps.Common/src/MapsSasCredentialPolicy.cs
  sdk/maps/Azure.Maps.Common/tests/Azure.Maps.Common.Tests.csproj
  sdk/maps/Azure.Maps.Common/tests/MapsSasCredentialPolicyTests.cs
  sdk/maps/Azure.Maps.Geolocation/CHANGELOG.md
  sdk/maps/Azure.Maps.Geolocation/README.md
  sdk/maps/Azure.Maps.Geolocation/api/Azure.Maps.Geolocation.netstandard2.0.cs
  sdk/maps/Azure.Maps.Geolocation/src/Azure.Maps.Geolocation.csproj
  sdk/maps/Azure.Maps.Geolocation/src/MapsGeolocationClient.cs
  sdk/maps/Azure.Maps.Geolocation/tests/Azure.Maps.Geolocation.Tests.csproj
  sdk/maps/Azure.Maps.Geolocation/tests/Samples/GeolocationClientSamples.cs
  sdk/maps/Azure.Maps.Rendering/CHANGELOG.md
  sdk/maps/Azure.Maps.Rendering/README.md
  sdk/maps/Azure.Maps.Rendering/api/Azure.Maps.Rendering.netstandard2.0.cs
  sdk/maps/Azure.Maps.Rendering/samples/MapsRenderingTilesImageriesImagesSamples.md
  sdk/maps/Azure.Maps.Rendering/src/Azure.Maps.Rendering.csproj
  sdk/maps/Azure.Maps.Rendering/src/MapsRenderingClient.cs
  sdk/maps/Azure.Maps.Rendering/tests/Azure.Maps.Rendering.Tests.csproj
  sdk/maps/Azure.Maps.Rendering/tests/Samples/RenderingClientSamples.cs
  sdk/maps/Azure.Maps.Routing/CHANGELOG.md
  sdk/maps/Azure.Maps.Routing/README.md
  sdk/maps/Azure.Maps.Routing/api/Azure.Maps.Routing.netstandard2.0.cs
  sdk/maps/Azure.Maps.Routing/samples/RouteDirectionsSamples.md
  sdk/maps/Azure.Maps.Routing/samples/RouteMatrixSamples.md
  sdk/maps/Azure.Maps.Routing/samples/RouteRangeSamples.md
  sdk/maps/Azure.Maps.Routing/src/Azure.Maps.Routing.csproj
  sdk/maps/Azure.Maps.Routing/src/MapsRoutingClient.cs
  sdk/maps/Azure.Maps.Routing/tests/Azure.Maps.Routing.Tests.csproj
  sdk/maps/Azure.Maps.Routing/tests/Samples/RouteClientSamples.cs
  sdk/maps/Azure.Maps.Search/CHANGELOG.md
  sdk/maps/Azure.Maps.Search/README.md
  sdk/maps/Azure.Maps.Search/api/Azure.Maps.Search.netstandard2.0.cs
  sdk/maps/Azure.Maps.Search/samples/FuzzySearchSamples.md
  sdk/maps/Azure.Maps.Search/samples/GeoJsonSearchSamples.md
  sdk/maps/Azure.Maps.Search/samples/ReverseSearchAddressSamples.md
  sdk/maps/Azure.Maps.Search/samples/SearchAddressSamples.md
  sdk/maps/Azure.Maps.Search/src/Azure.Maps.Search.csproj
  sdk/maps/Azure.Maps.Search/src/MapsSearchClient.cs
  sdk/maps/Azure.Maps.Search/src/autorest.md
  sdk/maps/Azure.Maps.Search/tests/Azure.Maps.Search.Tests.csproj
  sdk/maps/Azure.Maps.Search/tests/Samples/SearchClientSamples.cs
Labels: Maps

#37422 Updates sample code snippets to use code from SampleSnippets.cs.
  sdk/translation/Azure.AI.Translation.Text/README.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample0_CreateClient.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample1_GetLanguages.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample2_Translate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample4_BreakSentence.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample5_DictionaryLookup.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample6_DictionaryExamples.md
  sdk/translation/Azure.AI.Translation.Text/tests/Infrastructure/TextTranslationTestEnvironment.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/SampleSnippets.cs
Labels: customer-reported, Community Contribution, Cognitive - Translator

#37426 [Storage] Increased timeout for small chunks tests to reduce flakeyness
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#37425 [Storage] Fixed issue with parsing the stored transfer state blob tags and added tests
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/RehydrateBlobResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/JobPlanExtensions.cs
Labels: Storage

#37439 Update AutoRest C# version to 3.0.0-beta.20230706.1
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/api/Azure.AI.AnomalyDetector.netstandard2.0.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AzureAIAnomalyDetectorClientBuilderExtensions.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AzureAIAnomalyDetectorModelFactory.cs
  sdk/contentsafety/Azure.AI.ContentSafety/api/Azure.AI.ContentSafety.netstandard2.0.cs
  sdk/contentsafety/Azure.AI.ContentSafety/src/Generated/AzureAIContentSafetyClientBuilderExtensions.cs
  sdk/contentsafety/Azure.AI.ContentSafety/src/Generated/AzureAIContentSafetyModelFactory.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/api/Azure.Health.Insights.CancerProfiling.netstandard2.0.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/AzureHealthInsightsCancerProfilingClientBuilderExtensions.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/AzureHealthInsightsCancerProfilingModelFactory.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/api/Azure.Health.Insights.ClinicalMatching.netstandard2.0.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/AzureHealthInsightsClinicalMatchingClientBuilderExtensions.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/AzureHealthInsightsClinicalMatchingModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureAIOpenAIClientBuilderExtensions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureAIOpenAIModelFactory.cs
  sdk/translation/Azure.AI.Translation.Text/api/Azure.AI.Translation.Text.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationClientBuilderExtensions.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/AzureAITranslationTextModelFactory.cs
Labels: Cognitive - Translator, Open AI

#37419 [Storage][DataMovement] Modify some public types
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/CopyStatusEventArgs.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/TransferCopyMethod.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/ErrorHandlingBehavior.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/ProduceUriType.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManagerOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/tests/AppendBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/BlobStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/BlockBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalDirectoryStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalFileStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PageBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TestEventsRaised.cs
Labels: Storage

#37436 Tables Release prep
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#37437 Identity release prep
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#37351 [Azure.Core] Remove PrettyPrint from ModelSerializerOptions
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Serialization/ModelSerializerOptions.cs
Labels: Azure.Core

#37440 Fill gaps in Rooms SDK Live Tests
  sdk/communication/Azure.Communication.Rooms/tests/RoomsClient/RoomsClientLiveTests.cs
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomLifeCycleLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomLifeCycleLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveWithoutParticipantsUsingConnectionString.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveWithoutParticipantsUsingConnectionStringAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveWithoutParticipantsUsingKeyCredential.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomRequestLiveWithoutParticipantsUsingKeyCredentialAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomTimePartialUpdateLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AcsRoomTimePartialUpdateLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AddOrUpdateParticipants_IncorrectlyFormattedMri_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/AddOrUpdateParticipants_IncorrectlyFormattedMri_FailAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithAllOptionalParameters_Succeed.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithAllOptionalParameters_SucceedAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithInvalidParticipantMri_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithInvalidParticipantMri_FailAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithNoAttributes_Succeed.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithNoAttributes_SucceedAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithOnlyParticipants_Succeed.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithOnlyParticipants_SucceedAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithTimeRangeExceedMax_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/CreateRoom_WithTimeRangeExceedMax_FailAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/DeleteRoom_Success.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/DeleteRoom_SuccessAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/GetRoom_WithInvalidFormatRoomId_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/GetRoom_WithInvalidFormatRoomId_FailAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/GetRoomsLiveTest_FirstRoomIsNotNull_Succeed.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/GetRoomsLiveTest_FirstRoomIsNotNull_SucceedAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RemoveParticipants_IncorrectlyFormattedMri_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RemoveParticipants_IncorrectlyFormattedMri_FailAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RemoveParticipants_NonExistentParticipants_Success.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RemoveParticipants_NonExistentParticipants_SuccessAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RoomParticipantsAddUpdateAndRemoveLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RoomParticipantsAddUpdateAndRemoveLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RoomParticipantsAddUpdateAndRemoveWithNullRolesLiveTest.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/RoomParticipantsAddUpdateAndRemoveWithNullRolesLiveTestAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateRoom_WithDeletedRoom_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateRoom_WithDeletedRoom_FailAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateRoom_WithInvalidFormatRoomId_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateRoom_WithInvalidFormatRoomId_FailAsync.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateRoom_WithTimeRangeExceedMax_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/UpdateRoom_WithTimeRangeExceedMax_FailAsync.json
Labels: Communication - Rooms

#37396 Specify internal properties to include
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryKeyVaultSecretReference.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactorySecretBaseDefinition.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactorySecretString.cs
  sdk/core/Azure.Core/src/Shared/TypeReferenceTypeAttribute.cs
Labels: Azure.Core

#37441 remove netstandard2.1 target from datamovement
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#37438 ClientDiagnostics | RaiseAsync
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.DataMovement/src/CommitChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/DownloadChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManagerOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CommitChunkHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DownloadChunkHandlerTests.cs
Labels: Storage

#37423 [AzureMonitorExporter] include name of Exporter in log messages
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorMetricExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/TelemetryItemOrigin.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/HttpPipelineHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ITransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/MockTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
Labels: Monitor - Exporter

#37444 Sync eng/common directory with azure-sdk-tools for PR 6465
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#37445 [Storage] Removed `TransferOptions.ResumeFromCheckpointId`
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/TransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferCheckpointerTests.cs
Labels: Storage

#37464 [AzureMonitorExporter] Add support new HTTP semantics - Dependency Telemetry
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.Schema.New.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RequestData.Schema.New.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RequestDataV2.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonListExtensionsV2.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonNewListExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/OperationType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SchemaConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzMonListExtensionsV2Tests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzMonNewListExtensionsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataNewTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RequestDataNewTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TagsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TraceHelperNewTests.cs
Labels: Monitor - Exporter

#37418 [Core] Upgrading dependency on `System.Diagnostics.DiagnosticSource`
  eng/Packages.Data.props
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Shared/MessagingClientDiagnostics.cs
Labels: Azure.Core

#37473 [ACR][AppConfig] Add release date in CHANGELOG
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
Labels: App Configuration

#37165 Do not append highlight- on 'none' captions
  sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs
  sdk/search/Azure.Search.Documents/tests/Models/SearchOptionsTests.cs
Labels: Search, customer-reported, Community Contribution

#37465 Add sample for Vector Search and update README
  eng/Packages.Data.props
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/samples/README.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch.md
  sdk/search/Azure.Search.Documents/tests/Azure.Search.Documents.Tests.csproj
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/VectorSearchTests.cs
  sdk/search/Azure.Search.Documents/tests/Models/SearchOptionsTests.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearch.cs
  sdk/search/Azure.Search.Documents/tests/Utilities/VectorSearch.Embeddings.cs
Labels: Search

#37496 [App Config][ACR] Update release date following the core library release
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
Labels: App Configuration

#37497 Get db dependency target using server.* attributes
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonListExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzMonListExtensionsTests.cs
Labels: Monitor - Exporter

#37470 [AzureMonitorExporter] remove unused test code
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzureMonitorExporterEventSourceTests.cs
Labels: Monitor - Exporter

#37501 Upgrade Microsoft.Rest.ClientRuntime to latest
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Azure.Messaging.EventHubs.Perf.csproj
  sdk/iot/Azure.IoT.Hub.Service/tests/Azure.IoT.Hub.Service.Tests.csproj
  sdk/mgmtcommon/Auth/Az.Auth/Az.Auth.Tests/Az.Auth.Net452.Test/packages.config
  sdk/mgmtcommon/Auth/Az.Auth/Az.Auth.Tests/Az.Auth.NetCore.Test/Az.Auth.NetCore.Test.csproj
  sdk/mgmtcommon/ClientRuntime.Etw/Microsoft.Rest.ClientRuntime.Etw.csproj
  sdk/mgmtcommon/ClientRuntime.Log4Net/Microsoft.Rest.ClientRuntime.Log4Net.csproj
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/TimeSeriesInsightsClientSample.csproj
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/tests/Azure.IoT.TimeSeriesInsights.Tests.csproj
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/samples/Azure.Media.VideoAnalyzer.Edge.Samples.csproj
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/tests/Azure.Media.VideoAnalyzer.Edge.Tests.csproj
Labels: Event Hubs, IoT, TimeseriesInsights, VideoAnalyzer

#37505 Add Azure.* activity sources to distro
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
Labels: Monitor - Distro

#37502 Prepare for release
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
Labels: Azure.Core

#37513 Sync eng/common directory with azure-sdk-tools for PR 6468
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#37527 STG 88 GA Release Prep
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#37529 DataMovement Preview 3 Release Prep
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
Labels: Storage

#37533 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#37469 Release Prep: Core
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#37538 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#37540 [JobRouter] Use Lists instead of IList
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CreateJobOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CreateJobWithClassificationPolicyOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/UpdateClassificationPolicyOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/UpdateJobOptions.cs
Labels: Communication

#37472 Separate Key Vault mgmt plane tests from data plane
  sdk/keyvault/Azure.ResourceManager.KeyVault/tests/PrivateEndpointConnectionTests.cs
  sdk/keyvault/service.projects
  sdk/keyvault/tests.yml
Labels: KeyVault

#37534 [AzureMonitorExporter] Merge existing and new Request/Dependency Telemetry.
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.Schema.New.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RequestData.Schema.New.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RequestData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ActivityTagsProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SchemaConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataNewTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RequestDataNewTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RequestDataTests.cs
Labels: Monitor - Exporter

#37544 [Azure.Core] Remove NameHint
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Serialization/ModelSerializerOptions.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/ModelXml.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/XmlModelForCombinedInterface.cs
Labels: Azure.Core

#37558 CODEOWNERS: Fix OpenAI PR Label
  .github/CODEOWNERS
Labels: Client, EngSys

#37559 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#37565 [ACS JobRouter] Update autorest to point to new swagger specs
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/UnassignJobRequest.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/UnassignJobRequest.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/UnassignJobRequest.cs
  sdk/communication/Azure.Communication.JobRouter/src/autorest.md
Labels: Communication

#37503 prepare AzureMonitorExporter and AzureMonitorDistro for release
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter, Monitor - Distro

#37570 [JobRouter] Use internal setters
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/ClassificationPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/DistributionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/ExceptionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/RouterQueue.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/RouterWorker.cs
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ClassificationPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/DistributionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ExceptionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterQueue.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterWorker.cs
Labels: Communication

#37571 Set ai.user.useragent to userAgentOriginal
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
Labels: Monitor - Exporter

#37573 [ACS JobRouter] Missing usage of Azure.Etag in RouterQueueItem
  sdk/communication/Azure.Communication.JobRouter/README.md
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/samples/RouterJobCrud.md
  sdk/communication/Azure.Communication.JobRouter/samples/RouterJobCrudAsync.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorld.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorldAsync.md
  sdk/communication/Azure.Communication.JobRouter/src/Generated/CommunicationJobRouterModelFactory.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/JobMatchingMode.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/JobMatchingMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/RouterQueueItem.cs
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CancelJobResult.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CloseJobResult.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CompleteJobResult.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/DeclineJobOfferResult.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobMatchingMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ReclassifyJobResult.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterQueueItem.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterJobCrudOps.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterJobCrudOpsAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample1_KeyConcepts.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample1_KeyConceptsAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Scenarios/AssignmentScenario.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Scenarios/SchedulingScenario.cs
Labels: Communication

#37524 Fix code generation for EmailAttachment serialization
  sdk/communication/Azure.Communication.Email/src/Generated/Models/EmailAttachment.Serialization.cs
  sdk/communication/Azure.Communication.Email/src/Models/EmailAttachment.cs
  sdk/communication/Azure.Communication.Email/src/autorest.md
Labels: customer-reported, Community Contribution, Communication

#37548 [Azure Communication Services][CallAutomation]Create Customcontext class
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallInvite.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateGroupCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CustomContext.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CustomContextHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SIPCustomHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SIPUUIHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/VoipHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
Labels: Communication

#37591 [Event Hubs] Migration Guide Tweaks
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide_WindowsAzureServiceBus.md
Labels: Event Hubs, Client, Docs

#37542 Use property reference type
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
  sdk/core/Azure.Core.Expressions.DataFactory/api/Azure.Core.Expressions.DataFactory.netstandard2.0.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryKeyVaultSecretReference.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryLinkedServiceReference.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryModelFactory.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactorySecretBaseDefinition.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactorySecretString.cs
  sdk/core/Azure.Core/src/Shared/PropertyReferenceTypeAttribute.cs
Labels: Azure.Core

#37595 [MetricsAdvisor] Removed AZC0007 NoWarn option
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Azure.AI.MetricsAdvisor.csproj
Labels: Client, Cognitive - Metrics Advisor

#37599 Increment version for core releases
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
Labels: Azure.Core

#37603 Fix standard metric for updated semantic conv
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonNewListExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/StandardMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StandardMetricTests.cs
Labels: Monitor - Exporter

#37602 Sync .github/workflows directory with azure-sdk-tools for PR 6507
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#37606 update readme to include Azure SDK support
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
Labels: Monitor - Distro

#37105 Microsoft.GraphServices add new SDK version for stable swagger spec
  sdk/graphservices/Azure.ResourceManager.GraphServices/CHANGELOG.md
  sdk/graphservices/Azure.ResourceManager.GraphServices/README.md
  sdk/graphservices/Azure.ResourceManager.GraphServices/api/Azure.ResourceManager.GraphServices.netstandard2.0.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/assets.json
  sdk/graphservices/Azure.ResourceManager.GraphServices/samples/Generated/Samples/Sample_GraphServicesAccountResource.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/samples/Generated/Samples/Sample_GraphServicesAccountResourceCollection.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Azure.ResourceManager.GraphServices.csproj
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/Extensions/GraphServicesExtensions.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/GraphServicesAccountResource.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/GraphServicesAccountResourceCollection.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/Models/GraphServicesAccountResourcePatch.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/Models/GraphServicesTagUpdate.Serialization.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/Models/GraphServicesTagUpdate.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/RestOperations/AccountRestOperations.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/Generated/RestOperations/AccountsRestOperations.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/autorest.md
  sdk/graphservices/Azure.ResourceManager.GraphServices/tests/Azure.ResourceManager.GraphServices.Tests.csproj
Labels: customer-reported, Community Contribution

#37613 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#37537 DefaultAzureCredentialOptions.TenantId now overrides the environment when selecting EnvironmentCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
Labels: Azure.Identity

#37589 Update MSAL dependencies
  eng/Packages.Data.props
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/SharedTokenCacheCredentialBrokerOptions.cs
Labels: Azure.Identity

#37463 Add IsSupportLoggingEnabled property to TokenCredentialOptions
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureDeveloperCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/src/MsalClientBase.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/AuthorizationCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzureDeveloperCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/ClientAssertionCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_ClientCertificateTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_ClientSecretTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_UserNamePasswordTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/MsalClientBaseTests.cs
  sdk/identity/Azure.Identity/tests/OnBehalfOfCredentialTests.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
  sdk/identity/Azure.Identity/tests/TokenCredentialOptionsTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Identity

#37568 [Event Hubs] Upgrade management package
  sdk/eventhub/Azure.Messaging.EventHubs.Experimental/tests/Azure.Messaging.EventHubs.Experimental.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/perf/Azure.Messaging.EventHubs.Processor.Perf.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Azure.Messaging.EventHubs.Processor.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventHubsTestEnvironment.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Azure.Messaging.EventHubs.Shared.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Azure.Messaging.EventHubs.Perf.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/perf/Infrastructure/ReadPerfTest.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Azure.Messaging.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/ScaleHostEndToEndTests.cs
Labels: Event Hubs, Client

#37567 Enable MSA Passthrough for WAM
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity.BrokeredAuthentication/api/Azure.Identity.BrokeredAuthentication.net6.0.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/api/Azure.Identity.BrokeredAuthentication.netstandard2.0.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/tests/InteractiveBrowserCredentialBrokerOptionsTests.cs
  sdk/identity/Azure.Identity.BrokeredAuthentication/tests/SharedTokenCacheCredentialBrokerOptionsTests.cs
  sdk/identity/Azure.Identity/src/Properties/AssemblyInfo.cs
Labels: Azure.Identity

#37624 Fix DataFactory README and bump central version
  eng/Packages.Data.props
  sdk/core/Azure.Core.Expressions.DataFactory/README.md
Labels: Azure.Core

#37597 [EventGrid] Moving from ActivityExtensions to System.Diagnostics.DiagnosticSource
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CloudEventRequestContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/CloudEventTests.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/src/EventGridPublisherClientExtensions.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/CloudEventTests.cs
Labels: Event Grid

#37627 Sync eng/common directory with azure-sdk-tools for PR 6521
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#37640 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#37065 Analysis tests
  sdk/analysisservices/Azure.ResourceManager.Analysis/assets.json
  sdk/analysisservices/Azure.ResourceManager.Analysis/tests/AnaltsisManagementTestBase.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/tests/AnalysisManagementTestBase.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/tests/AnalysisManagementTestEnvironment.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/tests/TestCase/AnalysisServiceTests.cs
Labels: Mgmt

#37658 update release dates
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#37600 [Event Grid] [Event Hubs] [Service Bus] [Storage] Adding ActivitySource and migrating all DiagnosticScope.ActivityKind references
  sdk/core/Azure.Core.TestFramework/tests/ClientTestBaseDiagnosticScopeTests.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/src/Shared/MessagingClientDiagnostics.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/core/Azure.Core/tests/RequestActivityPolicyTests.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/src/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.csproj
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Config/EventGridExtensionConfigProvider.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/storage/Azure.Storage.Common/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage, Service Bus, Event Hubs, Event Grid, Azure.Core, Functions

#37618 [FormRecognizer] Updated tests after recent service deployment
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/MiscellaneousOperationsLiveTests.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#37659 fix Azure.Core reference
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#35593 AsyncAutoResetEvent enhancement
  sdk/openai/Azure.AI.OpenAI/src/Helpers/AsyncAutoResetEvent.cs
Labels: customer-reported, Community Contribution, OpenAI

#37662 [JobRouter] Fix TTL
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/PassThroughWorkerSelectorAttachment.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/PassThroughWorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/RouterWorkerSelector.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/RouterWorkerSelector.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/PassThroughWorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJobNote.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterWorkerSelector.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/RouterJobLiveTests.cs
Labels: Communication

#37604 [Storage] [DataMovement] Made the respective members `public` to `protected internal` members
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/MockAppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/MockBlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/MockBlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/MockPageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StorageResourceEtagManagementTests.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceSingle.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
Labels: Storage

#37664 Increment version for identity releases
  sdk/identity/Azure.Identity.BrokeredAuthentication/CHANGELOG.md
  sdk/identity/Azure.Identity.BrokeredAuthentication/src/Azure.Identity.BrokeredAuthentication.csproj
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#37688 Skip ApiCompat for SDK automation
  eng/scripts/automation/GenerateAndBuildLib.ps1
Labels: Mgmt

#37467 [Azure.Core] Update options to use Format string
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Serialization.md
  sdk/core/Azure.Core/src/Serialization/ModelJsonConverter.cs
  sdk/core/Azure.Core/src/Serialization/ModelSerializerFormat.cs
  sdk/core/Azure.Core/src/Serialization/ModelSerializerOptions.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/CombinedInterfaceTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Envelope.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/EnvelopeTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/ModelJsonConverterTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/ModelXmlTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/Animal.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/CatReadOnlyProperty.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/ModelX.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/ModelY.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/UnknownBaseModel.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DogListProperty.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/JsonModelForCombinedInterface.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/ModelXml.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/XmlModelForCombinedInterface.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/NewtonSoftTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/UsingJsonSerializerTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/VerifyModels.cs
  sdk/core/Azure.Core/tests/public/Samples/SerializationSamples.cs
Labels: Azure.Core

#37696 Set operation name for consumer spans
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RequestData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemValidationHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RequestDataNewTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/TestFramework/WebApplicationTestsBase.cs
Labels: Monitor - Exporter

#37652 Juntuchen/callback uri override
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RemoveParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RemoveParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TransferToParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TransferToParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AddParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RemoveParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#37714 Avoid test failures for known issue
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus, Functions

#37697 Sync eng/common directory with azure-sdk-tools for PR 6530
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#37707 Update location ip mapping
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ActivityTagsProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
Labels: Monitor - Exporter

#37723 Azure OpenAI: finalize changelog for 2023-07 release
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
Labels: OpenAI

#37724 Mark internal classes sealed
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorMetricExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AksResourceProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ApplicationInsightsSampler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorResource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/MetricHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/NDJsonWriter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResponseStatusCodes.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/StandardMetricConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/StandardMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitterFactory.cs
Labels: Monitor - Exporter

#37725 Dev credentials retain AuthenticationFailedException behavior outside of DAC
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureDeveloperCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzureDeveloperCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialFactoryTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Identity

#34095 Enable customerizing webview for interactive authentication
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/BrowserCustomizationOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalPublicClient.cs
Labels: Azure.Identity

#37728 Sync eng/common directory with azure-sdk-tools for PR 6538
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#37704 Fall back to management link when settling non-session message
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Transactions/TransactionLiveTests.cs
Labels: Service Bus

#37661 [Core] Updating System.Diagnostics.DiagnosticSource types usage
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/src/Shared/MessagingClientDiagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
Labels: Azure.Core

#37594 [ACS JobRouter Pre-release] Execute prelease script
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/src/Azure.Communication.JobRouter.csproj
Labels: Communication

#37643 Use events for lock lost notification
  azure-pipelines.yml
  samples/linecounter/LineCounter.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/CancellationTokenSourceExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/MessageLockLostEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessSessionMessageEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessorReceiveActions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionLockLostEventArgs.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/SessionReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
Labels: Service Bus

#37735 Sync eng/common directory with azure-sdk-tools for PR 6544
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#37746 Update AutoRest C# version to 3.0.0-beta.20230719.3
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/AzureCommunicationServicesRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallRecordingRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RepeatabilityHeaders.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Misc/RepeatabilityHeadersTests.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ContentRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ServerCallingRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
  sdk/communication/Azure.Communication.CallingServer/tests/Infrastructure/CallAutomationClientLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToPSTNGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallAutomationClientLiveTests/CreateCallToPSTNGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserAndAcsUserFromAnOngoingCallTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserAndAcsUserFromAnOngoingCallTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserFromAnOngoingCallTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/RemoveAPSTNUserFromAnOngoingCallTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/StartAGroupCallAndHangUpForEveryoneTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/StartAGroupCallAndHangUpForEveryoneTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/StartAGroupCallAndHangUpTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/StartAGroupCallAndHangUpTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/TransferACallFromOneUserToAnotherUserTest.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallConnectionLiveTests/TransferACallFromOneUserToAnotherUserTestAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallMediaLiveTests/PlayAudio.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallMediaLiveTests/PlayAudioAsync.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallRecordingLiveTests/RecordingOperations.json
  sdk/communication/Azure.Communication.CallingServer/tests/SessionRecords/CallRecordingLiveTests/RecordingOperationsAsync.json
  sdk/communication/Azure.Communication.Chat/src/ChatClient.cs
  sdk/communication/Azure.Communication.Chat/src/ChatRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatRestClient.cs
  sdk/communication/Azure.Communication.Rooms/src/Generated/RoomsRestClient.cs
  sdk/communication/Azure.Communication.Rooms/src/RoomsClient.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/api/Azure.Health.Insights.CancerProfiling.netstandard2.0.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/CancerProfilingClient.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/Docs/CancerProfilingClient.xml
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/Generated/Samples/Samples_CancerProfilingClient.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/Infrastructure/HealthInsightsLiveTestBase.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/SessionRecords/CancerProfilingClientLiveTests/GetResultsFromCreateJob.json
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/SessionRecords/CancerProfilingClientLiveTests/GetResultsFromCreateJobAsync.json
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/api/Azure.Health.Insights.ClinicalMatching.netstandard2.0.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalMatchingClient.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/Docs/ClinicalMatchingClient.xml
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/Generated/Samples/Samples_ClinicalMatchingClient.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/Infrastructure/HealthInsightsLiveTestBase.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/SessionRecords/ClinicalMatchingClientLiveTests/GetResultsFromCreateJob.json
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/SessionRecords/ClinicalMatchingClientLiveTests/GetResultsFromCreateJobAsync.json
  sdk/purview/Azure.Analytics.Purview.Sharing/api/Azure.Analytics.Purview.Sharing.netstandard2.0.cs
  sdk/purview/Azure.Analytics.Purview.Sharing/src/Generated/Docs/ReceivedSharesClient.xml
  sdk/purview/Azure.Analytics.Purview.Sharing/src/Generated/Docs/SentSharesClient.xml
  sdk/purview/Azure.Analytics.Purview.Sharing/src/Generated/ReceivedSharesClient.cs
  sdk/purview/Azure.Analytics.Purview.Sharing/src/Generated/SentSharesClient.cs
  sdk/purview/Azure.Analytics.Purview.Sharing/tests/Generated/Samples/Samples_ReceivedSharesClient.cs
  sdk/purview/Azure.Analytics.Purview.Sharing/tests/Generated/Samples/Samples_SentSharesClient.cs
Labels: Communication, Communication - Calling Server, Communication - Chat, Communication - Rooms

#37730 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#37710 Updated client constructors to ensure authentication is property being added to ClientConfiguration
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Shared/BlobClientConfiguration.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageClientConfiguration.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientConfiguration.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientConfiguration.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientConfiguration.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
Labels: Storage

#37754 [JobRouter] Bug bash fixes
  sdk/communication/Azure.Communication.JobRouter/README.md
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/samples/RouterJobCrud.md
  sdk/communication/Azure.Communication.JobRouter/samples/RouterJobCrudAsync.md
  sdk/communication/Azure.Communication.JobRouter/samples/RouterWorkerCrud.md
  sdk/communication/Azure.Communication.JobRouter/samples/RouterWorkerCrudAsync.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorld.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorldAsync.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample2_ClassificationWithWorkerSelectorAsync.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample3_AdvancedDistributionAsync.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample3_SimpleDistributionAsync.md
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/BestWorkerMode.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/BestWorkerMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/ScheduleAndSuspendMode.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/ScheduleAndSuspendMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/ScoringRuleOptions.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/ScoringRuleOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/BestWorkerMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CreateJobOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CreateWorkerOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/LabelValue.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJobNote.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ScheduleAndSuspendMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ScoringRuleOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/UpdateJobOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/UpdateWorkerOptions.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/LabelValueTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/RouterWorkerLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterJobCrudOps.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterJobCrudOpsAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterWorkerCrudOps.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterWorkerCrudOpsAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample1_KeyConcepts.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample1_KeyConceptsAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample2_ClassificationWithWorkerSelectorAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample3_AdvancedDistributionAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/Sample3_SimpleDistributionAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Scenarios/AssignmentScenario.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Scenarios/SchedulingScenario.cs
Labels: Communication

#36475 Paginated Directory Delete
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/FileSystemRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
Labels: Storage

#37762 Remove assertions from KV perf tests
  sdk/keyvault/Azure.Security.KeyVault.Certificates/perf/Scenarios/DownloadCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/perf/Scenarios/GetCertificate.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/perf/Scenarios/Decrypt.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/perf/Scenarios/GetKey.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/perf/Scenarios/Sign.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/perf/Scenarios/Unwrap.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/perf/Scenarios/GetSecret.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/perf/Scenarios/ListSecrets.cs
Labels: KeyVault

#37365 generate sample code for mysql
  sdk/mysql/Azure.ResourceManager.MySql/Azure.ResourceManager.MySql.sln
  sdk/mysql/Azure.ResourceManager.MySql/samples/Azure.ResourceManager.MySql.Samples.csproj
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlAdvisorCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlAdvisorResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlConfigurationCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlConfigurationResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlDatabaseCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlDatabaseResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFirewallRuleCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFirewallRuleResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerAadAdministratorCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerAadAdministratorResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerBackupCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerBackupResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerConfigurationCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerConfigurationResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerDatabaseCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerDatabaseResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerFirewallRuleCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerFirewallRuleResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlFlexibleServerResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlPrivateEndpointConnectionCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlPrivateEndpointConnectionResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlPrivateLinkResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlPrivateLinkResourceCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlQueryStatisticCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlQueryStatisticResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlQueryTextCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlQueryTextResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlRecommendationActionCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlRecommendationActionResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlServerAdministratorResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlServerCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlServerKeyCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlServerKeyResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlServerResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlServerSecurityAlertPolicyCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlServerSecurityAlertPolicyResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlVirtualNetworkRuleCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlVirtualNetworkRuleResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlWaitStatisticCollection.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_MySqlWaitStatisticResource.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/mysql/Azure.ResourceManager.MySql/samples/autorest.tests.md
  sdk/mysql/Azure.ResourceManager.MySql/src/MySql/Custom/Models/MySqlServerVersion.cs
  sdk/mysql/Azure.ResourceManager.MySql/src/MySql/Generated/Models/MySqlServerVersion.cs
  sdk/mysql/Azure.ResourceManager.MySql/src/MySqlFlexibleServers/Custom/Models/MySqlFlexibleServerVersion.cs
  sdk/mysql/Azure.ResourceManager.MySql/src/MySqlFlexibleServers/Generated/Models/MySqlFlexibleServerVersion.cs
Labels: Mgmt

#37550 Generate sample code for ResourceManager
  sdk/resourcemanager/Azure.ResourceManager/Azure.ResourceManager.sln
  sdk/resourcemanager/Azure.ResourceManager/samples/Azure.ResourceManager.Samples.csproj
  sdk/resourcemanager/Azure.ResourceManager/samples/autorest.tests.md
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_DataPolicyManifestCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_DataPolicyManifestResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_FeatureCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_FeatureResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementGroupCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementGroupPolicyDefinitionCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementGroupPolicyDefinitionResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementGroupPolicySetDefinitionCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementGroupPolicySetDefinitionResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementGroupResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementLockCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ManagementLockResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_PolicyAssignmentCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_PolicyAssignmentResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ResourceGroupCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ResourceGroupResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ResourceProviderCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_ResourceProviderResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_SubscriptionCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_SubscriptionPolicyDefinitionCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_SubscriptionPolicyDefinitionResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_SubscriptionPolicySetDefinitionCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_SubscriptionPolicySetDefinitionResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_SubscriptionResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_TagResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_TenantCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_TenantPolicyDefinitionCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_TenantPolicyDefinitionResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_TenantPolicySetDefinitionCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_TenantPolicySetDefinitionResource.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/generated/Samples/Sample_TenantResource.cs
Labels: Mgmt

#37770 Update AutoRest C# version to 3.0.0-beta.20230721.1
  .vscode/cspell.json
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/autorest.md
  sdk/batch/Azure.ResourceManager.Batch/src/autorest.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/autorest.md
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/autorest.md
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/src/autorest.md
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/src/autorest.md
  sdk/iot/Azure.ResourceManager.IotFirmwareDefense/src/Generated/Models/FirmwareCryptoCertificate.Serialization.cs
  sdk/iot/Azure.ResourceManager.IotFirmwareDefense/src/Generated/Models/FirmwareCryptoKey.Serialization.cs
  sdk/kubernetesconfiguration/Azure.ResourceManager.KubernetesConfiguration/src/autorest.md
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/autorest.md
  sdk/monitor/Azure.ResourceManager.Monitor/src/autorest.md
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Models/AssetConversionConfiguration.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingChatChoice.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingChoice.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatChoice.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatChoice.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/Choice.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/Choice.cs
  sdk/quantum/Azure.Quantum.Jobs/src/Generated/Models/JobDetails.Serialization.cs
  sdk/reservations/Azure.ResourceManager.Reservations/src/autorest.md
  sdk/resourcemanager/Azure.ResourceManager/src/autorest.md
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/src/autorest.md
  sdk/search/Azure.Search.Documents/src/autorest.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/Models/UserDefinedResourcesProperties.Serialization.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/autorest.md
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/autorest.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/SparkBatchJob.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Generated/Models/SparkJob.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Generated/Models/SparkJobListViewResponse.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/Models/SparkBatchJob.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/Models/SparkSession.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/Models/SparkStatementOutput.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/autorest.md
Labels: Search, Synapse, Cognitive - Form Recognizer, Mixed Reality, OpenAI

#37705 [FormRecognizer] Cleaning up tests (1/?)
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeBusinessCardsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeContentLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeCustomFormsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeIdentityDocumentsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeInvoicesLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeReceiptsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerModels/FormRecognizerOperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerModels/OperationsMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/DocumentAnalysisSamples.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample_ManageModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/FormRecognizerSamples.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#37577 Added migration guide
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide_WindowsAzureServiceBus.md
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus

#37779 [Storage] Fix for failing RenameAsync_SourceSasCredentialDestSasUri live tests
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#37782 [AzureMonitorExporter] include AAD in the logger messages
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/HttpPipelineHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitFromStorageHandler.cs
Labels: Monitor - Exporter

#37701 update swagger and add support for transfer in group call
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CommunicationCallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallTransferAccepted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallTransferAcceptedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallTransferAcceptedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DialogSensitivityUpdateInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DialogSensitivityUpdateInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SensitiveFlag.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SensitiveFlag.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TransferToParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TransferToParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CommunicationCallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallTransferAccepted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallTransferAcceptedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/DialogSensitivityUpdate.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/SensitiveFlag.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/AttachEventProcessorTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationEventProcessorTestBase.cs
Labels: Communication

#37788 Edit pass on Azure.Identity troubleshooting guide
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#37791 Fix typo 'stanard' to 'standard'
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletionsOptions.cs
Labels: customer-reported, Community Contribution, OpenAI

#37399 Generate sample code for postgresql
  sdk/postgresql/Azure.ResourceManager.PostgreSql/Azure.ResourceManager.PostgreSql.sln
  sdk/postgresql/Azure.ResourceManager.PostgreSql/api/Azure.ResourceManager.PostgreSql.netstandard2.0.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Azure.ResourceManager.PostgreSql.Samples.csproj
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlConfigurationCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlConfigurationResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlDatabaseCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlDatabaseResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFirewallRuleCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFirewallRuleResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerActiveDirectoryAdministratorCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerActiveDirectoryAdministratorResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerBackupCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerBackupResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerConfigurationCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerConfigurationResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerDatabaseCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerDatabaseResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerFirewallRuleCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerFirewallRuleResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlFlexibleServerResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlLtrServerBackupOperationCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlLtrServerBackupOperationResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlMigrationCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlMigrationResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlPrivateEndpointConnectionCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlPrivateEndpointConnectionResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlPrivateLinkResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlPrivateLinkResourceCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlServerAdministratorResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlServerCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlServerKeyCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlServerKeyResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlServerResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlServerSecurityAlertPolicyCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlServerSecurityAlertPolicyResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlVirtualNetworkRuleCollection.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_PostgreSqlVirtualNetworkRuleResource.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/samples/autorest.tests.md
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSql/Custom/Models/PostgreSqlMinimalTlsVersionEnum.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSql/Custom/Models/PostgreSqlServerVersion.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSql/Generated/Models/PostgreSqlMinimalTlsVersionEnum.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSql/Generated/Models/PostgreSqlServerVersion.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSqlFlexibleServers/Custom/Models/PostgreSqlFlexibleServerVersion.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSqlFlexibleServers/Generated/Models/PostgreSqlFlexibleServerVersion.cs
Labels: Mgmt

#37685 Generate sample for ResourceHealth
  sdk/resourcehealth/Azure.ResourceManager.ResourceHealth/samples/Generated/Samples/Sample_ArmResourceExtensions.cs
  sdk/resourcehealth/Azure.ResourceManager.ResourceHealth/samples/autorest.tests.md
Labels: Mgmt

#37702 add test for encryptiondata key casing
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
Labels: Storage

#37785 Sync eng/common directory with azure-sdk-tools for PR 6557
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#37810 [JobRouter] Fix reclassify
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ReclassifyJobRequest.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/RouterJobLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/RouterJobLiveTests/ReclassifyJob.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/RouterJobLiveTests/ReclassifyJobAsync.json
Labels: Communication

#37814 Add samples demonstrating usage of lock lost events
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample13_AdvancedConfiguration.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample13_AdvancedConfiguration.cs
Labels: Service Bus

#37811 Sync eng/common directory with azure-sdk-tools for PR 6543
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Labels: EngSys, Central-EngSys

#37815 Update format to have J and W and implement json always on xml models
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Serialization/ModelJsonConverter.cs
  sdk/core/Azure.Core/src/Serialization/ModelSerializerFormat.cs
  sdk/core/Azure.Core/src/Serialization/ModelSerializerOptions.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/CombinedInterfaceTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Envelope.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/EnvelopeTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/ModelJsonConverterTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/ModelXmlTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/Animal.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/CatReadOnlyProperty.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/ModelX.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/ModelY.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DiscriminatorSet/UnknownBaseModel.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/DogListProperty.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/JsonModelForCombinedInterface.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/ModelXml.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/Models/XmlModelForCombinedInterface.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/NewtonSoftTests.cs
  sdk/core/Azure.Core/tests/public/ModelSerializationTests/VerifyModels.cs
Labels: Azure.Core

#37806 Update mocking guidance links
  samples/README.MD
  sdk/core/Azure.Core/README.md
  sdk/core/Azure.Core/samples/Mocking.md
  sdk/core/Azure.Core/samples/README.md
  sdk/core/Azure.Core/tests/samples/MockingSamples.cs
Labels: Azure.Core

#37765 [AzureMonitorExporter] Remove "sampleRate" tag from SamplingResult
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ActivityTagsProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ApplicationInsightsSampler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/AzureMonitorExporterTestExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/SampleRateTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StandardMetricTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TraceHelperTests.cs
Labels: Monitor - Exporter

#37798 Upgrade autorest.csharp to 3.0.0-beta.20230724.1
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/api/Azure.Verticals.AgriFood.Farming.netstandard2.0.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/Attachments.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/Docs/Attachments.xml
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/Docs/InsightAttachments.xml
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/src/Generated/InsightAttachments.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/tests/Generated/Samples/Samples_Attachments.cs
  sdk/agrifood/Azure.Verticals.AgriFood.Farming/tests/Generated/Samples/Samples_InsightAttachments.cs
  sdk/purview/Azure.Analytics.Purview.Administration/api/Azure.Analytics.Purview.Administration.netstandard2.0.cs
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/Docs/PurviewMetadataPolicyClient.xml
  sdk/purview/Azure.Analytics.Purview.Administration/src/Generated/PurviewMetadataPolicyClient.cs
  sdk/purview/Azure.Analytics.Purview.Administration/tests/Generated/Samples/Samples_PurviewMetadataPolicyClient.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/api/Azure.Analytics.Purview.Catalog.netstandard2.0.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/Docs/PurviewEntities.xml
  sdk/purview/Azure.Analytics.Purview.Catalog/src/Generated/PurviewEntities.cs
  sdk/purview/Azure.Analytics.Purview.Catalog/tests/Generated/Samples/Samples_PurviewEntities.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/api/Azure.Analytics.Purview.Scanning.netstandard2.0.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/Docs/PurviewClassificationRuleClient.xml
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/Docs/PurviewDataSourceClient.xml
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/Docs/PurviewScanClient.xml
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/Docs/PurviewScanningServiceClient.xml
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewClassificationRuleClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewDataSourceClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Generated/PurviewScanningServiceClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/tests/Generated/Samples/Samples_PurviewClassificationRuleClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/tests/Generated/Samples/Samples_PurviewDataSourceClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/tests/Generated/Samples/Samples_PurviewScanClient.cs
  sdk/purview/Azure.Analytics.Purview.Scanning/tests/Generated/Samples/Samples_PurviewScanningServiceClient.cs
Labels: Do Not Merge

#37805 Fix IMDS parsing invalid json
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#37590 Update DataMovement READMEs
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/samples/Azure.Storage.DataMovement.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement/samples/Sample01b_HelloWorldAsync.cs
Labels: Storage

#37807 [AzureMonitorExporter] fix SDK version
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SchemaConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SdkVersionUtils.cs
Labels: Monitor - Exporter

#37787 Added core types needed by CloudMachine incubation to Azure.Core.Experimental
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core.Experimental/src/CloudMachine.cs
  sdk/core/Azure.Core.Experimental/src/ProvisionableTemplateAttribute.cs
  sdk/core/Azure.Core.Experimental/tests/CloudMachineTests.cs
Labels: Azure.Core

#37839 [Service Bus] Migration guide tweaks
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide_WindowsAzureServiceBus.md
Labels: Service Bus, Client, Docs

#37837 [AzureMonitorExporter] Integration of OpenTelemetry Resource Detectors
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Demo/Azure.Monitor.OpenTelemetry.AspNetCore.Demo.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2EAzureMonitorDistroTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter, Monitor - Distro

#37860 [JobRouter] Remove worker constructor
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Models/RouterWorker.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterQueue.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterWorker.cs
  sdk/communication/Azure.Communication.JobRouter/src/autorest.md
Labels: Communication

#37812 Move X509Certificate2 module to eng/common
  eng/scripts/X509Certificate2/X509Certificate2.psm1
  sdk/confidentialledger/test-resources-pre.ps1
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.Constants.cs
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault, Central-EngSys, Confidential Ledger

#37780 Naive implementation of allowing env override
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
Labels: Azure.Core

#37843 [AzureMonitorExporter] Add Truncation to ContextTags
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SchemaConstants.cs
Labels: Monitor - Exporter

#37858 [FormRecognizer] Removed IgnoreServiceError attributes and overrode IsEnvironmentReady
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/MiscellaneousOperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/RecognizeCustomFormsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisTestEnvironment.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/DocumentAnalysisSamples.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/FormRecognizerSamples.cs
Labels: Client, Cognitive - Form Recognizer

#37316 [Compute] API version 2023-01- 02 track2
  .vscode/cspell.json
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/assets.json
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_ComputePrivateEndpointConnectionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_ComputePrivateEndpointConnectionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskAccessCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskAccessResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskEncryptionSetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskEncryptionSetResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskRestorePointCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskRestorePointResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_ManagedDiskCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_ManagedDiskResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SnapshotCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SnapshotResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/DiskImageFileFormat.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/GrantAccessData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/GrantAccessData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/DiskAccessesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/DiskEncryptionSetsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/DiskRestorePointRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/DisksRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/SnapshotsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Mgmt

#37857 Enabled STG 90 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
Labels: Storage

#37863 [Service Bus] ReadMe DI Snippets
  eng/Packages.Data.props
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Compatibility/DependencyInjectionSnippets.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Samples/Readme.cs
Labels: Service Bus

#37881 [AzureMonitorDistro] update resource detector
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
Labels: Monitor - Distro

#37845 [ACS JobRouter] Execute prelease script
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
Labels: Communication

#37868 Pass Assets Directory in CI
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
Labels: Azure.Core

#37861 [Service Bus] Clarifiy ScheduledEnqueueTime
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
Labels: Service Bus, Client, Docs

#37885 Increment version for communication releases
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/src/Azure.Communication.JobRouter.csproj
Labels: Communication

#37887 Fix Delete Invalid Room Test case
  sdk/communication/Azure.Communication.Rooms/tests/RoomsClient/RoomsClientLiveTests.cs
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/DeleteInvalidRoomId_Fail.json
  sdk/communication/Azure.Communication.Rooms/tests/SessionRecords/RoomsClientLiveTests/DeleteInvalidRoomId_FailAsync.json
Labels: Communication - Rooms
