Repository Azure/azure-sdk-for-net, pull requests merged in 2023-04, with the labels that each got.

#35283 Increment version for communication releases
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/src/Azure.Communication.Email.csproj
Labels: Communication, auto-merge

#35247 Fix memoryleak partitioneduploader
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/tests/PartitionedUploaderTests.cs
Labels: Storage

#35242 Abhishesingh msft/continuous recognize and send dtmf
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/SendDtmfEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallMediaRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionToneFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionToneFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionToneReceived.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionToneReceived.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfCompleted.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ToneInfo.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ToneInfo.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/ContinuousDtmfRecognitionRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ChoiceResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CollectTonesResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ContinuousDtmfRecognitionToneFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ContinuousDtmfRecognitionToneReceived.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/SendDtmfCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/SendDtmfFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ToneInfo.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RecognizeResultType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SendDtmfOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SendDtmfOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SendDtmfRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SendDtmfResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#35278 [Core] Move DynamicJson into DynamicData
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/ConversationAnalysisClientLiveTests.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/BinaryDataExtensions.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.ArrayEnumerator.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.DynamicMetaObject.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.ObjectEnumerator.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.Operators.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.cs
  sdk/core/Azure.Core.Experimental/src/DynamicDataNameMapping.cs
  sdk/core/Azure.Core.Experimental/src/DynamicDataProperty.cs
  sdk/core/Azure.Core.Experimental/src/DynamicJson.cs
  sdk/core/Azure.Core.Experimental/src/DynamicJsonNameMapping.cs
  sdk/core/Azure.Core.Experimental/src/DynamicJsonOptions.cs
  sdk/core/Azure.Core.Experimental/tests/DynamicJsonTests.cs
  sdk/core/Azure.Core.Experimental/tests/perf/DynamicReadingBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/perf/FirstReadBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/perf/ParseAndReadLargePayloadBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/perf/ReadLargePayloadBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataObjectTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataPublicMutableTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataPublicTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataTestHelpers.cs
Labels: Azure.Core

#35223 Add perf test for exporting request telemetry
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/Azure.Monitor.OpenTelemetry.Exporter.sln
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/perf/Azure.Monitor.OpenTelemetry.Exporter.Perf.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/perf/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/perf/Scenarios/ActivityKindServer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Properties/AssemblyInfo.cs
Labels: Monitor - Exporter

#35308 add exception in the comments
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
Labels: Communication

#35320 Fix some Cognitive Language test errors
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/ConversationAnalysisClientLiveTests.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/Infrastructure/QuestionAnsweringAuthoringLiveTestBase.cs
Labels: Cognitive - Language

#35311 [Azure Monitor Exporter] Add Sdk prefix
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SdkVersionUtils.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceExtensionsTests.cs
Labels: Monitor - Exporter

#34583 [AppConfiguration] Snapshot API Updates
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientOptions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/CreateSnapshotOperation.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/Docs/ConfigurationClient.xml
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSettingsSnapshot.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSettingsSnapshot.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SettingSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotSettingFilter.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotSettingFilter.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/autorest.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationMockTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationSettingsSnapshotTest.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample11_SettingsSnapshot.cs
Labels: App Configuration

#35241 Qumulo dontnet sdk
  .vscode/cspell.json
  sdk/qumulo/Azure.ResourceManager.Qumulo/Azure.ResourceManager.Qumulo.sln
  sdk/qumulo/Azure.ResourceManager.Qumulo/CHANGELOG.md
  sdk/qumulo/Azure.ResourceManager.Qumulo/Directory.Build.props
  sdk/qumulo/Azure.ResourceManager.Qumulo/README.md
  sdk/qumulo/Azure.ResourceManager.Qumulo/samples/Azure.ResourceManager.Qumulo.Samples.csproj
  sdk/qumulo/Azure.ResourceManager.Qumulo/samples/Generated/Samples/Sample_QumuloFileSystemResource.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/samples/Generated/Samples/Sample_QumuloFileSystemResourceCollection.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/samples/autorest.tests.md
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Azure.ResourceManager.Qumulo.csproj
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Extensions/QumuloExtensions.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Extensions/ResourceGroupResourceExtensionClient.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Extensions/SubscriptionResourceExtensionClient.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/LongRunningOperation/QumuloArmOperation.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/LongRunningOperation/QumuloArmOperationOfT.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/LongRunningOperation/QumuloFileSystemResourceOperationSource.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/FileSystemResourceUpdateProperties.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/FileSystemResourceUpdateProperties.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/MarketplaceDetails.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/MarketplaceDetails.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/MarketplaceSubscriptionStatus.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/MarketplaceSubscriptionStatus.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloFileSystemResourceData.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloFileSystemResourceListResult.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloFileSystemResourceListResult.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloFileSystemResourcePatch.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloFileSystemResourcePatch.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloProvisioningState.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloProvisioningState.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloUserDetails.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/QumuloUserDetails.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/StorageSku.Serialization.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/Models/StorageSku.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/ProviderConstants.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/QumuloFileSystemResource.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/QumuloFileSystemResourceCollection.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/QumuloFileSystemResourceData.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Generated/RestOperations/FileSystemsRestOperations.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/Properties/AssemblyInfo.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/src/autorest.md
  sdk/qumulo/Azure.ResourceManager.Qumulo/tests/Azure.ResourceManager.Qumulo.Tests.csproj
  sdk/qumulo/Azure.ResourceManager.Qumulo/tests/QumuloManagementTestBase.cs
  sdk/qumulo/Azure.ResourceManager.Qumulo/tests/QumuloManagementTestEnvironment.cs
  sdk/qumulo/ci.mgmt.yml
  sdk/resourcemanager/ci.mgmt.yml
Labels: customer-reported, Community Contribution

#35372 Sync eng/common directory with azure-sdk-tools for PR 5918
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#35374 Minor clean up
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/HttpPipelineHelper.cs
Labels: Monitor - Exporter

#35364 [App Configuration] Update snapshot API
  sdk/appconfiguration/Azure.Data.AppConfiguration/TROUBLESHOOTING.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SettingSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationMockTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample11_SettingsSnapshot.cs
Labels: App Configuration

#35287 [AzureMonitorExporter] introduce platform abstraction
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/PersistentStorage/StorageHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/DefaultPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/IPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/AzureMonitorStatsbeat.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitterFactory.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/MockPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StatsbeatTests.cs
Labels: Monitor - Exporter

#35378 Sync eng/common directory with azure-sdk-tools for PR 5924
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#35309 ExcludeWorkloadIdentityCredential also excludes TokenExchangeManagedIdentitySource
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClientOptions.cs
  sdk/identity/Azure.Identity/src/TokenExchangeManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
Labels: Azure.Identity

#35369 [Event Hubs Trigger] MinBatch WaitTime Adjustments
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.PartitionProcessor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/CheckpointInfo.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHost.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Processor/EventProcessorHostPartition.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
Labels: Event Hubs, Client, Functions

#35337 test cleanup
  sdk/storage/Azure.Storage.Common/tests/PartitionedUploaderTests.cs
Labels: Storage

#35375 Remove `SlicedStream`
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PooledMemoryStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/SlicedStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageWriteStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/WindowStream.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/PooledMemoryStreamTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#35341 [AzureMonitorExporter] fix net7 nullables
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/MetricsData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/StackFrame.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionStringParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ExceptionExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/HttpPipelineHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/IngestionRedirectPolicy.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/AzureMonitorStatsbeat.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmissionStateManager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitterFactory.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ConnectionString/ConnectionStringParser_BuildUriTests.cs
Labels: Monitor - Exporter

#35387 [AzureMonitorDistro] Rename WithAzureMonitor to UseAzureMonitor
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/api/Azure.Monitor.OpenTelemetry.AspNetCore.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Demo/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureMonitorDistroTests.cs
Labels: Monitor - Distro

#35391 Add public Delay and RetryPolicy types
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/Delay.cs
  sdk/core/Azure.Core/src/ExponentialDelay.cs
  sdk/core/Azure.Core/src/FixedDelay.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/DefaultRetryPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/ResponseHeaders.cs
  sdk/core/Azure.Core/tests/AzureSasCredentialSynchronousPolicyTests.cs
  sdk/core/Azure.Core/tests/FixedRetryPolicyTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineTests.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/samples/ConfigurationSamples.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
Labels: Azure.Core

#35336 PartitionedUploader oneshot calculates checksum upfront
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ContentHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/HashAlgorithmHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/IHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/NonCryptographicHashAlgorithmHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakePartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#35407 Azure Monitor OTel update changelog for release
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#35409 [Text Translation] Updating links in MD files
  sdk/translation/Azure.AI.Translation.Text/README.md
  sdk/translation/Azure.AI.Translation.Text/samples/README.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample0_CreateClient.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample1_GetLanguages.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample2_Translate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample3_Transliterate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample4_BreakSentence.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample5_DictionaryLookup.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample6_DictionaryExamples.md
Labels: Cognitive - Translator

#35410 Remove GetNextDelay from RetryPolicy
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
Labels: Azure.Core

#35366 Microsoft.GraphServices update README
  sdk/graphservices/Azure.ResourceManager.GraphServices/README.md
Labels: customer-reported, Community Contribution

#35148 [DataFactory]Added support customProperties in IntegrationRuntimeDataFlow
  eng/mgmt/mgmtmetadata/datafactory_resource-manager.txt
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/CHANGELOG.md
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/IntegrationRuntimeDataFlowProperties.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Generated/Models/IntegrationRuntimeDataFlowPropertiesCustomPropertiesItem.cs
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Microsoft.Azure.Management.DataFactory.csproj
  sdk/datafactory/Microsoft.Azure.Management.DataFactory/src/Properties/AssemblyInfo.cs
Labels: customer-reported, Community Contribution

#35316 [Text Analytics] Mitigate transient test failures due to "Invalid Task Type" internal server error
  sdk/core/Azure.Core.TestFramework/tests/RetryOnErrorAttributeTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/RetryOnInternalServerErrorAttribute.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RetryOnInternalServerErrorAttributeTests.cs
Labels: Azure.Core, Cognitive - Text Analytics

#35434 Rename to DelayStrategy
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/ZeroPollingStrategy.cs
  sdk/core/Azure.Core.TestFramework/src/Shared/MockOperation.cs
  sdk/core/Azure.Core.TestFramework/src/Shared/MockOperationInternal.cs
  sdk/core/Azure.Core.TestFramework/src/Shared/MockOperationInternalOfT.cs
  sdk/core/Azure.Core.TestFramework/src/Shared/MockOperationOfT.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/DelayStrategy.cs
  sdk/core/Azure.Core/src/ExponentialDelayStrategyInternal.cs
  sdk/core/Azure.Core/src/FixedDelayStrategy.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/Shared/ConstantDelayStrategy.cs
  sdk/core/Azure.Core/src/Shared/DelayStrategyInternal.cs
  sdk/core/Azure.Core/src/Shared/ExponentialDelayStrategy.cs
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalBase.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalOfT.cs
  sdk/core/Azure.Core/src/Shared/OperationPoller.cs
  sdk/core/Azure.Core/src/Shared/RetryAfterDelayStrategy.cs
  sdk/core/Azure.Core/tests/AzureSasCredentialSynchronousPolicyTests.cs
  sdk/core/Azure.Core/tests/OperationInternalOfTTests.cs
  sdk/core/Azure.Core/tests/OperationInternalTests.cs
  sdk/core/Azure.Core/tests/OperationPollerTests.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/TestClients/MockDelayStrategy.cs
  sdk/core/Azure.Core/tests/TestClients/MockOperationOfInt.cs
  sdk/core/Azure.Core/tests/samples/ConfigurationSamples.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
  sdk/keyvault/samples/sharelink/ShareLink.csproj
  sdk/maps/Azure.Maps.Geolocation/src/Azure.Maps.Geolocation.csproj
  sdk/maps/Azure.Maps.Rendering/src/Azure.Maps.Rendering.csproj
  sdk/maps/Azure.Maps.Routing/src/Azure.Maps.Routing.csproj
  sdk/maps/Azure.Maps.Search/src/Azure.Maps.Search.csproj
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Azure.Core

#35433 [Messaging] README Updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/ApiCompatBaseline.txt
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus, Event Hubs, Client, Docs

#35451 Move event processor config from .github/workflows into .github
  .github/event-processor.config
  .github/fabricbot.backup
Labels: Central-EngSys

#35458 Updated changelog for Storage WebJobs Extension
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#35446 Prepare for release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#35462 [Event Hubs] April Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#35461 Prepare for release
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
Labels: Azure.Core

#35362 [FormRecognizer] Fixing live tests configuration
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentClassifierAdministrationLiveTests.cs
  sdk/formrecognizer/test-resources.json
Labels: Client, Cognitive - Form Recognizer

#35463 Bump core dependency
  eng/Packages.Data.props
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#35324 [FormRecognizer] Disabling model factory generation
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/FormRecognizerModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
Labels: Client, Cognitive - Form Recognizer

#35489 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#35492 disabled flakey test
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/BlobReciptManagerTests.cs
Labels: Storage

#35459 [Contributing] Fork and Action notifications
  CONTRIBUTING.md
Labels: Client, Docs

#35453 [Text Analytics] Implement `IsEnvironmentReadyAsync`
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/RetryOnInternalServerErrorAttribute.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsTestEnvironment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RetryOnInternalServerErrorAttributeTests.cs
Labels: Cognitive - Text Analytics

#35440 Place arguments from the token provider file first.
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Identity, customer-reported, Community Contribution

#35496 update CodeOwners for AzureMonitorExporter and AzureMonitorDistro
  .github/CODEOWNERS
Labels: Monitor - Exporter, Monitor - Distro

#35441 Adding detailed failure event handler for DataMovement Tests and fixed Cancellation Exception event being raised unnecessarily
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/CommitChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/DownloadChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/FailureTrackingTransfer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/FailureTransferHolder.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferAsyncCopyDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferAsyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#35478 Sync eng/common directory with azure-sdk-tools for PR 5951
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#35479 [FormRecognizer] 4.1.0-beta.1: adding support for miscellaneous features
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AddressValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentFieldValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentStyle.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/AddressValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentStyle.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FontStyle.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/FontWeight.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/GeneratorStubs/InternalTypes.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentClassifierLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/DocumentFieldTests.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#35438 [AzureMonitorExporter] add platform tests for StorageHelper
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/PersistentStorage/StorageHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/DefaultPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/IPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/MockPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StorageHelperTests.cs
Labels: Monitor - Exporter

#35528 [AzureMonitorExporter] add platform tests for Transmitter
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzureMonitorTransmitterTests.cs
Labels: Monitor - Exporter

#35075 Fix recognize complete event construction through two new events
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeChoiceCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeDtmfCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#35460 TransferValidation Improvements: OpenWrite
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobWriteStream.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobWriteStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ContentHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.Common/src/Shared/HashAlgorithmHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/IHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/IHasherExtensions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/NonCryptographicHashAlgorithmHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageWriteStream.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/StorageWriteStreamTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileWriteStream.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileWriteStream.cs
Labels: Storage

#35556 [FormRecognizer] 4.1.0-beta.1: added query fields suppport and misc properties
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/README.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/api/Azure.AI.FormRecognizer.netstandard2.0.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/AnalyzeDocumentOptions.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/BoundingRegion.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/CurrencyValue.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnnotation.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentBarcode.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentFormula.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentImage.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentLine.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelSummary.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentSelectionMark.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentWord.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClient/FormRecognizerClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentKeyValuePair.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentModelDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/DocumentModelSummary.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/QuotaDetails.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/QuotaDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/GeneratorStubs/InternalTypes.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Internal/ClientCommon.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/QuotaDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/ResourceDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/ClientCommonTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientMockTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisLiveTestBase.cs
Labels: Client, Cognitive - Form Recognizer

#35527 Fixes to Cleanup after pausing/failure; Added test coverage for Single Download and Copy; Fix cancellation on completion status
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartFailureType.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlanExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataTransfer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataTransferState.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DataTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToAppendBlob_ExpectedError.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToAppendBlob_ExpectedErrorAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToPageBlob_ExpectedError.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferAsyncCopyTests/BlockBlobToPageBlob_ExpectedErrorAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferSyncCopyTests/AppendBlobToAppendBlob_Error.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferSyncCopyTests/AppendBlobToAppendBlob_ErrorAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferSyncCopyTests/PageBlobToPageBlob_Error.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferSyncCopyTests/PageBlobToPageBlob_ErrorAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
Labels: Storage

#35562 Add new storage system events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskCompletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskCompletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskCompletedStatus.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskQueuedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskQueuedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#35563 Increment version for formrecognizer releases
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj
Labels: Cognitive - Form Recognizer

#35530 Fixed DataTransfer.HasCompleted return value per status value and DataTransfer test coverage
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataTransferState.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DataTransferTests.cs
Labels: Storage

#35579 Update AutoRest C# version to 3.0.0-beta.20230413.1
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/openai/Azure.AI.OpenAI/src/Generated/CompletionsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/CompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingsOptions.Serialization.cs
Labels: Open AI

#35500 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#35566 Fix TableClient.Uri Property when Targeting Azurite
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
Labels: customer-reported, Tables, Community Contribution

#35588 Fix extra files paths in KV's ShareLink sample
  sdk/keyvault/samples/sharelink/README.md
Labels: KeyVault

#35534 Add pause and resume samples
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/README.md
Labels: Storage

#35589 [Storage] [DataMovement] Add/update various docstrings
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/ContainerTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/SingleTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/TransferCheckpointerOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/ErrorHandlingOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManagerOptions.cs
Labels: Storage

#35590 [AzureMonitorDistro] new project for integration tests
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/Azure.Monitor.OpenTelemetry.AspNetCore.sln
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Class1.cs
Labels: Monitor - Distro

#35609 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#35569 [AzureMonitorDistro] Update Readme with advanced configuration
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
Labels: Monitor - Distro

#35616 add ssml and continuous speech recognition
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallMediaRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallMediaRecognitionType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionStopped.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DtmfResult.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DtmfResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ParticipantsUpdatedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ParticipantsUpdatedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlaySourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeCompletedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeCompletedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeInputType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecognizeOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SendDtmfRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SpeechOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SpeechOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SpeechResult.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SpeechResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SsmlSourceInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SsmlSourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ToneInfo.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ToneInfo.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeSpeechOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/DtmfResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/SpeechResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SpeechOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SsmlSource.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SsmlSourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
Labels: Communication

#35618 [Text Translation] Updating samples
  sdk/translation/Azure.AI.Translation.Text/README.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample2_Translate.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample4_BreakSentence.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample5_DictionaryLookup.md
  sdk/translation/Azure.AI.Translation.Text/samples/Sample6_DictionaryExamples.md
Labels: Cognitive - Translator

#35624 update the spec commit of existing typespec project
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tsp-location.yaml
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tsp-location.yaml
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tsp-location.yaml
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: Open AI

#35622 [AzureMonitorExporter] Rename/Refactor TagEnumerationState
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RequestData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ActivityTagsProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/StandardMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Benchmarks/TagObjectsBenchmarks.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RequestDataTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/SampleRateTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TagsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TraceHelperTests.cs
Labels: Monitor - Exporter

#35615 Disable BackupAndRestoreMultiPartFolderName test
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/FullBackupClientLiveTests.cs
Labels: KeyVault

#35621 Include shared delay strategies
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Shared/FixedDelayWithNoJitterStrategy.cs
  sdk/core/Azure.Core/src/Shared/SequentialDelayStrategy.cs
Labels: Azure.Core

#35625 SB plugin sample fix
  sdk/servicebus/Azure.Messaging.ServiceBus/Azure.Messaging.ServiceBus.sln
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/PluginSample/PluginProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/PluginSample/PluginReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/PluginSample/PluginSample.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/PluginSample/PluginSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/PluginSample/PluginSessionProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/PluginSample/PluginSessionReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/PluginSample/ServiceBusClientExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample09_Extensibility.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Azure.Messaging.ServiceBus.Tests.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample09_Extensibility.cs
Labels: Service Bus

#35637 Transfer Validation Improvements: Partitioned Upload
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedUploaderTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ContentHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/HashAlgorithmHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/IHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/NonCryptographicHashAlgorithmHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StreamExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/ContentHasherTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#35531 [Storage][DataMovement] Change some types in JobPartPlanFile and fix parsing issues
  sdk/storage/Azure.Storage.DataMovement/src/JobPlanExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/JobPlan/JobPartPlanDestinationBlob.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/JobPlan/JobPartPlanDestinationLocal.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/JobPlan/JobPartPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPartPlanHeaderTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Resources/SampleJobPartPlanFile.steVb1
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/DataMovementTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/DataMovementTestExtensions.cs
Labels: Storage

#35641 [Messaging] Remove AMQP creation timeout cap
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpProducer.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
Labels: Service Bus, Event Hubs, Client

#35620 Sync eng/common directory with azure-sdk-tools for PR 5991
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#35610 [Storage] [DataMovement] Combine Single/ContainerTransferOptions into one
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/SingleTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Models/TransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageTransferStatus.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/tests/FailureTransferHolder.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferAsyncCopyDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferAsyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#35646 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Text/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Text/src/Azure.AI.Translation.Text.csproj
Labels: Cognitive - Translator

#35642 More shared source updates
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/ZeroPollingStrategy.cs
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalBase.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalOfT.cs
  sdk/core/Azure.Core/src/Shared/OperationPoller.cs
  sdk/core/Azure.Core/tests/OperationInternalOfTTests.cs
  sdk/core/Azure.Core/tests/OperationInternalTests.cs
  sdk/core/Azure.Core/tests/OperationPollerTests.cs
  sdk/core/Azure.Core/tests/TestClients/MockDelayStrategy.cs
  sdk/maps/Azure.Maps.Geolocation/src/Azure.Maps.Geolocation.csproj
  sdk/maps/Azure.Maps.Rendering/src/Azure.Maps.Rendering.csproj
  sdk/maps/Azure.Maps.Routing/src/Azure.Maps.Routing.csproj
  sdk/maps/Azure.Maps.Search/src/Azure.Maps.Search.csproj
Labels: Azure.Core

#35645 [AzureMonitorExporter] Add Az.Namespace to Dependency Type.
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonListExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataTests.cs
Labels: Monitor - Exporter

#35586 [Text Analytics] Use `TextAnalyticsAudience` in tests
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AbstractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsClientLiveTestBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsSampleBase.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/TextAnalyticsTestEnvironment.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MultiLabelClassifyTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeCustomEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AnalyzeOperationAbstractSummary.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AbstractSummaryTests/AnalyzeOperationAbstractSummaryAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAbstractSummary.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationAbstractSummaryAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationExtractSummary.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeOperationTests/AnalyzeOperationExtractSummaryAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/AnalyzeOperationExtractSummary.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/AnalyzeOperationExtractSummaryAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SingleLabelClassifyTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_MultiLabelClassify.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_MultiLabelClassifyAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_MultiLabelClassifyConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample10_MultiLabelClassifyConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample12_AbstractSummary.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample12_AbstractSummaryAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample12_AbstractSummaryConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample12_AbstractSummaryConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_RecognizeCustomEntities.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_RecognizeCustomEntitiesAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_RecognizeCustomEntitiesConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample8_RecognizeCustomEntitiesConvenienceAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_SingleLabelClassify.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_SingleLabelClassifyAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_SingleLabelClassifyConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample9_SingleLabelClassifyConvenienceAsync.cs
  sdk/textanalytics/tests.yml
Labels: Cognitive - Text Analytics

#35612 [AzureMonitorDistro] migrate integration tests from Exporter
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/AzureMonitorTraceExporterLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Class1.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/MonitorExporterTestEnvironment.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/AzureMonitorTraceExporterLiveTests/VerifyTraceExporter.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/AzureMonitorTraceExporterLiveTests/VerifyTraceExporterAsync.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/Azure.Monitor.OpenTelemetry.Exporter.sln
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/Azure.Monitor.OpenTelemetry.Exporter.E2E.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/Properties/AssemblyInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/E2E.Tests/xunit.runner.json
Labels: Monitor - Exporter, Monitor - Distro

#35631 update the commit of translate project
  sdk/translation/Azure.AI.Translation.Text/tsp-location.yaml
Labels: Cognitive - Translator

#35626 Sync eng/common directory with azure-sdk-tools for PR 5995
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#34738 Add test for VMSS Reapply
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHost.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/PriorityMixPolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/RollingUpgradePolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetsReapplyHeaders.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/tests/SessionRecords/VMScaleSetOperationalTests/TestVMScaleSetOperations_Reapply.json
  sdk/compute/Microsoft.Azure.Management.Compute/tests/VMScaleSetTests/VMScaleSetOperationalTests.cs
Labels: Compute

#34938 Add VM property (#34842)
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LinuxVMGuestPatchAutomaticByPlatformSettings.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/WindowsVMGuestPatchAutomaticByPlatformSettings.cs
Labels: Compute

#35016 Remove <br> syntax from most CRP swagger descriptions
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/IVirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AutomaticOSUpgradePolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AvailabilitySet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/AvailabilitySetUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/BillingProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/BootDiagnostics.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/BootDiagnosticsInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CapacityReservation.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CapacityReservationGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CapacityReservationUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/CapacityReservationUtilization.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DataDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHost.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroupPropertiesAdditionalCapabilities.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostGroupUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DedicatedHostUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiagnosticsProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiffDiskSettings.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskEncryptionSetParameters.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/HardwareProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageDataDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ImageOSDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LinuxConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSProfileProvisioningData.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/PriorityMixPolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/ProximityPlacementGroup.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SecurityProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SpotRestorePolicy.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SshPublicKey.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/StorageProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/UefiSettings.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VMDiskSecurityProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VMSizeProperties.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VaultCertificate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachine.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSet.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetDataDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetExtensionProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetHardwareProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetOSDisk.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetOSProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetStorageProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateVMProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVM.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMInstanceView.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/WinRMListener.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/WindowsConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachineScaleSetVMsOperationsExtensions.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperations.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/VirtualMachinesOperationsExtensions.cs
Labels: Compute

#35654 Improve DelayStrategy sample
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/tests/samples/ConfigurationSamples.cs
Labels: Azure.Core

#35664 [AzureMonitorExporter] update opentelemetry persistentstorage library dependency
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/HttpPipelineHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/PersistentStorage/PersistentStorageExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitFromStorageHandler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/OfflineStorageTests.cs
Labels: Monitor - Exporter

#35605 Standardize exceptions thrown from DynamicData
  eng/Packages.Data.props
  sdk/core/Azure.Core.Experimental/src/DynamicData.Operators.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.cs
  sdk/core/Azure.Core.Experimental/src/MutableJsonDocument.cs
  sdk/core/Azure.Core.Experimental/tests/DynamicJsonEnumerableTests.cs
  sdk/core/Azure.Core.Experimental/tests/DynamicJsonTests.cs
  sdk/core/Azure.Core.Experimental/tests/JsonDataTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataArrayTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataLeafTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataObjectTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataPublicTests.cs
Labels: Azure.Core

#35682 Sync eng/common directory with azure-sdk-tools for PR 6004
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#35702 [AzureMonitorExporter] fix flaky test
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzureMonitorTraceExporterTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzureMonitorTransmitterTests.cs
Labels: Monitor - Exporter

#35704 [App Configuration] Updates in snapshot API
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientOptions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotUpdateParameters.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SnapshotUpdateParameters.cs
Labels: App Configuration

#35700 Sync eng/common directory with azure-sdk-tools for PR 5911
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#35705 fix speechOrDtmf option recognition
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeChoiceOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeSpeechOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeSpeechOrDtmfOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CollectTonesResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeDtmfCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
Labels: Communication

#35699 [Storage] [DataMovement] Changed target versions to include net standard 2.1 and net 6.0
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#35734 Update AutoRest C# version to 3.0.0-beta.20230421.1
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowCreateOrUpdateDataFlowOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowDebugSessionCreateDataFlowDebugSessionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowDebugSessionExecuteCommandOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowDeleteDataFlowOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DataFlowRenameDataFlowOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DatasetCreateOrUpdateDatasetOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DatasetDeleteDatasetOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/DatasetRenameDatasetOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/KqlScriptCreateOrUpdateOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/KqlScriptDeleteByNameOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/KqlScriptRenameOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryCreateOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryDeleteOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LibraryFlushOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LinkedServiceCreateOrUpdateLinkedServiceOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LinkedServiceDeleteLinkedServiceOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/LinkedServiceRenameLinkedServiceOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/NotebookCreateOrUpdateNotebookOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/NotebookDeleteNotebookOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/NotebookRenameNotebookOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/PipelineCreateOrUpdatePipelineOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/PipelineDeletePipelineOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/PipelineRenamePipelineOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkConfigurationCreateOrUpdateSparkConfigurationOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkConfigurationDeleteSparkConfigurationOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkConfigurationRenameSparkConfigurationOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionCreateOrUpdateSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionDebugSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionDeleteSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionExecuteSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SparkJobDefinitionRenameSparkJobDefinitionOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SqlScriptCreateOrUpdateSqlScriptOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SqlScriptDeleteSqlScriptOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/SqlScriptRenameSqlScriptOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerCreateOrUpdateTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerDeleteTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerStartTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerStopTriggerOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerSubscribeTriggerToEventsOperation.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/TriggerUnsubscribeTriggerFromEventsOperation.cs
Labels: Synapse

#35675 [FormRecognizer] Cleaning up clients and tests
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentAnalysisClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/DocumentModelAdministrationClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormTrainingClient/FormTrainingClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentClassifierLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/AdministrationOperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentClassifierAdministrationLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableBuildModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableDocumentClassifier.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DisposableDocumentModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/DocumentAnalysisLiveTestBase.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#35737 fix default end silence timeout and collectonresult
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeSpeechOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeSpeechOrDtmfOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RecognizeResultType.cs
Labels: Communication

#35741 Update serializer
  sdk/core/Azure.Core/tests/ModelSerializationTests/SerializableTests.cs
Labels: Azure.Core

#35712 [Text Analytics] Add links to GitHub issues for tracking
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/Infrastructure/RetryOnInternalServerErrorAttribute.cs
Labels: Cognitive - Text Analytics

#35748 Update event processor version and remove the sparse-checkout
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#35744 Bug fix and small perf improvement to MJD WriteTo()
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/MutableJsonDocument.cs
  sdk/core/Azure.Core.Experimental/src/MutableJsonElement.WriteTo.cs
  sdk/core/Azure.Core.Experimental/tests/MutableJsonDocumentWriteToTests.cs
Labels: Azure.Core

#35733 Add Equals to DynamicData
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.Operators.cs
  sdk/core/Azure.Core.Experimental/src/DynamicData.cs
  sdk/core/Azure.Core.Experimental/src/MutableJsonElement.cs
  sdk/core/Azure.Core.Experimental/tests/DynamicJsonEnumerableTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataArrayTests.cs
  sdk/core/Azure.Core.Experimental/tests/public/JsonDataPublicTests.cs
Labels: Azure.Core

#35382 Adding BlobContainerClient data movement extensions
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobContainerClientExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobContainerClientTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/tests/BlobContainerClientExtensionsTests.cs
Labels: Storage

#35784 Update AutoRest C# version to 3.0.0-beta.20230424.4
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyState.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyValue.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/CorrelationChanges.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/DiagnosticsInfo.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/ModelInfo.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/ModelState.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/MultivariateBatchDetectionResultSummary.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/MultivariateDetectionResult.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/MultivariateLastDetectionOptions.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/MultivariateLastDetectionResult.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/TimeSeriesPoint.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/UnivariateChangePointDetectionOptions.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/UnivariateChangePointDetectionResult.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/UnivariateDetectionOptions.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/UnivariateEntireDetectionResult.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/VariableValues.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypeData.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypeInference.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypeModelConfiguration.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypePatientResult.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypeResult.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypeResults.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/PatientDocument.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/PatientInfo.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/PatientRecord.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/AcceptedAgeRange.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/AreaGeometry.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalTrialDemographics.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalTrialDetails.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalTrialMetadata.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalTrialRegistryFilter.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalTrials.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/GeographicLocation.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/PatientDocument.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/PatientInfo.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/PatientRecord.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherData.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherInference.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherModelConfiguration.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherPatientResult.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherResult.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherResults.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/Completions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/CompletionsLogProbability.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingItem.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/Embeddings.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/BreakSentenceItem.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/DictionaryExampleItem.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/DictionaryLookupItem.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/DictionaryTranslation.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/SentenceLength.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/SourceDictionaryLanguage.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/TranslatedTextItem.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/TransliterableScript.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/TransliterationLanguage.cs
Labels: Cognitive - Translator, Open AI

#35724 Use overload for convenience method and protocol method
  eng/Packages.Data.props
  eng/emitter-package.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/api/Azure.AI.AnomalyDetector.netstandard2.0.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/samples/Sample4_MultivariateDetect.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyDetectorClient.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Docs/AnomalyDetectorClient.xml
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/GlobalSuppressions.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/samples/Sample4_MultivariateDetect.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/Docs/TextTranslationClient.xml
Labels: Do Not Merge, Cognitive - Translator

#35661 Implement arch board feedback
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/samples/TokenCache.md
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientAssertionCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/ISupportsDisableInstanceDiscovery.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/WorkloadIdentityCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/MsalClientBase.cs
  sdk/identity/Azure.Identity/tests/AuthorizationCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientAssertionCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialFactoryTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredentialTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_ClientCertificateTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_ClientSecretTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_UserNamePasswordTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/OnBehalfOfCredentialTests.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
  sdk/identity/Azure.Identity/tests/TokenCredentialOptionsTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
Labels: Azure.Identity

#35815 Sync eng/common directory with azure-sdk-tools for PR 6045
  eng/common/scripts/Verify-RequiredDocsJsonMembers.ps1
Labels: EngSys, Central-EngSys

#35824 Arch board comments
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileHandleAccessRights.cs
Labels: Storage

#35838 [Event Hubs] Fix management README
  sdk/eventhub/Azure.ResourceManager.EventHubs/README.md
Labels: Event Hubs, Mgmt, Docs

#35805 Updated DataMovement Blobs ChangeLog to include extension methods
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
Labels: Storage

#35766 [DataMovement] [Storage] Add verification for matching Source, Destination and CreateMode when Resuming
  sdk/storage/Azure.Storage.DataMovement/src/JobPlanExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/Errors.DataMovement.cs
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerMismatch_CreateMode_Overwrite.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerMismatch_CreateMode_OverwriteAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerMismatch_Destination.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerMismatch_DestinationAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerMismatch_Source.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerMismatch_SourceAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerWithSasAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/SessionRecords/StartTransferCheckpointerTests/CheckpointerWithSasAsyncAsync.json
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferCheckpointerTests.cs
Labels: Storage

#35810 [FormRecognizer] Updating ExpiresOn validation due to service bug
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/AdministrationOperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#35731 Partitioned download checksumming
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ContentHasher.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
Labels: Storage

#35839 partitioned upload calculates master crc and compares to composed crc
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.Common/src/Shared/PartitionedUploader.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageCrc64Calculator.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageCrc64Composer.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#35385 [Azure.Monitor.Query] Add QueryResource
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/QueryRestClient.cs
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/autorest.md
  sdk/monitor/Azure.Monitor.Query/tests.yml
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientSamples.cs
  sdk/monitor/Azure.Monitor.Query/tests/MonitorQueryTestEnvironment.cs
  sdk/monitor/test-resources.bicep
Labels: Client, Monitor - Query

#35849 Prepare for DataMovement Release Preview 2
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
Labels: Storage

#35371 Diagnostic Scope improvements
  eng/Packages.Data.props
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/storage/Azure.Storage.Common/tests/PartitionedUploaderTests.cs
Labels: Azure.Core

#35777 Move DynamicData into Azure.Core package
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Azure.AI.Language.Conversations.Tests.csproj
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/ConversationAnalysisClientLiveTests.cs
  sdk/cognitivelanguage/Azure.AI.Language.sln
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/BinaryDataExtensions.cs
  sdk/core/Azure.Core.Experimental/tests/perf/Azure.Core.Experimental.Perf.Benchmarks.csproj
  sdk/core/Azure.Core.Experimental/tests/perf/DynamicReadingBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/perf/FirstReadBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/perf/MutableJsonDataBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/perf/ParseAndReadLargePayloadBenchmark.cs
  sdk/core/Azure.Core.Experimental/tests/perf/ReadLargePayloadBenchmark.cs
  sdk/core/Azure.Core/Azure.Core.sln
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.ArrayEnumerator.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.DynamicMetaObject.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.ObjectEnumerator.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.Operators.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicDataNameMapping.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicDataOptions.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicDataProperty.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonChange.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonDocument.ChangeTracker.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonDocument.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.ArrayEnumerator.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.ObjectEnumerator.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.WriteTo.cs
  sdk/core/Azure.Core/src/DynamicData/MutableJsonElement.cs
  sdk/core/Azure.Core/src/Serialization/AzureCoreExtensions.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/DynamicData/DynamicJsonEnumerableTests.cs
  sdk/core/Azure.Core/tests/DynamicData/DynamicJsonTests.cs
  sdk/core/Azure.Core/tests/DynamicData/JsonDataDynamicMutableTests.cs
  sdk/core/Azure.Core/tests/DynamicData/JsonDataTests.cs
  sdk/core/Azure.Core/tests/DynamicData/MutableJsonDocumentTests.cs
  sdk/core/Azure.Core/tests/DynamicData/MutableJsonDocumentWriteToTests.cs
  sdk/core/Azure.Core/tests/DynamicData/MutableJsonElementTests.cs
  sdk/core/Azure.Core/tests/public/Azure.Core.Tests.Public.csproj
  sdk/core/Azure.Core/tests/public/JsonDataArrayTests.cs
  sdk/core/Azure.Core/tests/public/JsonDataLeafTests.cs
  sdk/core/Azure.Core/tests/public/JsonDataObjectTests.cs
  sdk/core/Azure.Core/tests/public/JsonDataPublicMutableTests.cs
  sdk/core/Azure.Core/tests/public/JsonDataPublicTests.cs
  sdk/core/Azure.Core/tests/public/JsonDataTestHelpers.cs
Labels: Azure.Core

#35770 Run MHSM tests weekly, disable attestation in Canary
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/KeyVaultTestEnvironment.cs
  sdk/keyvault/platform-matrix.json
  sdk/keyvault/test-resources.json
  sdk/keyvault/tests.yml
Labels: KeyVault

#35854 Fix classification policy cannot delete selectors + cleanup
  sdk/communication/Azure.Communication.JobRouter/src/Models/UpdateClassificationPolicyOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/RouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Infrastructure/RouterLiveTestBase.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/ClassificationPolicyLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/DistributionPolicyLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/ExceptionPolicyLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/JobQueueLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/RouterJobLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/RouterWorkerLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateClassificationPolicyTest.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateClassificationPolicyTestAsync.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateEmptyClassificationPolicyTest.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateEmptyClassificationPolicyTestAsync.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreatePrioritizationClassificationPolicyTest.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreatePrioritizationClassificationPolicyTestAsync.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateQueueSelectionClassificationPolicyTest.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateQueueSelectionClassificationPolicyTestAsync.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateWorkerRequirementsClassificationPolicyTest.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ClassificationPolicyLiveTests/CreateWorkerRequirementsClassificationPolicyTestAsync.json
Labels: Communication

#35853 Adding Azure.Storage.Common to Package Dependencies and changing DMLib to use package dependencies
  eng/Packages.Data.props
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#35867 implement ManagedIdentityRequestFailedDetailsParser
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityRequestFailedDetailsParser.cs
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
Labels: Azure.Identity

#35852 Add RequestContent.Create() overload for DynamicData
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/RequestContent.cs
  sdk/core/Azure.Core/tests/HttpPipelineRequestContentTests.cs
Labels: Azure.Core

#35873 Increment version for storage releases
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#35876 Fix Key Vault's ShareLink sample
  sdk/keyvault/samples/sharelink/README.md
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: KeyVault

#35875 Add task to verify json files contain required members after ToC generation
  eng/pipelines/docindex.yml
Labels: Docs

#35882 Add CertificateProperties.X509ThumbprintString
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample2_GetCertificates.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Extensions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatePropertiesTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample2_GetCertificates.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/samples/Sample2_GetCertificatesAsync.cs
Labels: KeyVault

#35825 Storage WebJob Extensions patch release prep
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#35889 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#35885 Remove CA1825 suppression
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSetting.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/CryptographyClientTests.cs
Labels: KeyVault

#35883 [FormRecognizer] Fixing test issues
  sdk/formrecognizer/Azure.AI.FormRecognizer/CHANGELOG.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/ServiceResourceDetails.Serialization.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/ServiceResourceDetails.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisModels/OperationsLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#35850 [Azure.Monitor.Query] add Parse ResourceIdentifier check
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientClientLiveTests.cs
Labels: Monitor - Query

#35782 [AzureMonitorDistro] Integration Tests for Distro
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/AzureMonitorTestEnvironment.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/AzureMonitorTraceExporterLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/LogsQueryClientExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistro.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistroAsync.json
Labels: Monitor - Distro
