Repository Azure/azure-sdk-for-net, pull requests merged in 2023-11, with the labels that each got.

#38373 [AzureMonitorExporter] add support for LiveMetrics to the ConnectionString Parser
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionStringParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionVars.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/Constants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ConnectionString/ConnectionStringParserTests.cs
Labels: Monitor - Exporter

#39515 Sync eng/common directory with azure-sdk-tools for PR 7193
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#39664 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: Synapse

#39649 Increment version for devcenter releases
  sdk/devcenter/Azure.Developer.DevCenter/CHANGELOG.md
  sdk/devcenter/Azure.Developer.DevCenter/src/Azure.Developer.DevCenter.csproj
Labels: DevCenter

#39673 [Event Hubs] Processor Changelog
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
Labels: Event Hubs, Client

#39663 [AzureMonitorExporter] Collect AKS attach rate numerator
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/EnvironmentVariableConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/AzureMonitorStatsbeat.cs
Labels: Monitor - Exporter

#39650 Fix mocking of session processor
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorTests.cs
Labels: Service Bus

#39530 [Storage] [DataMovement] Service Copy File Share
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceContainerInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/tests/BlobStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalDirectoryStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#39681 Update Sample14_AMQPMessage.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample14_AMQPMessage.md
Labels: Service Bus, customer-reported, Community Contribution

#39651 ClientModel API Updates from BCL feedback
  sdk/core/System.Net.ClientModel/README.md
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.net6.0.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.netstandard2.0.cs
  sdk/core/System.Net.ClientModel/src/KeyCredential.cs
  sdk/core/System.Net.ClientModel/src/Message/ClientMessage.cs
  sdk/core/System.Net.ClientModel/src/Message/HttpMessageRequest.cs
  sdk/core/System.Net.ClientModel/src/Message/MessageBody.cs
  sdk/core/System.Net.ClientModel/src/Options/MessageClassifier.cs
  sdk/core/System.Net.ClientModel/src/Options/PipelineOptions.cs
  sdk/core/System.Net.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/KeyCredentialAuthenticationPolicy.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/MessagePipeline.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.Net.ClientModel/tests/ModelReaderWriter/Models/DogListProperty.cs
  sdk/core/System.Net.ClientModel/tests/client/MapsClient/IPAddressCountryPair.cs
  sdk/core/System.Net.ClientModel/tests/client/MapsClientTests.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/Choice.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/Completions.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsLogProbabilityModel.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsUsage.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/ContentFilterResult.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/ContentFilterResults.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/PromptFilterResult.Serialization.cs
Labels: Azure.Core

#39680 [AzureMonitorExporter] Fix statsbeat AKS attach rate numerator
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/EnvironmentVariableConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/AzureMonitorStatsbeat.cs
Labels: Monitor - Exporter

#39679 [Azure OpenAI] Change representation of embeddings from IReadOnlyList<float> to ReadOnlyMemory<float>
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/EmbeddingItem.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingItem.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingItem.cs
  sdk/openai/Azure.AI.OpenAI/tests/OpenAIInferenceTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample06_ImageGenerations.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample09_TranscribeAudio.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample10_TranslateAudio.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample11_Embeddings.cs
Labels: OpenAI

#39683 ClientModel: NullableResult<T> and Result<T> experiment
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.net6.0.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.netstandard2.0.cs
  sdk/core/System.Net.ClientModel/src/Experimental/PipelineProtocolExtensions.cs
  sdk/core/System.Net.ClientModel/src/NullableResultOfT.cs
  sdk/core/System.Net.ClientModel/src/Result.cs
  sdk/core/System.Net.ClientModel/src/ResultOfT.cs
Labels: Azure.Core

#39687 Revert "ClientModel: NullableResult<T> and Result<T> experiment"
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.net6.0.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.netstandard2.0.cs
  sdk/core/System.Net.ClientModel/src/Experimental/PipelineProtocolExtensions.cs
  sdk/core/System.Net.ClientModel/src/NullableResultOfT.cs
  sdk/core/System.Net.ClientModel/src/Result.cs
  sdk/core/System.Net.ClientModel/src/ResultOfT.cs
Labels: Azure.Core

#39655 Azure OpenAI: rename and move "deploymentOrModelName"
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Custom.Suppressions/OpenAIClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AudioTranscriptionOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AudioTranscriptionOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AudioTranslationOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AudioTranslationOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletionsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Choice.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/CompletionsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/CompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/EmbeddingsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ImageGenerationOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/OpenAIClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranscriptionOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranscriptionOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranslationOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranslationOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/CompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingsOptions.cs
  sdk/openai/Azure.AI.OpenAI/tests/AudioTranscriptionTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/AudioTranslationTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/AzureChatExtensionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatFunctionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/OpenAIInferenceTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample01_Chatbot.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample02_ChatbotWithKey.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample03_SummarizeText.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample04_StreamingChat.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample05_AzureOrNot.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample07_ChatFunctions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample08_UseYourOwnData.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample09_TranscribeAudio.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample10_TranslateAudio.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample11_Embeddings.cs
Labels: OpenAI

#39689 Use project ref to openai in test project and update sample
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingRawVectorQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingSemanticHybridQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizableTextQuery.md
  sdk/search/Azure.Search.Documents/tests/Azure.Search.Documents.Tests.csproj
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
Labels: Search

#39606 [Storage][DataMovement] Refactor Job Part Plan file schema
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/FolderPropertiesMode.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartDeleteSnapshotsOption.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPermanentDeleteOption.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanBlockBlobTier.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanDestinationBlob.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanDestinationLocal.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanFileName.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanPageBlobTier.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanRehydratePriorityType.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanBlobType.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlanExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/CheckpointerExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/Errors.DataMovement.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CheckpointerTesting.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPartPlanFileNameTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPartPlanHeaderTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPlanFileTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerFactory.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Resources/SampleJobPartPlanFile.b3.ndmpart
Labels: Storage

#39697 ClientModel: Split MessageBody into RequestBody and Response.Content
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Adapter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineRequestAdapter.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineResponseAdapter.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ResponseContent.cs
  sdk/core/Azure.Core/src/RequestContent.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/tests/ModelReaderWriter/ModelReaderWriterRequestContentTests.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.net6.0.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.netstandard2.0.cs
  sdk/core/System.Net.ClientModel/src/Message/HttpMessageRequest.cs
  sdk/core/System.Net.ClientModel/src/Message/HttpMessageResponse.cs
  sdk/core/System.Net.ClientModel/src/Message/MessageBody.cs
  sdk/core/System.Net.ClientModel/src/Message/MessageRequest.cs
  sdk/core/System.Net.ClientModel/src/Message/MessageResponse.cs
  sdk/core/System.Net.ClientModel/src/Message/RequestBody.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.Net.ClientModel/tests/client/MapsClient/IPAddressCountryPair.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/Choice.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/Completions.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsLogProbabilityModel.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsOptions.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsUsage.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/ContentFilterResult.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/ContentFilterResults.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/PromptFilterResult.Serialization.cs
Labels: Azure.Core

#39677 [NetAppFiles] Fix serialization
  sdk/netapp/Azure.ResourceManager.NetApp/CHANGELOG.md
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/VolumeSnapshotProperties.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/autorest.md
Labels: Mgmt

#39708 [JobRouter] Remove Uri constructor
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Docs/JobRouterAdministrationClient.xml
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Docs/JobRouterClient.xml
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Generated/Samples/Samples_JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Generated/Samples/Samples_JobRouterClient.cs
Labels: Communication

#38017 [AzureMonitorExporter] refactor how EnvironmentVariables are read
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/PersistentStorage/StorageHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/DefaultPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/EnvironmentVariableConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/IPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitterFactory.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/MockPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceExtensionsTests.cs
Labels: Monitor - Exporter

#39347 Azure OpenAI: Revise streaming behavior for better usability (completions + chat completions)
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureChatExtensionsMessageContext.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/OpenAIClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingChatChoice.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingChatCompletions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingChatCompletionsUpdate.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingChatCompletionsUpdate.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingChoice.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/StreamingCompletions.cs
  sdk/openai/Azure.AI.OpenAI/src/Helpers/SseAsyncEnumerator.cs
  sdk/openai/Azure.AI.OpenAI/src/Helpers/SseReader.cs
  sdk/openai/Azure.AI.OpenAI/src/Helpers/StreamingResponse.cs
  sdk/openai/Azure.AI.OpenAI/tests/AzureChatExtensionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatFunctionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/OpenAIInferenceModelFactoryTests.cs.cs
  sdk/openai/Azure.AI.OpenAI/tests/OpenAIInferenceTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample04_StreamingChat.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample07_ChatFunctions.cs
  sdk/openai/Azure.AI.OpenAI/tests/StreamingResponseTests.cs
Labels: OpenAI

#39712 [AzureMonitorExporter] refactor, prepping for LiveMetrics proj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionStringParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/PersistentStorage/StorageHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/DefaultPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/IPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/MockPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StorageHelperTests.cs
Labels: Monitor - Exporter

#39715 [Event Hubs] Error handling for disabled entities
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpErrorTests.cs
Labels: Event Hubs, Client

#39719 [Azure.Monitor.LiveMetrics] add project scaffolding
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionStringParser.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/DefaultPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Properties/AssemblyInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/LiveMetricsExporterEventSourceTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.sln
Labels: Monitor - Exporter, Monitor - LiveMetrics

#39645 [Storage] [DataMovement] Added Download Share Directory Tests
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/TransferValidator.Shares.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TransferValidator.Local.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TransferValidator.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferValidator.Blobs.cs
Labels: Storage

#39722 Implement server-side ARB feedback changes
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallIntelligenceOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallIntelligenceOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionToneReceived.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ContinuousDtmfRecognitionToneReceived.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CustomCallingContextInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CustomCallingContextInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ToneInfo.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ToneInfo.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TransferToParticipantRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TransferToParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallIntelligenceOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallIntelligenceOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallInvite.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateGroupCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CustomCallingContext.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CustomCallingContextInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CustomContext.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CustomContextHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SIPCustomHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/SIPUUIHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/VoipHeader.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/MuteParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/MuteParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/CancelAddParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/CancelAddParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/MuteParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/MuteParticipantTestAsync.json
Labels: Communication

#39728 Fix the variable name
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallInvite.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
Labels: Communication

#39732 ClientModel: Cleanup after MessageBody->RequestBody refactor
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Adapter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineResponseAdapter.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ResponseContent.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.net6.0.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.netstandard2.0.cs
  sdk/core/System.Net.ClientModel/src/Message/HttpMessageResponse.cs
  sdk/core/System.Net.ClientModel/src/Message/MessageResponse.cs
  sdk/core/System.Net.ClientModel/src/Message/RequestBody.cs
Labels: Azure.Core

#39737 [AzureMonitorExporter] Add missing 'telemetry.distro.name' to _OTELRESOURCE_
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
Labels: Monitor - Exporter

#39693 [Storage][DataMovement] Fixes/adjustments for initial transfer and chunk sizes
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/assets.json
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#39738 [Azure OpenAI] Replace `SearchKey` and `EmbeddingKey` properties with `SetSearchKey` and `SetEmbeddingKey` methods
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureCognitiveSearchChatExtensionConfiguration.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureCognitiveSearchChatExtensionConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCognitiveSearchChatExtensionConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/tests/AzureChatExtensionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample08_UseYourOwnData.cs
Labels: OpenAI

#39748 ClientModel: Rename Body to Content
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineRequestAdapter.cs
  sdk/core/Azure.Core/src/RequestContent.cs
  sdk/core/Azure.Core/tests/ModelReaderWriter/ModelReaderWriterRequestContentTests.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.net6.0.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.netstandard2.0.cs
  sdk/core/System.Net.ClientModel/src/Message/HttpMessageRequest.cs
  sdk/core/System.Net.ClientModel/src/Message/MessageRequest.cs
  sdk/core/System.Net.ClientModel/src/Message/MessageResponse.cs
  sdk/core/System.Net.ClientModel/src/Message/RequestBodyContent.cs
  sdk/core/System.Net.ClientModel/tests/client/MapsClient/IPAddressCountryPair.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.cs
  sdk/core/System.Net.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/Choice.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/Completions.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsLogProbabilityModel.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsOptions.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/CompletionsUsage.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/ContentFilterResult.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/ContentFilterResults.Serialization.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/PromptFilterResult.Serialization.cs
Labels: Azure.Core

#39090 List Handles Include Client Name
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/HandleItem.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/HandleItem.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileHandle.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#39617 Tracing: http semconv update
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/RequestActivityPolicyTests.cs
Labels: Azure.Core, OpenTelemetry

#39747 [Search] Fix "SearchOptions.SemanticSearch.MaxWait" Issue
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/VectorSearchTests.cs
Labels: Search

#39749 [AppConfiguration] Added support for service version 2023-10-01
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientOptions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
Labels: Client, App Configuration

#39769 Add November system events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceNotificationsResourceDeletedDetails.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceNotificationsResourceUpdatedDetails.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadCreatedWithUserEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadCreatedWithUserEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadParticipantProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadParticipantProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadPropertiesUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadPropertiesUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadPropertiesUpdatedPerUserEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadPropertiesUpdatedPerUserEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceDeletedDetails.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceDeletedDetails.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceManagementCreatedOrUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceManagementCreatedOrUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceManagementDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceManagementDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceUpdatedDetails.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#39624 Fix SB and EH Message activity source names
  sdk/core/Azure.Core.TestFramework/src/TestActivitySourceListener.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/src/Shared/MessagingClientDiagnostics.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/DiagnosticProperty.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeActivitySourceLiveTests.cs
Labels: Service Bus, Event Hubs, Azure.Core

#39750 [AzureMonitorLiveMetrics] [PoC] Add Live Metrics Extraction Processor
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExporterOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsResource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/ResourceExtensions.cs
Labels: Monitor - LiveMetrics

#39773 Azure OpenAI: changelog snap for beta.9
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
Labels: OpenAI

#39774 Ignore rare Key Vault service issue
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
Labels: KeyVault

#39767 prepare for release of Azure.Identity.Broker
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/README.md
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net6.0.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.netstandard2.0.cs
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
  sdk/identity/Azure.Identity.Broker/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/tests/SharedTokenCacheCredentialBrokerOptionsTests.cs
Labels: Azure.Identity

#39775 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#39776 Fix Tags property
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceNotificationsResourceUpdatedDetails.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceUpdatedDetails.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/ResourceNotificationsResourceUpdatedDetails.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#39620 Tracing: suppress nested client activities by default
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core.TestFramework/tests/ClientTestBaseDiagnosticScopeTests.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/SyncAsyncEventHandlerTests.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Config/EventGridExtensionConfigProvider.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/TestFramework/TestClients/TestResourceCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/TestFramework/TestResource.cs
Labels: Azure.Core, OpenTelemetry

#39781 Prepare release for Azure.ResourceManager.NetApp
  sdk/netapp/Azure.ResourceManager.NetApp/CHANGELOG.md
  sdk/netapp/Azure.ResourceManager.NetApp/src/Azure.ResourceManager.NetApp.csproj
Labels: Mgmt

#39770 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#39801 doc updates
  sdk/identity/Azure.Identity.Broker/README.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#39807 Update allowed MHSM locations
  sdk/keyvault/test-resources.json
Labels: KeyVault

#39805 [Storage] [DataMovement] [Files] Fixed share file container listing when directory is listed on download
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamTransferJob.cs
Labels: Storage

#39815 Increment version for identity releases
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#39823 Increment version for core releases
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
Labels: Azure.Core

#39811 Sync eng/common directory with azure-sdk-tools for PR 7251
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#39830 pin version of generator in test framework
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
Labels: Azure.Core

#39809 [Azure.Messaging.EventHubs] Release prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#39848 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#39847 Mark property as obsolete
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/ResourceNotificationsResourceUpdatedDetails.cs
Labels: Event Grid

#39850 [Azure.Messaging.EventHubs.Processor] Prepare for release
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#39826 Sync eng/common directory with azure-sdk-tools for PR 7255
  eng/common/testproxy/onboarding/README.md
Labels: EngSys, Central-EngSys

#39849 [AppConfiguration] Getting ready for v1.3.0 release
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
Labels: Client, App Configuration

#39828 Add Double Buffering for Live Metrics Document.
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/DocumentBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/DoubleBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - LiveMetrics

#39853 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#39746 [Storage] [DataMovement] Fix for Uncaught Exception Thrown During Cleanup After Failure
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CleanUpTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TestEventsRaised.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#39851 [Storage] Update ARM template to allow blob public access
  sdk/storage/test-resources.json
Labels: Storage

#39857 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#39856 ClientModel: API Updates
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Internal/AzureCorePipelineEnumerator.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Adapter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.net6.0.cs
  sdk/core/System.Net.ClientModel/api/System.Net.ClientModel.netstandard2.0.cs
  sdk/core/System.Net.ClientModel/src/ClientRequestException.cs
  sdk/core/System.Net.ClientModel/src/Experimental/PipelineProtocolExtensions.cs
  sdk/core/System.Net.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.Net.ClientModel/src/Options/MessageClassifier.cs
  sdk/core/System.Net.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.Net.ClientModel/src/Options/ResponseStatusClassifier.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/KeyCredentialAuthenticationPolicy.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/PipelinePolicy.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/PipelineProcessor.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.Net.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.Net.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.Net.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
Labels: Azure.Core

#39860 [JobRouter] Update tsp commit to main
  sdk/communication/Azure.Communication.JobRouter/src/Generated/tspCodeModel.json
  sdk/communication/Azure.Communication.JobRouter/tsp-location.yaml
Labels: Communication

#39637 Tracing: Change custom attributes to comply with otel conventions, add tests
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/QuestionAnsweringClient.cs
  sdk/core/Azure.Core.TestFramework/src/Instrumentation/DiagnosticScopeValidatingInterceptor.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/CHANGELOG.md
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/RemoteCryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/CHANGELOG.md
  sdk/mixedreality/Azure.MixedReality.Authentication/src/MixedRealityStsClient.cs
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/RemoteRenderingClient.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Properties/AssemblyInfo.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Properties/AssemblyInfo.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LegacyServiceClient.cs
Labels: KeyVault, Azure.Core, App Configuration, Cognitive - Text Analytics, Digital Twins, Mixed Reality, Cognitive - Language

#39868 Implement final ARB feedback
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallIntelligenceOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallMediaRecognizeOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAddParticipantOperationOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAddParticipantOperationResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateGroupCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
Labels: Communication

#39858 Update CHANGELOGs for Key Vault beta release
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#39882 Update .NET changelog
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
Labels: Communication

#39884 Prepare for release
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#39888 Sync eng/common directory with azure-sdk-tools for PR 7268
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#39889 [JobRouter] GA review changes 3
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/CollectionExtensions.cs
  sdk/communication/Azure.Communication.JobRouter/src/EmptyPlaceholderObjectWriteOnlyJsonConverter.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/CommunicationJobRouterClientBuilderExtensions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Docs/JobRouterAdministrationClient.xml
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Docs/JobRouterClient.xml
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/JsonElementExtensions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CommunicationJobRouterClientBuilderExtensions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/CreateExceptionPolicyOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/DistributionMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ExceptionAction.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ExceptionTrigger.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterClientBuilderExtensions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/QueueSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterRule.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/WorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/PolymorphicWriteOnlyJsonConverter.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Generated/Samples/Samples_JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Generated/Samples/Samples_JobRouterClient.cs
Labels: Communication

#39881 [Storage][DataMovement] Refactor/fix support for CreationPreference
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/Errors.DataMovement.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceCreationPreference.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CheckpointerTesting.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPartPlanHeaderTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Resources/SampleJobPartPlanFile.b3.ndmpart
Labels: Storage

#39894 Include SMS specific int configuration to livetest pipeline
  sdk/communication/Azure.Communication.Sms/tests.yml
Labels: Communication - SMS

#39718 Datamovement tests ShareUploadDirectory
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/TransferValidator.Shares.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TransferValidator.Local.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
Labels: Storage

#39682 Remove tracing feature-flag from HTTP spans and add option for libs to mark tracing as stable
  sdk/core/Azure.Core.TestFramework/tests/ClientTestBaseDiagnosticScopeTests.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/samples/Diagnostics.md
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
  sdk/core/Azure.Core/src/Shared/MessagingClientDiagnostics.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.cs
  sdk/core/Azure.Core/tests/RequestActivityPolicyTests.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Config/EventGridExtensionConfigProvider.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/TestFramework/TestClients/TestResourceCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/TestFramework/TestResource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeActivitySourceLiveTests.cs
Labels: Event Grid, Azure.Core, Functions

#39899 Preparation for Core release 1.36.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#39902 Preparation for Azure.Core.Experimental release 0.1.0-preview.31
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#39903 [Search] Prepare for GA release
  eng/Packages.Data.props
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/tests/Azure.Search.Documents.Tests.csproj
  sdk/search/Azure.Search.Documents/tests/Samples/Sample06_EncryptedIndex.cs
Labels: Search

#39814 Introduce "known issues" page
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement/KnownIssues.md
  sdk/storage/Azure.Storage.DataMovement/README.md
Labels: Storage

#39905 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#39910 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#39907 Fix model factory original name in customized model factory
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
Labels: Cognitive - Text Analytics

#39922 Eg/namespaces
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Event Grid, Functions

#39923 Eg/namespaces
  sdk/eventgrid/Azure.Messaging.EventGrid/assets.json
Labels: Event Grid

#39925 fix readme
  sdk/eventgrid/Azure.Messaging.EventGridV2/README.md
Labels: Event Grid

#39926 Feature/eventgrid/namespaces
  sdk/eventgrid/Azure.Messaging.EventGridV2/README.md
Labels: Event Grid

#39764 DataMovement Share Destination Checkpoint Data Update
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementShareConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileDestinationCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDestinationCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/CheckpointerExtensions.cs
Labels: Storage

#39883 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#39887 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#39892 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#39699 Refer to correct article regarding ServiceBusAdministrationClient
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample12_ManagingRules.md
Labels: Service Bus, customer-reported, Community Contribution

#39912 Disable diagnostics checks in tests that use released version of KeyVault
  sdk/identity/Azure.Identity/tests/IdentityRecordedTestBase.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialLiveTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ClientSideEncryptionTests.cs
Labels: Storage, Azure.Identity

#39940 Prep for tables release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Tables

#39944 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#39950 Prepare for release
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Event Hubs, Event Grid, Tables, Functions

#39948 Sync eng/common directory with azure-sdk-tools for PR 7262
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#39911 Update Storage libraries for OTel update
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#39951 Release Key Vault beta SDKs on new Azure.Core
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#39943 Disable KV testing on China cloud
  sdk/keyvault/tests.yml
Labels: KeyVault

#39952 Remove explicit core dependency
  eng/Packages.Data.props
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid, Functions

#39956 Prep Release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#39955 Increment version for tables releases
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables

#39954 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#39962 [AzureMonitorLiveMetrics] add empty demo project
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/OTEL_DIAGNOSTICS.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.sln
Labels: Monitor - LiveMetrics

#39909 [Azure OpenAI] Re-generate based on latest TypeSpec with @access and @usage decorators
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureCognitiveSearchChatExtensionConfiguration.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureCognitiveSearchChatExtensionConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureCognitiveSearchIndexFieldMappingOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ImageSize.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranscriptionOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranslationOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCognitiveSearchChatExtensionConfiguration.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCognitiveSearchChatExtensionConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCognitiveSearchIndexFieldMappingOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: OpenAI

#39936 [DocumentIntelligence] Generated from latest spec + added recordings
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.netstandard2.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentModelDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AIDocumentIntelligenceClientBuilderExtensions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AIDocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AzureAIDocumentIntelligenceClientOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ChatIndexBuildOperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ChatIndexBuildOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ChatIndexDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ChatIndexDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ChatIndexSummary.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/Docs/DocumentModelAdministrationClient.xml
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentAnalysisClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentCaption.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentCaption.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentClassifierBuildOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentFigure.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentFigure.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentFootnote.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentFootnote.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceError.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentListItem.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentListItem.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelBuildOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelComposeOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelCopyToOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelSummary.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelSummary.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentSection.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentSection.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentTableCell.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentTableCell.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/InnerError.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/InnerError.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationKind.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationSummary.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationSummary.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/UnknownOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentAnalysisClient/DocumentClassifierLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentModelAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentModelAdministrationClient/MiscellaneousOperationsLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Generated/Samples/Samples_DocumentModelAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DisposableDocumentModel.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceLiveTestBase.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tsp-location.yaml
  sdk/documentintelligence/ci.yml
Labels: Client, Cognitive - Form Recognizer

#39959 Update OpenTelemetry documentation
  sdk/core/Azure.Core/README.md
  sdk/core/Azure.Core/samples/Diagnostics.md
Labels: Azure.Core

#39957 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#39967 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#39867 New version SDK for cloudngfw 2023-09-01
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/CHANGELOG.md
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/api/Azure.ResourceManager.PaloAltoNetworks.Ngfw.netstandard2.0.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackCertificateObjectCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackCertificateObjectResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackFqdnCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackFqdnResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackPrefixCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackPrefixResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_GlobalRulestackResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackCertificateObjectCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackCertificateObjectResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackFqdnCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackFqdnResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackPrefixCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackPrefixResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackRuleCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_LocalRulestackRuleResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_PaloAltoNetworksFirewallCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_PaloAltoNetworksFirewallResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_PaloAltoNetworksFirewallStatusResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_PostRulestackRuleCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_PostRulestackRuleResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_PreRulestackRuleCollection.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/samples/Generated/Samples/Sample_PreRulestackRuleResource.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Azure.ResourceManager.PaloAltoNetworks.Ngfw.csproj
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/Models/FirewallNetworkProfile.Serialization.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/Models/FirewallNetworkProfile.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/CertificateObjectGlobalRulestackRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/CertificateObjectLocalRulestackRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/FirewallStatusRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/FirewallsRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/FqdnListGlobalRulestackRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/FqdnListLocalRulestackRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/GlobalRulestackRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/LocalRulesRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/LocalRulestacksRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/PostRulesRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/PreRulesRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/PrefixListGlobalRulestackRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/Generated/RestOperations/PrefixListLocalRulestackRestOperations.cs
  sdk/paloaltonetworks.ngfw/Azure.ResourceManager.PaloAltoNetworks.Ngfw/src/autorest.md
Labels: customer-reported, Community Contribution

#39963 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#39966 Fix telemetry test to account for updated activity name
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubApplicationInsightsTests.cs
Labels: Event Hubs, Functions

#39958 Increment version for eventgrid releases
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid, Functions

#39942 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#39977 STG 92 changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#39983 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#39981 Sync eng/common directory with azure-sdk-tools for PR 7276
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#39861 [AzureMonitorLiveMetrics] Add known fields to MonitoringDataPoint
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SdkVersionUtils.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/GuidExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - Exporter, Monitor - LiveMetrics

#39986 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#39846 Enabled 92 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#39995 Sync .github/workflows directory with azure-sdk-tools for PR 7284
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#39994 List secret versions in Key Vault migration guide
  sdk/keyvault/Azure.Security.KeyVault.Secrets/MigrationGuide.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/samples/SampleSnippets.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/samples/Track1Snippets.cs
Labels: KeyVault

#39819 [Storage][DataMovement] Various fixes to transfer logic for chunks
  sdk/storage/Azure.Storage.DataMovement/src/CommitChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/DownloadChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CommitChunkHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DownloadChunkHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/EmptyStream.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TestEventsRaised.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferValidationTests.cs
Labels: Storage

#39997 [JobRouter] Re-add protocol methods
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/assets.json
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterClient.cs
Labels: Communication

#39993 ClientModel: API Updates
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineRequestAdapter.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineResponseAdapter.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/System.ClientModel/README.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ClientRequestException.cs
  sdk/core/System.ClientModel/src/Experimental/PipelineProtocolExtensions.cs
  sdk/core/System.ClientModel/src/Message/HttpPipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/HttpPipelineResponse.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponseHeaders.cs
  sdk/core/System.ClientModel/src/NullableOutputMessageOfT.cs
  sdk/core/System.ClientModel/src/NullableResultOfT.cs
  sdk/core/System.ClientModel/src/Options/ErrorBehavior.cs
  sdk/core/System.ClientModel/src/Options/MessageClassifier.cs
  sdk/core/System.ClientModel/src/OutputMessage.cs
  sdk/core/System.ClientModel/src/OutputMessageOfT.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Result.cs
  sdk/core/System.ClientModel/src/ResultOfT.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/IPAddressCountryPair.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/Choice.Serialization.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/Completions.Serialization.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/CompletionsLogProbabilityModel.Serialization.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/CompletionsUsage.Serialization.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/ContentFilterResult.Serialization.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/ContentFilterResults.Serialization.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/PromptFilterResult.Serialization.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClientTests.cs
Labels: Azure.Core

#39717 [Service Bus] Admin client performance note
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusAdministrationClient.cs
Labels: Service Bus, Client

#39990 DataMovement Share File Rehydration
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileDestinationCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileSourceCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/RehydrateShareResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceCheckpointDataInternal.cs
Labels: Storage

#39976 [DocumentIntelligence] Implemented operation ID parsing workaround
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.netstandard2.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentModelAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AIDocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentClassifierBuildOperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentClassifierBuildOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelBuildOperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelBuildOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelComposeOperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelComposeOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelCopyToOperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelCopyToOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/UnknownOperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/UnknownOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/OperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/TrainingOperation.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentModelAdministrationClient/MiscellaneousOperationsLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentModelAdministrationClient/TrainingOperationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceLiveTestBase.cs
Labels: Client, Cognitive - Form Recognizer

#40004 [Storage][DataMovenet] Minor fixes to pause/resume tests
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
Labels: Storage

#40016 Fixed live tests
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
Labels: Storage

#40025 Revert "Add support for custom objects within the dialogContext"
  sdk/communication/Azure.Communication.CallAutomation/src/CallDialog.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallDialogs/CallDialogTests.cs
Labels: Communication

#40001 [AzureMonitorLiveMetrics] POC
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/api/Azure.Monitor.OpenTelemetry.LiveMetrics.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Customizations/QuickPulseSDKClientAPIsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/ManagerFactory.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExporterOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsMetricExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Program.cs
Labels: Monitor - LiveMetrics

#40029 [JobRouter] Prerelease GA
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/src/Azure.Communication.JobRouter.csproj
Labels: Communication

#40027 OTel: Fix duplicated attributes and suppression
  sdk/core/Azure.Core/samples/Diagnostics.md
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
Labels: Client, OpenTelemetry

#40031 Update TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity, customer-reported, Community Contribution

#40034 [JobRouter] Update readme
  sdk/communication/Azure.Communication.JobRouter/README.md
Labels: Communication

#40032 ClientModel: API Updates
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/RequestContent.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/tests/ModelReaderWriter/ModelReaderWriterRequestContentTests.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ClientRequestException.cs
  sdk/core/System.ClientModel/src/Message/InputContent.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
Labels: Azure.Core

#40000 [AzureMonitorExporter] Fix Culture-Specific Formatting of Activity Tags
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ArrayExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TagsTests.cs
Labels: Monitor - Exporter

#40033 [JobRouter] Prerelease GA (#40029)
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/README.md
  sdk/communication/Azure.Communication.JobRouter/src/Azure.Communication.JobRouter.csproj
Labels: Communication

#39291 [.NET] Communication Identity | Granular Token API
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/README.md
  sdk/communication/Azure.Communication.Identity/api/Azure.Communication.Identity.netstandard2.0.cs
  sdk/communication/Azure.Communication.Identity/assets.json
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
  sdk/communication/Azure.Communication.Identity/src/CommunicationIdentityClientOptions.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/CommunicationIdentityRestClient.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Models/CommunicationTokenScope.cs
  sdk/communication/Azure.Communication.Identity/src/Models/CommunicationTokenScope.cs
  sdk/communication/Azure.Communication.Identity/src/autorest.md
  sdk/communication/Azure.Communication.Identity/tests/CommunicationIdentityClient/CommunicationIdentityClientLiveTests.cs
Labels: Communication, Communication - Identity

#39325 Storage STG 92
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/assets.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/HandleItem.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/HandleItem.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileHandle.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/assets.json
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/platform-matrix-all-versions.json
Labels: Storage

#39045 [Schema Registry] Add Protobuf
  .vscode/cspell.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/assets.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/ContentType.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/ContentType.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaGroupsRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClientOptions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/autorest.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaFormatTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientTestEnvironment.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistrySchemaTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/assets.json
  sdk/schemaregistry/test-resources.json
Labels: Schema Registry

#40059 [JobRouter] Scoring rule options constructor public
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/ScoringRuleOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ScoringRuleOptions.cs
Labels: Communication

#40056 STG 93 x-ms-version
  sdk/storage/Azure.Storage.Blobs.Batch/assets.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/assets.json
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
Labels: Storage

#40064 [JobRouter] Fix conditional selector attachments
  sdk/communication/Azure.Communication.JobRouter/src/Models/ConditionalQueueSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ConditionalWorkerSelectorAttachment.cs
Labels: Communication

#40049 [Messaging] No Retry for HostNotFound
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Core/BasicRetryPolicy.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/RetryPolicies/BasicRetryPolicyTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/BasicRetryPolicy.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Core/BasicRetryPolicyTests.cs
Labels: Service Bus, Event Hubs, Client
