Repository Azure/azure-sdk-for-net, pull requests merged in 2023-03, with the labels that each got.

#34610 Prepare release for Azure.ResourceManager.DigitalTwins 1.2.0
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/CHANGELOG.md
  sdk/digitaltwins/Azure.ResourceManager.DigitalTwins/src/Azure.ResourceManager.DigitalTwins.csproj
Labels: Digital Twins

#34608 Sync eng/common directory with azure-sdk-tools for PR 5581
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#34615 Fix analysis pipeline break
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
Labels: Azure.Core

#34616 Revert "Track 2 updated with modelvalidation fixes"
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_AvailabilitySetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_AvailabilitySetResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CapacityReservationGroupResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CapacityReservationResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostGroupCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostGroupResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskImageResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_RestorePointGroupResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_RestorePointResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SshPublicKeyCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SshPublicKeyResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionImageCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionImageResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetExtensionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetExtensionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetRollingUpgradeResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmExtensionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmExtensionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/ComputeWriteableSubResourceData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetIPConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetNetworkConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeWriteableSubResourceData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute

#34617 Sync eng/common directory with azure-sdk-tools for PR 5540
  eng/common/scripts/Cadl-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#34628 Cross-link to additional content on dead-lettering
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus, customer-reported, Community Contribution

#34635 Fix typo in XML docs for WorkloadIdentityCredential ctor
  sdk/identity/Azure.Identity/src/Credentials/WorkloadIdentityCredential.cs
Labels: Azure.Identity

#34622 [AzureMonitorOpenTelemetryDisto] Read options from IConfiguration for Services.AddAzureMonitorOpenTelemetry()
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorOpenTelemetryExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorOpenTelemetryImplementations.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/DefaultAzureMonitorOpenTelemetryOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Demo/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Demo/appsettings.json
Labels: Monitor - Distro

#33695 BlobLeaseClient Avoid Log 409 response
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobLeaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/AcquireLeaseAsync_AccessConditions.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/AcquireLeaseAsync_AccessConditionsAsync.json
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/AcquireLeaseAsync_Conditions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/DirectoryClientTests/AcquireLeaseAsync_ConditionsAsync.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AcquireLeaseAsync_Conditions.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/AcquireLeaseAsync_ConditionsAsync.json
Labels: Storage

#34644 Track2 SDK PR from modelvalidation fixes
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_AvailabilitySetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_AvailabilitySetResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CapacityReservationGroupResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CapacityReservationResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostGroupCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostGroupResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DedicatedHostResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_DiskImageResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_RestorePointGroupResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_RestorePointResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SshPublicKeyCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SshPublicKeyResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionImageCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionImageResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineExtensionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetExtensionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetExtensionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetRollingUpgradeResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmExtensionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmExtensionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetVmResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/ComputeWriteableSubResourceData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetIPConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetNetworkConfiguration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ComputeWriteableSubResourceData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/HyperVGeneration.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/ImageStorageAccountType.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/OSImageNotificationProfile.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmInstanceView.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmInstanceView.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Compute

#34649 Release preparation for Azure.Core.Experimental 0.1.0-preview.25
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#34355 Ensure proper parethesis matching in UserAgent
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/perf/Azure.Core.Perf.csproj
  sdk/core/Azure.Core/src/Internal/RuntimeInformationWrapper.cs
  sdk/core/Azure.Core/src/TelemetryDetails.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
  sdk/core/Azure.Core/tests/TelemetryDetailsTests.cs
  sdk/core/Azure.Core/tests/TelemetryPolicyTests.cs
Labels: Azure.Core

#34652 Test Framework doc improvements
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/IgnoreOnNet5Attribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/AesCryptographyProviderTests.cs
Labels: KeyVault, Azure.Core

#34656 Update Changelog for ACS Email SDK (Public Preview 2)
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
Labels: Communication

#34648 Release preparation for Azure.Core 1.29.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#34675 Sync eng/common directory with azure-sdk-tools for PR 5603
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#34672 [AzureMonitorDistro] Rename public API to AddAzureMonitor
  sdk/monitor/Azure.Monitor.OpenTelemetry/api/Azure.Monitor.OpenTelemetry.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorImplementations.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorOpenTelemetryExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/DefaultAzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Demo/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Demo/appsettings.json
Labels: Monitor - Distro

#34677 Prepare for release
  sdk/core/Azure.Core.Amqp/CHANGELOG.md
  sdk/core/Azure.Core.Amqp/src/Azure.Core.Amqp.csproj
Labels: Azure.Core

#34650 [AzureMonitorOpenTelemetryDistro] Update Readme
  sdk/monitor/Azure.Monitor.OpenTelemetry/README.md
Labels: Monitor - Distro

#34593 track 1 updated with modelvalidation fixes
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/DiskEncryptionSetParameters .cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/NetworkInterfaceReference.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/SubResourceWithColocationStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineCaptureResult.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetExtensionUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetIPConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetNetworkConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetUpdateIPConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetUpdateNetworkConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetVMExtension.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Customizations/VirtualMachineScaleSetVMExtensionUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/DiskEncryptionSetParameters.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/EdgeZoneStorageAccountType.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryTargetExtendedLocation.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/NetworkInterfaceReference.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/OSImageNotificationProfile.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SubResource.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SubResourceReadOnly.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/SubResourceWithColocationStatus.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineCaptureResult.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetExtensionUpdate.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetIPConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetNetworkConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateIPConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetUpdateNetworkConfiguration.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMExtension.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/VirtualMachineScaleSetVMExtensionUpdate.cs
Labels: Compute

#34679 Update to latest Key Vault stable/7.4
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
Labels: KeyVault

#34680 [AzureMonitorDistro] Update Demo with HttpClient
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Demo/Program.cs
Labels: Monitor - Distro

#34684 Increment version for core releases
  sdk/core/Azure.Core.Amqp/CHANGELOG.md
  sdk/core/Azure.Core.Amqp/src/Azure.Core.Amqp.csproj
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#34669 Sync eng/common directory with azure-sdk-tools for PR 5595
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#34700 [AzureMonitorExporter] Change connection string error message.
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ConnectionString/ConnectionStringParser.cs
Labels: Monitor - Exporter

#34686 Add tracing details to migration guide
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus

#34674 Enable statsbeat
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Statsbeat/StatsbeatConstants.cs
Labels: Monitor - Exporter

#34701 Eh tracing migration
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
Labels: Service Bus, Event Hubs

#34697 Add test for distro
  sdk/monitor/Azure.Monitor.OpenTelemetry/Azure.Monitor.OpenTelemetry.sln
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/Properties/AssemblyInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Tests/Azure.Monitor.OpenTelemetry.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Tests/AzureMonitorDistroTests.cs
Labels: Monitor - Distro

#34647 [AzureMonitorOpenTelemetryDistro] Read log related settings from IConfiguration
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorImplementations.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/AzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/src/DefaultAzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry/tests/Azure.Monitor.OpenTelemetry.Demo/Program.cs
Labels: Monitor - Distro

#34683 [Text Analytics] Log warn-text response header
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ClientOptionsExtensions.cs
Labels: Cognitive - Text Analytics

#34710 Update changelog
  sdk/monitor/Azure.Monitor.OpenTelemetry/CHANGELOG.md
Labels: Monitor - Distro

#34706 Increment version for purview releases
  sdk/purview/Azure.Analytics.Purview.Sharing/CHANGELOG.md
  sdk/purview/Azure.Analytics.Purview.Sharing/src/Azure.Analytics.Purview.Sharing.csproj
Labels: auto-merge

#34500 Communication Identity | Skipping CTE Tests for improving pass rate
  sdk/communication/Azure.Communication.Identity/tests/CommunicationIdentityClient/CommunicationIdentityClientLiveTests.cs
  sdk/communication/Azure.Communication.Identity/tests/samples/Sample1_CommunicationIdentityClient.cs
Labels: Communication, Communication - Identity

#34462 Fixed bug where sticky bit and execution bit were not formed and pars…
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathAccessControlExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathAccessControlExtensionsTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathPermissionsTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitOctal.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/SessionRecords/FileClientTests/SetPermissionsAsync_StickyBitOctalAsync.json
Labels: Storage

#34729 Add new communication events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportStatus.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailEngagementTrackingReportReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailEngagementTrackingReportReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsUserEngagement.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#34724 [DevCenter] fixing generated samples
  sdk/devcenter/Azure.Developer.DevCenter/samples/Sample_CreateDeleteDevBoxAsync.md
  sdk/devcenter/Azure.Developer.DevCenter/samples/Sample_CreateDeleteEnvironmentAsync.md
Labels: DevCenter

#34731 [Text Analytics] Rename `MaxSentenceCount` to `SentenceCount` in abstractive summarization
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryAction.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Transforms.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AbstractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample13_AbstractSummary.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample13_AbstractSummaryAsync.cs
Labels: Cognitive - Text Analytics

#34709 [Text Analytics] Remove BooleanResolution
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/CategorizedEntity.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BaseResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BaseResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BooleanResolution.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/BooleanResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/EntityWithResolution.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/ResolutionKind.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/GeneratorStubs/Resolutions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsModelFactory.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/autorest.md
Labels: Cognitive - Text Analytics

#34736 Increment version for storagemover releases
  sdk/storagemover/Azure.ResourceManager.StorageMover/CHANGELOG.md
  sdk/storagemover/Azure.ResourceManager.StorageMover/src/Azure.ResourceManager.StorageMover.csproj
Labels: auto-merge

#34719 Increment version for workloads releases
  sdk/workloads/Azure.ResourceManager.Workloads/CHANGELOG.md
  sdk/workloads/Azure.ResourceManager.Workloads/src/Azure.ResourceManager.Workloads.csproj
Labels: auto-merge

#34691 Fix serialization issue for Maintenance
  sdk/maintenance/Azure.ResourceManager.Maintenance/CHANGELOG.md
  sdk/maintenance/Azure.ResourceManager.Maintenance/samples/Generated/Samples/Sample_MaintenanceConfigurationResource.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Azure.ResourceManager.Maintenance.csproj
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Custom/MaintenanceConfigurationResource.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Custom/Models/MaintenanceConfigurationData.Serialization.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Generated/LongRunningOperation/MaintenanceArmOperation.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Generated/MaintenanceConfigurationResource.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Generated/Models/MaintenanceConfigurationData.Serialization.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Generated/RestOperations/MaintenanceConfigurationsRestOperations.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/autorest.md
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/MaintenanceManagementTestBase.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/Scenario/MaintenanceConfigurationTests.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/Create.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/CreateAsync.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/Delete.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/DeleteAsync.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/Get.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/GetAsync.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/List.json
  sdk/maintenance/Azure.ResourceManager.Maintenance/tests/SessionRecords/MaintenanceConfigurationTests/ListAsync.json
Labels: Mgmt

#34747 Increment version for botservice releases
  sdk/botservice/Azure.ResourceManager.BotService/CHANGELOG.md
  sdk/botservice/Azure.ResourceManager.BotService/src/Azure.ResourceManager.BotService.csproj
Labels: auto-merge

#34733 Increment version for communication releases
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/src/Azure.Communication.Email.csproj
Labels: auto-merge, Communication

#34739 Increment version for maintenance releases
  sdk/maintenance/Azure.ResourceManager.Maintenance/CHANGELOG.md
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Azure.ResourceManager.Maintenance.csproj
Labels: auto-merge

#34757 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#34755 [Extensions] March Release Prep
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Client, Extensions

#34759 Pass options to DynamicJson child elements
  sdk/core/Azure.Core.Experimental/src/DynamicJson.cs
  sdk/core/Azure.Core.Experimental/tests/DynamicJsonTests.cs
Labels: Azure.Core

#34756 [Event Hubs] March Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#34760 Fix formatting and links in DAC flow diagram
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#34764 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#34765 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#34762 [Text Analytics] Remove `AutoDetectionDefaultLanguage`
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/api/Azure.AI.TextAnalytics.netstandard2.0.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AbstractSummaryOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeActionsOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/AnalyzeHealthcareEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ExtractSummaryOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/MultiLabelClassifyOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/RecognizeCustomEntitiesOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/ServiceClients/LanguageServiceClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/SingleLabelClassifyOptions.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AbstractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeHealthcareEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeOperationTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/AnalyzeSentimentTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractKeyPhrasesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/ExtractSummaryTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/MultiLabelClassifyTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeCustomEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizeLinkedEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/RecognizePiiEntitiesTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchConvenienceWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeHealthcareEntitiesTests/AnalyzeHealthcareEntitiesBatchConvenienceWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeSentimentTests/AnalyzeOperationAnalyzeSentimentWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/AnalyzeSentimentTests/AnalyzeOperationAnalyzeSentimentWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/AnalyzeOperationExtractKeyPhrasesWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractKeyPhrasesTests/AnalyzeOperationExtractKeyPhrasesWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/ExtractSummaryTests/ExtractSummaryBatchConvenienceWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/MultiLabelClassifyTests/MultiLabelClassifyBatchConvenienceWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/MultiLabelClassifyTests/MultiLabelClassifyBatchConvenienceWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeCustomEntitiesTests/RecognizeCustomEntitiesBatchConvenienceWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeCustomEntitiesTests/RecognizeCustomEntitiesBatchConvenienceWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/AnalyzeOperationRecognizeEntitiesWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeEntitiesTests/AnalyzeOperationRecognizeEntitiesWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/AnalyzeOperationRecognizeLinkedEntitiesWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizeLinkedEntitiesTests/AnalyzeOperationRecognizeLinkedEntitiesWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/AnalyzeOperationRecognizePiiEntitiesWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/RecognizePiiEntitiesTests/AnalyzeOperationRecognizePiiEntitiesWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/SingleLabelClassifyTests/SingleLabelClassifyBatchConvenienceWithAutoDetectedLanguageTest.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SessionRecords/SingleLabelClassifyTests/SingleLabelClassifyBatchConvenienceWithAutoDetectedLanguageTestAsync.json
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/SingleLabelClassifyTests.cs
Labels: Cognitive - Text Analytics

#34758 Sync eng/common directory with azure-sdk-tools for PR 5627
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#34766 [Event Hubs Processor] March Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#34723 Enabled STG 87 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/platform-matrix-all-versions.json
  sdk/storage/test-resources.json
Labels: Storage

#34771 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: auto-merge

#34768 Prepare Key Vault SDK release
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyCurveName.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#34769 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#34772 [Text Analytics] Prepare release
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/README.md
  sdk/textanalytics/Azure.AI.TextAnalytics/samples/README.md
Labels: Cognitive - Text Analytics

#34750 Better debugger support for DynamicJson
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/DynamicJson.DynamicMetaObject.cs
  sdk/core/Azure.Core.Experimental/src/DynamicJson.cs
  sdk/core/Azure.Core.Experimental/src/MutableJsonElement.cs
Labels: Azure.Core

#34787 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#34783 Support output binding when using language worker extensions
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TableClientHelpers.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/TablesExtensionConfigProvider.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/EntityBindingLiveTests.cs
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(False)/CanAddEntity(%ByteArray%)Async.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(False)/CanAddEntityThrowsWhenEntityExists(%ByteArray%)Async.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(False)/CanAddEntityWithIdsInAttribute(%ByteArray%)Async.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(False)/CanAddEntityWithOverwrite(%ByteArray%)Async.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(True)/CanAddEntity(%ByteArray%)Async.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(True)/CanAddEntityThrowsWhenEntityExists(%ByteArray%)Async.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(True)/CanAddEntityWithIdsInAttribute(%ByteArray%)Async.json
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/SessionRecords/EntityBindingLiveTests(True)/CanAddEntityWithOverwrite(%ByteArray%)Async.json
Labels: Tables

#34773 Fixed bug where GenerateSasUri did not honor TrimBlobNameSlashes when creating the SAS
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GenerateSas_TrimBlobSlashes.json
  sdk/storage/Azure.Storage.Blobs/tests/SessionRecords/BlobBaseClientTests/GenerateSas_TrimBlobSlashesAsync.json
Labels: Storage

#34752 Storage Webjobs `BlobReciptManager` Classifies "LeaseAlreadyPresent"
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Classifiers/LeaseAlreadyPresentResponseClassificationHandler.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobReceiptManager.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/RequestFailedExceptionExtensions.Blobs.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/BlobReciptManagerTests.cs
Labels: Storage

#34788 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeActivitySourceLiveTests.cs
Labels: Service Bus

#34791 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#34790 Throw mismatch exception if no variables section
  sdk/core/Azure.Core.TestFramework/src/TestRecording.cs
Labels: Service Bus, Azure.Core

#34792 Prepare for release
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables

#34798 Link to Functions docs for Identity information
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/README.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/README.md
Labels: Service Bus, Event Hubs

#34800 Fix for #34784: [BUG] Unexpected type for header
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Internal/ArrayBackedPropertyBag.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/tests/ArrayBackedPropertyBagTests.cs
Labels: Azure.Core

#34814 Add unassign job route
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/UnassignJobOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/RouterClient.cs
Labels: Communication

#34815 [Service Bus] Improve the rule manager documentation
  sdk/servicebus/Azure.Messaging.ServiceBus/src/RuleManager/ServiceBusRuleManager.cs
Labels: Service Bus, customer-reported, Community Contribution

#34795 [ACS][CallAutomation][CallRecording] Call recording BYOS Review feedback items
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AddParticipantRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/BlobStorageInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/BlobStorageInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ExternalStorageInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ExternalStorageInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlaySourceInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlaySourceInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlaySourceTypeInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RecordingStorageType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SsmlSource.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SsmlSource.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/BlobStorage.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/BlobStorageInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/ExternalStorage.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/ExternalStorageInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecordingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#34822 Release preparation for Azure.Core 1.30.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#34846 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core, auto-merge

#34849 [Event Hubs Processor] Patch Release Prep
  eng/Packages.Data.props
Labels: Event Hubs, Client

#34852 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, auto-merge

#34865 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: auto-merge

#34862 [Event Hubs] Change stress references
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Azure.Messaging.EventHubs.Stress.csproj
Labels: Event Hubs, Client

#34886 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, auto-merge

#34871 Prepare for release Azure.Developer.LoadTesting 1.0.1
  sdk/loadtestservice/Azure.Developer.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Azure.Developer.LoadTesting.csproj
Labels: Load Test Service

#34775 Add Dtmf Tone string comparison
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/DtmfTone.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CollectTonesResult.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecords/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
Labels: Communication

#34866 Prepare for release Azure.Messaging.EventGrid 4.14.1
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#34895 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#34867 Prepare for release Azure.AI.TextAnalytics 5.3.0-beta.3
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#34826 [Communication] - PhoneNumbers - Simplify status code assertions
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/StartPurchaseInvalidSearchId.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/StartPurchaseInvalidSearchIdAsync.json
Labels: Communication

#34855 Sync eng/common directory with azure-sdk-tools for PR 5613
  eng/common/testproxy/override-proxy-version.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#34900 Increment version for textanalytics releases
  sdk/textanalytics/Azure.AI.TextAnalytics/CHANGELOG.md
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj
Labels: Cognitive - Text Analytics, auto-merge

#34901 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid, auto-merge

#34891 [Text Analytics] Disable dynamic classification tests
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/DynamicClassifyTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/TextAnalyticsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_DynamicClassify.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_DynamicClassifyAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_DynamicClassifyBatch.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_DynamicClassifyBatchAsync.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_DynamicClassifyBatchConvenience.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample11_DynamicClassifyBatchConvenienceAsync.cs
Labels: Cognitive - Text Analytics

#34748 Feature/siprouting ga version
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/SipRoutingRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/SipRouting/autorest_siprouting.md
  sdk/communication/Azure.Communication.PhoneNumbers/tests.yml
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_SipRoutingClient/ManageSipConfiguration.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/Sample_SipRoutingClient/ManageSipConfigurationAsyncAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/AddSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/AddSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipRoutesForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipRoutesForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipRoutesForResourceWhenAlreadyEmpty.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipRoutesForResourceWhenAlreadyEmptyAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipTrunksForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipTrunksForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipTrunksForResourceWhenAlreadyEmpty.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ClearSipTrunksForResourceWhenAlreadyEmptyAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/DeleteSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/DeleteSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetFunctionUsingTokenAuthentication.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetFunctionUsingTokenAuthenticationAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipRoutesForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipRoutesForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunksForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/GetSipTrunksForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipRoutesForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipRoutesForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipTrunksForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/ReplaceSipTrunksForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetFunctionUsingTokenAuthentication.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetFunctionUsingTokenAuthenticationAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetSipTrunkForResource.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/SipRoutingClientLiveTests/SetSipTrunkForResourceAsync.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/Infrastructure/SipRoutingClientLiveTestBase.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/Infrastructure/SipRoutingClientTestEnvironment.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/Infrastructure/TestData.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SipRouting/SipRoutingClientLiveTests.cs
Labels: Communication

#34897 Increment version for tables releases
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables, auto-merge

#34896 Increment version for storagemover releases
  sdk/storagemover/Azure.ResourceManager.StorageMover/CHANGELOG.md
  sdk/storagemover/Azure.ResourceManager.StorageMover/src/Azure.ResourceManager.StorageMover.csproj
Labels: auto-merge

#34898 Increment version for maintenance releases
  sdk/maintenance/Azure.ResourceManager.Maintenance/CHANGELOG.md
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Azure.ResourceManager.Maintenance.csproj
Labels: auto-merge

#34899 Increment version for botservice releases
  sdk/botservice/Azure.ResourceManager.BotService/CHANGELOG.md
  sdk/botservice/Azure.ResourceManager.BotService/src/Azure.ResourceManager.BotService.csproj
Labels: auto-merge

#34905 Increment version for purview releases
  sdk/purview/Azure.Analytics.Purview.Sharing/CHANGELOG.md
  sdk/purview/Azure.Analytics.Purview.Sharing/src/Azure.Analytics.Purview.Sharing.csproj
Labels: auto-merge

#34906 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: auto-merge

#34904 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: auto-merge

#34907 Increment version for communication releases
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/src/Azure.Communication.Email.csproj
Labels: auto-merge, Communication

#34893 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.Developer.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Azure.Developer.LoadTesting.csproj
Labels: auto-merge, Load Test Service

#34859 Change settings types based on architect feedback
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAdministrationModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultSetting.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultSetting.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/KeyVaultSettingType.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/SettingType.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSetting.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSettingType.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSettingValue.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSettingsClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/KeyVaultSettingTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample4_UpdateSettings.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#34908 Fix argument passed to WriteGuidToBuffer
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, Azure.Core

#34879 [ACS][CallAutomation] EventProcessor
  sdk/communication/Azure.Communication.CallAutomation/README.md
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClientOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/CallAutomationEventProcessor.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventAwaiter.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventAwaiterOngoing.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventBacklog.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventProcessorArgs.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/AddParticipantsEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/AnswerCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/CancelAllMediaOperationsEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/CreateCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/PlayEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/StartRecognizingEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/TransferCallToParticipantEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventProcessorOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/EventResult/EventResultBase.cs
  sdk/communication/Azure.Communication.CallAutomation/src/EventProcessor/ResultWithWaitForEventBase.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AddParticipantResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CancelAllMediaOperationsResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventWithReasonCodeName.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/PlayCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/PlayFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeCompletedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/RecognizeFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/PlayResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecognizingResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferCallToParticipantResult.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/AttachEventProcessorTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/EventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationEventProcessorTestBase.cs
Labels: Communication

#34909 Don't throw during cleanup if test class directory does not exist
  sdk/core/Azure.Core.TestFramework/src/RecordedTestBase.cs
Labels: Azure.Core

#34924 [Event Hubs] Processor Test Scenario
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
Labels: Event Hubs, Client

#34925 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: auto-merge

#34931 Sync eng/common directory with azure-sdk-tools for PR 5691
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#34928 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault, auto-merge

#34922 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, auto-merge

#34842 Add new VM property
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/LinuxVMGuestPatchAutomaticByPlatformSettings.cs
  sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/WindowsVMGuestPatchAutomaticByPlatformSettings.cs
Labels: Compute, customer-reported, Community Contribution

#34939 Sync eng/common directory with azure-sdk-tools for PR 5702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#33860 [AzureMonitorExporter] fix log exception bug
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/LogsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LogsHelperTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryExceptionDataTests.cs
Labels: Monitor - Exporter

#34943 [Azure.Monitor.Query]Update LogsTestData.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsTestData.cs
Labels: Client, Monitor - Query

#34921 Fix bad BinaryData conversion in Communication Email attachments
  sdk/communication/Azure.Communication.Email/src/Models/EmailAttachment.cs
Labels: customer-reported, Community Contribution, Communication

#34918 Add getPhoneNumberSearchResult
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PhoneNumberSearchResult.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PhoneNumberSearchResult.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PhoneNumberSearchResultError.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/PhoneNumbersModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearch.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/SessionRecords/PhoneNumbersClientLiveTests/CreateSearchAsyncAsync.json
Labels: Communication

#34947 Acsemail beta 3 release
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
Labels: Communication

#34946 Fix exception policy
  sdk/communication/Azure.Communication.JobRouter/src/Models/ReclassifyExceptionAction.cs
  sdk/communication/Azure.Communication.JobRouter/tests/RouterClients/ExceptionPolicyLiveTests.cs
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ExceptionPolicyLiveTests/CreateExceptionPolicyTest.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ExceptionPolicyLiveTests/CreateExceptionPolicyTestAsync.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ExceptionPolicyLiveTests/CreateExceptionPolicyTest_QueueLength_Cancel.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ExceptionPolicyLiveTests/CreateExceptionPolicyTest_QueueLength_CancelAsync.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ExceptionPolicyLiveTests/CreateExceptionPolicyTest_WaitTime.json
  sdk/communication/Azure.Communication.JobRouter/tests/SessionRecords/ExceptionPolicyLiveTests/CreateExceptionPolicyTest_WaitTimeAsync.json
Labels: Communication

#34952 Sync eng/common directory with azure-sdk-tools for PR 5691
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#34954 Increment version for communication releases
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/src/Azure.Communication.Email.csproj
Labels: auto-merge, Communication

#34953 Fix potential NullReferenceException
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverTests.cs
Labels: Service Bus

#34926 Add transmission state manager with exponential back off
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/HttpPipelineHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmissionState.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmissionStateManager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TransmissionStateManagerTests.cs
Labels: Monitor - Exporter

#34754 [Communication][Email] Separating Email test resources + Adding PPE live tests
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/communication/Azure.Communication.AlphaIds/tests.yml
  sdk/communication/Azure.Communication.CallAutomation/tests.yml
  sdk/communication/Azure.Communication.CallingServer/tests.yml
  sdk/communication/Azure.Communication.Chat/tests.yml
  sdk/communication/Azure.Communication.Email/test-resources.json
  sdk/communication/Azure.Communication.Email/tests.yml
  sdk/communication/Azure.Communication.Identity/tests.yml
  sdk/communication/Azure.Communication.JobRouter/tests.yml
  sdk/communication/Azure.Communication.MediaComposition/tests.yml
  sdk/communication/Azure.Communication.NetworkTraversal/tests.yml
  sdk/communication/Azure.Communication.PhoneNumbers/tests.yml
  sdk/communication/Azure.Communication.Rooms/tests.yml
  sdk/communication/Azure.Communication.ShortCodes/tests.yml
  sdk/communication/Azure.Communication.Sms/tests.yml
  sdk/communication/test-resources/test-resources.json
Labels: Communication

#34963 Set test in parallel to false for Service Bus tests
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/service.projects
Labels: Service Bus

#34967 Sync eng/common directory with azure-sdk-tools for PR 5722
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#34914 Improve test coverage calculation
  sdk/communication/Azure.Communication.AlphaIds/tests/Azure.Communication.AlphaIds.Tests.csproj
  sdk/communication/Azure.Communication.CallAutomation/tests/Azure.Communication.CallAutomation.Tests.csproj
  sdk/communication/Azure.Communication.CallingServer/tests/Azure.Communication.CallingServer.Tests.csproj
  sdk/communication/Azure.Communication.Chat/tests/Azure.Communication.Chat.Tests.csproj
  sdk/communication/Azure.Communication.Email/tests/Azure.Communication.Email.Tests.csproj
  sdk/communication/Azure.Communication.Identity/tests/Azure.Communication.Identity.Tests.csproj
  sdk/communication/Azure.Communication.JobRouter/tests/Azure.Communication.JobRouter.Tests.csproj
  sdk/communication/Azure.Communication.MediaComposition/tests/Azure.Communication.MediaComposition.Tests.csproj
  sdk/communication/Azure.Communication.NetworkTraversal/tests/Azure.Communication.NetworkTraversal.Tests.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Azure.Communication.PhoneNumbers.Tests.csproj
  sdk/communication/Azure.Communication.Rooms/tests/Azure.Communication.Rooms.Tests.csproj
  sdk/communication/Azure.Communication.ShortCodes/tests/Azure.Communication.ShortCodes.Tests.csproj
  sdk/communication/Azure.Communication.Sms/tests/Azure.Communication.Sms.Tests.csproj
  sdk/communication/Shared/tests/AuthMethod.cs
  sdk/communication/Shared/tests/CommunicationTestEnvironment.cs
Labels: Communication, Communication - Common, Communication - Identity

#34968 [Azure.Monitor.Query] Add Extensions
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClientBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClientBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientClientLiveTests.cs
Labels: Client, Monitor - Query

#35026 [Storage] Add soft failover test case
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountSoftFailOver.json
  sdk/storage/Azure.ResourceManager.Storage/tests/SessionRecords/StorageAccountTests/StorageAccountSoftFailOverAsync.json
  sdk/storage/Azure.ResourceManager.Storage/tests/Tests/StorageAccountTests.cs
Labels: Storage

#35025 prepare release for reservations and search
  sdk/reservations/Azure.ResourceManager.Reservations/CHANGELOG.md
  sdk/reservations/Azure.ResourceManager.Reservations/src/Azure.ResourceManager.Reservations.csproj
  sdk/search/Azure.ResourceManager.Search/CHANGELOG.md
Labels: Search

#35039 [Event Hubs] Tweak verbiage in TSG
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs, Client, Docs

#34940 Add DownloadStreaming operation to ACR client
  sdk/containerregistry/Azure.Containers.ContainerRegistry/api/Azure.Containers.ContainerRegistry.netstandard2.0.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/samples/Sample05_UploadDownloadImage.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Blob/BlobHelper.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Blob/ContainerRegistryBlobClient.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Blob/DownloadBlobStreamingResult.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Blob/DownloadBlobToOptions.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Blob/ValidatingStream.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/ContainerRegistryClientOptions.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/ContainerRegistryBlobRestClient.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/autorest.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/ContainerRegistryBlobClientLiveTests.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/ContainerRegistryBlobClientTests.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/ContainerRegistryRecordedTestBase.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/Samples/Sample05_UploadDownloadImage.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobContent.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobContentAsync.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobStreaming.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobStreamingAsync.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobToStreamInEqualSizeChunks.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobToStreamInEqualSizeChunksAsync.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobToStreamInUnequalChunks.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanDownloadBlobToStreamInUnequalChunksAsync.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanUploadBlobFromNonSeekableStream.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/tests/SessionRecords/ContainerRegistryBlobClientLiveTests/CanUploadBlobFromNonSeekableStreamAsync.json
Labels: Azure.Core

#34984 Updated README
  sdk/communication/Azure.Communication.PhoneNumbers/README.md
Labels: Communication

#35019 [AzureMonitorExporter] Refactor internal use of TokenCredential.
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterLoggingExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterMetricExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterTraceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorMetricExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorTraceExporter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorTransmitter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitterFactory.cs
Labels: Monitor - Exporter

#35043 Sync eng/common directory with azure-sdk-tools for PR 5742
  eng/common/scripts/trust-proxy-certificate.ps1
Labels: EngSys, Central-EngSys

#35052 [Communication][Email] Adding PPE Only Parameter to Email Live Tests
  sdk/communication/Azure.Communication.Email/tests.yml
Labels: Communication

#35048 Richardcho/event handle
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/AddParticipantEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/RemoveParticipantEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RemoveParticipantResponseInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/RemoveParticipantResponseInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AddParticipantResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RemoveParticipantResponseInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/RemoveParticipantResult.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationEventProcessorTestBase.cs
Labels: Communication

#35003 [WebPubSub] Fix connect header is missed set.
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Services/WebPubSubRequestExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Trigger/WebPubSubTriggerDispatcher.cs
Labels: auto-merge

#35032 Increment version for reservations releases
  sdk/reservations/Azure.ResourceManager.Reservations/CHANGELOG.md
  sdk/reservations/Azure.ResourceManager.Reservations/src/Azure.ResourceManager.Reservations.csproj
Labels: auto-merge

#35020 [DynamicJson] Change delimiter used by changelist
  sdk/core/Azure.Core.Experimental/src/MutableJsonDocument.ChangeTracker.cs
  sdk/core/Azure.Core.Experimental/tests/MutableJsonDocumentTests.cs
Labels: Azure.Core

#34975 Set status for failed activity
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsTests.Net50.cs
  sdk/core/Azure.Core/tests/RequestActivityPolicyTests.cs
Labels: Azure.Core

#35046 [Azure.Monitor.Query]Update LogsQueryClientBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClientBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClientBuilderExtensions.cs
Labels: Client, Monitor - Query

#35057 Fix flaky test
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus

#34032 add MicrosoftBotIdentifier
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/api/Azure.Communication.Common.netstandard2.0.cs
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
  sdk/communication/Azure.Communication.Common/src/CommunicationIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftBotIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/MicrosoftTeamsUserIdentifier.cs
  sdk/communication/Azure.Communication.Common/src/PhoneNumberIdentifier.cs
  sdk/communication/Azure.Communication.Common/tests/CommunicationIdentifierTest.cs
Labels: Communication, Communication - Common, Communication - Identity

#35085 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: auto-merge

#35008 Disable FabricBot and enable GitHubActions Processor for NET
  .github/fabricbot.backup
  .github/workflows/event-processor.config
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys

#35082 [AzureMonitorExporter] fix nullables in AzMonList
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonList.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonListExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TagEnumerationState.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzMonListExtensionsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TagsTests.cs
Labels: Monitor - Exporter

#35108 Revert change from FxCopAnalyzers to NetAnalyzers
  eng/Directory.Build.Common.props
  eng/Directory.Build.Common.targets
  eng/Packages.Data.props
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransportOptions.cs
Labels: Batch, Azure.Core

#35133 Increment version for mediaservices releases
  sdk/mediaservices/Azure.ResourceManager.Media/CHANGELOG.md
  sdk/mediaservices/Azure.ResourceManager.Media/src/Azure.ResourceManager.Media.csproj
Labels: auto-merge

#35081 [Storage] [DataMovement] Add BlobType option to `BlobStorageResourceContainerOptions`
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainerOptions.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadDirectoryTests.cs
Labels: Storage

#35119 Sync eng/common directory with azure-sdk-tools for PR 5794
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys
