Repository Azure/azure-sdk-for-net, pull requests merged in 2023-12, with the labels that each got.

#39824 Azure OpenAI: add a README sample for HttpPipeline customization
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/tests/Samples/Sample12_PipelineConfiguration.cs
Labels: OpenAI

#40447 ClientModel: Rework Request and Response hierarchy
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Adapter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/HttpPipelineTransportPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineRequestAdapter.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/PipelineResponseAdapter.cs
  sdk/core/Azure.Core/src/Pipeline/RequestFailedDetailsParser.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/RequestUriBuilder.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Internal/HttpPipelineRequest.cs
  sdk/core/System.ClientModel/src/Internal/HttpPipelineResponse.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/internal/Pipeline/CustomPipelineProcessorTests.cs
  sdk/tables/Azure.Data.Tables/Azure.Data.Tables.sln
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Azure.Core

#40466 Update AutoRest C# version to 3.0.0-beta.20231130.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/EventDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/ExceptionDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/KeyValuePairString.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RemoteDependencyDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RequestDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/TraceDocumentIngress.Serialization.cs
Labels: Monitor - LiveMetrics

#39932 [ContainerApp] Fix ContainerAppJobExecutionData deserialization issue
  eng/Packages.Data.props
  sdk/containerapps/Azure.ResourceManager.AppContainers/CHANGELOG.md
  sdk/containerapps/Azure.ResourceManager.AppContainers/assets.json
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Custom/ContainerAppJobExecutionData.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Generated/ContainerAppJobExecutionData.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Generated/Models/ContainerAppJobExecutionData.Serialization.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/AppContainersManagementTestBase.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/Azure.ResourceManager.AppContainers.Tests.csproj
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/Scenario/ContainerAppCollectionTests.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/Scenario/ContainerAppJobTests.cs
Labels: Mgmt

#40318 Sync eng/common directory with azure-sdk-tools for PR 7346
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#40457 Drain excess credits when using sessions to ensure FIFO
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeActivitySourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Service Bus

#40462 [Storage] [DataMovement] Removed unused option parameters in ShareFileStorageResourceOptions
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceOptions.cs
Labels: Storage

#40095 Update DataMovement Samples
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Azure.Storage.DataMovement.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/samples/Sample01b_HelloWorldAsync.cs
Labels: Storage

#40521 [Messaging] AMQP transport updates
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnectionOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
Labels: Service Bus, Event Hubs, Client

#40520 Make CleanupService implement IDisposable to support targeting .NET Framework
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/CleanupService.cs
Labels: Service Bus, Functions

#40526 [Azure.Monitor.Query]Update CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
Labels: Client, Monitor - Query

#40532 [Storage][DataMovement] Fix Files samples build
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Azure.Storage.DataMovement.Files.Shares.Samples.Tests.csproj
Labels: Storage

#40512 Fix the title for a sample file
  sdk/tables/Azure.Data.Tables/samples/Sample7Serialization.md
Labels: Tables

#40531 [Storage] Fixed bug where SAS Directory Depth (sdd) value 10 or over will add 6
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeSasBuilderTests.cs
Labels: Storage

#40550 Update ChangeLog for Azure.Communication.Chat 1.2.0 release
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: Communication - Chat

#40551 Remove live testing on China cloud
  sdk/search/tests.yml
Labels: Search

#40524 Azure AI Search rebranding and messaging
  sdk/search/Azure.ResourceManager.Search/README.md
  sdk/search/Azure.Search.Documents/README.md
Labels: Search, customer-reported, Community Contribution

#40552 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#40553 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#39593 Add prints for warnings and errors
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/README.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample6_AnalyzeConversation_ConversationSummarization.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Samples/Sample6_AnalyzeConversation_ConversationSummarization.cs
Labels: customer-reported, Community Contribution, Cognitive - Language

#40529 ClientModel: Rework Response and Response<T> hierarchy in Azure.Core
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Internal/AzureCorePipelineEnumerator.cs
  sdk/core/Azure.Core/src/Internal/ValueResponse.cs
  sdk/core/Azure.Core/src/NullableResponseOfT.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/HttpPipelineTransportPolicy.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/ResponseOfT.cs
  sdk/core/Azure.Core/tests/NullableResponseOfTTests.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ClientRequestException.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/OptionalOutputMessageOfT.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Options/ResponseStatusClassifier.cs
  sdk/core/System.ClientModel/src/OutputMessage.cs
  sdk/core/System.ClientModel/src/OutputMessageOfT.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.RequestOptionsProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/KeyCredentialAuthenticationPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.ClientModel/src/ToBeDeleted/PipelineProtocolExtensions.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
Labels: Azure.Core

#40556 Preparing base Storage packages for DM Lib Files beta
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#40565 Suppress erroneous IL2026 warning
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
Labels: KeyVault

#40525 [Storage][DataMovement] Increase default timeout of tests
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TransferValidator.cs
Labels: Storage

#40566 [Storage] [DataMovement] Preparing for DataMovement Release
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
Labels: Storage

#40518 Support TranscriptionUpdated event for call Transcription data
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionUpdated.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionUpdated.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/TranscriptionUpdated.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#40572 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#40555 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#40554 Increment version for communication releases
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: Communication - Chat

#40587 Use more targeted UnconditionalSuppressMessage
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/JsonWebKey.cs
Labels: KeyVault

#40588 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#40589 Update Storage ci.yml to include DM Lib Files
  sdk/storage/ci.yml
Labels: Storage

#40576 ClientModel: Rework Request
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Adapter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/internal/Pipeline/CustomPipelineProcessorTests.cs
Labels: Azure.Core

#40590 ClientModel: Rework ClientRequestException API
  sdk/core/Azure.Core/src/Pipeline/Internal/DefaultRequestFailedDetailsParser.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/tests/FailedResponseExceptionTests.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ClientRequestException.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
Labels: Azure.Core

#40600 [Storage][DataMovement] Prevent `ChannelClosedException` during job part failures
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/CommitChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/DownloadChunkHandler.cs
Labels: Storage

#40615 Sync eng/common directory with azure-sdk-tools for PR 7385
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/scripts/override-proxy-version.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#40345 Update InteractiveBrowserCredential brokered auth docs
  sdk/identity/Azure.Identity.Broker/README.md
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
Labels: Azure.Identity

#40519 Comparison of ClientModel and Azure.Core-based clients and end-user UX
  sdk/core/Azure.Core/tests/common/Azure.Core.Tests.Common.csproj
  sdk/core/Azure.Core/tests/common/TestClients/MapsClient/CountryRegion.cs
  sdk/core/Azure.Core/tests/common/TestClients/MapsClient/IPAddressCountryPair.cs
  sdk/core/Azure.Core/tests/common/TestClients/MapsClient/MapsClient.cs
  sdk/core/Azure.Core/tests/common/TestClients/MapsClient/MapsClientOptions.cs
  sdk/core/Azure.Core/tests/public/MapsClient/MapsClientTests.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
Labels: Azure.Core

#40591 [Azure.Monitor.Query] Rename MetricsQueryResultValuesItem type
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/MetricsBatchRestClient.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricsBatchResult.Serialization.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricsBatchResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricsBatchResultValues.Serialization.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Models/MetricsBatchResultValues.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/MonitorQueryModelFactory.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsBatchQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricsBatchResult.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricsBatchResultValues.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
Labels: Client, Monitor - Query

#40617 [AzureMonitorLiveMetrics] remove factory
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/ManagerFactory.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtensions.cs
Labels: Monitor - LiveMetrics

#40618 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#40636 Fix the Az PowerShell module name
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
Labels: Azure.Identity

#40577 Attribute clients, methods that should be audited
  sdk/core/Azure.Core/src/Shared/CallerShouldAuditAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSettingsClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
Labels: KeyVault, Azure.Core

#40626 Plumb through `.WithCliams` to ConfidentialClient credentials
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientAssertionCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/WorkloadIdentityCredential.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/AuthorizationCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzureIdentityEventSourceTests.cs
  sdk/identity/Azure.Identity/tests/ClientAssertionCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/DeviceCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_ClientCertificateTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_ClientSecretTests.cs
  sdk/identity/Azure.Identity/tests/EnvironmentCredential_UserNamePasswordTests.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/OnBehalfOfCredentialTests.cs
  sdk/identity/Azure.Identity/tests/SharedTokenCacheCredentialTests.cs
  sdk/identity/Azure.Identity/tests/UsernamePasswordCredentialTests.cs
  sdk/identity/Azure.Identity/tests/WorkloadIdentityCredentialTests.cs
Labels: Azure.Identity

#40638 Azure OpenAI: bug fix updates for beta.10
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsJsonResponseFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsResponseFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsTextResponseFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsToolChoice.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsToolChoice.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsJsonResponseFormat.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsJsonResponseFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsNamedFunctionToolSelection.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsNamedFunctionToolSelectionName.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsNamedToolSelection.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsResponseFormat.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsResponseFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsTextResponseFormat.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsTextResponseFormat.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatFunctionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatToolsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/ChatTools.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/LegacyChatFunctions.cs
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: OpenAI

#40644 ClientModel: API Updates
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ClientRequestException.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Options/PipelineMessageClassifier.cs
  sdk/core/System.ClientModel/src/Options/PipelineOptions.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Options/ResponseStatusClassifier.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClientOptions.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/OpenAIClientOptions.cs
Labels: Azure.Core

#40647 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#40548 Add ctor in CallerShouldAuditAttribute class
  sdk/core/Azure.Core/src/Shared/CallerShouldAuditAttribute.cs
Labels: Azure.Core

#40664 ClientModel: API Updates
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/NullableResponseOfT.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Adapter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestContent.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ClientResult.cs
  sdk/core/System.ClientModel/src/ClientResultOfT.cs
  sdk/core/System.ClientModel/src/Message/BinaryContent.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/OptionalClientResultOfT.cs
  sdk/core/System.ClientModel/src/Options/PipelineOptions.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.RequestOptionsProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelinePosition.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.ClientModel/src/ToBeDeleted/PipelineProtocolExtensions.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClientTests.cs
  sdk/core/System.ClientModel/tests/internal/Pipeline/CustomPipelineProcessorTests.cs
Labels: Azure.Core

#40627 ClientModel: Rework MessageHeaders API
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/MessageHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponseHeaders.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
Labels: Azure.Core

#40669 [AzureMonitorLiveMetrics] poc refactor metrics
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Customizations/Models/DocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Customizations/QuickPulseSDKClientAPIsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/LiveMetricConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/LiveMetricsBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/MetricsContainer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsMetricExporter.cs
Labels: Monitor - LiveMetrics

#40602 Update ConfidentialLedgerClient to pass VerifyConnection flag
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/assets.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClientOptions.cs
Labels: Confidential Ledger

#40629 Add an opt-in AOT regression check to the CI pipeline
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/aot-compatibility.yml
  eng/scripts/compatibility/Check-AOT-Compatibility.ps1
  sdk/core/Azure.Core/tests/compatibility/ExpectedAotWarnings.txt
  sdk/core/ci.yml
Labels: Azure.Core

#40635 [Core] Remove netcoreapp2.1 and net5.0 targets
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Pipeline/Internal/RequestActivityPolicy.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs
Labels: Azure.Core

#40646 Add ability to use non Json interface for json format
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriter.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriter/Models/ModelWithPersistableOnlyTests.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ModelWithPersistableOnly.cs
  sdk/core/System.ClientModel/tests/client/System.ClientModel.Tests.Client.csproj
  sdk/core/System.ClientModel/tests/client/TestData/ModelWithPersistableOnly/ModelWithPersistableOnlyWireFormat.json
Labels: Azure.Core

#40705 ClientModel: KeyCredentialAuthenticationPolicy API updates
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Pipeline/KeyCredentialAuthenticationPolicy.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
Labels: Azure.Core

#40706 ClientModel: Remove RequestOptions.Apply
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
Labels: Azure.Core

#40643 Updating README.md file to be consistent with Python
  sdk/translation/Azure.AI.Translation.Document/README.md
  sdk/translation/Azure.AI.Translation.Text/README.md
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/SampleSnippets.cs
Labels: Cognitive - Translator

#40724 Update AutoRest C# version to 3.0.0-beta.20231212.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Generated/tspCodeModel.json
Labels: Communication

#40701 [Event Hubs] Support for local non-TLS
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Core/TransportTypeExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubsConnectionStringProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/ConnectionTypeExtensionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Core/EventHubsConnectionStringPropertiesTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/TransportProducerPoolTests.cs
Labels: Event Hubs, Client

#40699 [Storage] Preparing for Storage WebJobs Extension Release
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#40308 ClientModel: Add Retries to Pipeline
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/DelayStrategy.cs
  sdk/core/Azure.Core/src/ExponentialDelayStrategy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/HttpPipelineTransportPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.AzurePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/RetryOptions.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/MessageDelay.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/RequestRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
Labels: Azure.Core

#40728 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#40710 Azure OpenAI: restore full request message presence of Content, Role
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatRequestMessage.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatRequestUserMessage.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatRequestMessage.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatRequestUserMessage.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatWithVisionTests.cs
Labels: OpenAI

#40729 Rtung/alph3
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/tests/CallDialogs/CallDialogAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationClientAutomatedLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/MuteParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/MuteParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/ConsecutiveDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/ConsecutiveDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DialogOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DialogOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/IdenticalDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/IdenticalDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/StopNonexistingDialogTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/StopNonexistingDialogTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/SubsequentDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/SubsequentDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/continuousDtmfDetectionAndSendDtmfTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/continuousDtmfDetectionAndSendDtmfTestAsync.json
Labels: Communication

#40723 Prepare for fist GA Azure.ResourceManager.ContainerServiceFleet
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/CHANGELOG.md
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/README.md
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Azure.ResourceManager.ContainerServiceFleet.csproj
Labels: Mgmt

#40691 ClientModel: Rework PipelineProcessor
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Internal/AzureCorePipelineEnumerator.cs
  sdk/core/Azure.Core/src/Internal/AzureCorePipelineProcessor.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelinePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ResponseBodyPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.RequestOptionsProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/KeyCredentialAuthenticationPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelinePolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/RequestRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/RequestRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/TestHelpers/PipelineTestHelpers.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
  sdk/core/System.ClientModel/tests/internal/Pipeline/CustomPipelineProcessorTests.cs
Labels: Azure.Core

#40763 [AzureMonitorLiveMetrics] refactor Manager and remove timer
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.State.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - LiveMetrics

#40704 Azure OpenAI: add dedicated streaming tool call type (w/index)
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsFunctionToolCall.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsToolCall.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatRequestAssistantMessage.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/StreamingChatCompletionsUpdate.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/StreamingChatCompletionsUpdate.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/StreamingFunctionToolCallUpdate.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/StreamingFunctionToolCallUpdate.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/StreamingToolCallUpdate.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/StreamingToolCallUpdate.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsToolCall.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatToolsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/ChatTools.cs
Labels: OpenAI

#40767 Use a disposable scope for asserting messages instead of clunky booleans
  sdk/storage/Azure.Storage.Blobs/tests/BlobUriBuilderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/StorageTelemetryTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/AssertMessageContentsPolicy.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
Labels: Storage

#40611 100-continue
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Common/src/ExpectContinueMode.cs
  sdk/storage/Azure.Storage.Common/src/ExpectContinueOptions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ExpectContinueOnThrottlePolicy.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ExpectContinuePolicy.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageClientOptions.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/ExpectContinueTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/RandomExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#40776 ClientModel: API Updates
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Options/PipelineOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/KeyCredentialAuthenticationPolicy.cs
Labels: Azure.Core

#40766 Final naming updates for ModelReaderWriter
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Internal/ModelReaderWriterHelper.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Models/ChildModelXml.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Models/DiscriminatorSet/ModelY.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Models/DiscriminatorSet/UnknownBaseModel.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/Models/ModelXml.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ApiProfile.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/AvailabilitySetData.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ComputeSku.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/InstanceViewStatus.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ProviderExtendedLocation.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ProviderResourceType.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ResourceProviderData.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ResourceTypeAlias.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ResourceTypeAliasPath.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ResourceTypeAliasPathMetadata.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ResourceTypeAliasPattern.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/SystemData.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/WritableSubResource.Serialization.cs
  sdk/core/Azure.Core/tests/common/ModelReaderWriter/ServiceModels/ZoneMapping.Serialization.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/AvailabilitySetDataTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/AvailabilitySetDataTestsWithVMs.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/BaseModelTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/ModelAsStructTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/ModelJsonTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/ModelReaderWriterHelper.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/ModelTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/ModelXDeserializationProxyTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/ModelXmlCrossLibraryTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/ModelXmlTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/Animal.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/CatReadOnlyProperty.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/ChildModelXmlOnly.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/DogListProperty.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/Envelope.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/JsonModelForCombinedInterface.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/ModelXmlCrossLibrary.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/ModelXmlOnly.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/Models/XmlModelForCombinedInterface.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/RoundTripStrategy.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/UsingJsonSerializerTests.cs
  sdk/core/Azure.Core/tests/public/ModelReaderWriterTests/VerifyModels.cs
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/README.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/JsonModelConverter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriterOptions.cs
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
  sdk/core/System.ClientModel/tests/ModelReaderWriter/ModelJsonConverterTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriter/Models/ModelJsonTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriter/Models/ModelXDeserializationProxyTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriter/Models/RoundTripStrategy.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ReaderWriterTestSource.cs
  sdk/core/System.ClientModel/tests/internal.perf/ModelReaderWriter/JsonModelBenchmark.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/JsonModelConverterTests.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/ModelReaderWriterOptionsTests.cs
Labels: Azure.Core

#40787 fix compilation
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
Labels: Storage

#40769 Update newtonsoft reference for track2
  eng/Packages.Data.props
  sdk/core/Azure.Core/tests/public/Azure.Core.Tests.Public.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/api/Microsoft.Azure.Core.NewtonsoftJson.netstandard2.0.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/NewtonsoftJsonETagConverter.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/NewtonsoftJsonObjectSerializer.cs
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/Microsoft.Azure.Core.NewtonsoftJson.Tests.csproj
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/tests/NewtonsoftJsonObjectSerializerTest.cs
Labels: Azure.Core

#40788 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#40764 Azure OpenAI: correct CompletionsOptions DeploymentName setting
  sdk/openai/Azure.AI.OpenAI/src/Custom/CompletionsOptions.cs
Labels: OpenAI

#40790 Increment version for core releases
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.NewtonsoftJson/src/Microsoft.Azure.Core.NewtonsoftJson.csproj
Labels: Azure.Core

#40793 ClientModel: Add tests for ClientModel types
  sdk/core/System.ClientModel/tests/Message/PipelineMessageTests.cs
  sdk/core/System.ClientModel/tests/Options/RequestOptionsTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/MessageDelayTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/RequestRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/Result/ClientResultTests.cs
  sdk/core/System.ClientModel/tests/System.ClientModel.Tests.csproj
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockClientResult.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockErrorResult.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockJsonModel.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageClassifier.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageDelay.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockOptionalClientResult.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPersistableModel.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineRequest.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservablePolicy.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/RetriableTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/SyncAsyncTestBase.cs
Labels: Azure.Core

#40674 [Azure OpenAI] Revamp customizations in the audio API
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTaskLabel.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranscription.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranscription.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranscriptionFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranscriptionOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranscriptionOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranslation.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranslation.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranslationFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranslationOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AudioTranslationOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranscriptionFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AudioTranslationFormat.cs
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: OpenAI

#40697 [Azure OpenAI] Revamp customizations
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/StreamingChatCompletionsUpdate.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Choice.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Completions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/CompletionsFinishReason.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/CompletionsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/CompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/EmbeddingItem.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/EmbeddingsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ImageGenerationOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ImageGenerationResponseFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/Completions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/CompletionsFinishReason.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/CompletionsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/CompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingsOptions.cs
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: OpenAI

#40815 Azure OpenAI: changelog.md update for beta.12 release
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: OpenAI

#40809 ClientModel: Add tests for ClientModel types
  sdk/core/System.ClientModel/src/Convenience/ClientRequestException.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResult.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultOfT.cs
  sdk/core/System.ClientModel/src/Convenience/KeyCredential.cs
  sdk/core/System.ClientModel/src/Convenience/OptionalClientResultOfT.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientResultTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/MessageDelayTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/RequestRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/AsyncGateMessageDelay.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageClassifier.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageDelay.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRetryPolicy.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/RetriableTransport.cs
Labels: Azure.Core

#40818 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#40604 [OperationalInsights] Fix the deserialization issue caused by the outdated Swagger version
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/CHANGELOG.md
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/api/Azure.ResourceManager.OperationalInsights.netstandard2.0.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/assets.json
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Custom/ArmOperationalInsightsModelFactory.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Custom/Models/RetentionInDaysAsDefaultState.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Custom/Models/TotalRetentionInDaysAsDefaultState.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Custom/OperationalInsightsTableData.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Generated/ArmOperationalInsightsModelFactory.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Generated/Models/OperationalInsightsTableData.Serialization.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Generated/Models/OperationalInsightsTableProvisioningState.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Generated/OperationalInsightsTableData.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/autorest.md
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/tests/OperationalInsightsManagementTestBase.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/tests/Scenario/OperationalInsightsTableTests.cs
Labels: Mgmt

#40811 [AzureMonitorLiveMetrics] poc implement backoff
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.State.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/State.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - LiveMetrics

#40784 Autorest Regen Preview to 3.0.0-alpha.20231214.1 by Mingzhe Huang from refs/pull/4022/head
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  eng/scripts/CodeChecks.ps1
  sdk/anomalydetector/Azure.AI.AnomalyDetector/README.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/api/Azure.AI.AnomalyDetector.netstandard2.0.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/samples/Sample1_DetectEntireSeriesAnomaly.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/samples/Sample2_DetectLastPointAnomaly.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/samples/Sample3_DetectChangePoint.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/samples/Sample4_MultivariateDetect.md
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/AnomalyDetectorClient.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Docs/Multivariate.xml
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Docs/Univariate.xml
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Multivariate.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Univariate.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/AnomalyDetectorClient/AnomalyDetectorClientLiveTests.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/Generated/Samples/Samples_Multivariate.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/Generated/Samples/Samples_Univariate.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/samples/Sample1_DetectEntireSeriesAnomaly.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/samples/Sample2_DetectLastPointAnomaly.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/samples/Sample3_DetectChangePoint.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/samples/Sample4_MultivariateDetect.cs
  sdk/devcenter/Azure.Developer.DevCenter/api/Azure.Developer.DevCenter.netstandard2.0.cs
  sdk/devcenter/Azure.Developer.DevCenter/src/Generated/DeploymentEnvironmentsClient.cs
  sdk/devcenter/Azure.Developer.DevCenter/src/Generated/DevBoxesClient.cs
  sdk/devcenter/Azure.Developer.DevCenter/src/Generated/Docs/DevBoxesClient.xml
  sdk/devcenter/Azure.Developer.DevCenter/tests/DevBoxClientTests.cs
  sdk/devcenter/Azure.Developer.DevCenter/tests/Generated/Samples/Samples_DevBoxesClient.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/README.md
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/api/Azure.Health.Insights.CancerProfiling.netstandard2.0.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/samples/Sample01_InferCancerProfile.md
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/samples/Sample01_InferCancerProfileAsync.md
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/CancerProfilingClient.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/Docs/CancerProfilingClient.xml
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/HealthInsightsCancerProfilingModelFactory.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/JobStatus.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypeResult.Serialization.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/OncoPhenotypeResult.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/CancerProfilingClientLiveTests.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/Generated/Samples/Samples_CancerProfilingClient.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/Samples/Sample01_InferCancerProfile.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/Samples/Sample01_InferCancerProfileAsync.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tsp-location.yaml
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/README.md
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/api/Azure.Health.Insights.ClinicalMatching.netstandard2.0.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/samples/Sample01_MatchTrials.md
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/samples/Sample01_MatchTrialsAsync.md
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalMatchingClient.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/Docs/ClinicalMatchingClient.xml
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/HealthInsightsClinicalMatchingModelFactory.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/JobStatus.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherResult.Serialization.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/TrialMatcherResult.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/ClinicalMatchingClientLiveTests.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/Generated/Samples/Samples_ClinicalMatchingClient.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/Samples/Sample01_MatchTrials.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/Samples/Sample01_MatchTrialsAsync.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tsp-location.yaml
Labels: Do Not Merge, DevCenter

#40746 refine customize code for `Azure.Communication.JobRouter`
  sdk/communication/Azure.Communication.JobRouter/api/Azure.Communication.JobRouter.netstandard2.0.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/ClassificationPolicy.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/ClassificationPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/DistributionPolicy.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/DistributionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterModelFactory.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/PassThroughWorkerSelectorAttachment.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/PassThroughWorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterJob.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterJobPositionDetails.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterJobPositionDetails.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterQueueStatistics.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterQueueStatistics.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterWorker.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterWorker.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterWorkerSelector.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterWorkerSelector.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/WaitTimeExceptionTrigger.Serialization.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/WaitTimeExceptionTrigger.cs
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterClientBuilderExtensions.cs
  sdk/communication/Azure.Communication.JobRouter/src/JobRouterClientOptions.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/ClassificationPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/DistributionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/PassThroughWorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJobPositionDetails.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterQueueStatistics.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterWorker.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterWorkerSelector.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/WaitTimeExceptionTrigger.cs
Labels: Communication

#40861 [Azure.Monitor.Query] Update docs to get namespaces
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryOptions.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
Labels: Client, Monitor - Query

#40851 [DocumentIntelligence] Updated CHANGELOG and added migration guide
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Assets/Form_1.jpg
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Azure.AI.DocumentIntelligence.Tests.csproj
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceTestEnvironment.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleAnalyzeWithPrebuiltModelWithBase64.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleSnippets.cs
Labels: Client, Cognitive - Form Recognizer

#40869 Fix exponential delay behavior
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/DelayStrategy.cs
  sdk/core/Azure.Core/src/ExponentialDelayStrategy.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/tests/ExponentialDelayStrategyTests.cs
Labels: Azure.Core

#40891 Update AutoRest C# version to 3.0.0-beta.20231225.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Generated/tspCodeModel.json
Labels: Communication

#40870 [Schema Registry] Small README updates.
  sdk/schemaregistry/Azure.Data.SchemaRegistry/README.md
Labels: Schema Registry

#40902 prepare release for Azure.ResourceManager.DataProtectionBackup
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: Mgmt

#40918 Update AutoRest C# version to 3.0.0-beta.20231228.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Generated/tspCodeModel.json
Labels: Communication

#40916 Correct TimeToLive calculation to use AbsoluteExpiryTime
  sdk/core/Azure.Core.Amqp/CHANGELOG.md
  sdk/core/Azure.Core.Amqp/src/Properties/AssemblyInfo.cs
  sdk/core/Azure.Core.Amqp/src/Shared/AmqpAnnotatedMessageConverter.cs
  sdk/core/Azure.Core.Amqp/tests/AmqpAnnotatedMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageConverter.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
Labels: Service Bus, Azure.Core

#40930 Add samples demonstrating session state cleanup when using processor
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
  sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide_WindowsAzureServiceBus.md
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample05_SessionProcessor.md
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Samples/Sample05_SessionProcessor.cs
Labels: Service Bus
