Repository Azure/azure-sdk-for-net, pull requests merged in 2024-02, with the labels that each got.

#41523 [LiveMetricsExporter] Add Filtering Support part 1 - Take in filter parameters
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Customizations/QuickPulseSDKClientAPIsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/QuickPulseResponse.cs
Labels: Monitor - LiveMetrics

#41687 Rename profiling.session to profile_id_experimental
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/Profiling/ProfilingSessionTraceProcessor.cs
Labels: customer-reported, Community Contribution, Monitor - Distro

#41695 OpenAI: CHANGELOG updates for pending beta releases
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
Labels: OpenAI

#41704 Prep Azure.Identity and Azure.Identity.Broker for release
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#41714 Azure OpenAI Assistants: CI (yaml) update for pipeline artifact
  sdk/openai/ci.yml
Labels: OpenAI

#41715 [AzureMonitorExporter] small refactor
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonListExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/OperationType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataTests.cs
Labels: Monitor - Exporter

#41691 Preparation for release of System.ClientModel v1.1.0-beta.1
  sdk/core/System.ClientModel/CHANGELOG.md
Labels: Azure.Core

#41688 Update Credential property so that it can be used outside of test
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#41716 [LiveMetricsExporter] refactor
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DocumentBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DocumentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - LiveMetrics

#41732 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#41734 Don't use authority host from recording when there is no recording
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#41729 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Azure.AI.OpenAI.Assistants.csproj
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#41722 Add TeamsComplianceRecordingStateChange to Beta3
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TeamsComplianceRecordingStateChanged.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TeamsComplianceRecordingStateChanged.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/TeamsComplianceRecordingStateChanged.cs
Labels: Communication

#41740 Fix Storage Blobs ChangeFeed Readme Issue
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/README.md
Labels: Storage

#41753 Sync eng/common directory with azure-sdk-tools for PR 7623
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#41761 [AzureMonitorExporter] Fix Duplicate Timestamps in OTELRESOURCE Metrics
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorResource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceExtensionsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
Labels: Monitor - Exporter

#41757 Renames StartDialog to StartDialogOptions
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallDialog.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartDialogOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallDialogs/CallDialogAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallDialogs/CallDialogTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
Labels: Communication

#41770 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication - Phone Numbers

#41778 Update AutoRest C# version to 3.0.0-beta.20240203.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Models/DistributionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/PassThroughWorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterJobPositionDetails.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterQueueStatistics.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/RouterWorkerSelector.cs
  sdk/communication/Azure.Communication.JobRouter/src/Models/WaitTimeExceptionTrigger.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/ComputeResourceSkuLocationInfo.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Custom/ContainerAppJobExecutionData.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Generated/ContainerAppJobExecutionData.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Custom/Models/MongoDBRoleDefinitionData.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Custom/Models/CostManagementAlertData.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Custom/Models/CostManagementDimension.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Custom/Models/CostManagementExportData.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Custom/Models/CostManagementViewData.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Custom/Models/ForecastResult.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Custom/Models/QueryResult.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/CostManagementAlertData.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/CostManagementDimension.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/CostManagementExportData.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/CostManagementViewData.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/ForecastResult.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/Generated/Models/QueryResult.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJob.Serialization.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Customized/Models/ImportJob.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Models/ImportJob.Serialization.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Custom/Models/MaintenanceConfigurationData.Serialization.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Custom/Models/MaintenanceConfigurationData.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/src/Generated/MaintenanceConfigurationData.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/OpenAIFile.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/RunStep.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/ThreadRun.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/OpenAIFile.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/RunStep.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/ThreadRun.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatRequestUserMessage.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/CompletionsOptions.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Customization/Models/RedisCommonConfiguration.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCommonConfiguration.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Custom/Models/LocationMetadata.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Custom/Models/SecurityAssessmentMetadataData..cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Custom/Models/SecurityAssessmentMetadataData.Serialization.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Generated/SecurityAssessmentMetadataData.cs
Labels: Digital Twins, Communication, OpenAI

#41769 [Event Hubs] Processor cancellation bug fix
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
Labels: Event Hubs, Client

#41684 Structured Message Encoding
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessage.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessageEncodingStream.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/ExpectContinueTests.cs
  sdk/storage/Azure.Storage.Common/tests/StructuredMessageEncodingStreamTests.cs
  sdk/storage/Azure.Storage.Common/tests/StructuredMessageTests.cs
Labels: Storage

#41762 ClientModel: Small API Updates
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/BinaryContent.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
Labels: Azure.Core

#41730 Support MaxMessageBatchSize on trigger
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.net6.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/api/Microsoft.Azure.WebJobs.Extensions.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/ServiceBusTriggerAttribute.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Triggers/ServiceBusTriggerAttributeBindingProvider.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Bindings/ServiceBusTriggerAttributeBindingProviderTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusListenerTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Listeners/ServiceBusScaleMonitorTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ServiceBusEndToEndTests.cs
Labels: Service Bus, Functions

#41694 [Search] Add a sample to show case how to use SessionId to create sticky sessions
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingSemanticHybridQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizableTextQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizedQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample09_QuerySession.md
  sdk/search/Azure.Search.Documents/src/Models/SearchResult.cs
  sdk/search/Azure.Search.Documents/src/Models/SearchResults.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearchCommons.cs
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchResources.cs
Labels: Search

#41792 OpenAI Assistants: changelog update for tiny beta.2 release
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
Labels: OpenAI

#41662 [Core] Annotate TokenCredential for auditing
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/TokenCredential.cs
Labels: Client, Azure.Core

#41797 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#41768 Sync eng/common directory with azure-sdk-tools for PR 7629
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#41803 {AzureMonitorDistro] Added Azure Container Apps resource detector.
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureContainerAppsResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetaDataRequestor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/ResourceAttributeConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ResourceSemanticConventions.cs
Labels: Monitor - Distro

#41790 Sync eng/common directory with azure-sdk-tools for PR 7634
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#41796 Sync eng/common directory with azure-sdk-tools for PR 7630
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#41799 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Azure.AI.OpenAI.Assistants.csproj
Labels: OpenAI

#41791 Increment version for confidentialledger releases
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
Labels: Confidential Ledger

#41812 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#41813 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#41696 [Azure.Monitor.Query]Update test-resources.bicep
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/assets.json
  sdk/monitor/Azure.Monitor.Query/src/MetricsBatchQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsBatchQueryClientOptions.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsTestData.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
  sdk/monitor/test-resources.bicep
Labels: Client, Monitor - Query

#41737 [LiveMetricsExporter] Add Filtering Support part 2 - Parse the Query parameters and store the compiled Filters and Projections
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Customizations/Models/CollectionConfigurationError.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/CollectionConfiguration.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/DerivedMetric.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/Filter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/FilterConjunctionGroup.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/FilterInfoPredicateUtility.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/Predicate.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/TelemetryType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
Labels: Monitor - LiveMetrics

#41819 [Messaging] Loosen constructor validation
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnection.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Constructor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusAdministrationClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Client/ServiceBusClientTests.cs
Labels: Service Bus, Event Hubs, Client

#41750 [Service Bus] Emulator connection string support
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Core/TransportTypeExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnection.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusConnectionStringProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpClientTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestUtilities.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Primitives/ServiceBusConnectionStringPropertiesTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Primitives/ServiceBusConnectionTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/ProcessorTests.cs
Labels: Service Bus, Client

#41767 [AzureMonitorExporter] add extra properties to Exception
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/TelemetryExceptionData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TraceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemOutputHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemValidationHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/TracesTests.cs
Labels: Monitor - Exporter

#41795 Azure.Core: Add benchmark for creating and sending a message using HttpPipeline
  sdk/core/Azure.Core/perf/PipelineBenchmark.cs
Labels: Azure.Core

#41820 [LiveMetricsExporter] Add Filtering Support part 2.1 - unit tests for part 2
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Customizations/Models/FilterInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/DerivedMetricTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/DocumentMock.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/FilterConjunctionGroupTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/FilterTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/ListUtility.cs
Labels: Monitor - LiveMetrics

#41816 Add ExtractResponse method to Azure.Core's HttpMessage in Azure.Core/ClientModel integration branch
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/tests/HttpMessageTests.cs
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/tests/Message/PipelineMessageTests.cs
Labels: Azure.Core

#41834 Don't drain from session processor as it is not necessary for FIFO
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Service Bus

#41764 System.ClientModel: Provide APIs for message types to transfer dispose ownership of response
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/tests/Message/PipelineMessageTests.cs
Labels: Azure.Core

#41841 [LiveMetricsExporter] Add Filtering Support part 3 - prep for Apply the Filters and Projections
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/AccumulatedValues.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/AggregationType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/AccumulatedValuesTest.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/ArrayHelpers.cs
Labels: Monitor - LiveMetrics

#41501 [LiveMetrics] implement document details
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DocumentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/DocumentTests/DocumentTestBase.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/DocumentTests/HttpClientDependecyTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/DocumentTests/RequestTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/DocumentTests/SqlClientDependencyTests.cs
Labels: Monitor - LiveMetrics

#41837 prep Exporter and LiveMetrics for beta release
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
Labels: Monitor - Exporter, Monitor - LiveMetrics

#41825 [CODEOWNERS] Core update
  .github/CODEOWNERS
Labels: Client, EngSys

#41835 [Core] Add missing regions to AzureLocation
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/AzureLocation.cs
  sdk/core/Azure.Core/tests/ResourceIdentifierTests.cs
Labels: Client, Azure.Core

#41844 Azure OpenAI: remove SseReader's use of subtly blocking StreamReader.EndOfStream
  sdk/openai/Azure.AI.OpenAI/OpenAIInferenceModelFactoryTests.cs
  sdk/openai/Azure.AI.OpenAI/src/Helpers/SseReader.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatCompletionsTests.cs
Labels: OpenAI

#41829 [Event Hubs] UpdateCheckpointAsync API tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Primitives/BlobCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/BlobCheckpointStoreInternalDiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Primitives/BlobCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/InMemoryCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/InMemoryCheckpointStoreTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/CheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PluggableCheckpointStoreEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PluggableCheckpointStoreEventProcessorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Processor/CheckpointPositionTests.cs
Labels: Event Hubs

#41849 [CODEOWNERS] Rule for repository config
  .github/CODEOWNERS
Labels: Client, EngSys

#41852 [AzureMonitorExporter] clarifying statement in changelog
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#41860 Sync .github/workflows directory with azure-sdk-tools for PR 7656
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#41861 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#41858 suppress livemetrics service from being instrumented
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.State.cs
Labels: Monitor - LiveMetrics

#41865 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
Labels: Monitor - LiveMetrics

#39755 Add missing token credentials for ShareServiceClient when configured using dependency injection
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientBuilderExtensions.cs
Labels: Storage, customer-reported, Community Contribution

#41871 [Event Hubs Extensions] Fix `CheckpointPosition` constructor in test
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
Labels: Event Hubs, Functions

#41872 [AzureMonitorDistro] Add LiveMetrics
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/api/Azure.Monitor.OpenTelemetry.AspNetCore.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/ProfilingSessionTests.cs
Labels: Monitor - Distro

#41665 Add log filtering processor distro
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorAspNetCoreEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LogFilteringProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2EAzureMonitorDistroTests.cs
Labels: Monitor - Distro

#41878 disable live metrics perf counters
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/ProfilingSessionTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
Labels: Monitor - Distro, Monitor - LiveMetrics

#41877 Document using default OS account with WAM
  sdk/identity/Azure.Identity.Broker/README.md
  sdk/identity/Azure.Identity.Broker/tests/Azure.Identity.Broker.Tests.csproj
  sdk/identity/Azure.Identity.Broker/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#41879 prep LiveMetrics beta2
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
Labels: Monitor - LiveMetrics

#41881 Sync eng/common directory with azure-sdk-tools for PR 7664
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#41883 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
Labels: Monitor - LiveMetrics

#41882 prep azure monitor distro for beta
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#41889 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#41850 [CODEOWNERS] Use Azure.Core team
  .github/CODEOWNERS
Labels: Client, EngSys

#41902 [.NET] Communication Common | Microsoft Teams App Identifier feature GA release updates
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
Labels: Communication, Communication - Common

#41904 [Event Hubs] Release Prep: Feb 2024
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#41891 Avoid race condition when making checkpointing decision
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.PartitionProcessor.cs
Labels: Event Hubs, Functions

#41896 Add feb system events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatThreadCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterDeletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterDeletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterFailedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterFailedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterUpdatingEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsClusterUpdatingEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudFailedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudFailedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudUpdatingEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsPrivateCloudUpdatingEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionCancelledEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionCancelledEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionFailedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionFailedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionFinishedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionFinishedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionStartedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AvsScriptExecutionStartedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskAssignmentCompletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskAssignmentCompletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskAssignmentCompletedStatus.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskAssignmentQueuedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageTaskAssignmentQueuedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#41908 Fix typo in Azure.Core ClientOptions.cs comments. Fix typo and use `Entra ID` term in Azure.AI.OpenAI readme.
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/openai/Azure.AI.OpenAI/README.md
Labels: Azure.Core, OpenAI

#41887 Update System.IdentityModel.Tokens.Jwt
  eng/Packages.Data.props
Labels: KeyVault

#41890 Update Key Vault for API version 7.5
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/BackupRestoreRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleAssignmentsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleDefinitionsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/SettingsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.SecureKeyRelease.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmCryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/api/Azure.Security.KeyVault.Secrets.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
Labels: KeyVault

#41909 Change channel id of GetTemplates operation to GUID
  sdk/communication/Azure.Communication.Messages/CHANGELOG.md
  sdk/communication/Azure.Communication.Messages/api/Azure.Communication.Messages.netstandard2.0.cs
  sdk/communication/Azure.Communication.Messages/src/Azure.Communication.Messages.csproj
  sdk/communication/Azure.Communication.Messages/src/Generated/Docs/MessageTemplateClient.xml
  sdk/communication/Azure.Communication.Messages/src/Generated/MessageTemplateClient.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/tspCodeModel.json
  sdk/communication/Azure.Communication.Messages/tests/Generated/Samples/Samples_MessageTemplateClient.cs
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesWithAzureKeyCredentialShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesWithAzureKeyCredentialShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/TemplateClient/MessageTemplateClientLiveTests.cs
  sdk/communication/Azure.Communication.Messages/tests/TemplateClient/MessageTemplateClientTests.cs
  sdk/communication/Azure.Communication.Messages/tsp-location.yaml
Labels: Communication

#41924 Increment version for communication releases
  sdk/communication/Azure.Communication.Common/CHANGELOG.md
  sdk/communication/Azure.Communication.Common/src/Azure.Communication.Common.csproj
Labels: Communication - Common

#41927 [.NET] Communication Common | Microsoft Teams App Identifier feature GA Post-release updates
  eng/Packages.Data.props
Labels: Communication, Communication - Common

#41906 Update troubleshooting doc for AADSTS65002 errors
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity, Docs

#41931 STG 93 changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#41911 [Event Hubs] Fix backwards compatibility with new vs old SDK checkpointing
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobCheckpointStoreInternal.Diagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/BlobEventStoreEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/BlobCheckpointStoreInternalDiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/BlobsCheckpointStoreInternal.Diagnostics.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Infrastructure/IBlobEventLogger.cs
Labels: Event Hubs

#41921 Pass linked token to trigger execution
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.PartitionProcessor.cs
Labels: Event Hubs, Functions

#41772 ClientModel: Move buffering into the transport
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultException.cs
  sdk/core/System.ClientModel/src/Internal/CancellationHelper.cs
  sdk/core/System.ClientModel/src/Internal/ReadTimeoutStream.cs
  sdk/core/System.ClientModel/src/Internal/StreamExtensions.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientRequestExceptionTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
Labels: Azure.Core

#41907 Core 2.0 Prototype: Merge "move buffering" and "response.Content" to a single PR
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Internal/AzureBaseBuffersExtensions.cs
  sdk/core/Azure.Core/src/Pipeline/DisposableHttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.Adapter.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/HttpPipelineTransportPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/LoggingPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ResponseBodyPolicy.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/Azure.Core/src/RetryOptions.cs
  sdk/core/Azure.Core/src/Shared/CancellationHelper.cs
  sdk/core/Azure.Core/tests/DisposableHttpPipelineTests.cs
  sdk/core/Azure.Core/tests/EventSourceTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/ResponseBodyPolicyTests.cs
  sdk/core/Azure.Core/tests/ResponseBufferingTests.cs
  sdk/core/Azure.Core/tests/RetriableStreamTests.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultException.cs
  sdk/core/System.ClientModel/src/Internal/CancellationHelper.cs
  sdk/core/System.ClientModel/src/Internal/ReadTimeoutStream.cs
  sdk/core/System.ClientModel/src/Internal/StreamExtensions.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientRequestExceptionTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
  sdk/core/System.ClientModel/tests/nullableenabledclient/MapsClientTests.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsFailedDetailsParser.cs
Labels: Azure.Core

#41939 [Azure.Communication.Messages] Migrate Session Recordings to the Assets Repo
  sdk/communication/Azure.Communication.Messages/assets.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesWithAzureKeyCredentialShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/MessageTemplateClientLiveTests/GetTemplatesWithAzureKeyCredentialShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMediaToFilePath_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMediaToFilePath_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMediaToStream_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMediaToStream_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMedia_InvalidMediaContentId_ShouldFail.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMedia_InvalidMediaContentId_ShouldFailAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMedia_NullOrEmptyMediaContentId_ShouldFail.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMedia_NullOrEmptyMediaContentId_ShouldFailAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMedia_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/DownloadMedia_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendFlightConfirmationTemplateMessage_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendFlightConfirmationTemplateMessage_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendHappyHourAnnocementTemplateMessage_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendHappyHourAnnocementTemplateMessage_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendIssueResolutionTemplateMessage_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendIssueResolutionTemplateMessage_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendMovieTicketConfirmationTemplateMessage_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendMovieTicketConfirmationTemplateMessage_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendPurchaseFeedbackTemplateMessage_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendPurchaseFeedbackTemplateMessage_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendShippingConfirmationTemplateMessage_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendShippingConfirmationTemplateMessage_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendSuperLongTextMessage_ShouldFail.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendSuperLongTextMessage_ShouldFailAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTemplateMessage_WithInvalidTemplate_ShouldFail.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTemplateMessage_WithInvalidTemplate_ShouldFailAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextMessage_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextMessage_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextMessage_WithAzureKeyCredential_ShouldSucceed.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextMessage_WithAzureKeyCredential_ShouldSucceedAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextMessage_WithEmptyContent_ShouldFail.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextMessage_WithEmptyContent_ShouldFailAsync.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextNessage_WithInvalidRecipient_ShouldFail.json
  sdk/communication/Azure.Communication.Messages/tests/SessionRecords/NotificationMessagesClientLiveTests/SendTextNessage_WithInvalidRecipient_ShouldFailAsync.json
Labels: Communication

#41905 [Event Hubs] Processor Release Prep: Feb 2024
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Client

#41951 [Event Hubs] Resolve reference issue for release
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Azure.Messaging.EventHubs.Stress.csproj
Labels: Event Hubs, Client

#41910 Handle error when pwsh does not exist language agnostic
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/ProcessRunner.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
Labels: Azure.Identity

#41942 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#41920 Fix for drain when prefetch is enabled
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/SessionReceiverLiveTests.cs
Labels: Service Bus

#41948 Sync eng/common directory with azure-sdk-tools for PR 7665
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#41943 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#41965 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#41964 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#41970 Prepare for release
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#41798 Update the dependencies to resolve vulnerabilities.
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/Microsoft.Azure.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Azure.MixedReality.ObjectAnchors.Conversion.csproj
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/CHANGELOG.md
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Azure.MixedReality.RemoteRendering.csproj
  sdk/servicebus/Microsoft.Azure.ServiceBus/src/Microsoft.Azure.ServiceBus.csproj
Labels: Mixed Reality

#41966 [Event Hubs] Post-release fixes
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Azure.Messaging.EventHubs.Stress.csproj
Labels: Event Hubs, Client

#41936 [Extensions] Add AOT compatibility attributes to Microsoft.Extensions.Azure
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/src/Extensions/IAzureClientFactoryBuilder.cs
  sdk/core/Azure.Core/src/Extensions/IAzureClientFactoryBuilderWithConfiguration.cs
  sdk/core/Azure.Core/src/Extensions/IAzureClientFactoryBuilderWithCredential.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/AzureClientBuilderExtensions.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/AzureClientFactoryBuilder.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/AzureComponentFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/AzureClientFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/AzureComponentFactoryImpl.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientOptionsFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientOptionsMonitor.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
  sdk/extensions/Microsoft.Extensions.Azure/tests/compatibility/ExpectedAotWarnings.txt
  sdk/extensions/ci.yml
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/identity/Azure.Identity/tests/compatibility/ExpectedAotWarnings.txt
  sdk/identity/ci.yml
Labels: Azure.Core, Azure.Identity

#41988 Make output API match on type and add lambda support
  sdk/provisioning/Azure.Provisioning/api/Azure.Provisioning.net6.0.cs
  sdk/provisioning/Azure.Provisioning/api/Azure.Provisioning.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning/src/Resource.cs
  sdk/provisioning/Azure.Provisioning/src/ResourceOfT.cs
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/StorageBlobDefaults/main.bicep
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/StorageBlobDropDown/main.bicep
  sdk/provisioning/Azure.Provisioning/tests/ProvisioningTests.cs
  sdk/provisioning/Azure.Provisioning/tests/TestFrontEndWebSite.cs
Labels: Client, CDK

#41967 [Analyzers] Adding additional approved namespaces
  eng/Packages.Data.props
Labels: Client, EngSys

#41839 ClientModel: Make ClientRetryPolicy.Default a property instead of a field
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
Labels: Azure.Core

#41998 Fix spelling mistakes.
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Custom/ImageAnalysisClient.cs
Labels: Image Analysis

#41919 Throw RequestFailedException for failed backup/restore
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperationInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/BackupOperationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
Labels: KeyVault

#42003 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#42002 Increment version for vision releases
  sdk/vision/Azure.AI.Vision.ImageAnalysis/CHANGELOG.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Azure.AI.Vision.ImageAnalysis.csproj
Labels: Image Analysis

#41973 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#42004 [Storage] Fix for bug on Rename where a SAS appended to the sourceUri, does not get passed to a Destination that has no credentials.
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#42011 Correct unit mismatch in backoff calculation
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/AzureBlobXmlRepository.cs
Labels: customer-reported, Community Contribution

#41950 Add Call Failed events
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/AnswerCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/CreateCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerFailedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnectionPropertiesInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallFailedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/AnswerFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/AnswerFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CreateCallFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CreateCallFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#42031 Sync .github/workflows directory with azure-sdk-tools for PR 7703
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42010 ClientModel: PipelineRequest and PipelineResponse API updates
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultException.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineRequest.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
Labels: Azure.Core

#42032 Sync eng/common directory with azure-sdk-tools for PR 7704
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#42020 ClientModel: Get test coverage parity with Azure.Core
  sdk/core/System.ClientModel/src/Message/ArrayBackedRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/HttpClientResponseHeaders.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/tests/Options/PipelineMessageClassifierTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/HttpClientPipelineTransportTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
Labels: Azure.Core

#42001 Core2: API changes to address newslot properties
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/tests/Pipeline/HttpClientPipelineTransportTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
Labels: Azure.Core

#42046 ClientModel: Fix build break caused by merge conflict
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/tests/Pipeline/HttpClientPipelineTransportTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
Labels: Azure.Core

#41741 Fix Communication CallAutomation README Issue
  sdk/communication/Azure.Communication.CallAutomation/README.md
Labels: Communication

#41655 Add GetRehydrationtoken for rehydration purpose
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Operation.cs
  sdk/core/Azure.Core/src/RehydrationToken.Serialization.cs
  sdk/core/Azure.Core/src/RehydrationToken.cs
  sdk/core/Azure.Core/tests/RehydrationTokenTests.cs
Labels: Azure.Core

#42079 Structured Message Decode Stream
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessage.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessageDecodingStream.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Common/tests/StructuredMessageDecodingStreamTests.cs
  sdk/storage/Azure.Storage.Common/tests/StructuredMessageHelper.cs
Labels: Storage

#42119 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication - Phone Numbers

#42145 [System.ClientModel] Add implicit cast to `ApiKeyCredential` from `string`
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ApiKeyCredential.cs
  sdk/core/System.ClientModel/tests/Pipeline/ApiKeyAuthenticationPolicyTests.cs
Labels: Azure.Core

#41700 Fix Communication JobRouter Samples Issue
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/ExceptionPolicyCrudOps.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/ExceptionPolicyCrudOpsAsync.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterWorkerCrudOps.cs
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/RouterWorkerCrudOpsAsync.cs
Labels: Communication

#41743 Fix Communication Communication Chat README Issue
  sdk/communication/Azure.Communication.Chat/README.md
Labels: Communication - Chat

#42138 [DocumentIntelligence] Updated tspconfig to target the main branch
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DeserializationHelpers.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentClassifierDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentModelDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AIDocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/Docs/DocumentIntelligenceAdministrationClient.xml
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentClassifierDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentModelDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/OperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Generated/Samples/Samples_DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tsp-location.yaml
Labels: Client, Cognitive - Form Recognizer

#42168 Sync .github/workflows directory with azure-sdk-tools for PR 7742
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42171 [AzureMonitorExporter] fix eventsource name spam in debug console
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventListener.cs
Labels: Monitor - Exporter

#42167 [System.ClientModel] Add implicit cast to `T` from `ClientResult<T>`
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultOfT.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientResultTests.cs
Labels: Azure.Core

#42116 Add Keywords to ProfilingSessionEventSource
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/Profiling/ProfilingSessionEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/Profiling/ProfilingSessionTraceProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/ProfilingSessionTests.cs
Labels: customer-reported, Community Contribution, Monitor - Distro

#42185 Fix typo in resource manager readme
  sdk/resourcemanager/Azure.ResourceManager/README.md
Labels: customer-reported, Community Contribution

#42184 Support DataFactoryElement of IDictionary<string, BinaryData>
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryElementJsonConverter.cs
  sdk/core/Azure.Core.Expressions.DataFactory/tests/DataFactoryElementTests.cs
Labels: Azure.Core

#42196 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#41997 [AzureMonitorDistro] Update ReadMe - What is Included / Live Metrics
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
Labels: Monitor - Distro

#42197 [EngSys] Package Updates
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
Labels: Client, EngSys

#42028 ClientModel: Add refdoc comments to public APIs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ApiKeyCredential.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResult.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultException.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultOfT.cs
  sdk/core/System.ClientModel/src/Internal/CancellationHelper.cs
  sdk/core/System.ClientModel/src/Message/BinaryContent.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponseHeaders.cs
  sdk/core/System.ClientModel/src/Options/ClientPipelineOptions.cs
  sdk/core/System.ClientModel/src/Options/PipelineMessageClassifier.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ApiKeyAuthenticationPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelinePolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelinePosition.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
  sdk/core/System.ClientModel/tests/internal/Internal/ReadTimeoutStreamTests.cs
Labels: Azure.Core

#42174 [AzureMonitorExporter] support Resource ServiceVersion
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzureMonitorResource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SchemaConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Demo/Logs/LogDemo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Demo/Metrics/MetricDemo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Demo/Traces/TraceDemo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemValidationHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/LogsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/MetricsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/TracesTests.cs
Labels: Monitor - Exporter

#42199 Update AutoRest C# version to 3.0.0-beta.20240226.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Models/ArtifactManifestPlatform.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Models/ArtifactManifestProperties.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Models/ArtifactTagProperties.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Models/ContainerRepositoryProperties.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Models/ManifestAttributesBase.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Models/TagAttributesBase.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MediaLiveEventChannelArchiveHeartbeatEventData.cs
  sdk/hdinsight/Azure.ResourceManager.HDInsight.Containers/src/Generated/Models/ClusterConnectivityProfile.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/AnomalyAlert.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/DataFeedIngestionStatus.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/EnrichmentStatus.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesData.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Models/MetricSeriesDefinition.cs
  sdk/playwrighttesting/Azure.ResourceManager.PlaywrightTesting/src/Generated/Models/FreeTrialProperties.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Generated/Models/OperationStatusResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/AnalyzedTokenInfo.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/AutocompleteItem.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/AutocompleteResults.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/IndexDocumentsResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/IndexerExecutionResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/IndexingResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListAliasesResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListDataSourcesResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListIndexersResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListIndexesResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListSkillsetsResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/ListSynonymMapsResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchDocumentsResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchError.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerError.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerStatus.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchIndexerWarning.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchServiceError.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SuggestDocumentsResult.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/SuggestResult.cs
Labels: Search, Event Grid, Cognitive - Metrics Advisor

#42211 decouple NextLinkOperationImplementation and JsonElementExtensions
  sdk/core/Azure.Core/src/Shared/NextLinkOperationImplementation.cs
Labels: Azure.Core

#42212 Setting default maximum message batch size to 0
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/ServiceBusTriggerAttribute.cs
Labels: Service Bus, Functions

#42228 Sync .github/workflows directory with azure-sdk-tools for PR 7765
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42206 ClientModel: Turn on nullable reference types in ClientModel client test project
  sdk/core/System.ClientModel/tests/ModelReaderWriter/ModelReaderWriterTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriter/Models/AvailabilitySetDataTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriter/Models/AvailabilitySetDataTestsWithVMs.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/ModelReaderWriterExtensions.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/ModelReaderWriterHelper.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/OptionalDictionary.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/OptionalList.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/OptionalProperty.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/TypeFormatters.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelY.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/UnknownBaseModel.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ModelWithPersistableOnly.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ApiProfile.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ApiProfile.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ComputeSku.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ComputeSku.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ComputeStatusLevelType.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ComputeStatusLevelType.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/CreatedByType.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/InstanceViewStatus.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/InstanceViewStatus.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderAuthorizationConsentState.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderExtendedLocation.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderExtendedLocation.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderResourceType.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderResourceType.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAlias.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAlias.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPath.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPath.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPathAttributes.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPathMetadata.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPathMetadata.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPathTokenType.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPattern.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPattern.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPatternType.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPatternType.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasType.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasType.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/SystemData.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/SystemData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/TrackedResourceData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/WritableSubResource.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/WritableSubResource.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ZoneMapping.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ZoneMapping.cs
  sdk/core/System.ClientModel/tests/client/System.ClientModel.Tests.Client.csproj
  sdk/core/System.ClientModel/tests/client/TestData.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/JsonModelConverterTests.cs
Labels: Azure.Core, System.ClientModel

#42229 Sync eng/common directory with azure-sdk-tools for PR 7767
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#42209 Core: Pull in misc refactorings from Azure.Core 2.0 integration branch
  sdk/core/Azure.Core/api/Azure.Core.net5.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netcoreapp2.1.cs
  sdk/core/Azure.Core/src/DelayStrategy.cs
  sdk/core/Azure.Core/src/ExponentialDelayStrategy.cs
  sdk/core/Azure.Core/src/Internal/AzureBaseBuffersExtensions.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelinePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/DefaultRequestFailedDetailsParser.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/RetryOptions.cs
  sdk/core/Azure.Core/tests/EventSourceTests.cs
  sdk/core/Azure.Core/tests/FailedResponseExceptionTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineMessageTest.cs
  sdk/core/Azure.Core/tests/TransportFunctionalTests.cs
  sdk/core/System.ClientModel/src/Internal/StreamExtensions.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#41712 [DocumentIntelligence] Filling some test gaps
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentClassifierLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentClassifierMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentIntelligenceClientLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceTestEnvironment.cs
Labels: Client, Cognitive - Form Recognizer

#41995 [CODEOWNERS] Annotating SDK team owners
  .github/CODEOWNERS
  .github/CODEOWNERS_baseline_errors.txt
Labels: Client, EngSys

#42205 Sync eng/common directory with azure-sdk-tools for PR 7729
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#42227 Fixed Storage live tests
  sdk/storage/Azure.Storage.Common/tests/Shared/TestConstants.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
Labels: Storage

#42243 Add flag to disable bootstrapping
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#42245 Increment version for netapp releases
  sdk/netapp/Azure.ResourceManager.NetApp/CHANGELOG.md
  sdk/netapp/Azure.ResourceManager.NetApp/src/Azure.ResourceManager.NetApp.csproj
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/BackupVaultsList.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/BackupsList.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/NetAppBackupVaultBackupPatch.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/NetAppVolumeBackupBackupRestoreFilesContent.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/NetAppVolumeBackupConfiguration.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/NetAppVolumeBackupStatus.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/NetAppVolumeGroupMetadata.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/NetAppVolumeGroupVolume.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/Models/RegionInfosList.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/NetAppBackupData.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/NetAppBackupVaultData.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/NetAppVolumeData.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/RegionInfoResourceData.Serialization.cs
Labels: Mgmt

#42252 Increment version for chaos releases
  sdk/chaos/Azure.ResourceManager.Chaos/CHANGELOG.md
  sdk/chaos/Azure.ResourceManager.Chaos/src/Azure.ResourceManager.Chaos.csproj
Labels: Mgmt
