Repository Azure/azure-sdk-for-net, pull requests merged in 2024-09, with the labels that each got.

#45763 Prepare SocketIO serverless beta2
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/CHANGELOG.md
Labels: WebPubSub

#45766 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO.csproj
Labels: WebPubSub

#45777 Update package versions
  samples/AppSecretsConfig/AppSecretsConfig.csproj
  samples/CloudClipboard/CloudClipboard/CloudClipboard.csproj
  samples/CloudClipboard/GarbageCollector/GarbageCollector.csproj
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsClientSample.csproj
Labels: Digital Twins

#45778 Update AutoRest C# version to 3.0.0-beta.20240903.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#45761 [CODEOWNERS] Fix linter issues
  .github/CODEOWNERS
Labels: Client, EngSys

#45782 Sync eng/common directory with azure-sdk-tools for PR 8912
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#45783 Sync eng/common directory with azure-sdk-tools for PR 8887
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#45785 Azure OpenAI: snap for beta.5 (compatibility with OpenAI beta.11)
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/src/Custom/Assistants/AzureAssistantClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Batch/AzureBatchClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/AzureFineTuningClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/Pagination/AzureFineTuningJobCheckpointsPageEnumerator.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/Pagination/AzureFineTuningJobEventsPageEnumerator.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/Pagination/AzureFineTuningJobsPageEnumerator.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/VectorStores/AzureVectorStoreClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/tests/AssistantTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FineTuningTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AzureTestEnvironment.cs
Labels: OpenAI

#45784 update version to 1.1.1 to pull in Azure.Core 1.42.0
  sdk/communication/Azure.Communication.Rooms/CHANGELOG.md
  sdk/communication/Azure.Communication.Rooms/src/Azure.Communication.Rooms.csproj
Labels: Communication - Rooms

#45730 TransferManager task management
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerServiceToServiceJobTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/ChannelProcessing.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ServiceToServiceJobPartTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MockQueueInternalTasks.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StreamToUriJobPartTests.cs
Labels: Storage

#45797 [AzureMonitorDistro] revert custom events
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/AzureSdkCompat/AzureEventSourceLogForwarder.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2ETests/ILoggerTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net6.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/CustomEvents/ApplicationInsightsEventLogger.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/CustomEvents/IApplicationInsightsEventLogger.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryEventData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemOutputHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LogsHelperTests.cs
Labels: Monitor - Exporter, Monitor - Distro

#45605 Implement objectId support for ManagedIdentityCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AppServiceManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/AzureArcManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/CloudShellManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureApplicationCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureApplicationCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentityProbeSource.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClientOptions.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityId.cs
  sdk/identity/Azure.Identity/src/MsalManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/ServiceFabricManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/TokenExchangeManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/AzureApplicationCredentialTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialFactoryTests.cs
  sdk/identity/Azure.Identity/tests/IdentityTestEnvironment.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialSFLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentitySourceTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityVMIntegrationTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockManagedIdentityClient.cs
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#45635 Catch exceptions in QueueMetricsProvider and log errors
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueMetricsProvider.cs
Labels: Storage, customer-reported, Community Contribution

#45800 Sync eng/common directory with azure-sdk-tools for PR 8928
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#45807 Ignore failing tests to make CI pass with project reference
  sdk/extensions/Microsoft.Extensions.Azure/tests/ClientFactoryTests.cs
Labels: Extensions

#45776 Add Scenario tests for ComputeFleet
  sdk/computefleet/Azure.ResourceManager.ComputeFleet/assets.json
  sdk/computefleet/Azure.ResourceManager.ComputeFleet/tests/Azure.ResourceManager.ComputeFleet.Tests.csproj
  sdk/computefleet/Azure.ResourceManager.ComputeFleet/tests/ComputeFleetManagementTestBase.cs
  sdk/computefleet/Azure.ResourceManager.ComputeFleet/tests/Scenario/ComputeFleetCRUDTests.cs
  sdk/computefleet/Azure.ResourceManager.ComputeFleet/tests/Scenario/ComputeFleetTestBase.cs
Labels: Compute - Fleet

#45787 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Microsoft.Azure.WebPubSub.Common.csproj
Labels: WebPubSub

#45798 JobBuilder
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerServiceToServiceJobTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransfer.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobBuilder.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DataTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/GetTransfersTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ServiceToServiceJobPartTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StreamToUriJobPartTests.cs
Labels: Storage

#45818 Fix DateTime bug
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/TriggerBinding/HttpRequestProcessor.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/TestListener.cs
Labels: Event Grid, Functions

#45817 Split Azure.Provisioning.* packages into multiple release pipelines
  sdk/provisioning/ci.compute.yml
  sdk/provisioning/ci.data.yml
  sdk/provisioning/service.projects
Labels: Provisioning

#45820 Increment version for batch releases
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
Labels: Batch

#45819 [Storage] Method overload OpenReadAsync()/OpenRead() to correctly handle the allowBlobModifications flag for Blobs, DataLake, and FileShare
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientOpenReadTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/OpenReadTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeFileClientOpenReadTests.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientOpenReadTests.cs
Labels: Storage

#45833 Upgrade Microsoft.Graph lib to fix vulnerability.
  eng/Packages.Data.props
  sdk/postgresql/Azure.ResourceManager.PostgreSql/tests/PostgreSqlManagementTestBase.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/tests/Scenario/PostgreSqlFlexibleServerTests.cs
Labels: Mgmt

#45836 Prepare for release of AppContainer
  sdk/containerapps/Azure.ResourceManager.AppContainers/CHANGELOG.md
Labels: Mgmt

#45815 Improve discoverability of token cache doc
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ChainedTokenCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
Labels: Azure.Identity

#45022 Add resolutionPolicy property to VirtualNetworkLink resource in privatedns
  sdk/dns/Azure.ResourceManager.Dns/tests/Azure.ResourceManager.Dns.Tests.csproj
  sdk/privatedns/Azure.ResourceManager.PrivateDns/CHANGELOG.md
  sdk/privatedns/Azure.ResourceManager.PrivateDns/api/Azure.ResourceManager.PrivateDns.netstandard2.0.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/assets.json
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Azure.ResourceManager.PrivateDns.csproj
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/ArmPrivateDnsModelFactory.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Extensions/MockablePrivateDnsResourceGroupResource.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Extensions/MockablePrivateDnsSubscriptionResource.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Extensions/PrivateDnsExtensions.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Internal/BicepSerializationHelpers.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Internal/WirePathAttribute.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsARecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsARecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsAaaaRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsAaaaRecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsCnameRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsCnameRecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsMXRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsMXRecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsPtrRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsPtrRecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsRecordListResult.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsResolutionPolicy.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsSoaRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsSoaRecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsSrvRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsSrvRecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsTxtRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsTxtRecordInfo.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateZoneListResult.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/VirtualNetworkLinkListResult.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/PrivateDnsZoneCollection.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/PrivateDnsZoneData.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/PrivateDnsZoneData.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/RestOperations/PrivateZonesRestOperations.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/RestOperations/RecordSetsRestOperations.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/RestOperations/VirtualNetworkLinksRestOperations.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/VirtualNetworkLinkCollection.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/VirtualNetworkLinkData.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/VirtualNetworkLinkData.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/VirtualNetworkLinkResource.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/autorest.md
  sdk/privatedns/Azure.ResourceManager.PrivateDns/tests/Azure.ResourceManager.PrivateDns.Tests.csproj
  sdk/privatedns/Azure.ResourceManager.PrivateDns/tests/PrivateDnsManagementTestBase.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/tests/Scenario/PrivateDnsTests.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/tests/Scenario/RecordTests.cs
  sdk/privatedns/test-resources.json
Labels: Mgmt

#45840 Increment version for containerapps releases
  sdk/containerapps/Azure.ResourceManager.AppContainers/CHANGELOG.md
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Azure.ResourceManager.AppContainers.csproj
Labels: Mgmt

#45841 Increment version for machinelearningservices releases
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/CHANGELOG.md
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Azure.ResourceManager.MachineLearning.csproj
Labels: Mgmt

#45846 Document env var for setting Azure authority host
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#45848 Fix formatting in Identity README
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#45788 Rename autorest.csharp branch feature/v3 to main
  doc/DataPlaneCodeGeneration/Azure_SDK_Package_Ship_Requirements.md
  sdk/core/Azure.Core/src/DynamicData/DynamicData.Converters.cs
Labels: Azure.Core

#45853 Prepare GA release of Azure.ResourceManager.AppContainers
  sdk/containerapps/Azure.ResourceManager.AppContainers/CHANGELOG.md
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Azure.ResourceManager.AppContainers.csproj
Labels: Mgmt

#45851 Enable WriteCore feature for advisor
  sdk/advisor/Azure.ResourceManager.Advisor/api/Azure.ResourceManager.Advisor.netstandard2.0.cs
  sdk/advisor/Azure.ResourceManager.Advisor/assets.json
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/MetadataEntityData.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/ConfigData.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/ConfigurationListResult.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/DigestConfig.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/MetadataEntityListResult.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/MetadataSupportedValueDetail.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/ResourceMetadata.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/ResourceRecommendationBaseListResult.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/ShortDescription.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/Models/SuppressionContractListResult.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/ResourceRecommendationBaseData.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/Generated/SuppressionContractData.Serialization.cs
  sdk/advisor/Azure.ResourceManager.Advisor/src/autorest.md
Labels: Mgmt

#45852 Enable WriteCore feature for alertsmanagement
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/api/Azure.ResourceManager.AlertsManagement.netstandard2.0.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/assets.json
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/AlertProcessingRuleData.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleAction.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleAddGroupsAction.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleCondition.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleMonthlyRecurrence.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRulePatch.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleProperties.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleRecurrence.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleRemoveAllGroupsAction.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleSchedule.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRuleWeeklyRecurrence.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/AlertProcessingRulesList.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/DailyRecurrence.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/MonitorServiceDetails.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/MonitorServiceList.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertActionStatus.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertEssentials.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertListResult.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertMetadata.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertMetadataProperties.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertModification.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertModificationItemInfo.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertModificationProperties.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertProperties.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertSummary.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertSummaryGroup.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/ServiceAlertSummaryGroupItemInfo.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/SmartGroupAggregatedProperty.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/SmartGroupModification.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/SmartGroupModificationItemInfo.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/SmartGroupModificationProperties.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/SmartGroupsList.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/UnknownAction.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/UnknownAlertsMetaDataProperties.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/Models/UnknownRecurrence.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/ServiceAlertData.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/Generated/SmartGroupData.Serialization.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/autorest.md
Labels: Mgmt

#45866 Azure Identity README cleanup
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#45823 [Storage] Test Refactoring for OpenReadAsyncOverload_AllowModifications & OpenReadAsyncOverload_NotAllowModifications
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Common/tests/Shared/OpenReadTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.Shares/assets.json
Labels: Storage

#45869 Sync .github/workflows directory with azure-sdk-tools for PR 8942
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#45849 Sync eng/common directory with azure-sdk-tools for PR 8929
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#45862 Increment version for containerapps releases
  sdk/containerapps/Azure.ResourceManager.AppContainers/CHANGELOG.md
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Azure.ResourceManager.AppContainers.csproj
Labels: Mgmt

#45868 Increment version for hardwaresecuritymodules releases
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/CHANGELOG.md
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/src/Azure.ResourceManager.HardwareSecurityModules.csproj
Labels: Hardware Security Modules

#45867 Increment version for apimanagement releases
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/CHANGELOG.md
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Azure.ResourceManager.ApiManagement.csproj
Labels: Mgmt

#45861 Increment version for securityinsights releases
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/CHANGELOG.md
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/Azure.ResourceManager.SecurityInsights.csproj
Labels: Mgmt

#45860 Increment version for hdinsight releases
  sdk/hdinsight/Azure.ResourceManager.HDInsight/CHANGELOG.md
  sdk/hdinsight/Azure.ResourceManager.HDInsight/src/Azure.ResourceManager.HDInsight.csproj
Labels: Mgmt

#45870 [Storage] Add Snapshot links to Documentation
  sdk/storage/Azure.Storage.Blobs/src/Models/GetPageRangesDiffOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileGetRangeListDiffOptions.cs
Labels: Storage

#45654 Remove redundant ToArray() call in GetBlobsAsyncCollection
  sdk/storage/Azure.Storage.Blobs/src/Models/GetBlobsAsyncCollection.cs
Labels: Storage, customer-reported, Community Contribution

#45874 Increment version for privatedns releases
  sdk/privatedns/Azure.ResourceManager.PrivateDns/CHANGELOG.md
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Azure.ResourceManager.PrivateDns.csproj
Labels: Mgmt

#45873 DataFactory DotNet SDK 09/10 Release.
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/api/Azure.ResourceManager.DataFactory.netstandard2.0.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/ArmDataFactoryModelFactory.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/DataFactoryDatasetData.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CopyActivity.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CopySink.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CopySink.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryDatasetDebugInfo.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryDatasetProperties.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryDatasetProperties.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/FormatWriteSettings.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/FormatWriteSettings.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/IcebergDataset.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/IcebergDataset.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/IcebergSink.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/IcebergSink.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/IcebergWriteSettings.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/IcebergWriteSettings.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/MariaDBLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/MariaDBLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/autorest.md
Labels: Mgmt

#45878 Increment version for datafactory releases
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
Labels: Mgmt

#45881 [Storage] Fixed Equality failures due to implicit cast on ErrorCode
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobErrorCode.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareErrorCode.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/Models/QueueErrorCode.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
Labels: Storage

#45879 Increment version for desktopvirtualization releases
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/CHANGELOG.md
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/Azure.ResourceManager.DesktopVirtualization.csproj
Labels: Mgmt

#45889 Minor: Added link back to the 'Create client with a Microsoft Entra credential' section
  sdk/openai/Azure.AI.OpenAI/README.md
Labels: OpenAI

#45891 Increment version for standbypool releases
  sdk/standbypool/Azure.ResourceManager.StandbyPool/CHANGELOG.md
  sdk/standbypool/Azure.ResourceManager.StandbyPool/src/Azure.ResourceManager.StandbyPool.csproj
Labels: Mgmt

#45920 Enable WriteCore feature for agrifood
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/api/Azure.ResourceManager.AgFoodPlatform.netstandard2.0.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/AgFoodPlatformPrivateEndpointConnectionData.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/AgFoodPlatformPrivateLinkResourceData.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/ExtensionData.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/FarmBeatData.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/FarmBeatsExtensionData.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/AgFoodPlatformPrivateEndpointConnectionListResult.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/AgFoodPlatformPrivateLinkResourceListResult.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/AgFoodPlatformPrivateLinkServiceConnectionState.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/ArmAsyncOperation.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/CheckNameAvailabilityContent.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/CheckNameAvailabilityResponse.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/DetailedInformation.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/ErrorResponse.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/ExtensionListResponse.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/FarmBeatPatch.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/FarmBeatsExtensionListResponse.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/FarmBeatsListResponse.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/FarmBeatsUpdateProperties.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/SensorIntegration.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/Models/UnitSystemsInfo.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/autorest.md
Labels: Mgmt

#45917 Enable WriteCore feature for analysisservices
  sdk/analysisservices/Azure.ResourceManager.Analysis/api/Azure.ResourceManager.Analysis.netstandard2.0.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/assets.json
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/AnalysisServerData.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisExistingSku.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisGatewayDetails.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisGatewayStatus.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisIPv4FirewallRule.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisIPv4FirewallSettings.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisResourceSku.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisServerNameAvailabilityContent.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisServerNameAvailabilityResult.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisServerPatch.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/AnalysisServers.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/ExistingResourceResultSkuEnumeration.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/NewResourceResultSkuEnumeration.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/Generated/Models/ServerAdministrators.Serialization.cs
  sdk/analysisservices/Azure.ResourceManager.Analysis/src/autorest.md
Labels: Mgmt

#45922 Enable WriteCore feature for apicenter
  sdk/apicenter/Azure.ResourceManager.ApiCenter/api/Azure.ResourceManager.ApiCenter.netstandard2.0.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/ApiCenterServiceData.Serialization.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterServiceListResult.Serialization.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/Generated/Models/ApiCenterServicePatch.Serialization.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/autorest.md
Labels: Mgmt

#45926 Enable WriteCore feature for arc-scvmm
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/api/Azure.ResourceManager.ScVmm.netstandard2.0.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/AvailabilitySetListResult.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/CloudInventoryItem.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/CloudListResult.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/GuestAgentList.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/InventoryItemsList.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/OSProfileForVmInstance.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmAvailabilitySetItem.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmCheckpoint.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmCloudCapacity.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmGuestCredential.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmHardwareProfile.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmHardwareProfileUpdate.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmHttpProxyConfiguration.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmInfrastructureProfile.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmInfrastructureProfileUpdate.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmInventoryItemDetails.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmInventoryItemProperties.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmNetworkInterface.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmNetworkInterfaceUpdate.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmNetworkProfile.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmNetworkProfileUpdate.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmResourcePatch.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmStorageProfile.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmStorageProfileUpdate.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmStorageQosPolicy.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmStorageQosPolicyDetails.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmVirtualDisk.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmVirtualDiskUpdate.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/ScVmmVirtualMachineInstancePatch.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/StopVirtualMachineContent.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/UnknownInventoryItemProperties.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualMachineCreateCheckpointContent.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualMachineDeleteCheckpointContent.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualMachineInstanceListResult.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualMachineInventoryItem.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualMachineRestoreCheckpointContent.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualMachineTemplateInventoryItem.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualMachineTemplateListResult.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualNetworkInventoryItem.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VirtualNetworkListResult.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VmInstanceHybridIdentityMetadataList.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VmmCredential.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/Models/VmmServerListResult.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmAvailabilitySetData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmCloudData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmGuestAgentData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmHybridIdentityMetadataData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmInventoryItemData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmServerData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmVirtualMachineInstanceData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmVirtualMachineTemplateData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/Generated/ScVmmVirtualNetworkData.Serialization.cs
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/src/autorest.md
Labels: Mgmt

#45928 Enable WriteCore feature for attestation
  sdk/attestation/Azure.ResourceManager.Attestation/api/Azure.ResourceManager.Attestation.netstandard2.0.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/AttestationPrivateEndpointConnectionData.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/AttestationProviderData.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationPrivateEndpointConnectionListResult.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationPrivateLinkResource.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationPrivateLinkResourceListResult.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationPrivateLinkServiceConnectionState.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationProviderCreateOrUpdateContent.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationProviderListResult.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationProviderPatch.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationServiceCreationSpecificParams.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/AttestationServicePatchSpecificParams.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/JsonWebKey.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/JsonWebKeySet.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/Generated/Models/PrivateEndpoint.Serialization.cs
  sdk/attestation/Azure.ResourceManager.Attestation/src/autorest.md
Labels: Mgmt

#45880 Archboard feedback for objectId support
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/TokenCredentialOptions.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityId.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityVMIntegrationTests.cs
  sdk/identity/Azure.Identity/tests/TokenCredentialOptionsTests.cs
Labels: Azure.Identity

#45929 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: Mgmt

#45903 Preparation for release of Azure.Core 1.43.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#45904 Preparation for release of System.ClientModel 1.1.0
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#45913 Add tenant() to Azure.Provisioning
  sdk/provisioning/Azure.Provisioning.PostgreSql/tests/BasicPostgreSqlTests.cs
  sdk/provisioning/Azure.Provisioning/api/Azure.Provisioning.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning/src/Expressions/BicepFunction.cs
  sdk/provisioning/Azure.Provisioning/src/Generated/Models/TenantCategory.cs
  sdk/provisioning/Azure.Provisioning/src/Generated/Tenant.cs
  sdk/provisioning/Generator/src/Model/Specification.Analyze.cs
  sdk/provisioning/Generator/src/Specifications/ArmSpecification.cs
Labels: Provisioning

#45933 Azure.Provisioning.Sql - make *FirewallRule properties settable
  sdk/provisioning/Azure.Provisioning.Sql/api/Azure.Provisioning.Sql.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.Sql/src/Generated/IPv6FirewallRule.cs
  sdk/provisioning/Azure.Provisioning.Sql/src/Generated/Models/IPv6FirewallRuleData.cs
  sdk/provisioning/Azure.Provisioning.Sql/src/Generated/Models/SqlFirewallRuleData.cs
  sdk/provisioning/Azure.Provisioning.Sql/src/Generated/SqlFirewallRule.cs
  sdk/provisioning/Generator/src/Specifications/SqlSpecification.cs
  sdk/provisioning/Generator/src/Utilities/ReflectionExtensions.cs
Labels: Provisioning

#45936 Azure.Provisioning - add BicepFunction.Concat
  sdk/provisioning/Azure.Provisioning.AppService/tests/BasicAppServiceTests.cs
  sdk/provisioning/Azure.Provisioning/api/Azure.Provisioning.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning/src/Expressions/BicepFunction.cs
Labels: Provisioning

#45937 Azure.Provisioning - add DependsOn support for AOAI deployments
  sdk/provisioning/Azure.Provisioning.Storage/tests/BasicStorageTests.cs
  sdk/provisioning/Azure.Provisioning/api/Azure.Provisioning.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning/src/Primitives/Resource.cs
Labels: Provisioning

#45935 Increment version for communication releases
  sdk/communication/Azure.Communication.Rooms/CHANGELOG.md
  sdk/communication/Azure.Communication.Rooms/src/Azure.Communication.Rooms.csproj
Labels: Communication - Rooms

#45938 Sync eng/common directory with azure-sdk-tools for PR 8958
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#45941 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#45950 Increment version for billing releases
  sdk/billing/Azure.ResourceManager.Billing/CHANGELOG.md
  sdk/billing/Azure.ResourceManager.Billing/src/Azure.ResourceManager.Billing.csproj
Labels: Mgmt

#45946 setup `TypeFactory` for azure client plugin
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Directory.Build.props
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequest.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequest.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/Friend.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/FriendlyModelRequest.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/FriendlyModelRequest.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ProjectedModel.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/RoundTripModel.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/Thing.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: CodeGen

#45934 Support Cosmos Entra ID auth
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/assets.json
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
  sdk/tables/Azure.Data.Tables/tests/EnableTenantDiscoveryLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableEndpointType.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Tables

#45940 Sync eng/common directory with azure-sdk-tools for PR 8959
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#45942 [Storage] Corrected documentation for BlockBlobClient.StageBlockAsync
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage

#45966 Sync eng/common directory with azure-sdk-tools for PR 8963
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#45969 Fix Service Bus test environment
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/servicebus/ci.functions.yml
  sdk/servicebus/test-resources.json
Labels: Service Bus

#45968 [Storage] [WebJobs] Adding back in fix for WebJobs Extension Queue Length
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueMetricsProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
Labels: Storage

#45812 Fix for Issue #45709
  sdk/hdinsight/Azure.ResourceManager.HDInsight/CHANGELOG.md
  sdk/hdinsight/Azure.ResourceManager.HDInsight/assets.json
  sdk/hdinsight/Azure.ResourceManager.HDInsight/src/Generated/Models/HDInsightStorageAccountInfo.Serialization.cs
  sdk/hdinsight/Azure.ResourceManager.HDInsight/src/autorest.md
  sdk/hdinsight/Azure.ResourceManager.HDInsight/tests/Scenario/HDInsightApplicationTests.cs
Labels: Mgmt

#45951 Enable WriteCore feature for astronomer.
  sdk/astronomer/Azure.ResourceManager.Astro/CHANGELOG.md
  sdk/astronomer/Azure.ResourceManager.Astro/api/Azure.ResourceManager.Astro.netstandard2.0.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/AstroOrganizationData.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroMarketplaceDetails.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroOfferDetails.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroOrganizationPatch.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroOrganizationProperties.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroOrganizationUpdateProperties.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroPartnerOrganizationProperties.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroPartnerOrganizationUpdateProperties.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroSingleSignOnProperties.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroUserDetails.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/AstroUserUpdateDetails.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/Generated/Models/OrganizationResourceListResult.Serialization.cs
  sdk/astronomer/Azure.ResourceManager.Astro/src/autorest.md
Labels: Astronomer

#45945 Enable WriteCore feature for automanage
  sdk/automanage/Azure.ResourceManager.Automanage/CHANGELOG.md
  sdk/automanage/Azure.ResourceManager.Automanage/api/Azure.ResourceManager.Automanage.netstandard2.0.cs
  sdk/automanage/Azure.ResourceManager.Automanage/assets.json
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/AutomanageBestPracticeData.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/AutomanageConfigurationProfileAssignmentData.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/AutomanageConfigurationProfileAssignmentReportData.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/AutomanageConfigurationProfileData.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/AutomanageConfigurationProfileAssignmentProperties.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/AutomanageConfigurationProfilePatch.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/AutomanageResourceUpdateDetails.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/AutomanageServicePrincipalData.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/BestPracticeList.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/ConfigurationProfileAssignmentList.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/ConfigurationProfileAssignmentReportResourceDetails.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/ConfigurationProfileList.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/ConfigurationProfileProperties.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/ReportList.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/Generated/Models/ServicePrincipalListResult.Serialization.cs
  sdk/automanage/Azure.ResourceManager.Automanage/src/autorest.md
Labels: Mgmt

#45988 Increment version for machinelearningservices releases
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/CHANGELOG.md
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Azure.ResourceManager.MachineLearning.csproj
Labels: Mgmt

#45987 Increment version for batch releases
  sdk/batch/Azure.ResourceManager.Batch/CHANGELOG.md
  sdk/batch/Azure.ResourceManager.Batch/src/Azure.ResourceManager.Batch.csproj
Labels: Mgmt

#45974 Add try/catch in BlobScalerMonitorProvider.GetMetricsAsync
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobScalerMonitorProvider.cs
Labels: Storage

#45994 Sync eng/common directory with azure-sdk-tools for PR 8974
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#46004 Prepare for release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#46005 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#45995 [Schema Registry] SchemaFormat alignment and release prep
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/assets.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaFormatTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
Labels: Schema Registry

#45972 Log exceptions in EventHubMetricsProvider, Handle SystemOutOfBounds array exception thrown in GetValidWorkerCount
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubMetricsProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubsTargetScaler.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsTargetScalerTests.cs
Labels: Event Hubs, Functions

#46008 STG 95 GA release commit
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#46010 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#46019 Sync eng/common directory with azure-sdk-tools for PR 8994
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#46016 Azure.Provisioning - switch to two space indent for idiomacy.
  sdk/provisioning/Azure.Provisioning.AppConfiguration/tests/BasicAppConfigurationTests.cs
  sdk/provisioning/Azure.Provisioning.AppContainers/tests/BasicAppContainersTests.cs
  sdk/provisioning/Azure.Provisioning.AppService/tests/BasicAppServiceTests.cs
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/tests/BasicApplicationInsightsTests.cs
  sdk/provisioning/Azure.Provisioning.CognitiveServices/tests/BasicCognitiveServicesTests.cs
  sdk/provisioning/Azure.Provisioning.Communication/tests/BasicCommunicationTests.cs
  sdk/provisioning/Azure.Provisioning.ContainerRegistry/tests/BasicContainerRegistryTests.cs
  sdk/provisioning/Azure.Provisioning.ContainerService/tests/BasicContainerServiceTests.cs
  sdk/provisioning/Azure.Provisioning.CosmosDB/tests/BasicCosmosDBTests.cs
  sdk/provisioning/Azure.Provisioning.EventGrid/tests/BasicEventGridTests.cs
  sdk/provisioning/Azure.Provisioning.EventHubs/tests/BasicEventHubsTests.cs
  sdk/provisioning/Azure.Provisioning.KeyVault/tests/BasicKeyVaultTests.cs
  sdk/provisioning/Azure.Provisioning.OperationalInsights/tests/BasicOperationalInsightsTests.cs
  sdk/provisioning/Azure.Provisioning.PostgreSql/tests/BasicPostgreSqlTests.cs
  sdk/provisioning/Azure.Provisioning.Redis/tests/BasicRedisTests.cs
  sdk/provisioning/Azure.Provisioning.Search/tests/BasicSearchTests.cs
  sdk/provisioning/Azure.Provisioning.ServiceBus/tests/BasicServiceBusTests.cs
  sdk/provisioning/Azure.Provisioning.SignalR/tests/BasicSignalRTests.cs
  sdk/provisioning/Azure.Provisioning.Sql/tests/BasicSqlTests.cs
  sdk/provisioning/Azure.Provisioning.Storage/tests/BasicStorageTests.cs
  sdk/provisioning/Azure.Provisioning.WebPubSub/tests/BasicWebPubSubTests.cs
  sdk/provisioning/Azure.Provisioning/src/Expressions/BicepWriter.cs
  sdk/provisioning/Azure.Provisioning/tests/SampleTests.cs
Labels: Provisioning

#45986 Update AutoRest C# version to 3.0.0-beta.20240914.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#46017 [Schema Registry] Fix Avro Serializer README links
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/README.md
Labels: Schema Registry

#46036 Increment version for schemaregistry releases
  sdk/schemaregistry/Azure.Data.SchemaRegistry/CHANGELOG.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
Labels: Schema Registry

#46035 Updated STG 95 GA release date
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#46038 Sync .github/workflows directory with azure-sdk-tools for PR 8995
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#46015 Azure.Provisioning - Add WebPubSubService.AssignRole
  sdk/provisioning/Azure.Provisioning.SignalR/api/Azure.Provisioning.SignalR.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.SignalR/src/Generated/SignalRBuiltInRole.cs
  sdk/provisioning/Azure.Provisioning.WebPubSub/api/Azure.Provisioning.WebPubSub.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.WebPubSub/src/Generated/WebPubSubBuiltInRole.cs
  sdk/provisioning/Azure.Provisioning.WebPubSub/src/Generated/WebPubSubService.cs
  sdk/provisioning/Generator/src/Specifications/SignalRSpecification.cs
  sdk/provisioning/Generator/src/Specifications/WebPubSubSpecification.cs
Labels: Provisioning

#46007 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#46039 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageLifecyclePolicyCompletedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageLifecyclePolicyCompletedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#45999 [FHL] Add contracts for Bi-directional streaming
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Media/FHL/Mark.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Media/FHL/ServerAudioData.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Media/FHL/ServerMessageType.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Media/FHL/ServerStreamingData.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Media/FHL/StopAudio.cs
Labels: Communication

#46014 Core `TransferManager` tests
  sdk/storage/Azure.Storage.Common/tests/Shared/MockExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/ChannelProcessing.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobBuilder.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Azure.Storage.DataMovement.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement/tests/Models/StepProcessor.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#46040 Sync eng/common directory with azure-sdk-tools for PR 9000
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#46044 Sync eng/common directory with azure-sdk-tools for PR 9004
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#46048 Revert "[Storage] Add Queue Permissions enum to represent QueueAccess…
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/assets.json
  sdk/storage/Azure.Storage.Queues/src/Models/QueueAccessPolicy.cs
  sdk/storage/Azure.Storage.Queues/src/Models/QueueAccessPolicyPermissions.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
Labels: Storage

#46054 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#46051 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#46065 Fix server streaming data contract make audio data optional
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Media/FHL/ServerStreamingData.cs
Labels: Communication

#46055 ACS Chat - Patch release with azure core 1.43
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: Communication - Chat

#46041 Sync eng/common directory with azure-sdk-tools for PR 8998
  eng/common/pipelines/templates/steps/verify-readmes.yml
Labels: EngSys, Central-EngSys

#46067 Sync eng/common directory with azure-sdk-tools for PR 9008
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#46068 [Storage] WebJobs Extension Prepare for Release 2024-09-19
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#46072 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#46079 [Storage] Cleanup after WebJobs Release
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#46070 Sync eng/common directory with azure-sdk-tools for PR 9016
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
  sdk/core/Azure.Core.TestFramework/src/Azure.Core.TestFramework.csproj
  sdk/openai/tools/TestFramework/src/OpenAI.TestFramework.csproj
Labels: EngSys, Central-EngSys

#46077 initial checkin for Azure.Provisioning.CloudMachine (work in progress)
  sdk/provisioning/Azure.Provisioning.CloudMachine/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CloudMachine/README.md
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
  sdk/provisioning/Azure.Provisioning.sln
  sdk/provisioning/ci.compute.yml
  sdk/provisioning/service.projects
Labels: Provisioning

#46076 Increment version for communication releases
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: Communication - Chat

#45909 [AzureMonitorExporter] fix unmapped attributes from being dropped from telemetry
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistro.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifySendingToTwoResources_UsingDistroWithExporter.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifySendingToTwoResources_UsingExporter.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2ETests/AspNetCoreInstrumentationTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2ETests/HttpClientInstrumentationTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ActivityTagsProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TagsTests.cs
Labels: Monitor - Exporter, Monitor - Distro

#46086 Fix bug with image reference custom constructors
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/src/ImageReference.cs
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/Microsoft.Azure.Batch/tools/ObjectModelCodeGenerator/Spec/ImageReference.json
Labels: Batch

#45600 [Storage] DataLake download APIs feature parity MERGE
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/README.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/samples/Sample01a_HelloWorld.cs
  sdk/storage/Azure.Storage.Files.DataLake/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileReadResult.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeFileReadStreamingResult.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeModelFactory.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: Storage

#45646 [Storage] Added GenerateUserDelegationSasUri() for Blobs and BlobContainers
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
Labels: Storage

#45732 [Storage] Added GenerateUserDelegationSasUri() for DataLake
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.Clients.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathClientTests.cs
Labels: Storage

#45594 Added BlobAccessTierNotSupportedForAccountType to BlobErrorCode
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/BlobErrorCode.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
Labels: Storage

#45603 Added Premium to Share Access Tier
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareAccessTier.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#46075 [ACS][CallAutomation][Answer]update autorest to update Answer api with custom context
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallDialogs/CallDialogAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DialogOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DialogOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/StopNonexistingDialogTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/StopNonexistingDialogTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/SubsequentDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/SubsequentDialogsTestAsync.json
Labels: Communication

#46074 [AzureMonitorExporter] update variable names used in Readme
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/README.md
Labels: Monitor - Exporter, Monitor - Distro

#45611 Added Binary ACE to Copy File
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCopyOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
Labels: Storage

#46104 Added tests for Set/Delete Immutability Policy and Set Legal Hold on Blob Snapshots and Versions
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/ImmutableStorageWithVersioningTests.cs
Labels: Storage

#45645 Files Provisioned Billing v2
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareErrorCode.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareCreateHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareDeleteHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareGetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestoreHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareSetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareSetPropertiesOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/DisposingShare.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#46102 Increment version for batch releases
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
Labels: Batch

#46101 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#46120 Fix identity based negotiation result for Socket.IO binding
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Services/WebPubSubForSocketIOService.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/tests/SocketIOServiceTests.cs
Labels: WebPubSub

#46126 Fix CDK release pipeline?
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/service.projects
Labels: Provisioning

#45134 Migrate PoP token support out of Azure.Experimental
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/ISupportsProofOfPossession.cs
  sdk/core/Azure.Core.Experimental/src/PopTokenRequestContext.cs
  sdk/core/Azure.Core.Experimental/tests/PopTokenAuthenticationPolicyTests.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/AccessToken.cs
  sdk/core/Azure.Core/src/TokenRequestContext.cs
  sdk/core/Azure.Core/tests/DataPlaneGeneratedClientTests.cs
  sdk/core/Azure.Core/tests/TokenRequestContextTests.cs
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/tests/ManualInteractiveBrowserCredentialBrokerTests.cs
  sdk/identity/Azure.Identity.Broker/tests/PopTestClient.cs
  sdk/identity/Azure.Identity.Broker/tests/PopTokenAuthenticationPolicy.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/AuthenticationResultExtensions.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/CredentialDiagnosticScope.cs
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
  sdk/identity/Azure.Identity/tests/Mock/MockMsalPublicClient.cs
Labels: Azure.Core, Azure.Identity

#46127 Azure OpenAI: 2.0.0-beta.6 changelog
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#46131 Regenerated after merging Structured Data swagger
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobAppendBlockHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobDownloadHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobStageBlockHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobUploadHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobUploadPagesHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/FileSystemRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathAppendDataHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathUpdateHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileDownloadHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileUploadRangeHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#46110 [CODEOWNERS] Remove redundant entries
  .github/CODEOWNERS
Labels: Client, EngSys

#46133 Updating CODEOWNERS for 1espt config
  .github/CODEOWNERS
Labels: Central-EngSys

#46053 [ElasticSan] Upgrade to API version 2024-05-01: Support CRC check for volume groups
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/CHANGELOG.md
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/api/Azure.ResourceManager.ElasticSan.netstandard2.0.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/assets.json
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanPrivateEndpointConnectionCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanPrivateEndpointConnectionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanSnapshotCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanSnapshotResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeGroupCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Azure.ResourceManager.ElasticSan.csproj
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ArmElasticSanModelFactory.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanPrivateEndpointConnectionCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanPrivateEndpointConnectionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanSnapshotCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanSnapshotResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupData.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupData.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/ElasticSanExtensions.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/MockableElasticSanResourceGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/MockableElasticSanSubscriptionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanVolumeGroupPatch.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanVolumeGroupPatch.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/ElasticSansRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/SkusRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumeGroupsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumeSnapshotsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumesRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/autorest.md
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Scenario/ElasticSanResourceTests.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Scenario/ElasticSanVolumeGroupCollectionTests.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Scenario/ElasticSanVolumeGroupResourceTests.cs
Labels: Mgmt

#45662 DataBoundary SDKs
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/api/Azure.ResourceManager.Resources.netstandard2.0.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_DataBoundaryCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_DataBoundaryResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_TenantDataBoundaryCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_TenantDataBoundaryResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/ArmResourcesModelFactory.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/DataBoundaryCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/DataBoundaryData.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/DataBoundaryData.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/DataBoundaryResource.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/DataBoundaryResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/MockableResourcesArmClient.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/MockableResourcesTenantResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/ResourcesExtensions.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DataBoundaryName.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DataBoundaryProperties.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DataBoundaryProperties.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DataBoundaryProvisioningState.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DataBoundaryRegion.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/RestOperations/DataBoundariesRestOperations.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/TenantDataBoundaryCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/TenantDataBoundaryResource.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/TenantDataBoundaryResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
Labels: ARM, Mgmt

#45984 Enable-WriteCore-feature-for-billingbenefits
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/CHANGELOG.md
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/api/Azure.ResourceManager.BillingBenefits.netstandard2.0.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/BillingBenefitsReservationOrderAliasData.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/BillingBenefitsSavingsPlanData.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/BillingBenefitsSavingsPlanOrderAliasData.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/BillingBenefitsSavingsPlanOrderData.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsAppliedScopeProperties.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsCommitment.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsExtendedStatusInfo.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsPrice.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsPurchaseContent.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsReservationOrderAliasCreateOrUpdateContent.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsRoleAssignmentEntity.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsSavingsPlanPatch.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsSavingsPlanPatchProperties.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsSavingsPlanUtilization.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsSavingsPlanUtilizationAggregate.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingBenefitsSku.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/BillingPlanInformation.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/RenewProperties.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/ReservationOrderAliasRequestPropertiesReservedResourceProperties.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/ReservationOrderAliasResponsePropertiesReservedResourceProperties.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanModelList.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanModelListResult.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanOrderModelList.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanOrderPaymentDetail.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanPurchaseValidateContent.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanSummary.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanSummaryCount.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanUpdateValidateContent.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanValidateResponse.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/Generated/Models/SavingsPlanValidateResult.Serialization.cs
  sdk/billingbenefits/Azure.ResourceManager.BillingBenefits/src/autorest.md
Labels: Mgmt

#45985 Enable-WriteCore-feature-for-blueprint
  sdk/blueprint/Azure.ResourceManager.Blueprint/CHANGELOG.md
  sdk/blueprint/Azure.ResourceManager.Blueprint/api/Azure.ResourceManager.Blueprint.netstandard2.0.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/ArtifactData.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/AssignmentData.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/AssignmentOperationData.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/BlueprintData.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/ArtifactList.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AssignmentDeploymentJob.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AssignmentDeploymentJobResult.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AssignmentJobCreatedResult.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AssignmentList.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AssignmentLockSettings.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AssignmentOperationList.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AssignmentStatus.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/AzureResourceManagerError.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/BlueprintList.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/BlueprintResourceStatusBase.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/BlueprintStatus.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/ManagedServiceIdentity.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/ParameterDefinition.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/ParameterValue.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/PolicyAssignmentArtifact.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/PublishedBlueprintList.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/ResourceGroupDefinition.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/ResourceGroupValue.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/RoleAssignmentArtifact.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/SecretValueReference.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/TemplateArtifact.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/UnknownArtifact.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/Models/WhoIsBlueprintContract.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/Generated/PublishedBlueprintData.Serialization.cs
  sdk/blueprint/Azure.ResourceManager.Blueprint/src/autorest.md
Labels: Mgmt

#46057 Enable WriteCore feature for connectedvmwarevsphere
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/CHANGELOG.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/api/Azure.ResourceManager.ConnectedVMwarevSphere.netstandard2.0.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/assets.json
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/HttpProxyConfiguration.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/NicIPAddressSettings.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/NicIPSettings.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/OSProfileForVmInstance.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/PlacementProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/SecurityProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/StopVirtualMachineContent.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/StorageProfileUpdate.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/UefiSettings.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VCenterInfrastructureProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VCenterInventoryItemListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VICredential.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareClusterListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareDatastoreListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareHostListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareNetworkInterface.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareNetworkInterfaceUpdate.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareNetworkProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareNetworkProfileUpdate.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareResourcePatchContent.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareResourcePoolListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareResourceStatus.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareStorageProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVCenterListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVirtualDisk.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVirtualDiskUpdate.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVirtualNetworkListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVmInstanceListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVmInstancePatch.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVmTemplateListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VMwareVmWindowsConfiguration.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VirtualScsiController.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VmInstanceGuestAgentListResult.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VmInstanceGuestCredential.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VmInstanceHardwareProfile.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/Models/VmInstanceHybridIdentityMetadataList.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VCenterInventoryItemData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareClusterData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareDatastoreData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareHostData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareResourcePoolData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareVCenterData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareVirtualNetworkData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareVmInstanceData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VMwareVmTemplateData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VmInstanceGuestAgentData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Generated/VmInstanceHybridIdentityMetadataData.Serialization.cs
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/autorest.md
Labels: Mgmt

#46052 Enable WriteCore feature for confluent
  sdk/confluent/Azure.ResourceManager.Confluent/CHANGELOG.md
  sdk/confluent/Azure.ResourceManager.Confluent/api/Azure.ResourceManager.Confluent.netstandard2.0.cs
  sdk/confluent/Azure.ResourceManager.Confluent/assets.json
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/ConfluentOrganizationData.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessClusterListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessClusterRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessEnvironmentListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessEnvironmentRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessInvitationContent.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessInvitationListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessInvitationRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessInvitedUserDetails.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessListContent.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessRoleBindingCreateContent.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessRoleBindingListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessRoleBindingNameListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessRoleBindingRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessServiceAccountListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessServiceAccountRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessUserListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/AccessUserRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ApiKeyOwnerEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ApiKeyResourceEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ApiKeySpecEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ClusterByokEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ClusterConfigEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ClusterEnvironmentEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ClusterNetworkEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ClusterSpecEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ClusterStatusEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentAgreement.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentAgreementListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentApiKeyCreateContent.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentApiKeyRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentListMetadata.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentOfferDetail.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentOrganizationListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentOrganizationPatch.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentOrganizationValidationResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentRegionListResult.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentRegionRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ConfluentUserDetail.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/GetEnvironmentsResponse.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/LinkOrganization.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ListClustersSuccessResponse.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/ListSchemaRegistryClustersResponse.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/MetadataEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/RegionSpecEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SCClusterByokEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SCClusterNetworkEnvironmentEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SCClusterRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SCClusterSpecEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SCEnvironmentRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SCMetadataEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SchemaRegistryClusterEnvironmentRegionEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SchemaRegistryClusterRecord.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SchemaRegistryClusterSpecEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/Generated/Models/SchemaRegistryClusterStatusEntity.Serialization.cs
  sdk/confluent/Azure.ResourceManager.Confluent/src/autorest.md
Labels: Mgmt

#46050 Enable WriteCore feature for confidentialledger
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/api/Azure.ResourceManager.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/assets.json
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ConfidentialLedgerData.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ManagedCcfData.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/AadBasedSecurityPrincipal.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/CertBasedSecurityPrincipal.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerBackupContent.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerBackupResult.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerDeploymentType.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerList.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerMemberIdentityCertificate.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerNameAvailabilityContent.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerNameAvailabilityResult.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerProperties.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerRestoreContent.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerRestoreResult.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfBackupContent.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfBackupResult.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfList.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfProperties.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfRestoreContent.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfRestoreResult.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/autorest.md
Labels: Mgmt

#46031 Enable WriteCore feature for communication
  sdk/communication/Azure.ResourceManager.Communication/CHANGELOG.md
  sdk/communication/Azure.ResourceManager.Communication/api/Azure.ResourceManager.Communication.netstandard2.0.cs
  sdk/communication/Azure.ResourceManager.Communication/assets.json
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/CommunicationDomainResourceData.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/CommunicationServiceResourceData.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/EmailServiceResourceData.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationAcceptTags.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationDomainResourcePatch.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationNameAvailabilityContent.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationNameAvailabilityResult.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationServiceKeys.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationServiceNameAvailabilityContent.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationServiceResourceList.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/CommunicationServiceResourcePatch.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/DomainPropertiesVerificationRecords.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/DomainPropertiesVerificationStates.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/DomainResourceList.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/DomainVerificationStatusRecord.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/DomainsRecordVerificationContent.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/EmailServiceResourceList.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/EmailServiceResourcePatch.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/LinkNotificationHubContent.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/LinkedNotificationHub.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/RegenerateCommunicationServiceKeyContent.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/SenderUsernameResourceCollection.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/Models/VerificationDnsRecord.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/SenderUsernameResourceData.Serialization.cs
  sdk/communication/Azure.ResourceManager.Communication/src/autorest.md
Labels: Communication - Resource Manager

#46026 Enable WriteCore feature for chaos
  sdk/chaos/Azure.ResourceManager.Chaos/CHANGELOG.md
  sdk/chaos/Azure.ResourceManager.Chaos/api/Azure.ResourceManager.Chaos.netstandard2.0.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ChaosCapabilityData.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ChaosCapabilityTypeData.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ChaosExperimentData.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ChaosExperimentExecutionData.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ChaosTargetData.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/ChaosTargetTypeData.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/CapabilityListResult.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/CapabilityTypeListResult.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosCapabilityTypeRuntimeProperties.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosContinuousAction.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosDelayAction.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosDiscreteAction.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentAction.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentBranch.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentPatch.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentRunActionStatus.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentRunBranchStatus.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentRunInformation.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentRunStepStatus.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosExperimentStep.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosKeyValuePair.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosTargetFilter.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosTargetListSelector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosTargetQuerySelector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosTargetReference.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosTargetSelector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosTargetSimpleFilter.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ChaosTargetSimpleFilterParameters.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ExperimentExecutionActionTargetDetailsError.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ExperimentExecutionActionTargetDetailsProperties.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ExperimentExecutionDetails.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ExperimentExecutionListResult.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/ExperimentListResult.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/TargetListResult.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/TargetTypeListResult.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/UnknownChaosExperimentAction.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/UnknownChaosTargetFilter.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/Generated/Models/UnknownChaosTargetSelector.Serialization.cs
  sdk/chaos/Azure.ResourceManager.Chaos/src/autorest.md
Labels: Mgmt

#46024 Enable WriteCore feature for changeanalysis
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/CHANGELOG.md
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/api/Azure.ResourceManager.ChangeAnalysis.netstandard2.0.cs
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/src/Generated/Models/ChangeList.Serialization.cs
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/src/Generated/Models/ChangeProperties.Serialization.cs
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/src/Generated/Models/DetectedChangeData.Serialization.cs
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/src/Generated/Models/PropertyChange.Serialization.cs
  sdk/changeanalysis/Azure.ResourceManager.ChangeAnalysis/src/autorest.md
Labels: Mgmt

#46094 Enable-WriteCore-feature-for-cosmosdbforpostgresql
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/CHANGELOG.md
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/api/Azure.ResourceManager.CosmosDBForPostgreSql.netstandard2.0.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/assets.json
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlClusterData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlClusterServerData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlConfigurationData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlFirewallRuleData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlPrivateEndpointConnectionData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlPrivateLinkResourceData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlRoleData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/CosmosDBForPostgreSqlServerConfigurationData.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterConfigurationListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterNameAvailabilityContent.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterNameAvailabilityResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterPatch.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlClusterServerListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlFirewallRuleListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlMaintenanceWindow.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlPrivateEndpointConnectionListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlPrivateLinkResourceListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlPrivateLinkServiceConnectionState.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlRoleListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerConfigurationListResult.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerNameItem.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlServerRoleGroupConfiguration.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/Generated/Models/CosmosDBForPostgreSqlSimplePrivateEndpointConnection.Serialization.cs
  sdk/cosmosdbforpostgresql/Azure.ResourceManager.CosmosDBForPostgreSql/src/autorest.md
Labels: Mgmt

#45810 Add mqtt hook for WebPubSub.AspNetCore project
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/samples/WebPubSubTriggerFunction.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/JObjectTests.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/tests/WebPubSubTriggerDispatcherTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/api/Microsoft.Azure.WebPubSub.AspNetCore.netcoreapp3.1.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubRequestExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/Constants.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/MqttConnectCodeToHttpStatusCodeConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/ServiceRequestHandlerAdapter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/MqttConnectionException.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/WebPubSubHub.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/Samples/WebPubSubSample.HelloWorld.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/ServiceRequestHandlerTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/WebPubSubEventRequestTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/api/Microsoft.Azure.WebPubSub.Common.netstandard2.0.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Internal/MqttConnectEventErrorResponseJsonConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Internal/MqttConnectPropertiesJsonConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Internal/WebPubSubClientCertificateJsonConverter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Microsoft.Azure.WebPubSub.Common.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/ConnectEventResponse.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/EventErrorResponse.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.Common/src/Response/MqttConnectEventErrorResponse.cs
Labels: WebPubSub

#46119 Enable WriteCore feature for datadog
  sdk/datadog/Azure.ResourceManager.Datadog/CHANGELOG.md
  sdk/datadog/Azure.ResourceManager.Datadog/api/Azure.ResourceManager.Datadog.netstandard2.0.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/DatadogMonitorResourceData.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/DatadogSingleSignOnResourceData.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogAgreementProperties.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogAgreementResourceListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogAgreementResourceProperties.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogApiKey.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogApiKeyListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogHost.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogHostListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogHostMetadata.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogInstallMethod.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogLogsAgent.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogMonitorResourceListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogMonitorResourcePatch.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogOrganizationProperties.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogSetPasswordLink.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogSingleSignOnProperties.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/DatadogSingleSignOnResourceListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/FilteringTag.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/LinkedResourceListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/LogRules.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/MetricRules.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/MonitorProperties.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/MonitorUpdateProperties.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/MonitoredResourceContent.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/MonitoredResourceListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/MonitoringTagRulesListResponse.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/MonitoringTagRulesProperties.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/ResourceSku.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/Models/UserInfo.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/Generated/MonitoringTagRuleData.Serialization.cs
  sdk/datadog/Azure.ResourceManager.Datadog/src/autorest.md
Labels: Mgmt
