Repository Azure/azure-sdk-for-net, pull requests merged in 2024-10, with the labels that each got.

#46376 Log troubleshooting headers for AzurePipelinesCredential
  sdk/identity/Azure.Identity.Broker/tests/PopTestClient.cs
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/AzurePipelinesCredential.cs
  sdk/identity/Azure.Identity/tests/AzurePipelinesCredentialTests.cs
Labels: Azure.Identity

#45751 Add open telemetry to Azure.AI.Inferencing
  eng/Packages.Data.props
  sdk/ai/Azure.AI.Inference/Azure.AI.Inference.sln
  sdk/ai/Azure.AI.Inference/README.md
  sdk/ai/Azure.AI.Inference/assets.json
  sdk/ai/Azure.AI.Inference/samples/Sample2_ChatCompletionsWithAoai.md
  sdk/ai/Azure.AI.Inference/samples/Sample8_ChatCompletionsWithOpenTelemetry.md
  sdk/ai/Azure.AI.Inference/samples/images/Sample8_ChatCompletionsWithOpenTelemetry.png
  sdk/ai/Azure.AI.Inference/src/Azure.AI.Inference.csproj
  sdk/ai/Azure.AI.Inference/src/Customized/ChatCompletionsClient.cs
  sdk/ai/Azure.AI.Inference/src/Customized/StreamingChatCompletionsUpdate.Serialization.cs
  sdk/ai/Azure.AI.Inference/src/Customized/StreamingChatCompletionsUpdate.cs
  sdk/ai/Azure.AI.Inference/src/Helpers/SseAsyncEnumerator.cs
  sdk/ai/Azure.AI.Inference/src/Properties/AssemblyInfo.cs
  sdk/ai/Azure.AI.Inference/src/Telemetry/OpenTelemetryConstants.cs
  sdk/ai/Azure.AI.Inference/src/Telemetry/OpenTelemetryScope.cs
  sdk/ai/Azure.AI.Inference/src/Telemetry/RecordedResponse.cs
  sdk/ai/Azure.AI.Inference/src/Telemetry/ResponseBuffer.cs
  sdk/ai/Azure.AI.Inference/tests/Azure.AI.Inference.Tests.csproj
  sdk/ai/Azure.AI.Inference/tests/InferenceClientTelemetryTest.cs
  sdk/ai/Azure.AI.Inference/tests/InferenceClientTest.cs
  sdk/ai/Azure.AI.Inference/tests/InferenceClientTestEnvironment.cs
  sdk/ai/Azure.AI.Inference/tests/OpenTelemetryScopeTest.cs
  sdk/ai/Azure.AI.Inference/tests/Samples/Sample8_ChatCompletionsWithOpenTelemetry.cs
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletions.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsAsync.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(DoNotSpecifyToolChoice,MistralSmall).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(DoNotSpecifyToolChoice,MistralSmall)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseAutoPresetToolChoice,MistralSmall).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseAutoPresetToolChoice,MistralSmall)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseFunctionByExplicitToolDefinitionForToolChoice,GitHubGpt4o).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseFunctionByExplicitToolDefinitionForToolChoice,GitHubGpt4o)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseFunctionByImplicitToolDefinitionForToolChoice,GitHubGpt4o).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseFunctionByImplicitToolDefinitionForToolChoice,GitHubGpt4o)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseNonePresetToolChoice,MistralSmall).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsFunctionToolHandling(UseNonePresetToolChoice,MistralSmall)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithEntraIdAuth.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithEntraIdAuthAsync.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithImages(UsingBinaryData).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithImages(UsingBinaryData)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithImages(UsingInternetLocation).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithImages(UsingInternetLocation)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithImages(UsingStream).json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestChatCompletionsWithImages(UsingStream)Async.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestSendModelExtras.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestSendModelExtrasAsync.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestStreamingChatCompletions.json
  sdk/ai/Azure.AI.Inference/tests/SessionRecords/InferenceClientTest/TestStreamingChatCompletionsAsync.json
  sdk/ai/Azure.AI.Inference/tests/SingleRecordedResponseTest.cs
  sdk/ai/Azure.AI.Inference/tests/StreamingRecordingResponseTest.cs
  sdk/ai/Azure.AI.Inference/tests/Utilities/TelemetryUtils.cs
  sdk/ai/Azure.AI.Inference/tests/Utilities/ValidatingActivityListener.cs
  sdk/ai/Azure.AI.Inference/tests/Utilities/ValidatingMeterListener.cs
Labels: AI Model Inference

#46374 [Search] Fix nightly test failures
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
Labels: Search

#46352 Azure.Provisioning: Quick Role fixes
  sdk/provisioning/Azure.Provisioning.AppConfiguration/api/Azure.Provisioning.AppConfiguration.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.AppConfiguration/src/Generated/AppConfigurationStore.cs
  sdk/provisioning/Azure.Provisioning.AppContainers/api/Azure.Provisioning.AppContainers.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.AppContainers/src/Generated/ContainerAppManagedEnvironment.cs
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/api/Azure.Provisioning.ApplicationInsights.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/src/Generated/ApplicationInsightsComponent.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
  sdk/provisioning/Azure.Provisioning.CognitiveServices/api/Azure.Provisioning.CognitiveServices.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CognitiveServices/src/Generated/CognitiveServicesAccount.cs
  sdk/provisioning/Azure.Provisioning.ContainerRegistry/api/Azure.Provisioning.ContainerRegistry.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.ContainerRegistry/src/Generated/ContainerRegistryService.cs
  sdk/provisioning/Azure.Provisioning.ContainerService/api/Azure.Provisioning.ContainerService.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.ContainerService/src/Generated/ContainerServiceManagedCluster.cs
  sdk/provisioning/Azure.Provisioning.CosmosDB/api/Azure.Provisioning.CosmosDB.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CosmosDB/src/Generated/CosmosDBAccount.cs
  sdk/provisioning/Azure.Provisioning.EventHubs/api/Azure.Provisioning.EventHubs.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.EventHubs/src/Generated/EventHubsCluster.cs
  sdk/provisioning/Azure.Provisioning.EventHubs/src/Generated/EventHubsNamespace.cs
  sdk/provisioning/Azure.Provisioning.KeyVault/api/Azure.Provisioning.KeyVault.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.KeyVault/src/Generated/KeyVaultService.cs
  sdk/provisioning/Azure.Provisioning.Kubernetes/api/Azure.Provisioning.Kubernetes.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.Kubernetes/src/Generated/ConnectedCluster.cs
  sdk/provisioning/Azure.Provisioning.KubernetesConfiguration/api/Azure.Provisioning.KubernetesConfiguration.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.KubernetesConfiguration/src/Generated/KubernetesClusterExtension.cs
  sdk/provisioning/Azure.Provisioning.KubernetesConfiguration/src/Generated/KubernetesFluxConfiguration.cs
  sdk/provisioning/Azure.Provisioning.Redis/api/Azure.Provisioning.Redis.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.Redis/src/Generated/RedisResource.cs
  sdk/provisioning/Azure.Provisioning.Search/api/Azure.Provisioning.Search.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.Search/src/Generated/SearchService.cs
  sdk/provisioning/Azure.Provisioning.ServiceBus/api/Azure.Provisioning.ServiceBus.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.ServiceBus/src/Generated/ServiceBusNamespace.cs
  sdk/provisioning/Azure.Provisioning.SignalR/api/Azure.Provisioning.SignalR.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.SignalR/src/Generated/SignalRService.cs
  sdk/provisioning/Azure.Provisioning.Sql/api/Azure.Provisioning.Sql.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.Sql/src/Generated/SqlServer.cs
  sdk/provisioning/Azure.Provisioning.Storage/api/Azure.Provisioning.Storage.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.Storage/src/Generated/StorageAccount.cs
  sdk/provisioning/Azure.Provisioning.Storage/tests/BasicStorageTests.cs
  sdk/provisioning/Azure.Provisioning.WebPubSub/api/Azure.Provisioning.WebPubSub.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.WebPubSub/src/Generated/WebPubSubService.cs
  sdk/provisioning/Azure.Provisioning/api/Azure.Provisioning.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning/src/Primitives/ProvisioningConstruct.cs
  sdk/provisioning/Azure.Provisioning/tests/SampleTests.cs
  sdk/provisioning/Generator/src/Model/Resource.cs
Labels: Provisioning

#46391 API view comments
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
Labels: Storage

#46390 Azure OpenAI: 2.1.0-beta.1, including /realtime preview support
  eng/Packages.Data.props
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/Directory.Build.props
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIClientOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Batch/AzureCreateBatchOperation.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/AzureFineTurningJobOperation.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/RealtimeConversation/AzureRealtimeConversationClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/RealtimeConversation/AzureRealtimeConversationClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/RealtimeConversation/AzureRealtimeConversationSession.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/RealtimeConversation/AzureRealtimeConversationSession.cs
  sdk/openai/Azure.AI.OpenAI/tests/Assets/whats_the_weather_pcm16_24khz_mono.wav
  sdk/openai/Azure.AI.OpenAI/tests/ConversationProtocolTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ConversationSmokeTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ConversationTestFixtureBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/ConversationTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FineTuningTests.cs
Labels: OpenAI

#46392 [Storage] [DataMovement] Fix to resolve The using directive for BaseShares Models appeared previously in this namespace
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Shared/DisposingShare.cs
Labels: Storage

#46396 Azure.Provisioning: Add name requirements for Postgres flexible server
  sdk/provisioning/Azure.Provisioning.PostgreSql/api/Azure.Provisioning.PostgreSql.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.PostgreSql/src/Generated/PostgreSqlFlexibleServer.cs
  sdk/provisioning/Generator/src/Specifications/PostgreSqlSpecification.cs
Labels: Provisioning

#46388 [Service Bus] Enhance logging for session timeouts
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusSessionReceiver.cs
Labels: Service Bus, Client

#45161 Default to sub config file paths/svc connection for public + sovereign live tests
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/communication/Azure.Communication.CallAutomation/tests.yml
  sdk/communication/Azure.Communication.CallingServer/tests.yml
  sdk/communication/Azure.Communication.Email/tests.yml
  sdk/digitaltwins/tests.yml
  sdk/documentintelligence/tests.yml
  sdk/extension-wcf/tests.yml
  sdk/formrecognizer/tests.yml
  sdk/keyvault/tests.yml
  sdk/monitor/Azure.Monitor.Ingestion/tests.yml
  sdk/search/tests.yml
  sdk/storage/tests.datamovement.yml
  sdk/storage/tests.functions.yml
  sdk/storage/tests.mgmt.yml
  sdk/storage/tests.yml
  sdk/textanalytics/tests.yml
Labels: Central-EngSys

#46377 Sync eng/common directory with azure-sdk-tools for PR 9074
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#46401 Azure OpenAI: set header in order to avoid adding multiple Authorization headers on retries
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureTokenAuthenticationPolicy.cs
Labels: OpenAI

#46368 Update Nginx SDK to API version 2024-06-01-preview
  sdk/nginx/Azure.ResourceManager.Nginx/README.md
  sdk/nginx/Azure.ResourceManager.Nginx/api/Azure.ResourceManager.Nginx.netstandard2.0.cs
  sdk/nginx/Azure.ResourceManager.Nginx/assets.json
  sdk/nginx/Azure.ResourceManager.Nginx/samples/Generated/Samples/Sample_NginxCertificateCollection.cs
  sdk/nginx/Azure.ResourceManager.Nginx/samples/Generated/Samples/Sample_NginxCertificateResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/samples/Generated/Samples/Sample_NginxConfigurationCollection.cs
  sdk/nginx/Azure.ResourceManager.Nginx/samples/Generated/Samples/Sample_NginxConfigurationResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/samples/Generated/Samples/Sample_NginxDeploymentCollection.cs
  sdk/nginx/Azure.ResourceManager.Nginx/samples/Generated/Samples/Sample_NginxDeploymentResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/ArmNginxModelFactory.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Extensions/MockableNginxResourceGroupResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Extensions/MockableNginxSubscriptionResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Extensions/NginxExtensions.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/ActivationState.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentProperties.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentProperties.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentPropertiesNginxAppProtect.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentPropertiesNginxAppProtect.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentUpdateProperties.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentUpdateProperties.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentUpdatePropertiesNginxAppProtect.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/NginxDeploymentUpdatePropertiesNginxAppProtect.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallComponentVersions.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallComponentVersions.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallPackage.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallPackage.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallSettings.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallSettings.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallStatus.Serialization.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/Models/WebApplicationFirewallStatus.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/NginxCertificateCollection.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/NginxCertificateResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/NginxConfigurationCollection.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/NginxConfigurationResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/NginxDeploymentCollection.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/NginxDeploymentResource.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/RestOperations/CertificatesRestOperations.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/RestOperations/ConfigurationsRestOperations.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/Generated/RestOperations/DeploymentsRestOperations.cs
  sdk/nginx/Azure.ResourceManager.Nginx/src/autorest.md
  sdk/nginx/Azure.ResourceManager.Nginx/tests/Helpers/ResourceDataHelper.cs
  sdk/nginx/Azure.ResourceManager.Nginx/tests/NginxManagementTestBase.cs
  sdk/nginx/Azure.ResourceManager.Nginx/tests/Scenario/NginxCertificateCollectionTests.cs
  sdk/nginx/Azure.ResourceManager.Nginx/tests/Scenario/NginxCertificateResourceTests.cs
  sdk/nginx/Azure.ResourceManager.Nginx/tests/Scenario/NginxConfigurationCollectionTests.cs
  sdk/nginx/Azure.ResourceManager.Nginx/tests/Scenario/NginxConfigurationResourceTests.cs
  sdk/nginx/Azure.ResourceManager.Nginx/tests/Scenario/NginxDeploymentCollectionTests.cs
  sdk/nginx/Azure.ResourceManager.Nginx/tests/Scenario/NginxDeploymentResourceTests.cs
Labels: Nginx

#46399 [DocumentIntelligence] Renaming and fixing the behavior of TrainingOperation
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/OperationWithId.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/OperationWithIdLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#46411 Preparation for release of Azure.Core 1.44.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#46410 Preparation for release of System.ClientModel 1.2.0
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#46409 [Storage] [Blobs] [DataMovement] [Tests] End to End Tests for StartUploadDirectoryAsync & StartDownloadToDirectoryAsync
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerClientExtensionsIntegrationTests.cs
Labels: Storage

#46412 Preparation for release of Azure.Core.Experimental 0.1.0-preview.36
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#46400 [Storage] [DataMovement] [Blobs] Stress Scenarios
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/generatedValues.yaml
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/scenarios-matrix.yaml
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Azure.Storage.DataMovement.Blobs.Stress.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Infrastructure/BlobTestSetupHelper.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Infrastructure/TestSetupHelper.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/BlobScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/BlobSingleDownloadScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyAppendBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyAppendBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlockBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlockBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyPageBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyPageBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadAppendBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadAppendBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlockBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlockBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadPageBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadPageBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/TestScenarioName.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadAppendBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadAppendBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlockBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlockBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadPageBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadPageBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/src/DataMovementBlobStressConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/src/Program.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/templates/stress-test-job.yaml
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
Labels: Storage

#46413 Sync eng/common directory with azure-sdk-tools for PR 9092
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#46416 [DocumentIntelligence] Reenabling ignored test after service fix
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentAssert.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentClassifierAdministrationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/OperationWithIdLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#46418 Added support for optional KeyVault to CloudMachine
  sdk/provisioning/Azure.Provisioning.CloudMachine/Azure.CloudMachine.sln
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Client/MessagingServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CloudMachineFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning

#46420 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#46423 fixing build
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OpenAIFeature.cs
Labels: Provisioning

#45339 Fix minor typo in ImageAnalysisOptions.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Custom/ImageAnalysisOptions.cs
Labels: customer-reported, Community Contribution, no-recent-activity, Image Analysis

#46408 [communication]-[sms]-Split public and int tests and fix public tests
  sdk/communication/Azure.Communication.Sms/tests.int.yml
  sdk/communication/Azure.Communication.Sms/tests.yml
Labels: Communication - SMS

#46397 [Search] Update Samples as per Azure OpenAI GA Version
  eng/Packages.Data.props
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingReducedEmbeddings.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingSemanticHybridQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizableTextQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizedQuery.md
  sdk/search/Azure.Search.Documents/tests/Azure.Search.Documents.Tests.csproj
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearchCommons.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearch_UsingReducedEmbeddings.cs
Labels: Search

#46422 [Extensions] October 2024 Release Prep
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Client, Extensions

#44510 Dispose of streams that are created to wrap BinaryData
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage, customer-reported, Community Contribution

#46431 [Storage] [Blobs] Updated Changelog to include disposing stream made from wrapping BinaryData on Upload
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
Labels: Storage

#46424 [Storage][DataMovement] Add basic perf tests for DataMovement Blobs
  sdk/storage/Azure.Storage.Common/tests/Shared/RepeatingStream.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Azure.Storage.DataMovement.Blobs.Perf.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Infrastructure/DirectoryTransferTest.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Infrastructure/PerfTestEnvironment.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Options/DirectoryTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Program.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/CopyDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/DownloadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/UploadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/README.md
  sdk/storage/Azure.Storage.DataMovement.sln
  sdk/storage/Azure.Storage.sln
Labels: Storage

#46432 Sync eng/common directory with azure-sdk-tools for PR 9098
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#46433 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#46435 [EngSys] Bump central Extenstions version
  eng/Packages.Data.props
Labels: Client, EngSys

#46437 Azure.Provisioning: Move name validation to Infrastructure and expose for Aspire
  sdk/provisioning/Azure.Provisioning/api/Azure.Provisioning.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning/src/Infrastructure.cs
  sdk/provisioning/Azure.Provisioning/src/Primitives/ProvisioningConstruct.cs
  sdk/provisioning/Azure.Provisioning/tests/SampleTests.cs
Labels: Provisioning

#46440 Increment version for provisioning releases
  sdk/provisioning/Azure.Provisioning.AppConfiguration/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.AppConfiguration/src/Azure.Provisioning.AppConfiguration.csproj
  sdk/provisioning/Azure.Provisioning.CognitiveServices/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CognitiveServices/src/Azure.Provisioning.CognitiveServices.csproj
  sdk/provisioning/Azure.Provisioning.CosmosDB/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CosmosDB/src/Azure.Provisioning.CosmosDB.csproj
  sdk/provisioning/Azure.Provisioning.EventHubs/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.EventHubs/src/Azure.Provisioning.EventHubs.csproj
  sdk/provisioning/Azure.Provisioning.KeyVault/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.KeyVault/src/Azure.Provisioning.KeyVault.csproj
  sdk/provisioning/Azure.Provisioning.PostgreSql/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.PostgreSql/src/Azure.Provisioning.PostgreSql.csproj
  sdk/provisioning/Azure.Provisioning.Redis/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Redis/src/Azure.Provisioning.Redis.csproj
  sdk/provisioning/Azure.Provisioning.Search/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Search/src/Azure.Provisioning.Search.csproj
  sdk/provisioning/Azure.Provisioning.ServiceBus/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.ServiceBus/src/Azure.Provisioning.ServiceBus.csproj
  sdk/provisioning/Azure.Provisioning.SignalR/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.SignalR/src/Azure.Provisioning.SignalR.csproj
  sdk/provisioning/Azure.Provisioning.Sql/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Sql/src/Azure.Provisioning.Sql.csproj
  sdk/provisioning/Azure.Provisioning.Storage/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Storage/src/Azure.Provisioning.Storage.csproj
  sdk/provisioning/Azure.Provisioning.WebPubSub/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.WebPubSub/src/Azure.Provisioning.WebPubSub.csproj
  sdk/provisioning/Azure.Provisioning/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning/src/Azure.Provisioning.csproj
Labels: Provisioning

#46441 Increment version for provisioning releases
  sdk/provisioning/Azure.Provisioning.AppService/Changelog.md
  sdk/provisioning/Azure.Provisioning.AppService/src/Azure.Provisioning.AppService.csproj
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/src/Azure.Provisioning.ApplicationInsights.csproj
  sdk/provisioning/Azure.Provisioning.Communication/Changelog.md
  sdk/provisioning/Azure.Provisioning.Communication/src/Azure.Provisioning.Communication.csproj
  sdk/provisioning/Azure.Provisioning.ContainerRegistry/Changelog.md
  sdk/provisioning/Azure.Provisioning.ContainerRegistry/src/Azure.Provisioning.ContainerRegistry.csproj
  sdk/provisioning/Azure.Provisioning.ContainerService/Changelog.md
  sdk/provisioning/Azure.Provisioning.ContainerService/src/Azure.Provisioning.ContainerService.csproj
  sdk/provisioning/Azure.Provisioning.Deployment/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Deployment/src/Azure.Provisioning.Deployment.csproj
  sdk/provisioning/Azure.Provisioning.EventGrid/Changelog.md
  sdk/provisioning/Azure.Provisioning.EventGrid/src/Azure.Provisioning.EventGrid.csproj
  sdk/provisioning/Azure.Provisioning.Kubernetes/Changelog.md
  sdk/provisioning/Azure.Provisioning.Kubernetes/src/Azure.Provisioning.Kubernetes.csproj
  sdk/provisioning/Azure.Provisioning.KubernetesConfiguration/Changelog.md
  sdk/provisioning/Azure.Provisioning.KubernetesConfiguration/src/Azure.Provisioning.KubernetesConfiguration.csproj
  sdk/provisioning/Azure.Provisioning.OperationalInsights/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.OperationalInsights/src/Azure.Provisioning.OperationalInsights.csproj
Labels: Provisioning

#46446 [Storage] [DataMovement] [API-Change] Changed ShareFilesStorageResourceProvider.FromFile/Directory to take a Uri over string
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
Labels: Storage

#46289 Enabled STG 96 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
Labels: Storage

#46438 [Service Bus] October 2024 Release Prep
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, Client

#46425 Fix missing HybridSearch in copy method of SearchOptions
  sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/SearchTests.cs
Labels: Search, customer-reported, Community Contribution

#45044 Onboard Azure.Developer.MicrosoftPlaywrightTesting sdk
  .github/CODEOWNERS
  eng/Packages.Data.props
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.sln
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/Directory.Build.props
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/README.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/api/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/samples/README.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/samples/Sample1_CustomisingServiceParameters.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/samples/Sample2_SetDefaultAuthenticationMechanism.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.csproj
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/PlaywrightServiceNUnit.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/tests/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.Tests.csproj
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/tests/samples/README.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/tests/samples/Sample1_CustomisingServiceParameters.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/tests/samples/Sample2_SetDefaultAuthenticationMechanism.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.sln
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/Directory.Build.props
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/README.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/api/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/AssemblyInfo.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.csproj
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Client/Internal/Argument.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Client/ReportingTestResultsClient.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Client/ReportingTestRunsClient.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Client/TestReportingClientOptions.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/ConnectOptions.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/EntraLifecycle.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Model/CIInfo.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Model/MPTResult.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Model/TestReporting.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightReporter.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightServiceOptions.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/CiInfoProvider.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/Logger.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/ReporterUtils.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.Tests.csproj
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/EntraLifecycleTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceClientTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceOptionsTest.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceTestEnvironment.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/TestUtils.cs
  sdk/playwrighttesting/ci.yml
  sdk/playwrighttesting/test-resources.json
  sdk/playwrighttesting/tests.yml
Labels: Microsoft Playwright Testing

#46451 STG 96 beta changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#45998 Azure.Monitor.Query: invalid date string format in MetricsClient
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/assets.json
  sdk/monitor/Azure.Monitor.Query/src/MetricsClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsClientExtensions.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryResourcesOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/QueryTimeRange.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientLiveTests.cs
  sdk/monitor/test-resources.bicep
Labels: Client, customer-reported, Community Contribution, Monitor - Query

#46477 Sync eng/common directory with azure-sdk-tools for PR 9099
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#46479 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#46330 [Event Hubs] Convert tests to use identity auth
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample01_HelloWorld.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample03_EventProcessorHandlers.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample04_ProcessingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample05_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample06_RequestingStorageServiceVersions.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample07_BatchProcessing.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/MigrationGuideSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample02_EventProcessorConfigurationLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample03_EventProcessorHandlersLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample04_ProcessingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample05_IdentityAndSharedAccessCredentialsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample06_RequestingStorageServiceVersionsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Snippets/Sample07_BatchProcessingLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md
  sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide_WindowsAzureServiceBus.md
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample01_HelloWorld.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample02_EventHubsClients.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample03_EventHubMetadata.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample05_ReadingEvents.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample06_IdentityAndSharedAccessCredentials.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample07_EarlierLanguageVersions.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample08_CustomEventProcessor.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ObservableEventBatch.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample10_AzureEventSourceListener.md
  sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample11_MockingClientTypes.md
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Connection/EventHubConnectionLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/IdempotentPublishingLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/ReadMeSnippetsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample01_HelloWorldLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample02_EventHubsClientsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample03_EventHubMetadataLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample04_PublishingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample05_ReadingEventsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample07_EarlierLanguageVersionsLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample08_CustomEventProcessorLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample09_ObservableEventBatchLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/Sample10_AzureEventSourceListenerTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Snippets/SamplesCommonTests.cs
Labels: Event Hubs, Client

#46483 [EngSys] Update central Service Bus version
  eng/Packages.Data.props
Labels: Client, EngSys

#46485 Sync eng/common directory with azure-sdk-tools for PR 9113
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#46482 Sync eng/common directory with azure-sdk-tools for PR 9106
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#46487 Added STG 97 x-ms-version
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTestFixtureAttribute.cs
Labels: Storage

#46494 Update Maps codeowners
  .github/CODEOWNERS
Labels: Maps

#46486 [Storage][DataMovement] Fix perf test cleanup + other minor fixes
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Infrastructure/DirectoryTransferTest.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
Labels: Storage

#46449 TransferManager tests
  sdk/storage/Azure.Storage.Common/tests/Shared/ScopeManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobBuilder.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StorageResourceTestWrappers.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#46512 Prepare for release- Azure.Core & System.ClientModel
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#46475 [Storage] [DataMovement] Moved all blob related tests out of DataMovement.Tests to DataMovement.Blobs.Test
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerClientExtensionsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/DataMovementBlobTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ProgressHandlerAsserts.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferCheckpointerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferDownloadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferUploadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/TestGetBlobsContainerClient.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/TestProgressHandler.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/TransferValidator.Blobs.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyDirectoryTests.cs
Labels: Storage

#46523 fix(digitaltwins): bump System.Text.Json to 6.0.10
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsClientSample.csproj
Labels: Digital Twins

#46524 add release date to Fleet .NET SDK latest version
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/CHANGELOG.md
Labels: Mgmt

#46526 Update AutoRest C# version to 3.0.0-beta.20241009.4
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Mgmt, Communication

#46517 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#46537 [Storage] Prepare for Storage Base Packages Preview Patch Release and WebJobs GA Patch Release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#46539 [Storage] Prepare for patch release for Blobs GA
  eng/Packages.Data.props
  sdk/communication/Azure.Communication.JobRouter/README.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorld.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorldAsync.md
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/JobRouterChangeNotification.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/src/Messaging/CloudEvent.cs
  sdk/core/Azure.Core/src/Messaging/CloudEventConverter.cs
  sdk/core/Azure.Core/src/Serialization/AzureCoreExtensions.cs
  sdk/core/Azure.Core/tests/compatibility/ExpectedAotWarnings.txt
  sdk/core/System.ClientModel/tests/Pipeline/HttpClientPipelineTransportTests.cs
  sdk/openai/tools/TestFramework/src/Mocks/MockPage.cs
  sdk/openai/tools/TestFramework/src/Mocks/MockRestServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Queues/src/Models/QueueMessage.cs
  sdk/storage/Azure.Storage.Queues/src/QueueMessageCodec.cs
Labels: Storage

#46538 [Storage] Prepare for patch release for Storage GA releases (except for blobs)
  eng/Packages.Data.props
  sdk/communication/Azure.Communication.JobRouter/README.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorld.md
  sdk/communication/Azure.Communication.JobRouter/samples/Sample1_HelloWorldAsync.md
  sdk/communication/Azure.Communication.JobRouter/tests/Samples/JobRouterChangeNotification.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/src/Messaging/CloudEvent.cs
  sdk/core/Azure.Core/src/Messaging/CloudEventConverter.cs
  sdk/core/Azure.Core/src/Serialization/AzureCoreExtensions.cs
  sdk/core/Azure.Core/tests/compatibility/ExpectedAotWarnings.txt
  sdk/core/System.ClientModel/tests/Pipeline/HttpClientPipelineTransportTests.cs
  sdk/openai/tools/TestFramework/src/Mocks/MockPage.cs
  sdk/openai/tools/TestFramework/src/Mocks/MockRestServiceClient.cs
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Azure.Storage.Queues/src/Models/QueueMessage.cs
  sdk/storage/Azure.Storage.Queues/src/QueueMessageCodec.cs
Labels: Storage

#46549 [Storage] Patch Release for Blobs to include hotfix from previous release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlobClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideDecryptor.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptionVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/EncryptionAgent.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/Models/EncryptionData.cs
  sdk/storage/Azure.Storage.Queues/tests/ClientSideEncryptionTests.cs
Labels: Storage

#46013 [Key Vault] Add CAE support
  eng/Packages.Data.props
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/ContinuousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/ContinuousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ContinuousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ChallengeBasedAuthenticationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ContinousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/Azure.Security.KeyVault.Shared.Tests.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/ContinuousAccessEvaluationTestsBase.cs
Labels: KeyVault

#46554 [Fleet] Adding rahuls-microsoft to code owners
  eng/Packages.Data.props
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/ContinuousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/ContinuousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ContinuousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ChallengeBasedAuthenticationPolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/ContinousAccessEvaluationTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/Azure.Security.KeyVault.Shared.Tests.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/ContinuousAccessEvaluationTestsBase.cs
Labels: KeyVault

#46561 Update AutoRest C# version to 3.0.0-beta.20241010.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/dns/Azure.ResourceManager.Dns/src/Generated/Extensions/DnsExtensions.cs
  sdk/dns/Azure.ResourceManager.Dns/src/Generated/Extensions/MockableDnsArmClient.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Extensions/MockablePrivateDnsArmClient.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Extensions/PrivateDnsExtensions.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Extensions/MockableTrafficManagerArmClient.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Extensions/TrafficManagerExtensions.cs
Labels: Mgmt

#46562 Increment version for signalr releases
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: SignalR

#46491 Enable WriteCore feature for healthcareapis
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/CHANGELOG.md
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/api/Azure.ResourceManager.HealthcareApis.netstandard2.0.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/assets.json
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/DicomServiceData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/FhirServiceData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/HealthcareApisIotConnectorData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/HealthcareApisIotFhirDestinationData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/HealthcareApisPrivateEndpointConnectionData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/HealthcareApisPrivateLinkResourceData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/HealthcareApisServiceData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/HealthcareApisWorkspaceData.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/DicomServiceAuthenticationConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/DicomServiceCollection.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/DicomServiceCorsConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/DicomServicePatch.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/Encryption.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/EncryptionCustomerManagedKeyEncryption.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServiceAcrConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServiceAuthenticationConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServiceCollection.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServiceCorsConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServiceExportConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServiceImportConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServicePatch.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/FhirServiceResourceVersionPolicyConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisIotConnectorEventHubIngestionConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisIotConnectorPatch.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisIotMappingProperties.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisNameAvailabilityContent.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisNameAvailabilityResult.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisPrivateLinkServiceConnectionState.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisResourceTags.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceAccessPolicyEntry.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceAcrConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceAuthenticationConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceCorsConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceCosmosDbConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceImportConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceOciArtifactEntry.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServicePatch.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceProperties.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisServiceStorageConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisWorkspacePatch.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/HealthcareApisWorkspaceProperties.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/ImplementationGuidesConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/IotConnectorCollection.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/IotFhirDestinationCollection.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/PrivateEndpointConnectionListResultDescription.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/PrivateLinkResourceListResultDescription.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/ServiceExportConfigurationInfo.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/ServicesDescriptionListResult.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/SmartIdentityProviderApplication.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/SmartIdentityProviderConfiguration.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/Models/WorkspaceList.Serialization.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/autorest.md
Labels: Mgmt

#46520 Enable-WriteCore-feature-for-servicelinker
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/CHANGELOG.md
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/api/Azure.ResourceManager.ServiceLinker.netstandard2.0.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/assets.json
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/LinkerResourceData.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/AuthBaseInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/AzureKeyVaultProperties.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/AzureResourceBaseProperties.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/AzureResourceInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/ConfluentBootstrapServerInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/ConfluentSchemaRegistryInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/KeyVaultSecretReferenceSecretInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/KeyVaultSecretUriSecretInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/LinkerList.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/LinkerResourcePatch.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/LinkerSecretStore.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/LinkerValidateOperationResult.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/LinkerValidationResultItemInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/RawValueSecretInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/SecretAuthInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/SecretBaseInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/ServicePrincipalCertificateAuthInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/ServicePrincipalSecretAuthInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/SourceConfiguration.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/SourceConfigurationResult.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/SystemAssignedIdentityAuthInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/TargetServiceBaseInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/UnknownAuthInfoBase.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/UnknownAzureResourcePropertiesBase.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/UnknownSecretInfoBase.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/UnknownTargetServiceBase.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/UserAssignedIdentityAuthInfo.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/Generated/Models/VnetSolution.Serialization.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/src/autorest.md
Labels: Mgmt

#46497 Enable WriteCore feature for trafficmanager
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/CHANGELOG.md
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/api/Azure.ResourceManager.TrafficManager.netstandard2.0.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/ExpectedStatusCodeRangeInfo.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerDnsConfig.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerEndpointCustomHeaderInfo.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerEndpointSubnetInfo.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerHeatMapEndpoint.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerHeatMapQueryExperience.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerHeatMapTrafficFlow.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerMonitorConfig.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerMonitorConfigCustomHeaderInfo.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerNameAvailabilityResult.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerProfileListResult.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerProxyResourceData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerRegion.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerRelativeDnsNameAvailabilityContent.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerResourceData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/Models/TrafficManagerTrackedResourceData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/TrafficManagerEndpointData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/TrafficManagerGeographicHierarchyData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/TrafficManagerHeatMapData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/TrafficManagerProfileData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/Generated/TrafficManagerUserMetricData.Serialization.cs
  sdk/trafficmanager/Azure.ResourceManager.TrafficManager/src/autorest.md
Labels: Mgmt

#46505 Enable-WriteCore-feature-for-servicebus
  sdk/servicebus/Azure.ResourceManager.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/api/Azure.ResourceManager.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/assets.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/MigrationConfigurationData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ArmDisasterRecoveryListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/FailoverProperties.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/MessageCountDetails.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/MigrationConfigListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/NetworkRuleSetListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/PrivateLinkResourcesListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/RuleListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/SBAuthorizationRuleListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/SBNamespaceListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/SBQueueListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/SBSubscriptionListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/SBTopicListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusAccessKeys.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusClientAffineProperties.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusCorrelationFilter.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusEncryption.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusFilterAction.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusKeyVaultProperties.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusNameAvailabilityContent.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusNameAvailabilityResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusNamespacePatch.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusNetworkRuleSetIPRules.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusNetworkRuleSetVirtualNetworkRules.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusPrivateEndpointConnectionListResult.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusPrivateLinkResource.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusPrivateLinkServiceConnectionState.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusRegenerateAccessKeyContent.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusSku.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/ServiceBusSqlFilter.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/Models/UserAssignedIdentityProperties.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusAuthorizationRuleData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusDisasterRecoveryData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusNamespaceData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusNetworkRuleSetData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusPrivateEndpointConnectionData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusQueueData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusRuleData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusSubscriptionData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/Generated/ServiceBusTopicData.Serialization.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/src/autorest.md
Labels: Mgmt

#46496 Enable-WriteCore-feature-for-privatedns
  sdk/privatedns/Azure.ResourceManager.PrivateDns/CHANGELOG.md
  sdk/privatedns/Azure.ResourceManager.PrivateDns/api/Azure.ResourceManager.PrivateDns.netstandard2.0.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/assets.json
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsARecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsAaaaRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsCnameRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsMXRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsPtrRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsRecordListResult.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsSoaRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsSrvRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateDnsTxtRecordInfo.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/PrivateZoneListResult.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/Models/VirtualNetworkLinkListResult.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/PrivateDnsZoneData.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/Generated/VirtualNetworkLinkData.Serialization.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/autorest.md
Labels: Mgmt

#46493 Enable write core feature for peering
  sdk/peering/Azure.ResourceManager.Peering/CHANGELOG.md
  sdk/peering/Azure.ResourceManager.Peering/api/Azure.ResourceManager.Peering.netstandard2.0.cs
  sdk/peering/Azure.ResourceManager.Peering/assets.json
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/ConnectionMonitorTestData.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/CdnPeeringPrefix.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/CdnPeeringPrefixListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/CheckPeeringServiceProviderAvailabilityContent.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/ConnectionMonitorTestListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/DirectPeeringFacility.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/DirectPeeringLocationProperties.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/DirectPeeringProperties.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/ExchangePeeringFacility.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/ExchangePeeringProperties.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/LookingGlassOutput.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeerAsnContactDetail.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeerAsnListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringBandwidthOffer.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringBgpSession.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringDirectConnection.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringExchangeConnection.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringLocation.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringLocationListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringLocationPropertiesExchange.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringLogAnalyticsWorkspaceProperties.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringPatch.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringReceivedRoute.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringReceivedRouteListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringRegisteredAsnListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringRegisteredPrefixListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringResourceTagsPatch.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceCountry.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceCountryListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceLocation.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceLocationListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServicePatch.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServicePrefixEvent.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServicePrefixListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceProvider.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceProviderListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringServiceSku.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/PeeringSku.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/RoutingPreferenceUnbilledPrefix.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/Models/RpUnbilledPrefixListResult.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/PeerAsnData.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/PeeringData.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/PeeringRegisteredAsnData.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/PeeringRegisteredPrefixData.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/PeeringServiceData.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/Generated/PeeringServicePrefixData.Serialization.cs
  sdk/peering/Azure.ResourceManager.Peering/src/autorest.md
Labels: Mgmt

#46492 Enable-WriteCore-feature-for-orbital
  sdk/orbital/Azure.ResourceManager.Orbital/CHANGELOG.md
  sdk/orbital/Azure.ResourceManager.Orbital/api/Azure.ResourceManager.Orbital.netstandard2.0.cs
  sdk/orbital/Azure.ResourceManager.Orbital/assets.json
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/AvailableGroundStationData.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/AuthorizedGroundStation.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/AvailableGroundStationListResult.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/ContactProfileListResult.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/ContactProfilesPropertiesNetworkConfiguration.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalAvailableContact.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalAvailableContactsContent.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalAvailableContactsResult.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalContactAntennaConfiguration.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalContactEndpoint.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalContactListResult.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalContactProfileLink.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalContactProfileLinkChannel.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalSpacecraftLink.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalSpacecraftListResult.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/Models/OrbitalSpacecraftTags.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/OrbitalContactData.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/OrbitalContactProfileData.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/Generated/OrbitalSpacecraftData.Serialization.cs
  sdk/orbital/Azure.ResourceManager.Orbital/src/autorest.md
Labels: Mgmt

#46464 Enable-WriteCore-feature-for-labservices
  sdk/labservices/Azure.ResourceManager.LabServices/CHANGELOG.md
  sdk/labservices/Azure.ResourceManager.LabServices/api/Azure.ResourceManager.LabServices.netstandard2.0.cs
  sdk/labservices/Azure.ResourceManager.LabServices/assets.json
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/LabData.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/LabPlanData.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/LabServicesScheduleData.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/LabUserData.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/LabVirtualMachineData.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/LabVirtualMachineImageData.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/AvailableLabServicesSku.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/AvailableLabServicesSkuCapability.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/AvailableLabServicesSkuCapacity.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/AvailableLabServicesSkuCost.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/AvailableLabServicesSkuRestrictions.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabAutoShutdownProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabConnectionProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabNetworkProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabPatch.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabPlanNetworkProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabPlanPatch.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabPlanSupportInfo.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabRosterProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabSecurityProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabServicesPatchBaseInfo.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabServicesRecurrencePattern.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabServicesSchedulePatch.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabServicesSku.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabServicesUsage.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabServicesUsageListResult.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabServicesUsageName.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabUserInviteRequestContent.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabUserPatch.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineAdditionalCapability.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineConnectionProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineCredential.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineImageContent.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineImagePatch.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineImageReference.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineProfile.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/LabVirtualMachineResetPasswordContent.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/PagedImages.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/PagedLabPlans.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/PagedLabServicesSkus.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/PagedLabs.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/PagedSchedules.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/PagedUsers.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/Generated/Models/PagedVirtualMachines.Serialization.cs
  sdk/labservices/Azure.ResourceManager.LabServices/src/autorest.md
Labels: Mgmt

#46459 Enable-WriteCore-feature-for-edgeorder
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/CHANGELOG.md
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/api/Azure.ResourceManager.EdgeOrder.netstandard2.0.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/assets.json
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/EdgeOrderAddressData.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/EdgeOrderData.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/EdgeOrderItemData.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/AddressResourceList.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ConfigurationFilters.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ConfigurationsContent.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/CustomerSubscriptionDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/CustomerSubscriptionRegisteredFeatures.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderAddressContactDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderAddressPatch.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderItemAddressDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderItemAddressProperties.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderItemCancellationReason.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderItemDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderItemPatch.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderItemReturnContent.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderProduct.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderProductBillingMeterDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderProductCostInformation.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderProductDeviceDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderProductImageInformation.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderProductMeterDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderShippingAddress.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EdgeOrderStageDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/EncryptionPreferences.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/FilterableProperty.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ForwardShippingDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/HierarchyInformation.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ManagementResourcePreferences.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/NotificationPreference.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/OrderItemPreferences.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/OrderItemResourceList.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/OrderResourceList.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/Pav2MeterDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductAvailabilityInformation.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductConfiguration.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductConfigurations.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductDescription.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductDimensions.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductDisplayInfo.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductFamilies.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductFamiliesContent.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductFamiliesMetadata.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductFamiliesMetadataListResult.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductFamily.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductLine.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductLink.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ProductSpecification.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/PurchaseMeterDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ResourceProviderDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/ReverseShippingDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/TransportPreferences.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/Generated/Models/UnknownMeterDetails.Serialization.cs
  sdk/edgeorder/Azure.ResourceManager.EdgeOrder/src/autorest.md
Labels: Mgmt

#46521 Enable-WriteCore-feature-for-springappdiscovery
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/CHANGELOG.md
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/api/Azure.ResourceManager.SpringAppDiscovery.netstandard2.0.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/assets.json
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/ErrorSummaryList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppApplicationConfigurationsItem.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppInstancesItem.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppMiscsItem.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppPatch.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerPatch.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteError.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteErrorSummariesProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteErrorSummaryModel.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteModelExtendedLocation.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSitePatch.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteSummariesProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SummaryList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootAppData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootServerData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootSiteData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootSiteErrorSummaryData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootSiteSummaryData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/autorest.md
Labels: Spring App Discovery

#46535 [Storage] Added description for BlobContainerClient ctors
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
Labels: Storage

#46544 [Event Hubs] Resilient management link creation
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpClient.cs
Labels: Event Hubs, Client

#46567 [CODEOWNERS] Adjust baseline errors
  .github/CODEOWNERS_baseline_errors.txt
Labels: Client, EngSys

#46429 [AzureMonitorDistro] Fix livemetrics reporting incorrect values
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/DataCollection/DocumentBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/DataCollection/DoubleBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Manager.Metrics.cs
Labels: Monitor - Distro

#46542 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#45906 [AzureMonitorExporter] prep release 1.4.0 beta2
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#46568 Azure.Provisioning: Update Redis to provide IsAccessKeyAuthenticationDisabled
  eng/Packages.Data.props
  sdk/provisioning/Azure.Provisioning.Redis/api/Azure.Provisioning.Redis.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.Redis/src/Generated/Models/RedisCommonConfiguration.cs
  sdk/provisioning/Azure.Provisioning.Redis/src/Generated/RedisResource.cs
Labels: Provisioning

#46546 Sync eng/common directory with azure-sdk-tools for PR 9102
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#46574 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#46572 [AzureMonitorDistro] prep release 1.3.0 beta2
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#46462 Enable-WriteCore-feature-for-fleet
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/CHANGELOG.md
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/api/Azure.ResourceManager.ContainerServiceFleet.netstandard2.0.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/assets.json
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/AutoUpgradeProfileData.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/ContainerServiceFleetData.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/ContainerServiceFleetMemberData.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/ContainerServiceFleetUpdateRunData.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/FleetUpdateStrategyData.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/AutoUpgradeNodeImageSelection.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/AutoUpgradeProfileListResult.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetAPIServerAccessProfile.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetAgentProfile.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetListResult.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetManagedClusterUpdate.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetManagedClusterUpgradeSpec.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetMemberListResult.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetMemberPatch.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetPatch.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateGroup.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateGroupStatus.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateRunListResult.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateRunStatus.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateRunStrategy.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateStage.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateStageStatus.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetUpdateStatus.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/ContainerServiceFleetWaitStatus.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/FleetCredentialResult.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/FleetCredentialResults.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/FleetHubProfile.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/FleetUpdateStrategyListResult.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/MemberUpdateStatus.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/NodeImageSelection.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/NodeImageSelectionStatus.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/NodeImageVersion.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/SkipProperties.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Generated/Models/SkipTarget.Serialization.cs
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/autorest.md
Labels: Mgmt

#46490 Enable-WriteCore-feature-for-newrelicobservability
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/CHANGELOG.md
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/api/Azure.ResourceManager.NewRelicObservability.netstandard2.0.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/assets.json
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/ConnectedPartnerResourcesListResponse.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/LinkedResourceListResponse.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/MarketplaceSaaSInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/MonitoredSubscriptionPropertiesList.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicAccountProperties.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicAccountResourceData.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicAccountsListResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicAppServicesGetContent.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicAppServicesListResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicBillingInfoResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicConnectedPartnerResourceInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicConnectedPartnerResourceProperties.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicHostsGetContent.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMetricsContent.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMetricsStatusContent.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMetricsStatusResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMonitorResourceListResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMonitorResourcePatch.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMonitoredResourceListResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMonitoredSubscriptionInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMonitoredSubscriptionProperties.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicMonitoringTagRules.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityAccountInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityAppServiceInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityFilteringTag.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityLogRules.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityMetricRules.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityOrganizationInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityTagRuleListResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityTagRulePatch.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityUserInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityVmExtensionPayload.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityVmHostsListResponse.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicObservabilityVmInfo.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicOrganizationResourceData.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicOrganizationsListResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicPlanData.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicPlanDataListResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicPlanDetails.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicResourceMonitorResult.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicSingleSignOnProperties.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/NewRelicSwitchBillingContent.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/Models/PartnerBillingEntity.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/NewRelicMonitorResourceData.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/NewRelicMonitoredSubscriptionData.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Generated/NewRelicObservabilityTagRuleData.Serialization.cs
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/autorest.md
Labels: New Relic

#46576 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsIncomingCallEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsIncomingCallEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageInteractiveListReplyContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#46569 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#46506 Enable WriteCore feature for websubsub and release a new version
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Tests/WebAppKeyVaultConnectionTests.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Tests/WebAppWebPubSubConnectionTests.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/api/Azure.ResourceManager.WebPubSub.netstandard2.0.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/assets.json
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/BillingInfoSku.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/LiveTraceCategory.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/LiveTraceConfiguration.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/ManagedIdentitySettings.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/PrivateEndpoint.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/PrivateEndpointAcl.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/PrivateEndpointConnectionList.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/PrivateLinkResourceList.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/PublicNetworkAcls.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/ResourceLogCategory.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/ResourceLogConfiguration.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/ShareablePrivateLinkProperties.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/ShareablePrivateLinkType.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/SharedPrivateLinkResourceList.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/SignalRServiceUsage.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/SignalRServiceUsageList.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/SignalRServiceUsageName.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/SkuList.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/UpstreamAuthSettings.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubEventHandler.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubHubList.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubHubProperties.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubKeys.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubNameAvailability.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubNameAvailabilityContent.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubNetworkAcls.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubPrivateLink.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubPrivateLinkServiceConnectionState.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubRegenerateKeyContent.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubResourceList.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubSku.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubSkuCapacity.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/Models/WebPubSubTlsSettings.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/WebPubSubData.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/WebPubSubHubData.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/WebPubSubPrivateEndpointConnectionData.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Generated/WebPubSubSharedPrivateLinkData.Serialization.cs
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/autorest.md
Labels: Mgmt

#46565 Bump version of MGC
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Common/InputFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequest.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequest.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralFloat.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralFloat.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralInt.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralInt.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestOptionalLiteralString.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralFloat.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralFloat.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralInt.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralInt.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/AnonymousBodyRequestRequiredLiteralString.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/FriendlyModelRequest.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/FriendlyModelRequest.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ProjectedNameModelRequest.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: CodeGen

#46242 Enable-WriteCore-feature-for-recoveryservices
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/tests/ScenarioTests/BackupProtectionContainerTests.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/CHANGELOG.md
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/api/Azure.ResourceManager.RecoveryServices.netstandard2.0.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/AzureMonitorAlertSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesResult.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CapabilitiesResultProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ClassicAlertSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CmkKekIdentity.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CmkKeyVaultProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/CrossSubscriptionRestoreSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/DnsZone.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/DnsZoneResult.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ImmutabilitySettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/PrivateLinkResources.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RawCertificateData.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesCertificateContent.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesNameAvailabilityContent.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesNameAvailabilityResult.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesPrivateEndpointConnection.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesPrivateEndpointConnectionVaultProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesPrivateLinkServiceConnectionState.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSecuritySettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSku.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesSoftDeleteSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesVaultListResult.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesVaultPatch.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RecoveryServicesVaultProperties.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ReplicationJobSummary.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ReplicationUsage.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ReplicationUsageListResult.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCapabilities.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCapabilitiesBase.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCertificateAndAadDetails.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCertificateAndAcsDetails.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/ResourceCertificateDetails.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/RestoreSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/UnknownResourceCertificateDetails.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultCertificateResult.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultMonitoringSettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultMonitoringSummary.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultPropertiesEncryption.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultPropertiesMoveDetails.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultPropertiesRedundancySettings.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultUpgradeDetails.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultUsage.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultUsageListResult.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/Models/VaultUsageNameInfo.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RecoveryServicesPrivateLinkResourceData.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RecoveryServicesVaultData.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Generated/RecoveryServicesVaultExtendedInfoData.Serialization.cs
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/autorest.md
Labels: Mgmt

#46587 Update commit to fix tsp compile
  sdk/mongocluster/Azure.ResourceManager.MongoCluster/tsp-location.yaml
Labels: Mgmt

#46583 Increment version for webpubsub releases
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Azure.ResourceManager.WebPubSub.csproj
Labels: Mgmt

#46580 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#46591 Storage json hotfix
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage, Azure.Core, Communication, OpenAI

#46584 Increment version for websites releases
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Azure.ResourceManager.AppService.csproj
Labels: Mgmt

#46566 fix(playwighttesting): Removed cancellationToken from SetupAsync method since NUnit does not allow additional params
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/api/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/PlaywrightServiceNUnit.cs
Labels: Microsoft Playwright Testing

#46570 Added the ability to provision AOAI as an optional component
  sdk/provisioning/Azure.Provisioning.CloudMachine/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/Azd.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Client/CloudMachine.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Client/MessagingServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Client/StorageServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/ClientCache.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/LoggingPolicy.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/WorkspaceClient.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/GlobalSuppressions.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/CloudMachineClient.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/CloudMachineWorkspace.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/MessagingServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/StorageServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning

#46596 DM Lib beta release
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
Labels: Storage

#46595 [EngSys] Bump package versions
  eng/Packages.Data.props
  samples/linecounter/LineCounter.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/Directory.Build.targets
Labels: Client, EngSys

#46600 Prepare for October GA release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#46603 Fixed DM Lib Shares dependency
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
Labels: Storage

#46609 [AzureMonitorDistro] prep release 1.3.0 beta2 (again) - fix package dependency
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#46599 [Key Vault] Prepare release for CAE feature
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/AzureSecurityKeyVaultAdministrationPreFullBackupHeaders.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/AzureSecurityKeyVaultAdministrationPreFullRestoreOperationHeaders.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/BackupRestoreRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreBackupOperationParameters.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreBackupOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreRestoreOperationParameters.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleAssignmentsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleDefinitionsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/SettingsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPreBackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPreRestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/OperationHeadersExtensions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/PreRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperationInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/FullBackupClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_BackupHelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRotationLifetimeAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/api/Azure.Security.KeyVault.Secrets.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
  sdk/keyvault/test-resources.json
Labels: KeyVault

#46448 [DocumentIntelligence] Default authentication to Token Credential
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AddOnCapabilities.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AnalyzeWithPrebuiltModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_BuildCustomModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_BuildDocumentClassifier.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ClassifyDocument.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_CopyCustomModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayout.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayoutAsMarkdown.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_GetAndListOperations.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ManageModels.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ModelCompose.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentIntelligenceAdministrationClientLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentIntelligenceClientLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceLiveTestBase.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceTestEnvironment.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/DocumentIntelligenceSamples.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleAnalyzeWithPrebuiltModelWithBase64.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleSnippets.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithAddOnCapabilities.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithPrebuiltModelFromUri.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_BuildCustomModelAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_BuildDocumentClassifierAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ClassifyDocumentFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ComposeModelAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_CopyModelToAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutAsMarkdownAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_GetAndListOperationsAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ManageModelsAsync.cs
Labels: Client, Cognitive - Form Recognizer

#46610 Increment version for storage releases
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#46616 [ContainerServiceFleet] Remove the ignore attribute and fix recording file
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/assets.json
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/tests/Scenario/FleetCRUD.cs
Labels: Mgmt

#46588 remove ignore attribute and fix the recording file when Servicelinker project ref updated
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/CHANGELOG.md
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/assets.json
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Tests/WebAppKeyVaultConnectionTests.cs
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/tests/Tests/WebAppWebPubSubConnectionTests.cs
Labels: Mgmt

#46563 Enable WriteCore feature for managedserviceidentity
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/EventHubNamespaceTests.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/CHANGELOG.md
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/api/Azure.ResourceManager.ManagedServiceIdentities.netstandard2.0.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/assets.json
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/FederatedIdentityCredentialData.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/FederatedIdentityCredentialsListResult.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/UserAssignedIdentitiesListResult.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/UserAssignedIdentityPatch.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/SystemAssignedIdentityData.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/UserAssignedIdentityData.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/autorest.md
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/ServiceBusNamespaceTests.cs
Labels: Mgmt

#46625 remove needless content of servicelinker changelog
  sdk/servicelinker/Azure.ResourceManager.ServiceLinker/CHANGELOG.md
Labels: Mgmt

#46633 Increment version for containerregistry releases
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Azure.ResourceManager.ContainerRegistry.csproj
Labels: Mgmt

#46632 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#46628 Increment version for managedserviceidentity releases
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/CHANGELOG.md
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Azure.ResourceManager.ManagedServiceIdentities.csproj
Labels: Mgmt

#46623 Increment version for fleet releases
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/CHANGELOG.md
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Azure.ResourceManager.ContainerServiceFleet.csproj
Labels: Mgmt

#46627 Increment version for eventhub releases
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Azure.ResourceManager.EventHubs.csproj
Labels: Mgmt

#46615 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#46638 Delete DAC flow diagram
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#46641 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#46642 Sync .github/workflows directory with azure-sdk-tools for PR 9134
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#46647 Increment version for keyvault releases
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Azure.Security.KeyVault.Administration.csproj
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/Azure.Security.KeyVault.Certificates.csproj
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Azure.Security.KeyVault.Keys.csproj
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Azure.Security.KeyVault.Secrets.csproj
Labels: KeyVault

#46649 cleaned up CM workspace APIs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/ClientCache.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/ClientWorkspace.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/WorkspaceClient.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/CloudMachineWorkspace.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/MessagingServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/StorageServices.cs
Labels: Provisioning

#46629 [HealthcareApis/ApiManagement] Remove the ignore attribute and fix recording file
  eng/Packages.Data.props
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/assets.json
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/tests/Scenario/LoggerTests.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/assets.json
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/tests/Scenario/HealthcareApisIotConnectorTests.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/tests/Scenario/IotFhirDestinationTests.cs
Labels: Mgmt

#46630 [ServiceBus/EventHub] Remove the ignore attribute and fix recording file
  sdk/eventhub/Azure.ResourceManager.EventHubs/assets.json
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Azure.ResourceManager.EventHubs.Tests.csproj
  sdk/eventhub/Azure.ResourceManager.EventHubs/tests/Tests/EventHubNamespaceTests.cs
  sdk/servicebus/Azure.ResourceManager.ServiceBus/assets.json
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Azure.ResourceManager.ServiceBus.Tests.csproj
  sdk/servicebus/Azure.ResourceManager.ServiceBus/tests/Tests/ServiceBusNamespaceTests.cs
Labels: Mgmt

#46634 [Compute] Remove ingore attribute and fix the recording file after compute release
  eng/Packages.Data.props
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/assets.json
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/tests/Scenario/ComputescheduleOperationsTests.cs
  sdk/standbypool/Azure.ResourceManager.StandbyPool/assets.json
  sdk/standbypool/Azure.ResourceManager.StandbyPool/tests/Scenario/StandbyVirtualMachinePoolCRUDTests.cs
  sdk/standbypool/Azure.ResourceManager.StandbyPool/tests/Scenario/StandbyVirtualMachinePoolCollectionTests.cs
Labels: Mgmt

#46621 use writecore release for RecoveryServices
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/CHANGELOG.md
Labels: Mgmt

#46620 use writecore release for OperationalInsights
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/CHANGELOG.md
Labels: Mgmt

#46635 [ContainerApps] Remove ingore attribute and fix the recording file after containerregistray release
  eng/Packages.Data.props
  sdk/containerapps/Azure.ResourceManager.AppContainers/assets.json
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/Scenario/ContainerAppJobTests.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/TestCase/ContainerAppJobApiTests.cs
Labels: Mgmt

#46668 AzurePipelinesCredential doc updates
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/samples/OtherCredentialSamples.md
  sdk/identity/Azure.Identity/src/Credentials/AzurePipelinesCredential.cs
Labels: Azure.Identity

#46669 Use BinaryData.Empty instead of bespoke solution in SCM and Azure.Core
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
Labels: Azure.Core, System.ClientModel

#46645 [Storage] [DataMovement] Refactor Try-style methods
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferInternalState.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferStatus.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DataTransferTests.cs
Labels: Storage

#46658 Increment version for logic releases
  sdk/logic/Azure.ResourceManager.Logic/CHANGELOG.md
  sdk/logic/Azure.ResourceManager.Logic/src/Azure.ResourceManager.Logic.csproj
Labels: Mgmt

#46656 Increment version for recoveryservices releases
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/CHANGELOG.md
  sdk/recoveryservices/Azure.ResourceManager.RecoveryServices/src/Azure.ResourceManager.RecoveryServices.csproj
Labels: Mgmt

#46655 Increment version for iothub releases
  sdk/iothub/Azure.ResourceManager.IotHub/CHANGELOG.md
  sdk/iothub/Azure.ResourceManager.IotHub/src/Azure.ResourceManager.IotHub.csproj
Labels: Mgmt

#46657 Increment version for operationalinsights releases
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/CHANGELOG.md
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Azure.ResourceManager.OperationalInsights.csproj
Labels: Mgmt

#46682 Sync eng/common directory with azure-sdk-tools for PR 9147
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#46680 Sync eng/common directory with azure-sdk-tools for PR 9202
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#46678 Sync .github/workflows directory with azure-sdk-tools for PR 9199
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#46676 Sync eng/common directory with azure-sdk-tools for PR 9179
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#46652 DevOpsInfrastructure - .Net SDK for GA stable version
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/samples/Generated/Samples/Sample_DevOpsPoolCollection.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/samples/Generated/Samples/Sample_DevOpsPoolResource.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/samples/Generated/Samples/Sample_ResourceGroupResourceExtensions.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/DevOpsPoolCollection.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/DevOpsPoolResource.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/Extensions/DevOpsInfrastructureExtensions.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/Extensions/MockableDevOpsInfrastructureResourceGroupResource.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/Extensions/MockableDevOpsInfrastructureSubscriptionResource.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/RestOperations/ImageVersionsRestOperations.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/RestOperations/PoolsRestOperations.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/RestOperations/ResourceDetailsRestOperations.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/RestOperations/SkuRestOperations.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Generated/RestOperations/SubscriptionUsagesRestOperations.cs
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/autorest.md.bak
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/tsp-location.yaml
Labels: DevOps - Infrastructure

#46659 [SecurityCenter] Remove ingore attribute and fix the recording file after iothub and logic release
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/assets.json
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/tests/Azure.ResourceManager.SecurityCenter.Tests.csproj
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/tests/Scenario/AutomationCollectionTests.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/tests/Scenario/IotSecurityAggregatedAlertTests.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/tests/Scenario/IotSecurityAggregatedRecommendationTests.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/tests/Scenario/IotSecuritySolutionTests.cs
Labels: Mgmt

#46660 [SecurityInsights] Remove ingore attribute and fix the recording file after operationalinsights release
  eng/Packages.Data.props
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/assets.json
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/AutomationRuleCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/AutomationRuleResourceTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/BookmarkCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/BookmarkResourceTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/DataConnectorCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/DataConnectorResourceTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/IncidentCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/IncidentResourceTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/SIAlertRuleCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/SIAlertRulesResourceTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/SentinelOnboardingStateCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/SentinelOnboardingStateResourceTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/WatchlistCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/WatchlistItemCollectionTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/WatchlistItemResourceTests.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/tests/TestCase/WatchlistResourceTests.cs
Labels: Mgmt

#46662 [RecoveryServicesBackup] Remove ingore attribute and fix the recording file after recoveryservices release
  eng/Packages.Data.props
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/assets.json
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/tests/ScenarioTests/BackupProtectionContainerTests.cs
Labels: Recovery Services Backup

#46227 Update CHANGELOG.md for projects
  sdk/advisor/Azure.ResourceManager.Advisor/CHANGELOG.md
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/CHANGELOG.md
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/CHANGELOG.md
  sdk/analysisservices/Azure.ResourceManager.Analysis/CHANGELOG.md
  sdk/apicenter/Azure.ResourceManager.ApiCenter/CHANGELOG.md
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/CHANGELOG.md
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/CHANGELOG.md
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/CHANGELOG.md
  sdk/appplatform/Azure.ResourceManager.AppPlatform/CHANGELOG.md
  sdk/arc-scvmm/Azure.ResourceManager.ScVmm/CHANGELOG.md
  sdk/attestation/Azure.ResourceManager.Attestation/CHANGELOG.md
Labels: Mgmt

#46667 chore(playwrighttesting): removed fallback authentication logic
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/EntraLifecycle.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightServiceOptions.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/EntraLifecycleTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceTests.cs
Labels: Microsoft Playwright Testing

#46470 [ElasticSan] Add support for ElasticSan auto scale policy
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/CHANGELOG.md
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/api/Azure.ResourceManager.ElasticSan.netstandard2.0.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/assets.json
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanPrivateEndpointConnectionCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanPrivateEndpointConnectionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanSnapshotCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanSnapshotResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeGroupCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_ElasticSanVolumeResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ArmElasticSanModelFactory.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanData.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanData.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanPrivateEndpointConnectionCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanPrivateEndpointConnectionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanSnapshotCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanSnapshotResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/ElasticSanExtensions.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/MockableElasticSanResourceGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/MockableElasticSanSubscriptionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/AutoScalePolicyEnforcement.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/AutoScaleProperties.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/AutoScaleProperties.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPatch.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPatch.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ScaleUpProperties.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ScaleUpProperties.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/ElasticSansRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/SkusRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumeGroupsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumeSnapshotsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumesRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/autorest.md
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Scenario/ElasticSanCollectionTests.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Scenario/ElasticSanResourceTests.cs
Labels: Mgmt

#46648 Implement storage events
  .github/CODEOWNERS
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/CloudMachineWorkspace.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/MessagingServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/StorageFile.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/StorageServices.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning
