Repository Azure/azure-sdk-for-net, pull requests merged in 2024-07, with the labels that each got.

#44753 Add TryGetSystemEventData
  eng/.docsettings.yml
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Azure.Messaging.EventGrid.SystemEvents.sln
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/api/Azure.Messaging.EventGrid.SystemEvents.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Azure.Messaging.EventGrid.SystemEvents.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/EventGridExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/tests/Samples/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/tests/Samples/Sample1_ParseAndDeserializeEvents.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/EventGridSourceGenerator/src/EventGridSourceGenerator.cs
Labels: Event Grid

#44809 Prepare for release Oracle first stable
  sdk/oracle/Azure.ResourceManager.OracleDatabase/README.md
Labels: Oracle

#44821 [CODEOWNERS] Fix linter issues
  .github/CODEOWNERS
Labels: Client, EngSys

#40779 Add overloads to send email using operation ID passed in from consumer
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/api/Azure.Communication.Email.netstandard2.0.cs
  sdk/communication/Azure.Communication.Email/src/EmailClient.cs
  sdk/communication/Azure.Communication.Email/tests/EmailClientTests.cs
Labels: customer-reported, Community Contribution, Communication

#44371 Sync eng/common directory with azure-sdk-tools for PR 8371
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#44472 [Schema Registry] Custom & JSON schema GA
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/samples/Sample01_HelloWorld.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/samples/Sample02_Serialization.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Azure.Data.SchemaRegistry.csproj
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/ContentType.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/ContentType.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaGroupsRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/LruCache.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaValidator.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Serialization/SchemaRegistrySerializer.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/autorest.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/LruCacheTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Samples/Sample02_Serialization.cs.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaFormatTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Serialization/SchemaRegistrySerializerLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Serialization/SchemaRegistrySerializerTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/Serialization/SerializationEventSourceLiveTests.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/LruCache.cs
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/tests/LruCacheTests.cs
Labels: Schema Registry

#44797 [AzureMonitor] refactor event id in demo and tests
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemValidationHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/LogsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/TracesTests.cs
Labels: Monitor - Exporter, Monitor - Distro

#44830 update API for `Azure.Core.Experimental`
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
Labels: Azure.Core

#44832 Update AutoRest C# version to 3.0.0-beta.20240701.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/api/Azure.ResourceManager.AgFoodPlatform.netstandard2.0.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/ArmAgFoodPlatformModelFactory.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/ExtensionData.Serialization.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/Generated/ExtensionData.cs
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/autorest.md
  sdk/botservice/Azure.ResourceManager.BotService/src/Generated/Models/BotChannelSite.Serialization.cs
  sdk/botservice/Azure.ResourceManager.BotService/src/Generated/Models/DirectLineSite.Serialization.cs
  sdk/botservice/Azure.ResourceManager.BotService/src/Generated/Models/WebChatSite.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/ConsumptionBudgetData.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionCreditSummary.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionEventSummary.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionLegacyChargeSummary.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionLotSummary.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionModernChargeSummary.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionTagsResult.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/UnknownChargeSummary.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/CassandraClusterPublicStatus.Serialization.cs
  sdk/costmanagement/Azure.ResourceManager.CostManagement/src/autorest.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/autorest.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/autorest.md
  sdk/deviceupdate/Azure.ResourceManager.DeviceUpdate/src/autorest.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/autorest.md
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/autorest.md
  sdk/marketplace/Azure.ResourceManager.Marketplace/src/autorest.md
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Generated/Models/SearchMetadata.Serialization.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Generated/StorageInsightData.Serialization.cs
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/autorest.md
  sdk/search/Azure.ResourceManager.Search/src/autorest.md
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/autorest.md
Labels: Recovery Services Backup, Mgmt

#44819 Fix SetState() not work
  sdk/webpubsub/Microsoft.Azure.Functions.Worker.Extensions.WebPubSub/api/Microsoft.Azure.Functions.Worker.Extensions.WebPubSub.netstandard2.0.cs
  sdk/webpubsub/Microsoft.Azure.Functions.Worker.Extensions.WebPubSub/src/Models/Trigger/ConnectEventResponse.cs
  sdk/webpubsub/Microsoft.Azure.Functions.Worker.Extensions.WebPubSub/src/Models/Trigger/UserEventResponse.cs
Labels: WebPubSub

#44844 Fix provisioning README Issues
  sdk/provisioning/Azure.Provisioning.AppConfiguration/README.md
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/README.md
  sdk/provisioning/Azure.Provisioning.CognitiveServices/README.md
  sdk/provisioning/Azure.Provisioning.CosmosDB/README.md
  sdk/provisioning/Azure.Provisioning.EventHubs/README.md
  sdk/provisioning/Azure.Provisioning.KeyVault/README.md
  sdk/provisioning/Azure.Provisioning.OperationalInsights/README.md
  sdk/provisioning/Azure.Provisioning.PostgreSql/README.md
  sdk/provisioning/Azure.Provisioning.Redis/README.md
  sdk/provisioning/Azure.Provisioning.Resources/README.md
  sdk/provisioning/Azure.Provisioning.Search/README.md
  sdk/provisioning/Azure.Provisioning.ServiceBus/README.md
  sdk/provisioning/Azure.Provisioning.SignalR/README.md
  sdk/provisioning/Azure.Provisioning.Sql/README.md
  sdk/provisioning/Azure.Provisioning.Storage/README.md
  sdk/provisioning/Azure.Provisioning.WebPubSub/README.md
  sdk/provisioning/README.md
Labels: Provisioning

#44838 Increment version for batch releases
  sdk/batch/Azure.Compute.Batch/CHANGELOG.md
  sdk/batch/Azure.Compute.Batch/src/Azure.Compute.Batch.csproj
Labels: Batch

#44839 [Storage] [DataMovement] Fixing constant in BlobSourceCheckpointData to have correct schema size
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobSourceCheckpointDataTests.cs
Labels: Storage

#44696 [Storage] [DataMovement] [Shares] Preserve Permission Key
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerServiceToServiceJobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementShareConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/PathScanner.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileDestinationCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ClientMockingExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/PathScannerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/RehydrateShareResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDestinationCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferProperty.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceTransferJob.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceContainerInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceItemInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItemProperties.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CleanUpTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ServiceToServiceJobPartTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
Labels: Storage

#44826 Sync eng/common directory with azure-sdk-tools for PR 8528
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#44799 Sync eng/common directory with azure-sdk-tools for PR 8516
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#44841 Sync eng/common directory with azure-sdk-tools for PR 8549
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#44865 Update AutoRest C# version to 3.0.0-beta.20240703.5
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/attestation/Azure.Security.Attestation/src/Generated/Internal/RequestContentHelper.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.AlphaIds/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Email/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/tspCodeModel.json
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Rooms/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.ShortCodes/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Internal/RequestContentHelper.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Internal/RequestContentHelper.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Internal/RequestContentHelper.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/Internal/RequestContentHelper.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Internal/RequestContentHelper.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Internal/RequestContentHelper.cs
  sdk/iot/Azure.IoT.Hub.Service/src/Generated/Internal/RequestContentHelper.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Internal/RequestContentHelper.cs
  sdk/keyvault/samples/sharelink/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Geolocation/src/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Rendering/src/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Search/src/Generated/Internal/RequestContentHelper.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Internal/RequestContentHelper.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/Internal/RequestContentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Generated/Internal/RequestContentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Generated/Internal/RequestContentHelper.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Internal/RequestContentHelper.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Internal/RequestContentHelper.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Internal/RequestContentHelper.cs
  sdk/quantum/Azure.Quantum.Jobs/src/Generated/Internal/RequestContentHelper.cs
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Generated/Internal/RequestContentHelper.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/RequestContentHelper.cs
  sdk/search/Azure.Search.Documents/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/Internal/RequestContentHelper.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Internal/RequestContentHelper.cs
  sdk/textanalytics/Azure.AI.TextAnalytics.Legacy.Shared/src/Generated/Internal/RequestContentHelper.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Internal/RequestContentHelper.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/samples/TimeSeriesInsightsClientSample/TimeSeriesInsightsClientSample.csproj
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/Generated/Internal/RequestContentHelper.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/Internal/RequestContentHelper.cs
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/src/Generated/Internal/RequestContentHelper.cs
Labels: Storage, KeyVault, Search, Container Registry, Event Grid, IoT, TimeseriesInsights, Tables, Synapse, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Translator, Digital Twins, Schema Registry, Monitor - Exporter, Communication, Cognitive - Metrics Advisor, Mixed Reality, Quantum, VideoAnalyzer, Cognitive - Language, Maps, Communication - Calling Server, Communication - Chat, Communication - Identity, Communication - Phone Numbers, Communication - Short Codes, Communication - SMS, Monitor - Distro, Communication - Rooms, Monitor - Query

#44470 [SQL] Generating the .NET Sdk for adding manual cutover and OperationPhaseDetails parameter In forward Migration v2 workflow for Migrating Azure sterling Db to azure Hyperscale DB
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/api/Azure.ResourceManager.Sql.netstandard2.0.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_FailoverGroupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_FailoverGroupResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlDatabaseResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlServerDatabaseReplicationLinkCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlServerDatabaseReplicationLinkResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlServerResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/ArmSqlModelFactory.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Extensions/MockableSqlArmClient.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Extensions/SqlExtensions.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/FailoverGroupCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/FailoverGroupData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/FailoverGroupData.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/FailoverGroupResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/DatabaseOperationData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/DatabaseOperationData.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/DatabaseOperationPhase.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/DatabaseOperationPhaseDetails.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/DatabaseOperationPhaseDetails.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/FailoverGroupDatabasesSecondaryType.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/FailoverGroupPatch.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/FailoverGroupPatch.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/ReplicationLinkType.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/SqlServerDatabaseReplicationLinkPatch.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/Models/SqlServerDatabaseReplicationLinkPatch.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/RestOperations/DatabaseRestOperations.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/RestOperations/FailoverGroupsRestOperations.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/RestOperations/ReplicationLinksRestOperations.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SqlDatabaseResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SqlServerDatabaseReplicationLinkCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SqlServerDatabaseReplicationLinkData.Serialization.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SqlServerDatabaseReplicationLinkData.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SqlServerDatabaseReplicationLinkResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Generated/SqlServerResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/autorest.md
Labels: Mgmt

#44856 Avoid ServiceBusSenderOptions allocations
  sdk/core/Azure.Core.Amqp/tests/AmqpAnnotatedMessageConverterTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/SenderTests.cs
Labels: Service Bus, Azure.Core, customer-reported, Community Contribution

#44871 Increment version for resources releases
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: ARM

#44872 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: Mgmt

#44867 Increment version for oracle releases
  sdk/oracle/Azure.ResourceManager.OracleDatabase/CHANGELOG.md
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Azure.ResourceManager.OracleDatabase.csproj
Labels: Oracle

#44690 [KeyVault] Bump API version to 2023-07-01
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/api/Azure.ResourceManager.KeyVault.netstandard2.0.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedKeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedKeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_DeletedManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultSecretCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_KeyVaultSecretResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_ManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Azure.ResourceManager.KeyVault.csproj
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ArmKeyVaultModelFactory.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedKeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedKeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/DeletedManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/KeyVaultExtensions.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/MockableKeyVaultResourceGroupResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Extensions/MockableKeyVaultSubscriptionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/KeyVaultCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/KeyVaultPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/KeyVaultPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/KeyVaultResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/KeyVaultSecretCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/KeyVaultSecretResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmPrivateEndpointConnectionCollection.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmPrivateEndpointConnectionData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmPrivateEndpointConnectionData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmPrivateEndpointConnectionResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/ManagedHsmResource.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceData.Serialization.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/Models/ManagedHsmPrivateLinkResourceData.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/ManagedHsmsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/MhsmPrivateEndpointConnectionsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/MhsmPrivateLinkResourcesRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/MhsmRegionsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/SecretsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Generated/RestOperations/VaultsRestOperations.cs
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/autorest.md
Labels: Mgmt

#44876 Increment version for apimanagement releases
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/CHANGELOG.md
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Azure.ResourceManager.ApiManagement.csproj
Labels: Mgmt

#44877 Increment version for keyvault releases
  sdk/keyvault/Azure.ResourceManager.KeyVault/CHANGELOG.md
  sdk/keyvault/Azure.ResourceManager.KeyVault/src/Azure.ResourceManager.KeyVault.csproj
Labels: Mgmt

#44860 Sync eng/common directory with azure-sdk-tools for PR 8543
  eng/common/InterdependencyGraph.html
Labels: EngSys, Central-EngSys

#44708 [Azure OpenAI] Pin OpenAI version
  eng/Packages.Data.props
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#44631 MSAL logging levels now correlate with the `AzureEventSourceListener` configured log level
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/AzureIdentityEventSource.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
Labels: Azure.Identity

#44862 Creating SDT client with endpoint only and making source input options public
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/README.md
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/assets.json
  sdk/translation/Azure.AI.Translation.Document/samples/README.md
  sdk/translation/Azure.AI.Translation.Document/src/SingleDocumentTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Document/src/TranslationSource.cs
  sdk/translation/Azure.AI.Translation.Document/tests/ContainerDocumentTranslationClientTests.cs
  sdk/translation/Azure.AI.Translation.Document/tests/DocumentTranslationClientLiveTests.cs
  sdk/translation/Azure.AI.Translation.Document/tests/Infrastructure/DocumentTranslationLiveTestBase.cs
  sdk/translation/Azure.AI.Translation.Document/tests/Infrastructure/DocumentTranslationTestEnvironment.cs
  sdk/translation/Azure.AI.Translation.Document/tests/samples/Sample_StartTranslationWithSourceInput.cs
  sdk/translation/Azure.AI.Translation.Document/tsp-location.yaml
  sdk/translation/test-resources.json
  sdk/translation/tests.yml
Labels: Cognitive - Translator

#44888 Update AutoRest C# version to 3.0.0-beta.20240707.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/src/Generated/tspCodeModel.json
Labels: Communication

#44882 Fix for BearerTokenAuthenticationPolicy hang
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/BearerTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core/tests/BearerTokenAuthenticationPolicyTests.cs
Labels: Azure.Core

#44896 Skip project reference tests for openai
  sdk/openai/ci.yml
  sdk/openai/tests.yml
Labels: Central-EngSys

#44898 Sync .github/workflows directory with azure-sdk-tools for PR 8566
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#44895 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: Cognitive - Translator

#44863 Sync eng/common directory with azure-sdk-tools for PR 8558
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/TestResources/remove-test-resources.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#44825 ClientModel: Updates to paging types to support sub-client enumerator pattern
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/AsyncCollectionResultOfT.cs
  sdk/core/System.ClientModel/src/Convenience/AsyncPageCollectionOfT.cs
  sdk/core/System.ClientModel/src/Convenience/AsyncPageableCollectionOfT.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResult.cs
  sdk/core/System.ClientModel/src/Convenience/CollectionResultOfT.cs
  sdk/core/System.ClientModel/src/Convenience/ContinuationToken.cs
  sdk/core/System.ClientModel/src/Convenience/PageCollectionOfT.cs
  sdk/core/System.ClientModel/src/Convenience/PageResultOfT.cs
  sdk/core/System.ClientModel/src/Convenience/PageableCollectionOfT.cs
  sdk/core/System.ClientModel/src/Convenience/ResultPageOfT.cs
  sdk/core/System.ClientModel/tests/Convenience/PageCollectionScenarioTests.cs
  sdk/core/System.ClientModel/tests/Convenience/PageCollectionTests.cs
  sdk/core/System.ClientModel/tests/Convenience/PageableCollectionTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockAsyncPageCollection.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPageCollection.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPageableClient.cs
  sdk/core/System.ClientModel/tests/TestFramework/PageableResultHelpers.cs
  sdk/core/System.ClientModel/tests/client/System.ClientModel.Tests.Client.csproj
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/Emitted/Argument.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/Emitted/CancellationTokenExtensions.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/Emitted/PageCollectionHelpers.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/Emitted/PageEnumerator.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/Emitted/PageResultEnumerator.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/MockData/MockPagingData.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/MockData/MockValueItemPageResponse.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/PagingClient.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/PagingClientOptions.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/PagingProtocolClient.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/ValueItem.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/ValueItemPage.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/ValuesPageEnumerator.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/ValuesPageResultEnumerator.cs
  sdk/core/System.ClientModel/tests/client/TestClients/PagingClient/ValuesPageToken.cs
  sdk/core/System.ClientModel/tests/internal/Convenience/SSE/ClientResultCollectionTests.cs
  sdk/core/System.ClientModel/tests/internal/TestFramework/Mocks/MockSseClient.cs
  sdk/core/System.ClientModel/tests/internal/TestFramework/Mocks/MockSseClientExtensions.cs
Labels: Azure.Core

#44885 Avoid ServiceBus*Options allocations
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/ServiceBusSenderOptions.cs
Labels: Service Bus, customer-reported, Community Contribution

#44881 [Schema Registry] Generating from TypeSpec for JSON GA
  sdk/schemaregistry/Azure.Data.SchemaRegistry/api/Azure.Data.SchemaRegistry.netstandard2.0.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/assets.json
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/ContentType.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/DataSchemaRegistryClientBuildExtensions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/DataSchemaRegistryClientBuilderExtensions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/ChangeTrackingDictionary.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/ChangeTrackingList.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/MultipartFormDataRequestContent.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/Optional.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/RequestContentHelper.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/Utf8JsonRequestContent.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/ContentType.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/Error.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/Error.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/ErrorDetail.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/ErrorDetail.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaGroups.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaGroups.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaId.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaVersions.Serialization.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaVersions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaGetByIdHeaders.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaGetSchemaVersionHeaders.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaGroupsRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaQueryIdByContentHeaders.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegisterHeaders.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientOptions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRestClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaGroups.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaId.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClientOptions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryModelFactory.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaVersions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/autorest.md
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaRegistryClientLiveTests.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tsp-location.yaml
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/assets.json
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Schema Registry

#44880 Increment Microsoft.Azure.Functions.Worker.Extensions.WebPubSub version
  doc/dev/Versioning.md
  eng/scripts/Update-PkgVersion.ps1
  sdk/webpubsub/Microsoft.Azure.Functions.Worker.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.Functions.Worker.Extensions.WebPubSub/src/Microsoft.Azure.Functions.Worker.Extensions.WebPubSub.csproj
Labels: WebPubSub

#44923 Azure OpenAI: remove incorrect 'purpose' check on FileClient.GetFiles()
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/tests/FileTests.cs
Labels: OpenAI

#44933 Fix typo in TestEnvironment variable SYSTEM_ACCESSTOKEN
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#44918 Update CHANGELOG entry for Assistants package
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
Labels: OpenAI

#44934 [Communication][Email] Updating CHANGELOG for version 1.1.0-beta.1
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
Labels: Communication

#44937 Sync eng/common directory with azure-sdk-tools for PR 8597
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/pipelines/templates/steps/verify-path-length.yml
  eng/common/pipelines/templates/steps/verify-readme.yml
Labels: EngSys, Central-EngSys

#44847 Azure Redis .Net SDK update for new api v2024-03-01
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/api/Azure.ResourceManager.Redis.netstandard2.0.cs
  sdk/redis/Azure.ResourceManager.Redis/assets.json
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyAssignmentCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyAssignmentResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisFirewallRuleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisFirewallRuleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisLinkedServerWithPropertyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisLinkedServerWithPropertyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPatchScheduleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPatchScheduleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPrivateEndpointConnectionCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPrivateEndpointConnectionResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Azure.ResourceManager.Redis.csproj
  sdk/redis/Azure.ResourceManager.Redis/src/Customization/ArmRedisModelFactory.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/ArmRedisModelFactory.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Extensions/MockableRedisResourceGroupResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Extensions/MockableRedisSubscriptionResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Extensions/RedisExtensions.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCommonConfiguration.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCommonConfiguration.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCreateOrUpdateContent.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCreateOrUpdateContent.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisPatch.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisPatch.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyAssignmentCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyAssignmentResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisData.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisData.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisFirewallRuleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisFirewallRuleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisLinkedServerWithPropertyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisLinkedServerWithPropertyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPatchScheduleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPatchScheduleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPrivateEndpointConnectionCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPrivateEndpointConnectionResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/AccessPolicyAssignmentRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/AccessPolicyRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/AsyncOperationStatusRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/FirewallRulesRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/LinkedServerRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/PatchSchedulesRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/RedisRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/autorest.md
  sdk/redis/Azure.ResourceManager.Redis/tests/ScenarioTests/AuthenticationFunctionalTests.cs
Labels: Mgmt

#44948 refine a new api in redis
  sdk/redis/Azure.ResourceManager.Redis/api/Azure.ResourceManager.Redis.netstandard2.0.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/ArmRedisModelFactory.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCreateOrUpdateContent.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCreateOrUpdateContent.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisPatch.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisPatch.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisData.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisData.cs
  sdk/redis/Azure.ResourceManager.Redis/src/autorest.md
  sdk/redis/Azure.ResourceManager.Redis/tests/ScenarioTests/AuthenticationFunctionalTests.cs
Labels: Mgmt

#44943 fix(docs): wrong <param> location in `System.ClientModel`
  sdk/core/System.ClientModel/src/ModelReaderWriter/IPersistableModel.cs
Labels: Azure.Core

#44938 Preparation for release of Azure.Core 1.41.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#44939 Preparation for release of System.ClientModel v1.1.0-beta.5
  sdk/core/System.ClientModel/CHANGELOG.md
Labels: Azure.Core

#44936 Sync eng/common directory with azure-sdk-tools for PR 8588
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#44958 Remove broken links from Core changelogs to address link checker issue
  sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/CHANGELOG.md
  sdk/core/Microsoft.Azure.Core.Spatial/CHANGELOG.md
Labels: Azure.Core

#44917 [Service Bus] Enforce batch limits
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpMessageBatch.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiverOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Sender/CreateMessageBatchOptions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Amqp/AmqpMessageBatchTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Sender/ServiceBusMessageBatchTests.cs
Labels: Service Bus, Client

#44964 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#44919 [KeyVault] Sample depedency versions
  sdk/keyvault/samples/getcert/getcert.csproj
Labels: KeyVault, Client

#44957 Increment version for communication releases
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/src/Azure.Communication.Email.csproj
Labels: Communication

#44978 [EngSys] Clean up local debug code
  eng/service.proj
Labels: Client, EngSys

#44920 [KeyVault] More sample dependency versions
  sdk/keyvault/samples/sharelink/ShareLink.csproj
Labels: KeyVault, Client

#44982 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailEngagementTrackingReportReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/ConsumeEventTests.cs
Labels: Event Grid

#44979 [ACS][CallingServer] Disabling all CallingServer test as it is in the process of decomissioning
  sdk/communication/Azure.Communication.CallingServer/tests/CallAutomationClient/CallAutomationClientLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallAutomationClient/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallConnection/CallConnectionTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallMedia/CallMediaLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallMedia/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/CallRecordingLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/CallRecordingTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/ContentDownloadLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/ContentDownloadTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/DeleteRecordingLiveTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/CallRecording/DeleteRecordingTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/Events/CallAutomationEventParserTests.cs
  sdk/communication/Azure.Communication.CallingServer/tests/MediaStreaming/CallAutomationStreamingParserTests.cs
Labels: Communication - Calling Server

#44965 Adding some verbose output to help diagnose something going awry with docs gen
  doc/ApiDocGeneration/Generate-Api-Docs.ps1
Labels: Docs

#44985 [EngSys] Remove baseline error
  .github/CODEOWNERS_baseline_errors.txt
Labels: Client, EngSys

#44984 [CODEOWNERS] Remove invalid account
  .github/CODEOWNERS
Labels: Client, EngSys

#44935 Sync eng/common directory with azure-sdk-tools for PR 8598
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#44754 fix(otel logging): Include ILogger CategoryName in logger output
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/DataCollection/DocumentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/DocumentTestBase.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/LogTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/LogsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LogsHelperTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/MessageDataTests.cs
Labels: customer-reported, Community Contribution, Monitor - Exporter

#44981 [AzureMonitorExporter] prep exporter release 1.4.0-beta1
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#44992 Fix EventGrid Namespaces readme
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/samples/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/samples/Sample1_Namespaces.md
Labels: Event Grid

#44997 Increment version for redis releases
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/src/Azure.ResourceManager.Redis.csproj
Labels: Mgmt

#45001 Increment version for newrelicobservability releases
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/CHANGELOG.md
  sdk/newrelicobservability/Azure.ResourceManager.NewRelicObservability/src/Azure.ResourceManager.NewRelicObservability.csproj
Labels: New Relic

#45006 [CODEOWNERS] Removing Pallavi's ownership
  .github/CODEOWNERS
Labels: Client, EngSys

#44941 [Storage] Fix for truncating URL paths with "#"
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobUriBuilder.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeUriBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareUriBuilder.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#44986 [Azure.Data.Tables] DeleteEntity overload
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/samples/Sample2CreateDeleteEntities.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableTransactionActionType.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntities.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
Labels: Tables

#45007 [Schema Registry] Default SchemaFormat to the Content-Type header value
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/ContentType.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaFormat.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/SchemaRegistryClient.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/tests/SchemaFormatTests.cs
Labels: Schema Registry

#45010 Add Update Remove-Item command line options
  doc/ApiDocGeneration/Generate-Api-Docs.ps1
Labels: Docs

#44989 [AzureMonitor] update integration test with CategoryName
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistro.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifySendingToTwoResources_UsingDistroWithExporter.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifySendingToTwoResources_UsingExporter.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/TelemetryValidationHelper.cs
Labels: Monitor - Distro

#44972 Reenabled live Audience tests
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ServiceClientTests.cs
Labels: Storage

#44994 Cncf namespace samples
  eng/Packages.Data.props
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/Azure.Messaging.EventGrid.Namespaces.sln
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/assets.json
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/samples/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/samples/Sample2_CNCF.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/Azure.Messaging.EventGrid.Namespaces.Tests.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/EventGridClientLiveTests.cs
Labels: Event Grid

#45015 [Storage] [WebJobs] Added test for Blob Path for various blob names to check for blob name validation
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/tests/BlobPathTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#44956 Azure OpenAI: sample/snippet update (request options for On Your Data)
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/tests/Samples/02_Oyd.cs
Labels: OpenAI

#45018 Storage STG 94 GA release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#45020 Update AutoRest C# version to 3.0.0-beta.20240715.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/Configuration.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#45027 Update AutoRest C# version to 3.0.0-beta.20240716.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/AzureCommunicationServicesRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallConnectionRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallDialogRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallMediaRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/CallConnectionsRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ContentRestClient.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/ServerCallingRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/DigitalTwinModelsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/DigitalTwinsRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/EventRoutesRestClient.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/QueryRestClient.cs
  sdk/iot/Azure.IoT.Hub.Service/src/Generated/ConfigurationRestClient.cs
  sdk/iot/Azure.IoT.Hub.Service/src/Generated/DevicesRestClient.cs
  sdk/iot/Azure.IoT.Hub.Service/src/Generated/ModulesRestClient.cs
  sdk/maps/Azure.Maps.Rendering/src/Generated/RenderRestClient.cs
  sdk/maps/Azure.Maps.Search/src/Generated/SearchRestClient.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/MixedRealityStsRestClient.cs
  sdk/search/Azure.Search.Documents/src/Generated/DocumentsRestClient.cs
  sdk/search/Azure.Search.Documents/src/Generated/SkillsetsRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareLeaseClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
Labels: Storage, Search, IoT, Digital Twins, Communication, Mixed Reality, Maps, Communication - Calling Server

#45033 Temporarily disable MSDocs publishing for Azure.Messaging.EventGrid.SystemEvents
  sdk/eventgrid/ci.yml
Labels: Event Grid, Docs, Central-EngSys

#45017 [AzureMonitor] add links to docs in the Readme
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/README.md
Labels: Monitor - Exporter, Monitor - Distro

#45004 Remove duplicate SYSTEM_ACCESSTOKEN
  sdk/identity/tests.yml
Labels: Azure.Identity

#44987 [Azure.Communication.Messages] Update README
  sdk/communication/Azure.Communication.Messages/README.md
Labels: Communication

#45037 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#45039 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#45016 [Storage] Bumped Storage, Blobs, and Queues package dependency version
  eng/Packages.Data.props
Labels: Storage

#45038 [Storage] [DataMovement] Improve checking on part completion for pause/stop/completion status
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
Labels: Storage

#45040 [Storage] [DataMovement] Updated Changelog for DataMovement July Release
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
Labels: Storage

#44991 [AzureMonitorDistro] prep distro 1.3.0-beta.1
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#45042 [Storage] [DataMovement] Changed DataMovement Blobs and File Shares to use package dependency
  eng/Packages.Data.props
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
Labels: Storage

#45043 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#45045 Increment version for storage releases
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#45041 [Storage] [Webjobs Extension] Updated changelog to prepare for WebJobs Storage Extension release
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#45054 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#45047 Update Changelog and readme files to include --prerelease
  sdk/extension-wcf/Microsoft.CoreWCF.Azure.StorageQueues/CHANGELOG.md
  sdk/extension-wcf/Microsoft.CoreWCF.Azure.StorageQueues/README.md
  sdk/extension-wcf/Microsoft.WCF.Azure.StorageQueues/CHANGELOG.md
  sdk/extension-wcf/Microsoft.WCF.Azure.StorageQueues/README.md
Labels: Extension - WCF

#45056 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#44391 Files OAuth full data plane support
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#44394 Premium Files Paid Bust
  .vscode/cspell.json
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FilePermissionKeyFormat.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FilePermissionKeyFormat.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePermission.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePermission.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareGetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareSetPropertiesOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#44749 [AzureMonitor] add Log Scopes example to Readme
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/LogsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LogsHelperTests.cs
Labels: Monitor - Exporter, Monitor - Distro

#45067 Increment version for mysql releases
  sdk/mysql/Azure.ResourceManager.MySql/CHANGELOG.md
  sdk/mysql/Azure.ResourceManager.MySql/src/Azure.ResourceManager.MySql.csproj
Labels: Mgmt

#45062 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#45076 Remove duplicate credential instantiation line in ACS Email README
  sdk/communication/Azure.Communication.Email/README.md
  sdk/communication/Azure.Communication.Email/tests/EmailClientLiveTestBase.cs
Labels: Communication

#45075 [Service Bus] July 2024 release prep
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/api/Azure.Messaging.ServiceBus.netstandard2.0.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs
Labels: Service Bus, Client

#45077 Nightly docs publish should honor skipPublishDocMs
  doc/ApiDocGeneration/Generate-Api-Docs.ps1
  eng/pipelines/templates/stages/archetype-net-release.yml
Labels: Docs

#45079 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#45082 [Service Bus] Change log typo
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus, Client

#45019 Sync eng/common directory with azure-sdk-tools for PR 8602
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#45063 [Azure.Messaging.EventHubs.Processor] Prepare for release
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#45058 [Azure.Data.Tables] Update version for release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#45083 [Storage] [Tests] Fix OAuth Storage Samples
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Blobs/samples/Sample02_Auth.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.Files.DataLake/samples/Sample02_Auth.cs
  sdk/storage/Azure.Storage.Queues/samples/Sample02_Auth.cs
Labels: Storage

#45085 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#45086 Reformat DefaultAzureCredential flow chart
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#44886 Using federated auth for ACS tests
  sdk/communication/Azure.Communication.CallAutomation/tests.yml
  sdk/communication/Azure.Communication.CallingServer/tests.yml
  sdk/communication/Azure.Communication.Chat/tests.yml
  sdk/communication/Azure.Communication.Identity/tests.yml
  sdk/communication/Azure.Communication.JobRouter/tests.yml
  sdk/communication/Azure.Communication.Rooms/tests.yml
  sdk/communication/Azure.Communication.ShortCodes/tests.yml
Labels: Communication, Communication - Calling Server, Communication - Chat, Communication - Identity, Communication - Short Codes, Communication - Rooms

#44633 Add exception information for all credential classes
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureApplicationCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureDeveloperCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzurePipelinesCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ChainedTokenCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientAssertionCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/WorkloadIdentityCredential.cs
Labels: Azure.Identity

#45087 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#45009 Update DefaultAzureCredential, InteractiveBrowserCredential, and DeviceCodeCredential docs
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredentialOptions.cs
Labels: Azure.Identity

#45096 Increment version for hybridcompute releases
  sdk/hybridcompute/Azure.ResourceManager.HybridCompute/CHANGELOG.md
  sdk/hybridcompute/Azure.ResourceManager.HybridCompute/src/Azure.ResourceManager.HybridCompute.csproj
Labels: Mgmt

#45094 Increment version for guestconfiguration releases
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/CHANGELOG.md
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/src/Azure.ResourceManager.GuestConfiguration.csproj
Labels: Mgmt

#45080 Unset the SDKType environment variable for API Docs Gen
  doc/ApiDocGeneration/Generate-Api-Docs.ps1
  eng/pipelines/templates/steps/archetype-sdk-docs.yml
Labels: Docs

#45107 Sync eng/common directory with azure-sdk-tools for PR 8669
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#45057 Sync eng/common directory with azure-sdk-tools for PR 8650
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#45078 SCM: Add support for Retry-After header to default ClientRetryPolicy
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockResponseHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRetryPolicy.cs
Labels: Azure.Core

#44699 Upgrade Web PubSub data-plane REST API to 2024-01-01
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/api/Azure.Messaging.WebPubSub.netstandard2.0.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/assets.json
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/WebPubSubServiceClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubClientProtocol.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClientOptions.ServiceVersion.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_extensions.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_helpers.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/autorest.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubGenerateUriTests.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubTestEnvironment.cs
Labels: WebPubSub

#45123 Increment version for quota releases
  sdk/quota/Azure.ResourceManager.Quota/CHANGELOG.md
  sdk/quota/Azure.ResourceManager.Quota/src/Azure.ResourceManager.Quota.csproj
Labels: Quota

#45130 Update ci.yml on Azure.Health.Deidentification
  sdk/healthdataaiservices/ci.yml
Labels: Health Deidentification

#43947 Reduce memory allocation in EventSourceEventFormatting
  sdk/core/Azure.Core/src/Shared/EventSourceEventFormatting.cs
  sdk/core/Azure.Core/tests/AzureEventSourceListenerTests.cs
Labels: Azure.Core, customer-reported, Community Contribution

#45132 Adjust release date
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/tests/samples/Sample2_CreateDeleteEntitiesAsync.cs
Labels: Tables

#45137 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#44940 Update ClientAssertionCredential doc comments to fix copy/paste typos
  sdk/identity/Azure.Identity/src/Credentials/ClientAssertionCredential.cs
Labels: Azure.Identity, Docs

#45124 Enable fileshare crc
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileDownloadHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileUploadRangeHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareErrors.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientTransferValidationTests.cs
Labels: Storage

#45138 Modified Azure.Storage.sln to pass build analyze step
  sdk/storage/Azure.Storage.sln
Labels: Storage

#45129 block blob fix
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage

#45159 Sync eng/common directory with azure-sdk-tools for PR 8680
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
Labels: EngSys, Central-EngSys

#45084 Use MSAL for managed identity credential implementation
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/CredentialDiagnosticScope.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentityProbeSource.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityClientOptions.cs
  sdk/identity/Azure.Identity/src/ManagedIdentityResponseClassifier.cs
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/MsalManagedIdentityClient.cs
  sdk/identity/Azure.Identity/src/Policies/DefaultAzureCredentialImdsRetryPolicy.cs
  sdk/identity/Azure.Identity/tests/ClientAssertionCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ClientSecretCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/ImdsManagedIdentitySourceTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityAKSIntegrationTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialArcLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialFederatedTokenLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialImdsLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialSFLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockManagedIdentityClient.cs
  sdk/identity/Azure.Identity/tests/WorkloadIdentityCredentialLiveTests.cs
Labels: Azure.Identity

#45158 [AppConfig] enable filter by tags tests
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample12_GetSettingsUsingTags.cs
Labels: App Configuration

#45162 Prepare Identity for Jul release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#45167 Update CHANGELOG.md
  sdk/healthdataaiservices/Azure.Health.Deidentification/CHANGELOG.md
Labels: Health Deidentification

#44968 [AzureMonitor] fix flaky tests manipulating Environment Variables
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/DefaultAzureMonitorOptionsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/DefaultPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/EnvironmentVariableConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ResourceExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitterFactory.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/MockPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/Platform/EnvironmentVariableConstantsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/ResourceExtensionsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TransmitterFactoryTests.cs
Labels: Monitor - Exporter

#45105 Fixed string to sign sorting
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageSharedKeyPipelinePolicy.cs
Labels: Storage

#45168 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#45169 Prep for Storage GA patch release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#45181 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#45185 [Functions] Prevent connection name mistake
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsClientFactoryTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusClientFactory.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Config/ServiceBusClientFactoryTests.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/ConfigurationUtilities.cs
Labels: Client, Functions

#45187 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#45188 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#45192 Increment version for fabric releases
  sdk/fabric/Azure.ResourceManager.Fabric/CHANGELOG.md
  sdk/fabric/Azure.ResourceManager.Fabric/src/Azure.ResourceManager.Fabric.csproj
Labels: Mgmt

#45114 Data Factory DotNet Sdk Release
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/api/Azure.ResourceManager.DataFactory.netstandard2.0.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AzureTableStorageLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AzureTableStorageLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CommonDataServiceForAppsLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CommonDataServiceForAppsLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ContinuationSettingsReference.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ContinuationSettingsReference.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DynamicsCrmLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DynamicsCrmLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DynamicsLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DynamicsLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ExecuteDataFlowActivity.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ExecuteDataFlowActivity.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ExecuteWranglingDataflowActivity.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ExecuteWranglingDataflowActivity.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SnowflakeExportCopyCommand.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SnowflakeExportCopyCommand.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SnowflakeImportCopyCommand.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SnowflakeImportCopyCommand.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SqlServerAuthenticationType.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SqlServerLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SqlServerLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/autorest.md
Labels: Mgmt
