Repository Azure/azure-sdk-for-net, pull requests merged in 2024-06, with the labels that each got.

#44098 Set OperationId for incomplete LRO
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Shared/NextLinkOperationImplementation.cs
  sdk/core/Azure.Core/tests/NextLinkOperationImplementationTests.cs
Labels: Azure.Core

#44339 Fix EventGrid Namespaces README Issue
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/README.md
Labels: Event Grid, customer-reported, Community Contribution

#44356 [Misc] Fix outdated package errors
  sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/DigitalTwinsClientSample.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/EventGridSourceGenerator/Directory.Build.props
  sdk/eventgrid/Azure.Messaging.EventGrid/EventGridSourceGenerator/src/EventGridSourceGenerator.cs
Labels: Client, EngSys

#44364 Increment version for storagecache releases
  sdk/storagecache/Azure.ResourceManager.StorageCache/CHANGELOG.md
  sdk/storagecache/Azure.ResourceManager.StorageCache/src/Azure.ResourceManager.StorageCache.csproj
Labels: Mgmt

#44363 Increment version for notificationhubs releases
  sdk/notificationhubs/Azure.ResourceManager.NotificationHubs/CHANGELOG.md
  sdk/notificationhubs/Azure.ResourceManager.NotificationHubs/src/Azure.ResourceManager.NotificationHubs.csproj
Labels: Mgmt

#44367 Update CHANGELOG.md (Typo "Azure OpenAI service"→"Azure OpenAI Service")
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
Labels: customer-reported, Community Contribution, OpenAI

#44329 [Azure Functions] [Queue extension] Fix queue length
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueMetricsProvider.cs
Labels: Storage

#44360 Update AutoRest C# version to 3.0.0-beta.20240602.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/authorization/Azure.ResourceManager.Authorization/src/Generated/Models/AuthorizationProviderOperationInfo.Serialization.cs
  sdk/cdn/Azure.ResourceManager.Cdn/src/Generated/Models/WafPolicySettings.Serialization.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/tspCodeModel.json
  sdk/dns/Azure.ResourceManager.Dns/src/Generated/Models/SystemData.Serialization.cs
  sdk/dns/Azure.ResourceManager.Dns/src/Generated/Models/SystemData.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/AmlComputeProperties.Serialization.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/ColumnTransformer.Serialization.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/MachineLearningCommandJob.Serialization.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/MachineLearningComponentVersionProperties.Serialization.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/MachineLearningPipelineJob.Serialization.cs
  sdk/machinelearningservices/Azure.ResourceManager.MachineLearning/src/Generated/Models/MachineLearningStackEnsembleSettings.Serialization.cs
Labels: Network - CDN, Mgmt, Communication

#44374 Default UseFederatedAuth to false
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#44333 Added STG 95 service version
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTestFixtureAttribute.cs
Labels: Storage

#44285 [AzureMonitorDistro] reenable integration tests
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
Labels: Monitor - Distro

#44382 Sync eng/common directory with azure-sdk-tools for PR 8370
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#44381 Sync eng/common directory with azure-sdk-tools for PR 8376
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#44383 [AzureMonitorDistro] implement extra headers for LiveMetrics
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorAspNetCoreEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Customizations/LiveMetricsRestAPIsForClientSDKsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/LiveMetricsRedirectPolicy.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Manager.State.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/QuickPulseResponse.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/LiveMetricsPolingIntervalTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/LiveMetricsRedirectPolicyTests.cs
Labels: Monitor - Distro

#44384 Regenerated after removing Storage Error Codes for Copies
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/StorageError.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/StorageError.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/StorageError.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/StorageError.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#44246 Remove some redundant list creation
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableRestClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Azure.Core, customer-reported, Tables, Community Contribution

#44395 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: Synapse

#44368 Client Assertion for OnBehalfOfCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/samples/OtherCredentialSamples.md
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/ClientAssertionCredentialTests.cs
  sdk/identity/Azure.Identity/tests/OnBehalfOfCredentialTests.cs
  sdk/identity/Azure.Identity/tests/samples/OtherCredentialSnippets.cs
Labels: Azure.Identity

#44388 Plumb env vars through deploy test resources
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#44416 Increment version for eventgrid releases
  sdk/eventgrid/Azure.ResourceManager.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.ResourceManager.EventGrid/src/Azure.ResourceManager.EventGrid.csproj
Labels: Mgmt

#44398 Preparation for release of Azure.Core 1.40.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#44289 Genrated new SDK's
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/api/Azure.ResourceManager.SelfHelp.netstandard2.0.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/assets.json
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/samples/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/ArmSelfHelpModelFactory.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/MockableSelfHelpArmClient.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/MockableSelfHelpSubscriptionResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/MockableSelfHelpTenantResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/SelfHelpExtensions.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Models/DiscoveryNlpContent.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/CheckNameAvailabilityRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/DiscoverySolutionNLPRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/DiscoverySolutionNLPSubscriptionScopeRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/DiscoverySolutionNLPTenantScopeRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/autorest.md
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/DiscoverySolutionNLPTests.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/DiscoverySolutionsTests.cs
Labels: Self Help

#44422 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#44370 [Azure.Monitor.Query] Add sovereign support to MetricsClient
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/assets.json
  sdk/monitor/Azure.Monitor.Query/src/MetricsClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsClientOptions.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricsClientAudience.cs
  sdk/monitor/Azure.Monitor.Query/src/Models/MetricsQueryAudience.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
  sdk/monitor/Azure.Monitor.Query/tests/MonitorQueryTestEnvironment.cs
Labels: Monitor, Client, Communication, DevCenter, Monitor - Query

#44423 [AzureMonitorDistro] Conditionally skip failing tests
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/CustomXunitAttributes.cs
Labels: Monitor - Exporter, Monitor - Distro

#44389 Sync eng/common directory with azure-sdk-tools for PR 8377
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#44355 Search - Add 2024-06-01-Preview support
  sdk/search/Azure.ResourceManager.Search/CHANGELOG.md
  sdk/search/Azure.ResourceManager.Search/api/Azure.ResourceManager.Search.netstandard2.0.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_NetworkSecurityPerimeterConfigurationCollection.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_NetworkSecurityPerimeterConfigurationResource.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchPrivateEndpointConnectionCollection.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchPrivateEndpointConnectionResource.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchServiceCollection.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SearchServiceResource.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SharedSearchServicePrivateLinkResource.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SharedSearchServicePrivateLinkResourceCollection.cs
  sdk/search/Azure.ResourceManager.Search/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/ArmSearchModelFactory.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/Extensions/MockableSearchResourceGroupResource.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/Extensions/MockableSearchSubscriptionResource.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/Extensions/SearchExtensions.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/Models/SearchBypass.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/Models/SearchServicePatch.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/Models/SearchServiceProvisioningState.Serialization.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/Models/SearchServiceProvisioningState.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/NetworkSecurityPerimeterConfigurationCollection.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/NetworkSecurityPerimeterConfigurationResource.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/AdminKeysRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/NetworkSecurityPerimeterConfigurationsRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/QueryKeysRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/SearchManagementRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/ServicesRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/SharedPrivateLinkResourcesRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/RestOperations/UsagesRestOperations.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/SearchPrivateEndpointConnectionCollection.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/SearchPrivateEndpointConnectionResource.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/SearchServiceCollection.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/SearchServiceData.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/SearchServiceResource.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/SharedSearchServicePrivateLinkResource.cs
  sdk/search/Azure.ResourceManager.Search/src/Generated/SharedSearchServicePrivateLinkResourceCollection.cs
  sdk/search/Azure.ResourceManager.Search/src/autorest.md
Labels: Mgmt

#44431 Update AutoRest C# version to 3.0.0-beta.20240606.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/consumption/Azure.ResourceManager.Consumption/api/Azure.ResourceManager.Consumption.netstandard2.0.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Custom/ArmConsumptionModelFactory.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/ArmConsumptionModelFactory.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionLegacyReservationRecommendation.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionLegacyReservationRecommendation.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionModernReservationRecommendation.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionModernReservationRecommendation.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionReservationRecommendation.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/ConsumptionReservationRecommendation.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/UnknownReservationRecommendation.Serialization.cs
  sdk/consumption/Azure.ResourceManager.Consumption/src/Generated/Models/UnknownReservationRecommendation.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/api/Azure.ResourceManager.ContainerInstance.netstandard2.0.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Customized/ArmContainerInstanceModelFactory.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/ArmContainerInstanceModelFactory.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/ContainerGroupData.Serialization.cs
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/src/Generated/ContainerGroupData.cs
Labels: Mgmt

#44437 Increment version for datafactory releases
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
Labels: Mgmt

#44438 Increment version for hybridcompute releases
  sdk/hybridcompute/Azure.ResourceManager.HybridCompute/CHANGELOG.md
  sdk/hybridcompute/Azure.ResourceManager.HybridCompute/src/Azure.ResourceManager.HybridCompute.csproj
Labels: Mgmt

#44424 Sync eng/common directory with azure-sdk-tools for PR 8373
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#44445 Sync eng/common directory with azure-sdk-tools for PR 8396
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#44446 Azure OpenAI: release prep for 2.0.0-beta.1
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#44449 [AzureMonitorExporter] prep exporter 1.3.0
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#44459 [Search] Update to the latest Azure OpenAI version
  eng/Packages.Data.props
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingReducedEmbeddings.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingSemanticHybridQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizableTextQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizedQuery.md
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearchCommons.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearch_UsingReducedEmbeddings.cs
Labels: Search

#44452 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#44428 Update Changelog logs in extension-wcf for release notes
  sdk/extension-wcf/Microsoft.CoreWCF.Azure.StorageQueues/CHANGELOG.md
  sdk/extension-wcf/Microsoft.WCF.Azure.StorageQueues/CHANGELOG.md
Labels: Extension - WCF

#44474 Sync .github/workflows directory with azure-sdk-tools for PR 8412
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#44454 Fix flaky tests
  sdk/core/Azure.Core/tests/BearerTokenAuthenticationPolicyTests.cs
Labels: Azure.Core

#44447 Add RefreshOn logic to ManagedIdentityCredential
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentitySourceTests.cs
Labels: Azure.Identity

#44479 [AzureMonitor] remove features before stable release
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net6.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
Labels: Monitor - Exporter, Monitor - Distro

#44483 MI fixes
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/AzureArcManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialArcLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#44490 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#44491 [AzureMonitorDistro] prep release Distro 1.2.0
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter, Monitor - Distro

#44492 Updated Storage changelogs for STG 94 beta release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#44181 Api and sdk updates for bicep client
  .github/CODEOWNERS
  .vscode/cspell.json
  sdk/resources/Azure.ResourceManager.Resources/api/Azure.ResourceManager.Resources.netstandard2.0.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/ArmResourcesModelFactory.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/MockableResourcesSubscriptionResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/ResourcesExtensions.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DecompileOperationContent.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DecompileOperationContent.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DecompileOperationSuccessResult.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DecompileOperationSuccessResult.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DecompiledFileDefinition.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DecompiledFileDefinition.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/RestOperations/DecompileRestOperations.cs
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
Labels: Mgmt, customer-reported, Community Contribution

#44500 Update the test guide for mgmt sdk
  sdk/resourcemanager/Azure.ResourceManager/docs/AuthUsingEnvironmentVariables.md
  sdk/resourcemanager/Azure.ResourceManager/docs/TestGuide.md
Labels: Mgmt

#44297 AzurePipelinesCredential uses new environment variables
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/samples/OtherCredentialSamples.md
  sdk/identity/Azure.Identity/samples/TokenCache.md
  sdk/identity/Azure.Identity/src/Credentials/AzurePipelinesCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzurePipelinesCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/AzurePipelinesCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/AzurePipelinesCredentialTests.cs
  sdk/identity/Azure.Identity/tests/samples/OtherCredentialSnippets.cs
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/tests.yml
Labels: Azure.Identity

#44493 Fixed Storage live tests
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#44429 [AzureMonitorDistro] Add field validation to Integration Tests (part1)
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/LogsQueryClientExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistro.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/TelemetryValidationHelper.cs
Labels: Monitor - Distro

#44507 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#44508 Fix Core reference
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#44481 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/api/Azure.Messaging.EventGrid.Namespaces.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/assets.json
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/samples/Sample1_Namespaces.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Azure.Messaging.EventGrid.Namespaces.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/AzureMessagingEventGridNamespacesClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/BrokerProperties.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridNamespacesClientBuilderExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridNamespacesModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridReceiverClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridReceiverClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridSenderClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridSenderClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/ReceiveResult.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/AcknowledgeRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/AcknowledgeRequest.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/AzureMessagingEventGridNamespacesClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridNamespacesModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridReceiverClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridSenderClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/InnerError.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/InnerError.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/MessagingEventGridNamespacesClientBuilderExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReceiveResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RejectRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RejectRequest.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReleaseDelay.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReleaseRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReleaseRequest.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RenewLocksRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RenewLocksRequest.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RenewLocksResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RenewLocksResult.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/properties/AssemblyInfo.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/Samples_EventGridClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tsp-location.yaml
Labels: Event Grid

#44512 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#44511 [AzureMonitor] reenable logging features
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net6.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
Labels: Monitor - Exporter, Monitor - Distro

#44486 [Event Hubs] Add checkpoint diagnostic scope
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PluggableCheckpointStoreEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
Labels: Event Hubs, Client

#44451 updates for track2 batch
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/src/Microsoft.Azure.Batch.Conventions.Files.csproj
  sdk/batch/Microsoft.Azure.Batch.Conventions.Files/tests/IntegrationTests/Microsoft.Azure.Batch.Conventions.Files.Integration.Tests.csproj
  sdk/batch/Microsoft.Azure.Batch.FileStaging/src/Microsoft.Azure.Batch.FileStaging.csproj
  sdk/batch/Microsoft.Azure.Batch.FileStaging/tests/Microsoft.Azure.Batch.FileStaging.Tests.csproj
  sdk/batch/Microsoft.Azure.Batch/Tools/CodeGenerationLibrary/CodeGenerationLibrary.csproj
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/Microsoft.Azure.Batch.Integration.Tests.csproj
  sdk/batch/ci.yml
Labels: Batch

#44515 API feedback
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/api/Azure.Messaging.EventGrid.Namespaces.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridReceiverClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/Samples_EventGridClient.cs
Labels: Event Grid

#44484 [ServiceBus] Batch Delete test fixes
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Receiver/ReceiverLiveTests.cs
Labels: Service Bus, Client

#44518 [AzureMonitorExporter] prep exporter 1.4.0-beta.1
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#44520 [Azure.Monitor.Query] Release Query
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: Client, Monitor - Query

#44519 More API feedback
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/README.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/api/Azure.Messaging.EventGrid.Namespaces.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/samples/Sample1_Namespaces.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridNamespacesClientBuilderExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridReceiverClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridReceiverClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridSenderClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridSenderClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/EventGridClientLiveTests.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/Samples_EventGridClient.cs
Labels: Event Grid

#44100 Reverting .net sdk
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/samples/Generated/Samples/Sample_FlowLogCollection.cs
  sdk/network/Azure.ResourceManager.Network/samples/Generated/Samples/Sample_NetworkWatcherResource.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/ArmNetworkModelFactory.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/FlowLogData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/FlowLogData.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/FlowLogInformation.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/FlowLogInformation.cs
  sdk/network/Azure.ResourceManager.Network/src/autorest.md
Labels: Mgmt, customer-reported, Community Contribution

#44535 Update CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
Labels: Monitor - Query

#44536 Fix typo in EdmBoolean constant value
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
Labels: Tables

#44542 Sync eng/common directory with azure-sdk-tools for PR 8434
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#44543 Remove check for MemoryStream in TablesRequestFailedDetailsParser
  sdk/tables/Azure.Data.Tables/src/TablesRequestFailedDetailsParser.cs
Labels: Tables

#44521 Azure OpenAI 2.0.0-beta: generated code refresh with '??' workaround
  sdk/openai/Azure.AI.OpenAI/src/Custom/Common/ContentFilterResultForPrompt.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Common/ContentFilterResultForPrompt.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Internal/ClientUriBuilder.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ContentFilterResultForPrompt.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/Internal/ClientUriBuilder.cs
Labels: OpenAI

#44522 [AzureMonitor] update OTel to 1.9.0-rc.1
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/MessageData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryExceptionData.cs
Labels: Monitor - Exporter, Monitor - Distro

#44539 Specify eastus for EventGrid test location
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/Azure.Messaging.EventGrid.Namespaces.Tests.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/assets.json
  sdk/eventgrid/Azure.Messaging.EventGrid/tests/Infrastructure/EventGridTestEnvironment.cs
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/assets.json
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishCloudEvent.json
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishCloudEventAsync.json
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishCloudEventToDomain.json
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishCloudEventToDomainAsync.json
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishSingleCloudEvent.json
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/tests/SessionRecords/CloudNativeLiveTests/CanPublishSingleCloudEventAsync.json
  sdk/eventgrid/test-resources.json
  sdk/eventgrid/tests.yml
Labels: Event Grid

#44457 Fix Azure OpenAI double ?, and JSON test issues
  sdk/openai/Azure.AI.OpenAI/tests/BatchTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/JsonHelpers.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/TestConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/VectorStoreTests.cs
Labels: OpenAI

#44541 Update tests.yml DeployTestResources to false
  sdk/communication/Azure.Communication.Rooms/tests.yml
Labels: Communication - Rooms

#44545 Use commit from main branch
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tsp-location.yaml
Labels: Event Grid

#44549 Increment version for eventhub releases
  sdk/eventhub/Azure.ResourceManager.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.ResourceManager.EventHubs/src/Azure.ResourceManager.EventHubs.csproj
Labels: Mgmt

#44537 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: Monitor - Query

#44448 Sync eng/common directory with azure-sdk-tools for PR 8388
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#44560 [Extensions] June 2024 Release Prep
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Client, Extensions

#44562 [Extensions] Fix AOT warning
  sdk/extensions/Microsoft.Extensions.Azure/tests/compatibility/ExpectedAotWarnings.txt
Labels: Extensions

#44559 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Azure.Messaging.EventGrid.Namespaces.csproj
Labels: Event Grid

#44565 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#44564 [Functions Extensions] June 2024 Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Client, Extensions

#44569 Sync eng/common directory with azure-sdk-tools for PR 8446
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#44566 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#44567 Increment version for tables releases
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables

#44568 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#44509 Add Entra ID support to ImageAnalysisClient
  sdk/vision/Azure.AI.Vision.ImageAnalysis/CHANGELOG.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/README.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/api/Azure.AI.Vision.ImageAnalysis.netstandard2.0.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/assets.json
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Generated/AIVisionImageAnalysisClientBuilderExtensions.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Generated/ImageAnalysisClient.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/AnalyzeTests.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/ImageAnalysisTestBase.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/ImageAnalysisSampleBase.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tsp-location.yaml
Labels: Image Analysis

#44579 Sync eng/common directory with azure-sdk-tools for PR 8451
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#44577 Re-record functions extensions tests
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/assets.json
  sdk/eventgrid/tests.functions.yml
Labels: Event Grid, Functions

#44441 Added connect api live test.
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationTestBase.cs
Labels: Communication

#44561 Prepare for release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/Credentials/AzurePipelinesCredential.cs
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
  sdk/identity/Azure.Identity/tests/AzurePipelinesCredentialTests.cs
Labels: Azure.Identity

#44538 [AzureMonitorDistro] Add field validation to Integration Tests (part2)
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistro.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/TelemetryValidationHelper.cs
Labels: Monitor - Distro

#44586 Changelog update for Beta3
  sdk/vision/Azure.AI.Vision.ImageAnalysis/CHANGELOG.md
Labels: Image Analysis

#44591 Azure OpenAI: 2.0.0-beta.2 release
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatClient.cs
  sdk/openai/Azure.AI.OpenAI/tests/AssistantTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/VectorStoreTests.cs
Labels: OpenAI

#44590 Update AutoRest C# version to 3.0.0-beta.20240614.3
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/devcenter/Azure.ResourceManager.DevCenter/src/Generated/Models/DevCenterOperationStatus.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisOperationStatus.Serialization.cs
Labels: Mgmt

#44592 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#44589 Increment version for vision releases
  sdk/vision/Azure.AI.Vision.ImageAnalysis/CHANGELOG.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Azure.AI.Vision.ImageAnalysis.csproj
Labels: Image Analysis

#44585 Clear scheduled enqueue time when creating a message from a received message
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
Labels: Service Bus

#44573 Fixed issue https://github.com/Azure/azure-sdk-for-net/issues/44501
  sdk/containerservice/Azure.ResourceManager.ContainerService/CHANGELOG.md
  sdk/containerservice/Azure.ResourceManager.ContainerService/api/Azure.ResourceManager.ContainerService.netstandard2.0.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/assets.json
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_AgentPoolSnapshotCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_AgentPoolSnapshotResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_AgentPoolUpgradeProfileResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceAgentPoolCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceAgentPoolResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceMaintenanceConfigurationCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceMaintenanceConfigurationResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceManagedClusterCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceManagedClusterResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServicePrivateEndpointConnectionCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServicePrivateEndpointConnectionResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceTrustedAccessRoleBindingCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ContainerServiceTrustedAccessRoleBindingResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_ManagedClusterUpgradeProfileResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_MeshRevisionProfileCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_MeshRevisionProfileResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_MeshUpgradeProfileCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_MeshUpgradeProfileResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_OSOptionProfileResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/ApiCompatBaseline.txt
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Azure.ResourceManager.ContainerService.csproj
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Custom/ContainerServiceAgentPoolResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Generated/ContainerServiceAgentPoolCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Generated/ContainerServiceAgentPoolResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Generated/ContainerServiceManagedClusterCollection.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Generated/ContainerServiceManagedClusterResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Generated/ContainerServicePrivateEndpointConnectionResource.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/autorest.md
  sdk/containerservice/Azure.ResourceManager.ContainerService/tests/ContainerServiceAgentPoolTests.cs
  sdk/containerservice/Azure.ResourceManager.ContainerService/tests/ContainerServiceCollectionTests.cs
Labels: Mgmt

#44603 Increment version for containerservice releases
  sdk/containerservice/Azure.ResourceManager.ContainerService/CHANGELOG.md
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Azure.ResourceManager.ContainerService.csproj
Labels: Mgmt

#44262 Fix deserialization issue and add multiple support for SectionType
  sdk/maps/Azure.Maps.Routing/api/Azure.Maps.Routing.netstandard2.0.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/RouteInstruction.Serialization.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/RouteInstruction.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/SectionType.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/RouteRestClient.cs
  sdk/maps/Azure.Maps.Routing/src/MapsRoutingClient.cs
  sdk/maps/Azure.Maps.Routing/src/Models/Options/RouteDirectionOptions.cs
  sdk/maps/Azure.Maps.Routing/src/Models/Options/RouteMatrixOptions.cs
  sdk/maps/Azure.Maps.Routing/src/Models/RouteInstruction.cs
  sdk/maps/Azure.Maps.Routing/src/autorest.md
Labels: Maps

#44609 live test added one more scenario
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientAutomatedLiveTests.cs
Labels: Communication

#44611 update sample for AzurePipelinesCredential
  sdk/identity/Azure.Identity/samples/OtherCredentialSamples.md
  sdk/identity/Azure.Identity/samples/exampleServiceConnectionUrl.png
Labels: Azure.Identity

#44607 Update macos image from 11 to latest
  eng/pipelines/templates/jobs/ci.mgmt.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/variables/image.yml
  eng/scripts/splittestdependencies/tests/expectOutputs/expect-matrix-integration.json
  eng/scripts/splittestdependencies/tests/inputs/sync-platform-matrix.json
  sdk/communication/Azure.Communication.PhoneNumbers/phone-numbers-livetest-matrix.json
Labels: Communication - Phone Numbers

#44616 Sync eng/common directory with azure-sdk-tools for PR 8452
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#44514 Sync eng/common directory with azure-sdk-tools for PR 8422
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#44615 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
Labels: Azure.Identity

#44630 Sync eng/common directory with azure-sdk-tools for PR 8467
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#44626 Increment version for dataprotection releases
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: Mgmt

#44629 Sync eng/common directory with azure-sdk-tools for PR 8463
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#44619 Azure OpenAI: Correct 'pinecone' data source type; regenerate code
  sdk/openai/Azure.AI.OpenAI/src/Custom/Assistants/AzureAssistantClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AzureAudioClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Batch/AzureBatchClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Batch/AzureBatchClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/Internal/InternalAzureCosmosDBChatDataSourceParameters.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/OnYourData/AzureCosmosDBDataSource.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/OnYourData/AzureMachineLearningChatDataSource.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/OnYourData/AzureSearchChatDataSource.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/OnYourData/ElasticsearchChatDataSource.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/OnYourData/PineconeChatDataSource.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Common/ContentFilterResultForPrompt.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Common/ContentFilterResultForPrompt.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Embeddings/AzureEmbeddingClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/AzureFineTuningClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Images/AzureImageClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/VectorStores/AzureVectorStoreClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Properties/AssemblyInfo.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/AzureOpenAIPipelineMessageBuilder.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/Polyfill/System.Diagnostics.CodeAnalysis.ExperimentalAttribute.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/Polyfill/System.Diagnostics.CodeAnalysis.SetsRequiredMembersAttribute.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/Polyfill/System.Runtime.CompilerServices.CompilerFeatureRequiredAttribute.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/Polyfill/System.Runtime.CompilerServices.IsExternalInit.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/Polyfill/System.Runtime.CompilerServices.RequiredMemberAttribute.cs
Labels: OpenAI

#44648 Update test resource directory path in tests.yml and run test in branch
  sdk/communication/Azure.Communication.Rooms/tests.yml
Labels: Communication - Rooms

#44647 [Event Hubs] Diagnostics and validation tweaks
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
Labels: Event Hubs, Client

#44649 [CODEOWNERS] Remove "all API changes" rule
  .github/CODEOWNERS
Labels: Client, EngSys

#44617 [AzureMonitorDistro] Add LoggerProviderBuilder extensions and use WithTracing in distro.
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net6.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/Azure.Monitor.OpenTelemetry.Exporter.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AzureMonitorExporterExtensionsTests.cs
Labels: Monitor - Exporter, Monitor - Distro

#44440 Added live tests for media streaming and transcription
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationClientTestEnvironment.cs
Labels: Communication

#44652 Update ToC within the Identity TROUBLESHOOTING.md to link to the AzurePipelinesCredential section
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#44660 Update ACS Rooms test resource directory path in tests.yml
  sdk/communication/Azure.Communication.Rooms/tests.yml
Labels: Communication - Rooms

#44650 [AzureMonitor] upgrade OTel to 1.9.0
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter, Monitor - Distro

#44677 Internalize SystemEventsClient
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/api/Azure.Messaging.EventGrid.SystemEvents.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Customization/EventGridSystemEventsModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Customization/MessagingEventGridSystemEventsClientBuilderExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Customization/SystemEventsClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Customization/SystemEventsClientOptions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/EventGridSystemEventsModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/MessagingEventGridSystemEventsClientBuilderExtensions.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/SystemEventsClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/SystemEventsClientOptions.cs
Labels: Event Grid

#44655 [Service Bus] Message copy test fix
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Message/MessageLiveTests.cs
Labels: Service Bus, Client

#44634 [AzureMonitor] Integration Test with two Application Insights resource (part 1)
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/AzureMonitorTestEnvironment.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/LogsQueryClientExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistro.json
  sdk/monitor/test-resources.bicep
Labels: Monitor - Distro

#44682 [AzureMonitorDistro] sync vendored code (post 1.9.0)
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientInstrumentationEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/AppServiceResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/AzureContainerAppsResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/AzureResourceBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/AzureVMResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/AzureVmMetaDataRequestor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/AzureVmMetadataResponse.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/ResourceAttributeConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Resources.Azure/SourceGenerationContext.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/AssemblyVersionExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/PropertyFetcher.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceSubscriber.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ExceptionExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Guard.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ListenerHandler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/PropertyFetcher.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ResourceSemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Shims/IsExternalInit.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Shims/NullableAttributes.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SpanAttributeConstants.cs
Labels: Monitor - Distro

#44387 [AppConfiguration] add support for filtering by tags
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/README.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample12_GetSettingsUsingTags.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientOptions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSettingsFilter.Serialization.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/ConfigurationSettingsFilter.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SettingSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/autorest.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationMockTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationSettingsFilterTests.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationSettingsSnapshotTest.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/samples/Sample12_GetSettingsUsingTags.cs
Labels: App Configuration

#44656 [AzureMonitor] Integration Test with two Application Insights resource (part 2)
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/BaseLiveTest.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/DistroWebAppLiveTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifyDistro.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifySendingToTwoResources_UsingDistroWithExporter.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/SessionRecords/DistroWebAppLiveTests/VerifySendingToTwoResources_UsingExporter.json
Labels: Monitor - Distro

#44664 Add back-ticks in AzurePipelinesCredential section of the Identity TSG
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#44683 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Azure.Messaging.EventGrid.SystemEvents.csproj
Labels: Event Grid

#44658 Sync eng/common directory with azure-sdk-tools for PR 8475
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
  sdk/containerregistry/Azure.Containers.ContainerRegistry/assets.json
Labels: EngSys, Central-EngSys

#44688 Sync eng/common directory with azure-sdk-tools for PR 8484
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#44700 Resolve openai failure
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/tests/AssistantTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/03_Assistants.cs
Labels: OpenAI

#44703 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: Mgmt

#44657 Add pool variable and user env variables to test resources environment. Fix storage windows pool.
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/storage/tests.yml
Labels: Central-EngSys

#44695 Add fine tuning tests
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/AzureFineTuningClient.Extensions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/AzureFineTuningClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/AzureOpenAIPipelineMessageBuilder.cs
  sdk/openai/Azure.AI.OpenAI/tests/Assets/fine_tuning.jsonl
  sdk/openai/Azure.AI.OpenAI/tests/Azure.AI.OpenAI.Tests.csproj
  sdk/openai/Azure.AI.OpenAI/tests/BatchTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FineTuningTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ImageTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/AutoOrLongValue.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/AzureDeployedModel.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/AzureDeploymentClient.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/BatchObject.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/BatchOptions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/BatchResult.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/FineTuningCheckpoint.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/FineTuningHyperparameters.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/FineTuningJob.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/FineTuningJobEvent.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/FineTuningModelBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/FineTuningOptions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/ListResponse.cs
  sdk/openai/Azure.AI.OpenAI/tests/Properties/AssemblyInfo.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AoaiTestBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Assets.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Extensions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/JsonHelpers.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/RunOnScopeExit.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/TestConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/UnixDateTimeConverter.cs
Labels: OpenAI

#44713 [AzureMonitor] update internals in test project
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/LiveMetricsPolingIntervalTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Program.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/DefaultPlatform.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Properties/AssemblyInfo.cs
Labels: Monitor - Exporter, Monitor - Distro

#44628 Add `Features Added` section for first beta
  eng/templates/Azure.ResourceManager.Template/CHANGELOG.md
Labels: Mgmt, Oracle

#44720 Prepare release for Oracle first beta
  sdk/oracle/Azure.ResourceManager.OracleDatabase/CHANGELOG.md
Labels: Oracle

#44701 Remove blob type from BlobCheckpointData
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobDestinationCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobSourceCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobsStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobSourceCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/RehydrateBlobResourceTests.cs
Labels: Storage

#44697 [AzureMonitorDistro] Tests for Sql Instrumentation
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2ETests/SqlClientTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/TransmitterFactory.cs
Labels: Monitor - Exporter, Monitor - Distro

#44730 Updating the alpha version
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication

#44724 Update AutoRest C# version to 3.0.0-beta.20240625.3
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/src/Generated/tspCodeModel.json
Labels: Communication

#44731 Increment version for oracle releases
  sdk/oracle/Azure.ResourceManager.OracleDatabase/CHANGELOG.md
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Azure.ResourceManager.OracleDatabase.csproj
Labels: Oracle

#44732 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: Mgmt

#44733 Increment version for storagemover releases
  sdk/storagemover/Azure.ResourceManager.StorageMover/CHANGELOG.md
  sdk/storagemover/Azure.ResourceManager.StorageMover/src/Azure.ResourceManager.StorageMover.csproj
Labels: Mgmt

#44736 Prepare for releasing SelfHelp 1.1.0-beta.4
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/CHANGELOG.md
Labels: Self Help

#44738 Increment version for selfhelp releases
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/CHANGELOG.md
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Azure.ResourceManager.SelfHelp.csproj
Labels: Self Help

#44692 Update sdk to use GA api version 2024-04
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/api/Azure.ResourceManager.ServiceFabricManagedClusters.netstandard2.0.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeVersionCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeVersionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedClusterCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedNodeTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedNodeTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedServiceCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedServiceResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Azure.ResourceManager.ServiceFabricManagedClusters.csproj
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ArmServiceFabricManagedClustersModelFactory.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersArmClient.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersResourceGroupResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersSubscriptionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/ServiceFabricManagedClustersExtensions.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ManagedClusterIPTag.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/NodeTypeNatConfig.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/NodeTypeNatConfig.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ResourceAzStatus.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ResourceAzStatus.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ServiceFabricManagedClusterIPTag.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ServiceFabricManagedClusterPublicIPAddressConfiguration.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ServiceFabricManagedClusterPublicIPAddressConfiguration.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ServiceFabricManagedClusterSecurityType.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationTypeVersionsRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationTypesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationsRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedApplyMaintenanceWindowRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedAzResiliencyStatusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedClusterVersionRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedClustersRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedMaintenanceWindowStatusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedUnsupportedVMSizesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/NodeTypeSkusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/NodeTypesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ServicesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeVersionCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeVersionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeData.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeData.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedServiceCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedServiceResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/autorest.md
Labels: Mgmt

#44707 Adding AzDO pipeline authentication to TestEnvironment.Credential
  eng/Packages.Data.props
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/keyvault/tests.yml
Labels: KeyVault, Azure.Core

#44711 Adds test recording and playback for Azure OpenAI
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/tests/Assets/playback_test_config.json
  sdk/openai/Azure.AI.OpenAI/tests/AssistantTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/AudioTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Azure.AI.OpenAI.Tests.csproj
  sdk/openai/Azure.AI.OpenAI/tests/BatchTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.Vision.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FineTuningTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ImageTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/AzureDeploymentClient.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/00_ClientConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/01_Chat.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/02_Oyd.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/03_Assistants.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AoaiTestBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/BasicConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/EnvironmentValuesConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/FlattenedConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/IConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/JsonConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/DisableRecordingInterceptor.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/NonPublic.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Pipeline/ClientRetryPolicyAdapter.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Pipeline/ProxyTransport.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/RunOnScopeExit.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/SkipOnOS.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/SyncToAsyncEnumerator.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/SyncToAsyncPageableCollection.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/TestConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/VectorStoreTests.cs
Labels: OpenAI

#44741 Increment version for servicefabricmanagedclusters releases
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Azure.ResourceManager.ServiceFabricManagedClusters.csproj
Labels: Mgmt

#44743 Add recording for additional test case, automate recorded config capture
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/tests/Assets/playback_test_config.json
  sdk/openai/Azure.AI.OpenAI/tests/Azure.AI.OpenAI.Tests.csproj
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FineTuningTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/AzureDeploymentClient.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AoaiTestBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/EnvironmentValuesConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/FlattenedConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/IConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/JsonConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/NamedConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/SanitizedJsonConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Extensions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/JsonHelpers.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/SkipOnOS.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/TestConfig.cs
Labels: OpenAI

#44745 [AzureMonitorDistro] Remove logs sampling.
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorAspNetCoreEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LogFilteringProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2EAzureMonitorDistroTests.cs
Labels: Monitor - Distro
