Repository Azure/azure-sdk-for-net, pull requests merged in 2024-12, with the labels that each got.

#47374 Add IsAzureArm to distinguish MPG and DPG
  eng/Packages.Data.props
  eng/packages/http-client-csharp/emitter/src/emitter.ts
  eng/packages/http-client-csharp/emitter/src/sdk-context-options.ts
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.RestClient.cs
Labels: Client, Mgmt, CodeGen

#47060 Fjabiyev/opt out c# sdk
  sdk/communication/Azure.Communication.Sms/CHANGELOG.md
  sdk/communication/Azure.Communication.Sms/api/Azure.Communication.Sms.net8.0.cs
  sdk/communication/Azure.Communication.Sms/api/Azure.Communication.Sms.netstandard2.0.cs
  sdk/communication/Azure.Communication.Sms/assets.json
  sdk/communication/Azure.Communication.Sms/src/Generated/CommunicationSmsModelFactory.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutRecipient.Serialization.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutRecipient.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutRequest.Serialization.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutRequest.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutResponse.Serialization.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutResponse.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutResponseItem.Serialization.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/OptOutResponseItem.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/OptOutsRestClient.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/SmsRestClient.cs
  sdk/communication/Azure.Communication.Sms/src/Models/OptOutAddResponse.cs
  sdk/communication/Azure.Communication.Sms/src/Models/OptOutAddResponseItem.cs
  sdk/communication/Azure.Communication.Sms/src/Models/OptOutRemoveResponse.cs
  sdk/communication/Azure.Communication.Sms/src/Models/OptOutRemoveResponseItem.cs
  sdk/communication/Azure.Communication.Sms/src/Models/SendMessageRequest.cs
  sdk/communication/Azure.Communication.Sms/src/Models/SmsModelFactory.cs
  sdk/communication/Azure.Communication.Sms/src/Models/SmsRecipient.cs
  sdk/communication/Azure.Communication.Sms/src/Models/SmsSendOptions.cs
  sdk/communication/Azure.Communication.Sms/src/Models/SmsSendResponse.cs
  sdk/communication/Azure.Communication.Sms/src/Models/SmsSendResponseItemRepeatabilityResult.cs
  sdk/communication/Azure.Communication.Sms/src/OptOutsClient.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClientOptions.cs
  sdk/communication/Azure.Communication.Sms/src/autorest.md
  sdk/communication/Azure.Communication.Sms/tests/OptOutsClientTest.cs
  sdk/communication/Azure.Communication.Sms/tests/OptOutsRestClientTests.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTests.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientTest.cs
Labels: Communication - SMS

#47338 Update instructions for locating service connection ID
  sdk/identity/Azure.Identity/images/AzPipelinesServiceConnectionId.png
  sdk/identity/Azure.Identity/samples/OtherCredentialSamples.md
  sdk/identity/Azure.Identity/samples/exampleServiceConnectionUrl.png
Labels: Azure.Identity

#47388 [CODEOWNERS] Remove invalid owner
  .github/CODEOWNERS
Labels: Client, EngSys

#47390 [DocumentIntelligence] Use TME subscription static resource in live tests
  sdk/documentintelligence/test-resources.json
  sdk/documentintelligence/tests.yml
Labels: Client, Cognitive - Form Recognizer

#47389 Sync eng/common directory with azure-sdk-tools for PR 9440
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#47384 Increment version for hybridcompute releases
  sdk/hybridcompute/Azure.ResourceManager.HybridCompute/CHANGELOG.md
  sdk/hybridcompute/Azure.ResourceManager.HybridCompute/src/Azure.ResourceManager.HybridCompute.csproj
Labels: Mgmt

#46666 Fix deserialization bug
  sdk/maps/Azure.Maps.Routing/assets.json
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/RouteMatrix.Serialization.cs
  sdk/maps/Azure.Maps.Routing/src/Models/Operation/GetRouteMatrixOperation.cs
  sdk/maps/Azure.Maps.Routing/src/Models/RouteMatrix.Serialization.cs
  sdk/maps/Azure.Maps.Routing/tests/RouteMatrixTests.cs
Labels: Maps

#47395 Increment version for networkcloud releases
  sdk/networkcloud/Azure.ResourceManager.NetworkCloud/CHANGELOG.md
  sdk/networkcloud/Azure.ResourceManager.NetworkCloud/src/Azure.ResourceManager.NetworkCloud.csproj
Labels: Operator Nexus - Network Cloud

#47387 Added alpha4 changes.
  eng/scripts/Export-API.ps1
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ConnectFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ConnectFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayStarted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartTranscriptionRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartTranscriptionRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopMediaStreamingRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopMediaStreamingRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopTranscriptionRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StopTranscriptionRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UpdateTranscriptionRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UpdateTranscriptionRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartTranscriptionOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StopTranscriptionOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/UpdateTranscriptionOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#47393 [Azure.Monitor.Query] Update MetricsQueryResourcesOptions to have StartTime and EndTime
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.net8.0.cs
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/assets.json
  sdk/monitor/Azure.Monitor.Query/src/MetricsClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryResourcesOptions.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsClientLiveTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
Labels: Monitor

#47401 [Azure.Monitor.Query] Release patch
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: Monitor - Query

#47224 Checkpointer use testing
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/AssemblyInfo.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#47348 [Storage][DataMovement] Add bounds to transfer queues
  sdk/storage/Azure.Storage.DataMovement/src/ChannelProcessing.cs
  sdk/storage/Azure.Storage.DataMovement/src/DownloadChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DownloadChunkHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Models/StepProcessor.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferValidationTests.cs
Labels: Storage

#47404 automate creation of azure.yaml
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineInfrastructure.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/Azd.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/CloudMachineCommands.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/CommandsTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/GenerateBicep.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/JustCloudMachine.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/OpenAI.bicep
  sdk/cloudmachine/README.md
Labels: Cloud Machine

#47379 Adding new incoming call event for call automation. Related work item…
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CustomCallingContextInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/IncomingCallInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/IncomingCallInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CustomCallingContextInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/IncomingCall.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/IncomingCallInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#47407 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: Monitor - Query

#47409 Arch Board comments
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/FilePosixProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/FileSmbProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/NfsFileMode.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/PosixRolePermissions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/RolePermissionExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareDirectoryCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareDirectoryInfo.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareDirectoryProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareDirectorySetHttpHeadersOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCopyOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileDownloadDetails.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileInfo.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileSetHttpHeadersOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#47413 Renamed Symlink SymLink
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/NfsFileType.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#47418 Updated autorest
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#47185 Enabled STG 97 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net8.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net8.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
Labels: Storage

#47417 [Storage][DataMovement] Refactor/add bounds to CommitChunkHandler
  sdk/storage/Azure.Storage.DataMovement/src/CommitChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/QueueStageChunkArgs.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/StageChunkEventArgs.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CommitChunkHandlerTests.cs
Labels: Storage

#47421 Added STG 98 service version
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net8.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net8.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net8.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTestFixtureAttribute.cs
Labels: Storage

#47378 Convert properties of type Uri to type string in SecurityInsightsUriEntity
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/api/Azure.ResourceManager.SecurityInsights.net8.0.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/api/Azure.ResourceManager.SecurityInsights.netstandard2.0.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/Customized/ArmSecurityInsightsModelFactory.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/Customized/Models/SecurityInsightsUriEntity.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/Generated/ArmSecurityInsightsModelFactory.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/Generated/Models/SecurityInsightsUriEntity.Serialization.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/Generated/Models/SecurityInsightsUriEntity.cs
  sdk/securityinsights/Azure.ResourceManager.SecurityInsights/src/autorest.md
Labels: Mgmt

#47428 Sync eng/common directory with azure-sdk-tools for PR 9471
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#47406 Improved the performance of TableServiceClient.GetTableClient()
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
Labels: Tables

#47430 Complete Functional CM Extension Support
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineClient.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineClientConfiguration.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/ConnectionCollection.cs
  sdk/cloudmachine/Azure.CloudMachine/src/Core/RestCLient/RestCallFailedException.cs
  sdk/cloudmachine/Azure.CloudMachine/src/Core/RestCLient/RestClient.cs
  sdk/cloudmachine/Azure.CloudMachine/src/Core/RestCLient/RestClientOptions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/GlobalSuppressions.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/Azure.CloudMachine.Tests.csproj
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests_rag.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/ConnectionTests.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/GettingStarted.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineClientExtensions.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineInfrastructure.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/FeatureCollection.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/EventGridSystemTopicFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/InternalConstants.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusNamespaceFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusSubscriptionFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusTopicFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/StorageAccountFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/SystemTopicEventSubscriptionFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/AppServiceFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/KeyVaultFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/OpenAIFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/OpenAIModelFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/GlobalSuppressions.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/TokenCredentialAuthenticationPolicy.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/Azd.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/CloudMachineCommands.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tsp/TypeSpecWriter.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/CommandsTests.cs
Labels: Cloud Machine

#47433 [DocumentIntelligence] Applying architect feedback
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.net8.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.netstandard2.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AddOnCapabilities.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AnalyzeWithPrebuiltModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ClassifyDocument.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayout.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayoutAsMarkdown.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/AnalyzeBatchDocumentsOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/AnalyzeDocumentOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/ClassifyDocumentOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeBatchDocumentsOptions.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeBatchDocumentsOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeDocumentOptions.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeDocumentOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeResult.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ClassifyDocumentOptions.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ClassifyDocumentOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ContentSourceKind.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/StringIndexType.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/GeneratorStubs/InternalTypes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/GeneratorStubs/PublicTypes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/ClientExtensions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/OperationWithIdLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentClassifierLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentClassifierMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentIntelligenceClientLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleAnalyzeWithPrebuiltModelFromBytes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleSnippets.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithAddOnCapabilities.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithPrebuiltModelFromUri.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ClassifyDocumentFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutAsMarkdownAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tsp-location.yaml
Labels: Client, Cognitive - Form Recognizer

#47435 Update API based on review feedback
  sdk/maps/Azure.Maps.TimeZones/api/Azure.Maps.TimeZones.net8.0.cs
  sdk/maps/Azure.Maps.TimeZones/api/Azure.Maps.TimeZones.netstandard2.0.cs
  sdk/maps/Azure.Maps.TimeZones/src/MapsTimeZoneModelFactory.cs
  sdk/maps/Azure.Maps.TimeZones/src/Models/ReferenceTime.cs
  sdk/maps/Azure.Maps.TimeZones/src/Models/TimeTransition.cs
Labels: Maps

#47439 Update TimeZone SDK member variable names
  sdk/maps/Azure.Maps.TimeZones/api/Azure.Maps.TimeZones.net8.0.cs
  sdk/maps/Azure.Maps.TimeZones/api/Azure.Maps.TimeZones.netstandard2.0.cs
  sdk/maps/Azure.Maps.TimeZones/src/Models/ReferenceTime.cs
  sdk/maps/Azure.Maps.TimeZones/src/Models/TimeTransition.cs
Labels: Maps

#47434 Update docIndex to kick off the docs SDK CI run for main
  eng/docsSDKCIConfig.json
  eng/pipelines/docindex.yml
Labels: Docs

#47429 Sync eng/common directory with azure-sdk-tools for PR 9466
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#47447 [Storage] [DataMovement] Rerecorded DM Files with SAS version bump
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
Labels: Storage

#47448 [CODEOWNERS] Remove invalid owner
  .github/CODEOWNERS
Labels: Client, EngSys

#47451 Azure OpenAI: remove legacy/standalone Assistants package from service tree CI definition
  sdk/openai/ci.yml
Labels: OpenAI

#47415 Sync eng/common directory with azure-sdk-tools for PR 9460
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#47449 emit all CloudMachine packages
  sdk/cloudmachine/README.md
  sdk/cloudmachine/ci.yml
Labels: Cloud Machine

#47452 [Storage][DataMovement] Add additional debug logging to transfers
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.DataMovement/src/DataMovementEventSource.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferInternalState.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartStatusEventArgs.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
Labels: Storage

#47454 [Storage][DataMovement] Fix some flakey tests with concurrent eventing
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TestEventsRaised.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferValidationTests.cs
Labels: Storage

#47344 Added extra security hardening
  sdk/healthdataaiservices/test-resources.bicep
Labels: Health Deidentification

#47441 Update routing changelog
  sdk/maps/Azure.Maps.Routing/CHANGELOG.md
Labels: Maps

#47437 Remove redundant file
  sdk/maps/Azure.Maps.TimeZones/src/MapsTimeZoneModelFactory.cs
Labels: Maps

#47466 Update Maps TimeZone configs and readme
  sdk/maps/Azure.Maps.TimeZones/CHANGELOG.md
  sdk/maps/Azure.Maps.TimeZones/README.md
  sdk/maps/README.md
  sdk/maps/ci.yml
Labels: Maps

#47450 Sync .github/workflows directory with azure-sdk-tools for PR 9490
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#47469 added ASP.NET APIs to transfer connections
  sdk/cloudmachine/Azure.CloudMachine.Web/api/Azure.CloudMachine.Web.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.Web/src/CloudMachineExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/ClientWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineClient.cs
Labels: Cloud Machine

#47431 [Storage] [DataMovement] [Tests] Core Resume mocked tests
  sdk/storage/Azure.Storage.DataMovement/src/JobBuilder.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferMockedTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#47468 [DocumentIntelligence] Addressing more architect feedback
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.net8.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.netstandard2.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_BuildCustomModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_BuildDocumentClassifier.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ModelCompose.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/BuildDocumentModelOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/ClassifierDocumentTypeDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/BoundingRegion.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/BoundingRegion.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/BuildDocumentModelOptions.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/BuildDocumentModelOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ClassifierDocumentTypeDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/ClassifierDocumentTypeDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/Docs/DocumentIntelligenceAdministrationClient.xml
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/Docs/DocumentIntelligenceClient.xml
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentBarcode.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentFormula.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentSelectionMark.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentSpan.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentSpan.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentWord.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/GeneratorStubs/PublicTypes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentClassifierAdministrationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/OperationWithIdLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Generated/Samples/Samples_DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Generated/Samples/Samples_DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceLiveTestBase.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_BuildCustomModelAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_BuildDocumentClassifierAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ClassifyDocumentFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ComposeModelAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_CopyModelToAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_GetAndListOperationsAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ManageModelsAsync.cs
Labels: Client, Cognitive - Form Recognizer

#47473 Made ASP.NET DI work with CMInfrastructure
  eng/Packages.Data.props
  sdk/cloudmachine/Azure.CloudMachine.Web/api/Azure.CloudMachine.Web.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.Web/src/CloudMachineExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/ConnectionTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineInfrastructure.cs
Labels: Cloud Machine

#47411 Added beta3 Hold Events.
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/HoldEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioCompleted.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioPaused.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioPaused.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioResumed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioResumed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioStarted.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldAudioStarted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayResumed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/HoldAudioCompleted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/HoldAudioPaused.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/HoldAudioResumed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/HoldAudioStarted.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/HoldFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/HoldResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#47475 [Storage] [DataMovement] [Tests] Refactoring Resume mocked tests
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferMockedTests.cs
Labels: Storage

#47478 update metapackage with OpenAI package
  sdk/cloudmachine/Azure.CloudMachine.All/src/Azure.CloudMachine.All.csproj
Labels: Cloud Machine

#47479 [DocumentIntelligence] Some more architect feedback
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.net8.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.netstandard2.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AddOnCapabilities.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AnalyzeWithPrebuiltModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ClassifyDocument.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayout.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayoutAsMarkdown.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/AnalyzeBatchDocumentsOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/AnalyzeDocumentOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/AnalyzedDocument.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/ClassifyDocumentOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentField.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentFieldDictionary.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeBatchDocumentsOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeBatchOperationDetails.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzeBatchOperationDetails.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzedDocument.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/AnalyzedDocument.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentField.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentField.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceError.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceError.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceInnerError.Serialization.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceInnerError.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/GeneratorStubs/PublicTypes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/ClientExtensions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/OperationWithIdLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentClassifierLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentClassifierMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentIntelligenceClientLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleAnalyzeWithPrebuiltModelFromBytes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleSnippets.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithAddOnCapabilities.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithPrebuiltModelFromUri.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ClassifyDocumentFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutAsMarkdownAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tsp-location.yaml
Labels: Client, Cognitive - Form Recognizer

#47476 Sync eng/common directory with azure-sdk-tools for PR 9497
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#47486 [CODEOWNERS] Fix linter failures
  .github/CODEOWNERS
Labels: Client, EngSys

#47477 Updated to fix Transfer API so that it supports MicrosoftTeamsApp identifier
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallConnection.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/TransferToParticipantOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallConnections/CallConnectionTests.cs
Labels: Communication

#47490 updated readme to new APIs
  sdk/cloudmachine/README.md
Labels: Cloud Machine

#47491 Fix non-unique roleAssignments
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineInfrastructure.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/RoleResolver.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/GenerateBicep.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/JustCloudMachine.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/OpenAI.bicep
Labels: Cloud Machine

#47496 [DocumentIntelligence] Added overloads to the AnalyzeDocument method
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.net8.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/api/Azure.AI.DocumentIntelligence.netstandard2.0.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelMockTests.cs
Labels: Client, Cognitive - Form Recognizer

#47497 [DocumentIntelligence] Updating version in docs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Azure.AI.DocumentIntelligence.csproj
Labels: Client, Cognitive - Form Recognizer

#47481 Increment version for maps releases
  sdk/maps/Azure.Maps.Routing/CHANGELOG.md
  sdk/maps/Azure.Maps.Routing/src/Azure.Maps.Routing.csproj
  sdk/maps/Azure.Maps.TimeZones/CHANGELOG.md
  sdk/maps/Azure.Maps.TimeZones/src/Azure.Maps.TimeZones.csproj
Labels: Maps

#47498 moved OpenAI extensions completly to the OpenAI extensions package
  eng/Packages.Data.props
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/Azure.CloudMachine.OpenAI.csproj
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/ChatTools.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/EmbeddingsVectorbase.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIModelFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/tests/Azure.CloudMachine.OpenAI.Tests.csproj
  sdk/cloudmachine/Azure.CloudMachine/src/Azure.CloudMachine.csproj
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/ConnectionTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/FeatureCollection.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
Labels: Cloud Machine

#47516 [Storage][DataMovement] Fixed follow-up DataMovement.Blobs Samples Issue
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
Labels: Storage

#47520 bug fixes and small additions
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/AppConfigHelpers.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineInfrastructure.cs
Labels: Cloud Machine

#47453 Sync eng/common directory with azure-sdk-tools for PR 9493
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#47335 Introduce additional properties to `InboundNatRule` and `LoadBalancerRule` in `Azure.ResourceManager.Network`
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.net8.0.cs
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/assets.json
  sdk/network/Azure.ResourceManager.Network/samples/Generated/Samples/Sample_LoadBalancerCollection.cs
  sdk/network/Azure.ResourceManager.Network/src/Customization/ArmNetworkModelFactory.cs
  sdk/network/Azure.ResourceManager.Network/src/Customization/LoadBalancingRuleData.cs
  sdk/network/Azure.ResourceManager.Network/src/Customization/Models/LoadBalancerInboundNatPool.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/ArmNetworkModelFactory.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/LoadBalancingRuleData.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/LoadBalancingRuleData.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/LoadBalancerInboundNatPool.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/LoadBalancerInboundNatPool.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/LoadBalancerInboundNatPoolProperties.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/LoadBalancerInboundNatPoolProperties.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/LoadBalancingRuleProperties.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/LoadBalancingRuleProperties.cs
  sdk/network/Azure.ResourceManager.Network/src/autorest.md
  sdk/network/Azure.ResourceManager.Network/tests/Tests/LoadBalancerTests.cs
Labels: Mgmt

#47513 fix(playwrighttesting): suiteId to use hash instead of classname
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/DataProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Processor/DataProcessorTests.cs
Labels: Microsoft Playwright Testing

#47531 docs(playwrighttesting):Changelog for 1.0.0-beta.4 and updated version.
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/DataProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Processor/DataProcessorTests.cs
Labels: Microsoft Playwright Testing

#47524 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#47512 [Storage][DataMovement][Testing] Multiple pauses and resumes in each transfer
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferMockedTests.cs
Labels: Storage

#47521 [Storage] [DataMovement] Fix Pause and Resume on Cleaning up unfinished transfers during a Pause
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#47538 Add test for exception type
  eng/packages/http-client-csharp/.gitattributes
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Common/Helpers.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/Abstractions/AzureClientResponseProviderTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/Abstractions/TestData/AzureClientResponseProviderTests/ValidateClientResponseExceptionTypeIsOverridden.cs
Labels: Client, CodeGen

#47539 [Storage][DataMovement] Fix progress reports appearing out of order
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/CommitChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferProgress.cs
  sdk/storage/Azure.Storage.DataMovement/src/DownloadChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferProgressTracker.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CommitChunkHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/DownloadChunkHandlerTests.cs
Labels: Storage

#47543 [DocumentIntelligence] Fixing typo in samples
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AddOnCapabilities.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleSnippets.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithAddOnCapabilities.cs
Labels: Client, Cognitive - Form Recognizer

#47541 [DocumentIntelligence] Regenerating to the spec in main
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/AnalyzeBatchDocumentsOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/AnalyzeDocumentOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/Docs/DocumentIntelligenceClient.xml
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/ClientExtensions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Generated/Samples/Samples_DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tsp-location.yaml
Labels: Client, Cognitive - Form Recognizer

#47554 [Azure.AI.Projects] Prepare 1.0.0-beta.2 release
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/README.md
Labels: AI Model Inference

#47556 [DocumentIntelligence] Added tests for the batch API
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentAssert.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentBatchLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceLiveTestBase.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/DocumentIntelligenceTestEnvironment.cs
  sdk/documentintelligence/test-resources.json
Labels: Client, Cognitive - Form Recognizer

#47558 Increment version for ai releases
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
Labels: AI Model Inference

#47540 updated SDK to align with service
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClientOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallInvite.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateGroupCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationTestBase.cs
  sdk/communication/Azure.Communication.JobRouter/samples/Sample3_SimpleDistributionAsync.md
Labels: Communication

#47527 [Network] Fix for issue #46767
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Customization/Models/AzureFirewallIPGroups.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/AzureFirewallIPGroups.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/tests/Azure.ResourceManager.Network.Tests.csproj
  sdk/network/Azure.ResourceManager.Network/tests/TestData/ServiceTags.json
  sdk/network/Azure.ResourceManager.Network/tests/Tests/UnitTest.cs
Labels: Mgmt

#47559 [DocumentIntelligence] Added missing OperationWithId tests
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentBatchLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/OperationWithIdLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#47440 Added ModeCopyMode and OwnerCopyMode to Copy File
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ModeCopyMode.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/OwnerCopyMode.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCopyOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#47577 [Storage][DataMovement][Testing] Pause/Resume with Disaster Recovery
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferMockedTests.cs
Labels: Storage

#47582 Fix class name
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agent_Openapi_Functions.cs
Labels: AI Model Inference

#47585 [DocumentIntelligence] 1.0.0: finishing docs and samples updates
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AddOnCapabilities.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AnalyzeWithPrebuiltModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_BuildCustomModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_BuildDocumentClassifier.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ClassifyDocument.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_CopyCustomModel.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayout.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayoutAsMarkdown.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_GetAndListOperations.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ManageModels.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ModelCompose.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceClientOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceClientOptions.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/GeneratorStubs/PublicTypes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithPrebuiltModelFromBytes.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithPrebuiltModelFromUri.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutFromUriAsync.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_GetAndListOperationsAsync.cs
Labels: Client, Docs, Cognitive - Form Recognizer

#47587 Increment version for documentintelligence releases
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Azure.AI.DocumentIntelligence.csproj
Labels: Cognitive - Form Recognizer

#47583 Rename sample file
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agent_OpenAPI.cs
Labels: AI Model Inference

#47465 Convert properties of type Uri to type string in DataProtectionBackup
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/api/Azure.ResourceManager.DataProtectionBackup.net8.0.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/api/Azure.ResourceManager.DataProtectionBackup.netstandard2.0.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Customized/Models/DataProtectionIdentityDetails.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionIdentityDetails.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionIdentityDetails.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/autorest.md
Labels: Mgmt

#47560 Renaming the playsource info to playsource in holdoptions
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/HoldOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
Labels: Communication

#47595 updating change log
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
Labels: Communication

#47592 [Storage] Fixed unable to create directory with only whiteSpaceChars
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TestExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareUriBuilder.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#47528 [http-client-csharp] bump MGC version and implement the credential types
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Azure.Generator.csproj
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpPipelineProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/StatusCodeClassifierProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Common/Helpers.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/Abstractions/AzureClientResponseProviderTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/ClientProviderTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,False,False,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,False,True,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,True,False,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,True,True,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithDefault,True,True,1).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,False,False,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,False,True,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,True,False,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,True,True,0).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/ClientProviderTests/TestBuildConstructors_PrimaryConstructor(WithRequired,True,True,1).cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/TestHelpers/MockHelpers.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/Basic-TypeSpec.tsp
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#47601 Update AutoRest C# version to 3.0.0-beta.20241217.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#47602 update version of MGC to adopt new typespec version 0.63.0
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Common/InputFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/ClientProviderTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#47534 Add samples for opt-out management and update readme
  sdk/communication/Azure.Communication.Sms/README.md
  sdk/communication/Azure.Communication.Sms/assets.json
  sdk/communication/Azure.Communication.Sms/samples/README.md
  sdk/communication/Azure.Communication.Sms/samples/Sample2_OptOutsApi.md
  sdk/communication/Azure.Communication.Sms/samples/Sample2_OptOutsApiAsync.md
  sdk/communication/Azure.Communication.Sms/tests/Azure.Communication.Sms.Tests.csproj
  sdk/communication/Azure.Communication.Sms/tests/samples/Sample2_OptOutsApi.cs
Labels: Communication - SMS

#47613 Increment version for playwrighttesting releases
  sdk/playwrighttesting/Azure.ResourceManager.PlaywrightTesting/CHANGELOG.md
  sdk/playwrighttesting/Azure.ResourceManager.PlaywrightTesting/src/Azure.ResourceManager.PlaywrightTesting.csproj
Labels: Mgmt

#47570 Azure Redis .Net SDK update for new api v2024-11-01
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/api/Azure.ResourceManager.Redis.net8.0.cs
  sdk/redis/Azure.ResourceManager.Redis/api/Azure.ResourceManager.Redis.netstandard2.0.cs
  sdk/redis/Azure.ResourceManager.Redis/assets.json
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyAssignmentCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyAssignmentResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCacheAccessPolicyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisFirewallRuleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisFirewallRuleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisLinkedServerWithPropertyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisLinkedServerWithPropertyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPatchScheduleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPatchScheduleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPrivateEndpointConnectionCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisPrivateEndpointConnectionResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_RedisResource.cs
  sdk/redis/Azure.ResourceManager.Redis/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Azure.ResourceManager.Redis.csproj
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/ArmRedisModelFactory.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Extensions/MockableRedisResourceGroupResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Extensions/MockableRedisSubscriptionResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Extensions/RedisExtensions.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCreateOrUpdateContent.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisCreateOrUpdateContent.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisPatch.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/RedisPatch.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/Models/ZonalAllocationPolicy.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyAssignmentCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyAssignmentResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCacheAccessPolicyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisData.Serialization.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisData.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisFirewallRuleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisFirewallRuleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisLinkedServerWithPropertyCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisLinkedServerWithPropertyResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPatchScheduleCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPatchScheduleResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPrivateEndpointConnectionCollection.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisPrivateEndpointConnectionResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RedisResource.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/AccessPolicyAssignmentRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/AccessPolicyRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/AsyncOperationStatusRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/FirewallRulesRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/LinkedServerRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/PatchSchedulesRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/RestOperations/RedisRestOperations.cs
  sdk/redis/Azure.ResourceManager.Redis/src/autorest.md
  sdk/redis/Azure.ResourceManager.Redis/tests/ScenarioTests/FirewallFunctionalTests.cs
  sdk/redis/Azure.ResourceManager.Redis/tests/ScenarioTests/ZonalAllocationPolicyFunctionalTests.cs
Labels: Mgmt

#47608 fix(playwrighttesting): handled limitation of character in parameters.
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightReporter.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/DataProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/ReporterUtils.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Utility/ReporterUtilsTests.cs
Labels: Microsoft Playwright Testing

#47599 Update computeschedule tests and version
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/CHANGELOG.md
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/api/Azure.ResourceManager.ComputeSchedule.net8.0.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/api/Azure.ResourceManager.ComputeSchedule.netstandard2.0.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/assets.json
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/ArmComputeScheduleModelFactory.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Extensions/ComputeScheduleExtensions.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Extensions/MockableComputeScheduleSubscriptionResource.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Models/OperationErrorDetails.Serialization.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Models/OperationErrorDetails.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Models/ResourceOperationDetails.Serialization.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Models/ResourceOperationDetails.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Models/ScheduledActionOperationState.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Models/UserRequestSchedule.Serialization.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/Models/UserRequestSchedule.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Generated/RestOperations/ScheduledActionsRestOperations.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/tests/Azure.ResourceManager.ComputeSchedule.Tests.csproj
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/tests/ComputeScheduleManagementTestBase.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/tests/Helpers/ResourceUtils.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/tests/Scenario/ComputescheduleOperationsTests.cs
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/tsp-location.yaml
Labels: Mgmt

#47625 Increment version for redis releases
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/src/Azure.ResourceManager.Redis.csproj
Labels: Mgmt

#47605 Add serialization/deserialization hooks for azure types
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Primitives/KnownAzureTypes.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/AzureTypeFactoryTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Foos.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Foos.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecClient.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ExtendedLocation.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Foo.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/FooProperties.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ManagedServiceIdentity.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ManagedServiceIdentityType.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Operation.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Resource.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Resource.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/TrackedResource.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/UserAssignedIdentity.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Operations.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Operations.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinks.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinks.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
  eng/scripts/typespec/Generate-Code.ps1
Labels: Client, CodeGen

#47628 Remove operations_list operation
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ActionType.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Operation.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Operation.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/OperationDisplay.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/OperationDisplay.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/OperationListResult.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/OperationListResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Origin.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Operations.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Operations.cs
Labels: Client, CodeGen

#47641 [DesktopVirtualization] Fix for issue #45976
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/CHANGELOG.md
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/Generated/SessionHostData.Serialization.cs
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/autorest.md
Labels: Mgmt

#47643 [Azure.ResourceManager.DevTestLabs] Relase version 1.1.1
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/CHANGELOG.md
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/src/Azure.ResourceManager.DevTestLabs.csproj
Labels: Mgmt

#47653 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#47664 Increment version for devtestlabs releases
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/CHANGELOG.md
  sdk/devtestlabs/Azure.ResourceManager.DevTestLabs/src/Azure.ResourceManager.DevTestLabs.csproj
Labels: Mgmt

#47666 Increment version for elastic releases
  sdk/elastic/Azure.ResourceManager.Elastic/CHANGELOG.md
  sdk/elastic/Azure.ResourceManager.Elastic/src/Azure.ResourceManager.Elastic.csproj
Labels: Elastic

#47681 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: Mgmt

#47650 Update dotnetcli domain
  eng/containers/UbuntuNetCoreKeyring/Dockerfile
Labels: customer-reported, Community Contribution
