Repository Azure/azure-sdk-for-net, pull requests merged in 2024-01, with the labels that each got.

#40786 Test Pipeline Policy for capturing HTTP messages
  sdk/storage/Azure.Storage.Common/tests/Shared/CaptureMessageContentsPolicy.cs
Labels: Storage

#40819 ClientModel: Add tests for ClientModel types
  sdk/core/System.ClientModel/tests/Pipeline/MessageDelayTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/RequestRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/System.ClientModel.Tests.csproj
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRetryPolicy.cs
  sdk/core/System.ClientModel/tests/TestFramework/PollyRetryPolicy.cs
Labels: Azure.Core

#40912 [Storage] [DataMovement] [Tests] Add output from events when transfers hang
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/Azure.Storage.DataMovement.Blobs.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TestEventsRaised.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TestTransferWithTimeout.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#40971 Clean up description for Azure.ResourceManager.Sphere
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/ArmSphereModelFactory.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CatalogListResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CertificateListResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ClaimSphereDevicesContent.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CountDeviceResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CountElementsResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/DeploymentListResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/DeviceGroupListResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/DeviceListResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/GenerateCapabilityImageContent.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ImageListResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ListSphereDeviceGroupsContent.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/PagedDeviceInsight.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ProductListResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ProofOfPossessionNonceContent.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ProofOfPossessionNonceResponse.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/RegionalDataBoundary.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SignedCapabilityImageResponse.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereAllowCrashDumpCollectionStatus.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereCapabilityType.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereCatalogPatch.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereCertificateChainResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereCertificateProperties.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereCertificateStatus.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereDeviceGroupPatch.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereDeviceInsight.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereDevicePatch.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereImageType.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereOSFeedType.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereProductPatch.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereProvisioningState.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereUpdatePolicy.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCatalogData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCertificateData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeploymentData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeviceData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeviceGroupData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereImageData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereProductData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/autorest.md
Labels: Mgmt

#40886 Remove customization for Conversations
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Authoring/ConversationAuthoringClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/ConversationAnalysisClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/ConversationAnalysisClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/ConversationAuthoringClient.cs
Labels: Cognitive - Language

#40982 [Search] Fix broken link
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search

#40957 ClientModel: Add tests for ClientModel types
  sdk/core/System.ClientModel/tests/Message/PipelineMessageTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineFunctionalTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/HttpClientPipelineTransportTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/PipelineTransportFunctionalTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockHttpClientHandler.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
Labels: Azure.Core

#40985 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#40994 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#40963 Azure OpenAI: update tests/readme for parallel gpt-4-vision-preview finish{details,reason}
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/tests/AudioTranscriptionTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatCompletionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatWithVisionTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/CompletionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/EmbeddingsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/OpenAITestBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/ChatWithVision.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/ImageGeneration.cs
Labels: OpenAI

#41012 Update Azure Identity AAD links
  common/Perf/Azure.Test.Perf/EventPerfTest.cs
  common/Perf/Azure.Test.Perf/PerfTestBase.cs
  sdk/identity/Azure.Identity.Broker/README.md
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/src/AppServiceManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/Validations.cs
Labels: Azure.Identity

#40987 Azure OpenAI: fix type assignment bug in ChatCompletionsFunctionToolCall constructor
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsFunctionToolCall.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatToolsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/ChatTools.cs
Labels: OpenAI

#41014 [AppConfiguration] Remove live testing on China cloud
  sdk/appconfiguration/tests.yml
Labels: Client, App Configuration

#41017 Clean up markdown-lint issues for Key Vault
  sdk/keyvault/Azure.ResourceManager.KeyVault/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md
Labels: KeyVault

#40986 [Event Hubs] Load balancing refactor
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.Infrastructure.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.cs
Labels: Event Hubs, Client

#40992 Sync eng/common directory with azure-sdk-tools for PR 7468
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#41041 [Event Hubs] Logging improvements
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConsumer.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
Labels: Event Hubs, Client

#41078 [Messaging] Disable Mooncake for weekly test runs
  sdk/eventhub/tests.data.yml
  sdk/eventhub/tests.functions.yml
  sdk/eventhub/tests.yml
  sdk/servicebus/tests.data.yml
  sdk/servicebus/tests.functions.yml
  sdk/servicebus/tests.yml
Labels: Service Bus, Event Hubs, Client, test-sovereign-cloud

#41082 Update readme to clarify behavior when closing ServiceBusClient.
  sdk/servicebus/Azure.Messaging.ServiceBus/README.md
Labels: Service Bus

#41016 Add Convenience Types to System.ClientModel library
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/README.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ApiKeyCredential.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResult.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultException.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultOfT.cs
  sdk/core/System.ClientModel/src/Convenience/OptionalClientResultOfT.cs
  sdk/core/System.ClientModel/src/Internal/Argument.cs
  sdk/core/System.ClientModel/src/Internal/StreamExtensions.cs
  sdk/core/System.ClientModel/src/Message/MessageHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
  sdk/core/System.ClientModel/tests/Convenience/ClientRequestExceptionTests.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientResultTests.cs
  sdk/core/System.ClientModel/tests/Message/PipelineResponseTests.cs
  sdk/core/System.ClientModel/tests/System.ClientModel.Tests.csproj
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockClientResult.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockClientResultOfT.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockErrorResult.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockOptionalClientResultOfT.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPersistableModel.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/internal/Internal/ArgumentTests.cs
Labels: Azure.Core

#39972 [Compute] Fix for issue 38912
  .github/CODEOWNERS
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/assets.json
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_GalleryCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/ArmComputeModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/CommunityGalleryInfo.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/ArmComputeModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CommunityGalleryInfo.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CommunityGalleryInfo.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/GalleryOperationsTests.cs
Labels: customer-reported, Community Contribution

#40603 [DocumentIntelligence] Add SDK samples for add-on capabilities
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AddOnCapabilities.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_AnalyzeWithAddOnCapabilities.cs
Labels: Cognitive - Form Recognizer

#41077 [AppConfig] Auth Policy Fix
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/AuthenticationPolicy.cs
Labels: Client, App Configuration

#41084 Batch version delete
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/api/Azure.Storage.Blobs.Batch.net6.0.cs
  sdk/storage/Azure.Storage.Blobs.Batch/api/Azure.Storage.Blobs.Batch.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.Batch/assets.json
  sdk/storage/Azure.Storage.Blobs.Batch/src/BlobBatch.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/Models/DeleteBlobOptions.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/autorest.md
  sdk/storage/Azure.Storage.Blobs.Batch/tests/Azure.Storage.Blobs.Batch.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.Batch/tests/BlobBatchClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientExtensions.cs
Labels: Storage

#41111 Sync eng/common directory with azure-sdk-tools for PR 7459
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#41114 [DocumentIntelligence] Added markdown sample
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/README.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_ExtractLayoutAsMarkdown.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/Sample_ExtractLayoutAsMarkdownAsync.cs
Labels: Client, Cognitive - Form Recognizer

#41112 Sync eng/common directory with azure-sdk-tools for PR 7498
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#41116 [ACS][CallAutomation]add SourceCallerIdNumber to AnswerCallOptions
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#41015 Preview implementation for proof of possession token support
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/Azure.Core.Experimental/src/ISupportsProofOfPossession.cs
  sdk/core/Azure.Core.Experimental/src/PopTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core.Experimental/src/PopTokenRequestContext.cs
  sdk/core/Azure.Core/src/Shared/AuthorizationChallengeParser.cs
  sdk/core/Azure.Core/tests/AuthorizationChallengeParserTests.cs
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net462.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net6.0.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.netstandard2.0.cs
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/tests/Azure.Identity.Broker.Tests.csproj
  sdk/identity/Azure.Identity.Broker/tests/ManualInteractiveBrowserCredentialBrokerTests.cs
  sdk/identity/Azure.Identity.Broker/tests/PopClientOptions.cs
  sdk/identity/Azure.Identity.Broker/tests/PopTestClient.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/CredentialDiagnosticScope.cs
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredentialOptions.cs
  sdk/identity/Azure.Identity/src/IMsalPublicClientInitializerOptions.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalPublicClient.cs
Labels: Azure.Identity

#41144 Prepare for release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#41154 STG 93-96 service versions
  sdk/storage/Azure.Storage.Blobs.Batch/assets.json
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/assets.json
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
Labels: Storage

#41106 Add getEntities operation for Azure.ResourceManager
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/Generated/Samples/Sample_ManagementGroupCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/Generated/Samples/Sample_TenantCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/ResourceManagerModelFactory.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/ManagementGroupCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/ManagementGroupResource.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityData.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityListResult.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityListResult.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityPermission.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityPermission.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntitySearchOption.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityViewOption.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/ManagementGroupCollectionGetEntitiesOptions.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/ResourceManagerModelFactory.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/RestOperations/EntitiesRestOperations.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/RestOperations/ManagementGroupsRestOperations.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ResourceNameValidationContent.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ResourceNameValidationContent.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ResourceNameValidationResult.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ResourceNameValidationResult.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ResourceNameValidationStatus.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ResourceGroupResource.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ResourceManagerModelFactory.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/RestOperations/ResourceGroupsRestOperations.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/RestOperations/ResourceManagementRestOperations.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/RestOperations/ResourcesRestOperations.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/TenantCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/src/autorest.md
  sdk/resourcemanager/Azure.ResourceManager/tests/ModelReaderWriterImplementationValidation.Exceptions.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/ManagementGroupCollectionTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/TenantCollectionTests.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/GenericResourceDataTests.cs
Labels: Mgmt

#40944 [.NET] Granular Token feature GA Post-release | Dependent SDK Recording updates
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationClientAutomatedLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationClientLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DialogOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DialogOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/DifferingConcurrentDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/IdenticalDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/IdenticalDialogsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/StopNonexistingDialogTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/StopNonexistingDialogTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/SubsequentDialogsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallDialogAutomatedLiveTests/SubsequentDialogsTestAsync.json
  sdk/communication/Azure.Communication.Chat/assets.json
  sdk/communication/Azure.Communication.Chat/tests/Infrastructure/ChatLiveTestBase.cs
  sdk/communication/Azure.Communication.NetworkTraversal/assets.json
  sdk/communication/Azure.Communication.NetworkTraversal/tests/Infrastructure/CommunicationRelayClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Rooms/assets.json
  sdk/communication/Azure.Communication.Rooms/tests/Infrastructure/RoomsClientLiveTestBase.cs
Labels: Communication, Communication - Chat, Communication - Network Traversal, Communication - Rooms

#41156 [Event Hubs] Update system property types
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpSystemProperties.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpSystemPropertiesTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client, Functions

#41152 [Azure OpenAI] Remove the setter of the `Functions` property of `ChatCompletionsOptions`
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/ChatCompletions/ChatCompletionsOptions.cs
Labels: OpenAI

#41110 [Event Hubs] Add timeout for starting background processes in the buffered Producer
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
Labels: Event Hubs

#41155 Sync eng/common directory with azure-sdk-tools for PR 7445
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#41194 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#41195 Prepare for release
  eng/Packages.Data.props
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#40792 [Storage] [WebJobs] Do not pass cancelled token to ExecuteAsync when draining
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/SharedBlobQueueListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/StorageLoadBalancerQueue.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Triggers/BlobTriggerAttributeBindingProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Triggers/BlobTriggerBinding.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueListener.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Config/QueuesExtensionConfigProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Listeners/QueueListenerFactory.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Triggers/QueueTriggerAttributeBindingProvider.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Triggers/QueueTriggerBinding.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueListenerTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueTriggerBindingIntegrationTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/AzureStorageEndToEndTests.cs
Labels: Storage

#40682 Make Reason required for attribute CallerShouldAuditAttribute
  sdk/core/Azure.Core/src/Shared/CallerShouldAuditAttribute.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultSettingsClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/storage/Azure.Storage.Blobs/src/ApiCompatBaseline.txt
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
  sdk/storage/Azure.Storage.Common/src/ApiCompatBaseline.txt
  sdk/storage/Azure.Storage.Common/src/Sas/AccountSasBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/ApiCompatBaseline.txt
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasBuilder.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ApiCompatBaseline.txt
  sdk/storage/Azure.Storage.Files.Shares/src/Sas/ShareSasBuilder.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/ApiCompatBaseline.txt
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/Sas/QueueSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/ApiCompatBaseline.txt
  sdk/tables/Azure.Data.Tables/src/Sas/TableAccountSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/src/TableServiceClient.cs
Labels: Storage, Azure.Core, Tables

#41210 Update AutoRest C# version to 3.0.0-beta.20240111.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Generated/UnknownDistributionMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/UnknownExceptionAction.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/UnknownExceptionTrigger.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/UnknownJobMatchingMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/UnknownQueueSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/UnknownRouterRule.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/UnknownWorkerSelectorAttachment.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/UnknownOperationDetails.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/EventDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/EventDocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/ExceptionDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/ExceptionDocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/KeyValuePairString.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RemoteDependencyDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RemoteDependencyDocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RequestDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RequestDocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/TraceDocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/TraceDocumentIngress.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/UnknownChatCompletionsToolCall.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/UnknownChatFinishDetails.cs
Labels: Cognitive - Form Recognizer, Communication, OpenAI, Monitor - LiveMetrics

#41196 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
Labels: Azure.Core

#41085 Add Pipeline Types to System.ClientModel library
  sdk/core/Azure.Core/src/Internal/ArrayBackedPropertyBag.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Internal/ArrayBackedPropertyBag.cs
  sdk/core/System.ClientModel/src/Message/BinaryContent.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessageHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/NetStandardPolyfill/NullableAttributes.cs
  sdk/core/System.ClientModel/src/NetStandardPolyfill/TrimmingAttribute.cs
  sdk/core/System.ClientModel/src/Options/ClientPipelineOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelinePolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelinePosition.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/tests/Message/BinaryContentTests.cs
  sdk/core/System.ClientModel/tests/Message/PipelineMessageTests.cs
  sdk/core/System.ClientModel/tests/Options/ClientPipelineOptionsTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/PipelinePolicyTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPersistableJsonModel.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPersistableModel.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelinePolicy.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineRequest.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservablePolicy.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/SyncAsyncTestBase.cs
  sdk/core/System.ClientModel/tests/internal/Internal/ArgumentTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/ArrayBackedPropertyBagTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/StreamExtensions/BufferSegment.cs
  sdk/core/System.ClientModel/tests/internal/Internal/StreamExtensions/NativeMemoryManager.cs
  sdk/core/System.ClientModel/tests/internal/Internal/StreamExtensionsTests.cs
  sdk/core/System.ClientModel/tests/internal/System.ClientModel.Tests.Internal.csproj
Labels: Azure.Core

#41238 Image Analysis SDK: Fix README typos and add aka.ms links
  sdk/vision/Azure.AI.Vision.ImageAnalysis/README.md
Labels: Image Analysis

#41226 [Event Hubs] Non-TLS Fix
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
Labels: Event Hubs, Client

#41231 Handle null return value from AMQP library receive method
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
Labels: Service Bus

#41240 Cleanup readme and samples. Add sample for Read feature.
  sdk/vision/Azure.AI.Vision.ImageAnalysis/README.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/README.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample01_HellowWorld.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample02_DenseCaptions.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample03_Tags.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample04_Objects.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample05_SmartCrops.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample06_People.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample07_Read.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample01_HelloWorld.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample02_DenseCaptions.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample03_Tags.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample04_Objects.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample05_SmartCrops.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample06_People.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample07_Read.cs
Labels: Image Analysis

#41248 Sync eng/common directory with azure-sdk-tools for PR 7451
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#41256 Sync eng/common directory with azure-sdk-tools for PR 7528
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#41254 Update AutoRest C# version to 3.0.0-beta.20240114.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Generated/Configuration.json
  sdk/communication/Azure.Communication.JobRouter/src/Generated/tspCodeModel.json
  sdk/communication/Azure.Communication.JobRouter/tsp-location.yaml
Labels: Communication

#41299 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#41302 [Event Hubs] Samples links
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventHubConsumerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventHubConnectionOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiver.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PartitionReceiverOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PluggableCheckpointStoreEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClientOptions.cs
Labels: Event Hubs, Client

#41304 [Search] Refactor Samples, Include Tests, and Prepare for `11.6.0-beta.1` Release
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingSemanticHybridQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizableTextQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch_UsingVectorizedQuery.md
  sdk/search/Azure.Search.Documents/samples/Sample08_SemanticSearch.md
  sdk/search/Azure.Search.Documents/tests/Samples/Readme.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearchCommons.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearch_SemanticHybridSearch.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearch_UsingVectorizedQuery.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample08_SemanticSearch.cs
Labels: Search

#41308 Sync eng/common directory with azure-sdk-tools for PR 7536
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#41303 ClientModel Prototype: Make ResponseStatusClassifier internal
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/StatusCodeClassifier.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Internal/BitVector640.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Options/PipelineMessageClassifier.cs
  sdk/core/System.ClientModel/src/Options/ResponseStatusClassifier.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.RequestOptionsProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.ClientModel/tests/Options/PipelineMessageClassifierTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineMessage.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/core/System.ClientModel/tests/internal/Internal/BitVectorTests.cs
  sdk/core/System.ClientModel/tests/internal/Pipeline/CustomPipelineProcessorTests.cs
Labels: Azure.Core

#41201 Sync eng/common directory with azure-sdk-tools for PR 7512
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#41322 Revert the manual change of ApiCompatVersion.
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/src/Azure.ResourceManager.SecurityCenter.csproj
Labels: Mgmt

#41319 Readme and Samples update for ImangeAnalysis
  sdk/vision/Azure.AI.Vision.ImageAnalysis/README.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/assets.json
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/README.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample01_HellowWorld.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample02_DenseCaptions.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample03_Tags.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample04_Objects.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample05_SmartCrops.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample06_People.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample07_Read.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample08_AllFeatures.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/ImageAnalysisTestEnvironment.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/ReadMe.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample01_HelloWorld.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample02_DenseCaptions.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample03_Tags.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample04_Objects.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample05_SmartCrops.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample06_People.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample07_Read.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/Sample08_AllFeatures.cs
Labels: Image Analysis

#41361 Update custom ref docs with text from latest TypeSpec
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Custom/ImageAnalysisClient.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Custom/ImageAnalysisOptions.cs
Labels: Image Analysis

#41364 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#41367 Sync eng/common directory with azure-sdk-tools for PR 7537
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/scripts/resolve-asset-conflict/README.md
  eng/common/testproxy/scripts/resolve-asset-conflict/resolve-asset-conflict.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#41300 [LiveMetricsExporter] refactor rest client
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Customizations/QuickPulseSDKClientAPIsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/QuickPulseResponse.cs
Labels: Monitor - LiveMetrics

#41239 ClientModel: Add RequestOptions and related types to System.ClientModel
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Internal/BitVector640.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Options/ClientErrorBehaviors.cs
  sdk/core/System.ClientModel/src/Options/PipelineMessageClassifier.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Options/ResponseStatusClassifier.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.RequestOptionsProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/tests/Message/PipelineMessageTests.cs
  sdk/core/System.ClientModel/tests/Options/PipelineMessageClassifierTests.cs
  sdk/core/System.ClientModel/tests/Options/RequestOptionsTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageClassifier.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineMessage.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/TerminalPolicy.cs
  sdk/core/System.ClientModel/tests/internal/Internal/BitVectorTests.cs
  sdk/core/System.ClientModel/tests/internal/Pipeline/CustomPipelineProcessorTests.cs
  sdk/storage/Azure.Storage.Common/tests/ExpectContinueTests.cs
Labels: Azure.Core

#41375 [LiveMetricsrExporter] fix for ambiguous reference
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Event.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Event.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Exception.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Exception.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/MonitoringDataPoint.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RemoteDependency.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RemoteDependency.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Request.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Request.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Trace.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Trace.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - LiveMetrics

#41366 AzureCliCredential utilizes expires_on for token expiration
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
Labels: Azure.Identity

#41353 Diagnostic Scope: AddTag function should be NoOp for Sampled out activity
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsActivitySourceTests.cs
Labels: Azure.Core

#41395 [AzureMonitorDistro] remove vendored inststrumentation libraries AspNetCore and Http
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentation.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreMetrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreMetricsInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/GrpcTagHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/Implementation/AspNetCoreInstrumentationEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInMetricsListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpTagHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/Implementation/TelemetryHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/MeterProviderBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/StatusCanonicalCode.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.AspNetCore/TracerProviderBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentation.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/HttpClientMetricInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/HttpClientMetrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/HttpRequestMessageContextPropagation.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/Implementation/HttpInstrumentationEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/Implementation/HttpTagHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/Implementation/TelemetryHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/MeterProviderBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.Http/TracerProviderBuilderExtensions.cs
Labels: Monitor - Distro

#41371 Sync eng/common directory with azure-sdk-tools for PR 7543
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#41306 IMDS 403 response error matching fix
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#41325 ClientModel: Add retry and auth policies to System.ClientModel
  sdk/core/System.ClientModel/README.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Internal/CancellationHelper.cs
  sdk/core/System.ClientModel/src/Internal/ServicePointHelpers.cs
  sdk/core/System.ClientModel/src/Pipeline/ApiKeyAuthenticationPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/ResponseBufferingPolicy.cs
  sdk/core/System.ClientModel/tests/Options/ClientPipelineOptionsTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ApiKeyAuthenticationPolicyTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineFunctionalTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/System.ClientModel.Tests.csproj
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRetryPolicy.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/PollyRetryPolicy.cs
Labels: Azure.Core

#41397 Add using snippets
  sdk/vision/Azure.AI.Vision.ImageAnalysis/README.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample01_HellowWorld.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample02_DenseCaptions.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample03_Tags.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample04_Objects.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample05_SmartCrops.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample06_People.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample07_Read.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/samples/Sample08_AllFeatures.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tests/Samples/ReadMe.cs
Labels: Image Analysis

#41401 ClientModel Prototype: Split PipelineMessageHeaders into two types
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/Response.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/ArrayBackedRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/HttpClientResponseHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessageHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponseHeaders.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineRequest.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRequestHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockResponseHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/client/MapsClientTests.cs
  sdk/core/System.ClientModel/tests/internal/Message/PipelineRequestHeadersTests.cs
  sdk/core/System.ClientModel/tests/internal/Message/PipelineResponseHeadersTests.cs
Labels: Azure.Core

#41403 Sync eng/common directory with azure-sdk-tools for PR 7548
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#41404 ClientModel: Split PipelineMessageHeaders into two types
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/ArrayBackedRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/HttpClientResponseHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessageHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponseHeaders.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Response.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineRequest.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRequestHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockResponseHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/internal/Message/PipelineRequestHeadersTests.cs
  sdk/core/System.ClientModel/tests/internal/Message/PipelineResponseHeadersTests.cs
Labels: Azure.Core

#41399 [AzureMonitorExporter] add missing section to changelog
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#41426 Sync eng/common directory with azure-sdk-tools for PR 7270
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#41360 [Event Hubs] Update checkpointing behavior to prioritize sequence number
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Primitives/BlobCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/InMemoryCheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpFilter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Consumer/EventPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/CheckpointStore.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/PluggableCheckpointStoreEventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpFilterTests.cs
Labels: Event Hubs

#41398 [AzureMonitorExporter][AzureMonitorDistro] update otel packages to 1.7.0
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Demo/Azure.Monitor.OpenTelemetry.AspNetCore.Demo.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.AotCompatibilityTestApp/Azure.Monitor.OpenTelemetry.Exporter.AotCompatibilityTestApp.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Demo/Azure.Monitor.OpenTelemetry.Exporter.Demo.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/Azure.Monitor.OpenTelemetry.Exporter.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests.csproj
Labels: Monitor - Exporter, Monitor - Distro

#41431 [Azure.Monitor] bump versions for release
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter, Monitor - Distro

#41425 ClientModel: Reshuffle some whitespace and files for consistency across ClientModel
  .editorconfig
  sdk/core/System.ClientModel/src/.editorconfig
  sdk/core/System.ClientModel/src/ModelReaderWriter/IJsonModel.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/IPersistableModel.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/JsonModelConverter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriterOptions.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelWriter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelWriterOfT.SequenceBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelWriterOfT.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/PersistableModelProxyAttribute.cs
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
  sdk/core/System.ClientModel/tests/client/ClientShared/ModelReaderWriterExtensions.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/ModelReaderWriterHelper.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/OptionalDictionary.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/OptionalList.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/OptionalProperty.cs
  sdk/core/System.ClientModel/tests/client/ClientShared/TypeFormatters.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Internal/ModelReaderWriterExtensions.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Internal/ModelReaderWriterHelper.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Internal/OptionalDictionary.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Internal/OptionalList.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Internal/OptionalProperty.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/BaseModel.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelX.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/ModelY.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/DiscriminatorSet/UnknownBaseModel.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ModelAsStruct.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ModelWithPersistableOnly.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ApiProfile.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/AvailabilitySetData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ComputeSku.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/InstanceViewStatus.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderExtendedLocation.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderExtendedLocation.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderResourceType.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ProviderResourceType.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceProviderData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAlias.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAlias.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPath.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPath.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPathMetadata.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ResourceTypeAliasPattern.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/SystemData.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/TrackedResourceData.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/WritableSubResource.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ZoneMapping.Serialization.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/ServiceModels/ZoneMapping.cs
Labels: Azure.Core

#41429 [AzureMonitorDistro] update readme
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
Labels: Monitor - Distro

#41435 Sync eng/common directory with azure-sdk-tools for PR 7556
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#41424 ClientModel: Add SetHeader method to RequestOptions
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/tests/Message/PipelineMessageTests.cs
  sdk/core/System.ClientModel/tests/Options/RequestOptionsTests.cs
Labels: Azure.Core

#40311 [STG93] NFS Snapshot - revert
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageSharedKeyPipelinePolicy.cs
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyPipelinePolicyTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareGetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareSetPropertiesOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#41468 Revert "[STG93] NFS Snapshot - revert"
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageSharedKeyPipelinePolicy.cs
  sdk/storage/Azure.Storage.Common/tests/StorageSharedKeyPipelinePolicyTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareGetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareSetPropertiesOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#40310 [STG93] Made List Handles Client Name Public
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileHandle.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#40352 [STG93] Adding Rename Support to List Ranges API
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareErrorCode.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileGetRangeListDiffOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#41192 [STG93] Added ACL response headers
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeModelFactory.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileDownloadDetails.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/PathProperties.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: Storage

#41457 Increment version for vision releases
  sdk/vision/Azure.AI.Vision.ImageAnalysis/CHANGELOG.md
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Azure.AI.Vision.ImageAnalysis.csproj
Labels: Image Analysis

#39607 WAM silent SSO using the signed in windows account
  eng/Packages.Data.props
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net462.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net6.0.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.netstandard2.0.cs
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/tests/InteractiveBrowserCredentialBrokerOptionsTests.cs
  sdk/identity/Azure.Identity.Broker/tests/ManualInteractiveBrowserCredentialBrokerTests.cs
  sdk/identity/Azure.Identity.Broker/tests/ManualSharedTokenCacheCredentialBrokerTests.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/IMsalPublicClientInitializerOptions.cs
  sdk/identity/Azure.Identity/tests/InteractiveBrowserCredentialTests.cs
Labels: Azure.Identity

#41455 ClientModel: Shared HttpClient in PipelineTransport, and a couple more updates
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/BinaryContent.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriter.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
Labels: Azure.Core

#41471 ClientModel: Rework pipeline Create methods per APIView feedback
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/tests/Pipeline/ApiKeyAuthenticationPolicyTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
Labels: Azure.Core

#41462 ClientModel: Update Azure.Core to use Task for Wait
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.AzurePolicy.cs
Labels: Azure.Core

#41470 Updated ACS Rooms Pipeline to use PPE environment and resource
  sdk/communication/Azure.Communication.Rooms/tests.yml
Labels: Communication - Rooms

#41225 [Storage] [DataMovement] Remove unnecessary members of `StorageResourceProperties` and `StorageResourceReadStreamResult`
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/src/Shared/ContentRange.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StorageResourceEtagManagementTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/assets.json
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceItemInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceProperties.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItemProperties.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceReadStreamResult.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/AppendBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/BlobStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/BlockBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CleanUpTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalFileStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PageBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceItem.cs
Labels: Storage

#41494 Update Azure.ClientSdk.Analyzers to 0.1.1-dev.20240123.3
  eng/Packages.Data.props
Labels: EngSys

#40914 Fix #40174: Azure.Extensions.AspNetCore.DataProtection.Keys Heavy load causes blocked threads
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/AzureKeyVaultConfigurationProvider.cs
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/ParallelSecretLoader.cs
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/tests/AzureKeyVaultConfigurationTests.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/AzureBlobXmlRepository.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/tests/AzureBlobXmlRepositoryTests.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/AzureKeyVaultXmlDecryptor.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/AzureKeyVaultXmlEncryptor.cs
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/tests/AzureKeyVaultXmlEncryptorTests.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/AzureClientFactoryBuilder.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientOptionsFactory.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientRegistration.cs
Labels: KeyVault, Extensions

#41496 Handle type coercion for TableEntity string properties
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TableEntity.cs
  sdk/tables/Azure.Data.Tables/tests/TableEntityTests.cs
Labels: Tables

#41537 [AzureMonitorExporter] Update release date in changelog
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Exporter

#41464 Remove unnecessary suppressions of AZC0001
  sdk/iot/Azure.IoT.Hub.Service/src/GlobalSuppressions.cs
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/GlobalSuppressions.cs
  sdk/modelsrepository/Azure.IoT.ModelsRepository/src/GlobalSuppressions.cs
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/purview/Azure.Analytics.Purview.Scanning/src/Azure.Analytics.Purview.Scanning.csproj
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/GlobalSuppressions.cs
Labels: Search, IoT, TimeseriesInsights, Load Test Service, OpenAI

#41546 Sync eng/common directory with azure-sdk-tools for PR 7580
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: EngSys, Central-EngSys

#41549 [AzureMonitorDistro] prep release 1.1.0
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#41541 Adding duration field to TranscriptionData object.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Media/AudioData.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/StreamingDataParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Transcription/TranscriptionData.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Transcription/TranscriptionDataInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/Transcription/WordData.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Streaming/StreamingDataParserTests.cs
Labels: Communication

#41490 Sync eng/common directory with azure-sdk-tools for PR 7569
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#41547 [AzureMonitorLiveMetrics] Add Sean as codeowner for Azure Monitor LiveMetrics.
  .github/CODEOWNERS
Labels: Monitor - LiveMetrics

#41500 Update to latest TypeSpec
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Custom/ImageAnalysisClient.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Generated/ImageAnalysisClient.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tsp-location.yaml
Labels: Image Analysis

#41534 ClientModel: Make ClientPipelineOptions freezable and make freeze APIs on RequestOptions explicit
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Options/ClientPipelineOptions.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/tests/Options/ClientPipelineOptionsTests.cs
  sdk/core/System.ClientModel/tests/Options/RequestOptionsTests.cs
Labels: Azure.Core

#40092 Event Hubs Processor - Add Sample Using the EventProcessorClient with an ASP.NET hosted service
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/AspNetHostedService.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/Directory.Build.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/Directory.Build.targets
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/Azure.Messaging.EventHubs.Processor.Samples.HostedService.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/EventProcessorClientService.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/ISampleApplicationProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/SampleApplicationProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/SampleProgram.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/appsettings.Development.json
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/appsettings.json
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/tests/Azure.Messaging.EventHubs.Processor.Samples.HostedService.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/tests/HostedServiceTests.cs
Labels: Event Hubs, customer-reported, Community Contribution

#41428 Azure.Core 2.0: Make Azure.Core ClientOptions freezable
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
  sdk/core/Azure.Core/src/RequestContext.cs
  sdk/core/Azure.Core/src/RetryOptions.cs
Labels: Azure.Core

#41552 ClientModel: Remove OptionalClientResult<T> in favor of using nullable annotations
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResult.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultOfT.cs
  sdk/core/System.ClientModel/src/Convenience/OptionalClientResultOfT.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientResultTests.cs
  sdk/core/System.ClientModel/tests/Message/BinaryContentTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockClientResultOfT.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockErrorResult.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockJsonModel.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockOptionalClientResultOfT.cs
Labels: Azure.Core

#41533 [Event Hubs] Processor improvements
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample02_EventProcessorConfiguration.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClientOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.Designer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Resources.resx
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessorOptions.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.MainProcessingLoop.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.StartStop.cs
Labels: Event Hubs, Client

#41577 Adding interruptCallMediaOperation to PlayToAll operation.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PlayOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/PlayOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/PlayToAllOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
Labels: Communication

#41582 Sync eng/common directory with azure-sdk-tools for PR 7584
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#41497 Update docs for how AZURE_CLIENT_ID configures DefaultAzureCredential
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity, Docs

#41560 Update sequence buffer writer / reader
  sdk/core/System.ClientModel/src/Message/BinaryContent.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelWriterOfT.SequenceBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelWriterOfT.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/UnsafeBufferSegment.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/UnsafeBufferSequence.Reader.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/UnsafeBufferSequence.cs
  sdk/core/System.ClientModel/tests/internal.perf/ModelReaderWriter/JsonModelBenchmark.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/ModelWriterTests.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/UnsafeBufferSequenceHelper.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/UnsafeBufferSequenceReaderTests.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/UnsafeBufferSequenceTests.cs
Labels: Azure.Core

#41592 disable mrw for jobrouter temporarily
  sdk/communication/Azure.Communication.JobRouter/tsp-location.yaml
Labels: Communication

#41559 Enable the new model serialization for spring app discovery
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/CHANGELOG.md
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/api/Azure.ResourceManager.SpringAppDiscovery.netstandard2.0.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/ArmSpringAppDiscoveryModelFactory.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/ErrorSummaryList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/ErrorSummaryList.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppApplicationConfigurationsItem.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppApplicationConfigurationsItem.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppInstancesItem.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppInstancesItem.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppList.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppMiscsItem.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppMiscsItem.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppPatch.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppPatch.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootAppProperties.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerList.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerPatch.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerPatch.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootServerProperties.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteError.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteError.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteErrorSummariesProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteErrorSummariesProperties.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteErrorSummaryData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteErrorSummaryModel.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteErrorSummaryModel.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteList.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteModelExtendedLocation.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteModelExtendedLocation.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSitePatch.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSitePatch.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteProperties.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteSummariesProperties.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteSummariesProperties.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SpringBootSiteSummaryData.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SummaryList.Serialization.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/Models/SummaryList.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootAppData.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootServerData.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootSiteData.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootSiteErrorSummaryData.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/Generated/SpringBootSiteSummaryData.cs
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/src/autorest.md
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/tests/Azure.ResourceManager.SpringAppDiscovery.Tests.csproj
  sdk/springappdiscovery/Azure.ResourceManager.SpringAppDiscovery/tests/Tests/SiteCRUDTests.cs
Labels: Spring App Discovery

#41540 Support user credential in TestEnvironment
  eng/scripts/New-TestResources-Bootstrapper.ps1
  sdk/appconfiguration/test-resources.json
  sdk/communication/Azure.Communication.Email/test-resources.json
  sdk/communication/test-resources/test-resources.json
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/eventgrid/test-resources.json
  sdk/eventhub/test-resources.json
  sdk/hardwaresecuritymodules/test-resources.json
  sdk/schemaregistry/test-resources.json
  sdk/search/test-resources.json
  sdk/securityinsights/test-resources.json
  sdk/servicebus/test-resources.json
  sdk/textanalytics/test-resources.json
  sdk/translation/test-resources.json
Labels: Azure.Core

#41593 Batch 2023-11-01
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/Tools/CodeGenerationLibrary/CodeGenerationUtilities.cs
  sdk/batch/Microsoft.Azure.Batch/Tools/CodeGenerationLibrary/PropertyData.cs
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/ModifiableClassTemplate.cs
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/CloudPool.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/DiskEncryptionConfiguration.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/ImageReference.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/ManagedDisk.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/OSDisk.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/PoolSpecification.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/SecurityProfile.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/ServiceArtifactReference.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/UefiSettings.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/VirtualMachineConfiguration.json
  sdk/batch/Microsoft.Azure.Batch/Tools/ObjectModelCodeGenerator/Spec/VirtualMachineInfo.json
  sdk/batch/Microsoft.Azure.Batch/src/CloudJob.cs
  sdk/batch/Microsoft.Azure.Batch/src/Common/Enumerations/SecurityTypes.cs
  sdk/batch/Microsoft.Azure.Batch/src/Common/Enumerations/StorageAccountType.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/CloudPool.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/DiskEncryptionConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/ImageReference.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/ManagedDisk.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/OSDisk.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/PoolSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/SecurityProfile.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/ServiceArtifactReference.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/UefiSettings.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/VirtualMachineConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch/src/Generated/VirtualMachineInfo.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/BatchServiceClient.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/CloudPool.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/DataDisk.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/DiskEncryptionConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/ImageReference.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobAddParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobConstraints.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobScheduleAddParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobScheduleUpdateParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/JobUpdateParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/ManagedDisk.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/OSDisk.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolAddParameter.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/PoolSpecification.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/SecurityProfile.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/SecurityTypes.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/ServiceArtifactReference.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/StorageAccountType.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/UefiSettings.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/VirtualMachineConfiguration.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/Models/VirtualMachineInfo.cs
  sdk/batch/Microsoft.Azure.Batch/src/GeneratedProtocol/SdkInfo_BatchServiceClient.cs
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/CloudPoolIntegrationTests.cs
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/Fixtures/IaasLinuxPoolFixture.cs
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/IntegrationTestUtilities/TestUtilities.cs
  sdk/batch/Microsoft.Azure.Batch/tests/IntegrationTests/Microsoft.Azure.Batch.Integration.Tests.csproj
  sdk/batch/Microsoft.Azure.Batch/tests/TestCommon/TestCommon.cs
  sdk/batch/Microsoft.Azure.Batch/tests/UnitTests/TestUtilities/ObjectFactory.cs
Labels: Batch

#41589 [AzureMonitorExporter] fix csproj, update changelog
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#41043 Upgrade Azure.Identity Component Governance
  sdk/keyvault/samples/getcert/getcert.csproj
  sdk/keyvault/samples/keyvaultproxy/Directory.Build.targets
  sdk/keyvault/samples/sharelink/ShareLink.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Demo/Azure.Monitor.OpenTelemetry.Exporter.Demo.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/DeadLetterQueue/DeadLetterQueue.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/samples/TopicFilters/TopicFilters.csproj
Labels: EngSys, Azure.Core

#41586 ClientModel: Add retry classification to MessageClassifier
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Options/PipelineMessageClassifier.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Options/ResponseStatusClassifier.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/tests/Options/PipelineMessageClassifierTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockMessageClassifier.cs
Labels: Azure.Core

#41595 ClientModel and Core: Make MesageClassifier composable
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ResponseClassifier.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultOfT.cs
Labels: Azure.Core

#41621 ClientModel: Move setting message properties from PipelineOptions into CreateMessage
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
Labels: Azure.Core

#41626 Increment version for batch releases
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
Labels: Batch

#41619 Use the admin client in test infrastructure
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
Labels: Service Bus

#41633 Fix test infrastructure to allow running in arbitrary clouds
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Infrastructure/ServiceBusTestEnvironment.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Service Bus

#41642 Fixing Transcription Parser tests
  sdk/communication/Azure.Communication.CallAutomation/tests/Streaming/StreamingDataParserTests.cs
Labels: Communication

#41645 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#41536 Fix error handing bug in TablesRequestFailedDetailsParser
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/TablesRequestFailedDetailsParser.cs
Labels: Tables

#41648 [ResourceManager.AppContainers] Remove info
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/Helpers/ResourceDataHelpers.cs
Labels: Container Instances, Mgmt

#41649 [Event Hubs] Sample and Doc updates
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/AspNetHostedService.sln
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/Directory.Build.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/Directory.Build.targets
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/src/Azure.Messaging.EventHubs.Processor.Samples.HostedService.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/src/EventProcessorClientService.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/src/ISampleApplicationProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/src/SampleApplicationProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/src/SampleProgram.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/src/appsettings.Development.json
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/src/appsettings.json
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/tests/Azure.Messaging.EventHubs.Processor.Samples.HostedService.Tests.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnet-hosted-service/tests/HostedServiceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/Directory.Build.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/Directory.Build.targets
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/aspnethostedservice/src/SampleProgram.cs
  sdk/eventhub/Azure.Messaging.EventHubs/README.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
Labels: Event Hubs, Client

#40083 Number lookup ga
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorDetails.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorDetails.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformation.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationOptions.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationRequest.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationRequest.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationResult.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationResult.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorNumberType.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/PhoneNumbersModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/GlobalSuppressions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/communication/Azure.Communication.Sms/CHANGELOG.md
Labels: Communication - Phone Numbers

#41646 ClientModel: API Updates from architect feedback
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRetryPolicy.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockSyncAsyncExtensions.cs
Labels: Azure.Core

#41644 ClientModel prototype: validate API changes
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.AzurePolicy.cs
  sdk/core/Azure.Core/tests/common/TestClients/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/OpenAIClient/OpenAIClient.cs
  sdk/core/System.ClientModel/tests/nullableenabledclient/MapsClient/MapsClient.cs
Labels: Azure.Core

#41658 Failed Update AutoRest C# version to 3.0.0-beta.20240129.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/devcenter/Azure.Developer.DevCenter/src/Generated/DeploymentEnvironmentsClient.cs
  sdk/devcenter/Azure.Developer.DevCenter/src/Generated/DevBoxesClient.cs
Labels: DevCenter

#41553 Mark log exporter class public
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net6.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
Labels: Monitor - Exporter

#41652 Fixing Incorrect 'abstract' Keyword in KnowledgeStoreProjectionSelector and KnowledgeStoreStorageProjectionSelector types
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/KnowledgeStoreProjectionSelector.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/KnowledgeStoreProjectionSelector.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/KnowledgeStoreStorageProjectionSelector.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Generated/Models/KnowledgeStoreStorageProjectionSelector.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/KnowledgeStoreProjectionSelector.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/KnowledgeStoreProjectionSelector.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/KnowledgeStoreStorageProjectionSelector.Serialization.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/KnowledgeStoreStorageProjectionSelector.cs
Labels: Search

#41666 [Search] Exposing HttpPipeline Publicly for All Search Clients
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexClient.cs
  sdk/search/Azure.Search.Documents/src/Indexes/SearchIndexerClient.cs
  sdk/search/Azure.Search.Documents/src/SearchClient.cs
Labels: Search

#41668 Fixed bug where BlockBlobClient.Upload() and .UploadAsync() would thr…
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
Labels: Storage

#41013 [DocumentIntelligence] Updated migration guide with GetWords workaround
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/samples/SampleSnippets.cs
Labels: Client, Cognitive - Form Recognizer

#41667 Corrected BlobContainerClient.FindBlobsByTag() docs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
Labels: Storage

#41659 Remove originalResponseHasLocation for LRO
  sdk/core/Azure.Core/src/Shared/NextLinkOperationImplementation.cs
Labels: Mgmt

#41594 Introduce ProfilingSessionEventSource/ProfilingSessionTraceProcessor
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/Profiling/ProfilingSessionEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/Profiling/ProfilingSessionTraceProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/ProfilingSessionTests.cs
Labels: customer-reported, Community Contribution, Monitor - Distro

#41673 STG 93 Arch Board comments
  sdk/storage/Azure.Storage.Blobs.Batch/api/Azure.Storage.Blobs.Batch.net6.0.cs
  sdk/storage/Azure.Storage.Blobs.Batch/api/Azure.Storage.Blobs.Batch.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/BlobBatch.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/Models/BatchDeleteBlobOptions.cs
  sdk/storage/Azure.Storage.Blobs.Batch/tests/BlobBatchClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/FileDownloadDetails.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileGetRangeListDiffOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#41675 Sync eng/common directory with azure-sdk-tools for PR 7585
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#41686 Clarified File MaxSize docs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileOpenWriteOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#41236 [LiveMetricsExporter] replace Task.Run with a dedicated Thread
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.State.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - LiveMetrics

#41627 [Storage] [DataMovement] Fix Download Directory Tests
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceReadStreamResult.cs
Labels: Storage
