Repository Azure/azure-sdk-for-net, pull requests merged in 2024-11, with the labels that each got.

#46939 sdk(cosmosdb): update release date in CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
Labels: Mgmt

#46937 Refactor CloudMachineClient and related types into new package
  .github/CODEOWNERS
  sdk/cloudmachine/Azure.CloudMachine.sln
  sdk/cloudmachine/Azure.CloudMachine/CHANGELOG.md
  sdk/cloudmachine/Azure.CloudMachine/Directory.Build.props
  sdk/cloudmachine/Azure.CloudMachine/Directory.Build.targets
  sdk/cloudmachine/Azure.CloudMachine/README.md
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/samples/README.md
  sdk/cloudmachine/Azure.CloudMachine/src/Azure.CloudMachine.csproj
  sdk/cloudmachine/Azure.CloudMachine/src/ClientCache.cs
  sdk/cloudmachine/Azure.CloudMachine/src/ClientWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineClient.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/MessagingServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageFile.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/KeyVaultExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/properties/AssemblyInfo.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/Azure.CloudMachine.Tests.csproj
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests.cs
  sdk/cloudmachine/ci.yml
  sdk/cloudmachine/tests.yml
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/CloudMachineWorkspace.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning

#46947 Prepare Microsoft.Extensions.Azure for release
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#46948 Increment version for cosmosdb releases
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/CHANGELOG.md
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Azure.ResourceManager.CosmosDB.csproj
Labels: Mgmt

#46949 [Storage] Move all Storage live tests to westus2
  sdk/storage/tests.datamovement.yml
  sdk/storage/tests.functions.yml
  sdk/storage/tests.mgmt.yml
Labels: Storage

#46950 fixed some bugs
  sdk/provisioning/Azure.Provisioning.CloudMachine/Azure.CloudMachine.sln
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning

#46951 merge bug fix
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineClient.cs
Labels: Cloud Machine

#46895 Enable-WriteCore-for-Azure.AI.Translation.Document
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/src/DocumentTranslateContent.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentFilter.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentStatusResult.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslateContent.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationFileFormat.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationInput.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/StartTranslationDetails.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/StatusSummary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/SupportedFileFormats.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationGlossary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationSource.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusResult.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationTarget.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/tsp-location.yaml
Labels: Cognitive - Translator

#46942 add socketio support when generating client access uri
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/api/Azure.Messaging.WebPubSub.netstandard2.0.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubClientProtocol.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_helpers.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubGenerateUriTests.cs
Labels: WebPubSub

#46956 Refactor OpenAI helpers
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/Azure.CloudMachine.csproj
  sdk/cloudmachine/Azure.CloudMachine/src/ClientCache.cs
  sdk/cloudmachine/Azure.CloudMachine/src/ClientWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineClient.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/MessagingServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageFile.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/ChatTools.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/EmbeddingsVectorbase.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/KeyVaultExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/MemoryVectorbaseStore.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/VectorbaseStore.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/EmbeddingKnowledgebase.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/OFX/OpenAIConversation.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning, Cloud Machine

#46963 Increment version for hardwaresecuritymodules releases
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/CHANGELOG.md
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/src/Azure.ResourceManager.HardwareSecurityModules.csproj
Labels: Hardware Security Modules

#46957 fixed bugs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/MessagingServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageServices.cs
Labels: Cloud Machine

#46970 [CODEOWNERS] Remove invalid account
  .github/CODEOWNERS
Labels: Client, EngSys

#46971 Sync eng/common directory with azure-sdk-tools for PR 9308
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#46954 Sync eng/common directory with azure-sdk-tools for PR 9277
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#46973 [Storage][DataMovement] Record remaining tests previously not recorded
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/StartTransferCopyFromShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/StartTransferCopyToShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.sln
Labels: Storage

#46911 Azure OpenAI: 2.1.0-beta.2
  eng/Packages.Data.props
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/Directory.Build.props
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIClientOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatExtensions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/OnYourData/ChatCitation.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/OnYourData/ChatRetrievedDocument.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Common/AdditionalPropertyHelpers.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Common/ContentFilterTextSpanResult.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Common/GeneratorStubs.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/RealtimeConversation/AzureRealtimeConversationClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/RealtimeConversation/AzureRealtimeConversationSession.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/RealtimeConversation/AzureRealtimeConversationSession.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCitation.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCitation.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatRetrievedDocument.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatRetrievedDocument.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ContentFilterTextSpan.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ContentFilterTextSpan.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ContentFilterTextSpanResult.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ContentFilterTextSpanResult.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ResponseContentFilterResult.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ResponseContentFilterResult.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.Vision.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ConversationSmokeTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ConversationTestFixtureBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/ConversationTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FineTuningTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/VectorStoreTests.cs
  sdk/openai/tools/TestFramework/tests/MockStringServiceTests.cs
Labels: OpenAI

#46974 added support for basic async APIs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Tsp/TypeSpecWriter.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/TdkTests.cs
Labels: Provisioning

#46976 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#46967 chore(playwrighttesting): 1.0.0-beta.2 release changes
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
Labels: Microsoft Playwright Testing

#46983 chore(playwrighttesting): NUnit 1.0.0-beta.2 release changes
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
Labels: Microsoft Playwright Testing

#46981 Increment version for playwrighttesting releases
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.csproj
Labels: Microsoft Playwright Testing

#46984 Increment version for playwrighttesting releases
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.csproj
Labels: Microsoft Playwright Testing

#46989 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#46968 [Storage] [DataMovement] Added exception handling during internal transfer
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
Labels: Storage

#46991 Sync eng/common directory with azure-sdk-tools for PR 9330
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#46972 [Azure.AI.Projects] Add support for Inference
  eng/Packages.Data.props
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/ConnectionsClient.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionsClient.cs
  sdk/ai/Azure.AI.Projects/tests/AIProjectsTestEnvironment.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agent_Basics.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agent_Functions.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agent_Streaming.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Samples_Agent_FileSearch.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_ChatCompletions.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_Embeddings.cs
Labels: AI Model Inference

#46997 updates for demo
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/Azure.CloudMachine.csproj
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/MessagingServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageFile.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/ChatTools.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/EmbeddingsVectorbase.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/MemoryVectorbaseStore.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/VectorbaseStore.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests.cs
Labels: Cloud Machine

#46993 [Storage][DataMovement] Add perf pipeline definition + fixes
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf-resources.bicep
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf-tests.yml
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf.yml
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Infrastructure/DirectoryTransferTest.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/CopyDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/DownloadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/UploadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
Labels: Storage

#47005 fix default chunk size
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/EmbeddingsVectorbase.cs
Labels: Cloud Machine

#47004 Annotate Azure.Messaging.ServiceBus for trim/AOT compat
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Compatibility/ServiceBusClientBuilderExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
  sdk/servicebus/ci.yml
Labels: Service Bus, customer-reported, Community Contribution

#47007 Added some OpenAI helper APIs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/ChatTools.cs
Labels: Cloud Machine

#47003 [Storage] [DataMovement] Minor code cleanup in internal transfer
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
Labels: Storage

#47011 Revert "Enable-WriteCore-for-Azure.AI.Translation.Document"
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/src/DocumentTranslateContent.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentFilter.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentStatusResult.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslateContent.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationFileFormat.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationInput.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/StartTranslationDetails.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/StatusSummary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/SupportedFileFormats.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationGlossary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationSource.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusResult.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationTarget.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/tsp-location.yaml
Labels: Cognitive - Translator

#46835 Update rest client and serialization generation for Azure plugin
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpMessageProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpPipelineProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpRequestProvider.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/ClientPipelineExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/Friend.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ProjectedModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ReturnsAnonymousModelResponse.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/RoundTripModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/Thing.Serialization.cs
  eng/scripts/typespec/Generate-Code.ps1
Labels: CodeGen

#46987 Update api-version in `Azure.ResourceManager.HealthDataAIServices` to `2024-09-20`
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/CHANGELOG.md
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/README.md
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Azure.ResourceManager.HealthDataAIServices.csproj
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/DeidServiceCollection.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/DeidServiceResource.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/Extensions/HealthDataAIServicesExtensions.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/Extensions/MockableHealthDataAIServicesResourceGroupResource.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/Extensions/MockableHealthDataAIServicesSubscriptionResource.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/HealthDataAIServicesPrivateEndpointConnectionResource.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/HealthDataAIServicesPrivateEndpointConnectionResourceCollection.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/RestOperations/DeidServicesRestOperations.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/RestOperations/PrivateLinksRestOperations.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/tsp-location.yaml
Labels: Mgmt

#46995 Update managed identity object ID exception message
  sdk/extensions/Microsoft.Extensions.Azure/src/Internal/ClientFactory.cs
Labels: Extensions

#47006 [Storage] [DataMovement] Updating Known Issues with Resume Client Options limitations
  sdk/storage/Azure.Storage.DataMovement/KnownIssues.md
Labels: Storage

#46910 Addressing SDK archboard review comments for GA
  sdk/translation/Azure.AI.Translation.Document/README.md
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/samples/Sample5_SynchronousTranslation.md
  sdk/translation/Azure.AI.Translation.Document/src/DocumentTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Document/src/DocumentTranslationModelFactory.cs
  sdk/translation/Azure.AI.Translation.Document/src/DocumentTranslationOperation.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationFileFormat.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationFileFormat.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationModelFactory.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/SingleDocumentTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationBatch.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationBatch.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationGlossary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationGlossary.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationSource.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationSource.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusResult.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusResult.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusSummary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusSummary.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStorageSource.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationTarget.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationTarget.cs
  sdk/translation/Azure.AI.Translation.Document/src/TranslationGlossary.cs
  sdk/translation/Azure.AI.Translation.Document/src/TranslationSource.cs
  sdk/translation/Azure.AI.Translation.Document/src/TranslationStatusResult.cs
  sdk/translation/Azure.AI.Translation.Document/src/TranslationTarget.cs
  sdk/translation/Azure.AI.Translation.Document/tests/ContainerDocumentTranslationClientTests.cs
  sdk/translation/Azure.AI.Translation.Document/tests/DocumentTranslationMockTests.cs
  sdk/translation/Azure.AI.Translation.Document/tests/SingleDocumentTranslationClientLiveTests.cs
  sdk/translation/Azure.AI.Translation.Document/tests/samples/Sample_StartSingleDocumentTranslation.cs
  sdk/translation/Azure.AI.Translation.Document/tsp-location.yaml
Labels: Cognitive - Translator

#47021 Added CM ASP.NET extensions and CM metapackage
  sdk/cloudmachine/Azure.CloudMachine.All/CHANGELOG.md
  sdk/cloudmachine/Azure.CloudMachine.All/README.md
  sdk/cloudmachine/Azure.CloudMachine.All/api/Azure.CloudMachine.All.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.All/src/Azure.CloudMachine.All.csproj
  sdk/cloudmachine/Azure.CloudMachine.Web/CHANGELOG.md
  sdk/cloudmachine/Azure.CloudMachine.Web/README.md
  sdk/cloudmachine/Azure.CloudMachine.Web/api/Azure.CloudMachine.Web.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.Web/src/Azure.CloudMachine.Web.csproj
  sdk/cloudmachine/Azure.CloudMachine.Web/src/CloudMachineExtensions.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/Azure.CloudMachine.sln
Labels: Provisioning, Cloud Machine

#47020 [Storage] [DataMovement] Removed unnecessary synchronization primitives
  sdk/storage/Azure.Storage.DataMovement/src/CommitChunkHandler.cs
  sdk/storage/Azure.Storage.DataMovement/src/DownloadChunkHandler.cs
Labels: Storage

#47008 Sync eng/common directory with azure-sdk-tools for PR 9333
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#47018 Sync eng/common directory with azure-sdk-tools for PR 9331
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#47010 [Storage] [DataMovement] Using Entra ID with Share File will set the ShareFileIntent for FromDirectory and FromFile
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
Labels: Storage

#46953 [Storage] [DataMovement] [Blobs] Update to Stress Metrics
  sdk/storage/Azure.Storage.Common/src/stress/Shared/Metrics.cs
  sdk/storage/Azure.Storage.Common/src/stress/Shared/TestScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/generatedValues.yaml
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Azure.Storage.DataMovement.Blobs.Stress.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Configurations/BlockBlobConfiguration.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Infrastructure/BlobTestSetupHelper.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/BlobScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyAppendBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyAppendBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlockBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlockBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyPageBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyPageBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadAppendBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadAppendBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlockBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlockBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadPageBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadPageBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadAppendBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadAppendBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlockBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlockBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadPageBlobDirectoryScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadPageBlobSingleScenario.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/src/DataMovementBlobStressConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/src/Program.cs
  sdk/storage/Azure.Storage.DataMovement/stress/DataMovementScenarioBase.cs
Labels: Storage

#47026 Sync eng/common directory with azure-sdk-tools for PR 9354
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Labels: EngSys, Central-EngSys

#47025 Added CloudMachine README Walkthrough
  sdk/cloudmachine/README.MD
Labels: Cloud Machine

#47014 feat(playwrighttesting): Adding stacktrace into error list
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/DataProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Processor/DataProcessorTests.cs
Labels: Microsoft Playwright Testing

#47027 simplified namespaces
  sdk/cloudmachine/Azure.CloudMachine.Web/api/Azure.CloudMachine.Web.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.Web/src/CloudMachineExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/ChatTools.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/AIModel.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Tsp/TypeSpecWriter.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning, Cloud Machine

#47032 Update AutoRest C# version to 3.0.0-beta.20241108.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tsp-location.yaml
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
  sdk/contentsafety/Azure.AI.ContentSafety/src/Generated/Docs/BlocklistClient.xml
  sdk/contentsafety/Azure.AI.ContentSafety/tests/Generated/Samples/Samples_BlocklistClient.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/samples/Generated/Samples/Sample_DeidServiceCollection.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/samples/Generated/Samples/Sample_DeidServiceResource.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/samples/Generated/Samples/Sample_HealthDataAIServicesPrivateEndpointConnectionResource.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/samples/Generated/Samples/Sample_HealthDataAIServicesPrivateEndpointConnectionResourceCollection.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/Docs/CancerProfilingClient.xml
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/tests/Generated/Samples/Samples_CancerProfilingClient.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/Docs/ClinicalMatchingClient.xml
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/tests/Generated/Samples/Samples_ClinicalMatchingClient.cs
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/src/Generated/Docs/RadiologyInsightsClient.xml
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/tests/Generated/Samples/Samples_RadiologyInsightsClient.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Discovery.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Discovery.cs
Labels: Mgmt, Communication, Cognitive - Language, Cognitive - Health Insights, Cognitive - Content Safety

#47033 [Storage] [DataMovement] Updating docs for FromClient() in Blob and File Storage Resource Providers with Resume Client Options limitations
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobsStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
Labels: Storage

#47034 Removed CloudMachine from Azure.Core.Experimental
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/CloudMachine.cs
  sdk/core/Azure.Core.Experimental/tests/CloudMachineTests.cs
Labels: Azure.Core

#46936 Test checkpointer on queue fail
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#47038 [Storage] [DataMovement] Update Remove to TryRemove for ConcurrentDictionary in TransferManager
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
Labels: Storage

#47037 Fix DefaultAzureCredentialOptions.TenantId setter validation logic
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialOptionsTests.cs
Labels: Azure.Identity

#47041 README.MD bug fixes
  sdk/cloudmachine/README.MD
Labels: Cloud Machine

#47042 Suppress AZC0030 warning in Azure.Health.Deidentification.csproj
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Azure.Health.Deidentification.csproj
Labels: Health Deidentification

#47024 Prepare Geolocation for the release
  sdk/maps/Azure.Maps.Geolocation/CHANGELOG.md
Labels: Maps

#47030 DataFactory DotNet Sdk Release
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/api/Azure.ResourceManager.DataFactory.netstandard2.0.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AzurePostgreSqlLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AzurePostgreSqlLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/MySqlLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/MySqlLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/autorest.md
Labels: Mgmt

#47052 Update AutoRest C# version to 3.0.0-beta.20241110.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: Mgmt

#47053 Enable write core for Azure.Messaging.EventGrid.Namespaces
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/api/Azure.Messaging.EventGrid.Namespaces.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/AcknowledgeRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/AcknowledgeResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/BrokerProperties.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/CloudEventInternal.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/FailedLockToken.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/PublishResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReceiveDetails.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReceiveResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RejectRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RejectResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReleaseRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/ReleaseResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RenewLocksRequest.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/RenewLocksResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tsp-location.yaml
Labels: Event Grid

#47055 Enable-WriteCore-for-Azure.AI.Translation.Document-2
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/src/DocumentTranslateContent.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentFilter.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentStatusResult.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslateContent.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationFileFormat.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationInput.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/SupportedFileFormats.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationBatch.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationGlossary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationSource.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusResult.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationStatusSummary.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/TranslationTarget.Serialization.cs
  sdk/translation/Azure.AI.Translation.Document/tsp-location.yaml
Labels: Cognitive - Translator

#46960 [AppService] Add status code 202 and allow some properties to be empty
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Customization/Models/AppCertificateData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/AppCertificateCollection.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/LongRunningOperation/AppCertificateOperationSource.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/RestOperations/CertificatesRestOperations.cs
  sdk/websites/Azure.ResourceManager.AppService/src/autorest.md
  sdk/websites/Azure.ResourceManager.AppService/tests/TestsCase/CertificatesCollectionTests.cs
Labels: Mgmt

#47056 fix(playwrighttesting): await upload buffer method
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Implementation/BlobService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Interface/IBlobService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/TestProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Implementation/BlobServiceTests.cs
Labels: Microsoft Playwright Testing

#47050 fix(playwrighttesting): no auth error when scalable scenario is disabled
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/PlaywrightServiceNUnit.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceTests.cs
Labels: Microsoft Playwright Testing

#47040 Fix ArgumentOutOfRangeException when token has default ExpiresOn value
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/BearerTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core/tests/BearerTokenAuthenticationPolicyTests.cs
Labels: Azure.Core

#47061 Increment version for maps releases
  sdk/maps/Azure.Maps.Geolocation/CHANGELOG.md
  sdk/maps/Azure.Maps.Geolocation/src/Azure.Maps.Geolocation.csproj
Labels: Maps

#47054 Increment version for datafactory releases
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
Labels: Mgmt

#47051 Sync eng/common directory with azure-sdk-tools for PR 9358
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#47068 [Storage] [DataMovement ] Rerecord Directory Copy Blob from/to Files tests
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
Labels: Storage

#47067 [CODEOWNERS] Remove invalid owner
  .github/CODEOWNERS
Labels: Client, EngSys

#47009 [Service Bus] Changelog updates
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus, Client

#47066 chore(playwrighttesting): populate NumberOfTestWorkers from runsettings and refactor PlaywrightReporter
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/api/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Implementation/EnvironmentHandler.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Implementation/XmlRunSettings.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Interface/IEnvironment.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Interface/IXmlRunSettings.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Model/CloudRunMetadata.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightReporter.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightServiceOptions.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/DataProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/TestProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/CiInfoProvider.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Implementation/XmlRunSettingsTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightReporterTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Processor/DataProcessorTests.cs
Labels: Microsoft Playwright Testing

#47120 Update AutoRest C# version to 3.0.0-beta.20241112.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/Configuration.json
Labels: Communication

#47126 STG 96 GA release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#47075 Increment version for websites releases
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Azure.ResourceManager.AppService.csproj
Labels: Mgmt

#47043 [Storage][DataMovement] Adjust local file buffer size
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
Labels: Storage

#47128 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#47129 [Storage][DataMovement] Updated perf test readme, remove perf from base sln
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf-tests.yml
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/README.md
  sdk/storage/Azure.Storage.sln
Labels: Storage

#46975 Sync eng/common directory with azure-sdk-tools for PR 9328
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#47130 Preparing for GA release
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: Cognitive - Translator

#47049 Apply RequestContext for ProcessMessage
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureOutputLibrary.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpMessageProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpPipelineProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/RequestContextExtensionsDefinition.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/ClientPipelineExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/RequestContextExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/FloatExtensibleEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/FloatExtensibleEnumWithIntValue.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/IntExtensibleEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/StringExtensibleEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ThingOptionalLiteralFloat.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ThingOptionalLiteralInt.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ThingOptionalLiteralString.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ThingRequiredLiteralFloat.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ThingRequiredLiteralInt.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ThingRequiredLiteralString.cs
Labels: Client, CodeGen

#47134 update the commit id for documenttranslation
  sdk/translation/Azure.AI.Translation.Document/tsp-location.yaml
Labels: Cognitive - Translator

#47135 update the sample code in playwrighttesting
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/README.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/samples/Sample1_CustomisingServiceParameters.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/samples/Sample2_SetDefaultAuthenticationMechanism.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/tests/samples/Sample1_CustomisingServiceParameters.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/tests/samples/Sample2_SetDefaultAuthenticationMechanism.cs
  sdk/playwrighttesting/Azure.ResourceManager.PlaywrightTesting/src/autorest.md
Labels: Microsoft Playwright Testing

#47125 Checkpointer testing cont.
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/DisabledTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/ITransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPartPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/SerializerTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferItemFailedEventArgs.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPartPlanFileTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryTransferCheckpointer.cs
Labels: Storage

#47143 Failed Update AutoRest C# version to 3.0.0-beta.20241113.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tsp-location.yaml
  sdk/batch/Azure.Compute.Batch/tsp-location.yaml
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
  sdk/computefleet/Azure.ResourceManager.ComputeFleet/src/Generated/Models/ComputeFleetVmAttributes.cs
  sdk/computefleet/Azure.ResourceManager.ComputeFleet/tsp-location.yaml
  sdk/confidentialledger/Azure.Security.CodeTransparency/tsp-location.yaml
  sdk/easm/Azure.Analytics.Defender.Easm/tsp-location.yaml
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/RestOperations/FabricCapacitiesRestOperations.cs
  sdk/fabric/Azure.ResourceManager.Fabric/tsp-location.yaml
Labels: Communication

#47139 Sync eng/common directory with azure-sdk-tools for PR 9373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#47124 fix(playwrighttesting): use runsetting defaults in GetConnectOptionsAsync
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/PlaywrightServiceNUnit.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/api/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Implementation/BlobService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Implementation/ServiceClient.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightReporter.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/TestProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/CiInfoProvider.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/ReporterUtils.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Implementation/BlobServiceTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Implementation/CloudRunErrorParserTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Model/CloudRunMetadataTests.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceTests.cs
Labels: Microsoft Playwright Testing

#47127 Sync eng/common directory with azure-sdk-tools for PR 9364
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#47136 Add authentication policy
  eng/Packages.Data.props
  eng/packages/http-client-csharp/ci.yml
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Azure.Generator.csproj
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpPipelineProvider.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/BasicTypeSpec.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.cs
Labels: Client, CodeGen

#47022 Azure Web PubSub service: MapWebPubSubHub extension with custom hub name
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/api/Microsoft.Azure.WebPubSub.AspNetCore.netcoreapp3.1.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Extensions/WebPubSubEndpointRouteBuilderExtensions.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/ServiceRequestHandlerAdapter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/AddWebPubSubTests.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/Microsoft.Azure.WebPubSub.AspNetCore.Tests.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/Samples/WebPubSubSampleCreateWithAzureIdentity.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/tests/ServiceRequestHandlerTests.cs
Labels: customer-reported, Community Contribution, WebPubSub

#47062 feat(playwrighttesting): Added runName feature
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/api/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Model/CloudRunMetadata.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightReporter.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/DataProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Processor/DataProcessorTests.cs
Labels: Microsoft Playwright Testing

#47166 Add support for unbuffered response streams in Azure clients
  sdk/ai/Azure.AI.Projects/src/Custom/Agent/AgentsClient.Streaming.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Agent/AgentsClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Utility/HttpMessageExtensions.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Utility/HttpPipelineExtensions.cs
Labels: Azure.Core, AI Model Inference

#46387 bump sdk tag to 2024-06-preview
  .vscode/cspell.json
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/api/Azure.ResourceManager.ServiceFabricManagedClusters.netstandard2.0.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/assets.json
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeVersionCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeVersionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedClusterCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedNodeTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedNodeTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedServiceCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedServiceResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Azure.ResourceManager.ServiceFabricManagedClusters.csproj
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Customization/ServiceFabricManagedClusterData.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Customization/ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ArmServiceFabricManagedClustersModelFactory.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersResourceGroupResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersSubscriptionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/ServiceFabricManagedClustersExtensions.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/AutoGeneratedDomainNameLabelScope.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ServiceFabricManagedVmApplication.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/ServiceFabricManagedVmApplication.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationTypeVersionsRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationTypesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationsRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedApplyMaintenanceWindowRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedAzResiliencyStatusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedClusterVersionRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedClustersRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedMaintenanceWindowStatusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedUnsupportedVMSizesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/NodeTypeSkusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/NodeTypesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ServicesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeVersionCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeVersionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterData.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterData.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeData.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeData.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedServiceCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedServiceResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/autorest.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/test-resources.json
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Azure.ResourceManager.ServiceFabricManagedClusters.Tests.csproj
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/ManagedClusterTests.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/NodeTypeTests.cs
Labels: Mgmt

#47148 Bump Azure.ResourceManager.Maps version to 1.1.0
  sdk/maps/Azure.ResourceManager.Maps/CHANGELOG.md
  sdk/maps/Azure.ResourceManager.Maps/src/Azure.ResourceManager.Maps.csproj
Labels: Mgmt, Maps

#47181 fix(playwrighttesting): use bash for linux and osx git commands
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Utility/ReporterUtils.cs
Labels: Microsoft Playwright Testing

#47180 chore(playwrighttesting): add logging per framework and fix auth handling in vstest
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/api/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/NUnitFrameworkLogger.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/PlaywrightServiceNUnit.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/api/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.netstandard2.0.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/EntraLifecycle.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Implementation/VSTestFrameworkLogger.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Interface/IFrameworkLogger.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightReporter.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceTests.cs
Labels: Microsoft Playwright Testing

#47144 Increment version for translation releases
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
Labels: Cognitive - Translator

#47177 Increment version for servicefabricmanagedclusters releases
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Azure.ResourceManager.ServiceFabricManagedClusters.csproj
Labels: Mgmt

#47186 STG 97 changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#47188 Add Docs variables to globals.yml instead of needlessly passing them around
  eng/pipelines/docindex.yml
  eng/pipelines/templates/stages/archetype-net-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Docs

#47174 Simplified OpenAI Provisioning
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineWorkspace.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/AIModel.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIModel.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineCommands.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/FeatureCollection.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/RestCLient/RestCallFailedException.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/RestCLient/RestClient.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/RestCLient/RestClientOptions.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Core/RestCLient/TokenCredentialAuthenticationPolicy.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning, Cloud Machine

#47184 Throw on query filters with unsupported method overloads
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionNormalizer.cs
  sdk/tables/Azure.Data.Tables/src/TableClient.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample0_Auth.cs
  sdk/tables/Azure.Data.Tables/tests/samples/Sample8_CustomizingSerialization.cs
  sdk/tables/test-resources.json
Labels: Tables

#47190 Sync eng/common directory with azure-sdk-tools for PR 9389
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#47151 docs(playwrighttesting): 1.0.0-beta.3 release changes
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Processor/DataProcessor.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/Processor/DataProcessorTests.cs
Labels: Microsoft Playwright Testing

#47145 NeonPostgres .NET SDK
  .github/CODEOWNERS
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/Azure.ResourceManager.NeonPostgres.sln
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/CHANGELOG.md
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/Directory.Build.props
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/README.md
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/api/Azure.ResourceManager.NeonPostgres.netstandard2.0.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/assets.json
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/samples/Azure.ResourceManager.NeonPostgres.Samples.csproj
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Azure.ResourceManager.NeonPostgres.csproj
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/ArmNeonPostgresModelFactory.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Extensions/MockableNeonPostgresArmClient.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Extensions/MockableNeonPostgresResourceGroupResource.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Extensions/MockableNeonPostgresSubscriptionResource.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Extensions/NeonPostgresExtensions.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Internal/Argument.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Internal/ChangeTrackingDictionary.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Internal/ChangeTrackingList.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Internal/Optional.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Internal/Utf8JsonRequestContent.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/LongRunningOperation/NeonOrganizationOperationSource.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/LongRunningOperation/NeonPostgresArmOperation.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/LongRunningOperation/NeonPostgresArmOperationOfT.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/MarketplaceSubscriptionStatus.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonCompanyDetails.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonCompanyDetails.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonMarketplaceDetails.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonMarketplaceDetails.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonOfferDetails.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonOfferDetails.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonOrganizationProperties.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonOrganizationProperties.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonResourceProvisioningState.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonSingleSignOnProperties.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonSingleSignOnProperties.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonSingleSignOnState.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonUserDetails.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/NeonUserDetails.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/OrganizationResourceListResult.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/OrganizationResourceListResult.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/PartnerOrganizationProperties.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/Models/PartnerOrganizationProperties.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/NeonOrganizationCollection.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/NeonOrganizationData.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/NeonOrganizationData.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/NeonOrganizationResource.Serialization.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/NeonOrganizationResource.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/ProviderConstants.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Generated/RestOperations/OrganizationsRestOperations.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Properties/AssemblyInfo.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/tests/Azure.ResourceManager.NeonPostgres.Tests.csproj
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/tests/NeonPostgresManagementTestBase.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/tests/NeonPostgresManagementTestEnvironment.cs
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/tsp-location.yaml
  sdk/neonpostgres/ci.mgmt.yml
  sdk/resourcemanager/ci.mgmt.yml
Labels: Mgmt

#47203 Increment version for playwrighttesting releases
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.csproj
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.csproj
Labels: Microsoft Playwright Testing

#47210 Increment version for websites releases
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Azure.ResourceManager.AppService.csproj
Labels: Mgmt

#47167 Dev credentials consistently fail with `CredentialUnavailableException` in DAC
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/CredentialDiagnosticScope.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureDeveloperCliCredential.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzureDeveloperCliCredentialTests.cs
  sdk/identity/Azure.Identity/tests/AzurePowerShellCredentialsTests.cs
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCredentialTests.cs
Labels: Azure.Identity

#47209 Prepare Azure.Identity.Broker for release
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#47215 Increment version for cognitiveservices releases
  sdk/cognitiveservices/Azure.ResourceManager.CognitiveServices/CHANGELOG.md
  sdk/cognitiveservices/Azure.ResourceManager.CognitiveServices/src/Azure.ResourceManager.CognitiveServices.csproj
Labels: Mgmt

#47218 [CODEOWNERS] Fixing linter errors
  .github/CODEOWNERS
Labels: Client, EngSys

#47216 Update README.md to remove --prerelease
  sdk/openai/Azure.AI.OpenAI/README.md
Labels: OpenAI

#47219 [Azure.AI.Projects] Fix Inference endpoint construction and expose Connection types
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/ConnectionProperties.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/ConnectionPropertiesApiKeyAuth.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/ConnectionResponse.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/ConnectionsClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/CredentialsApiKeyAuth.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/GetConnectionResponse.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectsModelFactory.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionProperties.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionProperties.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionPropertiesApiKeyAuth.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionPropertiesApiKeyAuth.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionResponse.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionResponse.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CredentialsApiKeyAuth.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CredentialsApiKeyAuth.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalConnectionPropertiesAADAuth.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalConnectionPropertiesSASAuth.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ListConnectionsResponse.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ListConnectionsResponse.cs
  sdk/ai/Azure.AI.Projects/src/Generated/UnknownInternalConnectionProperties.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/UnknownInternalConnectionProperties.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agent_Bing_Grounding.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agents_Azure_AI_Search.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Connection/Sample_Connection.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/README.md
  sdk/ai/Azure.AI.Projects/tests/Samples/Readme.cs
Labels: AI Model Inference

#47221 Sync eng/common directory with azure-sdk-tools for PR 9393
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#47223 [Azure.AI.Projects] Add .NET 8 API listings
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
Labels: AI Model Inference

#47222 Sync eng/common directory with azure-sdk-tools for PR 9381
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#47232 Return correct `WebHook-Allowed-Origin` response header for CloudEvent schema subscriptions for gov cloud
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/TriggerBinding/HttpRequestProcessor.cs
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/tests/TestListener.cs
Labels: Event Grid, Functions

#47233 Revert "Bump Azure.ResourceManager.Maps version to 1.1.0"
  sdk/maps/Azure.ResourceManager.Maps/CHANGELOG.md
  sdk/maps/Azure.ResourceManager.Maps/src/Azure.ResourceManager.Maps.csproj
Labels: Mgmt

#47229 Increment version for identity releases
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#47226 Microsoft.Azure.WebJobs.Extensions.Tables ci fix
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/Microsoft.Azure.WebJobs.Extensions.Tables.Tests.csproj
Labels: Tables

#47248 Regen .NET 8 API
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.net8.0.cs
Labels: Event Grid

#47250 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#47249 Fix version as 3.4.3 never shipped
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid, Functions

#47256 Increment version for eventgrid releases
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
Labels: Event Grid, Functions

#46614 Testing for DataBoundary .NET SDKs
  sdk/resources/Azure.ResourceManager.Resources/assets.json
  sdk/resources/Azure.ResourceManager.Resources/tests/Scenario/DataBoundaryOperationsTests.cs
Labels: ARM

#47258 Increment version for ai releases
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
Labels: AI Model Inference

#47138 test(resourcemanager): mock test for cae support
  sdk/resourcemanager/Azure.ResourceManager/tests/Unit/HttpPipelineTests.cs
Labels: Mgmt

#47162 Sync eng/common directory with azure-sdk-tools for PR 9326
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
  eng/common/scripts/Update-DocsMsToc.ps1
  eng/common/scripts/Verify-Resource-Ref.ps1
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#47246 Sync eng/common directory with azure-sdk-tools for PR 9390
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#47199 bump sfmc sdk to 24-09-01-preview
  sdk/loadtestservice/Azure.ResourceManager.LoadTesting/assets.json
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/api/Azure.ResourceManager.ServiceFabricManagedClusters.net8.0.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/api/Azure.ResourceManager.ServiceFabricManagedClusters.netstandard2.0.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/assets.json
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeVersionCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedApplicationTypeVersionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedClusterCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedNodeTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedNodeTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedServiceCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_ServiceFabricManagedServiceResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Customization/ServiceFabricManagedNodeTypeResource .cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ArmServiceFabricManagedClustersModelFactory.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersArmClient.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersResourceGroupResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/MockableServiceFabricManagedClustersSubscriptionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Extensions/ServiceFabricManagedClustersExtensions.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/AutoGeneratedDomainNameLabelScope.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/Models/NodeTypeVaultCertificate.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationTypeVersionsRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationTypesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ApplicationsRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedApplyMaintenanceWindowRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedAzResiliencyStatusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedClusterVersionRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedClustersRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedMaintenanceWindowStatusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ManagedUnsupportedVMSizesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/NodeTypeSkusRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/NodeTypesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/RestOperations/ServicesRestOperations.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeVersionCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedApplicationTypeVersionResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterData.Serialization.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterData.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedNodeTypeResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedServiceCollection.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Generated/ServiceFabricManagedServiceResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/autorest.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/test-resources.json
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/ManagedClusterTests.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/NodeTypeTests.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/ServiceFabricManagedNodeTypeTests.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/ServiceFabricManagerNodeTypeUpdateTest.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/ServiceFabricManagedClustersManagementTestBase.cs
Labels: Mgmt

#47279 Increment version for healthdataaiservices releases
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/CHANGELOG.md
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Azure.ResourceManager.HealthDataAIServices.csproj
Labels: Mgmt

#47270 Sync eng/common directory with azure-sdk-tools for PR 9392
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#47287 Update ArgumentNullException description for AzurePipelinesCredential…
  sdk/identity/Azure.Identity/src/Credentials/AzurePipelinesCredential.cs
Labels: Azure.Identity

#47272 Regenerate code and add sample for additional messages
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Agent/AIClientModelFactory.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Agent/AgentsClient.Streaming.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectsModelFactory.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AgentsClient.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CreateRunRequest.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CreateRunRequest.cs
  sdk/ai/Azure.AI.Projects/src/Generated/EvaluationSchedule.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/EvaluationSchedule.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalMessageImageFileDetails.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalMessageTextDetails.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalMessageTextDetails.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalMessageTextFileCitationDetails.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalMessageTextFilePathDetails.cs
  sdk/ai/Azure.AI.Projects/src/Generated/MessageIncompleteDetails.cs
  sdk/ai/Azure.AI.Projects/src/Generated/MessageTextAnnotation.cs
  sdk/ai/Azure.AI.Projects/src/Generated/MessageTextFileCitationAnnotation.cs
  sdk/ai/Azure.AI.Projects/src/Generated/MessageTextFilePathAnnotation.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ThreadMessage.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ThreadMessage.cs
  sdk/ai/Azure.AI.Projects/src/Generated/VectorStoreDataSource.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agent/Sample_Agent_Additional_messages.cs
  sdk/ai/Azure.AI.Projects/tsp-location.yaml
Labels: AI Model Inference

#47271 Add eventhub name into load balancer logs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Diagnostics/PartitionLoadBalancerEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Processor/PartitionLoadBalancer.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Processor/PartitionLoadBalancerTests.cs
Labels: Event Hubs, customer-reported, Community Contribution

#47290 Fix test record fails of ServiceFabricManagedClusters
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/ManagedClusterTests.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/ServiceFabricManagedApplicationTests.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Scenario/ServiceFabricManagerNodeTypeUpdateTest.cs
Labels: Mgmt

#47293 Increment version for servicefabricmanagedclusters releases
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/src/Azure.ResourceManager.ServiceFabricManagedClusters.csproj
Labels: Mgmt

#47269 Implement AppServiceFeature
  eng/Packages.Data.props
  sdk/cloudmachine/Azure.CloudMachine/src/CloudMachineWorkspace.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/Azure.Provisioning.CloudMachine.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/AppServiceFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
Labels: Provisioning, Cloud Machine

#47268 [Storage] [DataMovement] [Tests] Created Core Mocked tests for Pause
  sdk/storage/Azure.Storage.DataMovement/src/DataTransferInternalState.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferMockedTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#47171 `ManagedIdentityCredential` honors CancellationTokens
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/MsalManagedIdentityClient.cs
  sdk/identity/Azure.Identity/tests/ImdsManagedIdentitySourceTests.cs
Labels: Azure.Core, Azure.Identity

#47285 Roles refactor using CDK Resolvers
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/KeyVaultFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/AzureSdkExtensions/OpenAIModel.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineCoreFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/FeatureCollection.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Data/GenerateBicep.bicep
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/TdkTests.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/appsettings.json
Labels: Provisioning

#47306 Increment version for communication releases
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication

#47305 Increment version for communication releases
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication

#47259 Remove ClientUriBuilder in generated Azure client
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Azure.Generator.csproj
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/Abstraction/HttpRequestProvider.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/BasicTypeSpec.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/ClientUriBuilder.cs
Labels: Client, CodeGen

#47278 add `additionalproperties` for some models in compute
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.net8.0.cs
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/ArmComputeModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetPatch.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/VirtualMachineScaleSetData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/ArmComputeModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPatch.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPatch.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPatchProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetPatchProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpgradePolicy.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetUpgradePolicy.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineSizeProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineSizeProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/LroRehydrationTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/VirtualMachineScaleSetOperationsTests.cs
Labels: Mgmt

#47301 Refactor CmCoreFeature into discrete features
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineCoreFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/CloudMachineInfrastructure.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/EventGridSystemTopicFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/ServiceBusNamespaceFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/ServiceBusSubscriptionFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/ServiceBusTopicFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/StorageFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/src/CDKLevel3/SystemTopicEventSubscriptionFeature.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/CloudMachineTests.cs
  sdk/provisioning/Azure.Provisioning.CloudMachine/tests/Data/GenerateBicep.bicep
Labels: Provisioning

#47297 Fix types for additional messages.
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Agent/AgentsClient.Streaming.cs
Labels: AI Model Inference

#47296 Update the docIndex default for manual runs
  eng/pipelines/docindex.yml
Labels: Docs

#47324 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search
