Repository Azure/azure-sdk-for-net, pull requests merged in 2024-08, with the labels that each got.

#44400 Files Binary ACE
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FilePermissionFormat.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FilePermissionFormat.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/FilePermissionKeyFormat.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePermission.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePermission.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareDirectoryCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareDirectorySetHttpHeadersOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFilePermission.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileRenameOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileSetHttpHeadersOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientOpenReadTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientOpenWriteTests.cs
Labels: Storage

#45272 STG 95 Arch Board Comments
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Sas/BlobSasBuilder.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobSasBuilderTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Sas/AccountSasBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasBuilder.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeSasBuilderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/PathClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Sas/ShareSasBuilder.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileSasBuilderTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueServiceClient.cs
  sdk/storage/Azure.Storage.Queues/src/Sas/QueueSasBuilder.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueSasBuilderTests.cs
  sdk/storage/Azure.Storage.Queues/tests/ServiceClientTests.cs
Labels: Storage

#45285 Enabled STG 95 live tests
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
Labels: Storage

#45243 [AppConfig] v1.5.0 release prep
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#45308 Preparation for release of Azure.Core and System.ClientModel
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
Labels: Azure.Core

#45310 Conversations SDK - Add release date to changelog
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
Labels: Cognitive - Language

#45309 Prepare for release
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Event Hubs, Functions

#45304 Add support for sovereign clouds for Azure.AI.Language.Text
  sdk/cognitivelanguage/Azure.AI.Language.Text/src/Generated/TextAnalysisClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Text/src/TextAnalysisClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Text/src/TextAnalysisClientOptions.cs
  sdk/cognitivelanguage/Azure.AI.Language.Text/src/TextAudience.cs
Labels: Cognitive - Language

#45300 Update AutoRest C# version to 3.0.0-beta.20240801.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#45329 Fix XML docs typos in AzurePowerShellCredential
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
Labels: Azure.Identity

#45313 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#45318 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#45299 Increment version for hdinsightcontainers releases
  sdk/hdinsightcontainers/Azure.ResourceManager.HDInsight.Containers/CHANGELOG.md
  sdk/hdinsightcontainers/Azure.ResourceManager.HDInsight.Containers/src/Azure.ResourceManager.HDInsight.Containers.csproj
Labels: Mgmt

#45312 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Azure.AI.Language.Conversations.csproj
Labels: Cognitive - Language

#45282 Fix Microsoft.Bcl.AsyncInterfaces reference in Event Grid
  sdk/eventgrid/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents/src/Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents.csproj
Labels: Event Grid

#45316 [AzureMonitorExporter] fix rpc attributes
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ActivityTagsProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TagsTests.cs
Labels: Monitor - Exporter

#45311 [Storage] Enabled setting etag when creating BlobDownloadDetails for unit testing
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
Labels: Storage

#45333 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#45295 Sync eng/common directory with azure-sdk-tools for PR 8746
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#45216 Add CreateCallFailed, AnswerFailed events and StartInConferenceMode option
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/CallAutomationEventProcessor.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/AnswerCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/CreateCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerFailedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallFailedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/AnswerFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/AnswerFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CreateCallFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CreateCallFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#45314 [AzureMonitorDistro] Reenable skipped tests
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/Azure.Monitor.OpenTelemetry.AspNetCore.sln
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2EAzureMonitorDistroTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/HttpClientDependecyTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/RequestTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/SqlClientDependencyTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/Azure.Monitor.OpenTelemetry.Exporter.sln
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Properties/AssemblyInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/Azure.Monitor.OpenTelemetry.Exporter.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/Properties/AssemblyInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/RequestTelemetryTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/TestFramework/WebApplicationTestsBase.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Integration.Tests/xunit.runner.json
  sdk/monitor/Azure.Monitor.OpenTelemetry.sln
Labels: Monitor - Distro

#45342 Azure Service Bus: Fix copy paste mistake in the release notes
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus, customer-reported, Community Contribution

#45354 STG 95 beta changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#45252 Fix for issue #38780
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/CHANGELOG.md
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/assets.json
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/src/Customization/ApplicationInsightsWorkbookData.cs
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/src/Generated/ApplicationInsightsWorkbookData.Serialization.cs
  sdk/applicationinsights/Azure.ResourceManager.ApplicationInsights/tests/Scenario/ApplicationInsightsWorkbookResource_Test.cs
Labels: Mgmt

#45365 Update CHANGELOG files for release
  sdk/maps/Azure.Maps.Rendering/CHANGELOG.md
  sdk/maps/Azure.Maps.Routing/CHANGELOG.md
  sdk/maps/Azure.Maps.Search/CHANGELOG.md
  sdk/maps/Azure.Maps.TimeZone/CHANGELOG.md
Labels: Maps

#45336 [Storage] Fix errors impacting core ci pipeline
  sdk/storage/Azure.Storage.Common/tests/AesGcmTests/App.config
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
Labels: Storage

#45359 [Storage] [DataMovement] [Tests] Moving DataMovement ShareFiles Tests to use test extern alias
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/Azure.Storage.DataMovement.Blobs.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlobShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ClientMockingExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/DataMovementShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/PathScannerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/RehydrateShareResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDestinationCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryClientExtensionsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Shared/DisposingShare.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/TransferValidator.Shares.cs
Labels: Storage, Do Not Merge

#45374 Sync eng/common directory with azure-sdk-tools for PR 8792
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#45335 Sync eng/common directory with azure-sdk-tools for PR 8760
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#45378 Disabled DownloadAsync_WithUnreliableConnection_ConcurrentModificatio…
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#45379 [Azure.AI.Inference] Update changelog
  sdk/ai/Azure.AI.Inference/CHANGELOG.md
Labels: AI Model Inference

#45382 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#45343 Fix for Issue #45177
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/assets.json
  sdk/websites/Azure.ResourceManager.AppService/src/Customization/AppServiceCertificateOrderData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/AppServiceCertificateOrderData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/tests/TestsCase/AppServiceCertificateOrderDataTest.cs
Labels: Mgmt

#45389 Update AutoRest C# version to 3.0.0-beta.20240806.3
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/Configuration.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#45381 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#45383 Increment version for ai releases
  sdk/ai/Azure.AI.Inference/CHANGELOG.md
  sdk/ai/Azure.AI.Inference/src/Azure.AI.Inference.csproj
Labels: AI Model Inference

#45307 CRC reporting: pt 1
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageCrc64Composer.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessage.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessageDecodingRetriableStream.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessageDecodingStream.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/ObserveStructuredMessagePolicy.cs
  sdk/storage/Azure.Storage.Common/tests/StructuredMessageDecodingRetriableStreamTests.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#45394 Fix to DataMovement Blob Share Recordings and Properties check
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
Labels: Storage

#45395 [Azure.AI.Inference] Link updates after initial merge
  sdk/ai/Azure.AI.Inference/README.md
  sdk/ai/Azure.AI.Inference/samples/README.md
Labels: AI Model Inference

#45352 [Storage] Fixed WrapKeyInternal in Azure.Storage.Blobs to calls correct method
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/SpecializedBlobExtensions.ClientSideEncryption.cs
  sdk/storage/Azure.Storage.Blobs/tests/ClientSideEncryptionTests.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/ClientSideEncryptionTestExtensions.cs
Labels: Storage

#45356 Increment version for communication releases
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication

#45384 Sync eng/common directory with azure-sdk-tools for PR 8754
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/pipelines/templates/steps/verify-changelogs.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#45357 Run autobaseline for core/main
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/steps/download-credscan-suppressions.yml
Labels: Central-EngSys

#45224 added sample code for armclient in China azure.
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/README.md
  sdk/resourcemanager/Azure.ResourceManager/samples/DocSamples/Readme.cs
Labels: Mgmt

#45387 Added STG 96 service version
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net6.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net6.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net6.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTestFixtureAttribute.cs
Labels: Storage

#45422 [Storage] Add CHANGELOG for Fixed WrapKeyInternal to correctly call WrapKey in sync flow
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
Labels: Storage

#45424 Prepare for release
  eng/Packages.Data.props
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#44301 [Keyvault Secrets] Onboard Keyvault Secrets to AOT CI to prevent regressions
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/compatibility/ExpectedAotWarnings.txt
  sdk/keyvault/ci.yml
Labels: KeyVault

#45432 Adjust pending release
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
Labels: Tables

#45419 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Text/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Text/src/Azure.AI.Language.Text.csproj
Labels: Cognitive - Language

#45435 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: WebPubSub

#45428 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#45444 ClientModel: Remove `ReturnWhen` enum
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ReturnWhen.cs
Labels: Azure.Core

#45420 [Storage] Fixed Azure Storage Blobs Download Image Samples Issue
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Blobs/samples/Sample01a_HelloWorld.cs
Labels: Storage, Do Not Merge

#45446 Merging in WrapKey Hotfix changes
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
Labels: Storage

#45398 [Storage] [DataMovement] [Tests] Adding Directory Properties tests for Blob Directory and Share Directory
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferBlobDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/StartTransferCopyFromShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/StartTransferCopyToShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItemProperties.cs
  sdk/storage/Azure.Storage.DataMovement/src/UriToStreamJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ServiceToServiceJobPartTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadDirectoryTests.cs
Labels: Storage

#45454 Skip timezone package
  sdk/maps/ci.yml
Labels: Maps

#45447 Crc reporting pt2
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadDetails.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/ChecksumExtensions.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessage.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessageDecodingStream.cs
  sdk/storage/Azure.Storage.Common/tests/Azure.Storage.Common.Tests.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileDownloadInfo.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientTransferValidationTests.cs
Labels: Storage

#45417 Cleaning up a few AOT warnings in Azure.Core
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.DynamicMetaObject.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicData.cs
  sdk/core/Azure.Core/src/DynamicData/DynamicDataProperty.cs
  sdk/core/Azure.Core/src/Serialization/AzureCoreExtensions.cs
  sdk/core/Azure.Core/tests/compatibility/ExpectedAotWarnings.txt
Labels: Azure.Core

#45461 Increment version for maps releases
  sdk/maps/Azure.Maps.Rendering/CHANGELOG.md
  sdk/maps/Azure.Maps.Rendering/src/Azure.Maps.Rendering.csproj
  sdk/maps/Azure.Maps.Routing/CHANGELOG.md
  sdk/maps/Azure.Maps.Routing/src/Azure.Maps.Routing.csproj
  sdk/maps/Azure.Maps.Search/CHANGELOG.md
  sdk/maps/Azure.Maps.Search/src/Azure.Maps.Search.csproj
Labels: Maps

#45153 Updating Test resources and fixing sample tests.
  sdk/translation/Azure.AI.Translation.Document/README.md
  sdk/translation/Azure.AI.Translation.Document/api/Azure.AI.Translation.Document.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Document/samples/Sample5_SynchronousTranslation.md
  sdk/translation/Azure.AI.Translation.Document/src/DocumentTranslateContent.cs
  sdk/translation/Azure.AI.Translation.Document/tests/SingleDocumentTranslationClientLiveTests.cs
  sdk/translation/Azure.AI.Translation.Document/tests/samples/Sample_StartSingleDocumentTranslation.cs
  sdk/translation/Azure.AI.Translation.Document/tests/samples/Sample_StartTranslationWithAzureBlob.cs
  sdk/translation/Azure.AI.Translation.Document/tests/samples/Sample_StartTranslationWithSourceInput.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample0_CreateClient.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample1_GetLanguages.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample1_GetLanguagesAsync.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample2_Translate.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample2_TranslateAsync.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample3_Transliterate.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample3_TransliterateAsync.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample4_BreakSentence.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample4_BreakSentenceAsync.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample5_DictionaryLookup.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample5_DictionaryLookupAsync.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample6_DictionaryExamples.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Samples/Sample6_DictionaryExamplesAsync.cs
  sdk/translation/Azure.AI.Translation.Text/tests/TranslationLiveTests.cs
  sdk/translation/test-resources.json
Labels: Cognitive - Translator

#45445 Add model converter for Stj and Mrw integration
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/samples/ModelReaderWriter.md
  sdk/core/System.ClientModel/src/ModelReaderWriter/JsonModelConverter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriter.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriter/Models/ResourceProviderDataTests.cs
  sdk/core/System.ClientModel/tests/Samples/ModelReaderWriterSamples.cs
  sdk/core/System.ClientModel/tests/client/System.ClientModel.Tests.Client.csproj
  sdk/core/System.ClientModel/tests/client/TestData/ResourceProviderData/ResourceProviderData-TwoSpaces.json
Labels: Azure.Core

#45490 Fix NPE issue during client creation
  sdk/maps/Azure.Maps.Search/src/MapsSearchClient.cs
Labels: Maps

#45491 Release preparation
  sdk/maps/Azure.Maps.Search/CHANGELOG.md
Labels: Maps

#45466 Fabric - Update Capacity Properties to Be Required
  sdk/fabric/Azure.ResourceManager.Fabric/api/Azure.ResourceManager.Fabric.netstandard2.0.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/FabricCapacityData.Serialization.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/FabricCapacityData.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/autorest.md.bak
  sdk/fabric/Azure.ResourceManager.Fabric/tests/Scenario/FabricCapacityTests.cs
  sdk/fabric/Azure.ResourceManager.Fabric/tsp-location.yaml
Labels: Mgmt

#45499 [Event Hubs] Event Processor Release Prep
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/README.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs, Client

#45475 Add abstract UpdateStatus methods to OperationResult
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/OperationResult.cs
  sdk/core/System.ClientModel/src/Internal/PollingInterval.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponseHeaders.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/tests/Convenience/OperationResultTests.cs
  sdk/core/System.ClientModel/tests/Convenience/PageCollectionScenarioTests.cs
  sdk/core/System.ClientModel/tests/Convenience/PageCollectionTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockOperationResult.cs
Labels: Azure.Core

#45495 Update AutoRest C# version to 3.0.0-beta.20240813.6
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/Extensions/FabricExtensions.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/Extensions/MockableFabricSubscriptionResource.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/RestOperations/FabricCapacitiesRestOperations.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/RestOperations/DeidServicesRestOperations.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/RestOperations/PrivateLinksRestOperations.cs
  sdk/informaticadatamanagement/Azure.ResourceManager.InformaticaDataManagement/src/Generated/RestOperations/OrganizationsRestOperations.cs
  sdk/informaticadatamanagement/Azure.ResourceManager.InformaticaDataManagement/src/Generated/RestOperations/ServerlessRuntimesRestOperations.cs
Labels: Mgmt, Informatica Data Management

#45458 Fix issue #45423
  sdk/dns/Azure.ResourceManager.Dns/CHANGELOG.md
  sdk/dns/Azure.ResourceManager.Dns/api/Azure.ResourceManager.Dns.netstandard2.0.cs
  sdk/dns/Azure.ResourceManager.Dns/assets.json
  sdk/dns/Azure.ResourceManager.Dns/src/Customization/ArmDnsModelFactory.cs
  sdk/dns/Azure.ResourceManager.Dns/src/Customization/DnsRecordData.cs
  sdk/dns/Azure.ResourceManager.Dns/src/Customization/Models/DnsRecordType.cs
  sdk/dns/Azure.ResourceManager.Dns/tests/Scenario/DnsRecordDataTest.cs
Labels: Mgmt

#45500 [KeyVault] Extensions doc fix
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientBuilderExtensions.cs
Labels: KeyVault, Client

#45493 Increment version for maps releases
  sdk/maps/Azure.Maps.Search/CHANGELOG.md
  sdk/maps/Azure.Maps.Search/src/Azure.Maps.Search.csproj
Labels: Maps

#45513 [Event Hubs] Processor post-release
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs, Client

#45515 Preparation for release of System.ClientModel v1.1.0-beta.7
  sdk/core/System.ClientModel/CHANGELOG.md
Labels: Azure.Core

#45512 Increment version for azurestackhci releases
  sdk/azurestackhci/Azure.ResourceManager.Hci/CHANGELOG.md
  sdk/azurestackhci/Azure.ResourceManager.Hci/src/Azure.ResourceManager.Hci.csproj
Labels: Azure Stack Hci

#45497 [DocumentIntelligence] Adding tests to 2024-07-31-preview features
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/assets.json
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/TrainingOperation.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Assets/layout-pageobject.pdf
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentClassifierAdministrationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentModelAdministrationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/TrainingOperationLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelLiveTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/TestFile.cs
Labels: Client, Cognitive - Form Recognizer

#44983 Azure OpenAI: address client header behavior for authorization, retries, and request IDs (incl. non-Public cloud support)
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/README.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Custom/Assistants/AzureAssistantClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AzureAudioClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIAudience.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIClientOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureTokenAuthenticationPolicy.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Batch/AzureBatchClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Embeddings/AzureEmbeddingClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/AzureFineTuningClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Images/AzureImageClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/VectorStores/AzureVectorStoreClient.cs
  sdk/openai/Azure.AI.OpenAI/tests/Assets/playback_test_config.json
  sdk/openai/Azure.AI.OpenAI/tests/AssistantTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/00_ClientConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AoaiTestBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Extensions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/TestPipelinePolicy.cs
Labels: OpenAI

#45519 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#45526 Sync eng/common directory with azure-sdk-tools for PR 8831
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#45506 Fabric - Release 1.0.0-beta.2
  sdk/fabric/Azure.ResourceManager.Fabric/CHANGELOG.md
  sdk/fabric/Azure.ResourceManager.Fabric/api/Azure.ResourceManager.Fabric.netstandard2.0.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/Extensions/FabricExtensions.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/Extensions/MockableFabricSubscriptionResource.cs
  sdk/fabric/Azure.ResourceManager.Fabric/src/Generated/RestOperations/FabricCapacitiesRestOperations.cs
  sdk/fabric/Azure.ResourceManager.Fabric/tests/Scenario/FabricCapacityTests.cs
  sdk/fabric/Azure.ResourceManager.Fabric/tsp-location.yaml
Labels: Mgmt

#45528 Increment version for documentintelligence releases
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Azure.AI.DocumentIntelligence.csproj
Labels: Cognitive - Form Recognizer

#45529 Increment version for healthdataaiservices releases
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/CHANGELOG.md
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Azure.ResourceManager.HealthDataAIServices.csproj
Labels: Mgmt

#45535 Increment version for fabric releases
  sdk/fabric/Azure.ResourceManager.Fabric/CHANGELOG.md
  sdk/fabric/Azure.ResourceManager.Fabric/src/Azure.ResourceManager.Fabric.csproj
Labels: Mgmt

#45478 Updating to the latest TypeSpec and preparing for Document Translation SDK GA release.
  sdk/translation/Azure.AI.Translation.Document/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Document/README.md
  sdk/translation/Azure.AI.Translation.Document/src/Azure.AI.Translation.Document.csproj
  sdk/translation/Azure.AI.Translation.Document/tsp-location.yaml
Labels: Cognitive - Translator

#45538 [Schema Registry] Bump Avro Vesion
  eng/Packages.Data.props
Labels: Client, Schema Registry

#45542 Sync eng/common directory with azure-sdk-tools for PR 8830
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#45541 [Extensions] Bump KeyVault Dependencies
  eng/Packages.Data.props
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: Client, Extensions

#45543 Prepare for release
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#45522 Sync eng/common directory with azure-sdk-tools for PR 8842
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#45520 [DocumentIntelligence] Implemented mock tests for failing service features
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceAdministrationClient/DocumentClassifierAdministrationMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/DocumentIntelligenceClient/DocumentModelMockTests.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/tests/Infrastructure/InterceptorMockTransport.cs
Labels: Client, Cognitive - Form Recognizer

#45539 Increment version for appcomplianceautomation releases
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/CHANGELOG.md
  sdk/appcomplianceautomation/Azure.ResourceManager.AppComplianceAutomation/src/Azure.ResourceManager.AppComplianceAutomation.csproj
Labels: Mgmt

#45546 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: Extensions

#45548 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#45433 [AzureMonitorDistro] bug fix for LiveMetrics values for "server name" and "role name"
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/LiveMetricsActivityProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/LiveMetricsLogProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Manager.cs
Labels: Monitor - Distro

#45556 Update AutoRest C# version to 3.0.0-beta.20240815.4
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#45266 Update Sample1_HelloWorld.md
  sdk/resourcemanager/Azure.ResourceManager/docs/Sample1_HelloWorld.md
  sdk/resourcemanager/Azure.ResourceManager/docs/Sample1_HelloWorldAsync.md
  sdk/resourcemanager/Azure.ResourceManager/docs/Sample2_ManagingResourceGroups.md
  sdk/resourcemanager/Azure.ResourceManager/docs/Sample3_CreatingAVirtualNetwork.md
Labels: Mgmt, customer-reported, Community Contribution

#45549 Update CHANGELOG.md
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/CHANGELOG.md
Labels: Cognitive - Health Insights

#45555 Increment version for devopsinfrastructure releases
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/CHANGELOG.md
  sdk/devopsinfrastructure/Azure.ResourceManager.DevOpsInfrastructure/src/Azure.ResourceManager.DevOpsInfrastructure.csproj
Labels: DevOps - Infrastructure

#45559 Increment version for connectedvmwarevsphere releases
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/CHANGELOG.md
  sdk/connectedvmwarevsphere/Azure.ResourceManager.ConnectedVMwarevSphere/src/Azure.ResourceManager.ConnectedVMwarevSphere.csproj
Labels: Mgmt

#45570 Sync eng/common directory with azure-sdk-tools for PR 8849
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#45566 Azure Identity lib docs updates
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/Azure.Identity/src/Credentials/ChainedTokenCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/tests/samples/OtherCredentialSnippets.cs
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#45575 Fix malformed table in Azure Identity README
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#45583 Update AutoRest C# version to 3.0.0-beta.20240818.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/ai/Azure.AI.Inference/api/Azure.AI.Inference.netstandard2.0.cs
  sdk/ai/Azure.AI.Inference/src/Generated/AIInferenceModelFactory.cs
  sdk/ai/Azure.AI.Inference/src/Generated/StreamingChatChoiceUpdate.Serialization.cs
  sdk/ai/Azure.AI.Inference/src/Generated/StreamingChatChoiceUpdate.cs
  sdk/ai/Azure.AI.Inference/src/Generated/StreamingChatCompletionsUpdate.Serialization.cs
  sdk/ai/Azure.AI.Inference/src/Generated/StreamingChatCompletionsUpdate.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterModelFactory.cs
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
  sdk/communication/Azure.Communication.ProgrammableConnectivity/src/Generated/CommunicationProgrammableConnectivityModelFactory.cs
  sdk/contentsafety/Azure.AI.ContentSafety/src/Generated/ContentSafetyModelFactory.cs
  sdk/devcenter/Azure.Developer.DevCenter/src/Generated/DevCenterModelFactory.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridNamespacesModelFactory.cs
  sdk/face/Azure.AI.Vision.Face/src/Generated/AIVisionFaceModelFactory.cs
Labels: Event Grid, Cognitive - Form Recognizer, Cognitive - Face, Communication, DevCenter, Cognitive - Content Safety, Communication - Programmable Connectivity, AI Model Inference

#45523 [Storage] [DataMovement] Added separate sln file for Storage Data Movement and start of stress testing for DM Blobs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/Azure.Storage.DataMovement.Blobs.Stress.slnf
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/Chart.yaml
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/Dockerfile
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/Run-Stress.ps1
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Azure.Storage.DataMovement.Blobs.Stress.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Class1.cs
  sdk/storage/Azure.Storage.DataMovement.sln
Labels: Storage

#45601 Restore DAC auth flow diagram
  sdk/identity/Azure.Identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#45558 Fix Azure Storage DataMovement FilesShares Samples Issue
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Sample01b_HelloWorldAsync.cs
Labels: Storage, Community Contribution

#45590 [Storage] Copy Blob APIs Authentication references updated REST API doc
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage

#45554 [System.ClientModel] Removes the implicit cast from string to ApiKeyCredential
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ApiKeyCredential.cs
  sdk/core/System.ClientModel/tests/Pipeline/ApiKeyAuthenticationPolicyTests.cs
Labels: Azure.Core

#45550 [AzureMonitorLiveMetrics] new project for service reference
  .github/CODEOWNERS
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/Argument.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/ChangeTrackingDictionary.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/ChangeTrackingList.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/MultipartFormDataRequestContent.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/Optional.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/RequestContentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/Utf8JsonRequestContent.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/LiveMetricsRestAPIsForClientSDKsIsSubscribedHeaders.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/LiveMetricsRestAPIsForClientSDKsPublishHeaders.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/LiveMetricsRestAPIsForClientSDKsRestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/AggregationType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/CollectionConfigurationError.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/CollectionConfigurationError.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/CollectionConfigurationErrorType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/CollectionConfigurationInfo.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/CollectionConfigurationInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DerivedMetricInfo.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DerivedMetricInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentFilterConjunctionGroupInfo.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentFilterConjunctionGroupInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentIngress.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentStreamInfo.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentStreamInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/DocumentType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Event.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Event.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Exception.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Exception.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/FilterConjunctionGroupInfo.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/FilterConjunctionGroupInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/FilterInfo.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/FilterInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/KeyValuePairString.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/KeyValuePairString.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/MetricPoint.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/MetricPoint.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/MonitoringDataPoint.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/MonitoringDataPoint.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/PredicateType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/ProcessCpuData.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/ProcessCpuData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/QuotaConfigurationInfo.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/QuotaConfigurationInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RemoteDependency.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/RemoteDependency.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Request.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Request.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/ServiceError.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/ServiceError.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/TelemetryType.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Trace.Serialization.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Models/Trace.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/autorest.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.sln
Labels: Monitor - Distro

#45608 Removed ObserveStructuredMessagePolicy from being compiled into the Samples Packages
  sdk/storage/Azure.Storage.Blobs.Batch/samples/Azure.Storage.Blobs.Batch.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/samples/Azure.Storage.Blobs.ChangeFeed.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/samples/Azure.Storage.Blobs.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Common/samples/Azure.Storage.Common.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Azure.Storage.DataMovement.Blobs.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Azure.Storage.DataMovement.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Files.DataLake/samples/Azure.Storage.Files.DataLake.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Files.Shares/samples/Azure.Storage.Files.Shares.Samples.Tests.csproj
  sdk/storage/Azure.Storage.Queues/samples/Azure.Storage.Queues.Samples.Tests.csproj
Labels: Storage

#45429 [Azure.Monitor.Query] Update LogsQueryClient Audience logic in constructor
  eng/.docsettings.yml
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
Labels: Client, Monitor - Query

#45569 Add parameter-less ctor to TableSasBulder
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/api/Azure.Data.Tables.netstandard2.0.cs
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
  sdk/tables/Azure.Data.Tables/tests/TableSasBuilderTests.cs
Labels: Tables

#45610 [Azure.Monitor.Query] Prepare for release 1.5.0
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
Labels: Monitor, Monitor - Query

#45565 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageBlobAccessTier.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageBlobCreatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageBlobCreatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageBlobTierChangedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/StorageBlobTierChangedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#45631 [AzureMonitorDistro] refactor AggregationType
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Filtering/AccumulatedValues.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Filtering/AggregationTypeEnum.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Filtering/CollectionConfiguration.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Filtering/DerivedMetric.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/Filtering/AccumulatedValuesTest.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/Filtering/DerivedMetricTests.cs
Labels: Monitor - Distro

#45593 Conversations SDK: Update documentation
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/README.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/README.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample1_AnalyzeConversation_ConversationPrediction.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample5_ImportProject.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample6_AnalyzeConversation_ConversationSummarization.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample7_ExportProject.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample8_AnalyzeConversation_ConversationPii.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Samples/Readme.cs
Labels: Cognitive - Language

#45637 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#45628 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: Monitor - Query

#45562 Increment version for datafactory releases
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
Labels: Mgmt

#45191 Introduce overloaded constructor on AzureEventSourceListener
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/perf/EventSourceBenchmark.cs
  sdk/core/Azure.Core/src/Diagnostics/AzureEventSourceListener.cs
  sdk/core/Azure.Core/tests/AzureEventSourceTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineBuilderTest.cs
Labels: Azure.Core, customer-reported, Community Contribution

#45649 [AzureMonitorDistro] Update AzureEventSourceLogForwarder defaults to warning
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/AzureSdkCompat/AzureEventSourceLogForwarder.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
Labels: Monitor - Distro

#45656 [AzureMonitorDistro] disable LogForwarder tests in net6 and MacOS
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
Labels: Monitor - Distro

#45103 [AzureMonitorDistro] fix for LiveMetrics Dependencies
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/DataCollection/DocumentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/HttpClientDependecyTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/ManualDependencyTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/LiveMetrics/DocumentTests/SqlClientDependencyTests.cs
Labels: Monitor - Distro

#45630 Add support for logging custom events
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2ETests/ILoggerTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net6.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/CustomEvents/ApplicationInsightsEventLogger.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/CustomEvents/IApplicationInsightsEventLogger.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryEventData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemOutputHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LogsHelperTests.cs
Labels: Monitor - Exporter, Monitor - Distro

#45664 Sync eng/common directory with azure-sdk-tools for PR 8879
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#45666 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#45627 Sync eng/common directory with azure-sdk-tools for PR 8865
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#45670 Prepare release for 1.0.0-beta.1 for socket.io
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO.csproj
Labels: WebPubSub

#45671 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO.csproj
Labels: WebPubSub

#45657 Spelling/grammer fix
  sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample10_SecretReference.md
Labels: App Configuration

#43811 [KeyVault] Add support for service version 7.6-preview.1
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/README.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/AzureSecurityKeyVaultAdministrationPreFullBackupHeaders.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/AzureSecurityKeyVaultAdministrationPreFullRestoreOperationHeaders.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/BackupRestoreRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreBackupOperationParameters.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreBackupOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreRestoreOperationParameters.Serialization.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Models/PreRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleAssignmentsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/RoleDefinitionsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/SettingsRestClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultBackupClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPreBackupOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultPreRestoreOperation.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/OperationHeadersExtensions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/PreRestoreOperationParameters.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/RestoreOperationInternal.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/autorest.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/FullBackupClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/samples/Sample1_BackupHelloWorld.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyRotationLifetimeAction.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/api/Azure.Security.KeyVault.Secrets.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
  sdk/keyvault/test-resources.json
Labels: KeyVault

#45680 Migrate Azure OpenAI tests to use the streamlined test framework
  sdk/openai/Azure.AI.OpenAI/Azure.AI.OpenAI.sln
  sdk/openai/Azure.AI.OpenAI/tests/AssistantTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/AudioTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Azure.AI.OpenAI.Tests.csproj
  sdk/openai/Azure.AI.OpenAI/tests/BatchTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.Functions.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.Tools.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.Vision.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/EmbeddingTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FileTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/FineTuningTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/ImageTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/AzureDeploymentClient.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/BatchObject.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/BatchOptions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/BatchResult.cs
  sdk/openai/Azure.AI.OpenAI/tests/Models/FineTuningOptions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/00_ClientConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/01_Chat.cs
  sdk/openai/Azure.AI.OpenAI/tests/Samples/02_Oyd.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AoaiTestBase.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AoaiTestEnvironment.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Assets.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/AzureTestEnvironment.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/FlattenedConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/IConfiguration.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/JsonConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Config/SanitizedJsonConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/DisableRecordingInterceptor.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Extensions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/JsonOptions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/MockTokenCredential.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Pipeline/CapturedMessage.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Pipeline/ClientRetryPolicyAdapter.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Pipeline/MockPipeline.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/Pipeline/ProxyTransport.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/SyncToAsyncCollectionResult.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/SyncToAsyncEnumerator.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/SyncToAsyncPageCollection.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/TestConfig.cs
  sdk/openai/Azure.AI.OpenAI/tests/Utils/TestPipelinePolicy.cs
  sdk/openai/Azure.AI.OpenAI/tests/VectorStoreTests.cs
  sdk/openai/tools/TestFramework/src/Utils/Extensions.cs
Labels: OpenAI

#45685 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#45681 [AzureMonitorDistro] fix log forwarder tests
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/AzureSdkCompat/AzureEventSourceLogForwarder.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
Labels: Monitor - Distro

#45693 Sync eng/common directory with azure-sdk-tools for PR 8875
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#45710 Service Bus docs updates
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/QueueRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/SubscriptionRuntimeProperties.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/TopicRuntimeProperties.cs
Labels: Service Bus

#45696 Azure.Core | Remove unused HttpClient request callback
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
Labels: Azure.Core

#45714 TransferManager fixes
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
Labels: Storage

#45716 [System.ClientModel] Add AOT compat check
  sdk/core/ci.yml
Labels: Azure.Core

#45722 Sync eng/common directory with azure-sdk-tools for PR 8878
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#45721 Update samples
  sdk/maps/Azure.Maps.Search/README.md
  sdk/maps/Azure.Maps.Search/samples/MapsSearchSamples.md
  sdk/maps/Azure.Maps.Search/tests/Samples/SearchClientSamples.cs
Labels: Maps

#45725 [SocketIO] Add UserId support and update samples
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/README.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/api/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO.netstandard2.0.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/README.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/package-lock.json
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/package.json
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/src/functions/disconnected.ts
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/src/functions/index.ts
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/src/functions/message.ts
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/src/functions/negotiate.ts
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev-JavaScript/src/public/index.html
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev/Function.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev/SampleDev.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/samples/SampleDev/public/index.html
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Config/WebPubSubForSocketIOConfigProvider.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Services/WebPubSubForSocketIOService.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/SocketIONegotiationAttribute.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Trigger/SocketIOSocketContext.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Trigger/WebPubSubForSocketIOTriggerBinding.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/src/Trigger/WebPubSubForSocketIOTriggerDispatcher.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/tests/JobHostEndToEndTests.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/tests/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO.Tests.csproj
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/tests/Samples/SocketIOBindingFunction.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/tests/SocketIOServiceTests.cs
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSubForSocketIO/tests/SocketIOTriggerBindingTests.cs
Labels: WebPubSub

#45717 [Azure.Core] JsonPatchDocument docs fix
  sdk/core/Azure.Core/src/JsonPatchDocument.cs
Labels: Azure.Core

#45711 Link to conceptual doc in interactive browser broker cred options bag
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
Labels: Azure.Identity

#45659 Update protocol methods doc with link to replacement Learn doc
  sdk/core/Azure.Core/samples/ProtocolMethods.md
Labels: Azure.Core

#45683 Fix for Batch Data Pipeline
  eng/service.proj
  sdk/batch/ci.data.yml
  sdk/batch/service.projects
Labels: Batch

#45733 Sync eng/common directory with azure-sdk-tools for PR 8900
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#45564 Increment version for netapp releases
  sdk/netapp/Azure.ResourceManager.NetApp/CHANGELOG.md
  sdk/netapp/Azure.ResourceManager.NetApp/src/Azure.ResourceManager.NetApp.csproj
Labels: Mgmt

#45724 [ResourceManager] Update sample for create virtual network
  sdk/resourcemanager/Azure.ResourceManager/docs/Sample3_CreatingAVirtualNetwork.md
  sdk/resourcemanager/Azure.ResourceManager/samples/DocSamples/Sample3_CreatingAVirtualNetwork.cs
Labels: Mgmt

#45723 update readme of resourcemanager
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: Mgmt

#45738 Prepare release for MongoCluster
  sdk/mongocluster/Azure.ResourceManager.MongoCluster/CHANGELOG.md
  sdk/mongocluster/Azure.ResourceManager.MongoCluster/README.md
  sdk/mongocluster/Azure.ResourceManager.MongoCluster/src/Azure.ResourceManager.MongoCluster.csproj
Labels: Mgmt
