Repository Azure/azure-sdk-for-net, pull requests merged in 2024-03, with the labels that each got.

#42280 update openai to latest version
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: OpenAI

#42313 Fix the spec address
  sdk/iot/Azure.ResourceManager.IotFirmwareDefense/CHANGELOG.md
  sdk/iot/Azure.ResourceManager.IotFirmwareDefense/src/autorest.md
Labels: Mgmt

#42295 Increment version for batch releases
  sdk/batch/Microsoft.Azure.Batch/CHANGELOG.md
  sdk/batch/Microsoft.Azure.Batch/src/Microsoft.Azure.Batch.csproj
Labels: Batch

#42318 Increment version for iot releases
  sdk/iot/Azure.ResourceManager.IotFirmwareDefense/CHANGELOG.md
  sdk/iot/Azure.ResourceManager.IotFirmwareDefense/src/Azure.ResourceManager.IotFirmwareDefense.csproj
Labels: Mgmt

#42319 Increment version for resourcemanager releases
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
Labels: Mgmt

#42321 Update TableSasBuilder.RowKeyEnd summary from partition to row (typo)
  sdk/tables/Azure.Data.Tables/src/Sas/TableSasBuilder.cs
Labels: customer-reported, Tables, Community Contribution

#42320 Storage kind fix roleassignment namespacefix
  sdk/provisioning/Azure.Provisioning/src/authorization/RoleAssignment.cs
  sdk/provisioning/Azure.Provisioning/src/storage/StorageAccount.cs
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/RoleAssignmentWithParameter/main.bicep
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/RoleAssignmentWithoutParameter/resources/rg_TEST_module/rg_TEST_module.bicep
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/RoleAssignmentWithoutParameterInteractiveMode/main.bicep
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/StorageBlobDefaults/resources/rg_TEST_module/rg_TEST_module.bicep
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/StorageBlobDefaultsInPromptMode/main.bicep
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/StorageBlobDropDown/resources/rg_TEST_module/rg_TEST_module.bicep
Labels: bug

#42294 Azure.Core 2.0: Update HttpPipelinePolicy, RequestFailedException, and transport types
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/ClientOptions.cs
  sdk/core/Azure.Core/src/HttpMessage.cs
  sdk/core/Azure.Core/src/Pipeline/DisposableHttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Request.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.Response.cs
  sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipeline.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineBuilder.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelinePolicy.cs
  sdk/core/Azure.Core/src/Pipeline/HttpPipelineTransport.cs
  sdk/core/Azure.Core/src/Pipeline/HttpWebRequestTransport.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/HttpPipelineTransportPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/LoggingPolicy.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ReadTimeoutStream.cs
  sdk/core/Azure.Core/src/Pipeline/Internal/ResponseBodyPolicy.cs
  sdk/core/Azure.Core/src/Request.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/src/Shared/CancellationHelper.cs
  sdk/core/Azure.Core/tests/DisposableHttpPipelineTests.cs
  sdk/core/Azure.Core/tests/HttpMessageTests.cs
  sdk/core/Azure.Core/tests/HttpPipelineFunctionalTests.cs
  sdk/core/Azure.Core/tests/ReadTimeoutStreamTests.cs
  sdk/core/Azure.Core/tests/ResponseBodyPolicyTests.cs
  sdk/core/Azure.Core/tests/ResponseBufferingTests.cs
  sdk/core/Azure.Core/tests/RetriableStreamTests.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/DigitalTwinsClient.cs
Labels: Azure.Core, Tables

#42299 [Event Hubs] Change trigger checkpointing behavior
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.PartitionProcessor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
Labels: Event Hubs, Client

#42325 [CODEOWNERS] Minor fixes
  .github/CODEOWNERS
Labels: Client, EngSys

#42364 [Service Bus] 2024 March Release Prep
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, Client

#42343 Integrate with test framework
  common/ManagementTestShared/Redesign/AddDeleteAfterTagPolicy.cs
  common/ManagementTestShared/Redesign/InheritanceCheckTests.cs
  common/ManagementTestShared/Redesign/ManagementMockingPatternTests.cs
  common/ManagementTestShared/Redesign/ManagementRecordedTestBase.cs
  common/ManagementTestShared/Redesign/MockTestEnvironment.cs
  common/ManagementTestShared/Redesign/ResponseNullFilterPolicy.cs
  sdk/core/Azure.Core.TestFramework/src/Shared/TestClient.cs
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/provisioning/Azure.Provisioning/assets.json
  sdk/provisioning/Azure.Provisioning/tests/Azure.Provisioning.Tests.csproj
  sdk/provisioning/Azure.Provisioning/tests/ProvisioningTestEnvironment.cs
  sdk/provisioning/Azure.Provisioning/tests/ProvisioningTests.cs
Labels: Mgmt, Azure.Core

#42366 Sync .github/workflows directory with azure-sdk-tools for PR 7808
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42372 final changelog snap for beta.14
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
Labels: OpenAI

#42373 Put back explicit usings
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Customized/AvroDataset.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Customized/JsonDataset.cs
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Customized/Models/DynatraceMonitorData.Serialization.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Custom/Models/NetAppVault.Serialization.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Custom/ArmSelfHelpModelFactory.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Custom/Models/SelfHelpSolutionMetadata.Serialization.cs
Labels: Mgmt

#42378 [Search] Add support for `sbyte` and `int16` types to FieldBuilder
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/src/Generated/Models/SearchFieldDataType.cs
  sdk/search/Azure.Search.Documents/src/Indexes/FieldBuilder.cs
  sdk/search/Azure.Search.Documents/src/Indexes/Models/SearchFieldDataType.cs
  sdk/search/Azure.Search.Documents/tests/DocumentOperations/VectorSearchTests.cs
  sdk/search/Azure.Search.Documents/tests/FieldBuilderTests.cs
  sdk/search/Azure.Search.Documents/tests/Models/ReflectableModel.cs
  sdk/search/Azure.Search.Documents/tests/Models/ReflectableStructModel.cs
  sdk/search/Azure.Search.Documents/tests/Samples/Sample07_VectorSearch_UsingFieldBuilder.cs
Labels: Search

#42381 Sync eng/common directory with azure-sdk-tools for PR 7758
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#42329 Azure.Core 2.0: Update AzureKeyCredential, RetryPolicy, and StatusCodeClassifier
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/samples/Configuration.md
  sdk/core/Azure.Core/src/AzureKeyCredential.cs
  sdk/core/Azure.Core/src/Internal/BitVector640.cs
  sdk/core/Azure.Core/src/Pipeline/RetryPolicy.cs
  sdk/core/Azure.Core/src/RetryOptions.cs
  sdk/core/Azure.Core/src/StatusCodeClassifier.cs
  sdk/core/Azure.Core/tests/RetryPolicyTestBase.cs
  sdk/core/Azure.Core/tests/samples/GlobalTimeoutRetryPolicy.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Internal/ArrayBackedPropertyBag.cs
  sdk/core/System.ClientModel/src/Message/ArrayBackedRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsFailedDetailsParser.cs
Labels: Azure.Core

#42213 [LiveMetrics] report process metrics `CPU Total` and `Committed Memory`
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Diagnostics/LiveMetricsExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/LiveMetricConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.State.cs
Labels: Monitor - Distro, Monitor - LiveMetrics

#42399 Increment version for batch releases
  sdk/batch/Azure.ResourceManager.Batch/CHANGELOG.md
  sdk/batch/Azure.ResourceManager.Batch/src/Azure.ResourceManager.Batch.csproj
Labels: Mgmt

#42376 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#42408 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#42328 ClientModel: Updates to ClientModel public APIs from Azure.Core 2.0 integration
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientResultException.cs
  sdk/core/System.ClientModel/src/Internal/ArrayBackedPropertyBag.cs
  sdk/core/System.ClientModel/src/Message/ArrayBackedRequestHeaders.cs
  sdk/core/System.ClientModel/src/Message/PipelineMessage.cs
  sdk/core/System.ClientModel/src/Options/RequestOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.Request.cs
Labels: Azure.Core

#42238 [Text Translation] Update clientRequestId parameter type to System.Guid
  sdk/translation/Azure.AI.Translation.Text/api/Azure.AI.Translation.Text.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationTranslateOptions.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationTransliterateOptions.cs
  sdk/translation/Azure.AI.Translation.Text/tsp-location.yaml
Labels: Cognitive - Translator

#42367 Increment version for easm releases
  sdk/easm/Azure.Analytics.Defender.Easm/CHANGELOG.md
  sdk/easm/Azure.Analytics.Defender.Easm/src/Azure.Analytics.Defender.Easm.csproj
Labels: Defender EASM

#42413 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#42365 [Messaging] Companion package 2024 March Release Prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Event Hubs, Client

#42415 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#42417 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#42418 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#42371 Prepare for GA
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
  sdk/core/Azure.Core.Expressions.DataFactory/api/Azure.Core.Expressions.DataFactory.netstandard2.0.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryElement.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryElementJsonConverter.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryKeyVaultSecretReference.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryModelFactory.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactorySecretBaseDefinition.Serialization.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactorySecretDefinition.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactorySecretString.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/UnknownSecret.cs
  sdk/core/Azure.Core.Expressions.DataFactory/src/UnknownSecretBase.Serialization.cs
  sdk/core/Azure.Core.Expressions.DataFactory/tests/DataFactoryElementTests.cs
Labels: Azure.Core

#42428 [DocumentIntelligence] 1.0.0-beta.2: Preparing for release
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/MigrationGuide.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
Labels: Client, Cognitive - Form Recognizer

#42431 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#42430 Update the Support SDK code according to the latest CodeGen change
  sdk/support/Azure.ResourceManager.Support/src/Generated/Models/ClassificationService.cs
  sdk/support/Azure.ResourceManager.Support/src/Generated/Models/ServiceClassificationAnswer.cs
  sdk/support/Azure.ResourceManager.Support/src/Generated/Models/ServiceClassificationOutput.cs
  sdk/support/Azure.ResourceManager.Support/src/Generated/Models/ServiceProblemClassificationListResult.cs
  sdk/support/Azure.ResourceManager.Support/src/Generated/Models/ServiceProblemClassificationResult.cs
Labels: Mgmt

#42439 Increment version for support releases
  sdk/support/Azure.ResourceManager.Support/CHANGELOG.md
  sdk/support/Azure.ResourceManager.Support/src/Azure.ResourceManager.Support.csproj
Labels: Mgmt

#42451 Update AutoRest C# version to 3.0.0-beta.20240305.2
  eng/Directory.Build.Common.targets
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/attestation/Azure.Security.Attestation/src/Generated/Internal/RequestContentHelper.cs
  sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.AlphaIds/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Email/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Identity/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.MediaComposition/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.NetworkTraversal/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Rooms/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.ShortCodes/src/Generated/Internal/RequestContentHelper.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Internal/RequestContentHelper.cs
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Generated/Internal/RequestContentHelper.cs
  sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/Internal/RequestContentHelper.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Internal/RequestContentHelper.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Internal/RequestContentHelper.cs
  sdk/iot/Azure.IoT.Hub.Service/src/Generated/Internal/RequestContentHelper.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Internal/RequestContentHelper.cs
  sdk/keyvault/samples/sharelink/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Geolocation/src/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Rendering/src/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Internal/RequestContentHelper.cs
  sdk/maps/Azure.Maps.Search/src/Generated/Internal/RequestContentHelper.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/Generated/Internal/RequestContentHelper.cs
  sdk/mixedreality/Azure.MixedReality.Authentication/src/Generated/Internal/RequestContentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Generated/Internal/RequestContentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Generated/Internal/RequestContentHelper.cs
  sdk/monitor/Azure.Monitor.Query/src/Generated/Internal/RequestContentHelper.cs
  sdk/mysql/Azure.ResourceManager.MySql/src/MySqlFlexibleServers/Custom/HelperSuppressions.cs
  sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/src/Generated/Internal/RequestContentHelper.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSqlFlexibleServers/Custom/HelperSuppressions.cs
  sdk/quantum/Azure.Quantum.Jobs/src/Generated/Internal/RequestContentHelper.cs
  sdk/remoterendering/Azure.MixedReality.RemoteRendering/src/Generated/Internal/RequestContentHelper.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Custom/HelperSuppressions.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Custom/HelperSuppressions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/RequestContentHelper.cs
  sdk/search/Azure.Search.Documents/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Internal/RequestContentHelper.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.ManagedPrivateEndpoints/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.Monitoring/src/Generated/Internal/RequestContentHelper.cs
  sdk/synapse/Azure.Analytics.Synapse.Spark/src/Generated/Internal/RequestContentHelper.cs
  sdk/tables/Azure.Data.Tables/src/Generated/Internal/RequestContentHelper.cs
  sdk/textanalytics/Azure.AI.TextAnalytics.Legacy.Shared/src/Generated/Internal/RequestContentHelper.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Internal/RequestContentHelper.cs
  sdk/timeseriesinsights/Azure.IoT.TimeSeriesInsights/src/Generated/Internal/RequestContentHelper.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/Internal/RequestContentHelper.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/Internal/RequestContentHelper.cs
  sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge/src/Generated/Internal/RequestContentHelper.cs
Labels: Storage, KeyVault, Search, Container Registry, Event Grid, IoT, TimeseriesInsights, Tables, Synapse, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Translator, Digital Twins, Schema Registry, Monitor - Exporter, Communication, Cognitive - Metrics Advisor, Mixed Reality, Quantum, VideoAnalyzer, Cognitive - Language, Maps, Communication - Calling Server, Communication - Chat, Communication - Identity, Communication - Network Traversal, Communication - Phone Numbers, Communication - Short Codes, Communication - SMS, Communication - Rooms, Monitor - LiveMetrics, Monitor - Query

#42456 Update README.md for release
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/README.md
Labels: Cognitive - Health Insights

#42458 Increment version for healthinsights releases
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/CHANGELOG.md
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/src/Azure.Health.Insights.RadiologyInsights.csproj
Labels: Cognitive - Health Insights

#42433 Increment version for documentintelligence releases
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/CHANGELOG.md
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Azure.AI.DocumentIntelligence.csproj
Labels: Cognitive - Form Recognizer

#42427 Mark SNI and username/password tests as manual or PlaybackOnly
  sdk/identity/Azure.Identity/tests/ClientCertificateCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/MultiTenantLiveTests.cs
Labels: Azure.Identity

#42363 Clarify tests and exception message
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessageDecodingStream.cs
  sdk/storage/Azure.Storage.Common/tests/StructuredMessageDecodingStreamTests.cs
Labels: Storage

#42370 Structured Message Decode: Validate Content Length
  sdk/storage/Azure.Storage.Common/src/Shared/StructuredMessageDecodingStream.cs
  sdk/storage/Azure.Storage.Common/tests/StructuredMessageDecodingStreamTests.cs
Labels: Storage

#42469 [Storage] [Tests] Adding test coverage for uneven pages sizes in a page blob
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
Labels: Storage

#42432 Azure.Monitor: misc cleanup
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/EnvironmentVariableConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
Labels: Monitor - Exporter, Monitor - LiveMetrics

#42374 Start Azure SDK log forwarder in AzMon OTel distro
  sdk/core/Azure.Core/src/Shared/EventSourceEvent.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/AzureEventSourceLogForwarder.cs
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorAspNetCoreEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/AzureSdkCompat/AzureEventSourceLogForwarder.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
Labels: Monitor - Distro

#42475 AzMonOTelDistro: Follow-up on #42374 - update changelog
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
Labels: Monitor - Distro

#42473 [AppConfiguration] Implemented ETag-by-page feature
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SettingSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
Labels: Client, App Configuration

#42476 Follow-up on #42374: update AzMonDistro readme what's included - logs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
Labels: Monitor - Distro

#42472 OpenAI Assistants: merge image file ID fix from TypeSpec
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI.Assistants/README.md
  sdk/openai/Azure.AI.OpenAI.Assistants/api/Azure.AI.OpenAI.Assistants.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/assets.json
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/AssistantsClient.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/AssistantsModelFactory.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/MessageImageFileContent.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/PageableList.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/Visibility/InternalAssistantDeletionStatusObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/Visibility/InternalAssistantFileDeletionStatusObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/Visibility/InternalFileDeletionStatusObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Custom/Visibility/InternalFileListResponseObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/AssistantsClient.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalAssistantDeletionStatusObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalAssistantFileDeletionStatusObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalFileDeletionStatusObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalFileListResponseObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalMessageImageFileDetails.Serialization.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalMessageImageFileDetails.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalMessageImageFileIdDetails.Serialization.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalMessageImageFileIdDetails.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/OpenAIPageableListOfAssistantFileObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/OpenAIPageableListOfAssistantObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/OpenAIPageableListOfMessageFileObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/OpenAIPageableListOfRunStepObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/OpenAIPageableListOfThreadMessageObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/OpenAIPageableListOfThreadRunObject.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/tests/AssistantsTestBase.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/tests/CodeInterpreterTests.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/tsp-location.yaml
Labels: OpenAI

#42480 Sync eng/common directory with azure-sdk-tools for PR 7823
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#42479 [AzureMonitorDistro] update vendored code
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientInstrumentationEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureContainerAppsResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetaDataRequestor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/ResourceAttributeConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/SourceGenerationContext.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ActivityHelperExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ActivityInstrumentationHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/DiagnosticSourceListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/DiagnosticSourceSubscriber.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/InstrumentationEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/ListenerHandler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/PropertyFetcher.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/EnvironmentVariables/EnvironmentVariablesConfigurationProvider.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/EnvironmentVariables/EnvironmentVariablesConfigurationSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/EnvironmentVariables/EnvironmentVariablesExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ExceptionExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Guard.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/HttpSemanticConventionHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/MathHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Options/ConfigurationExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Options/DelegatingOptionsFactory.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/PeerServiceResolver.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/PeriodicExportingMetricReaderHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/PooledList.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/RequestMethodHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Shims/IsExternalInit.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Shims/NullableAttributes.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SpanAttributeConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SpanHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/StatusHelper.cs
Labels: Monitor - Distro

#42497 Updated Storage to point at latest stable swagger files in main
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Queues/src/autorest.md
Labels: Storage

#42499 fix recording for confluent
  sdk/confluent/Azure.ResourceManager.Confluent/assets.json
Labels: Mgmt

#42500 Update AutoRest C# version to 3.0.0-beta.20240306.3
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/src/Generated/tspCodeModel.json
Labels: Container Registry, Mgmt, App Configuration, Cognitive - Anomaly Detector, Communication, Confidential Ledger, Cognitive - Language, Communication - Calling Server, Communication - Chat, Communication - Identity, Communication - Network Traversal, Communication - Phone Numbers, Communication - Short Codes, Communication - SMS, Communication - Rooms, Large Instance, Cognitive - Content Safety

#42394 [Monitor] Fix issue #41377
  sdk/monitor/Azure.ResourceManager.Monitor/CHANGELOG.md
  sdk/monitor/Azure.ResourceManager.Monitor/src/Customized/Models/MonitorConditionOperator.Serialization.cs
  sdk/monitor/Azure.ResourceManager.Monitor/src/Generated/Models/MonitorConditionOperator.Serialization.cs
Labels: Mgmt

#42504 Update tests for Confluent
  sdk/confluent/Azure.ResourceManager.Confluent/assets.json
  sdk/confluent/Azure.ResourceManager.Confluent/tests/Scenario/ConfluentTests.cs
Labels: Mgmt

#42514 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#42485 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Azure.AI.OpenAI.Assistants.csproj
Labels: OpenAI

#42517 Increment version for confluent releases
  sdk/confluent/Azure.ResourceManager.Confluent/CHANGELOG.md
  sdk/confluent/Azure.ResourceManager.Confluent/src/Azure.ResourceManager.Confluent.csproj
Labels: Mgmt

#42494 Specify 1.36 as core dependency version to unblock autorest.csharp update
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
Labels: Azure.Core

#42471 Sas preservation fix
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/SasQueryParametersTests.cs
  sdk/storage/Azure.Storage.Common/src/Sas/SasQueryParameters.cs
  sdk/storage/Azure.Storage.Common/src/Shared/SasExtensions.cs
Labels: Storage

#42491 Update Azure.Data.Tables migration documentation to clarify the lack of support for session consistency.
  sdk/tables/Azure.Data.Tables/MigrationGuide.md
Labels: customer-reported, Tables, Community Contribution

#42426 Azure.Monitor: fix for Microsoft.Bcl.AsyncInterfaces
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Demo/Azure.Monitor.OpenTelemetry.AspNetCore.Demo.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Integration.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DocumentBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DocumentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/DerivedMetric.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/FilterConjunctionGroup.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests.csproj
Labels: Monitor - Distro, Monitor - LiveMetrics

#42528 fix naming of internal types
  sdk/core/Azure.Core.Expressions.DataFactory/src/DataFactoryKeyVaultSecret.Serialization.cs
Labels: Azure.Core

#42545 Update AutoRest C# version to 3.0.0-beta.20240308.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/src/Generated/Configuration.json
Labels: Communication

#42547 [CODEOWNERS] Organize management path
  .github/CODEOWNERS
Labels: Client, EngSys

#42549 Sync eng/common directory with azure-sdk-tools for PR 7842
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#42552 Sync .github/workflows directory with azure-sdk-tools for PR 7845
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#42551 Sync eng/common directory with azure-sdk-tools for PR 7835
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#42522 [AzureMonitorDistro] resync vendored code
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientInstrumentationEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureContainerAppsResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetaDataRequestor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/ResourceAttributeConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/SourceGenerationContext.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/DiagnosticSourceListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/DiagnosticSourceSubscriber.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/ListenerHandler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/PropertyFetcher.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ExceptionExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Guard.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Shims/IsExternalInit.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Shims/NullableAttributes.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SpanAttributeConstants.cs
Labels: Monitor - Distro

#42369 ClientModel: Add samples for System.ClientModel library
  sdk/core/System.ClientModel/README.md
  sdk/core/System.ClientModel/samples/ClientImplementation.md
  sdk/core/System.ClientModel/samples/Configuration.md
  sdk/core/System.ClientModel/samples/ModelReaderWriter.md
  sdk/core/System.ClientModel/samples/README.md
  sdk/core/System.ClientModel/samples/ServiceMethods.md
  sdk/core/System.ClientModel/tests/Samples/ClientImplementationSamples.cs
  sdk/core/System.ClientModel/tests/Samples/ConfigurationSamples.cs
  sdk/core/System.ClientModel/tests/Samples/ModelReaderWriterSamples.cs
  sdk/core/System.ClientModel/tests/Samples/ReadmeModelReaderWriter.cs
  sdk/core/System.ClientModel/tests/Samples/ServiceMethodSamples.cs
  sdk/core/System.ClientModel/tests/client/TestClients/MapsClient/CountryRegion.cs
  sdk/core/System.ClientModel/tests/client/TestClients/MapsClient/IPAddressCountryPair.cs
  sdk/core/System.ClientModel/tests/client/TestClients/MapsClient/MapsClient.cs
  sdk/core/System.ClientModel/tests/client/TestClients/MapsClient/MapsClientOptions.cs
Labels: Azure.Core

#42557 [AzureMonitorLiveMetrics] prep release 1.0.0-beta.3
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
Labels: Monitor - LiveMetrics

#42554 Increment version for core releases
  sdk/core/Azure.Core.Expressions.DataFactory/CHANGELOG.md
  sdk/core/Azure.Core.Expressions.DataFactory/src/Azure.Core.Expressions.DataFactory.csproj
Labels: Azure.Core

#42593 Sync .github/workflows directory with azure-sdk-tools for PR 7848
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42601 Sync .github/workflows directory with azure-sdk-tools for PR 7853
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#42598 [CODEOWNERS] Formatting fix
  .github/CODEOWNERS
Labels: Client, EngSys

#42605 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Azure.Monitor.OpenTelemetry.LiveMetrics.csproj
Labels: Monitor - LiveMetrics

#42607 Sync eng/common directory with azure-sdk-tools for PR 7854
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#42608 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#42307 [AzureMonitorDistro] Add ASP.NET Core and HTTP Client metrics instrumentation
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
Labels: Monitor - Distro

#42600 Fixes to PoP for InteractiveBrowserCredential Authenticate flow
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net461.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/PopTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core.Experimental/src/PopTokenRequestContext.cs
  sdk/core/Azure.Core.Experimental/tests/PopTokenAuthenticationPolicyTests.cs
  sdk/core/Azure.Core/src/Shared/AuthorizationChallengeParser.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net462.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net6.0.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.netstandard2.0.cs
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/tests/ManualInteractiveBrowserCredentialBrokerTests.cs
  sdk/identity/Azure.Identity.Broker/tests/PopTestClient.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/src/IMsalPublicClientInitializerOptions.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
  sdk/identity/Azure.Identity/tests/Mock/MockMsalPublicClient.cs
Labels: Azure.Core, Azure.Identity

#42644 [AzureMonitorDistro] prep AspNetCore for release
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/README.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#42647 [Azure.Monitor.Query] Update ReadMe
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
Labels: Monitor - Query

#42658 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#42162 Adding Hold/Unhold operations.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallMedia.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/HoldFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallParticipant.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/HoldFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/HoldOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/UnholdOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#42656 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#42629 [Communication][PhoneNumbers] Fix areacodes pageable bug
  sdk/communication/Azure.Communication.PhoneNumbers/assets.json
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClient.cs
Labels: Communication - Phone Numbers

#42662 Fix for RehydrationToken serialization
  sdk/core/Azure.Core/src/RehydrationToken.Serialization.cs
  sdk/core/Azure.Core/tests/RehydrationTokenTests.cs
Labels: Azure.Core

#42664 [Authorization] Fix for issue #40050
  sdk/authorization/Azure.ResourceManager.Authorization/CHANGELOG.md
  sdk/authorization/Azure.ResourceManager.Authorization/assets.json
  sdk/authorization/Azure.ResourceManager.Authorization/samples/Generated/Samples/Sample_DenyAssignmentCollection.cs
  sdk/authorization/Azure.ResourceManager.Authorization/src/Generated/DenyAssignmentCollection.cs
  sdk/authorization/Azure.ResourceManager.Authorization/src/Generated/RestOperations/DenyAssignmentsRestOperations.cs
  sdk/authorization/Azure.ResourceManager.Authorization/src/autorest.md
  sdk/authorization/Azure.ResourceManager.Authorization/tests/Scenario/DenyAssignmentCollectionTests.cs
Labels: Mgmt

#42278 GA sdk release.
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/README.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/api/Azure.ResourceManager.DataFactory.netstandard2.0.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/ArmDataFactoryModelFactory.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/DataFactoryDatasetData.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/DataFactoryLinkedServiceData.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CopyActivity.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CopyActivitySource.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/CopyActivitySource.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryDatasetDebugInfo.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryDatasetProperties.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryDatasetProperties.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryExpressionV2.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryExpressionV2.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryExpressionV2Type.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryLinkedServiceDebugInfo.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryLinkedServiceProperties.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/DataFactoryLinkedServiceProperties.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/GoogleBigQueryV2AuthenticationType.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/GoogleBigQueryV2LinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/GoogleBigQueryV2LinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/GoogleBigQueryV2ObjectDataset.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/GoogleBigQueryV2ObjectDataset.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/GoogleBigQueryV2Source.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/GoogleBigQueryV2Source.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/LookupActivity.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PostgreSqlV2LinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PostgreSqlV2LinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PostgreSqlV2Source.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PostgreSqlV2Source.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PostgreSqlV2TableDataset.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/PostgreSqlV2TableDataset.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ServiceNowV2AuthenticationType.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ServiceNowV2LinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ServiceNowV2LinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ServiceNowV2ObjectDataset.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ServiceNowV2ObjectDataset.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ServiceNowV2Source.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/ServiceNowV2Source.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/TabularSource.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/TabularSource.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/autorest.md
Labels: Mgmt

#42298 Aldomel/ga sdk
  sdk/sphere/Azure.ResourceManager.Sphere/CHANGELOG.md
  sdk/sphere/Azure.ResourceManager.Sphere/README.md
  sdk/sphere/Azure.ResourceManager.Sphere/api/Azure.ResourceManager.Sphere.netstandard2.0.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereCatalogCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereCatalogResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereCertificateCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereCertificateResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereDeploymentCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereDeploymentResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereDeviceCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereDeviceGroupCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereDeviceGroupResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereDeviceResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereImageCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereImageResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereProductCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/samples/Generated/Samples/Sample_SphereProductResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Azure.ResourceManager.Sphere.csproj
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/ArmSphereModelFactory.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Extensions/MockableSphereResourceGroupResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Extensions/MockableSphereSubscriptionResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Extensions/SphereExtensions.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CatalogListResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CertificateListResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CountDevicesResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/CountDevicesResult.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/DeploymentListResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/DeviceGroupListResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/DeviceListResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ImageListResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/PagedDeviceInsight.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/ProductListResult.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/Models/SphereProvisioningState.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/RestOperations/CatalogsRestOperations.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/RestOperations/CertificatesRestOperations.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/RestOperations/DeploymentsRestOperations.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/RestOperations/DeviceGroupsRestOperations.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/RestOperations/DevicesRestOperations.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/RestOperations/ImagesRestOperations.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/RestOperations/ProductsRestOperations.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCatalogCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCatalogData.Serialization.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCatalogData.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCatalogResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCertificateCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCertificateResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeploymentCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeploymentResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeviceCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeviceGroupCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeviceGroupResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeviceResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereImageCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereImageResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereProductCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereProductResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/autorest.md
Labels: Mgmt

#42689 Increment version for datafactory releases
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
Labels: Mgmt

#42690 Increment version for sphere releases
  sdk/sphere/Azure.ResourceManager.Sphere/CHANGELOG.md
  sdk/sphere/Azure.ResourceManager.Sphere/src/Azure.ResourceManager.Sphere.csproj
Labels: Mgmt

#42682 Prepare for release
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#42692 Transform Rooms swagger to match customized ParticipantProperties.Role property
  sdk/communication/Azure.Communication.Rooms/src/autorest.md
Labels: Communication - Rooms

#42694 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#42677 [TestFramework] Make ClientSecret optional
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Client, Azure.Core.TestFramework

#42680 [AzureMonitorDistro] Update OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
Labels: Monitor - Distro

#42693 Add nullable annotation to FormFieldsReport.accuracy to match customized model
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md
Labels: Cognitive - Form Recognizer

#42700 Sync eng/common directory with azure-sdk-tools for PR 7877
  eng/common/testproxy/test-proxy-tool-shutdown.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#42707 [Azure.Monitor.Query] Update service version for MetricsClient
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsClientOptions.cs
Labels: Client, Monitor - Query

#42303 Convert number lookup ga to preview
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/assets.json
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorDetails.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorDetails.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformation.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformation.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationOptions.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationRequest.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationRequest.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationResult.Serialization.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorInformationResult.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorNumberType.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/PhoneNumbersModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/GlobalSuppressions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Infrastructure/PhoneNumbersClientLiveTestBase.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/samples/Sample_PhoneNumbersClient.cs
Labels: Communication - Phone Numbers, Communication - SMS

#42712 Fix comment typos in class PipelineResponse.cs
  sdk/core/System.ClientModel/src/Message/PipelineResponse.cs
Labels: Azure.Core

#42715 Always log test proxy errors
  sdk/core/Azure.Core.TestFramework/README.md
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
  sdk/core/Azure.Core.TestFramework/src/TestProxy.cs
Labels: Azure.Core

#42742 Add clarity to Monitor Query client XML docs
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClient.cs
Labels: Monitor - Query

#42754 Sync eng/common directory with azure-sdk-tools for PR 7892
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/check-for-git-changes.ps1
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#42291 Azure Quantum .net SDK Update to support api key
  sdk/quantum/Azure.ResourceManager.Quantum/CHANGELOG.md
  sdk/quantum/Azure.ResourceManager.Quantum/api/Azure.ResourceManager.Quantum.netstandard2.0.cs
  sdk/quantum/Azure.ResourceManager.Quantum/samples/Generated/Samples/Sample_QuantumWorkspaceCollection.cs
  sdk/quantum/Azure.ResourceManager.Quantum/samples/Generated/Samples/Sample_QuantumWorkspaceResource.cs
  sdk/quantum/Azure.ResourceManager.Quantum/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/ArmQuantumModelFactory.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Extensions/MockableQuantumResourceGroupResource.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Extensions/MockableQuantumSubscriptionResource.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Extensions/QuantumExtensions.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/OfferingsListResult.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/PricingDimension.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderAadInfo.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderAadInfo.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderApplicationInfo.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderApplicationInfo.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderPricingDimension.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderPricingDimension.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderProvisioningStatus.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderSkuDescription.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderSkuDescription.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderTargetDescription.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProviderTargetDescription.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/ProvisioningStatus.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumPricingDetail.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumPricingDetail.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumProvider.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumProvider.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumProviderDescription.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumProviderDescription.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumProviderProperties.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumProviderProperties.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumProvisioningStatus.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumQuotaDimension.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/QuantumQuotaDimension.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/Status.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/UsableStatus.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceApiKey.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceApiKey.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceApiKeys.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceApiKeys.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceKeyListResult.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceKeyListResult.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceKeyType.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceNameAvailabilityContent.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceNameAvailabilityContent.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceNameAvailabilityResult.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceNameAvailabilityResult.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/Models/WorkspaceUsableStatus.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/QuantumWorkspaceCollection.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/QuantumWorkspaceData.Serialization.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/QuantumWorkspaceData.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/QuantumWorkspaceResource.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/RestOperations/OfferingsRestOperations.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/RestOperations/WorkspaceRestOperations.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/Generated/RestOperations/WorkspacesRestOperations.cs
  sdk/quantum/Azure.ResourceManager.Quantum/src/autorest.md
Labels: Mgmt

#42696 ClientModel: Add Stream creation API to BinaryContent
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Message/BinaryContent.cs
  sdk/core/System.ClientModel/src/NetStandardPolyfill/StreamExtensions.cs
  sdk/core/System.ClientModel/tests/Message/BinaryContentTests.cs
Labels: Azure.Core

#42758 Use updated proxy w/ Retry fixes for MacOS
  eng/Packages.Data.props
Labels: Azure.Core

#42762 Add bicep serialization for managed identity
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/FederatedIdentityCredentialData.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/FederatedIdentityCredentialData.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Internal/BicepSerializationHelpers.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Internal/ChangeTrackingDictionary.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Internal/Optional.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Internal/Utf8JsonRequestContent.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Internal/WirePathAttribute.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/FederatedIdentityCredentialsListResult.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/UserAssignedIdentitiesListResult.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/UserAssignedIdentityPatch.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/UserAssignedIdentityPatch.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/SystemAssignedIdentityData.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/SystemAssignedIdentityData.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/UserAssignedIdentityData.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/UserAssignedIdentityData.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/autorest.md
Labels: Mgmt

#42747 Increment version for netapp releases
  sdk/netapp/Azure.ResourceManager.NetApp/CHANGELOG.md
  sdk/netapp/Azure.ResourceManager.NetApp/src/Azure.ResourceManager.NetApp.csproj
Labels: Mgmt

#42765 Increment version for quantum releases
  sdk/quantum/Azure.ResourceManager.Quantum/CHANGELOG.md
  sdk/quantum/Azure.ResourceManager.Quantum/src/Azure.ResourceManager.Quantum.csproj
Labels: Mgmt

#42763 Sync eng/common directory with azure-sdk-tools for PR 7841
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#42760 [LiveMetrics] fix for memory not updating
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Program.cs
Labels: Monitor - LiveMetrics

#42753 [Azure.Monitor.Query] Add MetricsClientBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/api/Azure.Monitor.Query.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsClientBuilderExtensions.cs
Labels: Client, Monitor - Query

#42776 Sync eng/common directory with azure-sdk-tools for PR 7896
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#42781 [LiveMetrics] update demo
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Program.cs
Labels: Monitor - LiveMetrics

#42799 Document MetricsClient in Monitor Query README
  sdk/monitor/Azure.Monitor.Query/README.md
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientSamples.cs
Labels: Monitor - Query

#42786 OpenAI Assistants: address bugs with FunctionToolDefinition comparisons
  sdk/openai/Azure.AI.OpenAI.Assistants/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Convenience/FunctionToolDefinition.cs
Labels: OpenAI

#42676 [Azure.Monitor.Query] Update TROUBLESHOOTING.md
  sdk/monitor/Azure.Monitor.Query/TROUBLESHOOTING.md
Labels: Monitor - Query

#42808 Update sovereign cloud heading in Monitor Query README
  sdk/monitor/Azure.Monitor.Query/README.md
Labels: Monitor - Query

#42761 Sync eng/common directory with azure-sdk-tools for PR 7895
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#42496 Convert pipelines to extend from 1es pipeline templates
  eng/CredScanSuppression.json
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/docindex.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/smoke-test-matrix.json
  eng/pipelines/templates/jobs/smoke.tests.template.yml
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/archetype-net-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/archetype-sdk-docs.yml
  eng/pipelines/templates/steps/dependency.tests.yml
  eng/pipelines/templates/steps/download-credscan-suppressions.yml
  eng/pipelines/templates/steps/upload-dumps.yml
  eng/pipelines/templates/variables/globals.yml
  eng/pipelines/templates/variables/image.yml
  eng/scripts/doc-generation.ps1
  sdk/identity/platform-matrix.json
  sdk/keyvault/platform-matrix.json
  sdk/storage/ci.yml
  sdk/storage/platform-matrix-all-versions.json
  sdk/storage/platform-matrix-virtualized.json
  sdk/storage/tests.virtualized.yml
  sdk/storage/tests.yml
  sdk/template/ci.yml
Labels: Storage, KeyVault, Azure.Identity, Central-EngSys

#42819 Don't bootstrap if no resource group env var
  sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs
Labels: Azure.Core

#42816 Azure OpenAI: 2024-03-01-preview update
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Custom/EmbeddingsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingEncodingFormat.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingsOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/EmbeddingsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ImageGenerations.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ImageGenerations.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/OpenAIClientOptions.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatWithVisionTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/CompletionsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/EmbeddingsTests.cs
  sdk/openai/Azure.AI.OpenAI/tests/OpenAITestBase.cs
  sdk/openai/Azure.AI.OpenAI/tsp-location.yaml
Labels: OpenAI

#42792 [ResourceMover] Add operation: MoveCollections_Delete back
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/CHANGELOG.md
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/api/Azure.ResourceManager.ResourceMover.netstandard2.0.cs
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/assets.json
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/samples/Generated/Samples/Sample_MoverResourceSetResource.cs
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/src/Generated/MoverResourceSetResource.cs
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/src/Generated/RestOperations/MoveCollectionsRestOperations.cs
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/src/autorest.md
  sdk/resourcemover/Azure.ResourceManager.ResourceMover/tests/Scenario/MoverResourceSetTests.cs
Labels: Mgmt

#42827 Update AutoRest C# version to 3.0.0-beta.20240319.5
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Models/JobRouterModelFactory.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/src/Generated/Models/CurrencyValue.cs
  sdk/metricsadvisor/Azure.AI.MetricsAdvisor/src/MetricsAdvisorModelFactory.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Models/SchemaId.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobsModelFactory.cs
  sdk/storage/Azure.Storage.Queues/src/Generated/QueuesModelFactory.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/NotebookCell.Serialization.cs
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Generated/Models/NotebookParameter.Serialization.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/Models/SentenceSentimentInternal.cs
  sdk/textanalytics/Azure.AI.TextAnalytics/src/Generated/TextAnalyticsModelFactory.cs
Labels: Storage, Synapse, Cognitive - Text Analytics, Cognitive - Form Recognizer, Schema Registry, Communication, Cognitive - Metrics Advisor

#41843 [LiveMetricsExporter] Add Filtering Support part 4 - Apply the Filters and Aggregates the result
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.cs
Labels: Monitor - LiveMetrics

#42809 Handle scenario where IMDS returns 200 but is canceled
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/src/MsalPublicClient.cs
  sdk/identity/Azure.Identity/tests/ImdsManagedIdentitySourceTests.cs
Labels: Azure.Identity

#42851 [CODEOWNERS] Fix baseline
  .github/CODEOWNERS_baseline_errors.txt
Labels: Client, EngSys

#42711 Update ShareClient.GetPermission/GetPermissionAsync() XML documentation
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
Labels: Storage

#42840 [Text Translation] Add support for AAD for MT endpoint
  sdk/translation/Azure.AI.Translation.Text/CHANGELOG.md
  sdk/translation/Azure.AI.Translation.Text/README.md
  sdk/translation/Azure.AI.Translation.Text/api/Azure.AI.Translation.Text.netstandard2.0.cs
  sdk/translation/Azure.AI.Translation.Text/assets.json
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationClientOptions.cs
  sdk/translation/Azure.AI.Translation.Text/src/Generated/TextTranslationClientOptions.cs
  sdk/translation/Azure.AI.Translation.Text/src/TextTranslationAADAuthenticationPolicy.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Infrastructure/TextTranslationLiveTestBase.cs
  sdk/translation/Azure.AI.Translation.Text/tests/Infrastructure/TextTranslationTestEnvironment.cs
  sdk/translation/Azure.AI.Translation.Text/tests/TranslationLiveTests.cs
Labels: Cognitive - Translator

#39442 [ApiManagement] Fix `BackendResponseCode` serialize issue
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/CHANGELOG.md
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/Models/RequestReportRecordContract.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/RequestReportRecordContract.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/autorest.md
Labels: Mgmt, customer-reported, Community Contribution

#42849 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#42699 stageblock | appendblock | putpages StructuredMessage
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobAppendBlockHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobDownloadHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobStageBlockHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobUploadHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobUploadPagesHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/Azure.Storage.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeFileClientTransferValidationTests.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
Labels: Storage

#42872 Update AutoRest C# version to 3.0.0-beta.20240321.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.JobRouter/src/Generated/BestWorkerMode.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/ClassificationPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/ConditionalQueueSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/ConditionalWorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/DistributionPolicy.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/ExceptionRule.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterModelFactory.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RuleEngineQueueSelectorAttachment.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RuleEngineWorkerSelectorAttachment.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/CommunicationMessagesModelFactory.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/MessageTemplate.cs
  sdk/easm/Azure.Analytics.Defender.Easm/src/Generated/AnalyticsDefenderEasmModelFactory.cs
  sdk/easm/Azure.Analytics.Defender.Easm/src/Generated/AssetPageResult.cs
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/src/Generated/FollowupRecommendationInference.cs
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/src/Generated/HealthInsightsRadiologyInsightsModelFactory.cs
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/src/Generated/RadiologyInsightsPatientResult.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/Assistant.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/AssistantCreationOptions.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/AssistantsModelFactory.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/CreateAndRunThreadOptions.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/CreateRunOptions.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalCodeInterpreterToolCallDetails.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalMessageTextDetails.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/InternalSubmitToolOutputsDetails.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/RunStep.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/RunStepToolCallDetails.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/ThreadMessage.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/ThreadRun.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/UpdateAssistantOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureCosmosDBChatExtensionParameters.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureMachineLearningIndexChatExtensionParameters.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureOpenAIModelFactory.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/AzureSearchChatExtensionParameters.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatChoice.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatCompletionsOptions.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatRequestAssistantMessage.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ChatResponseMessage.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/ElasticsearchChatExtensionParameters.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/OnYourDataEndpointVectorizationSource.cs
  sdk/openai/Azure.AI.OpenAI/src/Generated/PineconeChatExtensionParameters.cs
Labels: Communication, OpenAI, Cognitive - Health Insights, Defender EASM

#42877 [LiveMetrics] small refactor
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SdkVersionUtils.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DataCollection/DocumentBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DataCollection/DocumentHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DataCollection/DoubleBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/DataCollection/LiveMetricsBuffer.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsActivityProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/DocumentTests/HttpClientDependecyTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/DocumentTests/RequestTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/DocumentTests/SqlClientDependencyTests.cs
Labels: Monitor - Exporter, Monitor - LiveMetrics

#42880 Exclude net4* from binskim
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: Central-EngSys

#42882 Fix invalid yaml objects with 1es template/spoke pipelines
  sdk/communication/Azure.Communication.JobRouter/tests.yml
  sdk/graphrbac/ci.yml
  sdk/hybriddatamanager/ci.mgmt.yml
Labels: Central-EngSys

#42855 [LiveMetricsExporter] Add Filtering Support part 5 - Apply filtering for Trace type
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/CollectionConfiguration.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
Labels: Monitor - LiveMetrics

#42893 Update AutoRest C# version to 3.0.0-beta.20240321.4
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: Mgmt, Cognitive - Anomaly Detector, Communication, Communication - Resource Manager, Large Instance, Cognitive - Content Safety

#42895 Update experimental diagnostic ID
  eng/Directory.Build.Common.props
  sdk/resourcemanager/Azure.ResourceManager/src/BicepModelReaderWriterOptions.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Azure.ResourceManager.Tests.csproj
Labels: Mgmt

#42862 update specs with union as enum
  sdk/anomalydetector/Azure.AI.AnomalyDetector/tsp-location.yaml
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterModelFactory.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterChannel.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/RouterJob.cs
  sdk/communication/Azure.Communication.JobRouter/tsp-location.yaml
  sdk/contentsafety/Azure.AI.ContentSafety/tsp-location.yaml
  sdk/easm/Azure.Analytics.Defender.Easm/tsp-location.yaml
  sdk/openai/Azure.AI.OpenAI.Assistants/tsp-location.yaml
  sdk/translation/Azure.AI.Translation.Text/src/Custom/TextTranslationClient.cs
  sdk/translation/Azure.AI.Translation.Text/tsp-location.yaml
  sdk/vision/Azure.AI.Vision.ImageAnalysis/tsp-location.yaml
Labels: Cognitive - Anomaly Detector, Cognitive - Translator, Communication, OpenAI, Image Analysis, Cognitive - Content Safety, Defender EASM

#42684 Adding Microsoft.EdgeZones to azure-sdk-for-net for public preview release version 2024-04-01-preview
  sdk/edgezones/Azure.ResourceManager.EdgeZones/Azure.ResourceManager.EdgeZones.sln
  sdk/edgezones/Azure.ResourceManager.EdgeZones/CHANGELOG.md
  sdk/edgezones/Azure.ResourceManager.EdgeZones/Directory.Build.props
  sdk/edgezones/Azure.ResourceManager.EdgeZones/README.md
  sdk/edgezones/Azure.ResourceManager.EdgeZones/api/Azure.ResourceManager.EdgeZones.netstandard2.0.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/assets.json
  sdk/edgezones/Azure.ResourceManager.EdgeZones/samples/Azure.ResourceManager.EdgeZones.Samples.csproj
  sdk/edgezones/Azure.ResourceManager.EdgeZones/samples/Generated/Samples/Sample_ExtendedZoneCollection.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/samples/Generated/Samples/Sample_ExtendedZoneResource.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Azure.ResourceManager.EdgeZones.csproj
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/ArmEdgeZonesModelFactory.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/ExtendedZoneCollection.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/ExtendedZoneData.Serialization.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/ExtendedZoneData.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/ExtendedZoneResource.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Extensions/EdgeZonesExtensions.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Extensions/MockableEdgeZonesArmClient.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Extensions/MockableEdgeZonesSubscriptionResource.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Internal/Argument.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Internal/ChangeTrackingDictionary.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Internal/ChangeTrackingList.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Internal/Optional.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Models/EdgeZonesProvisioningState.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Models/EdgeZonesRegistrationState.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Models/ExtendedZoneListResult.Serialization.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/Models/ExtendedZoneListResult.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/ProviderConstants.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Generated/RestOperations/ExtendedZonesRestOperations.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/Properties/AssemblyInfo.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/src/autorest.md
  sdk/edgezones/Azure.ResourceManager.EdgeZones/tests/Azure.ResourceManager.EdgeZones.Tests.csproj
  sdk/edgezones/Azure.ResourceManager.EdgeZones/tests/EdgeZonesManagementTestBase.cs
  sdk/edgezones/Azure.ResourceManager.EdgeZones/tests/EdgeZonesManagementTestEnvironment.cs
  sdk/edgezones/ci.mgmt.yml
  sdk/resourcemanager/ci.mgmt.yml
Labels: Mgmt

#42899 [.NET] Communication Identity | Release updates with latest Common version
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
Labels: Communication, Communication - Identity

#42902 Increment version for communication releases
  sdk/communication/Azure.Communication.Identity/CHANGELOG.md
  sdk/communication/Azure.Communication.Identity/src/Azure.Communication.Identity.csproj
Labels: Communication - Identity

#42904 [.NET] Communication Identity | Post-Release updates
  eng/Packages.Data.props
Labels: Communication, Communication - Identity

#42896 Update diagnostic ID
  eng/Directory.Build.Common.props
  sdk/resourcemanager/Azure.ResourceManager/src/BicepModelReaderWriterOptions.cs
Labels: Mgmt

#42900 Update AutoRest C# version to 3.0.0-beta.20240322.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/samples/Generated/Samples/Sample_ThroughputPoolAccountResource.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/samples/Generated/Samples/Sample_ThroughputPoolAccountResourceCollection.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/samples/Generated/Samples/Sample_ThroughputPoolResource.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/samples/Generated/Samples/Sample_ThroughputPoolResourceCollection.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/LongRunningOperation/ThroughputPoolAccountResourceOperationSource.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/LongRunningOperation/ThroughputPoolResourceOperationSource.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/BaseCosmosDataTransferDataSourceSink.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/CassandraClusterCommand.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ComputedProperty.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ListCommands.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ListCommands.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ThroughputPoolAccountsListResult.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ThroughputPoolAccountsListResult.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ThroughputPoolResourcePatch.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ThroughputPoolsListResult.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/Models/ThroughputPoolsListResult.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/RestOperations/ThroughputPoolAccountRestOperations.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/RestOperations/ThroughputPoolAccountsRestOperations.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/RestOperations/ThroughputPoolRestOperations.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/RestOperations/ThroughputPoolsRestOperations.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/ThroughputPoolAccountResource.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/ThroughputPoolAccountResourceCollection.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/ThroughputPoolAccountResourceData.Serialization.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/ThroughputPoolResource.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/ThroughputPoolResourceCollection.cs
  sdk/cosmosdb/Azure.ResourceManager.CosmosDB/src/Generated/ThroughputPoolResourceData.Serialization.cs
Labels: Mgmt

#42905 Fix for GeographyEntity.Neighborhood causes RequestFailedException
  sdk/maps/Azure.Maps.Search/src/Models/GeographicEntity.cs
Labels: customer-reported, Community Contribution, Maps
