Repository Azure/azure-sdk-for-net, pull requests merged in 2024-04, with the labels that each got.

#43123 Increment version for healthcareapis releases
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/CHANGELOG.md
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Azure.ResourceManager.HealthcareApis.csproj
Labels: Mgmt

#43066 Handle Managed Identity cancellation on success
  sdk/identity/Azure.Identity/src/AppServiceV2017ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/AppServiceV2019ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/AzureArcManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/CloudShellManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/ServiceFabricManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentitySourceTests.cs
Labels: Azure.Identity

#43111 [Schema Registry] Update after hotfix
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/CHANGELOG.md
  sdk/schemaregistry/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/src/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro.csproj
Labels: Client, Schema Registry

#43095 Sync eng/common directory with azure-sdk-tools for PR 7975
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#43083 EventHubs: report per-event process spans in processor client and turn off batch tracing
  sdk/core/Azure.Core/src/Shared/DiagnosticScope.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsActivitySourceTests.cs
  sdk/core/Azure.Core/tests/ClientDiagnosticsDiagnosticSourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/DiagnosticExtensions.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeActivitySourceLiveTests.cs
Labels: Service Bus, Event Hubs, Azure.Core

#42854 Added ACS Chat preview feature: introducing chat data retention as a thread property.
  sdk/communication/Azure.Communication.Chat/README.md
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/assets.json
  sdk/communication/Azure.Communication.Chat/src/ChatClient.cs
  sdk/communication/Azure.Communication.Chat/src/ChatClientOptions.cs
  sdk/communication/Azure.Communication.Chat/src/ChatRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatThreadRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatAttachmentInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatAttachmentInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatRetentionPolicy.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatRetentionPolicy.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadPropertiesInternal.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatThreadPropertiesInternal.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CommunicationIdentifierModel.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CommunicationIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CommunicationIdentifierModelKind.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadRequest.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CreateChatThreadRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/Error.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/Error.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ErrorDetail.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ErrorDetail.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ErrorResponse.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ErrorResponse.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ImageViewType.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/MicrosoftTeamsAppIdentifierModel.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/MicrosoftTeamsAppIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/NoneRetentionPolicy.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/NoneRetentionPolicy.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/RetentionPolicyKind.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/SendChatMessageRequest.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/SendChatMessageRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ThreadCreationDateRetentionPolicy.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ThreadCreationDateRetentionPolicy.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UnknownChatRetentionPolicy.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UnknownChatRetentionPolicy.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UpdateChatMessageRequest.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UpdateChatMessageRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UpdateChatThreadRequest.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UpdateChatThreadRequest.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UploadChatImageResult.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/UploadChatImageResult.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatModelFactory.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ChatThreadProperties.cs
  sdk/communication/Azure.Communication.Chat/src/Models/CreateChatThreadOptions.cs
  sdk/communication/Azure.Communication.Chat/src/Models/ImageViewType.cs
  sdk/communication/Azure.Communication.Chat/src/Models/MicrosoftTeamsAppIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/Models/UpdateChatThreadPropertiesOptions.cs
  sdk/communication/Azure.Communication.Chat/src/Models/UploadChatImageResult.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsLiveTests.cs
  sdk/communication/Azure.Communication.Chat/tests/ChatClients/ChatClientsTests.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample1_ThreadOperations.cs
  sdk/communication/Azure.Communication.Chat/tests/samples/Sample4_KeyConcepts.cs
Labels: Communication - Chat

#43140 Sync eng/common directory with azure-sdk-tools for PR 7986
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#42944 [AppContainers] Fix for issue #42663
  sdk/containerapps/Azure.ResourceManager.AppContainers/assets.json
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Custom/Models/ContainerAppVnetConfiguration.Serialization.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Generated/Models/ContainerAppVnetConfiguration.Serialization.cs
  sdk/containerapps/Azure.ResourceManager.AppContainers/tests/TestCase/ManagedEnvironmentOperationTests.cs
Labels: Mgmt

#43128 [Azure.ResourceManager.MigrationDiscoverySap] Fix for TestDiscoveryOperations failure
  sdk/migrationdiscoverysap/Azure.ResourceManager.MigrationDiscoverySap/assets.json
  sdk/migrationdiscoverysap/Azure.ResourceManager.MigrationDiscoverySap/tests/Tests/MigrationSapDiscoveryTests.cs
Labels: Mgmt

#43135 [Functions] Allow disabling Event Hubs checkpoints
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubOptions.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubListener.PartitionProcessor.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubConfigurationTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubListenerTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubTests.cs
  sdk/extensions/Microsoft.Azure.WebJobs.Extensions.Clients/tests/shared/TestHelpers.cs
Labels: Client, Functions

#43156 Update AutoRest C# version to 3.0.0-beta.20240402.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/src/Generated/tspCodeModel.json
Labels: Communication

#43158 [Event Hubs] Changelogs and trace member rename
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/api/Azure.Messaging.EventHubs.Processor.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsActivitySourceTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Diagnostics/DiagnosticsTests.cs
Labels: Event Hubs, Client

#43159 Sync eng/common directory with azure-sdk-tools for PR 7988
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#42789 Updated ACS Rooms .NET SDK to PSTN DialOut GA Release
  sdk/communication/Azure.Communication.Rooms/CHANGELOG.md
  sdk/communication/Azure.Communication.Rooms/README.md
  sdk/communication/Azure.Communication.Rooms/api/Azure.Communication.Rooms.netstandard2.0.cs
  sdk/communication/Azure.Communication.Rooms/assets.json
  sdk/communication/Azure.Communication.Rooms/src/Azure.Communication.Rooms.csproj
  sdk/communication/Azure.Communication.Rooms/src/Generated/ParticipantsRestClient.cs
  sdk/communication/Azure.Communication.Rooms/src/Generated/RoomsRestClient.cs
  sdk/communication/Azure.Communication.Rooms/src/RoomsClientOptions.cs
  sdk/communication/Azure.Communication.Rooms/src/autorest.md
  sdk/communication/Azure.Communication.Rooms/tests/Infrastructure/RoomsClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Rooms/tests/RoomsClient/RoomClientPstnDialOutLiveTest.cs
  sdk/communication/Azure.Communication.Rooms/tests/Samples/Sample1_RoomsClient.cs
  sdk/communication/Azure.Communication.Rooms/tests/Samples/Sample1_RoomsRequests.md
Labels: Communication - Rooms

#43168 [Search] Update recordings
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchTestBase.cs
Labels: Search

#43173 Update Azure.ResourceManager.MigrationDiscoverySap sample
  sdk/migrationdiscoverysap/Azure.ResourceManager.MigrationDiscoverySap/README.md
  sdk/migrationdiscoverysap/Azure.ResourceManager.MigrationDiscoverySap/samples/DocSamples/Sample_ImportEntities.cs
Labels: Mgmt

#43169 Update default broker account language
  sdk/identity/Azure.Identity.Broker/README.md
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/SharedTokenCacheCredentialBrokerOptions.cs
Labels: Azure.Identity

#40943 Optimize LogIngestionClient.Batch yielding
  sdk/monitor/Azure.Monitor.Ingestion/src/LogsIngestionClient.cs
  sdk/monitor/Azure.Monitor.Ingestion/tests/BatchingTest.cs
Labels: customer-reported, Community Contribution

#43170 [Azure.Monitor.Query] Fix bug in Query Clients
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/LogsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/src/MetricsQueryClient.cs
  sdk/monitor/Azure.Monitor.Query/tests/LogsQueryClientTests.cs
  sdk/monitor/Azure.Monitor.Query/tests/MetricsQueryClientTests.cs
Labels: Client, Monitor - Query

#43189 Update CHANGELOG.md
  sdk/monitor/Azure.Monitor.Ingestion/CHANGELOG.md
Labels: Monitor

#43192 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Ingestion/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Ingestion/src/Azure.Monitor.Ingestion.csproj
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: Monitor - Query

#43190 Increment version for devcenter releases
  sdk/devcenter/Azure.Developer.DevCenter/CHANGELOG.md
  sdk/devcenter/Azure.Developer.DevCenter/src/Azure.Developer.DevCenter.csproj
Labels: DevCenter

#43183 Increment version for migrationdiscoverysap releases
  sdk/migrationdiscoverysap/Azure.ResourceManager.MigrationDiscoverySap/CHANGELOG.md
  sdk/migrationdiscoverysap/Azure.ResourceManager.MigrationDiscoverySap/src/Azure.ResourceManager.MigrationDiscoverySap.csproj
Labels: Mgmt

#43202 Add new communication events
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/AcsAdvancedMessageChannelEventError.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/AcsAdvancedMessageEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/CommunicationIdentifierKind.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/MicrosoftTeamsAppIdentifier.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvanceMessageDeliveryStatus.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageButtonContent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageButtonContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageChannelEventError.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageChannelEventError.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageContext.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageContext.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageDeliveryStatusUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageDeliveryStatusUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageInteractiveButtonReplyContent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageInteractiveButtonReplyContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageInteractiveContent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageInteractiveContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageInteractiveListReplyContent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageInteractiveListReplyContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageMediaContent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageMediaContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsAdvancedMessageReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsInteractiveReplyKind.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageChannelKind.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRouterUpdatedWorkerProperty.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRouterWorkerSelector.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRouterWorkerUpdatedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsRouterWorkerUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationIdentifierKind.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationIdentifierModel.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationIdentifierModel.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MicrosoftTeamsAppIdentifier.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/MicrosoftTeamsAppIdentifier.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#43193 Sync eng/common directory with azure-sdk-tools for PR 8015
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#43130 PUT Blob Structured Message
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
Labels: Storage

#43181 [Messaging] Allow binary application properties
  sdk/core/Azure.Core.Amqp/src/Shared/AmqpAnnotatedMessageConverter.cs
  sdk/core/Azure.Core.Amqp/tests/AmqpAnnotatedMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/EventDataExtensions.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/Testing/EventDataExtensionsTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpMessageConverter.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpMessageConverterTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs
Labels: Event Hubs, Client

#43191 README and BREAKING_CHANGES log changes
  sdk/identity/Azure.Identity/BREAKING_CHANGES.md
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/tests/ImdsManagedIdentitySourceTests.cs
Labels: Azure.Identity

#43214 Preparation for release of Azure.Core.Experimental v0.1.0-beta.33
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
Labels: Azure.Core

#43203 Prepare for release
  eng/Directory.Build.Common.props
  sdk/provisioning/Azure.Provisioning.AppConfiguration/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.AppConfiguration/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.CognitiveServices/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CognitiveServices/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.CosmosDB/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CosmosDB/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.EventHubs/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.EventHubs/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.KeyVault/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.KeyVault/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.OperationalInsights/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.OperationalInsights/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.PostgreSql/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.PostgreSql/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.Redis/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Redis/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.Resources/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Resources/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.Search/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Search/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.ServiceBus/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.ServiceBus/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.SignalR/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.SignalR/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.Sql/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Sql/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.Storage/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Storage/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning/src/Azure.Provisioning.csproj
  sdk/provisioning/Azure.Provisioning/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Directory.Build.props
Labels: CDK

#43194 Preparation for release of System.ClientModel v1.1.0-beta.3
  sdk/core/System.ClientModel/CHANGELOG.md
Labels: Azure.Core

#43223 Cdk version bump
  eng/Packages.Data.props
  sdk/provisioning/Azure.Provisioning.AppConfiguration/src/Azure.Provisioning.AppConfiguration.csproj
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/src/Azure.Provisioning.ApplicationInsights.csproj
  sdk/provisioning/Azure.Provisioning.CognitiveServices/src/Azure.Provisioning.CognitiveServices.csproj
  sdk/provisioning/Azure.Provisioning.CosmosDB/src/Azure.Provisioning.CosmosDB.csproj
  sdk/provisioning/Azure.Provisioning.EventHubs/src/Azure.Provisioning.EventHubs.csproj
  sdk/provisioning/Azure.Provisioning.KeyVault/src/Azure.Provisioning.KeyVault.csproj
  sdk/provisioning/Azure.Provisioning.OperationalInsights/src/Azure.Provisioning.OperationalInsights.csproj
  sdk/provisioning/Azure.Provisioning.PostgreSql/src/Azure.Provisioning.PostgreSql.csproj
  sdk/provisioning/Azure.Provisioning.Redis/src/Azure.Provisioning.Redis.csproj
  sdk/provisioning/Azure.Provisioning.Resources/src/Azure.Provisioning.Resources.csproj
  sdk/provisioning/Azure.Provisioning.Search/src/Azure.Provisioning.Search.csproj
  sdk/provisioning/Azure.Provisioning.ServiceBus/src/Azure.Provisioning.ServiceBus.csproj
  sdk/provisioning/Azure.Provisioning.SignalR/src/Azure.Provisioning.SignalR.csproj
  sdk/provisioning/Azure.Provisioning.Sql/src/Azure.Provisioning.Sql.csproj
  sdk/provisioning/Azure.Provisioning.Storage/src/Azure.Provisioning.Storage.csproj
  sdk/provisioning/Directory.Build.props
Labels: Provisioning

#43224 Increment version for provisioning releases
  sdk/provisioning/Azure.Provisioning/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning/src/Azure.Provisioning.csproj
Labels: Provisioning

#43228 Increment version for provisioning releases
  sdk/provisioning/Azure.Provisioning.AppConfiguration/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.AppConfiguration/src/Azure.Provisioning.AppConfiguration.csproj
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/src/Azure.Provisioning.ApplicationInsights.csproj
  sdk/provisioning/Azure.Provisioning.CognitiveServices/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CognitiveServices/src/Azure.Provisioning.CognitiveServices.csproj
  sdk/provisioning/Azure.Provisioning.CosmosDB/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.CosmosDB/src/Azure.Provisioning.CosmosDB.csproj
  sdk/provisioning/Azure.Provisioning.EventHubs/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.EventHubs/src/Azure.Provisioning.EventHubs.csproj
  sdk/provisioning/Azure.Provisioning.KeyVault/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.KeyVault/src/Azure.Provisioning.KeyVault.csproj
  sdk/provisioning/Azure.Provisioning.OperationalInsights/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.OperationalInsights/src/Azure.Provisioning.OperationalInsights.csproj
  sdk/provisioning/Azure.Provisioning.PostgreSql/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.PostgreSql/src/Azure.Provisioning.PostgreSql.csproj
  sdk/provisioning/Azure.Provisioning.Redis/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Redis/src/Azure.Provisioning.Redis.csproj
  sdk/provisioning/Azure.Provisioning.Resources/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Resources/src/Azure.Provisioning.Resources.csproj
  sdk/provisioning/Azure.Provisioning.Search/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Search/src/Azure.Provisioning.Search.csproj
  sdk/provisioning/Azure.Provisioning.ServiceBus/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.ServiceBus/src/Azure.Provisioning.ServiceBus.csproj
  sdk/provisioning/Azure.Provisioning.SignalR/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.SignalR/src/Azure.Provisioning.SignalR.csproj
  sdk/provisioning/Azure.Provisioning.Sql/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Sql/src/Azure.Provisioning.Sql.csproj
  sdk/provisioning/Azure.Provisioning.Storage/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Storage/src/Azure.Provisioning.Storage.csproj
Labels: CDK

#43225 Increment version for core releases
  sdk/core/Azure.Core.Experimental/CHANGELOG.md
  sdk/core/Azure.Core.Experimental/src/Azure.Core.Experimental.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#43216 [Service Bus] Test hang fix
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/DiagnosticScopeActivitySourceLiveTests.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Diagnostics/EventSourceLiveTests.cs
Labels: Service Bus, Client, test-reliability

#43210 [Event Hubs] ETW fixes
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Diagnostics/EventProcessorClientEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
Labels: Event Hubs, Client

#42858 [FormRecognizer] Updated tests to match new service behavior
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/DocumentAnalysisClient/DocumentAnalysisClientLiveTests.cs
  sdk/formrecognizer/assets.json
Labels: Client, Cognitive - Form Recognizer

#43205 [AppConfiguration] Implemented Etag/page feature with an AsPages extension method
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.netstandard2.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientExtensions.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Models/SettingSelector.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Pageable/AsyncConditionalPageable.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Pageable/ConditionalPageable.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Pageable/ConditionalPageableImplementation.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
Labels: Client, App Configuration

#43080 [LiveMetricsExporter] Add Filtering Support part 7 - Sync Model change for Duration
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/DerivedMetric.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/Filter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/FilterConjunctionGroup.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/DerivedMetricTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/DocumentMockWithStringDuration.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Tests/Filtering/FilterTests.cs
Labels: Monitor - LiveMetrics

#43221 [Storage] [DataMovement] [Tests] Moving Single Transfer Blob Tests to DataMovement.Blobs.Test package
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobDestinationCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobSourceCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobStorageResourceProviderTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/DataMovementBlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/DisposingBlobContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/RehydrateBlobResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StorageResourceEtagManagementTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/Azure.Storage.DataMovement.Blobs.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/DataMovementTestConstants.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferUploadTests.cs
Labels: Storage

#43256 Link to AddMetricsClient API ref page
  sdk/monitor/Azure.Monitor.Query/README.md
Labels: Monitor - Query

#43197 [AzureMonitorExporter][AzureMonitorDistro] Update OpenTelemetry packages to 1.8.0
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsActivityProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExtensions.cs
Labels: Monitor - Exporter, Monitor - Distro, Monitor - LiveMetrics

#43263 [WebPubSub] Upgrade dependency and minor improvement
  eng/Packages.Data.props
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/README.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Internal/ServiceRequestHandlerAdapter.cs
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/WebPubSubHub.cs
Labels: WebPubSub

#43237 [Communication][PhoneNumbers] Fix update capabilities test
  sdk/communication/Azure.Communication.PhoneNumbers/assets.json
  sdk/communication/Azure.Communication.PhoneNumbers/tests/Infrastructure/PhoneNumbersClientLiveTestBase.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
Labels: Communication - Phone Numbers

#43157 [Service Bus] Factor MaxConcurrentCallsPerSession in when session ids are set
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs
Labels: Service Bus

#43241 Mark .NET package as shipped in APIView
  eng/pipelines/templates/stages/archetype-net-release.yml
Labels: Central-EngSys

#43266 [CODEOWNERS] Provisioning label change over
  .github/CODEOWNERS
Labels: Client, EngSys

#43276 [Service Bus] Model factory comments
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusModelFactory.cs
Labels: Service Bus, Client

#43249 Increase IMDS retry count to 5
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/ImdsManagedIdentitySourceTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#43281 Prep Broker for release
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#43213 [WebJobs][EventHubsExtension] Fix metrics when azure checkpoint container does not exist
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Listeners/EventHubMetricsProvider.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubsMetricsProviderTests.cs
Labels: Event Hubs, Functions

#43298 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#43285 Prepare for release
  eng/Packages.Data.props
  sdk/provisioning/Azure.Provisioning/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning/assets.json
  sdk/provisioning/Azure.Provisioning/src/ModuleInfrastructure.cs
  sdk/provisioning/Azure.Provisioning/tests/Infrastructure/EmptyConstructDoesNotThrow/main.bicep
  sdk/provisioning/Azure.Provisioning/tests/ProvisioningTests.cs
Labels: Provisioning

#43283 Fix package refs for Azure.Identity.Broker
  eng/Packages.Data.props
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#43308 Prep Broker for release
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#43303 [DevCenter] Fix Dev Center Tests
  sdk/devcenter/Azure.Developer.DevCenter/assets.json
  sdk/devcenter/Azure.Developer.DevCenter/tests/DeploymentEnvironmentsClientTests.cs
  sdk/devcenter/Azure.Developer.DevCenter/tests/DevBoxesClientTests.cs
Labels: DevCenter

#43309 Prefix with Acs
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/AcsCommunicationIdentifierKind.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/AcsMicrosoftTeamsAppIdentifier.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsCommunicationIdentifierKind.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMicrosoftTeamsAppIdentifier.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMicrosoftTeamsAppIdentifier.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationIdentifierKind.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationIdentifierModel.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/CommunicationIdentifierModel.cs
Labels: Event Grid

#43302 Increment version for provisioning releases
  sdk/provisioning/Azure.Provisioning/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning/src/Azure.Provisioning.csproj
Labels: Provisioning

#43316 Sync eng/common directory with azure-sdk-tools for PR 8053
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#43320 fix build issue in confidentialledger
  sdk/confidentialledger/Azure.Security.CodeTransparency/tests/SamplesUnitTests.cs
Labels: Confidential Ledger

#43313 Increment version for identity releases
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#43306 Document role requirement for multi-resource metrics queries
  sdk/monitor/Azure.Monitor.Query/README.md
Labels: Monitor - Query

#43322 Update AutoRest C# version to 3.0.0-beta.20240410.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Multivariate.cs
  sdk/anomalydetector/Azure.AI.AnomalyDetector/src/Generated/Univariate.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterClient.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/NotificationMessagesClient.cs
  sdk/contentsafety/Azure.AI.ContentSafety/src/Generated/BlocklistClient.cs
  sdk/contentsafety/Azure.AI.ContentSafety/src/Generated/ContentSafetyClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceAdministrationClient.cs
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/src/Generated/DocumentIntelligenceClient.cs
  sdk/easm/Azure.Analytics.Defender.Easm/src/Generated/EasmClient.cs
  sdk/healthinsights/Azure.Health.Insights.CancerProfiling/src/Generated/CancerProfilingClient.cs
  sdk/healthinsights/Azure.Health.Insights.ClinicalMatching/src/Generated/ClinicalMatchingClient.cs
  sdk/healthinsights/Azure.Health.Insights.RadiologyInsights/src/Generated/RadiologyInsightsClient.cs
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/AssistantsClient.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Discovery.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Entity.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Glossary.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Relationship.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/TypeDefinition.cs
  sdk/vision/Azure.AI.Vision.ImageAnalysis/src/Generated/ImageAnalysisClient.cs
Labels: Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Communication, OpenAI, Cognitive - Health Insights, Image Analysis, Cognitive - Content Safety, Defender EASM

#43280 [Event Hubs] Processor + Extensions April 2024 Release prep
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/api/Microsoft.Azure.WebJobs.Extensions.EventHubs.netstandard2.0.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Client

#43325 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#43326 [Event Hubs] Fix stress references for release
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Azure.Messaging.EventHubs.Stress.csproj
Labels: Event Hubs, Client

#43252 Add custom build tag for canary validation runs
  eng/pipelines/templates/stages/1es-redirect.yml
Labels: Central-EngSys

#43323 [AppConfigutation] Updating swagger specification to point to the main branch
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/autorest.md
Labels: Client, App Configuration

#43330 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
Labels: Event Hubs

#43307 [Search] Update recordings
  sdk/search/Azure.Search.Documents/assets.json
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchTestBase.cs
Labels: Search

#43329 Sync eng/common directory with azure-sdk-tools for PR 8019
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#43332 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#43333 Sync eng/common directory with azure-sdk-tools for PR 8062
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#43331 [Event Hubs] Post-release updates
  eng/Packages.Data.props
Labels: Event Hubs, Client

#41624 [ACS][Chat] Add File Sharing
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/assets.json
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
  sdk/communication/Azure.Communication.Chat/src/ChatClientOptions.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/ChatThreadRestClient.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/ChatAttachmentType.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CommunicationIdentifierModel.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CommunicationIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/CommunicationIdentifierModelKind.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/MicrosoftTeamsAppIdentifierModel.Serialization.cs
  sdk/communication/Azure.Communication.Chat/src/Generated/Models/MicrosoftTeamsAppIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/Models/MicrosoftTeamsAppIdentifierModel.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
Labels: Communication - Chat

#42822 Files OAuth Full Data Plane Support
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#43264 [AppService] Fix issue 41218
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/assets.json
  sdk/websites/Azure.ResourceManager.AppService/src/Customization/RestOperations/WebAppsRestOperations.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/RestOperations/WebAppsRestOperations.cs
  sdk/websites/Azure.ResourceManager.AppService/tests/TestsCase/AppServiceConfigurationDictionaryTest.cs
Labels: Mgmt

#43338 Revert "Files OAuth Full Data Plane Support (#42822)"
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#43345 Increment version for webpubsub releases
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebPubSub.AspNetCore/src/Microsoft.Azure.WebPubSub.AspNetCore.csproj
Labels: WebPubSub

#42836 [Communication]-Sms-Added optional DeliveryReportTimeoutInSeconds to smsSendOptions
  sdk/communication/Azure.Communication.Sms/CHANGELOG.md
  sdk/communication/Azure.Communication.Sms/README.md
  sdk/communication/Azure.Communication.Sms/api/Azure.Communication.Sms.netstandard2.0.cs
  sdk/communication/Azure.Communication.Sms/assets.json
  sdk/communication/Azure.Communication.Sms/samples/Sample1_SendSms.md
  sdk/communication/Azure.Communication.Sms/samples/Sample1_SendSmsAsync.md
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/SmsSendOptions.Serialization.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/Models/SmsSendOptions.cs
  sdk/communication/Azure.Communication.Sms/src/Generated/SmsRestClient.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClient.cs
  sdk/communication/Azure.Communication.Sms/src/SmsClientOptions.cs
  sdk/communication/Azure.Communication.Sms/src/autorest.md
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTestBase.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientLiveTests.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsClientTest.cs
  sdk/communication/Azure.Communication.Sms/tests/SmsRestClientTest.cs
  sdk/communication/Azure.Communication.Sms/tests/samples/Sample1_SmsClient.cs
Labels: Communication - SMS

#43347 Update AutoRest C# version to 3.0.0-beta.20240411.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/openai/Azure.AI.OpenAI.Assistants/src/Generated/AssistantsClient.cs
Labels: OpenAI

#43246 Search readme update: removing reference to high dimensional space per customer feedback
  sdk/search/Azure.Search.Documents/README.md
  sdk/search/Azure.Search.Documents/samples/Sample05_IndexingDocuments.md
  sdk/search/Azure.Search.Documents/samples/Sample06_EncryptedIndex.md
  sdk/search/Azure.Search.Documents/samples/Sample07_VectorSearch.md
Labels: Search, customer-reported, Community Contribution

#43354 API tweaks based on archboard feedback
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/api/Azure.Messaging.EventGrid.Namespaces.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/EventGridClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Customization/PublishResult.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/PublishResult.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/PublishResult.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/tests/Samples_EventGridClient.cs
Labels: Event Grid

#43312 Exclude successful response content from the message of RequestFailedException
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Pipeline/RequestFailedDetailsParser.cs
  sdk/core/Azure.Core/src/RequestFailedException.cs
  sdk/core/Azure.Core/tests/FailedResponseExceptionTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CleanUpTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadTestBase.cs
Labels: Azure.Core

#43361 [ACS][Chat] Add File Sharing (#41624)
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/api/Azure.Communication.Chat.netstandard2.0.cs
  sdk/communication/Azure.Communication.Chat/src/ChatClientOptions.cs
  sdk/communication/Azure.Communication.Chat/src/ChatThreadClient.cs
  sdk/communication/Azure.Communication.Chat/src/autorest.md
Labels: Communication - Chat

#43365 Increment version for openai releases
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
Labels: OpenAI

#43357 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Azure.Messaging.EventGrid.Namespaces.csproj
Labels: Event Grid

#43318 [Storage] [DataMovement] Change BlobStorageResourceOptions back to Access Tier; Ensure Access Tier preserved
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobDestinationCheckpointData.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobDestinationCheckpointDataTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/RehydrateBlobResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Resources/BlobDestinationCheckpointData.2.bin
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareFileToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement/assets.json
  sdk/storage/Azure.Storage.DataMovement/tests/BlockBlobStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StartTransferSyncCopyDirectoryTests.cs
Labels: Storage

#43390 [ACS][JobRouter] Prerelease 1.1.0
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
Labels: Communication

#43393 Increment version for communication releases
  sdk/communication/Azure.Communication.JobRouter/CHANGELOG.md
  sdk/communication/Azure.Communication.JobRouter/src/Azure.Communication.JobRouter.csproj
Labels: Communication

#43259 Fix serialization bug for sdk maps search
  sdk/maps/Azure.Maps.Search/api/Azure.Maps.Search.netstandard2.0.cs
  sdk/maps/Azure.Maps.Search/src/Models/AddressDetails.cs
  sdk/maps/Azure.Maps.Search/src/Models/SearchAddressResult.cs
  sdk/maps/Azure.Maps.Search/src/Models/SearchAddressResultItem.cs
  sdk/maps/Azure.Maps.Search/src/Models/SearchSummary.cs
Labels: customer-reported, Community Contribution, Maps

#43201 Forward color information for pushpins correctly
  sdk/maps/Azure.Maps.Rendering/src/Models/ImagePushpinStyle.cs
  sdk/maps/Azure.Maps.Rendering/tests/ImagePushpinStyleTests.cs
Labels: customer-reported, Community Contribution, Maps

#43182 Regenerate code with the latest spec
  sdk/maps/Azure.Maps.Geolocation/src/Generated/GeolocationRestClient.cs
  sdk/maps/Azure.Maps.Geolocation/src/MapsGeolocationClient.cs
  sdk/maps/Azure.Maps.Geolocation/src/autorest.md
  sdk/maps/Azure.Maps.Rendering/src/Generated/Models/MapTileIndex.cs
  sdk/maps/Azure.Maps.Rendering/src/Generated/RenderRestClient.cs
  sdk/maps/Azure.Maps.Rendering/src/MapsRenderingClient.cs
  sdk/maps/Azure.Maps.Rendering/src/Models/MapTileIndex.cs
  sdk/maps/Azure.Maps.Rendering/src/Models/Options/GetMapTileOptions.cs
  sdk/maps/Azure.Maps.Rendering/src/autorest.md
  sdk/maps/Azure.Maps.Routing/src/Generated/MapsRoutingModelFactory.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/ResponseSectionType.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/RouteDirectionParameters.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/RouteInstruction.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/RouteLegSummary.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/RouteSummary.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/Models/SectionType.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/RouteGetRouteDirectionsBatchHeaders.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/RouteGetRouteMatrixHeaders.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/RouteRequestRouteDirectionsBatchHeaders.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/RouteRequestRouteMatrixHeaders.cs
  sdk/maps/Azure.Maps.Routing/src/Generated/RouteRestClient.cs
  sdk/maps/Azure.Maps.Routing/src/MapsRoutingClient.cs
  sdk/maps/Azure.Maps.Routing/src/Models/Options/RouteDirectionOptions.cs
  sdk/maps/Azure.Maps.Routing/src/Models/Options/RouteMatrixOptions.cs
  sdk/maps/Azure.Maps.Routing/src/Models/Options/RouteRangeOptions.cs
  sdk/maps/Azure.Maps.Routing/src/Models/RouteSummary.cs
  sdk/maps/Azure.Maps.Routing/src/autorest.md
Labels: customer-reported, Community Contribution, Maps

#43269 [Monitor] Fix for issue #43151
  sdk/monitor/Azure.ResourceManager.Monitor/CHANGELOG.md
  sdk/monitor/Azure.ResourceManager.Monitor/assets.json
  sdk/monitor/Azure.ResourceManager.Monitor/src/Customized/Models/EventDataInfo.Serialization.cs
  sdk/monitor/Azure.ResourceManager.Monitor/src/Generated/Models/EventDataInfo.Serialization.cs
  sdk/monitor/Azure.ResourceManager.Monitor/tests/TestCase/ActivityLogsTests.cs
Labels: Mgmt

#43385 [CallingServer] Fixing new teams app identifier model
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CommunicationIdentifierModel.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CommunicationIdentifierModel.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MicrosoftTeamsAppIdentifierModel.Serialization.cs
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/MicrosoftTeamsAppIdentifierModel.cs
  sdk/communication/Azure.Communication.CallingServer/src/Models/MicrosoftTeamsAppIdentifierModel.cs
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
Labels: Communication - Calling Server

#43424 update readme typo
  sdk/communication/Azure.Communication.CallAutomation/README.md
Labels: Communication

#43427 STG 93 beta release prep
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#43389 [Chat] Updated Release Date and Swagger Hash
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/autorest.md
Labels: Communication - Chat

#43384 [LiveMetrics] update process metrics
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/LiveMetricConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
Labels: Monitor - LiveMetrics

#43383 Sync eng/common directory with azure-sdk-tools for PR 8076
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#43437 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#43426 [ACS][ServerCalling] enum updated
  sdk/communication/Azure.Communication.CallingServer/src/Generated/Models/CommunicationIdentifierModelKind.cs
  sdk/communication/Azure.Communication.CallingServer/src/Swagger/2022-04-07.json
Labels: Communication - Calling Server

#43262 [ApiManagement] Fix for issue #42865
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/CHANGELOG.md
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/api/Azure.ResourceManager.ApiManagement.netstandard2.0.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/assets.json
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/samples/Generated/Samples/Sample_ApiCollection.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/samples/Generated/Samples/Sample_ApiResource.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/ArmApiManagementModelFactory.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/Models/ApiCreateOrUpdateContent.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/Models/ApiData.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/Models/ApiEntityBaseContract.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/Models/ApiPatch.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/Models/GatewayApiData.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Customized/Models/ProductApiData.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/ApiData.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/ApiData.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/ArmApiManagementModelFactory.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ApiCreateOrUpdateContent.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ApiCreateOrUpdateContent.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ApiEntityBaseContract.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ApiEntityBaseContract.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ApiPatch.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ApiPatch.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/AssociatedApiProperties.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/AssociatedApiProperties.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/GatewayApiData.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/GatewayApiData.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ProductApiData.Serialization.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Generated/Models/ProductApiData.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/autorest.md
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/tests/Scenario/ApiCollectionTests.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/tests/Scenario/ApiDiagnosticCollectionTests.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/tests/Scenario/ApiSchemaTests.cs
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/tests/Unit/ArmApiManagementModelFactoryTests.cs
Labels: Mgmt

#43442 Increment version for webpubsub releases
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.ResourceManager.WebPubSub/src/Azure.ResourceManager.WebPubSub.csproj
Labels: Mgmt

#43435 Increment version for communication releases
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
  sdk/communication/Azure.Communication.Chat/src/Azure.Communication.Chat.csproj
Labels: Communication - Chat

#43438 [AppConfiguration] Bug fix: GetConfigurationSetting logs 304 as failures
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/assets.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClient.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/tests/ConfigurationLiveTests.cs
Labels: Client, Cognitive - Form Recognizer

#43445 Update MSAL dependencies
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
Labels: Azure.Identity

#43450 Extensions release prep
  eng/Packages.Data.props
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#43451 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
Labels: Azure.Identity

#42686 Implement LRO rehydration with static method
  sdk/core/Azure.Core.TestFramework/src/MockJsonModel.cs
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/Azure.Core/src/Internal/GenericOperationSource.cs
  sdk/core/Azure.Core/src/Internal/RehydrationOperation.cs
  sdk/core/Azure.Core/src/Internal/RehydrationOperationOfT.cs
  sdk/core/Azure.Core/src/Operation.cs
  sdk/core/Azure.Core/src/RehydrationToken.Serialization.cs
  sdk/core/Azure.Core/src/RehydrationToken.cs
  sdk/core/Azure.Core/src/Shared/NextLinkOperationImplementation.cs
  sdk/core/Azure.Core/src/Shared/OperationInternal.cs
  sdk/core/Azure.Core/src/Shared/OperationInternalOfT.cs
  sdk/core/Azure.Core/src/Shared/OperationPoller.cs
  sdk/core/Azure.Core/tests/Azure.Core.Tests.csproj
  sdk/core/Azure.Core/tests/NextLinkOperationImplementationTests.cs
  sdk/core/Azure.Core/tests/OperationTests.cs
  sdk/core/Azure.Core/tests/RehydrationTokenTests.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientResultTests.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockJsonModel.cs
Labels: Azure.Core

#43457 Sync eng/common directory with azure-sdk-tools for PR 8110
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#43454 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#43275 Structured Message: DataLake Append
  sdk/storage/Azure.Storage.Common/tests/Shared/TransferValidationTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/FileSystemRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathAppendDataHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/PathUpdateHeaders.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/autorest.md
  sdk/storage/Azure.Storage.Files.DataLake/tests/Azure.Storage.Files.DataLake.Tests.csproj
Labels: Storage

#43471 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
Labels: Extensions

#43472 [Messaging Functions Extensions] Release Prep for April 2024
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/CHANGELOG.md
  sdk/eventgrid/Microsoft.Azure.WebJobs.Extensions.EventGrid/src/Microsoft.Azure.WebJobs.Extensions.EventGrid.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Client, Functions

#43474 Prep for Identity preview release
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#43476 Increment version for eventhub releases
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/CHANGELOG.md
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Functions

#43478 Increment version for tables releases
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/CHANGELOG.md
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Tables

#43477 Increment version for servicebus releases
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/CHANGELOG.md
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
Labels: Service Bus, Functions

#43475 Update Chat changelog for beta 3.0-1
  sdk/communication/Azure.Communication.Chat/CHANGELOG.md
Labels: Communication - Chat

#43480 Prep for Storage WebJobs GA release
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#43255 [LiveMetricsExporter] Add Filtering Support part 8 - Apply filter in sample telemetry panel
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/CollectionConfiguration.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/DocumentStream.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/Filter.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Filtering/QuickPulseQuotaTracker.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.Metrics.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/Internals/Manager.RestClient.cs
Labels: Monitor - LiveMetrics

#43359 Disable self-logging and self-tracing in Azure Monitor distro, exporter, and livemetrics
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/AzureSdkLoggingTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.LiveMetrics/src/LiveMetricsExporterOptions.cs
Labels: Monitor - Exporter, Monitor - Distro, Monitor - LiveMetrics

#43486 [AzureMonitorDistro] nullable enable
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/DefaultAzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/AzureSdkCompat/AzureEventSourceLogForwarder.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/Profiling/ProfilingSessionEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Internals/Profiling/ProfilingSessionTraceProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientInstrumentationEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetaDataRequestor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/DiagnosticSourceListener.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/DiagnosticSourceSubscriber.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/DiagnosticSourceInstrumentation/PropertyFetcher.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ExceptionExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/Guard.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/ResourceSemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SemanticConventions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Vendoring/Shared/SpanAttributeConstants.cs
Labels: Monitor - Distro

#43487 Increment version for communication releases
  sdk/communication/Azure.Communication.Rooms/CHANGELOG.md
  sdk/communication/Azure.Communication.Rooms/src/Azure.Communication.Rooms.csproj
Labels: Communication - Rooms

#43488 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#43473 Increment version for search releases
  sdk/search/Azure.ResourceManager.Search/CHANGELOG.md
  sdk/search/Azure.ResourceManager.Search/src/Azure.ResourceManager.Search.csproj
Labels: Mgmt

#43239 Set non alpha version in package properties file
  eng/pipelines/templates/jobs/ci.yml
Labels: Central-EngSys

#43508 Updated WebJobs release date
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
Labels: Storage

#43512 Sync eng/common directory with azure-sdk-tools for PR 8126
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#43514 [AzureMonitorDistro] Rewire Live Metrics with logs support.
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetrics/Manager.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetricsExporterOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/LiveMetricsExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/E2EAzureMonitorDistroTests.cs
Labels: Monitor - Distro

#43516 [AzureMonitorDistro] fix livemetrics demo and wire up logs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Properties/AssemblyInfo.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.LiveMetrics.Demo/Program.cs
Labels: Monitor - Distro

#43515 Corrected Storage service.projects
  sdk/storage/service.projects
Labels: Storage

#43518 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#43494 [App Service] Fix for issue #43295
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/api/Azure.ResourceManager.AppService.netstandard2.0.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/TriggeredWebJobStatus.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Generated/Models/TriggeredWebJobStatus.cs
  sdk/websites/Azure.ResourceManager.AppService/src/autorest.md
Labels: Mgmt

#43528 Increment version for websites releases
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Azure.ResourceManager.AppService.csproj
Labels: Mgmt

#43524 [AzureMonitorDistro] Add LiveMetricsActivityProcessor only when live metrics is enabled
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/OpenTelemetryBuilderExtensions.cs
Labels: Monitor - Distro

#43534 [AzureMonitorDistro] prep release 1.2.0-beta.3
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
Labels: Monitor - Distro

#43535 Sync .github/workflows directory with azure-sdk-tools for PR 8131
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#43513 Fix ConfidentialClient's AcquireTokenSilent and AcquireTokenOnBehalfOf claims logic
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/MsalConfidentialClient.cs
  sdk/identity/Azure.Identity/tests/AuthorizationCodeCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
  sdk/identity/Azure.Identity/tests/CredentialTestBase.cs
  sdk/identity/Azure.Identity/tests/Mock/MockScopes.cs
Labels: Azure.Identity

#43537 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#43538 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#43539 [EngSys] Update central Core version
  eng/Packages.Data.props
Labels: Client, EngSys

#43542 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
Labels: Azure.Identity

#43545 ModelsRepository. Update Changelog for release
  sdk/modelsrepository/Azure.IoT.ModelsRepository/CHANGELOG.md
Labels: IoT

#43554 [ApiManagement] Preparing to release for issue #42865
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/CHANGELOG.md
Labels: Mgmt

#43562 Increment version for apimanagement releases
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/CHANGELOG.md
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/Azure.ResourceManager.ApiManagement.csproj
Labels: Mgmt

#43243 Clarified CanGenerateSasUri docs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClient.cs
Labels: Storage

#43570 Increment version for modelsrepository releases
  sdk/modelsrepository/Azure.IoT.ModelsRepository/CHANGELOG.md
  sdk/modelsrepository/Azure.IoT.ModelsRepository/src/Azure.IoT.ModelsRepository.csproj
Labels: IoT
