Repository Azure/azure-sdk-for-net, pull requests merged in 2025-10, with the labels that each got.

#52950 Use composition and not inheritance
  sdk/ai/Azure.AI.VoiceLive/api/Azure.AI.VoiceLive.net8.0.cs
  sdk/ai/Azure.AI.VoiceLive/api/Azure.AI.VoiceLive.netstandard2.0.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/VoiceLiveSessionResponse.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/VoiceLiveSessionResponse.Serialization.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/VoiceLiveSessionResponse.cs
  sdk/ai/Azure.AI.VoiceLive/tsp-location.yaml
Labels: Voice Live

#52956 Final cleanup
  sdk/ai/Azure.AI.VoiceLive/api/Azure.AI.VoiceLive.net8.0.cs
  sdk/ai/Azure.AI.VoiceLive/api/Azure.AI.VoiceLive.netstandard2.0.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/AzureCustomVoice.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/AzurePersonalVoice.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/AzureStandardVoice.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/OpenAIVoice.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/SessionResponse.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/UnknownAzureVoice.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/VoiceProvider.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionResponse.Serialization.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionResponse.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateConversationItemCreated.Serialization.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateConversationItemCreated.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateConversationItemInputAudioTranscriptionCompleted.Serialization.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateConversationItemInputAudioTranscriptionCompleted.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateConversationItemTruncated.Serialization.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateConversationItemTruncated.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateInputAudioBufferSpeechStarted.Serialization.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionUpdateInputAudioBufferSpeechStarted.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/VoiceLiveModelFactory.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/VoiceLiveSessionOptions.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/VoiceLiveSessionResponse.cs
  sdk/ai/Azure.AI.VoiceLive/tsp-location.yaml
Labels: Voice Live

#52959 Remove object property
  sdk/ai/Azure.AI.VoiceLive/api/Azure.AI.VoiceLive.net8.0.cs
  sdk/ai/Azure.AI.VoiceLive/api/Azure.AI.VoiceLive.netstandard2.0.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/SessionResponse.cs
  sdk/ai/Azure.AI.VoiceLive/src/Customizations/SessionResponseItem.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/ResponseFunctionCallItem.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/ResponseFunctionCallOutputItem.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionResponse.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionResponseItem.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/SessionResponseMessageItem.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/UnknownSessionResponseItem.cs
  sdk/ai/Azure.AI.VoiceLive/src/Generated/VoiceLiveModelFactory.cs
  sdk/ai/Azure.AI.VoiceLive/tsp-location.yaml
Labels: Voice Live

#52955 Sync eng/common directory with azure-sdk-tools for PR 12293
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#52961 Added STG 101 service version
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTestBase.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobsClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.net8.0.cs
  sdk/storage/Azure.Storage.Common/api/Azure.Storage.Common.netstandard2.0.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs
  sdk/storage/Azure.Storage.Common/tests/CommonTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net8.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeClientOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.net8.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.0.cs
  sdk/storage/Azure.Storage.Queues/api/Azure.Storage.Queues.netstandard2.1.cs
  sdk/storage/Azure.Storage.Queues/src/QueueClientOptions.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTestFixtureAttribute.cs
Labels: Storage

#52964 Increment version for ai releases
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
Labels: AI Model Inference, AI Projects

#52972 [Event Hubs] Storage breaking change fix
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
Labels: Event Hubs, Client

#52415 Add support for read receipt and typing indicator
  sdk/communication/Azure.Communication.Messages/CHANGELOG.md
  sdk/communication/Azure.Communication.Messages/api/Azure.Communication.Messages.net8.0.cs
  sdk/communication/Azure.Communication.Messages/api/Azure.Communication.Messages.netstandard2.0.cs
  sdk/communication/Azure.Communication.Messages/assets.json
  sdk/communication/Azure.Communication.Messages/src/Generated/CommunicationMessagesClientOptions.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/CommunicationMessagesModelFactory.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/Docs/NotificationMessagesClient.xml
  sdk/communication/Azure.Communication.Messages/src/Generated/Models/AzureCommunicationMessagesContext.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/NotificationMessagesClient.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/ReadReceiptContent.Serialization.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/ReadReceiptContent.cs
  sdk/communication/Azure.Communication.Messages/tests/Generated/Samples/Samples_NotificationMessagesClient.cs
  sdk/communication/Azure.Communication.Messages/tsp-location.yaml
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#52916 Key Vault 2025-07-01
  sdk/keyvault/Azure.Security.KeyVault.Administration/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.net8.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/api/Azure.Security.KeyVault.Administration.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultRestClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAdministrationClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tests/AdministrationTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/tsp-location.yaml
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.net8.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/api/Azure.Security.KeyVault.Certificates.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/DownloadCertificateOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/SubjectAlternativeNames.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificateClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatePolicyTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/CertificatesTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Certificates/tests/SubjectAlternativeNamesTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.net8.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/api/Azure.Security.KeyVault.Keys.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/KeysTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmCryptographyClientLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/ManagedHsmLiveTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Secrets/api/Azure.Security.KeyVault.Secrets.net8.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/api/Azure.Security.KeyVault.Secrets.netstandard2.0.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClientOptions.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretContentType.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretModelFactory.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretProperties.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretPropertiesTests.cs
  sdk/keyvault/Azure.Security.KeyVault.Secrets/tests/SecretsTestBase.cs
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/KeyVaultPipeline.cs
Labels: KeyVault

#52976 Update changelog for stable release
  sdk/ai/Azure.AI.VoiceLive/CHANGELOG.md
  sdk/ai/Azure.AI.VoiceLive/README.md
  sdk/ai/Azure.AI.VoiceLive/src/Azure.AI.VoiceLive.csproj
Labels: Voice Live

#52945 Sync eng/common directory with azure-sdk-tools for PR 12267
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#52983 [CODEOWNERS] Remove invalid owner
  .github/CODEOWNERS
Labels: Client, EngSys

#52966 Sync eng/common directory with azure-sdk-tools for PR 10858
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#52993 Sync eng/common directory with azure-sdk-tools for PR 12325
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#52997 Increment version for ai releases
  sdk/ai/Azure.AI.VoiceLive/CHANGELOG.md
  sdk/ai/Azure.AI.VoiceLive/src/Azure.AI.VoiceLive.csproj
Labels: Voice Live

#52986 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20251002.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/ClientBuilderExtensionsDefinition.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/usage/src/Generated/Models/_Specs_AzureClientGeneratorCoreUsageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/usage/src/Generated/OrphanModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/usage/src/Generated/OrphanModel.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/usage/src/Generated/_Specs_AzureClientGeneratorCoreUsageModelFactory.cs
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#52720 [AzureMonitorExporter] Add OTEL_TRACES_SAMPLER support to Exporter and AspNetCore distro
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/AzureMonitorAspNetCoreEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/DefaultAzureMonitorOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/tests/Azure.Monitor.OpenTelemetry.AspNetCore.Tests/DefaultAzureMonitorOptionsSamplerTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/DefaultAzureMonitorExporterOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Platform/EnvironmentVariableConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/AddAzureMonitorTraceExporterSamplerTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/DefaultAzureMonitorExporterOptionsTests.cs
Labels: Monitor - Exporter, Monitor - Distro

#52705 [AzureMonitorExporter] Add Performance Counter Support
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/PerfCounterConstants.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/StandardMetricsExtractionProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/StandardMetricTests.cs
Labels: Monitor - Exporter

#53014 Sync eng/common directory with azure-sdk-tools for PR 12337
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Labels: EngSys, Central-EngSys

#53028 Add triggering paths to catch ci errors
  sdk/extensions/ci.yml
Labels: Extensions

#53035 Fix mocks to use new 4 param overload for getting a secret
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/tests/AzureKeyVaultConfigurationTests.cs
Labels: Extensions

#53009 [Changelogs] Contributor acknowledgments
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
Labels: Service Bus, Client, Azure.Core

#52780 Azure.Communication.Email 1.1.0 - 2025-09-01
  sdk/communication/Azure.Communication.Email/CHANGELOG.md
  sdk/communication/Azure.Communication.Email/api/Azure.Communication.Email.net8.0.cs
  sdk/communication/Azure.Communication.Email/api/Azure.Communication.Email.netstandard2.0.cs
  sdk/communication/Azure.Communication.Email/assets.json
  sdk/communication/Azure.Communication.Email/src/EmailClientOptions.cs
  sdk/communication/Azure.Communication.Email/src/Models/EmailSendStatus.cs
  sdk/communication/Azure.Communication.Email/src/autorest.md
  sdk/communication/Azure.Communication.Email/tests/EmailClientLiveTests.cs
  sdk/communication/Azure.Communication.Email/tests/Samples/Sample1_EmailClientAsync.cs
Labels: Communication

#52791 Mrw reflection collection
  sdk/core/System.ClientModel/api/System.ClientModel.net8.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net9.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/JsonModelConverter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ModelReaderWriterReflectionContext.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ReflectionArrayBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ReflectionCollectionBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ReflectionDictionaryBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ReflectionModelBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ReflectionReadOnlyCollectionBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ReflectionReadOnlyDictionaryBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/Reflection/ReflectionReadOnlyMemoryBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ReflectionContext.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ReflectionModelBuilder.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/ModelReaderWriterGeneralTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/CustomCollectionTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/DictionaryIntKeyTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableArrayTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableDictionaryTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableHashSetTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableListTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableQueueTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableSortedDictionaryTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableSortedSetTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableStackTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ListOfCustomCollectionTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/MixedListTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/NonGenericListTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/SortedSetTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/MrwCollectionTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/MrwModelTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/MrwTestBase.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/RoundTripStrategy.cs
  sdk/core/System.ClientModel/tests/client/TestData/ResourceProviderData/ResourceProviderData-TwoSpaces.json
  sdk/openai/Azure.AI.OpenAI/src/Custom/Assistants/AzureAssistantClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureAIOpenAIContext.Custom.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileExpirationOptions.Serialization.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileExtensions.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/FineTuning/AzureFineTuningClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/VectorStores/AzureVectorStoreClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Utility/CustomSerializationHelpers.cs
Labels: Azure.Core

#53053 Sync eng/common directory with azure-sdk-tools for PR 11692
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#53055 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20251007.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#53062 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity
