Repository Azure/azure-sdk-for-net, pull requests merged in 2025-08, with the labels that each got.

#51594 [AutoPR Azure.ResourceManager.StorageDiscovery]-generated-from-SDK Generation - .NET-5162317
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/Azure.ResourceManager.StorageDiscovery.sln
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/CHANGELOG.md
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/Directory.Build.props
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/README.md
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/api/Azure.ResourceManager.StorageDiscovery.net8.0.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/api/Azure.ResourceManager.StorageDiscovery.netstandard2.0.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/assets.json
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Azure.ResourceManager.StorageDiscovery.csproj
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/ArmStorageDiscoveryModelFactory.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Extensions/MockableStorageDiscoveryArmClient.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Extensions/MockableStorageDiscoveryResourceGroupResource.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Extensions/MockableStorageDiscoverySubscriptionResource.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Extensions/StorageDiscoveryExtensions.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Internal/Argument.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Internal/ChangeTrackingDictionary.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Internal/ChangeTrackingList.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Internal/Optional.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Internal/Utf8JsonRequestContent.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/LongRunningOperation/StorageDiscoveryArmOperation.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/LongRunningOperation/StorageDiscoveryArmOperationOfT.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/AzureResourceManagerStorageDiscoveryContext.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryProvisioningState.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryResourceType.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryScope.Serialization.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryScope.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoverySku.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspaceListResult.Serialization.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspaceListResult.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspacePatch.Serialization.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspacePatch.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspaceProperties.Serialization.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspaceProperties.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspacePropertiesUpdate.Serialization.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/Models/StorageDiscoveryWorkspacePropertiesUpdate.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/ProviderConstants.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/RestOperations/StorageDiscoveryWorkspacesRestOperations.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/StorageDiscoveryWorkspaceCollection.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/StorageDiscoveryWorkspaceData.Serialization.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/StorageDiscoveryWorkspaceData.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/StorageDiscoveryWorkspaceResource.Serialization.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Generated/StorageDiscoveryWorkspaceResource.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/src/Properties/AssemblyInfo.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/tests/Azure.ResourceManager.StorageDiscovery.Tests.csproj
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/tests/Generated/Samples/Sample_StorageDiscoveryWorkspaceCollection.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/tests/Generated/Samples/Sample_StorageDiscoveryWorkspaceResource.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/tests/StorageDiscoveryManagementTestBase.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/tests/StorageDiscoveryManagementTestEnvironment.cs
  sdk/storagediscovery/Azure.ResourceManager.StorageDiscovery/tsp-location.yaml
  sdk/storagediscovery/ci.yml
Labels: Storage, Mgmt

#51606 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: Mgmt

#51625 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: Mgmt

#51573 [Network] Fix for issue #51467
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Customization/Models/ManagedRuleSetRuleGroup.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/Models/ManagedRuleSetRuleGroup.Serialization.cs
  sdk/network/Azure.ResourceManager.Network/tests/Azure.ResourceManager.Network.Tests.csproj
  sdk/network/Azure.ResourceManager.Network/tests/TestData/ManagedRuleSetRuleGroup.json
  sdk/network/Azure.ResourceManager.Network/tests/Tests/UnitTest.cs
Labels: Mgmt

#51600 Prepend PR name to known models
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Visitors/NameVisitor.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/NameVisitorTests.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/MgmtTypeSpecContext.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/MgmtTypeSpecPrivateLinkResourceProperties.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/MgmtTypeSpecPrivateLinkResourceProperties.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLink.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLink.cs
Labels: Mgmt, CodeGen

#51628 Generate serialization AOT-compatible
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementTypeFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ModelSerializationExtensionsSnippets.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarSettingsData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooSettingsData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLink.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooAddressListListResult.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooData.Serialization.cs
Labels: Mgmt, CodeGen

#51633 Adopt resiliency spector scenarios
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Resiliency/SrvDriven/V1/SrvDrivenV1Tests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Resiliency/SrvDriven/V2/SrvDrivenV2Tests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/Resiliency.SrvDriven.V1.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/src/Generated/Models/ResiliencySrvDrivenV1Context.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/src/Generated/ResiliencyServiceDrivenClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/src/Generated/ResiliencyServiceDrivenClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/src/Generated/ResiliencySrvDrivenV1ClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/src/Resiliency.SrvDriven.V1.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/tspCodeModel.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v1/tspconfig.yaml
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/Resiliency.SrvDriven.V2.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/src/Generated/Models/ResiliencySrvDrivenV2Context.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/src/Generated/ResiliencyServiceDrivenClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/src/Generated/ResiliencyServiceDrivenClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/src/Generated/ResiliencySrvDrivenV2ClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/src/Resiliency.SrvDriven.V2.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/tspCodeModel.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/resiliency/srv-driven/v2/tspconfig.yaml
Labels: Client, CodeGen

#51636 [CODEOWNERS] Minor ownership and formatting updates
  .github/CODEOWNERS
Labels: Client, EngSys

#51583 [Storage] [Blobs] [Files] Added methods to create client with additional policies
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobClientOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Shared/BlobClientConfiguration.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClientOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#51657 Make `Azure.ResourceManager.Datadog` AOT-compatible
  sdk/datadog/Azure.ResourceManager.Datadog/CHANGELOG.md
  sdk/datadog/ci.mgmt.yml
Labels: Mgmt

#51577 feat(loadtestservice): added create test run logic for activity log
  sdk/loadtestservice/Azure.Developer.Playwright/src/Client/DeveloperPlaywrightClientBuilderExtensions.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Client/Internal/Argument.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Client/TestRunUpdateClient.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Client/TestRunUpdateClientOptions.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Constants.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Implementation/PlaywrightVersion.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Interface/IPlaywrightVersion.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Model/CIInfo.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Model/TestRunModel.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/PlaywrightServiceBrowserClient.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Utility/CIProvider.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Utility/ClientUtilities.cs
  sdk/loadtestservice/Azure.Developer.Playwright/tests/PlaywrightServiceBrowserClientTests.cs
  sdk/loadtestservice/Azure.Developer.Playwright/tests/TestUtilities.cs
  sdk/loadtestservice/Azure.Developer.Playwright/tests/Utility/CIProviderTests.cs
Labels: Load Test Service

#51679 docs(loadtestservice): updated old links
  sdk/loadtestservice/Azure.Developer.Playwright.MSTest/README.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/README.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/samples/Sample1_SimpleSetup.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/tests/samples/Sample1_SimpleSetup.cs
  sdk/loadtestservice/Azure.Developer.Playwright/README.md
  sdk/loadtestservice/Azure.Developer.Playwright/src/Constants.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/PlaywrightServiceBrowserClient.cs
Labels: Load Test Service

#51651 Add deltas
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/RunStepDetailsUpdate.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/Models/AzureAIAgentsPersistentContext.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsModelFactory.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDelta.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaAzureAISearchToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaAzureAISearchToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaBingGroundingToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaBingGroundingToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaDeepResearchToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaDeepResearchToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaDetail.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaDetail.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaOpenAPIObject.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaOpenAPIObject.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaOpenAPIToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaOpenAPIToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCallObject.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/TestData/weather_openapi.json
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#51702 fix a typo in Management generator.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ManagementLongRunningOperationProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/LongRunningOperation/MgmtTypeSpecArmOperation.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/LongRunningOperation/MgmtTypeSpecArmOperationOfT.cs
Labels: Mgmt, CodeGen

#51699 Rename enum for known types
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Visitors/NameVisitor.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/NameVisitorTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/common/InputFactory.cs
Labels: Client, Mgmt, CodeGen

#51697 Add a resource data vs resource client provider map
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ManagementLongRunningOperationProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/GetIfExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/PageableOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ResourceOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/UpdateOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ResourceMethodSnippets.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ResponseSnippets.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/CSharpTypeExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/InputServiceMethodExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/OperationMethodParameterHelper.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceHelpers.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/ResourceCollectionClientProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_CreateOrUpdateAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_CreateOrUpdateOperationMethod.cs
Labels: Mgmt, CodeGen

#51318 Generating new SDKs for Microsoft.Dashboard 2024-11-01-preview after adding missing LRO header for Grafana_Update
  sdk/grafana/Azure.ResourceManager.Grafana/api/Azure.ResourceManager.Grafana.net8.0.cs
  sdk/grafana/Azure.ResourceManager.Grafana/api/Azure.ResourceManager.Grafana.netstandard2.0.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/ArmGrafanaModelFactory.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/ManagedGrafanaData.Serialization.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/ManagedGrafanaData.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/ManagedGrafanaResource.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/RestOperations/ManagedGrafanasRestOperations.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_ManagedGrafanaCollection.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_ManagedGrafanaResource.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tsp-location.yaml
Labels: Grafana

#51724 Sync eng/common directory with azure-sdk-tools for PR 10749
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#51725 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Ingestion/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Ingestion/src/Azure.Monitor.Ingestion.csproj
Labels: Monitor

#51714 Build getter and setter for safe flattened property
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Visitors/SafeFlattenVisitor.cs
Labels: Mgmt, CodeGen

#51741 remove one finished TODO comment.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ResourceMethodSnippets.cs
Labels: Mgmt, CodeGen

#51745 simplify implementation of `XXXMethodProvider`
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/GetIfExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/PageableOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ResourceOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/UpdateOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/CSharpTypeExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceHelpers.cs
Labels: Mgmt, CodeGen

#51755 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/src/Azure.Developer.Playwright.NUnit.csproj
  sdk/loadtestservice/Azure.Developer.Playwright/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.Playwright/src/Azure.Developer.Playwright.csproj
Labels: Load Test Service

#51752 refactor `RestClientInfo` stuff for preparation of non-resource operations in extension classes
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementInputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMetadata.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/RestClientInfo.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceMetadataExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/InputResourceData.cs
Labels: Mgmt, CodeGen

#51769 DM Lib patch release commit
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#51732 Sync eng/common directory with azure-sdk-tools for PR 11531
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#51785 Azure OpenAI: 2.3.0-beta.1 release for OpenAI 2.3.0 compatibility
  eng/Packages.Data.props
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/src/Custom/Audio/AzureAudioClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Batch/AzureBatchClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Embeddings/AzureEmbeddingClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Files/AzureFileClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Images/AzureImageClient.Protocol.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/VectorStores/AzureVectorStoreClient.Protocol.cs
Labels: OpenAI

#51739 Make `Azure.ResourceManager.PostgreSql` AOT-compatible
  sdk/postgresql/Azure.ResourceManager.PostgreSql/CHANGELOG.md
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/Azure.ResourceManager.PostgreSql.csproj
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSql/Custom/Models/PostgreSqlServerData.Serialization.cs
  sdk/postgresql/ci.mgmt.yml
Labels: Mgmt

#51794 Make `Azure.ResourceManager.Cdn` AOT-compatible
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/cdn/ci.mgmt.yml
Labels: Network - CDN

#51072 Migrate ElasticSan to typespec
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/assets.json
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ArmElasticSanModelFactory.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanData.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanPrivateEndpointConnectionCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanPrivateEndpointConnectionData.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanPrivateEndpointConnectionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanSnapshotCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanSnapshotResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/ElasticSanVolumeResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/ElasticSanExtensions.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/MockableElasticSanArmClient.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/MockableElasticSanResourceGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Extensions/MockableElasticSanSubscriptionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanList.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanList.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPatch.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPatch.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPrivateEndpointConnectionListResult.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPrivateEndpointConnectionListResult.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPrivateLinkResourceListResult.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanPrivateLinkResourceListResult.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanSkuInformationList.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanSkuInformationList.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanVolumeGroupList.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanVolumeGroupList.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanVolumeList.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/ElasticSanVolumeList.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/SnapshotList.Serialization.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/Models/SnapshotList.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/ElasticSanRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/ElasticSansRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/PrivateLinkResourcesRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/SkusRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/SnapshotsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumeGroupsRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/Generated/RestOperations/VolumesRestOperations.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/src/autorest.md.bak
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanPrivateEndpointConnectionCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanPrivateEndpointConnectionResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanSnapshotCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanSnapshotResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanVolumeCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanVolumeGroupCollection.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanVolumeGroupResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_ElasticSanVolumeResource.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/elasticsan/Azure.ResourceManager.ElasticSan/tsp-location.yaml
Labels: Mgmt

#51805 Increment version for postgresql releases
  sdk/postgresql/Azure.ResourceManager.PostgreSql/CHANGELOG.md
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/Azure.ResourceManager.PostgreSql.csproj
Labels: Mgmt

#51789 Sync eng/common directory with azure-sdk-tools for PR 11547
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#51817 [Identity] Prepare 1.15.0 release
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#51825 Remove project reference of Azure.Generator.Tests.Common, copy it to mgmt generator instead to avoid the csproject dependency
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management.sln
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Azure.Generator.Mgmt.Tests.csproj
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/Azure.Generator.Management.Tests.Common.csproj
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/BinaryDataAssert.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/Helpers.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/InputFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/ModelTestHelper.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/ModelTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/ProcessTracker.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/RoundTripStrategy.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/TestResponse.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/InputResourceData.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/NameVisitorTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/MgmtLroProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/OperationSourceProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/ResourceClientProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/ResourceCollectionClientProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TagMethodProviderTests.cs
Labels: Mgmt, CodeGen

#51824 Increment version for cdn releases
  sdk/cdn/Azure.ResourceManager.Cdn/CHANGELOG.md
  sdk/cdn/Azure.ResourceManager.Cdn/src/Azure.ResourceManager.Cdn.csproj
Labels: Network - CDN

#51867 Fix generated serialization
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementTypeFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLink.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooAddressListListResult.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooData.Serialization.cs
Labels: Mgmt, CodeGen

#51857 Make `Azure.ResourceManager.AppService` AOT-compatible
  sdk/websites/Azure.ResourceManager.AppService/CHANGELOG.md
  sdk/websites/Azure.ResourceManager.AppService/src/Azure.ResourceManager.AppService.csproj
  sdk/websites/Azure.ResourceManager.AppService/src/Customization/Models/AppCertificateData.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Customization/Models/AppCertificatePatch.Serialization.cs
  sdk/websites/Azure.ResourceManager.AppService/src/Customization/ProcessThreadInfo.Serialization.cs
  sdk/websites/ci.mgmt.yml
Labels: Mgmt

#51855 Make `Azure.ResourceManager.Compute` AOT-compatible
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineExtensionPatch.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetExtensionData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetExtensionPatch.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/Models/VirtualMachineScaleSetVmExtensionPatch.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/VirtualMachineExtensionData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/VirtualMachineScaleSetExtensionData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/VirtualMachineScaleSetVmExtensionData.cs
  sdk/compute/ci.mgmt.yml
Labels: Compute, Mgmt

#51858 Make `Azure.ResourceManager.ContainerInstance` AOT-compatible
  sdk/containerinstance/Azure.ResourceManager.ContainerInstance/CHANGELOG.md
  sdk/containerinstance/ci.mgmt.yml
Labels: Mgmt

#51864 Make `Azure.ResourceManager.ContainerRegistry` AOT-compatible
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.ResourceManager.ContainerRegistry/src/Azure.ResourceManager.ContainerRegistry.csproj
  sdk/containerregistry/ci.mgmt.yml
Labels: Container Registry, Mgmt

#51865 Make `Azure.ResourceManager.Network` AOT-compatible
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
  sdk/network/Azure.ResourceManager.Network/src/Customization/Models/ApplicationGatewayAvailableSslOptionsInfo.Serialization.cs
  sdk/network/ci.mgmt.yml
Labels: Network, Mgmt

#51866 Make `Azure.ResourceManager.MySql` AOT-compatible
  sdk/mysql/Azure.ResourceManager.MySql/CHANGELOG.md
  sdk/mysql/Azure.ResourceManager.MySql/src/Azure.ResourceManager.MySql.csproj
  sdk/mysql/Azure.ResourceManager.MySql/src/MySql/Custom/Models/MySqlServerData.Serialization.cs
  sdk/mysql/ci.mgmt.yml
Labels: Mgmt

#51856 Make `Azure.ResourceManager.AppContainers` AOT-compatible
  sdk/containerapps/Azure.ResourceManager.AppContainers/CHANGELOG.md
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Azure.ResourceManager.AppContainers.csproj
  sdk/containerapps/ci.mgmt.yml
Labels: Mgmt

#51854 Add `ListBySubscription` operations related emitter changes and some refactor
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-detection.ts
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-metadata.ts
  eng/packages/http-client-csharp-mgmt/emitter/test/non-resource-methods.test.ts
  eng/packages/http-client-csharp-mgmt/emitter/test/resource-detection.test.ts
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementInputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/NonResourceMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMetadata.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceMetadataExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/InputResourceData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecResourceGroupResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecSubscriptionResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/ZoosRestOperations.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetBySubscriptionAsyncCollectionResult.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetBySubscriptionAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetBySubscriptionCollectionResult.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetBySubscriptionCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/zoo.tsp
Labels: Mgmt, CodeGen

#51875 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: Mgmt

#51874 Increment version for containerapps releases
  sdk/containerapps/Azure.ResourceManager.AppContainers/CHANGELOG.md
  sdk/containerapps/Azure.ResourceManager.AppContainers/src/Azure.ResourceManager.AppContainers.csproj
Labels: Mgmt

#51374 Disable experimental warning for MrwContext types.
  sdk/core/System.ClientModel/gen/Model/TypeRef.cs
  sdk/core/System.ClientModel/gen/ModelReaderWriterContextGenerator.Emitter.cs
  sdk/core/System.ClientModel/gen/TypeSymbolTypeRefCache.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/Models/ExperimentalModel.cs
  sdk/core/System.ClientModel/tests/client/ModelReaderWriter/TestClientModelReaderWriterContext.cs
  sdk/core/System.ClientModel/tests/gen.unit/CompilationHelper.cs
  sdk/core/System.ClientModel/tests/gen.unit/ContextGeneratorTests.cs
  sdk/core/System.ClientModel/tests/gen/BasicContext.cs
  sdk/core/System.ClientModel/tests/gen/System.ClientModel.SourceGeneration.Tests.csproj
Labels: Azure.Core

#51885 Prepare for release
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#51887 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250811.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51888 register clientbuilderextension as non root type
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/ClientBuilderExtensionsDefinition.cs
Labels: Client, CodeGen

#51891 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#51897 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250811.4
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51294 Rate Limited Sampler : Part 1
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ApplicationInsightsSampler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/RateLimitedSampler.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/RateLimitedSamplingPercentage.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/SamplerUtils.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RateLimitedSamplerTests.cs
Labels: Monitor - Exporter

#50626 [Functions] Fix logging mismatches in tests
  eng/Packages.Data.props
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerBindingStrategy.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubApplicationInsightsTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/Microsoft.Azure.WebJobs.Extensions.EventHubs.Tests.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus.csproj
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/Microsoft.Azure.WebJobs.Extensions.ServiceBus.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/samples/functionapp/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.Samples.Function.App.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Common.Tests.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/samples/functionapp/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.Samples.Function.App.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests/tests/Microsoft.Azure.WebJobs.Extensions.Storage.Scenario.Tests.csproj
  sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/src/Microsoft.Azure.WebJobs.Extensions.Tables.csproj
Labels: Client, Functions

#51906 Add Azure framework type customization support
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/AzureTypeFactoryTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/TestHelpers/TestTypeFactory.cs
Labels: Client, CodeGen

#51879 fix regression in mockable resources
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecResourceGroupResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecSubscriptionResource.cs
Labels: Mgmt, CodeGen

#51871 Support generating listBySubscription methods
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMethodCategory.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/MockableArmClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/MockableResourceProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceMetadataExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecResourceGroupResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecSubscriptionResource.cs
Labels: Mgmt, CodeGen

#51924 Increment version for mysql releases
  sdk/mysql/Azure.ResourceManager.MySql/CHANGELOG.md
  sdk/mysql/Azure.ResourceManager.MySql/src/Azure.ResourceManager.MySql.csproj
Labels: Mgmt

#51929 Increment version for fleet releases
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/CHANGELOG.md
  sdk/fleet/Azure.ResourceManager.ContainerServiceFleet/src/Azure.ResourceManager.ContainerServiceFleet.csproj
Labels: Mgmt

#51908 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#51942 [Functions: Storage] Marking flaky tests as ignore
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/BinderTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueTriggerTests.cs
Labels: Storage

#51939 adding dtmf configuration options
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AzureCommunicationCallAutomationContext.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnectionPropertiesInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallConnectionPropertiesInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DtmfConfigurationOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/DtmfConfigurationOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MediaStreamingOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/MediaStreamingOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ResultInformation.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ResultInformation.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SipDiagnosticInfo.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/SipDiagnosticInfo.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionStatus.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionStatusDetails.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionUpdate.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/TranscriptionUpdate.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/UnknownDialog.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallConnectionProperties.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/ConnectCallResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateGroupCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/DtmfConfigurationOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/DtmfConfigurationOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/ResultInformation.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/SipDiagnosticInfo.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/TranscriptionUpdate.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/MediaStreamingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/EventProcessors/ResultWithEventProcessorAsyncTests.cs
Labels: Communication - Call Automation

#51952 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.Query/CHANGELOG.md
  sdk/monitor/Azure.Monitor.Query/src/Azure.Monitor.Query.csproj
Labels: Monitor - Query

#51961 Fix the client diagnostics value for pageable methods
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/PageableOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceHelpers.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Visitors/PaginationVisitor.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarsGetAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarsGetCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FoosGetAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FoosGetCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetBySubscriptionAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetBySubscriptionCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosZooAddressListAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosZooAddressListCollectionResultOfT.cs
Labels: Mgmt, CodeGen

#51962 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250813.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/AzureCollectionResultDefinition.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBody.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfT.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInBodyOfTAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeader.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderOfT.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ContinuationTokenTests/ContinuationTokenInHeaderOfTAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationToken.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfT.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/ListPageableTests/NoNextLinkOrContinuationTokenOfTAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBody.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfT.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfTAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyOfTWithStringProperty.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInBodyWithStringProperty.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeader.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderAsync.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfT.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/CollectionResultDefinitions/TestData/NextLinkTests/NextLinkInHeaderOfTAsync.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenAsyncCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenHeaderResponseAsyncCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenHeaderResponseAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenHeaderResponseCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithContinuationTokenHeaderResponseCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithHeaderNextLinkAsyncCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithHeaderNextLinkAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithHeaderNextLinkCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithHeaderNextLinkCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithNextLinkAsyncCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithNextLinkAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithNextLinkCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithNextLinkCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithPagingAsyncCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithPagingAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithPagingCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithPagingCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithStringNextLinkAsyncCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithStringNextLinkAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithStringNextLinkCollectionResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientGetWithStringNextLinkCollectionResultOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Azure/Core/Basic/BasicTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/BasicClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/overload/src/Generated/OverloadClient.cs
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51978 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250813.2
  eng/azure-typespec-http-client-csharp-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-emitter-package.json
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobDocumentsInternalAsyncCollectionResult.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobDocumentsInternalAsyncCollectionResultOfT.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobDocumentsInternalCollectionResult.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobDocumentsInternalCollectionResultOfT.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobsInternalAsyncCollectionResult.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobsInternalAsyncCollectionResultOfT.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobsInternalCollectionResult.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClientGetJobsInternalCollectionResultOfT.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleAssignmentsAsyncCollectionResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleAssignmentsAsyncCollectionResultOfT.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleAssignmentsCollectionResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleAssignmentsCollectionResultOfT.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleDefinitionsAsyncCollectionResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleDefinitionsAsyncCollectionResultOfT.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleDefinitionsCollectionResult.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClientGetRoleDefinitionsCollectionResultOfT.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaGroupsAsyncCollectionResult.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaGroupsAsyncCollectionResultOfT.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaGroupsCollectionResult.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaGroupsCollectionResultOfT.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaVersionsAsyncCollectionResult.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaVersionsAsyncCollectionResultOfT.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaVersionsCollectionResult.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/SchemaRegistryClientGetSchemaVersionsCollectionResultOfT.cs
Labels: KeyVault, Schema Registry, Health Deidentification

#51975 Update class-level XML docs for DefaultAzureCredential
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
Labels: Azure.Identity

#51983 fix bug in calling none long running upgrade method in AddTag method.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ResourceOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/AddTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/RemoveTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/SetTagsMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_AddTag.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_AddTagAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_RemoveTag.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_RemoveTagAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_SetTags.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_SetTagsAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/bar.tsp
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
Labels: Mgmt, CodeGen

#51989 fix issue in handling enum based rest client parameter.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/RequestPathPatternExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/bar.tsp
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarQuotaResource.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarQuotaResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarQuotaResourceCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarQuotaResourceData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarQuotaResourceData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecArmClient.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/LongRunningOperation/BarQuotaResourceOperationSource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/BarQuotaProperties.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/BarQuotaProperties.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/MgmtTypeSpecContext.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/QuotaName.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/BarQuotaOperationsRestOperations.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
Labels: Mgmt, CodeGen

#51991 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250814.1
  eng/azure-typespec-http-client-csharp-mgmt-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-mgmt-emitter-package.json
Labels: Batch, Mgmt, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Face, Cognitive - Translator, Confidential Ledger, Cognitive - Language, HybridConnectivity, Load Test Service, OpenAI, Cognitive - Health Insights, Image Analysis, Device Registry, Oracle, Cognitive - Content Safety, Defender EASM, Communication - Programmable Connectivity, AI Model Inference, Hardware Security Modules, Compute - Fleet, Container Orchestrator Runtime, Neon Postgres, AI Projects, Durable Task Scheduler, Database Watcher, Secret Store Extension, Online Experimentation, Arize AI, Weights & Biases, Pinecone, LambdaTest HyperExecute, PureStorage, Grafana, Planetary Computer, SiteManager

#51993 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250814.2
  eng/azure-typespec-http-client-csharp-mgmt-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-mgmt-emitter-package.json
Labels: Batch, Mgmt, Cognitive - Form Recognizer, Cognitive - Anomaly Detector, Cognitive - Face, Cognitive - Translator, Confidential Ledger, Cognitive - Language, HybridConnectivity, Load Test Service, OpenAI, Cognitive - Health Insights, Image Analysis, Device Registry, Oracle, Cognitive - Content Safety, Defender EASM, Communication - Programmable Connectivity, AI Model Inference, Hardware Security Modules, Compute - Fleet, Container Orchestrator Runtime, Neon Postgres, AI Projects, Durable Task Scheduler, Database Watcher, Secret Store Extension, Online Experimentation, Arize AI, Weights & Biases, Pinecone, LambdaTest HyperExecute, PureStorage, Grafana, Planetary Computer, SiteManager

#51999 Fix to namespace visitor where types were moved out of generated dir
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Visitors/NamespaceVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/NamespaceVisitorTests.cs
Labels: Client, CodeGen

#51984 Add custom bing search delta tool call.
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample25_PersistentAgents_Bing_Custom_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/Models/AzureAIAgentsPersistentContext.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsModelFactory.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepBingCustomSearchToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepBingGroundingToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaBingGroundingToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaCustomBingGroundingToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaCustomBingGroundingToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCallObject.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/AIAgentsTestEnvironment.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Bing_Custom_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#52014 Line endings
  .config/1espt/PipelineAutobaseliningConfig.yml
  .gitattributes
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/samples/Sample_AddOnCapabilities.md
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Authorization.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Core.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Diagnostics.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Processor.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.Testing.projitems
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Azure.Messaging.EventHubs.Shared.shproj
  sdk/eventhub/Azure.Messaging.EventHubs/design/proposal-event-hubs-first-preview.md
  sdk/eventhub/Azure.Messaging.EventHubs/stress/src/Infrastructure/Metrics.cs
  sdk/keyvault/.vsconfig
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/src/Azure.Security.KeyVault.Shared.shproj
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/Azure.Security.KeyVault.Shared.Tests.projitems
  sdk/keyvault/Azure.Security.KeyVault.Shared/tests/Azure.Security.KeyVault.Shared.Tests.shproj
  sdk/servicebus/Azure.Messaging.ServiceBus/Directory.Build.props
  sdk/servicebus/Azure.Messaging.ServiceBus/stress/src/Infrastructure/Metrics.cs
  sdk/storage/test-resources-post.ps1
Labels: Storage, Service Bus, KeyVault, Event Hubs, Cognitive - Form Recognizer

#52040 More git eol
  .gitattributes
  sdk/cloudmachine/Azure.Projects.Provisioning/tests/BicepGenerationTests.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/tests/Data/developer.bicep
  sdk/cloudmachine/Azure.Projects.Provisioning/tests/Data/maas.bicep
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/ResourceProviderDataTests.cs
Labels: Azure.Core, Azure Projects

#52043 Fix stubbed library detection to not require public client ctor
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Infrastructure/SpectorTestAttribute.cs
Labels: Client, CodeGen

#52085 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250818.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#52090 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250818.3
  eng/azure-typespec-http-client-csharp-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-emitter-package.json
Labels: Mgmt, Oracle

#52064 Add work around for different behaviors in roslyn
  eng/Packages.Data.props
  sdk/core/System.ClientModel/gen/ModelReaderWriterContextGenerator.cs
  sdk/core/System.ClientModel/tests/gen.unit/CompilationHelper.cs
  sdk/core/System.ClientModel/tests/gen.unit/ContextGeneratorTests.cs
Labels: Azure.Core

#50314 List Blobs Start From
  sdk/storage/Azure.Storage.Blobs.Batch/samples/Sample03a_Batching.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/BlobChangeFeedExtensions.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ChangeFeedFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/ShardFactory.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/BlobChangeFeedExtensionsTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedFactoryTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ChangeFeedTests.cs
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/tests/ShardTests.cs
  sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/samples/Sample03_Migrations.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobHierarchyItem.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobStates.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobTraits.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetBlobsAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetBlobsByHierarchyAsyncCollection.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetBlobsByHierarchyOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/GetBlobsOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/ClientExtensions.cs
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/ImmutableStorageWithVersioningTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs.Files.Shares/tests/StartTransferCopyFromShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs.Files.Shares/tests/StartTransferCopyToShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferBlobDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StorageResourceEtagManagementTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/TestGetBlobsContainerClient.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/TransferValidator.Blobs.cs
Labels: Storage

#52002 [Storage] [DataMovement] Fixed Preservation during Directory Overwrite
  sdk/storage/Azure.Storage.DataMovement.Blobs.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
Labels: Storage

#50551 Encryption in Transit
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareNfsSettings.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareNfsSettings.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareNfsSettingsEncryptionInTransit.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareNfsSettingsEncryptionInTransit.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareProtocolSettings.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareProtocolSettings.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareSmbSettings.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareSmbSettings.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareSmbSettingsEncryptionInTransit.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareSmbSettingsEncryptionInTransit.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ServiceClientTests.cs
Labels: Storage

#52099 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250819.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#50308 Make Lease Configurable
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/SharePropertiesInternal.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareGetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareModelFactory.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareProperties.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareSetPropertiesOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#52112 Normalize line break to stabilize test
  sdk/provisioning/Azure.Provisioning/tests/BicepValues/BicepValueTests.cs
  sdk/provisioning/Azure.Provisioning/tests/Expressions/ArrayExpressionTests.cs
  sdk/provisioning/Azure.Provisioning/tests/StringHelpers.cs
Labels: Provisioning

#51324 Migrate SelfHelp to typespec
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Custom/Extensions/MockableSelfHelpArmClient.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/ArmSelfHelpModelFactory.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/MockableSelfHelpArmClient.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/MockableSelfHelpSubscriptionResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/MockableSelfHelpTenantResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Extensions/SelfHelpExtensions.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Models/SelfHelpDiscoverySolutionResult.Serialization.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/Models/SelfHelpDiscoverySolutionResult.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/DiagnosticResourcesRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/DiscoverySolutionNLPOperationGroupRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/DiscoverySolutionNLPRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/DiscoverySolutionRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/SimplifiedSolutionsResourcesRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/SimplifiedSolutionsRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/SolutionResourcesRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/SolutionSelfHelpRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/RestOperations/TroubleshooterResourcesRestOperations.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpDiagnosticCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpDiagnosticResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpSimplifiedSolutionCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpSimplifiedSolutionResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpSolutionCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpSolutionResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpTroubleshooterCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/SelfHelpTroubleshooterResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/autorest.mdk
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_ArmClientExtensions.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpDiagnosticCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpDiagnosticResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpSimplifiedSolutionCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpSimplifiedSolutionResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpSolutionCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpSolutionResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpTroubleshooterCollection.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SelfHelpTroubleshooterResource.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tests/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/tsp-location.yaml
Labels: Self Help

#52119 Update autorest 3.0.0 beta.20250819.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/RestOperations/OrganizationsRestOperations.cs
  sdk/dellstorage/Azure.ResourceManager.Dell.Storage/src/Generated/RestOperations/FileSystemsRestOperations.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/RestOperations/IntegrationFabricsRestOperations.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/RestOperations/ManagedDashboardsRestOperations.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/RestOperations/ManagedGrafanasRestOperations.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/RestOperations/ManagedPrivateEndpointModelsRestOperations.cs
  sdk/grafana/Azure.ResourceManager.Grafana/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/informaticadatamanagement/Azure.ResourceManager.InformaticaDataManagement/src/Generated/RestOperations/OrganizationsRestOperations.cs
  sdk/informaticadatamanagement/Azure.ResourceManager.InformaticaDataManagement/src/Generated/RestOperations/ServerlessRuntimesRestOperations.cs
  sdk/lambdatesthyperexecute/Azure.ResourceManager.LambdaTestHyperExecute/src/Generated/RestOperations/OrganizationsRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/assets.json
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/AutonomousDatabaseBackupsRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/AutonomousDatabasesRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/CloudExadataInfrastructuresRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/CloudVmClustersRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/ExadbVmClustersRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/ExascaleDbStorageVaultsRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/OracleSubscriptionsRestOperations.cs
  sdk/oracle/Azure.ResourceManager.OracleDatabase/src/Generated/RestOperations/VirtualNetworkAddressesRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/assets.json
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/FabricAgentRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/FabricRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/PolicyRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/PrivateEndpointConnectionProxiesRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/ProtectedItemRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/ReplicationExtensionRestOperations.cs
  sdk/recoveryservices-datareplication/Azure.ResourceManager.RecoveryServicesDataReplication/src/Generated/RestOperations/VaultRestOperations.cs
  sdk/secretsstoreextension/Azure.ResourceManager.SecretsStoreExtension/assets.json
  sdk/secretsstoreextension/Azure.ResourceManager.SecretsStoreExtension/src/Generated/RestOperations/AzureKeyVaultSecretProviderClassesRestOperations.cs
  sdk/secretsstoreextension/Azure.ResourceManager.SecretsStoreExtension/src/Generated/RestOperations/SecretSyncsRestOperations.cs
  sdk/weightsandbiases/Azure.ResourceManager.WeightsAndBiases/src/Generated/RestOperations/InstancesRestOperations.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Generated/RestOperations/SapApplicationServerInstancesRestOperations.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Generated/RestOperations/SapCentralServerInstancesRestOperations.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Generated/RestOperations/SapDatabaseInstancesRestOperations.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Generated/RestOperations/SapVirtualInstancesRestOperations.cs
Labels: Mgmt, Oracle, Secret Store Extension, Arize AI, Weights & Biases, LambdaTest HyperExecute, Grafana

#52128 Fix Identity null reference when debugging
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
Labels: Azure.Identity, customer-reported, Community Contribution

#50832 Data Lake Tags
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net8.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeExtensions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeModelFactory.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/GetPathTagResult.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeFileSystemSasPermissions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasPermissions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DataLakeTestBase.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: Storage

#52123 Increment version for resources releases
  sdk/resources/Azure.ResourceManager.Resources/CHANGELOG.md
  sdk/resources/Azure.ResourceManager.Resources/src/Azure.ResourceManager.Resources.csproj
Labels: ARM

#52108 Add test and delta class for fabric tool.
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/Models/AzureAIAgentsPersistentContext.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsModelFactory.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaMicrosoftFabricToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaMicrosoftFabricToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCall.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepDeltaToolCallObject.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepMicrosoftFabricToolCall.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#50552 Create File with Data
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareDirectoryCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCreateOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileInfo.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareExtensions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareFileClientTransferValidationTests.cs
Labels: Storage

#52145 Sync eng/common directory with azure-sdk-tools for PR 11741
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#50665 Add thread message delete operation
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/samples/README.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample20_PersistentAgents_FileSearch_Steaming.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadMessages.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/MessageDeletionStatus.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/MessageDeletionStatus.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/MessageDeletionStatusObject.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/Models/AzureAIAgentsPersistentContext.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ThreadMessages.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#52140 Increment version for ai releases
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
Labels: AI Model Inference, AI Projects

#52150 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250820.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#52157 Make `Azure.ResourceManager.ResourceHealth` AOT-compatible
  sdk/resourcehealth/Azure.ResourceManager.ResourceHealth/CHANGELOG.md
  sdk/resourcehealth/ci.mgmt.yml
Labels: Mgmt

#52094 Refactor resource hierarchy in ResourceClientProvider
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementInputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMetadata.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/MockableResourceProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarQuotaResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarSettingsResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooSettingsResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooResource.cs
Labels: Mgmt, CodeGen

#52124 Update AutoRest C# version to 3.0.0-beta.20250820.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: Mgmt

#52156 Sort specs
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/eng/scripts/Get-Spector-Coverage.ps1
  eng/packages/http-client-csharp/eng/scripts/Spector-Helper.psm1
  eng/packages/http-client-csharp/eng/scripts/Test-Spector.ps1
Labels: Client, CodeGen

#52162 fix issue in generated GetAsyncEnumerator method in resource collection.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooCollection.cs
Labels: Mgmt, CodeGen

#52169 Hid Data Lake Tags
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net8.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeModelFactory.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/GetPathTagResult.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeFileSystemSasPermissions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasPermissions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileClientTests.cs
Labels: Storage

#52154 [Storage][PerfTest] Add file based perf tests
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/DownloadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/DownloadToFile.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/UploadBlob.cs
  sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf/Scenarios/UploadFromFile.cs
Labels: Storage

#52170 Fixed Create with Data test
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
Labels: Storage

#52185 Update AutoRest C# version to 3.0.0-beta.20250821.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/mysql/Azure.ResourceManager.MySql/src/MySqlFlexibleServers/Custom/AzureResourceManagerMySqlContext.cs
  sdk/postgresql/Azure.ResourceManager.PostgreSql/src/PostgreSqlFlexibleServers/Custom/AzureResourceManagerPostgreSqlContext.cs
Labels: Mgmt

#52206 Add entries to TOC
  sdk/ai/Azure.AI.Agents.Persistent/samples/README.md
Labels: AI Model Inference, AI Projects

#52222 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250825.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/BasicTypeSpecContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/access/src/Generated/Models/_Specs_AzureClientGeneratorCoreAccessContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/flatten-property/src/Generated/Models/_Specs_AzureClientGeneratorCoreFlattenPropertyContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/hierarchy-building/src/Generated/Models/_Specs_AzureClientGeneratorCoreHierarchyBuildingContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/usage/src/Generated/Models/_Specs_AzureClientGeneratorCoreUsageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/Models/_Specs_AzureCoreBasicContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/lro/rpc/src/Generated/Models/_Specs_AzureCoreLroRpcContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/lro/standard/src/Generated/Models/_Specs_AzureCoreLroStandardContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/Models/_Specs_AzureCorePageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/example/basic/src/Generated/Models/_Specs_AzureExampleBasicContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/naming/src/Generated/Models/ClientNamingContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/bytes/src/Generated/Models/EncodeBytesContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/datetime/src/Generated/Models/EncodeDatetimeContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/duration/src/Generated/Models/EncodeDurationContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/json-merge-patch/src/Generated/Models/PayloadJsonMergePatchContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-words/src/Generated/Models/SpecialWordsContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/empty/src/Generated/Models/_TypeModelEmptyContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/enum-discriminator/src/Generated/Models/_TypeModelInheritanceEnumDiscriminatorContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/nested-discriminator/src/Generated/Models/_TypeModelInheritanceNestedDiscriminatorContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/not-discriminated/src/Generated/Models/_TypeModelInheritanceNotDiscriminatedContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/recursive/src/Generated/Models/_TypeModelInheritanceRecursiveContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/single-discriminator/src/Generated/Models/_TypeModelInheritanceSingleDiscriminatorContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/usage/src/Generated/Models/_TypeModelUsageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/visibility/src/Generated/Models/_TypeModelVisibilityContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/_TypePropertyAdditionalPropertiesContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/nullable/src/Generated/Models/_TypePropertyNullableContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/_TypePropertyOptionalContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/_TypePropertyValueTypesContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/src/Generated/Models/_TypeUnionContext.cs
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51516 Update MEAI 9.8.0 + Azure.AI.Agents.Persistent BugFix + Support for FileSearch and CodeInterpreter tooling
  eng/Packages.Data.props
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsChatClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsChatClientTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/TestData/stock-prices.txt
Labels: customer-reported, Community Contribution, AI Model Inference, AI Projects

#52233 [CODEOWNERS] Remove invalid owner
  .github/CODEOWNERS
Labels: Client, EngSys

#52232 Increment version for communication releases
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication - Call Automation

#52237 Increment version for communication releases
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication - Call Automation

#51808 Release/azure communication phone numbers 1.5.0
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/README.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.net8.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/assets.json
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PhoneNumberSearchRequest.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PhoneNumberSearchResult.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PhoneNumberType.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/PurchasedPhoneNumber.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/PhoneNumbersModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersClientLiveTests.cs
  sdk/communication/Azure.Communication.PhoneNumbers/tests/PhoneNumbersClient/PhoneNumbersReservationsTests.cs
Labels: Communication - Phone Numbers

#52254 Sync eng/common directory with azure-sdk-tools for PR 11840
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Labels: EngSys, Central-EngSys

#52253 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250826.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#52255 Sync eng/common directory with azure-sdk-tools for PR 11839
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Labels: EngSys, Central-EngSys

#52260 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250826.5
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#52271 Make `Azure.ResourceManager.StorageCache` AOT-compatible
  sdk/storagecache/Azure.ResourceManager.StorageCache/CHANGELOG.md
  sdk/storagecache/Azure.ResourceManager.StorageCache/src/Azure.ResourceManager.StorageCache.csproj
  sdk/storagecache/ci.mgmt.yml
Labels: Storage, Mgmt

#52273 bump version of Azure generator
  eng/Packages.Data.props
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementTypeFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/MgmtTypeSpecContext.cs
  eng/packages/http-client-csharp-mgmt/package-lock.json
  eng/packages/http-client-csharp-mgmt/package.json
Labels: Mgmt, CodeGen

#52281 Arch Board comments
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.net8.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/api/Azure.Storage.Files.DataLake.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeGetPathsOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/DirectoryClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
Labels: Storage

#52280 Improve VS Code credential docs
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCodeCredential.cs
Labels: Azure.Identity

#52211 Ai.location.ip mapping for all telemetry types
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/TelemetryItem.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/ActivityTagsProcessor.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/LogsHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/CustomEventLoggerExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/CommonTestFramework/TelemetryItemValidationHelper.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/CustomEventsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/E2ETelemetryItemValidation/LogsTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/LogsHelperTests.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/TelemetryItemTests.cs
Labels: Monitor - Exporter

#52282 STG 100 changelogs and versions
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#52292 Add missing buildable type for MRWContext in PortalServices
  sdk/portalservices/Azure.ResourceManager.PortalServicesCopilot/src/Custom/AzureResourceManagerPortalServicesCopilotContext.cs
Labels: Mgmt

#52295 fix some line ending issues in provisioning libraries
  sdk/provisioning/Azure.Provisioning.PostgreSql/tests/PostgreSqlFlexibleServerTests.cs
  sdk/provisioning/Directory.Build.targets
Labels: Provisioning

#52298 feat(loadtestservice): updated stable api version
  sdk/loadtestservice/Azure.Developer.Playwright/api/Azure.Developer.Playwright.net8.0.cs
  sdk/loadtestservice/Azure.Developer.Playwright/api/Azure.Developer.Playwright.netstandard2.0.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Client/TestRunUpdateClientOptions.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Constants.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/PlaywrightServiceBrowserClient.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/PlaywrightServiceBrowserClientOptions.cs
  sdk/loadtestservice/Azure.Developer.Playwright/tests/PlaywrightServiceBrowserClientOptionsTests.cs
  sdk/loadtestservice/Azure.Developer.Playwright/tests/PlaywrightServiceBrowserClientTests.cs
Labels: Load Test Service

#52306 fix(loadtestservice): updated Playwright service to Playwright Worksp…
  sdk/loadtestservice/Azure.Developer.Playwright.MSTest/samples/Sample1_SimpleSetup.md
  sdk/loadtestservice/Azure.Developer.Playwright.MSTest/samples/Sample2_CustomisingServiceParameters.md
  sdk/loadtestservice/Azure.Developer.Playwright.MSTest/src/Azure.Developer.Playwright.MSTest.csproj
  sdk/loadtestservice/Azure.Developer.Playwright.MSTest/src/PlaywrightServiceBrowserMSTest.cs
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/samples/Sample1_SimpleSetup.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/samples/Sample2_CustomisingServiceParameters.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/src/Azure.Developer.Playwright.NUnit.csproj
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/src/PlaywrightServiceBrowserNUnit.cs
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/tests/samples/Sample2_CustomisingServiceParameters.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/Azure.Developer.Playwright.csproj
  sdk/loadtestservice/Azure.Developer.Playwright/src/Constants.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/PlaywrightServiceBrowserClient.cs
  sdk/loadtestservice/Azure.Developer.Playwright/src/PlaywrightServiceBrowserClientOptions.cs
Labels: Load Test Service

#52312 fix(loadtestservice): doc update
  sdk/loadtestservice/Azure.Developer.Playwright.MSTest/README.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/README.md
  sdk/loadtestservice/Azure.Developer.Playwright/README.md
Labels: Load Test Service

#52129 Use operator precedence to avoid unnecessary parentheses and nesting
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/assets.json
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionPrecedenceComparer.cs
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionWriter.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
Labels: customer-reported, Tables, Community Contribution

#52308 Increment version for storagecache releases
  sdk/storagecache/Azure.ResourceManager.StorageCache/CHANGELOG.md
  sdk/storagecache/Azure.ResourceManager.StorageCache/src/Azure.ResourceManager.StorageCache.csproj
Labels: Mgmt

#52311 Remove broken link from Identity TSG
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#52318 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250828.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#52322 Remove Windows only text for broker
  sdk/identity/Azure.Identity/README.md
Labels: Azure.Identity

#51946 [CODEOWNERS] Update messaging ownership
  .github/CODEOWNERS
Labels: Client, EngSys

#52235 Azure.AI.Projects tests and recordings
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/assets.json
  sdk/ai/Azure.AI.Projects/src/Custom/Connections/ConnectionsOperations.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Inference/Inference.cs
  sdk/ai/Azure.AI.Projects/tests/AIAgentsTest.cs
  sdk/ai/Azure.AI.Projects/tests/AIProjectsTestEnvironment.cs
  sdk/ai/Azure.AI.Projects/tests/AzureOpenAI_InferenceTest.cs
  sdk/ai/Azure.AI.Projects/tests/ConnectionsTest.cs
  sdk/ai/Azure.AI.Projects/tests/DatasetsTest.cs
  sdk/ai/Azure.AI.Projects/tests/DeploymentTest.cs
  sdk/ai/Azure.AI.Projects/tests/IndexesTest.cs
  sdk/ai/Azure.AI.Projects/tests/ProjectsClientTestBase.cs
  sdk/ai/Azure.AI.Projects/tests/TelemetryTest.cs
  sdk/ai/Azure.AI.Projects/tests/TestClientRetryPolicy.cs
  sdk/ai/Azure.AI.Projects/tests/Utils/ProjectsProxyTransport.cs
  sdk/ai/Azure.AI.Projects/tests/Utils/ProjectsTestSanitizers.cs
Labels: AI Model Inference, AI Projects

#52333 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250828.5
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#52351 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/src/Azure.Developer.Playwright.NUnit.csproj
  sdk/loadtestservice/Azure.Developer.Playwright/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.Playwright/src/Azure.Developer.Playwright.csproj
Labels: Load Test Service

#52331 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication - Phone Numbers

#52356 Sync eng/common directory with azure-sdk-tools for PR 11905
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Labels: EngSys, Central-EngSys

#52358 Sync eng/common directory with azure-sdk-tools for PR 11896
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#52357 Adopt overload spec
  eng/packages/http-client-csharp/eng/scripts/Spector-Helper.psm1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Client/Overload/OverloadTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/_Specs_.Azure.Payload.Pageable.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/Generated/Models/_Specs_AzurePayloadPageableContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/Generated/PageableClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/Generated/PageableClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/Generated/User.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/Generated/User.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/Generated/_Specs_AzurePayloadPageableClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/Generated/_Specs_AzurePayloadPageableModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/src/_Specs_.Azure.Payload.Pageable.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/payload/pageable/tspCodeModel.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/Client.ClientNamespace.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Client.ClientNamespace.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/ClientClientNamespaceClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/ClientClientNamespaceModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/ClientNamespaceFirstClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/ClientNamespaceFirstClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/ClientNamespaceSecondClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/ClientNamespaceSecondClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/FirstClientResult.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/FirstClientResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/Models/ClientClientNamespaceContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/SecondClientEnumType.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/SecondClientResult.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/src/Generated/SecondClientResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/namespace/tspCodeModel.json
Labels: Client, CodeGen

#52352 Simplify pattern in AmqpHelpers
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpExceptionHelper.cs
Labels: Service Bus, customer-reported, Community Contribution
