Repository Azure/azure-sdk-for-net, pull requests merged in 2025-01, with the labels that each got.

#47690 Update AutoRest C# version to 3.0.0-beta.20241230.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/ai/Azure.AI.Projects/src/Generated/EvaluationsClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations.Authoring/src/Generated/AnalyzeConversationAuthoring.cs
  sdk/cognitivelanguage/Azure.AI.Language.Text.Authoring/src/Generated/TextAnalysisAuthoring.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterAdministrationClient.cs
  sdk/communication/Azure.Communication.JobRouter/src/Generated/JobRouterClient.cs
  sdk/communication/Azure.Communication.Messages/src/Generated/MessageTemplateClient.cs
  sdk/contentsafety/Azure.AI.ContentSafety/src/Generated/BlocklistClient.cs
  sdk/easm/Azure.Analytics.Defender.Easm/src/Generated/EasmClient.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClient.cs
  sdk/purview/Azure.Analytics.Purview.Workflows/src/Generated/WorkflowRunsClient.cs
  sdk/purview/Azure.Analytics.Purview.Workflows/src/Generated/WorkflowTasksClient.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCatalogResource.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereCertificateCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeploymentCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereDeviceGroupCollection.cs
  sdk/sphere/Azure.ResourceManager.Sphere/src/Generated/SphereImageCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/assets.json
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/BlobContainerCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/EncryptionScopeCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/FileShareCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageAccountLocalUserCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageAccountResource.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageQueueCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageTaskAssignmentCollection.cs
  sdk/storage/Azure.ResourceManager.Storage/src/Generated/StorageTaskAssignmentResource.cs
  sdk/translation/Azure.AI.Translation.Document/src/Generated/DocumentTranslationClient.cs
Labels: Mgmt, Cognitive - Translator, Communication, Cognitive - Language, Cognitive - Content Safety, Defender EASM, AI Model Inference, Health Deidentification

#47693 [Compute] Fix tag related tests
  sdk/compute/Azure.ResourceManager.Compute/assets.json
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/AvailabilitySetOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/DedicatedHostGroupOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/DedicatedHostOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/DiskAccessOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/GalleryImageOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/GalleryOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/ManagedDiskOperationsTests.cs
Labels: Mgmt

#47495 Plan memory leak
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanFile.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerTests.cs
Labels: Storage

#47701 Sync eng/common directory with azure-sdk-tools for PR 9580
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#47717 Add troubleshooting guidance for VSCredential pre-auth error
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#47632 Cleanup unused code
  sdk/identity/Azure.Identity/src/AppServiceManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/AppServiceV2017ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/AppServiceV2019ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/AzureArcManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/CloudShellManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/CredentialPipeline.cs
  sdk/identity/Azure.Identity/src/EnvironmentVariables.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentityProbeSource.cs
  sdk/identity/Azure.Identity/src/ImdsManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/Policies/DefaultAzureCredentialImdsRetryPolicy.cs
  sdk/identity/Azure.Identity/src/ScopeUtilities.cs
  sdk/identity/Azure.Identity/src/SentinelFileLock.cs
  sdk/identity/Azure.Identity/src/ServiceFabricManagedIdentitySource.cs
  sdk/identity/Azure.Identity/src/StringExtensions.cs
  sdk/identity/Azure.Identity/src/Validations.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialImdsRetryPolicyTests.cs
  sdk/identity/Azure.Identity/tests/ImdsManagedIdentityProbeSourceTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialSFLiveTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentitySourceTests.cs
  sdk/identity/Azure.Identity/tests/Mock/MockMsalManagedIdentityClient.cs
Labels: Azure.Identity

#47700 [Storage][DataMovement Cleanup DataMovement csproj files
  sdk/storage/Azure.Storage.DataMovement.Blobs/BreakingChanges.txt
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BreakingChanges.txt
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement/BreakingChanges.txt
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#47723 [Search] Update Snippets
  sdk/search/Azure.Search.Documents/tests/Samples/Sample01_HelloWorld.cs
Labels: Search

#47721 Sync eng/common directory with azure-sdk-tools for PR 9584
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#47725 [DocumentIntelligence] Fixing broken link
  sdk/documentintelligence/Azure.AI.DocumentIntelligence/README.md
Labels: Client, Cognitive - Form Recognizer

#47665 Mgmt rest client
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureArmVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/InputTransformation/InputClientTransformer.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Foos.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinks.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/FoosRestOperations.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/MgmtTypeSpecClientRestOperations.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/PrivateLinksRestOperations.cs
Labels: Client, Mgmt, CodeGen

#47720 Azure AI Foundry rebranding
  sdk/ai/Azure.AI.Inference/README.md
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Agent/AgentsClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/ConnectionsClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Evaluation/EvaluationsClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Telemetry/TelemetryClient.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample11_ComposedModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample6_TrainModelWithFormsAndLabels.cs
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/search/Azure.Search.Documents/CHANGELOG.md
Labels: Search, OpenAI, AI Model Inference

#47737 [CognitiveLanguage] Fix broken link in README for Azure.AI.Language.Text.Authoring samples
  sdk/cognitivelanguage/Azure.AI.Language.Text.Authoring/samples/README.md
Labels: Cognitive - Language

#47738 [Event Hubs] Add Id to suggested processor logs
  sdk/eventhub/Azure.Messaging.EventHubs/TROUBLESHOOTING.md
Labels: Event Hubs, Client

#47736 add RAG sample
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/.gitignore
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Error.cshtml
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Error.cshtml.cs
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Index.cshtml
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Index.cshtml.cs
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Privacy.cshtml
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Privacy.cshtml.cs
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Shared/_Layout.cshtml
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Shared/_Layout.cshtml.css
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/Shared/_ValidationScriptsPartial.cshtml
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/_ViewImports.cshtml
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Pages/_ViewStart.cshtml
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Program.cs
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/RAGMachine.csproj
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/RAGMachine.sln
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/README.md
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/appsettings.Development.json
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/appsettings.json
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/nuget.config
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/wwwroot/css/site.css
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/wwwroot/favicon.ico
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/wwwroot/js/site.js
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/wwwroot/lib/bootstrap/LICENSE
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/wwwroot/lib/jquery-validation/LICENSE.md
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/wwwroot/lib/jquery/LICENSE.txt
  sdk/cloudmachine/Azure.CloudMachine/samples/README.md
Labels: Cloud Machine

#47722 Compute CloudService 2024-11-04
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.net8.0.cs
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceOSFamilyCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceOSFamilyResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceOSVersionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceOSVersionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceRoleCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceRoleInstanceCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceRoleInstanceResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_CloudServiceRoleResource.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/compute/Azure.ResourceManager.Compute/samples/Generated/Samples/Sample_VirtualMachineScaleSetCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceOSFamilyCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceOSFamilyResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceOSVersionCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceOSVersionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceRoleCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceRoleInstanceCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceRoleInstanceResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/CloudServiceRoleResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Extensions/ComputeExtensions.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Extensions/MockableComputeResourceGroupResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Extensions/MockableComputeSubscriptionResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceVaultCertificate.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/CloudServiceVaultCertificate.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/AvailabilitySetsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServiceOperatingSystemsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServiceRoleInstancesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServiceRolesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServicesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudServicesUpdateDomainRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachineScaleSetVMsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachineScaleSetsRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/VirtualMachinesRestOperations.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetVmResource.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
Labels: Mgmt

#47739 [Language.Text] Update README for Azure.AI.Language.Text
  sdk/cognitivelanguage/Azure.AI.Language.Text/README.md
Labels: Cognitive - Language

#47742 refactor(playwrighttesting): improve error messaging when reporting returns 403
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
Labels: Microsoft Playwright Testing

#47727 [Storage] [DataMovement] Update README and minor sample updates Part 1
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobContainerClientTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryClientTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement.sln
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/samples/Azure.Storage.DataMovement.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement/src/QueueStageChunkArgs.cs
Labels: Storage

#47649 [SignalR functions bindings] Self-implemented MessagePack hub protocol
  eng/Packages.Data.props
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/MessagePackHubProtocol/BinaryMessageFormatter.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/MessagePackHubProtocol/DefaultMessagePackHubProtocolWorker.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/MessagePackHubProtocol/MemoryBufferWriter.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/MessagePackHubProtocol/MessagePackHubProtocol.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/MessagePackHubProtocol/MessagePackHubProtocolWorker.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/TriggerBindings/Utils/JTokenWrapper.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/IConfigurationExtensionsFacts.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/DefaultSecurityTokenValidatorTests.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/JobhostEndToEnd.cs
Labels: SignalR

#47755 [FormRecognizer] Ignoring tests that are hanging
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Infrastructure/FormRecognizerLiveTestBase.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample10_DifferentiateOutputModelsTrainedWithAndWithoutLabels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample2_RecognizeCustomFormsFromFile.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample2_RecognizeCustomFormsFromUri.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample5_TrainModelWithForms.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModels.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample7_ManageCustomModelsAsync.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/Sample8_CopyModel.cs
  sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/V3.1/SampleSnippets.cs
Labels: Client, Cognitive - Form Recognizer

#47626 Fix the issue where IaasComputeVmProtectedItem cannot handle an empty resourceId
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/CHANGELOG.md
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/Generated/Models/IaasComputeVmProtectedItem.Serialization.cs
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/autorest.md
Labels: Recovery Services Backup

#47748 feat(playwrighttesting): showing using warning message if access token will expire within 7 days.
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Constants.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightService.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceTests.cs
Labels: Microsoft Playwright Testing

#47752 [CODEOWNERS] Remove legacy service
  .github/CODEOWNERS
Labels: Client, EngSys

#47771 Add launchsettings file for easy debugging
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
Labels: Client, CodeGen

#47774 [Storage][DataMovement] Remove the sync `WaitForCompletion` for now
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/assets.json
  sdk/storage/Azure.Storage.DataMovement/src/TransferOperation.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TestTransferWithTimeout.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferOperationTests.cs
Labels: Storage

#47751 Prep for release and add App Compat switch for the recent breaking change
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
  sdk/tables/Azure.Data.Tables/src/Queryable/ExpressionNormalizer.cs
  sdk/tables/Azure.Data.Tables/src/TableConstants.cs
  sdk/tables/Azure.Data.Tables/src/TablesCompatSwitches.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientQueryExpressionTests.cs
Labels: Tables

#47766 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: Mgmt

#47642 Add detection for empty string in the return value of createdByPrincipalTenantId
  sdk/billing/Azure.ResourceManager.Billing/CHANGELOG.md
  sdk/billing/Azure.ResourceManager.Billing/src/Custom/Models/BillingRoleAssignmentProperties.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/Generated/Models/BillingRoleAssignmentProperties.Serialization.cs
  sdk/billing/Azure.ResourceManager.Billing/src/autorest.md
Labels: Mgmt

#47340 Generating confidentialledger SDK for API spec version 2024-01-26-pre…
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.net8.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/assets.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerCertificateClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerCertificateClientOptions.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClientOptions.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerCertificateClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClientOptions.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/Docs/ConfidentialLedgerCertificateClient.xml
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/Docs/ConfidentialLedgerClient.xml
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/autorest.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/ConfidentialLedgerClientLiveTests.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Generated/Samples/Samples_ConfidentialLedgerCertificateClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Generated/Samples/Samples_ConfidentialLedgerClient.cs
Labels: Client, Confidential Ledger

#47794 Fix typo in CertificatePolicy.KeySize documentation
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificatePolicy.cs
Labels: KeyVault

#47776 [Storage] [DataMovement] [Archboard feedback] Renamed *CheckpointData to *CheckpointDetails
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobDestinationCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobSourceCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobsStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerServiceToServiceJobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobDestinationCheckpointDetailsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobSourceCheckpointDetailsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/RehydrateBlobResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Resources/BlobDestinationCheckpointDetails.3.bin
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementShareConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileDestinationCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileSourceCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/RehydrateShareResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDestinationCheckpointDetailsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareSourceCheckpointDetailsTests.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/CheckpointerExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPlan/JobPlanHeader.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDestinationCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalSourceCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementConstants.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/StorageResourceCheckpointDetailsInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferProperties.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CleanUpTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/GetTransfersTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/JobPlanHeaderTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalTransferCheckpointerFactory.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/tests/ServiceToServiceJobPartTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MockResourceCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StorageResourceTestWrappers.cs
  sdk/storage/Azure.Storage.DataMovement/tests/StreamToUriJobPartTests.cs
Labels: Storage

#47820 [CODEOWNERS] Remove invalid owner
  .github/CODEOWNERS
Labels: Client, EngSys

#47793 Permissions docs
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
Labels: Storage

#47818 datamovement migration guide skeleton
  sdk/storage/Azure.Storage.DataMovement/MigrationGuide.md
Labels: Storage

#47753 Prepare Identity for release with bugfix
  eng/Packages.Data.props
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#47830 Sync eng/common directory with azure-sdk-tools for PR 9614
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#47795 Remove extra / when building the pipeline for import certificate
  sdk/keyvault/Azure.Security.KeyVault.Certificates/CHANGELOG.md
  sdk/keyvault/Azure.Security.KeyVault.Certificates/assets.json
  sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs
Labels: KeyVault, MQ

#47824 Update AutoRest C# version to 3.0.0-beta.20250113.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/resourcemanager/Azure.ResourceManager/samples/Generated/Samples/Sample_ManagementLockCollection.cs
  sdk/resourcemanager/Azure.ResourceManager/samples/Generated/Samples/Sample_PolicyAssignmentCollection.cs
Labels: Mgmt

#47730 Implement resource detection and generate ReourceData
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureArmVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureOutputLibrary.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Mgmt/Models/OperationSet.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/ResourceDataProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/ResourceDataSerializationProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Utilities/InputExtensions.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Utilities/OperationExtensions.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Utilities/ResourceDetection.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/ResourceDataProviderTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/TestHelpers/MockHelpers.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooData.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooData.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/FooListResult.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/FooListResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/FoosRestOperations.cs
Labels: Client, CodeGen

#47839 Azure Load testing prepare for 2025-01-20 release
  sdk/loadtestservice/Azure.Developer.LoadTesting/CHANGELOG.md
Labels: Load Test Service

#47833 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#47845 [CODEOWNERS] Adding owners for AI Projects
  .github/CODEOWNERS
Labels: Client, EngSys

#47846 [CODEOWNERS] Remove invalid owner
  .github/CODEOWNERS
Labels: Client, EngSys

#47815 Generating dotnet SDK for the API version 2024-08-22
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.net8.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/Docs/ConfidentialLedgerClient.xml
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/autorest.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Generated/Samples/Samples_ConfidentialLedgerClient.cs
Labels: Confidential Ledger

#47850 Sync eng/common directory with azure-sdk-tools for PR 9635
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#47832 [Storage][DataMovement] Make extension methods follow LRO pattern
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobContainerClientExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobContainerClientTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerClientExtensionsIntegrationTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerClientExtensionsTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferProgressTracker.cs
Labels: Storage

#47853 [Cloud Machine] Fix code to generate correct Bicep for Storage and OpenAI
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIModelFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/StorageAccountFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/GenerateBicep.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/JustCloudMachine.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/OpenAI.bicep
Labels: Cloud Machine

#47555 Sync eng/common directory with azure-sdk-tools for PR 9529
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#47869 Use common OIDC token env vars for identity live tests
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/identity/Azure.Identity/tests/ManagedIdentityAKSIntegrationTests.cs
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
  sdk/identity/tests.yml
Labels: Central-EngSys

#47867 Sync eng/common directory with azure-sdk-tools for PR 9649
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#47855 [Storage][DataMovement] Modify file-share client extensions to match LRO pattern
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryClientExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryClientTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryClientExtensionsTests.cs
Labels: Storage

#47791 Queue Listener fixes: Drain Mode and Message Deletion
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Common/src/Shared/Queues/QueueListener.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/QueueListenerTests.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/TestQueueProcessor .cs
Labels: Storage, customer-reported, Community Contribution

#47878 Update AutoRest C# version to 3.0.0-beta.20250116.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#47880 docs(): CHANGELOG for 1.0.0-beta.4 release
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
Labels: Microsoft Playwright Testing

#47881 Increment version for playwrighttesting releases
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.NUnit/src/Azure.Developer.MicrosoftPlaywrightTesting.NUnit.csproj
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/CHANGELOG.md
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger.csproj
Labels: Microsoft Playwright Testing

#47873 Remove sovereign cloud testing references
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/appconfiguration/tests.yml
  sdk/batch/tests.yml
  sdk/containerregistry/tests.yml
  sdk/eventhub/tests.data.yml
  sdk/eventhub/tests.functions.yml
  sdk/eventhub/tests.yml
  sdk/extensions/tests.yml
  sdk/keyvault/tests.yml
  sdk/monitor/Azure.Monitor.Ingestion/tests.yml
  sdk/monitor/Azure.Monitor.Query/tests.yml
  sdk/personalizer/tests.yml
  sdk/search/tests.yml
  sdk/servicebus/tests.data.yml
  sdk/servicebus/tests.functions.yml
  sdk/servicebus/tests.yml
  sdk/textanalytics/tests.yml
Labels: Central-EngSys

#47875 Sync eng/common directory with azure-sdk-tools for PR 9577
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#47884 [Service Bus] January Release Prep
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, Client

#47883 Sync eng/common directory with azure-sdk-tools for PR 9650
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#47841 Removing the default audio format media streaming
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingUnmixedTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingUnmixedTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingTestAsync.json
Labels: Communication

#47856 Sync eng/common directory with azure-sdk-tools for PR 9601
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#47891 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#47835 Sync eng/common directory with azure-sdk-tools for PR 9620
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#47862 Add missing locations to AzureLocation struct
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/api/Azure.Core.net461.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net8.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/AzureLocation.cs
Labels: Azure.Core, customer-reported, Community Contribution

#47885 update computeschedule changelog file
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/CHANGELOG.md
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/README.md
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Azure.ResourceManager.ComputeSchedule.csproj
Labels: Mgmt

#47902 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.Developer.LoadTesting/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.LoadTesting/src/Azure.Developer.LoadTesting.csproj
Labels: Load Test Service

#47901 Increment version for quota releases
  sdk/quota/Azure.ResourceManager.Quota/CHANGELOG.md
  sdk/quota/Azure.ResourceManager.Quota/src/Azure.ResourceManager.Quota.csproj
Labels: Quota

#47859 Skip empty client
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureOutputLibrary.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/InputTransformation/InputClientTransformer.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/RequestContextExtensionsDefinition.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Utilities/ResourceDetection.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/Abstractions/AzureClientResponseProviderTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/ClientProviderTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecClient.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/MgmtTypeSpecClientRestOperations.cs
Labels: Client, CodeGen

#47909 Prepare for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.net8.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportStatusDetails.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsEmailDeliveryReportStatusDetails.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsSmsReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsSmsReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#47889 Improve Azure Identity credential env var docs
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/WorkloadIdentityCredentialOptions.cs
Labels: Azure.Identity

#47817 Add Subscription property to AzureCliCredentialOptions
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.net8.0.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureCliCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Validations.cs
  sdk/identity/Azure.Identity/tests/AzureCliCredentialTests.cs
Labels: Azure.Identity

#47893 Sync eng/common directory with azure-sdk-tools for PR 9658
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#47921 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#47926 Increment version for kusto releases
  sdk/kusto/Azure.ResourceManager.Kusto/CHANGELOG.md
  sdk/kusto/Azure.ResourceManager.Kusto/src/Azure.ResourceManager.Kusto.csproj
Labels: Mgmt

#47895 Fix the issue preventing addition of a single file to Vector Store
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AgentsClient.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CreateVectorStoreFileRequest.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CreateVectorStoreFileRequest.cs
  sdk/ai/Azure.AI.Projects/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#47931 Drive traffic to credential reuse guidance
  sdk/identity/Azure.Identity/src/Credentials/AuthorizationCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/AzureApplicationCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ChainedTokenCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientCertificateCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ClientSecretCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DeviceCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/OnBehalfOfCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
Labels: Azure.Identity

#47866 Handle non-IMDS local null content response as CredentialUnavailableException
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/ManagedIdentitySource.cs
  sdk/identity/Azure.Identity/tests/ManagedIdentityCredentialTests.cs
Labels: Azure.Identity

#47890 DataMovement Migration Guide: Packaging, types, API comparison tables
  sdk/storage/Azure.Storage.DataMovement/MigrationGuide.md
Labels: Storage

#47932 Sync eng/common directory with azure-sdk-tools for PR 9668
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#47938 [Storage] [DataMovement] Renamed BlobDirectoryPrefix to BlobPrefix
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobContainerClientExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainerOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobsStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobsExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerClientExtensionsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobDirectoryStartTransferDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ShareDirectoryToPageBlobDirectoryTests.cs
Labels: Storage

#47940 Sync eng/common directory with azure-sdk-tools for PR 9656
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Remove-IssueLabel.ps1
Labels: EngSys, Central-EngSys

#47947 [Cdn] optimization : directive to rename-mapping
  sdk/cdn/Azure.ResourceManager.Cdn/src/autorest.md
Labels: Network - CDN

#47886 [Storage] [DataMovement] Renamed ResumeProvider to ProviderForResuming; Made FromClient methods static
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Infrastructure/DirectoryTransferTest.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/DownloadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/UploadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobContainerClientExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobsStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Infrastructure/TestSetupHelper.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/BlobScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/CopyBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/DownloadBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlobDirectoryScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/stress/src/Scenarios/UploadBlobSingleScenarioBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobsStorageResourceProviderTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/RehydrateBlobResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryClientExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/RehydrateShareResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferItemFailedEventArgs.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManagerOptions.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadTestBase.cs
Labels: Storage

#47963 Sync eng/common directory with azure-sdk-tools for PR 9670
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#47969 update commit to main branch for computeSchedule
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/tsp-location.yaml
Labels: Mgmt

#47910 Remove Custom ModelFactory and Regen
  sdk/communication/Azure.ResourceManager.Communication/api/Azure.ResourceManager.Communication.net8.0.cs
  sdk/communication/Azure.ResourceManager.Communication/api/Azure.ResourceManager.Communication.netstandard2.0.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Customize/ArmCommunicationModelFactory.cs
  sdk/communication/Azure.ResourceManager.Communication/src/Generated/ArmCommunicationModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/ArmComputeModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/ArmComputeModelFactory.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/api/Azure.ResourceManager.DataProtectionBackup.net8.0.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/api/Azure.ResourceManager.DataProtectionBackup.netstandard2.0.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Customized/ArmDataProtectionBackupModelFactory.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/ArmDataProtectionBackupModelFactory.cs
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/Customize/ArmDesktopVirtualizationModelFactory.cs
  sdk/desktopvirtualization/Azure.ResourceManager.DesktopVirtualization/src/Generated/ArmDesktopVirtualizationModelFactory.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Customize/ArmHealthcareApisModelFactory.cs
  sdk/healthcareapis/Azure.ResourceManager.HealthcareApis/src/Generated/ArmHealthcareApisModelFactory.cs
  sdk/kusto/Azure.ResourceManager.Kusto/src/Customized/ArmKustoModelFactory.cs
  sdk/kusto/Azure.ResourceManager.Kusto/src/Generated/ArmKustoModelFactory.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Customize/ArmManagedNetworkFabricModelFactory.cs
  sdk/managednetworkfabric/Azure.ResourceManager.ManagedNetworkFabric/src/Generated/ArmManagedNetworkFabricModelFactory.cs
  sdk/mobilenetwork/Azure.ResourceManager.MobileNetwork/src/Custom/ArmMobileNetworkModelFactory.cs
  sdk/mobilenetwork/Azure.ResourceManager.MobileNetwork/src/Generated/ArmMobileNetworkModelFactory.cs
  sdk/netapp/Azure.ResourceManager.NetApp/api/Azure.ResourceManager.NetApp.net8.0.cs
  sdk/netapp/Azure.ResourceManager.NetApp/api/Azure.ResourceManager.NetApp.netstandard2.0.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Custom/ArmNetAppModelFactory.cs
  sdk/netapp/Azure.ResourceManager.NetApp/src/Generated/ArmNetAppModelFactory.cs
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.net8.0.cs
  sdk/network/Azure.ResourceManager.Network/api/Azure.ResourceManager.Network.netstandard2.0.cs
  sdk/network/Azure.ResourceManager.Network/src/Customization/ArmNetworkModelFactory.cs
  sdk/network/Azure.ResourceManager.Network/src/Generated/ArmNetworkModelFactory.cs
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/Custom/ArmRecoveryServicesBackupModelFactory.cs
  sdk/recoveryservices-backup/Azure.ResourceManager.RecoveryServicesBackup/src/Generated/ArmRecoveryServicesBackupModelFactory.cs
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/src/Customization/ArmRecoveryServicesSiteRecoveryModelFactory.cs
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/src/Generated/ArmRecoveryServicesSiteRecoveryModelFactory.cs
  sdk/redis/Azure.ResourceManager.Redis/api/Azure.ResourceManager.Redis.net8.0.cs
  sdk/redis/Azure.ResourceManager.Redis/api/Azure.ResourceManager.Redis.netstandard2.0.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Customization/ArmRedisModelFactory.cs
  sdk/redis/Azure.ResourceManager.Redis/src/Generated/ArmRedisModelFactory.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/api/Azure.ResourceManager.SelfHelp.net8.0.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/api/Azure.ResourceManager.SelfHelp.netstandard2.0.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Custom/ArmSelfHelpModelFactory.cs
  sdk/selfhelp/Azure.ResourceManager.SelfHelp/src/Generated/ArmSelfHelpModelFactory.cs
  sdk/storagecache/Azure.ResourceManager.StorageCache/api/Azure.ResourceManager.StorageCache.net8.0.cs
  sdk/storagecache/Azure.ResourceManager.StorageCache/api/Azure.ResourceManager.StorageCache.netstandard2.0.cs
  sdk/storagecache/Azure.ResourceManager.StorageCache/src/Customized/ArmStorageCacheModelFactory.cs
  sdk/storagecache/Azure.ResourceManager.StorageCache/src/Generated/ArmStorageCacheModelFactory.cs
Labels: Recovery Services Backup, Mgmt, Network - Mobile

#47970 Increment version for iotoperations releases
  sdk/iotoperations/Azure.ResourceManager.IotOperations/CHANGELOG.md
  sdk/iotoperations/Azure.ResourceManager.IotOperations/src/Azure.ResourceManager.IotOperations.csproj
Labels: Mgmt

#47971 Increment version for deviceregistry releases
  sdk/deviceregistry/Azure.ResourceManager.DeviceRegistry/CHANGELOG.md
  sdk/deviceregistry/Azure.ResourceManager.DeviceRegistry/src/Azure.ResourceManager.DeviceRegistry.csproj
Labels: Device Registry

#47975 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Azure.ResourceManager.AppConfiguration.csproj
Labels: Mgmt

#47974 Increment version for computeschedule releases
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/CHANGELOG.md
  sdk/computeschedule/Azure.ResourceManager.ComputeSchedule/src/Azure.ResourceManager.ComputeSchedule.csproj
Labels: Mgmt

#47966 Sync eng/common directory with azure-sdk-tools for PR 9681
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#47954 Sync eng/common directory with azure-sdk-tools for PR 9687
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#47812 [Storage] [DataMovement] Re-enable flakey pause/resume E2E tests
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobDestinationCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/TestEventsRaised.cs
Labels: Storage

#47982 Revert "Generating dotnet SDK for the API version 2024-08-22 (#47815)"
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.net8.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/Docs/ConfidentialLedgerClient.xml
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/autorest.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Generated/Samples/Samples_ConfidentialLedgerClient.cs
Labels: Confidential Ledger

#47988 [ConfidentialLedger] Update changelog for 1.4.1-beta
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
Labels: Confidential Ledger

#47990 Increment version for confidentialledger releases
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Azure.Security.ConfidentialLedger.csproj
Labels: Confidential Ledger

#47984 [Storage][DataMovement] Refactor resource provider credential callbacks
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/CopyDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/DownloadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Scenarios/UploadDirectory.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobsStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobsStorageResourceProviderTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/README.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/README.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResourceProvider.cs
Labels: Storage

#47989 `AzurePowerShellCredential` no longer relies on APIs that are not available in Constrained Language Mode
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Credentials/AzurePowerShellCredential.cs
  sdk/identity/Azure.Identity/tests/CredentialTestHelpers.cs
Labels: Azure.Identity

#47992 Sync eng/common directory with azure-sdk-tools for PR 9699
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#47939 [Storage] [DataMovement] Put EditorBrowsable(Never) for not using interfaces
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/api/Azure.Storage.DataMovement.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobsStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFilesStorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceCheckpointDetails.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceCompleteTransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceCopyFromUriOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItemProperties.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceProvider.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceReadStreamResult.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferProperties.cs
Labels: Storage

#48001 Sync eng/common directory with azure-sdk-tools for PR 9700
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#47983 [Core] Update change log
  sdk/core/Azure.Core/CHANGELOG.md
Labels: Client, Azure.Core

#48004 removing the streaming data parser
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Streaming/StreamingDataParser.cs
Labels: Communication

#47999 [Storage] [DataMovement] [Docs] Known Limitations
  sdk/storage/Azure.Storage.DataMovement/KnownIssues.md
Labels: Storage

#47646 Added call connection Id for recording and live and unit test code.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallRecordingRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallIntelligenceOptionsInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallIntelligenceOptionsInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CallLocatorKindInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/StartRecordingFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecordingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/CallRecordingAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/CallRecordingTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationClientAutomatedLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/RecordingOperationsTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/StartRecordingWithCallConnectionIdTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/StartRecordingWithCallConnectionIdTestAsync.json
Labels: Communication

#48014 Minor NFS over REST bug fix
  sdk/storage/Azure.Storage.Files.Shares/src/ShareDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#47964 Add CI/CD to .NET project
  sdk/ai/Azure.AI.Projects/assets.json
  sdk/ai/Azure.AI.Projects/tests/AgentClientTests.cs
  sdk/ai/Azure.AI.Projects/tests/Utilities/MockTokenCredential.cs
Labels: AI Model Inference, AI Projects

#48019 Sync eng/common directory with azure-sdk-tools for PR 9724
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#48016 Sync eng/common directory with azure-sdk-tools for PR 9732
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#48022 Add `az.namespace` to Azure AI Inference spans
  sdk/ai/Azure.AI.Inference/src/Telemetry/OpenTelemetryConstants.cs
  sdk/ai/Azure.AI.Inference/src/Telemetry/OpenTelemetryScope.cs
  sdk/ai/Azure.AI.Inference/tests/Utilities/ValidatingActivityListener.cs
Labels: AI Model Inference, AI Projects

#48023 Update XML doc on ServiceBusReceivedMessage
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusReceivedMessage.cs
Labels: Service Bus, customer-reported, Community Contribution

#48006 Update CI to publish spector results
  .github/CODEOWNERS
  eng/packages/http-client-csharp/ci.yml
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Infrastructure/SpectorServer.cs
  eng/scripts/typespec/Test-Emitter.ps1
Labels: Client, CodeGen

#47934 DataMovement migration guide samples
  sdk/storage/Azure.Storage.DataMovement/MigrationGuide.md
Labels: Storage

#48027 Update triggers for azure plugin
  eng/packages/http-client-csharp/ci.yml
  eng/scripts/ci.yml
Labels: Client, CodeGen

#48030 [Storage] [WebJobs] Generate missing .net 8.0 api for WebJobs Extensions Storage
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/api/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.net8.0.cs
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/api/Microsoft.Azure.WebJobs.Extensions.Storage.net8.0.cs
Labels: Storage

#47842 Media streaming audio format default Pcm24kMono changed to null.
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallMedias/CallMediaAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingUnmixedTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingUnmixedTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingWithAudioFormatPcm24KMonoTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingWithAudioFormatPcm24KMonoTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingWithAudioFormatPcm24KMonoTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingWithAudioFormatPcm24KMonoTestAsync.json
Labels: Communication

#48028 Data Movement Migration: `Azure.Storage.DataMovement.Samples.Tests`
  sdk/storage/Azure.Storage.DataMovement.sln
  sdk/storage/Azure.Storage.DataMovement/MigrationGuide.md
  sdk/storage/Azure.Storage.DataMovement/samples/Azure.Storage.DataMovement.Samples.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement/samples/Sample01b_Migration.cs
Labels: Storage

#48009 [Storage][DataMovement] Fix preserving FileChangedOn during transfers
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobToPageBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToAppendBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobToBlockBlobTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CleanUpTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
Labels: Storage
