Repository Azure/azure-sdk-for-net, pull requests merged in 2025-05, with the labels that each got.

#49763 Update Azure.Security.CodeTransparency client changelog for 1.0.0-beta.4
  sdk/confidentialledger/Azure.Security.CodeTransparency/CHANGELOG.md
Labels: Confidential Ledger

#49761 [SCM] Address connections API feedback to prepare for release.
  sdk/ai/Azure.AI.Inference/src/Customized/AIInferenceExtensions.cs
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectClient.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net8.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientCache.cs
  sdk/core/System.ClientModel/src/Convenience/ConnectionProvider.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientCacheTests.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIExtensions.cs
  sdk/search/Azure.Search.Documents/src/SearchExtensions.cs
Labels: Search, Azure.Core, OpenAI, AI Model Inference, AI Projects

#49757 Updated CM README.md
  sdk/cloudmachine/README.md
Labels: Azure Projects

#49770 Prepare for release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#49772 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#49771 [SCM][CloudMachine] Fix cloud machine and address feedback
  sdk/ai/Azure.AI.Inference/api/Azure.AI.Inference.net8.0.cs
  sdk/ai/Azure.AI.Inference/api/Azure.AI.Inference.netstandard2.0.cs
  sdk/ai/Azure.AI.Inference/src/Customized/AIInferenceExtensions.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/tests/Azure.AI.Projects.Tests.csproj
  sdk/cloudmachine/Azure.Projects.AI/api/Azure.Projects.AI.net8.0.cs
  sdk/cloudmachine/Azure.Projects.AI/api/Azure.Projects.AI.netstandard2.0.cs
  sdk/cloudmachine/Azure.Projects.AI/src/MaaS/AIServicesExtensios.cs
  sdk/cloudmachine/Azure.Projects.AI/src/OpenAI/AzureOpenAIExtensions_merge.cs
  sdk/cloudmachine/Azure.Projects.AI/src/OpenAI/OpenAIModelFeature.cs
  sdk/cloudmachine/Azure.Projects.AI/src/Utilities/Polyfill/System.Runtime.CompilerServices.IsExternalInit.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/tests/ConnectionTests.cs
  sdk/cloudmachine/Azure.Projects/api/Azure.Projects.net8.0.cs
  sdk/cloudmachine/Azure.Projects/api/Azure.Projects.netstandard2.0.cs
  sdk/cloudmachine/Azure.Projects/src/AppConfigConnectionProvider.cs
  sdk/cloudmachine/Azure.Projects/src/Azure.Projects.csproj
  sdk/cloudmachine/Azure.Projects/src/Ofx/OfxClient.cs
  sdk/cloudmachine/Azure.Projects/src/Ofx/StorageServices.cs
  sdk/cloudmachine/Azure.Projects/src/ProjectClient.cs
  sdk/cloudmachine/Azure.Projects/src/Utilities/Polyfill/System.Runtime.CompilerServices.IsExternalInit.cs
  sdk/cloudmachine/Azure.Projects/src/extensions/AppConfigurationExtensions..cs
  sdk/cloudmachine/Azure.Projects/src/extensions/BlobExtensions.cs
  sdk/cloudmachine/Azure.Projects/src/extensions/KeyVaultExtensions.cs
  sdk/cloudmachine/Azure.Projects/src/extensions/ServiceBusExtensions.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net8.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientConnectionCollection.cs
  sdk/core/System.ClientModel/src/Convenience/ClientConnectionProvider.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientConnectionCollectionTests.cs
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.net8.0.cs
  sdk/openai/Azure.AI.OpenAI/api/Azure.AI.OpenAI.netstandard2.0.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/AzureOpenAIExtensions.cs
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.net8.0.cs
  sdk/search/Azure.Search.Documents/api/Azure.Search.Documents.netstandard2.0.cs
  sdk/search/Azure.Search.Documents/src/SearchExtensions.cs
Labels: Search, Azure.Core, OpenAI, AI Model Inference, Azure Projects, AI Projects

#49600 [AzureMonitor] reenable AOT ci checks
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.AotCompatibilityTestApp/ExpectedAotWarnings.txt
  sdk/monitor/ci.yml
Labels: Monitor, Monitor - Exporter

#49765 Adopt routes scenarios
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Routes/PathParameterTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Routes/QueryTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/Routes.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/InInterface.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParameters.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersLabelExpansion.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersLabelExpansionExplode.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersLabelExpansionStandard.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersMatrixExpansion.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersMatrixExpansionExplode.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersMatrixExpansionStandard.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersPathExpansion.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersPathExpansionExplode.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersPathExpansionStandard.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersReservedExpansion.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersSimpleExpansion.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersSimpleExpansionExplode.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/PathParametersSimpleExpansionStandard.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/QueryParameters.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/QueryParametersQueryContinuation.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/QueryParametersQueryContinuationExplode.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/QueryParametersQueryContinuationStandard.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/QueryParametersQueryExpansion.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/QueryParametersQueryExpansionExplode.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/QueryParametersQueryExpansionStandard.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/RoutesClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Generated/RoutesClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Routes.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/tspCodeModel.json
  sdk/core/Azure.Core/src/Shared/RawRequestUriBuilder.cs
Labels: Client, Azure.Core, CodeGen

#49766 Include SCM in dependency calculation
  eng/scripts/Language-Settings.ps1
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#49775 Pr feedback on the API
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net8.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/gen/ModelReaderWriterContextGenerator.Emitter.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriterContext.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriterTypeBuilder.CollectionWrapper.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ModelReaderWriterTypeBuilder.cs
  sdk/core/System.ClientModel/src/ModelReaderWriter/ReflectionContext.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/ModelReaderWriterGeneralTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ArrayOfListTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ArrayTests.Context.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/DictionaryIntKeyTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/DictionaryOfDictionaryTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/DictionaryOfListTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/DictionaryTests.Context.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableArrayTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableDictionaryTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableHashSetTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableListTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableQueueTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableSortedDictionaryTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableSortedSetTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ImmutableStackTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/JaggedArrayTests.Context.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/MultiDimensionalArrayTests.Context.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ReadOnlyCollectionTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ReadOnlyDictionaryTests.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/AvailabilitySetDatas/ReadOnlyMemoryTests.Context.cs
  sdk/core/System.ClientModel/tests/ModelReaderWriterTests/Models/BaseModels/DictionaryTests.cs
Labels: Azure.Core

#49783 Regenerate new spector project
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Routes.csproj
Labels: Client, CodeGen

#49776 [Search] Addressing IndexStatsSummary tests' flakiness
  sdk/search/Azure.Search.Documents/tests/SearchIndexClientTests.cs
  sdk/search/Azure.Search.Documents/tests/Utilities/SearchResources.cs
Labels: Search, Client

#49762 Update AutoRest C# version to 3.0.0-beta.20250430.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/SystemEventsClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/SystemEventsClientOptions.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Discovery.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Entity.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Relationship.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Discovery.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Entity.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Relationship.cs
Labels: Event Grid, Mgmt, Communication

#49803 Adopt special-words scenarios
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/SpecialWords/SpecialWordsTests.Models.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/SpecialWords/SpecialWordsTests.Operations.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/SpecialWords/SpecialWordsTests.Parameters.cs
Labels: Client, CodeGen

#49800 Sync eng/common directory with azure-sdk-tools for PR 10523
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#49805 regen docs
  eng/packages/http-client-csharp-mgmt/README.md
  eng/packages/http-client-csharp-mgmt/docs/emitter.md
  eng/packages/http-client-csharp-mgmt/docs/index.mdx
  eng/packages/http-client-csharp/README.md
  eng/packages/http-client-csharp/docs/emitter.md
Labels: Client, Mgmt, CodeGen

#49809 Preparation for GA release of System.ClientModel
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#49811 Increment version for core releases
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#49817 Use Azure.Core ResponseError type for errors
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Primitives/KnownAzureTypes.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/AzureTypeFactoryTests.cs
Labels: Client, CodeGen

#49832 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: Mgmt

#49073 Update Samples from Advisor to ApiCenter
  sdk/advisor/Azure.ResourceManager.Advisor/Azure.ResourceManager.Advisor.sln
  sdk/advisor/Azure.ResourceManager.Advisor/samples/Azure.ResourceManager.Advisor.Samples.csproj
  sdk/advisor/Azure.ResourceManager.Advisor/src/autorest.md
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_MetadataEntityCollection.cs
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_MetadataEntityResource.cs
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_ResourceGroupResourceExtensions.cs
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_ResourceRecommendationBaseCollection.cs
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_ResourceRecommendationBaseResource.cs
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_SuppressionContractCollection.cs
  sdk/advisor/Azure.ResourceManager.Advisor/tests/Generated/Samples/Sample_SuppressionContractResource.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/Azure.ResourceManager.AgFoodPlatform.sln
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/samples/Azure.ResourceManager.AgFoodPlatform.Samples.csproj
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/src/autorest.md
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_AgFoodPlatformPrivateEndpointConnectionCollection.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_AgFoodPlatformPrivateEndpointConnectionResource.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_AgFoodPlatformPrivateLinkResource.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_AgFoodPlatformPrivateLinkResourceCollection.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_ExtensionCollection.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_ExtensionResource.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_FarmBeatCollection.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_FarmBeatResource.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_FarmBeatsExtensionCollection.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_FarmBeatsExtensionResource.cs
  sdk/agrifood/Azure.ResourceManager.AgFoodPlatform/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/Azure.ResourceManager.AlertsManagement.sln
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/samples/Azure.ResourceManager.AlertsManagement.Samples.csproj
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/src/autorest.md
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_AlertProcessingRuleCollection.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_AlertProcessingRuleResource.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_ServiceAlertCollection.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_ServiceAlertResource.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_SmartGroupCollection.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_SmartGroupResource.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/alertsmanagement/Azure.ResourceManager.AlertsManagement/tests/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/Azure.ResourceManager.ApiCenter.sln
  sdk/apicenter/Azure.ResourceManager.ApiCenter/samples/Azure.ResourceManager.ApiCenter.Samples.csproj
  sdk/apicenter/Azure.ResourceManager.ApiCenter/src/autorest.md
  sdk/apicenter/Azure.ResourceManager.ApiCenter/tests/Generated/Samples/Sample_ApiCenterServiceCollection.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/tests/Generated/Samples/Sample_ApiCenterServiceResource.cs
  sdk/apicenter/Azure.ResourceManager.ApiCenter/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
Labels: Mgmt

#49366 Update Samples from PowerBIDedicated to Quantum
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/Azure.ResourceManager.PowerBIDedicated.sln
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/samples/Azure.ResourceManager.PowerBIDedicated.Samples.csproj
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/src/autorest.md
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/tests/Generated/Samples/Sample_AutoScaleVCoreCollection.cs
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/tests/Generated/Samples/Sample_AutoScaleVCoreResource.cs
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/tests/Generated/Samples/Sample_DedicatedCapacityCollection.cs
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/tests/Generated/Samples/Sample_DedicatedCapacityResource.cs
  sdk/powerbidedicated/Azure.ResourceManager.PowerBIDedicated/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/privatedns/Azure.ResourceManager.PrivateDns/Azure.ResourceManager.PrivateDns.sln
  sdk/privatedns/Azure.ResourceManager.PrivateDns/samples/Azure.ResourceManager.PrivateDns.Samples.csproj
  sdk/privatedns/Azure.ResourceManager.PrivateDns/src/autorest.md
  sdk/providerhub/Azure.ResourceManager.ProviderHub/Azure.ResourceManager.ProviderHub.sln
  sdk/providerhub/Azure.ResourceManager.ProviderHub/samples/Azure.ResourceManager.ProviderHub.Samples.csproj
  sdk/providerhub/Azure.ResourceManager.ProviderHub/src/autorest.md
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_CustomRolloutCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_CustomRolloutResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_DefaultRolloutCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_DefaultRolloutResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NestedResourceTypeFirstSkuCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NestedResourceTypeFirstSkuResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NestedResourceTypeSecondSkuCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NestedResourceTypeSecondSkuResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NestedResourceTypeThirdSkuCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NestedResourceTypeThirdSkuResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NotificationRegistrationCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_NotificationRegistrationResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_ProviderRegistrationCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_ProviderRegistrationResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_ResourceTypeRegistrationCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_ResourceTypeRegistrationResource.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_ResourceTypeSkuCollection.cs
  sdk/providerhub/Azure.ResourceManager.ProviderHub/tests/Generated/Samples/Sample_ResourceTypeSkuResource.cs
  sdk/purview/Azure.ResourceManager.Purview/Azure.ResourceManager.Purview.sln
  sdk/purview/Azure.ResourceManager.Purview/samples/Azure.ResourceManager.Purview.Samples.csproj
  sdk/purview/Azure.ResourceManager.Purview/src/autorest.md
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewAccountCollection.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewAccountResource.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewKafkaConfigurationCollection.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewKafkaConfigurationResource.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewPrivateEndpointConnectionCollection.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewPrivateEndpointConnectionResource.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewPrivateLinkResource.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_PurviewPrivateLinkResourceCollection.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/purview/Azure.ResourceManager.Purview/tests/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/quantum/Azure.ResourceManager.Quantum/Azure.ResourceManager.Quantum.sln
  sdk/quantum/Azure.ResourceManager.Quantum/samples/Azure.ResourceManager.Quantum.Samples.csproj
  sdk/quantum/Azure.ResourceManager.Quantum/src/autorest.md
  sdk/quantum/Azure.ResourceManager.Quantum/tests/Generated/Samples/Sample_QuantumWorkspaceCollection.cs
  sdk/quantum/Azure.ResourceManager.Quantum/tests/Generated/Samples/Sample_QuantumWorkspaceResource.cs
  sdk/quantum/Azure.ResourceManager.Quantum/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
Labels: Mgmt

#49354 Update Samples from FrontDoor to HardwareSecurityModules
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/Azure.ResourceManager.FrontDoor.sln
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/samples/Azure.ResourceManager.FrontDoor.Samples.csproj
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/src/autorest.md
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorCollection.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorExperimentCollection.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorExperimentResource.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorNetworkExperimentProfileCollection.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorNetworkExperimentProfileResource.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorResource.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorRulesEngineCollection.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorRulesEngineResource.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorWebApplicationFirewallPolicyCollection.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontDoorWebApplicationFirewallPolicyResource.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontendEndpointCollection.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_FrontendEndpointResource.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/frontdoor/Azure.ResourceManager.FrontDoor/tests/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/grafana/Azure.ResourceManager.Grafana/Azure.ResourceManager.Grafana.sln
  sdk/grafana/Azure.ResourceManager.Grafana/samples/Azure.ResourceManager.Grafana.Samples.csproj
  sdk/grafana/Azure.ResourceManager.Grafana/src/autorest.md
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_GrafanaPrivateEndpointConnectionCollection.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_GrafanaPrivateEndpointConnectionResource.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_GrafanaPrivateLinkResource.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_GrafanaPrivateLinkResourceCollection.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_ManagedGrafanaCollection.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_ManagedGrafanaResource.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_ManagedPrivateEndpointModelCollection.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_ManagedPrivateEndpointModelResource.cs
  sdk/grafana/Azure.ResourceManager.Grafana/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/Azure.ResourceManager.GraphServices.sln
  sdk/graphservices/Azure.ResourceManager.GraphServices/samples/Azure.ResourceManager.GraphServices.Samples.csproj
  sdk/graphservices/Azure.ResourceManager.GraphServices/src/autorest.md
  sdk/graphservices/Azure.ResourceManager.GraphServices/tests/Generated/Samples/Sample_GraphServicesAccountResource.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/tests/Generated/Samples/Sample_GraphServicesAccountResourceCollection.cs
  sdk/graphservices/Azure.ResourceManager.GraphServices/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/Azure.ResourceManager.GuestConfiguration.sln
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/samples/Azure.ResourceManager.GuestConfiguration.Samples.csproj
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/src/autorest.md
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationHcrpAssignmentCollection.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationHcrpAssignmentResource.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationVMwarevSphereAssignmentCollection.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationVMwarevSphereAssignmentResource.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationVmAssignmentCollection.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationVmAssignmentResource.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationVmssAssignmentCollection.cs
  sdk/guestconfiguration/Azure.ResourceManager.GuestConfiguration/tests/Generated/Samples/Sample_GuestConfigurationVmssAssignmentResource.cs
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/Azure.ResourceManager.HardwareSecurityModules.sln
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/samples/Azure.ResourceManager.HardwareSecurityModules.Samples.csproj
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/src/autorest.md
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/tests/Generated/Samples/Sample_CloudHsmClusterCollection.cs
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/tests/Generated/Samples/Sample_CloudHsmClusterPrivateEndpointConnectionCollection.cs
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/tests/Generated/Samples/Sample_CloudHsmClusterPrivateEndpointConnectionResource.cs
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/tests/Generated/Samples/Sample_CloudHsmClusterResource.cs
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/tests/Generated/Samples/Sample_DedicatedHsmCollection.cs
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/tests/Generated/Samples/Sample_DedicatedHsmResource.cs
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
Labels: Mgmt, Network - Front Door, Hardware Security Modules

#49835 Fix spec diff
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/api/Azure.ResourceManager.WorkloadsSapVirtualInstance.net8.0.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/api/Azure.ResourceManager.WorkloadsSapVirtualInstance.netstandard2.0.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Generated/ArmWorkloadsSapVirtualInstanceModelFactory.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Generated/Models/OperationStatusResult.Serialization.cs
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Generated/Models/OperationStatusResult.cs
Labels: Mgmt

#49839 Increment version for workloadssapvirtualinstance releases
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/CHANGELOG.md
  sdk/workloadssapvirtualinstance/Azure.ResourceManager.WorkloadsSapVirtualInstance/src/Azure.ResourceManager.WorkloadsSapVirtualInstance.csproj
Labels: Mgmt

#49810 added support for configuring app config sku
  eng/Packages.Data.props
  sdk/cloudmachine/Azure.Projects.AI/src/OpenAI/OpenAIAccountFeature.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/api/Azure.Projects.Provisioning.net8.0.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/api/Azure.Projects.Provisioning.netstandard2.0.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/src/Features/AppConfigurationFeature.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/src/ProjectInfrastructure/ConnectionStore.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/src/Tooling/Azd.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/src/Tooling/AzureProjectsCommands.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/tests/BicepGenerationTests.cs
  sdk/cloudmachine/Azure.Projects.Provisioning/tests/Data/developer.bicep
  sdk/cloudmachine/Azure.Projects.sln
  sdk/cloudmachine/Azure.Projects/samples/HelloWorld/Program.cs
  sdk/cloudmachine/TROUBLESHOOTING.md
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/tests/Azure.AI.OpenAI.Tests.csproj
Labels: Azure.Core, Azure Projects

#49828 Sync eng/common directory with azure-sdk-tools for PR 10542
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#49829 Sync eng/common directory with azure-sdk-tools for PR 10534
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#49838 Update the latest GA SCM version
  sdk/ai/Azure.AI.Inference/src/Azure.AI.Inference.csproj
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
  sdk/cloudmachine/Azure.Projects/src/Azure.Projects.csproj
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search, OpenAI, AI Model Inference, Azure Projects, AI Projects

#49818 Rewind stream in test before reading
  sdk/storage/Azure.Storage.Common/tests/PooledMemoryStreamTests.cs
Labels: Storage

#49845 Increment version for tables releases
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/src/Azure.Data.Tables.csproj
Labels: Tables

#49602 Bump SCM version in packages.data.props
  eng/Directory.Build.Common.targets
  sdk/core/Azure.Core/api/Azure.Core.net462.cs
  sdk/core/Azure.Core/api/Azure.Core.net472.cs
  sdk/core/Azure.Core/api/Azure.Core.net6.0.cs
  sdk/core/Azure.Core/api/Azure.Core.net8.0.cs
  sdk/core/Azure.Core/api/Azure.Core.netstandard2.0.cs
  sdk/core/Azure.Core/src/AzureCoreContext.cs
  sdk/core/Azure.Core/tests/RehydrationTokenTests.cs
  sdk/core/System.ClientModel/tests/System.ClientModel.Tests.csproj
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/JsonModelConverterTests.cs
  sdk/core/System.ClientModel/tests/internal/ModelReaderWriter/SystemClientModelTestsInternalContext.cs
  sdk/core/System.ClientModel/tests/internal/System.ClientModel.Tests.Internal.csproj
  sdk/openai/tools/TestFramework/src/OpenAI.TestFramework.csproj
Labels: Azure.Core

#49819 STG 98 Release Commit
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
Labels: Storage

#49830 [AzureMonitorExporter] emit warning if LiveMetrics not supported
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorExporterOptions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/Diagnostics/AzureMonitorExporterEventSource.cs
Labels: Monitor - Exporter

#49848 Prepare release of Azure.Core 1.46.0
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#49851 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#49853 Fixed Blob Batch changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
Labels: Storage

#49824 Handle case where a model is both a list and IPersistable
  sdk/core/System.ClientModel/gen/Model/TypeBuilderKind.cs
  sdk/core/System.ClientModel/gen/ModelReaderWriterContextGenerator.cs
  sdk/core/System.ClientModel/gen/TypeSymbolKindCache.cs
  sdk/core/System.ClientModel/tests/gen.unit/InvocationTests/PersistableInvocationTests.cs
  sdk/core/System.ClientModel/tests/gen.unit/PersistableModelTests.cs
Labels: Azure.Core

#49849 [AzureMonitor] change LogExporter ctor to internal
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net6.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.net8.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/api/Azure.Monitor.OpenTelemetry.Exporter.netstandard2.0.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/AzureMonitorLogExporter.cs
Labels: Monitor - Exporter

#49861 update OTel dependencies
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
Labels: Monitor - Distro

#49860 Bump azure.core version in packages.data.props
  eng/Packages.Data.props
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/tests/Azure.AI.OpenAI.Tests.csproj
Labels: OpenAI

#49782 Sync eng/common directory with azure-sdk-tools for PR 10518
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#49865 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
Labels: Storage

#49864 Hide the test usage of connection string from customer.
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistantAgensConstants.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsAdministration.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
Labels: AI Model Inference, AI Projects

#49866 Update shared source to use new overload
  sdk/core/Azure.Core/src/Internal/GenericOperationSource.cs
  sdk/core/Azure.Core/src/RehydrationToken.Serialization.cs
  sdk/core/Azure.Core/src/Shared/NextLinkOperationImplementation.cs
Labels: Azure.Core

#49305 Add presence REST API to web pubsub service client
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/README.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/api/Azure.Messaging.WebPubSub.net8.0.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/api/Azure.Messaging.WebPubSub.netstandard2.0.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/assets.json
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Generated/WebPubSubServiceClient.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Models/WebPubSubGroupMember.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClientOptions.ServiceVersion.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubServiceClient_extensions.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/autorest.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/Samples/WebPubSubSamples.HelloWorld.cs
  sdk/webpubsub/Azure.Messaging.WebPubSub/tests/WebPubSubGeneralTests.cs
Labels: WebPubSub

#49669 New release of Azure data factory SDK: Version 1.8.0
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/api/Azure.ResourceManager.DataFactory.net8.0.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/api/Azure.ResourceManager.DataFactory.netstandard2.0.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Customized/Models/AmazonRdsForOracleLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AmazonRdsForOracleAuthenticationType.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AmazonRdsForOracleLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AmazonRdsForOracleLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AzureDatabricksLinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/AzureDatabricksLinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/Office365LinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/Office365LinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SnowflakeV2LinkedService.Serialization.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Generated/Models/SnowflakeV2LinkedService.cs
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/autorest.md
Labels: Mgmt

#49859 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#49879 Remove unnecessary serialization override
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Primitives/KnownAzureTypes.cs
Labels: Client, CodeGen

#49883 Remove KeyAuthentication
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsAdministration.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsExtensions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/AIAgentsPersistentClientBuilderExtensions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsAdministration.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsFiles.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ThreadMessages.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ThreadRunSteps.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ThreadRuns.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/Threads.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/VectorStoreFileBatches.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/VectorStoreFiles.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/VectorStores.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#49871 remove the version override in AIFoundary
  sdk/cloudmachine/Azure.Projects.AI.Foundry/Azure.Projects.AI.Foundry.csproj
Labels: Azure Projects

#49876 Increment version for datafactory releases
  sdk/datafactory/Azure.ResourceManager.DataFactory/CHANGELOG.md
  sdk/datafactory/Azure.ResourceManager.DataFactory/src/Azure.ResourceManager.DataFactory.csproj
Labels: Mgmt

#49897 Fix readme files
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/README.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/README.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/README.md__
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample10_PersistentAgents_Vector_Store_Batch_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample11_PersistentAgents_Code_Interpreter_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample12_PersistentAgents_Code_Interpreter_File_Attachment.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample13_PersistentAgents_OpenAPI.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample14_PersistentAgents_Azure_AI_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample15_PersistentAgents_Vector_Store_Batch_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample16_PersistentAgents_Azure_AI_Search_Streaming.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample17_PersistentAgents_ImageUrlInputs.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample18_PersistentAgents_ImageFileInputs.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample1_PersistentAgents_Additional_messages.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample2_PersistentAgents_Azure_Functions.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample3_PersistentAgents_Basics.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample4_PersistentAgents_Bing_Grounding.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample5_PersistentAgents_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample6_PersistentAgents_FileSearch.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample7_PersistentAgents_Functions.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample8_PersistentAgents_FunctionsWithStreaming.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample9_PersistentAgents_Streaming.md
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Additional_messages.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Bing_Grounding.cs
Labels: AI Model Inference, AI Projects

#49900 Increment version for netapp releases
  sdk/netapp/Azure.ResourceManager.NetApp/CHANGELOG.md
  sdk/netapp/Azure.ResourceManager.NetApp/src/Azure.ResourceManager.NetApp.csproj
Labels: Mgmt

#49890 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: Extensions

#49648 Management SDK generation for confidentialledger
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/api/Azure.ResourceManager.ConfidentialLedger.net8.0.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/api/Azure.ResourceManager.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ArmConfidentialLedgerModelFactory.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ConfidentialLedgerCollection.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ConfidentialLedgerResource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Extensions/ConfidentialLedgerExtensions.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Extensions/MockableConfidentialLedgerResourceGroupResource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Extensions/MockableConfidentialLedgerSubscriptionResource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ManagedCcfCollection.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/ManagedCcfResource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerApplicationType.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerEnclavePlatform.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerProperties.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ConfidentialLedgerProperties.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfProperties.Serialization.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/Models/ManagedCcfProperties.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/RestOperations/ConfidentialLedgerRestOperations.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/RestOperations/LedgerRestOperations.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Generated/RestOperations/ManagedCCFRestOperations.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/autorest.md
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/Generated/Samples/Sample_ConfidentialLedgerCollection.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/Generated/Samples/Sample_ConfidentialLedgerResource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/Generated/Samples/Sample_ManagedCcfCollection.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/Generated/Samples/Sample_ManagedCcfResource.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/tests/Scenario/UpdateLedgerTest.cs
Labels: Mgmt

#49903 Increment version for webpubsub releases
  sdk/webpubsub/Azure.Messaging.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Azure.Messaging.WebPubSub/src/Azure.Messaging.WebPubSub.csproj
Labels: WebPubSub

#49908 Increment version for confidentialledger releases
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.ResourceManager.ConfidentialLedger/src/Azure.ResourceManager.ConfidentialLedger.csproj
Labels: Mgmt

#49913 Return PersistentAgentsClient insead of AgentsAdministration client
  sdk/ai/Azure.AI.Agents.Persistent/README.md
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample7_PersistentAgents_Functions.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsExtensions.cs
Labels: AI Model Inference, AI Projects

#49922 Increment version for ai releases
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
Labels: AI Model Inference, AI Projects

#49923 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250508.1
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/api/Azure.ResourceManager.ArizeAIObservabilityEval.net8.0.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/api/Azure.ResourceManager.ArizeAIObservabilityEval.netstandard2.0.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/ArizeAIObservabilityEvalOrganizationData.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/ArizeAIObservabilityEvalOrganizationResource.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/LongRunningOperation/ArizeAIObservabilityEvalArmOperation.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/LongRunningOperation/ArizeAIObservabilityEvalArmOperationOfT.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/LongRunningOperation/ArizeAIObservabilityEvalOrganizationOperationSource.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalMarketplaceDetails.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOfferDetails.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOfferPartnerProperties.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOrganizationPatch.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOrganizationProperties.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalSingleSignOnPropertiesV2.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalUserDetails.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/AzureResourceManagerArizeAIObservabilityEvalContext.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/OrganizationResourceListResult.Serialization.cs
Labels: Arize AI

#49947 [AzureMonitorExporter] prep exporter for release 1.4.0
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#49798 [AI] [Projects] add ConnectionProvider to AIProjectClient
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClientOptions.cs
  sdk/ai/Azure.AI.Projects/src/Custom/AuthenticationType.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Custom/AuthenticationType.cs
  sdk/ai/Azure.AI.Projects/src/Custom/ConnectionCacheManager.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/tests/Azure.AI.Projects.Tests.csproj
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Connections.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Datasets.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Deployments.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Evaluations.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Indexes.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_RedTeams.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/Sample_AIAgents.cs
Labels: Azure.Core, AI Model Inference, AI Projects

#49653 Implement InheritableSystemObjectModelProvider to replace models with existing Azure types
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/InheritableSystemObjectModelVisitor.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/ManagementClientGenerator.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/ManagementTypeFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/Primitives/KnownManagementTypes.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/Providers/InheritableSystemObjectModelProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/CreatedByType.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ExtendedLocation.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ExtendedLocation.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ExtendedLocationType.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ManagedServiceIdentity.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ManagedServiceIdentity.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ManagedServiceIdentityType.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLinkResourceProperties.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLinkResourceProperties.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ProxyResource.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ProxyResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Resource.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/Resource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/SystemData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/SystemData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/TrackedResource.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/TrackedResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/UserAssignedIdentity.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/UserAssignedIdentity.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinkResourceData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinkResourceData.cs
Labels: Client, Mgmt, CodeGen

#49905 Refactor emitter structure and fix a few minor issues
  eng/packages/http-client-csharp-mgmt/emitter/src/emitter.ts
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-detection.ts
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-metadata.ts
  eng/packages/http-client-csharp-mgmt/emitter/src/sdk-context-options.ts
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/foo.tsp
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
Labels: Mgmt, CodeGen

#49906 bump the version of azure generator for mgmt generator
  eng/Packages.Data.props
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/FoosRestOperations.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/MgmtTypeSpec.csproj
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp-mgmt/package-lock.json
  eng/packages/http-client-csharp-mgmt/package.json
Labels: Mgmt, CodeGen

#49955 Increment version for neonpostgres releases
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/CHANGELOG.md
  sdk/neonpostgres/Azure.ResourceManager.NeonPostgres/src/Azure.ResourceManager.NeonPostgres.csproj
Labels: Neon Postgres

#49963 Prepare release for System.ClientModel 1.4.1
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#49777 Alpha SDK Version Upgrade
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication

#49966 Upgrade to latest MTG
  eng/Packages.Data.props
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#49970 Increment version for core releases
  eng/Packages.Data.props
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#49968 App config aot
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/api/Azure.Data.AppConfiguration.net8.0.cs
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClientBuilderExtensions.cs
  sdk/appconfiguration/ci.yml
Labels: App Configuration

#49974 [AzureMonitorDistro] prep distro for release 1.3.0
  eng/Packages.Data.props
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#49973 Prepare release for Azure.Core 1.46.1
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#49979 Increment version for core releases
  eng/Packages.Data.props
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#49984 Update AutoRest C# version to 3.0.0-beta.20250509.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/healthdataaiservices/Azure.ResourceManager.HealthDataAIServices/src/Generated/Models/HealthDataAIServicesPrivateEndpointServiceConnectionStatus.cs
  sdk/mongocluster/Azure.ResourceManager.MongoCluster/src/Generated/Models/MongoClusterPrivateEndpointServiceConnectionStatus.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Discovery.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Entity.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Relationship.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Discovery.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Entity.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Relationship.cs
Labels: Mgmt

#49978 Increment version for appconfiguration releases
  sdk/appconfiguration/Azure.Data.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj
Labels: App Configuration

#49952 Sync eng/common directory with azure-sdk-tools for PR 10579
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#49985 Fix renaming second part
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/OpenApiToolDefinition.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsAdministrationClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsExtensions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/StreamingUpdateReason.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/AIAgentsPersistentClientBuilderExtensions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/CreateAgentRequest.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/CreateRunRequest.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/CreateThreadAndRunRequest.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/InternalPersistentAgentsResponseFormat.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/InternalPersistentAgentsResponseFormat.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/OpenApiFunctionDefinition.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/OpenApiFunctionDefinition.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgent.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentStreamEvent.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsAdministrationClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsAdministrationClientOptions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ResponseFormat.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepStreamEvent.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ThreadRun.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/UpdateAgentRequest.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#49983 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.AspNetCore/src/Azure.Monitor.OpenTelemetry.AspNetCore.csproj
Labels: Monitor - Distro

#49972 Increment version for monitor releases
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Azure.Monitor.OpenTelemetry.Exporter.csproj
Labels: Monitor - Exporter

#49987 [Identity] Update target framework in Identity integration projects to net8.0
  sdk/identity/Azure.Identity/integration/Integration.Identity.Common/Integration.Identity.Common.csproj
  sdk/identity/Azure.Identity/integration/Integration.Identity.Func/Integration.Identity.Func.csproj
  sdk/identity/Azure.Identity/integration/WebApp/Integration.Identity.WebApp.csproj
Labels: Azure.Identity

#49889 [Identity] Consistency review
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/TROUBLESHOOTING.md
  sdk/identity/Azure.Identity/samples/TokenCache.md
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/EnvironmentVariables.cs
Labels: Azure.Identity

#49975 Sync eng/common directory with azure-sdk-tools for PR 10593
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#49998 Fix tables test resources API versions
  sdk/tables/test-resources.json
Labels: Tables

#50002 update ci.projects_1dp.yml
  sdk/ai/ci.projects_1dp.yml
Labels: AI Model Inference, AI Projects

#50003 [Identity] Update target framework to support net9.0 in project files
  sdk/identity/Azure.Identity/integration/Integration.Identity.Common/Integration.Identity.Common.csproj
  sdk/identity/Azure.Identity/integration/Integration.Identity.Func/Integration.Identity.Func.csproj
  sdk/identity/Azure.Identity/integration/WebApp/Integration.Identity.WebApp.csproj
Labels: Azure.Identity

#50006 Update AutoRest C# version to 3.0.0-beta.20250512.2
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
Labels: Mgmt

#50004 Sync eng/common directory with azure-sdk-tools for PR 10611
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#50009 Increment version for carbon releases
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/CHANGELOG.md
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/src/Azure.ResourceManager.CarbonOptimization.csproj
Labels: Mgmt

#50005 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Azure.Messaging.EventGrid.Namespaces.csproj
Labels: Event Grid

#49831 [httpclient-chsharp-mgmt] implement resourceCollectionClientProvider
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Azure.Generator.Mgmt.Tests.csproj
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Common/InputResourceData.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/ResourceCollectionClientProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/TestData/ResourceCollectionClientProviderTests/Verify_ExistsAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/TestData/ResourceCollectionClientProviderTests/Verify_ExistsOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooResource.cs
Labels: Mgmt, CodeGen

#50015 Increment version for recoveryservices-siterecovery releases
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/CHANGELOG.md
  sdk/recoveryservices-siterecovery/Azure.ResourceManager.RecoveryServicesSiteRecovery/src/Azure.ResourceManager.RecoveryServicesSiteRecovery.csproj
Labels: Mgmt

#50010 Increment version for standbypool releases
  sdk/standbypool/Azure.ResourceManager.StandbyPool/CHANGELOG.md
  sdk/standbypool/Azure.ResourceManager.StandbyPool/src/Azure.ResourceManager.StandbyPool.csproj
Labels: Mgmt

#50016 Increment version for dependencymap releases
  sdk/dependencymap/Azure.ResourceManager.DependencyMap/CHANGELOG.md
  sdk/dependencymap/Azure.ResourceManager.DependencyMap/src/Azure.ResourceManager.DependencyMap.csproj
Labels: Mgmt

#50019 Sync eng/common directory with azure-sdk-tools for PR 10615
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#50022 update connections and indexes samples
  sdk/ai/Azure.AI.Projects/samples/Sample3_Connections.md
  sdk/ai/Azure.AI.Projects/samples/Sample4_Indexes.md
  sdk/ai/Azure.AI.Projects/src/Custom/Connections/Connections.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Connections/Sample_Connections.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Indexes/Sample_Indexes.cs
Labels: AI Model Inference, AI Projects

#50023 update samples in samples folder
  sdk/ai/Azure.AI.Projects/samples/Sample2_Deployments.md
  sdk/ai/Azure.AI.Projects/samples/Sample3_Connections.md
  sdk/ai/Azure.AI.Projects/samples/Sample4_Indexes.md
  sdk/ai/Azure.AI.Projects/samples/Sample5_Evaluations.md
  sdk/ai/Azure.AI.Projects/samples/Sample6_Agents.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI.md
  sdk/ai/ci.projects_1dp.yml
Labels: AI Model Inference, AI Projects

#49967 fix: support deserializing timespan properties
  sdk/tables/Azure.Data.Tables/CHANGELOG.md
  sdk/tables/Azure.Data.Tables/assets.json
  sdk/tables/Azure.Data.Tables/src/Extensions/TablesTypeBinder.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientLiveTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableClientTests.cs
  sdk/tables/Azure.Data.Tables/tests/TableServiceLiveTestsBase.cs
Labels: Tables

#48922 Storage Error Codes for Copies 99
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobGetPropertiesHeaders.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/StorageError.Serialization.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/StorageError.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageResponseClassifier.cs
  sdk/storage/Azure.Storage.Common/tests/StorageResponseClassifierTests.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/DirectoryRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/FileRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/StorageError.Serialization.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/StorageError.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/ShareRestClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#50021 Implement AZURE_TOKEN_CREDENTIALS
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Constants.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/EnvironmentVariables.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialFactoryTests.cs
Labels: Azure.Identity

#48975 Added ShareSnapshotNotFound in ShareErrorCode 99
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/assets.json
  sdk/storage/Azure.Storage.Files.Shares/src/Generated/Models/ShareErrorCode.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/autorest.md
  sdk/storage/Azure.Storage.Files.Shares/tests/ShareClientTests.cs
Labels: Storage

#50013 Simple renamings and new code generation
  sdk/ai/Azure.AI.Agents.Persistent/README.md
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample10_PersistentAgents_Vector_Store_Batch_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample13_PersistentAgents_OpenAPI.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample15_PersistentAgents_Vector_Store_Batch_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample5_PersistentAgents_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/AISearchIndexResource.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/AzureAISearchResource.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/AzureFunctionBinding.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/AzureFunctionStorageQueue .cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/OpenApiToolDefinition.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsAdministrationClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsFiles.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ToolOutput.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/UploadFileRequest.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/VectorStoreFileBatches.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/VectorStoreFiles.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/VectorStores.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/AISearchIndexResource.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/AzureFunctionBinding.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/AzureFunctionBinding.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/AzureFunctionStorageQueue.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/File.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/File.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/MessageStreamEvent.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/OpenApiFunctionDefinition.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/OpenApiFunctionDefinition.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentStreamEvent.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsAdministrationClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsAdministrationClientOptions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsModelFactory.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/RunStepStreamEvent.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/UploadFileRequest.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/UploadFileRequest.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/VectorStoreFileBatches.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/VectorStoreFiles.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Enterprise_File_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_OpenAPI.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Vector_Store_Batch_Enterprise_File_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Vector_Store_Batch_File_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#50025 remove duplicate AssemblyInfo
  sdk/ai/Azure.AI.Projects/src/properties/AssemblyInfo.cs
Labels: AI Model Inference, AI Projects

#49689 [Storage][DataMovement] Protocol Validation for NFS over REST
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/api/Azure.Storage.DataMovement.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementFileShareEventSource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/DataMovementSharesExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResourceOptions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/DataMovementEventSource.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferManager.cs
  sdk/storage/Azure.Storage.DataMovement/tests/CleanUpTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#50027 regenerate code from typespec
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectsModelFactory.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AzureAISearchIndex.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AzureAISearchIndex.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Connections.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CosmosDBIndex.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CosmosDBIndex.cs
  sdk/ai/Azure.AI.Projects/src/Generated/DatasetVersion.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/DatasetVersion.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Datasets.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Deployments.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Docs/Connections.xml
  sdk/ai/Azure.AI.Projects/src/Generated/Docs/Datasets.xml
  sdk/ai/Azure.AI.Projects/src/Generated/Docs/Deployments.xml
  sdk/ai/Azure.AI.Projects/src/Generated/Docs/Evaluations.xml
  sdk/ai/Azure.AI.Projects/src/Generated/Docs/Indexes.xml
  sdk/ai/Azure.AI.Projects/src/Generated/Docs/RedTeams.xml
  sdk/ai/Azure.AI.Projects/src/Generated/Evaluations.cs
  sdk/ai/Azure.AI.Projects/src/Generated/FieldMapping.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/FieldMapping.cs
  sdk/ai/Azure.AI.Projects/src/Generated/FileDatasetVersion.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/FileDatasetVersion.cs
  sdk/ai/Azure.AI.Projects/src/Generated/FolderDatasetVersion.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/FolderDatasetVersion.cs
  sdk/ai/Azure.AI.Projects/src/Generated/GetCredentialsRequest.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/GetCredentialsRequest.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Indexes.cs
  sdk/ai/Azure.AI.Projects/src/Generated/PendingUploadRequest.cs
  sdk/ai/Azure.AI.Projects/src/Generated/RedTeams.cs
  sdk/ai/Azure.AI.Projects/src/Generated/UnknownDatasetVersion.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/UnknownDatasetVersion.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Connections.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Datasets.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Deployments.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Evaluations.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_Indexes.cs
  sdk/ai/Azure.AI.Projects/tests/Generated/Samples/Samples_RedTeams.cs
  sdk/ai/Azure.AI.Projects/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#50029 update snippets
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/samples/README.md
  sdk/ai/Azure.AI.Projects/tests/Samples/ReadMe.cs
Labels: AI Model Inference, AI Projects

#50008 Test failure should fail CI
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/TestData/ResourceClientProviderTests/Verify_AsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/TestData/ResourceClientProviderTests/Verify_ConstructorWithId.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Mgmt/test/Azure.Generator.Mgmt.Tests/Providers/TestData/ResourceClientProviderTests/Verify_SyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/package-lock.json
  eng/packages/http-client-csharp/emitter/test/Unit/test-util.ts
  eng/packages/http-client-csharp/generator/Azure.Generator/test/common/Azure.Generator.Tests.Common.csproj
  eng/packages/http-client-csharp/package-lock.json
  eng/scripts/typespec/Test-Emitter.ps1
Labels: Client, Mgmt, CodeGen

#49827 [Storage][DataMovement] Add better support for virtual directories in Blob transfers
  sdk/storage/Azure.Storage.DataMovement.Blobs.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/DataMovementBlobConstants.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferBlobDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StorageResourceEtagManagementTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/TestGetBlobsContainerClient.cs
Labels: Storage

#50032 Join runs and Runs steps client
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsAdministrationClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRunSteps.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRuns.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ThreadRunSteps.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
Labels: AI Model Inference, AI Projects

#50035 Fix cspell.
  .vscode/cspell.json
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/Sample1_Datasets.md
  sdk/ai/Azure.AI.Projects/samples/Sample2_Deployments.md
  sdk/ai/Azure.AI.Projects/samples/Sample3_Connections.md
  sdk/ai/Azure.AI.Projects/samples/Sample4_Indexes.md
  sdk/ai/Azure.AI.Projects/samples/Sample5_Evaluations.md
  sdk/ai/Azure.AI.Projects/samples/Sample6_Agents.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI.md
  sdk/ai/Azure.AI.Projects/tests/Samples/Deployment/Sample_Deployment.cs
Labels: AI Model Inference, AI Projects

#50040 add telemetry samples and update connections sample
  sdk/ai/Azure.AI.Projects/samples/README.md
  sdk/ai/Azure.AI.Projects/samples/Sample3_Connections.md
  sdk/ai/Azure.AI.Projects/samples/Sample8_Telemetry.md
  sdk/ai/Azure.AI.Projects/src/Custom/Connections/Connections.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Telemetry/Telemetry.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Telemetry/Sample_Telemetry.cs
Labels: AI Model Inference, AI Projects

#50058 Sync eng/common directory with azure-sdk-tools for PR 10616
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#50060 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.net8.0.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#49791 Sync eng/common directory with azure-sdk-tools for PR 10522
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#50036 change the project reference of azure.provisioning to package reference
  sdk/provisioning/Azure.Provisioning.AppConfiguration/src/Azure.Provisioning.AppConfiguration.csproj
  sdk/provisioning/Azure.Provisioning.AppContainers/src/Azure.Provisioning.AppContainers.csproj
  sdk/provisioning/Azure.Provisioning.AppService/src/Azure.Provisioning.AppService.csproj
  sdk/provisioning/Azure.Provisioning.ApplicationInsights/src/Azure.Provisioning.ApplicationInsights.csproj
  sdk/provisioning/Azure.Provisioning.CognitiveServices/src/Azure.Provisioning.CognitiveServices.csproj
  sdk/provisioning/Azure.Provisioning.Communication/src/Azure.Provisioning.Communication.csproj
  sdk/provisioning/Azure.Provisioning.ContainerRegistry/src/Azure.Provisioning.ContainerRegistry.csproj
  sdk/provisioning/Azure.Provisioning.ContainerService/src/Azure.Provisioning.ContainerService.csproj
  sdk/provisioning/Azure.Provisioning.CosmosDB/src/Azure.Provisioning.CosmosDB.csproj
  sdk/provisioning/Azure.Provisioning.Deployment/src/Azure.Provisioning.Deployment.csproj
  sdk/provisioning/Azure.Provisioning.EventGrid/src/Azure.Provisioning.EventGrid.csproj
  sdk/provisioning/Azure.Provisioning.EventHubs/src/Azure.Provisioning.EventHubs.csproj
  sdk/provisioning/Azure.Provisioning.KeyVault/src/Azure.Provisioning.KeyVault.csproj
  sdk/provisioning/Azure.Provisioning.Kubernetes/src/Azure.Provisioning.Kubernetes.csproj
  sdk/provisioning/Azure.Provisioning.KubernetesConfiguration/src/Azure.Provisioning.KubernetesConfiguration.csproj
  sdk/provisioning/Azure.Provisioning.OperationalInsights/src/Azure.Provisioning.OperationalInsights.csproj
  sdk/provisioning/Azure.Provisioning.PostgreSql/src/Azure.Provisioning.PostgreSql.csproj
  sdk/provisioning/Azure.Provisioning.Redis/src/Azure.Provisioning.Redis.csproj
  sdk/provisioning/Azure.Provisioning.Search/src/Azure.Provisioning.Search.csproj
  sdk/provisioning/Azure.Provisioning.ServiceBus/src/Azure.Provisioning.ServiceBus.csproj
  sdk/provisioning/Azure.Provisioning.SignalR/src/Azure.Provisioning.SignalR.csproj
  sdk/provisioning/Azure.Provisioning.Sql/src/Azure.Provisioning.Sql.csproj
  sdk/provisioning/Azure.Provisioning.Storage/src/Azure.Provisioning.Storage.csproj
  sdk/provisioning/Azure.Provisioning.WebPubSub/src/Azure.Provisioning.WebPubSub.csproj
  sdk/provisioning/Azure.Provisioning.sln
  sdk/provisioning/Directory.Build.props
Labels: Provisioning

#49850 Made error message for invalid x-ms-version more user-friendly
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageRequestFailedDetailsParser.cs
  sdk/storage/Azure.Storage.Common/tests/Shared/InvalidServiceVersionPipelinePolicy.cs
Labels: Storage

#50063 Sync eng/common directory with azure-sdk-tools for PR 10532
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#50066 Add TOC and changelog
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/README.md
Labels: AI Model Inference, AI Projects

#50072 [Azure.AI.Inference] Beta5 Changelog update
  sdk/ai/Azure.AI.Inference/CHANGELOG.md
Labels: AI Model Inference, AI Projects

#50071 Manually clean up the file purposes
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentFilePurpose.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/PersistentAgentsFiles.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#50044 Support NoValueResponse.
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Primitives/NewAzureProjectScaffolding.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/BasicTypeSpec.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/api-key/src/Authentication.ApiKey.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/http/custom/src/Authentication.Http.Custom.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/oauth2/src/Authentication.OAuth2.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/union/src/Authentication.Union.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/flatten-property/src/_Specs_.Azure.ClientGenerator.Core.FlattenProperty.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/usage/src/_Specs_.Azure.ClientGenerator.Core.Usage.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/special-headers/client-request-id/src/Azure.SpecialHeaders.XmsClientRequestId.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/structure/default/src/Client.Structure.Service.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/bytes/src/Encode.Bytes.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/datetime/src/Encode.Datetime.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/duration/src/Encode.Duration.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/numeric/src/Encode.Numeric.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/basic/src/Parameters.Basic.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/body-optionality/src/Parameters.BodyOptionality.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/collection-format/src/Parameters.CollectionFormat.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/path/src/Parameters.Path.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/spread/src/Parameters.Spread.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/content-negotiation/src/Payload.ContentNegotiation.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/json-merge-patch/src/Payload.JsonMergePatch.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/media-type/src/Payload.MediaType.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/multipart/src/Payload.MultiPart.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/routes/src/Routes.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/serialization/encoded-name/json/src/Serialization.EncodedName.Json.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/server/endpoint/not-defined/src/Server.Endpoint.NotDefined.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/server/path/single/src/Server.Path.Single.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/server/versions/not-versioned/src/Server.Versions.NotVersioned.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-headers/conditional-request/src/SpecialHeaders.ConditionalRequest.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-headers/repeatability/src/SpecialHeaders.Repeatability.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-words/src/SpecialWords.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Streaming.Jsonl.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/array/src/Type.Array.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/dictionary/src/Type.Dictionary.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/enum/extensible/src/Type.Enum.Extensible.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/enum/fixed/src/Type.Enum.Fixed.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/empty/src/Type.Model.Empty.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/enum-discriminator/src/Type.Model.Inheritance.EnumDiscriminator.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/nested-discriminator/src/Type.Model.Inheritance.NestedDiscriminator.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/not-discriminated/src/Type.Model.Inheritance.NotDiscriminated.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/recursive/src/Type.Model.Inheritance.Recursive.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/single-discriminator/src/Type.Model.Inheritance.SingleDiscriminator.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/usage/src/Type.Model.Usage.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/visibility/src/Type.Model.Visibility.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Type.Property.AdditionalProperties.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/nullable/src/Type.Property.Nullable.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Type.Property.Optional.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Type.Property.ValueTypes.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/scalar/src/Type.Scalar.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/src/Type.Union.csproj
Labels: Client, CodeGen

#50075 Fix generated code
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
Labels: AI Model Inference, AI Projects

#50077 Increment version for search releases
  sdk/search/Azure.Search.Documents/CHANGELOG.md
  sdk/search/Azure.Search.Documents/src/Azure.Search.Documents.csproj
Labels: Search

#50067 Sync eng/common directory with azure-sdk-tools for PR 10550
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#50037 [http-client-csharp-mgmt] Support NoValueResponse.
  eng/Packages.Data.props
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Azure.Generator.Management.csproj
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/ResourceCollectionClientProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetIfExistsAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetIfExistsOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local.Tests/TestProjects.Local.Tests.csproj
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/MgmtTypeSpec.csproj
  eng/packages/http-client-csharp-mgmt/package-lock.json
  eng/packages/http-client-csharp-mgmt/package.json
Labels: Client, Mgmt, CodeGen

#50086 remove Deprecated API related start and Query tests
  sdk/network/Azure.ResourceManager.Network/tests/Tests/ConnectionMonitorTests.cs
Labels: Mgmt

#50065 STG 99 Changelogs
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#50099 Prepare docs for GA
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/README.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
Labels: AI Model Inference, AI Projects

#50070 Change PostProcessingOptions Params
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PostProcessingOptions.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/PostProcessingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/PostProcessingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/CallRecordingTests.cs
Labels: Communication

#50076 [Storage] [DataMovement] Fixed issue where transfers added concurrently to local checkpointer throws
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/LocalTransferCheckpointer.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/Errors.DataMovement.cs
Labels: Storage

#50098 updating the latest api specs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailedInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/StartRecordingFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/StartRecordingFailedInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/Events/CallAutomationEventParserTests.cs
Labels: Communication

#50104 add inference samples and custom code
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/README.md
  sdk/ai/Azure.AI.Projects/samples/Sample10_InferenceEmbedding.md
  sdk/ai/Azure.AI.Projects/samples/Sample11_InferenceImageEmbedding.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI.md
  sdk/ai/Azure.AI.Projects/samples/Sample9_InferenceChatClient.md
  sdk/ai/Azure.AI.Projects/src/Custom/ConnectionCacheManager.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Inference/Inference.cs
  sdk/ai/Azure.AI.Projects/tests/AIProjectsTestEnvironment.cs
  sdk/ai/Azure.AI.Projects/tests/Azure.AI.Projects.Tests.csproj
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/Sample_AIInference.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/Sample_AzureOpenAI.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/juggling_balls.png
  sdk/ai/Azure.AI.Projects/tests/Samples/Indexes/Sample_Indexes.cs
Labels: AI Model Inference, AI Projects

#50107 changelog draft
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
Labels: AI Model Inference, AI Projects

#50102 Sync eng/common directory with azure-sdk-tools for PR 10664
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#50108 Get commit hash from main branch
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#50109 Sync eng/common directory with azure-sdk-tools for PR 10665
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#50110 readme update
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/samples/Sample1_Datasets.md
  sdk/ai/Azure.AI.Projects/tests/Samples/Datasets/Sample_Datasets.cs
Labels: AI Model Inference, AI Projects

#49976 Updating the changelog and the version
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationClientAutomatedLiveTestsBase.cs
Labels: Communication

#50088 fix the customization code issue in dynatrace
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/api/Azure.ResourceManager.Dynatrace.net8.0.cs
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/api/Azure.ResourceManager.Dynatrace.netstandard2.0.cs
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Customized/DynatraceMonitorData.cs
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Customized/Models/DynatraceMonitorData.Serialization.cs
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Generated/ArmDynatraceModelFactory.cs
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Generated/DynatraceMonitorData.Serialization.cs
  sdk/dynatrace/Azure.ResourceManager.Dynatrace/src/Generated/DynatraceMonitorData.cs
Labels: Mgmt

#49672 Assign default name to QueueService
  sdk/provisioning/Azure.Provisioning.Storage/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning.Storage/src/Azure.Provisioning.Storage.csproj
  sdk/provisioning/Azure.Provisioning.Storage/src/Generated/QueueService.cs
  sdk/provisioning/Azure.Provisioning.Storage/src/QueueService.cs
  sdk/provisioning/Generator/src/Specifications/StorageSpecification.cs
Labels: customer-reported, Community Contribution, Provisioning

#50114 Bump MTG for Management
  eng/Packages.Data.props
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Azure.Generator.Mgmt.Tests.csproj
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/TestHelpers/ManagementMockHelpers.cs
  eng/packages/http-client-csharp-mgmt/generator/Directory.Build.props
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp-mgmt/package-lock.json
  eng/packages/http-client-csharp-mgmt/package.json
Labels: Mgmt, CodeGen

#50111 Increment version for ai releases
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
Labels: AI Model Inference, AI Projects

#50116 Fix transitive SG issue on project reference replacement
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#50106 Upgrade the Agents
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/samples/Sample6_Agents.md
  sdk/ai/Azure.AI.Projects/tests/Azure.AI.Projects.Tests.csproj
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/Sample_AIAgents.cs
Labels: AI Model Inference, AI Projects

#50127 addressing comments
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/samples/README.md
  sdk/ai/Azure.AI.Projects/samples/Sample10_InferenceEmbedding.md
  sdk/ai/Azure.AI.Projects/samples/Sample11_InferenceImageEmbedding.md
  sdk/ai/Azure.AI.Projects/samples/Sample1_Datasets.md
  sdk/ai/Azure.AI.Projects/samples/Sample2_Deployments.md
  sdk/ai/Azure.AI.Projects/samples/Sample3_Connections.md
  sdk/ai/Azure.AI.Projects/samples/Sample4_Indexes.md
  sdk/ai/Azure.AI.Projects/samples/Sample5_Evaluations.md
  sdk/ai/Azure.AI.Projects/samples/Sample6_Agents.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI.md
  sdk/ai/Azure.AI.Projects/samples/Sample8_Telemetry.md
  sdk/ai/Azure.AI.Projects/samples/Sample9_InferenceChatClient.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
  sdk/ai/Azure.AI.Projects/tests/Samples/Connections/Sample_Connections.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Datasets/Sample_Datasets.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Deployment/Sample_Deployment.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Evaluation/Sample_Evaluation.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/Sample_AIAgents.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/Sample_AIInference.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Extensions/Sample_AzureOpenAI.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Indexes/Sample_Indexes.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/ReadMe.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Telemetry/Sample_Telemetry.cs
Labels: AI Model Inference, AI Projects

#50128 AuthenticationTokenProvider API feedback
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net462.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net6.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.net8.0.cs
  sdk/core/Azure.Core.Experimental/api/Azure.Core.Experimental.netstandard2.0.cs
  sdk/core/Azure.Core.Experimental/src/Auth/AccessToken.cs
  sdk/core/Azure.Core.Experimental/src/Auth/AuthenticationTokenProvider.cs
  sdk/core/Azure.Core.Experimental/src/Auth/OAuth2BearerTokenAuthenticationPolicy.cs
  sdk/core/Azure.Core.Experimental/tests/Auth/TokenProviderTests.cs
Labels: Azure.Core

#50131 update date and links
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/samples/README.md
Labels: AI Model Inference, AI Projects

#50132 Increment version for ai releases
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
Labels: AI Model Inference, AI Projects

#50135 Increment version for sqlmanagement releases
  sdk/sqlmanagement/Azure.ResourceManager.Sql/CHANGELOG.md
  sdk/sqlmanagement/Azure.ResourceManager.Sql/src/Azure.ResourceManager.Sql.csproj
Labels: Mgmt
