Repository Azure/azure-sdk-for-net, pull requests merged in 2025-07, with the labels that each got.

#50965 Sync eng/common directory with azure-sdk-tools for PR 11056
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#50960 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250630.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#50933 add `AdditionalProperties` in `VirtualMachineScaleSetVmProperties`
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.net8.0.cs
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/ArmComputeModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/VirtualMachineScaleSetVmData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/ArmComputeModelFactory.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmProperties.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/Models/VirtualMachineScaleSetVmProperties.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetVmData.Serialization.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Generated/VirtualMachineScaleSetVmData.cs
  sdk/compute/Azure.ResourceManager.Compute/src/autorest.md
  sdk/compute/Azure.ResourceManager.Compute/tests/Generated/Samples/Sample_VirtualMachineScaleSetVmCollection.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Generated/Samples/Sample_VirtualMachineScaleSetVmResource.cs
Labels: Mgmt

#50935 fix the `NullReferenceException` issue in `Azure.ResourceManager.Network`
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
  sdk/network/Azure.ResourceManager.Network/src/Customization/LoadBalancingRuleData.cs
Labels: Mgmt

#50971 Filter out ClientBuilderExtensionsDefinition for MPG
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementClientGenerator.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/TypeFilterVisiter.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecClientBuilderExtensions.cs
Labels: Mgmt, CodeGen

#50976 Update AutoRest C# version to 3.0.0-beta.20250630.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Generated/Samples/Sample_ServiceFabricManagedClusterResource.cs
  sdk/servicefabricmanagedclusters/Azure.ResourceManager.ServiceFabricManagedClusters/tests/Generated/Samples/Sample_ServiceFabricManagedNodeTypeResource.cs
Labels: Mgmt

#50975 Bump Azure Generator Version
  eng/Packages.Data.props
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Primitives/NewManagementProjectScaffolding.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/MgmtTypeSpec.csproj
  eng/packages/http-client-csharp-mgmt/package-lock.json
  eng/packages/http-client-csharp-mgmt/package.json
Labels: Mgmt, CodeGen

#50986 Increment version for loadtestservice releases
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.Playwright.NUnit/src/Azure.Developer.Playwright.NUnit.csproj
  sdk/loadtestservice/Azure.Developer.Playwright/CHANGELOG.md
  sdk/loadtestservice/Azure.Developer.Playwright/src/Azure.Developer.Playwright.csproj
Labels: Load Test Service

#50992 Fix getting models from Azure Open AI resource if it is connected through Entra ID.
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/src/Custom/Inference/Inference.cs
Labels: AI Model Inference, AI Projects

#50997 rename connection, index, SasCredential, Sku
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/Sample3_Connections.md
  sdk/ai/Azure.AI.Projects/samples/Sample4_Indexes.md
  sdk/ai/Azure.AI.Projects/src/Custom/Connections/Connections.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Inference/Inference.cs
  sdk/ai/Azure.AI.Projects/src/Custom/SasCredential.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Telemetry/Telemetry.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectsModelFactory.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AzureAISearchIndex.cs
  sdk/ai/Azure.AI.Projects/src/Generated/BlobReference.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/BlobReference.cs
  sdk/ai/Azure.AI.Projects/src/Generated/BlobReferenceSasCredential.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/BlobReferenceSasCredential.cs
  sdk/ai/Azure.AI.Projects/src/Generated/BlobReferenceSasCredentialType.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionProperties.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionProperties.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Connections.cs
  sdk/ai/Azure.AI.Projects/src/Generated/CosmosDBIndex.cs
  sdk/ai/Azure.AI.Projects/src/Generated/DatasetIndex.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/DatasetIndex.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Indexes.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ManagedAzureAISearchIndex.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ModelDeployment.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ModelDeployment.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ModelDeploymentSku.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ModelDeploymentSku.cs
  sdk/ai/Azure.AI.Projects/src/Generated/SasCredentialType.cs
  sdk/ai/Azure.AI.Projects/src/Generated/UnknownDatasetIndex.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/UnknownDatasetIndex.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Connections/Sample_Connections.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Indexes/Sample_Indexes.cs
  sdk/ai/Azure.AI.Projects/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#50987 enable SetTag method.
  eng/packages/http-client-csharp-mgmt/ci.yml
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Primitives/NewManagementProjectScaffolding.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local.Tests/TestProjects.Local.Tests.csproj
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/MgmtTypeSpec.csproj
Labels: Mgmt, CodeGen

#50995 Adopt azure basic scenarios
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Azure/Core/Basic/BasicTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/_Specs_.Azure.Core.Basic.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/BasicClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/BasicClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/Models/_Specs_AzureCoreBasicContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/User.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/User.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/UserList.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/UserList.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/UserOrder.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/UserOrder.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/_Specs_AzureCoreBasicClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/_Specs_AzureCoreBasicModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/_Specs_.Azure.Core.Basic.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/tspCodeModel.json
Labels: Client, CodeGen

#50998 Sync eng/common directory with azure-sdk-tools for PR 11067
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Labels: EngSys, Central-EngSys

#51025 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250702.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientGenerator.cs
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51028 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250702.3
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51031 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250702.3
  eng/azure-typespec-http-client-csharp-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-emitter-package.json
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridNamespacesModelFactory.cs
Labels: Event Grid

#51035 Include STJ decorator
  eng/packages/http-client-csharp-mgmt/emitter/src/sdk-context-options.ts
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp-mgmt/package-lock.json
  eng/packages/http-client-csharp-mgmt/package.json
  eng/packages/http-client-csharp/emitter/src/emitter.ts
  eng/packages/http-client-csharp/emitter/test/Unit/options.test.ts
Labels: Client, Mgmt, CodeGen

#51034 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250702.4
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#50713 [StorageActions] StorageActions GA
  sdk/storageactions/Azure.ResourceManager.StorageActions/Azure.ResourceManager.StorageActions.sln
  sdk/storageactions/Azure.ResourceManager.StorageActions/CHANGELOG.md
  sdk/storageactions/Azure.ResourceManager.StorageActions/README.md
  sdk/storageactions/Azure.ResourceManager.StorageActions/api/Azure.ResourceManager.StorageActions.net8.0.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/api/Azure.ResourceManager.StorageActions.netstandard2.0.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/assets.json
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Azure.ResourceManager.StorageActions.csproj
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/ArmStorageActionsModelFactory.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Extensions/MockableStorageActionsResourceGroupResource.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Extensions/MockableStorageActionsSubscriptionResource.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Extensions/StorageActionsExtensions.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskAssignmentsListResult.Serialization.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskAssignmentsListResult.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskPatch.Serialization.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskPatch.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskReportInstance.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskReportProperties.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskReportSummary.Serialization.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskReportSummary.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskUpdateProperties.Serialization.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTaskUpdateProperties.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTasksListResult.Serialization.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/Models/StorageTasksListResult.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/RestOperations/StorageTaskAssignmentRestOperations.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/RestOperations/StorageTasksReportRestOperations.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/RestOperations/StorageTasksRestOperations.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/StorageTaskCollection.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Generated/StorageTaskResource.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/autorest.md.bak
  sdk/storageactions/Azure.ResourceManager.StorageActions/tests/Generated/Samples/Sample_StorageTaskCollection.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/tests/Generated/Samples/Sample_StorageTaskResource.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/tests/Scenario/StorageTaskTests.cs
  sdk/storageactions/Azure.ResourceManager.StorageActions/tsp-location.yaml
Labels: Mgmt

#51043 Increment version for storage releases
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
Labels: Mgmt

#51042 Increment version for storageactions releases
  sdk/storageactions/Azure.ResourceManager.StorageActions/CHANGELOG.md
  sdk/storageactions/Azure.ResourceManager.StorageActions/src/Azure.ResourceManager.StorageActions.csproj
Labels: Mgmt

#51041 Increment version for purestorageblock releases
  sdk/purestorageblock/Azure.ResourceManager.PureStorageBlock/CHANGELOG.md
  sdk/purestorageblock/Azure.ResourceManager.PureStorageBlock/src/Azure.ResourceManager.PureStorageBlock.csproj
Labels: PureStorage

#51040 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#50983 Increment version for network releases
  sdk/network/Azure.ResourceManager.Network/CHANGELOG.md
  sdk/network/Azure.ResourceManager.Network/src/Azure.ResourceManager.Network.csproj
Labels: Mgmt

#51047 Increment version for avs releases
  sdk/avs/Azure.ResourceManager.Avs/CHANGELOG.md
  sdk/avs/Azure.ResourceManager.Avs/src/Azure.ResourceManager.Avs.csproj
Labels: Mgmt

#51056 Adopt Core page scenarios
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Azure/Core/Page/PageTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/_Specs_.Azure.Core.Page.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/FirstItem.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/FirstItem.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/ListItemInputBody.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/ListItemInputBody.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/ListItemInputExtensibleEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/Models/_Specs_AzureCorePageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/PageClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/PageClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/SecondItem.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/SecondItem.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/TwoModelsAsPageItem.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/User.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/User.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/UserOrder.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/UserOrder.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/_Specs_AzureCorePageClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/_Specs_AzureCorePageModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/_Specs_.Azure.Core.Page.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/tspCodeModel.json
Labels: Client, CodeGen

#51057 [CODEOWNERS] Remove invalid owners
  .github/CODEOWNERS
Labels: Client, EngSys

#51060 Prep System.ClientModel for release
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#51016 Expose Generator Visitors as a Plugin
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Azure.Generator.csproj
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientGenerator.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/ClientBuilderExtensionsDefinition.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Snippets/RequestSnippets.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Visitors/SpecialHeadersVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/AzureClientGeneratorTests.cs
  eng/packages/plugins/client/Client.Plugin/Client.Plugin.sln
  eng/packages/plugins/client/Client.Plugin/src/Client.Plugin.csproj
  eng/packages/plugins/client/Client.Plugin/src/ClientPlugin.cs
  eng/packages/plugins/client/Client.Plugin/src/Properties/AssemblyInfo.cs
  eng/packages/plugins/client/Directory.Build.props
  eng/packages/plugins/client/package.json
  eng/packages/visitors/Visitors/Directory.Build.props
  eng/packages/visitors/Visitors/Visitors.sln
  eng/packages/visitors/Visitors/src/Properties/AssemblyInfo.cs
  eng/packages/visitors/Visitors/src/Shared/Extensions/ConfigurationExtensions.cs
  eng/packages/visitors/Visitors/src/Shared/ModelFactoryRenamerVisitor.cs
  eng/packages/visitors/Visitors/src/Shared/NamespaceVisitor.cs
  eng/packages/visitors/Visitors/src/Shared/Utilities/TypeNameUtilities.cs
  eng/packages/visitors/Visitors/src/Visitors.csproj
  eng/packages/visitors/Visitors/test/Visitors.Tests.Common/InputFactory.cs
  eng/packages/visitors/Visitors/test/Visitors.Tests.Common/Visitors.Tests.Common.csproj
  eng/packages/visitors/Visitors/test/Visitors.Tests/TestHelpers/Configuration.json
  eng/packages/visitors/Visitors/test/Visitors.Tests/TestHelpers/MockHelpers.cs
  eng/packages/visitors/Visitors/test/Visitors.Tests/Visitors.Tests.csproj
  eng/packages/visitors/Visitors/test/Visitors.Tests/Visitors/ModelFactoryRenamerVisitorTests.cs
  eng/packages/visitors/Visitors/test/Visitors.Tests/Visitors/NamespaceVisitorTests.cs
Labels: Client, CodeGen

#51023 Add migration guide for C#
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/VectorStores.cs
  sdk/ai/Azure.AI.Projects/AGENTS_MIGRATION_GUIDE.md
Labels: AI Model Inference, AI Projects

#51044 [AutoPR Azure.ResourceManager.ArizeAIObservabilityEval]-generated-from-SDK Generation - .NET-5043334
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/CHANGELOG.md
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/README.md
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/api/Azure.ResourceManager.ArizeAIObservabilityEval.net8.0.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/api/Azure.ResourceManager.ArizeAIObservabilityEval.netstandard2.0.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Azure.ResourceManager.ArizeAIObservabilityEval.csproj
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/ArizeAIObservabilityEvalOrganizationCollection.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/ArizeAIObservabilityEvalOrganizationResource.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Extensions/ArizeAIObservabilityEvalExtensions.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Extensions/MockableArizeAIObservabilityEvalResourceGroupResource.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Extensions/MockableArizeAIObservabilityEvalSubscriptionResource.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOfferPartnerProperties.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOfferPartnerProperties.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOrganizationProperties.Serialization.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/Models/ArizeAIObservabilityEvalOrganizationProperties.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Generated/RestOperations/OrganizationsRestOperations.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/tests/Generated/Samples/Sample_ArizeAIObservabilityEvalOrganizationCollection.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/tests/Generated/Samples/Sample_ArizeAIObservabilityEvalOrganizationResource.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/tsp-location.yaml
Labels: Arize AI

#51075 Increment version for arizeaiobservabilityeval releases
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/CHANGELOG.md
  sdk/arizeaiobservabilityeval/Azure.ResourceManager.ArizeAIObservabilityEval/src/Azure.ResourceManager.ArizeAIObservabilityEval.csproj
Labels: Arize AI

#50830 Generate SDK for api version 2024-11-30
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/CHANGELOG.md
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/api/Azure.ResourceManager.ManagedServiceIdentities.net8.0.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/api/Azure.ResourceManager.ManagedServiceIdentities.netstandard2.0.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Azure.ResourceManager.ManagedServiceIdentities.csproj
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/ArmManagedServiceIdentitiesModelFactory.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Extensions/ManagedServiceIdentitiesExtensions.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Extensions/MockableManagedServiceIdentitiesResourceGroupResource.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Extensions/MockableManagedServiceIdentitiesSubscriptionResource.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/FederatedIdentityCredentialCollection.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/FederatedIdentityCredentialResource.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/IsolationScope.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/UserAssignedIdentityPatch.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/Models/UserAssignedIdentityPatch.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/RestOperations/FederatedIdentityCredentialsRestOperations.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/RestOperations/SystemAssignedIdentitiesRestOperations.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/RestOperations/UserAssignedIdentitiesRestOperations.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/SystemAssignedIdentityResource.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/UserAssignedIdentityCollection.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/UserAssignedIdentityData.Serialization.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/UserAssignedIdentityData.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Generated/UserAssignedIdentityResource.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/autorest.md
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/tests/Generated/Samples/Sample_FederatedIdentityCredentialCollection.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/tests/Generated/Samples/Sample_FederatedIdentityCredentialResource.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/tests/Generated/Samples/Sample_SystemAssignedIdentityResource.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/tests/Generated/Samples/Sample_UserAssignedIdentityCollection.cs
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/tests/Generated/Samples/Sample_UserAssignedIdentityResource.cs
Labels: Mgmt

#50884 Release first GA SDK for Azure Carbon Optimization
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/CHANGELOG.md
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/README.md
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/src/Azure.ResourceManager.CarbonOptimization.csproj
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/src/Properties/AssemblyInfo.cs
Labels: Mgmt

#51081 Increment version for carbon releases
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/CHANGELOG.md
  sdk/carbon/Azure.ResourceManager.CarbonOptimization/src/Azure.ResourceManager.CarbonOptimization.csproj
Labels: Mgmt

#51048 Increment version for lambdatesthyperexecute releases
  sdk/lambdatesthyperexecute/Azure.ResourceManager.LambdaTestHyperExecute/CHANGELOG.md
  sdk/lambdatesthyperexecute/Azure.ResourceManager.LambdaTestHyperExecute/src/Azure.ResourceManager.LambdaTestHyperExecute.csproj
Labels: LambdaTest HyperExecute

#51011 Implement factory methods for singleton resources
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-detection.ts
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-metadata.ts
  eng/packages/http-client-csharp-mgmt/emitter/src/sdk-context-options.ts
  eng/packages/http-client-csharp-mgmt/emitter/test/resource-detection.test.ts
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management.sln
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementInputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMetadata.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ManagementLongRunningOperationProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/MockableResourceProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ResourceIdentifierSnippets.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ConstructorProviderHelpers.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local.Tests/TestProjects.Local.Tests.csproj
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecResourceGroupResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
Labels: Mgmt, CodeGen

#51095 Add aoai embeddings
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/Sample12_AzureOpenAI_Embeddings.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI_Chat.md
  sdk/ai/Azure.AI.Projects/src/Custom/ConnectionCacheManager.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Inference/Inference.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Agents/Sample_AIAgents.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AIInference.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Chat.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Embeddings.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/juggling_balls.png
Labels: AI Model Inference, AI Projects

#51064 Add SpecialHeadersVisitor to client plugin
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientGenerator.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Visitors/RequestClientIdHeaderVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/RequestClientIdHeaderVisitorTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/TestData/RequestClientIdHeaderVisitorTests/RemovesTheRequestClientIdHeaderParameterFromServiceMethods.cs
  eng/packages/plugins/client/Client.Plugin/src/ClientPlugin.cs
  eng/packages/plugins/client/Client.Plugin/src/Properties/AssemblyInfo.cs
  eng/packages/visitors/Visitors/src/Shared/SpecialHeadersVisitor.cs
  eng/packages/visitors/Visitors/test/Visitors.Tests/TestHelpers/MockHelpers.cs
  eng/packages/visitors/Visitors/test/Visitors.Tests/Visitors/SpecialHeadersVisitorTests.cs
Labels: Client, CodeGen

#51082 [CODEOWNERS] Removing invalid owners
  .github/CODEOWNERS
Labels: Client, EngSys

#51074 Update samples and use AzureFunction with ConnectedAgentDetails
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/README.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample10_PersistentAgents_Vector_Store_Batch_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample11_PersistentAgents_Code_Interpreter_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample12_PersistentAgents_Code_Interpreter_File_Attachment.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample13_PersistentAgents_OpenAPI.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample14_PersistentAgents_Azure_AI_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample15_PersistentAgents_Vector_Store_Batch_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample16_PersistentAgents_Azure_AI_Search_Streaming.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample17_PersistentAgents_ImageUrlInputs.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample18_PersistentAgents_ImageFileInputs.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample19_PersistentAgents_VectorStoreFile_WithSteps.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample1_PersistentAgents_Additional_messages.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample20_PersistentAgents_FileSearch_Steaming.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample21_PersistentAgents_Sharepoint.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample22_PersistentAgents_Fabric.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample23_PersistentAgents_Connected_Agent.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample24_PersistentAgents_Multiple_Connected_Agents.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample24_Streaming_with_Auto_Function_Calls.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample25_PersistentAgents_Bing_Custom_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample2_PersistentAgents_Azure_Functions.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample3_PersistentAgents_Basics.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample4_PersistentAgents_Bing_Grounding.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample5_PersistentAgents_Enterprise_File_Search.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample6_PersistentAgents_FileSearch.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample7_PersistentAgents_Functions.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample8_PersistentAgents_FunctionsWithStreaming.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample9_PersistentAgents_Streaming.md
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Additional_messages.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Azure_AI_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Azure_AI_Search_Streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Azure_Functions.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Basics.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Bing_Custom_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Bing_Grounding.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Code_Interpreter_Enterprise_File_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Code_Interpreter_File_Attachment.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Connected_Agent.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Enterprise_File_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Fabric.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_FileSearch.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_FileSearch_streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Functions.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Functions_Streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Image_File_Inputs.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Image_Url_Inputs.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Multiple_Connected_Agents.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_OpenAPI.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Sharepoint.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Streaming_with_Auto_Function_Call.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Telemetry.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_VectorStoreFile_WithSteps.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Vector_Store_Batch_Enterprise_File_Search.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Vector_Store_Batch_File_Search.cs
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
Labels: AI Model Inference, AI Projects

#51094 [AI Agents] PersistentAgentsNamedToolChoiceType serialization
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsNamedToolChoiceType.Serialization.cs
Labels: AI Model Inference, AI Projects

#51085 Add `ResourceIdentifierPattern` in resourceSchema
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-detection.ts
  eng/packages/http-client-csharp-mgmt/emitter/src/resource-metadata.ts
  eng/packages/http-client-csharp-mgmt/emitter/test/resource-detection.test.ts
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementInputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/RequestPathPattern.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMetadata.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceOperationKind.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceOperationKindExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Common/InputResourceData.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceClientProviderTests/Verify_CreateResourceIdentifierMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecArmClient.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecResourceGroupResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLink.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLink.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLinkListResult.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLinkListResult.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLinkResourceProperties.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/PrivateLinkResourceProperties.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/StartRequest.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/StartRequest.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinkCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinkResource.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinkResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinksGetAllPrivateLinkResourcesAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinksGetAllPrivateLinkResourcesCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
Labels: Mgmt, CodeGen

#51107 updating versions
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication

#50898 Added IChatClient implementation for PersistentAgentsClient
  eng/Packages.Data.props
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/samples/README.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample26_PersistentAgents_As_IChatClient.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsAdministrationClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsChatClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsClientExtensions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsConstants.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsChatClientTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_As_IChatClient.cs
Labels: AI Model Inference, AI Projects

#51129 [Packages] Bump System.ClientModel
  eng/Packages.Data.props
Labels: Client, EngSys

#51134 [CODEOWNERS] Fix linter errors
  .github/CODEOWNERS
Labels: Client, EngSys

#51138 Additional fixes for dataset upload
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/Sample1_Datasets.md
  sdk/ai/Azure.AI.Projects/src/Custom/Datasets/Datasets.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Datasets/Sample_Datasets.cs
Labels: AI Model Inference, AI Projects

#51139 Adding the enable loop back option to answer call create call and con…
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ConnectRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/ConnectRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/ConnectCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateGroupCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
Labels: Communication

#51153 Prepare for release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#50431 [Storage] Fix listener to use the target data blob client over the host
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobListenerFactory.cs
Labels: Storage

#51066 [Storage][DataMovement] Fix bugs associated with encoding special characters
  sdk/storage/Azure.Storage.DataMovement.Blobs.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs.Files.Shares/tests/StartTransferCopyFromShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs.Files.Shares/tests/StartTransferCopyToShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferBlobDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/assets.json
  sdk/storage/Azure.Storage.DataMovement/src/LocalDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/Shared/PathScanner.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalDirectoryStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/LocalFileStorageResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadDirectoryTestBase.cs
Labels: Storage

#51162 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#51184 Sync eng/common directory with azure-sdk-tools for PR 11152
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#50129 Make Azure.ResourceManager AOT-compatible
  sdk/resourcemanager/Azure.ResourceManager/src/ArmClientOptions.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ArmClientOptionsJsonContext.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ArmEnvironment.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ArmEnvironmentJsonContext.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/ManagedServiceIdentity.Serialization.cs
Labels: Mgmt, customer-reported, Community Contribution

#51194 [Identity] Prepare 1.14.2 patch
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.net8.0.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#51151 fix the property name of kind and format of `TimeSpan` properties for `Azure.Provisioning`
  sdk/provisioning/Azure.Provisioning/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning/src/Azure.Provisioning.csproj
  sdk/provisioning/Azure.Provisioning/src/Generated/AzureCliScript.cs
  sdk/provisioning/Azure.Provisioning/src/Generated/AzurePowerShellScript.cs
  sdk/provisioning/Azure.Provisioning/src/Generated/DeploymentStack.cs
  sdk/provisioning/Azure.Provisioning/tests/BicepValues/BicepValueTests.cs
  sdk/provisioning/Generator/src/Specifications/ResourcesSpecification.cs
Labels: Provisioning

#51203 fix bug in updating resource update model name.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementInputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Visitors/NameVisitor.cs
Labels: Mgmt, CodeGen

#51193 Support JSON converters
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientGenerator.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Visitors/SystemTextJsonConverterVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/SystemTextJsonConverterVisitorTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/TestData/SystemTextJsonConverterVisitorTests/ReadConverterMethodHasCorrectBody.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/TestData/SystemTextJsonConverterVisitorTests/WriteConverterMethodHasCorrectBody.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/Basic-TypeSpec.tsp
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/RoundTripModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/example/basic/src/_Specs_.Azure.Example.Basic.csproj
Labels: Client, CodeGen

#51207 Increment version for planetarycomputer releases
  sdk/planetarycomputer/Azure.ResourceManager.PlanetaryComputer/CHANGELOG.md
  sdk/planetarycomputer/Azure.ResourceManager.PlanetaryComputer/src/Azure.ResourceManager.PlanetaryComputer.csproj
Labels: Planetary Computer

#51213 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250711.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51216 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250711.2
  eng/azure-typespec-http-client-csharp-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-emitter-package.json
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridReceiverClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/EventGridSenderClient.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/DeidentificationClient.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/KeyVaultAccessControlClient.cs
Labels: KeyVault, Event Grid, Health Deidentification

#51222 address comments
  sdk/ai/Azure.AI.Projects/samples/Sample12_AzureOpenAI_Embeddings.md
  sdk/ai/Azure.AI.Projects/src/Custom/AIProjectClient.cs
  sdk/ai/Azure.AI.Projects/src/Custom/ConnectionCacheManager.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Chat.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Embeddings.cs
Labels: AI Model Inference, AI Projects

#51225 update date and sample links
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/samples/README.md
Labels: AI Model Inference, AI Projects

#51235 Azure identity broker 1.2.1
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/README.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
  sdk/identity/Azure.Identity.Broker/src/DevelopmentBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/tests/Azure.Identity.Broker.Tests.csproj
  sdk/identity/Azure.Identity.Broker/tests/DefaultAzureCredentialFactoryTests.cs
  sdk/identity/Azure.Identity.Broker/tests/DevelopmentBrokerOptionsTests.cs
  sdk/identity/Azure.Identity.Broker/tests/ManualInteractiveBrowserCredentialBrokerTests.cs
  sdk/identity/Azure.Identity.Broker/tests/ManualInteractiveBrowserCredentialBrokerTestsLinux.cs
  sdk/identity/Azure.Identity.Broker/tests/compatibility/ExpectedWarnings.txt
Labels: Azure.Identity

#51243 [Identity] Update Broker's Azure.Identity dependency to unlock beta release
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
  sdk/identity/Azure.Identity.Broker/src/DevelopmentBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/TemporaryConstants.cs
Labels: Azure.Identity

#51242 [Identity] Increment version for identity releases
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
Labels: Azure.Identity

#51240 Increment version for ai releases
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
Labels: AI Model Inference, AI Projects

#51249 Fix generation for model factory method with safe flattened properties containing multiple statements
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Visitors/SafeFlattenVisitor.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/bar.tsp
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarSettingsData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarSettingsData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
Labels: Mgmt, CodeGen

#51250 Increment version for managedserviceidentity releases
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/CHANGELOG.md
  sdk/managedserviceidentity/Azure.ResourceManager.ManagedServiceIdentities/src/Azure.ResourceManager.ManagedServiceIdentities.csproj
Labels: Mgmt

#51239 Adopt Azure encode duration spector scenario
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/Http/Azure/Encode/Duration/DurationTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector.Tests/TestProjects.Spector.Tests.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/_Specs_.Azure.Encode.Duration.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/DurationClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/DurationClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/DurationModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/DurationModel.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/Models/_Specs_AzureEncodeDurationContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/_Specs_AzureEncodeDurationClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/_Specs_AzureEncodeDurationModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/_Specs_.Azure.Encode.Duration.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/tspCodeModel.json
Labels: Client, CodeGen

#51246 Increment version for provisioning releases
  sdk/provisioning/Azure.Provisioning/CHANGELOG.md
  sdk/provisioning/Azure.Provisioning/src/Azure.Provisioning.csproj
Labels: Provisioning

#51128 STG 98 GA
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#51201 Deid text encoding documentation
  sdk/healthdataaiservices/Azure.Health.Deidentification/README.md
Labels: Health Deidentification

#51259 Files API view comment
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileSymbolicLinkInfo.cs
Labels: Storage

#51270 fix issue in generating tags related methods.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/AddTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/RemoveTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/SetTagsMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TagMethodProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/main.tsp
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecArmClient.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MockableMgmtTypeSpecResourceGroupResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/LongRunningOperation/ZooOperationSource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooListResult.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooListResult.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooPatch.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooPatch.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooProperties.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooProperties.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooUpdateProperties.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooUpdateProperties.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/ZoosRestOperations.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooData.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooResource.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetAsyncCollectionResult.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetAsyncCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetCollectionResult.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZoosGetCollectionResultOfT.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/zoo.tsp
Labels: Mgmt, CodeGen

#51272 Bump SCM version for Azure.Core release
  eng/Packages.Data.props
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
Labels: Azure.Core

#51268 Prepped branch for STG 99 GA release
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#51291 Remove deserialize spec
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/_Specs_.Azure.ClientGenerator.Core.DeserializeEmptyStringAsNull.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/Generated/DeserializeEmptyStringAsNullClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/Generated/DeserializeEmptyStringAsNullClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/Generated/Models/_Specs_AzureClientGeneratorCoreDeserializeEmptyStringAsNullContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/Generated/ResponseModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/Generated/ResponseModel.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/Generated/_Specs_AzureClientGeneratorCoreDeserializeEmptyStringAsNullClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/Generated/_Specs_AzureClientGeneratorCoreDeserializeEmptyStringAsNullModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/src/_Specs_.Azure.ClientGenerator.Core.DeserializeEmptyStringAsNull.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/deserialize-empty-string-as-null/tspCodeModel.json
Labels: Client, CodeGen

#51289 Update tsp commit to main branch
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#51288 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250715.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/ClientBuilderExtensionsDefinitions/ClientBuilderExtensionsTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/ClientProviders/ClientProviderTests.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/oauth2/tspCodeModel.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/union/tspCodeModel.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51280 Increment version for core releases
  eng/Packages.Data.props
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/planetarycomputer/Azure.ResourceManager.PlanetaryComputer/api/Azure.ResourceManager.PlanetaryComputer.net8.0.cs
  sdk/planetarycomputer/Azure.ResourceManager.PlanetaryComputer/api/Azure.ResourceManager.PlanetaryComputer.netstandard2.0.cs
  sdk/planetarycomputer/Azure.ResourceManager.PlanetaryComputer/src/Custom/AzureResourceManagerPlanetaryComputerContext.Custom.cs
  sdk/template/Azure.Template/api/Azure.Template.net8.0.cs
  sdk/template/Azure.Template/api/Azure.Template.netstandard2.0.cs
Labels: Azure.Core

#51172 Leverage JsonMarshal.GetRawUtf8Value for BinatyData construction
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/ManagedServiceIdentity.Serialization.cs
Labels: Mgmt

#51310 Clean up code
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/Sample12_AzureOpenAI_Embeddings.md
  sdk/ai/Azure.AI.Projects/samples/Sample1_Datasets.md
  sdk/ai/Azure.AI.Projects/samples/Sample2_Deployments.md
  sdk/ai/Azure.AI.Projects/samples/Sample3_Connections.md
  sdk/ai/Azure.AI.Projects/samples/Sample4_Indexes.md
  sdk/ai/Azure.AI.Projects/samples/Sample5_Evaluations.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI_Chat.md
  sdk/ai/Azure.AI.Projects/src/Custom/Datasets/Datasets.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Indexes/Indexes.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Indexes.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Datasets/Sample_Datasets.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Evaluation/Sample_Evaluation.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Indexes/Sample_Indexes.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Chat.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Embeddings.cs
Labels: AI Model Inference, AI Projects

#51233 [Storage][Datamovement] Fix copying of empty directories under prefixes
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlobStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferBlobDirectoryCopyTestBase.cs
Labels: Storage

#51317 Uncomment Inference
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/Sample12_AzureOpenAI_Embeddings.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI_Chat.md
  sdk/ai/Azure.AI.Projects/src/Custom/Inference/Inference.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Chat.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Embeddings.cs
Labels: AI Model Inference, AI Projects

#51169 Refactor `ResourceClientProvider` and `ResourceCollectionClientProvider`
  eng/packages/http-client-csharp-mgmt/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp-mgmt/eng/scripts/Generation.psm1
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/RequestPathPattern.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/MockableArmClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/MockableResourceProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/GetAllOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/GetIfExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ResourceOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/UpdateOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationSourceProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/AddTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/RemoveTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/SetTagsMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ArmCollectionSnippets.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ArmResourceSnippets.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Snippets/ResourceMethodSnippets.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ContextualParameterBuilder.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/InputServiceMethodExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/RequestPathPatternExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceHelpers.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/ExtensionProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TagMethodProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceClientProviderTests/Verify_AsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceClientProviderTests/Verify_ConstructorWithId.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceClientProviderTests/Verify_SyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_ExistsAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_ExistsOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetIfExistsAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetIfExistsOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_AddTag.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_AddTagAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_RemoveTag.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_RemoveTagAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_SetTags.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_SetTagsAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarSettingsResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooSettingsResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooResource.cs
Labels: Mgmt, CodeGen

#51132 [Identity] Re-enable VisualStudioCodeCredential for SSO
  sdk/identity/Azure.Identity.Broker/tests/DefaultAzureCredentialFactoryTests.cs
  sdk/identity/Azure.Identity.Broker/tests/VisualStudioCodeTests.cs
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.net8.0.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/ApiCompatBaseline.txt
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/InteractiveBrowserCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCodeCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/VisualStudioCodeCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/src/FileSystemService.cs
  sdk/identity/Azure.Identity/src/IFileSystemService.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialFactoryTests.cs
  sdk/identity/Azure.Identity/tests/DefaultAzureCredentialTests.cs
  sdk/identity/Azure.Identity/tests/Mock/TestDefaultAzureCredentialFactory.cs
  sdk/identity/Azure.Identity/tests/TestFileSystemService.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs
  sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialTests.cs
Labels: Azure.Identity

#51331 [Identity] Prepare Azure.Identity 1.1.5.0-beta.1 release
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#51335 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#51339 Prepare release for Azure.ResourceManager
  sdk/resourcemanager/Azure.ResourceManager/CHANGELOG.md
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.net8.0.cs
  sdk/resourcemanager/Azure.ResourceManager/api/Azure.ResourceManager.netstandard2.0.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Azure.ResourceManager.csproj
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/AzureResourceManagerContext.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/ManagedServiceIdentity.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/ManagedServiceIdentity.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Custom/Models/OperationStatusResult.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Generated/Internal/ModelSerializationExtensions.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Generated/Models/OperationStatusResult.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Common/Generated/Models/OperationStatusResult.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/LongRunningOperation/ManagementGroupsArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/LongRunningOperation/ManagementGroupsArmOperationOfT.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/ManagementGroupData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/ManagementGroupResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/ManagementGroupSubscriptionData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/ManagementGroupSubscriptionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/DescendantData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/ManagementGroup/Generated/Models/EntityData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/DataPolicyManifestData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/DataPolicyManifestResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/FeatureData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/FeatureResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/GenericResourceData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/LongRunningOperation/ResourcesArmOperation.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/LongRunningOperation/ResourcesArmOperationOfT.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ManagementGroupPolicyDefinitionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ManagementGroupPolicySetDefinitionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ManagementLockData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ManagementLockResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/PolicyAssignmentPatch.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ResourceGroupExportResult.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/TrackedResourceExtendedData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/PolicyAssignmentData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/PolicyAssignmentResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/PolicyDefinitionData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/PolicySetDefinitionData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ResourceGroupData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ResourceGroupResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/ResourceProviderResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/SubscriptionPolicyDefinitionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/SubscriptionPolicySetDefinitionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/SubscriptionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/TagResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/TagResourceData.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/TenantPolicyDefinitionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/TenantPolicySetDefinitionResource.Serialization.cs
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/TenantResource.Serialization.cs
  sdk/resourcemanager/ci.mgmt.yml
Labels: Mgmt

#51352 [AI Agents] Add tool_resources to createRun, createRunAsync
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/AutoFunctionCallOptions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/AsyncStreamingUpdateCollection.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/StreamingUpdateCollection.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRuns.Streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRuns.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ToolCallsResolver.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/CreateRunRequest.Serialization.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/CreateRunRequest.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/MessageAttachment.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Generated/ThreadRuns.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Telemetry/OpenTelemetryConstants.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Telemetry/OpenTelemetryScope.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Telemetry/RecordedResponse.cs
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#51359 Remove Auto tools from stable release
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/AutoFunctionCallOptions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/AsyncStreamingUpdateCollection.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/StreamingUpdateCollection.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRuns.Streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ToolCallsResolver.cs
Labels: AI Model Inference, AI Projects

#51362 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250718.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Visitors/SystemTextJsonConverterVisitor.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/BasicTypeSpecContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/access/src/Generated/Models/_Specs_AzureClientGeneratorCoreAccessContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/flatten-property/src/Generated/Models/_Specs_AzureClientGeneratorCoreFlattenPropertyContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/client-generator-core/usage/src/Generated/Models/_Specs_AzureClientGeneratorCoreUsageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/basic/src/Generated/Models/_Specs_AzureCoreBasicContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/lro/rpc/src/Generated/Models/_Specs_AzureCoreLroRpcContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/lro/standard/src/Generated/Models/_Specs_AzureCoreLroStandardContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/model/src/Generated/Models/_Specs_AzureCoreModelContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/core/page/src/Generated/Models/_Specs_AzureCorePageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/encode/duration/src/Generated/Models/_Specs_AzureEncodeDurationContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/example/basic/src/Generated/Models/_Specs_AzureExampleBasicContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/bytes/src/Generated/Models/EncodeBytesContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/datetime/src/Generated/Models/EncodeDatetimeContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/duration/src/Generated/Models/EncodeDurationContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/numeric/src/Generated/Models/EncodeNumericContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/basic/src/Generated/Models/ParametersBasicContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/body-optionality/src/Generated/Models/ParametersBodyOptionalityContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/spread/src/Generated/Models/ParametersSpreadContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/content-negotiation/src/Generated/Models/PayloadContentNegotiationContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/json-merge-patch/src/Generated/Models/PayloadJsonMergePatchContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/pageable/src/Generated/Models/PayloadPageableContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/serialization/encoded-name/json/src/Generated/Models/SerializationEncodedNameJsonContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-words/src/Generated/Models/SpecialWordsContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/array/src/Generated/Models/_Type_ArrayContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/dictionary/src/Generated/Models/_TypeDictionaryContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/empty/src/Generated/Models/_TypeModelEmptyContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/enum-discriminator/src/Generated/Models/_TypeModelInheritanceEnumDiscriminatorContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/nested-discriminator/src/Generated/Models/_TypeModelInheritanceNestedDiscriminatorContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/not-discriminated/src/Generated/Models/_TypeModelInheritanceNotDiscriminatedContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/recursive/src/Generated/Models/_TypeModelInheritanceRecursiveContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/single-discriminator/src/Generated/Models/_TypeModelInheritanceSingleDiscriminatorContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/usage/src/Generated/Models/_TypeModelUsageContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/visibility/src/Generated/Models/_TypeModelVisibilityContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/additional-properties/src/Generated/Models/_TypePropertyAdditionalPropertiesContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/nullable/src/Generated/Models/_TypePropertyNullableContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/optionality/src/Generated/Models/_TypePropertyOptionalContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/Models/_TypePropertyValueTypesContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/src/Generated/Models/_TypeUnionContext.cs
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51316 DM Lib 12.2.0 GA changelogs and csprojs
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#51368 support multiple rest clients case in ResourceClientProvider.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementInputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/ResourceMetadata.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Models/RestClientInfo.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/GetAllOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/GetIfExistsOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ResourceOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/UpdateOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/AddTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/BaseTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/RemoveTagMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/TagMethodProviders/SetTagsMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/CSharpTypeExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/ResourceMetadataExtensions.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TagMethodProviderTests.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceClientProviderTests/Verify_AsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceClientProviderTests/Verify_ConstructorWithId.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceClientProviderTests/Verify_SyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_ExistsAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_ExistsOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetIfExistsAsyncOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetIfExistsOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/ResourceCollectionClientProviderTests/Verify_GetOperationMethod.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_AddTag.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_AddTagAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_RemoveTag.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_RemoveTagAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_SetTags.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/test/Providers/TestData/TagMethodProviderTests/Verify_SetTagsAsync.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarSettingsResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooSettingsResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooRecommendation.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooRecommendation.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/ZooRecommendationRestOperations.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooResource.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/zoo.tsp
Labels: Mgmt, CodeGen

#51382 Increment version for redisenterprise releases
  sdk/redisenterprise/Azure.ResourceManager.RedisEnterprise/CHANGELOG.md
  sdk/redisenterprise/Azure.ResourceManager.RedisEnterprise/src/Azure.ResourceManager.RedisEnterprise.csproj
Labels: Mgmt

#51397 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250722.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/StringExtensibleEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/azure/example/basic/src/Generated/Enum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/enum/extensible/src/Generated/DaysOfWeekExtensibleEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/enum-discriminator/src/Generated/DogKind.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/ExtendedEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/value-types/src/Generated/InnerEnum.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/src/Generated/GetResponseProp1.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/union/src/Generated/StringExtensibleNamedUnion.cs
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51394 Fix pageable to respect 'after' parameter
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/assets.json
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Internal/ContinuationTokenPageable.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/PersistentAgentsAdministrationClient.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadMessages.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRunSteps.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRuns.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Threads.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/VectorStoreFileBatches.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/VectorStoreFiles.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/VectorStores.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
Labels: AI Model Inference, AI Projects

#51391 [AI Projects] Datasets fixes
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/samples/Sample1_Datasets.md
  sdk/ai/Azure.AI.Projects/src/Custom/Datasets/Datasets.RestClient.cs
  sdk/ai/Azure.AI.Projects/src/Generated/Datasets.RestClient.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Datasets/Sample_Datasets.cs
Labels: AI Model Inference, AI Projects

#51404 reverted the version back as releasing the minor version from the hot…
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication - Call Automation

#51325 [deviceprovisioningservices] Generate SDK from TypeSpec
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/CHANGELOG.md
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/api/Azure.ResourceManager.DeviceProvisioningServices.net8.0.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/api/Azure.ResourceManager.DeviceProvisioningServices.netstandard2.0.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Custom/IotHubDefinitionDescription.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/ArmDeviceProvisioningServicesModelFactory.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServiceCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServiceData.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServiceData.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServiceResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServicesCertificateCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServicesCertificateResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServicesPrivateEndpointConnectionCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServicesPrivateEndpointConnectionResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServicesPrivateLinkResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/DeviceProvisioningServicesPrivateLinkResourceCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Extensions/DeviceProvisioningServicesExtensions.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Extensions/MockableDeviceProvisioningServicesResourceGroupResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Extensions/MockableDeviceProvisioningServicesSubscriptionResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/CertificateVerificationCodeProperties.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/DeviceProvisioningServiceProperties.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/DeviceProvisioningServiceProperties.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/DeviceProvisioningServicesCertificateProperties.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/DeviceProvisioningServicesCertificateResourceDeleteOptions.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/DeviceProvisioningServicesCertificateResourceGenerateVerificationCodeOptions.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/DeviceProvisioningServicesCertificateResourceVerifyCertificateOptions.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/IotDpsSkuDefinitionListResult.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/IotDpsSkuDefinitionListResult.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/IotHubAuthenticationType.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/IotHubDefinitionDescription.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/IotHubDefinitionDescription.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/ProvisioningServiceDescriptionListResult.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/ProvisioningServiceDescriptionListResult.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/SharedAccessSignatureAuthorizationRuleListResult.Serialization.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/Models/SharedAccessSignatureAuthorizationRuleListResult.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/RestOperations/CertificateResponsesRestOperations.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/RestOperations/GroupIdInformationsRestOperations.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/RestOperations/IotDpsResourceRestOperations.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/RestOperations/PrivateEndpointConnectionsRestOperations.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/Generated/RestOperations/ProvisioningServiceDescriptionsRestOperations.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/src/autorest.md.bak
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServiceCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServiceResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServicesCertificateCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServicesCertificateResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServicesPrivateEndpointConnectionCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServicesPrivateEndpointConnectionResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServicesPrivateLinkResource.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_DeviceProvisioningServicesPrivateLinkResourceCollection.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tests/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/deviceprovisioningservices/Azure.ResourceManager.DeviceProvisioningServices/tsp-location.yaml
Labels: Mgmt

#51398 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication - Phone Numbers

#51428 STJ visitor fixes
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Visitors/SystemTextJsonConverterVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/SystemTextJsonConverterVisitorTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Visitors/TestData/SystemTextJsonConverterVisitorTests/ConverterModelE2E.cs
Labels: Client, CodeGen

#51421 [CODEOWNERS] Fix linter failures
  .github/CODEOWNERS
Labels: Client, EngSys

#51426 Add class CreateRunStreamingOptions to handle multiple available options
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/CreateRunStreamingOptions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRuns.Streaming.cs
Labels: AI Model Inference, AI Projects

#51427 Sync eng/common directory with azure-sdk-tools for PR 11319
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Labels: EngSys, Central-EngSys

#51433 Fix version
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
Labels: AI Model Inference, AI Projects

#51367 Introduce `Azure.Provisioning.RedisEnterprise`
  eng/.docsettings.yml
  eng/Packages.Data.props
  sdk/provisioning/Azure.Provisioning.Redis/tests/BasicRedisTests.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/Changelog.md
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/README.md
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/api/Azure.Provisioning.RedisEnterprise.net8.0.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/api/Azure.Provisioning.RedisEnterprise.netstandard2.0.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Azure.Provisioning.RedisEnterprise.csproj
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/AccessPolicyAssignment.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/AccessKeysAuthentication.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/DeferUpgradeSetting.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/PersistenceSettingAofFrequency.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/PersistenceSettingRdbFrequency.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseClientProtocol.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseClusterResourceState.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseClusteringPolicy.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseCustomerManagedKeyEncryption.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseCustomerManagedKeyEncryptionKeyIdentity.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseCustomerManagedKeyIdentityType.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseDataAccessKeys.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseDatabaseGeoReplication.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseDatabaseLinkState.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseEvictionPolicy.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseHighAvailability.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseKind.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseLinkedDatabase.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseModule.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterprisePrivateEndpointConnectionData.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterprisePrivateEndpointConnectionProvisioningState.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterprisePrivateEndpointServiceConnectionStatus.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterprisePrivateLinkServiceConnectionState.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseProvisioningStatus.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseRedundancyMode.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseSku.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseSkuName.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisEnterpriseTlsVersion.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/Models/RedisPersistenceSettings.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/RedisEnterpriseCluster.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/RedisEnterpriseDatabase.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Generated/RedisEnterprisePrivateEndpointConnection.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/src/Properties/AssemblyInfo.cs
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/tests/Azure.Provisioning.RedisEnterprise.Tests.csproj
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/tests/BasicRedisEnterpriseTests.cs
  sdk/provisioning/Azure.Provisioning.sln
  sdk/provisioning/Generator/src/Generator.csproj
  sdk/provisioning/Generator/src/Program.cs
  sdk/provisioning/Generator/src/Specifications/RedisEnterpriseSpecification.cs
  sdk/provisioning/Generator/src/Specifications/RedisSpecification.cs
Labels: Provisioning

#51440 Increment version for hardwaresecuritymodules releases
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/CHANGELOG.md
  sdk/hardwaresecuritymodules/Azure.ResourceManager.HardwareSecurityModules/src/Azure.ResourceManager.HardwareSecurityModules.csproj
Labels: Hardware Security Modules

#51431 [AI.Projects] More work towards stable
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/samples/Sample12_AzureOpenAI_Embeddings.md
  sdk/ai/Azure.AI.Projects/samples/Sample7_AzureOpenAI_Chat.md
  sdk/ai/Azure.AI.Projects/samples/Sample8_Telemetry.md
  sdk/ai/Azure.AI.Projects/src/Azure.AI.Projects.csproj
  sdk/ai/Azure.AI.Projects/src/Custom/Inference/Inference.cs
  sdk/ai/Azure.AI.Projects/src/Custom/Telemetry/Telemetry.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Chat.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Inference/Sample_AzureOpenAI_Embeddings.cs
  sdk/ai/Azure.AI.Projects/tests/Samples/Telemetry/Sample_Telemetry.cs
Labels: AI Model Inference, AI Projects

#51449 Remove unnecessary namespace
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.net8.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/api/Azure.AI.Agents.Persistent.netstandard2.0.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/Streaming/CreateRunStreamingOptions.cs
  sdk/ai/Azure.AI.Agents.Persistent/src/Custom/ThreadRuns.Streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/PersistentAgentsTests.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_FileSearch_streaming.cs
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Streaming_with_Auto_Function_Call.cs
Labels: AI Model Inference, AI Projects

#51453 prepare release for `Azure.Provisioning.RedisEnterprise`
  sdk/provisioning/Azure.Provisioning.RedisEnterprise/Changelog.md
  sdk/provisioning/ci.data.yml
Labels: Provisioning

#51452 Sync eng/common directory with azure-sdk-tools for PR 11336
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#51459 Fix tsp_commit
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#51462 add redisenterprise into the service.projects
  sdk/provisioning/service.projects
Labels: Provisioning

#51464 bump patch version for `Azure.ResourceManager.RedisEnterprise`
  sdk/redisenterprise/Azure.ResourceManager.RedisEnterprise/CHANGELOG.md
  sdk/redisenterprise/Azure.ResourceManager.RedisEnterprise/src/Azure.ResourceManager.RedisEnterprise.csproj
Labels: Mgmt

#51446 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250724.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Properties/launchSettings.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/Streaming.Jsonl.sln
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Generated/Basic.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Generated/JsonlClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Generated/JsonlClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Generated/JsonlStreamInfo.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Generated/Models/StreamingJsonlContext.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Generated/StreamingJsonlClientBuilderExtensions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Generated/StreamingJsonlModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/src/Streaming.Jsonl.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/streaming/jsonl/tspCodeModel.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#51416 Make HTTP retry the default behaviour
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/CHANGELOG.md
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/SignalROptions.cs
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/tests/Config/OptionsSetupFacts.cs
Labels: SignalR

#51463 Increment version for ai releases
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
Labels: AI Model Inference, AI Projects

#51455 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Conversations.Authoring/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations.Authoring/src/Azure.AI.Language.Conversations.Authoring.csproj
  sdk/cognitivelanguage/Azure.AI.Language.Text.Authoring/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Text.Authoring/src/Azure.AI.Language.Text.Authoring.csproj
Labels: Cognitive - Language

#51470 Bump framework version.
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
Labels: AI Model Inference, AI Projects

#51483 Sync eng/common directory with azure-sdk-tools for PR 11353
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#51480 Install azsdk mcp server in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Labels: Central-EngSys

#51473 Increment version for ai releases
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/src/Azure.AI.Agents.Persistent.csproj
Labels: AI Model Inference, AI Projects

#51500 Prepare AOT-safe release for Azure.ResourceManager.AppConfiguration
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/CHANGELOG.md
  sdk/appconfiguration/Azure.ResourceManager.AppConfiguration/src/Azure.ResourceManager.AppConfiguration.csproj
  sdk/appconfiguration/ci.yml
Labels: Mgmt, App Configuration

#51502 Make `Azure.ResourceManager.ContainerService` AOT-compatible
  sdk/containerservice/Azure.ResourceManager.ContainerService/CHANGELOG.md
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Azure.ResourceManager.ContainerService.csproj
  sdk/containerservice/Azure.ResourceManager.ContainerService/src/Custom/Models/ManagedClusterIdentity.Serialization.cs
  sdk/containerservice/ci.mgmt.yml
Labels: Mgmt

#51501 Prepare AOT-safe release for Azure.ResourceManager.Authorization
  sdk/authorization/Azure.ResourceManager.Authorization/CHANGELOG.md
  sdk/authorization/Azure.ResourceManager.Authorization/src/Azure.ResourceManager.Authorization.csproj
  sdk/authorization/ci.mgmt.yml
Labels: Mgmt

#51510 Make `Azure.ResourceManager.Storage` AOT-compatible
  sdk/storage/Azure.ResourceManager.Storage/CHANGELOG.md
  sdk/storage/Azure.ResourceManager.Storage/src/Azure.ResourceManager.Storage.csproj
  sdk/storage/ci.mgmt.yml
Labels: Storage, Mgmt

#51509 Make `Azure.ResourceManager.OperationalInsights` AOT-compatible
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/CHANGELOG.md
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Azure.ResourceManager.OperationalInsights.csproj
  sdk/operationalinsights/ci.mgmt.yml
Labels: Mgmt

#51507 Make `Azure.ResourceManager.Redis` AOT-compatible
  sdk/redis/Azure.ResourceManager.Redis/CHANGELOG.md
  sdk/redis/Azure.ResourceManager.Redis/src/Azure.ResourceManager.Redis.csproj
  sdk/redis/ci.mgmt.yml
Labels: Mgmt

#51537 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250728.6
  eng/azure-typespec-http-client-csharp-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-emitter-package.json
  sdk/eventgrid/Azure.Messaging.EventGrid.Namespaces/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/healthdataaiservices/Azure.Health.Deidentification/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/keyvault/Azure.Security.KeyVault.Administration/src/Generated/Internal/ModelSerializationExtensions.cs
  sdk/schemaregistry/Azure.Data.SchemaRegistry/src/Generated/Internal/ModelSerializationExtensions.cs
Labels: KeyVault, Event Grid, Schema Registry, Health Deidentification

#51538 implement pageable in management generator.
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/ManagementOutputLibrary.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/GetAllOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/PageableOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/OperationMethodProviders/ResourceOperationMethodProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/PageableWrapperProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ResourceCollectionClientProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Utilities/OperationMethodParameterHelper.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/FooCollection.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/AsyncPageableWrapper.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/PageableWrapper.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooCollection.cs
Labels: Mgmt, CodeGen

#51547 Prepare for web pubsub extensions 1.9.0 release
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/CHANGELOG.md
  sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/src/Microsoft.Azure.WebJobs.Extensions.WebPubSub.csproj
Labels: WebPubSub

#51553 [Text Runtime] updated the readme versions
  sdk/cognitivelanguage/Azure.AI.Language.Text/README.md
Labels: Cognitive - Language

#51525 Sync eng/common directory with azure-sdk-tools for PR 11373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#51542 Add Streaming sample for Bing Grounding.
  sdk/ai/Azure.AI.Agents.Persistent/CHANGELOG.md
  sdk/ai/Azure.AI.Agents.Persistent/samples/Sample28_PersistentAgents_Bing_Grounding_streaming.md
  sdk/ai/Azure.AI.Agents.Persistent/tests/Samples/Sample_PersistentAgents_Bing_Grounding_Streaming.cs
Labels: AI Model Inference, AI Projects

#51534 Increment version for operationalinsights releases
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/CHANGELOG.md
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/src/Azure.ResourceManager.OperationalInsights.csproj
Labels: Mgmt

#51562 Update TypeSpec emitter version to prerelease 1.0.0-alpha.20250729.4
  eng/azure-typespec-http-client-csharp-emitter-package-lock.json
  eng/azure-typespec-http-client-csharp-emitter-package.json
  sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/Models/AzureDataAppConfigurationContext.cs
Labels: App Configuration

#51568 Make `Azure.ResourceManager.ResourceGraph` AOT-compatible
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/CHANGELOG.md
  sdk/resourcegraph/ci.mgmt.yml
Labels: Mgmt

#51572 Flattened property should honor readability of internal property
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Visitors/SafeFlattenVisitor.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/bar.tsp
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/BarSettingsData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/BarSettingsProperties.Serialization.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/BarSettingsProperties.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/FooSettingsPatch.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/ZooPatch.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/ZooData.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
Labels: Mgmt, CodeGen

#51599 Add missing ForwardsClientCallsAttribute
  eng/packages/http-client-csharp-mgmt/generator/Azure.Generator.Management/src/Providers/ExtensionProvider.cs
  eng/packages/http-client-csharp-mgmt/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Extensions/MgmtTypeSpecExtensions.cs
Labels: Mgmt, CodeGen

#51571 Increment version for resourcegraph releases
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/CHANGELOG.md
  sdk/resourcegraph/Azure.ResourceManager.ResourceGraph/src/Azure.ResourceManager.ResourceGraph.csproj
Labels: Mgmt

#51587 [Identity] Deprecate SharedTokenCacheCredential and remove preview-flag checks for the Broker
  sdk/identity/Azure.Identity.Broker/CHANGELOG.md
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net462.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.net8.0.cs
  sdk/identity/Azure.Identity.Broker/api/Azure.Identity.Broker.netstandard2.0.cs
  sdk/identity/Azure.Identity.Broker/src/Azure.Identity.Broker.csproj
  sdk/identity/Azure.Identity.Broker/src/DevelopmentBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/InteractiveBrowserCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/SharedTokenCacheCredentialBrokerOptions.cs
  sdk/identity/Azure.Identity.Broker/src/TemporaryConstants.cs
  sdk/identity/Azure.Identity.Broker/tests/ManualSharedTokenCacheCredentialBrokerTests.cs
  sdk/identity/Azure.Identity.Broker/tests/SharedTokenCacheCredentialBrokerOptionsTests.cs
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.net8.0.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/DefaultAzureCredentialOptions.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/SharedTokenCacheCredentialOptions.cs
  sdk/identity/Azure.Identity/src/DefaultAzureCredentialFactory.cs
Labels: Azure.Identity

#51607 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250731.1
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, CodeGen

#50534 Initial Azure.Core Perf work with two scenarios.
  sdk/core/Azure.Core/Azure.Core.sln
  sdk/core/Azure.Core/perf/Azure.Core.Perf.csproj
  sdk/core/Azure.Core/perf/BenchmarkClientOptions.cs
  sdk/core/Azure.Core/perf/Compare-Benchmarks.ps1
  sdk/core/Azure.Core/perf/CustomEventSource.cs
  sdk/core/Azure.Core/perf/Directory.Build.props
  sdk/core/Azure.Core/perf/DynamicObjectBenchmark.cs
  sdk/core/Azure.Core/perf/EventSourceBenchmark.cs
  sdk/core/Azure.Core/perf/MockHttpMessageHandler.cs
  sdk/core/Azure.Core/perf/PipelineBenchmark.cs
  sdk/core/Azure.Core/perf/PipelineDefaultBenchmark.cs
  sdk/core/Azure.Core/perf/Program.cs
  sdk/core/Azure.Core/perf/Run-Compare-Benchmarks.ps1
  sdk/core/Azure.Core/perf/TestModels/ModelWithBinaryData.cs
  sdk/core/Azure.Core/perf/TestModels/ModelWithObject.cs
  sdk/core/Azure.Core/perf/perf.sln
Labels: Azure.Core

#51584 [Storage][DataMovemnt] Fix resume on resources with special characters
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Shared/DataMovementExtensions.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
Labels: Storage

#51366 Tracing conventions: move .NET-only attributes from azure-sdk to this repo
  sdk/core/Azure.Core/samples/Diagnostics.md
  sdk/core/Azure.Core/samples/OpenTelemetrySemanticConventions.md
Labels: Azure.Core

#51610 Update UnbrandedGeneratorVersion to 1.0.0-alpha.20250731.2
  eng/Packages.Data.props
  eng/http-client-csharp-emitter-package-lock.json
  eng/http-client-csharp-emitter-package.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/src/PlaywrightServiceOptions.cs
  sdk/playwrighttesting/Azure.Developer.MicrosoftPlaywrightTesting.TestLogger/tests/PlaywrightServiceOptionsTest.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobClientTests.cs
Labels: Client, CodeGen
