Repository Azure/azure-sdk-for-net, pull requests merged in 2025-02, with the labels that each got.

#47965 [Event Hubs] Fixed producer semaphore release
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
Labels: Event Hubs, Client

#45472 [System.ClientModel] Add Logging
  eng/Packages.Data.props
  sdk/core/Azure.Core/src/DiagnosticsOptions.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net8.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/samples/Logging.md
  sdk/core/System.ClientModel/src/Internal/ChangeTrackingStringList.cs
  sdk/core/System.ClientModel/src/Internal/ContentTypeUtilities.cs
  sdk/core/System.ClientModel/src/Internal/Logging/ClientModelEventSource.cs
  sdk/core/System.ClientModel/src/Internal/Logging/LoggingEventIds.cs
  sdk/core/System.ClientModel/src/Internal/Logging/PipelineMessageHeadersLogValue.cs
  sdk/core/System.ClientModel/src/Internal/Logging/PipelineMessageLogger.cs
  sdk/core/System.ClientModel/src/Internal/Logging/PipelineMessageSanitizer.cs
  sdk/core/System.ClientModel/src/Internal/Logging/PipelineRetryLogger.cs
  sdk/core/System.ClientModel/src/Internal/Logging/PipelineTransportLogger.cs
  sdk/core/System.ClientModel/src/Message/PipelineRequest.cs
  sdk/core/System.ClientModel/src/Options/ClientLoggingOptions.cs
  sdk/core/System.ClientModel/src/Options/ClientPipelineOptions.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.RequestOptionsProcessor.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientPipeline.cs
  sdk/core/System.ClientModel/src/Pipeline/ClientRetryPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/HttpClientPipelineTransport.cs
  sdk/core/System.ClientModel/src/Pipeline/MessageLoggingPolicy.cs
  sdk/core/System.ClientModel/src/Pipeline/PipelineTransport.cs
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
  sdk/core/System.ClientModel/tests/Options/ClientLoggingOptionsTests.cs
  sdk/core/System.ClientModel/tests/Options/ClientPipelineOptionsTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineFunctionalTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientPipelineTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/ClientRetryPolicyTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/MessageLoggingPolicyTests.cs
  sdk/core/System.ClientModel/tests/Pipeline/PipelineTransportFunctionalTests.cs
  sdk/core/System.ClientModel/tests/Samples/LoggingSamples.cs
  sdk/core/System.ClientModel/tests/System.ClientModel.Tests.csproj
  sdk/core/System.ClientModel/tests/TestFramework/Logging/LoggerEvent.cs
  sdk/core/System.ClientModel/tests/TestFramework/Logging/TestClientEventListener.cs
  sdk/core/System.ClientModel/tests/TestFramework/Logging/TestLogger.cs
  sdk/core/System.ClientModel/tests/TestFramework/Logging/TestLoggingFactory.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineRequest.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineResponse.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockPipelineTransport.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockRequestHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/MockResponseHeaders.cs
  sdk/core/System.ClientModel/tests/TestFramework/Mocks/ObservableTransport.cs
  sdk/core/System.ClientModel/tests/internal/Internal/ChangeTrackingStringListTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/ClientLoggingOptionsTestsInternal.cs
  sdk/core/System.ClientModel/tests/internal/Internal/ContentTypeUtilitiesTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/Logging/PipelineMessageHeadersLogValueTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/Logging/PipelineMessageLoggerTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/Logging/PipelineMessageSanitizerTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/Logging/PipelineRetryLoggerTests.cs
  sdk/core/System.ClientModel/tests/internal/Internal/Logging/PipelineTransportLoggerTests.cs
Labels: Azure.Core

#48042 Increment version for communication releases
  sdk/communication/Azure.Communication.CallAutomation/CHANGELOG.md
  sdk/communication/Azure.Communication.CallAutomation/src/Azure.Communication.CallAutomation.csproj
Labels: Communication

#48080 Increment version for networkcloud releases
  sdk/networkcloud/Azure.ResourceManager.NetworkCloud/CHANGELOG.md
  sdk/networkcloud/Azure.ResourceManager.NetworkCloud/src/Azure.ResourceManager.NetworkCloud.csproj
Labels: Operator Nexus - Network Cloud

#47814 2024-11-15-preview and 2024-11-01 updates for Conversations Runtime
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/README.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/api/Azure.AI.Language.Conversations.net8.0.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/api/Azure.AI.Language.Conversations.netstandard2.0.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/assets.json
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample10_AnalyzeConversation_ConversationPiiWithEntityMaskPolicy.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample11_AnalyzeConversation_ConversationPiiWithNoMaskPolicy.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/samples/Sample9_AnalyzeConversation_ConversationPiiWithCharacterMaskPolicy.md
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/ConversationsClientOptions.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/ConversationsModelFactory.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Docs/ConversationAnalysisClient.xml
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/BaseRedactionPolicy.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/BaseRedactionPolicy.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/CharacterMaskPolicyType.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/CharacterMaskPolicyType.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/ConversationPiiActionContent.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/ConversationPiiActionContent.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/ConversationPiiCategories.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/ConversationPiiCategoryExclusions.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/ConversationSummarizationActionContent.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/ConversationSummarizationActionContent.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/EntityMaskTypePolicyType.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/EntityMaskTypePolicyType.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/NamedEntity.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/NamedEntity.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/NoMaskPolicyType.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/NoMaskPolicyType.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/RedactionPolicyKind.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/RegexKey.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/UnknownBaseRedactionPolicy.Serialization.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/UnknownBaseRedactionPolicy.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/ConversationsClientLiveTests.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Generated/Samples/Samples_ConversationAnalysisClient.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Infrastructure/ConversationAnalysisTestBase.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Samples/Sample7_AnalyzeConversation_ConversationPiiWithCharacterMaskPolicy.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Samples/Sample8_AnalyzeConversation_ConversationPiiWithEntityMaskPolicy.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tests/Samples/Sample9_AnalyzeConversation_ConversationPiiWithNoMaskPolicy.cs
  sdk/cognitivelanguage/Azure.AI.Language.Conversations/tsp-location.yaml
Labels: Cognitive - Language

#47952 Update cloudmachine sample to IsPackable=false
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/RAGMachine.csproj
Labels: Cloud Machine

#48071 Add "None" as a supported value for authentication type of a connection
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/assets.json
  sdk/ai/Azure.AI.Projects/src/Custom/Connection/ConnectionsClient.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectsModelFactory.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ApplicationInsightsConfiguration.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ApplicationInsightsConfiguration.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AuthenticationType.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/AuthenticationType.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionProperties.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionProperties.cs
  sdk/ai/Azure.AI.Projects/src/Generated/ConnectionResponse.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalConnectionPropertiesNoAuth.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/InternalConnectionPropertiesNoAuth.cs
  sdk/ai/Azure.AI.Projects/tests/ConnectionsClientTests.cs
  sdk/ai/Azure.AI.Projects/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#47933 Cloud Machine and Azure AI Project integration
  eng/Packages.Data.props
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/AIFoundary/AIFoundryClient.cs
  sdk/cloudmachine/Azure.CloudMachine/src/AIFoundary/AzureAIProjectsExensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/Azure.CloudMachine.csproj
  sdk/cloudmachine/Azure.CloudMachine/tests/AIFoundryTests.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/Azure.CloudMachine.Tests.csproj
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTestEnvironment.cs
Labels: Cloud Machine

#48086 Sync eng/common directory with azure-sdk-tools for PR 9752
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#48087 Update changelog
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
Labels: AI Model Inference, AI Projects

#48091 Sync eng/common directory with azure-sdk-tools for PR 9698
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
Labels: EngSys, Central-EngSys

#48094 Sync eng/common directory with azure-sdk-tools for PR 9733
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#48081 Sync eng/common directory with azure-sdk-tools for PR 9747
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#48096 [Storage] [DataMovement] Fixed File Attributes with ReadOnly does not transfer / copy correctly bug
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
Labels: Storage

#48098 Sync eng/common directory with azure-sdk-tools for PR 9745
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#47957 `net - pullrequest`
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/archetype-sdk-docs.yml
  eng/pipelines/templates/steps/dependency.tests.yml
  eng/pipelines/templates/steps/set-artifact-packages.yml
  eng/pipelines/templates/variables/globals.yml
  eng/scripts/Install-Azurite.ps1
  eng/scripts/Language-Settings.ps1
  eng/scripts/Save-Package-Namespaces-Property.ps1
  eng/scripts/splittestdependencies/set-artifact-packages.ps1
  eng/service.proj
  sdk/pullrequest.yml
Labels: Storage

#48100 [Cloud Machine] Merge AIFoundryClient logic into CloudMachineClient and introduce AIFoundryFeature
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIModelFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/tests/CloudMachineTests_rag.cs
  sdk/cloudmachine/Azure.CloudMachine.Web/src/CloudMachineExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/MessagingServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/ProjectClient.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/AIFoundryTests.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/ConnectionTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineClientExtensions.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/FeatureCollection.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/ProjectInfrastructure.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/AIFoundryConnections.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/AIFoundryFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/EventGridSystemTopicFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/NoOpResource.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusNamespaceFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusSubscriptionFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusTopicFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/StorageAccountFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/SystemTopicEventSubscriptionFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/AppServiceFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/KeyVaultFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/GlobalSuppressions.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/Azd.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/CloudMachineCommands.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/CommandsTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/ProvisioningTests.cs
  sdk/cloudmachine/README.md
Labels: Cloud Machine

#48039 Removed references to deprecated service, Azure Spatial Anchors
  sdk/mixedreality/Azure.MixedReality.Authentication/README.md
  sdk/mixedreality/Azure.ResourceManager.MixedReality/README.md
Labels: Mgmt, customer-reported, Community Contribution, Mixed Reality

#48111 Prepare Core / SCM release
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#48119 [Storage] [DataMovement] Renamed TransferOptions.CreationPreference to CreateMode
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/perf/Azure.Storage.DataMovement.Blobs.Perf/Infrastructure/DirectoryTransferTest.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/samples/Sample01b_HelloWorldAsync.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobContainerClientExtensionsIntegrationTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/ProgressHandlerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferCheckpointerTests.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferJobInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferOptions.cs
  sdk/storage/Azure.Storage.DataMovement/src/TransferStatus.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryCopyTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDirectoryDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferDownloadTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StartTransferUploadTestBase.cs
Labels: Storage

#48118 Sync eng/common directory with azure-sdk-tools for PR 9781
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#48124 Release AGC v2025-01-01
  sdk/servicenetworking/Azure.ResourceManager.ServiceNetworking/CHANGELOG.md
Labels: Mgmt

#48127 Prepare release of data protection backup
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/api/Azure.ResourceManager.DataProtectionBackup.net8.0.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/api/Azure.ResourceManager.DataProtectionBackup.netstandard2.0.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Customized/Models/DataProtectionIdentityDetails.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionIdentityDetails.Serialization.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Generated/Models/DataProtectionIdentityDetails.cs
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/autorest.md
Labels: Mgmt

#48129 fix the release date of data protection backup
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
Labels: Mgmt

#48134 Sync eng/common directory with azure-sdk-tools for PR 9764
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#48132 Increment version for servicenetworking releases
  sdk/servicenetworking/Azure.ResourceManager.ServiceNetworking/CHANGELOG.md
  sdk/servicenetworking/Azure.ResourceManager.ServiceNetworking/src/Azure.ResourceManager.ServiceNetworking.csproj
Labels: Mgmt

#48136 Update AutoRest C# version to 3.0.0-beta.20250205.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/batch/Azure.Compute.Batch/src/Generated/Docs/BatchClient.xml
  sdk/batch/Azure.Compute.Batch/tests/Generated/Samples/Samples_BatchClient.cs
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Discovery.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Discovery.cs
Labels: Batch, Mgmt, Communication

#48133 [Extensions] Prepare Microsoft.Extension.Azure for release
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#48130 [Cloud Machine] Update Cloud Machine version and rename types for RAG app
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/Program.cs
  sdk/cloudmachine/Azure.CloudMachine/samples/RAGMachine/RAGMachine.csproj
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/AIFoundryFeature.cs
Labels: Cloud Machine

#48146 Increment version for core releases
  sdk/core/Azure.Core/CHANGELOG.md
  sdk/core/Azure.Core/src/Azure.Core.csproj
  sdk/core/System.ClientModel/CHANGELOG.md
  sdk/core/System.ClientModel/src/System.ClientModel.csproj
Labels: Azure.Core

#48121 Add the C# function deployment to the readme.
  sdk/ai/Azure.AI.Projects/README.md
  sdk/ai/Azure.AI.Projects/assets.json
  sdk/ai/Azure.AI.Projects/tests/AgentClientTests.cs
Labels: AI Model Inference, AI Projects

#48144 Sync eng/common directory with azure-sdk-tools for PR 9783
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#48148 Increment version for extensions releases
  sdk/extensions/Microsoft.Extensions.Azure/CHANGELOG.md
  sdk/extensions/Microsoft.Extensions.Azure/src/Microsoft.Extensions.Azure.csproj
Labels: Extensions

#48147 Sync eng/common directory with azure-sdk-tools for PR 9788
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#48108 Generate ArmOperation for LRO in Azure plugin
  eng/Packages.Data.props
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Azure.Generator.csproj
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureOutputLibrary.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Primitives/NewAzureProjectScaffolding.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/MgmtLongRunningOperationProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Utilities/ConstructorProviderHelper.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/MgmtLongRunningOperationProviderTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/MgmtLongRunningOperationProviderTests/Verify_Generic_MgmtLROProviderGeneration.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/TestData/MgmtLongRunningOperationProviderTests/Verify_NonGeneric_MgmtLROProviderGeneration.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/BasicTypeSpec.sln
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/BasicTypeSpec.csproj
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/BasicTypeSpecClientOptions.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/ChangeTrackingDictionary.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/ChangeTrackingList.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/CodeGenMemberAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/CodeGenSerializationAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/CodeGenSuppressAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/CodeGenTypeAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/ErrorResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Internal/Utf8JsonBinaryContent.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/MgmtTypeSpec.sln
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/ChangeTrackingDictionary.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/ChangeTrackingList.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/CodeGenMemberAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/CodeGenSerializationAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/CodeGenSuppressAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/CodeGenTypeAttribute.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/ErrorResult.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Internal/Utf8JsonBinaryContent.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/LongRunningOperation/MgmtTypeSpecArmOperation.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/LongRunningOperation/MgmtTypeSpecArmOperationOfT.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/FoosRestOperations.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/PrivateLinksRestOperations.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/MgmtTypeSpec.csproj
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
  eng/scripts/typespec/Generate-Code.ps1
Labels: Client, CodeGen

#48157 Sync eng/common directory with azure-sdk-tools for PR 9793
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#48162 Update AutoRest C# version to 3.0.0-beta.20250206.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/communication/Azure.Communication.Messages/Configuration.json
  sdk/communication/Azure.Communication.Messages/tspCodeModel.json
Labels: Communication

#48159 [Extensions] [ContainerRegistry] Prepare release for Extension packages and Container Registry
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: Container Registry, Extensions

#48156 [Service Bus] Fix error parsing logic
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusRequestFailedDetailsParser.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/tests/Administration/ServiceBusRequestFailedDetailsParserTests.cs
Labels: Service Bus, Client

#48122 `net - pullrequest` bugfixes
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/scripts/Language-Settings.ps1
  sdk/pullrequest.yml
Labels: Azure.Core

#48181 [SignalR] Fixed transitive version conflict
  sdk/signalr/Microsoft.Azure.WebJobs.Extensions.SignalRService/src/Microsoft.Azure.WebJobs.Extensions.SignalRService.csproj
Labels: SignalR, Client

#48182 Increment version for extensions releases
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/Azure.Extensions.AspNetCore.Configuration.Secrets.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs/src/Azure.Extensions.AspNetCore.DataProtection.Blobs.csproj
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/CHANGELOG.md
  sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/Azure.Extensions.AspNetCore.DataProtection.Keys.csproj
Labels: Extensions

#48185 Sync eng/common directory with azure-sdk-tools for PR 9799
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#48160 Increment version for dataprotection releases
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: Mgmt

#48101 [Event Hubs] Handle bad offset at GeoDR failover
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.net8.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/api/Azure.Messaging.EventHubs.netstandard2.0.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpError.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs
  sdk/eventhub/Azure.Messaging.EventHubs/src/Processor/CheckpointPosition.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Amqp/AmqpErrorTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/EventProcessorTests.PartitionProcessing.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
Labels: Event Hubs, Client

#47195 number insight ga
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.net8.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/api/Azure.Communication.PhoneNumbers.netstandard2.0.cs
  sdk/communication/Azure.Communication.PhoneNumbers/assets.json
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/InternalPhoneNumbersRestClient.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/Models/OperatorDetails.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/Generated/PhoneNumbersModelFactory.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/PhoneNumbersClientOptions.cs
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
Labels: Communication - Phone Numbers

#48090 STG 97 beta and WebJobs release commit
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#48149 [Service Bus] Adding resiliance to drain for session receivers
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpConnectionScope.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpReceiver.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpRuleManager.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpSender.cs
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Diagnostics/ServiceBusEventSource.cs
Labels: Service Bus

#48186 Further pullrequest adjustments
  eng/pipelines/templates/jobs/ci.yml
  eng/service.proj
Labels: SignalR

#48203 [CODEOWNERS] Fix linter issues
  .github/CODEOWNERS
Labels: Client, EngSys

#48206 Increment version for containerregistry releases
  sdk/containerregistry/Azure.Containers.ContainerRegistry/CHANGELOG.md
  sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Azure.Containers.ContainerRegistry.csproj
Labels: Container Registry

#48210 [Service Bus] Release Prep: Feb, 2025
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus, Client

#48222 guoqing/number-insight-GA-fix-specs-commit-id
  sdk/communication/Azure.Communication.PhoneNumbers/src/autorest.md
Labels: Communication - Phone Numbers

#48223 Release prep
  sdk/identity/Azure.Identity/CHANGELOG.md
Labels: Azure.Identity

#48226 Increment version for storage releases
  sdk/storage/Azure.Storage.Blobs.Batch/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.Batch/src/Azure.Storage.Blobs.Batch.csproj
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/src/Azure.Storage.Blobs.ChangeFeed.csproj
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Azure.Storage.Common.csproj
  sdk/storage/Azure.Storage.Files.DataLake/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.DataLake/src/Azure.Storage.Files.DataLake.csproj
  sdk/storage/Azure.Storage.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.Files.Shares/src/Azure.Storage.Files.Shares.csproj
  sdk/storage/Azure.Storage.Queues/CHANGELOG.md
  sdk/storage/Azure.Storage.Queues/src/Azure.Storage.Queues.csproj
Labels: Storage

#48230 Increment version for identity releases
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/src/Azure.Identity.csproj
Labels: Azure.Identity

#48205 [Storage] [DataMovement] [Tests] Abstract Pause/Resume E2E tests and implement for Share File & Blobs
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/Azure.Storage.DataMovement.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlobPauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareDirectoryStorageResourceContainer.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/SharesPathScanner.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/Azure.Storage.DataMovement.Files.Shares.Tests.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/PathScannerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/RehydrateShareResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDestinationCheckpointDetailsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryClientExtensionsTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareDirectoryStorageResourceContainerTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFilePauseResumeTransferTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileResourceTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferCopyTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferDownloadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareFileStartTransferUploadTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/tests/ShareSourceCheckpointDetailsTests.cs
  sdk/storage/Azure.Storage.DataMovement/src/AssemblyInfo.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/PauseResumeTransferTestBase.cs
Labels: Storage

#48231 Increment version for storage releases
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.csproj
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/CHANGELOG.md
  sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage/src/Microsoft.Azure.WebJobs.Extensions.Storage.csproj
Labels: Storage

#48232 Sync eng/common directory with azure-sdk-tools for PR 9803
  eng/common/scripts/Helpers/Package-Helpers.ps1
Labels: EngSys, Central-EngSys

#48204 [Event Hubs] Set GeoDR on management link
  sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
Labels: Event Hubs, Client

#48208 [Event Hubs] Release Prep: Feb, 2025
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client

#48220 Update Data Movement Blobs package install command
  sdk/storage/Azure.Storage.DataMovement.Blobs/README.md
Labels: Storage

#48235 Sync eng/common directory with azure-sdk-tools for PR 9810
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys

#48209 [Event Hubs] Processor Release Prep: Feb, 2025
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/Azure.Messaging.EventHubs.Processor.csproj
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Microsoft.Azure.WebJobs.Extensions.EventHubs.csproj
Labels: Event Hubs, Client

#47596 NFS over REST 98
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net6.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.net8.0.cs
  sdk/storage/Azure.Storage.Files.Shares/api/Azure.Storage.Files.Shares.netstandard2.0.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileCreateSymbolicLinkOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileSymbolicLinkInfo.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
  sdk/storage/Azure.Storage.Files.Shares/tests/FileClientTests.cs
Labels: Storage

#48238 Sync eng/common directory with azure-sdk-tools for PR 9778
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#47892 Added tests for Container, Queue, and FileSystem Get/Set ACLs and Get…
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
  sdk/storage/Azure.Storage.Files.DataLake/tests/FileSystemClientTests.cs
  sdk/storage/Azure.Storage.Queues/assets.json
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTestFixtureAttribute.cs
  sdk/storage/Azure.Storage.Queues/tests/QueueClientTests.cs
Labels: Storage

#48241 [Event Hubs] Fixed producer semaphore release (#47965)
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerClient.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Consumer/EventHubConsumerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Primitives/PartitionReceiverLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientLiveTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubBufferedProducerClientTests.cs
  sdk/eventhub/Azure.Messaging.EventHubs/tests/Producer/EventHubProducerClientLiveTests.cs
Labels: Event Hubs, Client

#48239 Increment version for communication releases
  sdk/communication/Azure.Communication.Messages/CHANGELOG.md
  sdk/communication/Azure.Communication.Messages/src/Azure.Communication.Messages.csproj
Labels: Communication

#48237 Increment version for eventhub releases
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/src/Azure.Messaging.EventHubs.csproj
Labels: Event Hubs

#48236 Increment version for servicebus releases
  sdk/servicebus/Azure.Messaging.ServiceBus/CHANGELOG.md
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Azure.Messaging.ServiceBus.csproj
Labels: Service Bus

#48228 Increment version for communication releases
  sdk/communication/Azure.Communication.PhoneNumbers/CHANGELOG.md
  sdk/communication/Azure.Communication.PhoneNumbers/src/Azure.Communication.PhoneNumbers.csproj
Labels: Communication - Phone Numbers

#47792 Added support for x-ms-file-request-intent for blob copy APIs
  sdk/storage/Azure.Storage.Blobs.Batch/tests/Azure.Storage.Blobs.Batch.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net6.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.net8.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs
  sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.1.cs
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/AppendBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/BlockBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ContainerRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/Models/FileShareTokenIntent.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/PageBlobRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/AppendBlobAppendBlockFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobCopyFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobSyncUploadFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/PageBlobUploadPagesFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/StageBlockFromUriOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PageBlobClient.cs
  sdk/storage/Azure.Storage.Blobs/src/autorest.md
  sdk/storage/Azure.Storage.Blobs/tests/AppendBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/Azure.Storage.Blobs.Tests.csproj
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobTestBase.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlockBlobClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs
Labels: Storage

#48215 prepare release for Azure.ResourceManager.DataProtectionBackup
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: Mgmt

#47731 Fix for #36714: Tags related test cases
  sdk/compute/Azure.ResourceManager.Compute/assets.json
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/AvailabilitySetOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/DedicatedHostGroupOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/DedicatedHostOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/DiskAccessOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/GalleryImageOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/GalleryOperationsTests.cs
  sdk/compute/Azure.ResourceManager.Compute/tests/Scenario/ManagedDiskOperationsTests.cs
Labels: Mgmt

#48252 fix the version number for dataprotectionbackup
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: Mgmt

#48257 Increment version for dataprotection releases
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/CHANGELOG.md
  sdk/dataprotection/Azure.ResourceManager.DataProtectionBackup/src/Azure.ResourceManager.DataProtectionBackup.csproj
Labels: Mgmt

#48244 [Event Hubs] Update etag reset logic in the checkpoint store
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobCheckpointStoreInternal.cs
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalTests.cs
Labels: Event Hubs

#48013 Update Azure.ResourceManager.Resources API version to latest
  sdk/resources/Azure.ResourceManager.Resources/api/Azure.ResourceManager.Resources.net8.0.cs
  sdk/resources/Azure.ResourceManager.Resources/api/Azure.ResourceManager.Resources.netstandard2.0.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmDeploymentCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_ArmDeploymentResource.cs
  sdk/resources/Azure.ResourceManager.Resources/samples/Generated/Samples/Sample_TenantResourceExtensions.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/ArmDeploymentCollection.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/ArmDeploymentResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/ArmResourcesModelFactory.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/MockableResourcesManagementGroupResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/MockableResourcesResourceGroupResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/MockableResourcesSubscriptionResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/MockableResourcesTenantResource.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Extensions/ResourcesExtensions.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentProperties.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentProperties.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentPropertiesExtended.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentPropertiesExtended.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentValidateResult.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentValidateResult.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentWhatIfProperties.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ArmDeploymentWhatIfProperties.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DeploymentDiagnosticsDefinition.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/DeploymentDiagnosticsDefinition.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ErrorAdditionalInfo.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ErrorAdditionalInfo.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/Level.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/ValidationLevel.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/WhatIfChange.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/WhatIfChange.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/WhatIfOperationResult.Serialization.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/Models/WhatIfOperationResult.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/RestOperations/DeploymentRestOperations.cs
  sdk/resources/Azure.ResourceManager.Resources/src/Generated/RestOperations/DeploymentsRestOperations.cs
  sdk/resources/Azure.ResourceManager.Resources/src/autorest.md
Labels: ARM

#48267 Sync eng/common directory with azure-sdk-tools for PR 9807
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#48253 Update Maps Weather samples
  sdk/maps/Azure.Maps.Weather/README.md
  sdk/maps/Azure.Maps.Weather/samples/MapsWeatherSamples.md
  sdk/maps/Azure.Maps.Weather/tests/Samples/WeatherClientSamples.cs
Labels: Maps

#48268 [Storage] Fix NullReferenceException when parsing error response
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
  sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs
  sdk/storage/Azure.Storage.Common/src/Shared/StorageRequestFailedDetailsParser.cs
Labels: Storage

#48266 Sync eng/common directory with azure-sdk-tools for PR 9821
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#48276 [Storage] Update documentation for `overwrite` parameter of `OpenWrite`
  sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs
Labels: Storage

#48277 Sync eng/common directory with azure-sdk-tools for PR 9823
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#48005 [Key Vault] Add warnings on RSA1_5 and RSA_OAEP encryption algorithms
  sdk/keyvault/Azure.Security.KeyVault.Keys/README.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/samples/Sample4_EncryptDecrypt.md
  sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/EncryptionAlgorithm.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample4_EncryptDecrypt.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample4_EncryptDecryptAsync.cs
  sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/SampleSnippets.cs
Labels: KeyVault

#48285 [Storage] [Docs] Fixed docs for CommitBlockList
  sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs
Labels: Storage

#48274 [Event Hubs] Updates to reflect the v5.11.6 hotfix
  eng/Packages.Data.props
  sdk/eventhub/Azure.Messaging.EventHubs.Processor/CHANGELOG.md
  sdk/eventhub/Azure.Messaging.EventHubs/CHANGELOG.md
Labels: Event Hubs, Client

#48272 [Storage] [BUG] Fixed ContentRange is null in BlobDownloadDetails when calling DownloadStreamingAsync with HttpRange "0-"
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
Labels: Storage

#48289 Add release date to changelog
  sdk/ai/Azure.AI.Inference/CHANGELOG.md
Labels: AI Model Inference, AI Projects

#47783 Ensure all StorageWriteStream disposables are disposed
  sdk/storage/Azure.Storage.Common/src/Shared/StorageWriteStream.cs
  sdk/storage/Azure.Storage.Common/tests/StorageWriteStreamTests.cs
Labels: Storage, customer-reported, Community Contribution

#48291 Fix ExcludePath filter in AdditionalValidationPackagesFromPackageSetFn
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#48297 Sync eng/common directory with azure-sdk-tools for PR 9832
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#48302 Update AutoRest C# version to 3.0.0-beta.20250213.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/batch/Azure.Compute.Batch/src/Generated/Docs/BatchClient.xml
  sdk/batch/Azure.Compute.Batch/tests/Generated/Samples/Samples_BatchClient.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/api/Azure.Messaging.EventGrid.SystemEvents.net8.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/api/Azure.Messaging.EventGrid.SystemEvents.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/EventGridSystemEventsModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/MediaLiveEventIncomingDataChunkDroppedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Generated/MediaLiveEventIncomingDataChunkDroppedEventData.cs
Labels: Batch, Event Grid

#48309 Increment version for nginx releases
  sdk/nginx/Azure.ResourceManager.Nginx/CHANGELOG.md
  sdk/nginx/Azure.ResourceManager.Nginx/src/Azure.ResourceManager.Nginx.csproj
Labels: Nginx

#48311 [Storage] [Docs] Specified units for buffer size
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobOpenReadOptions.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/Models/DataLakeOpenReadOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/Models/ShareFileOpenReadOptions.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareFileClient.cs
Labels: Storage

#48313 Increment package version after release of Azure.AI.Inference
  sdk/ai/Azure.AI.Inference/CHANGELOG.md
  sdk/ai/Azure.AI.Inference/src/Azure.AI.Inference.csproj
Labels: AI Model Inference, AI Projects

#48299 Sync eng/common directory with azure-sdk-tools for PR 9834
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#48310 Increment version for monitor releases
  sdk/monitor/Azure.ResourceManager.Monitor/CHANGELOG.md
  sdk/monitor/Azure.ResourceManager.Monitor/src/Azure.ResourceManager.Monitor.csproj
Labels: Monitor

#48300 Sync eng/common directory with azure-sdk-tools for PR 9836
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#48316 Prep for release
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.net8.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/api/Azure.Messaging.EventGrid.netstandard2.0.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Customization/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/EventGridModelFactory.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageDeliveryStatusUpdatedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageMediaContent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageMediaContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageReactionContent.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageReactionContent.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageReceivedEventData.Serialization.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsMessageReceivedEventData.cs
  sdk/eventgrid/Azure.Messaging.EventGrid/src/autorest.md
Labels: Event Grid

#48314 Added support for provisioning AI Foundry Projects
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIModelFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.sln
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/CloudMachineInfrastructure/CloudMachineFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/AIFoundryFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ResourceGroupFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusNamespaceFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusSubscriptionFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusTopicFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/StorageAccountFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/AIFoundry.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/KeyVaultFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/Azd.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/BicepGenerationTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/Foundry.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/E2ETests.cs
Labels: Cloud Machine

#48317 [AzureMonitorExporter] Set Dependency.Target whenever "server.address" is set
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/RemoteDependencyData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Internals/AzMonListExtensions.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/RemoteDependencyDataTests.cs
Labels: Monitor - Exporter

#47300 [AzureMonitorExporter] fix metric array attributes
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/CHANGELOG.md
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/src/Customizations/Models/MetricsData.cs
  sdk/monitor/Azure.Monitor.OpenTelemetry.Exporter/tests/Azure.Monitor.OpenTelemetry.Exporter.Tests/MetricHelperTests.cs
Labels: Monitor - Exporter

#48320 got rid of the CM name
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/api/Azure.CloudMachine.OpenAI.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/AzureOpenAIExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/ChatTools.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/EmbeddingsVectorbase.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/MemoryVectorbaseStore.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/OpenAIModelFeature.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/src/VectorbaseStore.cs
  sdk/cloudmachine/Azure.CloudMachine.OpenAI/tests/CloudMachineTests_rag.cs
  sdk/cloudmachine/Azure.CloudMachine.Web/api/Azure.CloudMachine.Web.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine.Web/src/AzureProjectsExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine.sln
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.CloudMachine/api/Azure.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.CloudMachine/src/AIFoundary/AIFoundryClient.cs
  sdk/cloudmachine/Azure.CloudMachine/src/AIFoundary/AzureAIProjectsExensions.cs
  sdk/cloudmachine/Azure.CloudMachine/src/AppConfigHelpers.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/MessagingServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageFile.cs
  sdk/cloudmachine/Azure.CloudMachine/src/CoreServices/StorageServices.cs
  sdk/cloudmachine/Azure.CloudMachine/src/ProjectClient.cs
  sdk/cloudmachine/Azure.CloudMachine/src/ProjectClientConfiguration.cs
  sdk/cloudmachine/Azure.CloudMachine/src/extensions/KeyVaultExtensions.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/AIFoundryTests.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/AzureProjectsTestEnvironment.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/CloudMachineTests.cs
  sdk/cloudmachine/Azure.CloudMachine/tests/ConnectionTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.net8.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/api/Azure.Provisioning.CloudMachine.netstandard2.0.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/AIFoundryConnections.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/AIFoundryFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/EventGridSystemTopicFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/NoOpResource.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ResourceGroupFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusNamespaceFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusSubscriptionFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/ServiceBusTopicFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/StorageAccountFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesBuiltIn/SystemTopicEventSubscriptionFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/AppServiceFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/FeaturesExtensions/KeyVaultFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/GlobalSuppressions.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/ProjectClientExtensions.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/ProjectInfrastructure/AzureProjectFeature.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/ProjectInfrastructure/FeatureCollection.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/ProjectInfrastructure/ProjectConnections.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/ProjectInfrastructure/ProjectInfrastructure.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/ProjectInfrastructure/RoleResolver.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/Azd.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/src/Tooling/AzureProjectsCommands.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Azure.Provisioning.CloudMachine.Tests.csproj
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/BicepGenerationTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/CommandsTests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/Data/MinimalProject.bicep
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/E2ETests.cs
  sdk/cloudmachine/Azure.Provisioning.CloudMachine/tests/TdkTests.cs
Labels: Cloud Machine

#48319 [Event Hubs] Fix Ownership Claim Test Cases
  sdk/eventhub/Azure.Messaging.EventHubs.Shared/tests/BlobCheckpointStore/BlobsCheckpointStoreInternalLiveTests.cs
Labels: Event Hubs

#47445 Increment version for communication releases
  sdk/communication/Azure.Communication.Sms/CHANGELOG.md
  sdk/communication/Azure.Communication.Sms/src/Azure.Communication.Sms.csproj
Labels: no-recent-activity, Communication - SMS

#48332 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj
Labels: Event Grid

#47749 Increment version for cognitivelanguage releases
  sdk/cognitivelanguage/Azure.AI.Language.Text/CHANGELOG.md
  sdk/cognitivelanguage/Azure.AI.Language.Text/src/Azure.AI.Language.Text.csproj
Labels: Cognitive - Language

#48306 added call connection id for start recording.
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/assets.json
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationEventProcessor/EventResult/AnswerCallEventResult.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallRecording.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallAutomationModelFactory.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/CallRecordingRestClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/AnswerCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/CreateCallRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartCallRecordingRequestInternal.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailed.Serialization.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Generated/Models/StartRecordingFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/AnswerCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallInvite.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CreateGroupCallOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/CallAutomationEventParser.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/Events/StartRecordingFailed.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/StartRecordingOptions.cs
  sdk/communication/Azure.Communication.CallAutomation/src/autorest.md
  sdk/communication/Azure.Communication.CallAutomation/tests/CallAutomationClients/CallAutomationClientTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/CallRecordingAutomatedLiveTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/CallRecordings/CallRecordingTests.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationClientAutomatedLiveTestsBase.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/Infrastructure/CallAutomationTestBase.cs
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndReject.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallAndRejectAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToACSGetCallAndHangUpCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToAcsConnectCallAndHangupForEveryoneTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToAcsConnectCallAndHangupForEveryoneTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToAcsConnectCallAndHangupTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallAutomationClientAutomatedLiveTests/CreateCallToAcsConnectCallAndHangupTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/CancelAddParticipantTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallConnectionAutomatedLiveTests/RemoveAUserCallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingUnmixedTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingUnmixedTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingWithAudioFormatPcm24KMonoTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/AnswerCallWithMediaStreamingWithAudioFormatPcm24KMonoTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingWithAudioFormatPcm24KMonoTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/CreateCallWithMediaStreamingWithAudioFormatPcm24KMonoTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/HoldUnholdParticipantInACallTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallMediaAutomatedLiveTests/HoldUnholdParticipantInACallTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallAndUnmixedAudioTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/CreateACSCallUnmixedAudioAffinityTestAsync.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/StartRecordingWithCallConnectionIdTest.json
  sdk/communication/Azure.Communication.CallAutomation/tests/SessionRecordedEvents/CallRecordingAutomatedLiveTests/StartRecordingWithCallConnectionIdTestAsync.json
Labels: Communication

#47861 Added BackupCognitiveServicesEndpoint In CallIntelligenceOptions
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.net8.0.cs
  sdk/communication/Azure.Communication.CallAutomation/api/Azure.Communication.CallAutomation.netstandard2.0.cs
  sdk/communication/Azure.Communication.CallAutomation/src/CallAutomationClient.cs
  sdk/communication/Azure.Communication.CallAutomation/src/Models/CallIntelligenceOptions.cs
Labels: Communication

#48026 Confidential ledger/2024 08 22
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/CHANGELOG.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.net8.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/api/Azure.Security.ConfidentialLedger.netstandard2.0.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/assets.json
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerCertificateClientOptions.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/ConfidentialLedgerClientOptions.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/Generated/Docs/ConfidentialLedgerClient.xml
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/src/autorest.md
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Azure.Security.ConfidentialLedger.Tests.csproj
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/ConfidentialLedgerClientLiveTests.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Generated/Samples/Samples_ConfidentialLedgerClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Helper/ConfidentialLedgerHelperHttpClient.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Helper/JSBundle.cs
  sdk/confidentialledger/Azure.Security.ConfidentialLedger/tests/Helper/programmability.js
  sdk/confidentialledger/test-resources.json
Labels: Confidential Ledger

#48340 Updated types supported by ApplicationProperties
  sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Rules/CorrelationRuleFilter.cs
Labels: Service Bus

#48341 Revert "[Storage] [BUG] Fixed ContentRange is null in BlobDownloadDetails when calling DownloadStreamingAsync with HttpRange "0-""
  sdk/storage/Azure.Storage.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobDownloadOptions.cs
  sdk/storage/Azure.Storage.Blobs/src/PartitionedDownloader.cs
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
  sdk/storage/Azure.Storage.Blobs/tests/PartitionedDownloaderTests.cs
  sdk/storage/Azure.Storage.Files.DataLake/assets.json
Labels: Storage

#48331 DeID test failure on deidServiceName length
  sdk/healthdataaiservices/test-resources.bicep
Labels: Health Deidentification

#48330 Handle PR changes in the root of the repository
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#48245 Move ClientWorkspace abstractions from cloud machine into System.ClientModel
  sdk/core/System.ClientModel/api/System.ClientModel.net6.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.net8.0.cs
  sdk/core/System.ClientModel/api/System.ClientModel.netstandard2.0.cs
  sdk/core/System.ClientModel/src/Convenience/ClientAuthenticationMethod.cs
  sdk/core/System.ClientModel/src/Convenience/ClientCache.cs
  sdk/core/System.ClientModel/src/Convenience/ClientConnection.cs
  sdk/core/System.ClientModel/src/Convenience/ConnectionCollection.cs
  sdk/core/System.ClientModel/src/Convenience/ConnectionProvider.cs
  sdk/core/System.ClientModel/src/Properties/AssemblyInfo.cs
  sdk/core/System.ClientModel/tests/Convenience/ClientCacheTests.cs
  sdk/core/System.ClientModel/tests/Convenience/ConnectionCollectionTests.cs
Labels: System.ClientModel

#48343 [Storage] [Doc] BlobItem.Tags returns null for blobs with no tags
  sdk/storage/Azure.Storage.Blobs/src/Models/BlobItem.cs
Labels: Storage

#48295 [Storage] Updated Changelog to include fix from StorageWriteStream disposables PR
  sdk/storage/Azure.Storage.Common/CHANGELOG.md
Labels: Storage

#48229 Increment version for storage releases
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
Labels: Storage

#48345 [Storage] [Docs] Removing unnecessary documentation regarding service side behavior of GC
  sdk/storage/Azure.Storage.Blobs.Batch/src/BlobBatch.cs
  sdk/storage/Azure.Storage.Blobs.Batch/src/BlobBatchClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs
  sdk/storage/Azure.Storage.Blobs/src/BlobServiceClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeDirectoryClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileSystemClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeServiceClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareClient.cs
  sdk/storage/Azure.Storage.Files.Shares/src/ShareServiceClient.cs
Labels: Storage

#48347 Azure OpenAI: 2.2.0-beta.2
  eng/Packages.Data.props
  sdk/openai/Azure.AI.OpenAI/CHANGELOG.md
  sdk/openai/Azure.AI.OpenAI/assets.json
  sdk/openai/Azure.AI.OpenAI/src/Azure.AI.OpenAI.csproj
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatClient.cs
  sdk/openai/Azure.AI.OpenAI/src/Custom/Chat/AzureChatExtensions.cs
  sdk/openai/Azure.AI.OpenAI/tests/Assets/playback_test_config.json
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.Audio.cs
  sdk/openai/Azure.AI.OpenAI/tests/ChatTests.cs
Labels: OpenAI

#48353 [Storage] [Tests] Recorded GenerateUserDelegationSas_TrimBlobSlashes test
  sdk/storage/Azure.Storage.Blobs/assets.json
  sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs
Labels: Storage

#48344 Use RunStepFileSearchToolCallResults instead of a string in search tool deserialization step during streaming.
  sdk/ai/Azure.AI.Projects/CHANGELOG.md
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.net8.0.cs
  sdk/ai/Azure.AI.Projects/api/Azure.AI.Projects.netstandard2.0.cs
  sdk/ai/Azure.AI.Projects/assets.json
  sdk/ai/Azure.AI.Projects/src/Generated/AIProjectsModelFactory.cs
  sdk/ai/Azure.AI.Projects/src/Generated/RunStepDeltaFileSearchToolCall.Serialization.cs
  sdk/ai/Azure.AI.Projects/src/Generated/RunStepDeltaFileSearchToolCall.cs
  sdk/ai/Azure.AI.Projects/tests/AgentClientTests.cs
  sdk/ai/Azure.AI.Projects/tests/TestData/product_info_1.md
  sdk/ai/Azure.AI.Projects/tsp-location.yaml
Labels: AI Model Inference, AI Projects

#47772 update generic resource tag updates
  sdk/resourcemanager/Azure.ResourceManager/assets.json
  sdk/resourcemanager/Azure.ResourceManager/src/Resources/Custom/GenericResource.cs
  sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/GenericResourceOperationsTests.cs
Labels: Mgmt

#48350 Remove unnecessary custom targets from AOAI
  sdk/openai/Azure.AI.OpenAI/Directory.Build.props
Labels: OpenAI

#48321 [Storage][DataMovement] Fix large file transfers for certain destination types
  sdk/storage/Azure.Storage.Common/src/Shared/Errors.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/AppendBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/Azure.Storage.DataMovement.Blobs.csproj
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/BlockBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/src/PageBlobStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/AppendBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/BlockBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/ClientBuilderExtensions.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobDirectoryToShareDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/PageBlobToShareFileTests.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/BlobToFileSharesTests/StartTransferCopyToShareDirectoryTestBase.cs
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/assets.json
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/Azure.Storage.DataMovement.Files.Shares.csproj
  sdk/storage/Azure.Storage.DataMovement.Files.Shares/src/ShareFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/CHANGELOG.md
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net6.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.net8.0.cs
  sdk/storage/Azure.Storage.DataMovement/api/Azure.Storage.DataMovement.netstandard2.0.cs
  sdk/storage/Azure.Storage.DataMovement/src/Azure.Storage.DataMovement.csproj
  sdk/storage/Azure.Storage.DataMovement/src/JobBuilder.cs
  sdk/storage/Azure.Storage.DataMovement/src/JobPartInternal.cs
  sdk/storage/Azure.Storage.DataMovement/src/LocalFileStorageResource.cs
  sdk/storage/Azure.Storage.DataMovement/src/ServiceToServiceJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/src/StorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/src/StreamToUriJobPart.cs
  sdk/storage/Azure.Storage.DataMovement/tests/MockStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/MemoryStorageResourceItem.cs
  sdk/storage/Azure.Storage.DataMovement/tests/Shared/StorageResourceTestWrappers.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferManagerTests.cs
  sdk/storage/Azure.Storage.DataMovement/tests/TransferValidationTests.cs
Labels: Storage

#48369 [CODEOWNERS] Remove invalid account
  .github/CODEOWNERS
Labels: Client, EngSys

#48357 Sync eng/common directory with azure-sdk-tools for PR 9862
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#48106 Fix ambiguous call issue in one of the `VirtualMachineScaleSetData` model factory methods
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.net8.0.cs
  sdk/compute/Azure.ResourceManager.Compute/api/Azure.ResourceManager.Compute.netstandard2.0.cs
  sdk/compute/Azure.ResourceManager.Compute/src/Customize/ArmComputeModelFactory.cs
Labels: Mgmt

#48383 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#48385 Increment version for synapse releases
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/CHANGELOG.md
  sdk/synapse/Azure.Analytics.Synapse.Artifacts/src/Azure.Analytics.Synapse.Artifacts.csproj
Labels: Synapse

#48370 Azure Identity README simplification
  sdk/identity/Azure.Identity/README.md
  sdk/identity/Azure.Identity/images/DefaultAzureCredentialAuthenticationFlow.png
  sdk/identity/Azure.Identity/src/Credentials/ManagedIdentityCredential.cs
  sdk/identity/Azure.Identity/tests/samples/ReadmeSnippets.cs
Labels: Azure.Identity

#48391 Add trailing slash exclude paths
  eng/scripts/Language-Settings.ps1
  sdk/pullrequest.yml
Labels: EngSys

#48392 Sync eng/common directory with azure-sdk-tools for PR 9896
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#48390 Sync eng/common directory with azure-sdk-tools for PR 9889
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#48395 Sync eng/common directory with azure-sdk-tools for PR 9895
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#48397 Increment version for eventgrid releases
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/CHANGELOG.md
  sdk/eventgrid/Azure.Messaging.EventGrid.SystemEvents/src/Azure.Messaging.EventGrid.SystemEvents.csproj
Labels: Event Grid

#48389 [Messaging] Fix Functions test host credential use
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/EventHubEndToEndTests.cs
  sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/tests/WebJobsEventHubTestBase.cs
  sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs
Labels: Client, Functions, test-reliability

#48362 Replace ResourceDataProvdier with ResoruceVisitor
  eng/Packages.Data.props
  eng/packages/http-client-csharp/emitter/src/emitter.ts
  eng/packages/http-client-csharp/eng/scripts/Generate.ps1
  eng/packages/http-client-csharp/generator/Azure.Generator.StubLibrary/src/AzureStubVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureClientPlugin.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/AzureTypeFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/NamespaceVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Primitives/NewAzureProjectScaffolding.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/ResourceDataProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/Providers/ResourceDataSerializationProvider.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/ResourceVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/src/RestClientVisitor.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Common/InputFactory.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/Providers/ResourceDataProviderTests.cs
  eng/packages/http-client-csharp/generator/Azure.Generator/test/TestHelpers/Configuration.json
  eng/packages/http-client-csharp/generator/Azure.Generator/test/TestHelpers/MockHelpers.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/BasicTypeSpec.sln
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ModelWithRequiredNullableProperties.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Basic-TypeSpec/src/Generated/Models/ThingModel.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/MgmtTypeSpec.sln
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/MgmtTypeSpecModelFactory.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/UserAssignedIdentity.Serialization.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/Models/UserAssignedIdentity.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/PrivateLinks.RestClient.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/src/Generated/RestOperations/PrivateLinksRestOperations.cs
  eng/packages/http-client-csharp/generator/TestProjects/Local/Mgmt-TypeSpec/tspCodeModel.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/api-key/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/http/custom/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/oauth2/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/authentication/union/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/client/structure/default/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/encode/numeric/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/basic/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/body-optionality/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/parameters/spread/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/content-negotiation/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/json-merge-patch/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/payload/media-type/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/serialization/encoded-name/json/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/server/endpoint/not-defined/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/server/path/single/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/server/versions/not-versioned/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-headers/conditional-request/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-headers/repeatability/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/special-words/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/enum/fixed/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/empty/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/nested-discriminator/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/not-discriminated/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/recursive/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/inheritance/single-discriminator/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/usage/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/model/visibility/Configuration.json
  eng/packages/http-client-csharp/generator/TestProjects/Spector/http/type/property/nullable/Configuration.json
  eng/packages/http-client-csharp/package-lock.json
  eng/packages/http-client-csharp/package.json
Labels: Client, Mgmt, CodeGen

#48410 Update AutoRest C# version to 3.0.0-beta.20250223.1
  eng/Packages.Data.props
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/apimanagement/Azure.ResourceManager.ApiManagement/samples/Generated/Samples/Sample_ApiManagementBackendCollection.cs
  sdk/appplatform/Azure.ResourceManager.AppPlatform/samples/Generated/Samples/Sample_AppPlatformAppCollection.cs
  sdk/appplatform/Azure.ResourceManager.AppPlatform/samples/Generated/Samples/Sample_AppPlatformDeploymentCollection.cs
  sdk/automation/Azure.ResourceManager.Automation/samples/Generated/Samples/Sample_SoftwareUpdateConfigurationCollection.cs
  sdk/automation/Azure.ResourceManager.Automation/samples/Generated/Samples/Sample_SoftwareUpdateConfigurationResource.cs
  sdk/iotoperations/Azure.ResourceManager.IotOperations/samples/Generated/Samples/Sample_IotOperationsBrokerAuthorizationCollection.cs
  sdk/iotoperations/Azure.ResourceManager.IotOperations/samples/Generated/Samples/Sample_IotOperationsBrokerAuthorizationResource.cs
  sdk/iotoperations/Azure.ResourceManager.IotOperations/tsp-location.yaml
  sdk/maintenance/Azure.ResourceManager.Maintenance/samples/Generated/Samples/Sample_ResourceGroupResourceExtensions.cs
  sdk/maintenance/Azure.ResourceManager.Maintenance/samples/Generated/Samples/Sample_SubscriptionResourceExtensions.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/samples/Generated/Samples/Sample_LogAnalyticsQueryCollection.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/samples/Generated/Samples/Sample_LogAnalyticsQueryPackResource.cs
  sdk/operationalinsights/Azure.ResourceManager.OperationalInsights/samples/Generated/Samples/Sample_LogAnalyticsQueryResource.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Entity.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/src/Generated/Docs/Glossary.xml
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Entity.cs
  sdk/purview/Azure.Analytics.Purview.DataMap/tests/Generated/Samples/Samples_Glossary.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/samples/Generated/Samples/Sample_SqlVulnerabilityAssessmentBaselineRuleCollection.cs
  sdk/securitycenter/Azure.ResourceManager.SecurityCenter/samples/Generated/Samples/Sample_SqlVulnerabilityAssessmentBaselineRuleResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlDatabaseSqlVulnerabilityAssessmentBaselineCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlDatabaseSqlVulnerabilityAssessmentBaselineResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlDatabaseSqlVulnerabilityAssessmentBaselineRuleCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlDatabaseSqlVulnerabilityAssessmentBaselineRuleResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlServerSqlVulnerabilityAssessmentBaselineCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlServerSqlVulnerabilityAssessmentBaselineResource.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlServerSqlVulnerabilityAssessmentBaselineRuleCollection.cs
  sdk/sqlmanagement/Azure.ResourceManager.Sql/samples/Generated/Samples/Sample_SqlServerSqlVulnerabilityAssessmentBaselineRuleResource.cs
  sdk/workloads/Azure.ResourceManager.Workloads/samples/Generated/Samples/Sample_SapVirtualInstanceCollection.cs
Labels: Mgmt

#48400 [Storage][DataMovement] Fix Blob directory copy tests
  sdk/storage/Azure.Storage.DataMovement.Blobs/assets.json
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/AppendBlobDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToAppendBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/BlockBlobDirectoryToPageBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/PageBlobDirectoryToBlockBlobDirectoryTests.cs
  sdk/storage/Azure.Storage.DataMovement.Blobs/tests/StartTransferBlobDirectoryCopyTestBase.cs
Labels: Storage

#48401 Sync eng/common directory with azure-sdk-tools for PR 9901
  eng/Packages.Data.props
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#48421 [CODEOWNERS] Fix linter errors
  .github/CODEOWNERS
Labels: Client, EngSys

#48420 [Storage] [Docs] Added documentation on AggregateException in BlobContainerClient.CreateIfNotExistsAsync
  sdk/storage/Azure.Storage.Blobs.ChangeFeed/README.md
  sdk/storage/Azure.Storage.Blobs/README.md
  sdk/storage/Azure.Storage.Common/README.md
  sdk/storage/Azure.Storage.Files.DataLake/README.md
  sdk/storage/Azure.Storage.Files.Shares/README.md
  sdk/storage/Azure.Storage.Queues/README.md
Labels: Storage

#48427 Sync eng/common directory with azure-sdk-tools for PR 9902
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#48432 Increment version for compute releases
  sdk/compute/Azure.ResourceManager.Compute/CHANGELOG.md
  sdk/compute/Azure.ResourceManager.Compute/src/Azure.ResourceManager.Compute.csproj
Labels: Mgmt

#48436 [Storage] [Docs] Documented RequestFailedException in OpenRead
  sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs
  sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs
Labels: Storage

#48355 Mark UsernamePasswordCredential as obsolete
  sdk/identity/Azure.Identity/CHANGELOG.md
  sdk/identity/Azure.Identity/api/Azure.Identity.net8.0.cs
  sdk/identity/Azure.Identity/api/Azure.Identity.netstandard2.0.cs
  sdk/identity/Azure.Identity/src/Credentials/EnvironmentCredential.cs
  sdk/identity/Azure.Identity/src/Credentials/UsernamePasswordCredential.cs
  sdk/identity/Azure.Identity/tests/Azure.Identity.Tests.csproj
Labels: Azure.Identity

#47930 Mention ManagedIdentityCredential's static in-memory cache behavior
  sdk/identity/Azure.Identity/samples/TokenCache.md
Labels: Azure.Identity
